﻿@model IEMQSImplementation.PRO025
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td colspan="7" class="title">OUT OF ROUNDNESS (OVALITY) READINGS :</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="subtitle">REQUIRED I.D. AT OPEN END :&nbsp;&nbsp;@Html.TextBoxFor(model => model.ReqOpenEndId, new { @class = "form-control numeric-only inlinetextbox", @maxlength = "10", @role = "QC" })</td>
                                        <td colspan="4" class="subtitle">ACCEPTANCE TOLERANCE : &nbsp;&nbsp;@Html.TextBoxFor(model => model.AcceptanceTolerance, new { @class = "form-control numeric-only inlinetextbox", @maxlength = "10", @role = "PROD" }) % OF I.D. </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">SR. NO.</td>
                                        <td class="subtitle">ORIENTATION</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">SR. NO.</td>
                                        <td class="subtitle">ORIENTATION</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">REMARKS</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>0° - 180°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation1, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                        <td>5</td>
                                        <td>90° - 270°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation5, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                        <td rowspan="4">@Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @maxlength = "50", @rows = "5", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>22.5° - 202.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation2, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                        <td>6</td>
                                        <td>112.5° - 292.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation6, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>45° - 225°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation3, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                        <td>7</td>
                                        <td>135° - 315°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation7, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>67.5° - 247.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation4, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                        <td>8</td>
                                        <td>157.5° - 337.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActOrientation8, new { @class = "form-control numeric-only calc", @maxlength = "10", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="7" class="title" style="text-align:left">OUT OF ROUNDNESS (OVALITY) = @Html.TextBoxFor(model => model.Ovality, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "PROD", @readonly = "readonly" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left; margin-top: 7px;">
                                                <strong>ORIENTATION OF LONG SEAMS</strong>
                                            </span>
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">

                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">GridId</th>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">SEAM NO.</th>
                                                    <th class="all">REQ. ORIEN</th>
                                                    <th class="all">REQ. ARC LENGTH</th>
                                                    <th class="all">ACTUAL ARC LENGTH</th>
                                                    <th class="all">ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title" colspan="5">TOTAL HEIGHT</td>
                                        <td class="title" colspan="4">CIRCUMFERENCE</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">SR. NO.</td>
                                        <td class="subtitle">ORIENT.</td>
                                        <td class="subtitle">REQUIRED</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">REMARK</td>
                                        <td class="subtitle">DESCR.</td>
                                        <td class="subtitle">REQUIRED</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">REMARKS</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>At 0°</td>
                                        <td>@Html.TextBoxFor(model => model.ReqTotalHeight0, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActTotalHeight0, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkHeight0, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                        <td>TOP I/S</td>
                                        <td>@Html.TextBoxFor(model => model.ReqCirTopIs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActCirTopIs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkCirTopIs, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>At 90°</td>
                                        <td>@Html.TextBoxFor(model => model.ReqTotalHeight90, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActTotalHeight90, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkHeight90, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                        <td>TOP O/S</td>
                                        <td>@Html.TextBoxFor(model => model.ReqCirTopOs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActCirTopOs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkCirTopOs, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>At 180°</td>
                                        <td>@Html.TextBoxFor(model => model.ReqTotalHeight180, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActTotalHeight180, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkHeight180, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                        <td>BOTTOM I/S</td>
                                        <td>@Html.TextBoxFor(model => model.ReqCirBottomIs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActCirBottomIs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkCirBottomIs, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>At 270°</td>
                                        <td>@Html.TextBoxFor(model => model.ReqTotalHeight270, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActTotalHeight270, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkHeight270, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                        <td>BOTTOM O/S</td>
                                        <td>@Html.TextBoxFor(model => model.ReqCirBottomOs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActCirBottomOs, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RemarkCirBottomOs, new { @class = "form-control", @maxlength = "100", @role = "QC" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left; margin-top: 7px;">
                                                <strong>PROFILE MEASUREMENT (PEAK IN/OUT WITH D/4 TEMPLATE)</strong> &nbsp;[TOL:&nbsp;&nbsp;
                                            </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.ProfileMeasurementTemplate, new { @class = "form-control  col-md-6 numeric-only inlinetextbox", style = "width:200px !important;", @maxlength = 10, @role = "QC" })
                                            <span style="float:left; margin-top: 7px;">&nbsp;&nbsp;]</span>&nbsp;&nbsp;
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines2" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines2');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines2" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">GridId</th>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">SEAM NO.</th>
                                                    <th class="all">TOP PEAK-IN</th>
                                                    <th class="all">TOP PEAK-OUT</th>
                                                    <th class="all">MID. PEAK-IN</th>
                                                    <th class="all">MID. PEAK-OUT</th>
                                                    <th class="all">BOTTOM PEAK-IN</th>
                                                    <th class="all">BOTTOM PEAK-OUT</th>
                                                    <th class="all">REMARKS</th>
                                                    <th class="all">ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title textleft" style="width:20% !important;">CONCENTRICITY</td>
                                        <td class="textleft" style="width:15% !important;">@Html.TextBoxFor(model => model.Concentricity, new { @class = "form-control col-md-12 numeric-only inlinetextbox", @maxlength = 10, @role = "QC" }) MM</td>
                                        <td class="title">STRAIGHT FACE</td>
                                        <td class="subtitle"> REQ.&nbsp;&nbsp;</td>
                                        <td>@Html.TextBoxFor(model => model.StraightFace, new { @class = "form-control numeric-only inlinetextbox", @maxlength = 10, @role = "QC" })</td>
                                        <td class="subtitle"> ACTUAL&nbsp;&nbsp;</td>
                                        <td>@Html.TextBoxFor(model => model.Act, new { @class = "form-control numeric-only inlinetextbox", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft">OVER CROWING (MAX. ALLOW)</td>
                                        <td class="textleft">@Html.TextBoxFor(model => model.OverCrowingMax, new { @class = "form-control numeric-only inlinetextbox", @maxlength = 10, @role = "QC" })</td>
                                        <td colspan="5" class="textleft">TOL: 1¼ % OF NOMINAL DIA. </td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft">UNDER CROWING (MAX. ALLOW)</td>
                                        <td class="textleft">@Html.TextBoxFor(model => model.UnderCrowingMax, new { @class = "form-control numeric-only inlinetextbox", @maxlength = 10, @role = "QC" })</td>
                                        <td colspan="5" class="textleft">TOL: 1¼ % OF NOMINAL DIA. </td>
                                    </tr>
                                </table>
                                <table class="FormTable">
                                    <tr>
                                        <td colspan="7" class="title">e-VALUE TEMPLATE INSPECTION (IN CASE OF EXTERNAL PRESSURE VESSEL)</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="title">CHORD LENGTH</td>
                                        <td colspan="2" class="title">RADIUS</td>
                                        <td colspan="2" class="title">GAP</td>
                                        <td class="title">REMARKS</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">REQ.</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">REQ.</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">REQ.</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="" rowspan="2">@Html.TextAreaFor(model => model.RemarksTemplateInspection, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.TextBoxFor(model => model.ReqChordLength, new { @class = "form-control numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActChordLength, new { @class = "form-control numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ReqRadius, new { @class = "form-control numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActRadius, new { @class = "form-control numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ReqGap, new { @class = "form-control numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActGap, new { @class = "form-control numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                </table>
                                <div class="col-md-12" style="height: 20px"></div>
                                <table class="FormTable tblNotes noborder">
                                    <tr>
                                        <td colspan="9" class="title bold">Notes:</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">1) PROCEDURE NO. : @Html.TextBoxFor(model => model.Note1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">
                                            2) CALIBRATED TAPE NO. :
                                            @Html.TextBoxFor(model => model.Note2_1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">
                                            <span style="display: inline-block;vertical-align: middle;margin-top: -40px;margin-left: 85px;">
                                                CAL.DATE :
                                            </span>
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" style="display: inline-block;">
                                                @Html.TextBoxFor(m => m.Note2, "{0:dd/MM/yyyy}", new { @class = "form-control  inlinetextbox", @readonly = "readonly", style = "width:200px !important;", @role = "PROD" })
                                                <span class="input-group-btn" style="float: left;top: -5px;">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">
                                            3) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">
                                            4) SEAM NO. & WELDER STAMP PUNCHED AT EVERY 900 MM. :
                                            @Html.TextBoxFor(model => model.Note4, new { @class = "form-control w100", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9">
                                            5) SKETCH FOR TEMPORARY SUPPORT PROVIDED. :
                                            @Html.TextBoxFor(model => model.Note5, new { @class = "form-control w100", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <span style="float:left; margin-top: 7px;">CLADDED VESSEL : &nbsp;</span> &nbsp;&nbsp;
                                    @Html.TextBoxFor(model => model.CladdedVessel, new { @role = "QC", @class = "form-control col-md-12", style = "width:100px !important;text-align:center", @maxlength = 10 })
                                </div>
                            </div>
                            <div id="dvProtocolLines3">
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption" style="width:100%;text-align:center;">
                                                <span style="float:left; margin-top: 7px;width:100%;">
                                                    <strong>CLAD STRIPING DETAILS AT THE TIME OF WELD VISUAL (BEFORE CLAD RESTORATION)</strong>
                                                </span><br />
                                            </div>
                                            <div class="caption">
                                                <span style="float:left; margin-top: 7px;">
                                                    <strong>TOTAL CLAD STRIPING WIDTH  REQUIRED</strong> &nbsp;&nbsp;MAX:
                                                </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.ReqMaxCladStripingWidth, new { @class = "form-control  col-md-6 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                <span style="float:left; margin-top: 7px;">&nbsp;&nbsp;MIN :</span>&nbsp;&nbsp;@Html.TextBoxFor(model => model.ReqMinCladStripingWidth, new { @class = "form-control  col-md-6 col-md-12 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <div class="btn-group">

                                                    @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <a style="margin-right:5px;" id="btnNewLines3Width" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines3Width');">
                                                            <i class="fa fa-plus"></i> New
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="tblProtocolLines3Width" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">GridId</th>
                                                        <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th class="all">SPOT NO.</th>
                                                        <th class="all">WIDTH</th>
                                                        <th class="all">REMARKS</th>
                                                        <th class="all">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left; margin-top: 7px;">
                                                    <strong>CLAD STRIPING DEPTH  REQUIRED</strong> &nbsp;&nbsp;:
                                                </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.CladStripingDepthRequired, new { @class = "form-control  col-md-6 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <div class="btn-group">
                                                    @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <a style="margin-right:5px;" id="btnNewLines3Depth" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines3Depth');">
                                                            <i class="fa fa-plus"></i> New
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="tblProtocolLines3Depth" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">GridId</th>
                                                        <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th class="all">SPOT NO.</th>
                                                        <th class="all">DEPTH</th>
                                                        <th class="all">REMARKS</th>
                                                        <th class="all">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="height: 20px">WIDTH AND DEPTH OF CLAD STRIPING AREA IS ASSURED AT EACH RT SPOT.<br /></div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes noborder">
                                        <tr>
                                            <td style="width:50% !important" class="title"><span style="float:left;">NOTES:</span></td>
                                            <td rowspan="4" style="border: 2px solid #EAEAEA;">
                                                <img src="~/Images/protocol-sample.png" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class=""><span style="float:left">1. PROCEDURE NO. :</span>@Html.TextBoxFor(model => model.ProcedureNo, new { @class = "form-control ", @maxlength = "50", style = "width:250px !important;", @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td class=""><span style="float:left">2. CLAD STRIPING INSURED WITH CuSO4. :</span>@Html.TextBoxFor(model => model.FNote2, new { @class = "form-control", @maxlength = "5", style = "width:100px !important;", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td class=""><span style="float:left">3. CLAD ANGLE ENSURED FOR 45° :</span>@Html.TextBoxFor(model => model.FNote3, new { @class = "form-control", @maxlength = "5", style = "width:100px !important;", @role = "PROD" })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@*<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var Line2Columns = [];
    var Line3WidthColumns = [];
    var Line3DepthColumns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';

    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";

    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);

        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])
        LoadProtocolLineTables('tblProtocolLines2', 'btnNewLines2', Line2Columns, ControllerURL + "GetProtocolLines2Data" + Linkage, ["headerId"])
        LoadProtocolLineTables('tblProtocolLines3Width', 'btnNewLines3Width', Line3WidthColumns, ControllerURL + "GetProtocolLines3WidthData" + Linkage, ["headerId"])
        LoadProtocolLineTables('tblProtocolLines3Depth', 'btnNewLines3Depth', Line3DepthColumns, ControllerURL + "GetProtocolLines3DepthData" + Linkage, ["headerId"])
        showCladtripTable('@Model.CladdedVessel', "dvProtocolLines3");
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        FillProtocolAutoComplete($('#CladdedVessel'), lstYesNo, null, false, showCladtripTable, ["dvProtocolLines3"]);
        FillProtocolAutoComplete($('#Note4'), lstYesNo, null, false)
        FillProtocolAutoComplete($('#Note5'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#FNote2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#FNote3'), lstYesNo, null, false);
        totalOvality("Ovality");
    });

    $("#btnSave").click(function () {
          @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="PROD"]').prop("required", true);</text>
          }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="QC"]').prop("required", true);</text>
          }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function SaveProtocolLine2(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine2" + Linkage, "tblProtocolLines2", "btnNewLines2");
    }

    function SaveProtocolLine3(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine3Width" + Linkage, "tblProtocolLines3Width", "btnNewLines3Width");
    }

    function SaveProtocolLine4(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine3Depth" + Linkage, "tblProtocolLines3Depth", "btnNewLines3Depth");
    }
    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }
    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "ReqOrien",
                },
                {
                    "sClass": "center",
                    "name": "ReqArcLength",
                },
                {
                    "sClass": "center",
                    "name": "ActArcLength",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line2Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "TopPeakIn",
                },
                {
                    "sClass": "center",
                    "name": "TopPeakOut",
                },
                {
                    "sClass": "center",
                    "name": "MidPeakIn",
                },
                {
                    "sClass": "center",
                    "name": "MidPeakOut",
                },
                {
                    "sClass": "center",
                    "name": "BottomPeakIn",
                },
                {
                    "sClass": "center",
                    "name": "BottomPeakOut",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line3WidthColumns = [
               {
                   "sClass": "hide",
                   "bSortable": false,
               },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SpotNo",
                },
                {
                    "sClass": "center",
                    "name": "Width",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line3DepthColumns = [
               {
                   "sClass": "hide",
                   "bSortable": false,
               },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SpotNo",
                },
                {
                    "sClass": "center",
                    "name": "Depth",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }

    $(".calc").change(function () {
        totalOvality("Ovality");
    });
</script>