﻿@model IEMQSImplementation.PRO130
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                            <table class="FormTable">
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">PMI REPORT NO.</td>
                                                <td colspan="10">@Html.TextBoxFor(m => m.PMIREPORTNO, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                            </tr>
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">METHOD OF TEST</td>
                                                <td colspan="10">@Html.TextBoxFor(m => m.MethodOfTest, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                            </tr>
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">MATERIAL</td>
                                                <td>@Html.TextBoxFor(m => m.MATERIAL, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                                <td class="title textleft" style="width:2% !important">ANALYSER MAKE</td>
                                                <td>@Html.TextBoxFor(m => m.AnalyserMake, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                            </tr>
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">PROCEDURE & REV.NO.</td>
                                                <td>@Html.TextBoxFor(m => m.PROCEDUREREVNO, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                                <td class="title textleft" style="width:2% !important">ANALYSER MODEL</td>
                                                <td>@Html.TextBoxFor(m => m.AnalyserModel, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                            </tr>
                                            <tr>
                                                <td class="title textleft" style="width:2% !important">INSPECTION CERTIFICATE NO:</td>
                                                <td>@Html.TextBoxFor(m => m.InspectionCertificateNo, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                                <td class="title textleft" style="width:2% !important">OPERATOR NAME</td>
                                                <td>@Html.TextBoxFor(m => m.OperatorName, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" }) </td>
                                            </tr>
                                        </table>
                                    </div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left; margin-top: 7px;"></span>
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="all" style="display:none;" rowspan="4">GridId</th>
                                                    <th class="all" style="display:none;" rowspan="4">HeaderId</th>
                                                    <th class="all" style="display:none;" rowspan="4">LineId</th>
                                                    <th rowspan="4">SR NO</th>
                                                    <th rowspan="4">ITEM NO / SEAM NO.</th>
                                                    <th rowspan="4">PLATE NO/HEAT NO / LOCATION</th>
                                                    <th colspan="4">EXAMINATION RESULTS</th>
                                                    <th rowspan="4">REMARK</th>
                                                    <th class="all" rowspan="4">Action</th>
                                                </tr>
                                                <tr>
                                                    <th class="all">Cr</th>
                                                    <th class="all">Mo</th>
                                                    <th class="all"></th>
                                                    <th class="all" style="border-right: 1px solid #e7ecf1;"></th>
                                                </tr>
                                                <tr>    
                                                    <th colspan="4" style="border-right:2px solid #e7ecf1;">REQUIRED RANGE (%) </th>
                                                </tr>
                                                <tr>
                                                    <th class="all">&nbsp;</th>
                                                    <th class="all">&nbsp;</th>
                                                    <th class="all">&nbsp;</th>
                                                    <th class="all"  style="border-right: 1px solid #e7ecf1;">&nbsp;</th>
                                                </tr>
                                             
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <table class="FormTable tblNotes noborder">
                                    <tr>
                                        <td style="width:1% !important">REMARK (IF ANY):</td>
                                        <td>@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                </table>
                                </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="text-align:left;">
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <input type="button" class="btn save" id="btnSave" value="Save" />
                                            <a class="btn btnclose" id="btnClose"> Close</a>
                                        </div>
                                    </div>
                                </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>

<script>
    var Line1Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])
    });

    $("#btnSave").click(function () {
          @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="PROD"]').prop("required", true);</text>
          }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="QC"]').prop("required", true);</text>
          }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "PlateNo",
                },
                {
                    "sClass": "center",
                    "name": "Cr",
                },
                {
                    "sClass": "center",
                    "name": "Mo",
                },
                {
                    "sClass": "center",
                    "name": "Rr1",
                },
                {
                    "sClass": "center",
                    "name": "Rr2",
                },
                {
                    "sClass": "center",
                    "name": "Remark",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }
</script>