﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .custom {
        margin-left: 0px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                <strong>All Fixture qty has been consumed. <br />Please select required qty from below kits to continue.</strong>
                <br /><br />
                <div style="max-height:450px;overflow-y:auto;">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblAllocatedFixtureList" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="hide">NodeId</th>
                                <th class="all" width="35%">Kit Name</th>
                                <th class="all" width="25%">Kit Number</th>                                
                                <th class="all" width="20%">Allocated Qty</th>
                                <th class="all" width="20%">Required Qty</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyContent"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetAllocatedFixtureDetails();        
    });

    function GetAllocatedFixtureDetails() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/FKMS/MaintainFKMS/GetAllocatedFixtureDetails',
            data: { RefLineId: '@ViewBag.RefLineId', AutoSelectQty: '@ViewBag.AutoSelectQty' },
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#tbodyContent").html(data.Value);
                    $('.frqty').autoNumeric('init', { vMin: "0", vMax: "9999", aSep: '' });
                }
                else {
                    DisplayNotiMessage("error", "No record found", "Error");
                }
            },
            error: function () {
            }
        });
    }

</script>
