﻿<style>
    .martop7 {
        margin-top: 7px;
    }
    .modal-dialog.modal-lg{
        width:95%;
    }
    label.error{
        display:none !important;
    }
</style>
 
<div class="portlet-body">
    <ul class="nav nav-tabs hide">
        <li class="active" id="liPending">
            <a href="#portlet_comments_1" name="tabTemplateType" id="tabB" spara="B" data-toggle="tab"> H-BOM </a>
        </li>
        <li id="liAll">
            <a href="#portlet_comments_2" name="tabTemplateType" id="tabK" spara="K" data-toggle="tab"> H-Kit </a>
        </li>
    </ul>
    <div class="portlet box green">
        <div class="portlet-title">
            <div id="dvPortletCaption" class="caption">
                Template List
            </div>
            <div class="tools" id="dvExportHeader">
                @*<div class="btn-group"><a style="margin-right:5px;margin-left:5px;" id="btnNew_tblHBOMTemplate" class="btn btn-circle white btn-outline btn-sm" onclick="NewRecord(this, 'tblHBOMTemplate')"><i class="fa fa-plus"></i> New</a></div>*@
            </div>
        </div>
        <div class="portlet-body " ïd="divTblHBOMTemplate">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHBOMTemplate", @class = "form-horizontal" }))
            {
                <input type="hidden" name="TemplateType" id="TemplateType" value="@ViewBag.TemplateType" />
                <table class="table-striped table-bordered table-hover blue" id="tblHBOMTemplate" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Location <span class="required">*</span></th>
                            <th>Product <span class="required">*</span></th>
                            <th>Process Licensor <span class="required">*</span></th>
                            <th>Template Name <span class="required">*</span></th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                </table>
            }
        </div>
    </div>
</div>

<script>

    var FieldCount = 0;
    var UtilityParams = undefined;
    var tableId = 'tblHBOMTemplate';
    $(document).ready(function () {
        $('a[name="tabTemplateType"]').click(function () {
            if($(this).attr('spara') == "B") {
                $('#dvPortletCaption').html("H-BOM Template");
            } else if($(this).attr('spara') == "K") {
                $('#dvPortletCaption').html("H-Kit Template");
            }
            $('#TemplateType').val($(this).attr('spara'));
            UtilityParams.aServerParams[0].value = $('#TemplateType').val();
            UtilityParams.dtReload();
        });
        $('#frmHBOMTemplate').validate({
            rules: {
                TemplateName: { required: true },
                txtLocation: { required: true },
                Product: { required: true },
                ProcessLicensor: { required: true },
            }
        });

        UtilityParams = {
            sUrl: "/FKM/MaintainFKMS/LoadHBOMTemplateData",
            aServerParams: [{ "name": "TemplateType", "value":$('#TemplateType').val() }],
            bScrollX: true,
            iScrollY: 300,
            iResponsiveOnWindowWidth: 800,
            sSortOrder:'desc',
            bIsSearchFilter: true,
            bIsLazyLoading: true,
            //oSRE: { sUrl: "/FKM/MaintainFKMS/GetHBOMTemplateInlineEditableRow", sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, bIsUpdateFromServer: false },
            bIsFixedHeader: true,
            sBtnDivSelector: "#dvExportHeader",
            //iMaximizeLeftPosition:-42,
            bBtnMaximize: false,
            aoColumns: [
                    {
                        "sClass": "hide",
                        "name": "id"
                    },
                    {
                        "sClass": "center",
                        sWidth:"80px",
                        "name": "Location",
                        ColName: "Location+ '-' + bcom2.t_desc"
                    },
                    {
                        "sClass": "center",
                        "name": "Product"
                    },
                    {
                        "sClass": "center",
                        "name": "ProcessLicensor"
                    },
                    {
                        "sClass": "center",
                        "name": "TemplateName"
                    },
                    {
                        "bSortable": false,
                        sWidth:"100px",
                        "sClass": "center SRE_disabled",
                        "attr": "none",
                        render: function (data, type, row, meta) {
                            return '<a id="Save'+row[0]+'" class="btn btn-outline btn-circle btn-sm blue" onclick="UpdateRecord('+row[0]+');"><i class="fa fa-edit"></i> Override</a>';
                        }
                    }
                ]
        };
        $('#'+tableId).dtUtility(UtilityParams);
        NewRecord();
    });


    function NewRecord() {
        var Wrapper = '#' + tableId + '_wrapper';
        $('.dataTables_scrollBody,.DTFC_LeftBodyWrapper,.DTFC_LeftBodyLiner,.DTFC_RightBodyWrapper,.DTFC_RightBodyLiner', Wrapper).css('height', '');
        $(Wrapper).find("thead").find("tr[data-id=0]").remove();
        //if ($(obj).html() != '<i class="fa fa-times"></i> Cancel') {

            //$(obj).html('<i class="fa fa-times"></i> Cancel');
            $(Wrapper).find("thead").each(function (idx, item) {
                if (idx % 2 != 0)
                    return;
                var htmlTds = "";
                $(Wrapper).find("thead:eq(" + idx + ") tr:first th").each(function (i, th) {
                    htmlTds += '<td class="' + $(th).attr('class') + '"></td>';
                });
                $(item).append("<tr data-id='0'>" + htmlTds + "</tr>");
            });
            SREresetRowAll(tableId);

            var $MainTR = $(Wrapper).find("thead:eq(0) tr[data-id=0]");
            var $FDLTR = $(".DTFC_LeftHeadWrapper", Wrapper).find("thead tr[data-id=0]");
            var $FDRTR = $(".DTFC_RightHeadWrapper", Wrapper).find("thead tr[data-id=0]");
            sreselectedheight = 68

            $MainTR.css("height", sreselectedheight);
            $FDLTR.css("height", sreselectedheight);
            $FDRTR.css("height", sreselectedheight);
            $MainTR.find('td.sorting').removeClass('sorting');
            $FDLTR.find('td.sorting').removeClass('sorting');
            $FDRTR.find('td.sorting').removeClass('sorting');

            var aaData = ["0", '<input name="txtLocation" id="txtLocation" class="form-control" value="@ViewBag.UserLocation" /> <input type="hidden" name="Location" id="Location" class="form-control" value="@ViewBag.UserLocationCode" /> ', '<input name="Product" id="Product" class="form-control" /> ',
                '<input name="ProcessLicensor" id="ProcessLicensor" class="form-control" /> ',
                '<input name="TemplateName" id="TemplateName" class="form-control" maxlength="20" /> ', '<a id="Save0" name="Save0" class="btn btn-outline btn-circle btn-sm blue" onclick="SaveNewRecord();" title="Save Record"><i class="fa fa-save"></i> </a> <a id="Cancel0" name="Cancel0" class="btn btn-outline btn-circle btn-sm blue" onclick="NewRecord();" title="Reset"><i class="fa fa-ban"></i></a> ']

            var LenFCL = $($FDLTR).find('td').length;
            var LenFCR = $($FDRTR).find('td').length;
            var LenAll = aaData.length;
            $.each(aaData, function (idx, item) {
                if (item == SRE_CMD_Avoid)
                    return;
                if (LenFCL > idx)
                    $($FDLTR).find('td:eq(' + idx + ')').html(item);
                else if (LenAll - LenFCR <= idx)
                    $($FDRTR).find('td:eq(' + (LenAll - LenFCR - idx) + ')').html(item);
                else
                    $($MainTR).find('td:eq(' + idx + ')').html(item);
            });

            CallAfterLoadSRE();

            $('#' + tableId).DataTable().columns.adjust();

            //SRELoadEditableRow(table,  $('#' + table + '_wrapper').find("thead").find("tr:last")[0])
        //}
        //else {
        //    $(obj).html('<i class="fa fa-plus"></i> New');
        //    $(Wrapper).find("thead").find("tr[data-id=0]").remove();
        //    $('#' + TableID).DataTable().columns.adjust();
        //}
    }

    function CallAfterLoadSRE() {
        var lstProduct = @Html.Raw(Json.Encode(ViewBag.lstProduct));
        FillAutoCompleteUsingAjax($('#txtLocation'), "/Utility/General/GetAllLocation", $('#Location'), undefined, undefined, undefined, 0, undefined, function (data) {
            return $.map(data, function (item) { return { label: item.text, value: item.text, id: item.id }; });
        });
        FillAutoCompleteUsingAjax($('#ProcessLicensor'), "/FKM/MaintainFKMS/GetAllProcessLicensor");
        FillAutoCompleteForEnum($('#Product'), lstProduct);
        $('input[maxlength]').maxlength({ alwaysShow: true });
    }

    function SaveNewRecord(isDialog) {
        if ($("#frmHBOMTemplate").valid()) {
            $('#'+tableId+'_wrapper').find("thead:eq(1) .dataTables_sizing").html(''); // remove copy of new record textbox
            var formData = new FormData();
            $.each($('#frmHBOMTemplate').serializeArray(), function (key, input) {
                formData.append(input.name, input.value);
            });
            formData.append("HeaderId", $('#HeaderId').val()); 
            if(isDialog != false) {
                $.ajax({
                    url:WebsiteURL + '/FKM/MaintainFKMS/ValidateHBOMTemplate',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    dataType: "json",
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            SaveNewRecord(false);
                        } else {
                            bootbox.dialog({
                                title: 'Confirm Override',
                                message: 'This is already available. <br/>Do you want to override?',
                                buttons: {
                                    'Yes': {
                                        label: 'Yes', className: 'btn green',
                                        callback: function () { UpdateRecord(data.Value); }
                                    },
                                    'No': { label: 'No', className: 'btn btnclose' }
                                }
                            });
                        }
                    }
                });
                return;
            }
            
            $.ajax({
                url:WebsiteURL + '/FKM/MaintainFKMS/SaveHBOMTemplate',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                dataType: "json",
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#'+tableId).DataTable().ajax.reload();
                        NewRecord();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function UpdateRecord(Id) {
        var formData = new FormData();
        //formData.append("TemplateContent", JSON.stringify(myDiagram.model.nodeDataArray));
        formData.append("HeaderId", $('#HeaderId').val());
        formData.append("Id", Id);
        formData.append("TemplateType",$('#TemplateType').val());
        $.ajax({
            url:WebsiteURL + '/FKM/MaintainFKMS/SaveHBOMTemplate',
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            dataType: "json",
            async: false,
            beforeSend: function () { showLoading(true); },
            complete: function () { showLoading(false); },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    //$('#'+tableId).DataTable().ajax.reload();
                    //NewRecord();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });

    }
</script>
