﻿<style>
    .martop7 {
        margin-top: 7px;
    }
    label.error {
        display:none !important;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCopy" }))
{
    <div class="portlet light ">
        <div class="portlet-body">
            <ul class="nav nav-tabs text-right">
                <li class="active" id="liPending">
                    <a href="#portlet_comments_1" name="tabStatus" spara="Project" data-toggle="tab"> Copy From Project </a>
                </li>
                <li id="liAll">
                    <a href="#portlet_comments_2" name="tabStatus" id="CopyFromTemplate" spara="Template" data-toggle="tab"> Copy From Template </a>
                </li>
            </ul>

            <div id="dvHBOMTemplate" hidden>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="hidden" name="TemplateId" id="TemplateId" />
                                <input type="hidden" name="TemplateType" id="TemplateType" value="B" />
                                <div class="col-md-6">
                                    <label class="Location">Location <span class="required"> * </span></label>
                                    <input type="text" name="txtLocation" id="txtLocation" class="form-control col-md-4" value="@ViewBag.UserLocation">
                                    <input type="hidden" name="Location" id="Location" value="@ViewBag.UserLocationCode">
                                </div>
                                <div class="col-md-6">
                                    <label class="Product">Product <span class="required"> * </span></label>
                                    <input type="text" name="Product" id="Product" class="form-control col-md-4" />
                                </div>
                                <div class="col-md-6">
                                    <label class="ProcessLicensor">Process Licensor <span class="required"> * </span></label>
                                    <input type="text" name="ProcessLicensor" id="ProcessLicensor" class="form-control col-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="">Source Quality Project <span class="required">*</span></label>
                                <input type="text" id="sourceCopyProject" value="" name="sourceCopyProject" class="form-control col-md-4" />
                            </div>
                            <div class="col-md-6" hidden>
                                <label class="TemplateName">Template Name <span class="required">*</span></label>
                                <input type="text" name="TemplateName" id="TemplateName" class="form-control col-md-4">
                            </div>
                            <div class="col-md-6">
                                <label class="">Destination Project <span class="required">*</span></label>
                                <input type="text" id="destCopyProject" value="@ViewBag.CopyProject" name="destCopyProject" class="form-control col-md-4" />
                                @Html.Hidden("ddlDestCopyProject", (string)ViewBag.CopyProject)
                                @Html.Hidden("ddlzeroDate")
                                @Html.Hidden("ddlcdd")
                                @Html.Hidden("ddlcustomer")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dynamicgeneratecopy">
                <div class="form-group hidden">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="">
                                        <label class="SourceNode"></label>
                                        <input type="hidden" name="SourceNode" class="form-control col-md-4" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <input type="text" name="DestinationNode" class="form-control col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


<script>

    var FieldCount = 0;

    $(document).ready(function () {
        $('#ddlzeroDate').val($('#ZeroDate').val())
        $('#ddlcdd').val($('#CDD').val())
        $('#ddlcustomer').val($('#Customer').val())
        $('#sourceCopyProject').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/FKM/MaintainFKMS/GetSourceProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        isSelectedProject = data.length > 0;
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $(this).val(ui.item.value); 
                    getProjectsDetails($('#destCopyProject').val())
                    isSelectedProject = true;
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val(''); 
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).autocomplete('search', $(this).val())
        });

        FillCopyProject($("#destCopyProject"), $("#ddlDestCopyProject"));
        $('a[name="tabStatus"]').click(function () {
            $('#dvHBOMTemplate').hide();
            $('#sourceCopyProject').parent().show();
            $('#TemplateName').parent().hide();
            $("#dynamicgeneratecopy").empty();
            if ($(this).attr('spara') == "Template") {
                $('#dvHBOMTemplate').show();
                $('#sourceCopyProject').parent().hide();
                $('#TemplateName').parent().show();
                var lstProduct = @Html.Raw(Json.Encode(ViewBag.lstProduct));
                FillAutoCompleteUsingAjax($('#txtLocation'), "/Utility/General/GetAllLocation", $('#Location'), undefined, undefined, function () { $('#TemplateName,#TemplateId').val('') }, 0, undefined, function (data) {
                    return $.map(data, function (item) { return { label: item.text, value: item.text, id: item.id }; });
                });
                FillAutoCompleteUsingAjax($('#ProcessLicensor'), "/FKM/MaintainFKMS/GetAllProcessLicensor", undefined,undefined,undefined,function () { $('#TemplateName,#TemplateId').val('') });
                FillAutoCompleteForEnum($('#Product'), lstProduct);
                $('#Product').change(function () { $('#TemplateName,#TemplateId').val(''); });
              //FillAutoCompleteUsingAjax($('#TemplateName'), "/FKM/MaintainFKMS/GetTemplateName", $('#TemplateId'), undefined, [{id:"TemplateType",value: "#TemplateType"},{id:"Location",value: "#Location"},{id:"Product",value: "#Product"},{id:"ProcessLicensor",value: "#ProcessLicensor"}], undefined, 0);
                $('input[maxlength]').maxlength({ alwaysShow: true });
               
                $('#TemplateName').autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: WebsiteURL + "/FKM/MaintainFKMS/GetTemplateName",
                            dataType: "json",
                            type: "POST",
                            delay: 250,
                            async: false,
                            data: {
                                term: request.term,
                                TemplateType: "@ViewBag.TemplateType",
                                Location: $("#Location").val(),
                                Product: $("#Product").val(),
                                ProcessLicensor: $("#ProcessLicensor").val()
                            },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return { label: item.Text, value: item.Text, id: item.Value };
                                }));
                            }
                        });
                    },
                    minLength: 0,
                    select: function (event, ui) {
                        $('#TemplateName').val(ui.item.id);
                        $('#TemplateId').val(ui.item.id); 
                        if(ui.item.id && $('#destCopyProject').val())
                            getProjectsDetails($('#destCopyProject').val())
                        
                    },
                    change: function (event, ui) {
                        if (ui.item == null) {
                            $('#TemplateId').val("");
                            $('#TemplateName').val('');
                            $('#TemplateName').focus();               
                        }
                    }
                }).focus(function () {
                    if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                        $(this).data("uiAutocomplete").search($(this).val());
                        //$(this).autocomplete("search");
                    }
                });
 
            }
            //$('#TemplateType').val($(this).attr('spara'));
            //UtilityParams.aServerParams[0].value = $('#TemplateType').val();
            //UtilityParams.dtReload();
        });
        $('#frmCopy').validate({
            rules: {
                destCopyProject: { required: true },
                TemplateName: { required: function () {
                    return  $('#CopyFromTemplate').parent().hasClass('active');
                } }
            },
            messages: {
                destCopyProject: { required: "Please select destination project" },
                TemplateName: { required: "Please select Template Name" },
            }
        });
    });

    function FillCopyProject(element, hdElement) {
        $(element).autocomplete({
            source: function (request, response) {
                $.ajax({
                    //url: WebsiteURL + "/Utility/General/GetProjectResult",
                    url: WebsiteURL + "/FKM/MaintainFKMS/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelectedProject = true;
                        }
                        else {
                            isSelectedProject = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $(element).val(ui.item.value);
                    $(hdElement).val(ui.item.value);
                    isSelectedProject = true;
                    var isValid = checkCopyProject(ui.item.value);
                    if (isValid) {
                        getProjectsDetails(ui.item.value);
                    }else{
                        bootbox.dialog({
                            title: 'Warning',
                            message: 'This project is already available. <br/>Do you want to override?',
                            buttons: {
                                'Yes': {
                                    label: 'Yes', className: 'btn green',
                                    callback: function () { getProjectsDetails(ui.item.value);}
                                },
                                'No': { label: 'No', className: 'btn btnclose',
                                    callback: function () {  $('#destCopyProject').val('');}}
                            }
                        });
                    }
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).autocomplete('search', $(this).val())
        });
    }

    function checkCopyProject(project) {
        var isValid;
        $.ajax({
            url: WebsiteURL + '/FKM/MaintainFKMS/CopyFilterProject',
            data: { project: project },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key) {
                    isValid = true;
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error"); 
                    isValid = false;
                    //ClearControls();
                }
            }
        });
        return isValid;
    }

    function getProjectsDetails(project) {
        var SourceProject = $("#sourceCopyProject").val(); 
        var TemplateId = $('#CopyFromTemplate').parent().hasClass('active')? $("#TemplateId").val(): 0;
        $.ajax({
            url: WebsiteURL + '/FKM/MaintainFKMS/GetProjectDetails',
            data: { project: project, sourceProject: SourceProject, TemplateId: TemplateId, IsCopy: false },
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#dynamicgeneratecopy").empty();
                    $.each(data.sourceProjectDetails, function (index, value) {
                        FieldCount++;
                        formNode(FieldCount, value.nodeName, value.nodeId, value.IsPlannerStructure);
                        selectsection(data.destiProjectDetails, 'sectionbox_' + FieldCount)
                    });
                    $("#ddlcustomer").val(data.Customer);
                    $("#ddlzeroDate").val(data.ZeroDate);
                    $("#ddlcdd").val(data.CDD);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    //ClearControls();
                }
            }
        });
    }

    function selectsection(customers, mainid) {
        $.each(customers, function (i, option) {
            $("." + mainid).append($('<option/>').attr("value", option.nodeFindno).text(option.nodeName));
        });
    }

    function formNode(Field, sourceName, sourceNodeId, IsPlannerStructure) {
        var htmldivs = '<div class="form-group">' +
            '<div class="col-md-12">' +
            '<div class="form-group">' +
            '<div class="col-md-12 copydata">' +
            '<div class="col-md-6">' +
            '<div class="">' +
            '<strong class="SourceNode">' + sourceName + '</strong>' +
            '<input type="hidden" name="SourceNode" value="' + sourceName + '" class="form-control col-md-4">' +
            '<input type="hidden" name="sourceNodeId" value="' + sourceNodeId + '" class="form-control col-md-4 sourceNodeId">' +
            '</div>' +
            '</div>' +
            '<div class="name col-md-6" id="InputsWrapper_01">' +
            '<div class="">' +
            '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input destiFindNo sectionbox_' + Field + '" >' +
            '<option value="0">---Select---</option>' +
            (IsPlannerStructure != false ? '' : '<option value="00">Do Not Copy</option>')
        //'<option value="0" disabled>Do Not Copy</option>' +
        '</select>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>';
        $("#dynamicgeneratecopy").append(htmldivs)
    }

</script>
