﻿@using IEMQSImplementation
@model FKM241
@{
    ViewBag.Title = "Maintain FKMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string isApprover = ViewBag.buttonname;
    string userRole = ViewBag.UserRole;
    //var imagepath = ViewBag.path + "/" + ViewBag.image;
    string FileUpload1ControlID = "fuUpload1";
    //string image = Convert.ToString(imagepath);
}

@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/leaflet/leaflet.js"></script>

<style type="text/css">
    #myDiagramDiv {
        background: #efefef;
        /*min-height: 69vh !important;*/
    }

    #myOverviewDiv {
        position: relative;
        width: 200px;
        height: 100px;
        /*top: 72px;*/
        float: right;
        right: 38px;
        background-color: #fcffff;
        z-index: 300;
        border: solid #428bca;
    }

    #myviewDiv {
        position: absolute;
        right: 65px;
        /* background-color: #fcffff; */
        z-index: 300;
        bottom: 37px;
        /* border: solid #c20fef; */
    }

    .activebutton {
        background-color: #32c5d2;
        border-color: #32c5d2;
        color: #FFF;
    }

    .impRow {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .smalldesc {
        height: 0px;
        overflow: hidden;
    }

    .bigdesc {
        height: auto;
    }

    .no-margin {
        margin: 0;
        margin-top: -8px;
    }

    .leaflet-container {
        /*background: unset;*/
        z-index: 300;
    }

    div.tooltip {
        visibility: visible;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body" style="padding-top: 0px;">
            <div class="form-body">
                <form id="frmCreateHeader" class="form-horizontal">
                    @Html.HiddenFor(m => m.HeaderId)
                    @Html.HiddenFor(m => m.Status)
                    @Html.HiddenFor(m => m.ReturnRemark)
                    <div class="mt-element-ribbon bg-grey-steel" style="height:57px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left col-md-12" style="background-color:transparent !important; float:unset">
                            <div class="col-md-12">
                                <span class="page-title col-xs-3 hide" style="margin-top: 9px;font-size:19px">@(ViewBag.buttonname == "approve" ? "Approve" : "Maintain") H-Kit Template</span>
                                <div class="col-xs-6 no-margin">
                                    <label class="control-label no-margin">Project <span class="required">*</span></label>
                                    <input type="text" id="txtProject" name="txtProject" class="form-control col-md-3" />
                                    @Html.HiddenFor(m => m.Project)
                                </div>
                                <div class="col-xs-5 no-margin hide">
                                    <label class="control-label no-margin">Approver <span class="required">*</span></label>
                                    <input type="text" id="ApprovedBy" name="ApprovedBy" value="@Model.ApprovedBy" class="form-control col-md-3" @(ViewBag.IsDisplayOnly == true || ViewBag.backbutton == "backbutton" || Model.Status.ToLower() == clsImplementationEnum.CTQStatus.Approved.GetStringValue().ToLower() || Model.Status.ToLower() == clsImplementationEnum.CTQStatus.SendForApprovel.GetStringValue().ToLower() ? "readonly" : "") />
                                </div>
                                <div class="col-md-3 hide">
                                    <label class="control-label">Customer</label>
                                    <input type="text" id="txtCustomer" name="txtCustomer" class="form-control col-md-3" readonly />
                                    @Html.HiddenFor(m => m.Customer)
                                </div>
                                <div class="col-md-3 hide">
                                    <label class="control-label">Zero Date</label>
                                    @Html.TextBoxFor(m => m.ZeroDate, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3 hide">
                                    <label class="control-label">CDD</label>
                                    @Html.TextBoxFor(m => m.CDD, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3 hide">
                                    <label class="control-label">Rev No</label>
                                    <input type="text" id="txtRevNo" name="txtRevNo" class="form-control col-md-3" readonly="readonly" />
                                    @Html.HiddenFor(m => m.RevNo)
                                </div>
                                <div class="col-md-3 hide">
                                    <label class="control-label">Product Type</label>
                                    @Html.TextBoxFor(m => m.ProductType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-xs-6">
                                    @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                                    {
                                        <div style="padding-top:8px" class="text-nowrap text-right">
                                            @if (ViewBag.UserRole != clsImplementationEnum.UserRoleName.SHOP.GetStringValue() && ViewBag.buttonname == "maintain" && (Model.Status.ToLower() == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue().ToLower() || Model.Status.ToLower() == clsImplementationEnum.CTQStatus.Returned.GetStringValue().ToLower()))
                                            {// || Model.Status.ToLower() == clsImplementationEnum.CTQStatus.Approved.GetStringValue().ToLower()
                                                <button id="btnUploadImage" class="btn icons" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                            }
                                            @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue() && ViewBag.buttonname == "maintain" && Model.HeaderId > 0)
                                            {
                                                <button id="btnCopy" onclick="btncopy()" class="btn icons" title="Copy" type="button"><i class="fa fa-files-o"></i></button>
                                            }
                                        </div>
                                    }
                                    <div class="col-md-12 display-none">
                                        <div id="dv@(FileUpload1ControlID)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning hide" style="margin: -5px;" data-toggle="tooltip" data-placement="bottom" title="@(string.IsNullOrWhiteSpace(Model.ReturnRemark)?"":"Return Remark: "+Model.ReturnRemark)">
                            <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        </div>
                    </div>
                    <div id="dvHeader">
                        <div class="form-group">
                            <div class="col-md-12" style="padding:0;">
                                <div id="dvkitdetail" style="display:none;">
                                    <div class="form-body">
                                        <a id="btnShowAttach" title="Show/Hide Sketch" class="btn btn-primary" style="position: absolute;z-index: 100;box-shadow: 0 0 black;"><i class="fa fa-image"></i></a>
                                        <a id="btnShowPalette" title="Show/Hide Parts" class="btn btn-warning" style="position: absolute; right:0; z-index: 100;box-shadow: 0 0 black;"><i class="fa fa-cogs"></i></a>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width:293px;display:none">
                                                    <div id="pnlAttachedImage" style="top: 0px;position: absolute; z-index: 300;border: solid #428bca;"></div>
                                                </td>
                                                <td>
                                                    <div id="myOverviewDiv"></div>
                                                    <div id="myDiagramDiv" style="width: 100%;height: 80vh; border-bottom-color:#ffffff"></div>
                                                </td>
                                                <td style="width:293px;background-color: #f4f6ff;display:none;">
                                                    <div style="float: right; top: -26px; position: relative;">
                                                        <button class="zoomButton" onclick="SetSearch(this,myPalette); setTimeout(function () { $('#GojsSearchBox',$('#CollapseAll').parent()).css('position','unset')},500)" title="Search" type="button"><i class="fa fa-search"></i></button>
                                                        <button id="CollapseAll" title="Collapse All" class="zoomButton" type="button" style="width: 25px; height: 25px;" onclick="gojsCollapseAll(myPalette,0,false)"><i class="fa fa-caret-up"></i></button>
                                                        <button id="ExpandAll" title="Expand All" class="zoomButton" type="button" style="width: 25px; height: 25px;" onclick="gojsExpandAll(myPalette,0,false)"><i class="fa fa-caret-down"></i></button>
                                                    </div>
                                                    <div id="myPaletteDiv" style="width: 100%;height: 75vh; border-bottom-color:#ffffff"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6" id="btngroup-left">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (ViewBag.IsDisplayOnly == true)
                                    {
                                        <a href="~/FKM/MaintainFKMS/DisplayHKit" class="btn btnclose">Close</a>
                                    }
                                    else
                                    {
                                        <div class="">
                                            @if (ViewBag.buttonname == "maintain" && ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue())
                                            {
                                                <input type="button" class="btn save" id="btnSaveasTemplate" value="Save as Template" />
                                            }
                                            @if (ViewBag.buttonname == "maintain" && (Model.Status.ToLower() == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue().ToLower() || Model.Status.ToLower() == clsImplementationEnum.CTQStatus.Returned.GetStringValue().ToLower()))
                                            {
                                                if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue())
                                                {
                                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                                    @*if (Model.Status != "Approved")
                                                    {
                                                        <input type="button" class="btn submit" id="btnSendForAprrove" value="Submit" />
                                                    }*@
                                                }
                                            }

                                            @if (ViewBag.buttonname == "approve" && (Model.Status.ToLower() == clsImplementationEnum.CTQStatus.SendForApprovel.GetStringValue().ToLower()))
                                            {
                                                <input type="button" class="btn save" id="btnSave" value="Save" />
                                                <input type="button" class="btn approve" id="btnApprove" value="Approve" />
                                                <input type="button" class="btn return" id="btnReturn" value="Return" />
                                            }
                                            @if (ViewBag.backbutton == "backbutton")
                                            {
                                                <a href="~/FKM/MaintainFKMS/ApproverHKitIndex" class="btn btnclose">Close</a>
                                            }
                                            else
                                            {
                                                <a href="~/FKM/MaintainFKMS/HKitIndex" class="btn btnclose">Close</a>
                                            }
                                            @*<input type="button" class="btn green" id="btndynamic" value="Dynamic" />*@
                                            @*<input type="button" class="btn green" id="btnsbstreeview" value="SidebySide" />*@
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/GoJS/go-2.0.11.js"></script>
<script src="~/Scripts/GoJS/ZoomSlider.js"></script>
<script src="~/Scripts/GoJS/DragZoomingTool.js"></script>
<script src="~/Scripts/GoJS/OverviewResizingTool.js"></script>
<script src="~/Scripts/GoJS/go.custom.js"></script>
<link href="~/Scripts/GoJS/ZoomSlider.css" rel="stylesheet" />

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()'=="true"?true:false;
    var nodeid;
    var role="@ViewBag.UserRole";
    var FileCount = 0;
    var lastSelectedNodeKey = undefined;
    var headerId = $("#HeaderId").val();
    var IsCopy = "@Model.IsCopyInProgress".toLowerCase() == "true" ? true : false;

    var myDiagram_layout_prop = undefined;
    var myPalette = undefined;
    var isEditable = true;// !IsDisplayOnly;
    var GoJs = undefined;
    var CurrentFindNo = 10000;
    var isSelectedProject = false;
    if(IsCopy) {
        bootbox.dialog({
            title: "Information",
            message: "Copy Project is Processing",
            //size: "small",
            closeButton: false,
            buttons: {
                Cancel: {
                    label: 'Back',
                    className: 'btn red',
                    callback: function () {
                        if(IsDisplayOnly)
                            window.location = WebsiteURL+"/FKM/DisplayFKMS";
                        else
                            window.location = WebsiteURL+"/FKM/MaintainFKMS";
                    }
                }
            }
        });
    }

    var lstNodeLevel  = {};
    $.each(@Html.Raw(Json.Encode(ViewBag.NodeLevel)),function (idx,item) {
        lstNodeLevel[item.Id] = {NodeType: item.NodeType, NodeLevel: item.NodeLevel};
        lstNodeLevel["L"+item.NodeLevel] = {Id: item.Id, NodeType: item.NodeType, NodeLevel: item.NodeLevel};
    });

    var lstFKMLine = {};
    $.each(@Html.Raw(Json.Encode(ViewBag.lstFKM242)),function (idx,item) {
        lstFKMLine[item.NodeId] = item;
    });

    $(document).ready(() => {
        $('[data-toggle="tooltip"]').tooltip();
        GoJs = go.GraphObject.make;

        if (parseInt('@Model.HeaderId') > 0) {
            init();
            $("#dvkitdetail").css("display", "block");
            $("#txtCustomer").val(@Html.Raw(Json.Encode(ViewBag.Customer)));

            $("#txtProject").attr('readonly', true);
            $("#txtProject").val(@Html.Raw(Json.Encode(ViewBag.Project)));
            isSelectedProject = true;

            $("#ApprovedBy").val('@ViewBag.ApprovedBy');
            $("#ZeroDate").val('@ViewBag.ZeroDate');
            $("#CDD").val('@ViewBag.CDD');
            $("#ProductType").val('@ViewBag.ProductType');
        } else {
            $("#btnSendForAprrove,#btnSaveasTemplate").hide();
        }
        LoadFileUpload1()

        $("#txtRevNo").val('R' + '@Model.RevNo');

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        isSelectedProject = data.length > 0;
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                event.preventDefault();
                $("#txtProject").val(ui.item.label);
                $("#Project").val(ui.item.value);
                if (ui.item) {
                    isSelectedProject = true;
                    if (checkProject(ui.item.value))
                        getProjectsDetails(ui.item.value);
                }
            },
        });

        $("#txtProject").blur(function () {
            if (!isSelectedProject) ClearControls();
        });

        $("#ApprovedBy").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                        isSelected = data.length > 0;
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    //ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item)
                    isSelected = true;
            },
        });

        $("#btnSave").click(function () {
            SaveHeaderDetails(headerId != 0,true);
        });

        $("#btnSendForAprrove").click(function () {
            if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
                bootbox.confirm({
                    message: "Do you want to send this fullkit for approval?",
                    buttons: {
                        confirm: { label: 'Yes', className: 'btn-success' },
                        cancel: { label: 'No', className: 'btn-danger' }
                    },
                    callback: function (result) {
                        if (result) {
                            var isHeaderSave = SaveHeaderDetails(false);
                            if (isHeaderSave) {
                                $.ajax({
                                    url: WebsiteURL +"/FKM/MaintainFKMS/HKitSendForApprove",
                                    type: "POST",
                                    data: { headerId: $("#HeaderId").val() },
                                    beforeSend: function () { showLoading(true); },
                                    complete: function () { showLoading(false); },
                                    success: function (data) {
                                        if (data.Key == true) {
                                            window.location.href = WebsiteURL +"/FKM/MaintainFKMS/HKitIndex";
                                            DisplayNotiMessage("success", data.Value, "Success");
                                        }
                                        else {
                                            bootbox.alert(data.Value);
                                        }
                                    }
                                });
                            }
                        }
                    }

                });
            }
            else {
                bootbox.alert("Please add Header and Lines before send");
            }
        });

        $("#btnSaveasTemplate").click(function () {
            if(myDiagram.findNodesByExample({ type: 'Part'  }).count > 0){
                DisplayNotiMessage("info", "Component(s) already attached, You can not save as template!", "Info");
                return false;
            }
            $.ajax({
                url: WebsiteURL +"/FKM/MaintainFKMS/GetSaveHBOMTemplate",
                type: "POST",
                data: { Id: $("#HeaderId").val(), TemplateType: "K" },
                beforeSend: function () { showLoading(true); },
                complete: function () { showLoading(false); },
                success: function (result) {
                    bootbox.dialog({
                        title: "Save as H-Kit Template",
                        message: result,
                        size: "large",
                        buttons: {
                            cancel: { label: 'Close', className: 'btn-danger' }
                        }
                    });
                }
            });
        });

        $("#btnApprove").click(function () {
            if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
                bootbox.confirm({
                    message: "Do you want to approve?",
                    buttons: {
                        confirm: { label: 'Yes', className: 'btn-success' },
                        cancel: { label: 'No', className: 'btn-danger' }
                    },
                    callback: function (result) {
                        if (result) {
                            var isHeaderSave = SaveHeaderDetails(false);
                            if(!isHeaderSave)
                                return;
                            $.ajax({
                                url: WebsiteURL +"/FKM/MaintainFKMS/ApproveHKit",
                                type: "POST",
                                data: { headerId: $("#HeaderId").val() },
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key == true) {
                                        window.location.href = WebsiteURL +"/FKM/MaintainFKMS/ApproverHKitIndex";
                                        DisplayNotiMessage("success", data.Value, "Success");
                                    }
                                    else {
                                        bootbox.alert(data.Value)
                                    }
                                }
                            });
                        }
                    }
                });
            }
            else {
                bootbox.alert("No data found...!");
            }
        });

        $("#btnReturn").click(function () {
            bootbox.confirm({
                title:"Confirm Return",
                message: 'Do you want to return? <br />\
                        <div class="row col-md-12">\
                            <label class="control-label">Return Remarks</label>\
                            <input id="txtReturnRemark" class="form-control" />\
                        </div><br /><br /><br />',
                buttons: {
                    confirm: { label: 'Yes', className: 'btn-success' },
                    cancel: { label: 'No', className: 'btn-danger' }
                },
                callback: function (result) {
                    if (result) {
                        $('#ReturnRemark').val($('#txtReturnRemark').val());
                        if ($("#ReturnRemark").val() != undefined && $("#ReturnRemark").val() != '') {
                            var isHeaderSave = SaveHeaderDetails(false);
                            if(!isHeaderSave)
                                return;
                            $.ajax({
                                url: WebsiteURL +"/FKM/MaintainFKMS/ReturnHKit",
                                type: "POST",
                                data: { headerId: $("#HeaderId").val(), remarks: $("#ReturnRemark").val() },
                                beforeSend: function () { showLoading(true); },
                                complete: function () { showLoading(false); },
                                success: function (data) {
                                    if (data.Key == true) {
                                        window.location.href = WebsiteURL +"/FKM/MaintainFKMS/ApproverHKitIndex";
                                        DisplayNotiMessage("success", data.Value, "Success");
                                    }
                                    else {
                                        bootbox.alert(data.Value)
                                    }
                                }
                            });
                        }
                        else {
                            DisplayNotiMessage("error", "Return remarks is mandatory.", "Error");
                            return false;
                        }
                    }
                }
            });
        });
    });


    $("#btnUploadImage").click(function () {
        btnAttach@(FileUpload1ControlID).click();
    });

    $('#btnShowAttach').click(function () {
        if ($(this).hasClass('activebutton')) {
            $(this).removeClass('activebutton');
            $("#image").remove();
            $("#image").imgNotes2("destroy");
            $('#pnlAttachedImage').parent().hide(1000);
            $(this).css('left','0px');
            setTimeout(function () {
                myDiagram.requestUpdate();
            },1000)
        } else {
            $(this).addClass('activebutton');
            $(this).css("left","299px");
            $('#pnlAttachedImage').parent().show(1000);
            $('#pnlAttachedImage').html('<img id="image" style="position:relative;width:293px;height:79vh;opacity:0" src="'+WebsiteURL+'/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=FKM241/@Model.HeaderId/R@(Model.RevNo)" class="img-responsive" alt="" />');
            // load image view

            $.widget("wgm.imgNotes2", $.wgm.imgViewer2, {});
            var $img = $("#image");
            $img.imgNotes2({
                onReady: function(elem) {
                    var ds = this.bounds;
                    ds._northEast.lat -= 10;
                    ds._northEast.lng -= 10;
                    setTimeout(function () {
                        $(window).resize();
                        $('.leaflet-container').attr("title","@ViewBag.fullFileName")
                        myDiagram.requestUpdate(); 
                    },100);
                }
            });
        }
    });
    
    $('#btnShowPalette').click(function () {
        if ($(this).hasClass('activebutton')) {
            $(this).removeClass('activebutton');
            initPalette(false)
            $(this).css('right','0');
        } else {
            $(this).addClass('activebutton');
            initPalette(true)
            $(this).css("right","289px");
        }
    });

    function AddNewNode(obj) {
        CurrentFindNo = 10000;
        while(true){
            if(myDiagram.findNodesByExample({ findno: CurrentFindNo.toString() }).count > 0) CurrentFindNo++;
            else break;
        }
        var node = { key: GenNewKey(), findno: CurrentFindNo.toString(), name: GetNameSquence("Kit"), level: lstNodeLevel["L"+5].Id, parent: (obj?obj.part.key: 0) };
        myDiagram.model.addNodeDataCollection([node]);
    }

    function GetNameSquence(name,isStartWithZero) {
        var i = 0;
        if(isStartWithZero){
            var results = myDiagram.findNodesByExample({ name: name });
            if(results.count == 0)
                return name;
            i++;
        }
        do {
            i++;
            var results = myDiagram.findNodesByExample({ name: name+" "+i });
        } while (results.count > 0);
        return name+" "+i;
    }

    function searchDiagram(search, gojsDiagram) {
        gojsDiagram.startTransaction("highlight search");
        function expandParent(node){
            if(node){
                node.expandTree();
                expandParent(node.findNodesInto().value);
            }
        }
        if (search) {
            if(gojsDiagram.div.id == "myPaletteDiv"){
                myPalette.findTreeRoots().each(function(n) { n.collapseTree(); })
            }
            var regex = new RegExp(search, "i");
            var results = gojsDiagram.findNodesByExample({ findno: regex }, { name: regex });
            gojsDiagram.highlightCollection(results);
            if(gojsDiagram.div.id == "myPaletteDiv")
                results.each(function (n) { expandParent(n); })
            if (results.count > 0) gojsDiagram.centerRect(results.first().actualBounds);
        } else
            gojsDiagram.clearHighlighteds();
        gojsDiagram.commitTransaction("highlight search");
    }

    function initPalette(isShow){
        if(isShow){
            $('#myPaletteDiv').parent().show(1000);
        } else {
            $('#myPaletteDiv').parent().hide(1000);
        }
        if(!myPalette){
            var brushBlue = new go.Brush(go.Brush.Linear);
            brushBlue.addColorStop(0, "#aacefb");
            brushBlue.addColorStop(1, "#7fb3f5");
            function imageConverter(prop, picture) {
                var node = picture.part;
                node.data.isPaletteNode = true;
                if (node.isTreeLeaf) {
                    if(node.data.level == lstNodeLevel["L"+0].Id)
                        return WebsiteURL + "/Scripts/GoJS/image/fa-cogs.svg";
                    else
                        return WebsiteURL + "/Scripts/GoJS/image/closedFolder.svg";
                } else {
                    if (node.isTreeExpanded)
                        return WebsiteURL + "/Scripts/GoJS/image/openFolder.svg";
                    else
                        return WebsiteURL + "/Scripts/GoJS/image/closedFolder.svg";
                }
            }
            var nodeTemplate =
                GoJs(go.Node,
                    { // no Adornment: instead change panel background color by binding to Node.isSelected
                        selectionAdorned: false,
                        doubleClick: function(e, node) {
                            if(node.data.selectable) {
                                myPalette.model.commit(function (m) {
                                    m.set(node.data, "selectable",  false);
                                }, "disabled");
                                var newNode = { key: GenNewKey() , name: node.data.name, findno: node.data.findno,parentfindno: node.data.parentfindno, part: node.data.part,parentpart: node.data.parentpart, producttype: node.data.producttype, parent: lastSelectedNodeKey? lastSelectedNodeKey: 0, type: node.data.type, level: node.data.level };
                                myDiagram.model.addNodeDataCollection([newNode]);
                            }else{
                                var results = myPalette.findNodesByExample({ parentfindno: node.data.findno });
                                var newNodes=[];
                                while (results.next()) {
                                    if(!results.value.data.selectable)
                                        continue;
                                    newNodes.push({key: GenNewKey()
                                        ,findno: results.value.data.findno
                                        ,level: results.value.data.level
                                        ,name: results.value.data.name
                                        ,parent: lastSelectedNodeKey? lastSelectedNodeKey: 0
                                        ,parentfindno: results.value.data.parentfindno
                                        ,parentpart: results.value.data.parentpart
                                        ,part: results.value.data.part
                                        ,producttype: results.value.data.producttype 
                                        ,type: results.value.data.type
                                    });
                                    myPalette.model.commit(function (m) {
                                        m.set(results.value.data, "selectable",  false);
                                    }, "disabled");
                                }
                                myDiagram.model.addNodeDataCollection(newNodes)
                            }
                        },
                    },
                    new go.Binding("selectable","", function (data) { return (data.selectable || data.type != "Part"); }).makeTwoWay(),
                    GoJs("TreeExpanderButton", {
                        "ButtonBorder.fill": "whitesmoke", "ButtonBorder.stroke": null, "_buttonFillOver": "rgba(0,128,255,0.25)", "_buttonStrokeOver": null,
                        click: function(e, node) {
                            var cmd = myDiagram.commandHandler;
                            if (node.part.isTreeExpanded)  {
                                if (!cmd.canCollapseTree(node.part)) return;
                                cmd.collapseTree(node.part);
                            }
                            else {
                                if (!cmd.canExpandTree(node.part)) return;
                                cmd.expandTree(node.part);
                            }
                            e.handled = true;
                        }
                    }),
                    GoJs(go.Panel, "Horizontal", {
                        position: new go.Point(18, 0),
                        toolTip: GoJs("ToolTip",
                                  GoJs(go.Panel, "Vertical", {background: "#ddf1fc"},
                                    GoJs(go.Panel, "Table", { defaultAlignment: go.Spot.Left },
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 0,column:0 },"Find No"),
                                          GoJs(go.TextBlock, { margin: 4,row: 0,column:1,font: "bold 13px Verdana, Serif", },new go.Binding("text", "findno")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 1,column:0 },"Part"),
                                          GoJs(go.TextBlock, { margin: 4,row: 1,column:1,font: "bold 13px Verdana, Serif", },new go.Binding("text", "part")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 2,column:0 },"Product Type"),
                                          GoJs(go.TextBlock, { margin: 4,row: 2,column:1,font: "bold 13px Verdana, Serif", },new go.Binding("text", "producttype"))
                                    )
                                  )
                                 )  // end of Adornment
                    },
                        new go.Binding("background", "isHighlighted", function (h,obj) { return h ? "#ff5722" : "transparent"; }).ofObject(),
                        new go.Binding("background", "isSelected", function(s) { return (s ? "#c6f1f6" : "transparent"); }).ofObject(),
                        GoJs(go.Picture, { width: 18, height: 18, margin: new go.Margin(0, 4, 4, 0), imageStretch: go.GraphObject.Uniform },
                            new go.Binding("source", "isTreeExpanded", imageConverter).ofObject(),
                            new go.Binding("source", "isTreeLeaf", imageConverter).ofObject()),
                        GoJs(go.TextBlock, { font: '12pt Verdana, sans-serif' },
                            new go.Binding("text", "name"),
                            new go.Binding("background", "", function (obj) { return obj.data.selectable || lstNodeLevel[obj.data.level].NodeLevel == 5 ? "transparent" : "#67eb84"; }).ofObject())
                    )  // end Horizontal Panel
                );  // end Node


            var linkTemplate =  GoJs(go.Link, { selectable: false, routing: go.Link.Orthogonal,
                fromEndSegmentLength: 4, toEndSegmentLength: 4,
                fromSpot: new go.Spot(0.001, 1, 7, 0), toSpot: go.Spot.Left },
                GoJs(go.Shape, { stroke: 'gray', strokeDashArray: [1,2] }));

            myPalette =
              GoJs(go.Palette, "myPaletteDiv",  {
                  nodeTemplate: nodeTemplate,
                  linkTemplate: linkTemplate,
                  layout: GoJs(go.TreeLayout,
                      {
                          alignment: go.TreeLayout.AlignmentStart,
                          angle: 0,
                          compaction: go.TreeLayout.CompactionNone,
                          layerSpacing: 16,
                          layerSpacingParentOverlap: 1,
                          nodeIndentPastParent: 1.0,
                          nodeSpacing: 0,
                          setsPortSpot: false,
                          setsChildPortSpot: false
                      })
              });

            loadHKit();
            setTimeout(function myfunction() {
                myDiagram.requestUpdate(); 
                myPalette.requestUpdate(); 
            },1000)
        }
        setTimeout(function myfunction() {
            myDiagram.requestUpdate(); 
            myPalette.requestUpdate(); 
        },1000)
    }

    function init() {
        if (window.goSamples) goSamples();
        isEditable = $('#btnSave').is(":visible")
        myDiagram_layout_prop = {
            treeStyle: go.TreeLayout.StyleLayered,
            alignment: go.TreeLayout.AlignmentCenterChildren,
            angle: 180,
            nodeSpacing: 10,
            sorting: go.TreeLayout.SortingAscending
        };

        SetShapeSquareArrow()

        myDiagram = GoJs(go.Diagram, "myDiagramDiv", {
            //resizingTool: new ResizeMultipleTool(),
            grid: GoJs(go.Panel, "Grid", { gridCellSize: new go.Size(30, 30) },
                GoJs(go.Shape, "LineH", { stroke: "lightgray" }), GoJs(go.Shape, "LineV", { stroke: "lightgray" })),
            initialDocumentSpot: go.Spot.TopCenter,
            initialViewportSpot: go.Spot.TopCenter,
            //draggingTool: new GuidedDraggingTool(),  // defined in GuidedDraggingTool.js
            //"draggingTool.horizontalGuidelineColor": "blue",
            //"draggingTool.verticalGuidelineColor": "blue",
            //"draggingTool.centerGuidelineColor": "green",
            //"draggingTool.guidelineWidth": 1,
            //"relinkingTool.isUnconnectedLinkValid": true,
            //"relinkingTool.portGravity": 0,
            //"commandHandler.archetypeGroupData": { name: "Group", type: "group", isGroup: true, color: "blue" },
            "commandHandler.canDeleteSelection": function(e,obj) {
                return (go.CommandHandler.prototype.canDeleteSelection.call(this) && confirm("Are you sure you want to delete this?"))? true: false;
            },
            "undoManager.isEnabled": true, // enable undo & redo
            //"animationManager.isEnabled": false,
            layout: GoJs(go.TreeLayout,myDiagram_layout_prop)
        });
        // ----- Add Link Extension ----- //
        /*  myDiagram.toolManager.mouseDownTools.insertAt(3, new GeometryReshapingTool());
          myDiagram.toolManager.linkingTool = new PolylineLinkingTool();
         // create polygon drawing tool for myDiagram
         var tool = new PolygonDrawingTool();
         tool.archetypePartData = { fill: null, stroke: "black", type: "Polygon" };
         tool.isEnabled = tool.isPolygon = false;
         tool.archetypePartData.fill = tool.temporaryShape.fill = null;
         myDiagram.toolManager.mouseDownTools.insertAt(0, tool);
         //myDiagram.toolManager.mouseMoveTools.insertAt(0, new NodeLabelDraggingTool()); // from https://gojs.net/latest/extensions/NodeLabelDraggingTool.js
         myDiagram.toolManager.mouseDownTools.add(new LinkShiftingTool());*/
        // ------------------------------- //

        myDiagram.model = new go.TreeModel();
        myDiagram.model.nodeCategoryProperty = "type";

        if(isEditable) {
            myDiagram.commandHandler.doKeyDown = function() {
                if(MoveNode(myDiagram,event.code,event.shiftKey) == false) {
                    var a = this.diagram, b = a.lastInput, c = b.control, d = b.shift, e = b.alt, f = b.key;
                    !c || "C" !== f && "Insert" !== f ? c && "X" === f || d && "Del" === f ? this.canCutSelection() && this.cutSelection() : c && "V" === f || d && "Insert" === f ? this.canPasteSelection() && this.pasteSelection() : c && "Y" === f || e && d && "Backspace" === f ? this.canRedo() && this.redo() : c && "Z" === f || e && "Backspace" === f ? this.canUndo() && this.undo() : "Del" === f || "Backspace" === f ? this.canDeleteSelection() && this.deleteSelection() : c && "A" === f ? this.canSelectAll() &&
                        this.selectAll() : "Esc" === f ? this.canStopCommand() && this.stopCommand() : "Up" === f ? a.allowVerticalScroll && (c ? a.scroll("pixel", "up") : a.scroll("line", "up")) : "Down" === f ? a.allowVerticalScroll && (c ? a.scroll("pixel", "down") : a.scroll("line", "down")) : "Left" === f ? a.allowHorizontalScroll && (c ? a.scroll("pixel", "left") : a.scroll("line", "left")) : "Right" === f ? a.allowHorizontalScroll && (c ? a.scroll("pixel", "right") : a.scroll("line", "right")) : "PageUp" === f ? d && a.allowHorizontalScroll ? a.scroll("page", "left") : a.allowVerticalScroll &&
                        a.scroll("page", "up") : "PageDown" === f ? d && a.allowHorizontalScroll ? a.scroll("page", "right") : a.allowVerticalScroll && a.scroll("page", "down") : "Home" === f ? c && a.allowVerticalScroll ? a.scroll("document", "up") : !c && a.allowHorizontalScroll && a.scroll("document", "left") : "End" === f ? c && a.allowVerticalScroll ? a.scroll("document", "down") : !c && a.allowHorizontalScroll && a.scroll("document", "right") : " " === f ? this.canScrollToPart() && this.scrollToPart() : "Subtract" === f ? this.canDecreaseZoom() && this.decreaseZoom() : "Add" === f ? this.canIncreaseZoom() &&
                        this.increaseZoom() : c && "0" === f ? this.canResetZoom() && this.resetZoom() : d && "Z" === f ? this.canZoomToFit() && this.zoomToFit() : c && !d && "G" === f ? this.canGroupSelection() && this.groupSelection() : c && d && "G" === f ? this.canUngroupSelection() && this.ungroupSelection() : b.event && 113 === b.event.which ? this.canEditTextBlock() && this.editTextBlock() : b.event && 93 === b.event.which ? this.canShowContextMenu() && this.showContextMenu() : b.bubbles = !0 : this.canCopySelection() && this.copySelection()
                }
            };
        }

        zoomSlider = new ZoomSlider(myDiagram);
        var ContextMenus = GoJs("ContextMenu",
            makeButton("Delete (Delete)",
                function(e) { if(confirm("Are you sure you want to delete this?")){ e.diagram.commandHandler.deleteSelection();} },
                function(o,obj) { return obj.part.data.key != undefined && obj.part.data.type != "Fixed"; }),
            makeButton("Undo (Ctrl+Z)",
                function(e) { e.diagram.commandHandler.undo(); },
                function(o) { return o.diagram.commandHandler.canUndo(); }),
            makeButton("Redo (Ctrl+Y)",
                function(e) { e.diagram.commandHandler.redo(); },
                function(o) { return o.diagram.commandHandler.canRedo(); }),
            /*makeButton("Move Up",
                function(e,obj) {
                    var idx = myDiagram.model.nodeDataArray.indexOf(obj.part.data)
                    if(idx == 0)
                        return;
                    var temp = myDiagram.model.nodeDataArray[idx];
                    myDiagram.model.nodeDataArray[idx] = myDiagram.model.nodeDataArray[idx-1];
                    myDiagram.model.nodeDataArray[idx-1] = temp;
                    myDiagram.model = new go.TreeModel(myDiagram.model.nodeDataArray);
                }),
            makeButton("Move Down",
                function(e,obj) {
                    var idx = myDiagram.model.nodeDataArray.indexOf(obj.part.data);
                    if(myDiagram.model.nodeDataArray.length-1 == idx)
                        return ;
                    var temp = myDiagram.model.nodeDataArray[idx];
                    myDiagram.model.nodeDataArray[idx] = myDiagram.model.nodeDataArray[idx+1];
                    myDiagram.model.nodeDataArray[idx+1] = temp;
                    myDiagram.model = new go.TreeModel(myDiagram.model.nodeDataArray);
                    AddNodeTemplates();
                }),*/
            makeButton("Add New",
                function (e,obj) { AddNewNode(obj.part.data.key == undefined?undefined:obj); },
                function(o,obj) { return isEditable && obj.part.data.type != "Part" ? true:false; })
        );

        function AddNodeTemplates() {
            var brushBlue = GoJs(go.Brush, "Linear", { 0: "#c6f1f6",  0.80: "#83e0eb", 1: "#5dc8d4" });
            var brushWhite = GoJs(go.Brush, "Linear", { 0: "white", 0.70: "white", 1: "#cecece" });

            function controlRectangle(figure) {
                return GoJs(go.Shape, { name: 'Container', strokeWidth: 2, stroke: "#8484ff", fill: brushBlue, figure: figure },
                        new go.Binding("fill", "isHighlighted", function (h,obj) { return h? "#ff5722": (obj.part.data.type == "Part"? brushWhite: brushBlue); }).ofObject(),
                        new go.Binding("figure", "type", function(type){  switch (type) {
                            case "Box": return "RoundedRectangle";
                            case "Part": return "Rectangle";
                            default: return "SquareArrow";
                        }; })
                    );
            }
            function nodeStyle(isContextMenus) {
                // this is used to determine feedback during drags
                function mayWorkFor(node1, node2) {
                    if(!isEditable || !(node1 instanceof go.Node) || node1 === node2 || node2.data.type == "Part") return false;
                    //if (node2.isInTreeOf(node1)) return false;  // cannot work for someone who works for you
                    return true;
                }

                return [//new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                     //new go.Binding("isTreeExpanded", "level", function(level){ return lstNodeLevel[level].NodeLevel < 4; }),
                new go.Binding("layerName", "isSelected", function(s) { return s ? "Foreground" : ""; }).ofObject(),
                     new go.Binding("isShadowed", "isSelected").ofObject(),
                     {
                         deletable: isContextMenus, copyable: isContextMenus,
                         selectionAdorned: false, shadowOffset: new go.Point(0, 0), shadowBlur: 15, shadowColor: "blue",
                         contextMenu: isEditable && isContextMenus ? ContextMenus : undefined,
                         mouseDrop: function(e, node) {
                             var diagram = node.diagram;
                             var selnode = diagram.selection.first();  // assume just one Node in selection
                             if (mayWorkFor(selnode, node)) {
                                 lastSelectedNodeKey = node.key;
                                 var link = selnode.findTreeParentLink();
                                 if (link !== null)  // reconnect any existing link
                                     link.fromNode = node;
                                 else // else create a new link
                                     diagram.toolManager.linkingTool.insertLink(node, node.port, selnode, selnode.port);
                             }
                         },
                         mouseDragEnter: function(e, node, prev) {
                             var diagram = node.diagram;
                             var selnode = diagram.selection.first();
                             if (!mayWorkFor(selnode, node)) return;
                             var shape = node.findObject("Container");
                             if (shape) {
                                 shape._prevFill = shape.fill;  // remember the original brush
                                 shape.fill = "#ff5722";
                             }
                         },
                         mouseDragLeave: function(e, node, next) {
                             var shape = node.findObject("Container");
                             if (shape && shape._prevFill) shape.fill = shape._prevFill;  // restore the original brush
                         },
                         click: function(e, node) {
                             if(node.part.data.type != "Part") lastSelectedNodeKey = node.part.key;
                             myDiagram.startTransaction("highlight");
                             myDiagram.clearHighlighteds();
                             node.findLinksOutOf().each(function(l) { l.isHighlighted = true; });
                             myDiagram.commitTransaction("highlight");
                         }
                     }];
            }
            function tableStyle(width) {
                return [ //new go.Binding("width").makeTwoWay(), new go.Binding("height").makeTwoWay(), 
                    { width:width,minSize: new go.Size(width, 50), name: "TABLE", background: "transparent", defaultAlignment: go.Spot.TopLeft, defaultStretch: go.GraphObject.Horizontal}];
            }
            function SetMouseHoverAdornment(adornedName) {
                return [ isEditable? { mouseHover: function(e, obj) {
                    if(obj.part.data.mdel == 0)
                        return;
                    nodeHoverAdornment.adornedObject = obj.part;
                    nodeHoverAdornment.adornedName = adornedName;
                    obj.part.addAdornment("mouseHover", nodeHoverAdornment);
                } }: {} ]
            }

            var currentAdornedName= "";
            var nodeHoverAdornment = GoJs(go.Adornment, "Spot", { background: "transparent", mouseHover: function(e,obj){ currentAdornedName = obj.part.adornedName; }, mouseLeave: function(e, obj) { obj.part.adornedPart.removeAdornment("mouseHover"); } },
                    GoJs(go.Placeholder, {
                        background: "transparent", isActionable: true,  // needed because this is in a temporary Layer
                        click: function(e, obj) { obj.part.adornedPart.diagram.select(obj.part.adornedPart); obj.part.adornedPart.removeAdornment("mouseHover"); }
                    }),
                    GoJs(go.Panel, "Table", { alignment: go.Spot.BottomCenter},
                        GoJs("Button", GoJs(go.TextBlock, "Add Node", { font: "15px sans-serif" }),
                            { row:0, column:0, stretch: go.GraphObject.Fill, click: function (e, obj) { AddNewNode(obj); } })
                    )
                );

            function NodeLayout(isContextMenus,figure,content) {
                return GoJs(go.Node, "Vertical", nodeStyle(isContextMenus),
                    GoJs(go.Panel, "Spot",
                        GoJs(go.Panel, "Auto", { cursor: "pointer", portId: "", toLinkable: isContextMenus, fromLinkable: true, toMaxLinks: 1 },
                            new go.Binding("fromLinkable","type",function(type){ return type != "Part"}),
                            controlRectangle(figure),
                            content,
                            GoJs("TreeExpanderButton", { width: 12, height: 12, opacity:0.7, alignment: go.Spot.Left })
                        ),
                        GoJs(go.Shape, "Rectangle", { name: 'ContainerMover', cursor: "move", desiredSize: new go.Size(30, 30), opacity:0, alignment: go.Spot.RightCenter, alignmentFocus: go.Spot.Right })
                    )
               );
            }

            var LabelNode = NodeLayout(true, "SquareArrow",[GoJs(go.Panel, "Table", tableStyle(180),
                    GoJs(go.TextBlock, { row: 0, column: 0, margin: 7, textAlign:"center", alignment: go.Spot.Center, width: 120, editable: true },
                        new go.Binding("editable", "level",function (level) { return level != lstNodeLevel["L"+0].Id; }),
                        new go.Binding("text", "name").makeTwoWay(), SetMouseHoverAdornment("name"))
                )
            ]);

            var BoxNode = NodeLayout(true, "RoundedRectangle",[GoJs(go.Panel, "Table", tableStyle(162),
                   GoJs(go.TextBlock, { row: 0, column: 0, margin: 5, textAlign:"center", width: 120, editable: true },
                       new go.Binding("text", "name").makeTwoWay(), SetMouseHoverAdornment("name")
                       )
                   )]);

            var FixedNode = NodeLayout(false, "SquareArrow",[GoJs(go.Panel, "Table", tableStyle(150),
                    GoJs(go.TextBlock, { row: 0, column: 0, margin: 7, textAlign:"center" },
                        new go.Binding("text", "name").makeTwoWay(), SetMouseHoverAdornment("name"))
                    )
            ]);

            var PartNode = NodeLayout(true, "Rectangle",[
                GoJs(go.Panel, "Table", tableStyle(200),
                    GoJs(go.RowColumnDefinition, { column: 0, background: brushWhite }),
                    GoJs(go.TextBlock, { row: 0, column: 0, font: "bold 13px Verdana, Serif", margin: new go.Margin(6, 2, 2, 6)},
                        new go.Binding("text", "findno").makeTwoWay()),
                    GoJs(go.TextBlock, { row: 1, column: 0, margin: new go.Margin(0, 2, 6, 6) },
                        new go.Binding("text", "name",function (name) {
                            return (name && name.length > 30)? name.substr(0, 27)+'...': name;
                        }).makeTwoWay()),
                    { toolTip:  // define a tooltip for each node that displays the color as text
                              GoJs("ToolTip",
                                  GoJs(go.Panel, "Vertical", {background: "#ddf1fc"},
                                      GoJs(go.Panel, "Table", { defaultAlignment: go.Spot.Left },
                                          //GoJs(go.RowColumnDefinition, { column: 2, width: 4 }),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 0,column:0 },"Find No"),
                                          GoJs(go.TextBlock, { margin: 4,row: 0,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "findno")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 1,column:0 },"Description"),
                                          GoJs(go.TextBlock, { margin: 4,row: 1,column:1,font: "bold 13px Verdana, Serif", width:200},new go.Binding("text", "name")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 2,column:0 },"Item Group"),
                                          GoJs(go.TextBlock, { margin: 4,row: 2,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstFKMLine[key].ItemGroup })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 3,column:0 },"Length"),
                                          GoJs(go.TextBlock, { margin: 4,row: 3,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "Length")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 4,column:0 },"Material Code "),
                                          GoJs(go.TextBlock, { margin: 4,row: 4,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "MaterialCode")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 5,column:0 },"Material Description"),
                                          GoJs(go.TextBlock, { margin: 4,row: 5,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstFKMLine[key].Description })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 6,column:0 },"Material Specification"),
                                          GoJs(go.TextBlock, { margin: 4,row: 6,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "MaterialSpecification")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 7,column:0 },"No Of Pieces"),
                                          GoJs(go.TextBlock, { margin: 4,row: 7,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstFKMLine[key].NoOfPieces })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 8,column:0 },"Parent Part"),
                                          GoJs(go.TextBlock, { margin: 4,row: 8,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "parentpart")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 9,column:0 },"Part"),
                                          GoJs(go.TextBlock, { margin: 4,row: 9,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "part")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 10,column:0 },"Product Type"),
                                          GoJs(go.TextBlock, { margin: 4,row: 10,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "producttype")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 11,column:0 },"Thickness"),
                                          GoJs(go.TextBlock, { margin: 4,row: 11,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "Thickness")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 12,column:0 },"UOM"),
                                          GoJs(go.TextBlock, { margin: 4,row: 12,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "UOM")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 13,column:0 },"Weight"),
                                          GoJs(go.TextBlock, { margin: 4,row: 13,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key", function(key){return lstFKMLine[key].Weight })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 14,column:0 },"Width"),
                                          GoJs(go.TextBlock, { margin: 4,row: 14,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "Width"))
                                    )
                                )
                              )  // end of Adornment
                    }
                )
            ]);

            myDiagram.nodeTemplateMap.add("Label", LabelNode);
            myDiagram.nodeTemplateMap.add("Box", BoxNode);
            myDiagram.nodeTemplateMap.add("Fixed", FixedNode);
            myDiagram.nodeTemplateMap.add("Part", PartNode);
            myDiagram.nodeTemplate = LabelNode;
        }
        AddNodeTemplates();

        // also define a context menu for the diagram's background
        myDiagram.contextMenu = ContextMenus;

        LinkStyleDiagram(myDiagram);

        //myDiagram.isEnabled = false; // For Forzen Diagram
        //myDiagram.isReadOnly = !isEditable;   // Disable diagram modifications, but allow navigation and selection
        //myDiagram.groupTemplate.isSubGraphExpanded = false;  // To set default Groups as Collapsable
        myDiagram.allowCopy = false;
        myDiagram.allowDrop = isEditable;
        myDiagram.allowDelete = isEditable;
        myDiagram.allowDragOut = isEditable;

        myDiagram.click = function(e) {
            lastSelectedNodeKey = undefined;
            e.diagram.commit(function(d) { d.clearHighlighteds(); }, "no highlighteds");
        };

        load();

        // initialize the Palette that is on the left side of the page
        if(isEditable){
            myDiagram.addModelChangedListener(function(evt) {
                if(!evt.isTransactionFinished || evt.object === null) return//myDiagram.selection.count != 1 ||
                var txn = evt.object;  // a Transaction
                // iterate over all of the actual ChangedEvents of the Transaction
                txn.changes.each(function(e) {
                    // ignore any kind of change other than adding/removing a node
                    if (!e || e.modelChange !== "nodeDataArray") return;
                    // record node insertions and removals
                    if (e.change === go.ChangedEvent.Insert && e.newValue.isPaletteNode) {
                        if(lstNodeLevel[e.newValue.level].NodeLevel == 5){
                            //DisplayNotiMessage("info", "You can not use Assembly!!", "");
                            var results = myPalette.findNodesByExample({ parentfindno: e.newValue.findno });
                            var newNodes=[];
                            while (results.next()) {
                                if(!results.value.data.selectable)
                                    continue;
                                newNodes.push({key: GenNewKey()
                                    ,findno: results.value.data.findno
                                    ,level: results.value.data.level
                                    ,name: results.value.data.name
                                    ,parent: lastSelectedNodeKey? lastSelectedNodeKey: 0
                                    ,parentfindno: results.value.data.parentfindno
                                    ,parentpart: results.value.data.parentpart
                                    ,part: results.value.data.part
                                    ,producttype: results.value.data.producttype 
                                    ,type: results.value.data.type
                                });
                                myPalette.model.commit(function (m) {
                                    m.set(results.value.data, "selectable",  false);
                                }, "disabled");
                            }
                            myDiagram.model.addNodeDataCollection(newNodes)
                            myDiagram.remove(myDiagram.findNodeForKey(e.newValue.key));
                            return;
                        }
                        var results = myDiagram.findNodesByExample({ level: lstNodeLevel["L"+5].Id });
                        if (results.count == 0){
                            DisplayNotiMessage("info", "There is no any H-Kit available!!", "");
                            myDiagram.remove(myDiagram.findNodeForKey(e.newValue.key));
                            return;
                        }

                        if(myPalette.model.findNodeDataForKey) {
                            myPalette.model.commit(function (m) {
                                var PaletteNodeData = myPalette.model.findNodeDataForKey(e.newValue.key)
                                m.set(PaletteNodeData, "selectable",  false);
                            }, "disabled");
                        }

                        setTimeout(function () {
                            myDiagram.model.commit(function (m) {
                                m.set(e.newValue, "key", GenNewKey());
                                if(lastSelectedNodeKey) m.set(e.newValue, "parent", lastSelectedNodeKey);
                            }, "set selected Parent");
                        },10)
                        //return false;
                    }
                });
            });
        }
        else {
            $('#myPaletteDiv').parent().hide();
            $('#btnShowPalette').hide();
        }
        // Overview of Diagram By Magnifier
        myOverview = GoJs(go.Overview, "myOverviewDiv", {
            observed: myDiagram,
            contentAlignment: go.Spot.Center,
            'box.resizable': true,
            'resizingTool': new OverviewResizingTool()
        });
        myDiagram.addDiagramListener("SelectionDeleting",deleteNode); 

        $('.zoomSlider').attr("style", "width: 24px; float: right; position: relative; top: -216px; left: -16px;");
        $('.zoomSlider').prepend('<button class="zoomButton btnFullScreen" onclick="FullScreen(\'myDiagramDiv\')" title="Full Screen"><i class="fa fa-expand"></i></button>');
        $('.zoomSlider').prepend('<button class="zoomButton" onclick="SetDragZoom(this,myDiagram)" title="Zoom(Hold and Drag)"><i class="fa fa-search-plus"></i></button>');
        $('.zoomSlider').prepend('<button class="zoomButton" onclick="SetSearch(this,myDiagram)" title="Search"><i class="fa fa-search"></i></button>');
        $('.zoomSlider button').attr("type","button");

        function deleteNode()
        {
            lastSelectedNodeKey = undefined;
            var nodeToDelete = myDiagram.selection.iterator;
            while (nodeToDelete.next()) {
                if(!(nodeToDelete.value instanceof go.Node)) continue;
                if(myPalette) {
                    var results = myPalette.findNodeForKey(nodeToDelete.value.data.parentfindno + nodeToDelete.value.data.findno);
                    if(results) myPalette.model.commit(function (m) { m.set(results.data, "selectable",  true); }, "disabled");
                }

                var childNodes = getChildNodes(nodeToDelete.value);
                myDiagram.startTransaction("deleted node");
                $.each(childNodes, function() {
                    if(myPalette) {
                        var results = myPalette.findNodeForKey(this.data.parentfindno+ this.data.findno);
                        if(results) myPalette.model.commit(function (m) { m.set(results.data, "selectable",  true); }, "disabled");
                    }
                    myDiagram.remove(this);
                });
                myDiagram.commitTransaction("deleted node");
            }
        }
        function getChildNodes(deleteNode)
        {
            var children = [];
            if(!deleteNode.findLinksOutOf) return;
            var allConnected = deleteNode.findLinksOutOf();
            while (allConnected.next()) {
                var child = allConnected.value;
                var node = myDiagram.findNodeForKey(child.part.data.key);
                if (node !== null) {
                    if(child.part.data.type != "Fixed")
                        children.push(node);
                    $.each(getChildNodes(node), function() { children.push(this); });
                }
            }
            return children;
        }
    }

    function loadHKit(ModelData) {
        if(ModelData) {
            myPalette.model = new go.TreeModel(ModelData);
        } else {
            $.ajax({
                url: WebsiteURL + '/FKM/MaintainFKMS/LoadHKitTemplate',
                data: { project: $('#Project').val() },
                type: 'POST',
                //async: false,
                beforeSend: function () { showLoading(true); },
                complete: function () { showLoading(false); },
                success: function (data) {
                    if (data.Key)
                        myPalette.model = new go.TreeModel(data.data);
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        //setTimeout(function () { myPalette.zoomToFit(); },1000)
        //$("#NewDiagram").val(myDiagram.model.toJson());
    }

    function load(ModelData) {
        if(ModelData) {
            myDiagram.model = new go.TreeModel(ModelData);
        } else if($("#HeaderId").val() > 0) {
            ModelData = @Html.Raw(Json.Encode(ViewBag.NodeData));
            myDiagram.model = new go.TreeModel(ModelData);
        }
        myDiagram.model.nodeCategoryProperty = "type";
        setTimeout(function () { myDiagram.zoomToFit(); },1000)
        //$("#NewDiagram").val(myDiagram.model.toJson());
    }

    var tempHoldRouting = undefined;
    function LinkStyleDiagram(goDiagram,routing) {
        routing = routing || tempHoldRouting || go.Link.Orthogonal;
        tempHoldRouting = routing;
        goDiagram.linkTemplate = GoJs(go.Link,
                {
                    fromSpot: go.Spot.Right, toSpot: go.Spot.NotRightSide,
                    routing: routing, corner: 5, curve: go.Link.JumpOver, opacity: 0.8,
                    //fromEndSegmentLength: 30, toEndSegmentLength: 20,
                    relinkableFrom: true, relinkableTo: true, fromShortLength: 3,
                    //reshapable: true, resegmentable: true,
                    cursor: "pointer"
                },
                GoJs(go.Shape, { strokeWidth: 2 }, new go.Binding("stroke", "isHighlighted", function(h) { return h ? "#ff5722" : "blue"; }).ofObject()),
                GoJs(go.Shape, { stroke: "blue", fill: "blue", fromArrow: "Backward" })
            );
    }

    document.onfullscreenchange = function (e) {
        if (!IsFullScreen()) {
            fnFullScreen('myDiagramDiv', false)
        }
    }

    function fnClose(isDialog) {
        if(IsFullScreen()) {
            fnFullScreen('myDiagramDiv', false)
        } else {
            if ((isDialog == true || isDialog == undefined) && isEditable) {
                bootbox.dialog({
                    title: "Are you sure you want to leave page?",
                    message: 'Your changes will lost.',
                    buttons: {
                        'confirm': {
                            label: 'Yes',
                            className: 'btn green',
                            callback: function () {
                                fnClose(false);
                            }
                        },
                        'cancel': { label: 'No', className: 'btn btnclose' }
                    }
                });
                return;
            }
            window.location.href = WebsiteURL + '/FunctionalChart/Index/';
        }
    }

    function SetShapeSquareArrow() {
        go.Shape._FigureParameters = {};
        go.Shape.setFigureParameter = function (figurename, index, figparam) {
            if (!(figparam instanceof FigureParameter)) throw new Error("Third argument to Shape.setFigureParameter is not FigureParameter: " + figparam);
            if (figparam.defaultValue < figparam.minimum || figparam.defaultValue > figparam.maximum) throw new Error("defaultValue must be between minimum and maximum, not: " + figparam.defaultValue);
            var arr = go.Shape._FigureParameters[figurename];
            if (!arr) {
                arr = [];
                go.Shape._FigureParameters[figurename] = arr;
            }
            arr[index] = figparam;
        };
        function FigureParameter(name, def, min, max) {
            if (min === undefined) min = 0.0;
            if (max === undefined) max = Infinity;
            this._name = name;
            this._defaultValue = def;
            this._minimum = min;
            this._maximum = max;
        };
        go.Shape.setFigureParameter("SquareArrow", 0, new FigureParameter("ArrowPoint", .7, .2, .9));
        go.Shape.defineFigureGenerator("SquareArrow", function (shape, w, h) {
            var param1 = shape ? shape.parameter1 : NaN; // pointiness of arrow, lower is more pointy
            if (isNaN(param1)) param1 = 0.9;

            var geo = new go.Geometry();
            var fig = new go.PathFigure(w, .5 * h, true);
            geo.add(fig);
            fig.add(new go.PathSegment(go.PathSegment.Line, param1 * w, h));
            fig.add(new go.PathSegment(go.PathSegment.Line, 0, h));
            fig.add(new go.PathSegment(go.PathSegment.Line, 0, 0));
            fig.add(new go.PathSegment(go.PathSegment.Line, param1 * w, 0).close());
            geo.spot1 = go.Spot.TopLeft;
            geo.spot2 = new go.Spot(param1, 1);
            return geo;
        });
        go.Shape.defineFigureGenerator("Package", function(shape, w, h) {
            var geo = new go.Geometry();
            var fig = new go.PathFigure(0, 0.15 * h, true);
            geo.add(fig);

            // Package bottom rectangle
            fig.add(new go.PathSegment(go.PathSegment.Line, w, 0.15 * h));
            fig.add(new go.PathSegment(go.PathSegment.Line, w, h));
            fig.add(new go.PathSegment(go.PathSegment.Line, 0, h).close());
            var fig2 = new go.PathFigure(0, 0.15 * h, true);
            geo.add(fig2);
            // Package top flap
            fig2.add(new go.PathSegment(go.PathSegment.Line, 0, 0));
            fig2.add(new go.PathSegment(go.PathSegment.Line, 0.6 * w, 0));
            fig2.add(new go.PathSegment(go.PathSegment.Line, 0.65 * w, 0.15 * h).close());
            geo.spot1 = new go.Spot(0, 0.1);
            geo.spot2 = new go.Spot(1, 1);
            return geo;
        });
        /*go.Shape.defineFigureGenerator("Gear", function(shape, w, h) {
            return new go.Geometry()
                   .add(new go.PathFigure(0.9375 * w, 0.56246875 * h, true)
                        .add(new go.PathSegment(go.PathSegment.Line, 0.9375 * w, 0.4375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.80621875 * w, 0.4375 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.763 * w, 0.3316875 * h, 0.79840625 * w, 0.39915625 * h, 0.7834375 * w, 0.3635 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.8566875 * w, 0.23796875 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.76825 * w, 0.14959375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.67596875 * w, 0.24184375 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.5625 * w, 0.19378125 * h, 0.64228125 * w, 0.2188125 * h, 0.603875 * w, 0.2021875 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.5625 * w, 0.0625 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.4375 * w, 0.0625 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.4375 * w, 0.19378125 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.32775 * w, 0.239375 * h, 0.39759375 * w, 0.20190625 * h, 0.36053125 * w, 0.2176875 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.2379375 * w, 0.14959375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.14953125 * w, 0.2379375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.23934375 * w, 0.3278125 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.19378125 * w, 0.4375 * h, 0.21765625 * w, 0.36059375 * h, 0.201875 * w, 0.397625 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.0625 * w, 0.4375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.0625 * w, 0.5625 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.1938125 * w, 0.5625 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.241875 * w, 0.67596875 * h, 0.20221875 * w, 0.603875 * h, 0.21884375 * w, 0.64228125 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.1495625 * w, 0.76825 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.238 * w, 0.8566875 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.3316875 * w, 0.76296875 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.43753125 * w, 0.80621875 * h, 0.36353125 * w, 0.78340625 * h, 0.3991875 * w, 0.79840625 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.43753125 * w, 0.9375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.5625 * w, 0.9375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.5625 * w, 0.80621875 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.67225 * w, 0.760625 * h, 0.602375 * w, 0.79809375 * h, 0.63946875 * w, 0.78234375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.76828125 * w, 0.8566875 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.85671875 * w, 0.76825 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.76065625 * w, 0.67221875 * h))
                        .add(new go.PathSegment(go.PathSegment.Bezier, 0.80621875 * w, 0.56246875 * h, 0.78234375 * w, 0.63940625 * h, 0.798125 * w, 0.602375 * h))
                        .add(new go.PathSegment(go.PathSegment.Line, 0.9375 * w, 0.56246875 * h).close())

                        .add(new go.PathSegment(go.PathSegment.Move, 0.5 * w, 0.6 * h))
                        .add(new go.PathSegment(go.PathSegment.Arc, 90, 360, 0.5 * w, 0.5 * h, 0.1 * w, 0.1 * h).close()));
        });*/
    }

    function SaveHeaderDetails(isDialog,isReload) {
        var isHeaderSave;
        if (!getHasAttachmentsForSubmit('@(FileUpload1ControlID)')) {
            isHeaderSave = false;
        }
        FileCount = $("#filelistholder@(FileUpload1ControlID) .filedetail").length;
        if(FileCount == 0 && headerId == 0) {
            isHeaderSave = $('#image').attr('src')? true: false;
        }
        if(isHeaderSave != false ) {
            if ($("#frmCreateHeader").valid()) {
                if(isDialog != false){
                    bootbox.dialog({
                        title: "Confirm Save",
                        message: 'Do you want to save this?',
                        buttons: {
                            'confirm': {
                                label: 'Save',
                                className: 'btn green',
                                callback: function () {
                                    SaveHeaderDetails(false,isReload);
                                }
                            },
                            'cancel': { label: 'Close', className: 'btn btnclose' }
                        }
                    });
                    return;
                }

                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                var formData = new FormData();
                $.each(frmSaveHeaderValue, function (key, input) {
                    formData.append(input.name, input.value);
                });
                if (FileCount > 0) {
                    formData.append('isDeleteEnabled', true);
                }
                else{
                    formData.append('isDeleteEnabled', false);
                }
                if(headerId > 0) {
                    formData.append('PlannerStructure', JSON.stringify(myDiagram.model.nodeDataArray));
                }
                $.ajax({
                    url: WebsiteURL + "/FKM/MaintainFKMS/SaveHKitHeader",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            $("#HeaderId").val(data.HeaderId);
                            $("#RevNo").val(data.RevNo);
                            DisplayNotiMessage("success", data.Value, "Success");
                            if (FileCount > 0) {
                                UpdateFolderPathAndSave@(FileUpload1ControlID)("FKM241/"+$("#HeaderId").val()+"/R"+$("#RevNo").val());
                            }else if(headerId == 0 || isReload){
                                SuccessCallFunc1();
                            }
                            isHeaderSave = true;
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                            isHeaderSave = false;
                        }
                    }
                });
            }
            else {
                HighlightInValidControls();
                isHeaderSave = false;
            }
        }
        return isHeaderSave;
    }

    function ClearControls() {
        $("#txtProject,#Project,#txtCustomer,#Customer,#ZeroDate,#CDD,#ProductType").val('');
    }

    function LoadFileUpload1() {
        var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID)', '@FileUpload1ControlID');
        objFileUpload1.IsRequired = true;
        objFileUpload1.ShowDeleteAction = false;
        if(@Model.HeaderId>0) {
            objFileUpload1.FolderPath = "FKM241/"+'@Model.HeaderId' + "/R" + '@Model.RevNo';
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        //objFileUpload1.IsMultipleUploaded=false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc1()";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);
    }

    function SuccessCallFunc1() {
        window.location.href=WebsiteURL+"/FKM/MaintainFKMS/HKitDetails/"+parseInt($("#HeaderId").val()) + "?urlForm=" + '@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()';
    }

    function checkProject(project) {
        var isValid = false;
        $.ajax({
            url: WebsiteURL + '/FKM/MaintainFKMS/HKitFilterProject',
            data: { project: project },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key)
                    isValid = true;
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    ClearControls();
                }
            }
        });
        return isValid;
    }

    function getProjectsDetails(project) {
        $.ajax({
            url: WebsiteURL + '/FKM/MaintainFKMS/GetProjectDetails',
            data: { project: project, IsGetFileUrl: true },
            type: 'POST',
            beforeSend: function () { showLoading(true); },
            complete: function () { showLoading(false); },
            //async: false,
            success: function (data) {
                if (data.Key) {
                    $("#txtCustomer").val(data.CustomerDescription);
                    $("#Customer").val(data.Customer);
                    $("#ZeroDate").val(data.ZeroDate);
                    $("#CDD").val(data.CDD);
                    $("#ProductType").val(data.ProductType);
                    $('#image').remove();
                    if(data.ImageUrl) {
                        $('#btngroup-left').prepend('<img id="image" style="width:293px;height:79vh;opacity:0" src="'+ data.ImageUrl+ '" class="img-responsive" alt="" />');
                        $.widget("wgm.imgNotes2", $.wgm.imgViewer2, {});
                        var $img = $("#image");
                        $img.imgNotes2({
                            onReady: function(elem) {
                                var ds = this.bounds;
                                ds._northEast.lat -= 10;
                                ds._northEast.lng -= 10;
                                setTimeout(function () {
                                    $(window).resize();
                                    myDiagram.requestUpdate(); 
                                },100);
                            }
                        });
                    }
                }
                else {
                    bootbox.alert({
                        size: "small",
                        title: "",
                        message: data.Value,
                        callback: function () {
                            ClearControls();
                        }
                    });
                }
            }
        });
    }

    function bootclose(){
        $('.bootbox.modal').modal('hide');
    }

    function btncopy(){
        var qualityProject = $("#Project").val();
        if (qualityProject != null && qualityProject != '' && qualityProject != undefined) {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/FKM/MaintainFKMS/GetHKitCopyDetails",
                datatype: 'html',
                beforeSend: function () { showLoading(true); },
                complete: function () { showLoading(false); },
                data: { copyProject: qualityProject, TemplateType: "K" },
                success: function (result) {
                    bootbox.dialog({
                        title: 'Copy From',
                        message: result,
                        size: "large",
                        buttons: {
                            'confirm': {
                                label: 'Copy',
                                className: 'btn green',
                                callback: function () {
                                    if(!formcopy())
                                        return false;
                                    else
                                        bootclose();
                                }
                            },
                            'Continue': {
                                label: 'Copy & Next',
                                className: 'btn green hide',
                                callback: function () {
                                    if(!formcopy()) {
                                        return false;
                                    } else {
                                        bootclose();
                                        btncopy();
                                    };
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        },
                        onEscape: function () {
                            bootclose();
                        }
                    });
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please enter Quality Project", "Error");
        }
    }

    function formcopy() {
        if ($("#frmCopy").valid()) {
            var copyData = new Object();
            copyData.sourceProject = $("#sourceCopyProject").val();
            copyData.destProject = $("#ddlDestCopyProject").val();
            copyData.zeroDate = $("#ddlzeroDate").val();
            copyData.cdd = $("#ddlcdd").val();
            copyData.customer = $("#ddlcustomer").val();

            $.ajax({
                url: WebsiteURL + '/FKM/MaintainFKMS/HKitCopyDetails',
                type: "Post",
                beforeSend: function () {showLoading(true);},
                complete: function () {showLoading(false);},
                dataType: "JSON",
                data: {
                    copyData: copyData,
                    TemplateId: $("#TemplateId").val()
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        if(copyData.destProject == $("#Project").val()) {
                            setTimeout(function () {
                                window.location.reload();
                            },2000)
                        }
                    }
                    else
                        DisplayNotiMessage("error", data.Value, "Error");
                },
                error: function (ex) {
                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                    return false;
                }
            });
            return true;
        }
        else {
            return false;
        }
    }
</script>

<script src="~/Scripts/imgViewer2.js"></script>
@Scripts.Render("~/bundles/datatable/js")