﻿@model IEMQSImplementation.WPS010_Log
@using IEMQSImplementation


<script>
    $('input[type="text"],textarea').prop("readonly", "readonly");

    if (headerId != null && headerId != undefined && headerId != "0" && headerId != 0) {
        $("#txtWPSNumber").val('@Model.WPSNumber');
        $("#txtWPSNumber").prop("readonly", "readonly");

        if ('@Model.Jointtype' != '' && '@Model.Jointtype' != "null" && '@Model.Jointtype' != null) {
            //$("#txtJointtype").val('@Model.Jointtype');
            $("#Jointtype").val('@Model.Jointtype');
            //$("#txtJointtype").prop("readonly", "readonly");
            TabsForJointType('@Model.Jointtype');
        }
    }

    if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { $("#WeldingProcess1").val('@ViewBag.WeldingProcess1') }
    if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { $("#WeldingProcess2").val('@ViewBag.WeldingProcess2') }
    if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { $("#WeldingProcess3").val('@ViewBag.WeldingProcess3') }
    if ('@Model.WeldingProcess4' != '' && '@Model.WeldingProcess4' != "null" && '@Model.WeldingProcess4' != null) { $("#WeldingProcess4").val('@ViewBag.WeldingProcess4') }
    if ('@Model.WeldingType1' != '' && '@Model.WeldingType1' != "null" && '@Model.WeldingType1' != null) { $("#txtWeldingType1").val('@ViewBag.WeldingType1') }
    if ('@Model.WeldingType2' != '' && '@Model.WeldingType2' != "null" && '@Model.WeldingType2' != null) { $("#txtWeldingType2").val('@ViewBag.WeldingType2') }
    if ('@Model.WeldingType3' != '' && '@Model.WeldingType3' != "null" && '@Model.WeldingType3' != null) { $("#txtWeldingType3").val('@ViewBag.WeldingType3') }
    if ('@Model.WeldingType4' != '' && '@Model.WeldingType4' != "null" && '@Model.WeldingType4' != null) { $("#txtWeldingType4").val('@ViewBag.WeldingType4') }

    if ('@Model.Backing' != '' && '@Model.Backing' != "null" && '@Model.Backing' != null) { $("#txtBacking").val('@Model.Backing') }

    jQuery.validator.addClassRules('numeric', {
        number: true
    });
</script>

<form id="frmWPSHeader" class="form-horizontal">
    <div class="form-group">
        <fieldset>
            <legend>WPS & PQR Details</legend>
            <div class="col-md-12">
                <div class="col-md-3">
                    <label class="control-label">WPS No.<span class="required"> * </span></label>
                    <input type="text" id="txtWPSNumber" name="txtWPSNumber" class="form-control col-md-4" style="min-width:160px;" />
                    @Html.HiddenFor(m => m.WPSNumber)
                </div>
                <div class="col-md-2" style="display:none">
                    <label class="control-label">Location<span class="required"> * </span></label>
                    @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-2", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">RevNo.<span class="required"> * </span></label>
                    @Html.TextBoxFor(m => m.WPSRevNo, new { @class = "form-control col-md-1", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR1</label>
                    @Html.TextBoxFor(m => m.PQR1, new { @class = "form-control col-md-3" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR2</label>
                    @Html.TextBoxFor(m => m.PQR2, new { @class = "form-control col-md-3" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR3</label>
                    @Html.TextBoxFor(m => m.PQR3, new { @class = "form-control col-md-3" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR4</label>
                    @Html.TextBoxFor(m => m.PQR4, new { @class = "form-control col-md-3" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR5</label>
                    @Html.TextBoxFor(m => m.PQR5, new { @class = "form-control col-md-3" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR6</label>
                    @Html.TextBoxFor(m => m.PQR6, new { @class = "form-control col-md-3" })
                </div>
                <div class="col-md-1">
                    <label class="control-label">PQR7</label>
                    @Html.TextBoxFor(m => m.PQR7, new { @class = "form-control col-md-3" })
                </div>
            </div>
            @*</fieldset>
                <fieldset>
                    <legend>PQR Details</legend>*@
        </fieldset>
        <div id="dvDetails">

            <fieldset>
                <legend>Welding Process & Type</legend>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Welding Process1<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess1" name="txtWeldingProcess1" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Process2<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess2" name="txtWeldingProcess2" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Welding Process3<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess3" name="txtWeldingProcess3" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Process4<span class="required"> * </span></label>
                        @*<input type="text" id="txtWeldingProcess4" name="txtWeldingProcess4" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.WeldingProcess4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                </div>
                @*</fieldset>
                    <fieldset>
                        <legend>Welding Type</legend>*@
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Welding Type1<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType1" name="txtWeldingType1" class="DistWeldingType form-control col-md-3" />
                        @Html.HiddenFor(m => m.WeldingType1)
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Welding Type2<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType2" name="txtWeldingType2" class="DistWeldingType form-control col-md-3" />
                        @Html.HiddenFor(m => m.WeldingType2)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Type3<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType3" name="txtWeldingType3" class="DistWeldingType form-control col-md-3" />
                        @Html.HiddenFor(m => m.WeldingType3)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Welding Type4<span class="required"> * </span></label>
                        <input type="text" id="txtWeldingType4" name="txtWeldingType4" class="DistWeldingType form-control col-md-3" />
                        @Html.HiddenFor(m => m.WeldingType4)
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Joints(QW-402) & Other Details</legend>
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label class="control-label">Joint Type<span class="required"> * </span></label>
                        @*<input type="text" id="txtJointtype" name="txtJointtype" class="form-control col-md-3" />*@
                        @Html.TextBoxFor(m => m.Jointtype, new { @class = "form-control col-md-3", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Groove design</label>
                        @Html.TextBoxFor(m => m.Groovedesign, new { @class = "form-control col-md-3", @maxlength = "50" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Backing<span class="required"> * </span></label>
                        <input type="text" class="form-control col-md-3" id="txtBacking" name="txtBacking" />
                        @Html.HiddenFor(m => m.Backing)
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Backing Material(Type)<span class="required"> * </span></label>
                        @Html.TextBoxFor(m => m.BackingMaterial, new { @class = "form-control col-md-3", @maxlength = "50" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Other</label>
                        @Html.TextAreaFor(m => m.Other1, new { @class = "form-control col-md-3", @maxlength = "300" })
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </fieldset>
        </div>
    </div>
</form>