﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

@{
    ViewBag.Title = "Add WPS Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    /*textarea {
        height: 33px !important;
    }*/

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>

<script>
    var WP1 = false, WP2 = false, WP3 = false, WP4 = false, headerId;
    var revisionalreadyalert = false;
    var isFromWPSKeyNo = false;
    var WPSNoFromWPSKeyNo = "";
    $(document).ready(function () {
        if ('@ViewBag.IsFromKeyIndex' == "true") {
            isFromWPSKeyNo = true;
            WPSNoFromWPSKeyNo = '@Model.WPSNumber';
        }
        jQuery.validator.addMethod("notEqualToGroup", function (value, element, options) {
            // get all the elements passed here with the same class
            var elems = $(element).parents('form').find(options[0]);
            // the value of the current element
            var valueToCompare = value;
            // count
            var matchesFound = 0;
            // loop each element and compare its value with the current value
            // and increase the count every time we find one
            jQuery.each(elems, function () {
                thisVal = $(this).val();

                if (thisVal == valueToCompare && valueToCompare != "") {
                    matchesFound++;
                }
            });
            // count should be either 0 or 1 max
            if (this.optional(element) || matchesFound <= 1) {
                //elems.removeClass('error');
                return true;
            } else {
                //elems.addClass('error');
            }
        }, '');
        jQuery.validator.addMethod('notEqualTo', function (value, element, param) {

            if (param != undefined && $(param).val().length > 0) {
                return value != $(param).val();
            }
            else {
                return true;
            }
        }, '');

        headerId = $("#HeaderId").val();
        if (headerId == null && headerId == undefined || headerId == "0") {
            LoadPartial(0, "", "");

            $('#navJointType li').not('.active').addClass('disabled');
            $('#navJointType li').not('.active').find('a').removeAttr("data-toggle");
            $("#dvDetails").addClass("disableDiv");
            //$("#Jointtype").trigger("change");
            LoadWPSLines("0");
            $("#btnSave").hide();
        }
        else {
            LoadPartial('@Model.HeaderId', "", "");
            if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { WP1 = true; }
            if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { WP2 = true; }
            if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { WP3 = true; }
            if ('@Model.WeldingProcess4' != '' && '@Model.WeldingProcess4' != "null" && '@Model.WeldingProcess4' != null) { WP4 = true; }
            if ($("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
                $("#btnSave").show();
            }
            $("#dvWPSLines").show();
            LoadWPSLines($("#HeaderId").val())

            if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()' || $("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
                $("#btnSendForApproval").prop("disabled", "disabled");
                $("#btnSave").hide();
                $("#btnAddWPSLine").hide();
            }
            if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                $('#btnRevise').show();
            }
        }

        $("#frmWPSHeader").validate({
            rules: {
                txtWPSNumber: {
                    required: true,
                }//,
                //PQR1: {
                //    number: true,
                //    max: 2147483647
                //},
                //PQR2: {
                //    number: true,
                //    max: 2147483647
                //},
                //PQR3: {
                //    number: true,
                //    max: 2147483647
                //},
                //PQR4: {
                //    number: true,
                //    max: 2147483647
                //},
                //PQR5: {
                //    number: true,
                //    max: 2147483647
                //},
                //PQR6: {
                //    number: true,
                //    max: 2147483647
                //},
                //PQR7: {
                //    number: true,
                //    max: 2147483647
                //}
            },
            messages: {
                txtWPSNumber: {
                    required: "WPS No. Is Required",
                }
            }
        });

        //$('#frmWPSHeader input[type="text"],textarea').blur(function (e) {
        //    SaveWPSHeaderForm();
        //});

        //$("#Jointtype").change(function (e) {
        //    var text = $("#Jointtype").val();
        //});
        $("#btnSendForApproval").click(function () {
            bootbox.dialog({
                title: "Send For Approval Confirmation",
                message: "Do you want submit WPS for approval?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            var ReqColumn = RequiredFieldsForJoinType($("#HeaderId").val());
                            if (ReqColumn == null || ReqColumn == undefined || ReqColumn == '' || ReqColumn.length == 0) {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/WPS/MaintainWPSHeader/SendForApproval",
                                    data: { headerId: $("#HeaderId").val() },
                                    datatype: 'json',
                                    async: false,
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            window.setTimeout('window.location.href = "' + WebsiteURL + '/WPS/MaintainWPSHeader/Index"', 3000);
                                            //$('#tblWPSLines').DataTable().ajax.reload();
                                        }
                                        else {
                                            if (data.IsInformation) {
                                                DisplayNotiMessage("info", data.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                            else {
                                DisplayNotiMessage("error", ReqColumn, "Error");
                            }
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });

        });

        $("#btnAddWPSLine").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WPS/MaintainWPSHeader/CheckWPSIsSendForApproval",
                data: { HeaderId: $("#HeaderId").val() },
                datatype: 'json',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("info", data.Value, "Information");
                    }
                    else {
                        WPSLinesPartial(parseInt($("#HeaderId").val()), 0);
                    }
                },
                error: function () {
                }
            });

        });

        $("#btnCopy").click(function () {
            $.ajax({
                url: WebsiteURL + "/WPS/MaintainWPSHeader/CopyWPSNumberPartial",
                dataType: "html",
                data: { location: $("#Location").val().split('-')[0], HeaderId: $("#HeaderId").val() },
                type: "POST",
                async: false,
                success: function (data) {
                    bootbox.dialog({
                        title: "Copy To",
                        message: data,
                        size: "medium",
                        buttons: {
                            Copy: {
                                Label: "Copy",
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmCopyWPSNumber").valid()) {
                                        var hdnDestWPSNo = $("#hdnDestWPSNo").val();
                                        var Location = hdnDestWPSNo.substr(hdnDestWPSNo.indexOf(":") + 1);
                                        CopyToDestination($("#HeaderId").val(), $("#txtDestWPSNo").val(), Location);
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn red',
                                callback: function () { }
                            }
                        }
                    })
                }
            })
        });

        $("#btnHistoryData").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WPS/MaintainWPSHeader/GetHistoryDetails",
                datatype: 'html',
                async: false,
                data: { headerId: $('#HeaderId').val() },
                success: function (result) {
                    bootbox.dialog({
                        title: $('#WPSNumber').val() + ' History Details',
                        message: result,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn red'
                            }
                        }
                    });
                },
                error: function () {
                    //debugger;
                }
            });
        });

        $('#navJointType').on('click', 'a', function () {
            //debugger;
            if ($("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()' &&
                $("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
                ValidateAndSaveWPS(true);
            }
            var spara = $(this).attr("spara");
            var jointType = $(this).attr("class");
            LoadPartial($("#HeaderId").val(), spara, jointType);
        });

        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $("#btnClose").click(function () {            
            window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/Index?tab=@ViewBag.Tab";
        });
    });

    function LoadPartial(headerId, partialName, jointType) {
        var dvToloadPartial = "dvWPSHeader" + partialName;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WPS/MaintainWPSHeader/LoadPartial",
            data: { headerId: parseInt(headerId), partialName: partialName, jointType: jointType },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#tabContent .tab-pane").removeClass("active");
                //$(".tab-pane").hide();
                $("#" + dvToloadPartial).addClass("active");
                //$("#" + dvToloadPartial).show();
                $("#" + dvToloadPartial).html(result);
            },
            error: function () {
            }
        });
    }

    function WPSNoExist(location, WPSNo, headerId, savewps) {
        var exist;
        $.ajax({
            url: WebsiteURL + "/WPS/MaintainWPSHeader/isWPSNoExist",
            type: "POST",
            data: { location: location, WPSNo: WPSNo, headerId: headerId },
            async: false,
            dataType: 'json',
            success: function (res) {
                if (res.isWPSDocGenerated) {
                    //exist = true;
                    //debugger;
                    window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + res.HeaderId
                    //DisplayNotiMessage("error", "Document Already Exist", "Error");
                    //$("#WeldingProcess1").val('');
                    //$("#WeldingProcess2").val('');
                    //$("#WeldingProcess3").val('');
                    //$("#WeldingProcess4").val('');
                    //$("#txtWPSNumber").focus();
                    //$("#txtWPSNumber").val('');
                    //$("#WPSNumber").val('');
                }
                else {
                    exist = false;
                   // debugger
                    if (res.JointType == null || res.JointType == undefined || res.JointType == "") {
                        //DisplayNotiMessage("info", "Key Combination Not Exist In Key Master.", "Information");
                        DisplayNotiMessage("info", "Joint Type is not define for WPSNumber.", "Information");
                        return false;
                    }
                    //$("#txtWPSNumber").prop("readonly", "readonly");
                    $("#dvDetails").removeClass("disableDiv");

                    $("#WeldingProcess1").val(res.WeldingProcess1);
                    if ($("#WeldingProcess1").val().length > 0) {
                        //$("#txtWeldingType1").prop("readonly", "readonly");
                        WP1 = true;
                    }
                    else {
                        $("#txtWeldingType1").prop("disabled", "disabled");
                        $("#WeldingProcess1").prop("disabled", "disabled");
                    }

                    $("#WeldingProcess2").val(res.WeldingProcess2);
                    if ($("#WeldingProcess2").val().length > 0) {
                        //$("#txtWeldingType2").prop("readonly", "readonly");
                        WP2 = true;
                    }
                    else {
                        $("#txtWeldingType2").prop("disabled", "disabled");
                        $("#WeldingProcess2").prop("disabled", "disabled");
                    }

                    $("#WeldingProcess3").val(res.WeldingProcess3);
                    if ($("#WeldingProcess3").val().length > 0) {
                        //$("#txtWeldingType3").prop("readonly", "readonly");
                        WP3 = true;
                    }
                    else {
                        $("#txtWeldingType3").prop("disabled", "disabled");
                        $("#WeldingProcess3").prop("disabled", "disabled");
                    }

                    $("#WeldingProcess4").val(res.WeldingProcess4);
                    if ($("#WeldingProcess4").val().length > 0) {
                        //$("#txtWeldingType4").prop("readonly", "readonly");
                        WP4 = true;
                    }
                    else {
                        $("#txtWeldingType4").prop("disabled", "disabled");
                        $("#WeldingProcess4").prop("disabled", "disabled");
                    }

                    $("#Jointtype").val(res.JointType);
                    TabsForJointType(res.JointType);
                    //$('.nav li').removeClass('disabled');
                    //$('.nav li').find('a').attr("data-toggle", "tab");
                    if (savewps) {
                        if ($("#frmWPSHeader").valid()) {
                            var frmWPSHeaderValues = $("#frmWPSHeader").serializeArray();
                            SaveWPSHeader(frmWPSHeaderValues, false);
                        }
                        else {
                            HighlightInValidControls();
                            return false;
                        }
                    }
                }
            },
            error: function (er) {
                alert(er);
            }
        });

        //return exist;
    }

    function SaveWPSHeaderForm(displaymessage) {
        revisionalreadyalert = false;
        if ($("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
            if ($(this)[0].id == "txtWPSNumber") {
                e.preventDefault();
                return false;
            }
            if ($("#frmWPSHeader").valid()) {
                var frmWPSHeaderValues = $("#frmWPSHeader").serializeArray();
                if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                    if (!revisionalreadyalert) {
                        revisionalreadyalert = true;
                        bootbox.dialog({
                            title: "Revise Confirmation",
                            message: "Document Is Already Approved.Do You Sure Want To Revise?",
                            size: "medium",
                            buttons: {
                                Yes: {
                                    Label: "Yes",
                                    className: 'btn green',
                                    callback: function () {
                                        revisionalreadyalert = false;
                                        SaveWPSHeader(frmWPSHeaderValues, displaymessage);
                                        window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + $("#HeaderId").val()
                                    }
                                },
                                Cancel: {
                                    label: 'No',
                                    className: 'btn red',
                                    callback: function () {
                                        revisionalreadyalert = false;
                                    }
                                }

                            }
                        });

                    }
                }
                else {
                    SaveWPSHeader(frmWPSHeaderValues, displaymessage);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    }
    function SaveWPSHeader(frmWPSHeaderValues, displaymessage) {
        var formdata = new FormData();

        if (frmWPSHeaderValues != null && frmWPSHeaderValues != undefined) {
            $.each(frmWPSHeaderValues, function (key, input) {
                formdata.append(input.name, input.value);
            });
            formdata.append("HeaderId", $("#HeaderId").val());
            $.ajax({
                url: WebsiteURL + "/WPS/MaintainWPSHeader/SaveWPSHeader",
                type: "POST",
                datatype: "json",
                data: formdata,
                async: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.Key) {
                        $("#HeaderId").val(res.HeaderId);
                        $("#lblStatus").text(res.HeaderStatus);
                        $("#Status").val(res.HeaderStatus);
                        if (displaymessage) {
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        //DisplayNotiMessage("success", res.Value, "Success");
                        $("#WPSRevNo").val(res.RevNo);
                        $("#dvWPSLines").show();
                        $("#btnSendForApproval").removeProp("disabled");
                        $("#btnSave").show();
                        if (isFromWPSKeyNo) {
                            window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + res.HeaderId;
                        }
                        //bootbox.hideAll();
                        //$('#tblWPSKeyList').DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");
                        return false;
                    }
                },
                error: function () {
                    response = "";
                    return false;
                }
            });
        }
    }

    function ValidateAndSaveWPS(displaymessage) {
        if ($('#navJointType').find('.active a').attr("spara") == "") {
            SaveWPSHeaderForm(displaymessage);
        }
        else {
            formid = "#frm" + $('#navJointType').find('.active a').attr("spara");
            if ($("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
                if ($(formid).valid()) {
                    var frmWPSHeaderValues = $(formid).serializeArray();
                    SaveWPSHeaderDynamically(frmWPSHeaderValues, displaymessage);
                }
                else {
                    HighlightInValidControls();
                    return false;
                }
            }
        }

    }

    function SaveWPSHeaderDynamically(frmWPSHeaderValues, displaymessage) {

        //var formdata = new FormData();
        var ModelWPSHeader = [];

        if (frmWPSHeaderValues != null && frmWPSHeaderValues != undefined) {
            $.each(frmWPSHeaderValues, function (key, input) {
                //formdata.append(input.name, input.value);
                ModelWPSHeader.push({ ColumnName: input.name, ColumnValue: input.value });
            });
            ModelWPSHeader.push({ ColumnName: "HeaderId", ColumnValue: $("#HeaderId").val() });

            $.ajax({
                url: WebsiteURL + "/WPS/MaintainWPSHeader/SaveWPSHeaderColumnWiseDynamically",
                type: "POST",
                datatype: "json",
                data: { strColumnWithData: JSON.stringify(ModelWPSHeader) },
                //async: false,
                success: function (res) {
                    if (res.Key) {
                        $("#HeaderId").val(res.HeaderId);
                        $("#lblStatus").text(res.HeaderStatus);
                        $("#Status").val(res.HeaderStatus);
                        if (displaymessage) {
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        //DisplayNotiMessage("success", res.Value, "Success");
                        $("#dvWPSLines").show();
                        if ($('#WPSRevNo') != null) {
                            $('#WPSRevNo').val(res.RevNo);
                        }
                        $("#btnSendForApproval").removeProp("disabled");
                    }
                    else {
                        if (res.IsInformation) {
                            DisplayNotiMessage("info", res.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", res.Value, "Error");
                        }
                        //return false;
                    }
                },
                error: function () {
                    response = "";
                    return false;
                }
            });
        }
    }

    function TabsForJointType(text) {
        var ul = $("#navJointType");
        $('#navJointType a:not(#tabWPSHeader)').remove();
        $('ul li:empty').remove();
        if (text.toLowerCase() == "groove/fillet") {

            if ($("#HeaderId").val() == "" || $("#HeaderId").val() == "0") {
                $("#Groovedesign").val("As per drawing");
                $("#BackingMaterial").val("Base Metal and/or Weld Metal");
            }
            $("#Groovedesign,#txtBacking,#BackingMaterial").removeAttr("readonly");

            //$("#txtBacking").rules('add', {
            //    required: true,
            //    messages: {
            //        required: "Required field"
            //    }
            //});
            //$("#BackingMaterial").rules('add', {
            //    required: true,
            //    messages: {
            //        required: "Required field"
            //    }
            //});

            $('#navJointType a[class="Buttering"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="TTS"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="OverLay"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF1" spara="GrooveF1" data-toggle="tab">Form2</a></li>'); //dvWPSHeaderGrooveF1
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF2" spara="GrooveF2" data-toggle="tab">Form3</a></li>'); //dvWPSHeaderGrooveF2
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF3" spara="GrooveF3" data-toggle="tab">Form4</a></li>'); //dvWPSHeaderGrooveF3
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF4" spara="GrooveF4" data-toggle="tab">Form5</a></li>'); //dvWPSHeaderGrooveF4
            ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF5" spara="GrooveF5" data-toggle="tab">Form6</a></li>'); //dvWPSHeaderGrooveF5
            //ul.append('<li><a name="tabWPSHeader" class="Groove" id="tabGrooveF6" spara="GrooveF6" data-toggle="tab">Form7</a></li>'); //dvWPSHeaderGrooveF6
        }
        else if (text.toLowerCase() == "buttering") {

            if ($("#HeaderId").val() == "" || $("#HeaderId").val() == "0") {
                $("#Groovedesign").val("As per drawing");
                $("#BackingMaterial").val("Base Metal and/or Weld Metal");
            }
            $("#Groovedesign,#txtBacking,#BackingMaterial").removeAttr("readonly");

            //$("#txtBacking").rules('add', {
            //    required: true,
            //    messages: {
            //        required: "Required field"
            //    }
            //});
            //$("#BackingMaterial").rules('add', {
            //    required: true,
            //    messages: {
            //        required: "Required field"
            //    }
            //});

            $('#navJointType a[class="Groove"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="TTS"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="OverLay"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF1" spara="ButteringF1" data-toggle="tab">Form2</a></li>'); //dvWPSHeaderButteringF1
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF2" spara="ButteringF2" data-toggle="tab">Form3</a></li>'); //dvWPSHeaderButteringF2
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF3" spara="ButteringF3" data-toggle="tab">Form4</a></li>'); //dvWPSHeaderButteringF3
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF4" spara="ButteringF4" data-toggle="tab">Form5</a></li>'); //dvWPSHeaderButteringF4
            ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF5" spara="ButteringF5" data-toggle="tab">Form6</a></li>'); //dvWPSHeaderButteringF5
            //ul.append('<li><a name="tabWPSHeader" class="Buttering" id="tabButteringF6" spara="ButteringF6" data-toggle="tab">Form7</a></li>'); //dvWPSHeaderButteringF6
        }
        else if (text.toLowerCase() == "t#ts") {
            if ($("#HeaderId").val() == "" || $("#HeaderId").val() == "0") {
                $("#Groovedesign").val("As per drawing");
                $("#BackingMaterial").val("Base Metal and/or Weld Metal");
            }
            $("#Groovedesign,#txtBacking,#BackingMaterial").removeAttr("readonly");
            //$("#txtBacking").rules('add', {
            //    required: true,
            //    messages: {
            //        required: "Required field"
            //    }
            //});
            //$("#BackingMaterial").rules('add', {
            //    required: true,
            //    messages: {
            //        required: "Required field"
            //    }
            //});

            $('#navJointType a[class="Groove"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="Buttering"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="OverLay"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF1" spara="TTSF1" data-toggle="tab">Form2</a></li>'); //dvWPSHeaderTTSF1
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF2" spara="TTSF2" data-toggle="tab">Form3</a></li>'); //dvWPSHeaderTTSF2
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF3" spara="TTSF3" data-toggle="tab">Form4</a></li>'); //dvWPSHeaderTTSF3
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF4" spara="TTSF4" data-toggle="tab">Form5</a></li>'); //dvWPSHeaderTTSF4
            ul.append('<li><a name="tabWPSHeader" class="TTS" id="tabTTSF5" spara="TTSF5" data-toggle="tab">Form6</a></li>'); //dvWPSHeaderTTSF5

            //$('li').attr("spara", "GrooveF1").hide();
        }
            //else if (text.toLowerCase() == "overlay/hardfacing") {
        else if (text.toLowerCase() == "overlay") {

            $("#txtBacking,#BackingMaterial").removeClass("error");
            $("#Groovedesign,#txtBacking,#BackingMaterial").val('');
            $("#Groovedesign,#txtBacking,#BackingMaterial").prop("readonly", "readonly");
            $("#Groovedesign,#txtBacking,#BackingMaterial").prop("disabled", "disabled");
            //$("#txtBacking").rules('remove', "required");
            //$("#BackingMaterial").rules('remove', "required");

            $('#navJointType a[class="Groove"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="Buttering"]:not(#tabWPSHeader)').remove();
            $('#navJointType a[class="TTS"]:not(#tabWPSHeader)').remove();

            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF1" spara="OverLayF1" data-toggle="tab"> Form2 </a></li>');//dvWPSHeaderOverLayF1
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF2" spara="OverLayF2" data-toggle="tab"> Form3 </a></li>');//dvWPSHeaderOverLayF2
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF3" spara="OverLayF3" data-toggle="tab"> Form4 </a></li>');//dvWPSHeaderOverLayF3
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF4" spara="OverLayF4" data-toggle="tab"> Form5 </a></li>');//dvWPSHeaderOverLayF4
            ul.append('<li><a name="tabWPSHeader" class="OverLay" id="tabOverLayF5" spara="OverLayF5" data-toggle="tab"> Form6 </a></li>');//dvWPSHeaderOverLayF5
            //$('li').attr("spara", "GrooveF1").show()
        }

        if (text.length > 0) {
            $('#navJointType li').removeClass('disabled');
            $('#navJointType').find('a').attr("data-toggle", "tab");
        }

        //e.preventDefault();
    }

    function FillAutoComplete(element, sourceList, hdElement, validateElem) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            close: function () {
                //$(this).rules('add', {
                //    required: {
                //        depends: function () {
                //            return $(validateElem).val().length > 0
                //        }
                //    },
                //    messages: {
                //        required: "Required field"
                //    }
                //});

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
                else {
                    $(hdElement).val(ui.item.id)
                }

            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function FillSupplementalAutocomplete(element, arrayList, isEditable) {
        element.autocomplete({
            source: arrayList,
            minLength: 0,
            autoFocus: false,
            async: false,
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(this).val();
                    }
                }
            }
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });
    }

    function LoadAutoComplete(element, sourceList, hdElement, validation, hdnData) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                //debugger;
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);
                $(hdnData).val(ui.item.value);
            },
            close: function () {
                //$(this).rules('add', {
                //    required: {
                //        depends: function () {
                //            return validation
                //        }
                //    },
                //    messages: {
                //        required: "Required field"
                //    }
                //});
                //debugger;
            },
            change: function (event, ui) {
                //debugger;
                //console.log(hdElement);
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    //$(this).focus();
                }
                else {
                    $(hdElement).val(ui.item.id)
                }
                //console.log($(hdElement).val());
                //return true;
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function WPSLinesPartial(headerId, lineId) {
        //debugger;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WPS/MaintainWPSHeader/GetWPSLinesPartial",
            data: { headerId: headerId, lineId: lineId },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                bootbox.dialog({
                    title: "Welding Parameter",
                    message: result,
                    size: "large",
                    buttons: {
                        Save: {
                            Label: "Copy",
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmWPSLines").valid()) {
                                    var frmWPSLinesValues = $("#frmWPSLines").serializeArray();
                                    if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                                        //bootbox.confirm("Document Is Already Approved.Do You Sure Want To Revise?", function (rev) {
                                        //    if (rev) {
                                        //        SaveWPSLine(frmWPSLinesValues);
                                        //    }
                                        //    else {
                                        //    }
                                        //});

                                        bootbox.dialog({
                                            title: "Revise Confirmation",
                                            message: "Document Is Already Approved.Do You Sure Want To Revise?",
                                            size: "medium",
                                            buttons: {
                                                Yes: {
                                                    Label: "Yes",
                                                    className: 'btn green',
                                                    callback: function () {
                                                        SaveWPSLine(frmWPSLinesValues);
                                                        window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + $("#HeaderId").val()
                                                    }
                                                },
                                                Cancel: {
                                                    label: 'No',
                                                    className: 'btn red',
                                                    callback: function () { }
                                                }

                                            }
                                        });

                                    } else {
                                        SaveWPSLine(frmWPSLinesValues);
                                    }

                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        Cancel: {
                            label: 'Close',
                            className: 'btn red',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

     

    function SaveWPSLine(frmWPSLinesValues) {
        var formdata = new FormData();
        if (frmWPSLinesValues != null && frmWPSLinesValues != undefined) {
            $.each(frmWPSLinesValues, function (key, input) {
                formdata.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + "/WPS/MaintainWPSHeader/SaveWPSLines",
                type: "POST",
                datatype: "json",
                data: formdata,
                async: false,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (result) {
                    if (result.Key) {
                        $("#HeaderId").val(result.HeaderId);
                        $("#lblStatus").text(result.HeaderStatus);
                        $("#Status").val(result.HeaderStatus);
                        DisplayNotiMessage("success", result.Value, "Success");
                        //$("#dvWPSLines").show();

                        if ($("#dvWPSLines").css("display") == "block") {
                            $('#tblWPSLines').DataTable().ajax.reload();
                        }
                        else {
                            $("#dvWPSLines").show();
                        }
                        if ($('#WPSRevNo') != null) {
                            $('#WPSRevNo').val(result.RevNo);
                        }
                        LoadWPSLines($("#HeaderId").val());
                        //$('#tblWPSLines').DataTable().ajax.reload();
                        bootbox.hideAll();
                    }
                    else {
                        if (result.IsInformation) {
                            DisplayNotiMessage("info", result.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", result.Value, "Error");
                        }
                        return false;
                    }
                },
                error: function () {
                    response = "";
                    return false;
                }
            });
        }
    }

    function DeleteCategory(lineId) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                            bootbox.dialog({
                                title: "Revise Confirmation",
                                message: "Document Is Already Approved.Do You Sure Want To Revise?",
                                size: "medium",
                                buttons: {
                                    Yes: {
                                        Label: "Yes",
                                        className: 'btn green',
                                        callback: function () {
                                            DeleteLines(lineId);
                                        }
                                    },
                                    Cancel: {
                                        label: 'No',
                                        className: 'btn red',
                                        callback: function () { }
                                    }

                                }
                            });
                        }
                        else {
                            DeleteLines(lineId);
                        }
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });

        @*bootbox.confirm("Do you Sure Want To Delete Line?", function (res) {
            if (res) {
                if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                    bootbox.confirm("Document Is Already Approved.Do You Sure Want To Revise?", function (rev) {
                        if (rev) {
                            DeleteLines(lineId);
                        }
                        else {
                        }
                    });
                }
                else {
                    DeleteLines(lineId);
                }
            }
        })*@
    }

    function DeleteLines(lineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WPS/MaintainWPSHeader/DeleteCategory",
            data: { headerId: headerId, lineId: lineId },
            datatype: 'json',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#HeaderId").val(data.HeaderId);
                    $("#lblStatus").text(data.HeaderStatus);
                    $("#Status").val(data.HeaderStatus);
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#tblWPSLines').DataTable().ajax.reload();

                    if ($('#WPSRevNo') != null) {
                        $('#WPSRevNo').val(data.RevNo);
                    }
                    bootbox.hideAll();

                    window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + $("#HeaderId").val()
                }
                else {
                    bootbox.hideAll();
                    if (data.IsInformation) {
                        DisplayNotiMessage("info", data.Value, "Information");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            },
            error: function () {
            }
        });
    }

    function LoadWPSLines(headerId) {
        var table = $('#tblWPSLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPS/MaintainWPSHeader/LoadWPSLinesDataTable?headerId=" + $("#HeaderId").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "5%"
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },

                {
                    "name": "WeldingProcess",
                    "sClass": "center",
                },
                {
                    "name": "WeldLayer",
                    "sClass": "center",
                },
                {
                    "name": "AWSClass",
                    "sClass": "center",
                },
                {
                    "name": "FillerMetalSize",
                    "sClass": "center",
                    "sWidth": "7%"
                },
                {
                    "name": "ANumber",
                    "sClass": "center",
                    "sWidth": "7%"
                },
                {
                    "name": "SupplementalFiller",
                    "sClass": "center",
                },
                {
                    "name": "FluxType",
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "FillerMetalTradeName",
                    "sClass": "center",
                },
                {
                    "name": "ReCrushedSlag",
                    "sClass": "center",
                },
                {
                    "name": "SFANo",
                    "sClass": "center",
                },
                {
                    "name": "FNumber",
                    "sClass": "center",
                },
                {
                    "name": "FillerMetalProductForm",
                    "sClass": "center",
                },
                {
                    "name": "ElectrodeFluxClass",
                    "sClass": "center",
                },
                {
                    "name": "FluxTradeName",
                    "sClass": "center",
                },
                {
                    "name": "ConsumableInsert",
                    "sClass": "center",
                },
                {
                    "name": "Other",
                    "sClass": "center",
                },
                {
                    "name": "CurrentAMP",
                    "sClass": "center",
                },
                {
                    "name": "TravelSpeed",
                    "sClass": "center",
                },
                {
                    "name": "CurrentType",
                    "sClass": "center",
                },
                {
                    "name": "CurrentPolarity",
                    "sClass": "center",
                },
                {
                    "name": "Voltage",
                    "sClass": "center",
                },
                {
                    "name": "BeadLength",
                    "sClass": "center",
                },
                {
                    "name": "HeatInput",
                    "sClass": "center",
                },
                {
                    "name": "WireFeedSpeed",
                    "sClass": "center",
                },
            ]
        })
    }

    function RequiredFieldsForJoinType(headerId) {
        var requiredColumn;
        $.ajax({
            url: WebsiteURL + "/WPS/MaintainWPSHeader/GetRequiredFieldsForJointType",
            type: "POST",
            data: { headerId: headerId },
            async: false,
            dataType: 'json',
            success: function (res) {
                if (res.Key) {
                    //requiredColumn = true;
                }
                else {
                    requiredColumn = res.Value;
                }
            },
            error: function (er) {
                alert(er);
            }
        });

        return requiredColumn;
    }

    function CopyToDestination(headerId, destWPSNo, Location) {
        $.ajax({
            url: WebsiteURL + "/WPS/MaintainWPSHeader/CopyToDestination",
            type: 'POST',
            async: false,
            data: { headerId: headerId, destWPSNo: destWPSNo, Location: Location.trim() },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    if (res.Value.length > 0)
                        DisplayNotiMessage("success", res.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            }
        });
    }

    function WPSRevise() {
        if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
            if (!revisionalreadyalert) {
                revisionalreadyalert = true;
                bootbox.dialog({
                    title: "Revise Confirmation",
                    message: "Document Is Already Approved.Do You Sure Want To Revise?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {

                                $.ajax({
                                    url: WebsiteURL + "/WPS/MaintainWPSHeader/ReviseWPS",
                                    type: 'POST',
                                    async: false,
                                    data: { headerId: $("#HeaderId").val() },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (res) {
                                        if (res.Key) {
                                            if (res.Value.length > 0)
                                                DisplayNotiMessage("success", res.Value, "Success");
                                            window.location.href = WebsiteURL + "/WPS/MaintainWPSHeader/AddWPSHeader?headerId=" + $("#HeaderId").val()
                                        }
                                        else {
                                            if (res.IsInformation) {
                                                DisplayNotiMessage("info", res.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", res.Value, "Error");
                                            }
                                            return false;
                                        }
                                    }
                                });
                                //SaveWPSHeader(frmWPSHeaderValues, displaymessage);
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () {
                                revisionalreadyalert = false;
                            }
                        }

                    }
                });

            }
        }
        else {
            SaveWPSHeaderDynamically(frmWPSHeaderValues, displaymessage);
        }
    }

    function WPSReport(name, headerid) {
        $.ajax({
            url: WebsiteURL + "/WPS/MaintainWPSHeader/GetRequiredFieldsForJointType",
            type: "POST",
            data: { headerId: headerid },
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            dataType: 'json',
            success: function (res) {
                if (res.Key) {
                    if (name.toLowerCase() == ("Groove/Fillet").toLowerCase())
                        url = "/WPS/WPS Groove Fillet";
                        //else if (name.toLowerCase() == ("Overlay/HardFacing").toLowerCase())
                    else if (name.toLowerCase() == ("Overlay").toLowerCase())
                        url = "/WPS/WPS Overlay";
                    else if (name.toLowerCase() == ("T#TS").toLowerCase())
                        url = "/WPS/WPS Tube Tubesheet";
                    else if (name.toLowerCase() == ("buttering").toLowerCase())
                        url = "/WPS/WPS Buttering";

                    var dat = [];
                    dat.push({ Param: "HeaderId", Value: headerid });
                    ShowReport(dat, url, true);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (er) {
                alert(er);
            }
        });
    }
</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain WPS</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @*@Html.HiddenFor(m => m.Status)*@
                        <input id="Status" name="Status" type="hidden" value="@Model.Status">
                        <input type="hidden" value="@ViewBag.Status" id="hdnstatus" />
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.Hidden("Key1", new { @id = "Key1" })
                        @Html.Hidden("Key2", new { @id = "Key2" })
                    </div>
                </div>

                <div class="col-md-12" style="text-align:right;">
                    @*<a href='@Url.Action("Index","MaintainWPSHeader")' class="btn green"> < Header List</a>*@
                </div>
                <div class="portlet-title tabbable-line" id="tabs">
                    <ul class="nav nav-tabs" id="navJointType">
                        <li class="active">
                            <a name="tabWPSHeader" id="tabWPSHeader" spara="" data-toggle="tab"> Form1 </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content" id="tabContent">
                        <div class="tab-pane active" id="dvWPSHeader">
                        </div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF5"></div>
                        <div class="tab-pane" id="dvWPSHeaderGrooveF6"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF5"></div>
                        <div class="tab-pane" id="dvWPSHeaderButteringF6"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderOverLayF5"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF1"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF2"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF3"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF4"></div>
                        <div class="tab-pane" id="dvWPSHeaderTTSF5"></div>
                    </div>

                    <div id="dvWPSLines" class="row" style="padding:1%;display:none;">
                        <div class="col-md-12" style="text-align:right;margin-bottom: 1%;">
                            <input type="button" class="btn green" id="btnAddWPSLine" value="Add Line" />
                        </div>
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Welding Parameter
                                    </div>
                                    <div class="tools" id="dvExportLines">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPS/MaintainWPSHeader/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table id="tblWPSLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="all" style="width:5%">Sr. No.</th>
                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                <th class="min-phone-l" style="display:none;">LineId</th>
                                                <th class="min-phone-l">Welding Process</th>
                                                <th class="min-phone-l">Weld Layer</th>
                                                <th class="min-phone-l">AWS Class</th>
                                                <th class="min-phone-l" style="width:7%">Size of Filler Metal(mm)</th>
                                                <th class="min-phone-l" style="width:7%">A.No.</th>
                                                <th class="min-phone-l">Supplemental filler</th>
                                                <th class="min-phone-l">Flux Type</th>
                                                <th class="min-phone-l">Action</th>
                                                <th class="none">Filler Metal Trade Name</th>
                                                <th class="none">Re-crushed slag</th>
                                                <th class="none">SFA No.</th>
                                                <th class="none">F. No.</th>
                                                <th class="none">Filler Metal Product Form</th>
                                                <th class="none">Electrode Flux Class</th>
                                                <th class="none">Flux Trade Name</th>
                                                <th class="none">Consumable Insert</th>
                                                <th class="none">Other</th>
                                                <th class="none">Current (A) </th>
                                                <th class="none">Travel Speed(mm/min)</th>
                                                <th class="none">Current Type</th>
                                                <th class="none">Current Polarity</th>
                                                <th class="none">Voltage(V)</th>
                                                <th class="none">Bead Length/electrode or SMAW(mm)</th>
                                                <th class="none">Max.Heat Input(KJ/mm)</th>
                                                <th class="none">Wire Feed Speed (M/min)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:right">
                            <input type="button" class="btn save" id="btnSave" value="Save" onclick="javascript:return ValidateAndSaveWPS(true)" style="display:none;" />
                            <input type="button" class="btn submit" id="btnSendForApproval" value="Submit" />
                            @if (Model.Status == clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue())
                            {
                                <button class="btn revise" style="display:none;" type="button" id="btnRevise" onclick="WPSRevise()">Revise</button>
                            }                            
                            <button class="btn btnclose" id="btnClose" title="Close">Close</button>
                            @if (Model.Status == clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue())
                            {
                                <button class="btn icons" id="btnCopy" title="Copy"><i class="fa fa-files-o"></i></button>
                            }

                            @if (Model.Status == "Approved" || Model.WPSRevNo > 0)
                            {
                                <button class="btn icons" type="button" id="btnHistoryData" title="History"><i class="fa fa-history"></i></button>
                            }
                            @if (Model.HeaderId > 0)
                            {
                                <button class="btn icons" type="button" onclick="WPSReport('@Model.Jointtype', @Model.HeaderId)" title="Print"><i class="fa fa-print"></i></button>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>