﻿@using IEMQSImplementation
@model MSW001_Log
@{
    ViewBag.Title = "Machining Scope of Work";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));
        var headerid = parseInt("@Model.HeaderId");
        var id = parseInt("@Model.Id");
        $('#txtRevNo').val("R"+@Model.RevNo);
        if (headerid > 0) {
            $("#hfHeaderId").val(headerid);
            var Project = "@Model.Project"
            if (Project.toString() != "") {
                $("#ddlProject").val(Project);
                $("#hfProject").val(Project);
            }
            $("#txtCust").val('@ViewBag.Customer');
            var CDD = "@Model.CDD"
            CDD = CDD.split(' ')[0];
            if (CDD != "") {
                $("#txtCdd").val(CDD);
            }
            if ('@Model.ReviseRemark' != null && '@Model.ReviseRemark' != '') {
                $("#dvReviseRemark").show();
            }
            else {
                $("#dvReviseRemark").hide();
            }
            var Product = "@Model.Product"
            if (Product != "") {
                $("#ddlCat").val(Product);
            }
            var RevNo = "@Model.RevNo"
            if (RevNo != "") {
                revNo = "R" + RevNo;
                $("#txtRev").val(revNo);
            }
            var Document = "@Model.Document"
            if (Document != "") {
                $("#txtdoc").val(Document);
            }
            var CreatedOn = "@Model.CreatedOn"
            if (CreatedOn != "") {
                $("#txtcdate").val(CreatedOn);
            }
            var ProcessLicensor = "@Model.ProcessLicensor"
            if (ProcessLicensor != "") {
                $("#txtlicence").val(ProcessLicensor);
            }
            var ApprovedBy = "@Model.ApprovedBy"
            if (ApprovedBy != "") {
                $("#ddlApprover").val(ApprovedBy);
            }
            var status = "@Model.Status";
            $("#lblStatus").text(status);
            $("#status").css("display", "block");
            $("#ddlProject").attr("disabled", true);
            $("#txtlicence").attr("disabled", true);
            $("#ddlCat").attr("disabled", true);
            $("#btnSubmit").show();
            $("#btnAdd").show();
            $("#btnAdd").attr("disabled", true);
            $("#btnSubmit").attr("disabled", true);
            $("#ddlApp").css("display", "block");
            $("#txtCdd").attr("disabled", true);
            $("#txtRev").attr("disabled", true);
            $("#ddlApprover").attr("disabled", true);
            $("#txtdoc").attr("disabled", true);
            $("#txtCust").attr("disabled", true);
            $("#txtcdate").attr("disabled", true);

            loadData(id);
        }

    });
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Machining Scope of Work</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    @Html.Hidden("hfHeaderId")
                                    @Html.Hidden("hfProject")
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.DropDownList("ddlProject", (SelectList)@ViewBag.Project, "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                CDD
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCdd", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Product Category
                                            </label>
                                            <div class="">
                                                @Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstProCat, "Value", "Text"), "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*<div class="col-md-4">
                                                <label class="control-label">
                                                    Revison
                                                </label>
                                                <div class="">
                                                    @Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })
                                                </div>
                                            </div>*@
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Revison
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-2"><button type="button" id="RevPrev" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevPrev == null)? "" : "window.location='"+ViewBag.RevPrev+"'")" @((ViewBag.RevPrev == null) ? "disabled" : "")><span class="fa fa-chevron-left"></span></button></div>
                                                <div class="col-sm-8">
                                                    @*@Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-4", @readonly = "readonly" })*@
                                                    <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                                    @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                </div>
                                                <div class="col-sm-2"><button type="button" id="RevNext" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevNext == null)? "" : "window.location='"+ViewBag.RevNext+"'")" @((ViewBag.RevNext == null) ? "disabled" : "")><span class="fa fa-chevron-right"></span></button></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Document No
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtdoc", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hiddenfields">
                                        @* @Html.HiddenFor(model => model.HeaderId)*@
                                        @Html.HiddenFor(model => model.Status)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Date
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtcdate", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Process Licensor
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtlicence", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right" id="ddlApp" style="display:none">
                                            <label class="control-label">
                                                Approver
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="dvReviseRemark" class="col-md-12">
                                            <label class="control-label">Revision Remark<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="dvReturnRemark" class="col-md-12">
                                            <label class="control-label">Return Remark</label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.ReturnRemark, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divPDNIdenticalproject"></div>
                                </div>
                            </fieldset>
                        }
                        <div class="col-md-12">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-14 right">
                                <a style="cursor:pointer; float: right;margin-right:10px;" title="Print Report" ; class="btn icons" onClick="PrintReport(@Model.Id)"><i class="fa fa-print"></i></a>
                                <a href="~/MSW/maintain/Index" style="float: right;margin-right:2px" class="btn btnclose">Close</a>


                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Machining Scope of Work Lines
                                        </div>
                                        <div class="tools" id="dvExportLines">
                                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/MSW/Maintain/GenerateExcelHistroy", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })

                                          
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblMSWDet" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    @*
                                                        <th id="thRemove" class="all" style="text-align: center;">
                                                            <input type='checkbox' id='line_chkAll' class='checkbox_line' name='chkAll' />
                                                        </th>*@
                                                    <th class="min-phone-l">Sr Number</th>
                                                    <th class="min-phone-l">Main Task</th>
                                                    <th class="min-phone-l">Machining Activity</th>
                                                    <th class="min-phone-l">Qty</th>
                                                    <th class="min-phone-l">Machine Required</th>
                                                    <th class="min-phone-l">Location Planned</th>
                                                    <th class="min-phone-l">Ref Drawing</th>
                                                    <th class="min-phone-l">Task Manager</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    @Html.Hidden("hfRev")
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-3">
                                    @*<button class="btn green" style="float: right;display:none;" type="button" id="btnSend">Send For Approval</button>&nbsp;&nbsp;*@
                                </div>
                                @*<div class="col-md-12" style="text-align:right">
                                        <a href="/MSW/Maintain/Index" style="float: right;" class="btn red">Close</a>
                                        <a style="cursor:pointer;margin-right:5px;" title="Print Report" ; class="btn green" onClick="PrintReport(@Model.Id)"> Print <i class="fa fa-print"></i></a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function loadData(id) {
        var table = $('#tblMSWDet');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/MSW/Maintain/LoadMSWLineHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "HeaderId", "value": id }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    //'success': fnCallback,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 }
            ]
        });
    }

    function PrintReport(id) {

        bootbox.dialog({
            title: 'MSW History ',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/MSW/MSW History";
                        var dat = [];
                        dat.push({ Param: "Id", Value: id });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
</script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>