﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MIP Report";
}

@Styles.Render("~/Content/datetimepicker/css")
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">MIP Report </span>
                    </div>
                </div>
                <div class="clsDisableElement">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">Project<span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="txtQualityProject" value="" name="txtQualityProject" class="form-control col-md-3 disabledfromstage2" placeholder="Select" />
                                            @Html.Hidden("QualityProject")
                                            @Html.Hidden("BU")
                                            @Html.Hidden("Location")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">MIP Type<span class="required">*</span></label>
                                        <div class="">
                                            @Html.DropDownList("MIPType", new SelectList("", "Value", "Text"), "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">

                                    <div class="col-md-4">
                                        <label class="control-label">Inspection Report<span class="required">*</span></label>
                                        <div class="">
                                            @Html.DropDownList("ReportType", new SelectList(@ViewBag.ReportType, "Value", "Text"), "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">Operation No<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBox("OperationNo", "", new { @class = "form-control numericInput",@readonly="readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">Offered Date<span class="required">*</span></label>
                                        <div class="">
                                            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                @Html.TextBox("OfferedOn", "", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button class="btn default" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <hr />
                                    <div class="col-md-12">
                                        <a class="btn icons" id="btnPrintNew" title="Print"><i class="fa fa-print"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var lstQualityProject= @Html.Raw(Json.Encode(@ViewBag.QualityProject));
        FillAutoMIPComplete($("#txtQualityProject"), lstQualityProject, $("#QualityProject"));
        $("#OfferedOn").datepicker({
            orientation: "auto",
            autoclose: true,
        });

        $("#MIPType,#ReportType").change(function () {
            FetchOPN($("#ReportType").val(),$("#MIPType").val());
        });


        $('#frmCreateHeader').validate({
            rules: {
                txtQualityProject: { required: true },
                ReportType: { required: true },
                MIPType: { required: true },
                OfferedOn: { required: true },
                OperationNo: { required: true, pattern: /^[0-9]+\.?[0-9]*$/ }
            },
            messages: {
                txtQualityProject: { required: "Quality Project is required" },
                ReportType: { required: "Report Type is required" },
                MIPType: { required: "MIP type is required" },
                OfferedOn: { required: "Offered On is required" },
                OperationNo: { required: "Operation No is required" },
            }
        });
        $("#btnPrintNew").click(function () {
            if ($('#frmCreateHeader').valid()) {
                PrintReport();
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

    });

    function FetchOPN(reporttype,miptype)
    {debugger
        var opn="";
       
        if(reporttype!="" && reporttype!=null && miptype !="" && miptype !=null){
            switch (reporttype)
            {
                case "VE":
                    if (miptype.toLowerCase() == "type001" || miptype.toLowerCase() == "plate")//for plate
                    {
                        opn = "1.09";
                    }
                    else if (miptype.toLowerCase() == "type004" || miptype.toLowerCase() == "bracketsp")//for BracketSP
                    {
                        opn = "1.09";
                    }
                    else if (miptype.toLowerCase() == "type002" || miptype.toLowerCase() == "bracketwd" )//for BracketWD
                    {
                        opn = "1.18";
                    }
                    break;
                case "LPE":
                    if (miptype.toLowerCase() == "type001" || miptype.toLowerCase() == "plate" )
                    {
                        opn = "1.1";
                    }
                    else if (miptype.toLowerCase() == "type004" || miptype.toLowerCase() == "bracketsp")
                    {
                        opn = "1.1";
                    }
                    else if (miptype.toLowerCase() == "type002" || miptype.toLowerCase() == "bracketwd" )
                    {
                        opn = "1.19";
                    }
                    break;
                case "VE/PP":
                    if (miptype.toLowerCase() == "type001" || miptype.toLowerCase() == "plate" )
                    {
                        opn = "1.12";
                    }
                    break;
                case "WT":
                    if (miptype.toLowerCase() == "type001" || miptype.toLowerCase() == "plate" )
                    {
                        opn = "1.15";
                    }
                    else if (miptype.toLowerCase() == "type004" || miptype.toLowerCase() == "bracketsp" )
                    {
                        opn = "1.14";
                    }
                    else if (miptype.toLowerCase() == "type002"|| miptype.toLowerCase() == "bracketwd" )
                    {
                        opn = "1.23";
                    }
                    break;
                case "LPE/RP":
                    if (miptype.toLowerCase() == "type002"|| miptype.toLowerCase() == "bracketwd" )
                    {
                        opn = "1.23";
                    }
                    break;
                case "WV":
                    if (miptype.toLowerCase() == "type002"|| miptype.toLowerCase() == "bracketwd" )
                    {
                        opn = "1.14";
                    }
                    if (miptype.toLowerCase() == "type003"|| miptype.toLowerCase() == "assembly" )
                    {
                        opn = "4.09";
                    }
                    break;
                case "UE":
                    if (miptype.toLowerCase() == "type004" || miptype.toLowerCase() == "bracketsp" )
                    {
                        opn = "1.11";
                    }
                    else if (miptype.toLowerCase() == "type002"|| miptype.toLowerCase() == "bracketwd" )
                    {
                        opn = "1.15";
                    }
                    break;
            }
        }
        $('#OperationNo').val(opn);
    }

    function PrintReport() {
        bootbox.dialog({
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        if ($('#ReportType option:selected').val() == "LPE" || $('#ReportType option:selected').val() == "PP" || $('#ReportType option:selected').val() == "LPE/RP" )
                        { url = "/MIP/MIP Offered Data"; }
                        else {
                            url = "/MIP/Annexure Offer Data";
                        }
                        var iscolVisible = false;
                        if ($('#ReportType option:selected').val() == "LPE" || $('#ReportType option:selected').val() == "PP" || $('#ReportType option:selected').val() == "LPE/RP" ||  $('#ReportType option:selected').val() == "WV" ||  $('#ReportType option:selected').val() == "UE" || $('#ReportType option:selected').val() == "PLATE/WT" || $('#ReportType option:selected').val() == "WT" )
                        { iscolVisible=true; }

                        var dat = [];
                        dat.push({ Param: "QualityProject", Value: $('#txtQualityProject').val() });
                        dat.push({ Param: "ReportTitle", Value: $('#ReportType option:selected').text() });
                        dat.push({ Param: "ReportType", Value: $('#ReportType option:selected').val() });
                        dat.push({ Param: "OfferedOn", Value: $('#OfferedOn').val() });
                        dat.push({ Param: "OperationNo", Value: $('#OperationNo').val() });
                        dat.push({ Param: "DocNo", Value: $('#MIPType').val() });
                        dat.push({ Param: "MIPType", Value: $('#MIPType option:selected').text() });
                        dat.push({ Param: "isVVPTVisible", Value:iscolVisible });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
    
    function FillAutoMIPComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CatDesc,
                        value: item.CatDesc,
                        id: item.CatID
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                var qproject = ui.item.id;
                $(this).val(qproject.split("#")[0]);
                $("#BU").val(qproject.split("#")[1]);
                $("#Location").val(qproject.split("#")[2]);
                //getDataEdit($("#BU").val(), $("#Location").val());
                $(hdElement).val(qproject.split("#")[0]);
                HighlightInValidControls();

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                    $(hdElement).val("");
                    HighlightInValidControls();
                }
                else{
                    getDataEdit($("#BU").val(), $("#Location").val());
                    FetchOPN($("#ReportType").val(),$("#MIPType").val());
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function getDataEdit(bu,location) {
        $.ajax({
            url: WebsiteURL + "/MIP/Report/getDataEdit",
            data: { bu: bu, loc:location },
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            success: function (data) {
                if (data.length > 0) {
                    $("#MIPType").empty();
                    var optionhtml1 = '';
                    $("#MIPType").append('<option value="">Select</option>');
                    $.each(data, function (i) {
                        var optionhtml = '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                        $("#MIPType").append(optionhtml);
                    });
                }
            }
        })
    }
</script>
@Scripts.Render("~/bundles/datetimepicker/js")

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>