﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MIP Report";
}

@Styles.Render("~/Content/datetimepicker/css")
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">MIP WIP Report </span>
                    </div>
                </div>
                <div class="clsDisableElement">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">Quality Project<span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="QualityProject" name="QualityProject" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Category<span class="required">*</span></label>
                                        <div class="">
                                            <input type="text" id="Category" name="Category" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <label class="control-label">
                                            Inspection Date (From date - To date)<span class="required">*</span>
                                        </label>
                                        <div class="">
                                            <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy" data-date-end-date="+0d">
                                                <input type="text" id="Inspectionfrom" name="Inspectionfrom" placeholder="From date" readonly class="form-control col-md-3" />
                                                <span class="input-group-addon"> to </span>
                                                <input type="text" id="Inspectionto" name="Inspectionto" placeholder="To date" readonly class="form-control col-md-3"  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">MIP Type<span class="required">*</span></label>
                                        <div class="">
                                            @Html.DropDownList("MIPType", new SelectList(@ViewBag.MIP_Type, "Value", "Text"), "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <hr />
                                    <div class="col-md-12">
                                        <a class="btn icons" id="btnPrintNew" title="Print WIP Report"><i class="fa fa-print"></i></a>
                                        <a class="btn icons" id="btnPrintClearedAssemblies" title="Print Cleared Assemblies"><i class="fa fa-check-square"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto bottom", autoclose: true });

        var lstQualityProjects = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.QualityProjects))));
        $('#frmCreateHeader').validate({
            rules: {
                Inspectionfrom: { required: true },
                Inspectionto: { required: true },
                MIPType: { required: true },
                QualityProject: { required: true },
                Category: { required: true },
            },
            messages: {
                Inspectionfrom: { required: "Inspection from is required" },
                Inspectionto: { required: "Inspection to is required" },
                MIPType: { required: "MIP type is required" },
                QualityProject: { required: "QualityProject is required" },
                Category: { required: "Category is required" },
            }
        });
        $("#btnPrintNew").click(function () {
            if ($('#frmCreateHeader').valid()) {
                PrintReport("wip");
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
        $("#btnPrintClearedAssemblies").click(function () {
            if ($('#frmCreateHeader').valid()) {
                PrintReport("c_a");
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
        FillAutoCompleteWithCallBackParam($("#QualityProject"), lstQualityProjects, $("#QualityProject"), QualityProject_Change)
    });

    function QualityProject_Change() {
        var QualityProject = $("#QualityProject").val();
        $.ajax({
            url: WebsiteURL + "/MIP/Report/GetCategoryList",
            type: "POST",
            datatype: "json",            
            data: { QualityProject: QualityProject },
            success: function (data) {
                if (data.length > 0) {
                    FillAutoComplete($("#Category"), data, $("#Category"))
                }
                else {
                    DestroyAutoComplete($("#Category"));
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Error occured please try again", "Error");
            }
        });
    }

    function PrintReport(type) {
        bootbox.dialog({
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        var flg = true;
                        var miptype = $('#MIPType').val();
                        if (type == "c_a") {
                            url = "/MIP/Cleared Assemblies"
                        }
                        else {
                            if (miptype.toLowerCase() == "type001" || miptype.toLowerCase() == "plate") {
                                url = "/MIP/MIP WIP PLATE"
                            }
                            else if (miptype.toLowerCase() == "type004" || miptype.toLowerCase() == "bracketsp") {
                                url = "/MIP/MIP WIP BracketSP"
                            }
                            else if (miptype.toLowerCase() == "type002" || miptype.toLowerCase() == "bracketwd") {
                                url = "/MIP/MIP WIP BracketWD"
                            }
                            else if (miptype.toLowerCase() == "type003" || miptype.toLowerCase() == "assembly") {
                                url = "/MIP/MIP WIP ASSEMBLY"
                            }
                            else {
                                flg = false;
                                DisplayNotiMessage("info", "Report not available for this,please select other MIP Type..||", "Information");
                            }
                        }
                        if (flg) {
                            var Inspectionfrom = $('#Inspectionfrom').val().split('/')[2] + "/" + $('#Inspectionfrom').val().split('/')[1] + "/" + $('#Inspectionfrom').val().split('/')[0];
                            var Inspectionto = $('#Inspectionto').val().split('/')[2] + "/" + $('#Inspectionto').val().split('/')[1] + "/" + $('#Inspectionto').val().split('/')[0];
                            var dat = [];
                            dat.push({ Param: "InspectionFrom", Value: Inspectionfrom });
                            dat.push({ Param: "InspectionTo", Value: Inspectionto });
                            dat.push({ Param: "MIPType", Value: $('#MIPType').val() });
                            dat.push({ Param: "QualityProject", Value: $('#QualityProject').val() });
                            dat.push({ Param: "Category", Value: $('#Category').val() });
                            ShowReport(dat, url);
                        }

                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
</script>
@Scripts.Render("~/bundles/datetimepicker/js")

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>