﻿
@{
    ViewBag.Title = "Maintain Factor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Factor
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" id="divData">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadIndexGridDataPartial();
    });

    function LoadIndexGridDataPartial() {
        $("#divData").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CJC/MaintainFactor/LoadIndexGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#divData").html(result);
            },
            error: function () {
            }
        });
    }
</script>
