﻿@using IEMQSImplementation
<script>

    $(document).ready(function () {
        var table = $('#tblCompleteTravelerIndexData');
        var oTableHeader = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TVL/CompleteTraveler/LoadCompleteTravelerIndexDataTable?status=" + '@ViewBag.status',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Project",
                    "ColName": "ProjectNo",
                    "sWidth": "15%"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "TravelerNo",
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "BU",
                    "ColName": "tvl40.BU+'-'+bcom2.t_desc",
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Location",
                    "ColName": "tvl40.Location+'-'+lcom2.t_desc",
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "AssemblyNo",
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "SubAssemblyNo",
                    "attr":"numeric"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%"
                },
            ]
        });
        table.dtSearchFilter();
    });
</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Complete  Traveler Projects
                </div>
                <div class="tools" id="dvExportHeader">
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblCompleteTravelerIndexData" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Project</th>
                            <th class="all">Traveler No</th>
                            <th class="all">BU</th>
                            <th class="all">Location</th>
                            <th class="all">Identification No</th>
                            <th class="all">Identification Sr No</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

