﻿@using IEMQSImplementation
@model TVL002
@{
    ViewBag.Title = "Reference Document Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUpload = "fuAttachmentUpload";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<div class="page-content">
    <div class="portlet light ">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">Reference Document Details</span>
                </div>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmRefDocDetails" }))
            {
                @Html.HiddenFor(model => model.HeaderId)
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Project No<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtProjectNo" value="" name="txtProjectNo" class="form-control col-md-3" maxlength="12" />
                                        @*@Html.TextBoxFor(m => m.ProjectNo, new { @class = "form-control col-md-4", @maxlength = "12", @style = "text-transform:uppercase" })*@
                                        @Html.HiddenFor(m => m.ProjectNo)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @*<label class="control-label">Reference Document<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RefDocument, new { @class = "form-control col-md-4", @maxlength = "100" })
                                        </div>*@
                                </div>
                                <div class="col-md-4">
                                    @*<label class="control-label">Revision No.<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RefDocRevNo, new { @class = "form-control col-md-4 numeric-only", @maxlength = "5" })
                                        </div>*@
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="col-md-12">
                                        <label class="control-label">Planning Remarks</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlanningRemarks, new { @class = "form-control col-md-3", @maxlength = "300" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">Document Type<span class="required"> * </span></label>
                                        <div class="">
                                            <input type="text"  id="txtDocType"  class="form-control col-md-3" />
                                            @Html.HiddenFor(m =>m.DocType)
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: 20px">
                                        <div class="col-md-12">
                                            <label class="control-label">Attachments</label>
                                            <div class="">
                                                <div id="dv@(AttachmentUpload)"></div>
                                            </div>
                                        </div>
                                    </div>*@
                        </div>
                        <div id="dvTravelerRefData">

                            @*<div class="portlet-title tabbable-line">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#Traveler_HeaderRef_All" name="tabStatus" id="tabAll" spara="All" data-toggle="tab">ALL</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="Traveler_HeaderRef_All">
                                        </div>
                                    </div>
                                </div>*@

                        </div>
                        <hr />
                        <div class="col-md-12" style="text-align:right;">
                            @*@if (ViewBag.IsEditApplicable)
                                {
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                }
                                @if (ViewBag.IsDeleteApplicable)
                                {
                                    <input type="button" class="btn reject" id="btnDelete" value="Delete" />
                                }*@
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">

    var isSelected = false;
    var Projectno;
    $(document).ready(function () {
        var lstGender = @Html.Raw(Json.Encode(@ViewBag.lntintervention));
        //FillInlineAutoComplete($("#txtDocType"), lstGender, $("#DocType"));

        if ('@ViewBag.IsEditApplicable'.toLowerCase() == "false") {
            $('#txtProjectNo').attr('disabled', true);
            $("#RefDocument").attr('disabled', true);
            $("#RefDocRevNo").attr('disabled', true);
            $("#PlanningRemarks").attr('disabled', true);
        }

        var HeaderId = $("#HeaderId").val();

        $(".numeric-only").autoNumeric('init', { aSep: '', vMin: "0", vMax: "99999" });

        var UploadPath = "";
        if (parseInt(HeaderId) > 0) {
            $("#txtProjectNo").prop("readonly", "readonly");
            $("#dvTravelerRefData").show();
            $("#txtProjectNo").val('@Model.ProjectNo');
            Projectno = '@Html.Raw((String)Model.ProjectNo)';
            UploadPath = "TVL002/" + HeaderId;

            BindTravelerRefHeaderList('ALL', $("#txtProjectNo").val());
        }

        @*var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowDeleteAction = '@ViewBag.IsEditApplicable';
        objAttachmentUpload.ShowAttachmentBtn = '@ViewBag.IsEditApplicable';
        objAttachmentUpload.FolderPath = UploadPath;
        objAttachmentUpload.IsRequired = true;
        objAttachmentUpload.LoadCallbackFunction = HideUpload;
        LoadFileUploadPartialView(objAttachmentUpload);*@

        @*LoadFileUploadPartialView('dv@(AttachmentUpload)', false, '@AttachmentUpload', UploadPath,
                                    null, null, null, '@ViewBag.IsEditApplicable', '@ViewBag.IsEditApplicable', null, null, true, "", "", "", "", HideUpload)*@

        FillProjectNos();

        function HideUpload() {
            $('#btnUploadAll@(AttachmentUpload)').hide()
        }

        $('#frmRefDocDetails').validate({
            rules: {
                txtProjectNo: {
                    required: true
                },
                RefDocument0: {
                    required: true
                },
                RefDocRevNo0: {
                    required: true
                },
                RefDocRevNo0: {
                    required: true
                },
                IssueDate0: {
                    required: true
                },
                txtdoctype0: {
                    required: true
                },
            },
            messages: {
                txtProjectNo: {
                    required: "Project no is required"
                },
                RefDocument0: {
                    required: "Reference document is required"
                },
                RefDocRevNo0: {
                    required: "Revision no is required"
                },
                IssueDate0: {
                    required: "Issue Date is required"
                },
                PlanningRemarks0: {
                    required: "Refrence Document Descrption is required"
                },
                txtdoctype0: {
                    required: "Document Type is required"
                }
            }
        });

        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + "/TVL/MaintainRefDoc";
        });

        //$("#btnDelete").click(function () {
        //    DeleteRefDoc($("#HeaderId").val());
        //});

        @*$("#btnSave").click(function () {
            if ($("#frmRefDocDetails").valid()) {
                if (getHasAttachmentsForSubmit('@(AttachmentUpload)')) {
                    var DocType=$("#txtDocType").val();
                    $("#DocType").val(DocType);
                    var frmSaveHeaderValue = $("#frmRefDocDetails").serializeArray();
                    var formdata = new FormData();

                    if (frmSaveHeaderValue != null && frmSaveHeaderValue != undefined) {
                        $.each(frmSaveHeaderValue, function (key, input) {
                            formdata.append(input.name, input.value);
                        });

                        $.ajax({
                            url: WebsiteURL + "/TVL/MaintainRefDoc/SaveData",
                            type: "POST",
                            data: formdata,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                if (res.Key) {
                                    $("#HeaderId").val(res.HeaderId);
                                    UpdateFolderPathAndSave@(AttachmentUpload)("TVL002/" + res.HeaderId);

                                    DisplayNotiMessage("success", res.Value, "Success");
                                }
                                else
                                    DisplayNotiMessage("error", res.Value, "Error");
                            },
                            error: function (data) {
                                alert(data.value);
                            }
                        });
                    }
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        })
        $('a[name="tabStatus"]').click(function () {
            BindTravelerRefHeaderList($(this).attr('spara'), $("#txtProjectNo").val());
        });*@
    });
    function SaveRefDocumentHeader()
    {
        if ($("#frmRefDocDetails").valid()) {
            @*if (getHasAttachmentsForSubmit('@(AttachmentUpload)')) {*@
            var DocType=$("#txtDocType").val();
            $("#DocType").val(DocType);
            var frmSaveHeaderValue = $("#frmRefDocDetails").serializeArray();
            var formdata = new FormData();

            if (frmSaveHeaderValue != null && frmSaveHeaderValue != undefined) {
                $.each(frmSaveHeaderValue, function (key, input) {
                    formdata.append(input.name, input.value);
                });

                $.ajax({
                    url: WebsiteURL + "/TVL/MaintainRefDoc/SaveData",
                    type: "POST",
                    data: formdata,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.Key) {
                            $("#HeaderId").val(res.HeaderId);
                            //UpdateFolderPathAndSave@(AttachmentUpload)("TVL002/" + res.HeaderId);
                            $('#tblRefDocument').DataTable().ajax.reload();
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) {
                        alert(data.value);
                    }
                });
            }
            //}
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }
    function UpdateRefDocumentHeader(objColumn, rowID) {

        var columnValue = $(objColumn).val();

        var columnName = $(objColumn).attr("colname");
        if (columnName == "txtdoctype") {
            columnName = "DocType";
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/MaintainRefDoc/UpdateRefDocumentHeader",
            datatype: 'json',
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {

                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function FillProjectNos() {
        $("#txtProjectNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetTravelerProjects",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#txtProjectNo").val(ui.item.value);
                    $("#ProjectNo").val(ui.item.value);
                    Projectno = ui.item.value;
                    $("#dvTravelerRefData").show();
                    BindTravelerRefHeaderList('ALL', $("#ProjectNo").val());
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    }

    function DeleteRefDoc(_headerId) {

        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/TVL/MaintainRefDoc/DeleteRefDoc",
                            datatype: 'json',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { headerId: _headerId },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    $('#tblRefDocument').DataTable().ajax.reload();
                                   // window.location.href = WebsiteURL + "/TVL/MaintainRefDoc";
                                }
                            },
                            error: function () {
                                alert('error...');
                            }
                        });

                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });

    }
    function FillInlineAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(element).val(ui.item.value);

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();

                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function BindTravelerRefHeaderList(status, Projectno) {

        $("#close").hide();
        $("#dvTravelerRefData").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/MaintainRefDoc/GetTravelerRefDataPartial",
            data: { Status: status, Projectno: Projectno},
            datatype: 'html',

            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#dvTravelerRefData").html(result);

            },
            error: function () {
            }
        });
    }

    function OpenRefDocument(HeaderId,IsViewMode){
        var showAttachmentbtn = (IsViewMode==1);
        var objFileUpload1 = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objFileUpload1.ShowDeleteAction = showAttachmentbtn;
        objFileUpload1.ShowAttachmentBtn = showAttachmentbtn;
        //objFileUpload1.SuccessCallbackFunction="SubmitSuccessCalbackFun()";
        objFileUpload1.IsRequired=false;
        objFileUpload1.LoadInPopup=true;
        if(HeaderId>0){
            objFileUpload1.FolderPath="TVL002/" + HeaderId;
            objFileUpload1.ShowUploadBtn=true;
        }
        else{
            objFileUpload1.FolderPath="";
            objFileUpload1.ShowUploadBtn=false;
        }
        LoadFileUploadPartialView(objFileUpload1);
    }
    function RefDocumentRevisions(_headerId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/MaintainRefDoc/RevisionHistoryGridDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: _headerId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Reference Document Revision History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
