﻿@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">        
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Project Details
                </div>
                <div class="tools" id="dvProjects">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authentication/UserProfile/GenerateExcel?contract=" + ViewBag.Contract, GridType = clsImplementationEnum.GridType.ProfileProjects.GetStringValue(), dvId = "#dvProjects" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%;" id="tblProjectDetails" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Project</th>
                            <th class="min-phone-l">Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var contract = '@ViewBag.Contract';
    var bu = '@ViewBag.BU';
    $(document).ready(function () {
        var table = $('#tblProjectDetails');
        var url = "/Authentication/UserProfile/LoadProjectDetails";
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + url,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "contract", "value": contract },
                            { "name": "bu", "value": bu }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'async': false,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvProjects").val(result.whereCondition);
                        $(".txtStrSort", "#dvProjects").val(result.strSortOrder);
                    },
                });
            },
            "aoColumns": [
                  {
                      "sClass": "center",
                      "name": "t_cprj",
                  },
                  {
                      "sClass": "center",
                      "name": "t_dsca",
                  },
            ]
        });
    });


</script>