﻿@model IEMQSImplementation.PLN017_Log
@{
    string AttachmentUpload = "fuAttachmentUpload";
}
<script>
    $(document).ready(function () {

        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/PLN/ApproveStoolPlan/Index';
        });
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));

        if ('@ViewBag.Project' != '' && '@ViewBag.Project' != 'null' && '@ViewBag.Project' != null && '@ViewBag.Project' != undefined) {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").attr('readonly','readonly');
        }
        if ('@ViewBag.ApproverName' != '' && '@ViewBag.ApproverName' != 'null' && '@ViewBag.ApproverName' != null && '@ViewBag.ApproverName' != undefined) {
            $("#txtApprovedBy").val('@ViewBag.ApproverName');
        }
        if ('@ViewBag.customerName' != '' && '@ViewBag.customerName' != 'null' && '@ViewBag.customerName' != null && '@ViewBag.customerName' != undefined) {
            $("#txtCustomer").val('@ViewBag.customerName');
        }
        $('#txtRevNo').val("R"+@Model.RevNo);
        if ('@Model.Status' == 'Approved') {
            $("#ProcessLicensor").prop('disabled', true);
            $("#Product").prop('disabled', true);
            $("#inpAttach").hide();
            $("#btnfile").hide();

        }
        $("#Product").autocomplete({
            source: arrayProduct,
            minLength: 0,
            autoFocus: true,
        }).focus(function(){
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });
        Loadfileupload();
        $("#Product").blur(function(){
            if($.inArray($(this).val(), arrayProduct) == -1)
            {
                $(this).val('');
            }
        });
        $("#btnSaveHeader").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var arrayLineIds = new Array();
                var HeaderId = parseInt($('input[name="chkYesNo"]:first').attr('sheaderid'));
                $('input[name="chkYesNo"]:checked').each(function(){
                    arrayLineIds.push(parseInt($(this).attr('slineid')));
                });
                if(arrayLineIds.length > 0)
                {
                    $("#hdLineId").val(arrayLineIds.join(","));
                }
                if(HeaderId != null && HeaderId > 0 && HeaderId != undefined)
                {
                    $("#hdHeaderId").val(HeaderId);
                }
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                var status = $("#Status").val();
                SaveHeaderWithReviseCheck(frmSaveHeaderValue);

            }
        });

    });
    function Loadfileupload()
    {
        @*var UploadPath="";
        var Headerid=@(Model.HeaderId);
        if(Headerid>0)
        {
            UploadPath = "PLN017/@(Model.HeaderId)/@(Model.RevNo)/";
        }
        var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.IsRequired = false;
        objAttachmentUpload.ShowAttachmentBtn = false;
        objAttachmentUpload.ShowDeleteAction = false;
        objAttachmentUpload.FolderPath = UploadPath;
        LoadFileUploadPartialView(objAttachmentUpload);*@

        var objFile = {
            TableName: 'PLN017//' + '@Model.HeaderId' + '//' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'PLN017//' + '@Model.HeaderId' + '//' + '@Model.RevNo'+'//1',
            ControlID: '@(AttachmentUpload)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false,
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)', false);
    }
</script>
<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }
</style>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Stool Plan</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <input type="hidden" id="hdHeaderId" name="hdHeaderId" value="" />
            <input type="hidden" id="hdLineId" name="hdLineId" value="" />
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Stool Plan Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Document</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">CDD</label>
                                    <div class="">
                                        @if (Model.CDD.HasValue)
                                        {
                                            @Html.TextBox("CDD", Model.CDD.Value.ToShortDateString(), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.TextBox("CDD", "", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        }
                                        @*@Html.TextBoxFor(m => m.CDD, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Rev. No.</label>
                                    <div class="">
                                        <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Plan</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Process Licensor<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Product<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                               

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Approver<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Return Remark</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div id="divPDNIdenticalproject"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    @*@{ Html.RenderPartial("_AttachmentPartial"); }*@
                                    <div id="dv@(AttachmentUpload)"></div>
                                </div>
                            </div>
                        </div>       
                    </fieldset>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12" style="text-align:right;">
        <input type="button" class="btn btnclose" id="btncancel" value="Close" style="margin-right:5px;" />
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>