﻿@model IEMQSImplementation.TVL050
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmOffer" }))
{
    @Html.HiddenFor(model => model.HeaderId)
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Location of Job</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.OfferLocation, new { @class = "form-control", @maxlength = "20", })
                            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Shop Used Ref Doc Rev No</label>
                        <div class="">
                            @Html.TextBox("txtShopUsedRefDocRevNo","", new { @class = "form-control",  @maxlength = "100", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        Getrevno('@ViewBag.headerid', 'Offer');
        $('#frmOffer').validate({
            rules: {
                OfferLocation: {
                    required: true,
                },
               // txtShopUsedRefDocRevNo: { required: true, }
            },
            messages: {
                OfferLocation: {
                    required: "Offer Location is required"
                },
                //txtShopUsedRefDocRevNo: { required: "Used Ref Doc Rev No is required", }
            }
        });
    });
    function Getrevno(headerid,status) {

        $.ajax({
            url: WebsiteURL + "/tvl/OfferInspection/GetRefrevnodetails",
            type: "GET",
            async: false,
            data: { Headerid: headerid, Status: status },
            success: function (data) {
                $("#txtShopUsedRefDocRevNo").val(data.Refrevno);


            }
        })

    }
</script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>