﻿@using IEMQSImplementation
@model TVL050
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Re-Offer Request </span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.TestResult))
                        {
                    <div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">
                            Status : <span id="spnStatus">@Html.DisplayFor(m => m.TestResult)</span>
                        </span>
                    </div>
                        }
                    }
                </div>
                <div class="dvHeader">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                    @Html.HiddenFor(m => m.HeaderId)
                    @Html.HiddenFor(m => m.RequestId)
                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend> Project Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project No.</label>
                                            <div class="">
                                                <input type="text" id="txtProjectNo" value="@Html.Raw((string)ViewBag.ProjectNo)" name="txtProjectNo" class="form-control" readonly />
                                                @Html.HiddenFor(m => m.ProjectNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Customer</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Customer, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Request Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Request No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Iteration No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReqIterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Request Seq. No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReqSequenceNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Traveler Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Traveler No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TravelerNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Traveler Rev No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TravelerRevNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Identification No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Identification Sr No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SubAssemblyNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Operation No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OperationNo, Model.OperationNo.Value.ToString("G29"), new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Operation Revision No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OperationRevisionNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Activity</label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.Activity, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Ref. Document Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Ref. Document</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RefDocument, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ref. Doc. Rev. No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RefDocRevNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Shop Used Ref. Doc. Rev. No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ShopUsedRefDocRevNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">L&T Inspector Used Ref. Doc. Rev. No.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QCUsedRefDocRevNo, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Intervention Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">L&T Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.LTIntervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">I1 Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I1Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I1Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I1ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">I2 Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I2Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I2Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I2ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">I3 Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I3Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I3Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I3ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">I4 Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I4Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I4Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.I4ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Inspection Record Required </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.InspectionRecordRequired, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Offer Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Location of Job</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OfferLocation, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Remarks</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Shop Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TVL040.ShopRemark, new { @class = "form-control col-md-3", @maxlength = "100", @id="txtShopRemark" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Inspection Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QCRemark, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>User Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Offered By</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OfferedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Offered On</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OfferedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Inspected By</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.InspectedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Inspected On</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.InspectedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </fieldset>
                        </div>
                    </div>
                    }
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-12" style="text-align:right;">
                            <input type="button" class="btn save" id="btnSave" name="GenerateAction" value="Save" onclick="SaveRemark('@Model.RequestId')" />
                            <input type="button" class="btn offer" id="btnOffer" name="GenerateAction" value="Re-Offer" onclick="RequestOffer('@Model.RequestId')" />
                            <a href="~/TVL/OfferInspection/OfferOperation/@ViewBag.OperationId" style="margin-right:5px;" class="btn btnclose">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        //var element = $("#ShopUsedRefDocRevNo");
        //var regExp = /[0-9\,]/;
        //$("#ShopUsedRefDocRevNo").on('keydown keyup', function (e) {
        //    var value = String.fromCharCode(e.which) || e.key;
        //    // Only numbers and commas
        //    if (!regExp.test(value)
        //    && e.which != 188 // ,
        //    && e.which != 8   // backspace
        //    && e.which != 46  // delete
        //    && (e.which < 37  // arrow keys
        //    || e.which > 40)) {
        //        e.preventDefault();
        //        return false;
        //    }
        //});
        $("#TravelerRevNo").val("R" + '@Model.TravelerRevNo');
        $("#OperationRevisionNo").val("R" + '@Model.OperationRevisionNo');

        if ('@Model.OfferedBy' != "" && '@Model.OfferedBy' != null && '@Model.OfferedBy' != undefined
            && '@Model.OfferedOn' != "" && '@Model.OfferedOn' != null && '@Model.OfferedOn' != undefined) {
            $("input[name='GenerateAction']").hide();
            $("#QCRemark").attr("disabled", true);
            $("#txtShopRemark").attr("disabled", true);
        }


    });

    function RequestOffer(requestId) {
        if ('@Model.IsReworkTraveler'.toLowerCase() == "true" && '@Model.TVL040.ColorFlag' == '@clsImplementationEnum.ColorFlagForTraveler.Orange.GetStringValue()') {
            bootbox.dialog({
                message: "All stages related to rework traveller is closed",
                buttons: {
                    'confirm': {
                        label: 'OK',
                        className: 'btn green',
                        callback: function () {
                            ReOffer(requestId);
                        }
                    },
                    'cancel': {
                        label: 'Close',
                        className: 'btn btnclose'
                    }
                }
            });
        }
        else {
            ReOffer(requestId);
        }
    }
    function SaveRemark(requestid) {
        $.ajax({
            url: WebsiteURL + '/TVL/OfferInspection/SaveShopRemark',
            type: "Post",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            dataType: "JSON",
            data: {
                requestid: requestid,
                remark: $("#txtShopRemark").val(),
             //   ShopUsedRefDocRevNo: $("#ShopUsedRefDocRevNo").val(),
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                return false;
            }
        })
    }
    function ReOffer(requestId) {
        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                           //+ "$('#frmOfferData').validate({"
                           //+ " rules: {"
                           //+ "txtShopUsedRefDocRevNo: {"
                           //+ "required: true,"
                           //+ "},"
                           //+ "messages: {"
                           //+ "txtShopUsedRefDocRevNo: {"
                           //+ "required: 'Used Ref Doc Rev No is required'"
                           //+ "}"
                           //+ "}"
                           //+ "}"
                           //+ "});"
                           + "Getrevno(" + requestId + ",'Reoffer')"
                           + "});</scr" + "ipt>"
                           + " <div>"
                           + "<form method='post' id='frmOfferData'  class='form-horizontal' action=''>"
                           + "<div class='form-group'>"
                           + "<div class='col-md-12'>"
                           + "<label class='control-label'>Used Ref Doc Rev No</label>"
                           + "<div class=''>"
                           + "<input type='text' id='txtShopUsedRefDocRevNo' readonly='readonly' class='form-control' name='txtShopUsedRefDocRevNo'/>"
                           + "</div>"
                           + "</div>"
                           + "</div>"
                           + "</form>"
                           + "</div>";
        bootbox.dialog({
            title: 'Re-Offer',
            message: "Do you want to Re-Offer? " + strHtml,
            size: 'small',
            buttons: {
                'confirm': {
                    label: 'Re-Offer',
                    className: 'btn green',
                    callback: function () {
                        if ($("#frmOfferData").valid()) {
                            var usedrefrevno = $("#txtShopUsedRefDocRevNo").val();
                            generateOffer(requestId, usedrefrevno, true);
                        }
                        else { return false;}
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
    function Getrevno(RequestId, status) {

        $.ajax({
            url: WebsiteURL + "/tvl/OfferInspection/GetRefrevnodetails",
            type: "GET",
            async: false,
            data: { Headerid: RequestId,Status: status  },
            success: function (data) {
                $("#txtShopUsedRefDocRevNo").val(data.Refrevno);


            }
        })

    }
    function generateOffer(requestId, usedrefrevno, isReoffer){
        $.ajax({
            url: WebsiteURL + '/TVL/OfferInspection/RequestOffered',
            type: "Post",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            dataType: "JSON",
            data: {
                OfferLocation: $("#OfferLocation").val(),
                remark: $("#txtShopRemark").val(),
                ShopUsedRefDocRevNo: $("#ShopUsedRefDocRevNo").val(),
                requestId: requestId,
                isReoffer: isReoffer
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("input[name='GenerateAction']").hide();
                    $("#txtShopRemark").attr("disabled", true);
                    window.setTimeout('window.location.href = "' + WebsiteURL + '/TVL/OfferInspection/OfferOperation/' + @ViewBag.OperationId +'"', 2000)
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                return false;
            }
        })
    }
</script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>