﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script>
    $(document).ready(function () {
        LoadGetFillerMetalList();

        $("#btnAddFillerMetal").click(function () {
            AddFillerMetalMaster();
        });

    });

    function AddFillerMetalMaster(id) {
        $.ajax({
            url: WebsiteURL + "/WPS/FillerMetalMaster/FillerMetalMasterPartial",
            type: "POST",
            datatype: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { id: id },
            success: function (data) {
                bootbox.dialog({
                    title: "Filler Metal Master",
                    message: data,
                    size: "large"
                })
            },
            error: function () {
                response = "";
            }
        });
        
    }
    
    function FillAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function DeleteFillerMetal(id) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/WPS/FillerMetalMaster/DeleteFillerMetal",
                            type: "POST",
                            datatype: "json",
                            data: { id: id },
                            success: function (res) {
                                if (res.Key) {
                                    DisplayNotiMessage("success", res.Value, "Success");
                                    $('#tblFillerMetalList').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", res.Value, "Error");
                                }
                            },
                            error: function () {
                                alert("error");
                                response = "";
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });

        //bootbox.confirm("Do you sure want to delete?", function (data) {
        //    if (data) {
        //        $.ajax({
        //            url: "/WPS/FillerMetalMaster/DeleteFillerMetal",
        //            type: "POST",
        //            datatype: "json",
        //            data: { id: id },
        //            success: function (res) {
        //                if (res.Key) {
        //                    DisplayNotiMessage("success", res.Value, "Success");
        //                    $('#tblFillerMetalList').DataTable().ajax.reload();
        //                }
        //                else {
        //                    DisplayNotiMessage("error", res.Value, "Error");
        //                }
        //            },
        //            error: function () {
        //                alert("error");
        //                response = "";
        //            }
        //        });
        //    }
        //});
    }

    function LoadGetFillerMetalList() {
        var table = $('#tblFillerMetalList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPS/FillerMetalMaster/LoadFillerMetalListDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                 {
                     "sClass": "center",
                     "name": "AWSClass",
                     "ColName": "wps2.AWSClass"
                 },
                {
                    "sClass": "center",
                    "name": "FNumber",
                    "ColName": "wps2.FNumber"
                },
                {
                    "sClass": "center",
                    "name": "ConsumableSize",
                    "ColName": "wps2.ConsumableSize"
                },
                {
                    "sClass": "center",
                    "name": "CreatedBy",
                    "ColName": "(ecom3.t_psno+'-'+ecom3.t_name)"
                },
                {
                    "sClass": "center",
                    "name": "CreatedOn",
                    "attr": "date",
                    "ColName": "wps2.CreatedOn"
                },
                {
                    "sClass": "center",
                    "name": "Location",
                    "ColName": "(wps2.Location+'-'+lcom2.t_desc)"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "<center>";
                        buttons += '<a name="btnAction" onClick="AddFillerMetalMaster(' + row[0] + ')" title="View" id="btnEdit" class="iconspace"><i class="fa fa-eye"></i></a>';
                        buttons += '<i title="Delete"  style="cursor:pointer;" name="btnAction" id="btnDelete" onClick="DeleteFillerMetal(' + row[0] + ')" class="fa fa-trash-o iconspace"></i>';
                        buttons += '</center>'
                        return buttons;
                    }
                },

            ]
        });

        table.dtSearchFilter();
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Filler Metal Master
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <button id="btnAddFillerMetal" class="btn green">Add New</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Filler Metal List
                                </div>
                                <div class="tools" id="dvExportHeader">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPS/FillerMetalMaster/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblFillerMetalList" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>                                            
                                            <th style="display:none;">Id</th>
                                            <th class="min-phone-l">AWS Class</th>
                                            <th class="min-phone-l">FNo.</th>
                                            <th class="min-phone-l">Consumable Size</th>
                                            <th class="min-phone-l">Created By</th>
                                            <th class="min-phone-l">Created On</th>
                                            <th class="min-phone-l">Location</th>
                                            <th class="min-phone-l">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

