﻿
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCopyTPIAgency" }))
{
    @Html.Hidden("Id", (Int32)ViewBag.Id)
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Quality Project<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtQualityProject" disabled value="@Html.Raw((String)ViewBag.QualityProject)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Stage<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtStage" disabled value="@Html.Raw((String)ViewBag.Stage)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">First TPI Agency<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtFirstTpiagency" disabled value="@Html.Raw((String)ViewBag.FirstTPIAgency)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">First TPI Intervention<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtFirstintervention" disabled value="@Html.Raw((String)ViewBag.FirstTPIIntervention)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Second TPI Agency</label>
                        <div class="">
                            <input type="text" id="txtSecondTpiagency" disabled value="@Html.Raw((String)ViewBag.SecondTPIAgency)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Second TPI Intervention</label>
                        <div class="">
                            <input type="text" id="txtSecondintervention" disabled value="@Html.Raw((String)ViewBag.SecondTPIIntervention)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Third TPI Agency</label>
                        <div class="">
                            <input type="text" id="txtThirdTpiagency" disabled value="@Html.Raw((String)ViewBag.ThirdTPIAgency)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Third TPI Intervention</label>
                        <div class="">
                            <input type="text" id="txtThirdintervention" disabled value="@Html.Raw((String)ViewBag.ThirdTPIIntervention)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Forth TPI Agency</label>
                        <div class="">
                            <input type="text" id="txtForthTpiagency" disabled value="@Html.Raw((String)ViewBag.ForthTPIAgency)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Forth TPI Intervention</label>
                        <div class="">
                            <input type="text" id="txtForthintervention" disabled value="@Html.Raw((String)ViewBag.ForthTPIIntervention)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Fifth TPI Agency</label>
                        <div class="">
                            <input type="text" id="txtFifthTpiagency" disabled value="@Html.Raw((String)ViewBag.FifthTPIAgency)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Fifth TPI Intervention</label>
                        <div class="">
                            <input type="text" id="txtFifthintervention" disabled value="@Html.Raw((String)ViewBag.FifthTPIIntervention)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Sixth TPI Agency</label>
                        <div class="">
                            <input type="text" id="txtSixthTpiagency" disabled value="@Html.Raw((String)ViewBag.SixthTPIAgency)" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Sixth TPI Intervention</label>
                        <div class="">
                            <input type="text" id="txtSixthintervention" disabled value="@Html.Raw((String)ViewBag.SixthTPIIntervention)" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Stage Code<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtStageCode" value="" name="txtStageCode" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        $('#frmCopyTPIAgency').validate({
            rules: {
                txtStageCode: {
                    required: true,
                }
            },
            messages: {
                txtStageCode: {
                    required: "Please Select Stage Code"
                },
            }
        });

        $("#txtStageCode").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainTPIAgencyIntervention/GetPendingTPIStageByQualityProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term.trim(),
                        qualityProject: '@ViewBag.QualityProject'
                    },
                    success: function (data) {
                        var tempData = [];
                        for (var i = 0; i < data.Data.length; i++) {
                            tempData[i + 1] = data.Data[i]
                        }
                        if (data.Data.length > 0)
                            tempData[0] = "ALL";

                        response($.map(tempData, function (item) {
                            return { label: item, value: item };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {

                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    });
</script>