﻿@model IEMQSImplementation.PRL120
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader"  class="dvDisable" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.HeaderId)
                                <table class="FormTable tblNotes">
                                    <tr>
                                        <td class="subtitle"> PROJECT NUMBER.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> PROJECT DESCRIPTION.</td>
                                        <td>@ViewBag.ProjectDesc</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ProtocolNo, new { @class = "form-control", @maxLength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">INSPECTION CERTIFICATE NO :</td>
                                        <td>@Html.TextBoxFor(m => m.InspectionCertificateNo, new { @class = "form-control textleft", @maxlength = "50", @role = "QC" })</td>
                                    </tr>

                                    <tr>
                                        <td class="title textleft" style="width:2% !important">EQUIPMENT NO:</td>
                                        <td>@Html.TextBoxFor(m => m.EquipmentNo, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">INSPECTION AGENCY:  </td>
                                        <td> @Html.TextBoxFor(m => m.InspectionAgency, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">DRAWING NO & REV. NO:</td>
                                        <td>@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">PROCEDURE NO & REV. NO:</td>
                                        <td> @Html.TextBoxFor(m => m.ProcedureNo, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">TEST DESCRIPTION: </td>
                                        <td> @Html.TextBoxFor(m => m.TestDescription, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>

                                </table>
                                <table class="FormTable">
                                    <tr>
                                        
                                        <td class="title textleft noTopBoder noBottomBoder" style="width:2% !important">
                                            PNEUMATIC TEST DATE:
                                        </td>
                                        <td>
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.PneumaticTestDate, "{0:dd/MM/yyyy}", new { @class = "form-control textleft", @readonly = "readonly", style = "width:200px !important;", @role = "QC" })
                                                <span class="input-group-btn" style="float: left;top: -5px;">
                                                    <button class="btn default calender1" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>

                                        <td class="title textleft" style="width:2% !important">TEST POSITION:</td>
                                        <td> @Html.TextBoxFor(m => m.TestPosition, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">TEST PRESSURE REQUIRED: </td>
                                        <td>@Html.TextBoxFor(m => m.TestPressureRequired, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                        <td class="title textleft" style="width:2% !important">TEST PRESSURE ACTUAL:</td>
                                        <td> @Html.TextBoxFor(m => m.TestPressureActual, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">HOLDING TIME REQUIRED:</td>
                                        <td>@Html.TextBoxFor(m => m.HoldingTimeRequired, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                        <td class="title textleft" style="width:2% !important">HOLDING TIME ACTUAL:</td>
                                        <td> @Html.TextBoxFor(m => m.HoldingTimeActual, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title textleft" style="width:2% !important">TEMPERATURE IF REQUIRED:</td>
                                        <td>@Html.TextBoxFor(m => m.TemperatureIfRequired, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                        <td class="title textleft" style="width:2% !important">TEMPERATURE ACTUAL:</td>
                                        <td> @Html.TextBoxFor(m => m.TemperatureActual, new { @class = "form-control textleft", @maxlength = "200", @role = "QC" })</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left; margin-top: 7px;"></span>
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">GridId</th>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">GAUGE NO :</th>
                                                    <th class="all">CALIBRATION VALID UP TO : </th>
                                                    <th class="all">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                             </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <table class="FormTable">
                                            <tr>
                                                <td class="subtitle textleft " style="width: 3% !important">
                                                    GRAPH (TIME-PRESSURE)  ATTACHED
                                                </td>
                                                <td class=" textleft ">@Html.TextBoxFor(model => model.GraphAttached, new { @class = "form-control inlinetextbox", @role = "QC" })</td>

                                            </tr>
                                            <tr>
                                                <td class="subtitle textleft" style="width: 3% !important">
                                                    REMARKS : NO PRESSURE DROP AND NO LEAKAGE OBSERVED, LEAKAGE CHECKED BY SOAP SUDS METHOD.
                                                </td>
                                                <td>@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control textleft ", @maxlength = "200", @role = "QC" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (Convert.ToString(ViewBag.isEditable).ToLower() == "true")
                                    {
                                        <input type="button" class="btn save" id="btnSave" value="Save" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole)
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"], setDateTimePicker)
        

        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));
        FillProtocolAutoComplete($('#GraphAttached'), lstYesNo, null, false) 

        SetEditable(isEdit)
        //if (isEdit.toLowerCase() == "true") { }
        //else {
        //    $('div.dvDisable :input')
        //        .not($('.dataTables_length').find('input,select,search,textarea'))
        //        .not($('.dataTables_filter').find('input,select,search,textarea'))
        //        .prop('disabled', true);
        //    $('div.dvDisable a')
        //        .not($('.dataTables_paginate').find('input,select,search,textarea'))
        //        .not("#btnPrint")
        //        .hide();
        //}
    });

    function setDateTimePicker() {
        $('input[colname="CalibrationUpto"]').each(function () {
            $(this).attr('type', 'date');
        });
    }

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL025", $('#HeaderId').val());
    });
    function SetTableColumns() {
        Line1Columns = [
              {
                  "sClass": "hide",
                  "bSortable": false,
              },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center width150px",
                    "name": "GaugeNo",
                },
                {
                    "sClass": "center width150px",
                    "name": "CalibrationUpto",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }
</script>