﻿@model IEMQSImplementation.PRO260
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0, s7 = 0, s8 = 0, s9 = 0, s10 = 0, s11 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title">
                                    @ViewBag.Title.ToString() &nbsp;
                                    @Html.DropDownListFor(model => model.ProtocolHeaderName, new SelectList(@ViewBag.ProtocolHeaderName, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox", @role = "QC" })
                                </span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>TOTAL LENGTH</strong><br /><br />
                                                    <strong>REQUIRED:</strong> @Html.TextBoxFor(model => model.ReqTotalLength, new { @class = "form-control  tblHeaderTextBox", @style = "display: inline-block;width: 100px; ", @maxlength = "20", @role = "QC" })
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th></th>
                                                            <th></th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO261 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO261 as List<PRO261>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="RequiredValue"> @Html.TextBox("RequiredValue_1_" + @s1, @item.RequiredValue, new { @class = "form-control width125px", @maxlength = "10", @role = "QC" })</td>
                                                                    <td class="ActualValue"> @Html.TextBox("ActualValue_1_" + @s1, @item.ActualValue, new { @class = "form-control width125px", @maxlength = "10", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <table class="FormTable">
                                        <thead>
                                            <tr>
                                                <td class="title">DIMENSION</td>
                                                <td class="title">LENGTH OF 1ST PART</td>
                                                <td class="title">LENGTH OF 2ND PART</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqLengthOfFirstPart, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ReqLengthOfSecondPart, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActLengthOfFisrtPart, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActLengthOfSecondPart, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <table class="FormTable">
                                        <thead>
                                            <tr>
                                                <td class="title" colspan="2"> PROOJECTION IN CASE OF ELBOW / TEE JOINT @Html.DropDownListFor(model => model.ProjectionInCaseOfElbow, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvProjectionInCaseOfElbow\")" })</td>
                                            </tr>
                                            </thead>
                                        <tbody id="dvProjectionInCaseOfElbow">
                                            <tr>
                                                <td> @Html.TextBoxFor(model => model.ReqProjectionInCaseOfElbow, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            </tr>
                                            <tr>
                                                <td> @Html.TextBoxFor(model => model.ActProjectionInCaseOfElbow, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <strong>
                                        <span style="float:left;">
                                            <strong>ORIENTATION OF LONG SEAMS</strong>
                                            @Html.DropDownListFor(model => model.OrientationOfLongSeams, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvOrientationOfLongSeams\")" })
                                        </span>
                                        <br />
                                        <br />
                                    </strong>
                                </div>
                            </div>

                            <div class="col-md-12" id="dvOrientationOfLongSeams">
                                <div class="col-md-12">

                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines2">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>SEAM NO.</th>
                                                            <th>REQ. ORIEN.</th>
                                                            <th>REQ. ARC LENGTH </th>
                                                            <th>ACTUAL ARC LENGTH</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO262 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO262 as List<PRO262>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SeamNo"> @Html.TextBox("SeamNo_2_" + @s2, @item.SeamNo, new { @class = "form-control width125px", @maxlength = "16", @role = "QC" })</td>
                                                                    <td class="ReqOrien"> @Html.TextBox("ReqOrien_2_" + @s2, @item.ReqOrien, new { @class = "form-control width125px", @maxlength = "10", @role = "QC" })</td>
                                                                    <td class="ReqArcLength"> @Html.TextBox("ReqArcLength_2_" + @s2, @item.ReqArcLength, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ActArcLength"> @Html.TextBox("ActArcLength_2_" + @s2, @item.ActArcLength, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>OFFSET READINGS</strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines3">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="3" style="text-align: center;">ALLOWABLE OFFSET: @Html.TextBoxFor(model => model.AllowableOffset, new { @class = "form-control w100 inlinetextbox  ", @maxlength = "10", @role = "QC" })</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3" style="text-align: center;">TOTAL NO OF SPOTS: @Html.TextBoxFor(model => model.TotalSpotNoOffsetReadings, new { @class = "form-control w100 inlinetextbox TotalSpotNoOffsetReadings", @maxlength = "10", @role = "PROD", @onchange = "AddTbl3Spot();" })</th>
                                                        </tr>
                                                        <tr>
                                                            <th>SPOT NO.</th>
                                                            <th>OFFSET</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>

                                                    </thead>
                                                    <tbody id="tbl3Data">
                                                        @if (ViewBag.lstPRO263 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO263 as List<PRO263>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SpotNo"> @Html.TextBox("SpotNo_3_" + @s3, @item.SpotNo, new { @class = "form-control", @maxlength = "20", @role = "PROD", @tabindex = "-1" })</td>
                                                                    <td class="OffSet"> @Html.TextBox("OffSet_3_" + @s3, @item.OffSet, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            

                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <table class="FormTable">
                                        <thead>
                                            <tr>
                                                <td class="title" colspan="2">
                                                    STRADDLING OF BOLT HOLES
                                                    @Html.DropDownListFor(model => model.IsStraddlingOfBoltHoles, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvIsStraddlingOfBoltHoles\")" })
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody id="dvIsStraddlingOfBoltHoles">
                                            <tr>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqStraddlingOfBoltHoles, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActStraddlingOfBoltHoles, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="FormTable">
                                        <thead>
                                            <tr>
                                                <td class="title" colspan="2">
                                                    TILTING OF FLANGE/FORGING/ELBOW
                                                    @Html.DropDownListFor(model => model.IsTiltingOfFlange, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvIsTiltingOfFlange\")" })
                                                </td>
                                            </tr>
                                            </thead>
                                        <tbody id="dvIsTiltingOfFlange">
                                            <tr>
                                                <td class="subtitle">REQUIRED</td>
                                                <td> @Html.TextBoxFor(model => model.ReqTiltingOfFlange, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">ACTUAL</td>
                                                <td> @Html.TextBoxFor(model => model.ActTiltingOfFlange, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <strong>
                                        <span style="float:left;">
                                            <strong>ALIGNMENT READINGS</strong>
                                            @Html.DropDownListFor(model => model.IsAlignmentReadings, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvIsAlignmentReadings\")" })
                                        </span>
                                    </strong>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;" id="dvIsAlignmentReadings">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                        <div class="portlet-title">
                                            <div class="caption">
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div4', this)" id="btnCollapse4" data-target="#div4" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div4">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines4" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>LOCATION</th>
                                                            <th>AT 0°</th>
                                                            <th>AT 90°</th>
                                                            <th>AT 180°</th>
                                                            <th>AT 270°</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO264 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO264 as List<PRO264>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s4 = s4 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Location">@Html.TextBox("Location_4_" + @s4, @item.Location, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                                    <td class="At0">@Html.TextBox("At0_4_" + @s4, @item.At0, new { @class = "form-control calarat0", @maxlength = "10", @role = "PROD", @onchange = "funCalARat0();" })</td>
                                                                    <td class="At90">@Html.TextBox("At90_4_" + @s4, @item.At90, new { @class = "form-control calarat90", @maxlength = "10", @role = "PROD", @onchange = "funCalARat90();" })</td>
                                                                    <td class="At180">@Html.TextBox("At180_4_" + @s4, @item.At0, new { @class = "form-control calarat180", @maxlength = "10", @role = "PROD", @onchange = "funCalARat180();" })</td>
                                                                    <td class="At270">@Html.TextBox("At270_4_" + @s4, @item.At270, new { @class = "form-control calarat270", @maxlength = "10", @role = "PROD", @onchange = "funCalARat270();" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfooter>
                                                        <tr class="outby">
                                                            <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                            <td class="min-phone-l" style="display:none;">LineId</td>
                                                            <td class="datatableFooter" style="text-align:right"> <b>OUT BY </b> (Allowed @Html.TextBoxFor(model => model.OutByAlignmentReadings, new { @class = "form-control inlinetextbox", @maxlength = "10", @role = "QC" })) </td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByAlignmentReadingsAt0, new { @class = "form-control ", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByAlignmentReadingsAt90, new { @class = "form-control ", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByAlignmentReadingsAt180, new { @class = "form-control ", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                            <td class="datatableFooter">@Html.TextBoxFor(model => model.OutByAlignmentReadingsAt270, new { @class = "form-control ", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                        </tr>
                                                    </tfooter>
                                                </table>
                                            </div>
                                            <input id="hdGrid4LastRow" type="hidden" value="@s4" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                <span>1)  PROCEDURE NO &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) INSIDE PENETRATION VERIFIED IN CASE OF SINGLE SIDE FULL PENETRATION WELD JOINT?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                6) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint6, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint6_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="clstd">
                                                7) CLADDED VESSEL @Html.DropDownListFor(model => model.CheckPoint7, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvCheckPoint7\")" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;" id="dvCheckPoint7">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine5" data-gridid="5">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <strong>CLAD STRIPING DETAILS</strong>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div5', this)" id="btnCollapse5" data-target="#div5" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div5">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines5" class="table">
                                                    <thead>
                                                        <tr><th colspan="5" style="text-align: center;">TOTAL NO OF SPOTS :&nbsp;@Html.TextBoxFor(model => model.TotalSpotNoCladStriping, new { @class = "form-control inlinetextbox w100 TotalSpotNoCladStriping", @maxlength = "10", @role = "PROD", @onchange = "AddTbl5SpotClad();" })</th></tr>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th style="text-align:center;vertical-align: middle;">SPOT NO</th>
                                                            <th style="text-align:center;vertical-align: middle;">
                                                                WIDTH
                                                                <br />(REQ: @Html.TextBoxFor(model => model.ReqWidth, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" }))
                                                            </th>
                                                            <th style="text-align:center;">
                                                                DEPTH
                                                                <br />(REQ: @Html.TextBoxFor(model => model.ReqDepth, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" }))
                                                            </th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl5Data">
                                                        @if (ViewBag.lstPRO264_2 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO264_2 as List<PRO264_2>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s5 = s5 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SpotNo">@Html.TextBox("SpotNo_5_" + @s5, @item.SpotNo, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                                    <td class="ActWidth">@Html.TextBox("ActWidth_5_" + @s5, @item.ActWidth, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActDepth">@Html.TextBox("ActDepth_5_" + @s5, @item.ActDepth, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_5_@s5" name="Delete_5_@s5" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input id="hdGrid5LastRow" type="hidden" value="@s5" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td colspan="2" class="noBottomBoder title rightBorder" style="width: 66% !important;background-color: #e9e9e9 !important;">  <b>NOTES: </b></td>
                                            <td rowspan="4">
                                                <img src="~/Images/Protocol053_img1.png" style="width: 100%;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd rightBorder" colspan="2">
                                                <span style="float:left">1. PROCEDURE NO.</span>@Html.TextBoxFor(model => model.Note1, new { @class = "form-control ", @style = "width: 250px !important;", @maxlength = "50", @role = "QC" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                <span style="float:left">2. CLAD ANGLE(?) ENSURED AS PER DRAWING </span>
                                            </td>
                                            <td class="rightBorder">
                                                @Html.DropDownListFor(model => model.Note2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                <span style="float:left">3. CUSO4 TEST CARRIED OUT OF CLAD STRIPPED AREA AND NO SS CONTENT FOUND.</span>
                                            </td>
                                            <td class="rightBorder">
                                                @Html.DropDownListFor(model => model.Note3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="text-align:left;">
                                    </div>
                                    <div class="col-md-6" style="text-align:right;">
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                        <a class="btn btnclose" id="btnClose"> Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));
    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint6_2").change(function () {
            if ($("#CheckPoint6_2").val() != "") {
                $('#TotalSpotNoCladStriping').focus();
            }
        });

        $('#IsStraddlingOfBoltHoles,#IsTiltingOfFlange,#IsAlignmentReadings,#CheckPoint2,#CheckPoint3,#CheckPoint4,#CheckPoint7,#Note2,#Note3').val('Yes');
        $('#OrientationOfLongSeams,#ProjectionInCaseOfElbow').val('NA');

        if ('@Model.ProtocolHeaderName' != "") { $('#ProtocolHeaderName').val('@Model.ProtocolHeaderName'); }

        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }

        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }
        if ('@Model.CheckPoint7' != "") { $('#CheckPoint7').val('@Model.CheckPoint7'); }

        if ('@Model.Note3' != "") { $('#Note3').val('@Model.Note3'); }
        if ('@Model.Note2' != "") { $('#Note2').val('@Model.Note2'); }
        if ('@Model.OrientationOfLongSeams' != "") { $('#OrientationOfLongSeams').val('@Model.OrientationOfLongSeams'); }
        if ('@Model.IsStraddlingOfBoltHoles' != "") { $('#IsStraddlingOfBoltHoles').val('@Model.IsStraddlingOfBoltHoles'); }
        if ('@Model.ProjectionInCaseOfElbow' != "") { $('#ProjectionInCaseOfElbow').val('@Model.ProjectionInCaseOfElbow'); }
        if ('@Model.IsTiltingOfFlange' != "") { $('#IsTiltingOfFlange').val('@Model.IsTiltingOfFlange'); }


        showCladtripTable($('#ProjectionInCaseOfElbow').val(), "dvProjectionInCaseOfElbow");
        showCladtripTable($('#IsStraddlingOfBoltHoles').val(), "dvIsStraddlingOfBoltHoles");
        showCladtripTable($('#IsTiltingOfFlange').val(), "dvIsTiltingOfFlange");
        
        showCladtripTable($('#OrientationOfLongSeams').val(), "dvOrientationOfLongSeams");


    });



    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                // AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'SpotNo', ['SpotNo', 'OffSet'], AddTbl3NewTrRow, true);
                AddNextRow(this, null, false, 4, 'hdGrid4LastRow', 'tblProtocolLines4', 'Location', ['Location', 'At0', 'At90', 'At180', 'At270'], AddTbl4NewTrRow, true);
                //AddNextRow(this, null, false, 5, 'hdGrid5LastRow', 'tblProtocolLines5', 'SpotNo', ['SpotNo', 'Width', 'Depth'], AddTbl5NewTrRow, true);

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'RequiredValue', ['RequiredValue'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'SeamNo', ['SeamNo', 'ReqOrien'], AddTbl2NewTrRow, true);
                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "RequiredValue": $('td.RequiredValue input', this).val(),
                "ActualValue": $('td.ActualValue input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SeamNo": $('td.SeamNo input', this).val(),
                "ReqOrien": $('td.ReqOrien input', this).val(),
                "ReqArcLength": $('td.ReqArcLength input', this).val(),
                "ActArcLength": $('td.ActArcLength input', this).val()
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);



        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        $("table#tblProtocolLines3 > tbody > tr:not([class =islastrow],[class=outby])").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SpotNo": $('td.SpotNo input', this).val(),
                "OffSet": $('td.OffSet input', this).val()
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

        var TableData4 = []; //initialize array;
        var lstProtocolLines4 = ""; //empty var;
        $("table#tblProtocolLines4 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData4[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Location": $('td.Location input', this).val(),
                "At0": $('td.At0 input', this).val(),
                "At90": $('td.At90 input', this).val(),
                "At180": $('td.At180 input', this).val(),
                "At270": $('td.At270 input', this).val()
            };

            lstProtocolLines4 = JSON.stringify(TableData4);
        });
        SaveAsDraftProtocolLine(lstProtocolLines4, ControllerURL + "SaveProtocolLine4" + "?HeaderId=" + parseInt($("#HeaderId").val()), 4);

        var TableData5 = []; //initialize array;
        var lstProtocolLines5 = ""; //empty var;
        $("table#tblProtocolLines5 > tbody > tr:not([class =islastrow],[class=outby])").each(function (row, tr) {
            TableData5[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SpotNo": $('td.SpotNo input', this).val(),
                "ActWidth": $('td.ActWidth input', this).val(),
                "ActDepth": $('td.ActDepth input', this).val()
            };

            lstProtocolLines5 = JSON.stringify(TableData5);
        });
        SaveAsDraftProtocolLine(lstProtocolLines5, ControllerURL + "SaveProtocolLine5" + "?HeaderId=" + parseInt($("#HeaderId").val()), 5);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\">" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
             + "<td class=\"RequiredValue center width125px\"><input class=\"form-control  islastrow  EditableTextColor QCTextbox\" id=\"RequiredValue_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"RequiredValue_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','RequiredValue',['RequiredValue'],AddTbl1NewTrRow)\"></td>"
             + "<td class=\"ActualValue center width125px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox valid\" id=\"ActualValue_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }
    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var seamfn = "AddNextRow(this,'AllowableOffset',false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo','ReqOrien'],AddTbl2NewTrRow)";
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"SeamNo\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" id=\"SeamNo_2_" + NewTrRowNum + "\" maxlength=\"16\" name=\"SeamNo_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"" + seamfn + "\"></td>" +
        "<td class=\"ReqOrien\"><input class=\"form-control width125px EditableTextColor islastrow QCTextbox\"  id=\"ReqOrien_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ReqOrien_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo','ReqOrien'],AddTbl2NewTrRow)\"></td>" +
        "<td class=\"ReqArcLength\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\"  id=\"ReqArcLength_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqArcLength_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td class=\"ActArcLength\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\"  id=\"ActArcLength_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActArcLength_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
        "</tr>";
        return strhtml;
    }
    function AddTbl3NewTrRow(NewTrRowNum) {
        //NewTrRowNum = parseInt(NewTrRowNum) + 1;
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"SpotNo\"><input class=\"form-control width125px EditableTextColor PRODTextbox islastrow \"  id=\"SpotNo_3_" + NewTrRowNum + "\" maxlength=\"20\" name=\"SpotNo_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\"  onblur=\"AddNextRow(this,'ActStraddlingOfBoltHoles',false,3,'hdGrid3LastRow','tblProtocolLines3','SpotNo',['SpotNo','OffSet'],AddTbl3NewTrRow)\"></td>" +
        "<td class=\"OffSet\"><input class=\"form-control width125px clsAddNew EditableTextColor islastrow PRODTextbox valid\"  id=\"OffSet_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"OffSet_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" onblur=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','SpotNo',['SpotNo','OffSet'],AddTbl3NewTrRow)\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +
        "</tr>";
        $("#hdGrid3LastRow").val(NewTrRowNum);
        //$("#TotalSpotNoOffsetReadings").val(NewTrRowNum);
        $("#TotalSpotNoOffsetReadings").val($('#tbl3Data tr:not(.islastrow)').length);
        return strhtml;
    }
    function AddTbl3Spot() {

        var strhtml = "";
        var n = $(".TotalSpotNoOffsetReadings").val();
        $("#hdGrid3LastRow").val(n);
        for (var i = 1; i <= n; i++) {
            if (i != n) {
                strhtml += "<tr class=\"\">" +
                "<td style=\"text-align: center;display:none;\">" + i + "</td>" +
                "<td class=\"LineId\" style=\"display:none;\">0</td>" +
                "<td class=\"SpotNo\"><input class=\"form-control width125px EditableTextColor PRODTextbox  valid\"  id=\"SpotNo_3_" + i + "\" maxlength=\"20\" name=\"SpotNo_3_" + i + "\" role=\"PROD\" type=\"text\" value=\"" + (i + "-" + (i + 1)) + "\" onblur=\"AddNextRow(this,'ActStraddlingOfBoltHoles',false,3,'hdGrid3LastRow','tblProtocolLines3','SpotNo',['SpotNo','OffSet'],AddTbl3NewTrRow)\" tabindex=\"-1\"></td>" +
                "<td class=\"OffSet\"><input class=\"form-control width125px clsAddNew EditableTextColor islastrow PRODTextbox valid\"  id=\"OffSet_3_" + i + "\" maxlength=\"10\" name=\"OffSet_3_" + i + "\" role=\"PROD\" type=\"text\" value=\"\" onfocusout=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','SpotNo',['SpotNo','OffSet'],AddTbl5NewTrRow)\"></td>" +
                "<td  class=\"DeleteAction\"><i id=\"Delete_3_" + i + "\" name=\"Delete_3_" + i + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" ></i></td>" +
                "</tr>";
            }
            else {
                strhtml += "<tr class=\"\">" +
                "<td style=\"text-align: center;display:none;\">" + i + "</td>" +
                "<td class=\"LineId\" style=\"display:none;\">0</td>" +
                "<td class=\"SpotNo\"><input class=\"form-control width125px EditableTextColor PRODTextbox valid \"  id=\"SpotNo_3_" + i + "\" maxlength=\"20\" name=\"SpotNo_3_" + i + "\" role=\"PROD\" type=\"text\"  value=\"" + (i + "-1") + "\" onblur=\"AddNextRow(this,'Location_6_1',false,3,'hdGrid3LastRow','tblProtocolLines3','SpotNo',['SpotNo','OffSet'],AddTbl3NewTrRow)\" tabindex=\"-1\"></td>" +
                "<td class=\"OffSet\"><input class=\"form-control width125px clsAddNew EditableTextColor islastrow PRODTextbox valid\"  id=\"OffSet_3_" + i + "\" maxlength=\"10\" name=\"OffSet_3_" + i + "\" role=\"PROD\" type=\"text\" value=\"\" onfocusout=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','SpotNo',['SpotNo','OffSet'],AddTbl3NewTrRow)\"></td>" +
                "<td  class=\"DeleteAction\"><i id=\"Delete_3_" + i + "\" name=\"Delete_3_" + i + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" ></i></td>" +
                "</tr>";
            }
        }

        $("#tbl3Data").empty();
        $("#tbl3Data").append(strhtml);
        //AddTbl3NewTrRow(n);
        $("#OffSet_3_1").focus();
        return strhtml;
    }
    function AddTbl4NewTrRow(NewTrRowNum) {
        $("#hdGrid4LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"Location center \"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox EditableTextColor\" id=\"Location_4_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Location_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" onblur=\"AddNextRow(this,'CheckPoint2',false,4,'hdGrid4LastRow','tblProtocolLines4','Location',['Location','At0','At90','At180','At270'],AddTbl4NewTrRow)\"></td>"
             + "<td class=\"At0 center \"><input class=\"form-control islastrow NonEditableTextColor PRODTextbox calarat0 EditableTextColor\" id=\"At0_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"At0_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalARat0();\"></td>"
             + "<td class=\"At90 center \"><input class=\"form-control islastrow  NonEditableTextColor PRODTextbox calarat90 EditableTextColor\" id=\"At90_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"At90_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" onchange=\"funCalARat90();\"></td>"
             + "<td class=\"At180 center \"><input class=\"form-control islastrow  NonEditableTextColor PRODTextbox calarat180 EditableTextColor\" id=\"At180_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"At180_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" onchange=\"funCalARat180();\"></td>"
             + "<td class=\"At270 center \"><input class=\"form-control islastrow  NonEditableTextColor PRODTextbox calarat270 EditableTextColor valid\" id=\"At270_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"At270_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\"  onblur=\"AddNextRow(this,null,false,4,'hdGrid4LastRow','tblProtocolLines4','Location',['Location','At0','At90','At180','At270'],AddTbl4NewTrRow);funCalARat270();\"></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_4_" + NewTrRowNum + "\" name=\"Delete_4_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }
    function AddTbl5NewTrRow(NewTrRowNum) {
        $("#hdGrid5LastRow").val(NewTrRowNum);
        var seamfn = "AddNextRow(this,'Note2',false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow)";

        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"SpotNo center \"><input class=\"form-control  islastrow EditableTextColor PRODTextbox\" id=\"SpotNo_5_" + NewTrRowNum + "\" maxlength=\"20\" name=\"SpotNo_5_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" onblur=\"AddNextRow(this,'Note2',false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow) \"></td>"
             + "<td class=\"ActWidth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox \" id=\"ActWidth_5_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActWidth_5_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\"></td>"
             + "<td class=\"ActDepth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActDepth_5_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActDepth_5_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" onblur=\"AddNextRow(this,null,false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow) \"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_5_" + NewTrRowNum + "\" name=\"Delete_5_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";
        $("#hdGrid5LastRow").val(NewTrRowNum);
        // $("#TotalSpotNoCladStriping").val(NewTrRowNum);
        $("#TotalSpotNoCladStriping").val($('#tbl5Data tr:not(.islastrow)').length);
        return strhtml;
    }

    function AddTbl5SpotClad() {
        var strhtml = "";
        var n = $(".TotalSpotNoCladStriping").val();
        $("#hdGrid5LastRow").val(n);
        for (var i = 1; i <= n; i++) {
            if (i != n) {
                strhtml += "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + i + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"SpotNo center \"><input class=\"form-control  islastrow EditableTextColor PRODTextbox\" id=\"SpotNo_5_" + i + "\" maxlength=\"20\" name=\"SpotNo_5_" + i + "\" role=\"PROD\" type=\"text\" value=\"" + (i + "-" + (i + 1)) + "\" onblur=\"AddNextRow(this,'Note2',false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow) \" tabindex=\"-1\"></td>"
             + "<td class=\"ActWidth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox \" id=\"ActWidth_5_" + i + "\" maxlength=\"10\" name=\"ActWidth_5_" + i + "\" role=\"PROD\" type=\"text\"></td>"
             + "<td class=\"ActDepth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActDepth_5_" + i + "\" maxlength=\"10\" name=\"ActDepth_5_" + i + "\" role=\"PROD\" type=\"text\" onblur=\"AddNextRow(this,null,false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow) \"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_5_" + i + "\" name=\"Delete_5_" + i + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" ></i></td>"
             + "</tr>";
            }
            else {
                strhtml += "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + i + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"SpotNo center \"><input class=\"form-control  islastrow EditableTextColor PRODTextbox\" id=\"SpotNo_5_" + i + "\" maxlength=\"20\" name=\"SpotNo_5_" + i + "\" role=\"PROD\" type=\"text\" value=\"" + (i + "-" + (i + 1)) + "\" onblur=\"AddNextRow(this,'Note2',false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow) \" tabindex=\"-1\"></td>"
             + "<td class=\"ActWidth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox \" id=\"ActWidth_5_" + i + "\" maxlength=\"10\" name=\"ActWidth_5_" + i + "\" role=\"PROD\" type=\"text\"></td>"
             + "<td class=\"ActDepth center \"><input class=\"form-control  islastrow  EditableTextColor PRODTextbox valid\" id=\"ActDepth_5_" + i + "\" maxlength=\"10\" name=\"ActDepth_5_" + i + "\" role=\"PROD\" type=\"text\" onblur=\"AddNextRow(this,null,false,5,'hdGrid5LastRow','tblProtocolLines5','SpotNo',['SpotNo','ActWidth','ActDepth'],AddTbl5NewTrRow) \"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_5_" + i + "\" name=\"Delete_5_" + i + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" ></i></td>"
             + "</tr>";
            }
        }

        $("#tbl5Data").empty();
        $("#tbl5Data").append(strhtml);
        //AddTbl3NewTrRow(n);
        $("#ActWidth_5_1").focus();
        return strhtml;
    }

    function funCalARat0() {
        calculateMaxMin("calarat0", "OutByAlignmentReadingsAt0");
    }
    function funCalARat90() {
        calculateMaxMin("calarat90", "OutByAlignmentReadingsAt90");
    }
    function funCalARat180() {
        calculateMaxMin("calarat180", "OutByAlignmentReadingsAt180");
    }
    function funCalARat270() {
        calculateMaxMin("calarat270", "OutByAlignmentReadingsAt270");
    }
</script>