﻿@using IEMQSImplementation
@model MCR001
<div class="row">
    <form id="frmTaskDeatils" class="form-horizontal">
        
            <div class="col-md-12">
                <fieldset>
                    @*<legend>Task Details</legend>*@

                    <div class="col-md-6">
                        <label class="control-label">From Project</label>
                        @*@Html.HiddenFor(m => m.LineId)
                        @Html.HiddenFor(m => m.HeaderId)
                       *@
                        @Html.Hidden("Project")
                        <select name="txtFromProject" id="txtFromProject" style="width:100%" class="form-control"></select>                            
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">To Project</label>
                        @Html.Hidden("Project")
                        <select name="txtToProject" id="txtToProject"  style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">From Position No</label>
                        @*@Html.HiddenFor(m => m.LineId)
            @Html.HiddenFor(m => m.HeaderId)
                        *@
                        @Html.Hidden("PositionNo")
                        <select name="txtFromPositionNo" id="txtFromPositionNo"  style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">To Position No</label>
                        @Html.Hidden("PositionNo")
                        <select name="txtToPositionNo" id="txtToPositionNo"  style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Part Category</label>
                        @Html.Hidden("PartCategory")
                        <select name="txtPartCategory" id="txtPartCategory" multiple="multiple" style="width:100%" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Status</label>
                        @Html.Hidden("Status")
                        <select name="txtStatus" id="txtStatus" multiple="multiple" style="width:100%" class="form-control"></select>
                    </div>
                </fieldset>
            </div>
           
            <br />

        
     
        <div class="row pull-right margin-right-10">
            <div class="col-md-12">
                <button type="button" id="btnAppr" class="btn green clsbtn" onclick="PrintReport()">PrintReport</button>
            </div>
        </div><br />
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtStatus").val("");
        $("#txtPartCategory").val("");
        LoadSelect2DropDown("/FDMS/Report/GetProjects", $('#txtProject'), "--Select Projects--", '');
        LoadPreValueSelect2("/MCR/MaintainMCR/GetStatus", $('#txtStatus'), "--Select--", '');
        LoadPreValueSelect2("/MCR/MaintainMCR/GetPartCategory", $('#txtPartCategory'), "--Select--", '');

        

        FillTableDropdown();

        //$('#frmGTM').validate({
        //    rules: {
        //        "txtGTMNo": {
        //            required: true
        //        },
        //        "txtTableDesc": {
        //            required: true
        //        }
        //    },
        //    messages: {
        //        "txtGTMNo": {
        //            required: "GTM No is required"
        //        },
        //        "txtTableDesc": {
        //            required: "Table Description is required"
        //        }
        //    }
        //});

        

      
    });

    function FillTableDropdown() {
        var lstTableList = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TableList))));
        $("#txtTableDesc").autocomplete({
            source: function (request, response) {
                var array = $.map(lstTableList, function (item) {
                    return {
                        label: item.Description.trim() + " - " + item.Name.trim(),
                        value: item.Description.trim() + " - " + item.Name.trim(),
                        id: item.Name.trim()
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $("#hfTableName").val(ui.item.id);
                $("#divTable").css("display", "none");
                $("#divTable").html("");

                HighlightInValidControls();
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#txtTableDesc").val('');
                    $("#hfTableName").val('');
                    $("#txtTableDesc").focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function LoadTableData(opt) {
        var oprt = "";
        if (opt != null && opt != undefined && opt != "")
            oprt = opt;

        $("#divTableData").html("");

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/GTM/MaintainGTM/LoadTableColumnDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { tableName: $("#hfTableName").val(), pageNo: $("#hfPageNo").val(), searchValueList: searchValueList, oprt: oprt },
            success: function (result) {
                $("#divTable").css("display", "");
                $("#divTable").html(result);
            },
            error: function () {
            }
        });
    }

    function PrintReport() {
        //if ($("#frmCreateHeader").valid()) {
            bootbox.dialog({
                title: 'GTM Report',
                message: "Do You Want To Print Report?",
                buttons: {
                    'confirm': {
                        label: 'Print',
                        className: 'btn green',
                        callback: function () {
                            var url = "";
                            var dat = [];
                            url = "/GTM/GTM Report";
                            dat.push({ Param: "TableName", Value: $("#txtTableDescReport").val().join(',') });
                            dat.push({ Param: "UserName", Value: $("#txtUsername").val().join(',') });
                            dat.push({ Param: "FromDate", Value: $("#txtFromDate").val() });
                            dat.push({ Param: "ToDate", Value: $("#txtToDate").val() });
                            ShowReport(dat, url);

                        }
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            })

    }
</script>

