﻿
@model IEMQSImplementation.HTR002_Log
<script>
    function LoadSelect2OnEdit(strPosition) {
        var arrPositions;
        if (strPosition.length > 0) {
            arrPositions = strPosition.split(',');
        }
        return arrPositions;
    }

    $(document).ready(function () {
        $("#InspectionAgency").change(function () {
            HighlightInValidateSelect2();
        });

        LoadPreValueSelect2("/HTR/Maintain/GetInspectionAgency", $('#InspectionAgency'), "--Select Inspection Agency--", { param: '@Model.HeaderId' });

        if ('@ViewBag.Action'.toLowerCase() == "viewline") {
            var inspectionAgency = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.InspectionAgency))));
            if (inspectionAgency != null) {
                $('#InspectionAgency').val(LoadSelect2OnEdit(inspectionAgency)).trigger("change");
            }
            $('div.dvDisable :input').prop('disabled', true);
            var str = '@ViewBag.LineProject';
            $("#txtProject1").val(str);
            var strHTRNo = "@ViewBag.HTRNo";
            var strRevNo = '@ViewBag.RevNo';
            var strHeaderId = "@ViewBag.HeaderId";
            $('#HTRNo').val(strHTRNo);
            $('#RevNo').val(strRevNo); $('#CheckListId').val(strHeaderId);
        }

    });

</script>
<div class="dvDisable">
    <div class="row" style="width:100%">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmHTRLines" }))
                        {
                            @Html.HiddenFor(m => m.HeaderId, new { @id = "CheckListId" })
                            @Html.HiddenFor(m => m.LineId, new { @id = "hdnLineId" })
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                            </label><div class="">@Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = true ,@id="txtProject1"})</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">HTR No</label><div class="">@Html.TextBoxFor(m => m.HTRNo, new { @class = "form-control col-md-3", @readonly = true })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Rev No<span class="required"> * </span></label>
                                            <div class="">@Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = true })</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend> HTR Components details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Seam No.
                                                <span class="required"> * </span>
                                            </label><div class="">@Html.TextBoxFor(m => m.SeamNo, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Part No.<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.PartNo, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Heat No.<span class="required"> * </span></label>
                                            <div class="">@Html.TextBoxFor(m => m.HeatNo, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Drawing No.	<span class="required"> * </span></label>
                                            <div class="">@Html.TextBoxFor(m => m.DrawingNo, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Drawing Revision No.	<span class="required"> * </span></label>
                                            <div class="">@Html.TextBoxFor(m => m.DrawingRev, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">HTP Reference	<span class="required"> * </span></label>
                                            <div class="">@Html.TextBoxFor(m => m.HTPReference, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">PTC/MTC/PQR<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.PTCMTCPQR, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Description	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.Description, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Material Specification	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.MaterialSpec, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Size & Thickness	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.SizeThickness, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Quantity	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.Quantity, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Total Weight(kg)	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.TotalWeight, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Inspection Agency <span class="required"> * </span></label>
                                            <div class="">
                                                <select name="InspectionAgency" id="InspectionAgency" multiple="multiple" style=" width:100%" class="form-control"></select>
                                                @*<input type="text" id="InspectionAgency" name="InspectionAgency" class="form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.InspectionAgency)*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Material From Department	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.MaterialFrom, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Material To Department	<span class="required"> * </span></label><div class="">@Html.TextBoxFor(m => m.MaterialTo, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">ICS By</label>
                                            <div class="">@Html.TextBoxFor(m => m.ICSBy, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">Project Number	</label>
                                            <div class="">@Html.TextBoxFor(m => m.ProjectNumber, new { @maxLength = "50", @class = "form-control col-md-3" })</div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ('@Model.InspectionAgency' != null && '@Model.InspectionAgency' != "") {
        $('#InspectionAgency').val('@Model.InspectionAgency');
    }
</script>