﻿
@{
    ViewBag.Title = "Section Wise Seam List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    .table-scrollable {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .bordernone {
        border-top: none !important;
        background-color: white !important;
    }

    .bgcolor {
        background-color: white !important;
    }
</style>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            Section Wise Seam List
                        </span>
                    </div>
                </div>
                <div>
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSectionWiseSeamList" }))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Quality Project<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBox("txtQualityProject", "", new { @class = "form-control", @placeholder = "Select Quality Project" })
                                        @Html.Hidden("QualityProject", "", new { @class = "form-control" })
                                        @Html.Hidden("Location", "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Assembly No</label>
                                    <div>
                                        @Html.TextBox("txtAssemblyNo", "", new { @class = "form-control", @placeholder = "Select Assembly No" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-top:5px;">
                                    <label class="control-label"> </label>
                                    <div class="">
                                        <input type="button" class="btn save " id="btnSearch" value="Search" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row" id="divResult">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#frmSectionWiseSeamList").validate({
            rules: {
                txtQualityProject: {
                    required: true
                },
            },
            messages: {
                txtQualityProject: {
                    required: "Quality Project is required"
                },
            }
        });

        FillAutoCompleteUsingAjax($("#txtQualityProject"), "/MaintainSeamList/GetQualityProjectList", $("#QualityProject"), false);

        $('#btnSearch').click(function () {
            if ($("#frmSectionWiseSeamList").valid()) {
                GetSectionWiseSeamListGridDataPartial();
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });


    });

    function GetSectionWiseSeamListGridDataPartial() {
        $("#divResult").empty();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamList/LoadSectionWiseSeamListGridDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { QualityProject: $("#QualityProject").val(), AssemblyNo: $("#txtAssemblyNo").val()},
            success: function (result) {
                $("#divResult").html(result);
            },
            error: function () {
            }
        });
    }

    function FillAutoCompleteUsingAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.id };
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $("#txtAssemblyNo").val("");

                var qprj = ui.item.id.split("#");
                $(this).val(qprj[0]);
                $(hdElement).val(qprj[0]);
                $("#Location").val(qprj[1]);

                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
                AssemblyNoAutocomplete(qprj[0]);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    AssemblyNoAutocomplete("");
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }

    function AssemblyNoAutocomplete(qualityProjectValue) {
        $("#txtAssemblyNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/MaintainSeamList/GetAssemblyNoList",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        qualityProject: qualityProjectValue,
                        term: request.term,
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text, id: item.id };
                        }));
                    }
                });
            },
            //autoFocus: autoFocus,
            minLength: 0,
            select: function (event, ui) {
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }

        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }

</script>
@Scripts.Render("~/bundles/datatable/js")

