﻿@model IEMQS.Areas.Utility.Controllers.GeneralController.FilterReqMIPModel


<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmReqFilteredData" }))
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Project Details</legend>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.objMIP004.LineId)
                                    <label class="control-label">Quality Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.objMIP003.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Project</label>
                                    @Html.TextBox("txtProject", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.Project)
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">BU</label>
                                    @Html.TextBox("txtBU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.BU)
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Location</label>
                                    @Html.TextBox("txtLocation", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.Location)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>MIP Details</legend>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Doc No</label>
                                    <div class="">
                                        @Html.TextBox("DocNoDesc", (string)ViewBag.DocNoDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        @Html.HiddenFor(x => x.objMIP003.DocNo)
                                        @*@Html.TextBoxFor(x => x.objMIP003.DocNo, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">MIP Type</label>
                                    @Html.TextBox("MIPTypeDesc", (string)ViewBag.MIPTypeDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.objMIP003.MIPType)
                                    @*@Html.TextBoxFor(x => x.objMIP003.MIPType, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">RevNo</label>
                                    @Html.TextBoxFor(x => x.objMIP003.RevNo, "R" + Model.objMIP003.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Component No</label>
                                    @Html.TextBoxFor(x => x.objMIP003.ComponentNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Drawing No</label>
                                    <div class="">
                                        @Html.TextBoxFor(x => x.objMIP003.DrawingNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Raw Material Grade</label>
                                    @Html.TextBoxFor(x => x.objMIP003.RawMaterialGrade, (string)ViewBag.RawMaterialGrade, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Plate No</label>
                                    @Html.TextBoxFor(x => x.objMIP003.PlateNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </fieldset> 
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @(String.IsNullOrWhiteSpace(Model.objMIP004.RequestNo+"")? "": "("+ Model.objMIP004.RequestNo + ")") Request Details 
                </div>
                <div class="tools"> </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblMIPRequestlist" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all" style="display:none">RequestId</th>
                            <th class="all">ReqNo. Seq.</th>
                            <th class="all">Quality Project</th>
                            <th class="all">Project</th>
                            <th class="all">BU</th>
                            <th class="all">Location</th>
                            <th class="all">Doc No.</th>
                            <th class="all">MIP Type</th>
                            <th class="all">Rev No.</th>
                            <th class="all">Component No.</th>
                            <th class="all">Drawing No.</th>
                            <th class="all">Raw Material Grade</th>
                            <th class="all">Plate No.</th>
                            <th class="all">Iteration No.</th>
                            <th class="all">Operation No.</th>
                            <th class="all">Line Rev No.</th>
                            <th class="all">MIP Rev No.</th>
                            <th class="all">Activity</th>
                            <th class="all">Ref Document</th>
                            <th class="all">Ref Doc RevNo.</th>
                            <th class="all">PIA</th>
                            <th class="all">Ins. Agency LNT</th>
                            <th class="all">Ins. Agency VVPT</th>
                            <th class="all">Ins. Agency SRO</th>
                            <th class="all">Records Documents</th>
                            <th class="all">Observations</th>
                            <th class="all">Created By</th>
                            <th class="all">Created On</th>
                            <th class="all">Edited By</th>
                            <th class="all">Edited On</th>
                            <th class="all">Test Result</th>
                            <th class="all">Offered By</th>
                            <th class="all">Offered On</th>
                            <th class="all">Inspection Remarks</th>
                            <th class="all">Inspected By</th>
                            <th class="all">Inspected On</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

        var table = $('#tblMIPRequestlist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Utility/General/MIPLoadRequestFilteredOfferData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@Model.objMIP004.RequestNo' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
                        {
                            "bSortable": false,
                            "sClass": "hide scenter",
                            "name": "RequestId"
                        },

                        { "sClass": "scenter", "name": "RequestNoSequence" },
                        { "sClass": "scenter", "name": "QualityProject" },
                        { "sClass": "scenter", "name": "Project" },
                        { "sClass": "scenter", "name": "BU" },
                        { "sClass": "scenter", "name": "Location" },
                        { "sClass": "scenter", "name": "DocNo" },
                        { "sClass": "scenter", "name": "MIPType" },
                        { "sClass": "scenter", "name": "RevNo" },
                        { "sClass": "scenter", "name": "ComponentNo" },
                        { "sClass": "scenter", "name": "DrawingNo" },
                        { "sClass": "scenter", "name": "RawMaterialGrade" },
                        { "sClass": "scenter", "name": "PlateNo" },
                        { "sClass": "scenter", "name": "IterationNo" },
                        { "sClass": "scenter", "name": "OperationNo" },
                        { "sClass": "scenter", "name": "LineRevNo" },
                        { "sClass": "scenter", "name": "MIPRevNo" },
                        { "sClass": "scenter", "name": "ActivityDescription" },
                        { "sClass": "sleft", "name": "RefDocument" },
                        { "sClass": "sleft", "name": "RefDocRevNo" },
                        { "sClass": "scenter", "name": "PIA" },
                        { "sClass": "scenter", "name": "IAgencyLNT" },
                        { "sClass": "scenter", "name": "IAgencyVVPT" },
                        { "sClass": "scenter", "name": "IAgencySRO" },
                        { "sClass": "scenter", "name": "RecordsDocuments" },
                        { "sClass": "scenter", "name": "Observations" },
                        { "sClass": "scenter", "name": "CreatedBy" },
                        { "sClass": "scenter", "name": "CreatedOn" },
                        { "sClass": "scenter", "name": "EditedBy" },
                        { "sClass": "scenter", "name": "EditedOn" },
                        { "sClass": "scenter", "name": "TestResult" },
                        { "sClass": "sleft", "name": "OfferedBy" },
                        { "sClass": "sleft", "name": "OfferedOn" },
                        { "sClass": "scenter", "name": "QCRemarks" },
                        { "sClass": "sleft", "name": "InspectedBy" },
                        { "sClass": "sleft", "name": "InspectedOn" }
            ]
        });
    });

</script>
