﻿@using IEMQSImplementation
<style>
    .left18 {
        padding-left: 18px !important;
    }
</style>
<script type="text/javascript">
    var table = $('#tblLTFPSHeader');
    var currentLTFPS = 0;

    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": false,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/LTFPS/AttachProtocol/GetLTFPSHeaderData?qualityProj=" + '@ViewBag.QualityProject' + "&status=" + '@ViewBag.status' + "&location=" + '@ViewBag.location' + "&bu=" + '@ViewBag.bu',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    //ImportExcel();
                },
                'async': false
            });
            $('input[maxlength]').maxlength({
                alwaysShow: true,
            });
            //ResetAddRow($('#tblLTFPSHeader'));
        },
        "columns": [
            {
                'targets': 0,
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "left18",
                'render': function (data, type, full, meta) {
                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                }
            },
            {
                "sClass": "hide",
            },
            {
                "sClass": "center",
                "name": "LTFPSNo",
            },
            {
                "sClass": "center",
                "name": "LTFPSDescription",
            },
            {
                "sClass": "center rework",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "name": "RevNo",
            },
            {
                "sClass": "center",
                "name": "Status",
            },
            {
                "sClass": "center",
                "bSortable": false,
                "sWidth": "12%"
            },
        ]
    });

   
   $("#IdenticalProject").attr('disabled', true);

    // Code for send for approval
    $("#btnSubmit").click(function () {

        var arrayHeaderIds = new Array();
        $('input[class="clsCheckbox"]', $('#tblLTFPSHeader tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            bootbox.dialog({
                title: "Submit Confirmation",
                message: "Do you want to submit?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/LTFPS/AttachProtocol/SubmitLTFPSHeader",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strHeader: strHeaderIds },
                                success: function (result) {
                                    if (result.Key) 
                                        DisplayNotiMessage("success", result.Value, "Success");
                                    else
                                        DisplayNotiMessage("error", result.Value, "Error");
                                    $('#tblLTFPSHeader').DataTable().ajax.reload();
                                    $("#dvLTFPSLines").hide();
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }
    });
    $('#example-select-all').change(function () {
        if(this.checked)
            $('.clsCheckbox').prop("checked", true)
        else
            $('.clsCheckbox').removeAttr("checked", true)
    });
   
    $('#tblLTFPSHeader tbody').on("click", "tr td:not(:first-child):not(:last-child):not('.rework')", function () {
        var row = $(this).closest('tr');
        var data = $('#tblLTFPSHeader').dataTable().fnGetData(row);
        var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();

        currentLTFPS = hdrId;

        $("#tblLTFPSHeader tr").removeClass("highlight");
        $(this).closest('tr').addClass("highlight");

        $("#tblLTFPSHeader").find("[type=checkbox]:not('.IsReworkLTFPS')").prop('checked', false);
        $(row).find("[type=checkbox]:not('.IsReworkLTFPS')").prop('checked', true);

        if ($("#dvLTFPSLines").css("display") == "block") { }
            //$('#tblQualitIDLines').DataTable().ajax.reload();
        else {
            $("#dvLTFPSLines").show();
        }

        GetLTFPSLinesPartial(hdrId);
    });

    function GetLTFPSLinesPartial(headerId) {

        $.ajax({
            url: WebsiteURL + "/LTFPS/AttachProtocol/GetLTFPSLinesPartial",
            type: "POST",
            data: { headerId: headerId },
            dataType: "html",
            success: function (data) {
                $("#dvLTFPSLines").html(data);
            }
        });
    }

</script>
<div class="row">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.status LTFPS List
                </div>
                <div class="tools" id="dvExportLines">
                </div>
            </div>

            <div class="portlet-body">

                <table id="tblLTFPSHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="all">LTFPS No.</th>
                            <th class="all">LTFPS Description</th>
                            <th class="all">Rework LTFPS?</th>
                            <th class="all">RevNo.</th>
                            <th class="all">Status</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div id="dvLTFPSLines" class="row"></div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6" style="text-align:left;">
        </div>
        <div class="col-md-6" style="text-align:right;">
            <input type="button" class="btn submit" id="btnSubmit" value="Submit" />
            <a href='@Url.Action("Index","AttachProtocol")' class="btn btnclose"> Close</a>
        </div>
    </div>
</div>
