﻿@model IEMQSImplementation.LTF001
@using IEMQSImplementation
@{
    ViewBag.Title = "LTFPS Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadLineID = "fuline";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

    .highlight:hover {
        background-color: #aaed7a !important;
    }

</style>  
<script type="text/javascript">

    var isSelected = false;
    var qualityProject;
    var qmspLocation;
    var qmspBU;
    var HeaderId = $("#HeaderId").val();

    $(document).ready(function () {
        HeaderId = $("#HeaderId").val();
        if (parseInt(HeaderId) > 0) {
            $("#txtQualityProject").val('@Model.QualityProject');
            $("#txtQualityProject").prop("readonly", "readonly");
            $("#dvLTFPSHeaderData").show();
            qualityProject = '@Model.QualityProject';
            qmspLocation = '@Model.Location';
            qmspBU = '@Model.BU';
            BindLTFPSHeaderList("Pending", qualityProject, qmspLocation, qmspBU);
            QualityProjectChange(qualityProject, "edit");
        }

        $('a[name="tabStatus"]').click(function () {
            BindLTFPSHeaderList($(this).attr('spara'), qualityProject, qmspLocation, qmspBU);
        });

        // ----- Panel Mazimize Feature ----- //
        $(document).off("dblclick", ".portlet-title").on("dblclick", ".portlet-title", function () {
            var panel = $(this).parent();
            var pnlpos = $(panel).offset();
            if (panel.hasClass('portlet-maximize')) { // Panel Minimize
                panel.animate({
                    width: "100%",
                    height: "100%",
                    top: pnlpos.top * -1,
                    left: pnlpos.left * -1
                }, 1000);
                setTimeout(function () {
                    panel.removeClass('portlet-maximize');
                    $('body').css("overflow", "unset").animate({ scrollTop: $(panel).offset().top - 70}, 1000); // auto main scrollbar;
                }, 1000);
                
            } else { // Panel Maximize
                $('body').animate({ scrollTop: 0}, 1000).css("overflow", "hidden"); // hide main scrollbar
                panel.addClass('portlet-maximize').animate({
                    width: '100vw',
                    height: '100vh',
                    top: pnlpos.top * -1,
                    left: pnlpos.left * -1,
                }, 1000);
            }
        })
    });

    function QualityProjectChange(qualityProject, action) {
        $.ajax({
            url: WebsiteURL + "/LTFPS/AttachProtocol/GetQualityProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject },
            success: function (data) {
                if (action.toLowerCase() != "edit") {
                    $("#Project").val(data.projectDescription);
                    $("#BU").val(data.BUDescription);
                    $("#Location").val(data.LocationDescription);

                    $("#hdnProject").val(data.ProjectCode);
                    $("#hdnBU").val(data.BUCode);
                    $("#hdnLocation").val(data.LocationCode);

                    qualityProject = qualityProject;
                    qmspBU = data.BUCode;
                    qmspLocation = data.LocationCode;

                    $("#dvLTFPSHeaderData").show();
                    BindLTFPSHeaderList('Pending', qualityProject, qmspLocation, qmspBU);
                }
                var identical;
                $.ajax({
                    url: WebsiteURL + "/LTFPS/AttachProtocol/GetIdenticalProjectsEdit",
                    dataType: "json",
                    type: "POST",
                    async: false,
                    data: {
                        param: qualityProject,
                        project: $("#hdnProject").val(),
                        location: $("#hdnLocation").val()
                    },
                    success: function (result) {
                        identical = result;
                    }
                });
                //LoadPreValueSelect2("/LTFPS/AttachProtocol/GetIdenticalProjects", $('#IdenticalProject'), "--Select Identical Project--", { search: '', param: qualityProject, project: $("#hdnProject").val(), location: $("#hdnLocation").val() });
                $('#IdenticalProject').select2({ data: identical });
                $('#IdenticalProject').val(identical);
                $('#IdenticalProject').trigger("change");
            }
        });
    }

    function BindLTFPSHeaderList(status, qualityProject, location, bu) {
        $("#close").hide();
        $("#LTFPS_Header_Pending").empty();
        $("#LTFPS_Header_All").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/AttachProtocol/GetLTFPSHeaderDataPartial",
            data: { Status: status, QualityProject: qualityProject, Location: location, BU: bu },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {

                if (status == "Pending") {
                    $("#LTFPS_Header_Pending").html(result);
                }
                else {
                    $("#LTFPS_Header_All").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function ViewCheckInOutHistory(LTFPSNo) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/AttachProtocol/GetCheckInOuHistoryDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { LTFPSNo: LTFPSNo },
            success: function (result) {
                bootbox.dialog({
                    title: 'Check In & Check Out History',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function UpdateIsProtocolAttched(HeaderId, IsProtocolAttched) {
        bootbox.dialog({
            title: "Check " + (IsProtocolAttched == true ? "In" : "Out") + " Confirmation",
            message: "Do you want to Check " + (IsProtocolAttched == true ? "In" : "Out") + " ?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        var formData = new FormData();
                        formData.ad
                        $.ajax({
                            url: WebsiteURL + "/LTFPS/AttachProtocol/UpdateIsProtocolAttched",
                            type: "POST",
                            datatype: 'json',
                            data: { "HeaderId": HeaderId, "IsProtocolAttched": IsProtocolAttched },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblLTFPSHeader').DataTable().ajax.reload();
                                    $("#dvLTFPSLines").hide();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                                DisplayNotiMessage("error", "Request send fail", "Error");
                                return false;
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });

    }

    function ViewAttachment(lineid, revno, IsEditable) {
        var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        objFileUploadLine.ShowDeleteAction = IsEditable;
        objFileUploadLine.ShowAttachmentBtn = IsEditable;
        objFileUploadLine.FolderPath = "LTF002/" + lineid + "/R" + revno;
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.PopupTitle = "Attach Protocol";
        objFileUploadLine.AllowFileExtension = 'pdf,xlsx,xls,doc,docx'
        objFileUploadLine.SuccessCallbackFunction = "reloadTableLTFPSLines()";
        objFileUploadLine.LoadCallbackFunction = function () { $('#btnUploadAll@(FileUploadLineID),.filedelete').click(reloadTableLTFPSLines); };
        LoadFileUploadPartialView(objFileUploadLine);
    }
    function reloadTableLTFPSLines() {
        setTimeout(function () {
            $('#tblLTFPSLines').DataTable().ajax.reload();
        },1000);
    }
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvLTFPSHeader" style="padding:1%">
                    <form id="frmLTFPSHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtQualityProject" name="txtQualityProject" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.QualityProject, new { @id = "ddlQualityProject" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.Project, new { @id = "hdnProject" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.BU, new { @id = "hdnBU" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.Location, new { @id = "hdnLocation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <label class="control-label">Identical Projects</label>
                                            <select name="IdenticalProject" id="IdenticalProject" multiple="multiple" style="width:100%" class="form-control col-md-3"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:right;margin-top:3%">
                                            <a href='@Url.Action("Index","AttachProtocol")' id="close" class="btn btnclose"> Close</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="portlet light" id="dvLTFPSHeaderData" style="display:none;">

                            <div class="portlet-title tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#LTFPS_Header_Pending" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                    </li>
                                    <li>
                                        <a href="#LTFPS_Header_All" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="LTFPS_Header_Pending">

                                    </div>
                                    <div class="tab-pane" id="LTFPS_Header_All">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



