﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div style="height: 150vh;">
                    <iframe src="@ViewBag.CurUser" width="100%" height="100%" style="border:none;display:none">

                    </iframe>
                </div>

        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            window.setTimeout('window.location.href = "@ViewBag.RedirectTo"', 2000);
        })
    </script>