﻿@using IEMQSImplementation
@model TLP001
@{
    ViewBag.Title = "Technical Procedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUpload = "fuAttachmentUpload";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    var headerid =  $("#hfHeaderId").val();
    var dataMessage = "";IsSave = false;
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        if ('@ViewBag.Status.ToLower()' == "sent for approval")
        {
            $("#btnAttach").css('display', 'none');
        }

        $('#frmMaintainDeatils').validate({
            rules: {
                txtProject: {
                    required: true
                },
                ReviseRemark: {
                    required: true
                },
                ddlApprover : {required: true}
            },
            messages: {
                txtProject: {
                    required: "Project is Required"
                },
                ReviseRemark: {
                    required: "Revise Remark Is required"
                },
                ddlApprover :{ required: "Approver Is required"}
            }
        });

        var headerid = parseInt("@Model.HeaderId");
        var UploadPath = "";
        if (headerid > 0) {
            $("#hfHeaderId").val(headerid);
            var s= $("#hfHeaderId").val();
            var ApprovedBy = "@Model.ApprovedBy"
            var Project = "@Model.Project"
            var disableDelete = false;
            if (Project != "" || ApprovedBy != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/TP/Header/getCodeValue",
                    data: { project: Project, approver: ApprovedBy },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.projdesc != "") {
                            $("#txtProject").val(data.projdesc);
                        }
                        if (data.appdesc != "") {
                            $("#ddlApprover").val(data.appdesc);
                            $("#hfApp").val(data.appdesc);
                        }
                    },
                    error: function () {
                    }
                });
                $("#txtProject").attr("disabled", true);
                // $("#ddlApprover").attr("disabled", true);
                var revNo = "@Model.RevNo";
                $("#txtRevNo").val("R" + revNo);
            }
            var status = "@Model.Status";
            //$("#lblStatus").text(status);
            $("#status").css("display", "block");
            $("#btnSend").css("display", "block");
            if (status.toLowerCase() == "approved") {
                if ('@ViewBag.IsReviseBtnEnabled'.toLocaleLowerCase() == 'false') {
                    $("#docMessage").text('@ViewBag.DocMessage').css("display", "block");;
                }
                $("#txtProject").attr("disabled", true);
                $("#btnSend").css("display", "none");
                $("#ReviseRemark").attr("disabled", true);
                $("#btnSave").css("display", "none");
            }
            else if (status.toLowerCase() == "sent for approval") {
                $("#txtProject").attr("disabled", true);
                $("#JobDescription").attr("disabled", true);
                $("#Product").attr("disabled", true);
                $("#ProcessLicensor").attr("disabled", true);
                $("#btnSend").css("display", "none");
                $("#btnSave").css("display", "none");
                $("#ddlApprover").attr("disabled", true);
                $("#btnRetrack").css("display", "block");
                $("#ReviseRemark").attr("disabled", true);
                disableDelete = true;
            }
            else if (status.toLowerCase() == "draft")
            {
                $("#txtProject").attr("disabled", true);
            }

        }

        LoadAttachment()

        var isSelected = false;
        var isSelectedProject = false;
        var isSelectedApprover = false;
        var arrayProduct = @Html.Raw(Json.Encode(@ViewBag.Products));

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });


        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    $("#Project").val(ui.item.value);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });


        $("#ddlApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#ApprovedBy").val(ui.item.value);
                    verifyApprover();
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#btnRetrack").click(function(){
            var hd = "@Model.HeaderId";            
            var table = 'TLP001';
            var action = '@clsImplementationEnum.ButtonStatus.Retract.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, hd, isapprover)) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/TP/Header/retrack",
                datatype: 'html',
                data: { headerid: hd },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (result) {
                    // window.setTimeout('window.location.href = "/TP/Header/Index"', 2000);
                    location.reload();
                },
                error: function () {
                }
            });
        });

        $("#btnHistory").click(function () {

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/TP/History/GetHistoryView",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {
                    bootbox.dialog({
                        title: 'History of Technical Procedure',
                        message: result,
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }

                    });
                },
                error: function () {
                }
            });
        });



        $("#btnSave").click(function () {
            if ($("#frmMaintainDeatils").valid()) {
                var Approver = $('#ddlApprover').val();

                if (Approver == "") {
                    DisplayNotiMessage("error", "Please Select Approver..!!", "Error");
                }
                else
                {
                    var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                    var status = "@Model.Status";
                    if (status != undefined && status != null && status.toLowerCase() == "approved") {
                        ReviseHeader('@Model.HeaderId', "/TP/Header/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#lblStatus'),ReviseHeaderCallBack);
                        //submit(frmSaveHeaderValue, status);
                        $("#btnSend").show();
                    }
                    else {
                        submit(frmSaveHeaderValue, status);
                        $("#btnSend").show();
                    }
                }
            }
        });
        $("#btnRevise").click(function () {
            var hd = "@Model.HeaderId";            
            var table = 'TLP001';
            var action = '@clsImplementationEnum.ButtonStatus.Revise.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, hd, isapprover)) {
                return false;
            }
            ReviseHeader('@Model.HeaderId', "/TP/Header/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#lblStatus'),ReviseHeaderCallBack);

        });

        $("#btnSend").click(function () {
            var headerid =  $("#hfHeaderId").val();
            var Approver = $('#ddlApprover').val();
            if ($("#frmMaintainDeatils").valid()) {
                var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                submit(frmSaveHeaderValue, status,true);
            }

        });
    });
    var checkRevise = true;
    function SendforApproval(){
        var hd = "@Model.HeaderId";            
        var table = 'TLP001';
        var action = '@clsImplementationEnum.ButtonStatus.Submit.GetStringValue()';
        var isapprover = false;
        if (!CheckIsPostValidation(table, action, hd, isapprover)) {
            return false;
        }
        $.ajax({
            url: WebsiteURL + '/TP/Header/sentForApproval',
            data: {
                Approver:  $('#ddlApprover').val(),
                headerid:  $("#hfHeaderId").val()
                //hasAttachments: getHasAttachmentsForSubmit(),
                // Attach: getAttachmentsFromTable()
            },
            type: 'POST',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    @*if (getHasAttachmentsForSubmit('@(AttachmentUpload)')) {
                        UpdateFolderPathAndSave@(AttachmentUpload)("TLP001/"+data.Headerid+"/"+data.Revision);
                    }*@
                    //DisplayNotiMessage("success", data.Value, "Success");
                    // window.setTimeout('window.location.href = "/TP/Header/Index"', 2000);
                    window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID"', 2000);

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
    function ReviseHeaderCallBack(){
        var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
        SaveHeaderWithReviseCheck(frmSaveHeaderValue);
    }
    function verifyApprover(){
        var approver = $('#ddlApprover').val();
        $("#hfApp").val(approver);
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TP/Header/verifyApprover",
            datatype: 'html',
            async: false,
            data: { approver: approver },
            success: function (data) {
                if (data.Key) {

                }
                else {
                    $('#ddlApprover').val("");
                    DisplayNotiMessage("error", "Invalid Approver.! Try Again..!", "Error");
                }

            },
            error: function () {
            }
        });
    }

    function LoadAttachment()
    {
        var Isbtn;
        //var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');

        if ($("#lblStatus").text() == '@clsImplementationEnum.QCPStatus.Approved.GetStringValue()' || $("#lblStatus").text() == '@clsImplementationEnum.QCPStatus.SentForApproval.GetStringValue()') {
            //objAttachmentUpload.ShowAttachmentBtn = false;
            //objAttachmentUpload.ShowDeleteAction = false;
            Isbtn = false;
        }
        else
        {
            //objAttachmentUpload.ShowAttachmentBtn = true;
            //objAttachmentUpload.ShowDeleteAction = true;
            Isbtn = true;
        }
        //objAttachmentUpload.FolderPath =   "TLP001/@(Model.HeaderId)/R@(Model.RevNo)";
        //;
        //objAttachmentUpload.IsRequired = false;
        //if(headerid >0){
        //    objAttachmentUpload.ShowUploadBtn=true;
        //}
        //else{
        //    objAttachmentUpload.ShowUploadBtn=false;
        //}

        //objAttachmentUpload.SuccessCallbackFunction = "callbackfuntion()";
        //LoadFileUploadPartialView(objAttachmentUpload);


        var objFile = {
            TableName: 'TLP001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'TLP001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo' + '//1',
            ControlID: '@(AttachmentUpload)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: Isbtn,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: Isbtn,
            SuccessCallbackFunction: "callbackfuntion()",
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(AttachmentUpload)', false);
    }
    function SaveHeaderWithReviseCheck(frmSaveHeaderValue)
    {
        if(parseInt($("#hfHeaderId").val()) > 0)
        {
            bootbox.confirm({
                message: "Do you want to replace checklist with latest revision?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        submit(frmSaveHeaderValue, status);
                    }
                }

            });
        }
        else
        {
            submit(frmSaveHeaderValue, status);
        }
    }

    function submit(strFormData, status,isSubmitAction) {
        var hd = "@Model.HeaderId";            
        var table = 'TLP001';
        var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
        var isapprover = false;
        if (!CheckIsPostValidation(table, action, hd, isapprover)) {
            return false;
        }
        $.ajax({
            url: WebsiteURL + '/TP/Header/SaveHeader',
            data: {
                HeaderId:$("#hfHeaderId").val(),
                Project:$("#Project").val(),
                Customer:$("#Customer").val(),
                Document:$("#Document").val(),
                CDD:$("#CDD").val(),
                RevNo:$("#RevNo").val(),
                ProcessLicensor:$("#ProcessLicensor").val(),
                Product:$("#Product").val(),
                ApprovedBy:$("#ApprovedBy").val(),
                JobDescription:$("#JobDescription").val(),
                ReviseRemark: $("#ReviseRemark").val()
                //Attach: getAttachmentsFromTable()
            },
            //contentType: false,
            //processData: false,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            success: function (data) {
                if (data.Key) {
                    dataMessage =  data.Value;
                    $("#hfHeaderId").val(data.Headerid);
                    if(!isSubmitAction)
                    {
                        IsSave =true;
                    }
                    if (data.status != "" && data.Revision != "") {
                        //$("#lblStatus").text(data.status);
                        $("#RevNo").val(data.Revision);
                        $("#txtRevNo").val(data.Revision);
                    }
                    if (getHasAttachmentsForSubmit('@(AttachmentUpload)')) {
                        //UpdateFolderPathAndSave@(AttachmentUpload)("TLP001/"+data.Headerid+"/"+data.Revision);
                        UploadFileToServerFromDropzone('@(AttachmentUpload)', data.Headerid,"TLP001//"+data.Headerid+"//"+data.Revision);
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function (a, b) {
                showLoading(false);
                if (a.status == 500) {
                    DisplayNotiMessage("error", "File is to larget ", "Error");
                }
            }
        });
    }

    function callbackfuntion(){
        debugger
        if(IsSave){
            DisplayNotiMessage("success", dataMessage, "Success");
            if( @Model.HeaderId > 0)
            {
                window.setTimeout('window.location.href = "'+ WebsiteURL + '/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID"', 2000);
                //window.setTimeout('window.location.href = "/PMB/Header/PMBDetail?Id='+data.projdesc+'"', 2000);
            }
            else{
                var headerid =  $("#hfHeaderId").val();
                window.setTimeout('window.location.href = "'+WebsiteURL + '/TP/Header/TPDetail?Id="' + headerid, 2000);
            }
            IsSave =false;
            dataMessage ="";
        }
        else
        {
            SendforApproval();
        }
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                <span class="page-title">Maintain Technical Procedure</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning" id="status">
                                <b>Status : <label id="lblStatus" style="font-weight:bolder">@ViewBag.Status</label></b>
                            </div>
                            <p class="ribbon-content"></p>
                        </div>
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                @Html.Hidden("hfApp")
                                @Html.HiddenFor(x => x.HeaderId, new { @id = "hfHeaderId" })
                                @Html.Hidden("hfProject")
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Project
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBox("txtProject", "", new { @class = "form-control", @maxlenght = "100" })
                                            @Html.HiddenFor(m => m.Project, new { })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Customer <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            CDD
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            @*@Html.TextBox("txtCdd", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Product
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            @*@Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstProCat, "Value", "Text"), "Select", new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Revison
                                        </label>
                                        <div class="">
                                            <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                            @Html.HiddenFor(m => m.RevNo)
                                            @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Document No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            @Html.Hidden("txtdoc")
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Job Description
                                        </label>
                                        <div class="">
                                            @*@Html.TextBox("ddlJob", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            @Html.TextBoxFor(m => m.JobDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Process Licensor
                                        </label>
                                        <div class="">
                                            @*@Html.TextBox("txtlicence", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 right" id="ddlApp" style="display:block">
                                        <label class="control-label">
                                            Approver
                                            @*<span class="required"> * </span>*@
                                        </label>
                                        <div class="">
                                            <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                            @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3" })
                                            @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Created By
                                        </label>
                                        <div class="">
                                            @Html.TextBox("txtCreatedBy", (string)@ViewBag.CreatedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                            <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @maxlenght="100", @readonly = "readonly" })
                                            </div>
                                        </div>*@
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @maxlenght = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <label class="control-label">Return Remark</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @maxlenght = "100", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div id="divPDNIdenticalproject"></div>
                                @*<div class="col-md-12">
                                        @Html.Partial("_AttachmentPartial")
                                    </div>*@
                                <fieldset>
                                    <legend>Attachment</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                @*@Html.Partial("_BigAttachmentPartial", new AttachmentPartialModel("PMB001/" + @Model.HeaderId + "/R" + @Model.RevNo))*@
                                                <div id="dv@(AttachmentUpload)"></div>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                                <div id="docMessage" class="col-md-12 note note-success" style="display:none;"></div>
                                <div class="col-md-12">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        @*<input type="button" class="btn green" id="btnHistory" value="History" style="float: right;display:none;margin-right:5px; " />*@
                                    </div>
                                    <div class="col-md-5 right">
                                        <br />
                                        <a href="~/TP/Header/index" style="float: right; margin-right:5px;" class="btn btnclose">Close</a>
                                        <a class="btn back" href="~/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID" style="float: right;margin-right:5px;">Back</a>

                                        @if (Model.Status == clsImplementationEnum.CommonStatus.Approved.GetStringValue() && ViewBag.IsReviseBtnEnabled)
                                            {
                                            <a id="btnRevise" style="float: right;margin-right:5px;" class="btn revise">Revise</a>
                                            }

                                        <input type="button" class="btn retract" id="btnRetrack" value="Retrack" style="float: right;display:none;margin-right:5px; " />
                                        <button class="btn submit" style="float: right; margin-right:5px;display:none;" type="button" id="btnSend">Submit</button>
                                        <button class="btn save" type="button" style="float: right; margin-right:5px;" id="btnSave">Save</button>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@if (Model != null)
    {
        if (Model.HeaderId > 0)
        {
            <script>
                var disableDelete = false;
                if('@(Model.Status.ToLower())' == "sent for approval")
                    disableDelete = true;
                else
                    disableDelete = false;
                setAttachmentsInHeader("TLP001/"+@(Model.HeaderId)+"/R"+@(Model.RevNo), disableDelete);
            </script>
        }
    }*@
<script>
    //not in used
    @*var arrayProduct = @Html.Raw(Json.Encode(@ViewBag.Products));
    $("#Product").autocomplete({
        source: arrayProduct,
        minLength: 0,
        autoFocus: true,
    }).focus(function () {
        var result = $(this).data("uiAutocomplete").search($(this).val());
    });

    $("#Product").blur(function () {
        if ($.inArray($(this).val(), arrayProduct) == -1) {
            $(this).val('');
        }
    });*@

    //$("#txtProject").blur(function () {
    //    var project = $('#txtProject').val().split('-')[0].trim();
    //    $.ajax({
    //        type: "POST",
    //        url: WebsiteURL + "/TP/Header/GetHeaderData",
    //        data: { project: project },
    //        datatype: 'html',
    //        async: false,
    //        success: function (data) {
    //            if (data.Key) {
    //                var splitval1 = data.Value.split('|')[0];
    //                var splitval2 = data.Value.split('|')[1];
    //                var splitval3 = data.Value.split('|')[2];
    //                var splitval4 = data.Value.split('|')[3];
    //                var cust = splitval1;
    //                var revNo = splitval2;
    //                revNo = "R" + revNo;
    //                cust = cust.trim();
    //                revNo = revNo.trim();

    //                $("#txtCust").val(cust);
    //                $("#Customer").val(cust);
    //                $("#RevNo").val(splitval2);
    //                $("#txtRevNo").val(revNo);
    //                var splitval3 = splitval3.split(' ')[0];
    //                var ccdd = splitval3;
    //                $("#CDD").val(ccdd);
    //                var splitval4 = splitval4.split(' ')[0];
    //                var doc = splitval4;
    //                var last4 = project.slice(-4);
    //                var docNo = "H02_" + last4 + "_PL" + doc;
    //                $("#Document").val(docNo);
    //                $("#txtdoc").val(docNo);

    //            }
    //            else {
    //                $("#Customer").val("");
    //                $("#txtRevNo").val("");
    //                $("#RevNo").val("");
    //                $("#CDD").val("");
    //                $("#DocumentNo").val("");
    //                DisplayNotiMessage("error", "Invalid Project.! Try Again..!", "Error");
    //            }

    //        },
    //        error: function () {
    //        }
    //    });
    //});
    @*function confirmOnAttach(){
        var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
        var status = "@Model.Status";
        if (status != undefined && status != null && status.toLowerCase() == "approved") {
            bootbox.confirm({
                message: "Are you sure you want to revise this header?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        //clearTable(); // Remove this line if attachments should be carried forward
                        $("#ddlApprover").removeAttr("disabled", true);
                        $("#btnSend").show();
                        submit(frmSaveHeaderValue, status);
                        return true;
                    }
                    else
                        return false;
                }

            });
        }
        else
            return true;
    }*@


</script>
<style>
    .modal-dialog {
        margin: 30px auto;
        /*//width: 85% !important;*/
    }
</style>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>