﻿@using IEMQSImplementation
@model IEMQSImplementation.ITP001
@{    string AttachmentUpload = "fuAttachmentUpload";}
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }
</style>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />

<script>
    var isSaveCallbackfunction = false;
    function FillITPautocomplete(element, arrayList, isEditable) {
        element.autocomplete({
            source: arrayList,
            minLength: 0,
            autoFocus: true,
            async: false,
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(this).val();
                    }
                }
            }
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

    }

    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });

        var arrayMaterialCategory= @Html.Raw(Json.Encode(@ViewBag.MaterialCategory));
        FillITPautocomplete($("#MaterialCategory"), arrayMaterialCategory, false);

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtQC").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetQCUser",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Code };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    //ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#QC").val(ui.item.id);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtDesigner").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetDesignerUser",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Code };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    //ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;

                    $("#Designer").val(ui.item.id);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtSupplier").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetSupplier",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Description, value: item.Description, id: item.Code };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#txtPurchase").val('');
                    $("#PurchaseOdrerNo").val('');
                    $("#txtPurchase").attr("readonly", true);
                    //ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#txtPurchase").val('');
                    $("#PurchaseOdrerNo").val('');
                    $("#SupplierName").val(ui.item.id);
                    getOrderNo(ui.item.id);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });


        $("#txtProject").blur(function () {
            if (!isSelected) {
                //ClearAll();
            }
        });

        if ($("#txtProject").val('')) {
            if ($('#txtProject').val() != "") {
            }
            else {
                //ClearAll();
            }
        }
        $("#txtPurchase").attr("readonly", true);
        if (parseInt($("#txtHeaderId").val()) > 0) {
            GetITPLinePartial('@Model.HeaderId');
        }

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            var strProject = '@ViewBag.Project';
            var strQC = '@ViewBag.QC';
            var strSupplier = '@ViewBag.Supplier';
            var strDesigner = '@ViewBag.Designer';
            $("#txtProject").attr("disabled", true);
            $("#txtProject").val(strProject);
            $("#txtSupplier").val(strSupplier);
            $("#txtPurchase").val('@Model.PurchaseOdrerNo');
            $("#txtProject").val(strProject);
            $("#txtQC").val(strQC); $("#txtDesigner").val(strDesigner);
            if ($("#txtSupplier").val() != '') {
                $("#txtPurchase").attr("readonly", false);
            }

        }
        if ('@Model.QCComments' != '') {
            $("#dvQCComments").show();
        }
        else {
            $("#dvQCComments").hide();
        }
        if ('@Model.DesignComments' != '') {
            $("#dvDesignComments").show();
        }
        else {
            $("#dvDesignComments").hide();
        }
        if ('@Model.Status' != '@clsImplementationEnum.NDETechniqueStatus.Draft.GetStringValue()' && '@Model.Status' != '@clsImplementationEnum.NDETechniqueStatus.Returned.GetStringValue()') {
            $('div.dvHeader :input').attr('disabled', true);
            //$('div.dvButtons :input').attr('disabled', true);
            $("#btnNew").hide();
            $("#btnAddAll").hide();
            $("#btnSaveHeader").hide();
        }


        $('#frmCreateHeader').validate({
            rules: {
                txtProject: { required: true, },
                Project: { required: true, },
                SupplierName: { required: true, },
                PurchaseOdrerNo: { required: true, },
                txtSupplier: { required: true, },
                txtPurchase: { required: true, },
            },
            messages: {
                txtProject: {
                    required: "Project is required"
                },
                Project: { required: "Project is required", },
                txtSupplier: { required: "Supplier Name is required", },
                txtPurchase: { required: "Purchase Odrer No is required", },
                SupplierName: { required: "Supplier Name is required", },
                PurchaseOdrerNo: { required: "Purchase Odrer No is required", },
            }
        });

        $("#btnSaveHeader").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                SaveHeader(frmSaveHeaderValue, true);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnRetract").click(function () {
            var id = parseInt('@Model.HeaderId');
            $.ajax({
                type: "POST",
                url: WebsiteURL+"/ITP/Maintain/RetractStatus",
                datatype: "Json",
                async: false,
                data: { id: id },
                success: function (data) {
                    if(data.Key)
                    {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //$("#btnCreateHeader").show();
                        //$("#btnSendForApproval").show();
                        //$("#btnRetract").hide();
                        GetHeaderFormHTML(parseInt('@Model.HeaderId'))
                    }
                },
                error: function () {
                }
            });
        });
    });
  

    //load lines data
    function GetITPLinePartial(headerID) {
        $("#dvITPLineDetails").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL +"/ITP/Maintain/LoadLinesFormPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerID },
            success: function (result) {
                $("#dvITPLineDetails").html(result);
            },
            error: function () {
            }
        });
    }

    function SaveHeader(strFormData, IsVisible) {
        if ($("#txtQC").val() != '' || $("#txtDesigner").val() != '') {
            if (getHasAttachmentsForSubmit('@(AttachmentUpload)')) {
                $.ajax({
                    url:WebsiteURL + "/ITP/Maintain/SaveITPHeader",
                    type: "POST",
                    data: {
                        HeaderId: $("#txtHeaderId").val(),
                        Project: $("#Project").val(),
                        SupplierName: $("#SupplierName").val(),
                        PurchaseOdrerNo: $("#PurchaseOdrerNo").val(),
                        MaterialCategory:$("#MaterialCategory").val(),
                        QC: $("#QC").val(),
                        Designer: $("#Designer").val(),
                    },
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {

                            if (parseInt(data.HeaderId) > 0) {
                                $("#txtHeaderId").val(parseInt(data.HeaderId));
                            }
                            if (IsVisible) {
                                isSaveCallbackfunction = true;
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            UpdateFolderPathAndSave@(AttachmentUpload)("ITP001/" +data.HeaderId);

                            //GetITPLinePartial(parseInt(data.HeaderId));
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                });
            }
        }
        else {
            DisplayNotiMessage("warning", "Please select QC or Designer", "Warning");
        }
    }

    function callbackfuntion(){
        if(isSaveCallbackfunction){
            GetITPLinePartial($("#txtHeaderId").val());
            isSaveCallbackfunction =false;
        }
        else
        {

            $.ajax({
                type: "POST",
                url: WebsiteURL +"/ITP/Maintain/SendForApproval",
                datatype: 'json',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { strHeaderId:parseInt($("#txtHeaderId").val()) },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        window.location.href = WebsiteURL +'/ITP/Maintain/Index';
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                },
                error: function () {
                }
            });
        }
    }
    function getOrderNo(supplier) {
        if (supplier != null && supplier != '' && supplier != undefined) {
            $("#txtPurchase").attr("readonly", false);
            $("#txtPurchase").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL +"/ITP/Maintain/GetOrderNo",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        async: false,
                        data: {
                            term: request.term, supplier: supplier
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Description, value: item.Description, id: item.Code };
                            }));
                            if (data.length > 0) {
                                isSelected = true;
                            }
                            else {
                                isSelected = false;
                            }
                        }
                    });
                },
                minLength: 0,
                autoFocus: true,
                change: function (event, ui) {
                    if (ui.item === null) {
                        $(this).val('');
                    }
                },
                select: function (event, ui) {
                    if (ui.item) {
                        isSelected = true;
                        $("#PurchaseOdrerNo").val(ui.item.id);
                    }
                },
            }).on('focus', function (event) {
                var self = this;
                $(self).autocomplete("search", this.value);
            });
        }
    }

    //delete Lines
    function DeleteRecord(LineID) {

        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete this record?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url:WebsiteURL + '/ITP/Maintain/DeleteRecord',
                            data: { lineid: LineID },
                            type: 'POST',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    GetITPLinePartial('@Model.HeaderId');
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }

                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });
    }
</script>

<style>
    textarea {
        /*height: 33px !important;*/
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="portlet light ">
    <div class="portlet-body">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">Inspection Test Plan</span>
                </div>
                @{
                    if (!string.IsNullOrWhiteSpace(Model.Status))
                    {
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder">
                                Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                            </span>
                        </div>
                    }
                }
            </div>
            <div class="dvHeader">

                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {
                    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                    @*@Html.HiddenFor(m => m.Status)*@
                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend> Project Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" placeholder="Select" />
                                                @Html.HiddenFor(m => m.Project)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Supplier Name<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtSupplier" value="" name="txtSupplier" class="form-control col-md-3" placeholder="Select" />
                                                @Html.HiddenFor(m => m.SupplierName)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Purchase Odrer No<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtPurchase" value="" name="txtPurchase" class="form-control col-md-3" placeholder="Select" />
                                                @Html.HiddenFor(m => m.PurchaseOdrerNo)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Material Category</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.MaterialCategory, new { @class = "form-control col-md-3", placeholder = "Select" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>QC Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">QC</label>
                                            <div class="">
                                                <input type="text" id="txtQC" value="" name="txtQC" class="form-control col-md-3" placeholder="Select" />
                                                @Html.HiddenFor(m => m.QC)
                                            </div>
                                        </div>

                                        <div id="dvQCComments" class="col-md-8">
                                            <label class="control-label">QC Comments</label>
                                            @Html.TextAreaFor(m => m.QCComments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Designer Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <label class="control-label">Designer</label>
                                            <div class="">
                                                <input type="text" id="txtDesigner" value="" name="txtDesigner" class="form-control col-md-3" placeholder="Select" />
                                                @Html.HiddenFor(m => m.Designer)
                                            </div>
                                        </div>
                                        <div id="dvDesignComments" class="col-md-8">
                                            <label class="control-label">Designer Comments</label>
                                            @Html.TextAreaFor(m => m.DesignComments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>

                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Add Attachments</legend>
                                <div class="form-group">
                                    <div class="col-md-12" style="margin-top: 20px">
                                        <div class="">
                                            <div id="dv@(AttachmentUpload)"></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                }
            </div>
            <hr />

            <div id="dvITPLineDetails">
            </div>
            <hr />
            <div class="dvButtons">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align:right;">
                            <input type="button" class="btn save" style="margin-right:5px;" id="btnSaveHeader" value="Save" />
                            <input type="button" class="btn submit" id="btnSendForApproval" onclick="SubmitDetails()" value="Submit" style="display:none;margin-right:5px;" />
                            @if (Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue())
                            { 
                                <a id="btnRetract" style="" class="btn retract">Retract</a>
                            }
                            <a href="~/ITP/Maintain/Index" style="margin-right:5px;" class="btn btnclose">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $(document).ready(function () {
        var UploadPath = "";
        var header = parseInt('@Model.HeaderId');

        if (parseInt(@(Model.HeaderId)) > 0) {
            UploadPath = "ITP001/" + header;
        }
        var Displaybutton = false;
        if('@Model.Status' == '@clsImplementationEnum.HTRStatus.Draft.GetStringValue()')
        {
            Displaybutton = true;
        }
        var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowDeleteAction =Displaybutton;
        objAttachmentUpload.ShowAttachmentBtn = Displaybutton;
        objAttachmentUpload.FolderPath = UploadPath;
        objAttachmentUpload.IsRequired = true;
        ///objAttachmentUpload.LoadCallbackFunction = HideUpload;
        if(header>0){
            objAttachmentUpload.ShowUploadBtn=true;
        }
        else{
            objAttachmentUpload.ShowUploadBtn=false;
        }
        objAttachmentUpload.SuccessCallbackFunction = "callbackfuntion()";
        LoadFileUploadPartialView(objAttachmentUpload);
    });
    function HideUpload() {
        $('#btnUploadAll@(AttachmentUpload)').hide()
    }
    function SubmitDetails()
    {
        if ($("#frmCreateHeader").valid()) {
            if ($("#txtQC").val() != '' || $("#txtDesigner").val() != '') {

                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                bootbox.dialog({
                    title: "Sent For Approval Confirmation",
                    message: "Do you want to send this document for approval?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                            callback: function (result) {
                                if (result) {
                                    SaveHeader(frmSaveHeaderValue,false);
                                }
                            }
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                });

            }
            else {
                DisplayNotiMessage("warning", "Please select QC or Designer", "Warning");
            }
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }
</script>
