﻿@{
    ViewBag.Title = "NDE Test Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script>
    $(document).ready(function () {

        GetHeaderGridDataPartial('Pending');

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });

    });
    function GetHeaderGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/NDETestResult/GetTestResultDataPartial",
            data: { status: status },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
    function PrintReport(strtype) {

        bootbox.dialog({
            title: 'Not Attended Seam Request Report for ' + strtype,
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        var dat = [];

                        url = "/LTFPS/NOTAttendSeamRequest";
                        dat.push({ Param: "RequestNoFrom", Value: '' });
                        dat.push({ Param: "RequestNoTo", Value: '' });
                        dat.push({ Param: "projectFrom", Value: '' });
                        dat.push({ Param: "projectTo", Value: '' });
                        dat.push({ Param: "StageCodeFrom", Value: '' });
                        dat.push({ Param: "StageCodeTo", Value: '' });
                        dat.push({ Param: "IterationNoFrom", Value: '' });
                        dat.push({ Param: "IterationNoTo", Value: '' });
                        dat.push({ Param: "Location", Value: '' });
                        dat.push({ Param: "StageType", Value: strtype });
                        dat.push({ Param: "ShopFrom", Value: '' });
                        dat.push({ Param: "ShopTo", Value: '' });
                        dat.push({ Param: "OfferdateFrom", Value: '' });
                        dat.push({ Param: "offerdateTo", Value: '' });
                        dat.push({ Param: "RequestStatus", Value: 'Not Attended' });
                        dat.push({ Param: "SeamNoFrom", Value: '' });
                        dat.push({ Param: "SeamNoTo", Value: '' });
                        dat.push({ Param: "StageSequenceFrom", Value: '' });
                        dat.push({ Param: "StageSequenceTo", Value: '' });
                        dat.push({ Param: "IsLTFPS", Value: 'true' })
                        ShowReport(dat, url);
                    }
                },
                cancel: {
                    label: 'Close',
                    className: 'btn btnclose',
                    callback: function () { }
                }
            },
            'cancel': {
                label: 'Close',
                className: 'btn btnclose'
            }
        })
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Attend NDE Test Result
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <a class="btn green" onclick="PrintReport('RT')">RT Not Attended Seams Request</a>
                            <a class="btn blue" onclick="PrintReport('UT')">UT Not Attended Seams Request</a>
                        </div>
                    </div>
                </div>
                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Attend </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabTPI" spara="TPI" data-toggle="tab">Pending TPI </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datetimepicker/js")