﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/iln-table-structure/css")
@Scripts.Render("~/bundles/iln-table-structure/js")
@Scripts.Render("~/bundles/pcr/js")
    
<div class="page-content" id="ln-layout">
    <div class="row">
        <div class="portlet light">
            <div class="header-layout-panel panel-height" tabindex="0">
                <div class="flow-layout-panel" role="navigation" aria-label="main">
                    <div class="session-nav">
                        <div>
                            <div class="home-tab">
                                <div class="ln-tab tab-uncloseable">
                                    <label class="ln-label">Recently Used</label>
                                    <div class="button close" aria-hidden="true">
                                        <img class="gwt-image"
                                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAJElEQVQoU2NkIAAYofL/oTQGn2gFMIvQTWKAmUBQAfXcgOFpADKnCgn2sjncAAAAAElFTkSuQmCC" />
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-scroll-panel">
                                <div>
                                    <div class="tabs-panel">
                                        <!----Tab Headings will be rendered here using JS-->
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-resize-panel">
                                <div class="btn-group dt-btn">
                                    <label onclick="fnTriggerResizeScreen(this);" class="btn btn-circle btn-outline btn-sm" title="Maximize screen">
                                        <i class="fa fa-expand"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="clear-float"></div>
                        </div>
                    </div>
                </div>
                <div class="window-manager" role="main">
                    <div class="window-base framed-window window-base-resizable window-base-maximized" aria-hidden="false">
                        <div class="inner">
                            <div class="ln-container">
                                <div class="content">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="common-menu" class="menu menu-button-menu">

</div>

