﻿@using IEMQSImplementation
@{
//ViewBag.Title = "Maintain Instrument Issue";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        var status = '@ViewBag.Status';
        //GetHeaderGridDataPartial();
        var table = $('#tblIMSHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IMS/MaintainIMS/LoadInstumentIssueHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "CTQCompileStatus", "value": '@ViewBag.Status' },
                    { "name": "MTStatus", "value": '@ViewBag.role' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                    "name": "Location"
                },
                {
                    "name": "InstrumentRequestNumber",
                    "sClass": "center"
                },
                {
                    "name": "MaintainedbyUsersDepartment",
                    "sClass": "center"
                },
                 {
                     "name": "Remarks",
                     "sClass": "center"
                 },
                 {
                     "name": "Status",
                     "sClass": "center"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 }
            ]
        });
        table.dtSearchFilter();
    });

    //function GetHeaderGridDataPartial()
    //{

    //}
    function closeRequest(HeaderId) {
        bootbox.dialog({
            title: "Close Instrument Issue Request Confirmation",
            message: "Do you want to Close instrument issue request?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        
                        $.ajax({
                            url: WebsiteURL + "/IMS/MaintainIMS/CloseInstrumentIssueRequest",
                            dataType: "json",
                            type: 'POST',
                            data: { "HeaderId": HeaderId },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    //window.setTimeout('window.location.href = "/IMS/MaintainIMS/ApproveIssueRequest"', 2000);
                                    $('#tblIMSHeader').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });

    }
</script>

@*<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Instrument Issue
                                    <small></small>
                                </h1>

                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="/IMS/MaintainIMS/InstrumentIssueDetails" id="AddNew" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>

                </div>*@
                


                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            @{
                                string strIMSitle = " Instrument Issue Request";
                            }
                            @strIMSitle
                        </div>
                        <div class="tools" id="dvExportHeader">
                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IMS/MaintainIMS/GenerateExcel", GridType = clsImplementationEnum.GridType.ProcessInstrumentIssue.GetStringValue(), dvId = "#dvExportHeader" })
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblIMSHeader" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="all">Location</th>
                                    <th class="min-phone-l">Instrument Request Number</th>
                                    <th class="min-phone-l">Maintained by Users Department</th>
                                    <th class="min-phone-l">Remarks</th>
                                    <th class="min-phone-l">Status</th>
                                    <th class="min-phone-l">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>



            @*</div>
        </div>
    </div>
</div>*@

<script>


    
</script>


