﻿@using IEMQSImplementation
@model IMS002
@{
    ViewBag.Title = "Maintain Instrument";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUpload1ID = "fuupload1";
}

@*<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />*@
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />

<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .modal-sm {
        width: 50% !important;
        margin: 30px auto;
    }

    .modal-lg {
        width: 80% !important;
        margin: 30px auto;
    }
</style>

<script>
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        var InstrumentGroup = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.InstrumentGroup))));
        FillAutoComplete($("#txtInstrumentGroup"), InstrumentGroup, $("#InstrumentGroup"));
        var LeastCountUnit = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeastCountUnit))));
        FillAutoComplete($("#txtLeastCountUnit"), LeastCountUnit, $("#LeastCountUnit"));
        var CalibrationIntervalType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CalibrationIntervalType))));
        FillAutoComplete($("#txtCalibrationIntervalType"), CalibrationIntervalType, $("#CalibrationIntervalType"));
        var CalibrationProgram = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CalibrationProgram))));
        FillAutoComplete($("#txtCalibrationProgram"), CalibrationProgram, $("#CalibrationProgram"));

        $(".decimal-only").autoNumeric('init', { aSep: '', vMax: "99999.99" });
        $(".5decimalnumeric").autoNumeric('init', { aPad: "fase", aSep: '', vMax: "9999999.99999", aForm: "false",mDec: '5' });

        $("#txtActive").change(function(){
            $("#Active").val($(this).val());
        });
        //$('#chkActive').on('switchChange.bootstrapSwitch', function (event, state) {
        //    var x = $(this).data('on-text');
        //    var y = $(this).data('off-text');
        //    if ($("#chkActive").is(':checked')) {
        //        $("#hdActive").val("Yes");
        //    } else {
        //        $("#hdActive").val("No");
        //    }
        //});
        //$("#txtBlockedforCalibration").change(function () {
        //    var value = $("#txtBlockedforCalibration").val()
        //    $("#BlockedforCalibration").val(value);
        //});

        if ('@Model.HeaderId' > 0) {
            $("#txtInstrumentGroup").val('@ViewBag.txtInstrumentGroup');
            $("#txtLeastCountUnit").val('@ViewBag.txtLeastCountUnit');
            $("#txtCalibrationIntervalType").val('@ViewBag.txtCalibrationIntervalType');
            $("#txtCalibrationProgram").val('@ViewBag.txtCalibrationProgram');
            $("#txtBlockedforCalibration").val('@Model.BlockedforCalibration');
            $("#txtActive").val('@Model.Active');

            @*if ('@Model.Active'.toLowerCase() == false || '@Model.Active'.toLowerCase() == "no")
                $('#chkActive').bootstrapSwitch('state', false);

            else
                $('#chkActive').bootstrapSwitch('state', true);*@
            $("#LastCalibrationDate").val('@ViewBag.LastCalibrationDate');
            $("#CalibrationDueDate").val('@ViewBag.CalibrationDueDate');
            $('#InstrumentNumber').prop('readOnly', true);
            loadData('@Model.HeaderId');
            //var DueDate = new Date($("#CalibrationDueDate").val());
            var DueDate = new Date('@Convert.ToDateTime(Model.CalibrationDueDate).ToString("yyyy-MM-dd")');
            var currentDate = new Date();
            if (currentDate < DueDate) {
                $("#btnNew").hide();
            }
            var TestResultMaintained = '@ViewBag.TestResultMaintained'.toLocaleLowerCase();
            if (TestResultMaintained == 'true') {
                @*setAttachmentsInHeader("IMS002/@(Model.HeaderId)", true);*@
                //$("#btnAttach").removeAttr("onclick");
                $('#frmMaintainDeatils input').prop('readOnly', true);
            }
            @*else{
                if ('@Model.Active' == 'No'){
                    setAttachmentsInHeader("IMS002/@(Model.HeaderId)", true);
                    //$("#btnAttach").removeAttr("onclick");
                }
                else
                    setAttachmentsInHeader("IMS002/@(Model.HeaderId)");
            }*@
            if ('@Model.Active' == 'No') {
                //$('#chkActive').bootstrapSwitch('disabled',true);
                $("#txtActive").prop("disabled", true);
                $('#frmMaintainDeatils input').prop('readOnly', true);
                $("#btnSubmit").prop("disabled", true);

                $("#btnNew").hide();
            }
        }
        else {
            $("#BlockedforCalibration").val('No');
            //$("#hdActive").val('Yes');
            $("#Active").val('Yes');
            $("#btnNew").hide();
        }

        $.ajax({
            type: "POST",
            url: "/IMS/MaintainIMS/CheckTestArea",
            datatype: 'json',
            async: false,
            data: { TestArea: $("#TestArea").val() },
            success: function (data) {
                if (!data.Key) {
                    DisplayNotiMessage("error", "Your department code doesn’t exist in Test Area, Pls maintain", "Error");
                    $("#btnSubmit").prop("disabled", true);
                }
            },
            error: function () {
            },
        });


        $('#frmMaintainDeatils').validate({
            rules: {
                Location: {
                    required: true
                },
                InstrumentNumber: {
                    required: true
                },
                InstrumentDescription: {
                    required: true
                },
                FromRange: {
                    required: true
                },
                ToRange: {
                    required: true
                },
                txtInstrumentGroup: {
                    required: true
                },
                LeastCount: {
                    required: true
                },
                txtLeastCountUnit: {
                    required: true
                },
                txtCalibrationIntervalType: {
                    required: true
                },
                CalibrationInterval: {
                    required: true
                },
                txtCalibrationProgram: {
                    required: true
                },
            },
            messages: {
                Location: {
                    required: "Location is required"
                },
                InstrumentNumber: {
                    required: "Instrument Number is required"
                },
                InstrumentDescription: {
                    required: "Instrument Description is required"
                },
                FromRange: {
                    required: "From Range is required"
                },
                ToRange: {
                    required: "To Range is required"
                },
                txtInstrumentGroup: {
                    required: "Instrument Group is required"
                },
                LeastCount: {
                    required: "Least Count is required"
                },
                txtLeastCountUnit: {
                    required: "Least Count Unit is required"
                },
                txtCalibrationIntervalType: {
                    required: "Calibration Interval Type is required"
                },
                CalibrationInterval: {
                    required: "Calibration Interval is required"
                },
                txtCalibrationProgram: {
                    required: "Calibration Program is required"
                },
            },
        });
        $("#btnSubmit").click(function () {
            if ($("#frmMaintainDeatils").valid()) {
                var formdata = new FormData();
                var frmMaintainDeatils = $("#frmMaintainDeatils").serializeArray();
                $.each(frmMaintainDeatils, function (key, input) {
                    formdata.append(input.name, input.value);
                });

                $.ajax({
                    url: WebsiteURL + "/IMS/MaintainIMS/SaveInstrumentDetails",
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    async: false,
                    data:// {
                        formdata
                    //Location: $("#Location").val(),
                    //InstrumentNumber: $("#InstrumentNumber").val(),
                    //InstrumentDescription: $("#InstrumentDescription").val(),
                    //InstrumentGroup: $("#InstrumentGroup").val(),
                    //FromRange: $("#FromRange").val(),
                    //ToRange: $("#ToRange").val(),
                    //LeastCount: $("#LeastCount").val(),
                    //LeastCountUnit: $("#LeastCountUnit").val(),
                    //TestArea: $("#TestArea").val(),
                    //CalibrationInterval: $("#CalibrationInterval").val(),
                    //CalibrationIntervalType: $("#CalibrationIntervalType").val(),
                    //LastCalibrationDate: $("#LastCalibrationDate").val(),
                    //CalibrationDueDate: $("#CalibrationDueDate").val(),
                    //BlockedforCalibration: $("#BlockedforCalibration").val(),
                    //Active: $("#hdActive").val(),
                    //CalibrationProgram: $("#CalibrationProgram").val(),
                    //HeaderId: $("#HeaderId").val(),
                    //hasAttachments: getHasAttachmentsForSubmit(),
                    //Attach: getAttachmentsFromTable()
                    ,
                    success: function (res) {
                        if (res.Key == true) {
                            DisplayNotiMessage("success", res.Value, "Success");
                            window.setTimeout('window.location.href = "'+ WebsiteURL +'/IMS/MaintainIMS/InstrumentDetails?HeaderId=' + res.HeaderId + '"', 2000);
                        }
                        else {
                            DisplayNotiMessage("error", res.Value, "Error");
                        }
                    },
                    errors: function (error) {
                        DisplayNotiMessage("error", error.data, "Error");
                    }
                });
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
        $("#InstrumentNumber").change(function () {
            var InstNo = $("#InstrumentNumber").val().toUpperCase();
            $.ajax({
                type: "POST",
                url:  WebsiteURL +"/IMS/MaintainIMS/CheckInstumentNo",
                datatype: 'json',
                async: false,
                data: { InstrumentNumber: InstNo },
                success: function (data) {
                    if (!data.Key) {
                        $("#InstrumentNumber").val('');
                        $(this).focus();
                        DisplayNotiMessage("error", "This Instrument Number already exist for this location", "Error");
                    }
                    else
                        $("#InstrumentNumber").val($("#InstrumentNumber").val().toUpperCase());
                },
                error: function () {
                },
            });
        });
    });
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function FillAutoComplete(element, sourceList, hdElement) {

        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                debugger;
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                    $(hdElement).val('');
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Maintain Instrument and Calibration</span>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            @*<div class="portlet-title tabbable-line">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <h1 class="page-title">
                                                    Maintain Instrument
                                                    <small></small>
                                                </h1>

                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location

                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Instrument Number
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.InstrumentNumber, new { @class = "form-control col-md-3", @maxlength = 50 })

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Instrument Description
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.InstrumentDescription, new { @class = "form-control col-md-3", @maxlength = 100 })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Instrument Group
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            <input type="text" id="txtInstrumentGroup" name="txtInstrumentGroup" class="form-control col-md-3" />
                                            @*@Html.TextBoxFor(m => m.InstrumentGroup, new { @class = "form-control col-md-3" })*@
                                            @Html.HiddenFor(m => m.InstrumentGroup)

                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            From Range
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.FromRange, new { @class = "form-control col-md-3 decimal-only" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            To Range
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ToRange, new { @class = "form-control col-md-3 decimal-only" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Test Area
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.TestArea, new { @class = "form-control col-md-3", @readOnly = true })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Least Count
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.LeastCount, new { @class = "form-control col-md-3 5decimalnumeric" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Least count Unit
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            <input type="text" id="txtLeastCountUnit" name="txtLeastCountUnit" class="form-control col-md-3" />
                                            @*@Html.TextBoxFor(model => model.LeastCountUnit, new { @class = "form-control col-md-3" })*@
                                            @Html.HiddenFor(m => m.LeastCountUnit)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Calibration Interval Type
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            <input type="text" id="txtCalibrationIntervalType" name="txtCalibrationIntervalType" class="form-control col-md-3" />
                                            @*@Html.TextBoxFor(m => m.CalibrationIntervalType, new { @class = "form-control col-md-3" })*@
                                            @Html.HiddenFor(m => m.CalibrationIntervalType)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Calibration Interval
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.CalibrationInterval, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Last Calibration Date
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.LastCalibrationDate, new { @class = "form-control col-md-3", @readOnly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Calibration Due Date
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.CalibrationDueDate, new { @class = "form-control col-md-3", @readOnly = true })

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Blocked for Calibration
                                        </label>
                                        <div class="">
                                            @*@Html.TextBoxFor(m => m.BlockedforCalibration, new { @class = "form-control col-md-3"})*@
                                            @*@Html.DropDownListFor(m => m.BlockedforCalibration, new SelectList(ViewBag.CouCat, "Value", "Text"), "Select", new { @class = "form-control" })*@
                                            <select name="txtBlockedforCalibration" id="txtBlockedforCalibration" style=" width:100%; height:35px" class="form-control" disabled="disabled">
                                                <option value="Yes">Yes</option>
                                                <option value="No" selected>No</option>
                                            </select>
                                            @Html.HiddenFor(m => m.BlockedforCalibration)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Active
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            <select name="txtActive" id="txtActive" style=" width:100%; height:35px" class="form-control">
                                                <option value="Yes" selected>Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                            @Html.HiddenFor(m => m.Active)
                                        </div>
                                        @*<div class="">
                                                @Html.CheckBox("chkActive", true, new Dictionary<string, object> { { "id", "chkActive" }, { "class", "make-switch col-md-3" }, { "checked", true }, { "data-on-text", "Yes" }, { "data-off-text", "No" }, { "data-on-color", "success" }, { "data-off-color", "danger" }, { "data-size", "normal" } })
                                                @Html.HiddenFor(m => m.Active, new { @id = "hdActive" })
                                            </div>*@
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Calibration Program
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            <input type="text" id="txtCalibrationProgram" name="txtCalibrationProgram" class="form-control col-md-3" />
                                            @*@Html.TextBoxFor(model => model.CalibrationProgram, new { @class = "form-control col-md-3" })*@
                                            @Html.HiddenFor(m => m.CalibrationProgram)
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.HeaderId)
                                </div>
                            </div>
                            @*<fieldset>
                                    <legend>Attachment</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.Partial("_AttachmentPartial")
                                        </div>
                                    </div>
                                </fieldset>*@
                            <div class="row">
                                <div class="col-md-12" style="text-align:right;margin-top:30px;">
                                    @*<div class="col-md-4">
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4" style="text-align:right;margin-top:30px;">*@
                                    <button class="btn save" type="button" id="btnSubmit">Save</button>
                                    <a href="~/IMS/MaintainIMS/MaintainInstrument" style="" class="btn btnclose">Close</a>
                                    @*</div>*@
                                </div>
                            </div>
                        }
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Maintain Calibration Test Result
                                        </div>
                                        <div class="tools" id="dvExportLine">
                                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IMS/MaintainIMS/GenerateExcel?HeaderId?=" + Model.HeaderId, GridType = clsImplementationEnum.GridType.InstrumentCalibrationLine.GetStringValue(), dvId = "#dvExportLine" })

                                            <div class="btn-group">
                                                <a style="margin-right:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                                    <i class="fa fa-plus"></i> New
                                                </a>
                                            </div>

                                            @*<input type="button" id="btnNew" value="New" name="btnNew" onclick="ShowNewRecord(this);" class="form-control col-md-1 clsNewBtn" />*@
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTestResult", @class = "form-horizontal" }))
                                        {
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTestResult" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="all" style="display: none;">Line Id</th>
                                                        <th class="min-phone-l">Last Calibration Date</th>
                                                        <th class="all" style="display: none;">hdn Due Date</th>
                                                        <th class="min-phone-l">Calibration Due Date</th>
                                                        <th class="min-phone-l">Calibration Report Summary</th>
                                                        <th class="min-phone-l">Unblock</th>
                                                        <th class="min-phone-l">Remarks</th>
                                                        <th class="min-phone-l">Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        }

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="dv@(FileUpload1ID)"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#LastCalibrationDate0").change(function(){
            var a = new Date($("#LastCalibrationDate0").val());

            if ('@Model.CalibrationIntervalType' == 'Days') {
                a.setDate(a.getDate() + @Model.CalibrationInterval);
                $("#CalibrationDueDate0").val(a.getDate() + "/" + (a.getMonth() + 1) + "/" + a.getFullYear());
            }
        });


        $('#frmTestResult').validate({
            rules: {
                LastCalibrationDate0: {
                    required: true,
                },
                Unblock0: {
                    required: true,
                },
            },
            messages: {
                LastCalibrationDate0: {
                    required: "Last Calibration Date is required.",
                },
                Unblock0: {
                    required: "Unblock is required",
                },
            }
        });
    });
    function loadData(Id) {

        var oTable = $('#tblTestResult').dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'desc']
            ],
            "lengthMenu": [
               [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource":  WebsiteURL +"/IMS/MaintainIMS/LoadCalibrationTestResult",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": $('#HeaderId').val() });
                //{ "name": "Department", "value": Department });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                    },
                    'async': false
                });
                ResetAddRow();
                $('input[colname="LastCalibrationDate"]').each(function () {
                    $(this).attr('type', 'date');
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "hide",

                },
                {
                    "name" : "LastCalibrationDate",
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "hide",

                 },
                {
                    "name" : "CalibrationDueDate",
                    "sClass": "center"
                },
                {
                    "name" : "CalibrationReportSummary",
                    "sClass": "center"
                },
                {
                    "name" : "Unblock",
                    "sClass": "center"
                },
                {
                    "name" : "Remarks",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },

            ]
        });
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
    }
    function ShowNewRecord(obj) {
        $('#tblTestResult').find("tbody tr:first").toggle();
        $('#tblTestResult').find("tbody tr:first select:first").focus();
        if ($('#tblTestResult').find("tbody tr:first").is(":visible")) {
            //$(obj).val("Cancel");
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblTestResult').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
            });
            $('#tblTestResult').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            //$(obj).val("New");
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblTestResult').find("tbody tr:first"));
        }
    }
    function SaveNewStage() {
        if ($("#frmTestResult").valid()) {
            bootbox.dialog({
                title: "Save Confirmation",
                message: "Are you sure want to save result?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            var formData = new FormData();
                            var frmValues = $('#frmTestResult').serializeArray();
                            $.each(frmValues, function (key, input) {
                                if(input.name=="LastCalibrationDate0"){
                                    formData.append(input.name, ConvertDDMMYYYYDateFormat(input.value));
                                }
                                else{
                                    formData.append(input.name, input.value);
                                }
                                //formData.append(input.name, input.value);
                            });
                            $.ajax({
                                url: WebsiteURL + '/IMS/MaintainIMS/SaveNewTestResult',
                                data: formData,
                                contentType: false,
                                processData: false,
                                type: 'POST',
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        //$('#tblTestResult').DataTable().ajax.reload();
                                        //ShowNewRecord('#btnNew');
                                        window.setTimeout('window.location.href = "'+ WebsiteURL +'/IMS/MaintainIMS/InstrumentDetails?HeaderId=' + data.HeaderId + '"', 2000);
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            })
        }
    }

    function UpdateLineDetails(objColumn, rowID) {
        var elem = $(objColumn).attr("hdElement");
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }
        var save = false;

        saveDetail(columnName, columnValue, rowID);

    }
    function saveDetail(columnName, columnValue, rowID) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IMS/MaintainIMS/UpdateTestResultData",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    $('#tblTestResult').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });

    }
    function ResetAddRow() {
        $('#tblTestResult').find("tbody tr:first").hide();
        $('#tblTestResult').find("tbody tr:first").css("background-color", "#fbffb2");
        //$("#btnNew").val("New");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblTestResult').find("tbody tr:first"));
    }

    function DeleteRecord(Id) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete this calibration result?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url:  WebsiteURL +'/IMS/MaintainIMS/DeleteCalibrationResult ',
                            data: { LineID: Id },
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblTestResult').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }

                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });


    }

    function showAttachments(ctrl, LineId) {
        var ShowBtn=('@Model.Active'== 'Yes')
        var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ID)', '@FileUpload1ID');
        objFileUpload1.ShowDeleteAction = ShowBtn;
        objFileUpload1.ShowAttachmentBtn = ShowBtn;
        objFileUpload1.LoadInPopup = true;
        objFileUpload1.FolderPath = "IMS003/" + LineId
        LoadFileUploadPartialView(objFileUpload1);

    }
    function ShowTimeline(url) {

        $.ajax({
            url: WebsiteURL + url,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });

    }
    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
        $('input[type="checkbox"]', objFirstLine).prop('checked',false);
    }

    function UpdateCDateDetails(objColumn, rowID) {
        columnValue = $(objColumn).val();
        interval = $("#CalibrationInterval").val();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IMS/MaintainIMS/CalibrationDate",
            datatype: 'json',
            async: false,
            data: { rowId: rowID, interval: interval, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    var a = new Date($("#LastCalibrationDate" + rowID).val());
                    if ('@Model.CalibrationIntervalType' == 'Days') {
                        a.setDate(a.getDate() + @Model.CalibrationInterval);
                        $("#CalibrationDueDate"+ rowID).val(a.getDate() + "/" + (a.getMonth() + 1) + "/" + a.getFullYear());
                        $("#hdnLastCalibrationDate"+ rowID).val(a.getDate() + "/" + (a.getMonth() + 1) + "/" + a.getFullYear());
                    }
                }
                else {
                    $("#CalibrationDueDate"+ rowID).val($("#hdnLastCalibrationDate"+ rowID).val());
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }
</script>
