﻿@using IEMQSImplementation
@{
    //ViewBag.Title = "Process Return Request";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadReceiveID = "fureceive";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
@*<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important">
                            <span class="page-title">Process Return Request</span>
                        </div>
                        <p class="ribbon-content"></p>
                    </div>*@
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Process Return Request

                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IMS/MaintainIMS/GenerateExcel", GridType = clsImplementationEnum.GridType.ReturnInstrumentIssue.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblReturnRequest" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Instrument Request Number</th>
                            <th class="all">Instrument No</th>
                            <th class="min-phone-l">Submitted By</th>
                            <th class="all">Submitted Date</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Action</th>
                            <th class="" style="display:none;">LineId</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="text-align:right;">
        <button id="btnReceive" type="button" class="btn green">Receive</button>
    </div>
</div>
@*</div>
                </div>
            </div>
        </div>
    </div>*@
<div id="dv@(FileUploadReceiveID)"></div>
<script>

    $(document).ready(function () {

        var isVisible = false;
        $("#btnReceive").click(function () {
            var arrayLineIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblReturnRequest')).each(function () {
                if (this.checked) {
                    arrayLineIds.push(this.value);
                }
            });
            if (arrayLineIds.length > 0) {
                var strLineIds = arrayLineIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/IMS/MaintainIMS/ReceiveRequest",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strLineIds: strLineIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);

                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }

                        $('#tblReturnRequest').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select record", "Error");
            }
        });


        var table = $('#tblReturnRequest');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta) {
                    return '<input type="checkbox" name="id[]" value="'
                       + $('<div/>').text(data).html() + '">';
                }
            }],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IMS/MaintainIMS/LoadReceiveRequestData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnReceive").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnReceive").hide();
                            isVisible = false;
                        }
                    },
                    //fnCallback,
                    'async': false
                });
            },
            "aoColumns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "center",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },

                {
                    "name": "InstrumentRequestNumber",
                    "sClass": "center",
                    "ColName": "ims11.InstrumentRequestNumber"
                },
                {
                    "name": "InstrumentNumber",
                    "sClass": "center",
                    "ColName": "ims11.InstrumentNumber"
                },
                {
                    "name": "SubmittedBy",
                    "sClass": "center",
                    "ColName": "ims10.SubmittedBy"
                },
                {
                    "name": "SubmittedOn",
                    "sClass": "center",
                    "ColName": "ims10.SubmittedOn",
                    "attr": "date"
                },
                {
                    "name": "Location",
                    "sClass": "center",
                    "ColName": "ims11.Location"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "sClass": "hide"

                 }
            ]
        });


        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#tblReturnRequest tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });


    function ShowTimeline(url) {

        $.ajax({
            url: url,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });

    }

    function LoadFileUploadReceive(lineid) {
        var DisplayBtn = true;
        var objFileUploadReceive = new FileUploadEnt('dv@(FileUploadReceiveID)', '@FileUploadReceiveID');
        objFileUploadReceive.ShowDeleteAction = DisplayBtn;
        objFileUploadReceive.ShowAttachmentBtn = DisplayBtn;
        objFileUploadReceive.LoadInPopup = true;
        objFileUploadReceive.FolderPath = "IMS011/" + lineid;
        LoadFileUploadPartialView(objFileUploadReceive);

        @*LoadFileUploadPartialView('dv@(FileUploadReceiveID)', true, '@FileUploadReceiveID', "IMS011/" + lineid,
                                    null, null, null, DisplayBtn, DisplayBtn, null, null, null, "", "", "")*@
    }
</script>
