﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Re-Call Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />*@
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>


<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .modal-sm {
        width: 50% !important;
        margin: 30px auto;
    }

    .modal-lg {
        width: 80% !important;
        margin: 30px auto;
    }
</style>

<script>
    $(document).ready(function () {
        $("select#ddlInstFrom").prop('selectedIndex', 0);
        $("select#ddlInstTo").prop('selectedIndex', 0);
        $("#btnEmail").prop("disabled", true);

        $("#ddlInstFrom").change(function () {
            $('#tblInstList tbody').empty();
            var index1 = $("#ddlInstFrom").get(0).selectedIndex;
            var index2 = $("#ddlInstTo").get(0).selectedIndex;
            if (index1 == 0) {
                $("#btnEmail").prop("disabled", true);
            }
            else {
                if (index1 != 0 && index2 != 0) {
                    $("#btnEmail").prop("disabled", false);
                    loadData();
                }
            }
        });
        $("#ddlInstTo").change(function () {
            $('#tblInstList tbody').empty();
            var index1 = $("#ddlInstFrom").get(0).selectedIndex;
            var index2 = $("#ddlInstTo").get(0).selectedIndex;
            if (index2 == 0) {
                $("#btnEmail").prop("disabled", true);
            }
            else {
                if (index1 != 0 && index2 != 0) {
                    $("#btnEmail").prop("disabled", false);
                    loadData();
                }
            }
        });

        $("#btnEmail").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/IMS/MaintainIMS/SendRecallEmail",
                datatype: 'json',
                async: false,
                data: {
                    FromInstrumentNumber: $("#ddlInstFrom").val(),
                    ToInstrumentNumber: $("#ddlInstTo").val()
                },
                success: function (data) {
                    if (!data.Key) {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                    else
                        DisplayNotiMessage("success", data.Value, "Success");
                },
                error: function () {
                },
            });
        });

    });

    function loadData() {

        var oTable = $('#tblInstList').dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'desc']
            ],
            "lengthMenu": [
               [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IMS/MaintainIMS/LoadIssuedInstrumentResult?from=" + $("#ddlInstFrom").val() + "&to=" + $("#ddlInstTo").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "from", "value": $("#ddlInstFrom").val() },
                { "name": "to", "value": $("#ddlInstTo").val() });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        if (data.iTotalRecords > 0) {
                            $("#btnEmail").prop("disabled", false);
                        }
                        else {
                            $("#btnEmail").prop("disabled", true);
                        }
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    //'success': fnCallback,
                    'async': false
                });

                
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "hide",

                },
                {
                    "name": "InstrumentNumber",
                    "sClass": "center"
                },
                {
                    "name": "IssuedBy",
                    "sClass": "center"
                },


            ]
        });
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Re-call Notification</span>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            <input type="text" value="@ViewBag.location" disabled id="txtLocation" name="txtLocation" class="form-control col-md-3" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label">
                                            From Instrument Number
                                        </label>
                                        <div class="">
                                            @Html.DropDownList("ddlInstFrom", (SelectList)@ViewBag.instrumentList, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">
                                            To Instrument Number
                                        </label>
                                        <div class="">
                                            @Html.DropDownList("ddlInstTo", (SelectList)@ViewBag.instrumentList, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                        }
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Instrument List
                                        </div>
                                        <div class="tools" id="dvExportHeader">
                                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IMS/MaintainIMS/GenerateExcel", GridType = clsImplementationEnum.GridType.RecallNotification.GetStringValue(), dvId = "#dvExportHeader" })
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmInstList", @class = "form-horizontal" }))
                                        {
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblInstList" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="" style="display: none;">Line Id</th>
                                                        <th class="min-phone-l">Instrument Number</th>
                                                        <th class="min-phone-l">Issued By</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        }

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:right;margin-top:30px;">
                                <button class="btn green" type="button" id="btnEmail">Send Email</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        
    });
</script>
