﻿@model IEMQSImplementation.WQR004
@using IEMQSImplementation
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script>
    $("#frmtab3").validate({
        rules: {
            //VisualExam: {
            //    required: true
            //}
        },
        messages: {
            //VisualExam: {
            //    required: "Visual examination of complete Weld Is Required"
            //}
        }
    });
</script>
<div class="row">
    <div class="col-md-12" style="margin-top:15px;">
        <form id="frmtab3" class="form-horizontal">
            @Html.HiddenFor(m => m.Id, new { @class = "form-control col-md-3" })
            <div class="form-group">
                <fieldset>
                    <legend>Results</legend>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.Groove)<span></span></label>
                            <label class="control-label" for="Groove"> Groove</label>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>Result - Groove</legend>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-6">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.VisualExam)<span></span></label>
                            <label class="control-label" for="VisualExam"> Visual exam of comp. Weld</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Result </label>
                            <div class="">
                                <input type="text" id="txtVisualResult" name="txtVisualResult" class="form-control col-md-3" />
                                @Html.HiddenFor(m => m.VisualResult)
                            </div>
                        </div>
                        <div class="col-md-4">
                            </div>
                        </div>

                    <div class="col-md-12" style="margin-top:15px;">

                        <div class="col-md-2">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.TrRootFace)<span></span></label>
                            <label class="control-label" for="TrRootFace"> Tr.Root & Face</label>
                        </div>
                        <div class="col-md-2">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.LgRootFaceBend)<span></span></label>
                            <label class="control-label" for="LgRootFaceBend"> Lg Root & Face bend</label>
                        </div>

                        <div class="col-md-2">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.TrSideBend)<span></span></label>
                            <label class="control-label" for="TrSideBend"> Tr.Side bend</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Result</label>
                            <div class="">
                                <input type="text" id="txtTrResult" name="txtTrResult" class="form-control col-md-3" />
                                @Html.HiddenFor(m => m.TrResult)
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label" for="TrGroove"> Report</label>
                            <div class="">
                                @Html.TextBoxFor(m => m.TrGrooveReport, new { @class = "form-control col-md-3", @maxLength = "50" })
                                @*<label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.GrooveReport)<span></span></label>*@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Date</label>
                            <div id="trDate" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                @Html.TextBoxFor(m => m.TrExamDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn default" id="btncal1" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                        <div class="col-md-12" style="margin-top:15px;">
                            <div class="col-md-2">
                                <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.AltVolExam)<span></span></label>
                                <label class="control-label" for="AltVolExam"> Alt. Vol Exam</label>
                            </div>

                            <div class="col-md-2">
                                <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.RT)<span></span></label>
                                <label class="control-label" for="RT"> RT</label>
                            </div>
                            <div class="col-md-2">

                                <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.UT)<span></span></label>
                                <label class="control-label" for="UT"> UT</label>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" id="txtRTResult" name="txtRTResult" class="form-control col-md-3" />
                                    @Html.HiddenFor(m => m.RTResult)
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Report</label>
                                @Html.TextBoxFor(m => m.Rtreport, new { @class = "form-control col-md-3", @maxlength = "50" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Date</label>
                                <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                    @Html.TextBoxFor(m => m.VisualExamDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
</fieldset>
                <br />
                <fieldset class="clsgroove">
                    <legend>Results – Fillet </legend>
                        
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-3">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.FilletWeldsInPlate)<span></span></label>
                            <label class="control-label" for="FilletWeldsInPlate"> Fillet Weld in Plate</label>
                        </div>

                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.FilletWeldFracture)<span></span></label>
                            <label class="control-label" for="FilletWeldFracture"> Fillet Weld Fracture test</label>
                        </div>
                        @*<div class="col-md-3">
                                <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.Fillet)<span></span></label>
                                <label class="control-label" for="Fillet"> Fillet</label>
                            </div>*@
                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.MacroExamination)<span></span></label>
                            <label class="control-label" for="MacroExamination"> Macro Examination</label>
                        </div>
                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.FilletWeldsInPipe)<span></span></label>
                            <label class="control-label" for="FilletWeldsInPipe"> Fillet Welds in Pipe</label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px;">

                        <div class="col-md-3">
                            <label class="control-label">Length and percent of defect</label>
                            @Html.TextBoxFor(m => m.LengthPercentOfDefect, new { @class = "form-control col-md-3 txt", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Fillet Size(mm)</label>
                            @Html.TextBoxFor(m => m.FilletSize, new { @class = "form-control col-md-3 txt", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Concavity/Convexity(mm)</label>
                            @Html.TextBoxFor(m => m.ConcavityConvexity, new { @class = "form-control col-md-3 txt", @maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-3">
                            <label class="control-label">Result</label>
                            <div class="">
                                <input type="text" id="txtFilletResult" name="txtFilletResult" class="form-control col-md-3 txt" />
                                @Html.HiddenFor(m => m.FilletResult)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Report</label>
                            @Html.TextBoxFor(m => m.FilletReport, new { @class = "form-control col-md-3 txt", @maxlength = "100" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Date</label>
                            <div id="datetime2" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                @Html.TextBoxFor(m => m.ResultDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn default" id="btncal2" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset class="clsgroove">
                    <legend>Corrosion Resistant Overlay</legend>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.PipeBend)<span></span></label>
                            <label class="control-label" for="PipeBend"> Pipe bend</label>
                        </div>
                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.PlateBend)<span></span></label>
                            <label class="control-label" for="PlateBend"> Plate bend</label>
                        </div>
                        @*<div class="col-md-3">

                                <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.CorrosionResistantOverlay)<span></span></label>
                                <label class="control-label" for="CorrosionResistantOverlay"> Corrosion resistant overlay</label>
                            </div>*@

                    </div>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-3">
                            <label class="control-label">Result</label>
                            <div class="">
                                <input type="text" id="txtCorrosionResistantResult" name="txtCorrosionResistantResult" class="form-control col-md-3 txt" />
                                @Html.HiddenFor(m => m.CorrosionResistantResult)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Report</label>
                            @Html.TextBoxFor(m => m.CorrosionResistantReport, new { @class = "form-control col-md-3 txt", @maxlength = "100" })
                        </div>                        
                    @*</div>
                    <div class="col-md-12" style="margin-top:15px;">*@
                        <div class="col-md-3">
                            <label class="control-label">Date</label>
                            <div id="datetime2" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                @Html.TextBoxFor(m => m.CorrosionResistantDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn default" id="btncal2" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset class="clsgroove">
                    <legend>Hard Facing Overlay</legend>
                    <div class="col-md-12" style="margin-top:15px;">
                        @*<div class="col-md-3">
                                <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.HardFacingOverlay)<span></span></label>
                                <label class="control-label" for="HardFacingOverlay">Hard facing overlay</label>
                            </div>*@
                        <div class="col-md-3">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.MacroTestForPipe)<span></span></label>
                            <label class="control-label" for="MacroTestForPipe"> Macro test for pipe</label>
                        </div>
                        <div class="col-md-3">
                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.MacroTestForPlate)<span></span></label>
                            <label class="control-label" for="MacroTestForPlate">Macro test for plate</label>
                        </div>
                        <div class="col-md-3">

                            <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.LPExamination)<span></span></label>
                            <label class="control-label" for="LPExamination"> LP Examination</label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="col-md-3" style="display:none">
                            <label class="control-label">Result</label>
                            <div class="">
                                @Html.TextBoxFor(m => m.HardFacingResult, new { @class = "form-control col-md-3", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Report</label>
                            @Html.TextBoxFor(m => m.Lpreport, new { @class = "form-control col-md-3 txt", @maxlength = "50" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Date</label>
                            <div id="datetime2" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                @Html.TextBoxFor(m => m.HardFacingtDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                <span class="input-group-btn">
                                    <button class="btn default" id="btncal2" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>Other Test (if any)</legend>
                    <div class="col-md-12" style="margin-top:15px;">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th>Type</th>
                                    <th> Result </th>
                                    <th> Report No </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.TypeOfTest1, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Result1, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReportNo1, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.TypeOfTest2, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Result2, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReportNo2, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.TypeOfTest3, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Result3, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReportNo3, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.TypeOfTest4, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Result4, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReportNo4, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                </tr>
                                <tr  style="display:none">
                                    <td>
                                        @Html.TextBoxFor(m => m.TypeOfTest5, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Result5, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReportNo5, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                </tr>
                                <tr style="display:none">
                                    <td>
                                        @Html.TextBoxFor(m => m.TypeOfTest6, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Result6, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReportNo6, new { @class = "form-control col-md-3", @maxlength = "50" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
        var Isgrove = '@Model.Groove.ToString().ToLower()' == "true" ? true : false;
        if (IsDisplayOnly) {
            $(".form-group *").prop('disabled', true);
        }

        $('#Groove').click(function () {
            if ($(this).prop("checked") == true) {
                isGroove(true);
            }
            else if ($(this).prop("checked") == false) {
                isGroove(false);
            }
        });

        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        var lstVisualResult = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.VisualResult))));
        var lstTrResult = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TrResult))));
        var lstRTResult = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.RTResult))));
        var lstFilletResult = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.FilletResult))));
        var lstCorrosionResistantResult = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CorrosionResistantResult))));

        FillWQAutoComplete($("#txtVisualResult"), lstVisualResult, $("#VisualResult"), false);
        FillWQAutoComplete($("#txtTrResult"), lstTrResult, $("#TrResult"), false);
        FillWQAutoComplete($("#txtRTResult"), lstRTResult, $("#RTResult"), false);
        FillWQAutoComplete($("#txtFilletResult"), lstFilletResult, $("#FilletResult"), false);
        FillWQAutoComplete($("#txtCorrosionResistantResult"), lstCorrosionResistantResult, $("#CorrosionResistantResult"), false);

        var strVisualResult = '@ViewBag.lstVisualResult';
        var strTrResult = '@ViewBag.lstTrResult';
        var strRTResult = '@ViewBag.lstRTResult';
        var strFilletResult = '@ViewBag.lstFilletResult';
        var strCorrosionResistantResult = '@ViewBag.lstCorrosionResistantResult';
        $("#txtVisualResult").val(strVisualResult);
        $("#txtTrResult").val(strTrResult);
        $("#txtRTResult").val(strRTResult);
        $("#txtFilletResult").val(strFilletResult);
        $("#txtCorrosionResistantResult").val(strCorrosionResistantResult);
        isGroove(Isgrove);
    });

    jQuery(function ($) {
        $('.numeric').autoNumeric('init', { aPad: "fase", vMax: "1000000000", aForm: "false" });
    });

    function isGroove(ischeck) {
        if (ischeck) {
            $('.clsgroove input').attr('disabled', true);
            $('.txt').each(function () {
                $(this).val("--");
            });

        }
        else {
            $('.clsgroove input').attr('disabled', false);
            $('.txt').each(function () {
                if ($(this).val() == "--") {
                    $(this).val("");
                }
            });
        }
    }


</script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>