﻿@using IEMQSImplementation
@model WQR004

@{
    ViewBag.Title = "WPQ Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function FillWQAutoComplete(element, sourceList, hdElement, isEditable, onChange) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                if ((ui.item.id == 'GTAW') || (ui.item.id == 'PAW')) {
                    checkweldingprocess(true);
                }
                else {
                    checkweldingprocess(false);
                }

                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
                if (onChange != undefined)
                    onChange(ui.item);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                        $(hdElement).val('');
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                    if (onChange != undefined)
                        onChange({ id: "", value: "" });

                    if (ui.item != null) {
                        if ((ui.item.id == 'GTAW') || (ui.item.id == 'PAW')) {
                            checkweldingprocess(true);
                        }
                        else {
                            checkweldingprocess(false);
                        }
                    }
                    else {
                        checkweldingprocess(false);
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function checkweldingprocess(ischeck) {
        //bhadresh change Start
        if (ischeck) {
            $(".isgtaw").show();
          //  $(".isgtwpaw").val('').prop("disabled", false);
           // $(".hdisgtwpaw").val('');
        } else {
            $(".isgtaw").hide();
          //  $(".isgtwpaw").val('NA').prop("disabled", true);
           // $(".hdisgtwpaw").val('NA');
        }
        //bhadresh change End
    }
</script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<script>
    var WQTNumber = '@ViewBag.WQTNo';
    var CertiId = '@ViewBag.Id';
    var currenttab;
    $(document).ready(function () {
        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
        if (IsDisplayOnly == false) {
            $("#btnSave").show();
            $("#spanLabel").html("Maintain Welder Performance Qualification (WPQ) Certificate");
        }
        else {
            $("#spanLabel").html("Display Welder Performance Qualification (WPQ) Certificate");
            $("#btnSave").hide();
        }
        $('#hdnid').val(CertiId);
        //if (CertiId > 0)
        //{ $('#dvWQTNo').show() }
        //else
        //{ $('#dvWQTNo').hide() }
        //$('#txtWQTNo').val(WQTNumber);

        LoadTabWisePartial($('#hdnid').val(), WQTNumber, "tab1", IsDisplayOnly);
        $('#txtMaintainedOn').val('');
        $('#navWQCertificate').on('click', 'a', function () {

            var spara = $(this).attr("spara");
            var formid = "#frm" + currenttab;
            if (spara == "tab5") {
                $("#btnRelease").show();
            }
            else {
                $("#btnRelease").hide();
            }
            if (IsDisplayOnly == false) {


                if ($(formid).valid()) {
                    var frmWPSHeaderValues = $(formid).serializeArray();
                    SaveWQRCertificate(frmWPSHeaderValues, false, currenttab, spara);
                    //LoadTabWisePartial($("#hdnid").val(), spara);
                }
                else {
                    HighlightInValidControls();
                    $("#dv" + currenttab).addClass("active");
                    $("[spara=" + currenttab + "]").parent().addClass("active");
                    $("#dv" + spara).removeClass("active");
                    $("[spara=" + spara + "]").parent().removeClass("active")
                    return false;
                }
            }
            else {

                LoadTabWisePartial($('#hdnid').val(), WQTNumber, spara, IsDisplayOnly);
            }
        });

        $('#btnclose').click(function () {
            if (IsDisplayOnly) {
                window.location.href = WebsiteURL + '/WQ/WPQCertificate/DisplayWpqCertificateList';
            }
            else {
                window.location.href = WebsiteURL + '/WQ/WPQCertificate/WPQCertificateList';
            }
        });
        $("#btnRelease").click(function () {

            if ($("#hdJointtype").val() != "" && $("#hdJointtype").val() != null && $("#hdLocation").val() != "" && $("#hdLocation").val() != null) {
                bootbox.dialog({
                    title: 'Confirm Release To WML',
                    message: "Do you want to release WML",
                    buttons: {
                        'confirm': {
                            label: 'Yes',
                            className: 'btn save',
                            callback: function () {

                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/WQ/TSSCertificate/LoadWMLPartial",
                                    data: { Id: CertiId, WQTNumber: WQTNumber, wmltype: "WPQ", location: $('#hdLocation').val() },
                                    datatype: 'html',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (result) {
                                        bootbox.hideAll();
                                        bootbox.dialog({
                                            title: 'Release To WML',
                                            message: result,
                                            buttons: {
                                                'confirm': {
                                                    label: 'Release',
                                                    className: 'btn green',
                                                    callback: function () {
                                                        if ($("#frmCopy").valid()) {
                                                            $.ajax({
                                                                url: WebsiteURL + "/WQ/WPQCertificate/SaveWMLCertificate",
                                                                data: { Id: CertiId, wmltype: $('#WMLType').val(), project: $('#Project').val(), certificatetype: 'WPQ', jointtype: $("#hdJointtype").val() },
                                                                type: 'POST',
                                                                datatype: 'Json',
                                                                beforeSend: function () {
                                                                    showLoading(true);
                                                                },
                                                                complete: function () {
                                                                    showLoading(false);
                                                                },
                                                                success: function (res) {
                                                                    if (res.Key) {
                                                                        DisplayNotiMessage("success", res.Value, "Success");
                                                                    }
                                                                    else
                                                                        DisplayNotiMessage("error", res.Value, "Error");
                                                                }
                                                            });
                                                        }
                                                        else { return false; }
                                                    }
                                                },
                                                'cancel': {
                                                    label: 'Close',
                                                    className: 'btn red'
                                                }
                                            }
                                        });
                                    },
                                    error: function () {

                                    }
                                });
                            }
                        },
                        'cancel': {
                            label: 'No',
                            className: 'btn btnclose'
                        }
                    }
                });
            }
            else {
                DisplayNotiMessage("info", "Please maintain Location/Jointtype!!!", "Info");
            }
        })

    });

    function LoadTabWisePartial(id, wqtno, partialName, IsDisplayOnly) {
        var dvToloadPartial = partialName;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WQ/WPQCertificate/LoadTabWisePartial",
            data: { id: id, WQTNo: wqtno, partialName: partialName, IsDisplayOnly: IsDisplayOnly },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                currenttab = partialName;
                $(".tab-pane").removeClass("active");
                //$(".tab-pane").hide();
                $("#dv" + dvToloadPartial).addClass("active");
                //$("#" + dvToloadPartial).show();
                $("#dv" + dvToloadPartial).html(result);
            },
            error: function () {
            }
        });
    }




    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'WPQ Cerificate Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/WQR/WPQ";
                        var dat = [];
                        dat.push({ Param: "Id", Value: CertiId });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    function FillLocationAutoComplete(element, sourceList, hdElement, hdDisplayElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdDisplayElement).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            close: function () {

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdDisplayElement).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

</script>

<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        @*<span class="page-title">Maintain Welder Performance Qualification (WPQ) Certificate</span>*@
                        <span class="page-title" id="spanLabel"></span>
                        <input type="hidden" id="hdnid" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-title tabbable-line" id="tabs">
                            <ul class="nav nav-tabs" id="navWQCertificate">
                                <li class="active">
                                    <a name="tabWQCertificate" id="section1" spara="tab1" data-toggle="tab"> Form 1 </a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section2" spara="tab2" data-toggle="tab"> Form 2 </a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section3" spara="tab3" data-toggle="tab"> Form 3 </a>
                                <li>
                                    <a name="tabWQCertificate" id="section4" spara="tab4" data-toggle="tab"> Form 4 </a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section5" spara="tab5" data-toggle="tab"> Form 5 </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div id="dvWQTNo" style="display:none" class="col-md-12">
                                <br />
                                <ul class="feeds list-items">
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    @*   <div class="label label-sm label-warning"><h4> <i class="fa fa-check"></i></h4></div>*@
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <h4>
                                                            WQT No.- <b>
                                                                <span id="spnWQTNo">
                                                                    @Html.DisplayFor(m => m.WQTNo, new { @id = "txtWQTNo" })
                                                                </span>
                                                            </b>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col3">
                                            <div class="date">
                                                <b>Initited On:</b> <span id="spnMaintainedOn">

                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <br />
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="dvWQTabs">
                                </div>
                                <div class="tab-pane" id="dvtab1"></div>
                                <div class="tab-pane" id="dvtab2"></div>
                                <div class="tab-pane" id="dvtab3"></div>
                                <div class="tab-pane" id="dvtab4"></div>
                                <div class="tab-pane" id="dvtab5"></div>
                                <input id="hdLocation" type="hidden" />
                                <input id="hdJointtype" type="hidden" />
                            </div>
                        </div>

                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12" style="text-align:right">
                        <a style="cursor:pointer;margin-right:5px; float:right" title="Copy Record" class="btn icons" onClick="CopyWQRCertificate(@Model.Id,'@Model.WQTNo','wpq','@Model.Location')"> <i class="fa fa-files-o"></i></a>

                        <a style="cursor:pointer;margin-right:5px; float:right" title="Print" class="btn icons" onClick="PrintReport(@Model.Id)"> <i class="fa fa-print"></i></a>
                        @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                        {
                            <input type="button" class="btn save" id="btnSave" value="Save" style="margin-right:5px;" onclick="ValidateAndSave()" />
                            <input type="button" class="btn approve" id="btnRelease" value="Realease to WML" style="margin-right:5px;display:none" />
                        }
                        <a style="float:right;margin-right:5px;" id="btnclose" class="btn btnclose">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function ValidateAndSave() {

        var tabname = $('#navWQCertificate').find('.active a').attr("spara");
        var formid = "#frm" + tabname;
        var WQTNumber = '@ViewBag.WQTNo';
        if ($(formid).valid()) {
            var frmWPSHeaderValues = $(formid).serializeArray();
            SaveWQRCertificate(frmWPSHeaderValues, false, tabname);
        }
        else {
            HighlightInValidControls();
            return false;
        }

    }
    function SaveWQRCertificate(frmData, displaymessage, tabname, DestTab) {
        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
        var formData = new FormData();
        $.each(frmData, function (key, input) {
            formData.append(input.name, input.value);
        })
        formData.append("partialName", tabname);
        formData.append("Id", $('#Id').val());

        var isvalid = true;
        isvalid = ischeckwelding(isvalid);
        if (isvalid) {
            $.ajax({
                url: WebsiteURL + "/WQ/WPQCertificate/SaveWQRCertificate",
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        DisplayNotiMessage("success", res.Value, "Success");
                        $("#Id").val(res.HeaderId);
                        CertiId = res.HeaderId;
                        if (DestTab != null && DestTab != undefined && DestTab.length > 0)
                            LoadTabWisePartial(res.HeaderId, res.wqtno, DestTab, IsDisplayOnly);
                    }
                    else
                        DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                }
            });
        }

    }

    function ischeckwelding(isvalid) {
        isvalid = true;
        if (($("#WeldingProcessActualValues").val() == "GTAW") || ($("#WeldingProcessActualValues").val() == "PAW")) {
            $('.isgtwpaw').each(function () {
                if ($(this).val() == "") {
                    $(this).addClass("error");
                    setTimeout(function () {
                        $("#navWQCertificate").find("li").removeClass("active");
                        $("#section2").closest("li").addClass("active");
                    }, 1000);
                    isvalid = false;
                }
            });
        }
        return isvalid;
    }

</script>