﻿@using IEMQSImplementation
@{
    ViewBag.Title = "WOPQ Certificate List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Styles.Render("~/Content/datetimepicker/css")
<style>
    #ui-datepicker-div {
        z-index: 11111 !important;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9">
                                <h1 class="page-title">
                                    <span class="page-title" id="spanLabel"></span>
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-3" style="text-align:right">
                                @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                                {
                                    <a href="~/WQ/WPQCertificate/WOPQCertificate" id="btnadd" style="float: right;" class="btn green">Add New</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Welding Operator Performance Qualification (WOPQ) Certificate List
                        </div>
                        <div class="tools" id="dvExportCertificate">
                            <div class="btn-group">
                                <a id="btnPrint" class="btn btn-circle white btn-outline btn-sm">
                                    <i class="fa fa-download"></i> Print
                                </a>
                            </div>
                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WQ/WPQCertificate/GenerateExcel", GridType = clsImplementationEnum.GridType.WOPQCertificate.GetStringValue(), dvId = "#dvExportCertificate" })
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCertificate" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="min-phone-l">Location</th>
                                    <th class="min-phone-l">WQT No</th>
                                    <th class="min-phone-l">Welder Name </th>
                                    <th class="min-phone-l">Welder Stamp No</th>
                                    <th class="min-phone-l">Welding Process</th>
                                    <th class="min-phone-l">Mode of welding</th>
                                    <th class="min-phone-l">Last Weld Date</th>
                                    <th class="min-phone-l">Valid upto</th>
                                    <th class="min-phone-l">Maintained By</th>
                                    <th class="min-phone-l">Maintained On</th>
                                    <th class="min-phone-l">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade print-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Print WOPQ Lapse welders</h4>
            </div>
            <div class="modal-body">
                <form id="print-form" class="row">
                    <div class="col-md-6">
                        <label class="control-label">
                            Location
                        </label>
                        <input type="text" id="location-autocomplete" name="location" class="form-control" placeholder="location">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">
                            Date
                        </label>
                        <div id="datetime1" class="input-group date date-picker" data-date-format="yyyy/mm/dd">
                            <input type="text" class="form-control" name="datePicker" placeholder="select date">
                            <span class="input-group-btn">
                                <button class="btn default" id="btncal1" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClear" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="getReport" class="btn green">Print</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script type="text/javascript">
    let isLoaded = false;
    var locations = [];
    $(document).ready(function () {
        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
        if (IsDisplayOnly) {
            $("#btnadd").hide();
            $("#spanLabel").html("Display Welding Operator Performance Qualification (WOPQ) Certificate");
        }
        else {
            $("#btnadd").show();
            $("#spanLabel").html("Maintain Welding Operator Performance Qualification (WOPQ) Certificate");

        }

        var table = $('#tblCertificate');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WQ/WPQCertificate/LoadWOPQCertificateData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }, { "name": "IsVisible", "value": IsDisplayOnly });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportCertificate").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportCertificate").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                { "name": "Location", "sClass": "center", "ColName": "wqr.Location" },
                { "name": "WQTNo", "sClass": "center" },
                { "name": "Welder", "sClass": "center", "ColName": "welders.Welder" },
                { "name": "WelderStampNo", "sClass": "center" },
                 { "name": "WeldingProcessMachineQualified", "sClass": "center" },
                { "name": "WeldingType", "sClass": "center" },
                { "name": "LastWeldDate", "sClass": "center", "attr": "date" },
                { "name": "ValueUpto", "sClass": "center", "attr": "date" },
                { "name": "MaintainedBy", "sClass": "center", "ColName": "wqr.MaintainedBy + '-'+c32.t_name" },
                { "name": "MaintainedOn", "sClass": "center", "attr": "date" },
                { "name": "Action", "bSortable": false, "sClass": "center", "attr": "hide" },
            ]
        });
        table.dtSearchFilter();

        $("#print-form").validate({
            rules: {
                location: "required",
                datePicker: "required"
            },
            messages: {
                location: "Please specify your name",
                datePicker: {
                    required: "We need your email address to contact you"
                }
            }
        });

        $('#btnPrint').click(() => {
            $('.print-popup').modal('show');
        })

        $('#btnClear').click(function () {
            $(this).closest('.modal-dialog').find('input').val("");
        })

        $('.date-picker input').datepicker({
            orientation: "bottom auto",
            autoclose: true,
            dateFormat: 'yy-mm-dd'
        });

        //$('.print-popup').on('shown.bs.modal', function (e) {
        //    alert('shown');
        //})
        $('#location-autocomplete').autocomplete({
            source: function (request, response) {
                //if (!isLoaded) {
                $.get('@Url.Action("Locations", "WPQCertificate", new { Area = "WQ" })',
                    { filter: request.term },
                    function (resolve) {
                        locations = resolve;
                        var array = $.map(resolve, function (item) {
                            return {
                                label: item.label,
                                value: item.value,
                                id: item.value
                            }
                        });
                        isLoaded = true;
                        response($.ui.autocomplete.filter(array, request.term));
                    });
                //} else {
                //    response($.ui.autocomplete.filter(
                //        $.map(locations, function (item) {
                //        return {
                //            label: item.label,
                //            value: item.value,
                //            id: item.value
                //        }
                //    }),
                //    request.term));
                //}
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

        $("#getReport").click(function () {
            if ($("#print-form").valid()) {
                ShowReport([{
                    Param: "Location", Value: $("#location-autocomplete").val()
                }, {
                    Param: "validUpto", Value: $("#datetime1 input").val()
                }], "/WQR/WOPQLapseWelder");
            }
        })
    });

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'WOPQ Cerificate Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/WQR/WOPQ";
                        var dat = [];
                        dat.push({ Param: "Id", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    function CopyCertificate(headerId, srcwqtno, certificatetype) {
        CopyWQRCertificate(headerId, srcwqtno, certificatetype);
        $('#tblCertificate').DataTable().ajax.reload();
    }
</script>