﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }

    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Specification Change Analysis
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial",new IEMQS.Models.clsExportParametersModel {url= "/PAM/MaintainSCA/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>

    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblSCAResult" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">Request</th>
                    <th class="all">Request Status</th>
                    <th class="all">Contract No</th>
                    <th class="all">Customer</th>
                    <th class="all">LOI No</th>
                    <th class="all">LOI Date</th>
                    <th class="all">Customer Order No</th>
                    <th class="all">Customer Order Date</th>
                    <th class="all">CDD</th>
                    <th class="all">Change Note</th>
                    <th class="all">Created By</th>
                    <th class="all">Created On</th>
                    <th class="all">Approved By</th>
                    <th class="all">Approved On</th>
                    <th class="all">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
<script>
    $(document).ready(function () {
        var table = $('#tblSCAResult');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PAM/MaintainSCA/LoadSCAHeaderDataResult",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "Request",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "RequestStatus",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "ContractNo",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Customer",
                    "bSortable": true,
                    "sClass": "center",
                },

                {
                    "name": "LOINo",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "LOIDate",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "CustomerOrderNo",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "CustomerOrderDate",
                    "bSortable": true,
                    "sClass": "center",

                },
                {
                    "name": "CDD",
                    "bSortable": true,
                    "sClass": "center",

                },
                {
                    "name": "ChangeNote",
                    "bSortable": true,
                    "sClass": "center",

                },
                {
                    "name": "CreatedBy",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",

                },
                {
                    "name": "ApprovedBy",
                    "bSortable": true,
                    "sClass": "center",

                },
                {

                    "bSortable": false,
                    "sClass": "center",

                },

                {
                    "bSortable": false,
                    "sClass": "center",
                },
            ]
        });
    });

</script>
