﻿@model IEMQSImplementation.QMS016
@using IEMQSImplementation
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                <form id="frmRequiredValues">
                    @Html.HiddenFor(x => x.LineId)
                    @Html.HiddenFor(x => x.StageStatus)
                    @Html.Hidden("StageType")
                    <div class="form-body">
                        <div class="col-md-12 clsHardness" style="display:none">
                            <div class="col-md-6">
                                <label class="control-label">
                                    Required Value <span class="required">*</span>
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.HardnessRequiredValue, new { @class = "form-control clsNumValue", @maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">
                                    Unit <span class="required">*</span>
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.HardnessUnit, new { @class = "form-control", @maxlength = 4 })
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 clsFerrite" style="display:none">
                            <div class="col-md-4">
                                <label class="control-label">
                                    Min Value <span class="required">*</span>
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.FerriteMinValue, new { @class = "form-control numeric-only", @maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">
                                    Max Value <span class="required">*</span>
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.FerriteMaxValue, new { @class = "form-control numeric-only", @maxlength = 10 })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">
                                    Unit <span class="required">*</span>
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(x => x.FerriteUnit, new { @class = "form-control", @maxlength = 10 })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var isEditable = '@ViewBag.isEditable' == 'True' ? true : false;
        if (!isEditable)
        { $('form#frmRequiredValues :input').attr('disabled', true); }
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('.clsNumValue').autoNumeric('init', { aPad: "fase", vMin: "0", vMax: "999999999", aForm: "false" });
        $('.numeric-only').autoNumeric('init', { vMin: "0.0000", vMax: "99999999.9999", aSep: '' });
        $("#StageType").val('@ViewBag.StageType');
        if ('@ViewBag.StageType' == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
            $(".clsHardness").show();
        }
        else if ('@ViewBag.StageType' == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
            $(".clsFerrite").show();
        }

        //Start : validator for Less than and greater than
        $.validator.addMethod('le', function (value, element, param) {
            if (!isNaN($(element).val() && $(param).val() == "" && !isNaN($(param).val()))) {
                if ($(param).val() == "") {
                    return true
                }
                else {
                    var status;
                    if (!isNaN($(element).val()) && !isNaN($(param).val())) {
                        status = this.optional(element) || parseInt(value) <= parseInt($(param).val());
                    }
                    else {
                        status = true;
                    }
                    if (status || (!isNaN($(element).val()))) {
                        $(param).removeClass('error');
                    }
                    return status;
                }
            }
        }, 'Invalid value');
        $.validator.addMethod('ge', function (value, element, param) {
            if ($(param).val() == "" && !isNaN($(element).val()) && !isNaN($(param).val())) {
                return true
            }
            else {
                var status;
                if (!isNaN($(element).val()) && !isNaN($(param).val())) {
                    status = this.optional(element) || parseInt(value) >= parseInt($(param).val());
                }
                else {
                    status = true;
                }
                if (status || (!isNaN($(element).val()))) {
                    $(param).removeClass('error');
                }
                return status;
            }
        }, 'Invalid value');

        $("#frmRequiredValues").validate({
            rules: {
                HardnessRequiredValue: {
                    required: true
                },
                HardnessUnit: { required: true },
                FerriteMinValue: { required: true, le: "#FerriteMaxValue" },
                FerriteMaxValue: { required: true, ge: "#FerriteMinValue" },
                FerriteUnit: { required: true },
            },
            messages: {
                HardnessRequiredValue: {
                    required: "Required Value Is Required"
                },
                HardnessUnit: {
                    required: "Unit Is Required"
                },
                FerriteMinValue: { required: "Min Value Is Required", le: "Must be less than or equal to Max Value" },
                FerriteMaxValue: { required: "Max Value Is Required", ge: "Must be greater than or equal to Min Value" },
                FerriteUnit: { required: "Unit Is Required" },
            }
        });
    });
</script>