﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Styles.Render("~/Content/Datatable/css")*@
@*@Scripts.Render("~/bundles/datatable/js")*@
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        GetHeaderGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });

        //GetHeaderGridDataPartial('All');
      
    });

    function GetHeaderGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SCP/ApproveSCP/GetHeaderGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnHistory").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/SCP/ApproveSCP/GetHistoryView",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {
                    bootbox.dialog({
                        title: 'History of Sub Contracting Plan',
                        message: result,

                        buttons: {
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn red'
                            }
                        }

                    }).find("div.modal-dialog").addClass("largedialog");
                },
                error: function () {
                }
            });
        });

    });
</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                   Display Sub Contracting Plan
                                    <small></small>
                                </h1>
                            </div>                            
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab">All</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .largedialog {
        margin: 30px auto;
        width: 80% !important;
    }
</style>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>