﻿@model IEMQSImplementation.SCP002

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmMSWLines').validate({
            rules: {
                "txtWeight": {
                    number: true
                },
                "txtRccp": {
                    number: true
                }

            },
            messages: {
                "txtWeight": {
                    number: "Digits Only"
                },
                "txtRccp": {
                    number: "Digits Only"
                }

            }
        });

        var isln = "@Model.IsLNLine";
        if (isln.toString() == "True") {
            $("#hfisln").val(true);
            $("#ddlTask1").attr("readonly", true);
            $("#txtScope").attr("readonly", true);
            $("#ddlTask").attr("readonly", true);
           // $("#txtExp").attr("disabled", true);
          //  $("#txtReq").attr("disabled", true);
            $("#b1").attr("disabled", true);
            $("#b2").attr("disabled", true);
            $("#txtTaskDesc").attr("readonly", true);
        }
        else {
             $("#txtTaskDesc").removeAttr("readonly", true);
            $("#hfisln").val(false);
            $("#ddlTask1").removeAttr("readonly", true);
            $("#txtTask").removeAttr("readonly", true);
            $("#txtScope").removeAttr("readonly", true);
          //  $("#txtExp").removeAttr("disabled", true);
          //  $("#txtReq").removeAttr("disabled", true);
            $("#b1").removeAttr("disabled", true);
            $("#b2").removeAttr("disabled", true);
        }
        var flg = 0;
        var HeaderId = "@Model.HeaderId";

        var LineId = "@Model.LineId";
        if (LineId != "") {
            $("#lineid").val('@Model.LineId');
        }
        var ScopeOfWork = "@Model.ScopeOfWork";
        var strscope = ScopeOfWork.replace(/,/gi, "\n").replace(/^,/,"");
        if (ScopeOfWork != "") {
            $("#txtScope").val(strscope);
        }

        var EstFor = "@Model.EstFor";
        if (EstFor != "") {
            $("#txtEst").val('@Model.EstFor');
        }
        var Weight = "@Model.Weight";
        if (Weight != "") {
            $("#txtWeight").val('@Model.Weight');
        }
        var RCCHours = "@Model.RCCHours";
        if (RCCHours != "") {
            $("#txtRccp").val('@Model.RCCHours');
        }

       var ReferenceDrawing = "@Model.ReferenceDrawing";
        var strref = ReferenceDrawing.replace(/,/gi, "\n").replace(/^,/,"");
        if (ReferenceDrawing != "") {
            $("#txtRef").val(strref);


        }
        var ExpMatDelDate = "@Model.ExpMatDelDate";
        if (ExpMatDelDate != "") {
            $("#txtExp").val('@Model.ExpMatDelDate');
            $("#hfExp").val('@Model.ExpMatDelDate');
        }
        var ReqComDate = "@Model.ReqComDate";
        if (ReqComDate != "") {
            $("#txtReq").val('@Model.ReqComDate');
            $("#hfReq").val('@Model.ReqComDate');
        }
        var SubConTo = "@Model.SubConTo";
        if (SubConTo != "") {
            $("#txtSub").val('@Model.SubConTo');
        }
        var DeliverTo = "@Model.DeliverTo";
        if (DeliverTo != "") {
            $("#txtDel").val('@Model.DeliverTo');

        }

        var TaskManager = "@Model.TaskManager"
        //alert(TaskManager);
        if (TaskManager != "") {
            $("#ddlTask").val(TaskManager);
            $("#hfTask").val(TaskManager);
        }
        var TaskDescription = "@Model.TaskDescription";
        if (TaskDescription != "") {
            $("#txtTaskDesc").val('@Model.TaskDescription');
        }
        var project = '@ViewBag.project';
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SCP/MaintainSCP/getTaskManager",
            data: { project: project },
            datatype: 'html',
            async: false,
            success: function (data) {
                if (data.lsttask.length > 0) {
                    var optionhtml1 = '';
                    $.each(data.lsttask, function (i) {
                        var optionhtml = '<option value="' + data.lsttask[i].id + '">' + data.lsttask[i].text + '</option>';
                        $("#ddlTask1").append(optionhtml);
                    });

                }
            },
            error: function () {
            }
        });
        var tm = "@Model.TaskManager";
        if (tm != "") {
            $("#ddlTask1").val(tm);
        }
    });
</script>
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMSWLines", @class = "form-horizontal" }))
                {
                    @Html.Hidden("hfHeaderId", (int)@ViewBag.Headerid);
                    @Html.Hidden("hfProject", (string)@ViewBag.project);
                    @Html.Hidden("hfdoc", (string)@ViewBag.document);
                    @Html.Hidden("hfRev", (string)@ViewBag.RevNo);
                    @Html.Hidden("lineid");
                    @Html.Hidden("hfTask");
                    @Html.Hidden("hfExp");
                    @Html.Hidden("hfReq");
                    @Html.Hidden("hfisln");
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-4">Reference Document <span class="required"> * </span> </label>
                            <div class="col-md-6">
                                @Html.TextArea("txtRef", "", new { @class = "form-control", @style = "height:70px !important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Scope of Work</label>
                            <div class="col-md-6">
                                @Html.TextArea("txtScope", "", new { @class = "form-control", @style = "height:70px !important" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Task Category</label>
                            <div class="col-md-6">
                                @Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstTestCategory, "Value", "Text"), "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Task Description <span class="required"> * </span> </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtTaskDesc", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Task Manager</label>
                            <div class="col-md-6">
                                <select name="ddlTask1" id="ddlTask1" style="width:100%" class="form-control"></select>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class="control-label  col-md-4">Est For</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtEst", "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label  col-md-4">Weight </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtWeight", "", new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">RCCP Hours </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtRccp", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4" style="margin-right:15px">Expected Mat Del Date</label>
                            <div class="">
                                <div class="input-group  date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years" style="width:233px">
                                    @Html.TextBox("txtExp", "", new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button" id="b1">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4" style="margin-right:15px">Req Completion Date</label>
                            <div class="">
                                <div class="input-group  date date-picker" data-date-format="dd/mm/yyyy" data-date-viewmode="years" style="width:233px;">
                                    @Html.TextBox("txtReq", "", new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button" id="b2">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Sub Con To</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtSub", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Deliver To</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtDel", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script>
    if (@Model.HeaderId != "") {
        var TaskCategory = "@Model.TaskCategory";
        if (TaskCategory != "") {
            $('select[id^="ddlCat"] option[value="'+TaskCategory + '"]').attr("selected","selected");
          //  $("#ddlCat").val(TaskCategory);
        }
    }
</script>

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
