﻿@model IEMQSImplementation.PRO225
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0,s6Prod=0;/* for serial number */
    string prodtbl6RowGroup = "", group6 = "",str6ClassName="";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-12">


                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption" style="padding:6px!important">
                                            <span style="float:left;">
                                                <strong>OVALITY  (ALLOWED:  @Html.TextBoxFor(model => model.Ovality, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" }))</strong>
                                            </span>
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body" id="div1">
                                        <div class="table-responsive">
                                            <table id="tblProtocolLines1" class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">#</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th>ORIENTATION</th>
                                                        <th>ACTUAL</th>

                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <th class="btnthAction">&nbsp;</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.lstPRO226 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRO226 as List<PRO226>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="Orientation">@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                <td class="Actual">@Html.TextBox("Actual_1_" + @s1, @item.Actual, new { @class = "form-control width125px calOAActual", @maxlength = "10", @role = "PROD" })</td>

                                                                @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfooter>
                                                    <tr class="outby">
                                                        <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                        <td class="min-phone-l" style="display:none;">LineId</td>
                                                        <td class="datatableFooter" style="text-align:center"> <b>OUT BY </b></td>
                                                        <td class="datatableFooter" style="text-align:center">@Html.TextBoxFor(model => model.OutBy, new { @class = "form-control", @readonly = "readonly", @tabindex = "-1" })</td>
                                                    </tr>
                                                </tfooter>
                                            </table>
                                        </div>
                                        <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-12">

                                <div class="col-md-6">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>ORIENTATION OF LONG SEAMS</strong>
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>

                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                            <th class="min-phone-l" style="display:none;">LineId</th>
                                                            <th>SEAM NO.</th>
                                                            <th>REQ. ORIEN</th>
                                                            <th>REQ. ARC<br /> LENGTH </th>
                                                            <th>ACTUAL ARC <br />LENGTH </th>
                                                        </tr>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO227 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO227 as List<PRO227>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SeamNo">@Html.TextBox("SeamNo_2_" + @s2, @item.SeamNo, new { @class = "form-control width125px", @maxlength = "16", @role = "QC" })</td>
                                                                    <td class="ReqOrien">@Html.TextBox("ReqOrien_2_" + @s2, @item.ReqOrien, new { @class = "form-control width125px", @maxlength = "10", @role = "QC" })</td>
                                                                    <td class="ReqArcLength">@Html.TextBox("ReqArcLength_2_" + @s2, @item.ReqArcLength, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ActArcLength">@Html.TextBox("ActArcLength_2_" + @s2, @item.ActArcLength, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                            <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">

                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                            <div class="portlet-title">
                                                <div class="caption" style="padding:6px!important">
                                                    <span style="float:left;">
                                                        <strong>TOTAL  HEIGHT: REQUIRED:</strong> @Html.TextBoxFor(model => model.ReqTotalHeight, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" })
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                                </div>
                                            </div>

                                            <div class="portlet-body" id="div3">
                                                <div class="table-responsive">
                                                    <table id="tblProtocolLines3" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                                <th class="min-phone-l" style="display:none;">LineId</th>


                                                            </tr>
                                                        <tbody>
                                                            @if (ViewBag.lstPRO228 != null)
                                                            {
                                                                foreach (var item in ViewBag.lstPRO228 as List<PRO228>)
                                                                {
                                                                    <tr>
                                                                        <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                        <td class="TotalHeight1">@Html.TextBox("TotalHeight1_3_" + @s3, @item.TotalHeight1, new { @class = "form-control width125px", @maxlength = "10", @role = "QC" })</td>
                                                                        <td class="TotalHeight2" colspan="3">@Html.TextBox("TotalHeight2_3_" + @s3, @item.TotalHeight2, new { @class = "form-control width125px caltop", @maxlength = "10", @role = "PROD" })</td>

                                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                        {
                                                                            <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>

                                                    </table>
                                                </div>
                                                <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="col-md-6">
                                    <div class="col-md-12">

                                        <table id="#" class="FormTable">
                                            <tr>
                                                <td class="title" colspan="3"> CIRCUMFERENCE </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">DESCRIPTION</td>
                                                <td class="subtitle">REQUIRED</td>
                                                <td class="subtitle">ACTUAL </td>
                                            </tr>
                                            <tr>
                                                <td>BOTTOM <br />(INSIDE)</td>
                                                <td> @Html.TextBoxFor(model => model.ReqCircBottom, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                                <td> @Html.TextBoxFor(model => model.ActCircBottom, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <table class="">
                                            <tr>
                                                <td class="title" colspan="6"><strong>e-VALUE TEMPLATE INSPECTION (IN CASE OF EXTERNAL PRESSURE)</strong>: @Html.DropDownListFor(model => model.EvalueTemplateInspection, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvEValueTemplateInspection\")" }) </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <table id="dvEValueTemplateInspection" class="FormTable">
                                            
                                            <tbody id="#">
                                                <tr>
                                                    <td class="subtitle" colspan="2">CHORD LENGTH</td>
                                                    <td class="subtitle" colspan="2">RADIUS</td>
                                                    <td class="subtitle" colspan="2">GAP</td>
                                                </tr>
                                                <tr>
                                                    <td class="subtitle">REQ.</td>
                                                    <td class="subtitle">ACTUAL</td>
                                                    <td class="subtitle">REQ.</td>
                                                    <td class="subtitle">ACTUAL</td>
                                                    <td class="subtitle">REQ.</td>
                                                    <td class="subtitle">ACTUAL</td>
                                                </tr>
                                                <tr>
                                                    <td> @Html.TextBoxFor(model => model.ReqChordLengthBottom, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                                    <td> @Html.TextBoxFor(model => model.ActChordLengthBottom, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                                    <td> @Html.TextBoxFor(model => model.ReqRadiusBottom, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                                    <td> @Html.TextBoxFor(model => model.ActRadiusBottom, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                                    <td> @Html.TextBoxFor(model => model.ReqGapBottom, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                                    <td> @Html.TextBoxFor(model => model.ActGapBottom, new { @class = "form-control", @maxlength = "10", @role = "PROD" })  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">

                                @*<div class="col-md-9">*@
                                <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                    <div class="portlet-title">
                                        <div class="caption" style="padding:6px!important">
                                            @*<span style="float:left;">
                                                
                                               
                                             </span>*@
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div4', this)" id="btnCollapse4" data-target="#div4" data-original-title="" title=""> </a>
                                        </div>
                                    </div>

                                    <div class="portlet-body" id="div4">
                                        <div class="table-responsive">
                                            <table id="tblProtocolLines4" class="table">
                                                <thead>
                                                    <tr>
                                                        <td colspan="7">
                                                            <strong>PROFILE MEASUREMENT (PEAK IN / PEAK OUT), [TOL: @Html.TextBoxFor(model => model.ProfileMeasurement, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" })]</strong>
                                                        </td>
                                                        <td colspan="2" class="text-center"><strong>OFFSET</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th class="subtitle" rowspan="3">SEAM NO.</th>
                                                        <th class="subtitle" colspan="2">TOP</th>
                                                        <th class="subtitle" colspan="2">MID.</th>
                                                        <th class="subtitle" colspan="2">BOTTOM</th>

                                                        <th class="subtitle" colspan="2">ALLOWED @Html.TextBoxFor(model => model.ReqAllowedOffset, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" }) </th>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th class="subtitle" style="text-align:center" rowspan="2">PEAK-IN</th>
                                                        <th class="subtitle" style="text-align:center" rowspan="2">PEAK-OUT</th>
                                                        <th class="subtitle" style="text-align:center" rowspan="2">PEAK-IN</th>
                                                        <th class="subtitle" style="text-align:center" rowspan="2">PEAK-OUT</th>
                                                        <th class="subtitle" style="text-align:center" rowspan="2">PEAK-IN</th>
                                                        <th class="subtitle" style="text-align:center" rowspan="2">PEAK-OUT</th>

                                                        <th class="subtitle" colspan="2" style="text-align:center">ACTUAL</th>
                                                    </tr>                                        
                                                    <tr>
                                                        <th class="subtitle" style="text-align:center">MINIMUM</th>
                                                        <th class="subtitle" style="text-align:center">MAXIMUM</th>
                                                    </tr>


                                                <tbody>
                                                    @if (ViewBag.lstPRO229 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRO229 as List<PRO229>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s4 = s4 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="SeamNo">@Html.TextBox("SeamNo_4_" + @s4, @item.SeamNo, new { @class = "form-control width125px", @maxlength = "16", @role = "QC" })</td>
                                                                <td class="TopPeakIn">@Html.TextBox("TopPeakIn_4_" + @s4, @item.TopPeakIn, new { @class = "form-control topIn", @colname = "TopPeakIn", @maxlength = "10", @role = "PROD", @onchange = "PeakInOutValue(this,'TopPeakOut')" })</td>
                                                                <td class="TopPeakOut">@Html.TextBox("TopPeakOut_4_" + @s4, @item.TopPeakOut, new { @class = "form-control topOut", @colname = "TopPeakOut", @maxlength = "10", @role = "PROD", @onchange = "PeakInOutValue(this,'TopPeakIn')" })</td>
                                                                <td class="MidPeakIn">@Html.TextBox("MidPeakIn_4_" + @s4, @item.MidPeakIn, new { @class = "form-control midIn", @colname = "MidPeakIn", @maxlength = "10", @role = "PROD", @onchange = "PeakInOutValue(this,'MidPeakOut')" })</td>
                                                                <td class="MidPeakOut">@Html.TextBox("MidPeakOut_4_" + @s4, @item.MidPeakOut, new { @class = "form-control midOut", @colname = "MidPeakOut", @maxlength = "10", @role = "PROD", @onchange = "PeakInOutValue(this,'MidPeakIn')" })</td>
                                                                <td class="BottonPeakIn">@Html.TextBox("BottonPeakIn_4_" + @s4, @item.BottonPeakIn, new { @class = "form-control ", @colname = "BottonPeakIn", @maxlength = "10", @role = "PROD", @onchange = "PeakInOutValue(this,'BottonPeakOut')" })</td>
                                                                <td class="BottonPeakOut">@Html.TextBox("BottonPeakOut_4_" + @s4, @item.BottonPeakOut, new { @class = "form-control", @colname = "BottonPeakOut", @maxlength = "10", @role = "PROD", @onchange = "PeakInOutValue(this,'BottonPeakIn')" })</td>

                                                                <td class="ActMin">@Html.TextBox("ActMin_4_" + @s4, @item.ActMin, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                <td class="ActMax">@Html.TextBox("ActMax_4_" + @s4, @item.ActMax, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>

                                                                @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                        <input id="hdGrid4LastRow" type="hidden" value="@s4" />
                                    </div>
                                </div>
                            @*</div>*@



                                @*<div class="col-md-3">

                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine5" data-gridid="5">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left;">
                                                        <strong>OFFSET</strong>
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div5', this)" id="btnCollapse5" data-target="#div5" data-original-title="" title=""> </a>
                                                </div>
                                            </div>

                                            <div class="portlet-body" id="div5">
                                                <div class="table-responsive">
                                                    <table id="tblProtocolLines5" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                                <th class="min-phone-l" style="display:none;">LineId</th>


                                                            </tr>
                                                            <tr>
                                                                <th class="subtitle">ALLOWED</th>
                                                                <th>@Html.TextBoxFor(model => model.ReqAllowedOffset, new { @class = "form-control inlinetextbox w100", @maxlength = "20", @role = "QC" })</th>
                                                            </tr>
                                                            <tr>
                                                                <th class="subtitle" colspan="2" style="text-align:center">ACTUAL</th>
                                                            </tr>
                                                            <tr>
                                                                <th class="subtitle" style="text-align:center">MINIMUM</th>
                                                                <th class="subtitle" style="text-align:center">MAXIMUM</th>
                                                            </tr>
                                                        <tbody>
                                                            @if (ViewBag.lstPRO229_2 != null)
                                                            {
                                                                foreach (var item in ViewBag.lstPRO229_2 as List<PRO229_2>)
                                                                {
                                                                    <tr>
                                                                        <td style="text-align: center;display:none;"># @(s5 = s5 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                        <td class="ActMin">@Html.TextBox("ActMin_5_" + @s5, @item.ActMin, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>
                                                                        <td class="ActMax">@Html.TextBox("ActMax_5_" + @s5, @item.ActMax, new { @class = "form-control width125px", @maxlength = "20", @role = "PROD" })</td>

                                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                        {
                                                                            <td class="DeleteAction"> <i id="Delete_5_@s5" name="Delete_5_@s5" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>

                                                    </table>
                                                </div>
                                                <input id="hdGrid5LastRow" type="hidden" value="@s5" />
                                            </div>
                                        </div>
                                    </div>


                                </div>*@


                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table id="#" class="FormTable">

                                        <tr>
                                            <td class="subtitle">GAP AT KNUCKLE AREA USING TEMPLATE</td>
                                            <td class="subtitle">MINIMUM</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.MinGapAtKnuckleAreaUsingTemplate, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                            <td class="subtitle">MAXIMUM</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.MaxGapAtKnuckleAreaUsingTemplate, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table id="#" class="FormTable">

                                        <tr>
                                            <td class="subtitle">OVER CROWING</td>
                                            <td class="subtitle">REQUERED</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ReqOverCrowing, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ActOverCrowing, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">UNDER CROWING</td>
                                            <td class="subtitle">REQUERED</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ReqUnderCrowing, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ActUnderCrowing, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">MINIMUM THICKNESS</td>
                                            <td class="subtitle">REQUERED</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ReqMinThickness, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ActMinThickness, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">STRAIGHT FACE</td>
                                            <td class="subtitle">REQUERED</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ReqStraightFace, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ActStraightFace, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">CROWN RADIUS</td>
                                            <td class="subtitle">REQUERED</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ReqCrownRadius, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ActCrownRadius, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">KNUCKLE RADIUS</td>
                                            <td class="subtitle">REQUERED</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ReqKnuckleRadius, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">@Html.TextBoxFor(model => model.ActKnuckleRadius, new { @class = "form-control", @maxlength = "10", @role = "PROD" }) </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                1) PROCEDURE NO: @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd" colspan="2">
                                                2) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint2, new { @class = "form-control inlinetextbox width250px", @maxlength = "30", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint2_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td colspan="2">
                                                3) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="clstd">
                                                4) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="clstd">
                                                5) VISUAL INSPECTION OF LONG SEAM AND SURFACE CARRIED AND FOUND SATISFACTORY ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                6) CLADDED VESSEL  @Html.DropDownListFor(model => model.CheckPoint6, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvCheckPoint6\")" })
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>

                                        <tr>

                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>



                            <div id="dvCheckPoint6">
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine6" data-gridid="6">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left;">
                                                        <strong>CLAD STRIPING DETAILS  </strong>
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div6',this)" id="btnCollapse6" data-target="#div6" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body" id="div6">
                                                <table id="tblProtocolLines6" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">GroupNo</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th style="padding: 15px !important;">SEAM NO.</th>
                                                            <th style="padding: 15px !important;">SPOT NO</th>
                                                            <th>WIDTH (W) <br /> (REQ:@Html.TextBoxFor(m => m.ReqWidth, new { @class = "form-control inlinetextbox", @maxlength = "10", @role = "QC" }))  </th>
                                                            <th>DEPTH (D) <br /> (REQ:@Html.TextBoxFor(m => m.ReqDepth, new { @class = "form-control inlinetextbox", @maxlength = "10", @role = "QC" }))  </th>
                                                            <th>OFFSET <br /> (ALLOWED:@Html.TextBoxFor(m => m.AllowedOffset, new { @class = "form-control inlinetextbox", @maxlength = "10", @role = "QC" })) </th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO229_3 != null)
                                                        {
                                                            int i6 = 1;
                                                            var prevSeam = "";
                                                            foreach (var item in ViewBag.lstPRO229_3 as List<SP_IPI_PROTOCOL046_GET_LINES6_DATA_Result>)
                                                            {
                                                                if (prevSeam != item.SeamNo)
                                                                {
                                                                    <tr data-row="@i6" class="PRODSeam_@(item.SeamNo)">
                                                                        <td style="text-align: center;display:none;"># @(s6 = s6 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                        <td class="ParentId" style="display:none;">
                                                                            @if (string.IsNullOrWhiteSpace(group6))
                                                                            {
                                                                                if (!string.IsNullOrWhiteSpace(prodtbl6RowGroup))
                                                                                {
                                                                                    group6 = prodtbl6RowGroup;
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (!string.IsNullOrWhiteSpace(prodtbl6RowGroup))
                                                                                {
                                                                                    group6 += "," + prodtbl6RowGroup;
                                                                                }
                                                                            }

                                                                        </td>
                                                                        <td style="text-align: center;display:none;"> @(s6Prod = s6Prod + 1)  <input id="prevSeam" value="@(prevSeam = item.SeamNo)" type="hidden" /></td>
                                                                        <td class="SeamNo">
                                                                           
                                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                            {
                                                                                @Html.TextBox("SeamNo_6_" + @s6, @item.SeamNo, new { @class = "form-control", @colname = "SeamNo", @maxlength = "16", @role = "QC" })
                                                                            }
                                                                            else
                                                                            {
                                                                                <strong>@item.SeamNo </strong> <input id="SeamNo_6_@s6" type="hidden" value="@item.SeamNo" colname="SeamNo" />
                                                                            }
                                                                        </td>
                                                                        <td class="SpotNoClad">
                                                                            Total no of spots:&nbsp;@Html.TextBox("SpotNoClad_6" + @s6, @item.SpotNoClad, new { @class = "form-control inlinetextbox w100 SpotNoClad_6", @maxlength = "10", @role = "PROD", @onchange = "AddTotalSpot('" + @s6 + "','" + @item.SeamNo + "');" })
                                                                        </td>

                                                                        <td class="SpotNo"><span class="@(item.Parent == 1 ? "clsparent" : "") "></span></td>
                                                                        <td class="Width"> <span class="@(item.Parent == 1 ? "clsparent" : "") "></span> </td>
                                                                        <td class="Depth"> <span class="@(item.Parent == 1 ? "clsparent" : "") "></span> </td>
                                                                        <td class="Offset"> <span class="@(item.Parent == 1 ? "clsparent" : "") "></span></td>
                                                                        <td class="DeleteAction">
                                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                            {
                                                                                <i id="Delete_6_@s6" name="Delete_6_@s6" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolGroupLine('SeamNo_6_@s6','SeamNo','tblProtocolLines6')"></i>
                                                                            }
                                                                        </td>

                                                                    </tr>

                                                                }


                                                                if ((!string.IsNullOrWhiteSpace(item.SpotNo) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase)) || string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    if (item.SpotNo != "" && item.SpotNo != null)
                                                                    {
                                                                        <tr data-row="@i6" data-attr="@item.SeamNo" id="PRODSeam__@(s6 = s6 + 1)" class="PRODSeam_@(str6ClassName = "cls6ProdSeam" + s6Prod) tbl_clad_@item.SeamNo">
                                                                            <td style="text-align: center;display:none;"># @(s6) </td>
                                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                            <td class="ParentId" style="display:none;">@(prodtbl6RowGroup = "PRODSeam__" + s6)</td>
                                                                            <td style="text-align: center;display:none;"></td>
                                                                            <td class="SeamNo">
                                                                                <input type="hidden" id="SeamNo_6_@s6" value="@item.SeamNo" colname="SeamNo" />
                                                                            </td>
                                                                            <td class="SpotNoClad" style="display: none;">
                                                                                <input type="hidden" id="SpotNoClad_6_@s6" value="@item.SpotNoClad" colname="SpotNoClad" />
                                                                            </td>
                                                                            <td class="SpotNo"> @Html.TextBox("SpotNo_6_" + @s6, @item.SpotNo, new { @class = "form-control", @maxlength = "10", @role = "PROD", @tabindex = "-1" })</td>
                                                                            <td class="Width"> @Html.TextBox("Width_6_" + @s6, @item.Width, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="Depth"> @Html.TextBox("Depth_6_" + @s6, @item.Depth, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="Offset"> @Html.TextBox("Offset_6_" + @s6, @item.Offset, new { @class = "form-control", @maxlength = "10", @role = "PROD" })</td>
                                                                            <td class="DeleteAction">
                                                                                @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                                {
                                                                                    <i id="Delete_6_@s6" name="Delete_6_@s6" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }


                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                            <input id="hdGrid6LastRow" type="hidden" value="@s6" />
                                            <input id="hdGrid6LastGroup" type="hidden" value="@(group6 +","+ prodtbl6RowGroup)" />
                                        </div>

                                    </div>
                                </div>

                                
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                            <tr>
                                                <td colspan="2" class="noBottomBoder title rightBorder" style="width: 66% !important;background-color: #e9e9e9 !important;">  <b>NOTES: </b></td>
                                                <td rowspan="4">
                                                    <img src="~/Images/Protocol046_img1.png" style="width: 100%;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="clstd">
                                                    <span style="float:left">1. PROCEDURE NO.@Html.TextBoxFor(model => model.Note1, new { @class = "form-control inlinetextbox", @style = "width: 250px !important;", @maxlength = "50", @role = "QC" })</span>
                                                </td>
                                                <td class="rightBorder">
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="clstd">
                                                    <span style="float:left">2. CLAD ANGLE(θ) ENSURED AS PER DRAWING </span>
                                                </td>
                                                <td class="rightBorder">
                                                    @Html.DropDownListFor(model => model.Note2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="clstd">
                                                    <span style="float:left">3. CUSO4 TEST CARRIED OUT OF CLAD STRIPPED AREA AND NO SS CONTENT FOUND.</span>
                                                </td>
                                                <td class="rightBorder">
                                                    @Html.DropDownListFor(model => model.Note3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>
<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));
    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $('#EvalueTemplateInspection,#CheckPoint4,#CheckPoint5,#CheckPoint6,#Note2').val('Yes');
        $('#Note3').val('Yes');

        $("#CheckPoint2_2").change(function () {
            if ($("#CheckPoint2_2").val() != "") {
                $('#CheckPoint4').focus();
            }
        });

        if ('@Model.EvalueTemplateInspection' != "") { $('#EvalueTemplateInspection').val('@Model.EvalueTemplateInspection'); }        
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }
        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }
        if ('@Model.Note3' != "") { $('#Note3').val('@Model.Note3'); }
        if ('@Model.Note2' != "") { $('#Note2').val('@Model.Note2'); }


        showCladtripTable($('#CheckPoint6').val(), "dvCheckPoint6");
        showCladtripTable($('#EvalueTemplateInspection').val(), "dvEValueTemplateInspection");

        $(".calOAActual").change(function () {
            calculateMaxMin("calOAActual", "OutBy");
        });

        $(".caltop").change(function () {
            calculateMaxMin("caltop", "txtOvalityTop");
        });
        $(".calbot").change(function () {
            calculateMaxMin("calbot", "txtOvalityBottom");
        });
    });

    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });


    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });
    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

               // AddNextRow(this, null, false, 5, 'hdGrid5LastRow', 'tblProtocolLines5', 'ActMin', ['ActMin', 'ActMax'], AddTbl5NewTrRow, true);

                //var appendGroup = [];
                //if ($("#hdGrid6LastGroup").val() != "" && $("#hdGrid6LastGroup").val() != null && $("#hdGrid6LastGroup").val() != ",") {
                //    appendGroup = $("#hdGrid6LastGroup").val().split(',');
                //}

                //$.each(appendGroup, function (i, val) {
                //    if (val != "" && val != undefined) {
                //        var array = val.split("__");
                //        nextTRGroup = array[array.length - 1];
                //    }
                //    AddNextGroupRow(this, null, false, 6, 'hdGrid6LastRow', 'tblProtocolLines6', 'SpotNo', ['SpotNo', 'Width', 'Depth', 'Offset'], AddTbl6NewTrRow, true, val);
                //});


                $("[role=PROD]").first().focus();
            }



            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'SeamNo', ['SeamNo', 'ReqOrien'], AddTbl2NewTrRow, true);
                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'TotalHeight1', ['TotalHeight1'], AddTbl3NewTrRow, true);
                AddNextRow(this, null, false, 4, 'hdGrid4LastRow', 'tblProtocolLines4', 'SeamNo', ['SeamNo'], AddTbl4NewTrRow, true);
                AddNextRow(this, null, false, 6, 'hdGrid6LastRow', 'tblProtocolLines6', 'SeamNo', ['SeamNo'], AddTbl6NewTrRow, true);
                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }

    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "Actual": $('td.Actual input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);


        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SeamNo": $('td.SeamNo input', this).val(),
                "ReqOrien": $('td.ReqOrien input', this).val(),
                "ReqArcLength": $('td.ReqArcLength input', this).val(),
                "ActArcLength": $('td.ActArcLength input', this).val(),
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);


        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "TotalHeight1": $('td.TotalHeight1 input', this).val(),
                "TotalHeight2": $('td.TotalHeight2 input', this).val(),

            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });
        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);


        var TableData4 = []; //initialize array;
        var lstProtocolLines4 = ""; //empty var;
        $("table#tblProtocolLines4 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData4[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SeamNo": $('td.SeamNo input', this).val(),
                "TopPeakIn": $('td.TopPeakIn input', this).val(),
                "TopPeakOut": $('td.TopPeakOut input', this).val(),
                "MidPeakIn": $('td.MidPeakIn input', this).val(),
                "MidPeakOut": $('td.MidPeakOut input', this).val(),
                "BottonPeakIn": $('td.BottonPeakIn input', this).val(),
                "BottonPeakOut": $('td.BottonPeakOut input', this).val(),
                "ActMin": $('td.ActMin input', this).val(),
                "ActMax": $('td.ActMax input', this).val(),

            };

            lstProtocolLines4 = JSON.stringify(TableData4);
        });
        SaveAsDraftProtocolLine(lstProtocolLines4, ControllerURL + "SaveProtocolLine4" + "?HeaderId=" + parseInt($("#HeaderId").val()), 4);



        //var TableData5 = []; //initialize array;
        //var lstProtocolLines5 = ""; //empty var;
        //$("table#tblProtocolLines5 > tbody > tr:not(.islastrow)").each(function (row, tr) {
        //    TableData5[row] = {
        //        "LineId": $('td.LineId input', this).val(),
        //        "HeaderId": $('#HeaderId').val(),
        //        "ActMin": $('td.ActMin input', this).val(),
        //        "ActMax": $('td.ActMax input', this).val(),

        //    };

        //    lstProtocolLines5 = JSON.stringify(TableData5);
        //});
        //SaveAsDraftProtocolLine(lstProtocolLines5, ControllerURL + "SaveProtocolLine5" + "?HeaderId=" + parseInt($("#HeaderId").val()), 5);


        var TableData6 = []; //initialize array;
        var lstProtocolLines6 = ""; //empty var;
        $("table#tblProtocolLines6 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData6[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SeamNo": $('td.SeamNo input', this).val(),
                "SpotNo": $('td.SpotNo input', this).val(),
                "Width": $('td.Width input', this).val(),
                "Depth": $('td.Depth input', this).val(),
                "Offset": $('td.Offset input', this).val(),
                "SpotNoClad": $('td.SpotNoClad input', this).val(),
            };

            lstProtocolLines6 = JSON.stringify(TableData6);
        });
        SaveAsDraftProtocolLine(lstProtocolLines6, ControllerURL + "SaveProtocolLine6" + "?HeaderId=" + parseInt($("#HeaderId").val()), 6);


    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"Orientation\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'ReqThicknessMinimum',false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow)\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"Actual\"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox calOAActual\"  id=\"Actual_" + NewTrRowNum + "\" maxlength=\"10\" name=\"Actual_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines1')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }


    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var seamfn = "AddNextRow(this,'ReqTotalHeight',false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo','ReqOrien'],AddTbl2NewTrRow)";

        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"SeamNo center \"><input class=\"form-control  islastrow EditableTextColor QCTextbox\" id=\"SeamNo_2_" + NewTrRowNum + "\" maxlength=\"16\" name=\"SeamNo_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"" + seamfn + "\" ></td>"
             + "<td class=\"ReqOrien center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqOrien_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ReqOrien_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','SeamNo',['SeamNo','ReqOrien'],AddTbl2NewTrRow)\"></td>"
             + "<td class=\"ReqArcLength center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ReqArcLength_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqArcLength_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
              + "<td class=\"ActArcLength center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActArcLength_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActArcLength_2_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }


    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var strhtml =
        "<tr class=\"islastrow\">" +
        "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
        "<td class=\"LineId\" style=\"display:none;\">0</td>" +
        "<td class=\"TotalHeight1\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'null',false,3,'hdGrid3LastRow','tblProtocolLines3','TotalHeight1',['TotalHeight1'],AddTbl3NewTrRow)\" id=\"TotalHeight1_3_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TotalHeight1_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\"></td>" +
        "<td class=\"TotalHeight2\" colspan=\"3\"><input class=\"form-control  NonEditableTextColor islastrow PRODTextbox\"  id=\"TotalHeight2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TotalHeight_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" value=\"\" disabled=\"\"></td>" +
        "<td  class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +
        "</tr>";

        return strhtml;
    }


    function AddTbl4NewTrRow(NewTrRowNum) {
        $("#hdGrid4LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"SeamNo center width185px\"><input class=\"form-control  islastrow EditableTextColor QCTextbox\" id=\"SeamNo_4_" + NewTrRowNum + "\" maxlength=\"16\" name=\"SeamNo_4_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,'null',false,4,'hdGrid4LastRow','tblProtocolLines4','SeamNo',['SeamNo'],AddTbl4NewTrRow)\"></td>"
             + "<td class=\"TopPeakIn center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox valid\" id=\"TopPeakIn_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TopPeakIn_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled aria-invalid=\"false\"></td>"
             + "<td class=\"TopPeakOut center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"TopPeakOut_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"TopPeakOut_4_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"MidPeakIn center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"MidPeakIn_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"MidPeakIn_4_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"MidPeakOut center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"MidPeakOut_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"MidPeakOut_4_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"BottonPeakIn center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"BottonPeakIn_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"BottonPeakIn_4_" + NewTrRowNum + "\" disabled  role=\"PROD\" type=\"text\" ></td>"
             + "<td class=\"BottonPeakOut center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"BottonPeakOut_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"BottonPeakOut_4_" + NewTrRowNum + "\" disabled role=\"PROD\" type=\"text\" ></td>"
           + "<td class=\"ActMin center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMin_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMin_4_" + NewTrRowNum + "\" disabled role=\"PROD\" type=\"text\" ></td>"
           + "<td class=\"ActMax center width185px\"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActMax_4_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActMax_4_" + NewTrRowNum + "\" disabled role=\"PROD\" type=\"text\" ></td>"         
             + "<td class=\"DeleteAction\"><i id=\"Delete_4_" + NewTrRowNum + "\" name=\"Delete_4_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }


    //function AddTbl5NewTrRow(NewTrRowNum) {
    //    $("#hdGrid5LastRow").val(NewTrRowNum);
    //    var fn = "AddNextRow(this,'MinGapAtKnuckleAreaUsingTemplate',false,5,'hdGrid5LastRow','tblProtocolLines5','ActMin',['ActMin','ActMax'],AddTbl5NewTrRow)";
    //    var strhtml = "<tr class=\"islastrow\" >" +
    //         +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
    //         + "<td class=\"LineId\" style=\"display:none;\">0</td>"
    //         + "<td class=\"ActMin\">" + GetColumnTextBoxRender(NewTrRowNum, "ActMin", "", fn, "20", false, false, "", "PROD", 5, "islastrow",true) + "</td>"
    //         + "<td class=\"ActMax\">" + GetColumnTextBoxRender(NewTrRowNum, "ActMax", "", fn, "20", false, false, "", "PROD", 5, "islastrow") + "</td>"
    //         + "<td class=\"DeleteAction\"><i id=\"Delete_5_" + NewTrRowNum + "\" name=\"Delete_5_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
    //         + "</tr>";

    //    return strhtml;
    //}

       function AddTbl6NewTrRow(NewTrRowNum, prodrowgroup) {
        $("#hdGrid6LastRow").val(NewTrRowNum);
        var cls = "", seamno = "";
        var strhtml = "";
        if (prodrowgroup != "" && prodrowgroup != undefined) {
            var array = prodrowgroup.split("__");
            var last = array[array.length - 1].replace('_', "");
            cls = $("#" + prodrowgroup).attr("class");//prodrowgroup.split("__")[0];
            seamno =  $("#" + prodrowgroup).attr("data-attr");
            prodrowgroup = cls + "__" + (parseInt(last) + 1);
        }
        if (userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()') {

            var fn = "AddNextRow(this,null,false,6,'hdGrid6LastRow','tblProtocolLines6','SeamNo',['SeamNo'],AddTbl6NewTrRow)";
            strhtml = "<tr class=\"islastrow\"  id='" + prodrowgroup + "'>" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
             + "<td class=\"ParentId\" style=\"display:none;\"></td>"
             + "<td style=\"text-align: center;display:none;\"></td>"
             + "<td class=\"SeamNo center \">" + GetColumnTextBoxRender(NewTrRowNum, "SeamNo", "", fn, "16", false, false, " width125px ", "QC", 6, "islastrow") + "</td>"
             + "<td class='SpotNo'></td>"
             + "<td class=\"Width center \"></td>"
             + "<td class=\"Depth center \"></td>"
             + "<td class=\"Offset center \"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_6_" + NewTrRowNum + "\" name=\"Delete_6_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolGroupLine('SeamNo_6_" + NewTrRowNum + "','SeamNo','tblProtocolLines6')\" style=\"display:none\"></i></td>"
             + "</tr>";


        }
        @*if (userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()') {

            var fn = "AddNextGroupRow(this,null,false,6,'hdGrid6LastRow','tblProtocolLines6','SpotNo',['SpotNo','ActWidth','ActDepth','ActOffset'],AddTbl6NewTrRow,false,'" + prodrowgroup + "')";
            var fnFirstColumn = "AddNextGroupRow(this,'SpotNo,Note2',true,6,'hdGrid6LastRow','tblProtocolLines6','SpotNo',['SpotNo','ActWidth','ActDepth','ActOffset'],AddTbl6NewTrRow,false,'" + prodrowgroup + "')";

            strhtml = "<tr  id='" + prodrowgroup + "' class = 'islastrow " + cls + "'>" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"ParentId\" style=\"display:none;\"></td>"
            + "<td style=\"text-align: center;display:none;\"></td>"
            + "<td class=\"SeamNo center \">" + GetColumnHiddenRender(NewTrRowNum, "SeamNo", seamno, "QC", 6, "") + "</td>"
            + "<td class='SpotNo'>" + GetColumnTextBoxRender(NewTrRowNum, "SpotNo", "", fnFirstColumn, "10", false, false, " width125px ", "PROD", 6, "islastrow", true) + "</td>"
            + "<td class=\"ActWidth center \">" + GetColumnTextBoxRender(NewTrRowNum, "ActWidth", "", fn, "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
            + "<td class=\"ActDepth center \">" + GetColumnTextBoxRender(NewTrRowNum, "ActDepth", "", fn, "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
            + "<td class=\"ActOffset center \">" + GetColumnTextBoxRender(NewTrRowNum, "ActOffset", "", fn, "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_6_" + NewTrRowNum + "\" name=\"Delete_6_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";
            $("#hdGrid6LastRow").val(NewTrRowNum);
            $("#SpotNoClad").val(NewTrRowNum);
        }*@
        return strhtml;
    }


    function AddTotalSpot(No, I6) {
        debugger;
        var fn = "AddNewTR6('" + No + "','" + I6 + "')";
        //var fn = "";
        //var NewTrRowNum = $("#hdGrid6LastRow").val();
        var strhtml = "";
        var n = $("#SpotNoClad_6" + No).val();
        //$("#SpotNoClad_6" + No).val(n);
        for (var i = 1; i <= n; i++) {
            if (i != n) {

                strhtml += "<tr class=\"tbl_clad_" + I6 + "\">" +
                    +"<td style=\"text-align: center;display:none;\"># " + i + " </td>"
                    + "<td class=\"LineId\" style=\"display:none;\">0</td>"
                    + "<td class=\"ParentId\" style=\"display:none;\"></td>"
                    + "<td style=\"text-align: center;display:none;\"></td>"
                    + "<td class=\"SeamNo center \">" + GetColumnHiddenRender(i, "SeamNo", I6, "QC", 6, "") + "</td>"
                    + "<td class=\"SpotNoClad center \" style=\"display: none;\"><input type=\"hidden\" class=\"form-control islastrow\" id=\"SpotNoClad_6_" + n + "\" name=\"SpotNoClad_6_" + n + "\" colname=\"SpotNoClad\" value=\"" + n + "\"></td>"
                    + "<td class=\"SpotNo\"><input class=\"form-control width125px EditableTextColor islastrow PRODTextbox\"  id=\"SpotNo_6_" + i + "\" maxlength=\"10\" name=\"SpotNo_6_" + i + "\" role=\"PROD\" type=\"text\" value=\"" + (i + "-" + (i + 1)) + "\" tabindex=\"-1\"></td>"
                  //+ "<td class='SpotNo'>" + GetColumnTextBoxRender(i, "SpotNo", (i + "-" + (i + 1)), "", "10", false, false, " width125px ", "PROD", 6, "islastrow", true) + "</td>"
                    + "<td class=\"Width center \">" + GetColumnTextBoxRender(i, "Width", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"Depth center \">" + GetColumnTextBoxRender(i, "Depth", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"Offset center \">" + GetColumnTextBoxRender(i, "Offset", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"DeleteAction\"><i id=\"Delete_6_" + i + "\" name=\"Delete_6_" + i + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" ></i></td>" +
                "</tr>";
            }
            else {
                strhtml += "<tr class=\"tbl_clad_" + I6 + "\">" +
                    +"<td style=\"text-align: center;display:none;\"># " + i + " </td>"
                    + "<td class=\"LineId\" style=\"display:none;\">0</td>"
                    + "<td class=\"ParentId\" style=\"display:none;\"></td>"
                    + "<td style=\"text-align: center;display:none;\"></td>"
                    + "<td class=\"SeamNo center \">" + GetColumnHiddenRender(i, "SeamNo", I6, "QC", 6, "") + "</td>"
                    + "<td class=\"SpotNoClad center \" style=\"display: none;\"><input type=\"hidden\" class=\"form-control islastrow\" id=\"SpotNoClad_6_" + n + "\" name=\"SpotNoClad_6_" + n + "\" colname=\"SpotNoClad\" value=\"" + n + "\"></td>"
                    + "<td class=\"SpotNo\"><input class=\"form-control width125px EditableTextColor islastrow PRODTextbox\"  id=\"SpotNo_6_" + i + "\" maxlength=\"10\" name=\"SpotNo_6_" + i + "\" role=\"PROD\" type=\"text\" value=\"" + (i + "-1") + "\" tabindex=\"-1\"></td>"
                   //+ "<td class='SpotNo'>" + GetColumnTextBoxRender(i, "SpotNo", (i + "-1"), "", "10", false, false, " width125px ", "PROD", 6, "islastrow", true) + "</td>"
                    + "<td class=\"Width center \">" + GetColumnTextBoxRender(i, "Width", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"Depth center \">" + GetColumnTextBoxRender(i, "Depth", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"Offset center \">" + GetColumnTextBoxRender(i, "Offset", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"DeleteAction\"><i id=\"Delete_6_" + i + "\" name=\"Delete_6_" + i + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" ></i></td>" +
                "</tr>";
            }

        }

        $(".tbl_clad_" + I6).remove();
        $(".PRODSeam_" + I6).after(strhtml);
        $(".tbl_clad_" + I6 + " > td > #Width_6_1").focus();
        //return strhtml;
    }

    function AddNewTR6(No, I6) {

        var fn = "AddNewTR6('" + No + "','" + I6 + "')";
        var n = $("tr.tbl_clad_" + I6).length;// $("#SpotNoClad_6" + No).val();
        var fnNext = "AddNextGroupRow(this,null,false,6,'hdGrid6LastRow','tblProtocolLines6','SpotNo',['SpotNo','ActWidth','ActDepth','ActOffset'],AddTbl6NewTrRow,false)";
        n = parseInt(n) + 1;
        var strhtml = "<tr class=\"islastrow tbl_clad_" + I6 + "\">" +
                    +"<td style=\"text-align: center;display:none;\"># " + n + " </td>"
                    + "<td class=\"LineId\" style=\"display:none;\">0</td>"
                    + "<td class=\"ParentId\" style=\"display:none;\"></td>"
                    + "<td style=\"text-align: center;display:none;\"></td>"
                    + "<td class=\"SeamNo center \">" + GetColumnHiddenRender(n, "SeamNo", I6, "QC", 6, "") + "</td>"
                     + "<td class=\"SpotNoClad center \" style=\"display: none;\"><input type=\"hidden\" class=\"form-control islastrow\" id=\"SpotNoClad_6_" + n + "\" name=\"SpotNoClad_6_" + n + "\" colname=\"SpotNoClad\" value=\"" + n + "\"></td>"
                    + "<td class='SpotNo'>" + GetColumnTextBoxRender(n, "SpotNo", "", fnNext, "10", false, false, " width125px ", "PROD", 6, "islastrow", true) + "</td>"
                    + "<td class=\"Width center \">" + GetColumnTextBoxRender(n, "Width", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"Depth center \">" + GetColumnTextBoxRender(n, "Depth", "", "", "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"Offset center \">" + GetColumnTextBoxRender(n, "Offset", "", fn, "10", false, false, " width125px ", "PROD", 6, "islastrow") + "</td>"
                    + "<td class=\"DeleteAction\"><i id=\"Delete_6_" + n + "\" name=\"Delete_6_" + n + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>" +
                "</tr>";

        $row = $("#tblProtocolLines6").find('tr.tbl_clad_' + I6).last();
        $row.find("td.DeleteAction").find("i").show();
        $row.removeClass('islastrow');
        $row.find('select,input').removeClass('islastrow');

        $("#tblProtocolLines6").find(".tbl_clad_" + I6).eq(-1).after(strhtml);
        $("#hdGrid6LastRow").val(parseInt(n) + 1);
        var v = $("tr.tbl_clad_" + I6 + ":not(.islastrow)").length;
        $("#SpotNoClad_6" + No).val(parseInt(v));
        $("#tbl_clad_" + I6 + " > td > #SpotNo_6_" + parseInt(n)).focus();
    }
</script>