﻿


<div class="modal-body">
    @*<div class="row justify-content-end">*@
    <div class="col-sm-12">
        @*<div class="form-group m-form__group row">*@
        @Html.Hidden("TransmittalId", (object)ViewBag.TransmittalId)
        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
            <table class="table table-hovered table-bordered table--head-bg-secondary" id="tblEmailHistory"></table>
        </div>

        @*</div>*@
    </div>
</div>
@*</div>*@

<script>
    $(document).ready(function () {
        var TransId = $('#TransmittalId').val();
        var tblEmailHistory;
        tblEmailHistory = $('#tblEmailHistory').DataTable({
            "serverSide": true,
            "processing": true,
            "orderMulti": false,
            "filter": true,
            "sAjaxSource": "/DES/Transmittal/BindEmailHistory",
            "iDisplayLength": 10,
            "ordering": true,
            "scrollX": true,
            "responsive": false,
            "language": {
                "infoFiltered": ""
            },
            "order": [[1, 'desc']],
            "columnDefs": [
                { "orderable": false, "targets": 0 }
            ],

            "fnServerData": function (sSource, data, fnCallback) {
                data.push({ name: "TransmittalId", value: TransId });
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": data,
                    "success": fnCallback
                });

            },
            "aoColumns": [
                {
                    "sTitle": "Action", "className": "", "orderable": false, render: function (data, type, row, meta) {
                        var srt = "";
                        srt += "<a href='#'  class='m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill' title='View Transmittal Detail' onClick='BindTransmittalDetail(" + row.TransmittalId + ")'><i class='la la-eye m--font-info'></i></a>";
                        return srt;
                    }
                },
                {
                    "sTitle": "Agency", "orderable": false, render: function (data, type, row, meta) {
                        return row.AgencyName
                    }
                },
                {
                    "sTitle": "Agency To", render: function (data, type, row, meta) {
                        return row.AgencyTo
                    }
                },
                {
                    "sTitle": "Agency CC", render: function (data, type, row, meta) {
                        return row.AgencyCC
                    }
                },
                {
                    "sTitle": "L&T To", render: function (data, type, row, meta) {
                        return row.LandTTo
                    }
                },
                {
                    "sTitle": "L&T CC", render: function (data, type, row, meta) {
                        return row.LandTCC
                    }
                },
                {
                    "sTitle": "Sent By", render: function (data, type, row, meta) {
                        return row.CreatedBy
                    }
                },
                {
                    "sTitle": "Sent On", render: function (data, type, row, meta) {
                        return row.CreatedOn
                    }
                },
            ],

            "initComplete": function () {

            },

            "fnRowCallback": function () {
                setTimeout(function () {
                    tblEmailHistory.columns.adjust();
                }, 1000);
            }

        });
    });
    function BindTransmittalDetail(TransmittalID) {
        //var model = {};
        //model.TransmittalId = TransmittalID;
        mApp.blockPage();
        $.ajax({
            type: "POST",
            url: '/DES/Transmittal/ShowTransmittalDetail',
            data: JSON.stringify({ TransmittalId: TransmittalID }),
            dataType: 'Html',
            contentType: "application/json;charset=utf-8",
            async: true,
            success: function (result) {
                mApp.unblockPage();
                $("#modelbodyViewTransmittal").html(result);
                $("#m_modal_1_4").modal("show");

            },
            error: function (error) {
            }
        })
        return true;
    }
</script>

