﻿@using IEMQSImplementation
<style>
    #tblAttach > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<script>

    function checkFileValid(ctrl) {
        var filesize = @(clsUpload.MaxFileSizeInMB*1024*1024);
        var allowedExt = ['@(new HtmlString(string.Join("','", clsUpload.allowedExtensions)))'];
        var fName = $(ctrl).val();
        var filename =  fName.substring(fName.lastIndexOf("\\") + 1);
        var isRepeat = false;
        $('#tblAttach').find('tbody').find('input').each(function(){
            if($(this).attr('id').trim() == filename.trim())
                isRepeat = true;
        });
        var fExt = '.'+filename.split('.').pop().toLowerCase();
        /*if(typeof allowAllAttachments == "undefined"){
            if(allowedExt.indexOf(fExt) == -1)
                return 2;
        }*/
        if(ctrl.files[0].size > filesize)
            return 1;
        else if(isRepeat)
            return 3;
        else return 0;
    }

    function getFile(ctrl){
        var url = $(ctrl).attr('tag');
        $(ctrl).attr('href', url);
        $(ctrl).attr('onclick', '');
        $(ctrl).trigger('click');
        $(ctrl).attr('href', '#');
        $(ctrl).attr('onclick', 'getFile(this)');
    }

    function addAttch(ctrl) {
        var fName = $(ctrl).val();
        var ch = checkFileValid(ctrl);
        if(ch == 1)
            DisplayNotiMessage("error", "File size should be less than @(clsUpload.MaxFileSizeInMB)MB", "File Error");
        else if(ch == 2)
            DisplayNotiMessage("error", "File should be one of the following types:\n@(string.Join(",", clsUpload.allowedExtensions))", "File Error");
        else if(ch == 3)
            DisplayNotiMessage("error", "Cannot upload multiple files with same name", "File Error");
        else{
            $('#tblAttach').find("tbody").append('<tr><td>' + fName.substring(fName.lastIndexOf("\\") + 1) + '</td><td id="valTD"><input type="hidden" id="' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="attach temp" value=""/><input type="text"  placeholder="Comments" id="_' + fName.substring(fName.lastIndexOf("\\") + 1) + '" class="form-control comment" onchange="$(this).attr(\'value\', $(this).val())" maxlength="100" /></td><td><span style="cursor:pointer" class="fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>');
            $('.comment[maxlength]').maxlength({
                alwaysShow: true,
                //placement: 'top-center'
            });
            getFileData(ctrl);
        }
        $(ctrl).val('');
    }

    function getFileData(ctrl) {
        var files = $(ctrl).file;
        fr = new FileReader();
        fr.onload = function () { $(".temp").val(fr.result); $(".temp").removeClass("temp"); };
        fr.readAsDataURL(document.querySelector('#'+$(ctrl).attr("id")).files[0]);
    }

    function setAttachmentsFromTDElement(td, disableDelete){
        var attchTD = $(td);
        $(td).children().each(function(){
            var appendData = '';
            if($(this).hasClass('attach')){
                var commnt = '<input type="text" placeholder="Comments" class="comment form-control" id="_'+$(this).attr('id')+'" onchange="$(this).attr(\'value\', $(this).val())" maxlength="100" />';
                var filter = '.comment';
                var name = '_'+$(this).attr('id');
                $(attchTD).find(filter).each(function() {
                    if($(this).attr('id') == name)
                        commnt = this.outerHTML;
                });
            //    if($(this).val().substring(0,3) == 'URL')
            //        appendData='<tr><td><a download="'+$(this).attr("id")+'" href="'+$(this).val().substring(4)+'">' + $(this).attr("id") + '</a></td><td id="valTD">'+this.outerHTML+commnt+'</td><td><span style="cursor:pointer" class="delete fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
            //    else
            //        appendData = '<tr><td>' + $(this).attr("id") + '</td><td id="valTD">'+this.outerHTML+commnt+'</td><td><span style="cursor:pointer" class="delete fa fa-trash-o" onclick="$(this).closest(\'tr\').remove()"></span></td></tr>';
                //}
                if($(this).val().substring(0,3) == 'URL')
                            appendData='<tr><td><a download="'+$(this).attr("id")+'" href="'+$(this).val().substring(4)+'">' + $(this).attr("id") + '</a></td><td id="valTD">'+this.outerHTML+commnt+'</td></tr>';
                        else
                            appendData = '<tr><td>' + $(this).attr("id") + '</td><td id="valTD">'+this.outerHTML+commnt+'</td>';
                    }
            $('#tblAttach').find("tbody").append(appendData);
            if(disableDelete == true)
                $('#tblAttach').find(".delete").remove();
        });

    }

    function getAttachmentsForTDElement(){
        var atchs = '';
        $('#tblAttach').find("tbody").children().each(function(){
            atchs += $(this).find("#valTD").html();
        })
        return atchs;
    }

    function getHasAttachmentsForSubmit(tdElement){
        var attch = [];
        if(tdElement != undefined)
            attch = getAttachmentsforSubmit(tdElement);
        else
            attch = getAttachmentsFromTable();
        var hasAttch=false;
        if(attch.length > 0)
            hasAttch = true;
        return hasAttch;
    }

    function setAttachmentsInHeader(folderName, disableDelete){
        $.ajax({
            url : WebsiteURL +'/Utility/General/getDocuments',
            method: "POST",
            data: { folderPath: folderName},
            success: function(data){
                $('#tblAttach').after('<div id="tempData"></div>');
                $('#tempData').html(data);
                setAttachmentsFromTDElement($('#tempData'), disableDelete);
                $('#tempData').remove();
            }
        });
    }

    //function setAttachmentsInHeaderKM(folderName, disableDelete){
    //    $.ajax({
    //        url : WebsiteURL +'/Utility/General/getDocumentsKM',
    //        method: "POST",
    //        data: { folderPath: folderName},
    //        success: function(data){
    //            $('#tblAttach').after('<div id="tempData"></div>');
    //            $('#tempData').html(data);
    //            setAttachmentsFromTDElement($('#tempData'), disableDelete);
    //            $('#tempData').remove();
    //        }
    //    });
    //}

    function getAttachmentsforSubmit(tdElement){
        var attch = [];
        $(tdElement).children().each(function(){
            attch.push({Key: this.id, Value: $(this).val()})
        });
        return attch;
    }

    function getAttachmentsFromTable(){
        var attch = [];
        $('#tblAttach').find('input').each(function(){
            attch.push({Key: this.id, Value: $(this).val()})
        });
        return attch;
    }

    function clearTable(){
        $('#tblAttach').find('tbody').html('');
    }

    function btnClick(){
        var x =typeof checkRevise;
        if(x != "undefined")
        {
            if(confirmOnAttach())
                $('#inpAttach').trigger('click')
        }
        else
            $('#inpAttach').trigger('click')
    }

</script>

<div class="form-group">
    <div class="col-md-12">
        <label class="control-label">Attachments</label>
        <div class="row">
            <div class="col-md-11">
                <table id="tblAttach" class="table">
                    <tbody></tbody>
                </table>
            </div>
            @*<input type="file" id="inpAttach" style="display:none" onchange="addAttch(this)" />
            @if (ViewBag.Action != "view")
            { <button type="button" class="btn blue col-md-1" id="btnAttach" onclick="btnClick()"><span class="glyphicon glyphicon-paperclip"></span></button> }*@
        </div>
    </div>
</div>
