﻿@using IEMQSImplementation

<style>
    .scenter {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @*@{
                            string strCTQTitle = ViewBag.Status + " RT CTQ";
                        }
                        @strCTQTitle*@
                    RT CTQ List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/ApproveRTCTQ/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Project</th>
                            <th class="min-phone-l">BU</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">CTQ No.</th>
                            <th class="min-phone-l">Manufacturing Code</th>                           
                            <th class="min-phone-l">Rev No.</th>
                            <th class="min-phone-l">Created By</th>
                            <th class="min-phone-l">Created On</th>
                            <th class="min-phone-l">Status</th>
                            <th class="none">Applicable Spec.</th>
                            <th class="none">Acceptance Std.</th>
                            <th class="none">ASME code</th>
                            <th class="none">TPI Name</th>
                            <th class="none">Noti. Req.</th>
                            <th class="none">Job Thickness</th>
                            <th class="none">Size Diam.</th>
                            <th class="none">Remarks</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn approve">Approve</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        var isVisible = false;
        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblCTQHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        $("#btnApproveSelected").click(function () {
            var arrayHeaderIds = new Array();
            // Iterate over all checkboxes in the table
            $('input[class="clsCheckbox"]', $('#tblCTQHeader')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                bootbox.dialog({
                    title: "Approve Confirmation",
                    message: "Do you want to approve?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                            callback: function (result) {
                                if (result) {
                                    var strHeaderIds = arrayHeaderIds.join(",");
                                    $.ajax({
                                        type: "POST",
                                        url: WebsiteURL + "/NDE/ApproveRTCTQ/ApproveByApproverSelected",
                                        datatype: 'json',
                                                                            beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        data: { strHeaderIds: strHeaderIds },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $(".example-select-all").prop('checked', false);
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblCTQHeader').DataTable().ajax.reload();

                                        },
                                        error: function () {
                                        }
                                    });
                                }
                            }
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },

                });

            }
            else {
                DisplayNotiMessage("error", "Please select header first", "Error");
            }
        });

        var table = $('#tblCTQHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/ApproveRTCTQ/LoadRTCTQHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        fnCallback(data);
                        if (data.iTotalRecords > 0) {
                            if ('@ViewBag.Status' == "Pending") {
                                $("#btnApproveSelected").show();
                            }
                            else {
                                $("#btnApproveSelected").hide();
                            }
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;

                        }
                    },

                    'async': false
                });
            },
            "columns": [
                {
                    'targets': 0,
                    "bSortable": false,
                    "sClass": "left18",
                    'render': function (data, type, full, meta) {
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Project",
                    "ColName": "nde3.Project+'-'+com1.t_dsca"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "BU",
                    "ColName": "nde3.BU+'-'+bcom2.t_desc"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "Location",
                    "ColName": "nde3.Location+'-'+lcom2.t_desc"
                },
                {
                    "bSortable": true,
                    "sClass": "clsCenter",
                    "name": "CTQNo"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "ManufacturingCode"
                },
                {
                    "name": "RevNo",
                    "sClass": "center",
                    "attr": "numeric"
                },
                {
                    "name": "CreatedBy",
                    "sClass": "center",
                    "ColName": "nde3.CreatedBy+'-'+com003c.t_name "
                },
                {
                    "name": "CreatedOn",
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "ApplicableSpecification",
                    "sClass": "center",
                    "attr": "hide"
                },
                 {
                     "name": "AcceptanceStandard",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "ASMECodeStamp",
                     "sClass": "clsCenter",
                     "attr": "hide"
                 },
                 {
                     "name": "TPIName",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "NotificationRequired",
                     "sClass": "clsCenter",
                     "attr": "hide"
                 },
                 {
                     "name": "ThicknessOfJob",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "SizeDimension",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "name": "NDERemarks",
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                 },
            ]
        });
        table.dtSearchFilter();
        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
            $("#btnApproveSelected").show();
        }
        else {
            oTable.api().column(0).visible(false);
            setTimeout(function () {
                $('#tblCTQHeader_wrapper thead tr:first th:eq(0)').hide();
                $('#tblCTQHeader_wrapper thead tr:first th:eq(9)').show();

            }, 100);
            $("#btnApproveSelected").hide();
        }
    });

</script>
