﻿
@{
    ViewBag.Title = "Add Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
@*<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>*@
<script>
    function checkDec(el) {
        var ex = /^[0-9]+\.?[0-9]*$/;
        if (ex.test(el.value) == false) {
            el.value = el.value.substring(0, el.value.length - 1);
        }
    }

    $(document).ready(function () {
        GetTOFDUTHeaderFormHTML(parseInt('@ViewBag.HeaderID'));
        $('input[readonly="readonly"]').each(function () {
            $(this).attr('tabindex', '-1');
        });
    });
    function GetTOFDUTHeaderFormHTML(HeaderID) {
        $("#divScanUTHeader").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainTOFDUTTech/LoadTOFDUTFormPartial",
            datatype: 'html',
             beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderID: HeaderID },
            success: function (result) {
                $("#divScanUTHeader").html(result);
            },
            error: function () {
            }
        });
    }
</script>
<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divScanUTHeader">

        </div>
    </div>
</div>

