﻿@model IEMQSImplementation.PRL330
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                      
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td> @ViewBag.ProjectDesc</td>
                                            <td class="subtitle"> SEAM NO.</td>
                                            <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>

                                        <tr>

                                            <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                            <td>
                                                <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select" })</span>
                                                <span style=""> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                                            </td>
                                            <td class="subtitle">INSPECTION AGENCY</td>
                                            <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                            <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                            <td class="subtitle">MANUFACTURING CODE</td>
                                            <td>@ViewBag.ManufacturingCode</td>
                                        </tr>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tr>
                                            <td class="subtitle">ACTUAL CIRCUMFERECE AT CUTOUT LOCATION: </td>
                                            <td> @Html.TextBoxFor(model => model.ActCirAtCutoutLocation, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ELEVATION OF REFERENCE LINE FROM B.T.L</td>
                                            <td> @Html.TextBoxFor(model => model.EleOfRefLineFromBTL, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left; ">
                                                    <strong></strong>
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines1" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th rowspan="2">NOZZLE NO.</th>
                                                            <th colspan="2">ELEVATION FROM &nbsp; @Html.DropDownListFor(model => model.ElevationFrom, new SelectList(@ViewBag.Elevation, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "QC" })</th>
                                                            <th colspan="5">ORIENTATION</th>
                                                            <th colspan="2">CUT OUT DIA.</th>
                                                            <th colspan="2">OFFSET DISTANCE</th>
                                                        </tr>
                                                        <tr>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th>REQUIRED DEG </th>
                                                            <th>MAIN ORIENTATION FROM WHERE ARC LENGTH TO BE CHECKED</th>
                                                            <th>CLOCKWISE / ANTICLOCK WISE</th>
                                                            <th>REQUIRED ARC LENGTH</th>
                                                            <th>ACTUAL ARC LENGTH</th>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th>REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL331 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL331 as List<PRL331>)
                                                            {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                            <td class="NozzleNo">@Html.TextBox("NozzleNo_1_" + @s1, @item.NozzleNo, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="ReqElevationFrom">@Html.TextBox("ReqElevationFrom_1_" + @s1, @item.ReqElevationFrom, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="ActElevationFrom">@Html.TextBox("ActElevationFrom_1_" + @s1, @item.ActElevationFrom, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            <td class="ReqDegOrientation">@Html.TextBox("ReqDegOrientation_1_" + @s1, @item.ReqDegOrientation, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="MainOrientation">@Html.TextBox("MainOrientation_1_" + @s1, @item.MainOrientation, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            <td class="ClockWiseOrientation"> @Html.DropDownList("ClockWiseOrientation_1_" + @s1, new SelectList(ViewBag.ClockWise, "Value", "Text", @item.ClockWiseOrientation), "", new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            <td class="ReqArcLengthOrientation">@Html.TextBox("ReqArcLengthOrientation_1_" + @s1, @item.ReqArcLengthOrientation, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            <td class="ActArcLengthOrientation">@Html.TextBox("ActArcLengthOrientation_1_" + @s1, @item.ActArcLengthOrientation, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            <td class="ReqCutOutDia">@Html.TextBox("ReqCutOutDia_1_" + @s1, @item.ReqCutOutDia, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="ActCutOutDia">@Html.TextBox("ActCutOutDia_1_" + @s1, @item.ActCutOutDia, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            <td class="ReqOffsetDistance">@Html.TextBox("ReqOffsetDistance_1_" + @s1, @item.ReqOffsetDistance, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                            <td class="ActOffsetDistance">@Html.TextBox("ActOffsetDistance_1_" + @s1, @item.ActOffsetDistance, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this)"></i></td>
                                                            }
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">

                                    <table class="FormTable">
                                        <tr>
                                            <td class="title" colspan="4">
                                                CIRCUMFERENCE AT TOP SIDE
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">REQUIRED</td>
                                            <td> @Html.TextBoxFor(model => model.ReqCirAtTopSide, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td> @Html.TextBoxFor(model => model.ActCirAtTopSide, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange = "funTop();" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="title" colspan="4">
                                                QUARTER ARC LENGTH
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ORIENTATION</td>
                                            <td class="subtitle" colspan="2">REQUIRED</td>
                                            <td class="subtitle">ACTUAL</td>
                                        </tr>
                                        <tr>
                                            <td>0⁰ TO 90⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterTop1, new { @class = "form-control topCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterTop1, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td>90⁰ TO 180⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterTop2, new { @class = "form-control topCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterTop2, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td>180⁰ TO 270⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterTop3, new { @class = "form-control topCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterTop3, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td>270⁰ TO 0⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterTop4, new { @class = "form-control topCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterTop4, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-4">

                                    <table class="FormTable">
                                        <tr>
                                            <td class="title" colspan="4">
                                                CIRCUMFERENCE AT BOTTOM SIDE
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">REQUIRED</td>
                                            <td> @Html.TextBoxFor(model => model.ReqCirAtBottomSide, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td> @Html.TextBoxFor(model => model.ActCirAtBottomSide, new { @class = "form-control", @maxlength = "20", @role = "PROD", @onchange = "funBottom();" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="title" colspan="5">
                                                QUARTER ARC LENGTH
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ORIENTATION</td>
                                            <td class="subtitle" colspan="2">REQUIRED</td>
                                            <td class="subtitle">ACTUAL</td>
                                        </tr>
                                        <tr>
                                            <td>0⁰ TO 90⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterBottom1, new { @class = "form-control bottomCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterBottom1, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td>90⁰ TO 180⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterBottom2, new { @class = "form-control bottomCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterBottom2, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td>180⁰ TO 270⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterBottom3, new { @class = "form-control bottomCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterBottom3, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td>270⁰ TO 0⁰</td>
                                            <td colspan="2">@Html.TextBoxFor(model => model.ReqQuarterBottom4, new { @class = "form-control bottomCircumference ", @readonly = "readonly", @tabindex = "-1" })</td>
                                            <td> @Html.TextBoxFor(model => model.ActQuarterBottom4, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-3">
                                    <img src="~/Images/Protocol067_img1.png" width="300px" />
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                1) PROCEDURE NO &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) IDENTIFICATION OF SHELL / HEAD VERIFIED?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                4) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                5) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint5, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint5_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    }
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
     
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
    var lstClockWise = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ClockWise))));

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#CheckPoint5_2").change(function () {
            if ($("#CheckPoint5_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#CheckPoint2 ,#CheckPoint3').val('Yes');


        if ('@Model.CheckPoint2' != "") {$('#CheckPoint2').val('@Model.CheckPoint2');}
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.ElevationFrom' != "") { $('#ElevationFrom').val('@Model.ElevationFrom'); }

        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));

        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);
        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
        }
    });
    
     
     $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL067", $('#HeaderId').val());
    });


    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=0", userRole, false, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
         SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {

                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'NozzleNo', ['NozzleNo', 'ReqElevationFrom', 'ReqDegOrientation', 'ReqCutOutDia','ReqOffsetDistance'], AddTbl1NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "NozzleNo": $('td.NozzleNo input', this).val(),
                "ReqElevationFrom": $('td.ReqElevationFrom input', this).val(),
                "ActElevationFrom": $('td.ActElevationFrom input', this).val(),
                "ReqDegOrientation": $('td.ReqDegOrientation input', this).val(),
                "MainOrientation": $('td.MainOrientation input', this).val(),
                "ClockWiseOrientation": $('td.ClockWiseOrientation select', this).val(),
                "ReqArcLengthOrientation": $('td.ReqArcLengthOrientation input', this).val(),
                "ActArcLengthOrientation": $('td.ActArcLengthOrientation input', this).val(),
                "ReqCutOutDia": $('td.ReqCutOutDia input', this).val(),
                "ActCutOutDia": $('td.ActCutOutDia input', this).val(),
                "ReqOffsetDistance": $('td.ReqOffsetDistance input', this).val(),
                "ActOffsetDistance": $('td.ActOffsetDistance input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"NozzleNo\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" id=\"NozzleNo_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"NozzleNo_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" value=\"\" aria-invalid=\"false\" onblur=\"AddNextRow(this,'ReqCirAtTopSide',false,1,'hdGrid1LastRow','tblProtocolLines1','NozzleNo', ['NozzleNo', 'ReqElevationFrom', 'ReqDegOrientation', 'ReqCutOutDia','ReqOffsetDistance'],AddTbl1NewTrRow)\"></td>"
            + "<td class=\"ReqElevationFrom center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqElevationFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ReqElevationFrom_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" ></td>"
            + "<td class=\"ActElevationFrom center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActElevationFrom_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActElevationFrom_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ReqDegOrientation center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqDegOrientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ReqDegOrientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" ></td>"
            + "<td class=\"MainOrientation center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"MainOrientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"MainOrientation_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ClockWiseOrientation center \">" + GetColumnDropdownRender(lstClockWise, NewTrRowNum, "ClockWiseOrientation", "", null, "20", false, true, " width125px ", "PROD", 1, "islastrow") + "</td>"
            + "<td class=\"ReqArcLengthOrientation center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ReqArcLengthOrientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ReqArcLengthOrientation_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ActArcLengthOrientation center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActArcLengthOrientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActArcLengthOrientation_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ReqCutOutDia center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqCutOutDia_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ReqCutOutDia_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" ></td>"
            + "<td class=\"ActCutOutDia center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActCutOutDia_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActCutOutDia_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"ReqOffsetDistance center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqOffsetDistance_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ReqOffsetDistance_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','NozzleNo', ['NozzleNo', 'ReqElevationFrom', 'ReqDegOrientation', 'ReqCutOutDia','ReqOffsetDistance'],AddTbl1NewTrRow)\"></td>"
            + "<td class=\"ActOffsetDistance center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActOffsetDistance_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActOffsetDistance_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        return strhtml;
    }


    function funTop() {

        var cal = $("#ActCirAtTopSide").val();
        var n = cal / 4;
        $(".topCircumference").val(n);

    }

    function funBottom() {

        var cal = $("#ActCirAtBottomSide").val();
        var n = cal / 4;
        $(".bottomCircumference").val(n);

    }



</script>