﻿<style>
    .dateinline {
        display: inline-flex;
    }

    .clrgreen {
        background: #c9f9c9 !important;
    }

    .clrorange {
        background: #ffd1d1 !important;
    }

    .swidth20 {
        width: 200px !important;
    }

    .portlet.light > .portlet-title {
        padding: 0;
        min-height: 20px;
    }
    .pad1 {
        padding: 1px;
    }
</style>

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <div class="col-md-3">
            <label class="control-label">Project :</label>
            <label class="control-label" style="font-weight:600">@ViewBag.Project</label>
        </div>
        <div class="col-md-3">
            <label class="control-label">Zero Date :</label>
            <label class="control-label" style="font-weight:600">@ViewBag.Zero</label>
        </div>
        <div class="col-md-3">
            <label class="control-label">CDD :</label>
            <label class="control-label" style="font-weight:600">@ViewBag.CDD</label>
        </div>
        <div class="col-md-3" style="text-align:right">
            <a class="btn icons" title="View S-Curve " href="@ViewBag.SCUDashboardURL" target="_blank"><i class="fa fa-bar-chart"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile">S-Curve Project wise</span>
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/SCU/MaintainSCU/ProjectwiseGenerateExcel", dvId = "#dvExportHeader" })
                </div>
            </div>
            <input type="hidden" name="headerid" id="headerid" value="@ViewBag.headerid" />
            <div class="portlet-body">


                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail", @class = "form-horizontal" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblsculist" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th>Project</th>
                                <th>Zero <br /> Date</th>
                                <th>CDD</th>
                                <th>Phase</th>
                                <th>Document Number</th>
                                <th class="swidth20">Document Description</th>
                                <th>Days</th>
                                <th>Planned <br /> Quantity</th>
                                <th>Actual <br /> Quantity</th>
                                <th>Hours Per <br /> Document</th>
                                <th>Total <br /> Hours</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<script>

    var isrelease = '@ViewBag.isrelease.ToString().ToLower()' == "true" ? true : false;
    var isissue = '@ViewBag.isissue.ToString().ToLower()' == "true" ? true : false;

    $.extend($.fn.autoNumeric.defaults, { aSep: '', aDec: '.' });
    var table;
    var tblsculist = 'tblsculist';
    var days = 0;
    var Params = undefined;
    $(document).ready(function () {

        GenerateTableWithUtility();

        $('#frmDetail').validate({
            rules: {
                Phase0: { required: true, },
                DoumentNo0: { required: true, },
                DoumentDesc0: { required: true, },
                Days0: { required: true, },
                PlannedQty0: { required: true, },
                ActualQty0: { required: true, },
                HrsPerDoc0: { required: true, },
            },
            messages: {
                Phase0: { required: "Phase is required." },
                DoumentNo0: { required: "DoumentNo is required." },
                DoumentDesc0: { required: "DoumentDesc is required." },
                Days0: { required: "Days is required." },
                PlannedQty0: { required: "PlannedQty is required." },
                ActualQty0: { required: "ActualQty is required." },
                HrsPerDoc0: { required: "HrsPerDoc is required." },
            }
        });

    });

    function GenerateTableWithUtility() {
        Params = {
            sUrl: "/SCU/MaintainSCU/ProjectwiseLoadDataGridData",
            aoColumns: [
                            { "bSortable": "false", "sClass": "hide", "name": "Id" },
                            { "sClass": "center hide", "name": "Project" },
                            { "sClass": "center hide", "name": "ZeroDate" },
                            { "sClass": "center hide", "name": "CDD" },
                            { "sClass": "center", "name": "Phase" },
                            { "sClass": "center", "name": "DoumentNo" },
                            { "sClass": "center swidth20", "name": "DoumentDesc" },
                            { "sClass": "center", "name": "Days" },
                            { "sClass": "center ", "name": "PlannedQty" },
                            { "sClass": "center", "name": "ActuQTY" },
                            { "sClass": "center", "name": "HrsPerDoc" },
                            { "sClass": "center", "name": "TotalHrs" },
                            { "sClass": "center SRE_disabled " + (isrelease ? "hide" : ""), "bSortable": false }
            ]
        };

        Params.bIsSearchFilter = true;
        Params.bIsResponsive = false,
        Params.bIsLazyLoading = false;
        Params.bBtnMaximize= false;
        //Params.bIsFixedColumn= true;
        Params.sBtnDivSelector = "#dvExportHeader";
        Params.aServerParams = [{ "name": "Headerid", "value": '@ViewBag.headerid' }, { "name": "Flag", "value": isrelease }, { "name": "IssueNo", "value": '@ViewBag.IssueNo' }]
        Params.oSRE = { sUrl: "/SCU/MaintainSCU/ProjectwiseGetInlineEditableRow?hid=@ViewBag.headerid&isrelease=" + isrelease + "&isissue=" + isissue, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, bIsUpdateFromServer: true, bIsAddBtnNew: (isrelease ? false : true) };
        //Params.bBtnColVis =  true;
        //Params.bIsFixedHeader =  true;
        //Params.iScrollY = 480;
        //Params.iResponsiveOnWindowWidth = 800;

        //Params.iFCLeft=2;
        //Params.iFCRight=1;
        //Params.fnCreateRow = function(row, data, dataIndex){
        //    setTimeout(function () {
        //        $('#'+tblsculist+ " tbody tr:eq(0) > td").each(function(idx,td) {
        //            if(Params.iFCLeft > idx)
        //                $('#'+tblsculist+"_scrollHeadInner thead tr:eq(1) > th:eq("+idx+")").css("min-width",$(td).width());
        //        });
        //    },2000)
        //},
        //Params.bScrollX = true;
        Params.bIsWrapHeader = false;
        //Params.bIsWrap= true;

        $('#' + tblsculist).dtUtility(Params);
    }

    function CallAfterLoadSRE(id) {

        $('.numeric3').autoNumeric('init', { vMin: '0', vMax: "999", aForm: "false" });

        //$('#'+tblsculist+'_wrapper').delegate(".autocomplete", "focusin", function () {
        //    var element = $(this);
        //    var hdElement = $(this).attr("hdElement");

        //    if ($(this).attr("colname") == "Project") {
        //        var Customer = $(this).closest("tr").find('.Customer');
        //        SetProjectAutoComplete(element, hdElement,Customer)
        //    }
        //    else if ($(this).attr("colname") == "ActivityDescription") {
        //        var Press = $(this).closest("tr").find('.Press');
        //        var TASKUNIQUEID = $(this).closest("tr").find('.TASKUNIQUEID');
        //        var totalduration = $(this).closest("tr").find('.TotalDurationInDays');
        //        var PressingDurationInDays = $(this).closest("tr").find('.PressingDurationInDays');
        //        var ConcertoStartDate = $(this).closest("tr").find('.ConcertoStartDate');
        //        SetTaskDescriptionAutoComplete(element, hdElement,Press,TASKUNIQUEID,totalduration,PressingDurationInDays,ConcertoStartDate,id)
        //    }
        //    else if ($(this).attr("colname") == "MaterialAvailability" || $(this).attr("colname") == "DiePunchAvailability" || $(this).attr("colname") == "TemplateAvailability" ) {
        //        FillAutoCompleteWithArray(element, lstyesno)
        //    }
        //    else if ($(this).attr("colname") == "HTRAvailability" || $(this).attr("colname") == "LockingCleatAvailability" || $(this).attr("colname") == "FixtureCleatAvailability" ) {
        //        FillAutoCompleteWithArray(element, lstyesnona)
        //    }
        //    else if ($(this).attr("colname") == "PlateCutting" || $(this).attr("colname") == "Pressing" || $(this).attr("colname") == "HT" || $(this).attr("colname") == "RePressing" || $(this).attr("colname") == "Setup" || $(this).attr("colname") == "Inspection" || $(this).attr("colname") == "DISP" ) {
        //        FillAutoCompleteWithArray(element, lstyesnoip)
        //    }
        //});

        //$('#'+tblsculist+'_wrapper').delegate(".autocomplete:not(*[colname='PlannedReceipt'])", "focusout", function () {
        //    var hdElement = $(this).attr("spara");
        //    if(parseInt(hdElement)>0){
        //        UpdateData(this, hdElement,true)
        //    }
        //});

        $("input").change(function () {
            var objColumn = $(this);
            var id = $(objColumn).attr("spara");
            if ($(objColumn).attr("colname") == "PlannedQty") {
                var ischeck = true;
                ischeck = ischeckqty(id, ischeck);
                if (ischeck) {
                    getTotalHrs(id);
                }
            }
            else if ($(objColumn).attr("colname") == "ActualQty") {
                ischeckqty(id, true);
            }
            else if ($(objColumn).attr("colname") == "HrsPerDoc") {
                getTotalHrs(id)
            }
        });

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });
        $(".decimal").autoNumeric('init', { aSep: '', aPad: false });

    }

    function ischeckqty(id, ischeck) {
        var PlannedQty = $("#PlannedQty" + id).val();
        var HrsPerDoc = $("#ActualQty" + id).val();

        var pqty = parseInt(PlannedQty);
        var aqty = parseInt(HrsPerDoc);
        if (aqty > pqty) {
            DisplayNotiMessage("info", " You can not set Actual Quantity more than Planned Quantity", "Info");
            ischeck = false;
        }
        return ischeck;
    }


    function getTotalHrs(id) {
        var PlannedQty = $("#PlannedQty" + id).val();
        var HrsPerDoc = $("#HrsPerDoc" + id).val();
        $("#TotalHrs" + id).val(PlannedQty * HrsPerDoc);
    }

    function ReloadGrid() {
        $("#btnNew_" + tblsculist).click()
        SREresetRowAll(tblsculist);
    }

    function Delete(Id) {
        bootbox.dialog({
            message: "Are you sure you want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/SCU/MaintainSCU/Delete",
                            type: "POST",
                            data: { HeaderId: Id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key != true) {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $('#' + tblsculist).DataTable().ajax.reload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
        });
    }

    function UndoLine(Id, sId) {
        bootbox.dialog({
            message: "Are you sure you want to Undo?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + "/SCU/MaintainSCU/Undo",
                            type: "POST",
                            data: { HeaderId: Id, SId: sId },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key != true) {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                SREresetRowAll(tblsculist);
                                //$('#' + tblsculist).DataTable().ajax.reload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
        });
    }

    function UpdateData(objColumn, rowID, isValid) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            var elem = $(objColumn).attr("hdElement");
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }

        var id = $(objColumn).attr("spara");
        switch (columnName.toLowerCase()) {
            case "Phase":
                rowID = $(objColumn).attr("spara");
                if (rowID > 0) {
                    checkvalid(isValid, columnName, columnValue, rowID);
                    return false;
                }
            case "days":
                rowID = $(objColumn).attr("spara");
                if (rowID > 0) {
                    checkvalid(isValid, columnName, columnValue, rowID);
                    return false;
                }
            case "plannedqty":
                rowID = $(objColumn).attr("spara");
                if (rowID > 0) {
                    checkvalidPQTY(isValid, columnName, columnValue, rowID);
                    return false;
                }
            case "actualqty":
                rowID = $(objColumn).attr("spara");
                if (rowID > 0) {
                    checkvalidAQTY(isValid, columnName, columnValue, rowID);
                    return false;
                }
            case "hrsperdoc":
                rowID = $(objColumn).attr("spara");
                if (rowID > 0) {
                    checkvalid(isValid, columnName, columnValue, rowID);
                    return false;
                }
            default:
                if (isValid && columnValue == "") {
                    DisplayNotiMessage("info", columnName + " is required", "Info");
                    return false;
                }
                else {
                    updateValidData(columnName, columnValue, rowID)
                }
                break;
        }
    }

    function checkvalidPQTY(isValid, columnName, columnValue, rowID) {
        var qty = parseInt(columnValue);
        if (qty > 0) {
            if (isValid && columnValue == "") {
                DisplayNotiMessage("info", columnName + " is required", "Info");
            }
            else {
                debugger;
                var isvalid = false;
                isvalid = isvalidpqty(rowID, columnValue, isvalid);
                if (isvalid) {
                    updateValidData(columnName, columnValue, rowID)
                    SREresetRowAll(tblsculist);
                    //$('#' + tblsculist).DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("info", " You can not set Planned Quantity more than Actual Quantity ", "Info");
                }
            }
        }
        else {
            DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
        }
    }

    function isvalidpqty(rowID, columnValue, isvalid) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SCU/MaintainSCU/ChkValidPlannedQTY",
            datatype: 'json',
            async: false,
            data: { id: rowID, columnValue: columnValue },
            success: function (result) {
                isvalid = result.Key;
            },
            error: function () {
                isvalid = false;
            }
        });

        return isvalid;
    }

    function checkvalidAQTY(isValid, columnName, columnValue, rowID) {

        var qty = parseInt(columnValue);
        var actqtyy = $("#ActQTY" + rowID).val();
        var actqty = parseInt(actqtyy);
        var actuqtyy = $("#ActuQTY" + rowID).val();
        var actuqty = parseInt(actqtyy);

        if (qty > 0) {
            if (isValid && columnValue == "") {
                DisplayNotiMessage("info", columnName + " is required", "Info");
            }
            else if (actqty >= qty) {
                updateValidData(columnName, columnValue, rowID, actuqtyy)
                SREresetRowAll(tblsculist);
                //$('#' + tblsculist).DataTable().ajax.reload();
            }
            else {
                DisplayNotiMessage("info", " You can not set Actual Quantity more than Planned Quantity ", "Info");
            }
        }
        else {
            DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
        }
    }

    function checkvalid(isValid, columnName, columnValue, rowID) {
        var days = parseInt(columnValue);
        if (days > 0) {
            if (isValid && columnValue == "") {
                DisplayNotiMessage("info", columnName + " is required", "Info");
            }
            else {
                updateValidData(columnName, columnValue, rowID)
            }
        }
        else {
            DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
        }
    }

    function ischeckvalid(ischeck, columnName, columnValue) {

        switch (columnName.toLowerCase()) {

            case "plannedqty":
                var value = parseInt(columnValue);
                if (!(value > 0)) {
                    DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
                    ischeck = false;
                }
                else {
                    ischeck = ischeckqty(0, ischeck);
                }
            case "actualqty":
                var value = parseInt(columnValue);
                if (!(value > 0)) {
                    DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
                    ischeck = false;
                }
                else {
                    ischeck = ischeckqty(0, ischeck);
                }
            default:
                var value = parseInt(columnValue);
                if (!(value > 0)) {
                    DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
                    ischeck = false;
                }
                break;
        }

        //var value = parseInt(columnValue);
        //if (!(value > 0)) {
        //    DisplayNotiMessage("info", columnName + " must be greater than 0 ", "Info");
        //    ischeck = false;
        //}
        return ischeck;
    }

    function updateValidData(columnName, columnValue, rowID, actqty) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SCU/MaintainSCU/EditDetails",
            datatype: 'json',
            async: false,
            data: { id: rowID, columnName: columnName, columnValue: columnValue, actqty: actqty },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.", "Error");
            }
        });
    }

    function ProjectSavedata() {
        if ($("#frmDetail").valid()) {
            if (ischeck()) {
                $('#' + tblsculist + '_wrapper').find("thead:eq(1) .dataTables_sizing").html('')

                var formData = new FormData();
                var frmValues = $('#frmDetail').serializeArray();

                $.each(frmValues, function (key, input) {
                    formData.append(input.name, input.value);
                });
                formData.append("headerid", $("#headerid").val());
                $('#' + tblsculist).DataTable().columns.adjust();

                $.ajax({
                    url: WebsiteURL + '/SCU/MaintainSCU/SaveRecord',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $("#btnNew_" + tblsculist).click()
                            $('#' + tblsculist).DataTable().ajax.reload();
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                });
            }
        }
        else {
            HighlightInValidControls();
            return;
        }
    }

    function ischeck() {
        var ischeck = true;
        ischeck = ischeckvalid(ischeck, 'HrsPerDoc', $("#HrsPerDoc0").val());
        ischeck = ischeckvalid(ischeck, 'ActualQty', $("#ActualQty0").val());
        ischeck = ischeckvalid(ischeck, 'PlannedQty', $("#PlannedQty0").val());
        ischeck = ischeckvalid(ischeck, 'Days', $("#Days0").val());
        ischeck = ischeckvalid(ischeck, 'Phase', $("#Phase0").val());
        return ischeck;
    }

</script>
