﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Dimension Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .multiselect {
        /*width: 355px;*/
        text-align: left;
    }

    .multiselect-container {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: auto;
    }

    .checkbox, .form-horizontal .checkbox {
        padding: 0px 31px;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                @Html.Raw((String)ViewBag.Title)
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row" style="min-height:500px">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <a class="btn green form-control" href="@(Url.Action("Shell_Shrinkage_Data","DimensionTracker"))" id="btnShell_Shrinkage_Data" name="btnDimensionTracker" reporttype="@clsImplementationEnum.PDIN_DimensionTrackerData.Shell_Shrinkage_Data.GetStringValue()" popuptitle="Shell Shrinkage Data">Shell Shrinkage Data</a>
                            </div>
                            <div class="col-md-3">
                                <a class="btn blue form-control" href="@(Url.Action("Head_Shrinkage_Data","DimensionTracker"))" id="btnHead_Shrinkage_Data" name="btnDimensionTracker" reporttype="@clsImplementationEnum.PDIN_DimensionTrackerData.Head_Shrinkage_Data.GetStringValue()" popuptitle="Head Shrinkage Data">Head Shrinkage Data</a>
                            </div>
                            <div class="col-md-3">
                                <a class="btn purple form-control" href="@(Url.Action("Shell_Ovality_Data","DimensionTracker"))" id="btnShell_Ovality_Data" name="btnDimensionTracker" reporttype="@clsImplementationEnum.PDIN_DimensionTrackerData.Shell_Ovality_Data.GetStringValue()" popuptitle="Shell Ovality Data">Shell Ovality Data</a>
                            </div>
                            <div class="col-md-3">
                                <a class="btn red form-control" href="@(Url.Action("Shell_Length_Data","DimensionTracker"))" id="btnShell_Length_Data" name="btnDimensionTracker" reporttype="@clsImplementationEnum.PDIN_DimensionTrackerData.Shell_Length_Data.GetStringValue()" popuptitle="Shell Length Data">Shell Length Data</a>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <a class="btn yellow form-control" href="@(Url.Action("Nozzle_Elevation_Data","DimensionTracker"))" id="btnNozzle_Elevation_Data" name="btnDimensionTracker" reporttype="@clsImplementationEnum.PDIN_DimensionTrackerData.Nozzle_Elevation_Data.GetStringValue()" popuptitle="Nozzle Elevation Data">Nozzle Elevation Data</a>
                            </div>
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
