﻿@using IEMQSImplementation

<div class="row">
    <div class="col-lg-12" style="text-align:right;margin-bottom:2px;">
        <form id="uploadForm" enctype="multipart/form-data" style="display:none;">
            <input type="file" class="btn green" id="upload" name="upload" />
            <input type="button" id="btnUpload" name="btnUpload" class="btn blue" value="Upload" />
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Auto Billing Master
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="btn-group">
                        <a href="#" class="btn btn-circle white btn-outline btn-sm" id="btnImportExcel" style="margin-left:5px;margin-right:10px;display:none">
                            <i class="fa fa-file-excel-o"></i> Import
                        </a>
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ABL/MaintainMaster/GenerateExcel", GridType = "", dvId = "#dvExportHeader" })
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblNDEMaster" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="width:5%;">#</th>
                                <th class="sorting" style="color:red;">Id</th>
                                <th>NDE Type<span class="required" style="color:red;"> * </span></th>
                                <th>NDE SubCategory<span class="required" style="color:red;"> * </span></th>
                                <th>NDE Range <span class="required" style="color:red;"> * </span></th>
                                <th>Vendor<span class="required" style="color:red;"> * </span></th>
                                <th>PO No.<span class="required" style="color:red;"> * </span></th>
                                <th>PO Line <span class="required" style="color:red;"> * </span></th>
                                <th>Unit Rate(INR)<span class="required" style="color:red;"> * </span></th>
                                <th style="display:none;">Created By</th>
                                <th style="display:none;">Created On</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityParams = undefined;
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });

        $('#frmDetail').validate({
            rules: {
                txtNDEType0: {
                    required: true,
                },
                txtNDELength0: {
                    required: true,
                },
                txtVendor0: {
                    required: true,
                },
                txtPONo0: {
                    required: true,
                },
                txtPOLine0: {
                    required: true,
                },
                txtUnitRate0: {
                    required: true,
                },
            },
            messages: {
                txtNDEType0: {
                    required: "NDEType is required",
                },
                txtNDELength0: {
                    required: "NDELength is required",
                },
                txtVendor0: {
                    required: "Vendor Type is required",
                },
                txtPONo0: {
                    required: "PONo is required",
                },
                txtPOLine0: {
                    required: "PO Line is required",
                },
                txtUnitRate0: {
                    required: "Unit Rate is required",
                },
            }
        });

        UtilityParams = {
            sUrl: "/ABL/MaintainMaster/GetIndexGridData",
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            iFCLeft: 1,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "name": "Id",
                },
                {
                    "sClass": "center",
                    "name": "NDEType",
                    "bSortable":true,
                    "placeholder":"Select"
                },
                 {
                    "sClass": "center",
                    "name": "SubCategory",
                    "bSortable":true,
                    "placeholder":"Select"
                },
                {
                    "sClass": "center",
                    "name": "NDELength",
                    "bSortable": true,
                    "placeholder": "Select"
                },
                {
                    "sClass": "center",
                    "name": "Vendor",
                    "bSortable": true,
                    "placeholder": "Select"
                },
                {
                    "sClass": "center",
                    "name": "PONo",
                    "bSortable": true,
                    "placeholder": "Select"
                },
                {
                    "sClass": "center",
                    "name": "POLine",
                    "bSortable": true,
                    "placeholder": "Select"
                },
                {
                    "sClass": "center",
                    "name": "UnitRate",
                },
                {
                    "sClass": "hide",
                    "name": "CreatedBy",
                },
                {
                    "sClass": "hide",
                    "name": "CreatedOn",
                    "attr": "date"
                },
                {
                    "sClass": "clsnowrap",
                    "name": "Action",
                    "attr": "none",
                    "bSortable": false,
                },
            ]
        };

        UtilityParams.oSRE = { sUrl: "/ABL/MaintainMaster/GetInlineEditableRow", iRowIDAt: 1, sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, sEditTriggerClass: 'fa-pencil-square-o', bIsUpdateFromServer: true };

        $('#tblNDEMaster').dtUtility(UtilityParams);
        //btnImportExcel
        
        var lstNDEType = @Html.Raw(Json.Encode(ViewBag.NDETypeList));
        @*var lstNDELength = @Html.Raw(Json.Encode(ViewBag.NDELengthList));
        var lstVendor = @Html.Raw(Json.Encode(ViewBag.VendorList));
        var lstPONo = @Html.Raw(Json.Encode(ViewBag.PONoList));
        var lstPOLine = @Html.Raw(Json.Encode(ViewBag.POLineList));*@
        var lstUnitRate = @Html.Raw(Json.Encode(ViewBag.UnitRateList));

      
        //$("#txtNDESubCategory0").autocomplete({
           
        //    source: function (request, response) {
        //        alert("2");
        //        
        //        if ($("#txtNDEType").val() != null) {
        //            $.ajax({
        //                url: WebsiteURL + "/ABL/MaintainMaster/GetSubCategoryResult",
        //                dataType: "json",
        //                type: "POST",
        //                delay: 250,
        //                async: false,
        //                data: {
        //                    term: $("#txtNDEType").val(),
        //                },
        //                success: function (data) {
        //                    response($.map(data, function (item) {
        //                        return { label: item.text, value: item.id };
        //                    }));
        //                }
        //            });
        //        }
        //        else {
        //            DisplayNotiMessage("error", "Please Select NDE Type", "Error");
        //        }

        //    },
        //    minLength: 0,
        //    autoFocus: true,
        //    select: function (event, ui) {
        //        if (ui.item) {
        //            isSelected = true;
        //            $("#txtPOLine").val(ui.item.label);
        //            $("#POLine").val(ui.item.value);
        //        }

        //    },
        //}).on('focus', function (event) {
        //    var self = this;
        //    $(self).autocomplete("search", this.value);
        //});

        $('#tblNDEMaster_wrapper').delegate(".autocomplete", "focusin", function () {
         
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            var poNo;

            if ($(this).attr("colname") == "txtNDEType") {
                FillAutoComplete(element, lstNDEType, $("#" + hdElement));
            }
            if ($(this).attr("colname") == "txtNDESubCategory") {
                FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetSubCategoryResult", $("#" + hdElement))
            }
            if ($(this).attr("colname") == "txtNDELength") {
                FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetLengthResult", $("#" + hdElement))
            }
            if ($(this).attr("colname") == "txtVendor") {
                FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetVendorResult", $("#" + hdElement))
            }
            if ($(this).attr("colname") == "txtPONo") {
                FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetPOResult", $("#" + hdElement))

            }
            //if ($(this).attr("colname") == "txtPOLine") {
            //    FillAutoCompleteUsingAjax(element, "/ABL/MaintainMaster/GetPOLineResult?txtPONo=" + $(txtPONo0).val(), $("#" + hdElement))
            //}
    });
   

        

        $('#tblNDEMaster_wrapper').delegate(".autocomplete", "focusout", function () {
            
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            var poNo;
            if ($(this).attr("colname") == "txtPONo") {
                poNo = $(this).val();
            }
        });
        $("#").click(function () {
            $("#btnImportExcel").attr("disabled", "disabled");
            $("#uploadForm").css("display", "inline-flex");
        });



        $('#btnUpload').click(function () {
            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                url: WebsiteURL + '/ABL/MaintainMaster/ReadExcelFile',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data != null) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $("#upload").val('');
                            UtilityParams.dtReload();
                        }
                        else {
                            $("#upload").val('');
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                    $("#uploadForm").css("display", "none");
                    $("#btnImportExcel").removeAttr("disabled");

                }
            });
        });

       
        //FillAutoComplete($("#txtNDEType"), lstNDEType);
        //FillAutoComplete($("#txtNDEType"), lstNDEType, $("#NDEType"));
    });

    function CallAfterLoadSRE(id) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + id).click();
        $('*[colname=txtRate]').autoNumeric('init', {  aPad: "fase", vMin: "0",vMax:"999999999", aForm: "false" });
    }

    function SaveNewRecord() {
        if (LineValidation(0)) {
            $('#Add0').css('color','unset');
            $('#tblNDEMaster_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            SaveData(0);
        }
        else {
            HighlightInValidControls();
            $('#Add0').css('color','red');
            return false;
        }
    }

    function EnabledEditLine(lineId) {
        $("#Edit"+lineId).css('display', 'none');
        $("#Delete"+lineId).css('display', 'none');
        $("#Update"+lineId).css('display', 'inline-block');
        $("#Cancel"+lineId).css('display', 'inline-block');
    }

    function CancelEditLine(lineId) {
        SREresetRowAll('tblNDEMaster');
    }

    function EditLine(lineId) {
        if (LineValidation(lineId)) {
            if ($("#frmDetail").valid()) {
                $('#tblNDEMaster_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
                SaveData(lineId);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    }

    function LineValidation(lineid) {
        var errorMsg = "";
        var NDEType = $("#txtNDEType"+lineid).val();
        var NDELength = $("#txtNDELength"+lineid).val();
        var Vendor = $("#txtVendor"+lineid).val();
        var PONo = $("#txtPONo"+lineid).val();
        var POLine = $("#POLine"+lineid).val();
        var UnitRate = $("#txtUnitRate"+lineid).val();

        if (NDEType == "" || NDEType == null) {
            $("#txtNDEType"+lineid).attr("required", "required");
        }
        if (NDELength == "" || NDELength == null) {
            $("#txtNDELength"+lineid).attr("required", "required");
        }
        if (Vendor == "" || Vendor == null) {
            $("#txtVendor"+lineid).attr("required", "required");
        }
        if (PONo == "" || PONo == null) {
            $("#txtPONo"+lineid).attr("required", "required");
        }
        if (POLine == "" || POLine == null) {
            $("#txtPOLine"+lineid).attr("required", "required");
        }
        if (UnitRate == "" || UnitRate == null) {
            $("#txtUnitRate"+lineid).attr("required", "required");
        }

        if (!$("#frmDetail").valid()) {
            HighlightInValidControls();
            $('#Update'+lineid).css('color','red');
            return false;
        }
        else{
            $('#Update'+lineid).css('color','unset');
            return true;
        }
    }

    function SaveData(id) {

        var formData = new FormData();
        var frmValues = $('#frmDetail').serializeArray();
       
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });
        $.ajax({
            url: WebsiteURL +'/ABL/MaintainMaster/SaveData?id='+id,
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    UtilityParams.dtReload();
                    DisplayNotiMessage("success", data.Value, "Success");
                    if ($('#btnNew_tblNDEMaster').html() == '<i class="fa fa-times"></i> Cancel')
                        $('#btnNew_tblNDEMaster').click();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    $('#tblNDEMaster').DataTable().columns.adjust();
                }
            }
        });
    }

    function DeleteLine(Id) {
        bootbox.dialog({
            message: "Do you want to delete ? ",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL +"/ABL/MaintainMaster/DeleteData",
                            type: "POST",
                            data: { Id: Id },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key == true) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                UtilityParams.dtReload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove()
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }


    $("#txtNDESubCategory").autocomplete({
        source: function (request, response) {
           
            if ($("#txtNDEType").val() != null) {
                $.ajax({
                    url: WebsiteURL + "/ABL/MaintainMaster/GetSubCategoryResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: $("#txtNDEType").val(),
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.id };
                        }));
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please Select NDE Type", "Error");
            }

        },
        minLength: 0,
        autoFocus: true,
        select: function (event, ui) {
            if (ui.item) {
                isSelected = true;
                $("#txtPOLine").val(ui.item.label);
                $("#POLine").val(ui.item.value);
            }

        },
    }).on('focus', function (event) {
        var self = this;
        $(self).autocomplete("search", this.value);
    });
</script>

