﻿@using IEMQSImplementation
@model PCL004


<script>
    $(document).ready(function () {
        if ('@ViewBag.Action'.toLowerCase() == "edit") {

        }
        var strHeader = '@ViewBag.HeaderId';
        $("#txtScopeOfWorkHeader").val(strHeader);

        $("#btnSaveScopeOfWork").click(function () {
            if ($("#frmScopeOfWork").valid()) {
                var frmSaveScopeOfWork = $("#frmScopeOfWork").serializeArray();
                SaveScopeOfWork(frmSaveScopeOfWork, status);
            }
        });
    });

    function SaveScopeOfWork(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: "/PLC/MaintainCheckList/SaveScopeOfWork",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtScopeOfWork").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtScopeOfWorkHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    GetPLCCheckListFormHTML($("#txtScopeOfWorkHeader").val());
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmScopeOfWork", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { id = "txtScopeOfWorkHeader" })
            @Html.HiddenFor(m => m.LineId, new { id = "txtScopeOfWork" })
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Scope Of Work
                    </div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_3" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all">Sr.No</th>
                                <th class="min-phone-l"> Description</th>
                                <th class="min-phone-l">Not Reqd. for Project</th>
                                <th class="min-tablet">Shop</th>
                                <th class="min-phone-l">M/C Shop</th>
                                <th class="min-phone-l">LEMF</th>
                                <th class="min-phone-l">RNW</th>
                                <th class="min-phone-l">Out Side</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="all">1</td>
                                <td class="min-phone-l"> Equipment</td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="EquipmentNotReq">
                                        @Html.CheckBox("EquipmentNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="EquipmentShop">
                                        @Html.CheckBox("EquipmentShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="EquipmentMC">
                                        @Html.CheckBox("EquipmentMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="EquipmentLEMF">
                                        @Html.CheckBox("EquipmentLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="EquipmentRNW">
                                        @Html.CheckBox("EquipmentRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="EquipmentOutside">
                                        @Html.CheckBox("EquipmentOutside", new{})
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="all">2</td>
                                <td class="min-phone-l"> D’end Forming </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndFormingNotReq">
                                        @Html.CheckBox("DEndFormingNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndFormingShop">
                                        @Html.CheckBox("DEndFormingShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndFormingMC">
                                        @Html.CheckBox("DEndFormingMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndFormingLEMF">
                                        @Html.CheckBox("DEndFormingLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndFormingRNW">
                                        @Html.CheckBox("DEndFormingRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndFormingOutside">
                                        @Html.CheckBox("DEndFormingOutside", new{})
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="all">3</td>
                                <td class="min-phone-l"> D’end Setup </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndSetupNotReq">
                                        @Html.CheckBox("DEndSetupNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndSetupShop">
                                        @Html.CheckBox("DEndSetupShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndSetupMC">
                                        @Html.CheckBox("DEndSetupMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndSetupLEMF">
                                        @Html.CheckBox("DEndSetupLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndSetupRNW">
                                        @Html.CheckBox("DEndSetupRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndSetupOutside">
                                        @Html.CheckBox("DEndSetupOutside", new{})
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="all">4</td>
                                <td class="min-phone-l"> D’end Welding </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingNotReq">
                                        @Html.CheckBox("DEndWeldingNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingShop">
                                        @Html.CheckBox("DEndWeldingShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingMC">
                                        @Html.CheckBox("DEndWeldingMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingLEMF">
                                        @Html.CheckBox("DEndWeldingLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingRNW">
                                        @Html.CheckBox("DEndWeldingRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingOutside">
                                        @Html.CheckBox("DEndWeldingOutside", new{})
                                        <span></span>
                                    </label>
                                </td>

                            </tr>
                            <tr>
                                <td class="all">5</td>
                                <td class="min-phone-l"> Skirt</td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtNotReq">
                                        @Html.CheckBox("SkirtNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtShop">
                                        @Html.CheckBox("SkirtShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtMC">
                                        @Html.CheckBox("SkirtMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtLEMF">
                                        @Html.CheckBox("SkirtLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtRNW">
                                        @Html.CheckBox("SkirtRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="SkirtOutside">
                                        @Html.CheckBox("SkirtOutside", new{})
                                        <span></span>
                                    </label>
                                </td>

                            </tr>
                            <tr>
                                <td class="all">6</td>
                                <td class="min-phone-l"> Y-Ring Machining </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningNotReq">
                                        @Html.CheckBox("YRingMachiningNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningShop">
                                        @Html.CheckBox("YRingMachiningShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningMC">
                                        @Html.CheckBox("YRingMachiningMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningLEMF">
                                        @Html.CheckBox("YRingMachiningLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningRNW">
                                        @Html.CheckBox("YRingMachiningRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningOutside">
                                        @Html.CheckBox("YRingMachiningOutside", new{})
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="all">7</td>
                                <td class="min-phone-l"> Nozzle initial Machining </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningNotReq"> @Html.CheckBox("NozMachiningNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningShop"> @Html.CheckBox("NozMachiningShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningLEMF"> @Html.CheckBox("NozMachiningLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningMC"> @Html.CheckBox("NozMachiningMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningRNW"> @Html.CheckBox("NozMachiningRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningOutside"> @Html.CheckBox("NozMachiningOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">8</td>
                                <td class="min-phone-l"> Nozzle Overlay  </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozOverlayNotReq">
                                        @Html.CheckBox("NozOverlayNotReq", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozOverlayMC">
                                        @Html.CheckBox("NozOverlayMC", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozOverlayShop">
                                        @Html.CheckBox("NozOverlayShop", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozOverlayLEMF">
                                        @Html.CheckBox("NozOverlayLEMF", new{})
                                        <span></span>
                                    </label>
                                </td>

                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozMachiningRNW">
                                        @Html.CheckBox("NozOverlayRNW", new{})
                                        <span></span>
                                    </label>
                                </td>
                                <td class="min-phone-l">
                                    <label class="mt-checkbox mt-checkbox-outline" for="NozMachiningOutside">
                                        @Html.CheckBox("NozOverlayOutside", new{})
                                        <span></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="all">9</td>
                                <td class="min-phone-l"> Manway Overlay </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayNotReq"> @Html.CheckBox("ManOverlayNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayShop"> @Html.CheckBox("ManOverlayShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayMC"> @Html.CheckBox("ManOverlayMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayLEMF"> @Html.CheckBox("ManOverlayLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayRNW"> @Html.CheckBox("ManOverlayRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayOutside"> @Html.CheckBox("ManOverlayOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">10</td>
                                <td class="min-phone-l"> Nozzle Final Machining  </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningNotReq"> @Html.CheckBox("NozFinMachiningNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningShop"> @Html.CheckBox("NozFinMachiningShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningMC"> @Html.CheckBox("NozFinMachiningMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningLEMF"> @Html.CheckBox("NozFinMachiningLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningRNW"> @Html.CheckBox("NozFinMachiningRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningOutside"> @Html.CheckBox("NozFinMachiningOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>

                                <td class="all">11</td>
                                <td class="min-phone-l"> Nozzle Cutout WEP               </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPNotReq"> @Html.CheckBox("NozWEPNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPShop"> @Html.CheckBox("NozWEPShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPMC"> @Html.CheckBox("NozWEPMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPLEMF"> @Html.CheckBox("NozWEPLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPRNW"> @Html.CheckBox("NozWEPRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPOutside"> @Html.CheckBox("NozWEPOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">12</td>
                                <td class="min-phone-l"> Long seam WEP for Shell         </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPNotReq"> @Html.CheckBox("LongWEPNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPShop"> @Html.CheckBox("LongWEPShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPMC"> @Html.CheckBox("LongWEPMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPLEMF"> @Html.CheckBox("LongWEPLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPRNW"> @Html.CheckBox("LongWEPRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPOutside"> @Html.CheckBox("LongWEPOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">13</td>
                                <td class="min-phone-l"> Circ Seam WEP for Shell         </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPNotReq"> @Html.CheckBox("CircWEPNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPShop"> @Html.CheckBox("CircWEPShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPMC"> @Html.CheckBox("CircWEPMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPLEMF"> @Html.CheckBox("CircWEPLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPRNW"> @Html.CheckBox("CircWEPRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPOutside"> @Html.CheckBox("CircWEPOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">14</td>
                                <td class="min-phone-l"> Lifting Cover Machining         </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningNotReq"> @Html.CheckBox("LiftMachiningNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningShop"> @Html.CheckBox("LiftMachiningShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningMC"> @Html.CheckBox("LiftMachiningMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningLEMF"> @Html.CheckBox("LiftMachiningLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningRNW"> @Html.CheckBox("LiftMachiningRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningOutside"> @Html.CheckBox("LiftMachiningOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">15</td>

                                <td class="min-phone-l"> Lifting Cover Fabrication       </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationNotReq"> @Html.CheckBox("LiftFabricationNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationShop"> @Html.CheckBox("LiftFabricationShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationMC"> @Html.CheckBox("LiftFabricationMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationLEMF"> @Html.CheckBox("LiftFabricationLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationRNW"> @Html.CheckBox("LiftFabricationRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationOutside"> @Html.CheckBox("LiftFabricationOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">16</td>
                                <td class="min-phone-l"> Weldable External Fabrication   </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabNotReq"> @Html.CheckBox("WeldExFabNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabShop"> @Html.CheckBox("WeldExFabShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabMC"> @Html.CheckBox("WeldExFabMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabLEMF"> @Html.CheckBox("WeldExFabLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabRNW"> @Html.CheckBox("WeldExFabRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabOutside"> @Html.CheckBox("WeldExFabOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">17</td>
                                <td class="min-phone-l"> Weldable Internal Fabrication   </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabNotReq"> @Html.CheckBox("WeldInFabNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabShop"> @Html.CheckBox("WeldInFabShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabMC"> @Html.CheckBox("WeldInFabMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabLEMF"> @Html.CheckBox("WeldInFabLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabRNW"> @Html.CheckBox("WeldInFabRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabOutside"> @Html.CheckBox("WeldInFabOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">18</td>
                                <td class="min-phone-l"> Nub Fabrication</td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubFabNotReq"> @Html.CheckBox("NubFabNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubFabShop"> @Html.CheckBox("NubFabShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubFabMC"> @Html.CheckBox("NubFabMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubFabLEMF"> @Html.CheckBox("NubFabLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubFabRNW"> @Html.CheckBox("NubFabRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubFabOutside"> @Html.CheckBox("NubFabOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">19</td>
                                <td class="min-phone-l"> Nub Machining before O/lay      </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubBeforeNotReq"> @Html.CheckBox("NubBeforeNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubBeforeShop"> @Html.CheckBox("NubBeforeShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubBeforeMC"> @Html.CheckBox("NubBeforeMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubBeforeLEMF"> @Html.CheckBox("NubBeforeLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubBeforeRNW"> @Html.CheckBox("NubBeforeRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubBeforeOutside"> @Html.CheckBox("NubBeforeOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">20</td>
                                <td class="min-phone-l"> Nub Machining after O/Lay       </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubAfterNotReq"> @Html.CheckBox("NubAfterNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubAfterShop"> @Html.CheckBox("NubAfterShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubAfterMC"> @Html.CheckBox("NubAfterMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubAfterLEMF"> @Html.CheckBox("NubAfterLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubAfterRNW"> @Html.CheckBox("NubAfterRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubAfterOutside"> @Html.CheckBox("NubAfterOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">21</td>
                                <td class="min-phone-l"> Bracket/ Internal Ring WEP      </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPNotReq"> @Html.CheckBox("BraketWEPNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPShop"> @Html.CheckBox("BraketWEPShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPMC"> @Html.CheckBox("BraketWEPMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPLEMF"> @Html.CheckBox("BraketWEPLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPRNW"> @Html.CheckBox("BraketWEPRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPOutside"> @Html.CheckBox("BraketWEPOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">22</td>
                                <td class="min-phone-l"> Nub/ Tray Support Bracket Fab.   </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubTrayFabNotReq"> @Html.CheckBox("NubTrayFabNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubTrayFabShop"> @Html.CheckBox("NubTrayFabShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubTrayFabMC"> @Html.CheckBox("NubTrayFabMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubTrayFabLEMF"> @Html.CheckBox("NubTrayFabLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubTrayFabRNW"> @Html.CheckBox("NubTrayFabRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NubTrayFabOutside"> @Html.CheckBox("NubTrayFabOutside", new{})<span></span></label></td>

                            </tr>
                            <tr>
                                <td class="all">23</td>
                                <td class="min-phone-l">
                                    Insulation Ring/ Strap Fabrication
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InsFabNotReq"> @Html.CheckBox("InsFabNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InsFabShop"> @Html.CheckBox("InsFabShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InsFabMC"> @Html.CheckBox("InsFabMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InsFabLEMF"> @Html.CheckBox("InsFabLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InsFabRNW"> @Html.CheckBox("InsFabRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InsFabOutside"> @Html.CheckBox("InsFabOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">24</td>
                                <td class="min-phone-l">
                                    Catalyst Beam WEP M/C
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamWEPNotReq"> @Html.CheckBox("CatalystBeamWEPNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamWEPShop"> @Html.CheckBox("CatalystBeamWEPShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamWEPMC"> @Html.CheckBox("CatalystBeamWEPMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamWEPLEMF"> @Html.CheckBox("CatalystBeamWEPLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamWEPRNW"> @Html.CheckBox("CatalystBeamWEPRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamWEPOutside"> @Html.CheckBox("CatalystBeamWEPOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">25</td>
                                <td class="min-phone-l">
                                    Catalyst Beam Fabrication
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamFabricationNotReq"> @Html.CheckBox("CatalystBeamFabricationNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamFabricationShop"> @Html.CheckBox("CatalystBeamFabricationShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamFabricationMC"> @Html.CheckBox("CatalystBeamFabricationMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamFabricationLEMF"> @Html.CheckBox("CatalystBeamFabricationLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamFabricationRNW"> @Html.CheckBox("CatalystBeamFabricationRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="CatalystBeamFabricationOutside"> @Html.CheckBox("CatalystBeamFabricationOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">26	</td>
                                <td class="min-phone-l">
                                    Internal tray fabrication
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationNotReq"> @Html.CheckBox("InternalTrayFabricationNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationShop"> @Html.CheckBox("InternalTrayFabricationShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationMC"> @Html.CheckBox("InternalTrayFabricationMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationLEMF"> @Html.CheckBox("InternalTrayFabricationLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationRNW"> @Html.CheckBox("InternalTrayFabricationRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationOutside"> @Html.CheckBox("InternalTrayFabricationOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">27</td>
                                <td class="min-phone-l">
                                    Inlet Diff user Fabrication
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationNotReq"> @Html.CheckBox("InletDiffuserFabricationNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationShop"> @Html.CheckBox("InletDiffuserFabricationShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationMC"> @Html.CheckBox("InletDiffuserFabricationMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationLEMF"> @Html.CheckBox("InletDiffuserFabricationLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationRNW"> @Html.CheckBox("InletDiffuserFabricationRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationOutside"> @Html.CheckBox("InletDiffuserFabricationOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">28</td>
                                <td class="min-phone-l">
                                    Outlet Collector
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="OutletCollectorNotReq"> @Html.CheckBox("OutletCollectorNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="OutletCollectorShop"> @Html.CheckBox("OutletCollectorShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="OutletCollectorMC"> @Html.CheckBox("OutletCollectorMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="OutletCollectorLEMF"> @Html.CheckBox("OutletCollectorLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="OutletCollectorRNW"> @Html.CheckBox("OutletCollectorRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="OutletCollectorOutside"> @Html.CheckBox("OutletCollectorOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">29</td>
                                <td class="min-phone-l">
                                    Internal for Inclined nozzles
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesNotReq"> @Html.CheckBox("InternalNozzlesNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesShop"> @Html.CheckBox("InternalNozzlesShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesMC"> @Html.CheckBox("InternalNozzlesMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesLEMF"> @Html.CheckBox("InternalNozzlesLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesRNW"> @Html.CheckBox("InternalNozzlesRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesOutside"> @Html.CheckBox("InternalNozzlesOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">30</td>
                                <td class="min-phone-l">
                                    Saddles
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesNotReq"> @Html.CheckBox("SaddlesNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesShop"> @Html.CheckBox("SaddlesShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesMC"> @Html.CheckBox("SaddlesMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesLEMF"> @Html.CheckBox("SaddlesLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesRNW"> @Html.CheckBox("SaddlesRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesOutside"> @Html.CheckBox("SaddlesOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">31</td>
                                <td class="min-phone-l">
                                    Skirt template
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateNotReq"> @Html.CheckBox("SkirtTemplateNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateShop"> @Html.CheckBox("SkirtTemplateShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateMC"> @Html.CheckBox("SkirtTemplateMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateLEMF"> @Html.CheckBox("SkirtTemplateLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateRNW"> @Html.CheckBox("SkirtTemplateRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateOutside"> @Html.CheckBox("SkirtTemplateOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">32</td>
                                <td class="min-phone-l">
                                    Platform Fabrication
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationNotReq"> @Html.CheckBox("PlatformFabricationNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationShop"> @Html.CheckBox("PlatformFabricationShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationMC"> @Html.CheckBox("PlatformFabricationMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationLEMF"> @Html.CheckBox("PlatformFabricationLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationRNW"> @Html.CheckBox("PlatformFabricationRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationOutside"> @Html.CheckBox("PlatformFabricationOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">33</td>
                                <td class="min-phone-l">
                                    Platform Trial Assembly
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyNotReq"> @Html.CheckBox("PlatformTrialAssemblyNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyShop"> @Html.CheckBox("PlatformTrialAssemblyShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyMC"> @Html.CheckBox("PlatformTrialAssemblyMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyLEMF"> @Html.CheckBox("PlatformTrialAssemblyLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyRNW"> @Html.CheckBox("PlatformTrialAssemblyRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyOutside"> @Html.CheckBox("PlatformTrialAssemblyOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">34</td>
                                <td class="min-phone-l">
                                    PWHT
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PWHTNotReq"> @Html.CheckBox("PWHTNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PWHTShop"> @Html.CheckBox("PWHTShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PWHTMC"> @Html.CheckBox("PWHTMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PWHTLEMF"> @Html.CheckBox("PWHTLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PWHTRNW"> @Html.CheckBox("PWHTRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PWHTOutside"> @Html.CheckBox("PWHTOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">35</td>
                                <td class="min-phone-l">
                                    Internal Installation
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationNotReq"> @Html.CheckBox("InternalInstallationNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationShop"> @Html.CheckBox("InternalInstallationShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationMC"> @Html.CheckBox("InternalInstallationMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationLEMF"> @Html.CheckBox("InternalInstallationLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationRNW"> @Html.CheckBox("InternalInstallationRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationOutside"> @Html.CheckBox("InternalInstallationOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">36</td>
                                <td class="min-phone-l">
                                    N2 Filling
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NFillingNotReq"> @Html.CheckBox("NFillingNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NFillingShop"> @Html.CheckBox("NFillingShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NFillingMC"> @Html.CheckBox("NFillingMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NFillingLEMF"> @Html.CheckBox("NFillingLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NFillingRNW"> @Html.CheckBox("NFillingRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="NFillingOutside"> @Html.CheckBox("NFillingOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">37</td>
                                <td class="min-phone-l">
                                    Sand Blasting
                                </td>

                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingNotReq"> @Html.CheckBox("SandBlastingNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingShop"> @Html.CheckBox("SandBlastingShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingMC"> @Html.CheckBox("SandBlastingMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingLEMF"> @Html.CheckBox("SandBlastingLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingRNW"> @Html.CheckBox("SandBlastingRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingOutside"> @Html.CheckBox("SandBlastingOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">38</td>
                                <td class="min-phone-l">
                                    Painting
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PaintingNotReq"> @Html.CheckBox("PaintingNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PaintingShop"> @Html.CheckBox("PaintingShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PaintingMC"> @Html.CheckBox("PaintingMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PaintingLEMF"> @Html.CheckBox("PaintingLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PaintingRNW"> @Html.CheckBox("PaintingRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="PaintingOutside"> @Html.CheckBox("PaintingOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">39</td>
                                <td class="min-phone-l">
                                    Acid Cleaning
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningNotReq"> @Html.CheckBox("AcidCleaningNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningShop"> @Html.CheckBox("AcidCleaningShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningMC"> @Html.CheckBox("AcidCleaningMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningLEMF"> @Html.CheckBox("AcidCleaningLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningRNW"> @Html.CheckBox("AcidCleaningRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningOutside"> @Html.CheckBox("AcidCleaningOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">40	</td>
                                <td class="min-phone-l">
                                    Weight Measurement
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementNotReq"> @Html.CheckBox("WeightMeasurementNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementShop"> @Html.CheckBox("WeightMeasurementShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementMC"> @Html.CheckBox("WeightMeasurementMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementLEMF"> @Html.CheckBox("WeightMeasurementLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementRNW"> @Html.CheckBox("WeightMeasurementRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementOutside"> @Html.CheckBox("WeightMeasurementOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">41</td>
                                <td class="min-phone-l">
                                    Manway Davit
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitNotReq"> @Html.CheckBox("ManwayDavitNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitShop"> @Html.CheckBox("ManwayDavitShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitMC"> @Html.CheckBox("ManwayDavitMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitLEMF"> @Html.CheckBox("ManwayDavitLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitRNW"> @Html.CheckBox("ManwayDavitRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitOutside"> @Html.CheckBox("ManwayDavitOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">42</td>
                                <td class="min-phone-l">
                                    Vessel Davit
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitNotReq"> @Html.CheckBox("VesselDavitNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitShop"> @Html.CheckBox("VesselDavitShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitMC"> @Html.CheckBox("VesselDavitMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitLEMF"> @Html.CheckBox("VesselDavitLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitRNW"> @Html.CheckBox("VesselDavitRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitOutside"> @Html.CheckBox("VesselDavitOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all">43	</td>
                                <td class="min-phone-l">
                                    Lapping Ring
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingNotReq"> @Html.CheckBox("LappingRingNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingShop"> @Html.CheckBox("LappingRingShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingMC"> @Html.CheckBox("LappingRingMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingLEMF"> @Html.CheckBox("LappingRingLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingRNW"> @Html.CheckBox("LappingRingRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingOutside"> @Html.CheckBox("LappingRingOutside", new{})<span></span></label></td>
                            </tr>
                            <tr>
                                <td class="all"> 44	</td>
                                <td class="min-phone-l">
                                    Shipping (Ex-work / FAS / FOB / At-Port / At-site / Erection)
                                </td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ShippingNotReq"> @Html.CheckBox("ShippingNotReq", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ShippingShop"> @Html.CheckBox("ShippingShop", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ShippingMC"> @Html.CheckBox("ShippingMC", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ShippingLEMF"> @Html.CheckBox("ShippingLEMF", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ShippingRNW"> @Html.CheckBox("ShippingRNW", new{})<span></span></label></td>
                                <td class="min-phone-l"><label class="mt-checkbox mt-checkbox-outline" for="ShippingOutside"> @Html.CheckBox("ShippingOutside", new{})<span></span></label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn green" id="btnSaveScopeOfWork" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>