﻿
@model IEMQSImplementation.NDE018

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>
    $(document).ready(function () {
        $('#ElementSize').autoNumeric('init', { vMin: '0.00', vMax: '999999999999999999.00', aSep: '' });
        $('#ElementGapDistance,#ElementPitch,#Frequency').autoNumeric('init', { vMin: '0.00', vMax: '99999.00', aSep: '' });
        //$('#Frequency').autoNumeric('init', { vMin: '0', vMax: '99999', aSep: '' });
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        $('#frmProbe').validate({
            rules: {
                Probe: { required: true },
                ProbeMake: { required: true },
                Frequency: { required: true },
                ElementSize: { required: true },
                ElementPitch: { required: true },
                ElementGapDistance: { required: true },
                NoOfElement: { required: true }
            },
            messages: {
                Probe: { required: "Probe is required" },
                ProbeMake: { required: "Probe Make is required" },
                Frequency: { required: "Frequency is required" },
                ElementSize: { required: "Element Size is required" },
                ElementPitch: { required: "Element Pitch is required" },
                ElementGapDistance: { required: "Element Gap Distance is required" },
                NoOfElement: { required: "No Of Element is required" }
            }
        });
        if ('@ViewBag.Action'.toLowerCase() == "editmode") {
            $("#Probe").attr("disabled", true);
        }
        
    });
    function checkDec(el) {
        var ex = /^[0-9]+\.?[0-9]*$/;
        if (ex.test(el.value) == false) {
            el.value = el.value.substring(0, el.value.length - 1);
        }
    }
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmProbe", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Probe
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Probe, new { @class = "form-control", @maxlength = "20", @tootltip = "Maximum character limit is 20" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Probe Make
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProbeMake, new { @class = "form-control", @maxlength = "30", @tootltip = "Maximum character limit is 30" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Frequency(MHz)
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Frequency, new { @class = "form-control", @maxlength = 8})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Element Size(mm)
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ElementSize, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Element Pitch(mm)
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ElementPitch, new { @class = "form-control"})
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Element Gap Distance(mm)
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ElementGapDistance, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">
                                        No. of Element
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.NoOfElement, new { @class = "form-control",  onkeypress = "return isNumber(event)" ,@maxlength=5})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            @Html.HiddenFor(model=>model.Id)
                        </div>
                    }
                </div>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

