﻿@using IEMQSImplementation
@model PAM016
@{
    string FileUploadLineID = "fuline";
}
<script>
    $(document).ready(function () {

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        if (parseInt($("#txtHeaderId").val()) > 0) {
            if ($("#spnStatus").text().toLowerCase() == 'sent for approval') {
                $("#btnSaveHeader").show();
            }
            else {
                $("#btnSaveHeader").hide();
            }
            $("#txtContractNo").val('@ViewBag.ContractDesc');
            $("#txtCustomer").val('@ViewBag.CustomersDesc');
            $("#txtContractNo").attr('disabled', true);
            $("#txtPMGPerson").val('@ViewBag.pmgPerson');

        }

        $("#btnSaveHeader").click(function () {
            var arrayModel = new Array();
            var rawLength = $('[colname="PMGRemarks"]', $("#tblSCADocResult")).length;
            for (var i = 0; i < rawLength; i++) {
                var ApproverModelEdit = new Object();
                ApproverModelEdit.LineId = parseInt($($('[colname="PMGRemarks"]', $("#tblSCADocResult"))[i]).attr("data-lineid"));
                ApproverModelEdit.HeaderId = parseInt($("#txtHeaderId").val());
                ApproverModelEdit.PMG_approval = $($("#PMGApproval" + parseInt($('[colname="PMGRemarks"]', $("#tblSCADocResult")).attr("data-lineid")))[i]).val();
                ApproverModelEdit.PMG_remarks = $($("#PMGRemarks" + parseInt($('[colname="PMGRemarks"]', $("#tblSCADocResult")).attr("data-lineid")))[i]).val();
                arrayModel.push(ApproverModelEdit);
            }
            var strJson = "";
            if (arrayModel.length > 0) {
                strJson = JSON.stringify(arrayModel);
            }
            $.ajax({
                url: WebsiteURL + '/PAM/ApproveSCA/UpdateApproverData',
                data: { strJson: strJson },
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }

                }
            });

        });


        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + "/PAM/ApproveSCA/Index"
        });

        $("#btnApprove").click(function () {
            bootbox.confirm({
                message: "Do you want to approve request?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: WebsiteURL + '/PAM/ApproveSCA/ApproveRequest',
                            data: { HeaderId: parseInt($("#txtHeaderId").val()) },
                            type: 'POST',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.location.href = WebsiteURL + "/PAM/ApproveSCA/Index";
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }

                            }
                        });
                    }
                }
            });
        });
    });

</script>
<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Specification Change Analysis</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.RequestStatus))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.RequestStatus)</span>
                    </span>
                </div>
            }
        }
    </div>

    <div id="dvHeader">

        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
        {
            @Html.Hidden("txtStrWhereHeader")
            @Html.Hidden("txtStrSortHeader")
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.RequestStatus)
            <input type="hidden" id="hdBUs" name="hdBUs" value="@ViewBag.strBUs" />
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>SCA Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Contarct No.</label>
                                    <div class="">
                                        <input type="text" id="txtContractNo" value="" name="txtContractNo" class="form-control col-md-3" placeholder="Select Contract" />
                                        @Html.HiddenFor(m => m.ContractNo)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Request No</label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Request, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        <input type="text" id="txtCustomer" value="" name="txtCustomer" class="form-control col-md-3" placeholder="Select Customer" readonly="readonly" />
                                        @Html.HiddenFor(m => m.Customer)
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12" style="margin-top:10px;">
                                <div id="divProject">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                Specification Change Analysis
                                            </div>
                                            <div class="tools" id="dvExportLines">
                                                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/MaintainSCA/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                                            </div>
                                        </div>

                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblSCAProjectResult" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="all">Project</th>
                                                        <th class="all">Equipment</th>
                                                        <th class="all">LOI Date*</th>
                                                        <th class="all">Zero Date*</th>
                                                        <th class="all">CDD*</th>
                                                        <th class="all">Created By</th>
                                                        <th class="all">Created On</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:10px;">
                                <div class="col-md-6">
                                    <label class="control-label">PMG Person</label>
                                    <div class="">
                                        <input type="text" id="txtPMGPerson" value="" name="txtPMGPerson" class="form-control col-md-3" placeholder="" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Change Note Management Initiated?</label>
                                    <div class="">
                                        @Html.CheckBoxFor(model => model.ChangeNote, new { @class = "make-switch col-md-3", data_on_text = "Yes", data_off_text = "No", data_on_color = "success", data_off_color = "danger", data_size = "normal", disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        }
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSCADocLines" }))
        {
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12" style="margin-top:10px;">
                            <div id="divDoc">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Specification Change Analysis
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/MaintainSCA/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportSubLines" })
                                        </div>
                                    </div>

                                    <div class="portlet-body">

                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblSCADocResult" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="all">Sr.No.</th>
                                                    <th style="display:none;">LineId</th>
                                                    <th style="display:none;">HeaderId</th>
                                                    <th class="all">Description</th>
                                                    <th class="all">Doc No</th>
                                                    <th class="all">Doc Rev</th>
                                                    <th class="all">Design Remarks</th>
                                                    <th class="all">Attachment</th>
                                                    <th class="all">PMG Approval</th>
                                                    <th class="all">PMG Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align:right;">
                                    <input type="button" class="btn green" id="btnSaveHeader" value="Save" />
                                    <input type="button" class="btn green" id="btnApprove" value="Approve" style="display:none;" />

                                    <input type="button" class="btn red" id="btnClose" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dv@(FileUploadLineID)"></div>
        }
    </div>

</div>
<script>
    var totalProjectCount = 0;
    var totalDocCount = 0;
    $(document).ready(function () {
        if (parseInt($("#txtHeaderId").val()) > 0) {
            loadProjectDetails(parseInt($("#txtHeaderId").val()));
            LoadDocLineDeails(parseInt($("#txtHeaderId").val()));
        }
        else {
            loadProjectDetails(0);
            LoadDocLineDeails(0);
        }
    });

    function loadProjectDetails(HeaderId) {
        var table = $('#tblSCAProjectResult');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PAM/ApproveSCA/LoadSCAHeaderLineDataResult?HeaderId=" + parseInt(HeaderId),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        totalProjectCount = data.iTotalRecords;

                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);

                        if (totalProjectCount > 0 && totalDocCount > 0) {
                            if ($('#spnStatus').text().toLowerCase() == '@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue().ToLower()') {
                                $("#btnApprove").show();
                            }
                            else {
                                $("#btnApprove").hide();
                            }
                        }
                        else {
                            $("#btnApprove").hide();
                        }
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "ProjectNo",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "Equipment",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "LOIDate",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "ZeroDate",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "CDD",
                    "bSortable": true,
                    "sClass": "center",

                },
                {
                    "name": "CreatedBy",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",

                },
            ]
        });
    }

    function LoadDocLineDeails(HeaderId) {
        var tableSCA = $('#tblSCADocResult');
        var oTableSCA = tableSCA.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PAM/ApproveSCA/loadSCALineDocDataTable?HeaderId=" + parseInt(HeaderId),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'async': false,
                    'success': function (data) {
                        fnCallback(data);
                        totalDocCount = data.iTotalRecords;

                        $(".txtStrWhere", "#dvExportSubLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportSubLines").val(data.strSortOrder);

                        if (totalProjectCount > 0 && totalDocCount > 0) {
                            if ($('#spnStatus').text().toLowerCase() == '@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue().ToLower()') {
                                $("#btnApprove").show();
                            }
                            else {
                                $("#btnApprove").hide();
                            }
                        }
                        else {
                            $("#btnApprove").hide();
                        }
                    },
                });
                //ResetAddRow();
            },
            "aoColumns": [
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "",
                      "bSortable": false,
                      "render": function (data, type, row, meta) {
                          var buttons = "";

                          var functionCall = "ViewAttachment(" + row[1].trim() + ")";
                          buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + functionCall + '" ></i></center>';

                          return buttons;
                      }
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
            ]
        });
    }

    function ViewAttachment(LineId) {
        if (parseInt(LineId) > 0) {

            //OLD CODE
            //var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
            //objFileUploadLine.ShowDeleteAction = false;
            //objFileUploadLine.ShowAttachmentBtn = false;
            //objFileUploadLine.FolderPath = "PAM018/" + LineId;
            //objFileUploadLine.LoadInPopup = true;
            //LoadFileUploadPartialView(objFileUploadLine);


            var objFile = {
                TableName: 'PAM018',
                TableId: LineId,
                Path: '//PAM018//' + LineId + '//1',
                ControlID: '@(FileUploadLineID)',
                ViewerId: 1,
                IsMultipleUploaded: true,
                ShowDeleteAction: false,
                ShowDownloadBtn: false,
                ShowAttachmentBtn: false,
                IsRequired: false,
                IsDisabled: false
            };

            Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);

        }
        else {
            DisplayNotiMessage("error", "First insert line then attached document", "Error");
        }
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>

