﻿@{
    string FileUploadFixtureID = "fuFixture";
}

<style>
    .table-scrollable {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .bordernone {
        border-top: none !important;
        background-color: white !important;
    }

    .bgcolor {
        background-color: white !important;
    }

    .fa-fontclr {
        color: #000 !important;
    }

    .fa-success {
        color: lawngreen !important;
    }

    .fa-warning {
        color: yellow !important;
    }

    .fa-danger {
        color: red !important;
    }

    .fa-voilet {
        color: #ff02ff !important;
    }

    .fa-gray {
        color: lightgray !important;
    }

    .fa-orange {
        color: orange !important;
    }

    .fa-blue {
        color: blue !important;
    }

    .borderleftsuccess {
        border-left: 5px solid lawngreen;
    }

    .borderleftwarning {
        border-left: 5px solid yellow;
    }

    .borderleftdanger {
        border-left: 5px solid red;
    }

    .borderleftvoilet {
        border-left: 5px solid violet;
    }

    .borderleftgray {
        border-left: 5px solid lightgray;
    }

    .borderleftorange {
        border-left: 5px solid orange;
    }

    .borderleftblue {
        border-left: 5px solid blue;
    }
</style>

            
@if (ViewBag.CompleteQty != null)
{
    if (ViewBag.CompleteQty > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 nopad">
                    <div class="col-md-offset-8 col-md-4 nopad">
                        <label class="control-label">
                            <strong>Completed Qty : <span class="rmvbold" id="qty_hand">@ViewBag.CompleteQty</span></strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Search Result
                </div>
                <div class="tools" id="dvExportHeader">
                    <input type="hidden" class="txtStrWhere">
                    <input type="hidden" class="txtStrSort">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmSummaryData" }))
                {
                    <table class="table table-striped table-bordered table-hover" id="tblSummary" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    @*<label class="mt-checkbox mt-checkbox-outline">
                                        <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                        <span></span>
                                    </label>*@
                                </th>
                                <th class="hidden">RowNo</th>
                                <th class="hidden">KitGroupNo</th>
                                <th class="hidden">Id</th>
                                <th class="hidden">RefLineId</th>
                                <th>Fixture No</th>
                                <th>Project</th>
                                <th>Kit NO</th>
                                <th>Kit Name</th>
                                @*<th class="all">Action</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<div id="divPartDetails">

</div>
<div id="divSCRDetails">

</div>
<input type="hidden" id="hdSelectedNodeId" />
<input type="hidden" id="hdSelectedFindNo" />

<script type="text/javascript">
    var UtilityParams = undefined;
    $(document).ready(function () {

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckboxdeleteqty"]', rows).prop('checked', this.checked);
        });


        UtilityParams = {
            sUrl: "/FKMS/MaintainFR/LoadFixtureSummaryGridData",
            aServerParams: [{ "name": "lineid", "value": '@ViewBag.lineid' } ],
            //bIsPaging: true,
            //iPageLength: 10,
            bIsLazyLoading: true,
            iScrollY: 450,
            bIsIgnoreHiddenColumns: false,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: false,
            bIsWrapHeader: false,
            //iFCLeft: 5,
            //iFCLeft: 10,
            //iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            fnServerDataCallback: function (aoData, data) {
            },
            fnCreateRow: function (row, data, dataIndex) {
                if (parseInt(data[2]) > 1) {
                    $(row).find(".group1").addClass("bordernone");
                }
                else {
                    $(row).find(".group1").addClass("bgcolor");
                    $(row).find('td').css("border-top-color", 'lightgray');
                }
                if (parseInt(data[3]) > 1) {
                    $(row).find(".group2").addClass("bordernone");
                }
                else {
                    $(row).find(".group2").addClass("bgcolor");
                }
            },
            aoColumns: [
                {
                    'targets': 0, //0
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "left18 group1",
                    'render': function (data, type, row) {
                        console.log(row)
                        var TempGroupNo = parseInt(row[0]);
                        var lineId = parseInt(row[3]);
                        if (TempGroupNo == 1) {
                            var buttons = '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckboxdeleteqty" value="' + lineId + '" ><span></span></label>';
                            return buttons;
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center group1",
                    "name": "FixtureNo",
                    "bSortable": true,
                    "maxlength": 25
                },
                {
                    "sClass": "center",
                    "name": "Project",
                    "bSortable": false,
                    "maxlength": 25
                },
                {
                    "sClass": "center",
                    "name": "FindNo",
                    "bSortable": true,
                },
                {
                    "sClass": "center",
                    "name": "NodeName",
                    "bSortable": false,
                    "render": function (data, type, row) {
                        var maxLength = 25;
                        if (data != null && data != undefined && data != '') {
                            var s2 = "";
                            if (data && data.length > maxLength)
                                return s2 + "</i> <span title='" + data + "'>" + data.substr(0, maxLength - 3) + "..." + "</span>";
                            else
                                return data;
                        }
                        else
                            return data;
                    },
                },
                //{
                //    "sClass": "clsnowrap",
                //    "name": "Action",
                //    "attr": "none",
                //    "bSortable": false,
                //},
            ]
        };

        $('#tblSummary').dtUtility(UtilityParams);
    });

    function CallAfterLoadSRE(RowNo) {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('#Edit' + RowNo).click();

    }


    

</script>
