﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    var UserRole = '@ViewBag.UserRole';
    $(document).ready(function () {
        if ('@ViewBag.UserRole' == '@clsImplementationEnum.UserRoleName.FMG3.GetStringValue()' && '@ViewBag.IndexType' == '@clsImplementationEnum.WPPIndexType.releaseFKM.GetStringValue().ToLower()') {
            $("input:radio[name=rdoExecuteFixture]:first").attr('checked', true);
            $('input[type=radio][name=rdoExecuteFixture]').change(function () {
                $("#tabPending").trigger("click");
            });
        }
        GetHeaderGridDataPartial('Pending');

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });
     
    function GetHeaderGridDataPartial(status) {
        var title = '@ViewBag.Title';
        var indextype = '@ViewBag.IndexType';
        var isDepartment = false;

        if ('@ViewBag.UserRole' == '@clsImplementationEnum.UserRoleName.FMG3.GetStringValue()' && '@ViewBag.IndexType' == '@clsImplementationEnum.WPPIndexType.releaseFKM.GetStringValue().ToLower()') {
            if ($("input[name='rdoExecuteFixture']:checked").val()) {
                if ($("input[name='rdoExecuteFixture']:checked").val() == "DepartmentWise") {
                    isDepartment = true;
                } else {
                    isDepartment = false
                }
            }
        }

        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $("#portlet_comments_3").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFR/GetHeaderGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, title: title, indextype: indextype, IsDepartment: isDepartment },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else if (status == "Superseded") {
                    $("#portlet_comments_3").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    @Html.Raw((String)ViewBag.Title)
                                    <small></small>
                                </h1>
                                @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.FMG3.GetStringValue() && ViewBag.IndexType == clsImplementationEnum.WPPIndexType.releaseFKM.GetStringValue().ToLower())
                                {
                                    <div class="md-radio-inline" style="padding-top:15px">
                                        <div class="md-radio" id="tabProjectWise">
                                            <input type="radio" class="md-radio" name="rdoExecuteFixture" id="ProjectWiseId" value="ProjectWise" />
                                            <label for="ProjectWiseId">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Project Wise
                                            </label>
                                        </div>

                                        <div class="md-radio" id="tabDepartmentWise">
                                            <input type="radio" class="md-radio" name="rdoExecuteFixture" id="DepartmentWiseId" value="DepartmentWise" />
                                            <label for="DepartmentWiseId">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Department Wise
                                            </label>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG3.GetStringValue())
                                {
                                    <a href="~/FKMS/MaintainFR/FRDetails/0?urlForm=@(ViewBag.IndexType)" style="float: right;" class="btn green">Add New</a>
                                }
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG2.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG1.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG1.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG2.GetStringValue())
                    {
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>
                    }
                    else if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.FMG3.GetStringValue())
                    {
                    <ul class="nav nav-tabs" style="margin-top:-40px">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> Completed </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_3" name="tabStatus" id="tabSuperseded" spara="Superseded" data-toggle="tab"> Superseded </a>
                        </li>
                    </ul>
                    }
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG2.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG1.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG1.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PMG2.GetStringValue())
                        {
                            <div class="tab-pane active" id="portlet_comments_1"></div>
                            <div class="tab-pane" id="portlet_comments_2"></div>
                        }
                        else if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.FMG3.GetStringValue())
                        {
                            <div class="tab-pane active" id="portlet_comments_1"></div>
                            <div class="tab-pane" id="portlet_comments_2"></div>
                            <div class="tab-pane" id="portlet_comments_3"></div>
                        }
                        else
                        {
                            <div class="tab-pane active" id="portlet_comments_1"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")