﻿@model IEMQS.DESCore.DINModel
@{
    if (IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList != null && IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList.ProjectNo != null)
    {
        ViewBag.Title = "Pending DIN";
        Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
    }
    else
    {
        ViewBag.Title = "Pending DIN";
        Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";
    }
}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <div class="row">
            <div class="col-xl-6">
                <h4 class="m-portlet__head-text ">
                    @ViewBag.Title
                </h4>
            </div>

        </div>
        <div class="row">
            @{
                Html.RenderPartial("~/Areas/DES/Views/Shared/_TabPendingTask.cshtml", new ViewDataDictionary { { "VariableName", "DIN" } });
            }
        </div>
        <div style="margin-top:20px!important">
            <table class="table  table-bordered table-hover" id="tblPendingDIN"> </table>
        </div>
    </div>
    <div class="m-portlet__foot">
        <div class="row align-items-center">
            <div class="col-lg-12 text-right">

                @if (ViewBag.GetPolicySteps != null)
                {
                    foreach (var Policy in ViewBag.GetPolicySteps)
                    {
                        <a href="/DES/DIN/DINLifeCycle?Id=@Policy.DINLifeCycleId &DINAckID=@Model.DINAckID" class="btn text-white" style="background-color:@Policy.ColorCode" id="DinACKNote">@Policy.PolicyStep</a>
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="returnRemark" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Return Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <textarea type="text" name="Return_Remark" id="Return_Remark" class="form-control m-input  m-input--square"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="addReturnBtn" class="btn btn-primary" data-dismiss="modal">Add Remark</button>
            </div>
        </div>

    </div>
</div>

<div id="divROC"></div>

<script>
    var tblPendingDIN;
    $(document).ready(function () {
        mApp.blockPage();
        //Get Document Table
        tblPendingDIN = $('#tblPendingDIN').DataTable({
            "serverSide": true,
            "processing": true,
            "orderMulti": false,
            "filter": true,
            "sAjaxSource": "/DES/MaskPromote/GetPendingDIN",
            "iDisplayLength": 10,
            "ordering": true,
            "scrollX": true,
            "responsive": false,
            "language": {
                "infoFiltered": ""
            },
            "order": [[1, 'desc']],
            "columnDefs": [
            ],

            "fnServerData": function (sSource, data, fnCallback) {

                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": data,
                    "success": fnCallback
                });

            },
            "aoColumns": [
                {
                    "sTitle": "Action", "className": "action", "orderable": false, render: function (data, type, row, meta) {
                        var srt = "";

                        srt += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill  btnViewDIN" title="View"><i class="la la-eye m--font-success"></i></a>';

                        return srt;
                    }
                },
                {
                    "sTitle": "DIN No", "className": "", render: function (data, type, row, meta) {
                        return row.DINNo;
                    }
                },
                {
                    "sTitle": "Project No", "className": "", render: function (data, type, row, meta) {
                        return row.ProjectNo;
                    }
                },
                {
                    "sTitle": "Contract No", "className": "", render: function (data, type, row, meta) {
                        return row.ContractNo;
                    }
                },
                {
                    "sTitle": "Project Description", "className": "", render: function (data, type, row, meta) {
                        return row.ProjectDescription;
                    }
                },
                {
                    "sTitle": "Customer", "className": "", render: function (data, type, row, meta) {
                        return row.Customer;
                    }
                },
                {
                    "sTitle": "DIN Description", "className": "", "orderable": false, render: function (data, type, row, meta) {
                        return row.DinDescription;
                    }
                },
                {
                    "sTitle": "Code Stamp", "className": "", "orderable": false, render: function (data, type, row, meta) {
                        return row.ASMETag;
                    }
                },
                {
                    "sTitle": "Nuclear Code", "className": "", "orderable": false, render: function (data, type, row, meta) {
                        return row.NuclearASME;
                    }
                },
                {
                    "sTitle": "Issue No", "className": "", "orderable": false, render: function (data, type, row, meta) {
                        return row.IssueNo;
                    }
                }
            ],

            "initComplete": function () {

            },

            "fnRowCallback": function () {
                tblPendingDIN.columns.adjust();
            }

        });
        mApp.unblockPage();
    });


    $('#tblPendingDIN').on('click', 'td .btnViewDIN', function () {
        var tr = $(this).closest('tr');
        var row = tblPendingDIN.row(tr);
        var data = row.data();
        window.location = "/DES/Dashboard/FindObject?Id=" + data.DINNo + "&Type=" + "DIN";
    });

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblPendingDIN != null) {
            tblPendingDIN.columns.adjust();
        }
    });

</script>

