﻿@using IEMQSImplementation
@model QMS065
<script>
    $(document).ready(function () {
        DisableBtn(".viewTechnique");
        $("#txtNDETechniqueNo").val($('#NDETechniqueNo').val()); 
        $("#txtNDETechniqueRevisionNo").val($('#NDETechniqueRevisionNo').val());
        $('#frmMaintainTechnique').validate({
            rules: {
                NDETechniqueNo: {
                    required: true,
                },
            },
            messages: {
                NDETechniqueNo: {
                    required: "NDE Technique No is required"
                },
            }
        });

        $("#txtNDETechniqueNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/PartlistNDEInspection/GetNDEAutoTechniques",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        project: '@ViewBag.Project',
                        qualityProject: '@ViewBag.QualityProject',
                        BU: '@ViewBag.BU',
                        Location: '@ViewBag.Location',
                        stageCode: '@ViewBag.StageCode'
                    },
                    success: function (data) {
                        //response($.map(data, function (item) {
                        //    return { label: (item.TechniqueNo +  (item.TechniqueDisplayNo != null ? " (" + item.TechniqueDisplayNo + ")" : "")), value: item.TechniqueNo, id: item.TechniqueRev, name: item.TechniqueName, url: item.TechniqueUrl };
                        //}));

                        var array = $.map(data, function (item) {
                            return { label: (item.TechniqueNo +  (item.TechniqueDisplayNo != null ? " (" + item.TechniqueDisplayNo + ")" : "")), value: item.TechniqueNo, id: item.TechniqueRev, name: item.TechniqueName, url: item.TechniqueUrl };
                        });
                        response($.ui.autocomplete.filter(array, request.term));

                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#txtNDETechniqueRevisionNo").val(ui.item.id);
                    $("#hdTechniquename").val(ui.item.name);
                    var techniqueUrl = ui.item.url;
                    debugger;
                    if (techniqueUrl != undefined && techniqueUrl != null && techniqueUrl != "") {
                        $("#hdTechniqueUrl").val(ui.item.url);
                        EnableBtn(".viewTechnique");
                    }
                    else {
                        DisableBtn(".viewTechnique");
                    }

                }
            },
            change: function (event, ui) {
                debugger;
                if (ui.item == null) {
                    isSelected = false;
                    $("#txtNDETechniqueRevisionNo").val('');
                    $("#hdTechniquename").val('');
                    $("#hdTechniqueUrl").val('');
                    DisableBtn(".viewTechnique");
                    $(this).val('');
                    $(this).focus();

                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });
    });
    
</script>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmMaintainTechnique" }))
{
    <input type="hidden" id="hdTechniqueUrl" name="hdTechniqueUrl" value="" />
    <input type="hidden" id="hdTechniquename" name="hdTechniquename" value="" />
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Quality Project</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly", @id = "txtQualityProject" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">NDE Technique No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.NDETechniqueNo, new { @class = "form-control col-md-3", @id = "txtNDETechniqueNo" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">NDE Technique Revision No</label>
                        <div class="">
                            @Html.TextBoxFor(m => m.NDETechniqueRevisionNo, new { @class = "form-control col-md-3", @readonly = "readonly", @id = "txtNDETechniqueRevisionNo" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
