﻿@using IEMQSImplementation
@model QMS065
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>


<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {

        if ('@ViewBag.Project' != null) {
            $("#Project").val('@ViewBag.Project');
        }

        $("#hdBU").val('@ViewBag.BU');
        $("#hdLocation").val('@ViewBag.Location');

        if (('@Model.RequestGeneratedBy' == null || '@Model.RequestGeneratedBy' == '') && '@ViewBag.IsQCReturned' == 'No') {
            EnableBtn("#btnRequestGenerate");
            EnableBtn($("#btnReturn"));
        }
        else {
            DisableBtn("#btnRequestGenerate");
            DisableBtn($("#btnReturn"));
        }

        $("#btnRequestGenerate").click(function () {
            bootbox.dialog({
                title: "Generate request confirmation",
                message: "Do you want to generate request?",
                size: "medium",
                buttons: {
                    confirm: {
                        label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                url: WebsiteURL + '/IPI/PartlistNDEInspection/GenerateRequest',
                                type: "Post",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                async: false,
                                dataType: "JSON",
                                data: {
                                    RequestId: $("#txtRequestId").val(),
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        bootbox.alert({
                                            message: data.Value,
                                            callback: function () {
                                                if ('@ViewBag.IsLTFPS' == 'True') {
                                                    window.location.href = WebsiteURL + "/LTFPS/NDERequestGeneration/Index";
                                                }
                                                else {
                                                    window.location.href = WebsiteURL + "/IPI/PartlistNDEInspection/GetNDEOffers";
                                                }
                                            }
                                        });
                                        // DisplayNotiMessage("success", data.Value, "Success");
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                        return false;
                                    }
                                },
                                error: function (ex) {
                                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                    return false;
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });

        });

        $("#btnCancel").click(function () {
            if ('@ViewBag.IsLTFPS' == 'True') {
                window.location.href = WebsiteURL + "/LTFPS/NDERequestGeneration/Index";
            }
            else {
                window.location.href = WebsiteURL + "/IPI/PartlistNDEInspection/GetNDEOffers";
            }
        });

        $("#btnReturn").click(function () {

            var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                         + "$('#frmReturnRequest').validate({"
                         + " rules: {"
                         + "txtQCReturnRemarks: {"
                         + "required: true,"
                         + "},"
                         + "messages: {"
                         + "txtQCReturnRemarks: {"
                         + "required: 'Return Remarks is required'"
                         + "}"
                         + "}"
                         + "}"
                         + "});"
                         + "$('input[maxlength]').maxlength({"
                             + "alwaysShow: true,"
                         + "});"
                         + "});</scr" + "ipt>"
                         + " <div>"
                         + "<form method='post' id='frmReturnRequest'  class='form-horizontal' action=''>"
                         + "<div class='form-group'>"
                            + "<div class='col-md-12'>"
                                + "<label class='control-label'>Return Remarks<span class='required'>*</span></label>"
                                + "<div class=''>"
                                    + "<input type='text' id='txtQCReturnRemarks' maxlength='500' class='form-control' name='txtQCReturnRemarks'/>"
                                + "</div>"
                            + "</div>"
                         + "</div>"
                         + "</form>"
                         + "</div>";

            bootbox.dialog({
                title: "Return Confirmation",
                message: "Do you want to return?" + strHtml,
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {

                            if ($("#frmReturnRequest").valid()) {
                                $.ajax({
                                    url: WebsiteURL + "/IPI/PartlistNDEInspection/QCReturnRequest",
                                    type: "POST",
                                    data: { requestId: $("#txtRequestId").val(), ReturnRemarks: $("#txtQCReturnRemarks").val() },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key) {
                                            bootbox.alert(data.Value, function () {
                                                if ('@ViewBag.IsLTFPS' == 'True') {
                                                    window.location.href = WebsiteURL + "/LTFPS/NDERequestGeneration/Index";
                                                }
                                                else {
                                                    window.location.href = WebsiteURL + "/IPI/PartlistNDEInspection/GetNDEOffers";
                                                }
                                            });
                                        }
                                        else {
                                            bootbox.alert(data.Value)
                                        }
                                    }
                                });

                            }
                            else {
                                return false;
                            }

                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }
                },

            });

        });

    });
</script>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">NDE Request Generation</span>
        </div>
        <div class="ribbon ribbon-right ribbon-color-warning">
            <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.RequestStatus) </span>
            @Html.HiddenFor(m => m.RequestStatus)
        </div>
    </div>
    <div id="dvHeader">
        <form id="frmCreateHeader" class="form-horizontal">
            @Html.HiddenFor(m => m.RequestId, new { @id = "txtRequestId" })
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Project Details</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Quality Project</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Project</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">BU</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Location</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Manufacturing Code</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ManufacturingCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Stage Details</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Stages</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.StageCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Stage Sequence</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Iteration No</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                            @Html.HiddenFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Part & Technique  Details</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Production Drawing No</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ProductionDrawingNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Part/Assembly Position No.</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.PartAssemblyFindNumber, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Part/Assembly No</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.PartAssemblyChildItemCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Part/Assembly Description</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ChildItemCodeDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">NDE Technique No</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.NDETechniqueNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">NDE Technique Rev. No</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.NDETechniqueRevisionNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Shop Details</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Shop</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.Shop, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Shop Location</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ShopLocation, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Shop Remark</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ShopRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Remark</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>TPI Details</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">TPI Agency 1</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Intervention</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency1Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">TPI Agency 2</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Intervention</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency2Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">TPI Agency 3</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Intervention</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency3Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">TPI Agency 4</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Intervention</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency4Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">TPI Agency 5</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency5, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Intervention</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency5Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">TPI Agency 6</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency6, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Intervention</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.TPIAgency6Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Result</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                                <div class="">
                                    <input type="text" class="form-control col-md-3" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Request Details</legend>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Offered By</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.OfferedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Offered On</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.OfferedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Generated By</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.RequestGeneratedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Generated On</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.RequestGeneratedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Confirmed By</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ConfirmedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Confirmed On</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ConfirmedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Returned By</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ReturnedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Returned On</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.ReturnedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Rejected By</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.RejectedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Rejected On</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.RejectedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </form>
    </div>
    <div class="row" style="text-align:right;">
        <div class="col-md-12" style="text-align:right;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <input type="button" class="btn green" id="btnRequestGenerate" value="Generate Request" />
                <input type="button" class="btn return" disabled="disabled" id="btnReturn" value="Return" />
                <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
            </div>
        </div>
    </div>
</div>
