﻿@model IEMQSImplementation.QMS090
@using IEMQSImplementation
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>

<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }
</style>

<script>
    var IsDisabled = false;
    $(document).ready(function () {
        //$('.input-group.date').datetimepicker({
        //    widgetPositioning: {
        //        horizontal: 'auto',
        //        vertical: 'bottom'
        //    }
        //});
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        if ('@ViewBag.Project' != null && '@ViewBag.Project' != '') {
            $('#Project').val('@ViewBag.Project');
        }

        $('#frmCreateHeader').validate({
            rules: {
                NDTDuration: {
                    number: true,
                },
                Noofpoints: {
                    number: true,
                },
            },
            messages: {
                NDTDuration: {
                    number: "Only number is required"
                },
                Noofpoints: {
                    number: "Only number is required"
                },
            }
        });

        $("#btnSave").click(function () {
            UpdateData();
        });

        $('.clsEdit').change(function () {
            UpdateData();
        });
        if ('@ViewBag.isDisabled'.toLowerCase() == "disabled") {
            $(".clsEdit").attr('disabled', true);
            $("#btnSave").hide();
            IsDisabled = true;
            $("#DGSDiagram").attr('disabled', true);
        }
    });

    function UpdateData() {
        if ($("#frmCreateHeader").valid()) {
            var formData = new FormData();
            var strFormData = $("#frmCreateHeader").serializeArray();
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
            });

            $.ajax({
                url: WebsiteURL + "/IPI/PartlistNDEInspection/UpdateAscanHeader",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                //beforeSend: function () {
                //    showLoading(true);
                //},
                //complete: function () {
                //    showLoading(false);
                //},
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function GetAscanUTLinesForm(LineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/PartlistNDEInspection/GetAscanUTLinesForm",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { LineId: LineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Ascan UT Lines',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmAscanUTLines").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmAscanUTLines').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/PartlistNDEInspection/SaveAscanUTLines',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblAscanUTLines').DataTable().ajax.reload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                }).find("div.modal-dialog").addClass("clsBootBoxWidth");
            },
            error: function () {
            }
        });
    }
</script>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Ascan UT Header</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.RefHeaderId, new { @id = "txtRefHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Project Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Quality Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">BU<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Parts Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Part No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Parent Part No.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ParentPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Child Part No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ChildPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Stage Code</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.StageCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label class="control-label">Stage Sequence</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Iteration No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Request No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Request No Sequence</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Ascan UT Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">UT Tech No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">RevNo.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">UT Procedure No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Recordable Indication</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RecordableIndication, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label class="control-label">Scan Technique</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScanTechnique, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">DGS Diagram</label>
                                    <div class="">
                                        <label class="mt-checkbox mt-checkbox-outline" for="DGSDiagram">
                                            @Html.CheckBoxFor(m => m.DGSDiagram, new { })
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Basic Calibration Block</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.BasicCalibrationBlock, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Simulation Block1</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.SimulationBlock1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Simulation Block2</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.SimulationBlock2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Couplant Used</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CouplantUsed, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scan Plan</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scanning Sensitivity</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScanningSensitivity, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Planner Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Approver Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApproverRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Test Instrument</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.TestInstrument, new { @class = "form-control col-md-3 clsEdit", @maxlength = "15" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">NDT Duration</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NDTDuration, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Examination Date</label>
                                    @*<div class="">
                                            @Html.TextBoxFor(m => m.ExaminationDate, new { @class = "form-control col-md-3 clsEdit" })
                                        </div>*@

                                    <div class="">
                                        <div id="datetime3" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                            @Html.TextBoxFor(m => m.ExaminationDate, new { @class = "form-control clsEdit", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <label class="control-label">Reject control</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.Rejectcontrol, new List<SelectListItem>
                                                        { new SelectListItem{ Text="ON", Value = "ON" },
                                                           new SelectListItem{ Text="OFF", Value = "OFF",Selected= true }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Damping</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.Damping, new List<SelectListItem>
                                                        { new SelectListItem{ Text="LOW", Value = "LOW", Selected= true },
                                                           new SelectListItem{ Text="MEDIUM", Value = "MEDIUM" },
                                                           new SelectListItem{ Text="HIGH", Value = "HIGH" }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Restricted Access Area Inaccessible Welds</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.RestrictedAccessAreaInaccessibleWelds, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Transfer Correction</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.TransferCorrection, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Transfer CorrectiondB</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.TransferCorrectiondB, new { @class = "form-control col-md-3 clsEdit", @maxlength = "15" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Noof points</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Noofpoints, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">AveragedB</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.AveragedB, new { @class = "form-control col-md-3 clsEdit", @maxlength = "5" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">After Test Calibrationre checked</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.AfterTestCalibrationrechecked, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes", Selected= true },
                                                           new SelectListItem{ Text="No", Value = "No" }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Any Special Accessories Used</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.AnySpecialAccessoriesUsed, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes"},
                                                           new SelectListItem{ Text="No", Value = "No", Selected= true  }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Any Recordable Indication</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.AnyRecordableIndication, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes"},
                                                           new SelectListItem{ Text="No", Value = "No", Selected= true  }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">NDT Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NDTremarks, new { @class = "form-control col-md-3 clsEdit", @maxlength = "100" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" style="text-align:right;">
                                <button class="btn green" type="button" id="btnSave">Save</button>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Ascan UT Lines
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblAscanUTLines" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all">#</th>
                                <th class="min-phone-l">Quality Project</th>
                                <th class="min-phone-l">Project</th>
                                <th class="min-phone-l">BU</th>
                                <th class="min-phone-l">Location</th>
                                <th class="min-phone-l">Part No</th>
                                <th class="none">Parent Part No</th>
                                <th class="min-phone-l">Child Part No</th>
                                <th class="min-phone-l">Stage Code</th>
                                <th class="min-phone-l">Stage Sequence</th>
                                <th class="none">Iteration No</th>
                                <th class="none">Request No</th>
                                <th class="none">Request No Sequence</th>
                                <th class="none">UT Tech No</th>
                                <th class="none">Rev No</th>
                                <th class="none">Search Unit</th>
                                <th class="none">Reference Reflector</th>
                                <th class="none">Cable Type</th>
                                <th class="none">Cable Length</th>
                                <th class="none">ReferencegaindB</th>
                                <th class="none">Range</th>
                                <th class="none">Amp Ind1</th>
                                <th class="none">BPInd1</th>
                                <th class="none">Amp Ind2</th>
                                <th class="none">BPInd2</th>
                                <th class="none">Amp Ind3</th>
                                <th class="none">BPInd3</th>
                                <th class="none">Amp Ind4</th>
                                <th class="none">BPInd4</th>
                                <th class="none">Amp Ind5</th>
                                <th class="none">BPInd5</th>
                                <th class="none">Amp Ind6</th>
                                <th class="none">BPInd6</th>
                                <th class="none">Created By</th>
                                <th class="none">Created On</th>
                                <th class="none">Edited By</th>
                                <th class="none">Edited On</th>
                                <th class="min-phone-l">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblAscanUTLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/PartlistNDEInspection/LoadAscanUTLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            , { "name": "IsVisible", "value": IsDisabled }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                 {
                     "bSortable": false,
                     "sClass": "center",
                 },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                }

            ]
        });

        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/IPI/PartlistNDEInspection/AscanUTDetails';
        });
    });
</script>

