﻿@using IEMQSImplementation
     
<script src="~/Scripts/main.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

<style>
    .scenter {
        text-align: center;
    }
    table.dataTable tbody td{white-space:nowrap;}  
 

</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
           NDE Test Result
        </div>
        <div class="tools" id="dvExportHeader">
            <div class="btn-group">
                <a style="margin-right:5px;" id="btnIPIReport" class="btn btn-circle white btn-outline btn-sm" onclick="GetIPIPendingInspectionReport('NDE','PART');">
                    <i class="fa fa-print"></i> Pending Inspection
                </a>
            </div>
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/PartlistNDEInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPartlistRequestedOfferHeader" cellspacing="0" width="100%">
            <thead>                
                <tr>
                    <th class="all">Quality Project</th>
                    <th class="all">Position No.</th>
                    <th class="all">Part No.</th>
                    <th class="all">Offered Quantity</th>
                    <th class="all">Stages</th>
                    <th class="all">Seq. No</th>
                    <th class="all">Itrn.</th>
                    <th class="all">Request No</th>
                    <th class="all">Request Seq. No</th>
                    <th class="all">Status</th>
                    @*<th class="all">Child Part No.</th>*@
                    <th class="all">Test Result</th>
                    @*<th class="none">Child ItemCode Desc</th>*@
                    @*<th class="all">Manufacturing Code</th>*@
                    <th class="all">Shop</th>
                    <th class="all">Shop Location</th>
                    <th class="all">Shop Remark</th>
                    @*<th class="all">NDE Technique No</th>
                    <th class="all">NDE Technique Rev. No</th>*@
                    @*<th class="all">Created By</th>
                    <th class="all">Created On</th>*@
                    <th class="all">Offered By</th>
                    <th class="all">Offered On</th>
                    <th class="all">Request Generated By</th>
                    <th class="all">Request Generated On</th>
                    <th class="all">Confirmed By</th>
                    <th class="all">Confirmed On</th>
                    @*<th class="all">Returned By</th>
                    <th class="all">Returned On</th>
                    <th class="all">Rejected By</th>
                    <th class="all">Rejected On</th>*@
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {        
        var table = $('#tblPartlistRequestedOfferHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
              [5, 10, 25, 50, 100],
              [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/PartlistNDEInspection/LoadPartlistNDEData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' });
               
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name": "QualityProject",
                    "bSortable": true,
                    "sClass": "center",
                    
                },
                //{
                //    "name": "Project",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "BU",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "Location",
                //    "bSortable": true,
                //    "sClass": "scenter"
                //},
                {
                    "name": "PartAssemblyFindNumber",
                    "bSortable": true,
                    "sClass": "scenter",
                   
                },
                {
                    "name": "PartAssemblyChildItemCode",
                    "bSortable": true,
                   
                },
                {
                    "name": "OfferedQuantity",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "StageCode",
                    "bSortable": true,
                    "sClass": "center",
                    
                },
                {
                    "name": "StageSequence",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "IterationNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "RequestNo",
                    "bSortable": true,
                    "sClass": "scenter",
                      "attr": "numeric"
                },
                {
                    "name": "RequestStatus",
                    "bSortable": true,
                    "sClass": "scenter",
                    
                },
                {
                    "name": "RequestNoSequence",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                //{
                //    "name": "PartAssemblyChildItemCode",
                //    "bSortable": true,
                //    "sClass": "scenter"
                //},
                {
                    "name": "TestResult",
                    "bSortable": true,
                    "sClass": "scenter",
                   
                },

                //{
                //    "name": "ManufacturingCode",
                //    "bSortable": true,
                //    "sClass": "scenter"
                //},
                {
                    "name": "Shop",
                    "bSortable": true,
                    "sClass": "scenter",
                    
                },
                {
                    "name": "ShopLocation",
                    "bSortable": true,
                    "sClass": "scenter",
                   
                },
                {
                    "name": "ShopRemark",
                    "bSortable": true,
                    "sClass": "scenter",
                   
                },
                //{
                //    "name": "NDETechniqueNo",
                //    "bSortable": true,
                //    "sClass": "scenter"
                //},
                //{
                //    "name": "NDETechniqueRevisionNo",
                //    "bSortable": true,
                //    "sClass": "scenter"
                //},
                //{
                //    "name": "CreatedBy",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "CreatedOn",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                {
                    "name": "OfferedBy",
                    "bSortable": true,
                    "sClass": "center",
                   
                    "ColName": "qms065.OfferedBy+'-'+com003ob.t_name",
                },
                {
                    "name": "OfferedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "name": "RequestGeneratedBy",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string",
                    "ColName": "qms065.RequestGeneratedBy+'-'+com003o.t_name",
                },
                {
                    "name": "RequestGeneratedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "name": "ConfirmedBy",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string",
                    "ColName": "qms065.ConfirmedBy+'-'+com003o.t_name",
                },
                {
                    "name": "ConfirmedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date"
                },
                //{
                //    "name": "ReturnedBy",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "ReturnedOn",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "RejectedBy",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "RejectedOn",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                {
                    "bSortable": false,
                    "sClass": "scenter"
                }
            ]
        });
        table.dtSearchFilter();
    });
    function ShowTimeline(requestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/PartlistNDEInspection/ShowTimelineNDEInspectionPartial?requestId=" + requestId,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });
    }
</script>

<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>



