﻿@model IEMQSImplementation.QMS092
@using IEMQSImplementation
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }
</style>

<script>
    var IsDisabled = false;
    $(document).ready(function () {

        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        if ('@ViewBag.Project' != null && '@ViewBag.Project' != '') {
            $('#Project').val('@ViewBag.Project');
        }

        $('#frmCreateHeader').validate({
            rules: {
                NDTDuration: {
                    number: true,
                },
                DataSamplingSpacing: {
                    number: true,
                },
            },
            messages: {
                NDTDuration: {
                    number: "Only number is required"
                },
                DataSamplingSpacing: {
                    number: "Only number is required"
                },
            }
        });

        $("#btnSave").click(function () {
            UpdateData();
        });

        $('.clsEdit').change(function () {
            UpdateData();
        });
        if ('@ViewBag.isDisabled'.toLowerCase() == "disabled") {
            $(".clsEdit").attr('disabled', true);
            $("#btnSave").hide();
            IsDisabled = true;
        }
    });

    function UpdateData() {
        if ($("#frmCreateHeader").valid()) {
            var formData = new FormData();
            var strFormData = $("#frmCreateHeader").serializeArray();
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
            });

            $.ajax({
                url: WebsiteURL + "/IPI/PartlistNDEInspection/UpdateTOFDHeader",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                //beforeSend: function () {
                //    showLoading(true);
                //},
                //complete: function () {
                //    showLoading(false);
                //},
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function GetTOFDUTLinesForm(LineId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/PartlistNDEInspection/GetTOFDUTLinesForm",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { LineId: LineId },
            success: function (result) {
                bootbox.dialog({
                    title: 'TOFD UT Lines',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn green',
                            callback: function () {
                                if ($("#frmTOFDUTLines").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmTOFDUTLines').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/PartlistNDEInspection/SaveTOFDLines',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblTOFDUTLines').DataTable().ajax.reload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">TOFD UT Header</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.RefHeaderId, new { @id = "txtRefHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <div class="form-group">
                <div class="col-md-12">

                    <fieldset>
                        <legend>Project Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Quality Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">BU<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Parts Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Part No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Parent Part No.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ParentPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Child Part No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ChildPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Stage Code</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.StageCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label class="control-label">Stage Sequence</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Iteration No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Request No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Request No Sequence</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>TOFD UT Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">UT Tech No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Rev No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">UT Procedure No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Couplant Used</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CouplantUsed, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label class="control-label">Reference Reflector Size</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReferenceReflectorSize, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Reference Reflector Distance</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReferenceReflectorDistance, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Calibration BlockID</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CalibrationBlockID, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Calibration BlockID Thickness</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CalibrationBlockIDThickness, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Scanning Detail</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScanningDetail, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Encoder Type</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.EncoderType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scanner Type</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScannerType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scanner Make</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScannerMake, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Cable Type</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CableType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Cable Length</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.CableLength, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scan Plan</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Comp Ascan UT</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.CompAscanUT, new SelectList(@ViewBag.lstyesno, "Value", "Text", "Yes"), new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>
                                </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Planner Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Approver Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApproverRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Test Instrument</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.TestInstrument, new { @class = "form-control col-md-3 clsEdit", @maxlength = "15" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">NDT Duration</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NDTDuration, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label class="control-label">Examination Date</label>
                                    @*<div class="">
                                            @Html.TextBoxFor(m => m.ExaminationDate, new { @class = "form-control col-md-3 clsEdit" })
                                        </div>*@
                                    <div class="">
                                        <div id="datetime3" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                            @Html.TextBoxFor(m => m.ExaminationDate, new { @class = "form-control clsEdit", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Data Sampling Spacing</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DataSamplingSpacing, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Data Storage Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DataStorageLocation, new { @class = "form-control col-md-3 clsEdit", @maxlength = "50" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scanning Start Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ScanningStartLocation, new { @class = "form-control col-md-3 clsEdit", @maxlength = "30" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label class="control-label">Encoder Calibration</label>
                                    <div class="">
                                       @Html.DropDownListFor(m => m.EncoderCalibration, new SelectList(@ViewBag.lstyesno, "Value", "Text","Yes"), new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Software</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Software, new { @class = "form-control col-md-3 clsEdit", @maxlength = "20" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Version</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Version, new { @class = "form-control col-md-3 clsEdit", @maxlength = "10" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Scanning Surface</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.ScanningSurface, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Outside", Value = "Outside"},
                                                           new SelectListItem{ Text="Inside", Value = "Inside" },
                                                           new SelectListItem{ Text="Both ", Value = "Both " }},"Select", new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Final Display Processing Levels</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.FinalDisplayProcessingLevels, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes"},
                                                           new SelectListItem{ Text="No", Value = "No",Selected=true }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">After Test Calibrationre checked</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.AfterTestCalibrationrechecked, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes", Selected= true },
                                                           new SelectListItem{ Text="No", Value = "No" }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Any Special Accessories Used</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.AnySpecialAccessoriesUsed, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes" },
                                                           new SelectListItem{ Text="No", Value = "No",Selected=true }}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label">Any Recordable Indication</label>
                                    <div class="">
                                       @Html.DropDownListFor(m => m.AnyRecordableIndication, new List<SelectListItem>
                                                        { new SelectListItem{ Text="Yes", Value = "Yes"},
                                                           new SelectListItem{ Text="No", Value = "No" ,Selected=true}}, new { @class = "form-control col-md-3 clsEdit" })
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">NDT Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NDTremarks, new { @class = "form-control col-md-3 clsEdit", @maxlength = "100" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" style="text-align:right;">
                                <button class="btn green" type="button" id="btnSave">Save</button>
                            </div>
                        </div>

                    </fieldset>

                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Ascan UT Lines
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTOFDUTLines" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all">SR. No.</th>
                                <th class="min-phone-l">Quality Project</th>
                                <th class="min-phone-l">Project</th>
                                <th class="min-phone-l">BU</th>
                                <th class="min-phone-l">Location</th>
                                <th class="min-phone-l">Part No</th>
                                <th class="none">Parent Part No</th>
                                <th class="min-phone-l">Child Part No</th>
                                <th class="min-phone-l">Stage Code</th>
                                <th class="min-phone-l">Stage Sequence</th>
                                <th class="none">Iteration No</th>
                                <th class="none">Request No</th>
                                <th class="none">Request No Sequence</th>
                                <th class="none">UT Tech No</th>
                                <th class="none">Rev No</th>
                                <th class="none">Scan No</th>
                                <th class="none">Ref Rev No</th>
                                <th class="none">Search Unit</th>
                                <th class="none">Scan Type</th>
                                <th class="none">PCS</th>
                                <th class="none">ReferencegaindB</th>
                                <th class="none">Created By</th>
                                <th class="none">Created On</th>
                                <th class="none">Edited By</th>
                                <th class="none">Edited On</th>
                                <th class="min-phone-l">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblTOFDUTLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/PartlistNDEInspection/LoadTOFDUTLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() },
                            { "name": "IsVisible", "value": IsDisabled }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                 {
                     "bSortable": false,
                     "sClass": "center",
                 },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                }
            ]
        });

        $("#btncancel").click(function () {
            window.location.href = WebsiteURL + '/IPI/PartlistNDEInspection/TOFDUTDetails';
        });
    });
</script>

