﻿<style>
    .scenter {
        text-align: center;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strCTQTitle = ViewBag.Status + " Ascan UT Result";
            }
            @strCTQTitle
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPartlistRequestedOfferHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Quality Project</th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">Part No</th>
                    <th class="none">Parent Part No</th>
                    <th class="none">Child Part No</th>
                    <th class="none">Stage Code</th>
                    <th class="none">Stage Sequence</th>
                    <th class="none">Iteration No</th>
                    <th class="none">Request No</th>
                    <th class="none">Request No Seq.</th>
                    <th class="none">UT Tech No</th>
                    <th class="none">RevNo.</th>
                    <th class="none">Status</th>
                    <th class="none">UT Procedure No</th>
                    <th class="none">Recordable Indication</th>
                    <th class="none">Scan Technique</th>
                    <th class="none">DGS Diagram</th>
                    <th class="none">Basic Calibration Block</th>
                    <th class="none">Simulation Block1</th>
                    <th class="none">Simulation Block2</th>
                    <th class="none">Couplant Used</th>
                    <th class="none">Scan Plan</th>
                    <th class="none">Scanning Sensitivity</th>
                    <th class="none">Planner Remarks</th>
                    <th class="none">Approver Remarks</th>
                    <th class="none">Test Instrument</th>
                    <th class="none">Examination Date</th>
                    <th class="none">NDT Duration</th>
                    <th class="none">Reject control</th>
                    <th class="none">Damping</th>
                    <th class="none">Restricted Access Area Inaccessible Welds</th>
                    <th class="none">Transfer Correction</th>
                    <th class="none">Transfer CorrectiondB</th>
                    <th class="none">Noof points</th>
                    <th class="none">After Test Calibration rechecked</th>
                    <th class="none">Any Special Accessories Used</th>
                    <th class="none">Any Recordable Indication</th>
                    <th class="none">NDT remarks</th>
                    <th class="none">Created By</th>
                    <th class="none">Created On</th>
                    <th class="none">Edited By</th>
                    <th class="none">Edited On</th>
                    <th class="min-phone-l">Action</th>

                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblPartlistRequestedOfferHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/PartlistNDEInspection/LoadPartlistNDEAscanUTData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                
            ]
        });
    });

</script>



