﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }
    .w300{
        width:300px !important;
    }
    .w150{
        width:150px !important;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Projects
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PDIN/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblDinHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Deprtment</th>
                    <th class="min-phone-l">CDD</th>
                    <th class="min-phone-l">Product</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Issue No.</th>
                    <th class="none">Process Licensor</th>
                    <th class="none">Job Desc.</th>
                    <th class="none">Created By</th>
                    <th class="none">Created On</th>
                    <th class="none">Issue By</th>
                    <th class="none">Issue On</th>
                    <th class="none">Submit Date</th><th class="none">Applicable Projects</th> 
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblDinHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                 [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PDIN/ShopSummary/LoadDINHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[14] != null || aData[14] != "") {
                    $(nRow).find("td.clsProject").attr('title', 'Applicable Projects :' + aData[14]);
                }
            },
            "columns": [
                {
                    "name": "Project",
                    "sClass": "center w300 clsProject",
                },
                {
                    "name": "Customer",
                    "sClass": "center w300"
                },
                {
                    "name": "Department",
                    "sClass": "center"
                },
                {
                    "name": "CDD",
                    "sClass": "scenter"
                },
                {
                    "name": "Product",
                    "sClass": "center w150"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                 {
                     "name": "IssueNo",
                     "sClass": "center"
                 },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center",
                },
                 {
                     "name": "JobDescription",
                     "sClass": "center",

                 },
                 {
                     "name": "CreatedBy",
                     "sClass": "scenter",

                 },
                 {
                     "name": "CreatedOn",
                     "sClass": "center",

                 },
                 {
                     "name": "IssueBy",
                     "sClass": "scenter",
                 },
                {
                    "name": "IssueDate",
                    "sClass": "center",

                },
                {
                    "name": "LatestDate",
                    "sClass": "center",

                },
                {
                    "name": "IProject",
                    "sClass": "center",

                },
                 {
                     "bSortable": false,
                     "sClass": "scenter",
                 }
            ]
        });
    });

    function GetReport(project) {
        var params = [{ Param: "Project", Value: project }, { Param: "Dept", Value: '@(ViewBag.UserDept)' }]
        ShowReport(params, '/Planning Din/Planning Din Shop')
    }

    function PrintPDIN(Project) {
        bootbox.dialog({
            title: 'Planning DIN Print',
            message: "Do you want to print Planning DIN?",
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn green',
                    callback: function () {
                        window.open(WebsiteURL + "/PDIN/Maintain/PrintPDIN?Project=" + Project + "&Role=" + '@IEMQS.Areas.PDIN.Controllers.PDINRole.Shop', '_blank');
                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn red'
                }
            }
        });
    }
</script>
