﻿@using IEMQSImplementation
@model ATH023
@{
    ViewBag.Title = "Maintain Standards and Checks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .highlight {
        color: red;
    }
</style>
<link href="~/Content/assets/global/plugins/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/codemirror/theme/neat.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/codemirror/theme/ambiance.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/codemirror/theme/material.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/codemirror/theme/neo.css" rel="stylesheet" />

<div class="page-content">
    <div class="portlet light dvDisabled">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">Code Review Portal</span>
                </div>
                <div class="ribbon ribbon-right ribbon-color-warning">
                    Status :  <span style="font-weight:bolder" id="spanStatus"> @Model.Status </span>
                    @Html.HiddenFor(m => m.Status)
                </div>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCodeReviewDetails" }))
            {
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label class="control-label">Area<span class="required"> * </span></label>
                                <div class="">
                                    <input type="text" id="txtArea" value="" name="txtArea" class="form-control col-md-3" colname= "Area" />
                                    @Html.HiddenFor(m => m.Area)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Type<span class="required"> * </span></label>
                                <div class="">
                                    <input type="text" id="txtType" value="" name="txtType" class="form-control col-md-3" colname= "Type" />
                                    @Html.HiddenFor(m => m.Type)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Sub Type<span class="required"> * </span></label>
                                <div class="">
                                    <input type="text" id="txtSubType" value="" name="txtSubType" class="form-control col-md-3" colname= "SubType" />
                                    @Html.HiddenFor(m => m.SubType)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Path<span class="required"> * </span></label>
                        <div class="">
                            @Html.TextBoxFor(m => m.Path, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Invalid Code</label>
                        <div class="portlet light bordered">
                            <div class="portlet-body">
                                @Html.TextAreaFor(m => m.InvalidCode, new { @class = "form-control col-md-3", @maxlength = "max", @style = "height: 250px;" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Valid Code</label>
                        <div class="portlet light bordered">
                            <div class="portlet-body">
                                @Html.TextAreaFor(m => m.ValidCode, new { @class = "form-control col-md-3", @maxlength = "max", @style = "height: 250px;" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label class="control-label">Comments</label>
                        <div class="">
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control col-md-3", @maxlength = "max" })
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12" style="text-align:right; margin-top:20px;">
                        <input type="button" class="btn save" id="btnSave" value="Save" />
                        <input type="button" class="btn approve" id="btnApprove" value="Approve" />
                        @*<input type="button" class="btn reject" id="btnDelete" value="Delete" />*@
                        <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@*<link rel="stylesheet" href="lib/codemirror.css">*@

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>



<script src="~/Content/assets/global/plugins/codemirror/lib/codemirror.js"></script>
<script src="~/Content/assets/global/plugins/codemirror/mode/javascript/javascript.js"></script>
<script src="~/Content/assets/global/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="~/Content/assets/global/plugins/codemirror/mode/css/css.js"></script>
<script src="~/Content/assets/global/plugins/codemirror/mode/xml/xml.js"></script>
<script src="~/Content/assets/global/plugins/codemirror/mode/sql/sql.js"></script>
@*<script src="~/Content/assets/pages/scripts/components-code-editors.min.js"></script>*@
<script type="text/javascript">

    var invalidEditor = CodeMirror.fromTextArea(document.getElementById("InvalidCode"), {
        lineNumbers: true,
        matchBrackets: true,
        styleActiveLine: true,
        theme: "neat",
        mode: "javascript"
    })

    var validEditor = CodeMirror.fromTextArea(document.getElementById("ValidCode"), {
        lineNumbers: true,
        matchBrackets: true,
        styleActiveLine: true,
        theme: "neat",
        mode: "javascript"
    })
    setTimeout(function () {
        $(".CodeMirror").click(function () {
            $(this).parent().find("textarea").click()
        })
    },5000);

    //valideditor.on("change", function (second) {
    //    highlight(invalideditor, second);
    //});

    //function highlight(newElem, oldElem) {
    //    var newText = newElem.getValue();
    //    var oldText = oldElem.getValue();

    //    var text = "";
    //    newElem.getValue().split("").forEach(function (value, index) {
    //        if (value != oldText.charAt(index))
    //            //text += "<span class='highlight'>" + value + "</span>";
    //            alert(value);
    //        else
    //            text += value;
    //    });
    //    newElem.setValue(text);
    //}

    $(document).ready(function () {

        var lstType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Type))));
        var lstArea = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstArea))));
        // Fill type and subtype autocomplete
        FillTypeAutoComplete($("#txtType"), lstType, $("#Type"));
        FillAutoComplete($("#txtArea"), lstArea, $("#Area"));

        if (parseInt(@Model.Id) > 0) {
            $("#txtType").val('@Model.Type')
            $("#Type").val('@Model.Type')
            $("#txtSubType").val('@Model.SubType')
            $("#SubType").val('@Model.SubType')
            $("#txtArea").val('@Model.Area')
            $("#Area").val('@Model.Area')
        }

        $('#frmCodeReviewDetails').validate({
            rules: {
                txtType: {
                    required: true
                },
                txtSubType: {
                    required: true
                },
                Path: {
                    required: true
                },
                InvalidCode: {
                    required: true
                },
                ValidCode: {
                    required: true
                },
                Status: {
                    required: true
                },
                Comments: {
                    required: true
                }
            },
            messages: {
                txtType: {
                    required: "Type is required"
                },
                txtSubType: {
                    required: "Sub Type is required"
                },
                Path: {
                    required: "Path is required"
                },
                InvalidCode: {
                    required: "Invalid Code is required"
                },
                ValidCode: {
                    required: "Valid Code is required"
                },
                Status: {
                    required: "Status is required"
                },
                Comments: {
                    required: "Comments are required"
                },
            }
        });

       
        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + "/Authorization/CodeReview/Index";
        })

        if ('@Model.Status'.toLocaleLowerCase() == '@clsImplementationEnum.PAMStatus.Approved.GetStringValue()'.toLocaleLowerCase()) {
            $("div.dvDisabled :input").not("#btnClose").attr('disabled', true);
        }
        $("#btnApprove").click(function () {
            var Id = parseInt($("#Id").val());
            if (Id > 0) {
                bootbox.confirm("Do you want to approve? Once approve you can not update. ",
                function (result) {
                    if (result) {
                        $.ajax({
                            url: WebsiteURL + "/Authorization/CodeReview/ApproveRecord",
                            type: "Post",
                            async: false,
                            dataType: "JSON",
                            data: { Id: Id },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.setTimeout('window.location.href = "' + WebsiteURL + '/Authorization/CodeReview/Index"', 2000);
                                }
                                else {
                                    bootbox.alert(data.Value);
                                }
                            },
                            error: function (data) {
                                bootbox.alert(data.Value);
                            }
                        });
                    }
                });
            }
            else {
                DisplayNotiMessage("success", "Code review not save properly", "Success");
            }
        });


        $("#btnSave").click(function () {
            $("#InvalidCode").val(invalidEditor.getValue());
            $("#ValidCode").val(validEditor.getValue());
            if ($("#frmCodeReviewDetails").valid()) {
                var frmSaveHeaderValue = $("#frmCodeReviewDetails").serializeArray();
                var formdata = new FormData();

                if (frmSaveHeaderValue != null && frmSaveHeaderValue != undefined) {
                    $.each(frmSaveHeaderValue, function (key, input) {
                        formdata.append(input.name, input.value);
                    });

                    $.ajax({
                        url: WebsiteURL + "/Authorization/CodeReview/SaveCodeReviewData",
                        type: "POST",
                        data: formdata,
                        async: false,
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.Key) {
                                $("#Id").val(res.HeaderId);
                                DisplayNotiMessage("success", res.Value, "Success");
                            }
                            else
                                DisplayNotiMessage("error", res.Value, "Error");
                        },
                        error: function (data) {
                            alert(data.value);
                        }
                    });
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        })
    });

    function DeleteCodeReview(Id) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/Authorization/CodeReview/DeleteCodeReview",
                            datatype: 'json',
                            async: false,
                            data: { Id: Id },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    window.location.href = "/Authorization/CodeReview";
                                }
                            },
                            error: function () {
                                alert('error...');
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }

    // Fill type and subtype autocomplete
    function FillTypeAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CatDesc,
                        value: item.CatDesc,
                        id: item.CatID
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $("#txtSubType").val("");
                $("#SubType").val("");
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);

                $.ajax({
                    url: WebsiteURL + "/Authorization/CodeReview/FillSubType",
                    dataType: "json",
                    type: "POST",
                    data: { reviewType: ui.item.id },
                    async: false,
                    success: function (res) {
                        FillAutoCompleteWithModeChange($("#txtSubType"), res, $("#SubType"));
                    },
                    error: function (data) {
                        alert(data.value);
                    }
                });
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function FillAutoCompleteWithModeChange(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CatDesc,
                        value: item.CatDesc,
                        id: item.CatID
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);
                HighlightInValidControls();

                //if (ui.item.id.toLocaleLowerCase() == 'views') {
                //    invalidEditor.setOption("mode", "javascript")
                //    validEditor.setOption("mode", "javascript")
                //}
                //else if (ui.item.id.toLocaleLowerCase() == 'database') {
                //    invalidEditor.setOption("mode", "css")
                //    validEditor.setOption("mode", "css")
                //}
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }
</script>
@*var handleDemo1 =
    function () { var myTextArea = document.getElementById('code_editor_demo_1');
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea, { lineNumbers: true, matchBrackets: true, styleActiveLine: true,
    theme:"ambiance" } );}*@