﻿@model IEMQSImplementation.WPS010_Log
@using IEMQSImplementation

<script>

    $('input[type="text"],textarea').attr("readonly", "readonly");

    if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { $("#WeldingProcess1").val('@ViewBag.WeldingProcess1') }
    if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { $("#WeldingProcess2").val('@ViewBag.WeldingProcess2') }
    if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { $("#WeldingProcess3").val('@ViewBag.WeldingProcess3') }
    if ('@Model.WeldingProcess4' != '' && '@Model.WeldingProcess4' != "null" && '@Model.WeldingProcess4' != null) { $("#WeldingProcess4").val('@ViewBag.WeldingProcess4') }

    if ('@Model.MultiSingleElectrode1' != '' && '@Model.MultiSingleElectrode1' != "null" && '@Model.MultiSingleElectrode1' != null) { $("#txtMultiSingleElectrode1").val('@ViewBag.MultiSingleElectrode1') }
    if ('@Model.MultiSingleElectrode2' != '' && '@Model.MultiSingleElectrode2' != "null" && '@Model.MultiSingleElectrode2' != null) { $("#txtMultiSingleElectrode2").val('@ViewBag.MultiSingleElectrode2') }
    if ('@Model.MultiSingleElectrode3' != '' && '@Model.MultiSingleElectrode3' != "null" && '@Model.MultiSingleElectrode3' != null) { $("#txtMultiSingleElectrode3").val('@ViewBag.MultiSingleElectrode3') }
    if ('@Model.MultiSingleElectrode4' != '' && '@Model.MultiSingleElectrode4' != "null" && '@Model.MultiSingleElectrode4' != null) { $("#txtMultiSingleElectrode4").val('@ViewBag.MultiSingleElectrode4') }
    if ('@Model.SingleMultipleLayer1' != '' && '@Model.SingleMultipleLayer1' != "null" && '@Model.SingleMultipleLayer1' != null) { $("#txtSingleMultipleLayer1").val('@ViewBag.SingleMultipleLayer1') }
    if ('@Model.SingleMultipleLayer2' != '' && '@Model.SingleMultipleLayer2' != "null" && '@Model.SingleMultipleLayer2' != null) { $("#txtSingleMultipleLayer2").val('@ViewBag.SingleMultipleLayer2') }
    if ('@Model.SingleMultipleLayer3' != '' && '@Model.SingleMultipleLayer3' != "null" && '@Model.SingleMultipleLayer3' != null) { $("#txtSingleMultipleLayer3").val('@ViewBag.SingleMultipleLayer3') }
    if ('@Model.SingleMultipleLayer4' != '' && '@Model.SingleMultipleLayer4' != "null" && '@Model.SingleMultipleLayer4' != null) { $("#txtSingleMultipleLayer4").val('@ViewBag.SingleMultipleLayer4') }
    if ('@Model.StringWeaveBead1' != '' && '@Model.StringWeaveBead1' != "null" && '@Model.StringWeaveBead1' != null) { $("#txtStringWeaveBead1").val('@ViewBag.StringWeaveBead1') }
    if ('@Model.StringWeaveBead2' != '' && '@Model.StringWeaveBead2' != "null" && '@Model.StringWeaveBead2' != null) { $("#txtStringWeaveBead2").val('@ViewBag.StringWeaveBead2') }
    if ('@Model.StringWeaveBead3' != '' && '@Model.StringWeaveBead3' != "null" && '@Model.StringWeaveBead3' != null) { $("#txtStringWeaveBead3").val('@ViewBag.StringWeaveBead3') }
    if ('@Model.StringWeaveBead4' != '' && '@Model.StringWeaveBead4' != "null" && '@Model.StringWeaveBead4' != null) { $("#txtStringWeaveBead4").val('@ViewBag.StringWeaveBead4') }


    if (WP1 == false) {
        $("#WeldingProcess1,#txtMultiSingleElectrode1,#txtSingleMultipleLayer1,#txtStringWeaveBead1,#ContactTubeWorkDistance1,#ElectrodeSpacing1," +
          "#GasCupSize1,#txtOscillation1,#OscillationWidth1,#OscillationFreq1").prop("disabled", "disabled");
    }
    if (WP2 == false) {
        $("#WeldingProcess2,#txtMultiSingleElectrode2,#txtSingleMultipleLayer2,#txtStringWeaveBead2,#ContactTubeWorkDistance2,#ElectrodeSpacing2," +
          "#GasCupSize2,#txtOscillation2,#OscillationWidth2,#OscillationFreq2").prop("disabled", "disabled");
    }
    if (WP3 == false) {
        $("#WeldingProcess3,#txtMultiSingleElectrode3,#txtSingleMultipleLayer3,#txtStringWeaveBead3,#ContactTubeWorkDistance3,#ElectrodeSpacing3," +
          "#GasCupSize3,#txtOscillation3,#OscillationWidth3,#OscillationFreq3").prop("disabled", "disabled");
    }
    if (WP4 == false) {
        $("#WeldingProcess4,#txtMultiSingleElectrode4,#txtSingleMultipleLayer4,#txtStringWeaveBead4,#ContactTubeWorkDistance4,#ElectrodeSpacing4," +
          "#GasCupSize4,#txtOscillation4,#OscillationWidth4,#OscillationFreq4").prop("disabled", "disabled");
    }
</script>
<script>

    var lstOscillation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Oscillation))));

    LoadAutoComplete($("#txtOscillation1"), lstOscillation, $("#Oscillation1"), true);
    LoadAutoComplete($("#txtOscillation2"), lstOscillation, $("#Oscillation2"), true);
    LoadAutoComplete($("#txtOscillation3"), lstOscillation, $("#Oscillation3"), true);
    LoadAutoComplete($("#txtOscillation4"), lstOscillation, $("#Oscillation4"), true);


    if ('@Model.Oscillation1' != '' && '@Model.Oscillation1' != "null" && '@Model.Oscillation1' != null) { $("#txtOscillation1").val('@ViewBag.Oscillation1') }
    if ('@Model.Oscillation2' != '' && '@Model.Oscillation2' != "null" && '@Model.Oscillation2' != null) { $("#txtOscillation2").val('@ViewBag.Oscillation2') }
    if ('@Model.Oscillation3' != '' && '@Model.Oscillation3' != "null" && '@Model.Oscillation3' != null) { $("#txtOscillation3").val('@ViewBag.Oscillation3') }
    if ('@Model.Oscillation4' != '' && '@Model.Oscillation4' != "null" && '@Model.Oscillation4' != null) { $("#txtOscillation4").val('@ViewBag.Oscillation4') }

</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmOverLayF4" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Technique (QW-410)</legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Welding Process
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Welding Process1</label>*@
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Welding Process2</label>*@
                            @Html.TextBoxFor(m => m.WeldingProcess2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Welding Process3</label>*@
                            @Html.TextBoxFor(m => m.WeldingProcess3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Welding Process4</label>*@
                            @Html.TextBoxFor(m => m.WeldingProcess4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Multi/SingleElectrode<span class="required"> * </span>
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Multi/SingleElectrode: 1</label>*@
                            <input type="text" id="txtMultiSingleElectrode1" name="txtMultiSingleElectrode1" class="DistMultiSingleElectrode form-control col-md-3" />
                            @Html.HiddenFor(m => m.MultiSingleElectrode1)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Multi/SingleElectrode:2</label>*@
                            <input type="text" id="txtMultiSingleElectrode2" name="txtMultiSingleElectrode2" class="DistMultiSingleElectrode form-control col-md-3" />
                            @Html.HiddenFor(m => m.MultiSingleElectrode2)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Multi/SingleElectrode:3</label>*@
                            <input type="text" id="txtMultiSingleElectrode3" name="txtMultiSingleElectrode3" class="DistMultiSingleElectrode form-control col-md-3" />
                            @Html.HiddenFor(m => m.MultiSingleElectrode3)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Multi/SingleElectrode:4</label>*@
                            <input type="text" id="txtMultiSingleElectrode4" name="txtMultiSingleElectrode4" class="DistMultiSingleElectrode form-control col-md-3" />
                            @Html.HiddenFor(m => m.MultiSingleElectrode4)
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Single/Multiple Layer<span class="required"> * </span>
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Single/Multiple Layer: 1</label>*@
                            <input type="text" id="txtSingleMultipleLayer1" name="txtSingleMultipleLayer1" class="DistSingleMultipleLayer form-control col-md-3" />
                            @Html.HiddenFor(m => m.SingleMultipleLayer1)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Single/Multiple Layer: 2</label>*@
                            <input type="text" id="txtSingleMultipleLayer2" name="txtSingleMultipleLayer2" class="DistSingleMultipleLayer form-control col-md-3" />
                            @Html.HiddenFor(m => m.SingleMultipleLayer2)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Single/Multiple Layer: 3</label>*@
                            <input type="text" id="txtSingleMultipleLayer3" name="txtSingleMultipleLayer3" class="DistSingleMultipleLayer form-control col-md-3" />
                            @Html.HiddenFor(m => m.SingleMultipleLayer3)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Single/Multiple Layer: 4</label>*@
                            <input type="text" id="txtSingleMultipleLayer4" name="txtSingleMultipleLayer4" class="DistSingleMultipleLayer form-control col-md-3" />
                            @Html.HiddenFor(m => m.SingleMultipleLayer4)
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            String/Weave Bead<span class="required"> * </span>
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">String/Weave Bead: 1</label>*@
                            <input type="text" id="txtStringWeaveBead1" name="txtStringWeaveBead1" class="DistStringWeaveBead form-control col-md-3" />
                            @Html.HiddenFor(m => m.StringWeaveBead1)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">String/Weave Bead: 2</label>*@
                            <input type="text" id="txtStringWeaveBead2" name="txtStringWeaveBead2" class="DistStringWeaveBead form-control col-md-3" />
                            @Html.HiddenFor(m => m.StringWeaveBead2)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">String/Weave Bead: 3</label>*@
                            <input type="text" id="txtStringWeaveBead3" name="txtStringWeaveBead3" class="DistStringWeaveBead form-control col-md-3" />
                            @Html.HiddenFor(m => m.StringWeaveBead3)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">String/Weave Bead: 4</label>*@
                            <input type="text" id="txtStringWeaveBead4" name="txtStringWeaveBead4" class="DistStringWeaveBead form-control col-md-3" />
                            @Html.HiddenFor(m => m.StringWeaveBead4)
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            ContactTube#WorkDistance(mm)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">ContactTube#WorkDistance(mm): 1</label>*@
                            @Html.TextBoxFor(m => m.ContactTubeWorkDistance1, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">ContactTube#WorkDistance(mm): 2</label>*@
                            @Html.TextBoxFor(m => m.ContactTubeWorkDistance2, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">ContactTube#WorkDistance(mm): 3</label>*@
                            @Html.TextBoxFor(m => m.ContactTubeWorkDistance3, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">ContactTube#WorkDistance(mm): 4</label>*@
                            @Html.TextBoxFor(m => m.ContactTubeWorkDistance4, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Electrode Spacing(mm)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Electrode Spacing(mm):1</label>*@
                            @Html.TextBoxFor(m => m.ElectrodeSpacing1, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Electrode Spacing(mm):2</label>*@
                            @Html.TextBoxFor(m => m.ElectrodeSpacing2, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Electrode Spacing(mm):3</label>*@
                            @Html.TextBoxFor(m => m.ElectrodeSpacing3, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Electrode Spacing(mm):4</label>*@
                            @Html.TextBoxFor(m => m.ElectrodeSpacing4, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Gas Cup Size(mm)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Gas Cup Size(mm):1</label>*@
                            @Html.TextBoxFor(m => m.GasCupSize1, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Gas Cup Size(mm):2</label>*@
                            @Html.TextBoxFor(m => m.GasCupSize2, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Gas Cup Size(mm):3</label>*@
                            @Html.TextBoxFor(m => m.GasCupSize3, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Gas Cup Size(mm):4</label>*@
                            @Html.TextBoxFor(m => m.GasCupSize4, new { @class = "form-control col-md-3", @maxlength = "8" })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Oscillation<span class="required"> * </span>
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation:1</label>*@
                            <input type="text" id="txtOscillation1" name="txtOscillation1" class="DistOscillation form-control col-md-3" />
                            @Html.HiddenFor(m => m.Oscillation1)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation:2</label>*@
                            <input type="text" id="txtOscillation2" name="txtOscillation2" class="DistOscillation form-control col-md-3" />
                            @Html.HiddenFor(m => m.Oscillation2)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation:3</label>*@
                            <input type="text" id="txtOscillation3" name="txtOscillation3" class="DistOscillation form-control col-md-3" />
                            @Html.HiddenFor(m => m.Oscillation3)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation:4</label>*@
                            <input type="text" id="txtOscillation4" name="txtOscillation4" class="DistOscillation form-control col-md-3" />
                            @Html.HiddenFor(m => m.Oscillation4)
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Oscillation Width(mm)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Width(mm):1</label>*@
                            @Html.TextBoxFor(m => m.OscillationWidth1, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Width(mm):2</label>*@
                            @Html.TextBoxFor(m => m.OscillationWidth2, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Width(mm):3</label>*@
                            @Html.TextBoxFor(m => m.OscillationWidth3, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Width(mm):4</label>*@
                            @Html.TextBoxFor(m => m.OscillationWidth4, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="col-md-3">
                            Oscillation Freq.(CPM)
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Freq.(CPM):1</label>*@
                            @Html.TextBoxFor(m => m.OscillationFreq1, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Freq.(CPM):2</label>*@
                            @Html.TextBoxFor(m => m.OscillationFreq2, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Freq.(CPM):3</label>*@
                            @Html.TextBoxFor(m => m.OscillationFreq3, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                        <div class="col-md-2">
                            @*<label class="control-label">Oscillation Freq.(CPM):4</label>*@
                            @Html.TextBoxFor(m => m.OscillationFreq4, new { @class = "form-control col-md-3", @maxlength = "15" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

