﻿@model IEMQSImplementation.PRO100
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<style>
    .tblNotes.noborder td {
        border: none;
        padding-left: 10px !important;
    }

    .width150px {
        width: 150px;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50" ,@role="QC"})
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title" style="text-align:left">HARDNESS TESTING EQUIPMENT DETAILS:</td>
                                        <td >@Html.TextBoxFor(model => model.HardnessTestingEquipmentDetails, new { @class = "form-control ", @maxlength = "50", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title" style="text-align:left">INSPECTION CERTIFICATE NO:</td>
                                        <td >@Html.TextBoxFor(model => model.InspectionCertificateNo, new { @class = "form-control ", @maxlength = "50", @role = "QC" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1">
                                    <div class="portlet-title">

                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">GridId</th>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">SEAM NO</th>
                                                    <th class="all">POINT </th>
                                                    <th class="all">LOCATION</th>
                                                    <th class="all">Reading1 </th>
                                                    <th class="all">Reading2 </th>
                                                    <th class="all">Reading3 </th>
                                                    <th class="all">Reading4</th>
                                                    <th class="all">Reading5</th>
                                                    <th class="all">AVERAGE</th>
                                                    <th class="all">Remarks</th>
                                                    <th class="all">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col-md-12" style="height:10px" ;></div>
                                <div class="col-md-12" style="text-align:left" ;>
                                    
                                                ALL THE HARDNESS VALUES ARE IN BHN
                                           
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();

        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });


        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    $("#btnSave").click(function () {
           @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
           {
               <text>$('[role="PROD"]').prop("required", true);</text>
           }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
           {
               <text>$('[role="QC"]').prop("required", true);</text>
           }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center width150px",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center width150px",
                    "name": "Point",
                },
                {
                    "sClass": "center width150px",
                    "name": "Location",
                },
                {
                    "sClass": "center width150px",
                    "name": "Reading1",
                },
                {
                    "sClass": "center width150px",
                    "name": "Reading2",
                },
                {
                    "sClass": "center width150px",
                    "name": "Reading3",
                },
                {
                    "sClass": "center width150px",
                    "name": "Reading4",
                },
                {
                    "sClass": "center width150px",
                    "name": "Reading5",
                },
                {
                    "sClass": "center width150px",
                    "bSortable": false,
                },
                {
                    "sClass": "center width150px",
                    "name": "Remarks",
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }
    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

</script>
