﻿@using IEMQSImplementation
@model IEMQSImplementation.WCS003

@{
    ViewBag.Title = "Maintain Equipment - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
    }


    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Equipment
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHeader", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId);
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">BU<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBox("txtBU", (string)ViewBag.BU, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.BU)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Location<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBox("txtLocation", (string)@ViewBag.LocationDesc, new { @class = "form-control", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.Location)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Equipment<span class="required">*</span></label>
                                        @Html.TextBox("txtEquipment", Model.Equipment, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.Equipment)
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Equipment Sub Category</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.EquipmentSubCategory, new { @class = "form-control", @maxLength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Process Licensor</label>
                                        @Html.TextBox("txtProcessLicensor", Model.ProcessLicensor, new { @class = "form-control" })
                                        @Html.HiddenFor(m => m.ProcessLicensor)
                                    </div>
                                    <div class="col-md-3" style="margin-top:5px;">
                                        <br />
                                        <button class="btn icons" title="Copy" type="button" id="btnCopy"><i class="fa fa-files-o"></i></button>
                                        <button class="btn save" type="button" id="btnSaveHeader">Save</button>                                        
                                        <a style="margin-right:5px;" id="btnClose" class="btn btnclose">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="dvLine">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadPageDefaultData();
        InitializeFormValidation();
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        $("#btnSaveHeader").click(function () {
            if ($("#frmHeader").valid()) {
                SaveHeader();
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnCopy").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WCS/EquipmentMaster/LoadCopyDataPartial",
                datatype: 'html',
                async: false,
                success: function (result) {
                    bootbox.dialog({
                        title: 'Copy to',
                        message: result,
                        buttons: {
                            'confirm': {
                                label: 'Copy',
                                className: 'btn save',
                                callback: function () {
                                    if ($("#frmCopy").valid()) {
                                        CopyData();
                                        return false;
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });

        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + '/WCS/EquipmentMaster/index';
        });

        if ('@Model.HeaderId' == 0) {
            $(".dvLine").hide();
            $("#btnCopy").hide();
        }
        else {
            $("#txtBU").attr("readonly", "readonly");
            LoadLineDataGridPartial();
        }
    });

    function LoadPageDefaultData() {
        if ('@Model.HeaderId' == 0) {
            var lstBU = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.BUList))));
            FillAutoComplete($("#txtBU"), lstBU, $("#BU"));
        }

        var paramList = [];
        paramList.push({ id: "BU", value: $("#BU") });
        paramList.push({ id: "Location", value: $("#Location") });
        FillAutoCompleteUsingAjax($("#txtEquipment"), "/WCS/EquipmentMaster/GetEquipment", $("#Equipment"), false, paramList);
        FillAutoCompleteUsingAjax($("#txtProcessLicensor"), "/WCS/EquipmentMaster/GetProcessLicensor", $("#ProcessLicensor"), false, paramList);
    }

    function InitializeFormValidation() {
        $('#frmHeader').validate({
            rules: {
                "txtBU": {
                    required: true
                },
                "txtLocation": {
                    required: true
                },
                "txtEquipment": {
                    required: true
                }
            },
            messages: {
                "txtBU": {
                    required: "BU is required"
                },
                "txtLocation": {
                    required: "Location is required"
                },
                "txtEquipment": {
                    required: "Equipment is required"
                }
            }
        });
    }

    function LoadLineDataGridPartial() {
        $("#dvLine").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WCS/EquipmentMaster/LoadLineDataGridPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderId: $("#HeaderId").val() },
            success: function (result) {
                $("#dvLine").html(result);
            },
            error: function () {
            }
        });
    }

    function SaveHeader() {
        var formData = new FormData();
        var frmValues = $('#frmHeader').serializeArray();
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + '/WCS/EquipmentMaster/SaveHeader',
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#HeaderId").val(data.HeaderId);
                    $("#btnCopy").show();
                    $("#txtBU").attr("readonly", "readonly");
                    LoadLineDataGridPartial();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
                $('#tblHeader').DataTable().ajax.reload();
            }
        });
    }

    function CopyData() {
        var formData = new FormData();
        var frmValues = $('#frmCopy').serializeArray();
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });

        formData.append("HeaderId", $("#HeaderId").val());

        $.ajax({
            type: 'POST',
            url: WebsiteURL + '/WCS/EquipmentMaster/CopyData',
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    bootbox.hideAll();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
</script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

