﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }
    .cslaction {
        width:80px;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @*@{
                string strCTQTitle = ViewBag.Status + " Fixture";
            }
            @strCTQTitle*@
            Projects
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/MaintainFXR/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFXRHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Document</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Product</th>
                    <th class="min-phone-l">Rev.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">CDD</th>
                    <th class="none">Created By</th>
                    <th class="none">Created On</th>
                    <th class="none">Edited By</th>
                    <th class="none">Edited On</th>
                    <th class="min-phone-l">Submitted By</th>
                    <th class="min-phone-l">Submitted On</th> 
                    <th class="none">Approved By</th>
                    <th class="none">Approved On</th>
                    <th class="none">Remarks</th>
                    <th class="min-phone-l" style="min-width:80px;">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblFXRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLN/MaintainFXR/LoadFixtureHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "Project",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Document",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Customer",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Product",
                    "bSortable": true,
                    "sClass": "scenter",
                },
                {
                    "name": "RevNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric",
                },
                {
                    "name": "Status",
                    "bSortable": true,
                     "sClass": "center"
                 },
                {
                    "name": "CDD",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "CreatedBy",
                    "bSortable": true,
                     "sClass": "center",

                 },
                {
                    "name": "CreatedOn",
                    "bSortable": true,
                     "sClass": "scenter",

                 },
                {
                    "name": "EditedBy",
                    "bSortable": true,
                     "sClass": "center",

                 },
                {
                    "name": "EditedOn",
                    "bSortable": true,
                     "sClass": "scenter",
                 },
                {
                    "name": "SubmittedBy",
                    "bSortable": true,
                     "sClass": "center",

                },
                {
                    "name": "SubmittedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date",
                },
                {
                    "name": "ApprovedBy",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "ApprovedOn",
                    "bSortable": true,
                     "sClass": "center",

                 },
                {
                    "name": "ReturnRemark",
                    "bSortable": true,
                     "sClass": "scenter",
                 },
                {
                     "bSortable": false,
                     "sClass": "scenter cslaction",                     
                 },
            ]
        });
        table.dtSearchFilter();
    });

    function ViewHistoryData(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainFXR/GetHistoryDetails",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Fixture History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function ViewProjectSummary(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainFXR/GetProjectSummary",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Summary of fixture',
                    message: result,
                    size: 'large',                    
                });
            },
            error: function () {
            }
        });
    }

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'Fixture Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/Fixture/Fixture Report";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
</script>


