﻿@using IEMQSImplementation


@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmAttahment", @enctype = "multipart/form-data" }))
{
    <input type="hidden" id="LineId" name="ChecklistId" value="@ViewBag.LineId" />
    <div class="form-group">
        <div class="=row">
            <div class="col-md-12">
                @Html.Partial("_AttachmentPartial")
            </div>
        </div>

    </div>
}
<script>
    if ('@ViewBag.LineId' > 0) {
        if ('@ViewBag.ForApprover' == "history") {
            setAttachmentsInHeader("FXR002/" + @(ViewBag.RevNo) + "/" + "@(ViewBag.LineId)", true);
            $('#btnAttach').hide();
        }
        else {
            setAttachmentsInHeader("FXR002/" + @(ViewBag.RevNo) + "/" + "@(ViewBag.LineId)");
        }

        @*var isApprover = '@ViewBag.ForApprover';
        var status = '@ViewBag.Status';
        if (isApprover.toLocaleLowerCase() == "true" || status.toLocaleLowerCase() == "sent for approval") {
            setAttachmentsInHeader("FXR002/@(Model.LineId)", true);
            $('#btnAttach').hide();
        }
        else
        {
            setAttachmentsInHeader("FXR002/@(Model.LineId)");
        }*@
    }

    $("#btnCancel").click(function () {
        console.log("called");
        bootbox.hideAll();
    });

</script>