﻿@using IEMQSImplementation
@model PCL001_Log

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            History for Document @Model.Document
        </div>
        <div class="tools" id="dvExporthistoryHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLC/MaintainHistoryCheckList/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExporthistoryHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPCLHistoryHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Document</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Process Licensor</th>
                    <th class="min-phone-l">Product Type</th>
                    <th class="min-phone-l">EquipmentNo</th>
                    <th class="min-phone-l">Rev No.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Submitted By</th>
                    <th class="min-phone-l">Submitted On</th>
                    <th class="min-phone-l">Approved By</th>
                    <th class="min-phone-l">Approved On</th>

                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="hidden">
    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
    @Html.HiddenFor(m => m.Id)
</div>
<script>

    $(document).ready(function () {
        var table = $('#tblPCLHistoryHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLC/MaintainHistoryCheckList/LoadPCLHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                         { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            );
            },
            "aaSorting": [[2, 'asc']],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExporthistoryHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExporthistoryHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "sClass": "center",
                    "name": "Project",
                },
                {
                    //   "bSortable": false,
                    "sClass": "center",
                    "name": "Document",
                },
                {
                    "name": "Customer",
                    "sClass": "center"
                },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "name": "ProductType",
                    "sClass": "center"
                },
                {
                    "name": "EquipmentNo",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "center"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                  {
                      "name": "SubmittedBy",
                      "sClass": "center"
                  },
                {
                    "name": "SubmittedOn",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedBy",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedOn",
                    "sClass": "center"
                },


                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    buttons = '<center><a class="btn btn-xs"   href="/PLC/MaintainCheckList/AddHeader?HeaderId=' + row[8] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //    return buttons;
                    //}
                },

            ]
        });

    });

  

</script>