﻿
@using IEMQSImplementation
@model PCL039_Log

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script>
    $(document).ready(function () {
        $('div.fdControls :input').attr('disabled', true);

        var strHeader = '@ViewBag.HeaderId';
        $("#txtRRFixtureHeader").val(strHeader);
    });
</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmRRFixtureRqmnt", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(m => m.HeaderId, new { id = "txtRRFixtureHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtRRFixtureLine" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Fixture requirement
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblFixtureRequirment">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">#</th>
                                    <th class="numeric" style="width: 20%;">Description</th>
                                    <th class="numeric" style="width: 15%;">Required Date</th>
                                    <th class="numeric">No. of fixture</th>
                                    <th class="numeric">Available Quantity</th>
                                    <th class="numeric">Drawing </th>
                                    <th class="numeric">Material</th>
                                    <th class="numeric">Fabrication</th>
                                    <th class="numeric">Delivery to shop</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    <td class="numeric">Template for Rolling (3-6 thk plate)</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TempRollReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">Gasket face Protection Cover</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.GasketCoverReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">3</td>
                                    <td class="numeric">Spider for Shell/D&apos;end</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SpiderReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric"> Fixture for Shell segment turning</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixtureShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureShellDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">Die – Punch for D &apos; end forming</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DiePunchReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DiePunchNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DiePunchAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DiePunchDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DiePunchMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DiePunchFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DiePunchDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">6</td>
                                    <td class="numeric">Square bar for D &apos; end template</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SquareBarReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SquareBarNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SquareBarAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SquareBarDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SquareBarMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SquareBarFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SquareBarDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">7</td>
                                    <td class="numeric">Pre-heating arrangement ( Burners)</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PreHeatReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">8</td>
                                    <td class="numeric">Fixture for Cyclone assembly </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixCycReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixCycNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixCycAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixCycMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixCycFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixCycDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">Fixture for Internal Installation (like Dipleg) </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixInstReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixInstNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixInstAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixInstMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixInstFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixInstDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric"> Evener Beam for Job Handling </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.EvenerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">11</td>
                                    <td class="numeric">External ring for ovality correction (For Ancillary piping)</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ExtRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">12</td>
                                    <td class="numeric">Fixture for PWHT(Support stools)</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixPWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixPWHTDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">13</td>
                                    <td class="numeric">Saddle for PWHT</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SaddlePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">14</td>
                                    <td class="numeric">Saddle for Hydrotest</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SaddleHydroReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddleHydroDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">15</td>
                                    <td class="numeric">LSR furnace</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LSRFurnaceReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRFurnaceDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">16</td>
                                    <td class="numeric">LSR rings</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LSRRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRRingNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRRingAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRRingDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRRingMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRRingFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LSRRingDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">17</td>
                                    <td class="numeric">Baffle plates for Refractory Dryout using internal firing</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.BaffleReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BaffleNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BaffleAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BaffleDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BaffleMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BaffleFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.BaffleDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">18</td>
                                    <td class="numeric">Plate for Trunnions</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PlateTrunReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateTrunDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">19</td>
                                    <td class="numeric">Plates for Lugs</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PlateLugsReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateLugsDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">20</td>
                                    <td class="numeric"> Pin Guages for Bar Stock nozzle checking </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PinGaugesReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PinGaugesNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PinGaugesAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PinGaugesDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PinGaugesMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PinGaugesFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PinGaugesDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">21</td>
                                    <td class="numeric">Plates for Load spreading for Crane movement </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PlateCraneReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateCraneDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">22</td>
                                    <td class="numeric">Plates for load spreading during Hydrotest </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PlateHydroReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlateHydroDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">23</td>
                                    <td class="numeric"> Support fixtures for Vibrocasting </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SupFixReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SupFixNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SupFixAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SupFixDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SupFixMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SupFixFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SupFixDel, new { @class = "form-control" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">24</td>
                                    <td class="numeric">Platforms for Vibrocasting  </td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PlatformVibReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlatformVibNoFix, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlatformVibAvlQty, new { @class = "form-control", onkeypress = "return isNumber(event)" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlatformVibDrg, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlatformVibMtrl, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlatformVibFab, new { @class = "form-control" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PlatformVibDel, new { @class = "form-control" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblFixtureRequirment"));
        }, 500);
    });
</script>
