﻿
@using IEMQSImplementation
@model PCL011_Log

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script>
   
    $(document).ready(function () {
      $('div.fdControls :input').attr('disabled', true);
           
        var strHeader = '@ViewBag.HeaderId';
        $("#txtUreaFixtureHeader").val(strHeader);
    });

  
</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUreaFixtureRqmnt", @class = "form-horizontal" }))
        {
        @Html.HiddenFor(m => Model.HeaderId, new { id = "txtUreaFixtureHeader" })
        @Html.HiddenFor(m => Model.LineId, new { id = "txtUreaFixtureLine" })
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Fixture requirement
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblFixtureRequirment">
                    <thead class="flip-content" style="padding: 8px;">
                        <tr>
                            <th class="numeric">#</th>
                            <th class="numeric" style="width: 20%;">Description</th>
                            <th class="numeric">Required ?</th>
                            <th class="numeric" style="width: 15%;">Required Date</th>
                            <th class="numeric">No. of fixture</th>
                            <th class="numeric">Available<br /> Quantity</th>
                            <th class="numeric">Drawing </th>
                            <th class="numeric">Material</th>
                            <th class="numeric">Fabrication</th>
                            <th class="numeric">Delivery to shop</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="numeric">1</td>
                            <td class="numeric">Template for Rolling (External Pressure)</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TempRollExternalReq"> @Html.CheckBox("TempRollExternalReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.TempRollExternalReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollExternalNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollExternalAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollExternalDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollExternalFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollExternalMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollExternalDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">2</td>
                            <td class="numeric">	Template for Rolling (3-6 thk plate)</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TempRollPlateReq"> @Html.CheckBox("TempRollPlateReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.TempRollPlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollPlateNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollPlateAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollPlateDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollPlateFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollPlateMtrl, new { @class = "form-control" })</td>

                            <td class="numeric">@Html.TextBoxFor(m => Model.TempRollPlateDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">3	</td>
                            <td class="numeric">Gasket face Protection Cover</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="GasketCoverReq"> @Html.CheckBox("GasketCoverReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.GasketCoverReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.GasketCoverNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.GasketCoverAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.GasketCoverDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.GasketCoverFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.GasketCoverMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.GasketCoverDel, new { @class = "form-control" })</td>

                        </tr>
                        <tr>
                            <td class="numeric">4</td>
                            <td class="numeric">	Run-in/Run-out plate</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RunInRunOutPlateReq"> @Html.CheckBox("RunInRunOutPlateReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.RunInRunOutPlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RunInRunOutPlateNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RunInRunOutPlateAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RunInRunOutPlateDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RunInRunOutPlateFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RunInRunOutPlateMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RunInRunOutPlateDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">5</td>
                            <td class="numeric">	Spider for Shell</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderShellReq"> @Html.CheckBox("SpiderShellReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.SpiderShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderShellNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderShellAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderShellDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderShellFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderShellMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderShellDel, new { @class = "form-control" })</td>
                        </tr>

                        <tr>
                            <td class="numeric">6	</td>
                            <td class="numeric">Wrapper plate for Skirt</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WrapperPlateSkirtReq"> @Html.CheckBox("WrapperPlateSkirtReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.WrapperPlateSkirtReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WrapperPlateSkirtNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WrapperPlateSkirtAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WrapperPlateSkirtDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WrapperPlateSkirtFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WrapperPlateSkirtMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WrapperPlateSkirtDel, new { @class = "form-control" })</td>

                        </tr>
                        <tr>
                            <td class="numeric">7	</td>
                            <td class="numeric">Counter Weight</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CounterWeightReq"> @Html.CheckBox("CounterWeightReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.CounterWeightReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CounterWeightNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CounterWeightAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CounterWeightDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CounterWeightFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CounterWeightMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CounterWeightDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">8	</td>
                            <td class="numeric">Fixture for loading d ’end on Positioner</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixturePositionerReq"> @Html.CheckBox("FixturePositionerReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.FixturePositionerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePositionerNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePositionerAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePositionerDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePositionerFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePositionerMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePositionerDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">9</td>
                            <td class="numeric">	Spider for Nozzle welding</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderforNozzReq"> @Html.CheckBox("SpiderforNozzReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.SpiderforNozzReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderforNozzNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderforNozzAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderforNozzDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderforNozzFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderforNozzMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderforNozzDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">10</td>
                            <td class="numeric"> Saddle for PWHT</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlePWHTReq"> @Html.CheckBox("SaddlePWHTReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.SaddlePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SaddlePWHTNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SaddlePWHTAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SaddlePWHTDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SaddlePWHTFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SaddlePWHTMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SaddlePWHTDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">11	</td>
                            <td class="numeric"> Fixture for chip back grinding and welding of D’end</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtureChipBackReq"> @Html.CheckBox("FixtureChipBackReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.FixtureChipBackReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtureChipBackNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtureChipBackAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtureChipBackDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtureChipBackFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtureChipBackMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtureChipBackDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">12	</td>
                            <td class="numeric"> Spider for D’end </td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderDEndReq"> @Html.CheckBox("SpiderDEndReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.SpiderDEndReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderDEndNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderDEndAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderDEndDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderDEndFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderDEndMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SpiderDEndDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">13</td>
                            <td class="numeric">	 C-Clamp for Shell turning</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CClampReq"> @Html.CheckBox("CClampReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.CClampReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CClampNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CClampAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CClampDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CClampFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CClampMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.CClampDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">14 </td>
                            <td class="numeric">Fixture for Internal Installation</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtInternalInstalReq"> @Html.CheckBox("FixtInternalInstalReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.FixtInternalInstalReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtInternalInstalNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtInternalInstalAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtInternalInstalDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtInternalInstalFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtInternalInstalMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixtInternalInstalDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">15</td>
                            <td class="numeric">	 Dummy shell for head profile machining</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellHeadReq"> @Html.CheckBox("DummyShellHeadReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.DummyShellHeadReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellHeadNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellHeadAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellHeadDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellHeadFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellHeadMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellHeadDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">16</td>
                            <td class="numeric">	Shell  Liner set up fixture</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLinerReq"> @Html.CheckBox("ShellLinerReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.ShellLinerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ShellLinerNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ShellLinerAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ShellLinerDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ShellLinerFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ShellLinerMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ShellLinerDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">17</td>
                            <td class="numeric">Head liner set up fixture</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeadLinerReq"> @Html.CheckBox("HeadLinerReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.HeadLinerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeadLinerNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeadLinerAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeadLinerDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeadLinerFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeadLinerMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeadLinerDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">18	</td>
                            <td class="numeric"> Locking fixture for bracket fabrication</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LockingFixBracketReq"> @Html.CheckBox("LockingFixBracketReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.LockingFixBracketReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixBracketNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixBracketAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixBracketDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixBracketFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixBracketMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixBracketDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">19 </td>
                            <td class="numeric">Dummy shell for Shell rotation</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellRotationReq"> @Html.CheckBox("DummyShellRotationReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.DummyShellRotationReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellRotationNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellRotationAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellRotationDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellRotationFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellRotationMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.DummyShellRotationDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">20</td>
                            <td class="numeric">	Locking fixture for Manway cover liner welding</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LockingFixManwayReq"> @Html.CheckBox("LockingFixManwayReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.LockingFixManwayReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixManwayNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixManwayAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixManwayDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixManwayFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixManwayMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.LockingFixManwayDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">21	</td>
                            <td class="numeric">External ring for ovality correction</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ExtRingReq"> @Html.CheckBox("ExtRingReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.ExtRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ExtRingNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ExtRingAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ExtRingDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ExtRingFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ExtRingMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ExtRingDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">22	</td>
                            <td class="numeric">Pre-heating arrangement</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PreHeatiArrgReq"> @Html.CheckBox("PreHeatiArrgReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.PreHeatiArrgReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.PreHeatiArrgNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.PreHeatiArrgAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.PreHeatiArrgDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.PreHeatiArrgFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.PreHeatiArrgMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.PreHeatiArrgDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">23	</td>
                            <td class="numeric">Fixture for PWHT</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixturePWHTReq"> @Html.CheckBox("FixturePWHTReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.FixturePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePWHTNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePWHTAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePWHTDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePWHTFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePWHTMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.FixturePWHTDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">24	</td>
                            <td class="numeric">Closing  Chip back welding</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ClosChipReq"> @Html.CheckBox("ClosChipReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.ClosChipReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ClosChipNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ClosChipAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ClosChipDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ClosChipFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ClosChipMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.ClosChipDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">25	</td>
                            <td class="numeric">Sleeve for stud tensioning (>=2 ¼”)</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SleeveStudReq"> @Html.CheckBox("SleeveStudReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.SleeveStudReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SleeveStudNoFix, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SleeveStudAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SleeveStudDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SleeveStudFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SleeveStudMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.SleeveStudDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">26	</td>
                            <td class="numeric">Evener Beam for Job Handling</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EvenerBeamReq"> @Html.CheckBox("EvenerBeamReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.EvenerBeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.EvenerBeamNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.EvenerBeamAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.EvenerBeamDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.EvenerBeamFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.EvenerBeamMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.EvenerBeamDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">27</td>
                            <td class="numeric">	Weep tube air test fixture</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeepTubeReq"> @Html.CheckBox("WeepTubeReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.WeepTubeReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WeepTubeNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WeepTubeAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WeepTubeDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WeepTubeFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WeepTubeMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.WeepTubeDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">28	</td>
                            <td class="numeric">Helium leak test arrangements</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumLeakReq"> @Html.CheckBox("HeliumLeakReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.HeliumLeakReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeliumLeakNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeliumLeakAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeliumLeakDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeliumLeakFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeliumLeakMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.HeliumLeakDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">29</td>
                            <td class="numeric">	Angular nozzle ID & GF machining fixture</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AngularNozReq"> @Html.CheckBox("AngularNozReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.AngularNozReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.AngularNozNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.AngularNozAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.AngularNozDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.AngularNozFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.AngularNozMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.AngularNozDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">30 </td>
                            <td class="numeric">Rotation Ring</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RotationRingReq"> @Html.CheckBox("RotationRingReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.RotationRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RotationRingNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RotationRingAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RotationRingDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RotationRingFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RotationRingMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.RotationRingDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">31	</td>
                            <td class="numeric">Nozzle/MW liner OD machining fixture</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMWReq"> @Html.CheckBox("NozMWReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.NozMWReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.NozMWNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.NozMWAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.NozMWDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.NozMWFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.NozMWMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.NozMWDel, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td class="numeric">32	</td>
                            <td class="numeric">Taper block for weep hole drilling</td>
                            <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TaperBlockReq"> @Html.CheckBox("TaperBlockReq", new { })<span></span></label></td>
                            <td class="min-phone-l">
                                <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => Model.TaperBlockReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TaperBlockNoFix, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TaperBlockAvlQty, new { onkeypress = "return isNumber(event)", @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TaperBlockDrg, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TaperBlockFab, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TaperBlockMtrl, new { @class = "form-control" })</td>
                            <td class="numeric">@Html.TextBoxFor(m => Model.TaperBlockDel, new { @class = "form-control" })</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        }
            
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblFixtureRequirment"));
        }, 500);
    });
</script>