﻿@model IEMQSImplementation.PRL455
@using IEMQSImplementation
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }

    .w150px {
        width: 150px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td> @ViewBag.ProjectDesc</td>
                                            <td class="subtitle"> SEAM NO.</td>
                                            <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        <tr>
                                            @*<td class="subtitle"> DRG.NO.& REV.NO.</td>
                            <td>
                                <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select", @maxlength = "100" })</span>
                                <span> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                            </td>*@
                                            <td class="subtitle">INSPECTION AGENCY</td>
                                            <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                            <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                        </tr>
                                        <tr>

                                            <td class="subtitle">MANUFACTURING CODE</td>
                                            <td>@ViewBag.ManufacturingCode</td>
                                        </tr>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tbody>
                                            <tr>
                                                <td>Part Description</td>
                                                <td>@Html.TextBoxFor(model => model.PartDescription, new { @class = "form-control ", @maxlength = "20", @role = "QC" })</td>
                                                <td>Item No</td>
                                                <td>@Html.TextBoxFor(model => model.ItemNo, new { @class = "form-control ", @maxlength = "20", @role = "QC" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong></strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="text-center">DRG.NO.</th>
                                                            <th class="text-center w150px">REV.NO.</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag._lstPRL456 != null)
                                                        {
                                                            foreach (var item in ViewBag._lstPRL456 as List<PRL456>)
                                                            {
                                                        <tr>
                                                            <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                            <td class="DrgNo">@Html.TextBox("DrgNo_1_" + @s1, item.DrgNo, new { @class = "form-control EditableTextColor", @maxlength = "100", @role = "QC" })</td>
                                                            <td class="RevNo">@Html.TextBox("RevNo_1_" + @s1, item.RevNo, new { @class = "form-control NonEditableTextColor onlyNumeric w150px", @maxlength = "10", @role = "QC" })</td>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                            }
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption" style="">
                                                <span style="float:left; ">
                                                    <strong>

                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines" style="">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse1" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines2">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>SR NO.</th>
                                                            <th>DESCRIPTION</th>
                                                            <th>REQUIRED  DIMENSION</th>
                                                            <th>ACTUAL DIMENSION</th>
                                                            <th>REMARKS</th>
                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th colspan="7" class="text-center">Flange Machining </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag._lstPRL457 != null)
                                                        {
                                                            foreach (var item in ViewBag._lstPRL457 as List<PRL457>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SrNo"><label id="SrNo_2_@s2" name="SrNo_2_@s2">@item.SrNo</label></td>
                                                                    <td class="Description"> @Html.TextBox("Description_2_" + @s2, @item.Description, new { @class = "form-control width125px", @maxlength = "50", @role = "QC", @tabindex = "-1" })</td>
                                                                    <td class="ReqValue"> @Html.TextBox("ReqValue_2_" + @s2, @item.ReqValue, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActValue"> @Html.TextBox("ActValue_2_" + @s2, @item.ActValue, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="Remarks"> @Html.TextBox("Remarks_2_" + @s2, @item.Remarks, new { @class = "form-control width125px", @maxlength = "100", @tabindex = "-1" })</td>

                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="delRecord(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12 text-center" style="border-bottom: 1px solid #d9d9d9;padding: 5px;margin-bottom: 5px;font-weight: bold;">Bolt holes drilling</div>

                                <div class="col-md-6">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong></strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines3">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="5">HOLE TO HOLE LIGAMENT</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>HOLE NO TO HOLE NO</th>
                                                            <th>
                                                                @Html.TextBoxFor(model => model.ReqLigament, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                                            </th>
                                                            <th>HOLE TO HOLE ACTUAL LIGAMENT</th>
                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag._lstPRL458 != null)
                                                        {
                                                            foreach (var item in ViewBag._lstPRL458 as List<PRL458>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>

                                                                    <td class="ReqHoleNoToHoleNo1"> @Html.TextBox("ReqHoleNoToHoleNo1_3_" + @s3, @item.ReqHoleNoToHoleNo1, new { @class = "form-control width125px", @maxlength = "50", @role = "QC", @tabindex = "-1" })</td>
                                                                    <td class="ReqHoleNoToHoleNo2"> @Html.TextBox("ReqHoleNoToHoleNo2_3_" + @s3, @item.ReqHoleNoToHoleNo2, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActHoleToHoleLigament"> @Html.TextBox("ActHoleToHoleLigament_3_" + @s3, @item.ActHoleToHoleLigament, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>

                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong></strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div4', this)" id="btnCollapse4" data-target="#div4" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div4">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines4">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="6">OUT SIDE FRAME EDGE TO HOLE CENTER LIGAMENT & FRAME THICKNESS</th>
                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>HOLE NO</th>
                                                            <th>
                                                                @Html.TextBoxFor(model => model.ActHoleDia, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                                            </th>
                                                            <th>
                                                                @Html.TextBoxFor(model => model.ActLigamentFromCustomerSide, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                                            </th>
                                                            <th>
                                                                @Html.TextBoxFor(model => model.ActFrameThickness, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                                            </th>
                                                            @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag._lstPRL459 != null)
                                                        {
                                                            foreach (var item in ViewBag._lstPRL459 as List<PRL459>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s4 = s4 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="ReqHoleNo"> @Html.TextBox("ReqHoleNo_4_" + @s4, @item.ReqHoleNo, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActHoleDIA"> @Html.TextBox("ActHoleDIA_4_" + @s4, @item.ActHoleDIA, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ActLigamentFromOuterSide"> @Html.TextBox("ActLigamentFromOuterSide_4_" + @s4, @item.ActLigamentFromOuterSide, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>
                                                                    <td class="ActFrameThickness"> @Html.TextBox("ActFrameThickness_4_" + @s4, @item.ActFrameThickness, new { @class = "form-control width125px", @maxlength = "50", @role = "PROD" })</td>

                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid4LastRow" type="hidden" value="@s4" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                            <tr>
                                                <td style="text-align: center;">
                                                    <img src="~/Images/Protocol092_img1.png" style="height:400px;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;font-weight: bold;">Hole no. identification details</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                1) PROCEDURE NO
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="clstd">
                                                2) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" colspan="2">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <td>4)  MEASURING AND TESTING EQUIPMENT SERIAL NUMBER</td>
                                                            <td>CALIBRATION DUE DATE</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @Html.TextAreaFor(model => model.CheckPoint3_1_1, new { @class = "form-control inlinetextbox width250px", @maxlength = "200", @role = "QC" })
                                                            </td>
                                                            <td>
                                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                                    @Html.TextBoxFor(m => m.CheckPoint3_1_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "QC" })
                                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.TextAreaFor(model => model.CheckPoint3_2_1, new { @class = "form-control inlinetextbox width250px", @maxlength = "200", @role = "QC" })
                                                            </td>
                                                            <td>
                                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                                    @Html.TextBoxFor(m => m.CheckPoint3_2_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "QC" })
                                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                                        <button class="btn default btncalender" id="btncal2" type="button" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.TextAreaFor(model => model.CheckPoint3_3_1, new { @class = "form-control inlinetextbox width250px", @maxlength = "200", @role = "QC" })
                                                            </td>
                                                            <td>
                                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                                    @Html.TextBoxFor(m => m.CheckPoint3_3_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "QC" })
                                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                                        <button class="btn default btncalender" id="btncal3" type="button" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.TextAreaFor(model => model.CheckPoint3_4_1, new { @class = "form-control inlinetextbox width250px", @maxlength = "200", @role = "QC" })
                                                            </td>
                                                            <td>
                                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                                    @Html.TextBoxFor(m => m.CheckPoint3_4_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "QC" })
                                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                                        <button class="btn default btncalender" id="btncal4" type="button" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                @Html.TextAreaFor(model => model.CheckPoint3_5_1, new { @class = "form-control inlinetextbox width250px", @maxlength = "200", @role = "QC" })
                                                            </td>
                                                            <td>
                                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                                    @Html.TextBoxFor(m => m.CheckPoint3_5_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "QC" })
                                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                                        <button class="btn default btncalender" id="btncal5" type="button" tabindex="-1">
                                                                            <i class="fa fa-calendar"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint3_1_2").change(function () {
            $('#CheckPoint3_2_1').focus();
        });
        $("#CheckPoint3_2_2").change(function () {
            $('#CheckPoint3_3_1').focus();
        });
        $("#CheckPoint3_3_2").change(function () {
            $('#CheckPoint3_4_1').focus();
        });
        $("#CheckPoint3_4_2").change(function () {
            $('#CheckPoint3_5_1').focus();
        });
        $("#CheckPoint3_5_2").change(function () {
            $('#QCRemarks').focus();
        });

        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));
        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);
        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_1_1").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_1_2").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_2_1").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_2_2").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_3_1").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_3_2").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_4_1").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_4_2").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_5_1").prop("disabled", true).addClass("NonEditableTextColor");
            $("#CheckPoint3_5_2").prop("disabled", true).addClass("NonEditableTextColor");
        }
        else {

            $('textarea[name="CheckPoint3_1_1"]').prop('readonly', false);
            $('textarea[name="CheckPoint3_2_1"]').prop('readonly', false);
            $('textarea[name="CheckPoint3_3_1"]').prop('readonly', false);
            $('textarea[name="CheckPoint3_4_1"]').prop('readonly', false);
            $('textarea[name="CheckPoint3_5_1"]').prop('readonly', false);

            $('input[name="CheckPoint3_1_2"]').prop('readonly', false);
            $('input[name="CheckPoint3_2_2"]').prop('readonly', false);
            $('input[name="CheckPoint3_3_2"]').prop('readonly', false);
            $('input[name="CheckPoint3_4_2"]').prop('readonly', false);
            $('input[name="CheckPoint3_5_2"]').prop('readonly', false);


            $('table#tblProtocolLines1 > tbody > tr > td > input').removeAttr("readonly");
            AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'DrgNo', ['DrgNo', 'RevNo'], AddTbl1NewTrRow, true);
        }

        $('#CheckPoint2').val('Yes');
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }

       if ((userRole.toUpperCase() == 'PROD3')) {
            if ($('#btncal1').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal1').prop("disabled", true);
                $('.calender1').prop("disabled", true);
            }
            if ($('#btncal2').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal2').prop("disabled", true);
                $('.calender2').prop("disabled", true);
            }
            if ($('#btncal3').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal3').prop("disabled", true);
                $('.calender3').prop("disabled", true);
            }
            if ($('#btncal4').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal4').prop("disabled", true);
                $('.calender4').prop("disabled", true);
            }
            if ($('#btncal5').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal5').prop("disabled", true);
                $('.calender5').prop("disabled", true);
            }
        }
        else if ((userRole.toUpperCase() == 'QC3')) {
            if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
                if ($('#btncal1').closest('div.date-picker').find("[role=QC]").length > 0) {
                    $('#btncal1').prop("disabled", true);
                    $('.calender1').prop("disabled", true);
                }
                if ($('#btncal2').closest('div.date-picker').find("[role=QC]").length > 0) {
                    $('#btncal2').prop("disabled", true);
                    $('.calender2').prop("disabled", true);
                }
                if ($('#btncal3').closest('div.date-picker').find("[role=QC]").length > 0) {
                    $('#btncal3').prop("disabled", true);
                    $('.calender3').prop("disabled", true);
                }
                if ($('#btncal4').closest('div.date-picker').find("[role=QC]").length > 0) {
                    $('#btncal4').prop("disabled", true);
                    $('.calender4').prop("disabled", true);
                }
                if ($('#btncal5').closest('div.date-picker').find("[role=QC]").length > 0) {
                    $('#btncal5').prop("disabled", true);
                    $('.calender5').prop("disabled", true);
                }
            }
        }
        else {
            if ($('#btncal2').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal2').prop("disabled", true); $('.calender2').prop("disabled", true);
            }
            if ($('#btncal2').closest('div.date-picker').find("[role=PROD]").length > 0) {
                $('#btncal2').prop("disabled", true); $('.calender2').prop("disabled", true)
            }
            if ($('#btncal3').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal3').prop("disabled", true); $('.calender3').prop("disabled", true);
            }
            if ($('#btncal3').closest('div.date-picker').find("[role=PROD]").length > 0) {
                $('#btncal3').prop("disabled", true); $('.calender3').prop("disabled", true)
            }
            if ($('#btncal4').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal4').prop("disabled", true); $('.calender4').prop("disabled", true);
            }
            if ($('#btncal4').closest('div.date-picker').find("[role=PROD]").length > 0) {
                $('#btncal4').prop("disabled", true); $('.calender4').prop("disabled", true)
            }
            if ($('#btncal5').closest('div.date-picker').find("[role=QC]").length > 0) {
                $('#btncal5').prop("disabled", true); $('.calender5').prop("disabled", true);
            }
            if ($('#btncal5').closest('div.date-picker').find("[role=PROD]").length > 0) {
                $('#btncal5').prop("disabled", true); $('.calender5').prop("disabled", true)
            }
        }

    });

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL092", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "/SaveProtocolHeaderDataLinkage?s=0", userRole, false, LoadSaveAndDraft);
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        $("#CheckPoint3_1_1").removeAttr('required');
        $("#CheckPoint3_1_2").removeAttr('required');
        $("#CheckPoint3_2_1").removeAttr('required');
        $("#CheckPoint3_2_2").removeAttr('required');
        $("#CheckPoint3_3_1").removeAttr('required');
        $("#CheckPoint3_3_2").removeAttr('required');
        $("#CheckPoint3_4_1").removeAttr('required');
        $("#CheckPoint3_4_2").removeAttr('required');
        $("#CheckPoint3_5_1").removeAttr('required');
        $("#CheckPoint3_5_2").removeAttr('required');
         SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderDataLinkage?s=1", userRole, true, LoadSaveAndDraft);
    }); $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData");
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {


                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'DrgNo', ['DrgNo', 'RevNo'], AddTbl1NewTrRow, true);
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'Description', ['Description', 'ReqValue'], AddTbl2NewTrRow, true);
                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'ReqHoleNoToHoleNo1', ['ReqHoleNoToHoleNo1', 'ReqHoleNoToHoleNo2'], AddTbl3NewTrRow, true);
                AddNextRow(this, null, false, 4, 'hdGrid4LastRow', 'tblProtocolLines4', 'ReqHoleNo', ['ReqHoleNo'], AddTbl4NewTrRow, true);

                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus();}
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {
        var TableData1 = [];
        var lstProtocolLines1 = "";
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "DrgNo": $('td.DrgNo input', this).val(),
                "RevNo": $('td.RevNo input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SrNo": $('td.SrNo Label', this).text(),
                "Description": $('td.Description input', this).val(),
                "ReqValue": $('td.ReqValue input', this).val(),
                "ActValue": $('td.ActValue input', this).val(),
                "Remarks": $('td.Remarks input', this).val()
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "ReqHoleNoToHoleNo1": $('td.ReqHoleNoToHoleNo1 input', this).val(),
                "ReqHoleNoToHoleNo2": $('td.ReqHoleNoToHoleNo2 input', this).val(),
                "ActHoleToHoleLigament": $('td.ActHoleToHoleLigament input', this).val(),
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });

        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

        var TableData4 = []; //initialize array;
        var lstProtocolLines4 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines4 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData4[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "ReqHoleNo": $('td.ReqHoleNo input', this).val(),
                "ActHoleDIA": $('td.ActHoleDIA input', this).val(),
                "ActLigamentFromOuterSide": $('td.ActLigamentFromOuterSide input', this).val(),
                "ActFrameThickness": $('td.ActFrameThickness input', this).val(),
            };

            lstProtocolLines4 = JSON.stringify(TableData4);
        });

        SaveAsDraftProtocolLine(lstProtocolLines4, ControllerURL + "SaveProtocolLine4Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 4);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;

        var FirstLine = "AddNextRow(this,'ReqValue_2_1',false,1,'hdGrid1LastRow','tblProtocolLines1','DrgNo',['DrgNo', 'RevNo'],AddTbl1NewTrRow)";
        var LastLine = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','DrgNo',['DrgNo', 'RevNo'],AddTbl1NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"DrgNo\"><input class=\"form-control clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"" + FirstLine + "\" id=\"DrgNo_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"DrgNo_1_" + NewTrRowNum + "\" role=\"QC\"  value=\"\" aria-invalid=\"false\"></input></td>" +
            "<td class=\"RevNo\"><input class=\"form-control clsAddNew EditableTextColor QCTextbox onlyNumeric islastrow valid\" onblur=\"" + LastLine + "\" id=\"RevNo_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"RevNo_1_" + NewTrRowNum + "\" role=\"QC\"  value=\"\" aria-invalid=\"false\"></input></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr>";
        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        var row = $('#tblProtocolLines2 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;
        $("#hdGrid2LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this, 'ReqLigament', false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'Description', ['Description', 'ReqValue'], AddTbl2NewTrRow);"
        var LastLine = "AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'Description', ['Description', 'ReqValue'], AddTbl2NewTrRow);"

        var strhtml = "<tr class=\"islastrow\" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
            + "<td class=\"SrNo center\"><Label id=\"SrNo_2_" + NewTrRowNum + "\"  name=\"SrNo_2_" + NewTrRowNum + "\">" + row + "</td>"
            + "<td class=\"Description\"><input class=\"form-control width125px  EditableTextColor QCTextbox islastrow valid\" id=\"Description_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Description_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\" "+FirstLine+" \" value=\"\" aria-invalid=\"false\" ></td>"
            + "<td class=\"ReqValue center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqValue_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqValue_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"" + LastLine + "\"></td>"
            + "<td class=\"ActValue center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActValue_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActValue_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled></td>"
            + "<td class=\"Remarks center \"><input class=\"form-control  islastrow  EditableTextColor  valid\" id=\"Remarks_2_" + NewTrRowNum + "\" maxlength=\"100\" name=\"Remarks_2_" + NewTrRowNum + "\"  type=\"text\"  tabindex=\"-1\"></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        return strhtml;
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this, 'ActHoleDia', false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'ReqHoleNoToHoleNo1', ['ReqHoleNoToHoleNo1', 'ReqHoleNoToHoleNo2'], AddTbl3NewTrRow);"
        var LastLine = "AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'ReqHoleNoToHoleNo1', ['ReqHoleNoToHoleNo1', 'ReqHoleNoToHoleNo2'], AddTbl3NewTrRow);"

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"ReqHoleNoToHoleNo1 center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqHoleNoToHoleNo1_3_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqHoleNoToHoleNo1_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"" + FirstLine + "\"></td>"
            + "<td class=\"ReqHoleNoToHoleNo2 center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqHoleNoToHoleNo2_3_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqHoleNoToHoleNo2_3_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  onblur=\"" + LastLine + "\"></td>"
            + "<td class=\"ActHoleToHoleLigament center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActHoleToHoleLigament_3_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActHoleToHoleLigament_3_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled></td>"
            +"<td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +

            "</tr>";

        return strhtml;
    }

    function AddTbl4NewTrRow(NewTrRowNum) {
        $("#hdGrid4LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this, 'CheckPoint1', false, 4, 'hdGrid4LastRow', 'tblProtocolLines4', 'ReqHoleNo', ['ReqHoleNo'], AddTbl4NewTrRow);"

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"ReqHoleNo center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqHoleNo_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqHoleNo_4_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"" + FirstLine + "\"></td>"
            + "<td class=\"ActHoleDIA center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActHoleDIA_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActHoleDIA_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled></td>"
            + "<td class=\"ActLigamentFromOuterSide center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActLigamentFromOuterSide_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActLigamentFromOuterSide_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled></td>"
            + "<td class=\"ActFrameThickness center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActFrameThickness_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActFrameThickness_4_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled></td>"

        "<td class=\"DeleteAction\"><i id=\"Delete_4_" + NewTrRowNum + "\" name=\"Delete_4_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines4')\" style=\"display:none\"></i></td>" +

            "</tr>";

        return strhtml;
    }

    function delRecord(obj) {

        $(obj).parent().parent().remove();
        var RowCount = $("#hdGrid2LastRow").val();
        var iCo = 1;
        if (RowCount > 0) {
            for (var i = 0; i < RowCount; i++) {
                var iCount = (i + 1);
                if ($("#SrNo_2_" + iCount).length) {
                    document.getElementById("SrNo_2_" + iCount).textContent = iCo;
                    iCo = iCo + 1;
                }
            }
        }
    }


</script>
