﻿
@using IEMQSImplementation


<style>
    .left18 {
        padding-left: 18px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight tr:hover {
            background-color: #aaed7a !important;
        }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile"></span>
                    Inspection Activity List
                </div>
                @*<div class="tools" id="dvExportHeader">
                        //@Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CFAR/MaintainCFAR/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                    </div>*@
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblICSList" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>

                            <th style="display:none">id</th>
                            <th class="all">Project</th>
                            <th class="all">Inspection Activity</th>
                            <th class="all">Serial No</th>
                            <th class="all">Status</th>
                            <th class="all">Created By</th>
                            <th class="all">Created On</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <input id="TPIAgency" type="hidden" />
            <input id="PrintTPI1" type="hidden" />
            <input id="PrintTPI2" type="hidden" />
            <input id="PrintTPI3" type="hidden" />
            <input id="PrintBy" type="hidden" value="" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#example-select-all').on('click', function () {
            var table = $('#tblICSList');
            var oTableHeader = table.dataTable();
            var rows = oTableHeader.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });



        var table = $('#tblICSList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/MAL/MaintainMAL/LoadDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' }//,
                            //{ "name": "Department", "value": '@ViewBag.IndexDataFor' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                       {
                           'targets': 0,
                           "bSortable": false,
                           "sWidth": "5%",
                           "sClass": "left18",

                           'render': function (data, type, full, meta) {
                               var buttons = "";
                                   buttons = '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" name="id[]" class="clsCheckbox" value="' + $('<div />').text(data).html() + '" ><span></span></label>';
                               return buttons;
                           }
                       },
                       {
                           "sClass": "hide",
                           "name": "Id"
                       },
                        {
                            "sClass": "center",
                            "name": "Project",
                        },
                        {
                            "sClass": "center",
                            "name": "InspectionActivity"
                        },
                          {
                              "sClass": "center",
                              "name": "SerialNo"
                        },
                        {
                            "sClass": "center",
                            "name": "Status"
                        },
                         {
                             "sClass": "center",
                             "name": "CreatedBy"
                         },

                        {
                            "sClass": "center",
                            "name": "CreatedOn",
                            "attr": "daterange"
                        },
                       {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ]
        });
        table.dtSearchFilter();


        if('@ViewBag.Status' == "Pending")
        {
            $("#btnApprove").show();
        }
        else {
            oTable.api().column(0).visible(false);
            setTimeout(function () {
                $('#tblICSList thead tr:first th:eq(0)').hide();
            }, 100);
            $("#btnApprove").hide();
        }

    });


    $('#tblICSList tbody').on("click", "tr td:not(:first-child):not(:last-child)", function () {
        var row = $(this).closest('tr');
        var data = $('#tblICSList').dataTable().fnGetData(row);
        var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();
        //$("#tblICSList tr").removeClass("highlight");
        //$(this).closest('tr').addClass("highlight");

        $("#tblICSList").find("[type=checkbox]").prop('checked', false);
        $(row).find("[type=checkbox]").prop('checked', true);

    })

    $('#tblICSList tbody').on('change', 'input[type="checkbox"]', function () {
        if (!this.checked) {
            var el = $('#example-select-all').get(0);
            if (el && el.checked && ('indeterminate' in el)) {
                el.indeterminate = true;
            }
        }
    })


    function printReport(url, headerid,type) {

        getInspectionagency(headerid,type,url)

    }

      function getInspectionagency(headerid,type,url) {


          $.ajax({
              url: WebsiteURL  + "/MaintainMAL/GetInspectionAgency",
              type: "POST",
                beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
              data: {
                  type: type,
                  headerid: headerid
              },
              success: function (data) {
                  var tpi1 = "", tpi2 = "", tpi3 = "", tpi = "";
                  if (data.Agency != "" && data.Agency != null && data.Agency != undefined) {
                      var dat = data.Agency.split('#');

                      if (dat[0] != undefined && dat[0] != "" && dat[0] != null) {
                          tpi1 = dat[0];
                      }
                      if (dat[1] != undefined && dat[1] != "" && dat[1] != null) {
                          tpi2 = dat[1];
                      }
                      if (dat[2] != undefined && dat[2] != "" && dat[2] != null) {
                          tpi3 = dat[2];
                      }
                  }
                  if (data.arr != undefined && data.arr != "" && data.arr != null) {
                      tpi = data.arr;
                  }
                      var dat = [];
                      dat.push({ Param: "HeaderId", Value: parseInt(headerid) });
                  if (type == '@clsImplementationEnum.MALProtocolType.Heliumleaktest.GetStringValue()' ||
                      type == '@clsImplementationEnum.MALProtocolType.HydrostaticTest.GetStringValue()' ||
                      type == '@clsImplementationEnum.MALProtocolType.N2FillingInspection.GetStringValue()' ||
                      type == '@clsImplementationEnum.MALProtocolType.PneumaticTest.GetStringValue()') {
                      dat.push({ Param: "TPIAgency", Value: tpi });
                      dat.push({ Param: "TPIAgency1", Value: tpi1 });
                      dat.push({ Param: "TPIAgency2", Value: tpi2 });
                      dat.push({ Param: "TPIAgency3", Value: tpi3 });

                  }
                  else if (type == '@clsImplementationEnum.MALProtocolType.FinalActivities.GetStringValue()') {
                      dat.push({ Param: "PrintTPI1", Value: tpi });
                      dat.push({ Param: "PrintTPI2", Value: tpi1 });
                      dat.push({ Param: "PrintTPI3", Value: tpi2 });
                      dat.push({ Param: "PrintBy", Value: tpi3 });
                  }
                  debugger

                  if (type == '@clsImplementationEnum.MALProtocolType.PneumaticTest.GetStringValue()' || type == '@clsImplementationEnum.MALProtocolType.FinalActivities.GetStringValue()') {
ShowReport(dat, url,true);
                  }
else {
                      ShowReport(dat, url);
                  }
              }
          });
    }
</script>
