﻿@model IEMQS.Areas.IPI.Models.RequestFilterParaModel
<script>
    if('@Model.StageDesc' != null && '@Model.StageDesc' != '' && '@Model.StageDesc' != undefined)
    {
        $("#StageDesc").val('@Model.StageDesc');
    }
</script>
<style>
    .scenter {
        text-align: center;
    }

    .clsBootBoxWidth {
        width: 75% !important;
        margin: 30px auto !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
           @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmReqFilteredData" }))
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Quality Project</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Seam No</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Number, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Stages</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.StageDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Stage Sequence</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.StageSeq, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Request Details
                </div>
                <div class="tools"> </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFilteredSeamlistReqNew" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Request No</th>
                            <th class="all">Request No Sequence</th>
                            <th class="all">Iteration No</th>
                            <th class="all">Test Result</th>
                            <th class="all">Shop</th>
                            <th class="all">Shop Location</th>
                            <th class="all">Shop Remark</th>
                            <th class="all">Offered By</th>
                            <th class="all">Offered On</th>
                            <th class="all">Inspected By</th>
                            <th class="all">Inspected On</th>
                            <th class="all">QC Remarks</th>
                            <th class="all">Offered to Customer By</th>
                            <th class="all">Offered to Customer On</th>
                            <th class="all">TPI Agency1</th>
                            <th class="all">TPI Agency1 Intervention</th>
                            <th class="all">TPI Agency1 Result</th>
                            <th class="all">TPI Agency2 Result On</th>
                            <th class="all">TPI Agency2</th>
                            <th class="all">TPI Agency2 Intervention</th>
                            <th class="all">TPI Agency2 Result</th>
                            <th class="all">TPI Agency3 Result On</th>
                            <th class="all">TPI Agency3</th>
                            <th class="all">TPI Agency3 Intervention</th>
                            <th class="all">TPI Agency3 Result</th>
                            <th class="all">TPI Agency3 Result On</th>
                            <th class="all">TPI Agency4</th>
                            <th class="all">TPI Agency4 Intervention</th>
                            <th class="all">TPI Agency4 Result</th>
                            <th class="all">TPI Agency4 Result On</th>
                            <th class="all">TPI Agency5</th>
                            <th class="all">TPI Agency5 Intervention</th>
                            <th class="all">TPI Agency5 Result</th>
                            <th class="all">TPI Agency5 Result On</th>
                            <th class="all">TPI Agency6</th>
                            <th class="all">TPI Agency6 Intervention</th>
                            <th class="all">TPI Agency6 Result</th>
                            <th class="all">TPI Agency6 Result On</th>
                            <th class="all">Welder1</th>
                            <th class="all">Welder2</th>
                            <th class="all">Welder3</th>
                            <th class="all">Welder4</th>
                            <th class="all">Welder5</th>
                            <th class="all">Welder6</th>
                            <th class="all">Welder7</th>
                            <th class="all">Welder8</th>
                            <th class="all">Welder9</th>
                            <th class="all">Welder10</th>
                            <th class="all">Welder11</th>
                            <th class="all">Welder12</th>
                            <th class="all">Welder13</th>
                            <th class="all">Welder14</th>
                            <th class="all">Welder15</th>
                            <th class="all">Welder16</th>
                            <th class="all">Welder17</th>
                            <th class="all">Welder18</th>
                            <th class="all">Welder19</th>
                            <th class="all">Welder20</th>
                            <th class="all">Welder21</th>
                            <th class="all">Welder22</th>
                            <th class="all">Welder23</th>
                            <th class="all">Welder24</th>
                            <th class="all">Welding Process</th>
                            <th class="all">Created By</th>
                            <th class="all">Created On</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblFilteredSeamlistReqNew');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc'], [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/LoadFilteredReqSeamData?qualityProject=" + '@Model.QualityProject' + "&project=" + '@Model.Project' + "&bu=" + '@Model.BU' + "&location=" + '@Model.Location' + "&SeamNo=" + '@Model.Number' + "&stageCode=" + '@Model.StageCode' + "&stageSeq=" + '@Model.StageSeq',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "RequestNo"

                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "RequestNoSequence"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                }
            ]
        });
    });

</script>



