﻿@model IEMQS.Areas.IPI.Models.FilterParaModel

<style>
    .scenter {
        text-align: center;
    }

    .clsBootBoxWidth {
        width: 75% !important;
        margin: 30px auto !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

    .hide {
        display: none;
    }
</style>

<script>
    if ('@Model.ParentPartNo' != null && '@Model.ParentPartNo' != "" && '@Model.ParentPartNo' != undefined) {
        $("#ParentPartNo").val('@Model.ParentPartNo');
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.Project)
                @Html.HiddenFor(model => model.BU)
                @Html.HiddenFor(model => model.Location)

                <div class="form-group">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Quality Project</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Part/Assembly Position No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Number, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Part/Assembly No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ChildPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Parent No of Part/Assembly</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ParentPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                @*<div class="col-md-6">
                                        <label class="control-label">Project</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ProjectDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">Part/Assembly Description</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PartDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Parent Part/Assembly Description</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ParentPartDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">BU</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.BUDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.LocationDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Parent Part No.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ParentPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Child Part No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ChildPartNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>*@


                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Part Status
                </div>
                <div class="tools"> </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFilteredPartlist" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Stages</th>
                            <th class="all">Seq.No</th>
                            <th class="all">Itrn</th>
                            <th class="all">Insp. Status</th>
                            <th class="all">Quantity</th>
                            <th class="all">Available to Offer</th>
                            <th class="all">L&T Result</th>
                            <th style="display:none;" class=""></th>
                            <th style="display:none;" class=""></th>
                            <th style="display:none;" class=""></th>
                            <th style="display:none;" class=""></th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="divReqDetails">
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblFilteredPartlist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/PartlistOfferInspection/LoadFilteredPartlistData?qualityProject=" + '@Model.QualityProject' + "&project=" + '@Model.Project' + "&bu=" + '@Model.BU' + "&location=" + '@Model.Location' + "&partNo=" + '@Model.Number',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "StageSequence"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },

            ]
        });

        $('#tblFilteredPartlist tbody').on('click', 'tr', function () {
            if ($(this).hasClass('highlight')) {
                $('td', $($(this))).addClass('sorting_1');
                $(this).removeClass('highlight');
            }
            else {
                oTable.$('tr.highlight').removeClass('highlight');
                $(this).addClass('highlight');
                $('td', $($(this))).removeClass('sorting_1');
            }
            //var data = oTable.api().row(this).data();
            var StageSequence = parseInt($("td:nth-last-child(1)", $(this)).text());
            var StageCode = $("td:nth-last-child(2)", $(this)).text();
            var isNDEStage = $("td:nth-last-child(3)", $(this)).text();
            var StageDesc = $("td:nth-child(1)", $(this)).text();

            var tableID = "";

            if (isNDEStage == "False") {
                tableID = 55;
            }
            else {
                tableID = 65;
            }
            GetReqFilteredData("Part Details", $("#QualityProject").val(), $("#Project").val(), $("#BU").val(), $("#Location").val(), '@Model.Number', '@Model.ProjectDesc', '@Model.BUDesc', '@Model.LocationDesc', '@Model.ParentPartNo', '@Model.ChildPartNo', StageCode, StageDesc, StageSequence, tableID, true)

        });

    });

</script>

