﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }

    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>


<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Attend - Part/Assembly
        </div>
        <div class="tools" id="dvExportLines">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/PartlistOfferInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPartlistRequestedOfferHeader" cellspacing="0" width="100%">
            <thead>
               
                <tr>
                    <th class="all">Quality Project</th>
                    <th class="all">Position No.</th>
                    <th class="all">Part No.</th>
                    <th class="all">Offered Quantity</th>
                    <th class="all">Stages</th>
                    <th class="all">Seq.No</th>
                    <th class="all">Itrn.</th>
                    <th class="all">Request No</th>
                    <th class="all">Seq.No</th>
                    <th class="all">Test Result</th>
                    <th class="all">Shop</th>
                    <th class="all">Shop Location</th>
                    <th class="all">Shop Remark</th>                 
                    <th class="all">Offered By</th>
                    <th class="all">Offered On</th>
                    <th class="all">Inspected By</th>
                    <th class="all">Inspected On</th>
                    <th class="all">Offered To Customer By</th>
                    <th class="all">Offered To Customer On</th>
                    <th class="all">Action</th>

                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblPartlistRequestedOfferHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/PartlistOfferInspection/LoadPartlistReOfferData?qualityProject=@ViewBag.QualityProject&partNumber=@ViewBag.PartNumber",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name": "QualityProject",
                    "bSortable": true,
                    "sClass": "center",
                    "attr":"string"
                },
                {
                    "name": "PartNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "string"
                },
                {
                    "name": "ChildPartNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "OfferedQuantity",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "string"
                },
                {
                    "name": "StageCode",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string"
                },
                {
                    "name": "StageSequence",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "IterationNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "RequestNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "RequestNoSequence",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "TestResult",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "string"
                },
                {
                    "name": "Shop",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "string"
                },
                {
                    "name": "ShopLocation",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "string"
                },
                {
                    "name": "ShopRemark",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string"
                },
                //{
                //    "name": "CreatedBy",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                //{
                //    "name": "CreatedOn",
                //    "bSortable": true,
                //    "sClass": "center"
                //},
                {
                    "name": "OfferedBy",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string",
                    "ColName": "qms055.OfferedByy,com003o.t_name",
                },
                {
                    "name": "OfferedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "name": "InspectedBy",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string",
                    "ColName": "qms055.InspectedBy,com003i.t_name",
                },
                {
                    "name": "InspectedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "name": "OfferedtoCustomerBy",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "string",
                    "ColName": "qms055.OfferedtoCustomerBy,com003oc.t_name",
                },
                {
                    "name": "OfferedtoCustomerOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "date"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
            ]
        });
        table.dtSearchFilter();
    });

    function ShowTimeline(requestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/PartlistOfferInspection/ShowTimelineNonNDEInspectionPartial?requestId=" + requestId,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });
    }
</script>

