﻿


@using IEMQSImplementation
@Styles.Render("~/Content/Datatable/css")
@{     int s = 0; int n = 0;}
<div class="row">
    <div class="col-md-12">

        <div class="col-md-6">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Pending Inspection Part List
                    </div>
                    <div class="tools" id="dvExportHeader">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblPendingInspectionPart" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="all">#</th>
                                <th class="all">Part No</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.Part != null && ViewBag.Part.Count > 0)
                                {
                                    foreach (var item in ViewBag.Part as List<CategoryData>)
                                    {
                                        <tr>
                                            <td style="text-align: center;">@(n = n + 1)</td>
                                            <td>@item.Description</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2">No Data Found</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Pending Inspection Seam List
                    </div>
                    <div class="tools" id="dvExportHeader">

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblPendingInspectionSeam" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="all">#</th>
                                <th class="all">Seam No</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Seam != null && ViewBag.Seam.Count > 0)
                            {
                                foreach (var item in ViewBag.Seam as List<ReturnedData>)
                                {
                                    <tr>
                                        <td style="text-align: center;">@(s = s + 1)</td>
                                        <td>@item.Description</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2">No Data Found</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")
<script>
    $(document).ready(function () {

    });

</script>
