﻿@using IEMQSImplementation

<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Query List
        </div>
        <div class="tools" id="dvExportHeader">
            @*<label id="ShowColorInfo" class="btn btn-circle white btn-outline btn-sm" title="Color Legend">
                    &nbsp; &nbsp;
                    <i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 6px;right: 23px;"></i>
                    <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 11px;right: 30px;"></i>
                    <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 11px;right: 15px;"></i>
                    <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 19px;right: 27px;"></i>
                    <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 19px;right: 18px;"></i>
                </label>

                <a class="quick-nav-trigger" style="right: 4px; top: 2px;" href="#0">
                    &nbsp; &nbsp;
                    <i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 6px;right: 23px;"></i>
                    <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 11px;right: 30px;"></i>
                    <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 11px;right: 15px;"></i>
                    <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 19px;right: 27px;"></i>
                    <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 19px;right: 18px;"></i>
                </a>

                <span aria-hidden="true" class="quick-nav-bg"></span>*@

        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTCPHeader" cellspacing="0" width="100%">
            <thead>
                <tr>

                    <th class="all">PBU</th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">TCP No</th>
                    <th class="min-phone-l">Drawing/Document No</th>
                    @*<th class="all">Seam No</th>*@
                    <th class="min-phone-l">Query Type</th>
                    <th class="min-phone-l">initiator</th>
                    @*<th class="all">Query Description</th>*@
                    <th class="min-phone-l">Addressee</th>
                    <th class="min-phone-l">Status</th>
                    <th class="all">Action</th>
                    <th class="all hide">HeaderId</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
@*<div class="col-md-3" style="padding-left:14px;">
        <!-- BEGIN CHART -->
        <nav class="quick-nav" style="position: absolute; top: 0px; right: 0px;margin-top: unset;">
            <a class="quick-nav-trigger" style="right: 4px; top: 2px;" href="#0">
                &nbsp; &nbsp;
                <i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 6px;right: 23px;"></i>
                <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 11px;right: 30px;"></i>
                <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 11px;right: 15px;"></i>
                <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 19px;right: 27px;"></i>
                <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 19px;right: 18px;"></i>
            </a>
            <ul class="colorindication">
                <li class="fa-backcolor">
                    <a href="javascript:SearchNodeByColor('-danger');">
                        <span class="fontf" style="color:#000;">Allocation Not Done / All Item's Allocation Not Done / Material Not ready </span>
                        <i class="fa fa-circle fa-danger"></i>
                    </a>
                </li>

                <li class="fa-backcolor">
                    <a href="javascript:SearchNodeByColor('-orange');">
                        <span class="fontf" style="color:#000;">All Item's Allocation Done</span>
                        <i class="fa fa-circle fa-orange"></i>
                    </a>
                </li>
                <li class="fa-backcolor">
                    <a href="javascript:SearchNodeByColor('-warning');">
                        <span class="fontf" style="color: #000;">Allocation Changed /Partial Item's Allocation Done /Request to be Re-generate </span>
                        <i class="fa fa-circle fa-warning"></i>
                    </a>
                </li>
                <li class="fa-backcolor">
                    <a href="javascript:SearchNodeByColor('-voilet');">
                        <span class="fontf" style="color: #000;">Any Item's allocated quantity and required quantity is Mismatch / Task Manager is Mismatch </span>
                        <i class="fa fa-circle fa-voilet"></i>
                    </a>
                </li>
                <li class="fa-backcolor">
                    <a href="javascript:SearchNodeByColor('-success');">
                        <span class="fontf" style="color: #000;">Allocation Done / Kit released / Material Requested</span>
                        <i class="fa fa-circle fa-success"></i>
                    </a>
                </li>
            </ul>
            <span aria-hidden="true" class="quick-nav-bg"></span>
        </nav>

        <!-- END CHART -->
    </div>*@
<div class="">
    <div class="mt-element-ribbon bg-grey-steel" style="border-radius: 10px !important;">
        <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger uppercase">
            <div class="ribbon-sub ribbon-clip"></div>Color Indications
        </div>
        <div class="ribbon-content">
            <i class="fa fa-circle clsColorIndications" style="color: #fff !important; "></i>  @clsImplementationEnum.TCPHeaderStatus.Draft.GetStringValue()
            <i class="fa fa-circle clsColorIndications" style="color: orange !important; "></i>  @clsImplementationEnum.TCPHeaderStatus.SubmittedToAddresse.GetStringValue()
            <i class="fa fa-circle clsColorIndications" style="color: #ffff79  !important;"></i> @clsImplementationEnum.TCPHeaderStatus.SubmittedToAssignee.GetStringValue()
            <i class="fa fa-circle clsColorIndications" style="color: lightblue !important;"></i> @clsImplementationEnum.TCPHeaderStatus.RespondedByAssignee.GetStringValue()
            <i class="fa fa-circle clsColorIndications" style="color: #2778c8 !important;"></i> @clsImplementationEnum.TCPHeaderStatus.RespondedByAddressee.GetStringValue()
            <i class="fa fa-circle clsColorIndications" style="color: green !important;"></i> @clsImplementationEnum.TCPHeaderStatus.Closed.GetStringValue()
        </div>
    </div>
</div>
<style>
    .clsColorIndications {
        font-size: 20px;
        margin-left: 15px !important;
    }

    .mt-element-ribbon .ribbon-content {
        padding: 10px !important;
    }

    .quick-nav:not(.nav-is-visible) .quick-nav-bg {
        position: initial;
        width: 35px;
        height: 30px;
        box-shadow: unset;
        z-index: unset;
    }

    .quick-nav:not(.nav-is-visible) .quick-nav-trigger {
        display: none;
    }

    .colorindication {
        padding: 40px 0 0 !important;
        width: 626px;
    }

    .fa-backcolor {
        background: #d6fcff !important;
        width: 97.5%;
    }
</style>
<script>
    var Columns = [];
    $(document).ready(function () {
        
        //LoadHeaderData();
        
        parameterList = [];
        parameterList.push({ id: "status", value: '@ViewBag.Status'});
        parameterList.push({ id: "Project", value:  $("#hdnchkProject").val()});
        SetTableColumns();

        LoadGridTables("tblTCPHeader", Columns, "/TCP/MaintainTCP/loadTCPHeaderDataTable", ["status","Project"], '', SetColorCode);
                
        $("#tblTCPHeader").dtSearchFilter();
        //$('#ShowColorInfo').click(function (event) {
        //    event.preventDefault();
        //    $('.quick-nav-trigger').click();
        //    return false;
        //});

    });

    function SetColorCode(nRow, aData) {

        if (aData[7] == "@clsImplementationEnum.TCPHeaderStatus.SubmittedToAddresse.GetStringValue()") {
            $(nRow).addClass('RowOrange');
        }
        else if (aData[7] == "@clsImplementationEnum.TCPHeaderStatus.SubmittedToAssignee.GetStringValue()") {
            $(nRow).addClass('RowYellow');
        }
        else if (aData[7] == "@clsImplementationEnum.TCPHeaderStatus.RespondedByAssignee.GetStringValue()") {
            $(nRow).addClass('RowLightBlue');
        }
        else if (aData[7] == "@clsImplementationEnum.TCPHeaderStatus.RespondedByAddressee.GetStringValue()") {
            $(nRow).addClass('RowDarkBlue');
        }
        else if (aData[7] == "@clsImplementationEnum.TCPHeaderStatus.Closed.GetStringValue()") {
            $(nRow).addClass('RowGreen');
        }
        else {
            $(nRow).addClass('RowWhite');
        }
    }

    function SetTableColumns() {
        Columns = [

                {
                    "sClass": "center",
                    "name": "BU",
                    "ColName": "COM002.t_desc"
                },
                {
                    "sClass": "center",
                    "name": "Project",
                },
                {
                    "sClass": "center",
                    "name": "TCPNo",
                },
                {
                    "sClass": "center",
                    "name": "DrawingNo",
                },
                //{
                //    "sClass": "center",
                //    "name": "SeamNo",
                //},
                {
                    "sClass": "center",
                    "name": "QueryType",
                },
                {
                    "sClass": "center",
                    "name": "CreatedBy",
                },
                {
                    "sClass": "center",
                    "name": "Addressee",
                },
                {
                    "sClass": "center",
                    "name": "Status",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    'render': function (data, type, full, meta) {
                        var headerId = full[9];
                        if ($("#hdnchkProject").val() != null && $("#hdnchkProject").val() != "") {
                            return "<a class=\"\" href=\"" + WebsiteURL + "/TCP/MaintainTCP/GenerateQuery?id=" + headerId + "&Project=" + $("#hdnchkProject").val() + "\"><i style=\"margin-left:5px;\" class=\"fa fa-eye\"></i></a>";
                        }
                        else {
                            return "<a class=\"\" href=\"" + WebsiteURL + "/TCP/MaintainTCP/GenerateQuery?id=" + headerId + "\"><i style=\"margin-left:5px;\" class=\"fa fa-eye\"></i></a>";
                        }
                        
                    }
                },
                {
                    "sClass": "center hide",
                    "bSortable": false,
                },
        ];

    }

</script>