﻿@using IEMQSImplementation
@model HashSet<PCL036>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.1	Reactor Overall Dimension
            </b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            ID :(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorID)
        </td>
        <td>
            Thk :(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorThk1)
        </td>
        <td>
            TL - TL:(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorTLTL)
        </td>
        <td>
            Fabricated Wt:(MT)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorFabWt)
        </td>
       <td></td>
    </tr>
    <tr>
        <td></td>
       
        <td>
            Hydro Wt:(MT)
            <u>
                &nbsp;
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorHydroWt)
            </u>
        </td>
        <td></td>
        <td>
            Max. Shell Wd:(mm)
        </td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().ReactorMaxShellWd)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr><td colspan="10"><b>2.2	Reactor Designed for External Pressure Also ?</b></td></tr>
    <tr>
        <td>
            @if (Model.Count() > 0)
            {
                if (Model.FirstOrDefault().ReactoreDesigned == true)
                {
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { @checked = true });
                }
                else
                { @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { });
                }
            }
            else
            {@Html.CheckBox("ReactoreDesigned", new { });
            }
        </td>
        <td>
            Yes (Special <quote>e value</quote> Templates required as per Code)
        </td>
        <td>
            @if (Model.Count() > 0)
            {
                if (Model.FirstOrDefault().ReactoreDesigned == true)
                {
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { });
                }
                else
                { @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { @checked = true });
                }
            }
            else
            {
                @Html.CheckBox("ReactoreDesigned", new { });
            }
        </td>
        <td>
            No
        </td>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.3 Shell Construction
            </b>
        </td>
    </tr>
    <tr>
        <td for="ShellConst1Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConst1Seg, new { })
        </td>
        <td>
            Single Seg
        </td>
        <td for="ShellConst2Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConst2Seg, new { })
        </td>
        <td>
            Two Segments
        </td>
        <td for="ShellConstMore2Seg">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellConstMore2Seg, new { })
        </td>
        <td>
            &gt;2 Segments
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.4	Type of Internals to be installed
            </b>
        </td>
    </tr>
    <tr>
        <td for="TypeIntCyc">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeIntCyc, new { })
        </td>
        <td>
            Cyclones
        </td>
        <td for="TypeIntDip">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeIntDip, new { })
        </td>
        <td>
            Dipleg assemblies
        </td>
        <td for="TypeIntPle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeIntPle, new { })
        </td>
        <td>
            Plenum chamber
        </td>

        <td for="TypeIntAir">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeIntAir, new { })
        </td>
        <td>
            Air rings
        </td>
        <td for="TypeIntInt">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeIntInt, new { })
        </td>
        <td>
            Internal Riser
        </td>
    </tr>
    <tr>
        <td for="TypeIntRS2">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeIntRS2, new { })
        </td>
        <td>
            RS2 Separator
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.5	No of cyclones assemblies to be installed
            </b>
        </td>
    </tr>
    <tr>
        <td for="NooCyc">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NooCyc, new { })
        </td>
        <td>
            <u>@Html.DisplayFor(m => Model.FirstOrDefault().NooCycVal) &nbsp;</u> Nos. of Cyclones
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.6	Riser section installation planned in
            </b>
        </td>
    </tr>
    <tr>
        <td for="RiserSec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RiserSec, new { })
        </td>
        <td>
            <u>@Html.DisplayFor(m => Model.FirstOrDefault().RiserSecVal) &nbsp;</u>  Sections
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.7	Refractory application of vessel planned in
            </b>
        </td>
    </tr>
    <tr>
        <td for="RefraAppNoofSec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraAppNoofSec, new { })
        </td>
        <td>
            <u>&nbsp;@Html.DisplayFor(m => Model.FirstOrDefault().RefraAppNoofSecVal) </u>  Nos. of Sections
        </td>
        <td for="RefraAppMax">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraAppMax, new { })
        </td>
        <td>
            <u>&nbsp;@Html.DisplayFor(m => Model.FirstOrDefault().RefraAppMaxVal)</u> Max. length of section
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
   
</table>
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:50px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 3 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.8	Type of Refractory application involved
            </b>
        </td>
    </tr>
    <tr>
        <td for="TypeRefraGun">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRefraGun, new { })
        </td>
        <td>
            Gunning
        </td>

        <td for="TypeRefraVib">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRefraVib, new { })
        </td>
        <td>
            Vibrocasting
        </td>

        <td for="TypeRefraHan">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRefraHan, new { })
        </td>
        <td>
            Hand Packing
        </td>

        <td for="TypeRefraFree">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRefraFree, new { })
        </td>
        <td>
            Free Flow
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.9	Refractory dryout of section planned using
            </b>
        </td>
    </tr>
    <tr>
        <td for="RefraDrySecInFur">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraDrySecInFur, new { })
        </td>
        <td>
            In Furnace
        </td>
        <td for="RefraDrySecBaff">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraDrySecBaff, new { })
        </td>
        <td>
            Using Baffles by internal firing
        </td>
        <td for="RefraDrySecElec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraDrySecElec, new { })
        </td>
        <td>
            Using Electrical coils
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.10	Refractory dry-out cycle planned
            </b>
        </td>
    </tr>
    <tr>
        <td for="RefraDryCycOpe">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraDryCycOpe, new { })
        </td>
        <td>
            Operating temperature range
        </td>
        <td for="RefraDryCycLow">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RefraDryCycLow, new { })
        </td>
        <td>
            Low Temperature dryout / Pre-Drying
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.11	Type of Rolling
            </b>
        </td>
    </tr>
    <tr>
        <td for="TypeRollCold">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollCold, new { })
        </td>
        <td>
            Cold
        </td>

        <td for="TypeRollWarm">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollWarm, new { })
        </td>
        <td>
            Warm
        </td>

        <td for="TypeRollHot">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollHot, new { })
        </td>
        <td>
            Hot
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.12	Gas Cutting
            </b>
        </td>
    </tr>
    <tr>

        <td for="GasCuttingPreHeat">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().GasCuttingPreHeat, new { })
        </td>
        <td>
            With Pre-Heating at 100&deg; C
        </td>

        <td for="GasCuttingPreHeatNR">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().GasCuttingPreHeatNR, new { })
        </td>
        <td>
            Pre-Heating Not Required
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.13	C / seam WEP
            </b>
        </td>
    </tr>
    <tr>

        <td for="CSeamWEPPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CSeamWEPPlate, new { })
        </td>
        <td>
            Plate Stage
        </td>

        <td for="CSeamWEPAfter">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().CSeamWEPAfter, new { })
        </td>
        <td>
            After Rolling (nub shell)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.14 PTC Required for
            </b>
        </td>
    </tr>
    <tr>
        <td for="PTCRequiredforLS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforLS, new { })
        </td>
        <td>
            L/S
        </td>

        <td for="PTCRequiredforCS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforCS, new { })
        </td>
        <td>
            C/S
        </td>

        <td for="PTCRequiredforDend">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforDend, new { })
        </td>
        <td>
            D &apos; end
        </td>

        <td for="PTCRequiredforDendShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforDendShell, new { })
        </td>
        <td>
            D &apos; end # Shell
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.15	ISR Required for
            </b>
        </td>
    </tr>
    <tr>
        <td for="ISRRequiredforLS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforLS, new { })
        </td>
        <td>
            L/S
        </td>

        <td for="ISRRequiredforCS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforCS, new { })
        </td>
        <td>
            C/S
        </td>

        <td for="ISRRequiredforNozzle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforNozzle, new { })
        </td>
        <td>
            Nozzle
        </td>

        <td for="ISRRequiredforCone">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforCone, new { })
        </td>
        <td>
            Cone
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.16 PT / MT After
            </b>
        </td>
    </tr>
    <tr>

        <td for="PTMTAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>

        <td for="PTMTAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>
        <td for="PTMTAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTMTAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.17	RT After (For Thk & lt; 50mm)
            </b>
        </td>
    </tr>
    <tr>
        <td for="RTAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>
        <td for="RTAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>

        <td for="RTAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>

        <td for="RTAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().RTAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
    </tr>
 
</table>
<br />
<br />
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:50px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 4 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.18	UT After (For Thk & gt; 50mm)
            </b>
        </td>
    </tr>
    <tr>
        <td for="UTAfterRecordable">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterRecordable, new { })
        </td>
        <td>
            Recordable
        </td>

        <td for="UTAfterConventional">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterConventional, new { })
        </td>
        <td>
            Conventional
        </td>

        <td for="UTAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>

        <td for="UTAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>

        <td for="UTAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>
    </tr>
    <tr>
        <td for="UTAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().UTAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.19	Ferrite After
            </b>
        </td>
    </tr>
    <tr>
        <td for="FerAfterWelding">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterWelding, new { })
        </td>
        <td>
            Welding
        </td>

        <td for="FerAfterOverlay">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterOverlay, new { })
        </td>
        <td>
            Overlay
        </td>

        <td for="FerAfterPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterPWHT, new { })
        </td>
        <td>
            PWHT
        </td>
        <td for="FerAfterHydro">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FerAfterHydro, new { })
        </td>
        <td>
            Hydro-test
        </td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">
            <b>
                2.20	D & apos; end Construction
            </b>
        </td>
    </tr>
    <tr>

        <td for="DCPetalWCrown">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DCPetalWCrown, new { })
        </td>
        <td>
            Petal with Crown
        </td>

        <td for="DC4PetalWoCrown">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DC4PetalWoCrown, new { })
        </td>
        <td>
            Petal without Crown
        </td>

        <td for="DCSinglePiece">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DCSinglePeice, new { })
        </td>
        <td>
            Single Piece
        </td>
        <td for="DCTwoHalves">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DCTwoHalves, new { })
        </td>
        <td>
            Two halves
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.21 D & apos; end Receipt Condition
            </b>
        </td>
    </tr>
    <tr>
        <td for="DRCFormedPetals">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedPetals, new { })
        </td>
        <td>
            Formed Petals
        </td>

        <td for="DRCFormedSetup">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedSetup, new { })
        </td>
        <td>
            Set-up (LEMF)
        </td>

        <td for="DRCFormedWelded">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedWelded, new { })
        </td>
        <td>
            Welded
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.22 Air rings :
            </b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <u>&nbsp;@Html.DisplayFor(m => Model.FirstOrDefault().AirRingNos)</u>
            Nos.
        </td>
        <td for="AirRingPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().AirRingPlate, new { })
        </td>
        <td>
            Fabricated from Plate
        </td>

        <td for="AirRingPipe">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().AirRingPipe, new { })
        </td>
        <td>
            Fabricated from Pipe
        </td>

        <td for="AirRingFIM">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().AirRingFIM, new { })
        </td>
        <td>
            FIM
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.23 Nozzles with inserts:
            </b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <u>&nbsp;@Html.DisplayFor(m => Model.FirstOrDefault().NozzInsNos)</u>
            Nos.
        </td>

        <td for="NozzInsPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NozzInsPWHT, new { })
        </td>
        <td>
            PWHT with section
        </td>

        <td for="NozzInsSep">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NozzInsSep, new { })
        </td>
        <td>
            Separate PWHT
        </td>

        <td for="NozzInsNA">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NozzInsNA, new { })
        </td>
        <td>
            NA
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.24 Nozzle Gasket Face Overlay
            </b>
        </td>
    </tr>
    <tr>
        <td for="NGFBfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFBfPWHT, new { })
        </td>
        <td>
            Before PWHT
        </td>

        <td for="NGFAfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFAfPWHT, new { })
        </td>
        <td>
            After PWHT
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.25 Stellite welding of nozzles :
            </b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <u>&nbsp; @Html.DisplayFor(m => Model.FirstOrDefault().StellNos)</u>
            Nos.
        </td>
        <td for="StellApp">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().StellApp, new { })
        </td>
        <td>
            Machining applicable
        </td>

        <td for="StellNApp">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().StellNApp, new { })
        </td>
        <td>
            Machining  Not applicable
        </td>

        <td for="StellWeld">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().StellWeld, new { })
        </td>
        <td>
            Mechanized welding applicable
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.26 Normalizing applicable in nozzles:
            </b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <u>&nbsp; @Html.DisplayFor(m => Model.FirstOrDefault().NormAppNos)</u>
            Nos.
        </td>
        <td for="NormAppMTC">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NormAppMTC, new { })
        </td>
        <td>
            MTC required
        </td>

        <td for="NormAppFIx">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().NormAppFIx, new { })
        </td>
        <td>
            Fixture required
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
       
</table>
<br />
<br />
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:20px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 5 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.27 SS Welding (Internals)
            </b>
        </td>
    </tr>
    <tr>
        <td for="SSWBfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWBfPWHT, new { })
        </td>
        <td>
            Before PWHT
        </td>
        <td for="SSWAfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWAfPWHT, new { })
        </td>
        <td>
            After PWHT
        </td>
        <td for="SSWBoth">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWBoth, new { })
        </td>
        <td>
            Before and After PWHT both
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.28 Vessel Support
            </b>
        </td>
    </tr>
    <tr>
        <td for="VessleSSkirt">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSkirt, new { })
        </td>
        <td>
            Skirt
        </td>

        <td for="VessleSSupp">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSupp, new { })
        </td>
        <td>
            Support Brackets
        </td>

        <td for="VessleSSaddle">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSaddle, new { })
        </td>
        <td>
            Saddles
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.29 Skirt made in LEMF
            </b>
        </td>
    </tr>
    <tr>

        <td for="SkirtMadein1">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMadein1, new { })
        </td>
        <td>
            Single Piece
        </td>
        <td for="SkirtMadein2">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMadein2, new { })
        </td>
        <td>
            Two Pieces (LAS + CS)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.30	Skirt # Vessel Joint
            </b>
        </td>
    </tr>
    <tr>
        <td for="SVJYring">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJYring, new { })
        </td>
        <td>
            Y-Ring
        </td>

        <td for="SVJBuildup">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJBuildup, new { })
        </td>
        <td>
            Build-up on D &apos; end
        </td>

        <td for="SVJLapJoint">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJLapJoint, new { })
        </td>
        <td>
            Lap Joint
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">
            <b>
                2.31 Fire Proofing Nuts Welding on Skirt in LEMF
            </b>
        </td>
    </tr>
    <tr>
        <td for="FPNWeldNuts">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FPNWeldNuts, new { })
        </td>
        <td>
            Weld All Nuts
        </td>
        <td for="FPNLeaveRow">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().FPNLeaveRow, new { })
        </td>
        <td>
            Leave row from bottom for tank rotator
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="10">
            <b>
                2.32 PWHT / LSR
            </b>
        </td>
    </tr>
    <tr>
        <td for="PWHTLSRSinglePiece">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTLSRSinglePiece, new { })
        </td>
        <td>
            Single Piece
        </td>
        <td for="PWHTLSRJoint">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTLSRJoint, new { })
        </td>
        <td>
            LSR Joint Allowed (In Sections),nos <u>@Html.DisplayFor(m => Model.FirstOrDefault().PWHTNoSec) &nbsp;</u>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.33 PTC / MTC Heat treatment
            </b>
        </td>
    </tr>
    <tr>
        <td for="PTCMTCptc">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCptc, new { })
        </td>
        <td>
            PTC with Job
        </td>
        <td for="PTCMTCmtc">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCmtc, new { })
        </td>
        <td>
            MTC with Job
        </td>
        <td for="PTCMTCptcSim">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCptcSim, new { })
        </td>
        <td>
            PTC Simulation
        </td>
        <td for="PTCMTCmtcSim">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCmtcSim, new { })
        </td>
        <td>
            MTC Simulation
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.34 Saddles for PWHT / Hydrotest
            </b>
        </td>
    </tr>
    <tr>
        <td for="SaddlesTrans">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesTrans, new { })
        </td>
        <td>
            Transportation Saddles Nos.
        </td>
        <td for="SaddlesAddit">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesAddit, new { })
        </td>
        <td>
            Additional Saddles Nos.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.35 PWHT in Furnace:
            </b>
        </td>
    </tr>
    <tr>
        <td for="PWHTinFurnacePFS">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnacePFS, new { })
        </td>
        <td>
            PFS
        </td>
        <td for="PWHTinFurnaceHFS1">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceHFS1, new { })
        </td>
        <td>
            HFS1
        </td>
        <td for="PWHTinFurnaceLEMF">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceLEMF, new { })
        </td>
        <td>
            LEMF
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.36 Section Weight for PWHT
            </b>
        </td>
    </tr>
    <tr>
        <td for="SectionWtMore230">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtMore230, new { })
        </td>
        <td>
            &gt;230 MT
        </td>

        <td for="SectionWt200To230">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt200To230, new { })
        </td>
        <td>
            200 - 230 MT
        </td>

        <td for="SectionWt150To200">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt150To200, new { })
        </td>
        <td>
            150-200 MT
        </td>

        <td for="SectionWtLess150">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtLess150, new { })
        </td>
        <td>
            &lt; 150MT
        </td>

        <td for="SectionWt4Sec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt4Sec, new { })
        </td>
        <td>
            4 Sections
        </td>
    </tr>
    <tr>
        <td for="SectionWt2Sec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt2Sec, new { })
        </td>
        <td>
            2 Sections
        </td>

        <td for="SectionWtNoSec">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtNoSec, new { })
        </td>
        <td>
            <u> &nbsp;   @Html.DisplayFor(m => Model.FirstOrDefault().SectionWtNoSecVal)</u>
            Sections
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </table>
    <br />
<br />
<br />
    <div class="row" style="width:100%">
        <footer class="clsfooter">
            <table border="1" class="clstable">
                <thead class="clsPara">
                    <tr>
                        <th>Rev.No</th>
                        <th>Revision Detail</th>
                        <th>Date</th>
                        <th>Prep. By</th>
                        <th>Appr.By</th>
                    </tr>
                </thead>
                <tbody class="clsPara">
                    <tr>
                        <td>@ViewBag.RevNo</td>
                        <td>First Issue</td>
                        <th>@ViewBag.CreatedOn</th>
                        <th>@ViewBag.CreatedBy</th>
                        <th>@ViewBag.ApprovedBy</th>
                    </tr>
                </tbody>
            </table>
        </footer>
    </div>
    <div style="height:20px"></div>
    <header class="clsheader">
        <table border="1" class="clstable">
            <tr class="clsPara">
                <td>Specification No</td>
                <td> @ViewBag.Document</td>
                <td>REV NO</td>
                <td> @ViewBag.RevNo</td>
                <td>Page 6 of 11</td>
            </tr>
            <tr class="clsPara">
                <td>
                    <img src="~/Images/smalllogo.png" />
                </td>
                <td colspan="4">Planning Checklist</td>
            </tr>
        </table>
    </header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td colspan="10">
            <b>
                2.37 Axle Required for movement
            </b>
        </td>
    </tr>
    <tr>
        <td for="ARMRequired">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMRequired, new { })
        </td>
        <td>
            Required
        </td>

        <td for="ARMRT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMRT, new { })
        </td>
        <td>
            RT
        </td>

        <td for="ARMPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMPWHT, new { })
        </td>
        <td>
            PWHT
        </td>

        <td for="ARMSB">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMSB, new { })
        </td>
        <td>
            S/B &amp; Painting
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.38 Hydrotest water requirement / Local Hydrotest of closing joints :  nos
            </b>
        </td>
    </tr>
    <tr>
        <td for="HWR30ppm">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().HWR30ppm, new { })
        </td>
        <td>
            30 ppm
        </td>
        <td for="HWR50ppm">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().HWR50ppm, new { })
        </td>
        <td>
            50 ppm
        </td>
        <td>
            <u>&nbsp; @Html.DisplayFor(m => Model.FirstOrDefault().HWRNoLim)</u>
            No limit
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.39	Maximum Size of Bolts/ stud
            </b>
        </td>
    </tr>
    <tr>
        <td for="MaxSBLess1_38">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess1_38, new { })
        </td>
        <td>
            &lt;&eq;1-3/8&quot;(Torque Wrench)
        </td>

        <td for="MaxSBLess1_78">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess1_78, new { })
        </td>
        <td>
            &lt;&eq;1-7/8&quot;(RSL4)
        </td>

        <td for="MaxSBLess2_14">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess2_14, new { })
        </td>
        <td>
            &lt;&eq;2-1/4&quot;(RSL8)
        </td>

        <td for="MaxSBLess4">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess4, new { })
        </td>
        <td>
            &lt;&eq;4&quot;(Stud Tensioning)
        </td>

    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.40	External Surface Treatment
            </b>
        </td>
    </tr>
    <tr>
        <td for="ESTPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTPlate, new { })
        </td>
        <td>
            Plate Stage
        </td>

        <td for="ESTShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTShell, new { })
        </td>
        <td>
            Shell Stage
        </td>

        <td for="ESTSection">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTSection, new { })
        </td>
        <td>
            Section Stage
        </td>
        <td for="ESTEquip">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTEquip, new { })
        </td>
        <td>
            Equipment
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.41	Internal Surface Treatment
            </b>
        </td>
    </tr>
    <tr>
        <td for="ISTPlate">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTPlate, new { })
        </td>
        <td>
            Plate Stage
        </td>

        <td for="ISTShell">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTShell, new { })
        </td>
        <td>
            Shell Stage
        </td>
        <td for="ISTSection">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTSection, new { })
        </td>
        <td>
            Section Stage
        </td>
        <td for="ISTEquip">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTEquip, new { })
        </td>
        <td>
            Equipment
        </td>

        <td for="ISTAfBfPWHT">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTAfBfPWHT, new { })
        </td>
        <td>
            After/ Before PWHT
        </td>
    </tr>
    <tr>
        <td for="ISTBfRefra">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTBfRefra, new { })
        </td>
        <td>
            Before refractory
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="10">
            <b>
                2.42	N2 Filling
            </b>
        </td>
    </tr>
    <tr>
        <td for="N2FillReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillReq, new { })
        </td>
        <td>
            Required
        </td>

        <td for="N2FillNotReq">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillNotReq, new { })
        </td>
        <td>
            Not required
        </td>

        <td for="N2FillOther">
            @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillOther, new { })
        </td>
        <td>
            Other Protection on internal surface
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

