﻿
@using IEMQSImplementation
@model HashSet<PCL027>

    <table border="1" style="border-collapse:collapse;width:100%;text-align:left">
    <thead class="clsPara">
        <tr>
            <th>Sr No</th>
            <th> Description</th>
            <th> Required? </th>
            <th> Reqt. Date </th>
            <th> Doc No. </th>
            <th> Released On </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                JPP
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().JPPReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().JPPReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().JPPDocNo, new { @class = "form-control" })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().JPPReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>

        <tr>
            <td>2</td>
            <td>
                Line Sketch
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LineSketchReq, new { })</td>
            <td> @Html.DisplayFor(m => Model.FirstOrDefault().LineSketchReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LineSketchDocNo, new { @class = "form-control" })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().LineSketchReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>

        <tr>
            <td>3</td>
            <td>
                Rolling Capacity Check
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().RollingCapaReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().RollingCapaReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollingCapaDocNo, new { @class = "form-control" })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().RollingCapaReleasedOn, "{0:dd/MM/yyyy}")    </td>
        </tr>

        <tr>
            <td>4</td>
            <td>
                Improvement Budget
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ImprovBudgetReq, new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ImprovBudgetReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().ImprovBudgetDocNo, new { @class = "form-control" })</td>
            <td>     @Html.DisplayFor(m => Model.FirstOrDefault().ImprovBudgetReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>

        <tr>
            <td>5</td>
            <td>
                RCCP Break-Up
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().RCCPBreakUpReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().RCCPBreakUpReqDate, "{0:dd/MM/yyyy}")    </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RCCPBreakUpDocNo, new { @class = "form-control" })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().RCCPBreakUpReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>

        <tr>
            <td>6</td>
            <td>
                Schedule in Concerto
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SchedConcertoReq, new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().SchedConcertoReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedConcertoDocNo, new { @class = "form-control" })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().SchedConcertoReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>

        <tr>
            <td>7</td>
            <td>
                Schedule in Excel and Link with Concerto
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SchedExlReq, new { })</td>
            <td>    @Html.DisplayFor(m => Model.FirstOrDefault().SchedExlReqDate, "{0:dd/MM/yyyy}")    </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SchedExlDocNo, new { @class = "form-control" })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().SchedExlReleasedOn, "{0:dd/MM/yyyy}")         </td>
        </tr>

        <tr>
            <td>8</td>
            <td>
                Subcontracting Plan
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SubcontPlanReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().SubcontPlanReqDate, "{0:dd/MM/yyyy}")  </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().SubcontPlanDocNo, new { @class = "form-control" })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().SubcontPlanReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>

        <tr>
            <td>9</td>
            <td>
                Long Seam
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongSeamReq, new { })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().LongSeamReqDate, "{0:dd/MM/yyyy}")
            </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().LongSeamDocNo, new { @class = "form-control" })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().LongSeamReleasedOn, "{0:dd/MM/yyyy}")   </td>
        </tr>

        <tr>
            <td>10</td>
            <td>
                Circ Seam
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircSeamReq, new { })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().CircSeamReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().CircSeamDocNo, new { @class = "form-control" })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().CircSeamReleasedOn, "{0:dd/MM/yyyy}") </td>
        </tr>

        <tr>
            <td>11</td>
            <td>
                Nub Build Up
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NubBuildReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().NubBuildReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NubBuildDocNo, new { @class = "form-control" })</td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().NubBuildReleasedOn, "{0:dd/MM/yyyy}")
            </td>
        </tr>

        <tr>
            <td>12</td>
            <td>
                Nozzle # Shell
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozzleShellReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().NozzleShellReqDate, "{0:dd/MM/yyyy}")      </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozzleShellDocNo, new { @class = "form-control" })</td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().NozzleShellReleasedOn, "{0:dd/MM/yyyy}")</td>
        </tr>

        <tr>
            <td>13</td>
            <td>
                Rolling Capacity Re-Check based on TC
            </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().RollCapaReReq, new { })</td>
            <td>   @Html.DisplayFor(m => Model.FirstOrDefault().RollCapaReReqDate, "{0:dd/MM/yyyy}") </td>
            <td>@Html.DisplayFor(m => Model.FirstOrDefault().RollCapaReDocNo, new { @class = "form-control" })</td>
            <td>  @Html.DisplayFor(m => Model.FirstOrDefault().RollCapaReReleasedOn, "{0:dd/MM/yyyy}")    </td>
        </tr>
        </tbody>
</table>
<div class="row" style="width:100%">
    <footer class="clsfooter">
        <table border="1" class="clstable">
            <thead class="clsPara">
                <tr>
                    <th>Rev.No</th>
                    <th>Revision Detail</th>
                    <th>Date</th>
                    <th>Prep. By</th>
                    <th>Appr.By</th>
                </tr>
            </thead>
            <tbody class="clsPara">
                <tr>
                    <td>@ViewBag.RevNo</td>
                    <td>First Issue</td>
                    <th>@ViewBag.CreatedOn</th>
                    <th>@ViewBag.CreatedBy</th>
                    <th>@ViewBag.ApprovedBy</th>
                </tr>
            </tbody>
        </table>
    </footer>
</div>
<div style="height:50px"></div>
<header class="clsheader">
    <table border="1" class="clstable">
        <tr class="clsPara">
            <td>Specification No</td>
            <td> @ViewBag.Document</td>
            <td>REV NO</td>
            <td> @ViewBag.RevNo</td>
            <td>Page 10 of 11</td>
        </tr>
        <tr class="clsPara">
            <td>
                <img src="~/Images/smalllogo.png" />
            </td>
            <td colspan="4">Planning Checklist</td>
        </tr>
    </table>
</header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tbody>
    <tr>
        <td>14</td>
        <td>
            Table of Nozzles
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().TablesNozReq, new { })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().TablesNozReqDate, "{0:dd/MM/yyyy}")</td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().TablesNozDocNo, new { @class = "form-control" })</td>
        <td>   @Html.DisplayFor(m => Model.FirstOrDefault().TablesNozReleasedOn, "{0:dd/MM/yyyy}")             </td>
    </tr>

    <tr>
        <td>15</td>
        <td>
            Table of Internals
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().TableIntReq, new { })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().TableIntReqDate, "{0:dd/MM/yyyy}") </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableIntDocNo, new { @class = "form-control" })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().TableIntReleasedOn, "{0:dd/MM/yyyy}")  </td>
    </tr>
    <tr>
        <td>16</td>
        <td>
            Table of Externals
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().TableExtReq, new { })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().TableExtReqDate, "{0:dd/MM/yyyy}")   </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().TableExtDocNo, new { @class = "form-control" })</td>
        <td>   @Html.DisplayFor(m => Model.FirstOrDefault().TableExtReleasedOn, "{0:dd/MM/yyyy}")       </td>
    </tr>

    <tr>
        <td>17</td>
        <td>
            HTR for Edge Breaking
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTREdgeReq, new { })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HTREdgeReqDate, "{0:dd/MM/yyyy}")   </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTREdgeDocNo, new { @class = "form-control" })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HTREdgeReleasedOn, "{0:dd/MM/yyyy}") </td>
    </tr>

    <tr>
        <td>18</td>
        <td>
            HTR for Rolling
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRRollReq, new { })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HTRRollReqDate, "{0:dd/MM/yyyy}")      </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRRollDocNo, new { @class = "form-control" })</td>
        <td> @Html.DisplayFor(m => Model.FirstOrDefault().HTRRollReleasedOn, "{0:dd/MM/yyyy}") </td>
    </tr>

    <tr>
        <td>19</td>
        <td>
            HTR for Re-Rolling
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRReRollReq, new { })</td>
        <td> @Html.DisplayFor(m => Model.FirstOrDefault().HTRReRollReqDate, "{0:dd/MM/yyyy}")  </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRReRollDocNo, new { @class = "form-control" })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HTRReRollReleasedOn, "{0:dd/MM/yyyy}")    </td>
    </tr>
    <tr>
        <td>20</td>
        <td>
            Reference Line Sketch
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().RefLineSketchReq, new { })</td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().RefLineSketchReqDate, "{0:dd/MM/yyyy}")</td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().RefLineSketchDocNo, new { @class = "form-control" })</td>
        <td>                        @Html.DisplayFor(m => Model.FirstOrDefault().RefLineSketchReleasedOn, "{0:dd/MM/yyyy}")</td>
    </tr>

    <tr>
        <td>20</td>
        <td>
            HTR for ISR Nozzle # Shell
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRISRNozzleShellReq, new { })</td>
        <td>   @Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNozzleShellReqDate, "{0:dd/MM/yyyy}")   </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNozzleShellDocNo, new { @class = "form-control" })</td>
        <td>   @Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNozzleShellReleasedOn, "{0:dd/MM/yyyy}")  </td>
    </tr>

    <tr>
        <td>21</td>
        <td>
            HTR for ISR Nozzle # D&apos;end
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRISRNozzleDEndReq, new { })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNozzleDEndReqDate, "{0:dd/MM/yyyy}")
        </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNozzleDEndDocNo, new { @class = "form-control" })</td>
        <td>   @Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNozzleDEndReleasedOn, "{0:dd/MM/yyyy}") </td>
    </tr>

    <tr>
        <td>22</td>
        <td>
            HTR for ISR Nub Build Up
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRISRNubBuildUpReq, new { })</td>
        <td> @Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNubBuildUpReqDate, "{0:dd/MM/yyyy}")</td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNubBuildUpDocNo, new { @class = "form-control" })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().HTRISRNubBuildUpReleasedOn, "{0:dd/MM/yyyy}")
        </td>
    </tr>

    <tr>
        <td>23</td>
        <td>
            HTR for PWHT
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRPWHTReq, new { })</td>
        <td>    @Html.DisplayFor(m => Model.FirstOrDefault().HTRPWHTReqDate, "{0:dd/MM/yyyy}")    </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRPWHTDocNo, new { @class = "form-control" })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().HTRPWHTReleasedOn, "{0:dd/MM/yyyy}")
        </td>
    </tr>

    <tr>
        <td>24</td>
        <td>
            HTR for LSR
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HTRLSRReq, new { })</td>
        <td>    @Html.DisplayFor(m => Model.FirstOrDefault().HTRLSRReqDate, "{0:dd/MM/yyyy}")     </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HTRLSRDocNo, new { @class = "form-control" })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HTRLSRReleasedOn, "{0:dd/MM/yyyy}") </td>
    </tr>

    <tr>
        <td>25</td>
        <td>
            Handling Plan
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HandlingPlanReq, new { })</td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HandlingPlanReqDate, "{0:dd/MM/yyyy}")</td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HandlingPlanDocNo, new { @class = "form-control" })</td>
        <td>  @Html.DisplayFor(m => Model.FirstOrDefault().HandlingPlanReleasedOn, "{0:dd/MM/yyyy}") </td>
    </tr>

    <tr>
        <td>26</td>
        <td>
            Locationof Tank Rotator and load on Floor
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LocationTankRotatorReq, new { })</td>
        <td> @Html.DisplayFor(m => Model.FirstOrDefault().LocationTankRotatorReqDate, "{0:dd/MM/yyyy}")  </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().LocationTankRotatorDocNo, new { @class = "form-control" })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().LocationTankRotatorReleasedOn, "{0:dd/MM/yyyy}")
        </td>
    </tr>

    <tr>
        <td>27</td>
        <td>
            HydroTest arrangement and load on Floor
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().HydrotestReq, new { })</td>
        <td>     @Html.DisplayFor(m => Model.FirstOrDefault().HydrotestReqDate, "{0:dd/MM/yyyy}")  </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().HydrotestDocNo, new { @class = "form-control" })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().HydrotestReleasedOn, "{0:dd/MM/yyyy}")
        </td>
    </tr>

    <tr>
        <td>28</td>
        <td>
            Surface Treatment Request
        </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SurfaceTreatRequestReq, new { })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().SurfaceTreatRequestReqDate, "{0:dd/MM/yyyy}")
        </td>
        <td>@Html.DisplayFor(m => Model.FirstOrDefault().SurfaceTreatRequestDocNo, new { @class = "form-control" })</td>
        <td>
            @Html.DisplayFor(m => Model.FirstOrDefault().SurfaceTreatRequestReleasedOn, "{0:dd/MM/yyyy}")
        </td>
    </tr>


    </tbody>
</table>


