﻿@using IEMQSImplementation
@model HashSet<PCL020>
 <table border="1" style="border-collapse:collapse;width:100%">
        <tr>
            <th> Sr no</th>
            <th> Description </th>
            <th> Applicable </th>
            <th> PC-1 Shop </th>
            <th> M/C Shop</th>
            <th> HPC-3 </th>
            <th> RNW </th>
            <th> Outside </th>
        </tr>

        <tr>
            <td>1</td>
            <td> Equipment       </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentPC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentHPC3, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().EquipmentOutside, new { })</td>
        </tr>

        <tr>
            <td>2</td>
            <td>   D'end Forming     </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingPC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingMC, new { })</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingHPC3, new { })</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndFormingOutside, new { })</td>
        </tr>

        <tr>
            <td>3</td>
            <td>   D'end Setup     </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupPC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupHPC3, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndSetupOutside, new { })</td>
        </tr>

        <tr>
            <td>4</td>
            <td>   D'end Welding     </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingPC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingHPC3, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DEndWeldingOutside, new { })</td>
        </tr>

        <tr>
            <td>5</td>
            <td>   Skirt     </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtPC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtHPC3, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtOutside, new { })</td>
        </tr>
        <tr>
            <td>6</td>
            <td>   Y-Ring L/S Welding     </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingLSNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingLSPC, new { })</td>
            <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingLSMC, new { })</td>
            <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingLSHPC3, new { })</td>
            <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingLSRNW, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingLSOutside, new { })</td>
        </tr>
        <tr>
            <td>7</td>
            <td>   Y-Ring Overlay Welding    </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingOverlayNotReq, new { })</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingOverlayPC, new { })</td>
            <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingOverlayMC, new { })</td>
            <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingOverlayHPC3, new { })</td>
            <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingOverlayRNW, new { })</td>
            <td>>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingOverlayOutside, new { })</td>
        </tr>

        <tr>
            <td>8</td>
            <td>   Y-Ring Machining     </td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningNotReq, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningPC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningMC, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningHPC3, new { })</td>
            <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningRNW, new { })</td>
            <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().YRingMachiningOutside, new { })</td>
        </tr>
     </table>
     <div class="row" style="width:100%">
         <footer class="clsfooter">
             <table border="1" class="clstable">
                 <thead class="clsPara">
                     <tr>
                         <th>Rev.No</th>
                         <th>Revision Detail</th>
                         <th>Date</th>
                         <th>Prep. By</th>
                         <th>Appr.By</th>
                     </tr>
                 </thead>
                 <tbody class="clsPara">
                     <tr>
                         <td>@ViewBag.RevNo</td>
                         <td>First Issue</td>
                         <th>@ViewBag.CreatedOn</th>
                         <th>@ViewBag.CreatedBy</th>
                         <th>@ViewBag.ApprovedBy</th>
                     </tr>
                 </tbody>
             </table>
         </footer>
     </div>

     <div style="height:50px"></div>
     <header class="clsheader">
         <table border="1" class="clstable">
             <tr>
                 <td>Specification No</td>
                 <td> @ViewBag.Document</td>
                 <td>REV NO</td>
                 <td> @ViewBag.RevNo</td>
                 <td>Page 8 of 11</td>
             </tr>
             <tr>
                 <td>
                     <img src="~/Images/smalllogo.png" />
                 </td>
                 <td colspan="4">Planning Checklist</td>
             </tr>
         </table>
     </header>
<table border="1" style="border-collapse:collapse;width:100%">
    <tr>
        <td>9</td>
        <td>   Nozzle initial Machining     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningPC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningHPC3, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozMachiningOutside, new { })</td>
    </tr>

    <tr>
        <td>10</td>
        <td>   Nozzle Overlay     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayPC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayHPC3, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozOverlayOutside, new { })</td>
    </tr>

    <tr>
        <td>11</td>
        <td>   Manway Overlay     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayPC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayHPC3, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManOverlayOutside, new { })</td>
    </tr>

    <tr>
        <td>12</td>
        <td>   Nozzle final Machining     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningNotReq, new { })</td>
        <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningPC, new { })</td>
        <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningMC, new { })</td>
        <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningHPC3, new { })</td>
        <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningRNW, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().NozFinMachiningOutside, new { })</td>
    </tr>

    <tr>
        <td>13</td>
        <td>   Nozzle Cutout WEP     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPPC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPHPC3, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPRNW, new { })</td>
        <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().NozWEPOutside, new { })</td>
    </tr>

    <tr>
        <td>14</td>
        <td>   Long seam WEP for Shell     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPPC, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPHPC3, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LongWEPOutside, new { })</td>
    </tr>

    <tr>
        <td>15</td>
        <td>   Circ seam WEP for Shell     </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPNotReq, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPPC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPHPC3, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPRNW, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().CircWEPOutside, new { })</td>
    </tr>

    <tr>
        <td>16</td>
        <td>   Balling Eye Fabrication   </td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().BailingNotReq, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().BailingPC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BailingMC, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().BailingHPC3, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().BailingRNW, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().BailingOutside, new { })</td>
    </tr>

    <tr>
        <td>17</td>
        <td> Lifting Eye Fabrication    </td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationNotReq, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationPC, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationMC, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationHPC3, new { })</td>
        <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationRNW, new { })</td>
        <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LiftFabricationOutside, new { })</td>
    </tr>

                <tr>
                    <td>18</td>
                    <td>   Weldable External Fabrication     </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldExFabOutside, new { })</td>
                </tr>

                <tr>
                    <td>19</td>
                    <td>   Weldable Internal Fabrication     </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeldInFabOutside, new { })</td>
                </tr>

                <tr>
                    <td>20</td>
                    <td>  Insulation Ring/ Strap Fabrication    </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabHPC3, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().InsFabOutside, new { })</td>
                </tr>

                <tr>
                    <td>21</td>
                    <td>  Saddles   </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesNotReq, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesPC, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesMC, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesOutside, new { })</td>
                </tr>

                <tr>
                    <td>22</td>
                    <td> Skirt template </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplatePC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtTemplateOutside, new { })</td>
                </tr>

                <tr>
                    <td>23</td>
                    <td>  Skirt Slotting    </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtSlottingNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtSlottingPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtSlottingMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtSlottingHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtSlottingRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtSlottingOutside, new { })</td>
                </tr>

                <tr>
                    <td>24</td>
                    <td>   PWHT   </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTMC, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTHPC3, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTRNW, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTOutside, new { })</td>
                </tr>

                <tr>
                    <td>25</td>
                    <td>   N2 Filling   </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillHPC3, new { })</td>
                    <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillOutside, new { })</td>
                </tr>

                <tr>
                    <td>26</td>
                    <td>  Sand Blasting   </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingMC, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().SandBlastingOutside, new { })</td>
                </tr>

                <tr>
                    <td>27</td>
                    <td>  Painting    </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingMC, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().PaintingOutside, new { })</td>
                </tr>

                <tr>
                    <td>28</td>
                    <td>  Acid Cleaning    </td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningRNW, new { })</td>
                    <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().AcidCleaningOutside, new { })</td>
                </tr>

                <tr>
                    <td>29</td>
                    <td>  Weight Measurement    </td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementRNW, new { })</td>
                    <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().WeightMeasurementOutside, new { })</td>
                </tr>

                <tr>
                    <td>30</td>
                    <td>   Manway Davit     </td>
                    <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ManwayDavitOutside, new { })</td>
                </tr>

                <tr>
                    <td>31</td>
                    <td>   Vessel Davit     </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitMC, new { })</td>
                    <td>  @Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitHPC3, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().VesselDavitOutside, new { })</td>
                </tr>

                <tr>
                    <td>32</td>
                    <td>  Load Testing of Bailing eye/Lifting Frame   </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LoadTestNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LoadTestPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LoadTestMC, new { })</td>
                    <td> @Html.CheckBoxFor(m => Model.FirstOrDefault().LoadTestHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LoadTestRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().LoadTestOutside, new { })</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td> Dump Nozzle Machining after PWHT/LSR   </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DumpNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DumpPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DumpMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DumpHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DumpRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().DumpOutside, new { })</td>
                </tr>

                <tr>
                    <td>34</td>
                    <td>  Shipping (Ex-work / FAS / FOB / At - Port / At - Site / Erection)     </td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingNotReq, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingPC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingMC, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingHPC3, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingRNW, new { })</td>
                    <td>@Html.CheckBoxFor(m => Model.FirstOrDefault().ShippingOutside, new { })</td>
                </tr>
            </table>

<div style="height:155px"></div>
<footer>
    <table border="1" style="border-collapse:collapse;width:100%">
        <thead>
            <tr>
                <th>Rev.No</th>
                <th>Revision Detail</th>
                <th>Date</th>
                <th>Prep. By</th>
                <th>Appr.By</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.RevNo</td>
                <td>First Issue</td>
                <th>@ViewBag.CreatedOn</th>
                <th>@ViewBag.CreatedBy</th>
                <th>@ViewBag.ApprovedBy</th>
            </tr>
        </tbody>
    </table>
</footer>

    <div style="height:15px;"></div>
