﻿@using IEMQSImplementation
@model HashSet<PCL030>
<div class="fdControls">
    <table border="1" style="border-collapse:collapse;width:100%">
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.1	Reactor Overall Dimension
                </b>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                ID :(mm)
            </td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorID)
            </td>
            <td>
                Thk :(mm)
            </td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorThk1)
            </td>
            <td>
                TS face # face:(mm)
            </td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().TSFace)
            </td>
            <td>
                Total length with Preheater :(mm)
            </td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorLg)
            </td>
            <td>
                Fabricated Wt:(MT)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorFabWt)
            </td>
            <td>
                Hydro Wt: (Balance)
            </td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorHydroWt)
            </td>
            <td>
                Max. Shell Wd:(mm)
            </td>
            <td>
                @Html.DisplayFor(m => Model.FirstOrDefault().ReactorMaxShellWd)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.2	Reactor Designed for External Pressure Also?
                </b>
            </td>
        </tr>
        <tr>

            <td>
                @if (Model.Count() > 0)
                {
                    if (Model.FirstOrDefault().ReactoreDesigned == true)
                    {
                        @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { @checked = true });
                    }
                    else
                    { @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { });
                    }
                }
                else
                {@Html.CheckBox("ReactoreDesigned", new { });
                }
            </td>

            <td>

                Yes (Special <quote>e value</quote> Templates required as per Code)
            </td>
            <td>
                @if (Model.Count() > 0)
                {
                    if (Model.FirstOrDefault().ReactoreDesigned == true)
                    {
                        @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { });
                    }
                    else
                    { @Html.CheckBoxFor(m => Model.FirstOrDefault().ReactoreDesigned, new { @checked = true });
                    }
                }
                else
                {@Html.CheckBox("ReactoreDesigned", new { });
                }
            </td>
            <td>

                No
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.3	Tube Sheet Construction
                </b>
            </td>
        </tr>
        <tr>
            <td for="TSC1Pc">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSC1Pc, new { })
            </td>
            <td>
                Single Piece
            </td>
            <td for="TSC2PcLS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSC2PcLS, new { })
            </td>
            <td>
                Two Pieces - L/S
            </td>

            <td for="TSC2PCCS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSC2PCCS, new { })
            </td>
            <td>
                Two pieces - C/S
                (Donut type)
            </td>
            <td for="TSC3Pc">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSC3Pc, new { })
            </td>
            <td>
                &lt; 2 Pieces - L/S (3 Piece)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.4	Tube sheet diameter
                </b>
            </td>
        </tr>
        <tr>

            <td for="TSDLess1">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSDLess1, new { })
            </td>
            <td>
                &lt; 1m
            </td>
            <td for="TSD4_1">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSD4_1, new { })
            </td>
            <td>
                &lt; 4m &amp; &gt; 1m
            </td>
            <td for="TSD4_6">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSD4_6, new { })
            </td>
            <td>
                &gt;4m &amp; &lt;6m
            </td>
            <td for="TSDMore6">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSDMore6, new { })
            </td>
            <td>
                &gt;6m (7958mm)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.5	Tube Sheet material
                </b>
            </td>
        </tr>
        <tr>

            <td for="TSMSS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSMSS, new { })
            </td>
            <td>
                SS
            </td>

            <td for="TSMLAS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSMLAS, new { })
            </td>
            <td>
                LAS
            </td>

            <td for="TSMCS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSMCS, new { })
            </td>
            <td>
                CS (SA765 Gr II + alloy weld overlay on channel side)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.6 Tube Sheet overlay
                </b>
            </td>
        </tr>
        <tr>
            <td for="TSOSS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSOSS, new { })
            </td>
            <td>
                SS
            </td>

            <td for="TSOCS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSOCS, new { })
            </td>
            <td>
                CS
            </td>

            <td for="TSOInconnel">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSOInconnel, new { })
            </td>
            <td>
                Inconnel
            </td>

            <td for="TSONr">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TSONr, new { })
            </td>
            <td>
                Not Required
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.7	Tube size
                </b>
            </td>
        </tr>
        <tr>

            <td for="TubeSizeOD">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeSizeOD, new { })
            </td>
            <td>
                OD:51.36mm
            </td>
            <td for="TubeSizeThik">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeSizeThik, new { })
            </td>
            <td>
                Thick:2.11mm
            </td>

            <td for="TubeSizeLg">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeSizeLg, new { })
            </td>
            <td>
                Length:9316mm
            </td>

            <td for="TubeSizeQty">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeSizeQty, new { })
            </td>
            <td>
                Qty:11124 Nos.
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="row" style="width:100%">
        <footer class="clsfooter">
            <table border="1" class="clstable">
                <thead class="clsPara">
                    <tr>
                        <th>Rev.No</th>
                        <th>Revision Detail</th>
                        <th>Date</th>
                        <th>Prep. By</th>
                        <th>Appr.By</th>
                    </tr>
                </thead>
                <tbody class="clsPara">
                    <tr>
                        <td>@ViewBag.RevNo</td>
                        <td>First Issue</td>
                        <th>@ViewBag.CreatedOn</th>
                        <th>@ViewBag.CreatedBy</th>
                        <th>@ViewBag.ApprovedBy</th>
                    </tr>
                </tbody>
            </table>
        </footer>
    </div>
    <div style="height:50px"></div>
    <header class="clsheader">
        <table border="1" class="clstable">
            <tr class="clsPara">
                <td>Specification No</td>
                <td> @ViewBag.Document</td>
                <td>REV NO</td>
                <td> @ViewBag.RevNo</td>
                <td>Page 3 of 11</td>
            </tr>
            <tr class="clsPara">
                <td>
                    <img src="~/Images/smalllogo.png" />
                </td>
                <td colspan="4">Planning Checklist</td>
            </tr>
        </table>
    </header>
    <table border="1" style="border-collapse:collapse;width:100%">
        <tr>
            <td colspan="10">
                <b>
                    2.8	Tube material
                </b>
            </td>
        </tr>
        <tr>
            <td for="TubeMatDSS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeMatDSS, new { })
            </td>
            <td>
                DSS(hole size = 50.8mm)
            </td>

            <td for="TubeMatCS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeMatCS, new { })
            </td>
            <td>
                CS
            </td>

            <td for="TubeMatLAS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeMatLAS, new { })
            </td>
            <td>
                LAS
            </td>

            <td for="TubeMatInco">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TubeMatInco, new { })
            </td>
            <td>
                Inconel
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.9	Baffle size/Material
                </b>
            </td>
        </tr>
        <tr>
            <td for="BaffSizeOD">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffSizeOD, new { })
            </td>
            <td>
                OD: 7192mm
            </td>
            <td for="BaffSizeThik">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffSizeThik, new { })
            </td>
            <td>
                Thick:25mm
            </td>
            <td for="BaffSizeMat">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffSizeMat, new { })
            </td>
            <td>
                Mat : CS
            </td>
            <td for="BaffSizeQty">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffSizeQty, new { })
            </td>
            <td>
                Qty: 6 Nos
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.10	Baffle Type
                </b>
            </td>
        </tr>
        <tr>

            <td for="BaffType1Pc">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffType1Pc, new { })
            </td>
            <td>
                Plate-Single piece
            </td>
            <td for="BaffTypeMore1">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffTypeMore1, new { })
            </td>
            <td>
                Plate-More than 1 piece
            </td>
            <td for="BaffTypeGrid">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffTypeGrid, new { })
            </td>
            <td>
                Grid
            </td>

            <td for="BaffTypeBox">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BaffTypeBox, new { })
            </td>
            <td>
                Box
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2. 11	Baffle assembly condition
                </b>
            </td>
        </tr>
        <tr>
            <td for="BACAHoriz">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BACAHoriz, new { })
            </td>
            <td>
                Axis Horizontal
            </td>

            <td for="BACAVert">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BACAVert, new { })
            </td>
            <td>
                Axis Vertical
            </td>

            <td for="BACFab">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().BACFab, new { })
            </td>
            <td>
                Fabrication with tube bundle
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.12	Ferrule required?
                </b>
            </td>
        </tr>
        <tr>
            <td for="FerruleReqN">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().FerruleReqN, new { })
            </td>
            <td>
                No
            </td>

            <td for="FerruleReqY">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().FerruleReqY, new { })
            </td>
            <td>
                Yes (In ID)
            </td>

            <td for="FerruleReqMat">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().FerruleReqMat, new { })
            </td>
            <td>
                Mat : SS
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.13	Tube # Tubesheet joint type
                </b>
            </td>
        </tr>
        <tr>
            <td for="TTTWeld">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTTWeld, new { })
            </td>
            <td>
                Welded (Fillet+Groove)
            </td>
            <td for="TTTExp">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTTExp, new { })
            </td>
            <td>
                Expanded
            </td>

            <td for="TTTOthr">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTTOthr, new { })
            </td>
            <td>
                Other
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.14	Tube # Tubesheet Mock up block requirements – all below req.
                </b>
            </td>
        </tr>
        <tr>
            <td for="TTM2WeldMock">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTM2WeldMock, new { })
            </td>
            <td>
                2 nos weld mock up for customer
            </td>
            <td for="TTM2WeldProd">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTM2WeldProd, new { })
            </td>
            <td>
                2 nos Weld production block
            </td>

            <td for="TTM6">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTM6, new { })
            </td>
            <td>
                6 nos welder qualification block
            </td>
            <td for="TTM1">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTM1, new { })
            </td>
            <td>
                1 no Expansion mock up block
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.15	Tube # Tubesheet joint welding method
                </b>
            </td>
        </tr>
        <tr>
            <td for="TTWAuto">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTWAuto, new { })
            </td>
            <td>
                Automatic
            </td>

            <td for="TTWManual">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTWManual, new { })
            </td>
            <td>
                Manual
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.16	Tube # Tubesheet joint testing
                </b>
            </td>
        </tr>
        <tr>
            <td for="TTJAir">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTJAir, new { })
            </td>
            <td>
                Air Test
            </td>

            <td for="TTJHel">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTJHel, new { })
            </td>
            <td>
                Helium test
            </td>
            <td for="TTJHydr">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TTJHydr, new { })
            </td>
            <td>
                Hydrotest
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.17	Tube expansion method
                </b>
            </td>
        </tr>
        <tr>

            <td for="TEMMech">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TEMMech, new { })
            </td>
            <td>
                Mechanical
            </td>

            <td for="TEMHydro">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TEMHydro, new { })
            </td>
            <td>
                Hydro
            </td>

            <td for="TEMOther">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TEMOther, new { })
            </td>
            <td>
                Other
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br />
    <br />
    <div class="row" style="width:100%">
        <footer class="clsfooter">
            <table border="1" class="clstable">
                <thead class="clsPara">
                    <tr>
                        <th>Rev.No</th>
                        <th>Revision Detail</th>
                        <th>Date</th>
                        <th>Prep. By</th>
                        <th>Appr.By</th>
                    </tr>
                </thead>
                <tbody class="clsPara">
                    <tr>
                        <td>@ViewBag.RevNo</td>
                        <td>First Issue</td>
                        <th>@ViewBag.CreatedOn</th>
                        <th>@ViewBag.CreatedBy</th>
                        <th>@ViewBag.ApprovedBy</th>
                    </tr>
                </tbody>
            </table>
        </footer>
    </div>
    <div style="height:50px"></div>
    <header class="clsheader">
        <table border="1" class="clstable">
            <tr class="clsPara">
                <td>Specification No</td>
                <td> @ViewBag.Document</td>
                <td>REV NO</td>
                <td> @ViewBag.RevNo</td>
                <td>Page 4 of 11</td>
            </tr>
            <tr class="clsPara">
                <td>
                    <img src="~/Images/smalllogo.png" />
                </td>
                <td colspan="4">Planning Checklist</td>
            </tr>
        </table>
    </header>
    <table border="1" style="border-collapse:collapse;width:100%">
        <tr>
            <td colspan="10">
                <b>
                    2.18	Other special requirements in Tube # Tubesheet joint :
                </b>
            </td>
        </tr>
        <tr>
            <td for="OSRHel">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().OSRHel, new { })
            </td>
            <td>
                Helium test &amp; Expansion
            </td>

            <td for="OSRFerr">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().OSRFerr, new { })
            </td>
            <td>
                Ferrule welding after air test
            </td>

        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.19 Tubesheet circ seam joint
                </b>
            </td>
        </tr>
        <tr>
            <td for="TCSWeld">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TCSWeld, new { })
            </td>
            <td>
                Welded
            </td>

            <td for="TCSThread">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TCSThread, new { })
            </td>
            <td>
                Threaded plug
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.20	Shell Construction
                </b>
            </td>
        </tr>
        <tr>

            <td for="SC1Seg">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SC1Seg, new { })
            </td>
            <td>
                Single Seg
            </td>

            <td for="SC2Seg">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SC2Seg, new { })
            </td>
            <td>
                Twoe Segments
            </td>

            <td for="SC3Seg">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SC3Seg, new { })
            </td>
            <td>
                3 Segments
            </td>

            <td for="SCForged">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SCForged, new { })
            </td>
            <td>
                Forged Shell
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.21	Type of Rolling
                </b>
            </td>
        </tr>
        <tr>
            <td for="TypeRollCold">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollCold, new { })
            </td>
            <td>
                Cold
            </td>

            <td for="TypeRollWarm">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollWarm, new { })
            </td>
            <td>
                Warm
            </td>

            <td for="TypeRollHot">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TypeRollHot, new { })
            </td>
            <td>
                Hot
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.22	Gas Cutting
                </b>
            </td>
        </tr>
        <tr>
            <td for="GasCuttingPreHeat">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().GasCuttingPreHeat, new { })
            </td>
            <td>
                With Pre-heating at  175  Deg C
            </td>

            <td for="GasCuttingPreHeatNR">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().GasCuttingPreHeatNR, new { })
            </td>
            <td>
                Pre-Heating Not Reqd.
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.23	Shell Push thru gauge passing required?
                </b>
            </td>
        </tr>
        <tr>
            <td for="ShellPush">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ShellPush, new { })
            </td>
            <td>
                Yes
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.24	C/seam WEP
                </b>
            </td>
        </tr>
        <tr>
            <td for="CSeamWEPPlate">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().CSeamWEPPlate, new { })
            </td>
            <td>
                Plate Stage (max 11500 mm)
            </td>

            <td for="CSeamWEPAfter">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().CSeamWEPAfter, new { })
            </td>
            <td>
                6 Nos. After Long seam welding
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.25 PTC Required for
                </b>
            </td>
        </tr>
        <tr>
            <td for="PTCRequiredforLS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforLS, new { })
            </td>
            <td>
                L/S – Shell &amp; T/S
            </td>

            <td for="PTCRequiredforCS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforCS, new { })
            </td>
            <td>
                C/S – Insert C/s
            </td>

            <td for="PTCRequiredforDend">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforDend, new { })
            </td>
            <td>
                D’end- Top head and cladded Head Petal
            </td>
            <td for="PTCRequiredforDendShell">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforDendShell, new { })
            </td>
            <td>
                D’end # Shell – Closing seam
            </td>
            <td for="PTCRequiredforTTS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCRequiredforTTS, new { })
            </td>
            <td>
                T#T/S Mockup block- 2 nos
            </td>

        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.26	ISR Required for –
                </b>
            </td>
        </tr>
        <tr>
            <td for="ISRRequiredforLS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforLS, new { })
            </td>
            <td>
                L/S-TS
            </td>
            <td for="ISRRequiredforCS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforCS, new { })
            </td>
            <td>
                C/S
            </td>
            <td for="ISRRequiredforNozzle">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforNozzle, new { })
            </td>
            <td>
                Nozzle
            </td>
            <td for="ISRRequiredforNub">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforNub, new { })
            </td>
            <td>
                Nub
            </td>
            <td for="ISRRequiredforTSR">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISRRequiredforTSR, new { })
            </td>
            <td>
                TSR
            </td>
        </tr>
    </table>
        <br />
        <br />
        <div class="row" style="width:100%">
            <footer class="clsfooter">
                <table border="1" class="clstable">
                    <thead class="clsPara">
                        <tr>
                            <th>Rev.No</th>
                            <th>Revision Detail</th>
                            <th>Date</th>
                            <th>Prep. By</th>
                            <th>Appr.By</th>
                        </tr>
                    </thead>
                    <tbody class="clsPara">
                        <tr>
                            <td>@ViewBag.RevNo</td>
                            <td>First Issue</td>
                            <th>@ViewBag.CreatedOn</th>
                            <th>@ViewBag.CreatedBy</th>
                            <th>@ViewBag.ApprovedBy</th>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
        <div style="height:20px"></div>
        <header class="clsheader">
            <table border="1" class="clstable">
                <tr class="clsPara">
                    <td>Specification No</td>
                    <td> @ViewBag.Document</td>
                    <td>REV NO</td>
                    <td> @ViewBag.RevNo</td>
                    <td>Page 5 of 11</td>
                </tr>
                <tr class="clsPara">
                    <td>
                        <img src="~/Images/smalllogo.png" />
                    </td>
                    <td colspan="4">Planning Checklist</td>
                </tr>
            </table>
        </header>
        <table border="1" style="border-collapse:collapse;width:100%">
            <tr>
                <td colspan="10">
                    <b>
                        2.27	Shell Overlay Type
                    </b>
                </td>
            </tr>
            <tr>
                <td for="SOTESSCSingle">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCSingle, new { })
                </td>
                <td>
                    ESSC Single Layer
                </td>
                <td for="SOTESSCDouble">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCDouble, new { })
                </td>
                <td>
                    ESSC Double Layer
                </td>
                <td for="SOTESSCClade">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCClade, new { })
                </td>
                <td>
                    Clad
                </td>
                <td for="SOTESSCOlayNR">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SOTESSCOlayNR, new { })
                </td>
                <td>
                    O/Lay not Required
                </td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.28	D’end Construction
                    </b>
                </td>
            </tr>
            <tr>
                <td for="DCPetalWCrown">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DCPetalWCrown, new { })
                </td>
                <td>
                    Petal with Crown
                </td>
                <td for="DC8PetalWoCrown">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DC8PetalWoCrown, new { })
                </td>
                <td>
                    8 nos Petals without Crown –TDE + 4 nos petals – Insert head
                </td>
                <td for="DCSinglePeice">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DCSinglePeice, new { })
                </td>
                <td>
                    Single Piece
                </td>
                <td for="DCTwoHalves">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DCTwoHalves, new { })
                </td>
                <td>
                    Two halves
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.29	D’end Receipt Condition
                    </b>
                </td>
            </tr>
            <tr>
                <td for="DRCFormedPetals">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedPetals, new { })
                </td>
                <td>
                    Forming Petals at
                </td>

                <td for="DRCFormedSetup">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedSetup, new { })
                </td>
                <td>
                    Set-up
                </td>

                <td for="DRCFormedWelded">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DRCFormedWelded, new { })
                </td>
                <td>
                    Welded(LEMF)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.30	D’end Overlay Type
                    </b>
                </td>
            </tr>
            <tr>
                <td for="DOTESSCSingle">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCSingle, new { })
                </td>
                <td>
                    ESSC Single Layer
                </td>
                <td for="DOTESSCDouble">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCDouble, new { })
                </td>
                <td>
                    ESSC Double Layer Insert shell
                </td>
                <td for="DOTESSCClade">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCClade, new { })
                </td>
                <td>
                    Clad – Insert head
                </td>
                <td for="DOTESSCOlayNR">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DOTESSCOlayNR, new { })
                </td>
                <td>
                    O/Lay not Req. –Top head
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.31	Skirt # Vessel Joint :
                    </b>
                </td>
            </tr>
            <tr>
                <td for="SVJYring">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJYring, new { })
                </td>
                <td>
                    Y-Ring
                </td>
                <td for="SVJBuildup">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJBuildup, new { })
                </td>
                <td>
                    Build-up on D&apos;end
                </td>
                <td for="SVJLapJoint">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJLapJoint, new { })
                </td>
                <td>
                    Lap Joint
                </td>
                <td for="SVJNA">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SVJNA, new { })
                </td>
                <td>
                    NA
                </td>
                <td></td>
                <td></td>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.32	Diffuser/Weir  Support Ring : NA
                    </b>
                </td>
            </tr>
            <tr>
                <td for="DSRWeldBuildup">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRWeldBuildup, new { })
                </td>
                <td>
                    Weld Build up
                </td>
                <td for="DSRForgedShell">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRForgedShell, new { })
                </td>
                <td>
                    Forged Shell
                </td>
                <td for="DSRPlateWOlay">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRPlateWOlay, new { })
                </td>
                <td>
                    Plate with O/Lay
                </td>

                <td for="DSRPlate">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRPlate, new { })
                </td>
                <td>
                    Plate with Double Clad
                </td>
                <td for="DSRSSPlate">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRSSPlate, new { })
                </td>
                <td>
                    CS Plate Ring
                </td>
            </tr>
            <tr>
                <td for="DSRNoofGussets">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRNoofGussets, new { })
                </td>
                <td>
                    16+12 Nos. of Gussets in Ring
                </td>

                <td for="DSRNR">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().DSRNR, new { })
                </td>
                <td>
                    Not Required
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.33 Nozzle Flange Face NA
                    </b>
                </td>
            </tr>
            <tr>
                <td for="NFFRaised">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().NFFRaised, new { })
                </td>
                <td>
                    Raised
                </td>
                <td for="NFFGroove">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().NFFGroove, new { })
                </td>
                <td>
                    Groove
                </td>
                <td for="NFFOther">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().NFFOther, new { })
                </td>
                <td>
                    Other
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.34	Nozzle Gasket Face Overlay : NA
                    </b>
                </td>
            </tr>
            <tr>
                <td for="NGFBfPWHT">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFBfPWHT, new { })
                </td>
                <td>
                    Before PWHT
                </td>
                <td for="NGFAfPWHT">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().NGFAfPWHT, new { })
                </td>
                <td>
                    After PWHT
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.35	Spool Material: NA
                    </b>
                </td>
            </tr>
            <tr>
                <td for="SpoolMatSS">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SpoolMatSS, new { })
                </td>
                <td>
                    SS
                </td>

                <td for="SpoolMatLAS">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().SpoolMatLAS, new { })
                </td>
                <td>
                    CS + O/Lay
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="10">
                    <b>
                        2.36 Joints in Spool: NA
                    </b>
                </td>
            </tr>
            <tr>
                <td for="JSInConnel">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().JSInConnel, new { })
                </td>
                <td>
                    Inconnel
                </td>

                <td for="JSBiMetalic">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().JSBiMetalic, new { })
                </td>
                <td>
                    Bi-Metallic
                </td>

                <td for="JSCladRestoration">
                    @Html.CheckBoxFor(m => Model.FirstOrDefault().JSCladRestoration, new { })
                </td>
                <td>
                    Clad Restoration
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    <br />
    <div class="row" style="width:100%">
        <footer class="clsfooter">
            <table border="1" class="clstable">
                <thead class="clsPara">
                    <tr>
                        <th>Rev.No</th>
                        <th>Revision Detail</th>
                        <th>Date</th>
                        <th>Prep. By</th>
                        <th>Appr.By</th>
                    </tr>
                </thead>
                <tbody class="clsPara">
                    <tr>
                        <td>@ViewBag.RevNo</td>
                        <td>First Issue</td>
                        <th>@ViewBag.CreatedOn</th>
                        <th>@ViewBag.CreatedBy</th>
                        <th>@ViewBag.ApprovedBy</th>
                    </tr>
                </tbody>
            </table>
        </footer>
    </div>
    <div style="height:20px"></div>
    <header class="clsheader">
        <table border="1" class="clstable">
            <tr class="clsPara">
                <td>Specification No</td>
                <td> @ViewBag.Document</td>
                <td>REV NO</td>
                <td> @ViewBag.RevNo</td>
                <td>Page 6 of 11</td>
            </tr>
            <tr class="clsPara">
                <td>
                    <img src="~/Images/smalllogo.png" />
                </td>
                <td colspan="4">Planning Checklist</td>
            </tr>
        </table>
    </header>
    <table border="1" style="border-collapse:collapse;width:100%">
        <tr>
            <td colspan="10">
                <b>
                    2.37	SS Welding (Internals) : NA
                </b>
            </td>
        </tr>
        <tr>

            <td for="SSWBfPWHT">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWBfPWHT, new { })
            </td>
            <td>
                Before PWHT
            </td>
            <td for="SSWAfPWHT">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWAfPWHT, new { })
            </td>
            <td>
                After PWHT
            </td>
            <td for="SSWBoth">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SSWBoth, new { })
            </td>
            <td>
                Before and After PWHT both
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.38	Vessel Support :
                </b>
            </td>
        </tr>
        <tr>
            <td for="VessleSSkirt">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSkirt, new { })
            </td>
            <td>
                Skirt
            </td>
            <td for="VessleSSupp">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSupp, new { })
            </td>
            <td>
                Support Brackets
            </td>
            <td for="VessleSLegs">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSLegs, new { })
            </td>
            <td>
                Legs
            </td>
            <td for="VessleSSaddle">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().VessleSSaddle, new { })
            </td>
            <td>
                Saddle
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.39	Skirt section made in LEMF: NA
                </b>
            </td>
        </tr>
        <tr>
            <td for="SkirtMadein1">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMadein1, new { })
            </td>
            <td>
                Single Piece
            </td>
            <td for="SkirtMadein2">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SkirtMadein2, new { })
            </td>
            <td>
                Two Pieces (LAS+CS)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.40 Fire Proofing Nuts Welding on Skirt in LEMF: NA
                </b>
            </td>
        </tr>
        <tr>
            <td for="FPNWeldNuts">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().FPNWeldNuts, new { })
            </td>
            <td>
                Weld All Nuts
            </td>
            <td for="FPNLeaveRow">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().FPNLeaveRow, new { })
            </td>
            <td>
                Leave  row from bottom for tank rotator
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.41	PWHT
                </b>
            </td>
        </tr>
        <tr>
            <td for="PWHTSinglePiece">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTSinglePiece, new { })
            </td>
            <td>
                Single Piece
            </td>
            <td for="PWHTLSRJoint">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTLSRJoint, new { })
            </td>
            <td>
                LSR Joint Allowed (In Sections)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.42	PTC / MTC Heat treatment :
                </b>
            </td>
        </tr>
        <tr>
            <td for="PTCMTCptc">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCptc, new { })
            </td>
            <td>
                PTC with Job
            </td>
            <td for="PTCMTCmtc">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCmtc, new { })
            </td>
            <td>
                MTC with Job
            </td>

            <td for="PTCMTCptcSim">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCptcSim, new { })
            </td>
            <td>
                PTC Simulation
            </td>
            <td for="PTCMTCmtcSim">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PTCMTCmtcSim, new { })
            </td>
            <td>
                MTC Simulation
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.43 Saddles for PWHT : NA
                </b>
            </td>
        </tr>
        <tr>
            <td for="SaddlesTrans">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesTrans, new { })
            </td>
            <td>
                Transportation Saddles      Nos.
            </td>

            <td for="SaddlesAddit">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SaddlesAddit, new { })
            </td>
            <td>
                Additional Saddles Nos.
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.44	PWHT in Furnace
                </b>
            </td>
        </tr>
        <tr>
            <td for="PWHTinFurnacePFS">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnacePFS, new { })
            </td>
            <td>
                PFS
            </td>
            <td for="PWHTinFurnaceHFS1">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceHFS1, new { })
            </td>
            <td>
                HFS1
            </td>
            <td for="PWHTinFurnaceLEMF">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceLEMF, new { })
            </td>
            <td>
                LEMF
            </td>

            <td for="PWHTinFurnaceShop">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().PWHTinFurnaceShop, new { })
            </td>
            <td>
                Shop  Box:10.5m*10.5m
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.45	Section Weight for PWHT
                </b>
            </td>
        </tr>
        <tr>
            <td for="SectionWtMore200">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtMore200, new { })
            </td>
            <td>
                &gt; 200MT 2 Sections
            </td>
            <td for="SectionWt200To230">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt200To230, new { })
            </td>
            <td>
                200-230 MT Sections
            </td>
            <td for="SectionWt150To200">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWt150To200, new { })
            </td>
            <td>
                150-200MT Sections
            </td>
            <td for="SectionWtLess150">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().SectionWtLess150, new { })
            </td>
            <td>
                &lt; 150MT 2 Sections
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.46 Axle Required for movement
                </b>
            </td>
        </tr>
        <tr>
            <td for="ARMRequired">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMRequired, new { })
            </td>
            <td>
                Not Required
            </td>

            <td for="ARMRT">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMRT, new { })
            </td>
            <td>
                RT
            </td>

            <td for="ARMPWHT">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMPWHT, new { })
            </td>
            <td>
                PWHT
            </td>

            <td for="ARMSB">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ARMSB, new { })
            </td>
            <td>
                S/B and Painting
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.47	Cl Requirement in Hydro-test Water
                </b>
            </td>
        </tr>
        <tr>
            <td for="CLRH20ppm">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().CLRH20ppm, new { })
            </td>
            <td>
                &lt; 20 ppm
            </td>
            <td for="CLRHSodium">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().CLRHSodium, new { })
            </td>
            <td>
                Sodium Nitrate +Hydrazine to be added
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.48	Template for Support/ Skirt
                </b>
            </td>
        </tr>
        <tr>
            <td for="TemplateForReq">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TemplateForReq, new { })
            </td>
            <td>
                Required
            </td>
            <td for="TemplateForNReq">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().TemplateForNReq, new { })
            </td>
            <td>
                Not required
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.49	N2 Filling
                </b>
            </td>
        </tr>
        <tr>
            <td for="N2FillReq">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillReq, new { })
            </td>
            <td>
                Required
            </td>
            <td for="N2FillNotReq">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillNotReq, new { })
            </td>
            <td>
                Not required
            </td>

            <td for="N2FillOther">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().N2FillOther, new { })
            </td>
            <td>
                Other Protection on internal surface
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.50	External Surface Treatment
                </b>
            </td>
        </tr>
        <tr>
            <td for="ESTPlate">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTPlate, new { })
            </td>
            <td>
                Plate Stage
            </td>
            <td for="ESTShell">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTShell, new { })
            </td>
            <td>
                Shell Stage
            </td>
            <td for="ESTSection">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTSection, new { })
            </td>
            <td>
                Section Stage
            </td>

            <td for="ESTEquip">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ESTEquip, new { })
            </td>
            <td>
                Equipment
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.51	Internal Surface Treatment
                </b>
            </td>
        </tr>
        <tr>
            <td for="ISTPlate">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTPlate, new { })
            </td>
            <td>
                Plate Stage
            </td>
            <td for="ISTShell">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTShell, new { })
            </td>
            <td>
                Shell Stage
            </td>
            <td for="ISTSection">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTSection, new { })
            </td>
            <td>
                Section Stage
            </td>
            <td for="ISTEquip">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTEquip, new { })
            </td>
            <td>
                Equipment
            </td>
            <td for="ISTAfBfPWHT">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTAfBfPWHT, new { })
            </td>
            <td>
                After/ Before PWHT
            </td>
        </tr>
        <tr>
            <td for="ISTAfHydro">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().ISTAfHydro, new { })
            </td>
            <td>
                Before Hydro Top head
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="10">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="10">
                <b>
                    2.52	Maximum Size of Bolts/ stud –
                </b>
            </td>
        </tr>
        <tr>
            <td for="MaxSBLess1_38">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess1_38, new { })
            </td>
            <td>
                &lt;=;1-3/8&quot;(Torque Wrench)
            </td>

            <td for="MaxSBLess1_78">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess1_78, new { })
            </td>
            <td>
                &lt;=;1-7/8&quot;(RSL4)
            </td>

            <td for="MaxSBLess2_14">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess2_14, new { })
            </td>
            <td>
                &lt;=;2-1/4&quot;(RSL8)
            </td>

            <td for="MaxSBLess4">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSBLess4, new { })
            </td>
            <td>
                &lt;4&quot;(Stud Tensioning)
            </td>S

            <td for="MaxSB372">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSB372, new { })
            </td>
            <td>
                3 ¼ &quot; * 72 nos Studs Tensioning at time
            </td>
        </tr>
        <tr>
            <td for="MaxSB250">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSB250, new { })
            </td>
            <td>
                2 ¼&quot; * 50 nos Studs Tensioning at time
            </td>

            <td for="MaxSB216">
                @Html.CheckBoxFor(m => Model.FirstOrDefault().MaxSB216, new { })
            </td>
            <td>
                2&quot; * 16  nos Studs Tensioning at time
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
