﻿
@{
    Layout = "~/Areas/DES/Views/Shared/_MainLayout.cshtml";
    ViewBag.AddCssClass = " m-aside-left--fixed m-aside-left-custom m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark  m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default";
    var flist = IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList;
}
@RenderSection("styles", required: false)
<!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
        @Html.Partial("_partialLeftSideBar")
        <!-- END: Left Aside -->
    <div id="DivMaxlengthPopover" class="m-grid__item m-grid__item--fluid m-wrapper">
        <!-- BEGIN: Subheader -->
        <div id="ldlAnnouncementCountdown">
            <span class="label-circle"></span>
            <span style="font-size: x-large !important;height: 30px;">:</span>
            <span class="label-circle"></span>
        </div>
        <div id="ischkclass" style="display:none">
            <b id="isstatus">dd</b>
        </div>
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    @if (flist.FolderId > 0)
                    {
                        @Html.Raw(IEMQS.DESServices.CommonService.fnFolderBreadcrumbs(flist, flist.FolderId.Value))
                    }
                </div>
            </div>
        </div>
        <!-- END: Subheader -->
        <div class="m-content">
            <div class="main-nav clearfix">
                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark m-header-menu-custom">
                    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="javascript:;" class="m-menu__link m-menu__toggle" title="Category Links"><span class="m-menu__link-text">Category</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu  m-menu__submenu--fixed m-menu__submenu--left" style="width:500px">
                                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                <div class="m-menu__subnav">
                                    <ul class="m-menu__content">
                                        <li class="m-menu__item">
                                            <ul class="m-menu__inner">
                                                @{
                                                    if (flist.ListCategory != null)
                                                    {
                                                        foreach (var item in flist.ListCategory)
                                                        {
                                                            <li class="m-menu__item"><a href="@item.URL" @(item.IsTarget ? "target=_blank" : "") class="m-menu__link "><span class="m-menu__link-text">@item.Name</span></a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        @if (flist.ListAction != null && flist.ListAction.Count() > 0)
                        {
                            <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown" m-menu-submenu-toggle="click">
                                <a href="javascript:;" class="m-menu__link m-menu__toggle"><span class="m-menu__link-text">Actions</span><i class="m-menu__hor-arrow la la-angle-down"></i><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                    <ul class="m-menu__subnav">
                                        @{
                                            var list = flist.ListAction.Where(x => !(x.ParentId > 0)).ToList();
                                            if (list != null)
                                            {
                                                foreach (var item in list)
                                                {
                                                    var childlist = flist.ListAction.Where(x => x.ParentId > 0 && x.ParentId == item.MappingId).ToList();
                                                    if (childlist != null && childlist.Count() > 0)
                                                    {
                                                        <li class="m-menu__item m-menu__item--submenu" m-menu-submenu-toggle="hover">
                                                            <a href="javascript:;" class="m-menu__link m-menu__toggle"><span class="m-menu__link-text">@item.Name</span><i class="m-menu__hor-arrow la la-angle-right"></i><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                                                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                                                                <span class="m-menu__arrow "></span>
                                                                <ul class="m-menu__subnav">
                                                                    @foreach (var child in childlist)
                                                                    {
                                                                        <li class="m-menu__item "><a href="@child.URL" @(child.IsTarget ? "target=_blank" : "") class="m-menu__link "><span class="m-menu__link-text">@child.Name</span></a></li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="m-menu__item"><a href="@item.URL" @(item.IsTarget ? "target='_blank'" : "") class="m-menu__link "><span class="m-menu__link-text">@item.Name</span></a></li>
                                                    }

                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    </div>
<!-- end:: Body -->
<div class="modal fade" id="modalAddPartSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body" id="divAddPartSheet">

            </div>

        </div>
    </div>
</div>
@RenderSection("Scripts", required: false)
@section Scripts{
    <script src="~/DESAssets/demo/default/custom/components/selectize/js/selectize.js"></script>
    <script>
         IsStatus();
        var WebsiteURL = '@System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"]';
        function AddPartSheet() {
            mApp.blockPage();
            $.ajax({
                url: '/DES/Part/AddPartSheet',
                type: 'GET',
                traditional: true,
                data: {},
                contentType: 'application/json; charset=utf-8',
                dataType: "Html",
                success: function (result) {
                    mApp.unblockPage();
                    $("#divAddPartSheet").html(result);
                    $("#modalAddPartSheet").modal("show");
                },
                error: function (xhr) {
                    mApp.unblockPage();
                }
            });
        }
    </script>
}