﻿@using IEMQSImplementation
<style>
    .left18 {
        padding-left: 18px !important;
    }
</style>
<script type="text/javascript">
    var table = $('#tblLTFPSHeader');
    var currentLTFPS = 0;
    var dept = '@ViewBag.UserRole';

    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": false,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/LTFPS/MaintainLTFPS/GetLTFPSHeaderData?qualityProj=" + '@ViewBag.QualityProject' + "&status=" + '@ViewBag.status' + "&location=" + '@ViewBag.location' + "&bu=" + '@ViewBag.bu',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    ImportExcel();
                },
                'async': false
            });
            $('input[maxlength]').maxlength({
                alwaysShow: true,
            });
            ResetAddRow($('#tblLTFPSHeader'));
        },
        "columns": [
            {
                'targets': 0,
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "left18",
                'render': function (data, type, full, meta) {
                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                }
            },
            {
                "sClass": "hide",
                "attr":"hide"
            },
            {
                "sClass": "center",
                "name": "LTFPSNo",
            },
            {
                "sClass": "center",
                "name": "LTFPSDescription",
            },
            {
                "sClass": "center rework",
                "bSortable": false,
                "attr": "hide"
            },
            {
                "sClass": "center",
                "bSortable": false,
                "attr": "hide"
            },
            {
                "sClass": "center",
                "name": "RevNo",
                "attr": "numeric"
            },
            {
                "sClass": "center",
                "name": "Status",
            },
            {
                "sClass": "center",
                "bSortable": false,
                "sWidth": "12%"
            },
        ]
    });
   // table.dtSearchFilter();
    if ('@ViewBag.status' == "Pending") {
        oTable.api().column(0).visible(true);
    }
    else {       
        oTable.api().column(0).visible(false);
    }
    if (('@ViewBag.isIdentProjectEditable' == 'True' && '@string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Initiator.GetStringValue(), StringComparison.OrdinalIgnoreCase)'=='True'))
        $("#IdenticalProject").attr('disabled', false);
    else
        $("#IdenticalProject").attr('disabled', true);

    // Code for send for approval
    $("#btnSubmit").click(function () {

        var arrayHeaderIds = new Array();
        $('input[class="clsCheckbox"]', $('#tblLTFPSHeader tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            bootbox.dialog({
                title: "Submit Confirmation",
                message: "Do you want to submit?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/LTFPS/MaintainLTFPS/SubmitLTFPSHeader",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strHeader: strHeaderIds },
                                success: function (result) {
                                    if (result.Key) {
                                        if (result.submittedLTFPS != "" && result.submittedLTFPS != null)
                                            DisplayNotiMessage("success", result.submittedLTFPS, "Success");
                                        if (result.pendingLTFPS != "" && result.pendingLTFPS != null)
                                            DisplayNotiMessage("error", result.pendingLTFPS, "Error");
                                        if (result.exisingLTFPS != "" && result.exisingLTFPS != null)
                                            DisplayNotiMessage("error", result.exisingLTFPS, "Error");

                                        if (!result.isIdenticalProjectEditable)
                                            $("#IdenticalProject").attr('disabled', true);
                                        //DisplayNotiMessage("success", result.Value, "Success");
                                        $('#tblLTFPSHeader').DataTable().ajax.reload();
                                        $("#dvLTFPSLines").hide();
                                    }
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }
    });

    // Code for approve
    $("#btnApprove").click(function () {

        var arrayHeaderIds = new Array();
        $('input[class="clsCheckbox"]', $('#tblLTFPSHeader tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            bootbox.dialog({
                title: "Approve Confirmation",
                message: "Do you want to approve?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/LTFPS/MaintainLTFPS/ApproveLTFPSHeader",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strHeader: strHeaderIds, department: dept },
                                success: function (result) {
                                    if (result.Key) {
                                        DisplayNotiMessage("success", result.Value, "Success");
                                        $('#tblLTFPSHeader').DataTable().ajax.reload();
                                        $("#dvLTFPSLines").hide();
                                    }
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }
    });

    // Code for return
    $("#btnReturn").click(function () {

        var arrayHeaderIds = new Array();
        $('input[class="clsCheckbox"]', $('#tblLTFPSHeader tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        var arrayReturnRemarks = new Array();
        var isContinue = true;
        $('input[class="clsCheckbox"]', $('#tblLTFPSHeader tbody')).each(function () {
            var remarkTextbox = $(this).closest("tr").find('input[colname="ReturnRemark"]')[0];
            $(remarkTextbox).removeClass("red");
            if ($(this).is(':checked')) {
                var remark = $(remarkTextbox).val();
                if (remark.trim() != '')
                    arrayReturnRemarks.push(remark);
                else {
                    $(remarkTextbox).addClass("red");
                    isContinue = false;
                }
            }
        });

        if (!isContinue)
            return false;

        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            var strReturnRemarks = arrayReturnRemarks.join(",");
            bootbox.dialog({
                title: "Return Confirmation",
                message: "Do you want to return?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/LTFPS/MaintainLTFPS/ReturnLTFPSHeader",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strHeader: strHeaderIds, strReturnRemarks: strReturnRemarks, department: dept },
                                success: function (result) {
                                    if (result.Key) {
                                        DisplayNotiMessage("success", result.Value, "Success");
                                        $('#tblLTFPSHeader').DataTable().ajax.reload();
                                        $("#dvLTFPSLines").hide();
                                    }
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }
    });

    // Code for release
    $("#btnRelease").click(function () {

        var arrayHeaderIds = new Array();
        $('input[class="clsCheckbox"]', $('#tblLTFPSHeader tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            bootbox.dialog({
                title: "Release Confirmation",
                message: "Do you want to release?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/LTFPS/MaintainLTFPS/ReleaseLTFPSHeader",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strHeader: strHeaderIds },
                                success: function (result) {
                                    if (result.Key) {
                                        DisplayNotiMessage("success", result.Value, "Success");
                                        $('#tblLTFPSHeader').DataTable().ajax.reload();
                                        $("#dvLTFPSLines").hide();
                                    }
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }
    });

    $("#frmLTFPSHeader").validate({
        rules: {
            LTFPSNo0: {
                required: true
            }
        },
        messages: {
            LTFPSNo0: {
                required: "LTFPS No is required"
            }
        }
    })

    $('#tblLTFPSHeader tbody').on("click", "tr td:not(:first-child):not(:last-child):not('.rework')", function () {
        var row = $(this).closest('tr');
        var data = $('#tblLTFPSHeader').dataTable().fnGetData(row);
        var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();

        currentLTFPS = hdrId;

        $("#tblLTFPSHeader tr").removeClass("highlight");
        $(this).closest('tr').addClass("highlight");

        $("#tblLTFPSHeader").find("[type=checkbox]:not('.IsReworkLTFPS')").prop('checked', false);
        $(row).find("[type=checkbox]:not('.IsReworkLTFPS')").prop('checked', true);

        if ($("#dvLTFPSLines").css("display") == "block") { }
            //$('#tblQualitIDLines').DataTable().ajax.reload();
        else {
            $("#dvLTFPSLines").show();
        }

        GetLTFPSLinesPartial(hdrId);
    });

    $("#btnCopy").click(function () {
        var qualityProject = $("#ddlQualityProject").val();
        if (qualityProject != null && qualityProject != '' && qualityProject != undefined) {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/LTFPS/MaintainLTFPS/GetCopyDetails",
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },

                data: {
                    qualityProject: qualityProject,
                    location: $("#hdnLocation").val()
                },
                success: function (result) {
                    bootbox.dialog({
                        title: 'Copy to',
                        message: result,
                        size: 'medium',
                        buttons: {
                            'confirm': {
                                label: 'Copy',
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmCopy").valid()) {
                                        var IsWithinProj = $("#hdWithinProject").val();
                                        $.ajax({
                                            url: WebsiteURL + '/LTFPS/MaintainLTFPS/copyDetails',
                                            type: "Post",
                                            beforeSend: function () {
                                                showLoading(true);
                                            },
                                            complete: function () {
                                                showLoading(false);
                                            },
                                            dataType: "JSON",
                                            data: {
                                                sourceProject: $("#sourceQualityProject").val(),
                                                location: $("#copyLocation").val(),
                                                LTFPSNo: $("#ddlCopyLTFPSNo").val(),
                                                RevNo: $("#copyRevNo").val(),
                                                destProject: $("#ddlDestQualityProject").val(),
                                                destLTFPS: $("#ddlDestinationLTFPSNo").val(),
                                                IsWithinProj: $("#hdWithinProject").val(),
                                                destprojwiseLTFPS: $("#ddldestQProjectLTFPS").val()
                                            },
                                            success: function (data) {
                                                if (data.Key) {
                                                    if (IsWithinProj) {
                                                        if ($("#dvLTFPSLines").css("display") == "block") {
                                                            $('#tblLTFPSLines').DataTable().ajax.reload();
                                                        }
                                                    }
                                                    DisplayNotiMessage("success", data.Value, "Success");
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            },
                                            error: function (ex) {
                                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                                return false;
                                            }
                                        });
                                    }
                                    else {
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please enter Quality Project", "Error");
        }
    });

    function GetLTFPSLinesPartial(headerId) {

        $.ajax({
            url: WebsiteURL + "/LTFPS/MaintainLTFPS/GetLTFPSLinesPartial",
            type: "POST",
            data: { headerId: headerId },
            dataType: "html",
            success: function (data) {
                $("#dvLTFPSLines").html(data);
            }
        });
    }

    function ResetAddRow(table) {
        table.find("tbody tr:first").hide();
        table.find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        $("#btnNewLines").html('<i class="fa fa-plus"></i> New');
        clearFirstRow(table.find("tbody tr:first"));
    }

    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }

    function ShowNewHeaderRecord(obj) {
        $('#tblLTFPSHeader').find("tbody tr:first").toggle();
        $('#tblLTFPSHeader').find("tbody tr:first select:first").focus();
        if ($('#tblLTFPSHeader').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblLTFPSHeader').find("tbody tr:first"));
        }
    }

    function UpdateLTFPSHeader(objColumn, rowID) {

        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        if (columnName == "IsReworkLTFPS") {
            if ($(objColumn).prop('checked') == true) {
                columnValue = "1";
            }
            else {
                columnValue = "0";
            }
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/MaintainLTFPS/UpdateLTFPSHeader",
            datatype: 'json',
            async: false,
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function DeleteLTFPSHeaderWithConfirmation(rowID) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        DeleteLTFPSHeader(rowID);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }

    function DeleteLTFPSHeader(rowID) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/MaintainLTFPS/DeleteLTFPSHeader",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: rowID },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblLTFPSHeader').DataTable().ajax.reload();
                    $("#dvLTFPSLines").hide();
                }
                else {
                    DisplayNotiMessage("error", result.Value, "error");
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function ReviseLTFPSHeaderWithConfirmation(rowID) {
        bootbox.dialog({
            title: "Revise Confirmation",
            message: "Do you want to revise?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        ReviseLTFPSHeader(rowID);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });
    }

    function ReviseLTFPSHeader(rowID)
    {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/MaintainLTFPS/ReviseLTFPSHeader",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: rowID },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblLTFPSHeader').DataTable().ajax.reload();
                    $("#dvLTFPSLines").hide();
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function LinkAssembly(headerId) {
        window.location.href = WebsiteURL + "/LTFPS/MaintainLTFPS/AssemblyLinkage/" + headerId;
    }

    function SaveLTFPSHeader() {

        if ($("#frmLTFPSHeader").valid()) {
            var frmHeaderValues = $("#frmLTFPSHeader").serializeArray();

            var formdata = new FormData();

            if (frmHeaderValues != null && frmHeaderValues != undefined) {

                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                formdata.append("IsReworkLTFPS0_0", $("#IsReworkLTFPS0").is(":checked"));

                $.ajax({
                    url: WebsiteURL + "/LTFPS/MaintainLTFPS/SaveLTFPSHeader",
                    type: "POST",
                    data: formdata,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {

                        if (res.Key && res.HeaderId > 0) {

                            DisplayNotiMessage("success", res.Value, "Success");

                            if ($("#dvLTFPSLines").css("display") == "block")
                                $('#tblLTFPSLines').DataTable().ajax.reload();
                            else {
                                $("#dvLTFPSLines").show();
                            }

                            $('#tblLTFPSHeader').DataTable().ajax.reload();
                            ShowNewRecord($('#btnNew'));
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");

                    },
                    error: function (data) { }
                });
            }
        }

    };

</script>
<div class="row">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.status LTFPS List
                </div>
                <div class="tools" id="dvExportLines">
                    @if (!string.Equals(ViewBag.status.ToString(), "all", StringComparison.OrdinalIgnoreCase) && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Initiator.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="btn-group">
                            <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewHeaderRecord(this);">
                                <i class="fa fa-plus"></i> New
                            </a>
                            <a style="margin-left:5px;" id="btnImport" class="btn btn-circle white btn-outline btn-sm">
                                <i class="fa fa-file-excel-o"></i> Import
                            </a>
                            <a style="margin-left:5px;" id="btnDownloadTemplate" href="~/Resources/LTFPS/LTFPS - Template with Data example.xlsx"  name="btnDownloadTemplate" class="btn btn-circle white btn-outline btn-sm">
                                <i class="fa fa-download"></i> Template
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div class="portlet-body">

                <table id="tblLTFPSHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="all">LTFPS No.</th>
                            <th class="all">LTFPS Description</th>
                            <th class="all">Rework LTFPS?</th>
                            <th class="all">Return Remark</th>
                            <th class="all">RevNo.</th>
                            <th class="all">Status</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div id="dvLTFPSLines" class="row"></div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6" style="text-align:left;">
            <button class="btn icons" title="Copy" type="button" id="btnCopy"><i class="fa fa-files-o"></i></button>
        </div>
        <div class="col-md-6" style="text-align:right;">
            @if (ViewBag.status == "Pending" && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Initiator.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <input type="button" class="btn submit" id="btnSubmit" value="Submit" />
            }
            @if (ViewBag.status == "Pending" && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Approver.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <input type="button" class="btn approve" id="btnApprove" value="Approve" />
            }
            @if (ViewBag.status == "Pending" && (string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Approver.GetStringValue(), StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Releaser.GetStringValue(), StringComparison.OrdinalIgnoreCase)))
            {
                <input type="button" class="btn return" id="btnReturn" value="Return" />
            }
            @if (ViewBag.status == "Pending" && string.Equals(ViewBag.AccessRole.ToString(), clsImplementationEnum.UserAccessRole.Releaser.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <input type="button" class="btn release" id="btnRelease" value="Release" />
            }
            <a href='@Url.Action("Index","MaintainLTFPS")' class="btn btnclose"> Close</a>
        </div>
    </div>
</div>
