﻿@model IEMQSImplementation.PRO125
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<style>
    .tblNotes.noborder td {
        border: none;
        padding-left: 10px !important;
    }

    .width150px {
        width: 150px;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height:40px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title" style="text-align:left">INSPECTION CERTIFICATE NO:</td>
                                        <td>@Html.TextBoxFor(model => model.InspectionCertificateNo, new { @class = "form-control ", @maxlength = "200", @role = "PROD" })</td>
                                    </tr>
                                    </table>
                                <div class="col-md-12" style="height:20px"></div>
                                <table class="FormTable">
                                    <tr>
                                        <td class="title" style="text-align:left">REQUIRE N2 PRESSURE</td>
                                        <td>@Html.TextBoxFor(model => model.RequireN2Pressure, new { @class = "form-control ", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title" style="text-align:left">ACTUAL N2 PRESSURE</td>
                                        <td>@Html.TextBoxFor(model => model.ActualN2Pressure, new { @class = "form-control ", @maxlength = "200", @role = "PROD" })</td>
                                    </tr>
                                </table>
                                <div class="col-md-12" style="height:20px"></div>
                                <table class="FormTable">
                                 
                                    <tr>
                                        <td class="title" style="text-align:left">REQUIRE  O2 LEVEL</td>
                                        <td>@Html.TextBoxFor(model => model.RequireO2Level, new { @class = "form-control ", @maxlength = "200", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title" style="text-align:left">ACTUAL O2 LEVEL</td>
                                        <td>@Html.TextBoxFor(model => model.ActualO2Level, new { @class = "form-control ", @maxlength = "200", @role = "PROD" })</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                            <table class="FormTable">
                            <tr >
                            <td colspan="2"> PHOTOGRPHS OF ACTUAL "N2" PRESSURE BEFORE DISPATCH OF EQUIPMENT AND ARRANGEMENT </td> </tr>
                            <tr>
                                <td>
                                    <img src="~/Images/Protocol026_img1.png" />
                                </td>
                                <td>
                                    <img src="~/Images/Protocol026_img2.png" />
                                </td>
                            </tr>
                        </table>

                            </div>
                            <div class="col-md-12" style="height: 40px"></div>
                            <div class="col-md-12">
                                <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;">
                                    <tr>
                                        <td class="title bold">Remarks:-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1) N2 FILLING ARRANGEMENT VERIFIED AS PER DRG.
                                            @Html.TextBoxFor(model => model.Remark1, new { @class = "form-control inlinetextbox",@style= "text-align:left", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2) N2 CYCLINDER IS PROVIDED WITH EQUIPMENT
                                            @Html.TextBoxFor(model => model.Remark2, new { @class = "form-control inlinetextbox", @style = "text-align:left", @maxlength = "5",  @role = "PROD" })


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3) LEAK TEST IS CHECKED FOR FLANGE CONNECTION JOINT
                                            @Html.TextBoxFor(model => model.Remark3, new { @class = "form-control inlinetextbox", @style = "text-align:left", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4) CALIBRATED PRESSURE GAUGE ARE PROVIDED AS PER DRG. DETAIL
                                            @Html.TextBoxFor(model => model.Remark4, new { @class = "form-control inlinetextbox", @style = "text-align:left", @maxlength = "5",  @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5) PROTECTION GUARD FOR PRESSURE GAUGE ARE PROVIDED
                                            @Html.TextBoxFor(model => model.Remark5, new { @class = "form-control inlinetextbox", @style = "text-align:left", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                   
                                    
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>

<script>
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));

        FillProtocolAutoComplete($('#Remark1'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark4'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark5'), lstYesNo, null, false);

        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

       SetAccessControlForRole(userRole);
       SetEditableDetails(isEdit);
       parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#btnSave").click(function () {
               @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
               {
                   <text>$('[role="PROD"]').prop("required", true);</text>
               }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
               {
                   <text>$('[role="QC"]').prop("required", true);</text>
               }
            SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL+"SaveProtocolHeaderData"+Linkage, userRole);
        });

        $("#btnClose").click(function () {
            DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData"+Linkage);
            window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
        });
    });
</script>
