﻿
@{
    ViewBag.Title = "Maintain Shell C/S WEP Machining / Trimming Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        $('#btnAddNew').hide();
        GetHeaderGridDataPartial('All');
    });
    function GetHeaderGridDataPartial(status)
    {
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MCI/Maintain/GetMCIGridPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnHistory").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/MCI/Maintain/GetHistoryView",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {
                    bootbox.dialog({
                        title: 'History of Shell C/S WEP Machining / Trimming Plan',
                        message: result,
                        buttons: {
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn red'
                            }
                        }

                    });
                },
                error: function () {
                }
            });
        });
    });
</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-title">
                                Display Maintain Shell C/S WEP Machining / Trimming Plan
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                               
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a id="btnAddNew" href="~/MCI/Maintain/GetMCIDetails" style="float: right;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
