﻿@using IEMQSImplementation

<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto !important;
        overflow-y: auto !important;
        margin: 10px 0 !important;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Items
        </div>
        @*<div class="tools" id="dvExportHeader">
                @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/FKMS/MaintainFKMS/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
            </div>*@
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblItemDetails" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">#</th>
                    <th class="all">Name Of Fixture</th>
                    <th class="all">Item No</th>
                    <th class="all">Qty of <br /> Fixture</th>
                    <th class="all">Desc<br /> Of Item</th>
                    <th class="all">Category</th>
                    <th class="all">Material</th>
                    <th class="all">Material Type</th>
                    <th class="all">Length<br />(mm)</th>
                    <th class="all">Width<br />(mm)</th>
                    <th class="all">Thickness<br />(mm)</th>
                    <th class="all">Quantity</th>
                    <th class="all">Wt (Kg)</th>
                    <th class="all">Area (m2) /<br /> Length (m)</th>
                    <th class="all">Unit</th>
                    <th class="all">Re Use</th>
                    <th class="all">Total Req. Wt (Kg)</th>
                    <th class="all">Total Req. Area (m2) /<br /> Length(m)</th>
                    <th class="all">Unit</th>
                    <th class="all">Fix Reqd Date.</th>
                    <th class="all">Material Reqd Date.</th>
                    <th class="hide">SubLineId</th>
                    <th class="hide">HeaderId</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#tblItemDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKMS/MaintainDeptFR/LoadItemsListData",
            "fnServerParams": function (aoData) {

                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQLineHeaderId", "value": '@ViewBag.ParentId' },
                            { "name": "RevNo", "value": $('#RevNo').val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                          fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "FixtureName",
                    "bSortable": true,
                    "sClass": "center",

                },
                {
                    "name": "QtyofFixture",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "QtyofFixture",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "DescriptionofItem",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "Category",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "Material",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "MaterialType",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "LengthOD",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "WidthOD",
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "name": "Thickness",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "Qty",
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "name": "Wt",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "Area",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "Unit",
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "name": "ReUse",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "ReqWt",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "ReqArea",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "Unit2",
                    "bSortable": false,
                    "sClass": "center",
                },
                {
                    "name": "FixRequiredDate",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "name": "MaterialReqDate",
                    "bSortable": true,
                    "sClass": "center",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                }
            ],
        });
    });
</script>
