﻿@using IEMQSImplementation

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            List of Fixtures not link in PLM
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFixtureNotLinkInPLM" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Fixture No. / SCR No.</th>
                    <th class="all">Name Of Fixture</th>
                    <th class="all">Description Of Item</th>
                    <th class="all">Error Details</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblFixtureNotLinkInPLM');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKMS/MaintainDeptFR/LoadFixtureNotLinkInPLM",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "HeaderId", "value": $("#HeaderId").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        TotalRecordsNotInsertedInPLM = data.iTotalRecords;
                    },
                });
            },
            "columns": [
                {
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "FixtureName",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "DescriptionofItem",
                    "sClass": "center",
                    "bSortable": true,
                },
                {
                    "name": "PLMError",
                    "sClass": "center",
                    "bSortable": true,
                }
            ]
        });
    });
</script>
