﻿@model IEnumerable<IEMQSImplementation.SP_FKMS_FR_GET_FIXTURE_SUMMARY_SHEET_Result>
@using IEMQSImplementation

@if (Model.Count() > 0)
{
    <div class="form-body">
        <div class="row" id="divLines">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Summary
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%" id="tblSummary" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="min-phone-l">Category</th>
                                        <th class="min-phone-l">Material</th>
                                        <th class="min-phone-l">Material Type</th>
                                        <th class="min-phone-l" style="width:50px;">Thickness</th>
                                        <th class="min-phone-l">Length<br />(mm)</th>
                                        <th class="min-phone-l">Width<br />(mm)</th>
                                        <th class="min-phone-l">Total Req. Area (m2) <br />/ Length (m)</th>
                                        <th class="min-phone-l">Quantity</th>
                                        <th class="min-phone-l">Total Req. Wt<br /> (Kg)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Category</td>
                                            <td>@item.Material</td>
                                            <td>@item.MaterialType</td>
                                            <td>@item.Thickness</td>
                                            <td>@item.Length</td>
                                            <td>@item.Width</td>
                                            <td>@item.Area</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Weight</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="8">Total</td>
                                        <td>@ViewBag.TotalWeight</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <button style="cursor:pointer;float:right; margin-right:15px;" title="" Print Report"; class="btn green" onClick="PrintReport(@Model.FirstOrDefault().HeaderId)"> Print <i class="fa fa-print"></i></button>
            </div>*@
    </div>
}
else
{
    <div id="error-popup">No Summary data available</div>
}
<script type="text/javascript">
    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'Fixture summary Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/Fixture/Fixture summary";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
</script>