﻿@{
    ViewBag.Title = "Display Project KOM";

    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<style type="text/css">
    tr > td a i.fa.fa-eye:hover {
        font-size: 20px;
    }
</style>
<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Display Project KOM
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">

                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Project KOM List
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblKOMHeader" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="all">Contract</th>
                                            <th class="all">Project</th>
                                            <th class="min-phone-l">Customer</th>
                                            <th class="min-phone-l">Equipment</th>
                                            <th class="min-phone-l">Zero Date</th>
                                            <th class="min-phone-l">Status</th>
                                            <th class="min-phone-l">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblKOMHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            bProcessing: true,
            bServerSide: true,
            stateSave: false,
            bDestroy: true,
            buttons: [],
            responsive: true,
            order: [
                [0, 'asc']
            ],
            lengthMenu: [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            pageLength: 10,
            iDisplayLength: 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            sAjaxSource: WebsiteURL + "/KOM/ProjMaintain/LoadKOMProjData?" + "Project=" + $("#hdnchkProject").val(),
            fnServerParams: function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' });
            },
            fnServerData: function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                });
            },
            "columns": [{
                "bSortable": true,
                "sClass": "center",
                "name": "Contract",
                "data": "Contract",
                "ColName": "c4.t_cono+'-'+ c4.t_desc"
            }, {
                "bSortable": true,
                "sClass": "center",
                "name": "Project",
                "data": "Project",
                "ColName": "kom1.Project+'-'+com1.t_dsca"
            }, {
                "sClass": "center",
                "name": "Customer",
                "ColName": "Customer",
                "data": "Customer"
            }, {
                "sClass": "center",
                "name": "Equipment",
                "data": "Equipment",
                "ColName": "com1.t_dsca"
            }, {
                "sClass": "center",
                "name": "ZeroDate",
                "data": "ZeroDate",
                "attr": "date",
                "ColName": "ZeroDate"
            }, {
                "sClass": "center",
                "name": "Status",
                "data": "Status",
                "ColName": "Status"
            }, {
                "bSortable": false,
                "sClass": "center",
                    "render": function (data, type, row, meta) {                        
                        if ($("#hdnchkProject").val() != null && $("#hdnchkProject").val() != "") {
                            return '<center><a title="View" href="' + WebsiteURL + '/KOM/ProjMaintain/DisplayKOMProjLineDetails?Id=' + row.HeaderId + '&Stage=KOM &Project=' + $("#hdnchkProject").val() +'"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                        }
                        else {
                            return '<center><a title="View" href="' + WebsiteURL + '/KOM/ProjMaintain/DisplayKOMProjLineDetails?Id=' + row.HeaderId + '&Stage=KOM"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                        }
                    //return '<center><a title="View" href="' + WebsiteURL + '/KOM/ProjMaintain/DisplayKOMProjLineDetails?Id=' + row.HeaderId + '&Stage=KOM"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                }
            }]
        });
        table.dtSearchFilter();
    });
</script>