﻿@model IEMQSImplementation.MIP004
@using IEMQSImplementation
@{
    ViewBag.Title = "Offer Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUpload = "fuAttachmentUpload";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight:hover {
            background-color: #aaed7a !important;
        }
</style>


<script type="text/javascript">

    var isSelected = false;
    var qualityProject;
    var qmspLocation;
    var qmspBU;
    var HeaderId = $("#HeaderId").val();

    $(document).ready(function () {
        HeaderId = $("#HeaderId").val();
        if (parseInt(HeaderId) > 0) {
            $("#dvMIPHeaderData").show();
            qualityProject = '@Model.QualityProject';
            qmspLocation = '@Model.Location';
            qmspBU = '@Model.BU';
            QualityProjectChange(qualityProject, "edit");
        }

        $('#btnClose').click(function () {
            window.location.href = WebsiteURL + '/MIP/OfferOperation/OfferOpearationDetails/'+parseInt('@Model.HeaderId');
        });
        $('#btnNA').click(function () {
            OfferApplicable(parseInt('@Model.LineId'));
        });

        var Displaybutton = false;
        var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
        objAttachmentUpload.ShowDeleteAction =Displaybutton;
        objAttachmentUpload.ShowAttachmentBtn = Displaybutton;
        if (parseInt(@(Model.RequestNo)) > 0) {
            objAttachmentUpload.FolderPath = "MIP050/@(Model.RequestNo)";
            objAttachmentUpload.ShowUploadBtn=Displaybutton;
            if('@Model.InspectionStatus' != '@clsImplementationEnum.MIPInspectionStatus.Cleared.GetStringValue()'){
                $('#pnlAttachments').hide();
            }
        }else{
            $('#pnlAttachments').hide();
            objAttachmentUpload.ShowUploadBtn=false;
        }
        objAttachmentUpload.IsRequired = true;
        LoadFileUploadPartialView(objAttachmentUpload);

    });
    function OfferApplicable(lineid) {

        bootbox.dialog({
            title: 'Not Applicable?',
            message: "Do you want to make operation “Not Applicable” ?",
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            url: WebsiteURL + '/MIP/OfferOperation/OperationApplicable',
                            type: "Post",
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            dataType: "JSON",
                            data: {
                                lineid: lineid
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $("#spnStatus").text(data.Status);
                                    $("#btnOffer,#btnNA").hide();
                                    window.setTimeout('window.location.href = "' + WebsiteURL + '/MIP/OfferOperation/OfferOpearationDetails/' + parseInt('@Model.HeaderId') + '"', 2000)

                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                    return false;
                                }
                            },
                            error: function (ex) {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                return false;
                            }
                        })
                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn red'
                }
            }
        });
    }
    var strHtml = "<scr" + "ipt>$(document).ready(function(){"

                     + "$('#uploadForm').validate({"
                     + " rules: {"
                     + "upload: {"
                     + "required: true,"
                     + "},"
                     + "messages: {"
                     + "upload: {"
                     + "required: 'Attachment is required'"
                     + "}"
                     + "}"
                      + "}"
                     + "});"
                     + "});</scr" + "ipt>"
                     + " <div>"
                     + "<form method='post' id='uploadForm' enctype = 'multipart/form-data' class='form-horizontal' action=''>"
                     + "<div class='form-group'>"
                     + "<div class='col-md-12'>"
                     + "<input type='hidden' id='aQualityProject' name='aQualityProject'/>"
                     + "<input type='hidden' id='aProject' name='aProject' />"
                     + "<input type='hidden' id='aBU' name='aBU' />"
                     + "<input type='hidden' id='aLocation' name='aLocation'/>"
                     + "<div class=''>"
                     + "<input type='file' class='btn green' required='required' id='upload' name='upload' />"
                     + "</div>"
                     + "</div>"
                     + "</div>"
                     + "</form>"
                     + "</div>";
    function QualityProjectChange(qualityProject, action) {
        $.ajax({
            url: WebsiteURL + "/MIP/OfferOperation/GetQualityProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject },
            success: function (data) {
                if (action.toLowerCase() != "edit") {
                    $("#Project").val(data.projectDescription);
                    $("#BU").val(data.BUDescription);
                    $("#Location").val(data.LocationDescription);

                    $("#hdnProject").val(data.ProjectCode);
                    $("#hdnBU").val(data.BUCode);
                    $("#hdnLocation").val(data.LocationCode);

                    qualityProject = qualityProject;
                    qmspBU = data.BUCode;
                    qmspLocation = data.LocationCode;

                    $("#dvMIPHeaderData").show();
                }
            }
        });
    }

    function RequestOffer(requestId) {
        var flag = false;
        var strTitle = 'Offer';
        if ('@ViewBag.IsReoffer' == 'true') {
            strTitle = 'Re-Offer';
            flag = true;
        }

        bootbox.dialog({
            title: strTitle,
            message: "Do you want to " + strTitle + "?",
            size: 'small',
            buttons: {
                'confirm': {
                    label: strTitle,
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + '/MIP/OfferOperation/RequestOffered',
                            type: "Post",
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            dataType: "JSON",
                            data: {
                                lineid: requestId,
                                isReoffer: flag
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $("#spnStatus").text(data.Status);
                                    $("#btnOffer,#btnNA").hide();
                                    window.setTimeout('window.location.href = "' + WebsiteURL + '/MIP/OfferOperation/OfferOpearationDetails/'+parseInt('@Model.HeaderId')+'"', 2000)

                                    //DisplayNotiMessage("success", data.Value, "Success");
                                    //$('#tblOfferIndexData').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                    return false;
                                }
                            },
                            error: function (ex) {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                return false;
                            }
                        })
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.InspectionStatus))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.InspectionStatus)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvMIPHeader" style="padding:1%">
                    <form id="frmMIPHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("hdnProject", (string)ViewBag.ProjectCode)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("hdnBU", (string)ViewBag.BUCode)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("hdnLocation", (string)ViewBag.LocationCode)
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>MIP Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Doc No</label>
                                            <div class="">
                                                @Html.TextBox("DocNoDesc", (string)ViewBag.DocNoDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.Hidden("DocNo", (string)ViewBag.DocNo)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">MIP Type</label>
                                            @Html.TextBox("MIPTypeDesc", (string)ViewBag.MIPTypeDesc, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("MIPType", (string)ViewBag.MIPType)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo</label>
                                            @Html.TextBox("RevNo", (string)ViewBag.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Component No</label>
                                            @Html.TextBox("ComponentNo", (string)ViewBag.ComponentNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Drawing No</label>
                                            <div class="">
                                                @Html.TextBox("DrawingNo", (string)ViewBag.DrawingNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Raw Material Grade</label>
                                            @Html.TextBox("RawMaterialGrade", (string)ViewBag.RawMaterialGrade, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Plate No</label>
                                            @Html.TextBox("PlateNo", (string)ViewBag.PlateNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Operation Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Operation No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OperationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Activity Description</label>
                                            @Html.TextBoxFor(m => m.ActivityDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Reference Document</label>
                                            @Html.TextBoxFor(m => m.RefDocument, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ref. Doc. RevNo</label>
                                            @Html.TextBoxFor(m => m.RefDocRevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">PIA</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PIA, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ins. Agency L&T</label>
                                            @Html.TextBoxFor(m => m.IAgencyLNT, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ins. Agency VVPT</label>
                                            @Html.TextBoxFor(m => m.IAgencyVVPT, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ins. Agency SRO</label>
                                            @Html.TextBoxFor(m => m.IAgencySRO, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Records Documents</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RecordsDocuments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Observations</label>
                                            @Html.TextBoxFor(m => m.Observations, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <fieldset id="pnlAttachments">
                                        <legend>Attachments</legend>
                                        <div class="form-group">
                                            <div class="col-md-12" style="margin-top: 20px">
                                                <div class="">
                                                    <div id="dv@(AttachmentUpload)"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:right;">
                                            <hr />
                                            @if (Model.InspectionStatus == clsImplementationEnum.MIPLineStatus.ReadyToOffer.GetStringValue())
                                            {
                                                <input type="button" class="btn offer" id="btnOffer" value="Offer" onclick="RequestOffer('@Model.LineId')" />
                                                <input type="button" class="btn return" id="btnNA" value="NA" />
                                            }
                                            @if (Model.InspectionStatus == clsImplementationEnum.MIPInspectionStatus.Returned.GetStringValue())
                                            {
                                                <input type="button" class="btn offer" id="btnReOffer" value="Re-Offer" onclick="RequestOffer('@Model.LineId')" />
                                            }
                                            <a class="btn btnclose" id="btnClose">Close</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


