﻿@using IEMQSImplementation
@model  IEMQSImplementation.MIP003
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                @Html.Raw((String)ViewBag.Title)
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frnOfferClear" }))
                            {
                                <div class="form-group">
                                    <fieldset>
                                        <legend>Project Details</legend>

                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                @Html.HiddenFor(m => m.HeaderId)
                                                <label class="control-label">Quality Project<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" id="txtQualityProject" name="txtQualityProject" class="form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.QualityProject)
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Project</label>
                                                @Html.TextBox("txtProject", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Project)
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">BU</label>
                                                @Html.TextBox("txtBU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.BU)
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location</label>
                                                @Html.TextBox("txtLocation", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Location)
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Doc No<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" id="txtAnnexure" name="txtAnnexure" class="form-control col-md-3" placeholder="Select" />
                                                    @Html.Hidden("Annexure")
                                                </div>
                                            </div>
                                            @*<div class="col-md-3">
                                                    <label class="control-label">MIP Type</label>
                                                    <input type="text" id="txtMIPType" name="txtMIPType" class="form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.MIPType)
                                                </div>*@
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Offer Details</legend>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <label class="control-label">Component No.<span class="required"> * </span></label>
                                                <div class="input-group">
                                                    <input type="text" id="txtFromComponent" value="" name="txtFromComponent" class="form-control" placeholder="Select From Component" />
                                                    <div class="input-group-addon">
                                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                                    </div>
                                                    <input type="text" id="txtToComponent" value="" name="txtToComponent" class="form-control" placeholder="Select To Component" />

                                                    <input type="hidden" id="FromComponent" value="" name="FromComponent" class="form-control" />
                                                    <input type="hidden" id="ToComponent" value="" name="ToComponent" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="control-label">Operation No<span class="required"> * </span></label>
                                                <div class="input-group">
                                                    <input type="text" id="txtFromOperation" value="" name="txtFromOperation" class="form-control" placeholder="From Operation" />
                                                    <div class="input-group-addon">
                                                        <span class="input-group-text" id=""> <b>to</b> </span>
                                                    </div>
                                                    <input type="text" id="txtToOperation" value="" name="txtToOperation" class="form-control" placeholder="To Operation" />
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:right;">
                                            <hr />
                                            <input type="button" class="btn offer" id="btnOffer" value="Offer & Clear" />
                                            <a class="btn btnclose" id="btnClear">Clear</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
        });
        $('#txtFromComponent,#txtToComponent').val("").prop("disabled", true);
        var lstQualityProject = @Html.Raw(Json.Encode(ViewBag.lstPandingQualityProject));
        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                var array = $.map(lstQualityProject, function (item) {
                    return {
                        label: item,
                        value: item,
                        id: item
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#txtQualityProject").val(strProjectDesc);
                    $("#QualityProject").val(ui.item.id);
                    qualityProject = ui.item.id;
                    QualityProjectChange($("#QualityProject").val(), "add");
                    $('#txtAnnexure').val("").prop("disabled",false)
                    operation();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                    $('#txtAnnexure').val("").prop("disabled",true)
                    $('#txtFromComponent,#txtToComponent').val("").prop("disabled", true);
                    operation();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $('#txtFromOperation,#txtToOperation').val("").prop("disabled", true);
        $('#txtAnnexure').val("").prop("disabled",true)
        $('#txtFromComponent,#txtToComponent').val("").prop("disabled", true);

        var paramlist = [];
        paramlist.push({ id: "qproject", value: $('#txtQualityProject') });
        paramlist.push({ id: "bu", value:  $("#BU")});
        paramlist.push({ id: "location", value: $("#Location")});
        paramlist.push({ id: "annexure", value: $("#Annexure")});
        //paramlist.push({ id: "miptype", value: $("#MIPType")});

        FillAutoCompleteUsingAjax($("#txtFromComponent"), "/MIP/OfferOperation/GetComponentNoForOfferClear", $("#FromComponent"), false, paramlist, operation);
        FillAutoCompleteUsingAjax($("#txtToComponent"), "/MIP/OfferOperation/GetComponentNoForOfferClear", $("#ToComponent"), false, paramlist, operation);
        $('#btnOffer').click(function () {
            GroupOfferClear();
        });

        $('#btnClear').click(function () {
            $(".form-control").val("");
            $('#txtFromOperation,#txtToOperation').val("").prop("disabled", true);
            $('#txtAnnexure').val("").prop("disabled",true)
            $('#txtFromComponent,#txtToComponent').val("").prop("disabled", true);
            operation();
        });

        jQuery.validator.addMethod('notAllowed', function (value, element, param) {
            if (value > parseFloat(1.07)) {
                $(param).addClass('error');
                if(status == false)
                {
                    HighlightInValidControls();
                }
                return false;
            }
            else {
                $(param).removeClass('error');
                return true;
            }

        }, 'Value should be less than 1.07');

        $.validator.addMethod('le', function (value, element, param) {
                var status;
                if (!isNaN($(element).val()) && !isNaN($(param).val()) && $(param).val() != "" ) {
                    status = this.optional(element) || parseFloat(value) <= parseFloat($(param).val());
                }
                else {
                    status = true;
                }
                if(status == false)
                {
                    HighlightInValidControls();
                }
                return status;
        }, 'Invalid value');

        $.validator.addMethod('ge', function (value, element, param) {
            if ($(param).val() == "" && !isNaN($(element).val()) && !isNaN($(param).val())) {
                return false;
            }
            else {
                var status;
                if (!isNaN($(element).val()) && !isNaN($(param).val())) {
                    status = this.optional(element) || parseFloat(value) >= parseFloat($(param).val());
                    if(status == false)
                    {
                        HighlightInValidControls();
                    }
                }
                else {
                    status = true;
                }
                if (status || (!isNaN($(element).val()))) {
                    $(param).removeClass('error');
                }
                return status;
            }
        }, 'Invalid value');

        $('#frnOfferClear').validate({
            rules: {
                txtFromComponent: {
                    required: true,
                },
                txtToComponent: {
                    required: true,
                },
                txtFromOperation: {
                    required: true,
                    pattern: /^[0-9]+\.?[0-9]*$/,
                    notAllowed: "#txtFromOperation",
                    le: "#txtToOperation"
                },
                txtToOperation: {
                    required: true, pattern: /^[0-9]+\.?[0-9]*$/,
                    notAllowed: "#txtToOperation",
                    ge: "#txtFromOperation"
                }
            },
            messages: {
                txtToComponent: {
                    required: "Please select to Component"
                },
                txtFromComponent: {
                    required: "Please select from Component"
                },
                txtToOperation: {
                    required: "Please select to Operation",
                    pattern: "Please enter valid Operation No",
                    ge: 'Must be greater than or equal to "From Operation"'
                },
                txtFromOperation: {
                    required: "Please select from Operation",
                    pattern: "Please enter valid Operation No",
                    le: 'Must be less than or equal to "To Operation"'
                },
            }
        });
        function operation() {
            if ($("#txtToComponent").val() != '' && $("#txtFromComponent").val() != '' && $("#txtToComponent").val() != null && $("#txtFromComponent").val() != null) {
                $('#txtFromOperation,#txtToOperation').val("").prop("disabled", false);
            }
            else {
                $('#txtFromOperation,#txtToOperation').val("").prop("disabled", true);
            }
        }
    });

    function QualityProjectChange(qualityProject, action) {
        $.ajax({
            url: WebsiteURL + "/MIP/OfferOperation/GetQualityProjectWiseProjectBUDetailWithComponent",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject },
            success: function (data) {
                if (action.toLowerCase() != "edit") {
                    $("#txtProject").val(data.ProjectsDetails.projectDescription);
                    $("#txtBU").val(data.ProjectsDetails.BUDescription);
                    $("#txtLocation").val(data.ProjectsDetails.LocationDescription);

                    $("#Project").val(data.ProjectsDetails.ProjectCode);
                    $("#BU").val(data.ProjectsDetails.BUCode);
                    $("#Location").val(data.ProjectsDetails.LocationCode);
                    $('#txtAnnexure,#txtMIPType').val("").prop("disabled",false);

                    FillAnnexureAutoCompleteWithArray($('#txtAnnexure'), data.Annexure,$('#Annexure'),function (){
                        if($('#txtAnnexure') !="" && $('#txtMIPType') !=""){
                            $('#txtFromComponent,#txtToComponent').val("").prop("disabled", false);
                        }
                        else{
                            $('#txtFromComponent,#txtToComponent').val("").prop("disabled", false);
                        }
                    });

                    //FillAnnexureAutoCompleteWithArray($('#txtMIPType'), data.MIPType,$('#MIPType'),function (){
                    //    if($('#txtAnnexure') !="" && $('#txtMIPType') !=""){
                    //        $('#txtFromComponent,#txtToComponent').val("").prop("disabled", false);
                    //    }
                    //    else{
                    //        $('#txtFromComponent,#txtToComponent').val("").prop("disabled", false);
                    //    }
                    //});
                }
            }
        });
    }

    function GroupOfferClear() {
        if ($("#frnOfferClear").valid()) {
            var strFormData = $("#frnOfferClear").serializeArray();
            var formData = new FormData();
            if (strFormData != null && strFormData != undefined) {
                $.each(strFormData, function (key, input) {
                    formData.append(input.name, input.value);
                });
            }

            bootbox.dialog({
                title: "Offer & Clear outside component",
                message: "Do you want to Offer & Clear operations?",
                size: 'small',
                buttons: {
                    'confirm': {
                        label: "Yes",
                        className: 'btn blue',
                        callback: function () {
                            $.ajax({
                                url: WebsiteURL + '/MIP/OfferOperation/GroupOfferClear',
                                type: "Post",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                dataType: "JSON",
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                        return false;
                                    }
                                    if(data.dataValue!="" && data.dataValue !=null && data.dataValue !=undefined){
                                        DisplayNotiMessage("info", data.dataValue, "info");
                                    }
                                    if(data.NotApplicableForParallel!="" && data.NotApplicableForParallel !=null && data.NotApplicableForParallel !=undefined){
                                        DisplayNotiMessage("info", data.NotApplicableForParallel, "info");
                                    }
                                },
                                error: function (ex) {
                                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                    return false;
                                }
                            })
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn red'
                    }
                }
            });
        }
        else {
            HighlightInValidControls();
        }
    }
    function FillAnnexureAutoCompleteWithArray(element, sourceList, hdElement, fnCallback) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.Description,
                        value: item.Description,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                if (hdElement != undefined)
                    $(hdElement).val(ui.item.id);
                if (fnCallback != undefined && typeof fnCallback == "function")
                    fnCallback(ui.item)
                HighlightInValidControls();
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }
</script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>

