﻿@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strCTQTitle = ViewBag.Status + " Planning Checklist";
                    }
                    @strCTQTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLC/ApproveCheckList/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPCLHeader" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="all">Project</th>
                            <th class="min-phone-l">Document</th>
                            <th class="min-phone-l">Customer</th>
                            <th class="min-phone-l">Process Licensor</th>
                            <th class="min-phone-l">Product Type</th>
                            <th class="min-phone-l">EquipmentNo</th>
                            <th class="min-phone-l">Rev No.</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Submitted By</th>
                            <th class="min-phone-l">Submitted On</th>
                            <th class="min-phone-l">Approved By</th>
                            <th class="min-phone-l">Approved On</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn approve">Approve</button>
    </div>
</div>
<script>

    $(document).ready(function () {
        var isVisible = false;
        $("#btnApproveSelected").click(function () {
            var arrayHeaderIds = new Array();

            $('input[class="clsCheckbox"]', $('#tblPCLHeader')).each(function () {
                if (this.checked) {
                    arrayHeaderIds.push(this.value);
                }
            });
            if (arrayHeaderIds.length > 0) {
                var strHeaderIds = arrayHeaderIds.join(",");
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/PLC/ApproveCheckList/ApproveByApproverSelected",
                    datatype: 'json',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { strHeaderIds: strHeaderIds },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                            $(".example-select-all").prop('checked', false);

                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }

                        $('#tblPCLHeader').DataTable().ajax.reload();

                    },
                    error: function () {
                    }
                });
            }
            else {
                DisplayNotiMessage("error", "Please select header first", "Error");
            }
        });



        var table = $('#tblPCLHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLC/ApproveCheckList/LoadPCLHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnApproveSelected").show();
                            isVisible = true;
                        }
                        else {
                            $("#btnApproveSelected").hide();
                            isVisible = false;

                        }
                    },
                    'async': false
                });
            },
            "columns": [
                 {
                     'targets': 0,
                     "bSortable": false,
                     "sClass": "center",
                     'render': function (data, type, full, meta) {
                         return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                     }
                 },
                 {
                     "sClass": "center",
                     "name": "Project",
                 },
                {
                    //   "bSortable": false,
                    "sClass": "center",
                    "name": "Document",
                },
                {
                    "name": "Customer",
                    "sClass": "center"
                },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "name": "ProductType",
                    "sClass": "center"
                },
                {
                    "name": "EquipmentNo",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "center"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "SubmittedBy",
                    "sClass": "center"
                },
                {
                    "name": "SubmittedOn",
                    "sClass": "center", "attr": "date"
                },
                {
                    "name": "ApprovedBy",
                    "sClass": "center"
                },
                {
                    "name": "ApprovedOn",
                    "sClass": "center", "attr": "date"
                },


                {
                    "bSortable": false,
                    "sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    buttons = '<center><a class="btn btn-xs green"   href="../ApproveCheckList/ViewHeader?HeaderId=' + row[9] + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //    return buttons;
                    //}
                },
            ]
        });
        table.dtSearchFilter();
        if ('@ViewBag.Status' == "Pending" && isVisible == true) {
            oTable.api().column(0).visible(true);
            $("#btnApproveSelected").show();
        }
        else {
            oTable.api().column(0).visible(false);
            $("#btnApproveSelected").hide();
            setTimeout(function () {
                $('#tblPCLHeader_wrapper thead tr:first th:eq(0)').hide();
            }, 100);
        }

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblPCLHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all').get(0);

                if (el && el.checked && ('indeterminate' in el)) {

                    el.indeterminate = true;
                }
            }
        });

    });


    function PrintReport(headerid, product) {
        var RolledForgedCheckList = '@clsImplementationEnum.pclProductType.RolledForgedCheckList.GetStringValue()';
        var UreaRxCheckList = '@clsImplementationEnum.pclProductType.UreaRxCheckList.GetStringValue()';
        var Heater = '@clsImplementationEnum.pclProductType.Heater.GetStringValue()';
        var SurfaceCondenser = '@clsImplementationEnum.pclProductType.SurfaceCondenser.GetStringValue()';
        var HeatExchanger = '@clsImplementationEnum.pclProductType.HeatExchanger.GetStringValue()';
        var Boiler = '@clsImplementationEnum.pclProductType.Boiler.GetStringValue()';
        var CokeDrum = '@clsImplementationEnum.pclProductType.CokeDrum.GetStringValue()';
        var Column = '@clsImplementationEnum.pclProductType.Column.GetStringValue()';
        var EOReactor = '@clsImplementationEnum.pclProductType.EOReactor.GetStringValue()';
        var RRPackage = '@clsImplementationEnum.pclProductType.RRPackage.GetStringValue()';
        var reportname = '';
        if (product == CokeDrum) { reportname = 'Coke drum - TVPA'; }
        if (product == Column) { reportname = 'Column - TVPA'; }
        if (product == EOReactor) { reportname = 'EO Reactor - Joy'; }
        if (product == Heater || product == SurfaceCondenser || product == Boiler || product == HeatExchanger) { reportname = 'Heat Surface Condensor'; }
        if (product == UreaRxCheckList) { reportname = 'Planning Checklist Report'; }
        if (product == RolledForgedCheckList) { reportname = 'Rolled Forged Rx'; }
        if (product == RRPackage) { reportname = 'RR Package - RTGO-DGP'; }
        if (reportname != "" && product != "") {
            bootbox.dialog({
                title: 'Planning Checklist',
                message: 'Do You Want To Print Report?',
                buttons: {
                    'confirm': {
                        label: 'Print',
                        className: 'btn green',
                        callback: function () {
                            var url = '';
                            url = '/PlanningChecklist/' + reportname;
                            //url = '/PlanningChecklist/Coke+drum+-+TVPA';
                            var dat = [];
                            dat.push({ Param: 'HeaderId', Value: headerid });
                            ShowReport(dat, url);
                        }
                    },
                    'cancel': {
                        label: 'Close',
                        className: 'btn red'
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "This report does not have valid Product Type", "Error");
        }
    }
</script>
