﻿
@using IEMQSImplementation
@model PCL003
<script>
    var Status = '@ViewBag.Status';
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });

        if (Status != "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()") {
            $('fieldset.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        IsDisplayOnly();
        var strHeader = '@ViewBag.HeaderId';
        $("#txtAllowanceHeader").val(strHeader);
        SetNumericInputVal();
    });

    function SaveAsDraft() {
      if (PostValidationForSave()) {
            if ($("#frmAllowance").valid()) {
                var frmSaveValue = $("#frmAllowance").serializeArray();
                SaveHeaderAllowance(frmSaveValue, status);
            }
        }
    }

    function SaveHeaderAllowance(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/ApproveCheckList/SaveAllowance",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtAllowance").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtAllowanceHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#Section3").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>

<div id="dvSection1">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmAllowance", @class = "form-horizontal" }))
    {
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>
            </div>
        </div>
        <hr class="savedraft" />
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtAllowanceHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtAllowance" })
        <fieldset class="fdControls">
            <legend>Shell</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for ESSC shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.ShellShrinkage, new { @class = "clsAllowance decimalInput" ,@maxlength="12" })</span> &nbsp; mm on Circ Lg and &nbsp; <span>@Html.TextBoxFor(m => m.ShellWidth, new { @class = "clsAllowance  decimalInput",@maxlength = "12"  })</span>&nbsp; mm / mt lg on Width.</label><br />
                    <label class="control-label"> Tolerance on Ovality &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.ShellOvality, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp;  mm(Target for 9 mm Ovality) </label><br />
                </div>
            </div>
        </fieldset>
        <fieldset class="fdControls">
            <legend>D’end</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for M / cing &nbsp; <span>@Html.TextBoxFor(m => m.DEndMcing, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp;  mm on open end.</label><br />
                    <label class="control-label">  Allowance for Seam shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.DEndSeamShrinkage, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span>&nbsp; mm per seam</label><br />
                    <label class="control-label">  Allowance for ESSC &nbsp; <span>@Html.TextBoxFor(m => m.DEndESSC, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp; mm on Circ lg.</label><br />
                </div>
            </div>
        </fieldset>
        <fieldset class="fdControls">
            <legend>Y - Ring</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Allowance for ESSC &nbsp; <span>@Html.TextBoxFor(m => m.YRingESSC, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp;mm on Circ Lg.</label><br />
                </div>
            </div>
        </fieldset>
        <fieldset class="fdControls">
            <legend>Skirt</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Tolerance on flatness of Base ring out of level &nbsp; <span>@Html.TextBoxFor(m => m.SkirtLevel, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp;max & BCD =&nbsp; <span>@Html.TextBoxFor(m => m.SkirtBCD, new { @class = "clsAllowance decimalInput", maxlength = "12"  })</span> &nbsp;mm.</label><br />
                </div>
            </div>
        </fieldset>
        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    }


</div>
