﻿
@using IEMQSImplementation
@model PCL011

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script>
    var Status = '@ViewBag.Status';
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "99", aForm: "false" });
        });

        if (Status != "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        IsDisplayOnly();
        SetNumericInputVal();
        var strHeader = '@ViewBag.HeaderId';
        $("#txtUreaFixtureHeader").val(strHeader);
    });
    function SaveAsDraft() {
        if (PostValidationForSave()) {
            if ($("#frmUreaFixtureRqmnt").valid()) {
                var frmSaveValue = $("#frmUreaFixtureRqmnt").serializeArray();
                SaveHeaderUreaFixture(frmSaveValue, status);
            }
        }
    }
    function SaveHeaderUreaFixture(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/ApproveCheckList/SaveUreaFixture",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtUreaFixtureLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtUreaFixtureHeader").val(strHeader);
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#Section5").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUreaFixtureRqmnt", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />

                @Html.HiddenFor(m => m.HeaderId, new { id = "txtUreaFixtureHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtUreaFixtureLine" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Fixture requirement
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblFixtureRequirment">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">#</th>
                                    <th class="numeric" style="width: 20%;">Description</th>
                                    <th class="numeric" >Required ?</th>
                                    <th class="numeric" style="width: 15%;">Required Date</th>
                                    <th class="numeric">No. of fixture</th>
                                    <th class="numeric">Available<br /> Quantity</th>
                                    <th class="numeric">Drawing </th>
                                    <th class="numeric">Material</th>
                                    <th class="numeric">Fabrication</th>
                                    <th class="numeric">Delivery to shop</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    <td class="numeric">Template for Rolling (External Pressure)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TempRollExternalReq"> @Html.CheckBox("TempRollExternalReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TempRollExternalReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollExternalDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">	Template for Rolling (3-6 thk plate)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TempRollPlateReq"> @Html.CheckBox("TempRollPlateReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TempRollPlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateMtrl, new { @class = "form-control", maxlength = "30" })</td>

                                    <td class="numeric">@Html.TextBoxFor(m => m.TempRollPlateDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">3	</td>
                                    <td class="numeric">Gasket face Protection Cover</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="GasketCoverReq"> @Html.CheckBox("GasketCoverReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.GasketCoverReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.GasketCoverDel, new { @class = "form-control", maxlength = "20" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric">	Run-in/Run-out plate</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RunInRunOutPlateReq"> @Html.CheckBox("RunInRunOutPlateReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RunInRunOutPlateReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RunInRunOutPlateDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">	Spider for Shell</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderShellReq"> @Html.CheckBox("SpiderShellReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SpiderShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderShellDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>

                                <tr>
                                    <td class="numeric">6	</td>
                                    <td class="numeric">Wrapper plate for Skirt</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WrapperPlateSkirtReq"> @Html.CheckBox("WrapperPlateSkirtReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.WrapperPlateSkirtReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WrapperPlateSkirtDel, new { @class = "form-control", maxlength = "20" })</td>

                                </tr>
                                <tr>
                                    <td class="numeric">7	</td>
                                    <td class="numeric">Counter Weight</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CounterWeightReq"> @Html.CheckBox("CounterWeightReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.CounterWeightReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CounterWeightDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">8	</td>
                                    <td class="numeric">Fixture for loading d ’end on Positioner</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixturePositionerReq"> @Html.CheckBox("FixturePositionerReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixturePositionerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePositionerDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">	Spider for Nozzle welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderforNozzReq"> @Html.CheckBox("SpiderforNozzReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SpiderforNozzReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderforNozzNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderforNozzAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderforNozzDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderforNozzFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderforNozzMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderforNozzDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric"> Saddle for PWHT</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlePWHTReq"> @Html.CheckBox("SaddlePWHTReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SaddlePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SaddlePWHTDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">11	</td>
                                    <td class="numeric"> Fixture for chip back grinding and welding of D’end</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtureChipBackReq"> @Html.CheckBox("FixtureChipBackReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixtureChipBackReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtureChipBackDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">12	</td>
                                    <td class="numeric"> Spider for D’end </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SpiderDEndReq"> @Html.CheckBox("SpiderDEndReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SpiderDEndReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SpiderDEndDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">13</td>
                                    <td class="numeric">	 C-Clamp for Shell turning</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CClampReq"> @Html.CheckBox("CClampReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.CClampReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CClampNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CClampAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CClampDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CClampFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CClampMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CClampDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">14 </td>
                                    <td class="numeric">Fixture for Internal Installation</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixtInternalInstalReq"> @Html.CheckBox("FixtInternalInstalReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixtInternalInstalReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixtInternalInstalDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">15</td>
                                    <td class="numeric">	 Dummy shell for head profile machining</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellHeadReq"> @Html.CheckBox("DummyShellHeadReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DummyShellHeadReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellHeadNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellHeadAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellHeadDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellHeadFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellHeadMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellHeadDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">16</td>
                                    <td class="numeric">	Shell  Liner set up fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLinerReq"> @Html.CheckBox("ShellLinerReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ShellLinerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLinerDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">17</td>
                                    <td class="numeric">Head liner set up fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeadLinerReq"> @Html.CheckBox("HeadLinerReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HeadLinerReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeadLinerNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeadLinerAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeadLinerDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeadLinerFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeadLinerMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeadLinerDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">18	</td>
                                    <td class="numeric"> Locking fixture for bracket fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LockingFixBracketReq"> @Html.CheckBox("LockingFixBracketReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LockingFixBracketReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixBracketNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixBracketAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixBracketDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixBracketFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixBracketMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixBracketDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">19 </td>
                                    <td class="numeric">Dummy shell for Shell rotation</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DummyShellRotationReq"> @Html.CheckBox("DummyShellRotationReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DummyShellRotationReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DummyShellRotationDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">20</td>
                                    <td class="numeric">	Locking fixture for Manway cover liner welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LockingFixManwayReq"> @Html.CheckBox("LockingFixManwayReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LockingFixManwayReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixManwayNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixManwayAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixManwayDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixManwayFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixManwayMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LockingFixManwayDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">21	</td>
                                    <td class="numeric">External ring for ovality correction</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ExtRingReq"> @Html.CheckBox("ExtRingReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ExtRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ExtRingDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">22	</td>
                                    <td class="numeric">Pre-heating arrangement</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PreHeatiArrgReq"> @Html.CheckBox("PreHeatiArrgReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.PreHeatiArrgReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.PreHeatiArrgDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">23	</td>
                                    <td class="numeric">Fixture for PWHT</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="FixturePWHTReq"> @Html.CheckBox("FixturePWHTReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.FixturePWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.FixturePWHTDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">24	</td>
                                    <td class="numeric">Closing  Chip back welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ClosChipReq"> @Html.CheckBox("ClosChipReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ClosChipReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ClosChipNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ClosChipAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ClosChipDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ClosChipFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ClosChipMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ClosChipDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">25	</td>
                                    <td class="numeric">Sleeve for stud tensioning (>=2 ¼”)</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SleeveStudReq"> @Html.CheckBox("SleeveStudReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SleeveStudReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudNoFix, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SleeveStudDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">26	</td>
                                    <td class="numeric">Evener Beam for Job Handling</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EvenerBeamReq"> @Html.CheckBox("EvenerBeamReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.EvenerBeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.EvenerBeamDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">27</td>
                                    <td class="numeric">	Weep tube air test fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeepTubeReq"> @Html.CheckBox("WeepTubeReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.WeepTubeReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WeepTubeNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WeepTubeAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WeepTubeDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WeepTubeFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WeepTubeMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.WeepTubeDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">28	</td>
                                    <td class="numeric">Helium leak test arrangements</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumLeakReq"> @Html.CheckBox("HeliumLeakReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HeliumLeakReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeliumLeakNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeliumLeakAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeliumLeakDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeliumLeakFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeliumLeakMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HeliumLeakDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">29</td>
                                    <td class="numeric">	Angular nozzle ID & GF machining fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AngularNozReq"> @Html.CheckBox("AngularNozReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.AngularNozReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.AngularNozNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.AngularNozAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.AngularNozDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.AngularNozFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.AngularNozMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.AngularNozDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">30 </td>
                                    <td class="numeric">Rotation Ring</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RotationRingReq"> @Html.CheckBox("RotationRingReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RotationRingReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RotationRingNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RotationRingAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RotationRingDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RotationRingFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RotationRingMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RotationRingDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">31	</td>
                                    <td class="numeric">Nozzle/MW liner OD machining fixture</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMWReq"> @Html.CheckBox("NozMWReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.NozMWReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozMWNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozMWAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozMWDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozMWFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozMWMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozMWDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td class="numeric">32	</td>
                                    <td class="numeric">Taper block for weep hole drilling</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TaperBlockReq"> @Html.CheckBox("TaperBlockReq", new { })<span></span></label></td>
                                    <td class="min-phone-l">
                                        <div id="datetime1" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TaperBlockReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TaperBlockNoFix, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TaperBlockAvlQty, new { @class = "form-control decimalInput", maxlength = "12" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TaperBlockDrg, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TaperBlockFab, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TaperBlockMtrl, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TaperBlockDel, new { @class = "form-control", maxlength = "20" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblFixtureRequirment"));
        }, 500);
    });
</script>