﻿@model IEMQSImplementation.PRO320
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0, s7 = 0, s8 = 0, s9 = 0, s10 = 0, s11 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title">
                                    @ViewBag.Title.ToString()
                                </span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>



                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption" style="">
                                                <span style="float:left; ">

                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines" style="padding: 0px !important">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="">ORIENTATION</th>
                                                            <th>
                                                                OUTSIDE DIAMETER <br />
                                                                REQUIRED : @Html.TextBoxFor(model => model.ReqOutsideDiameter, new { @class = "form-control  tblHeaderTextBox", @style = "display: inline-block;width: 100px; ", @maxlength = "20", @role = "QC" })
                                                            </th>
                                                            <th>
                                                                INSIDE DIAMETER <br />
                                                                REQUIRED : @Html.TextBoxFor(model => model.ReqInsideDiameter, new { @class = "form-control  tblHeaderTextBox", @style = "display: inline-block;width: 100px; ", @maxlength = "20", @role = "QC" })
                                                            </th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO321 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO321 as List<PRO321>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="Orientation">@Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActOutsideDiameter">@Html.TextBox("ActOutsideDiameter_1_" + @s1, @item.ActOutsideDiameter, new { @class = "form-control width125px ", @maxlength = "10", @role = "PROD" })</td>
                                                                    <td class="ActInsideDiameter">@Html.TextBox("ActInsideDiameter_1_" + @s1, @item.ActInsideDiameter, new { @class = "form-control width125px ", @maxlength = "10", @role = "PROD" })</td>
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines1')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>

                                                </table>
                                            </div>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <strong>
                                        <span style="float:left;">
                                            <strong>FLATNESS READINGS :</strong>
                                            @Html.DropDownListFor(model => model.FlatnessReadings, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvFlatness\")" })
                                            <br /><br />
                                        </span>
                                        <br />
                                    </strong>
                                </div>
                            </div>
                            <div id="dvFlatness">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                </div>
                                                <div class="tools">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2w" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body" id="div2">
                                                <div class="table-responsive">
                                                    <table class="table" id="tblProtocolLines2">
                                                        <thead>
                                                            <tr>
                                                                <th style="display:none;">HeaderId</th>
                                                                <th style="display:none;">LineId</th>
                                                                <th class="title" style="text-align: center;">LOCATION</th>
                                                                <th class="title" style="text-align: center;">1</th>
                                                                <th class="title" style="text-align: center;">2</th>
                                                                <th class="title" style="text-align: center;">3</th>
                                                                <th class="title" style="text-align: center;">4</th>
                                                                <th class="title" style="text-align: center;">5</th>
                                                                <th class="title" style="text-align: center;">6</th>
                                                                <th class="title" style="text-align: center;">7</th>
                                                                <th class="title" style="text-align: center;">8</th>
                                                                <th class="title" style="text-align: center;">9</th>
                                                                <th class="title" style="text-align: center;">10</th>
                                                                <th class="title" style="text-align: center;">11</th>
                                                                <th class="title" style="text-align: center;">12</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (ViewBag.lstPRO322 != null)
                                                            {
                                                                foreach (var item in ViewBag.lstPRO322 as List<PRO322>)
                                                                {
                                                                    <tr>
                                                                        <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                        <td class="Location"> @Html.TextBox("Location_2_" + @s2, @item.Location, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                        <td class="ActualValue1"> @Html.TextBox("ActualValue1_2_" + @s2, @item.ActualValue1, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue2"> @Html.TextBox("ActualValue1_2_" + @s2, @item.ActualValue2, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue3"> @Html.TextBox("ActualValue3_2_" + @s2, @item.ActualValue3, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue4"> @Html.TextBox("ActualValue4_2_" + @s2, @item.ActualValue4, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue5"> @Html.TextBox("ActualValue5_2_" + @s2, @item.ActualValue5, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue6"> @Html.TextBox("ActualValue6_2_" + @s2, @item.ActualValue6, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue7"> @Html.TextBox("ActualValue7_2_" + @s2, @item.ActualValue7, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue8"> @Html.TextBox("ActualValue8_2_" + @s2, @item.ActualValue8, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue9"> @Html.TextBox("ActualValue9_2_" + @s2, @item.ActualValue9, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue10"> @Html.TextBox("ActualValue10_2_" + @s2, @item.ActualValue10, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue11"> @Html.TextBox("ActualValue11_2_" + @s2, @item.ActualValue11, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>
                                                                        <td class="ActualValue12"> @Html.TextBox("ActualValue12_2_" + @s2, @item.ActualValue12, new { @class = "form-control width125px calloc1", @maxlength = "10", @role = "PROD", @onchange = "funCalLoc1();" })</td>

                                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                        {
                                                                            <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                        <tfooter>
                                                            <tr class="outby">
                                                                <td class="min-phone-l" style="display:none;">HeaderId</td>
                                                                <td class="min-phone-l" style="display:none;">LineId</td>
                                                                <td class="datatableFooter" style="text-align:right"> <b>OUT BY </b> (Allowed : @Html.TextBoxFor(model => model.OutByLocation, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })) </td>
                                                                <td class="datatableFooter" colspan="12" style="text-align:center">@Html.TextBoxFor(model => model.FlatnessReadings1, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                @*<td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings2, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings3, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings4, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings5, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings6, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings7, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings8, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings9, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings10, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings11, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>
                                                                <td class="datatableFooter">@Html.TextBoxFor(model => model.FlatnessReadings12, new { @class = "form-control", @maxlength = "10", @role = "", @tabindex = "-1", @readonly = "true" })</td>*@
                                                            </tr>
                                                        </tfooter>
                                                    </table>
                                                    <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>IDENTIFICATION MARKING </strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines3">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th></th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>

                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO323 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO323 as List<PRO323>)
                                                            {

                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s3 = s3 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="IdentificationMarking">@Html.TextArea("IdentificationMarking_3_" + @s3, @item.IdentificationMarking, new { @class = "form-control", @maxlength = "200", @role = "PROD" })</td>

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                            <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                <span>1) PROCEDURE NO. &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) SEAM NUMBER PUNCHED AS REQUIRED BY STANDARD PROCEDURE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) MARKING TO IDENTIFY SHELL SIDE AND CHANNEL SIDE DONE ON TUBESHEET?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) PRINCIPLE ORIENTATION PUNCHING DONE?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(ViewBag.YesNoNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                6) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                7) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint7, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint7_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                8) ADDITIONAL FLATNESS AS REQUIRED BY PLANNING DOCUMENTS TO BE RECORDED AND ATTACHED TO THIS REPORT.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;"></div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>


<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));
    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint7_2").change(function () {
            if ($("#CheckPoint7_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#FlatnessReadings,#CheckPoint2,#CheckPoint3,#CheckPoint4,#CheckPoint5').val('Yes');

        //showCladtripTable($(this).val(), "dvOrientationOfLongSeams");
        
        if ('@Model.FlatnessReadings' != "") { $('#FlatnessReadings').val('@Model.FlatnessReadings'); }
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }


      
        showCladtripTable($('#FlatnessReadings').val(), "dvFlatness");


    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                AddNextRow(this, null, false, 3, 'hdGrid3LastRow', 'tblProtocolLines3', 'IdentificationMarking', ['IdentificationMarking'], AddTbl3NewTrRow, true); 

                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Orientation', ['Orientation'], AddTbl1NewTrRow, true);              
                AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'Location', ['Location'], AddTbl2NewTrRow, true);
                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            @*if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }*@
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ActOutsideDiameter": $('td.ActOutsideDiameter input', this).val(),
                "ActInsideDiameter": $('td.ActInsideDiameter input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

       

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "Location": $('td.Location input', this).val(),
                "ActualValue1": $('td.ActualValue1 input', this).val(),
                "ActualValue2": $('td.ActualValue2 input', this).val(),
                "ActualValue3": $('td.ActualValue3 input', this).val(),
                "ActualValue4": $('td.ActualValue4 input', this).val(),
                "ActualValue5": $('td.ActualValue5 input', this).val(),
                "ActualValue6": $('td.ActualValue6 input', this).val(),
                "ActualValue7": $('td.ActualValue7 input', this).val(),
                "ActualValue8": $('td.ActualValue8 input', this).val(),
                "ActualValue9": $('td.ActualValue9 input', this).val(),
                "ActualValue10": $('td.ActualValue10 input', this).val(),
                "ActualValue11": $('td.ActualValue11 input', this).val(),
                "ActualValue12": $('td.ActualValue12 input', this).val(),

            };
            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);

        var TableData3 = []; //initialize array;
        var lstProtocolLines3 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData3[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "IdentificationMarking": $('td.IdentificationMarking textarea', this).val(),
            };

            lstProtocolLines3 = JSON.stringify(TableData3);
        });

        SaveAsDraftProtocolLine(lstProtocolLines3, ControllerURL + "SaveProtocolLine3" + "?HeaderId=" + parseInt($("#HeaderId").val()), 3);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\">" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
             + "<td class=\"Orientation center \"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Orientation',['Orientation'],AddTbl1NewTrRow)\"></td>"
             + "<td class=\"ActOutsideDiameter center \"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\" id=\"ActOutsideDiameter_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActOutsideDiameter_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled=\"\"></td>"
             + "<td class=\"ActInsideDiameter center \"><input class=\"form-control width125px NonEditableTextColor islastrow PRODTextbox\" id=\"ActInsideDiameter_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActInsideDiameter_1_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" disabled=\"\"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }

    

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var seamfn = "AddNextRow(this,'OutByLocation',false,2,'hdGrid2LastRow','tblProtocolLines2','Location',['Location'],AddTbl2NewTrRow)";
        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\">0</td>"
            + "<td class=\"Location center \"><input class=\"form-control islastrow  QCTextbox EditableTextColor\" id=\"Location_2_" + NewTrRowNum + "\" maxlength=\"20\" name=\"Location_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"" + seamfn + "\"></td>"
            + "<td class=\"ActualValue1 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue1_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue1_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue2 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue2_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue2_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue3 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue3_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue3_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue4 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue4_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue4_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue5 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue5_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue5_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue6 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue6_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue6_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue7 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue7_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue7_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue8 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue8_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue8_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue9 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue9_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue9_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue10 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue10_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue10_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue11 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue11_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue11_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"
            + "<td class=\"ActualValue12 center \"><input class=\"form-control islastrow width125px NonEditableTextColor PRODTextbox\" id=\"ActualValue12_2_" + NewTrRowNum + "\" maxlength=\"10\" name=\"ActualValue12_2_" + NewTrRowNum + "\" role=\"PROD\" type=\"text\" aria-invalid=\"false\" onchange=\"funCalLoc1();\"></td>"       
             + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);
        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"IdentificationMarking\"><textarea class=\"form-control  clsAddNew EditableTextColor PRODTextbox islastrow valid\" onblur=\"AddNextRow(this,null,false,3,'hdGrid3LastRow','tblProtocolLines3','IdentificationMarking',['IdentificationMarking'],AddTbl3NewTrRow)\" id=\"IdentificationMarking_3_" + NewTrRowNum + "\" maxlength=\"200\" name=\"IdentificationMarking_3_" + NewTrRowNum + "\" role=\"PROD\"  value=\"\" aria-invalid=\"false\"></textarea></td>" +
            "<td  class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines3')\" style=\"display:none\"></i></td>" +

            "</tr>";

        return strhtml;
    }

    function funCalLoc1() {
        calculateMaxMin("calloc1", "FlatnessReadings1");
    }
    //function funCalLoc2() {
    //    calculateMaxMin("calloc2", "FlatnessReadings2");
    //}
    //function funCalLoc3() {
    //    calculateMaxMin("calloc3", "FlatnessReadings3");
    //}
    //function funCalLoc4() {
    //    calculateMaxMin("calloc4", "FlatnessReadings4");
    //}
    //function funCalLoc5() {
    //    calculateMaxMin("calloc5", "FlatnessReadings5");
    //}
    //function funCalLoc6() {
    //    calculateMaxMin("calloc6", "FlatnessReadings6");
    //}
    //function funCalLoc7() {
    //    calculateMaxMin("calloc7", "FlatnessReadings7");
    //}
    //function funCalLoc8() {
    //    calculateMaxMin("calloc8", "FlatnessReadings8");
    //}
    //function funCalLoc9() {
    //    calculateMaxMin("calloc9", "FlatnessReadings9");
    //}
    //function funCalLoc10() {
    //    calculateMaxMin("calloc10", "FlatnessReadings10");
    //}
    //function funCalLoc11() {
    //    calculateMaxMin("calloc11", "FlatnessReadings11");
    //}
    //function funCalLoc12() {
    //    calculateMaxMin("calloc12", "FlatnessReadings12");
    //}

</script>