﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>User Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    @*@Styles.Render("~/Content/simple-line-icons/css")*@
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/bootstrap-switch/css")
    @Styles.Render("~/Content/select2/css")
    @Styles.Render("~/Content/Theme/css")
    @Styles.Render("~/Content/ThemeCssUI/css")
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/ThemeJs/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/ThemeJsUI/js")
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <link rel="manifest" href="~/manifest.json">
    <style>
        .footer-browser {
            width: 100%;
            background-color: #18587d; /*#FF9969*/
            display: block;
            position: fixed;
            color: #fff;
            bottom: 0;
            height: 45px;
            font-size: 16px;
            text-align: center;
            padding: 10px;
            font-family:"Open Sans",sans-serif;
            font-weight: bold;            
        }
    </style>
    <link href="~/Content/loader.css" rel="stylesheet" />
</head>
<body class="login">    
    <div class="quick-nav-overlay"></div>
    <div id="divLoader">
        @*<div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>*@
        <div class="loadercontainer">
            <div class="loader1">
            </div>
        </div>        
    </div>
    <div id="divMainScreen" style="position:absolute;top:0;bottom:0;left:0;right:0;">

    </div>
    <div class="materialContainer">
        <div class="box">
            <div class="col-md-12" style="position:center;"><img style="width:60%;height:60%;" src="~/Images/ThemeImages/IEMQS-Logo.png" alt="#" class="logo-image"></div>            
            @Html.Partial("_LoginPartial")
            @Html.Partial("_ForgotPasswordPartial")
        </div>

    </div>
    <div class="footer-browser">
        IEMQS is best viewed through Google Chrome browser.
    </div>
    <script src="~/Scripts/ThemeScripts/Plugins/js.cookie.min.js"></script>
    @Scripts.Render("~/bundles/jquery-slimscroll/js")
    @Scripts.Render("~/bundles/jquery.blockui/js")
    @Scripts.Render("~/bundles/bootstrap-switch/js")
    @Scripts.Render("~/bundles/jquery-validation/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/backstretch/js")
    <script src="~/Scripts/ThemeScripts/app.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script>
        if (localStorage.getItem('selectedmenu') != null) {
            localStorage.setItem("selectedmenu", null);
        }

        var WebsiteURL = '@System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"]';

        $(window).bind("load", function () {
            $('#divMainScreen').css({ "background-image": 'url(' + WebsiteURL + '/Images/IEMQS_Background.jpg)' })
            $('.close').css({ "background-image": 'url(' + WebsiteURL + '/Images/ThemeImages/remove-icon-small.png)' })
            if (localStorage.getItem("userroles") != null) {
                localStorage.removeItem("userroles");
            }
            if (localStorage.getItem("userbus") != null) {
                localStorage.removeItem("userbus");
            }
            if (localStorage.getItem("userlocations") != null) {
                localStorage.removeItem("userlocations");
            }
            if (localStorage.getItem("Globalcategory") != null) {
                localStorage.removeItem("Globalcategory");
            }
        });
        $("#frmLogin").validate({
            rules: {
                Username: {
                    required: true
                },
                Password: {
                    required: true
                },
                remember: {
                    required: false
                }
            },

            messages: {
                Username: {
                    required: "Username is required."
                },
                Password: {
                    required: "Password is required."
                }
            },
        });

        $('.login-form input').keypress(function (e) {
            if (e.which == 13) {
                $('#btnLogin').click();
                return false;
            }
        });

        $('#btnLogin').click(function () {
            //var IsValid = $('#frmLogin').valid();
            if ($("#Username").val().trim() == "" || $("#Password").val().trim() == "") {
                $('.alert-danger', $('.login-form')).css({ "display": "block" });
                return;
            }
            else {
                //var formData = new FormData();
                //var frmValues = $('#frmLogin').serializeArray();
                //$.each(frmValues, function (key, input) {
                //    formData.append(input.name, input.value);
                //});
                //$.ajax({
                //    url: WebsiteURL + '/Authentication/Authenticate/Login',
                //    data: formData,
                //    contentType: false,
                //    processData: false,
                //    type: 'POST',
                //    //async: false,
                //    beforeSend: function () {
                //        showLoading(true);
                //    },
                //    complete: function () {
                //        //showLoading(false);
                //    },
                //    success: function (data) {
                //        if (data.Key) {
                //            window.location.href = WebsiteURL + "/Temp/TempAH/Index";
                //            //BindSideBar();
                //            //window.location.href = WebsiteURL + "/MyDashboard/Dashboard/Index";
                //        }
                //        else {
                //            showLoading(false);
                //            //alert(data.Value);
                //            bootbox.alert(data.Value);
                //        }
                //    },
                //    error: function (data) {
                //        showLoading(false);
                //    }
                //});

                var RememberMe = $("#chkRememberMe").is(":checked");
                if (RememberMe == null || RememberMe == undefined || RememberMe == "undefined") {
                    RememberMe = false;
                }
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + '/Authentication/Authenticate/Login',
                    datatype: 'json',
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { Username: $("#Username").val(), Password: $("#Password").val(), RememberMe: RememberMe },
                    success: function (result) {
                        if (result.Key) {
                            showLoading(true);
                            BindSideBar();
                        }
                        else {
                            showLoading(false);
                            bootbox.alert(result.Value);
                            return false;
                        }
                    },
                    error: function (result) {                        
                        bootbox.alert(result.Value);
                        return false;
                    }
                });
            }
        })

        function BindSideBar() {
            $.ajax({
                url: WebsiteURL + '/Authentication/Authenticate/AccessSummary',
                data: {},
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    localStorage.setItem("userroles", JSON.stringify(data.listRole));
                    localStorage.setItem("userbus", JSON.stringify(data.listBU));
                    localStorage.setItem("userlocations", JSON.stringify(data.listLocation));
                    localStorage.setItem("Globalcategory", "");
                    window.location.href = WebsiteURL + "/MyDashboard/Dashboard/Index";
                    
                },
                error: function (data) {
                    showLoading(false);
                }
            });
        }
    </script>
    @Scripts.Render("~/bundles/Main")
</body>
</html>