﻿
@using IEMQSImplementation
@model ADD001
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @Html.Raw((string)ViewBag.documentname)
                </div>
                <div class="tools" id="dvExportRoute">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ADD/MaintainADD/GenerateExcel", GridType = clsImplementationEnum.GridType.ROUTE.GetStringValue(), dvId = "#dvExportRoute" })

                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblRouteDetails" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">#</th>
                            <th class="all" style="display:none">Rev No</th>
                            <th class="all">Route No</th>
                            <th class="all">Status</th>
                            <th class="all">Created By</th>
                            <th class="all">Created On</th>
                            <th class="all" style="display:none">#</th>
                            <th class="all" style="display:none">#</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="dvAssigneDet" class="form-group" style="display:none">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <span id="spnRouteTitle"></span>
                        </div>
                        <div class="tools" id="dvExportAssigneDet">
                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ADD/MaintainADD/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportAssigneDet" })

                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblAssigneDet" cellspacing="0">
                            <thead>
                                <tr>
                                    <td colspan="2">Task Name: <input type="text" readonly class="form-control" id="txtADTaskName" /> </td>
                                    <td colspan="4">Task Description: @*<input type="text" class="form-control" readonly id="txtADTaskDescription" />*@ @Html.TextAreaFor(x=>x.Description,new { @class = "form-control" ,@readonly="readonly" })</td>
                                </tr>
                                <tr>
                                    <th class="all">#</th>
                                    <th class="all">Assignee</th>
                                    <th class="all" style="display:none">Comments</th>
                                    <th class="all" style="display:none">Task Name</th>
                                    <th class="all" style="display:none">Task Description</th>
                                    <th class="all">Task Status</th>
                                    <th class="all">Assignee Comments</th>
                                    <th class="all">Assigned By</th>
                                    <th class="all">Assigned On</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblRouteDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ADD/MaintainADD/LoadRouteData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.headerid' },
                            { "name": "RouteNo", "value": '@Html.Raw((string)ViewBag.RouteNo)' },
                            { "name": "RevNo", "value": '@Model.RevNo' },
                            { "name": "IsVisible", "value": true }
                        );

            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportRoute").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportRoute").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "name": "ADDRevNo",
                        "sClass": "hide",
                    },
                    {
                        "name": "RouteNo",
                        "sClass": "center1 routeno",
                    },
                    {
                        "name": "IsStopped",
                        "sClass": "center",
                    },
                    {
                        "name": "CreatedBy",
                        "sClass": "center",
                    },
                    {
                        "name": "CreatedOn",
                        "bSortable": false,
                    },
                    {
                        "bSortable": false,
                        "sClass": "hide header",
                    },
                    {
                        "bSortable": false,
                        "sClass": "hide routeid",
                    },

            ]
        });

        $('#tblRouteDetails tbody').on('click', 'tr', function () {
            if ($(this).find(".dataTables_empty").length == 0) {
                if ($(this).hasClass('highlight')) {
                    $('td', $($(this))).addClass('sorting_1');
                    $(this).removeClass('highlight');
                }
                else {
                    oTable.$('tr.highlight').removeClass('highlight');
                    $(this).addClass('highlight');
                    $('td', $($(this))).removeClass('sorting_1');
                }
                var hdrId = $(this).find("td.header").text();
                var routeno = $(this).find("td.routeno").text();
                var routeId = $(this).find("td.routeid").text();

                GetAssigneeDeatilsByRoute(hdrId, routeno, routeId);
            }
        });
    });
    function SetValueByRow($txtid, txtvalue) {
        $txtid.val(txtvalue);
    }
    function GetAssigneeDeatilsByRoute(hdrId, routeno, routeId) {
        var name = '@Model.DocumentName';
        $('#dvAssigneDet').show();
        $('#spnRouteTitle').text(routeno);

        var table = $('#tblAssigneDet');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ADD/MaintainADD/LoadTaskData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": hdrId },
                            { "name": "RouteNo", "value": routeno }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportAssigneDet").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportAssigneDet").val(data.strSortOrder);
                        $("#txtADTaskName").val(name);
                        //if (data.comment != null && data.comment != undefined && data.comment != "undefined") {
                        //   $("#txtADComments").val(data.comment)
                        //}
                        //if (data.taskname != null && data.taskname != undefined && data.taskname != "undefined") {
                        //    $("#txtADTaskName").val(data.taskname)
                        //}
                        //if (data.taskdesc != null && data.taskdesc != undefined && data.taskdesc != "undefined") {
                        //    $("#txtADTaskDescription").val(data.taskdesc)
                        //}
                    },
                    'async': false
                });
            },
            "aoColumns": [
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "sClass": "center",
                        "name": "Assignee",
                    },
                     {
                         "sClass": "hide",
                         "name": "Comments",
                     },
                    {
                        "sClass": "hide",
                        "name": "TaskName",
                    },
                    {
                        "sClass": "hide",
                        "name": "TaskDescription",
                    },
                    {
                        "sClass": "center",
                        "name": "TaskStatus",
                    },
                    {
                        "sClass": "center",
                        "name": "AssigneeComments",
                    },
                    {
                        "sClass": "center",
                        "name": "AssignedBy",
                    },
                    {
                        "sClass": "center",
                        "bSortable": false,
                    },
            ]
        });
    }


    function GetPreviousRoute() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ADD/MaintainADD/GetRouteDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerid: $("#HeaderId").val(), documentname: $("#DocumentName").val(), routeno: '@Html.Raw((string)ViewBag.RouteNo)' },
            success: function (result) {
                bootbox.dialog({
                    title: 'Route Details',
                    message: result,
                    size: 'large',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
