﻿@using IEMQSImplementation
@model OPC001_Log
@{
    ViewBag.Title = "Operation Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUpload1ID = "fuupload1";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    var type='@ViewBag.action';
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));
        var headerid = parseInt("@Model.HeaderId");
        $('#txtRevNo').val("R" + '@Model.RevNo');

        if (headerid > 0) {

            $("#hfHeaderId").val(headerid);
            var status = "@Model.Status";
            $("#lblStatus").text(status);

            var strProject = '@ViewBag.Project';
            var strApproverName = '@ViewBag.ApproverName';
            $("#txtProject").val(strProject);
            $("#ddlApprover").val(strApproverName);
            $("div.disableConntrol :input").attr('disabled', true);
            LoadFileUpload1();
            //setAttachmentsInHeader("OPC001/" + @Model.HeaderId + "/R" + @Model.RevNo,true)
        }

    });
    function setURL(){
        if(type =='APPROVER'){
            //location.href = '@Url.Action("../Approve/Index")';
            location.href = WebsiteURL + "/OPC/Approve/Index";
        }
        else
        {
            //location.href = '@Url.Action("../Maintain/Index")';
            location.href = WebsiteURL + "/OPC/Maintain/Index";
        }
    }

    function LoadFileUpload1() {
        //var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ID)', '@FileUpload1ID');
        //objFileUpload1.ShowDeleteAction = false;
        //objFileUpload1.ShowAttachmentBtn = false;
        //objFileUpload1.FolderPath ="OPC001/" + @Model.HeaderId + "/R" + @Model.RevNo;
        //LoadFileUploadPartialView(objFileUpload1);

        var objFile = {
            TableName: 'OPC001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'OPC001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo' + '//1',
            ControlID: '@(FileUpload1ID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ID)', false);
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Maintain Operation Cards</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <div class="disableConntrol">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="form-group">
                                        @Html.Hidden("hfApp")
                                        @Html.Hidden("hfHeaderId")
                                        @Html.Hidden("hfProject")
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Project
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="">
                                                    <input type="text" readonly name="txtProject" id="txtProject" class="class = form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.Project, new { })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Customer <span class="required"> * </span>
                                                </label>
                                                <div class="">
                                                    @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                    @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Document No
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Product
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Revison
                                                </label>
                                                <div class="">
                                                    <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                                    @Html.HiddenFor(m => m.RevNo)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Process Licensor
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Revision Remark<span class="required">*</span></label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Return Remark</label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReturnRemark, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 right" id="ddlApp" style="display:block">
                                                <label class="control-label">Approver<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divPDNIdenticalproject"></div>
                                    </div>
                                </fieldset>
                                <fieldset class="fdattachment">
                                    <legend>Attachment Detail</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div style="padding-left:2.2em; padding-right:3.9em">
                                                @*@Html.Partial("_AttachmentPartial")*@
                                                <div id="dv@(FileUpload1ID)"></div>
                                            </div>
                                            <div id="docMessage" class="col-md-12 note note-success" style="display:none;"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr />
                                            <div class="col-md-12" style="text-align:right">
                                                <a id="btnClose" onclick="setURL()" class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>