﻿@using IEMQSImplementation
@model BOM001
@{
    ViewBag.Title = "Create Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>


<style>
    textarea {
        height: 33px !important;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    var scount = "";
    $(document).ready(function () {

        //$('#tblLines').delegate(".click", "focusin", function () {
        //    alert('hi');



        //});

        //$('#tblLines').on('click', 'td .orderdetail-bill', function (e) {
        //    alert('hi');

        //});

        var headerid = parseInt("@Model.HeaderId");

        if (headerid > 0) {
            $("#btnNew").show();
            $("#hfHeaderId").val(headerid);
            $("#HeaderId").val(headerid);
        }
        var isSelectedProject = false;

        if ('@Model.Status' == '@clsImplementationEnum.BOMTemplateStatus.Draft.GetStringValue()' && '@Model.RevNo' != null) {
            EnableBtn($("#btnSendToDss"));
        }
        $("#RevNo").val("R"+@Model.RevNo);
        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL +"/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelectedProject = true;
                        }
                        else {
                            isSelectedProject = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    if (IfProjectExist(ui.item.value)) {
                        bootbox.confirm({
                            message: "This record already exists. Do you want to Continue?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    ClearControls();
                                }
                                else {
                                    location.href = WebsiteURL +"/IPI/MaintainBOMTemplate/Index";
                                }
                            }
                        });
                    }
                    else {
                        $("#txtProject").val(ui.item.label);
                        $("#Project").val(ui.item.value);
                        $("#TemplateNo").val(ui.item.value.trim() + "-Template");
                        GetCustomerProjectWise(ui.item.value);
                        GetContractProjectWise(ui.item.value);
                        event.preventDefault();
                    }
                    isSelectedProject = true;
                }

            },
        });

        $("#txtProject").blur(function () {
            if (!isSelectedProject) {
                ClearControls();

            }
        });
        if ('@ViewBag.Project' != '' && '@ViewBag.Project' != 'null' && '@ViewBag.Project' != null && '@ViewBag.Project' != undefined) {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").attr('disabled', 'disabled');
        }

        @*if ('@ViewBag.Action'.toLowerCase() == "edit") {
            ShowLines(parseInt($("#HeaderId").val()));
        }*@
        if ('@ViewBag.Action' == "edit") {
            ShowLines(parseInt($("#HeaderId").val()));
        }
        else {
        }
        $('#frmCreateHeader').validate({
            rules: {
                txtProject: {
                    required: true
                },
                ContractNo: {
                    required: true,
                },
                Customer: {
                    required: true,
                },
                TemplateNo: {
                    required: true,
                },
            },
            messages: {
                txtProject: {
                    required: "Project  is required"
                },
                ContractNo: {
                    required: "Contract is required"
                },
                Customer: {
                    required: "Customer is required"
                },
                TemplateNo: {
                    required: "Template No is required"
                }
            }
        });
        $("#frmMSWLines").validate({

            rules: {
                Level0: { required: true, number: true },
                ParentItemDescription0: { required: true },
                //txtparent: { required: true },
                ChilditemDescription0: { required: true }
            },
            messages: {
                Level0: {
                    required: "Level is required",
                    number: "Level must be number"

                },
                ParentItemDescription0: {
                    required: "Parent Item Description is required"
                },
                //txtparent0: {
                //    required: "Parent Item Description is required"
                //},
                ChilditemDescription0: {
                    required: "Child Item Description is required"
                }
            }

        });

        @*$('#btnAddLines').click(function () {
            bootbox.hideAll();
            if ($('#HeaderId').val() != undefined && $('#HeaderId').val() != '' && parseInt($('#HeaderId').val()) > 0) {
                if ($("#Status").val() == '@clsImplementationEnum.BOMTemplateStatus.SenttoDCC.GetStringValue()') {
                    bootbox.confirm("This document is Send To DSS, Do you want to revise ?", function (result) {
                        if (result) {
                            bootbox.hideAll();
                            AddLines($('#HeaderId').val());
                        }
                    });
                }
                else {
                    AddLines($('#HeaderId').val());
                }
            }
            else {
                bootbox.alert("Please add header or select project from dropdown");
            }
        });*@
        $('#btnCancel').click(function () {
            window.location.href = WebsiteURL +'/IPI/MaintainBOMTemplate/Index';
        });

        //$("#btnCopyData").click(function () {

        //    $.ajax({
        //        type: "POST",
        //        url: "/NDE/MaintainScanUTTech/GetCopyDetails",
        //        datatype: 'html',
        //        beforeSend: function () {
        //            showLoading(true);
        //        },
        //        complete: function () {
        //            showLoading(false);
        //        },
        //        async: false,
        //        data: { headerId: $('#HeaderId').val() },
        //        success: function (result) {
        //            bootbox.dialog({
        //                title: 'Copy to',
        //                message: result,
        //                size: 'small',
        //                buttons: {
        //                    'confirm': {
        //                        label: 'Save',
        //                        className: 'btn green',
        //                        callback: function () {
        //                            if ($("#frmCopyDetails").valid()) {
        //                                $.ajax({
        //                                    url: '/IMB/Maintain/copyDetails',
        //                                    type: "Post",
        //                                    beforeSend: function () {
        //                                        showLoading(true);
        //                                    },
        //                                    complete: function () {
        //                                        showLoading(false);
        //                                    },
        //                                    async: false,
        //                                    dataType: "JSON",
        //                                    data: { destProject: $("#ddlCopyTo").val(), headerId: $('#HeaderId').val() },
        //                                    success: function (data) {
        //                                        if (data.Key) {
        //                                            DisplayNotiMessage("success", data.Value, "Success");
        //                                            window.setTimeout('window.location.href = "/IMB/Maintain/AddHeader?headerId=' + data.HeaderId + '"', 2000);
        //                                        }
        //                                        else {
        //                                            DisplayNotiMessage("error", data.Value, "Error");
        //                                            return false;
        //                                        }
        //                                    },
        //                                    error: function (ex) {
        //                                        DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
        //                                        return false;
        //                                    }
        //                                });
        //                            }
        //                            else {
        //                                return false;
        //                            }
        //                        }
        //                    },
        //                    'cancel': {
        //                        label: 'Cancel',
        //                        className: 'btn green'
        //                    }
        //                }
        //            });
        //        },
        //        error: function () {
        //        }
        //    });
        //});

        function AddLines(headerId) {
            bootbox.hideAll();

            $.ajax({
                url: WebsiteURL +"/IPI/MaintainBOMTemplate/AddLinesPartial",
                type: "POST",
                datatype: "html",
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { headerId: headerId },
                success: function (data) {
                    bootbox.dialog({
                        title: "Add BOM Template Details for " + $('#TemplateNo').val(),
                        message: data,
                        buttons: {
                            'confirm': {
                                label: 'Save',
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmLines").valid()) {

                                        var formdata = new FormData();
                                        var frmlinesValues = $("#frmLines").serializeArray();
                                        var parent = $("#txtparent").val();

                                        var child = $("#ChildItemDescription").val();
                                        var Level = $("#Level").val();

                                        getParentitem(parent, child, headerId, Level)

                                        if ($("#ContractNo").val() == "1") {
                                            return false;
                                        }
                                        else {

                                        }


                                        $.each(frmlinesValues, function (key, input) {



                                            formdata.append(input.name, input.value);
                                        });

                                        $.ajax({
                                            url: WebsiteURL +"/IPI/MaintainBOMTemplate/SaveLines",
                                            type: "POST",
                                            contentType: false,
                                            processData: false,
                                            datatype: "json",
                                            data: formdata,
                                            success: function (data) {
                                                if (data.Key == true && data.Value > 0) {
                                                    $("#tblLines").DataTable().ajax.reload();
                                                    DisplayNotiMessage("success", "BOM Template Details saved successfully", "Success");
                                                    EnableBtn($("#btnSendToDss"));
                                                    $("#Status").val(data.Status);
                                                    $("#spanStatus").html("Status : " + data.Status);
                                                    $("#RevNo").val("R"+data.RevNo);
                                                }
                                                else {
                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                }
                                            }
                                        });
                                    }
                                    else {
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn green'
                            }
                        }

                    })
                },
                error: function () {
                    DisplayNotiMessage("error", "Error occured please try again", "Error");
                }
            });
        };

        $("#btnSaveHeaderAndAddLines").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var formData = new FormData();
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                $.each(frmSaveHeaderValue, function (key, input) {
                    formData.append(input.name, input.value);
                });
                var status = $("#Status").val();
                if (status != undefined && status != null && status == "Submitted") {
                    bootbox.confirm("Are you sure you want to revise this record?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: WebsiteURL +"/IPI/MaintainBOMTemplate/SaveHeader",
                                type: "POST",
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (data) {

                                    if (data.Key == true && data.Value > 0) {
                                        DisplayNotiMessage("success", "Header Successfully Updated", "Success");
                                        ShowLines(data.Value);
                                        EnableBtn($("#btnSendToDss"));
                                        $("#Status").val(data.Status);
                                        $("#spanStatus").html("Status : " + data.Status);
                                        $("#RevNo").val("R"+data.RevNo);
                                    }
                                    else {
                                        bootbox.alert(data.Value);
                                    }
                                }
                            })
                        }
                        else {
                            window.location.href = WebsiteURL +"/IPI/MaintainBOMTemplate/Index";
                        }
                    });
                }
                else {
                    $.ajax({
                        url: WebsiteURL +"/IPI/MaintainBOMTemplate/SaveHeader",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.Key == true && data.Value > 0) {
                                //$("#dvHeader").addClass("disableDiv");
                                if (data.Key)
                                    DisplayNotiMessage("success", "Header save successfully", "Success");
                                else
                                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                $("#HeaderId").val(data.Value);
                                ShowLines(data.Value);
                                EnableBtn($("#btnSendToDss"));
                                $("#Status").val(data.Status);
                                $("#spanStatus").html("Status : " + data.Status);
                                $("#RevNo").val("R"+data.RevNo);

                            } else {
                                bootbox.alert(data.Value);
                            }

                        }
                    })
                }
            }
        });

        function ClearControls() {
            $("#ContractNo").val('');
            $("#txtProject").val('');
            $("#Project").val('');
            $("#TemplateNo").val('');
            $("#spanStatus").html("Status : Draft");
            $("#Status").val("Draft");
            $("#HeaderId").val(0);
            $("#divLines").hide();
            DisableBtn($("#btnSendToDss"));
        }



        function ShowLines(headerId) {

            if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
                $("#divLines").show();

                var oTable = $("#tblLines").dataTable({
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from _MAX_ total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "bProcessing": true,
                    "bServerSide": true,
                    "stateSave": false,
                    "bDestroy": true,
                    buttons: [],
                    responsive: true,
                    "order": [
                        [0, 'asc']
                    ],
                    "lengthMenu": [
                        [5, 10, 25, 50, 100],
                        [5, 10, 25, 50, 100]
                    ],
                    "pageLength": 10,
                    'iDisplayLength': 10,
                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                    "sAjaxSource": WebsiteURL +"/IPI/MaintainBOMTemplate/loadLinesDataTable?headerId=" + headerId,
                    "fnServerParams": function (aoData) {
                        aoData.push({ "name": "type", "value": "sdf" }
                                    //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
                                    //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                                    );
                    },
                    "fnServerData": function (sSource, aoData, fnCallback) {
                        $.ajax({
                            'dataType': 'json',
                            'type': 'POST',
                            'url': sSource,
                            'data': aoData,
                            'success': function (data) {
                                fnCallback(data);
                                $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                                $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);

                                $('input[maxlength]').maxlength({
                                    alwaysShow: true,
                                });
                            },
                            'async': false
                        });
                        ResetAddRow();
                    },
                    "aoColumns": [
                        {
                            "sClass": "center",
                            "sWidth": "5%",
                        },
                        {
                            "sClass": "hide",
                        },
                        {
                            "sClass": "hide",
                        },
                        {
                            "sClass": "center",
                            "name": "Level",
                            "bSortable": true,
                        },
                        {
                            "sClass": "center",
                            "name": "ParentItemDescription",
                            "bSortable": true,
                        },
                        {
                            "sClass": "center",
                            "name": "ChilditemDescription",
                            "bSortable": true,
                        },
                        {
                            "sClass": "center",
                            "sWidth": "5%",
                        },
                        //{
                        //    "bSortable": false,
                        //    "sClass": "center",
                        //    "sWidth": "5%",
                        //    "render": function (data, type, row, meta) {
                        //        var buttons = ""; //addSubLines(' + row[1] + ', ' + row[2] + ', ' + row[3] + ')
                        //        var functionCallEdit = "EditLine( " + row[1] + "," + row[2] + ")";
                        //        var functionCallDelete = "DeleteLine( " + row[1] + "," + row[2] + ")";
                        //        buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="Edit Line" class="fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i>&nbsp;&nbsp<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Line" class="fa fa-trash-o" onClick="' + functionCallDelete + '"></i></center>';
                        //        return buttons;
                        //    }
                        //},

                    ]
                })
            }
        }

        $("#btnSendToDss").click(function () {
            if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
                $.ajax({
                    url: WebsiteURL +"/IPI/MaintainBOMTemplate/SendToDCC",
                    type: "POST",
                    data: { headerId: $("#HeaderId").val() },
                    success: function (data) {
                        if (data.Key == true) {
                            window.location.href = WebsiteURL +"/IPI/MaintainBOMTemplate/Index";
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                        else {
                            bootbox.alert(data.Value)
                        }
                    }
                });
            }
            else {
                bootbox.alert("Please add Header and Lines before send");
            }
        });
        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });

        $("#btnRevise").click(function () {

            bootbox.confirm({
                message: "Do you want to revise this BOM Template?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: WebsiteURL +"/IPI/MaintainBOMTemplate/CreateRevision",
                            type: "POST",
                            data: { HeaderId :@Model.HeaderId },
                            dataType: "json",
                            async: false,
                            success: function (data) {
                                if (data.Key) {
                                    //$('#spanStatus').text(data.Status);
                                    //$("#SeamListRev").val(data.RevNo);
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    window.location.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        })
                    }
                }

            });
        });
    });

    function IfProjectExist(projectcode) {
        var returnResponse = false;
        $.ajax({
            url: WebsiteURL +"/IPI/MaintainBOMTemplate/checkProjectExist",
            type: 'POST',
            async: false,
            data: { projectcode: projectcode },
            success: function (response) {
                if (response.toUpperCase() == "FALSE") {
                    returnResponse = false;
                }
                else {
                    returnResponse = true;
                }
            }
        });
        return returnResponse;
    }
    function DeleteLine(headerId, lineId) {

        var confirmMsg = "";
        if ($("#Status").val() == "@clsImplementationEnum.BOMTemplateStatus.Submitted.GetStringValue()") {
            confirmMsg = "Do you want to revise Submitted document by delete this line.?"
        }
        else {
            confirmMsg = "Do you want to delete line?"
        }

        bootbox.confirm(confirmMsg,
        function (result) {
            if (result) {

                $.ajax({
                    url: WebsiteURL +"/IPI/MaintainBOMTemplate/DeleteLines",
                    type: "POST",
                    data: { headerId: headerId, lineId: lineId },
                    success: function (data) {
                        if (data.Key == true) {
                            DisplayNotiMessage("success", "BOM Template Details Deleted Successfully", "Success");
                            EnableBtn($("btnSendToDss"))
                            $("#Status").val(data.Status);
                            $("#spanStatus").html("Status : " + data.Status);
                            $("#RevNo").val("R" + data.RevNo);
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                        $("#tblLines").DataTable().ajax.reload();
                    },
                    error: function (data) {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                });
            }
            bootbox.hideAll();
            $(".modal-backdrop").remove()

        })
    }
    function EditLine(headerId, lineId) {
        var confirmMsg = "";
        if ($("#Status").val() == "@clsImplementationEnum.BOMTemplateStatus.Submitted.GetStringValue()") {
            confirmMsg = "Do you want to revise Submitted document by Edit this line.?"
        }
        else {
            confirmMsg = "Do you want to Edit line?"
        }
        bootbox.confirm(confirmMsg,
        function (result) {
            if (result) {
                bootbox.hideAll();
                $(this).remove();
                $.ajax({
                    url: WebsiteURL +"/IPI/MaintainBOMTemplate/AddLinesPartial",
                    type: "POST",
                    datatype: "html",
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { headerId: headerId, lineId: lineId },
                    success: function (data) {
                        bootbox.dialog({
                            title: "Add BOM Template Details for " + $('#TemplateNo').val(),
                            message: data,
                            buttons: {
                                'confirm': {
                                    label: 'Save',
                                    className: 'btn green',
                                    callback: function () {
                                        if ($("#frmLines").valid()) {
                                            //var formdata = new FormData();
                                            //var frmlinesValues = $("#frmLines").serializeArray();
                                            //var parent = $("#ParentItemDescription").val();
                                            //var child = $("#ChildItemDescription").val();

                                            //getParentitem(parent, child, headerId)
                                            var formdata = new FormData();
                                            var frmlinesValues = $("#frmLines").serializeArray();
                                            var parent = $("#txtparent").val();

                                            var child = $("#ChildItemDescription").val();
                                            var Level = $("#Level").val();


                                            getParentitem(parent, child, headerId, Level)

                                            if ($("#ContractNo").val() == "1") {
                                                return false;
                                            }
                                            else {

                                            }
                                            $.each(frmlinesValues, function (key, input) {
                                                formdata.append(input.name, input.value);
                                            });

                                            $.ajax({
                                                url: WebsiteURL +"/IPI/MaintainBOMTemplate/SaveLines",
                                                type: "POST",
                                                contentType: false,
                                                processData: false,
                                                datatype: "json",
                                                data: formdata,
                                                success: function (data) {
                                                    if (data.Key == true && data.Value > 0) {
                                                        $("#tblLines").DataTable().ajax.reload();
                                                        DisplayNotiMessage("success", "BOM Template Details saved successfully", "Success");
                                                        ClearLineControl();
                                                        EnableBtn($("btnSendToDss"));
                                                        $("#Status").val(data.Status);
                                                        $("#spanStatus").html("Status : " + data.Status);
                                                        $("#RevNo").val("R" + data.RevNo);
                                                    }
                                                    else {
                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                    }
                                                }
                                            });
                                        }
                                        else {
                                            return false;
                                        }
                                        bootbox.hideAll();
                                        $(".modal-backdrop").remove()
                                    }
                                },
                                'cancel': {
                                    label: 'Cancel',
                                    className: 'btn green',
                                    callback: function () {
                                        bootbox.hideAll();
                                        $(".modal-backdrop").remove()
                                    },
                                }
                            }

                        })
                    },
                    error: function () {
                        DisplayNotiMessage("error", "Error occured please try again", "Error");
                    }
                });
            }
        })

    }

    function GetCustomerProjectWise(projectCode) {
        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/GetCustomerProjectWise',
            data: { projectCode: projectCode },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data != null) {
                    //$("#txtCustomer").val(data.Code + " - " + data.Name);
                    $("#Customer").val(data.Code + " - " + data.Name);
                }
                else {
                    //$("#txtCustomer").val('');
                    $("#Customer").val('');

                }
            }
        });
    }

    function GetContractProjectWise(projectCode) {
        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/GetContractProjectWise',
            data: { projectCode: projectCode },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data != null) {
                    $("#ContractNo").val(data.Code + " - " + data.Name);
                    //$("#Customer").val(data.Code);
                }
                else {
                    $("#ContractNo").val('');
                    //$("#ContractNo").val('');

                }
            }
        });
    }


    function getParentitem(parent, child, headerId, Level) {
        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/GetParentiem',
            type: "Post",
            async: false,
            dataType: "JSON",
            data: { parent: parent, child: child, headerId: headerId, Level: Level },
            success: function (response) {
                if (response.parentStatus == false) {

                    $("#ContractNo").val('1')
                    bootbox.alert('Record Is Already Exist');
                    return false;


                }

                else {
                    $("#ContractNo").val('2')
                    return true;
                }

            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
        return false;
    }
    function ResetAddRow() {
        $('#tblLines').find("tbody tr:first").hide();
        $('#tblLines').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
    }
    function ShowNewRecord(obj) {

        if ($("#Status").val() == '@clsImplementationEnum.BOMTemplateStatus.Submitted.GetStringValue()') {
            bootbox.confirm({
                message: "This document is Send To DSS, Do you want to revise ?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        InsertNewRecord(obj);
                        //GetPTMTCTQHeaderFormHTML(parseInt($("#hfHeaderId").val() @*'@Model.HeaderId'*@))
                    }
                }
            });
        }
        else {
            InsertNewRecord(obj);
        }
    }
    function InsertNewRecord(obj) {

        $('#tblLines').find("tbody tr:first").toggle();
        $('#tblLines').find("tbody tr:first select:first").focus();
        if ($('#tblLines').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblLines').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewRecord(0); }, 0);
            });
            $('#tblLines').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
        }
    }

    function SaveNewRecord(lineid) {

        //if ($("#frmLines").valid()) {

        if ($("#frmMSWLines").valid()) {

            var headerid = parseInt("@Model.HeaderId");

            //var frmlinesValues = $("#frmLines").serializeArray();


            //var frmValues = $('#frmLines').serializeArray();
            var frmValues = $('#frmMSWLines').serializeArray();
            var formData = new FormData();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });


            $.ajax({
                url: WebsiteURL +"/IPI/MaintainBOMTemplate/SaveLines?LineId="+lineid,
                type: "POST",
                contentType: false,
                processData: false,
                datatype: "json",
                data: formData,
                success: function (data) {
                    if (data.Key == true && data.Value > 0) {
                        $("#tblLines").DataTable().ajax.reload();
                        DisplayNotiMessage("success", "BOM Template Details saved successfully", "Success");
                        EnableBtn($("#btnSendToDss"));
                        $("#Status").val(data.Status);
                        $("#spanStatus").html("Status : " + data.Status);
                        $("#RevNo").val("R"+data.RevNo);
                    }
                    else {
                        if (data.Value == "Exists") {
                            bootbox.alert('Record Is Already Exist');
                            return false;
                        }
                        else if(data.Value == "@clsImplementationMessage.CommonMessages.Duplicate")
                        {
                            DisplayNotiMessage("info", data.Value, "Information");
                        }
                        else if(data.Value == "Parent Item and Child Item must be different")
                        {
                            DisplayNotiMessage("info", data.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                }
            });
        }
        else {

            HighlightInValidControls();
            return false;

        }
    }
    function HighlightInValidControls() {
        $('.error').focus(function () {
            $(this).parent().find('.tooltip').removeClass('hidetooltip').addClass('showtooltip');
        });

        $('.error').blur(function () {
            $(this).parent().find('.tooltip').removeClass('showtooltip').addClass('hidetooltip');
        });

        $('select.error').each(function () {
            //console.log($(this).parent());

            $(this).parent().find('.select2').addClass('error');
        });

        HighlightInValidateSelect2();
    }

    function HighlightInValidateSelect2() {
        $('.select2-search__field').not("#divLinkedProject *").focus(function () {
            ValidateSearch($(this));
        });

        $('.select2-search__field').not("#divLinkedProject *").blur(function () {
            ValidateSearch($(this));
        });

    }
    function ValidateSearch(search__field) {
        var $ul = search__field.closest('.select2-selection__rendered');
        var $select2 = search__field.closest('.select2');

        //var hasError = $ul.find('.select2-selection__choice').length;
        //if (hasError == 0) {
        //    $select2.addClass('error');
        //    $select2.parent().find('.tooltip').removeClass('hidetooltip').addClass('showtooltip');
        //}
        //else {
        //    $select2.removeClass('error');
        //    $select2.parent().find('.tooltip').removeClass('showtooltip').addClass('hidetooltip');
        //}
        var notrequired = $('.select2-search__field').closest('.select2').parent().find('.select2-hidden-accessible').hasClass('notrequired');
        if (!notrequired) {
            var selectedItemCnt = $ul.find('.select2-selection__choice').length;
            if (selectedItemCnt == 0) {
                $select2.addClass('error');
                $select2.parent().find('.tooltip').removeClass('hidetooltip').addClass('showtooltip');
            }
            else {
                $select2.removeClass('error');
                $select2.parent().find('.tooltip').removeClass('showtooltip').addClass('hidetooltip');
            }
        }
        else {
            $select2.removeClass('error');
            $select2.parent().find('.tooltip').removeClass('showtooltip').addClass('hidetooltip');
        }
    }
    function checklevelFirst() {
        //var s=$("#Level0").val();
        //alert(s);
        //alert('hi');
        var levelid = $("#Level0").val();
        var headerid = $("#HeaderId0").val();
        if (levelid != "") {
            if (levelid != "1") {

                chlild(headerid, levelid);
            }
            else {
                $("#ParentItemDescription0").val('');
                $("#ParentItemDescription0").removeAttr("readonly", true);
                $("#ChilditemDescription0").val('');
                $("#ParentItemDescription0").removeClass("ui-autocomplete-input valid");
                chlild1(headerid, levelid);
                // $("#ParentItemDescription0").removeAttr("readonly", true);

            }
        }
        else {
            $("#ParentItemDescription0").val('');
            $("#ParentItemDescription0").removeAttr("readonly", true);
            $("#ChilditemDescription0").val('');
            $("#ParentItemDescription0").removeClass("ui-autocomplete-input valid");
        }

    }
    function checklevelother(objColumn, LineId) {



        var levelid = $("#Level" + LineId).val();
        //alert(levelid);
        var headerid = $("#HeaderId0").val();
        if (levelid != "") {

            if (levelid != "1") {

                chlildother(headerid, levelid, LineId);
            }
            else {

                $("#ParentItemDescription" + LineId).val('');
                $("#ParentItemDescription" + LineId).removeAttr("readonly", true);
                $("#ChilditemDescription" + LineId).val('');
                $("#ParentItemDescription" + LineId).removeClass("ui-autocomplete-input valid");
                chlildother1(headerid, levelid, LineId);
            }
        }
        else {
            $("#ParentItemDescription" + LineId).val('');
            $("#ParentItemDescription" + LineId).removeAttr("readonly", true);
            $("#ChilditemDescription" + LineId).val('');
            $("#ParentItemDescription" + LineId).removeClass("ui-autocomplete-input valid");
        }



    }
    function chlild(headerid, levelid) {

        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/Getchildlist',
            type: 'POST',

            data: { headerid: headerid, level: levelid },
            success: function (res) {
                if (res.Value === "true") {
                    $("#ParentItemDescription0").val('');
                    $("#ChilditemDescription0").val('');
                    $("#ParentItemDescription0").removeAttr("readonly", true);

                    FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                }
                else {

                    //  FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                    $("#ParentItemDescription0").attr("readonly", true);
                    FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                    $("#ParentItemDescription0").val('');
                    $("#ChilditemDescription0").val('');
                }


            }
        });


    }
    function chlild1(headerid, levelid) {

        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/Getchildlist',
            type: 'POST',

            data: { headerid: headerid, level: levelid },
            success: function (res) {
                if (res.Value === "true") {
                    $("#ParentItemDescription0").val('');
                    $("#ChilditemDescription0").val('');
                    $("#ParentItemDescription0").removeAttr("readonly", true);

                    FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                }
                else {

                    //  FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                    // $("#ParentItemDescription0").attr("readonly", true);
                    FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                    $("#ParentItemDescription0").val('');
                    $("#ChilditemDescription0").val('');
                }


            }
        });


    }
    function chlildother(headerid, levelid, LineId) {

        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/Getchildlist',
            type: 'POST',

            data: { headerid: headerid, level: levelid },
            success: function (res) {
                if (res.Value === "true") {
                    $("#ParentItemDescription0").val('');
                    $("#ChilditemDescription0").val('');
                    $("#ParentItemDescription" + LineId).removeAttr("readonly", true);

                    FillAutoComplete1($("#ParentItemDescription" + LineId), res.Parentlist, $("#ddlparent"), LineId);
                }
                else {

                    //  FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                    $("#ParentItemDescription" + LineId).attr("readonly", true);
                    // FillAutoComplete($("#ParentItemDescription" + LineId), res.Parentlist, $("#ddlparent"));
                    $("#ParentItemDescription" + LineId).val('');
                    $("#ChilditemDescription" + LineId).val('');

                }


            }
        });


    }
    function chlildother1(headerid, levelid, LineId) {

        $.ajax({
            url: WebsiteURL +'/IPI/MaintainBOMTemplate/Getchildlist',
            type: 'POST',

            data: { headerid: headerid, level: levelid },
            success: function (res) {
                if (res.Value === "true") {
                    $("#ParentItemDescription" + LineId).removeAttr("readonly", true);

                    FillAutoComplete1($("#ParentItemDescription" + LineId), res.Parentlist, $("#ddlparent"), LineId);
                }
                else {

                    //  FillAutoComplete($("#ParentItemDescription0"), res.Parentlist, $("#ddlparent"));
                    // $("#ParentItemDescription" + LineId).attr("readonly", true);
                    // FillAutoComplete($("#ParentItemDescription" + LineId), res.Parentlist, $("#ddlparent"));
                    $("#ParentItemDescription" + LineId).val('');
                    $("#ChilditemDescription" + LineId).val('');

                }


            }
        });


    }
    function FillAutoComplete(element, sourceList, hdElement) {
        // function FillAutoComplete(element, sourceList) {

        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    var levelfirst = $("#Level0").val();
                    if (levelfirst != "1") {
                        element.val('');
                        element.focus();
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
    function FillAutoComplete1(element, sourceList, hdElement, LineId) {
        // function FillAutoComplete(element, sourceList) {

        element.autocomplete({
            source: function (request, response) {
                //var array=response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    var levelfirst = $("#Level" + LineId).val();
                    if (levelfirst != "1") {
                        element.val('');
                        element.focus();
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

    }
    function UpdateNewRecord(rowID) {
        var level = $("#Level" + rowID).val();
        var Parent = $("#ParentItemDescription" + rowID).val();
        var Child = $("#ChilditemDescription" + rowID).val();
        var headerid = $("#HeaderId0").val();
        //var level = $("#Level" + rowID).val();
        if (level != "" && Parent != "" && Child != "") {
            $.ajax({
                type: "POST",
                url: WebsiteURL +"/IPI/MaintainBOMTemplate/UpdateNewRecord",
                datatype: 'json',
                async: false,
                data: { LineId: rowID, level: level, Parent: Parent, Child: Child, headerid: headerid },
                success: function (result) {
                    if (result.Key) {
                        DisplayNotiMessage("success", result.Value, "Update Successfully");
                    }
                    else {
                        bootbox.alert('Record Is Already Exist');
                        return false;
                    }
                },
                error: function () {

                    DisplayNotiMessage("error", result.Value, "Error");
                }
            });
        }
        else {
            //HighlightInValidControls();
            bootbox.alert('Please Fill Required Field');
            return false;
        }
    }
    function UpdateData(objColumn, rowID) {

        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ('@Model.Status.ToLower()' == '@clsImplementationEnum.CTQStatus.SendForApprovel.GetStringValue().ToLower()') {
            return false;
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL +"/IPI/MaintainBOMTemplate/UpdateData",
            datatype: 'json',
            async: false,
            data: { LineId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                }
            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }
    function DeleteRecord(LineID) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL +'/IPI/MaintainBOMTemplate/DeleteBOMLine',
                        data: { Id: LineID },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#tblLines').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }

    function CancelEditLine(lineId) {
        $("#tblLines").DataTable().ajax.reload();
    }

    function EnabledEditLine(lineId) {

        $('#Level'+lineId).attr('readonly', false);
        $('#ParentItemDescription'+lineId).attr('readonly', false);
        $('#ChilditemDescription'+lineId).attr('readonly', false);

        $("#Edit"+lineId).css('display', 'none');
        $("#Delete"+lineId).css('display', 'none');
        $("#Update"+lineId).css('display', 'inline-block');
        $("#Cancel"+lineId).css('display', 'inline-block');
    }
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                @Html.Hidden("1", new { @id = "ddlparent" })
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Planning Bom Template</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.Status) </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Contract & Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.Project, new { })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Contract</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ContractNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Customer</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Template No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TemplateNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Revision Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Revision No</label>
                                            <div class="">
                                                <input type="text" id="RevNo" name="RevNo" value="@Model.RevNo" readonly="readonly" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3"> </div>
                                        @if (Model.Status.ToLower() != "submitted")
                                        {
                                            <div class="col-md-3" style="text-align:right">
                                                <input type="button" class="btn save" id="btnSaveHeaderAndAddLines" value="Save" />
                                            </div>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="row" id="divLines" style="display:none">
                    <hr>
                    @*<div class="col-md-12" style="text-align:right">
                            <input type="button" class="btn green" id="btnAddLines" value="Add Line" />
                        </div>*@
                    <br />
                    <br />
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    BOM Template Details
                                </div>
                                <div class="tools">
                                    <div class="btn-group">
                                        <a onclick="ShowNewRecord(this);" id="btnNew" name="btnNew" class="btn btn-circle white btn-outline btn-sm" style="margin-left:10px;"><i class="fa fa-"></i> New</a>
                                    </div>
                                </div>
                                <div class="tools" id="dvExportLine">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainBOMTemplate/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLine" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMSWLines", @class = "form-horizontal" }))
                                {
                                    <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="all" style="width:5%;">#</th>
                                                <th style="display:none;">HeaderId</th>
                                                <th style="display:none;">LineId</th>
                                                <th class="min-phone-l">Level</th>
                                                <th class="min-phone-l">Parent Item Description</th>
                                                <th class="min-phone-l">Child Item Decription</th>
                                                <th class="min-phone-l">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" style="text-align:right;">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn submit" id="btnSendToDss" disabled="disabled" value="Submit" />
                            @if (Model.Status.ToLower() == clsImplementationEnum.LineStatusFDMS.Submitted.GetStringValue().ToLower())
                            {
                                <input type="button" class="btn revise" id="btnRevise" value="Revise" />
                            }
                            <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
                            @Html.Hidden("hfHeaderId")
                            @Html.HiddenFor(m => m.HeaderId)
                            @Html.HiddenFor(m => m.ContractNo, new { @id = "ContractNo" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END PAGE BASE CONTENT -->
    </div>

</div>
