﻿@using IEMQSImplementation
<style>
    .sCenter {
        text-align: center;
    }
</style>
<script>
    var whereCondition = "";
    var strSortOrder = "";
    var table = $('#tblQualitProject');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/IPI/Maintain/LoadHeaderDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        //{ "name": "status", "value": '@ViewBag.status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (result) {
                    fnCallback(result);
                    $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                }
            });
        },
        "aoColumns": [
            {
                "sClass": "center",
                "bSortable": true,
                "name": "QualityProject",
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "CreatedOn",
            },
            {
                "sClass": "hide",
                "bSortable": false,
            },
            {
                "bSortable": false,
                "sClass": "sCenter",
                "sWidth": "10%",
                "render": function (data, type, row, meta) {
                    var buttons = "";
                    var callFunction = "DeleteQualityProject(" + row[6] + ",'" + row[0].trim() + "')";
                    buttons += '<center style="display:inline;"><a href="' + WebsiteURL + '/IPI/Maintain/AddQualityProject?id=' + row[6] + '" class="" title="View" style="cursor:pointer" name="btnAction" id="btnEdit"><i style="margin-left:5px;" class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                    buttons += '<center style="display:inline;"><i title="Delete"  style="cursor:pointer;" name="btnAction" id="btnDelete" onClick="' + callFunction + '" class="fa fa-trash-o"></i>&nbsp;&nbsp;';
                    buttons += '</center>'
                    return buttons;
                }
            },

        ]
    });

    function DeleteQualityProject(qualityProjId, qualityProject) {

        bootbox.confirm({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + "/IPI/Maintain/DeleteQualityProject",
                        type: "POST",
                        data: { qualityProjId: qualityProjId },
                        success: function (data) {
                            if (data.Key == true) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $("#tblQualitProject").DataTable().ajax.reload();
                        },
                        error: function (data) {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    });
                }
            }
        });

    }
    //function ExportExcel() {
    //    $.ajax({
    //        type: "POST",
    //        url: WebsiteURL + "/IPI/Maintain/GenerateExcel",
    //        datatype: 'json',
    //        async: false,
    //        data: { whereCondition: whereCondition, strSortOrder: strSortOrder },
    //        //contentType: 'application/json; charset=utf-8',
    //        beforeSend: function () {
    //            showLoading(true);
    //        },
    //        complete: function () {
    //            showLoading(false);
    //        },
    //        success: function (result) {
    //            window.location = '/Utility/General/Download?file=' + result.Value;
    //            DisplayNotiMessage("success", "Excel Generated Successfully", "Success");
    //        },
    //        error: function () {
    //        }
    //    });
    //}
</script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Quality Project List
                </div>                
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblQualitProject" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Quality Project</th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l">BU</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Created By</th>
                            <th class="min-phone-l">Created On</th>
                            <th style="display:none;">HeaderId</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

