﻿@model IEMQSImplementation.QMS010
@{
    ViewBag.Title = "Add Quality Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/ThemeCss/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />*@
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .modal-sm {
        width: 50% !important;
        margin: 30px auto;
    }

    .modal-lg {
        width: 80% !important;
        margin: 30px auto;
    }
</style>

<script>
    $(document).ready(function () {
        var isSelected = false;

        var QualityProjectId = $("#Id").val();
        if (parseInt($("#Id").val()) > 0) {
            if ('@ViewBag.Flag' == 'True') {
                DisableBtn("#btnSave");
                DisableBtn("#btnDelete");
                $("#GeneralAssemblyDrawingNo").attr('readonly', 'readonly');
                $("#GeneralAssemblyDrawingNoDesc").attr('readonly', 'readonly');
                $("#txtManufacturingCode").attr('readonly', 'readonly');
                $("#txtSpecificationCode").attr('readonly', 'readonly');
                $("#txtInspectionCentre").attr('readonly', 'readonly');
                $("#txtInspector1").attr('readonly', 'readonly');
                $("#txtInspector2").attr('readonly', 'readonly');
                DisableBtn($("#chkTPIOnlineApproval"));
            }
            else {
                $("#GeneralAssemblyDrawingNo").removeAttr('readonly', 'readonly');
                $("#GeneralAssemblyDrawingNoDesc").removeAttr('readonly', 'readonly');
                $("#txtManufacturingCode").removeAttr('readonly', 'readonly');
                $("#txtSpecificationCode").removeAttr('readonly', 'readonly');
                $("#txtInspectionCentre").removeAttr('readonly', 'readonly');
                $("#txtInspector1").removeAttr('readonly', 'readonly');
                $("#txtInspector2").removeAttr('readonly', 'readonly');
                EnableBtn("#btnSave");
                EnableBtn("#btnDelete");
            }
        }
        else {
            EnableBtn("#btnSave");
            DisableBtn("#btnDelete");
        }

        $("#frmQualityProject").validate({
            rules: {
                txtProject: {
                    required: true
                },
                QualityTag: {
                    pattern: "^[a-zA-Z0-9]*$"
                },
                GeneralAssemblyDrawingNo: {
                    required: true
                },
                GeneralAssemblyDrawingNoDesc: {
                    required: true
                },
                QualityProject: {
                    required: true,
                    maxlength: 15
                },
                txtManufacturingCode: {
                    required: true
                },
                txtSpecificationCode: {
                    required: true
                },
                txtInspectionCentre: {
                    required: true
                },
                txtInspector1: {
                    required: true,
                    require_from_group: [1, ".inspector-group"],
                    notEqual: "#txtInspector2"
                },
                txtInspector2: {
                    required: true,
                    require_from_group: [1, ".inspector-group"],
                    notEqual: "#txtInspector1"
                },
            },
            messages: {
                txtProject: {
                    required: "Project Is Required"
                },
                QualityTag: {
                    pattern: "Please enter aphabets/numbers only"
                },
                GeneralAssemblyDrawingNo: {
                    required: "General Assembly Drawing No. Is Required"
                },
                GeneralAssemblyDrawingNoDesc: {
                    required: "General Assembly Drawing No.Desc. Is Required"
                },
                txtManufacturingCode: {
                    required: "Manufacturing Code Is Required"
                },
                txtSpecificationCode: {
                    required: "Specification Code Is Required"
                },
                txtInspectionCentre: {
                    required: "Inspection Centre Is Required"
                },
                txtInspector1: {
                    required: "Inspector 1 Is Required",
                    require_from_group: "Inspector Is Required",
                },
                txtInspector2: {
                    required: "Inspector 2 Is Required",
                    require_from_group: "Inspector Is Required",
                },
                QualityProject: {
                    required: "Quality Project Required",
                    maxlength: "Max length should be 15 character"
                },


            }
        });

        $.validator.addMethod("notEqual", function (value, element, param) {
            return this.optional(element) || value != $(param).val();
        }, "Inspector has to be different");

        if (QualityProjectId != null && QualityProjectId != undefined && QualityProjectId != "" && QualityProjectId != 0) {
            $("#txtProject,#QualityTag").attr("readonly", "readonly");
            FillControlOnEdit();
            ProjectChange('@Model.Project', '@Model.Location', '@Model.QualityTag', "edit");
            $("#btnCopy").removeAttr("disabled");
        }
        else { }

        $("#btnSave").click(function () {
            if ($("#frmQualityProject").valid()) {
                var frmQualityProjectValues = $("#frmQualityProject").serializeArray();
                SaveQualityProject(frmQualityProjectValues);
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/GetProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    debugger
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#txtProject").val(strProjectDesc);
                    $("#ddlProject").val(ui.item.id);
                    ProjectChange($("#ddlProject").val(), $("#Location").val().split('-')[0], $("#QualityTag").val(), "add")
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                    $("#ddlProject").val(''); $("#BU").val(''); $("#QualityProject").val('');
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });

        $("#txtInspector1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/GetInspector",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $(this).val(strProjectDesc);
                    $("#ddlInspector1").val(ui.item.id);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });

        $("#txtInspector2").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/GetInspector",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $(this).val(strProjectDesc);
                    $("#ddlInspector2").val(ui.item.id);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });

        //$("#txtInspector1").on("keypress", function () {
        //    FillInspectorAutoComplete($("#txtInspector1"), $("#ddlInspector1"))
        //})

        $("#QualityTag").blur(function () {
            if (!$("#QualityTag").hasClass("error")) {
                var action = "add";
                if (QualityProjectId != null && QualityProjectId != undefined && QualityProjectId != "" && QualityProjectId != 0) {
                    action = "edit";
                }
                ProjectChange($("#ddlProject").val(), $("#Location").val().split('-')[0], $("#QualityTag").val(), action);
            }
        })


        $("#QualityProject").blur(function () {
            debugger;
            var qualityTag = $("#QualityTag").val();
            if (qualityTag == null || qualityTag == undefined || qualityTag == "" || qualityTag == 0) {
                $("#QualityProject").val($("#ddlProject").val());
            }
        });

        //$('#chkTPIOnlineApproval').bootstrapSwitch('state', true);
        $("#hdTPIOnlineApproval").val($('#chkTPIOnlineApproval').bootstrapSwitch('state'));
        $('#chkTPIOnlineApproval').on('switchChange.bootstrapSwitch', function (event, state) {
            var x = $(this).data('on-text');
            var y = $(this).data('off-text');
            if ($("#chkTPIOnlineApproval").is(':checked')) {
                $("#hdTPIOnlineApproval").val(true);
            } else {
                $("#hdTPIOnlineApproval").val(false);
            }
        });

        $("#btnCopy").click(function () {
            $.ajax({
                url: WebsiteURL + "/IPI/Maintain/CopyQualityProjectPartial",
                dataType: "html",
                type: "POST",
                async: false,
                success: function (data) {
                    bootbox.dialog({
                        title: "Copy To",
                        message: data,
                        size: "small",
                        buttons: {
                            Copy: {
                                Label: "Copy",
                                className: 'btn green',
                                callback: function () {
                                    if ((!$('#txttagFrom').val() && $('#txttagTo').val()) || ($('#txttagFrom').val() && !$('#txttagTo').val())) {
                                        DisplayNotiMessage("Info", "Tag <b>From & To</b> are both required!", "info");
                                        return false;
                                    }
                                    if ($("#frmCopyQualityProject").valid()) {
                                        CopyToDestination(QualityProjectId, $("#ddlDestProject").val(), $("#txttagFrom").val(), $("#txttagTo").val())
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn red',
                                callback: function () { }
                            }
                        }
                    });
                }
            })
        });

        $("#btnDelete").click(function () {
            DeleteQualityProject(parseInt($("#Id").val()), $("#QualityProject").val());
        });

        $("#btnMaintainProjectDetails").click(function () {
            MaintainProjectDetails(parseInt($("#Id").val()));
        });

        //Added By Deval Barot on 04-03-2020
        $("#btnMaintainTPI").click(function () {
            GetTPIData();
            //for (var i = 1; i <= 6; i++) {
            //    $("#txtTPIAgency" + i).val('');
            //}
            BindTPIAgency('', '@Model.BU', '@Model.Location');
            BindTPIName();
        });

        $("#btnTPISave").click(function () {
            //alert(123);
            var Result = ValidateData();
            if (Result == true) {
                var frmQualityProjectValues = $("#frmTPIData").serializeArray();
                var formdata = new FormData();
                if (frmQualityProjectValues != null && frmQualityProjectValues != undefined) {
                    $.each(frmQualityProjectValues, function (key, input) {
                        formdata.append(input.name, input.value);
                    });
                }
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/UpdateTPIAgencyData",
                    dataType: "json",
                    type: "POST",
                    async: false,
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (res) {
                        console.log(res);
                        $("#addMaintainTPI").modal('hide');
                    }
                });
            }
        });
        //End Here
    });

    function DeleteQualityProject(qualityProjId, qualityProject) {

        bootbox.confirm({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + "/IPI/Maintain/DeleteQualityProject",
                        type: "POST",
                        data: { qualityProjId: qualityProjId },
                        success: function (data) {
                            if (data.Key == true) {
                                DisplayNotiMessage("success", data.Value, "Success");
                                window.location.href = WebsiteURL + "/IPI/Maintain/Index"
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        },
                        error: function (data) {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    });
                }
            }
        });
    }

    function ProjectChange(project, location, qualityTag, action) {
        $.ajax({
            url: WebsiteURL + "/IPI/Maintain/GetBUProjectWise",
            dataType: "json",
            type: "POST",
            async: false,
            data: { project: project, location: location, qualityTag: qualityTag },
            success: function (data) {
                if (data.headerAlreadyExist == true && action.toLowerCase() != "edit") {
                    bootbox.confirm("Quality project already exist.Do you stil want to continue?", function (res) {
                        if (res) { }
                        else { }
                    });
                }
                else {
                    $("#BU").val(data.QCPBU);
                    if (project != null && project != "" && qualityTag != null && qualityTag != "") {
                        $("#QualityProject").val(project + "/" + qualityTag.toUpperCase());
                    }
                    else {
                        $("#QualityProject").val(project);
                    }

                    FillAutoComplete($("#txtManufacturingCode"), data.ManufacturingCode, $("#ddlManufacturingCode"));
                    FillAutoComplete($("#txtSpecificationCode"), data.SpecificationCode, $("#ddlSpecificationCode"));
                    FillAutoComplete($("#txtInspectionCentre"), data.InspectionCentre, $("#ddlInspectionCentre"));
                }
            }
        });
    };

    function SaveQualityProject(frmQualityProjectValues) {
        var formdata = new FormData();
        if (frmQualityProjectValues != null && frmQualityProjectValues != undefined) {
            $.each(frmQualityProjectValues, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }
        $.ajax({
            url: WebsiteURL + "/IPI/Maintain/Save",
            dataType: "json",
            type: "POST",
            async: false,
            contentType: false,
            processData: false,
            data: formdata,
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Status, "Success");
                    if (res.Value > 0) {
                        window.location = WebsiteURL + "/IPI/Maintain/AddQualityProject?id=" + res.Value;
                        $("#Id").val(res.Value);
                        $("#btnCopy").removeAttr("disabled");
                        SetReadonly($("#QualityTag"));
                    }
                }
                else
                    DisplayNotiMessage("error", res.Status, "Error");
            }
        });
    };

    function FillAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function FillInspectorAutoComplete(element, hdelement) {
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/GetInspector",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    element.val(strProjectDesc);
                    hdelement.val(ui.item.id);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        });
    };

    function CopyToDestination(headerId, destProject, tagFrom, tagTo) {
        $.ajax({
            url: WebsiteURL + "/IPI/Maintain/CopyToDestination",
            type: 'POST',
            async: false,
            data: { headerId: headerId, destProject: destProject, tagFrom: tagFrom, tagTo: tagTo },
            success: function (res) {
                if (res.Key) {
                    if (res.Value.length > 0)
                        DisplayNotiMessage("success", res.Value, "Success");
                    if (res.Status.length > 0)
                        DisplayNotiMessage("info", res.Status, "Info");
                    return true;
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            }
        });
    }

    function FillControlOnEdit() {
        if ('@Model.Project' != '' && '@Model.Project' != "null" && '@Model.Project' != null) {
            $("#txtProject").val('@ViewBag.Project');
            $("#ddlProject").val('@Model.Project');
        }
        if ('@Model.ManufacturingCode' != '' && '@Model.ManufacturingCode' != "null" && '@Model.ManufacturingCode' != null) {
            $("#txtManufacturingCode").val('@ViewBag.ManufacturingCode');
            $("#ddlManufacturingCode").val('@Model.ManufacturingCode');
        }
        if ('@Model.SpecificationCode' != '' && '@Model.SpecificationCode' != "null" && '@Model.SpecificationCode' != null) {
            $("#txtSpecificationCode").val('@ViewBag.SpecificationCode');
            $("#ddlSpecificationCode").val('@Model.SpecificationCode');
        }
        if ('@Model.InspectionCentre' != '' && '@Model.InspectionCentre' != "null" && '@Model.InspectionCentre' != null) {
            $("#txtInspectionCentre").val('@ViewBag.InspectionCentre');
            $("#ddlInspectionCentre").val('@Model.InspectionCentre');
        }
        if ('@Model.Inspector1' != '' && '@Model.Inspector1' != "null" && '@Model.Inspector1' != null) {
            $("#txtInspector1").val('@ViewBag.Inspector1');
            $("#ddlInspector1").val('@Model.Inspector1');
        }
        if ('@Model.Inspector2' != '' && '@Model.Inspector2' != "null" && '@Model.Inspector2' != null) {
            $("#txtInspector2").val('@ViewBag.Inspector2');
            $("#ddlInspector2").val('@Model.Inspector2');
        }
        if ('@Model.TPIOnlineApproval'.toLowerCase() == false || '@Model.TPIOnlineApproval'.toLowerCase() == "false")
            $('#chkTPIOnlineApproval').bootstrapSwitch('state', false);

        else
            $('#chkTPIOnlineApproval').bootstrapSwitch('state', true);
    }

    function MaintainProjectDetails(Id) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/Maintain/LoadMaintainProjectDetailsPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id },
            success: function (result) {
                bootbox.dialog({
                    title: 'Maintain Project Details ',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                //if ($("#frmMaintainProjectDetails").valid()) {
                                var formData = new FormData();
                                var frmValues = $('#frmMaintainProjectDetails').serializeArray();
                                $.each(frmValues, function (key, input) {
                                    formData.append(input.name, input.value);
                                });
                                formData.append("Id", Id);

                                $.ajax({
                                    url: WebsiteURL + '/IPI/Maintain/SaveMaintainProjectDetails',
                                    data: formData,
                                    contentType: false,
                                    processData: false,
                                    type: 'POST',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    }
                                });
                                //}
                                //else {
                                //    HighlightInValidControls();
                                //    return false;
                                //}
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }

                });
            },
            error: function () {
            }
        });
    }

    //Added By Deval Barot on 04-03-2020
    function Close() {
        $("#addMaintainTPI").modal('hide');
    }

    function BindTPIAgency(term, bu, location) {
        for (var i = 1; i <= 6; i++) {
            //var term = $("#txtTPIAgency" + i).val();
            $("#txtTPIAgency" + i).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL + "/IPI/Maintain/FillAutocompleteForTPI",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        async: false,
                        data: { term: term, bu: bu, location: location, isAgency: true },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value };
                            }));
                            if (data.length > 0) {
                                isSelected = true;
                            }
                            else {
                                isSelected = false;
                            }
                        }
                    });
                },
                minLength: 0,
                autoFocus: true,
                select: function (event, ui) {
                    if (ui.item) {
                        debugger
                        isSelected = true;
                        var strProjectDesc = ui.item.value;
                        $(this).val(strProjectDesc);
                        //alert(this.id);
                        var ID = this.id;
                        var lastChar = ID[ID.length - 1];
                        $("#ddlTPIAgency" + lastChar).val(ui.item.id);
                    }
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                        var ID = this.id;
                        var lastChar = ID[ID.length - 1];
                        $("#ddlTPIAgency" + lastChar).val('');
                    }
                }
            }).on('focus', function (event) {
                var self = this;
                $(self).autocomplete("search", this.value);;
            });
        }
    };

    function BindTPIName() {
        for (var i = 1; i <= 6; i++) {
            //$("#txtTPIAgency" + i + "Name").val('');
            $("#txtTPIAgency" + i + "Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL + "/IPI/Maintain/GetDataforTPIName",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        async: false,
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Value };
                            }));
                            if (data.length > 0) {
                                isSelected = true;
                            }
                            else {
                                isSelected = false;
                            }
                        }
                    });
                },
                minLength: 0,
                autoFocus: true,
                select: function (event, ui) {
                    if (ui.item) {
                        isSelected = true;
                        var strProjectDesc = ui.item.value;
                        $(this).val(strProjectDesc);
                        //alert(this.id);
                        var ID = this.id;
                        var Number = ID.replace(/[^0-9]/g, '');
                        $("#ddlTPIAgency" + Number + "Name").val(ui.item.id);
                    }
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                        var ID = this.id;
                        var Number = ID.replace(/[^0-9]/g, '');
                        $("#ddlTPIAgency" + Number + "Name").val('');
                    }
                }
            }).on('focus', function (event) {
                var self = this;
                $(self).autocomplete("search", this.value);;
            });
        }
    }

    function GetTPIData() {
        var ID = $('#Id').val();

        $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency1Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency1Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency2').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency2').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency2Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency2Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency3').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency3').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency3Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency3Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency4').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency4').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency4Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency4Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency5').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency5').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency5Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency5Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency6').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency6').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency6Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency6Name').addClass("form-control ui-autocomplete-input");

        $.ajax({
            url: WebsiteURL + "/IPI/Maintain/GetDataForTPI",
            dataType: "json",
            type: "POST",
            async: false,
            data: { ID: ID },
            success: function (data) {
                $('#txtTPIAgency1').val(data.TPI1);
                $('#txtTPIAgency2').val(data.TPI2);
                $('#txtTPIAgency3').val(data.TPI3);
                $('#txtTPIAgency4').val(data.TPI4);
                $('#txtTPIAgency5').val(data.TPI5);
                $('#txtTPIAgency6').val(data.TPI6);

                $('#txtTPIAgency1Name').val(data.TPIAgency1Name);
                $('#txtTPIAgency2Name').val(data.TPIAgency2Name);
                $('#txtTPIAgency3Name').val(data.TPIAgency3Name);
                $('#txtTPIAgency4Name').val(data.TPIAgency4Name);
                $('#txtTPIAgency5Name').val(data.TPIAgency5Name);
                $('#txtTPIAgency6Name').val(data.TPIAgency6Name);
            }
        });
    }

    function ValidateData() {
        var Return = true;
        var txtTPIAgency1 = $('#txtTPIAgency1').val();
        var txtTPIAgency2 = $('#txtTPIAgency2').val();
        var txtTPIAgency3 = $('#txtTPIAgency3').val();
        var txtTPIAgency4 = $('#txtTPIAgency4').val();
        var txtTPIAgency5 = $('#txtTPIAgency5').val();
        var txtTPIAgency6 = $('#txtTPIAgency6').val();

        var txtTPIAgency1Name = $('#txtTPIAgency1Name').val();
        var txtTPIAgency2Name = $('#txtTPIAgency2Name').val();
        var txtTPIAgency3Name = $('#txtTPIAgency3Name').val();
        var txtTPIAgency4Name = $('#txtTPIAgency4Name').val();
        var txtTPIAgency5Name = $('#txtTPIAgency5Name').val();
        var txtTPIAgency6Name = $('#txtTPIAgency6Name').val();

        $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency1Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency1Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency2').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency2').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency2Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency2Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency3').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency3').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency3Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency3Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency4').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency4').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency4Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency4Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency5').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency5').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency5Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency5Name').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency6').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency6').addClass("form-control ui-autocomplete-input");
        $('#txtTPIAgency6Name').removeClass("form-control ui-autocomplete-input error");
        $('#txtTPIAgency6Name').addClass("form-control ui-autocomplete-input");

        if (txtTPIAgency1 == '' && txtTPIAgency1Name != '') {
            $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency1Name').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency1Name').addClass("form-control ui-autocomplete-input");
            Return = false;
        }
        if (txtTPIAgency1 != '' && txtTPIAgency1Name == '') {
            $('#txtTPIAgency1').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency1').addClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency1Name').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency1Name').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        if (txtTPIAgency2 == '' && txtTPIAgency2Name != '') {
            $('#txtTPIAgency2').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency2').addClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency2Name').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency2Name').addClass("form-control ui-autocomplete-input");
            Return = false;
        }
        if (txtTPIAgency2 != '' && txtTPIAgency2Name == '') {
            $('#txtTPIAgency2').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency2').addClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency2Name').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency2Name').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        if (txtTPIAgency3 == '' && txtTPIAgency3Name != '') {
            $('#txtTPIAgency3').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency3').addClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency3Name').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency3Name').addClass("form-control ui-autocomplete-input");
            Return = false;
        }
        if (txtTPIAgency3 != '' && txtTPIAgency3Name == '') {
            $('#txtTPIAgency3').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency3').addClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency3Name').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency3Name').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        if (txtTPIAgency4 == '' && txtTPIAgency4Name != '') {
            $('#txtTPIAgency4').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency4').addClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency4Name').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency4Name').addClass("form-control ui-autocomplete-input");
            Return = false;
        }
        if (txtTPIAgency4 != '' && txtTPIAgency4Name == '') {
            $('#txtTPIAgency4').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency4').addClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency4Name').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency4Name').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        if (txtTPIAgency5 == '' && txtTPIAgency5Name != '') {
            $('#txtTPIAgency5').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency5').addClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency5Name').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency5Name').addClass("form-control ui-autocomplete-input");
            Return = false;
        }
        if (txtTPIAgency5 != '' && txtTPIAgency5Name == '') {
            $('#txtTPIAgency5').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency5').addClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency5Name').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency5Name').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        if (txtTPIAgency6 == '' && txtTPIAgency6Name != '') {
            $('#txtTPIAgency6').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency6').addClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency6Name').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency6Name').addClass("form-control ui-autocomplete-input");
            Return = false;
        }
        if (txtTPIAgency6 != '' && txtTPIAgency6Name == '') {
            $('#txtTPIAgency6').removeClass("form-control ui-autocomplete-input error");
            $('#txtTPIAgency6').addClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency6Name').removeClass("form-control ui-autocomplete-input");
            $('#txtTPIAgency6Name').addClass("form-control ui-autocomplete-input error");
            Return = false;
        }
        return Return;
    }
    //End Here
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:60px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Quality Project</span>
                    </div>
                    @*<div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                            @Html.HiddenFor(m => m.Status)
                        </div>*@
                </div>

                <div id="dvQualityProject">
                    <form id="frmQualityProject" class="form-horizontal">
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Project<span class="required"> * </span></label>
                                        <div>
                                            <input type="text" id="txtProject" name="txtProject" class="col-md-3 form-control" />
                                            @Html.HiddenFor(m => m.Project, new { @id = "ddlProject" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">BU</label>
                                        @Html.TextBoxFor(m => m.BU, new { @class = "col-md-3 form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Location</label>
                                        @Html.TextBox("Location", (string)@ViewBag.Location, new { @class = "col-md-3 form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Quality Project Detail</legend>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Quality Tag</label>
                                        @Html.TextBoxFor(m => m.QualityTag, new { @class = "col-md-3 form-control uppercase", @maxlength = "5" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">General Assembly Drawing No.<span class="required"> * </span></label>
                                        <div>
                                            @Html.TextBoxFor(m => m.GeneralAssemblyDrawingNo, new { @class = "col-md-3 form-control", @maxlength = "25" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">General Assembly Drawing No. Desc.<span class="required"> * </span></label>
                                        @Html.TextBoxFor(m => m.GeneralAssemblyDrawingNoDesc, new { @class = "col-md-3 form-control", @maxlength = "120" })
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Quality Project<span class="required"> * </span></label>
                                        @Html.TextBoxFor(m => m.QualityProject, new { @class = "col-md-3 form-control", @readonly = "readonly", @maxlength = "15" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Manufacturing Code<span class="required"> * </span></label>
                                        <input type="text" id="txtManufacturingCode" name="txtManufacturingCode" class="col-md-3 form-control" />
                                        @Html.HiddenFor(m => m.ManufacturingCode, new { @id = "ddlManufacturingCode" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Specification Code<span class="required"> * </span></label>
                                        <input type="text" id="txtSpecificationCode" name="txtSpecificationCode" class="col-md-3 form-control" />
                                        @Html.HiddenFor(m => m.SpecificationCode, new { @id = "ddlSpecificationCode" })
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Inspection Detail</legend>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Inspection Center<span class="required"> * </span></label>
                                        <input type="text" id="txtInspectionCentre" name="txtInspectionCentre" class="col-md-3 form-control" />
                                        @Html.HiddenFor(m => m.InspectionCentre, new { @id = "ddlInspectionCentre" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Inspector1<span class="required"> * </span></label>
                                        <input type="text" id="txtInspector1" name="txtInspector1" class="col-md-3 form-control inspector-group" />
                                        @Html.HiddenFor(m => m.Inspector1, new { @id = "ddlInspector1" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Inspector2<span class="required"> * </span></label>
                                        <input type="text" id="txtInspector2" name="txtInspector2" class="col-md-3 form-control inspector-group" />
                                        @Html.HiddenFor(m => m.Inspector2, new { @id = "ddlInspector2" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">TPI Online Approval</label>
                                        <div class="">
                                            @*@Html.CheckBoxFor(m=>m.TPIOnlineApproval, new Dictionary<string, object> { { "class", "make-switch col-md-3" }, { "checked", "checked" }, { "data-on-text", "Yes" }, { "data-off-text", "No" }, { "data-on-color", "success" }, { "data-off-color", "danger" }, { "data-size", "normal" } })*@
                                            @Html.CheckBox("chkTPIOnlineApproval", false, new Dictionary<string, object> { { "id", "chkTPIOnlineApproval" }, { "class", "make-switch col-md-3" }, { "checked", true }, { "data-on-text", "Yes" }, { "data-off-text", "No" }, { "data-on-color", "success" }, { "data-off-color", "danger" }, { "data-size", "normal" } })
                                            @Html.HiddenFor(m => m.TPIOnlineApproval, new { @id = "hdTPIOnlineApproval" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6" style="margin-top:2% !important;">
                                        @if (Model.Id > 0)
                                        {
                                            <input type="button" class="btn blue" id="btnMaintainProjectDetails" value="Maintain Project Details" />
                                            @*Added By Deval Barot on 04-03-2020*@
                                            <button type="button" title="Maintain TPI" class="btn blue" data-toggle="modal" data-target="#addMaintainTPI" data-backdrop="static"
                                                    data-keyboard=false id="btnMaintainTPI"  @*style="display:none"*@>
                                                Maintain TPI
                                            </button>
                                            @*End Here*@
                                        }
                                    </div>
                                    <div class="col-md-6" style="text-align:right !important;margin-top:2% !important;">
                                        <input type="button" class="btn save" id="btnSave" value="Save" />
                                        <a href="@Url.Action("Index","Maintain")" class="btn btnclose">Close</a>
                                        <button class="btn icons" title="Copy" style="" type="button" id="btnCopy" disabled><i class="fa fa-files-o"></i></button>
                                        <button class="btn icons" title="Delete" style="" type="button" id="btnDelete"><i class="fa fa-trash-o"></i></button>
                                        @*<input type="button" class="btn blue-hoki" id="btnCopy" value="Copy" disabled />*@
                                        @*<input type="button" class="btn green" id="btnDelete" value="Delete" />*@
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*Added By Deval Barot on 04-03-2020*@
<div id="addMaintainTPI" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Close()">&times;</button>
                <h4 class="modal-title">Maintain TPI</h4>
            </div>
            <div class="modal-body">
                <form id="frmTPIData" class="form-horizontal">
                    @Html.HiddenFor(m => m.Id)
                    <div class="row">
                        <div class="col-md-12" style="">
                            <div class="col-md-5" id="divTPIAgency">
                                @Html.Label("TPI Agency")
                                @*@for (int i = 0; i <= 5; i++)
                                    {*@
                                @*@Html.TextBox("txtTPIAgency1", "", new { @class = "form-control", @tabindex = "1", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency1" name="txtTPIAgency1" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI1, new { @id = "ddlTPIAgency1" })
                                @*@Html.TextBox("txtTPIAgency2", "", new { @class = "form-control", @tabindex = "1", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency2" name="txtTPIAgency2" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI2, new { @id = "ddlTPIAgency2" })
                                @*@Html.TextBox("txtTPIAgency3", "", new { @class = "form-control", @tabindex = "1", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency3" name="txtTPIAgency3" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI3, new { @id = "ddlTPIAgency3" })
                                @*@Html.TextBox("txtTPIAgency4", "", new { @class = "form-control", @tabindex = "1", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency4" name="txtTPIAgency4" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI4, new { @id = "ddlTPIAgency4" })
                                @*@Html.TextBox("txtTPIAgency5", "", new { @class = "form-control", @tabindex = "1", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency5" name="txtTPIAgency5" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI5, new { @id = "ddlTPIAgency5" })
                                @*@Html.TextBox("txtTPIAgency6", "", new { @class = "form-control", @tabindex = "1", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency6" name="txtTPIAgency6" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPI6, new { @id = "ddlTPIAgency6" })
                                @* }*@
                            </div>
                            <div class="col-md-5" id="divTPIName">
                                @Html.Label("TPI Name")
                                @*@for (int i = 0; i <= 5; i++)
                                    {*@
                                @*@Html.TextBox("txtTPIAgency1Name", "", new { @class = "form-control", @tabindex = "2", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency1Name" name="txtTPIAgency1Name" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPIAgency1Name, new { @id = "ddlTPIAgency1Name" })
                                @*@Html.TextBox("txtTPIAgency2Name", "", new { @class = "form-control", @tabindex = "2", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency2Name" name="txtTPIAgency2Name" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPIAgency2Name, new { @id = "ddlTPIAgency2Name" })
                                @*@Html.TextBox("txtTPIAgency3Name", "", new { @class = "form-control", @tabindex = "2", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency3Name" name="txtTPIAgency3Name" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPIAgency3Name, new { @id = "ddlTPIAgency3Name" })
                                @*@Html.TextBox("txtTPIAgency4Name", "", new { @class = "form-control", @tabindex = "2", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency4Name" name="txtTPIAgency4Name" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPIAgency4Name, new { @id = "ddlTPIAgency4Name" })
                                @*@Html.TextBox("txtTPIAgency5Name", "", new { @class = "form-control", @tabindex = "2", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency5Name" name="txtTPIAgency5Name" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPIAgency5Name, new { @id = "ddlTPIAgency5Name" })
                                @*@Html.TextBox("txtTPIAgency6Name", "", new { @class = "form-control", @tabindex = "2", @style = "margin-top:3% !important;" })*@
                                <input type="text" id="txtTPIAgency6Name" name="txtTPIAgency6Name" class="form-control" tabindex="1" style="margin-top:3% !important;" />
                                @Html.HiddenFor(m => m.TPIAgency6Name, new { @id = "ddlTPIAgency6Name" })
                                @*}*@
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align:right !important;margin-top:3% !important;">
                            <input type="button" class="btn save" id="btnTPISave" value="Save" />
                            <button type="button" class="btn btnclose" onclick="Close()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*End Here*@