﻿@using IEMQSImplementation
@{
    ViewBag.Title = "PDF Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/bootbox.js"></script>
<div class="page-content">
    <div class="col-md-12 form-group">
        <div class="portlet light">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h1 class="page-title">

                            <small></small>
                        </h1>
                    </div>
                    <div class="col-md-6" style="text-align:right">
                    </div>
                </div>

                <div class="portlet-body">
                    <form action="#">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        @ViewBag.Title
                                    </div>
                                    <div class="tools">
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <input type="text" name="text" value="" placeholder="Content On PDF" class="form-control" required>

                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="btnPushNotification" class="btn btn-default" type="submit">Download PDF</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


