﻿@model IEMQS.DESCore.NotificationModel
@{
    if (IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList != null && IEMQS.Areas.DES.Models.SessionMgtModel.ProjectFolderList.ProjectNo != null)
    {
        ViewBag.Title = "Notification List";
        Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
    }
    else
    {
        ViewBag.Title = "Notification List";
        Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";
    }
}


<div class="m-portlet ">
    @*@Html.HiddenFor(x => x.SearchText)*@

    <div class="row">
        <div class="col-12">
            <div class="m-portlet m-portlet--mobile ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Notifications
                            </h3>
                        </div>
                    </div>
                   
                </div>

                <div class="m-portlet__body">
                   
                    <table class="table table-bordered table-hover" id="tblNotifications"></table>
                </div>

            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/DESAssets/js/NotificationList.js"></script>
}



