﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        GetHeaderGridDataPartial('All');
        //GetHeaderGridDataPartial('Pending');
        //$('a[name="tabStatus"]').click(function () {
        //    //GetHeaderGridDataPartial($(this).attr('spara'));
        //    GetHeaderGridDataPartial($(this).attr('All'));
        //});
    });
    function GetHistoryDetails(headerid) {
        var Id = $("#HeaderId").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainLockingCleat/GetHistoryDetails",
            datatype: 'html',
            async: false,
            data: { Id: headerid },
            success: function (result) {
                bootbox.dialog({
                    title: 'Display Locking Cleat / Tacking Plan',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
    function GetHeaderGridDataPartial(status) {
        $("#dvContent").empty();
        //$("#portlet_comments_1").empty();
        //$("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainLockingCleat/LoadHeaderGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                $("#dvContent").html(result);
                //if (status == "Pending") {
                //    $("#portlet_comments_1").html(result);
                //}
                //else {
                //    $("#portlet_comments_2").html(result);
                //}
            },
            error: function () {
            }
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Display Locking Cleat / Tacking Plan
                                    <small></small>
                                </h1>
                            </div>
                            @*<div class="col-md-6" style="text-align:right">
                                    <a href="/PDIN/Maintain/Index" style="float:right" class="btn btn-info mt-ladda-btn ladda-button btn-circle">Back to Planning din</a>
                                </div>*@
                        </div>
                    </div>
                    @*<ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>*@
                </div>
                <div id="dvContent" class="portlet-body">
                </div>
                @*<div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_comments_1">
                            </div>
                            <div class="tab-pane" id="portlet_comments_2">
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

