﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title margin0">
                                    Maintain Auto Billing
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>

