﻿
@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile">Auto Billing List</span>
                </div>
                <div class="tools" id="dvExportHeader">
                    @*@Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CJC/GenerateCJC/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })*@
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblCJCList" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="display:none">Header Id</th>
                            <th class="all">Project</th>
                            <th class="all">Product Type</th>
                            <th class="all">Location</th>
                            <th class="all">Shop</th>
                            <th class="all">PO NO.</th>
                            <th class="all">PO Line No.</th>
                            <th class="all">Bill No</th>
                            <th class="all">Bill Date</th>
                            <th class="all">CJC No</th>
                            <th class="all">Status</th>
                            <th style="display:none">Created On</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblCJCList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/GenerateCJC/LoadDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' })
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                       {
                           "sClass": "hide",
                           "name": "HeaderId"
                       },
                       {
                           "name": "Project"
                       },
                       {
                           "sClass": "center",
                           "name": "DiaDesc"
                       },
                       {
                           "sClass": "center",
                           "name": "LocationDesc"
                       },
                       {
                           "sClass": "center",
                           "name": "ShopDesc"
                       },
                       {
                           "sClass": "center",
                           "name": "PurchaseOdrerNo"
                       },
                       {
                           "sClass": "center",
                           "name": "PurchaseOdrerLineNo"
                       },
                       {
                           "sClass": "center",
                           "name": "BillNo"
                       },
                       {
                           "sClass": "center",
                           "name": "BillDate",
                           "attr": "date"
                       },
                       {
                           "sClass": "center",
                           "name": "LNCJCNo"
                       },
                       {
                           "sClass": "center",
                           "name": "LNStatus"
                       },
                       {
                           "sClass": "hide",
                           "name": "CreatedOn",
                           "attr": "date",
                       },
                       {
                           "bSortable": false,
                           "sClass": "center",
                       }
            ]
        });
        table.dtSearchFilter();
    });

    function PrintReport(cjcno) {
        var url = "";
        url = "/CJC/CJC Details";
        var dat = [];
        dat.push({ Param: "HeaderId", Value: cjcno });
        ShowReport(dat, url);
    }
</script>
