﻿@model IEMQSImplementation.MAL016
@using IEMQSImplementation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0;

    string FileUpload1ControlID1 = "fuUpload1";
    string strFileType = @clsImplementationEnum.ImageType.SharePoint.GetStringValue();
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .w150px {
        width: 150px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(ViewBag.Status))
                        {
                            <div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@ViewBag.Status</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        <input type="hidden" name="Location" id="Location" Value="@ViewBag.Location" />
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle">PROJECT NO.</td>
                                            <td>
                                                <div class="">
                                                    <input type="text" id="txtQProject" value="" name="txtQProject" class="form-control col-md-3" placeholder="Select" onchange="BindProjectDetailsData()" />
                                                    @Html.HiddenFor(m => m.ProjectNo, new { @class = "form-control", @placeholder = "Select" })
                                                </div>
                                            </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.Date, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;" })
                                                    <span class="input-group-btn" style="top: -7px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td> @Html.TextBoxFor(m => m.EquipmentNameNumber, new { @class = "form-control", @readonly = "readonly" })</td>
                                            <td class="subtitle"> INSPECTION AGENCY</td>
                                            <td>@Html.TextBoxFor(m => m.InspectionAgency, new { @class = "form-control col-md-12" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> MANUFACTURING CODE</td>
                                            <td>@Html.TextBoxFor(m => m.ManufacturingCode, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                            <td class="subtitle">CLIENT</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.Client, new { @class = "form-control col-md-12", @maxlength = "200" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">P.O NO.</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.PoNo, new { @class = "form-control col-md-12", @maxlength = "200" })
                                            </td>
                                            <td class="subtitle">STAGE</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.Stage, new { @class = "form-control col-md-12", @maxlength = "200" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong></strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th class="text-center">DRG.NO.</th>
                                                            <th class="text-center w150px">REV.NO.</th>
                                                            <th class="btnthAction"></th>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <select class="form-control EditableTextColor" id="ddlDrgNo" name="ddlDrgNo"></select>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="txtRevNo" class="form-control EditableTextColor onlyNumeric w150px" />
                                                            </td>
                                                            <td>
                                                                <input type="button" id="btnAddDrg" value="ADD" class="btn btn-info" style="height:25px!important;padding: 2px;" onclick="fnAddDrgRevNo()" />
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag._lstMAL016_2 != null)
                                                        {
                                                            foreach (var item in ViewBag._lstMAL016_2 as List<MAL016_2>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                                    <td class="DrgNo">@Html.TextBox("DrgNo_1_" + @s1, item.DrgNo, new { @class = "form-control EditableTextColor", @maxlength = "100", @readonly = "readonly" })</td>
                                                                    <td class="RevNo">@Html.TextBox("RevNo_1_" + @s1, item.RevNo, new { @class = "form-control NonEditableTextColor onlyNumeric w150px", @maxlength = "10", @readonly = "readonly" })</td>
                                                                    <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">
                                                    <strong>@*INSPECTION SUMMARY*@</strong>
                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div3', this)" id="btnCollapse3" data-target="#div3" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div3">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines2">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display: none;">LineId</th>
                                                            <th> @*Notes*@</th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag._lstMAL016_3 != null)
                                                        {
                                                            foreach (var item in ViewBag._lstMAL016_3 as List<MAL016_3>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 2) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="ActualValue"> @Html.TextArea("ActualValue_2_" + @s2, @item.ActualValue, new { @class = "form-control", @maxlength = "500" })</td>
                                                                    <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>

                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <input type="button" class="btn submit" id="btnSaveDraft" value="Save as Draft" />
                                        <input type="button" class="btn save" id="btnSaveSubmit" value="Submit" />
                                        
                                        @*<input type="button" class="btn submit" id="btnSave" value="Approve" />*@
                                    }
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="PrintTPI1" type="hidden" />
<input id="PrintTPI2" type="hidden" />
<input id="PrintTPI3" type="hidden" />
<input id="PrintBy" type="hidden" value="@ViewBag.PrintedBy" />
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js">x</script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {
        AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'ActualValue', ['ActualValue'], AddTbl2NewTrRow, true);

        if (isEdit != "true") {
            $('form#frmProtocolHeader :input').attr('disabled', true);
        }

        FillAutoCompleteUsingAjax($("#txtQProject"), "/Utility/General/GetAllAuthorisedQualityProject", $("#ProjectNo"));
        if ('@ViewBag.DrawingNo' != "" && '@ViewBag.DrawingNo' != null) {
            fnGetDrgNo();
        }
        if ('@Model.ProjectNo' != "") { $('#txtQProject').val('@Model.ProjectNo'); }

        if ($("#ProjectNo").val() != "") {
            getInspectionagency($("#ProjectNo").val());
        }

    });

    $("#btnPrint").click(function () {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: $('#HeaderId').val() });
        dat.push({ Param: "PrintTPI1", Value: $("#PrintTPI1").val() });
        dat.push({ Param: "PrintTPI2", Value: $("#PrintTPI2").val() });
        dat.push({ Param: "PrintTPI3", Value: $("#PrintTPI3").val() });
        dat.push({ Param: "PrintBy", Value: $("#PrintBy").val() });

         dat.push({ Param: "Location", Value: $("#Location").val() });
        ShowReport(dat, "/MAL/PicklingAndPssivationReport");
    });

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);
        var fn = "AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','Actual', ['Actual'],AddTbl2NewTrRow)";
        strhtml = "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            " <td class=\"LineId\" style=\"display:none;\"><input type='hidden' value='0' /></td>"
            + "<td class=\"ActualValue\"><textarea class=\"form-control clsAddNew EditableTextColor islastrow valid\" onblur=\"AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','ActualValue',['ActualValue'],AddTbl2NewTrRow)\" id=\"ActualValue_2_" + NewTrRowNum + "\" maxlength=\"500\" name=\"ActualValue_2_" + NewTrRowNum + "\"  type=\"text\" value=\"\" aria-invalid=\"false\"></textarea></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";
        return strhtml;
    }

    function LoadSaveAndDraft() {
        var TableData1 = [];
        var lstProtocolLines1 = "";
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "DrgNo": $('td.DrgNo input', this).val(),
                "RevNo": $('td.RevNo input', this).val(),
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });

        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = [];
        var lstProtocolLines2 = "";
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "HeaderId": $('#HeaderId').val(),
                "LineId": $('td.LineId input', this).val(),
                "ActualValue": $('td.ActualValue TextArea', this).val(),
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);


        //$.ajax({
        //    url: WebsiteURL + ControllerURL + '/SaveProtocolLine1?HeaderId=' + parseInt($("#HeaderId").val()),
        //    type: "POST",
        //    dataType: 'json',
        //    data: lstProtocolLines1,
        //    async:false,
        //    contentType: "application/json; charset=utf-8",
        //    beforeSend: function () {
        //        showLoading(true);
        //    },
        //    complete: function () {
        //        showLoading(false);
        //    },
        //    success: function (data) {

        //    }
        //});

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;

        var FirstLine = "AddNextRow(this,'btnSave',false,1,'hdGrid1LastRow','tblProtocolLines1','DrgNo',['DrgNo', 'RevNo'],AddTbl1NewTrRow)";
        var LastLine = "AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','DrgNo',['DrgNo', 'RevNo'],AddTbl1NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"DrgNo\"><input class=\"form-control clsAddNew EditableTextColor islastrow valid\" onblur=\"" + FirstLine + "\" id=\"DrgNo_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"DrgNo_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\"></input></td>" +
            "<td class=\"RevNo\"><input class=\"form-control clsAddNew EditableTextColor islastrow valid\" onblur=\"" + LastLine + "\" id=\"RevNo_1_" + NewTrRowNum + "\" maxlength=\"10\" name=\"RevNo_1_" + NewTrRowNum + "\" role=\"\"  value=\"\" aria-invalid=\"false\"></input></td>" +
            "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr>";
        return strhtml;
    }

    function delRecord(obj) {
        $(obj).parent().parent().remove();
        var RowCount = $("#hdGrid1LastRow").val();
        var iCo = 1;
        if (RowCount > 0) {
            for (var i = 0; i < RowCount; i++) {
                var iCount = (i + 1);
                if ($("#SrNo_1_" + iCount).length) {
                    document.getElementById("SrNo_1_" + iCount).textContent = iCo;
                    iCo = iCo + 1;
                }
            }
        }
    }

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SaveProtocolHeaderData", true, LoadSaveAndDraft);
        //LoadSaveAndDraft();
    });

       $("#btnSaveSubmit").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SaveProtocolHeaderData?s=1", true, LoadSaveAndDraft);
        //LoadSaveAndDraft();
           window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
       });

    $("#btnClose").click(function () {
        window.location.href = WebsiteURL + '/MAL/MaintainMAL/Index';
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        //showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            $('#HeaderId').val(res.HeaderId);

                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn();
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                            showLoading(false);
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                        showLoading(false);
                    },
                    error: function (data) { showLoading(false); }
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }

    function AddNextRow($this, focuscolumn, focuswithintable, gridId, hdnRowID, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {
        var prevRow = parseInt($("#" + hdnRowID).val());
        var nextRow = parseInt($("#" + hdnRowID).val()) + 1;

        var flag = true;
        if (isnew != true && ($this != null && $($this).val() != "" && $this != undefined) && (beforecallbackfn != null && beforecallbackfn != undefined)) {
            flag = beforecallbackfn($this);
        }
        if (flag) {
            if (GetParamCondition(paramList, gridId, prevRow) || isnew == true) {
                $("#Delete_" + gridId + "_" + prevRow).show();
                if (aftercallbackfn != null && aftercallbackfn != undefined) {
                    $("#" + tblId).find('select,input').removeClass('islastrow');
                    $("#" + tblId + " tr").removeClass('islastrow');
                    $("#" + tblId).append(aftercallbackfn(nextRow));
                }
                $("#" + $txtfocusColumn + "_" + gridId + "_" + nextRow).focus();
            }
        }
        else {
            if ($this != null && $this != undefined) {
                $($this).focus();
            }
        }
        if (isnew != true && ($this != null && $this != undefined) && (focuscolumn != null && focuscolumn != undefined)) {
            var row_index = $($this).parent().parent().index();
            if ($($this).val() == "") {
                if (focuswithintable) {
                    var cell = focuscolumn.split(',');
                    if ($("#" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).has("input[type=text]").length == 0) {
                        if ($("#" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").length > 0) {
                            $("#" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").focus();
                        }
                        else {
                            $("#" + cell[1]).focus();
                        }
                    }
                    else {
                        $("#" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).find("input").focus();
                    }
                }
                else { $("#" + focuscolumn).focus() }
            }
        }
    }

    function GetParamCondition(list, gridid, rowid, tblId, $this, $appendlocation) {
        var q = true;
        if (($this != null && $this != "" && $this != undefined) && ($appendlocation != "" && $appendlocation != undefined)) {
            $row = $("#" + tblId).find('tr.' + $appendlocation.split("__")[0]).last();
            $cells = $row.find("td input");
            $cells.each(function () {
                flg = $(this).val();
                if (q == true && (flg == "" || flg == null || flg == undefined || flg.legth == 0)) {
                    q = false;
                    return false;
                }
            });
        }
        else {
            for (var j = 0; j < list.length; j++) {
                var flg = "";
                flg = $("#" + list[j] + "_" + gridid + "_" + rowid).val();
                if (flg == "" || flg == null || flg == undefined || flg.legth == 0) {
                    q = false;
                    break;
                }
            }
        }
        return q;
    }

    $("body").on("keypress", ".onlyNumeric", function (e) {
        var keyCode = e.which ? e.which : e.keyCode;
        if (!(keyCode >= 48 && keyCode <= 57)) {
            return false;
        }
    });

    $("#btnUploadImage1").click(function () {
        btnAttach@(FileUpload1ControlID1).click();
    });



    function BindProjectDetailsData() {
        //sValue
        showLoading(true);
        var formData = new FormData();
        formData.append("ProjectNo", $("#ProjectNo").val());
        $.ajax({
            url: WebsiteURL + ControllerURL + '/ProjectDetails',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                if (result != null) {
                    var vData = result.split('|');
                    $("#EquipmentNameNumber").val(vData[0]);
                    $("#ManufacturingCode").val(vData[1]);
                    fnGetDrgNo();
                }
                showLoading(false);
            },
            error: function (err) {
                showLoading(false);
            }
        });
        getInspectionagency($("#ProjectNo").val());
    }

    function fnGetDrgNo() {
        //$("#ProjectNo").val("S040166");
        //if ($("#ProjectNo").val() != "") {
            //var formData = new FormData();
            //formData.append("ProjectNo", $("#ProjectNo").val());
        var project = $("#ProjectNo").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + ControllerURL + '/getDrgNo',
            data: { ProjectNo: project },
                success: function (data) {
                    var s = '<option value="-1">Please Select a Drawing</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $("#ddlDrgNo").html(s);
                }
            });
        //}
    }

    function fnAddDrgRevNo() {
        var v1 = $("#ddlDrgNo").val();
        var v2 = $("#txtRevNo").val();
        //alert($('#tblProtocolLines1 > tbody > tr > td:nth-child(3) > input:contains(' + v1 + ')').length);
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        for (var i = 0; i < row; i++) {
            var vVal = $("#tblProtocolLines1 tbody tr:nth-child("+(i+1)+") td:nth-child(3) input").val();
            if (vVal != v1) {
                row = parseInt(row) + 1;
                var strhtml =
                    "<tr class=\"\">" +
                    "<td style=\"text-align: center;display:none;\">" + row + "</td>" +
                    "<td class=\"LineId\" id='LineId_1_" + row + "' name='LineId_1_" + row +"' style=\"display:none;\">0</td>" +
                    "<td class=\"DrgNo\"><input class='form-control EditableTextColor DrgNo' name='DrgNo_1_" + row +"' id='DrgNo_1_"+row+"' type='text' value='" + v1 + "' disabled></input></td>" +
                    "<td class=\"RevNo\"><input class='form-control EditableTextColor RevNo' id='RevNo_1_" + row + "' name='RevNo_1_" + row +"' type='text' value='" + v2 + "' disabled></input></td>" +
                    "<td class=\"DeleteAction\"><i id=\"Delete_1_" + row + "\" name=\"Delete_1_" + row + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\"></i></td>" +
                    "</tr>";
                $("#hdGrid1LastRow").val(row);
                $("#tblProtocolLines1").append(strhtml);
            }
            else {
                alert("Record Exits.");
            }
        }

        if (row == 0) {
            row = parseInt(row) + 1;
            var strhtml =
                "<tr class=\"\">" +
                "<td style=\"text-align: center;display:none;\">" + row + "</td>" +
                "<td class=\"LineId\" style=\"display:none;\">0</td>" +
                "<td class=\"DrgNo\"><input class='form-control EditableTextColor DrgNo' type='text' value='" + v1 + "' disabled></input></td>" +
                "<td class=\"RevNo\"><input class='form-control EditableTextColor RevNo' type='text' value='" + v2 + "' disabled></input></td>" +
                "<td class=\"DeleteAction\"><i id=\"Delete_1_" + row + "\" name=\"Delete_1_" + row + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\"></i></td>" +
                "</tr>";

            $("#hdGrid1LastRow").val(row);
            $("#tblProtocolLines1").append(strhtml);
        }
    }
    function getInspectionagency(qproject) {
        $.ajax({
            url: WebsiteURL + ControllerURL + "/GetInspectionAgency",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                qproject: qproject
            },
            success: function (data) {
                if (data != "" && data != null && data != undefined) {
                    var dat = data.Agency.split('#');
                    $("#PrintTPI1").val("");
                    $("#PrintTPI2").val("");
                    $("#PrintTPI3").val("");
                    if (dat[0] != undefined && dat[0] != "" && dat[0] != null) {
                        $("#PrintTPI1").val(dat[0]);
                    }
                    if (dat[1] != undefined && dat[1] != "" && dat[1] != null) {
                        $("#PrintTPI2").val(dat[1]);
                    }
                    if (dat[2] != undefined && dat[2] != "" && dat[2] != null) {
                        $("#PrintTPI3").val(dat[2]);
                    }

                    var InspectionAgencyArr = data.arr;
                    $("#InspectionAgency").val(InspectionAgencyArr);
                }
            }
        });
    }


</script>