﻿@model IEMQSImplementation.PRO065
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>

<style>
    .tblNotes.noborder td {
        border: none;
        padding-left: 10px !important;
    }

    .PRODTextbox {
        background-color: #cfc !important;
    }

    .QCTextbox {
        background-color: #fff9b6 !important;
    }

    .width150px {
        width: 150px;
    }
    table.traysupport input{
        width:100px !important;
    } 
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(model => model.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 50px"></div>
                            <div class="col-md-12">
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <table class="FormTable traysupport">
                                            <tr>
                                                <td class="title" rowspan="3">
                                                    ORIENTATION
                                                </td>
                                                <td class="title" rowspan="2">
                                                    ELEVATION OF NUB FROM R.F LINE
                                                    @Html.TextBoxFor(model => model.elevationReq, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="title" rowspan="2">
                                                    NUB WIDTH
                                                    @Html.TextBoxFor(model => model.nubwidthreq, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="title" rowspan="2">
                                                    NUB HEIGHT
                                                    @Html.TextBoxFor(model => model.nubheightreq, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="title" rowspan="2">
                                                    NUB ID
                                                    @Html.TextBoxFor(model => model.nubIDreq, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="title" colspan="6">AFTER OVERLAY TEMPLATE READING</td>

                                            </tr>
                                            <tr>
                                                <td rowspan="2" class="subtitle">A1</td>
                                                <td rowspan="2" class="subtitle">A2</td>
                                                <td rowspan="2" class="subtitle">B1</td>
                                                <td rowspan="2" class="subtitle">B2</td>
                                                <td rowspan="2" class="subtitle">C1</td>
                                                <td rowspan="2" class="subtitle">C2</td>
                                            </tr>


                                            <tr>
                                                <td class="subtitle">
                                                    TOL:- @Html.TextBoxFor(model => model.elevationTol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:- @Html.TextBoxFor(model => model.nubwidthtol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:-@Html.TextBoxFor(model => model.nubheighttol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:-@Html.TextBoxFor(model => model.nubIDtol, new { @class = "form-control", @maxlength = "25", @role = "QC" })
                                                </td>


                                            </tr>

                                            <!--fOR 0º-->
                                            <tr>
                                                <td>0°</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation1, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth1, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight1, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID1, new { @class = "form-control", @maxlength = "25", @role = "PROD" })

                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A21, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B21, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C21, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 30º-->
                                            <tr>
                                                <td>30º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation2, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth2, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight2, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID2, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A22, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B22, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C22, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 60º-->
                                            <tr>
                                                <td>60º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation3, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth3, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight3, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID3, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A13, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A23, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B13, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B23, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C13, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C23, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 90º-->

                                            <tr>
                                                <td>90º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation4, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth4, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight4, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID4, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A14, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A24, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B14, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B24, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C14, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C24, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 120º-->

                                            <tr>
                                                <td>120º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation5, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth5, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight5, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID5, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A15, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A25, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B15, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B25, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C15, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C25, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>
                                            <!--fOR 150º-->

                                            <tr>
                                                <td>150º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation6, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth6, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight6, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID6, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A16, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A26, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B16, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B26, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C16, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C26, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 180º-->
                                            <tr>
                                                <td>180º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation7, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth7, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight7, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID7, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A17, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A27, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B17, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B27, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C17, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C27, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 210º-->
                                            <tr>
                                                <td>210º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation8, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth8, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight8, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID8, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A18, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A28, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B18, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B28, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C18, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C28, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 240º-->
                                            <tr>
                                                <td>240º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation9, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth9, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight9, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID9, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A19, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A29, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B19, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B29, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C19, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C29, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 270º-->
                                            <tr>
                                                <td>270º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation10, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth10, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight10, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID10, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A110, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A210, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B110, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B210, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C110, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C210, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 300º-->
                                            <tr>
                                                <td>300º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID11, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A111, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A211, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B111, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B211, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C111, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C211, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>

                                            <!--fOR 330º-->
                                            <tr>
                                                <td>330º</td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.elevation12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubwidth12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubheight12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.nubID12, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A112, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.A212, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B112, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.B212, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C112, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.C212, new { @class = "form-control", @maxlength = "25", @role = "PROD" })
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                        <td colspan="11" align="center">
                                                            <img src="~/Images/Protocol014_img.png" />
                                                        </td>
                                                    
                                            </tr>
                                        </table>
                                        <div class="col-md-12" style="height: 20px"></div>
                                        <div class="col-md-12">
                                            <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;">
                                                <tr>
                                                    <td class="title bold">Remarks:-</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        1) ALL DIMENSIONS ARE IN MM, UNLESS SPECIFIED.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2) TEMPLATE DIMENSION CHECKED :-
                                                        @Html.TextBoxFor(model => model.Remark2, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3) VISUAL CHECKED, RESULT FOUND SATISFACTORY:-
                                                        @Html.TextBoxFor(model => model.Remark3, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4) OVALITY READING AT NUB INSIDE DIAMETER ARE WITHIN TOLERANCE:-
                                                        @Html.TextBoxFor(model => model.Remark4, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        5) CALIBRATED TAPE NO. :
                                                        @Html.TextBoxFor(model => model.Remark5, new { @class = "form-control inlinetextbox", @maxlength = "25", @role = "PROD" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="display: inline-block;vertical-align: middle;margin-top: -40px;margin-left: 89px;">
                                                            CAL.DATE :
                                                        </span>
                                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" style="display: inline-block;">
                                                            @Html.TextBoxFor(model => model.Remark5_1, "{0:dd/MM/yyyy}", new { @class = "form-control  inlinetextbox", @readonly = "readonly", style = "width:200px !important;", @role = "PROD" })
                                                            <span class="input-group-btn" style="float: left;top: -5px;">
                                                                <button class="btn default" id="btncal1" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        6) R.F LINE MARKED ON TEMPLATE IS MATCHING WITH R.F LINE MARKED ON SHELL :-
                                                        @Html.TextBoxFor(model => model.Remark6, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="text-align:left;">
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <input type="button" class="btn save" id="btnSave" value="Save" />
                                            <a class="btn btnclose" id="btnClose"> Close</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>

<script>
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstYesNoNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));

        FillProtocolAutoComplete($('#Remark2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark4'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark6'), lstYesNo, null, false);

        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#btnSave").click(function () {
             @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="PROD"]').prop("required", true);</text>
             }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="QC"]').prop("required", true);</text>
             }
            SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
        });

        $("#btnClose").click(function () {
            DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
            window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
        });
    });
</script>
