﻿@using IEMQSImplementation
@model PTR005_Log
@{
    ViewBag.Title = "HeatPlateLineDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>

<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmMaintainDeatils input').prop('readOnly', true);
        


        
    });
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                        
                        <fieldset>
                            <legend>Project Detail</legend>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Project No
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Project, null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.BU, null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Revision Number
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RevNo, null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            PTR No
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PTRNo, null, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Heat/Plate No Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Part No
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PartNo, null, new { @class = "form-control", onkeypress = "return isNumber(event)" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Heat No 1
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.HeatNo1, null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Plate No 1
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlateNo1, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Heat No 2
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.HeatNo2, null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Plate No 2
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PlateNo2, null, new { @class = "form-control" })
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div id="hiddenfields">
                                @Html.HiddenFor(m => m.HeaderId)
                                @Html.HiddenFor(m => m.LineId)
                                @Html.HiddenFor(m => m.Project)
                                @Html.HiddenFor(m => m.Location)
                                @Html.HiddenFor(m => m.BU)
                                <input type="hidden" name="auth" id="auth" value="@ViewBag.auth" />
                                <input type="hidden" name="status" id="status" value="" />
                            </div>

                        </fieldset>

                        }



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




