﻿@using IEMQSImplementation
@model PTR002
@{
    ViewBag.Title = "HTDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>

<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        var status = '@ViewBag.status';
        var auth = '@ViewBag.auth';
        var cc = '@ViewBag.cc';
        if (auth == "yes") {
            //if ((status == "Draft") || (status == "Returned by QC3" && cc == "Material test coupon") || (status == "Returned by WE2") || (status == "Returned by QA3/WTC3" && (cc == "Water Analysis" || cc == "Performance Qualification "))) {
            if ((status == "Draft") || (status == "Returned by QC3") || (status == "Returned by WE2") || (status == "Returned by QA3/WTC3")) {
                $('#status').val("Draft");
            }
            else if ((status == "Closed")) {
                $('#status').val("Closed");
            }
            else {
                $('#frmMaintainDeatils input').prop('readOnly', true);
            }
        }
        else {
            $('#frmMaintainDeatils input').prop('readOnly', true);
        }
        
        
        $('#frmMaintainDeatils').validate({
            rules: {
                CouponNo: {
                    required : true
                },
                CouponId: {
                    required: true
                },
            },
            messages: {
                CouponNo: {
                    required: "Coupon No is required"
                },
                CouponId: {
                    required: "Coupon Id is required"
                },
            }
            //submitHandler: function (form) {
            //    alert("fdg");
            //    //LineId = 0;
            //    //projectid = $('#txtProject').val();
            //    //BU = $('#BU').val();
            //    //var location = $('#Location').val();
            //    //ctq = $("#PTRNo").val();
            //    var formData = new FormData();
            //    var frmValues = $('#frmMaintainDeatils').serializeArray();
            //    $.each(frmValues, function (key, input) {
            //        formData.append(input.name, input.value);
            //    });
            //    $.ajax({
            //        url: "/PTR/MaintainPTR/SaveMechDetails",
            //        data: formData,
            //        contentType: false,
            //        processData: false,
            //        type: 'POST',
            //        success: function (data) {
            //            if (data.Key) {
            //                bootbox.alert("Line " + data.LineId + " is generated successfully", function () {
            //                    $("#LineId").val(data.LineId);
            //                    //$("#txtProject").attr("disabled", true);
            //                    //getPTRDetails(projectid, BU, location, ctq, LineId);
            //                    //$("#btnSubmit").hide();
            //                    //$("#btnSend").show();
            //                    //$("#btnHT").show();
            //                    //$("#btnMech").show();
            //                    //$("#btnChem").show();
            //                });
            //            }
            //            if (data.Value = "CTQ already exists") {
            //                //$("#btnAdd").show();
            //                //$("#btnSubmit").hide();
            //                // $("#btnSend").show();
            //            }
            //            else {
            //                DisplayNotiMessage("error", data.Value, "Error");
            //            }
            //        }
            //    });
            //}
        });
    });
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            @*<div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Maintain Mechanical Test Details</span>
                                </div>
                                @*<div class="ribbon ribbon-right ribbon-color-warning ">
                                    <b>Status :<span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                                </div>*@
                            @*<p class="ribbon-content"></p>
                                </div>*@
                            <fieldset>
                                <legend>Project Detail</legend>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                BU
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Location
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                RevNo.
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                PTR No
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PTRNo, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>HT Line Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Coupon No
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouponNo, null, new { @class = "form-control" , @type = "number", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Coupon ID
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouponID, null, new { @class = "form-control", @maxlength = 10 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType1, new { @class = "form-control", @maxlength = 30 })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C)
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp1, null, new { @class = "form-control",@maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs)
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime1, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType2, null, new { @class = "form-control", @maxlength = 30 })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp2, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime2, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 3
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType3, null, new { @class = "form-control", @maxlength = 30 })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 3
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp3, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 3
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime3, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 4
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType4, null, new { @class = "form-control", @maxlength = 30 })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 4
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp4, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 4
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime4, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 5
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType5, null, new { @class = "form-control", @maxlength = 30 })
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C)  5
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp5, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 5
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime5, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 6
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType6, null, new { @class = "form-control", @maxlength = 30 })
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 6
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp6, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 6
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime6, null, new { @class = "form-control", @maxlength = 20 })
                                            </div>
                                        </div>
                                        <div id="hiddenfields">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            @Html.HiddenFor(m => m.LineId)
                                            @Html.HiddenFor(m => m.Project)
                                            @Html.HiddenFor(m => m.Location)
                                            @Html.HiddenFor(m => m.BU)
                                            <input type="hidden" name="auth" id="auth" value="@ViewBag.auth" />
                                            <input type="hidden" name="status" id="status" value="" />
                                        </div>

                                    </div>
                                </div>

                            </fieldset>
                                
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                        @* <button class="btn green" type="submit" style="float: right;" id="btnSubmit">Save</button>*@

                                        @*@{
                                            if (Model.Status.ToLower() == "approved" || Model.PTRRev > 0)
                                            {
                                            <button class="btn green" style="margin-right:5px;" type="button" id="btnHistoryData">History</button>
                                            }
                                            }
                                            @if (Model.Status == "Approved")
                                            {
                                            <button class="btn green" style="margin-right:5px;" type="button" id="btnCopyData">Copy</button>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-3">
                                    @*<button class="btn green" style="float: right;display:none;" type="button" id="btnSend">Send to Compiler</button>&nbsp;&nbsp;*@
                                </div>
                                @*<div class="col-md-1" style="text-align:right">
                                        <a href='@Url.Action("MechDetails","MaintainPTR",new {HeaderId = ViewBag.HeaderId })' style="float: right;" class="btn blue">Cancel</a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


