﻿@using IEMQSImplementation
@model PTR003_Log
@{
    ViewBag.Title = "MechMetDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>

<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        
            $('#frmMaintainDeatils input').prop('readOnly', true);
        
        

        
        LoadPreValueSelect2("/PTR/MaintainPTR/getSubCategory", $("#SampleLocation"), "Select Sample Location", {data : '@Model.HeaderId, Sample Location Master'});
        LoadPreValueSelect2("/PTR/MaintainPTR/getSubCategory", $("#TestTemperature"), "Select Test Temperature", {data:'@Model.HeaderId, Test Temperature Master'});
        //LoadPreValueSelect2("/PTR/MaintainPTR/getSubCategory", $("#TestTemperature"), "Select Test Temprature", '@Model.HeaderId, Test Temperature Master');
        if(@Model.Id >0){
            
            var strLoc='@("" + Model.SimpleLocation)';
            var arrLoc = new Array();
            arrLoc = strLoc.split(',');
            $("#SampleLocation").val(arrLoc).trigger('change');

            var strTmp='@("" + Model.TestTemperature)';
            var arrTmp = new Array();
            arrTmp = strTmp.split(',');
            $("#TestTemperature").val(arrTmp).trigger('change');

        }
        $("#SampleLocation").prop('disabled',true);
        $("#TestTemperature").prop('disabled',true);
        

        

        

    });
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                        
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @*<div class="col-md-3">
                                        <label class="control-label">
                                            Header Id
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.HeaderId, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Project.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Location
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            BU
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            PTR No.
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">
                                            Revision Number
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                        <label class="control-label">
                                            Serial Number
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.LineId, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Mech. Test Detail</legend>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Coupon ID
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.CouponID, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Test Type Orientation
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.TestTypeOrientation, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Sample Location
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            @*@Html.TextBoxFor(m=>m.SimpleLocation, new { @class = "form-control"})*@
                                            <select name="SampleLocation" id="SampleLocation" multiple="multiple" style=" width:100%" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Test Temperature
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="">
                                            <select name="TestTemperature" id="TestTemperature" multiple="multiple" style=" width:100%" class="form-control"></select>
                                            @*@Html.TextBoxFor(m=>m.TestTemperature, new { @class = "form-control"})*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            No of Samples
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.NoofSamples, new { @class = "form-control", @type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Acceptance Criteria
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.AcceptanceCriteria, new { @class = "form-control"})
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Testing Specification
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.TestingSpecification, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Remarks
                                        </label>
                                        <div class="">
                                            @Html.TextBoxFor(m=>m.Remarks, new { @class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="hiddenfields">
                                @Html.HiddenFor(m=>m.HeaderId)
                                @Html.HiddenFor(m=>m.Project)
                                @Html.HiddenFor(m=>m.Location)
                                @Html.HiddenFor(m=>m.BU)
                                <input type="hidden" name="status" id="status" value="" />
                            </div>
                        </fieldset>




                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                    
                                </div>
                            </div>
                        </div>
                        }


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

