﻿@using IEMQSImplementation
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {

        GetHeaderGridDataPartial('Pending');
        GetUserRoleData();
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });

        $("#btnHistoryData").click(function () {
            GetPTRHistory(0);
        });

    });
    function GetPTRHistory(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/GetPTRHistoryDetails",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Physical Test Request History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {

            }
        });
    }
    function GetHeaderGridDataPartial(status)
    {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PTR/MaintainPTR/GetHeaderGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
    function GetUserRoleData() {
        $('#tabAcknowledge').hide();
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/GetUserRoleByLocation",
            datatype: "json",
            type: "POST",
            async: false,
            data: {
                User: '@ViewBag.User',
                location: '@ViewBag.location'
            },
            success: function (data) {
                $.each(data, function (id, item) {
                    if (item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.WE3.GetStringValue()'
                                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.QA3.GetStringValue()'
                                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.PMG3.GetStringValue()'
                                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.MCC3.GetStringValue()'
                                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.SCC3.GetStringValue()')
                        $('#tabAcknowledge').show();

                    if (item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.WE3.GetStringValue()'
                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()'
                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.PMG3.GetStringValue()'
                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.MCC3.GetStringValue()'
                            || item.UserRoleDesc == '@clsImplementationEnum.UserRoleName.SCC3.GetStringValue()')
                    {
                        $("#AddNew").show();
                        //return true;
                    }
                    
                });
                @*if (data.UserRoleDesc.includes('@clsImplementationEnum.UserRoleName.WE3.GetStringValue()')) {
                    $("#AddNew").show();
                }
                else if (data.includes(15)) {
                    $("#AddNew").show();
                }
                else if (data.includes(24) || data.includes(65) || data.includes(66)) {
                    $("#AddNew").show();
                }*@
            }
        });
    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain PTR
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                @*<button class="btn green" style="" type="button" id="btnHistoryData">History</button>&nbsp;&nbsp;*@
                                <a href="~/PTR/MaintainPTR/PTRDetails" id="AddNew" style="float: right;display:none;" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAcknowledge" spara="Acknowledge" data-toggle="tab"> Acknowledge </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
