﻿
@{
    ViewBag.Title = "Print Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/getLocation",
            datatype: "json",
            type: "POST",
            async: false,
            data: {
                
            },
            success: function (data) {
                $.each(data, function (i) {
                    if (data[i].id != "") {
                        var optionhtml = '<option value="' + data[i].id + '">' + data[i].text + '</option>';
                        $("#txtLoca1").append(optionhtml);
                        $("#txtLoca2").append(optionhtml);
                    }
                });
            }
        });
        $.ajax({
            url: WebsiteURL + "/PTR/MaintainPTR/GetQualityProjectResult",    //GetProjectResult",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            success: function (data) {
                $.each(data, function (i) {
                    if (data[i].qualityDescription != "") {
                        var optionhtml = '<option value="' + data[i].qualityDescription + '">' + data[i].qualityDescription + '</option>';
                        $("#txtQPF1").append(optionhtml);
                        $("#txtQPF2").append(optionhtml);
                        $("#txtQPT1").append(optionhtml);
                        $("#txtQPT2").append(optionhtml);
                    }
                }); 
            }
        });

        $("#btnPrint1").click(function () {

            var TestType1 = $("#TestType1").find('option:selected').val();
            var txtStage1 = $("#txtStage1").find('option:selected').val();
            var txtReport1 = $("#txtReport1").find('option:selected').val();
            var CouponCategory = $("#CouCat1").find('option:selected').val();
            var QprojectF = $("#txtQPF1").find('option:selected').val();
            var QprojectT = $("#txtQPT1").find('option:selected').val();
            var Location = $("#txtLoca1").find('option:selected').val();

            var dateF1 = $("#dateF1").val();
            var dateT1 = $("#dateT1").val();
            if (TestType1 != "0" && txtReport1 != "0" && txtStage1 != "0" && CouponCategory != "0" && QprojectF != "0" && QprojectT != "0" && Location != "0" && dateF1 != "" && dateT1 != "") {
                
                //$.ajax({
                //    url: "/PTR/MaintainPTR/GetRangeofQualityProject",    //GetProjectResult",
                //    dataType: "json",
                //    type: "POST",
                //    delay: 250,
                //    data: { QprojectF: QprojectF, QprojectT: QprojectT },
                //    async: false,
                //    success: function (data) {
                //        var proj = data;
                        var TestTypeC;
                        var TestTypeM;
                        var url;

                        if (TestType1 == "Mechanical") {
                            TestTypeC = "false";
                            TestTypeM = "true";
                        }
                        else if (TestType1 == "Chemical") {
                            TestTypeC = "true";
                            TestTypeM = "false";
                        }
                        else if (TestType1 == "Both") {
                            TestTypeC = "true";
                            TestTypeM = "true";
                        }
                        if (txtReport1 == "Review")
                            url = "/PTR/PTRwise Review report";
                        else if (txtReport1 == "Approval")
                            url = "/PTR/PTRwise Approval report";
                        else if (txtReport1 == "Closure")
                            url = "/PTR/PTRwise Closure report";
                        else if (txtReport1 =="ALL")
                            url = "/PTR/PTRwise All Stage report";

                        var dat = [];
                        dat.push({ Param: "Location", Value: Location });
                        dat.push({ Param: "QprojectF", Value: QprojectF });
                        dat.push({ Param: "QprojectT", Value: QprojectT });
                        dat.push({ Param: "CoupenCategory", Value: CouponCategory });
                        dat.push({ Param: "TestTypeC", Value: TestTypeC });
                        dat.push({ Param: "TestTypeM", Value: TestTypeM });
                        dat.push({ Param: "DateF", Value: dateF1 });
                        dat.push({ Param: "DateT", Value: dateT1 });
                        dat.push({ Param: "StageType", Value: txtStage1 });
                        
                        ShowReport(dat, url);
                    //}
                //});
            }
            else {
                DisplayNotiMessage("error", "Select Value of All Fields", "Error");
            }

        

        });


        $("#btnPrint2").click(function () {
            var TestType2 = $("#TestType2").find('option:selected').val();
            var txtStage2 = $("#txtStage2").find('option:selected').val();
            var txtReport2 = $("#txtReport2").find('option:selected').val();
            var CouponCategory = $("#CouCat2").find('option:selected').val();
            var dateF2 = $("#dateF2").val();
            var dateT2 = $("#dateT2").val();
            var QprojectF = $("#txtQPF2").find('option:selected').val();
            var QprojectT = $("#txtQPT2").find('option:selected').val();
            var Location = $("#txtLoca2").find('option:selected').val();
            
            if (TestType2 != "0" && txtReport2 != "0" && txtStage2 != "0" && CouponCategory != "0" && QprojectF != "0" && QprojectT != "0" && Location != "0" && dateF2 != "" && dateT2 != "") {
                
                //$.ajax({
                //    url: "/PTR/MaintainPTR/GetRangeofQualityProject",    //GetProjectResult",
                //    dataType: "json",
                //    type: "POST",
                //    delay: 250,
                //    data: { QprojectF: QprojectF, QprojectT: QprojectT },
                //    async: false,
                //    success: function (data) {
                //        var proj = data;
                        
                        var TestTypeC;
                        var TestTypeM;
                        var url;

                        if (TestType2 == "Mechanical") {
                            TestTypeC = "false";
                            TestTypeM = "true";
                        }
                        else if (TestType2 == "Chemical") {
                            TestTypeC = "true";
                            TestTypeM = "false";
                        }
                        else if (TestType2 == "Both") {
                            TestTypeC = "true";
                            TestTypeM = "true";
                        }
                        if (txtReport2 == "PTRWiseDetail")
                            url = "/PTR/PTRwise detailed report";
                        else if (txtReport2 == "StageWiseSummary")
                            url = "/PTR/Stagewise summary of PTR";
                        

                        var dat = [];
                        dat.push({ Param: "Location", Value: Location });
                        dat.push({ Param: "QprojectF", Value: QprojectF });
                        dat.push({ Param: "QprojectT", Value: QprojectT });
                        dat.push({ Param: "CoupenCategory", Value: CouponCategory });
                        dat.push({ Param: "TestTypeC", Value: TestTypeC });
                        dat.push({ Param: "TestTypeM", Value: TestTypeM });
                        dat.push({ Param: "dateF", Value: dateF2 });
                        dat.push({ Param: "dateT", Value: dateT2 });
                        dat.push({ Param: "ID" , Value : "1"});
                        dat.push({ Param: "StageType", Value: txtStage2 });

                        ShowReport(dat, url);
                //    }
                //});
            }
            else {
                DisplayNotiMessage("error", "Select Value of All Fields", "Error");
            }
        });

    });
    
</script>
<!DOCTYPE html>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Print Report
                                    <small></small>
                                </h1>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrintReport", @class = "form-horizontal" }))
                    {
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">Location</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtLoca1" class="form-control" style="width:100%" id="txtLoca1">
                                            <option value="0">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">Location</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtLoca2" class="form-control" style="width:100%" id="txtLoca2">
                                            <option value="0">-- Select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">Quality Project : &nbsp;&nbsp; From</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtQPF1" class="form-control" style="width:100%" id="txtQPF1">
                                            <option value="0">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label"> Quality Project : &nbsp;&nbsp; From</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtQPF2" class="form-control" style="width:100%" id="txtQPF2">
                                            <option value="0">-- Select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label "> To</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtQPT1" class="form-control" id="txtQPT1">
                                            <option value="0">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label "> To</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtQPT2" class="form-control" id="txtQPT2">
                                            <option value="0">-- Select --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Coupon Category</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="CouCat1" id="CouCat1" style="  height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="ALL">ALL</option>
                                            <option value="Consumable qualification">Consumable qualification</option>
                                            <option value="Material test coupon">Material test coupon</option>
                                            <option value="Mock-up">Mock-up</option>
                                            <option value="Performance Qualification ">Performance Qualification </option>
                                            <option value="Procedure Qualification">Procedure Qualification</option>
                                            <option value="Production Test Coupon">Production Test Coupon</option>
                                            <option value="Water Analysis">Water Analysis</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Coupon Category</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="CouCat2" id="CouCat2" style="  height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="ALL">ALL</option>
                                            <option value="Consumable qualification">Consumable qualification</option>
                                            <option value="Material test coupon">Material test coupon</option>
                                            <option value="Mock-up">Mock-up</option>
                                            <option value="Performance Qualification ">Performance Qualification </option>
                                            <option value="Procedure Qualification">Procedure Qualification</option>
                                            <option value="Production Test Coupon">Production Test Coupon</option>
                                            <option value="Water Analysis">Water Analysis</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label  ">Test Type</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="TestType1" id="TestType1" style=" width:100%; height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="Mechanical">Mech/Met</option>
                                            <option value="Chemical">Chemical</option>
                                            <option value="Both">Both</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label  ">Test Type</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="TestType2" id="TestType2" style=" width:100%; height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="Mechanical">Mech/Met</option>
                                            <option value="Chemical">Chemical</option>
                                            <option value="Both">Both</option>
                                        </select>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Date : &nbsp;&nbsp; From</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                            @Html.TextBox("dateF1", "", "{0:yyyy/MM/dd}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @*<input type="date" style=" width:100%; height:35px" class="form-control" id="dateF1" />*@
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Date : &nbsp;&nbsp; From</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datetime2" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                            @Html.TextBox("dateF2", "", "{0:yyyy/MM/dd}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @*<input type="date" style=" width:100%; height:35px" class="form-control" id="dateF2" />*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">To</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datetime3" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                            @Html.TextBox("dateT1", "", "{0:yyyy/MM/dd}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @*<input type="date" style=" width:100%; height:35px" class="form-control" id="dateT1" />*@
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label">To</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="datetime4" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                            @Html.TextBox("dateT2", "", "{0:yyyy/MM/dd}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @*<input type="date" style=" width:100%; height:35px" class="form-control" id="dateT2" />*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Stage Type</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtStage1" id="txtStage1" style=" width:100%; height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="Initiator">Initiator</option>
                                            <option value="Reviewer">Reviewer</option>
                                            <option value="Approver">Approver</option>
                                            <option value="Closure">Closure</option>
                                            <option value="ALL">ALL</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Stage Type</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtStage2" id="txtStage2" style=" width:100%; height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="Initiator">Initiator</option>
                                            <option value="Reviewer">Reviewer</option>
                                            <option value="Approver">Approver</option>
                                            <option value="Closure">Closure</option>
                                            <option value="ALL">ALL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Report For</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtReport1" id="txtReport1" style=" width:100%; height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="Approval">Approval</option>
                                            <option value="Review">Review</option>
                                            <option value="Closure">Closure</option>
                                            <option value="ALL">ALL</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">ID</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="ID" id="ID" style=" width:100%; height:35px" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <label class="control-label ">Report For</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select name="txtReport2" id="txtReport2" style=" width:100%; height:35px" class="form-control">
                                            <option value="0">-- Select --</option>
                                            <option value="PTRWiseDetail">PTR Wise Detail Report</option>
                                            <option value="StageWiseSummary">Stage Wise Summary of PTR</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="text-align:center;margin-top:30px;">
                                        <button class="btn green" type="button" id="btnPrint1">Print</button>&nbsp;&nbsp;
                                    </div>
                                    <div class="col-md-6" style="text-align:center;margin-top:30px;">
                                        <button class="btn green" type="button" id="btnPrint2">Print</button>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>


                        </div>

                        }
                    </div>
                </div>

                        </div>
    </div>
</div>
    <script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
    <script src="~/Scripts/ThemeScripts/app.min.js"></script>
    <script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
