﻿@using IEMQSImplementation
@model PTR001_Log
@{
    ViewBag.Title = "TestCompletionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>TestCompletionLogDetails</h2>*@
<style>
    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        var HeaderId = @ViewBag.Id;
        GetHeaderGridDataPartial(HeaderId);


        

        

    });
    
    function GetHeaderGridDataPartial(HeaderId)
    {


            var table = $('#tblPTRHeader');
            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "bProcessing": true,
                "bServerSide": true,
                "stateSave": false,
                "bDestroy": true,
                buttons: [
                    //{ extend: 'print', className: 'btn default' },
                    //{ extend: 'pdf', className: 'btn default' },
                    //{ extend: 'csv', className: 'btn default' }
                ],
                responsive: true,
                "order": [
                    [0, 'asc']
                ],
                "lengthMenu": [
                    [5, 10, 25, 50, 100],
                    [5, 10, 25, 50, 100]
                ],
                "pageLength": 10,
                'iDisplayLength': 10,
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                "sAjaxSource": WebsiteURL + "/PTR/MaintainPTR/LoadTestCompletionLogDetailData",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "type", "value": "sdf" },
                                { "name": "Headerid", "value": '@ViewBag.Id' }
                                );
                },
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'dataType': 'json',
                        'type': 'POST',
                        'url': sSource,
                        'data': aoData,
                        'success': fnCallback,
                        'async': false
                    });
                },

                "columns": [

                    {
                        "name" :  "CouponNo",
                        "sClass": "center",
                    },
                    {
                        "name" :  "CouponID",
                        "sClass": "center"
                    },
                    {
                        "name" :  "MaterialReceiptDate",
                        "sClass": "center"
                    },
                    {
                        "name" :  "MechTestCompletionDate",
                        "sClass": "center"
                    },
                    {
                        "name" :  "ChecmicalTestCompletionTime",
                        "sClass": "center"
                    },
                    {
                        "name" :  "Remarks",
                        "sClass": "center"
                    },
                    //{
                    //    "bSortable": false,
                    //    "sClass": "center",
                    //    //"sWidth": "10%",
                    //    "render": function (data, type, row, meta) {
                    //        var buttons = "";
                    //        //buttons = '<center><a class="btn btn-xs green"   href="../MaintainPTR/MechMetDetails?Id=' + row[6] + '&HId='+row[7]+'">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //        buttons = '<center><button class="btn btn-xs green" onClick="getDetails(' + row[5] + ',' + row[6] + ');">View <i style="margin-left:5px;" class="fa fa-eye" ></i></button></center>';
                    //        return buttons;
                    //    }
                    //},
                     {
                         "sClass": "hide"

                     },
                ]
            });
           

        }




</script>



<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">

                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">


                            <div class="portlet light ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body form">
                                            <div class="form-body">
                                                <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                                    <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                                        <span class="page-title">Test Completion History Detail</span>
                                                    </div>
                                                    <div class="ribbon ribbon-right ribbon-color-warning ">
                                                        <b>Status :<span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                                                    </div>
                                                    <p class="ribbon-content"></p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a href="~/PTR/MaintainPTR/HeatPlateLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnHeatPlate">Heat/Plate No Details</a>
                                                        @if (!string.IsNullOrEmpty(Model.ChemicalTest) && Model.ChemicalTest.ToString().ToLower() == "true")
                                                        {
                                                            <a href="~/PTR/MaintainPTR/ChemLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnChem">Chemical Test Details</a>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.MechTest) && Model.MechTest.ToString().ToLower() == "true")
                                                        {
                                                            <a href="~/PTR/MaintainPTR/MechLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnMech">Mech/Met Test Details</a>
                                                        }
                                                        @if (Model.HTDetail.HasValue && Model.HTDetail.Value)
                                                        {
                                                            <a href="~/PTR/MaintainPTR/HTLogDetails?HeaderId=@Model.Id" class="btn green" style="float:right;" id="btnHT">HT Details</a>
                                                        }
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend>Project Detail</legend>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    Project
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.Project, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    BU
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    Location
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    RevNo.
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.RevNo,"R"+Model.RevNo, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label class="control-label">
                                                                    PTR No.
                                                                </label>
                                                                <div class="">
                                                                    @Html.TextBoxFor(m => m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                @{
                                                string strPTRTitle = ViewBag.Status + " PTR";
                                                }
                                                Test Completion History Details
                                            </div>
                                            <div class="tools"> </div>
                                        </div>

                                        <div class="portlet-body">
                                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                                            {
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPTRHeader" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="all">Coupon No</th>
                                                        <th class="min-phone-l">Coupon ID</th>
                                                        <th class="min-phone-l">Material Receipt Date</th>
                                                        <th class="min-phone-l">Mech/Met Test Completion Date</th>
                                                        <th class="min-phone-l">Chemical Test Completion Date</th>
                                                        <th class="min-phone-l">Remarks</th>
                                                        <th class="min-phone-l" style="display:none;">Id</th>
                                                    </tr>
                                                </thead>

                                                <tbody></tbody>
                                            </table>
                                            }
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                                @*<button class="btn green" type="button" id="btnSave">Save</button>&nbsp;&nbsp;*@

                                                <a href='@Url.Action("PTRLogDetails","MaintainPTR",new { HId = ViewBag.Id })' class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>