﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<script>

    $('input[type="text"],textarea').attr("readonly", "readonly");
    if ('@Model.PositionofGrooveTTSJointWeldingProcess1' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess1' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess1' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess1").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess1') }
    if ('@Model.PositionofGrooveTTSJointWeldingProcess2' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess2' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess2' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess2").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess2') }
    if ('@Model.PositionofGrooveTTSJointWeldingProcess3' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess3' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess3' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess3").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess3') }
    if ('@Model.PositionofGrooveTTSJointWeldingProcess4' != '' && '@Model.PositionofGrooveTTSJointWeldingProcess4' != "null" && '@Model.PositionofGrooveTTSJointWeldingProcess4' != null) { $("#txtPositionofGrooveTTSJointWeldingProcess4").val('@ViewBag.PositionofGrooveTTSJointWeldingProcess4') }
    if ('@Model.WeldingProgressionWeldingProcess1' != '' && '@Model.WeldingProgressionWeldingProcess1' != "null" && '@Model.WeldingProgressionWeldingProcess1' != null) { $("#txtWeldingProgressionWeldingProcess1").val('@ViewBag.WeldingProgressionWeldingProcess1') }
    if ('@Model.WeldingProgressionWeldingProcess2' != '' && '@Model.WeldingProgressionWeldingProcess2' != "null" && '@Model.WeldingProgressionWeldingProcess2' != null) { $("#txtWeldingProgressionWeldingProcess2").val('@ViewBag.WeldingProgressionWeldingProcess2') }
    if ('@Model.WeldingProgressionWeldingProcess3' != '' && '@Model.WeldingProgressionWeldingProcess3' != "null" && '@Model.WeldingProgressionWeldingProcess3' != null) { $("#txtWeldingProgressionWeldingProcess3").val('@ViewBag.WeldingProgressionWeldingProcess3') }
    if ('@Model.WeldingProgressionWeldingProcess4' != '' && '@Model.WeldingProgressionWeldingProcess4' != "null" && '@Model.WeldingProgressionWeldingProcess4' != null) { $("#txtWeldingProgressionWeldingProcess4").val('@ViewBag.WeldingProgressionWeldingProcess4') }
    if ('@Model.PositionoffilletWeldingProcess1' != '' && '@Model.PositionoffilletWeldingProcess1' != "null" && '@Model.PositionoffilletWeldingProcess1' != null) { $("#txtPositionoffilletWeldingProcess1").val('@ViewBag.PositionoffilletWeldingProcess1') }
    if ('@Model.PositionoffilletWeldingProcess2' != '' && '@Model.PositionoffilletWeldingProcess2' != "null" && '@Model.PositionoffilletWeldingProcess2' != null) { $("#txtPositionoffilletWeldingProcess2").val('@ViewBag.PositionoffilletWeldingProcess2') }
    if ('@Model.PositionoffilletWeldingProcess3' != '' && '@Model.PositionoffilletWeldingProcess3' != "null" && '@Model.PositionoffilletWeldingProcess3' != null) { $("#txtPositionoffilletWeldingProcess3").val('@ViewBag.PositionoffilletWeldingProcess3') }
    if ('@Model.PositionoffilletWeldingProcess4' != '' && '@Model.PositionoffilletWeldingProcess4' != "null" && '@Model.PositionoffilletWeldingProcess4' != null) { $("#txtPositionoffilletWeldingProcess4").val('@ViewBag.PositionoffilletWeldingProcess4') }

    if (WP1 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess1,#txtWeldingProgressionWeldingProcess1,#txtPositionoffilletWeldingProcess1").prop("disabled", "disabled");
    }
    if (WP2 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess2,#txtWeldingProgressionWeldingProcess2,#txtPositionoffilletWeldingProcess2").prop("disabled", "disabled");
    }
    if (WP3 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess3,#txtWeldingProgressionWeldingProcess3,#txtPositionoffilletWeldingProcess3").prop("disabled", "disabled");
    }
    if (WP4 == false) {
        $("#txtPositionofGrooveTTSJointWeldingProcess4,#txtWeldingProgressionWeldingProcess4,#txtPositionoffilletWeldingProcess4").prop("disabled", "disabled");
    }
</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmTTSF1" class="form-horizontal">
            <div class="form-group">

                <fieldset>
                    <legend>Base Metal(QW-403)</legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Parent/T#TS Material 1<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.ParentMaterial1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Group No 1</label>
                            @Html.TextBoxFor(m => m.GroupNo1, new { @class = "form-control col-md-3", @maxlength = "7" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Specification/Grade 1</label>
                            @Html.TextBoxFor(m => m.Specification1Grade1, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Parent/T#TS Material 2<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.ParentMaterial2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Group No 2</label>
                            @Html.TextBoxFor(m => m.GroupNo2, new { @class = "form-control col-md-3", @maxlength = "7" })
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Specification/Grade 2</label>
                            @Html.TextBoxFor(m => m.Specification2Grade2, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>T#TS</legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Tubesheet Thickness (mm)<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.TubesheetThk, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tube OD (mm)<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.TubeOD, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tube Thickness (mm)<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.TubeThickness, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Ligament (mm)<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.Ligament, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Pitch<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.Pitch, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tube Projection (mm)<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.TubeProjection, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Tube expanssion prior to welding<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.TubeExpansionPriorToWelding, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Other</label>
                            @Html.TextBoxFor(m => m.Other2, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>
                <fieldset><legend>Position (QW 405)</legend></fieldset>
                <fieldset>
                    <legend>Groove / T#TS Joint </legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Position of T#TS Joint:Welding Process1</label>
                            <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess1" name="txtPositionofGrooveTTSJointWeldingProcess1" />
                            @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess1)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Position of T#TS Joint:Welding Process2</label>
                            <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess2" name="txtPositionofGrooveTTSJointWeldingProcess2" />
                            @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess2)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Position of T#TS Joint:Welding Process3</label>
                            <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess3" name="txtPositionofGrooveTTSJointWeldingProcess3" />
                            @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess3)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Position of T#TS Joint:Welding Process4</label>
                            <input type="text" class="DistPositionOfJoint form-control col-md-3" id="txtPositionofGrooveTTSJointWeldingProcess4" name="txtPositionofGrooveTTSJointWeldingProcess4" />
                            @Html.HiddenFor(m => m.PositionofGrooveTTSJointWeldingProcess4)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Welding Progression : Welding Process 1</label>
                            <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess1" name="txtWeldingProgressionWeldingProcess1" />
                            @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess1)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Welding Progression : Welding Process2</label>
                            <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess2" name="txtWeldingProgressionWeldingProcess2" />
                            @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess2)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Welding Progression : Welding Process3</label>
                            <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess3" name="txtWeldingProgressionWeldingProcess3" />
                            @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess3)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Welding Progression : Welding Process4</label>
                            <input type="text" class="DistWeldingProgression form-control col-md-3" id="txtWeldingProgressionWeldingProcess4" name="txtWeldingProgressionWeldingProcess4" />
                            @Html.HiddenFor(m => m.WeldingProgressionWeldingProcess4)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Position of fillet: Welding Process 1</label>
                            <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess1" name="txtPositionoffilletWeldingProcess1" />
                            @Html.HiddenFor(m => m.PositionoffilletWeldingProcess1)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Position of fillet: Welding Process 2</label>
                            <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess2" name="txtPositionoffilletWeldingProcess2" />
                            @Html.HiddenFor(m => m.PositionoffilletWeldingProcess2)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Position of fillet: Welding Process 3</label>
                            <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess3" name="txtPositionoffilletWeldingProcess3" />
                            @Html.HiddenFor(m => m.PositionoffilletWeldingProcess3)
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Position of fillet: Welding Process 4</label>
                            <input type="text" class="DistPositionoffillet form-control col-md-3" id="txtPositionoffilletWeldingProcess4" name="txtPositionoffilletWeldingProcess4" />
                            @Html.HiddenFor(m => m.PositionoffilletWeldingProcess4)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Other<span class="required"> * </span></label>
                            @Html.TextBoxFor(m => m.Other7, new { @class = "form-control col-md-3", @maxlength = "150" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
