﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<script>
    $('input[type="text"],textarea').attr("readonly", "readonly");
    if ('@Model.TypeofPWHT' != '' && '@Model.TypeofPWHT' != "null" && '@Model.TypeofPWHT' != null) { $("#txtTypeofPWHT").val('@ViewBag.TypeofPWHT') }

</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmTTSF2" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Preheat (QW-406)</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label class="control-label">Thickness(mm)</label>
                                    @Html.TextBoxFor(m => m.Thickness1, new { @class = "form-control col-md-3", @maxlength = "8" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.Thickness, new { @class = "form-control col-md-3", @maxlength = "8" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.Thickness3, new { @class = "form-control col-md-3", @maxlength = "8" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.Thickness4, new { @class = "form-control col-md-3", @maxlength = "8" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.Thickness5, new { @class = "form-control col-md-3", @maxlength = "8" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.Thickness6, new { @class = "form-control col-md-3", @maxlength = "8" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label class="control-label">Preheat Temp °C(Min)</label>
                                    @Html.TextBoxFor(m => m.PreheatTemp1, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>

                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.PreheatTemp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.PreheatTemp3, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.PreheatTemp4, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.PreheatTemp5, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label"> &nbsp;</label>
                                    @Html.TextBoxFor(m => m.PreheatTemp6, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label class="control-label">Interpass Temp °C(Max)</label>
                                    @Html.TextBoxFor(m => m.InterpassTemp, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="col-md-12">
                    <div class="col-md-12" style="padding-left:0px;">
                        <fieldset>
                            <legend>DHT</legend>
                            <div class="col-md-2">
                                <label class="control-label">Min. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.Temp1, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Max. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.MaxTemp1, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.Time1, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                            <div class="col-md-2 display-none">
                                <label class="control-label">Max. Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.MaxTime1, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                        <fieldset>
                            <legend>ISR</legend>
                            <div class="col-md-2">
                                <label class="control-label">Min. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.Temp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Max. Temp (°C)</label>
                                @Html.TextBoxFor(m => m.MaxTemp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.Time2, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                            <div class="col-md-2 display-none">
                                <label class="control-label">Max. Time (Hrs)</label>
                                @Html.TextBoxFor(m => m.MaxTime2, new { @class = "form-control col-md-3", @maxlength = "10" })
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">P/H Maintenance</label>
                                @Html.TextAreaFor(m => m.PHMaintenance, new { @class = "form-control col-md-3", @maxlength = "100", @col = "1" })
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-12" style="padding-left:0px;">
                        <div class="col-md-12" style="padding-left:20px;">
                            <label class="control-label">Other</label>
                            @Html.TextAreaFor(m => m.Other3, new { @class = "form-control col-md-3", @maxlength = "100", @col = "1" })
                        </div>
                    </div>
                </div>

                <fieldset>
                    <legend>Postweld Heat Treatment (QW-407)</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Type of PWHT</label>
                            <input type="text" id="txtTypeofPWHT" name="txtTypeofPWHT" class="form-control col-md-3" />
                            @Html.HiddenFor(m => m.TypeofPWHT)
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">PWHT TempRange °C</label>
                            @Html.TextBoxFor(m => m.PWHTTempRange, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">PWHT TimeRange</label>
                            @Html.TextBoxFor(m => m.PWHTTimeRange, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Rate of Heat&Cool(C/Hr)</label>
                            @Html.TextBoxFor(m => m.RateofHeatingCooling, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Method of PWHT</label>
                            @Html.TextBoxFor(m => m.MethodofPWHT, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">PWHT Notes</label>
                            @Html.TextAreaFor(m => m.PWHTNotes, new { @class = "form-control col-md-3", @maxlength = "50" })
                        </div>
                        <div class="col-md-8">
                            <label class="control-label">Other</label>
                            @Html.TextAreaFor(m => m.Other4, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
