﻿@using IEMQSImplementation
@model QMS060
@{
    ViewBag.Title = "NDE Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>


<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $("#fromProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetProjectResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.qualityDescription, value: item.qualityDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#Project").val(projectcode);
                    var toProject = $("#toProject").val();
                    if (toProject == "" || toProject == undefined) {
                        $("#toProject").val(projectcode);
                    }
                  
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetProjectResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.qualityDescription, value: item.qualityDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromRequest").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetRequestNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term, fromQProject:  $("#fromProject").val(),
                        toQProject : $("#toProject").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.requestNo, value: item.requestNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item)
                {
                    isSelected = true;
                    var strFromRequest = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    var toRequest = $("#toRequest").val();
                    if (toRequest == "" || toRequest == undefined) {
                        $("#toRequest").val(strFromRequest);
                    }
                   
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toRequest").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetRequestNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term, fromQProject: $("#fromProject").val(),
                        toQProject: $("#toProject").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.requestNo, value: item.requestNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromPart").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetPartNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.partNo, value: item.partNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                   
                   var strFromPart = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                   
                    var topart = $("#toPart").val();
                    if (topart = "" || topart == undefined) {
                        ("#toPart").val(strFromPart);
                    }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toPart").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetPartNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.partNo, value: item.partNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    
                    //var strFromPart = ui.item.value;
                    ////var spltProjectDesc = strProjectDesc.split("-");
                    ////var projectcode = spltProjectDesc[0].trim();
                    ////$("#Project").val(projectcode);

                    //var topart = $("#toPart").val();
                    //if (topart = "" || topart == undefined) {
                    //    $("#toPart").val(strFromPart);
                    //}
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromSeam").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetSeamNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term, fromQProject: $("#fromProject").val(),
                        toQProject: $("#toProject").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.seamNo, value: item.seamNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui)
            { if (ui.item)
                {
                    
                    isSelected = true;
                    var strFromseam = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#toSeam").val($();

                var toSeam = $("#toSeam").val();
                if (toSeam == "" || toSeam == undefined) {
                    $("#toSeam").val(strFromseam);
                }

            }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toSeam").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetSeamNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term, fromQProject: $("#fromProject").val(),
                        toQProject: $("#toProject").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.seamNo, value: item.seamNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromStage").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetStagecodeResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.stageCode, value: item.stageCode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strfromstage = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);

                    var _tostage = $("#toStage").val();
                    if (_tostage == "" || _tostage == undefined) {
                        $("#toStage").val(strfromstage); 
                    }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toStage").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetStagecodeResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.stageCode, value: item.stageCode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromSequenceNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetStageSequenceNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.StageSequence, value: item.StageSequence };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var _fromSeqNO = ui.item.value;
                    ////var spltProjectDesc = strProjectDesc.split("-");
                    ////var projectcode = spltProjectDesc[0].trim();
                    ////$("#Project").val(projectcode);
                    
                    var_toSeqNo = $("#toSequenceNo").val();
                    if (var_toSeqNo == "" || var_toSeqNo == undefined)
                    {
                        $("#toSequenceNo").val(_fromSeqNO);
                   }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toSequenceNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetStageSequenceNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.StageSequence, value: item.StageSequence };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromIteration").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetIterationNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.iterationNo, value: item.iterationNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    
                    var strFromItrn = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                    var _toItrn = $("#toIteration").val();
                    if (_toItrn == "" || _toItrn == undefined) {
                        $("#toIteration").val(strFromItrn);
                    }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });


        $("#toIteration").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetIterationNoResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.iterationNo, value: item.iterationNo };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#fromShop").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetShopResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.shop, value: item.shop };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strFromShop = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                    var _toShoap = $("#toShop").val();
                    if (_toShoap == "" || _toShoap == undefined) {
                        $("#toShop").val(strFromShop);
                    }
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#toShop").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetShopResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.shop, value: item.shop };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#Location").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetLocationResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.location, value: item.location };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strfromLocation = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#StageType").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/NDERequest/GetStageTypeResult",
                    //url: "/Utility/General/GetAllProject",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.stageType, value: item.stageType };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    //var strProjectDesc = ui.item.value;
                    //var spltProjectDesc = strProjectDesc.split("-");
                    //var projectcode = spltProjectDesc[0].trim();
                    //$("#Project").val(projectcode);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });



        $("#fromSpotNo").on('blur', function () {
            var data = $("#fromSpotNo").val();
            var tospot = $("#toSpotNo").val();
            if (tospot == "" || tospot == undefined) {
                $("#toSpotNo").val(data);
            }
        });

        $("#fromOfferDate").on('blur', function ()
        {
           
            var data = $("#fromOfferDate").val();
            var toofferdate = $("#toOfferDate").val();
            if (toofferdate == "" || toofferdate == undefined) {
                $("#toOfferDate").val(data);
            }
        });

        
        $("#fromPart").on('blur', function () {
            
            var data = $("#fromPart").val();
            var toofferdate = $("#toPart").val();
            if (toofferdate == "" || toofferdate == undefined) {
                $("#toPart").val(data);
            }
        });

        $('#frmCreateHeader').validate({
            rules: {
                fromRequest: {
                    required: function () {
                        if ($("#ReportType").val() == "1" || $("#ReportType").val() == "3") {
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                },
                toRequest: {
                    required: function () {
                        if ($("#ReportType").val() == "1" || $("#ReportType").val() == "3") {
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                },
                fromProject: {
                    required: true
                },
                toProject: {
                    required: true
                },
                StageType: {
                    required: true
                },
                fromStage: {
                    required: function () {
                        if ($("#ReportType").val() == "1" || $("#ReportType").val() == "3") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                toStage: {
                    required: function () {
                        if ($("#ReportType").val() == "1" || $("#ReportType").val() == "3") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                fromSeam: {
                    required: function () {
                        if ($("#ReportType").val() == "1" || $("#ReportType").val() == "3") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                },
                toSeam: {
                    required: function () {
                        if ($("#ReportType").val() == "1" || $("#ReportType").val() == "3") {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                }
            },
            messages: {
                "fromRequest": {
                    required: "Request Number is Required"
                },
                "toRequest": {
                    required: "Request Number is Required"
                },
                "fromProject": {
                    required: "Project From is Required"
                },
                "toProject": {
                    required: "To Project is Required"
                },
                "StageType": {
                    required: "Stage Type is Required"
                }
            }
        });
    });
    function ClearAll() {
        $("#fromRequest").val('');
        $("#toRequest").val('');
        $("#fromProject").val('');
        $("#toProject").val('');
        $("#fromStage").val('');
        $("#toStage").val('');
        $("#fromSeam").val('');
        $("#toSeam").val('');
        $("#fromSequenceNo").val('');
        $("#toSequenceNo").val('');
        $("#fromRequest").val('');
        $("#fromIteration").val('');
        $("#toIteration").val('');
        $("#Location").val('');
        $("#StageType").val('');
        $("#fromShop").val('');
        $("#toShop").val('');
        $("#fromOfferDate").val('');
        $("#toOfferDate").val('');
        $("#RequestStatus").val('');
    }
    function PrintReport() {
        if ($("#frmCreateHeader").valid()) {
            bootbox.dialog({
                title: 'NDE Request Report',
                message: "Do You Want To Print Report?",
                buttons: {
                    'confirm': {
                        label: 'Print',
                        className: 'btn green',
                        callback: function () {
                            
                            var Stagetype = $("#StageType").val();
                            var ProjectFrom = $("#fromProject").val();
                            var ReportType = $("#ReportType").val();
                            var url = "";
                            var dat = [];
                            if (ReportType == "1") {
                                                                
                            }
                            else if (ReportType == "2") {
                                url = "/NDE/NOTAttendSeamRequest";
                                dat.push({ Param: "RequestNoFrom", Value: $("#fromRequest").val() });
                                dat.push({ Param: "RequestNoTo", Value: $("#toRequest").val() });
                                dat.push({ Param: "projectFrom", Value: $("#fromProject").val() });
                                dat.push({ Param: "projectTo", Value: $("#toProject").val() });
                                dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                                dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                                dat.push({ Param: "IterationNoFrom", Value: $("#fromIteration").val() });
                                dat.push({ Param: "IterationNoTo", Value: $("#toIteration").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "ShopFrom", Value: $("#fromShop").val() });
                                dat.push({ Param: "ShopTo", Value: $("#toShop").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "offerdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "RequestStatus", Value: $("#RequestStatus").val() });
                                dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                                dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                                dat.push({ Param: "StageSequenceFrom", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "StageSequenceTo", Value: $("#toSequenceNo").val() });

                            }
                            else if (ReportType == "3") {
                                
                            }
                            else if (ReportType == "4") {
                                url = "/NDE/RT_Not_Attended_SeamRequest";
                                dat.push({ Param: "RequestNoFrom", Value: $("#fromRequest").val() });
                                dat.push({ Param: "RequestNoTo", Value: $("#toRequest").val() });
                                dat.push({ Param: "projectFrom", Value: $("#fromProject").val() });
                                dat.push({ Param: "projectTo", Value: $("#toProject").val() });
                                dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                                dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                                dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                                dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                                dat.push({ Param: "StageSequenceFrom", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "StageSequenceTo", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "IterationNoFrom", Value: $("#fromIteration").val() });
                                dat.push({ Param: "IterationNoTo", Value: $("#toIteration").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "ShopFrom", Value: $("#fromShop").val() });
                                dat.push({ Param: "ShopTo", Value: $("#toShop").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "offerdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "RequestStatus", Value: $("#RequestStatus").val() });
                            }
                            else if (ReportType == "5") {
                                url = "/NDE/UT_Not_Attended_SeamRequest";
                                dat.push({ Param: "RequestNoFrom", Value: $("#fromRequest").val() });
                                dat.push({ Param: "RequestNoTo", Value: $("#toRequest").val() });
                                dat.push({ Param: "projectFrom", Value: $("#fromProject").val() });
                                dat.push({ Param: "projectTo", Value: $("#toProject").val() });
                                dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                                dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                                dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                                dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                                dat.push({ Param: "StageSequenceFrom", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "StageSequenceTo", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "IterationNoFrom", Value: $("#fromIteration").val() });
                                dat.push({ Param: "IterationNoTo", Value: $("#toIteration").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "ShopFrom", Value: $("#fromShop").val() });
                                dat.push({ Param: "ShopTo", Value: $("#toShop").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "offerdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "RequestStatus", Value: $("#RequestStatus").val() });
                            }
                            else if (ReportType == "6") {
                             
                                url = "/NDE/SEAM_PAUT_REPORT";
                                dat.push({ Param: "QualityProject_f", Value: $("#fromProject").val() });
                                dat.push({ Param: "QualityProject_t", Value: $("#toProject").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "Seam_f", Value: $("#fromSeam").val() });
                                dat.push({ Param: "Seam_t", Value: $("#toSeam").val() });
                                dat.push({ Param: "Seqn_f", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "Seqn_t", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "Itrn_f", Value: $("#fromIteration").val() });
                                dat.push({ Param: "Itrn_t", Value: $("#toIteration").val() });
                                dat.push({ Param: "Spot_f", Value: $("#fromSpotNo").val() });
                                dat.push({ Param: "Spot_t", Value: $("#toSpotNo").val() });
                                dat.push({ Param: "Request_f", Value: $("#fromRequest").val() });
                                dat.push({ Param: "Request_t", Value: $("#toRequest").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "OfferdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "Shop_f", Value: $("#fromShop").val() });
                                dat.push({ Param: "Shop_t", Value: $("#toShop").val() });
                                dat.push({ Param: "Stage_f", Value: $("#fromStage").val() });
                                dat.push({ Param: "Stage_t", Value: $("#toStage").val() });
                            }
                            else if (ReportType == "7") {
                                url = "/NDE/SEAM_RT_Report_With_Technique_Sheet";
                                dat.push({ Param: "QualityProject_f", Value: $("#fromProject").val() });
                                dat.push({ Param: "QualityProject_t", Value: $("#toProject").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "Seam_f", Value: $("#fromSeam").val() });
                                dat.push({ Param: "Seam_t", Value: $("#toSeam").val() });
                                dat.push({ Param: "Seqn_f", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "Seqn_t", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "Itrn_f", Value: $("#fromIteration").val() });
                                dat.push({ Param: "Itrn_t", Value: $("#toIteration").val() });
                                dat.push({ Param: "Spot_f", Value: $("#fromSpotNo").val() });
                                dat.push({ Param: "Spot_t", Value: $("#toSpotNo").val() });                              
                                dat.push({ Param: "Request_f", Value: $("#fromRequest").val() });
                                dat.push({ Param: "Request_t", Value: $("#toRequest").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "OfferdateTo", Value: $("#toOfferDate").val() });                                
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "Shop_f", Value: $("#fromShop").val() });
                                dat.push({ Param: "Shop_t", Value: $("#toShop").val() });
                                dat.push({ Param: "Stage_f", Value: $("#fromStage").val() });
                                dat.push({ Param: "Stage_t", Value: $("#toStage").val() });
                            }
                            else if (ReportType == "10") {
                                url = "/NDE/SEAM_RT_Report_Without_Technique_Sheet";
                                dat.push({ Param: "QualityProject_f", Value: $("#fromProject").val() });
                                dat.push({ Param: "QualityProject_t", Value: $("#toProject").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "Seam_f", Value: $("#fromSeam").val() });
                                dat.push({ Param: "Seam_t", Value: $("#toSeam").val() });
                                dat.push({ Param: "Seqn_f", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "Seqn_t", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "Itrn_f", Value: $("#fromIteration").val() });
                                dat.push({ Param: "Itrn_t", Value: $("#toIteration").val() });
                                dat.push({ Param: "Spot_f", Value: $("#fromSpotNo").val() });
                                dat.push({ Param: "Spot_t", Value: $("#toSpotNo").val() });
                                dat.push({ Param: "Request_f", Value: $("#fromRequest").val() });
                                dat.push({ Param: "Request_t", Value: $("#toRequest").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "OfferdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "Shop_f", Value: $("#fromShop").val() });
                                dat.push({ Param: "Shop_t", Value: $("#toShop").val() });
                                dat.push({ Param: "Stage_f", Value: $("#fromStage").val() });
                                dat.push({ Param: "Stage_t", Value: $("#toStage").val() });
                            }
                            else if (ReportType == "8") {
                                url = "/NDE/SEAM_TOFD_Report";
                                dat.push({ Param: "QualityProject_f", Value: $("#fromProject").val() });
                                dat.push({ Param: "QualityProject_t", Value: $("#toProject").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "Seam_f", Value: $("#fromSeam").val() });
                                dat.push({ Param: "Seam_t", Value: $("#toSeam").val() });
                                dat.push({ Param: "Seqn_f", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "Seqn_t", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "Itrn_f", Value: $("#fromIteration").val() });
                                dat.push({ Param: "Itrn_t", Value: $("#toIteration").val() });
                                dat.push({ Param: "Spot_f", Value: $("#fromSpotNo").val() });
                                dat.push({ Param: "Spot_t", Value: $("#toSpotNo").val() });
                                dat.push({ Param: "Request_f", Value: $("#fromRequest").val() });
                                dat.push({ Param: "Request_t", Value: $("#toRequest").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "OfferdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "Shop_f", Value: $("#fromShop").val() });
                                dat.push({ Param: "Shop_t", Value: $("#toShop").val() });
                                dat.push({ Param: "Stage_f", Value: $("#fromStage").val() });
                                dat.push({ Param: "Stage_t", Value: $("#toStage").val() });
                            }
                            else if (ReportType == "9") {
                                url = "/NDE/SEAM_UT_Report";                                
                                dat.push({ Param: "QualityProject_f", Value: $("#fromProject").val() });
                                dat.push({ Param: "QualityProject_t", Value: $("#toProject").val() });
                                dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                dat.push({ Param: "Seam_f", Value: $("#fromSeam").val() });
                                dat.push({ Param: "Seam_t", Value: $("#toSeam").val() });
                                dat.push({ Param: "Seqn_f", Value: $("#fromSequenceNo").val() });
                                dat.push({ Param: "Seqn_t", Value: $("#toSequenceNo").val() });
                                dat.push({ Param: "Itrn_f", Value: $("#fromIteration").val() });
                                dat.push({ Param: "Itrn_t", Value: $("#toIteration").val() });
                                dat.push({ Param: "Spot_f", Value: $("#fromSpotNo").val() });
                                dat.push({ Param: "Spot_t", Value: $("#toSpotNo").val() });
                                dat.push({ Param: "Request_f", Value: $("#fromRequest").val() });
                                dat.push({ Param: "Request_t", Value: $("#toRequest").val() });
                                dat.push({ Param: "OfferdateFrom", Value: $("#fromOfferDate").val() });
                                dat.push({ Param: "OfferdateTo", Value: $("#toOfferDate").val() });
                                dat.push({ Param: "Location", Value: $("#Location").val() });
                                dat.push({ Param: "Shop_f", Value: $("#fromShop").val() });
                                dat.push({ Param: "Shop_t", Value: $("#toShop").val() });
                                dat.push({ Param: "Stage_f", Value: $("#fromStage").val() });
                                dat.push({ Param: "Stage_t", Value: $("#toStage").val() });
                            }
                            //console.log(dat);
                            if (ReportType == "1" || ReportType == "3") {
                                InsertInspectionCertificate();
                            }
                            else {
                                ShowReport(dat, url);
                                //ClearAll();
                            }
                        }
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            })
        } else {
            HighlightInValidControls();
            return false;
        }
    }

    function InsertInspectionCertificate() {
        fromQualityProject = $("#fromProject").val();
        toQualityProject = $("#toProject").val();
        fromStageCode = $("#fromStage").val();
        toStageCode = $("#toStage").val();
        fromSeam = $("#fromSeam").val();
        toSeam = $("#toSeam").val();
        stageType = $("#StageType").val();

        $.ajax({
            url: WebsiteURL + "/IPI/NDERequest/InsertInspectionCertificate",
            type: "POST",
            datatype: "json",
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { fromQualityProject: fromQualityProject, toQualityProject: toQualityProject, fromSeam: fromSeam, toSeam: toSeam, fromStageCode: fromStageCode, toStageCode: toStageCode, stageType: stageType },
            success: function (data) {
                var ReportType = $("#ReportType").val();
                var url = "";
                var dat = [];
                if (ReportType == "1") {                   
                    url = "/NDE/MT_Report";
                    dat.push({ Param: "projectFrom", Value: $("#fromProject").val() });
                    dat.push({ Param: "projectTo", Value: $("#toProject").val() });
                    dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                    dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                    dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                    dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                    dat.push({ Param: "StageType", Value: $("#StageType").val() });
                }                
                else if (ReportType == "3") {
                    url = "/NDE/PT_Report";
                    dat.push({ Param: "projectFrom", Value: $("#fromProject").val() });
                    dat.push({ Param: "projectTo", Value: $("#toProject").val() });
                    dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                    dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                    dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                    dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                    dat.push({ Param: "StageType", Value: $("#StageType").val() });
                }
                ShowReport(dat, url);
                //ClearAll();
            },
            error: function () {
                DisplayNotiMessage("error", "Error occured please try again", "Error");
            }
        });
    }
</script>
<!DOCTYPE html>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-form ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    NDE Print Report
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {

                <div class="portlet-body">
                    @*@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrintReport", @class = "form-horizontal" }))
                        {*@
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label">From Quality Project</label>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBox("fromProject", "", new { @class = "form-control col-md-3" })


                                    @*<input type="text" id="fromProject" name="fromProject" class="form-control col-md-3" />*@
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">To Quality Project</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toProject" name="toProject" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label">From RequestNo</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromRequest" value="" name="fromRequest" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">To RequestNo</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toRequest" value="" name="toRequest" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label  ">From Seam</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromSeam" value="" name="fromSeam" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Seam</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toSeam" value="" name="toSeam" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label  ">From Part</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromPart" value="" name="fromPart" class="form-control col-md-3 part" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Part</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toPart" value="" name="toPart" class="form-control col-md-3 part" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label">From Stage</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromStage" value="" name="fromStage" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Stage</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toStage" value="" name="toStage" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">From Sequence</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromSequenceNo" value="" name="fromSequenceNo" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Sequence</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toSequenceNo" value="" name="toSequenceNo" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">From Spot</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromSpotNo" value="" name="fromSpotNo" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Spot</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toSpotNo" value="" name="toSpotNo" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">From Iteration No</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromIteration" value="" name="fromIteration" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Iteration No</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toIteration" value="" name="toIteration" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">From Shop</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="fromShop" value="" name="fromShop" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Shop</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="toShop" value="" name="toShop" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">From Offer Date</label>
                                </div>
                                <div class="col-md-2">
                                    @*<input type="text" id="fromOfferDate" value="" name="fromOfferDate" class="form-control col-md-3" />*@
                                    <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                        @Html.TextBox("fromOfferDate", "", "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button class="btn default" id="btncal1" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @*<input type="date" style=" width:100%; height:35px" class="form-control" id="fromOfferDate" data-date-format="yyyy/mm/dd" />*@
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">To Offer Date</label>
                                </div>
                                <div class="col-md-2">
                                    @*<input type="text" id="toOfferDate" value="" name="toOfferDate" class="form-control col-md-3" />*@
                                    <div id="datetime2" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                        @Html.TextBox("toOfferDate", "", "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button class="btn default" id="btncal1" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @*<input type="date" style=" width:100%; height:35px" class="form-control" id="toOfferDate" />*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">Location</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="Location" value="" name="Location" class="form-control col-md-3" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">Stage Type</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" id="StageType" value="" name="StageType" class="form-control col-md-3" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <label class="control-label ">Request Status</label>
                                </div>
                                <div class="col-md-2">
                                    @*<input type="text" id="RequestStatus" value="" name="RequestStatus" class="form-control col-md-3" />*@
                                    <select name="RequestStatus" id="RequestStatus" style="width:100%; height:35px" class="form-control">
                                        <option value="0">-- Select --</option>
                                        <option value="Attended">Attended</option>
                                        <option value="Not Attended">Not Attended</option>
                                    </select>

                                </div>
                                <div class="col-md-2">
                                    <label class="control-label ">Report Type</label>
                                </div>
                                <div class="col-md-2">
                                    <select name="ReportType" id="ReportType" style="width:100%; height:35px" class="form-control">
                                        <option value="1">MT Report</option>
                                        <option value="2">Not Attended Request</option>
                                        <option value="3">PT Report</option>
                                        <option value="4">RT Not Attended Seam Request</option>
                                        <option value="5">UT Not Attended Seam Request</option>
                                        <option value="6">Seam PAUT</option>
                                        <option value="7">Seam RT With Technique Sheet</option>
                                        <option value="10">Seam RT Without Technique Sheet</option>
                                        <option value="8">Seam TOFD Report</option>
                                        <option value="9">Seam UT Report</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-2"></div>
                                <div class="col-md-6" style="text-align:center;margin-top:30px;">
                                    <input type="button" class="btn green" id="btnGenerate" onclick="PrintReport()" value="Print Report" />
                                </div>

                            </div>
                        </div>


                    </div>

                    @*  }*@
                </div>
                }
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
