﻿@using IEMQSImplementation
@model IEMQS.Areas.Authenticate.Models.clsLogin
@{
    clsBase clsbase = new clsBase();
    var AllowRememberMe = false;
    var objRememberMe = clsbase.db.CONFIG.FirstOrDefault(i => i.Key == "AllowRememberMe");
    var LoginAutocomplate = clsbase.db.CONFIG.FirstOrDefault(i => i.Key == "IsLoginAutocomplate");
    var IsLoginAutocomplate = LoginAutocomplate == null ? "false" : LoginAutocomplate.Value;
    if (objRememberMe != null)
    {
        AllowRememberMe = Convert.ToBoolean(objRememberMe.Value);
    }
}
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>
<style>
    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }
</style>
<script>

    $(document).ready(function () {
        $("#aTroubleLogin").click(function () {
            bootbox.alert("Please use your domain credentials for login");
            //alert("Trouble Login?");
        });
        ColorServer('spncopyright')
        if ('@IsLoginAutocomplate'.toLowerCase() == 'true') {
            $('#Username').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL + "/Authentication/Authenticate/GetUsers",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        async: false,
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.text, value: item.id, id: item.id };
                            }));
                        }
                    });
                },
                autoFocus: true,
                minLength: 1
            });
        }
    })
</script>
<script>
    window.onload = function () {
        var date = new Date().getFullYear();
        document.getElementById("year").innerHTML = date;
    }
</script>
@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLogin", @class = "login-form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br style="clear:both;" />
    <div class="alert alert-danger" style="display:none">
        <button class="close" data-close="alert"></button>
        <span>Enter any username and password. </span>
    </div>
    <div class="input">
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-solid placeholder-no-fix form-group", autocomplete = "off", @placeholder = "Username", autofocus = true })
    </div>
    <div class="input">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-solid placeholder-no-fix form-group", autocomplete = "off", @placeholder = "Password" })
        @*<input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" required />*@
    </div>
    if (AllowRememberMe)
    {
        <div>
            <input type="checkbox" id="chkRememberMe" name="chkRememberMe" class="largerCheckbox" style="position: relative;float: left;margin-top: 20px;" />
            <label id="lblRememberMe" for="chkRememberMe" style="position: relative;float: left;margin-top: 20px;font-size:18px;padding-left:10px;">Remember Me</label>
        </div>
    }
    <div class="button login">
        <button type="button" id="btnLogin"><span>Login</span> <i class="fa fa-check"></i></button>
    </div>
    <p class="pass-forgot"><span id="spncopyright"><b>&copy;</b> </span> <span id="year"></span> L&T Heavy Engineering </p>
    <a class="pass-forgot" id="aTroubleLogin">Trouble In Login?</a>
}
