﻿@model IEMQSImplementation.PRL335
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">

                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                                <span class="page-title">
                                    @ViewBag.Title.ToString() 
                                </span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                        <tr>
                                            <td class="subtitle"> PROJECT NO.</td>
                                            <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="subtitle"> DATE</td>
                                            <td>
                                                @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                            <td> @ViewBag.ProjectDesc</td>
                                            <td class="subtitle"> SEAM NO.</td>
                                            <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                            <td>
                                                <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select", @maxlength = "100" })</span>
                                                <span> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                                            </td>
                                            <td class="subtitle">INSPECTION AGENCY</td>
                                            <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                            <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                            <td class="subtitle">MANUFACTURING CODE</td>
                                            <td>@ViewBag.ManufacturingCode</td>
                                        </tr>
                                        <tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tbody>
                                            <tr>
                                                <td class="subtitle">STAGE </td>
                                                <td> @Html.DropDownListFor(model => model.Stage, new SelectList(@ViewBag.Stage, "Value", "Text"), "Select", new { @class = "form-control", @maxlength = "30", @role = "QC" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left;">

                                                </span>
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>SR NO.</th>
                                                            <th>SEAM NO OF COVERED WELD SEAM</th>
                                                            <th>REQUIRED PRESSURE</th>
                                                            <th>ACTUAL PRESSURE</th>
                                                            <th>REMARKS</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction"></th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL336 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL336 as List<PRL336>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SrNo"><label>@item.SrNo</label>
                                                                    <td class="SeamNoOfCoveredWeldSeam"> @Html.TextBox("SeamNoOfCoveredWeldSeam_1_" + @s1, @item.SeamNoOfCoveredWeldSeam, new { @class = "form-control width125px", @maxlength = "50", @role = "QC", @onchange = "ValidateSeamNo(this)" })</td>
                                                                    <td class="RequiredPressure"> @Html.TextBox("RequiredPressure_1_" + @s1, @item.RequiredPressure, new { @class = "form-control width125px", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="ActualPressure"> @Html.TextBox("ActualPressure_1_" + @s1, @item.ActualPressure, new { @class = "form-control width125px entQcAttend", @maxlength = "20", @role = "QC" })</td>
                                                                    <td class="Remarks"> @Html.TextBox("Remarks_1_" + @s1, @item.Remarks, new { @class = "form-control width125px entQcAttend", @maxlength = "100", @role = "",@onfocusout= "TopFocus("+@s1+");" })</td>

                                                                    @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <strong>
                                        <span style="float:left;">
                                            <strong>PRESSURE GAUGE DETAILS </strong>
                                            @Html.DropDownListFor(model => model.PressureGaugeDetails, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvPressureGaugeDetails\")" })
                                        </span>
                                        <br />
                                        <br />
                                    </strong>
                                </div>
                            </div>

                            <div class="col-md-12" id="dvPressureGaugeDetails">
                                <div class="col-md-12">

                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">
                                            </div>
                                            <div class="tools">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines2">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">HeaderId</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>GAUGE SERIAL NUMBER</th>
                                                            <th>GAUGE CALIBRATION DUE DATE</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRL337 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRL337 as List<PRL337>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="GaugeSerialNumber"> @Html.TextBox("GaugeSerialNumber_2_" + @s2, @item.GaugeSerialNumber, new { @class = "form-control GaugeSerialNumber width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="GaugeCelebrationDueDate">@Html.TextBox("GaugeCelebrationDueDate_2_" + @s2, @item.GaugeCelebrationDueDate, "{0:dd/MM/yyyy}", new { @class = "form-control GaugeCelebrationDueDate width125px datepicker", @role = "QC" })</td>
                                                                    @if ((string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td colspan="2">
                                                NOTES: @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @maxlength = "500", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="text-align:left;">
                                        <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                    </div>
                                    <div class="col-md-6" style="text-align:right;">
                                        @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                            <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                        }
                                    </div>
                                </div>
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';

    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('.datepicker').datepicker({ orientation: "auto", autoclose: true, format: "dd/mm/yyyy" });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));
        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);
        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $("#PressureGaugeDetails").attr("style", "pointer-events: none;");
            $("#Notes").attr("readonly", true);
        }

        $('#PressureGaugeDetails').val('NA');

        if ('@Model.Stage' != "") { $('#Stage').val('@Model.Stage'); }
        if ('@Model.PressureGaugeDetails' != "") { $('#PressureGaugeDetails').val('@Model.PressureGaugeDetails'); }

        showCladtripTable($('#PressureGaugeDetails').val(), "dvPressureGaugeDetails");

        if (isQCRemarkEditable.toLowerCase() == "true") {
            $(".entQcAttend").attr("readonly", false);
            $("#Notes").attr("readonly", false);
            $("#PressureGaugeDetails").attr("style", "pointer-events: visiblefill;");
            AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'GaugeSerialNumber', ['GaugeSerialNumber', 'GaugeCelebrationDueDate'], AddTbl2NewTrRow, true);
            if ($("#ActualPressure_1_1").length > 0) {
                $("#ActualPressure_1_1").focus();
            }
            if ($("#ActualPressure_1_1").length > 0) {
                $("#ActualPressure_1_1").focus();
            }
        }
        else {
            $(".entQcAttend").attr("disabled", "disabled");
        }
       
    });

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL068", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=0", userRole, false, LoadSaveAndDraft);
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'SeamNoOfCoveredWeldSeam', ['SeamNoOfCoveredWeldSeam', 'RequiredPressure'], AddTbl1NewTrRow, true);
               
                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
       $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SrNo": $('td.SrNo Label', this).text(),
                "SeamNoOfCoveredWeldSeam": $('td.SeamNoOfCoveredWeldSeam input', this).val(),
                "RequiredPressure": $('td.RequiredPressure input', this).val(),
                "ActualPressure": $('td.ActualPressure input', this).val(),
                "Remarks": $('td.Remarks input', this).val()
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "GaugeSerialNumber": $('td.GaugeSerialNumber input', this).val(),
                "GaugeCelebrationDueDate": $('td.GaugeCelebrationDueDate input', this).val()
            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2Linkage" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
             + "<td class=\"SrNo center\"><Label id=\"SrNo" + NewTrRowNum + "\"  name=\"SrNo" + NewTrRowNum + "\">" + row + "</td>"
             + "<td class=\"SeamNoOfCoveredWeldSeam\"><input class=\"form-control width125px  EditableTextColor QCTextbox islastrow \" id=\"SeamNoOfCoveredWeldSeam_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"SeamNoOfCoveredWeldSeam_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,'btnSaveDraft',false,1,'hdGrid1LastRow','tblProtocolLines1','SeamNoOfCoveredWeldSeam', ['SeamNoOfCoveredWeldSeam', 'RequiredPressure'],AddTbl1NewTrRow,null,ValidateSeamNo)\" value=\"\" aria-invalid=\"false\" ></td>"
             + "<td class=\"RequiredPressure center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"RequiredPressure_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"RequiredPressure_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','SeamNoOfCoveredWeldSeam', ['SeamNoOfCoveredWeldSeam', 'RequiredPressure'],AddTbl1NewTrRow)\"></td>"
             + "<td class=\"ActualPressure center \"><input class=\"form-control entQcAttend islastrow NonEditableTextColor  QCTextbox\" id=\"ActualPressure_1_" + NewTrRowNum + "\" maxlength=\"20\" name=\"ActualPressure_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"  disabled=\"disabled\"></td>"
             + "<td class=\"Remarks center \"><input class=\"form-control entQcAttend islastrow  NonEditableTextColor  \" id=\"Remarks_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"Remarks_1_" + NewTrRowNum + "\" role=\"\" type=\"text\" disabled=\"disabled\"></td>"
             + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"GaugeSerialNumber\"><input class=\"form-control GaugeSerialNumber width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'Notes',false,2,'hdGrid2LastRow','tblProtocolLines2','GaugeSerialNumber',['GaugeSerialNumber','GaugeCelebrationDueDate'],AddTbl2NewTrRow); Test1213(" + NewTrRowNum + ");\" id=\"GaugeSerialNumber_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"GaugeSerialNumber_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"GaugeCelebrationDueDate\"><input class=\"form-control GaugeCelebrationDueDate datepicker clsAddNew width125px valid EditableTextColor QCTextbox islastrow\" id=\"GaugeCelebrationDueDate_2_" + NewTrRowNum + "\" name=\"GaugeCelebrationDueDate_2_" + NewTrRowNum + "\" type=\"text\" aria-invalid=\"false\" onblur=\"AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','GaugeSerialNumber',['GaugeSerialNumber','GaugeCelebrationDueDate'],AddTbl2NewTrRow)\" role=\"QC\" type=\"text\"></td>" +
            "<td  class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;
    }

    function Test1213(No) {
        $('#GaugeCelebrationDueDate_2_' + No).datepicker({ format: "dd/mm/yyyy" });
    }

    function ValidateSeamNo($this) {
        var flag = CheckSeamInSeamList($this, '@Model.QualityProject', '@Model.Location');
        return flag;
    }

    function TopFocus(No) {
        var count = parseInt(No) + 1;

        if ($("#ActualPressure_1_" + count).length) {
            $("#ActualPressure_1_" + count).focus();
        }
    }

</script>