﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
    }

    .customtextarea {
        height: 33px !important;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .page-container-bg-solid .m-heading-1.m-bordered {
        border-right: 1px solid currentcolor;
        border-top: 1px solid currentcolor;
        border-bottom: 1px solid currentcolor;
    }

    .portlet > .portlet-body p {
        margin-top: 2px;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                </div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                {
                    <div class="form-group">
                        <div class="col-md-12">
                            <div id="dvHeader">
                                <!--Start:  Create Page -->
                                <fieldset id="fdCreate">
                                    <legend> Basic Details</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Sync with  <span class="required">*</span></label>
                                                <div class="">
                                                    <input type="text" id="txtSync" value="" name="txtSync" class="form-control clsclear" />
                                                    <input type="hidden" id="hdSync" class="clsclear" />
                                                    <input type="hidden" id="hdWMR" class="clsclear" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Project  <span class="required clsBOM">*</span></label>
                                                <div class="">
                                                    <input type="text" id="txtProject" value="" name="txtProject" class="form-control clsCom011 clsclear" disabled />
                                                    <input type="hidden" id="hdProject" class="clsclear" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Location  <span class="required clsBOM">*</span></label>
                                                <div class="">
                                                    <input type="text" id="txtLocation" value="" name="txtLocation" class="form-control clsCom011 clsclear" disabled />
                                                    <input type="hidden" id="hdLocation" class="clsclear" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Item  <span class="required clsBOMItem">*</span></label>
                                                <div class="">
                                                    <input type="text" id="txtItem" value="" maxlength="45" name="txtItem" class="form-control clsCom012 clsclear" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr />
                                            <div class="col-md-12" style="text-align:right">
                                                    <a class="btn yellow" id="btnSubmit">
                                                        Sync
                                                        <i class="iconspace fa fa-refresh"></i>
                                                    </a>
                                                    <a class="btn cancel" id="btnClear">
                                                        Clear
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div style="height:20px"></div>
                                <div id="dvSyncGrid"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var lstProject = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Project))));
        FillAutoCompleteForEnum($("#txtProject"), lstProject, $("#hdProject"))

        var lstLocation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Location))));
        FillAutoCompleteForEnum($("#txtLocation"), lstLocation, $("#hdLocation"))

        var lstSync = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Sync))));
        FillAutoCompleteForEnum($("#txtSync"), lstSync, $("#hdSync"))

        $(".clsBOMItem").hide();
        $(".clsBOM").hide();

        $("#txtItem").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/SyncBOMData/GetItemResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.id, value: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {

                }
            },
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

        $("#txtItem").blur(function () {
            if ($(this).val() != "" && $(this).val() != null && $(this).val() != undefined) { LoadDataGrid("", $(this).val()); }
            else
            { $("#dvSyncGrid").empty(); }
        });

        $("#txtProject,#txtLocation,#txtSync").blur(function () {
            if ($("#txtSync").val() != "") {
                if ($("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM012.GetStringValue()') {
                    $(".clsBOMItem").show();
                    $(".clsBOM").hide();
                    $(".clsCom011").val('').attr("disabled", true);
                    $(".clsCom012").attr("disabled", false);
                }
                else if ($("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM011.GetStringValue()') {
                    $(".clsBOMItem").hide();
                    $(".clsBOM").show();
                    $(".clsCom011").attr("disabled", false);
                    $(".clsCom012").val('').attr("disabled", true);
                }

                if ($("#txtProject").val() != "" && $("#txtLocation").val() != "" && $("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM011.GetStringValue()') {
                    var wmr = $("#hdProject").val() + "-" + $("#hdLocation").val().charAt(0) + '-' + 'WMR';
                    $("#hdWMR").val(wmr);
                    LoadDataGrid(wmr, "");
                }
                else if ($("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM012.GetStringValue()') {
                    LoadDataGrid("", $("#txtItem").val());
                }
                else {
                    $("#dvSyncGrid").empty();
                }
            }
            else {
                $(".clsclear").val('');
                $(".clsBOMItem").hide();
                $(".clsBOM").hide();
                $(".clsCom011").val('').attr("disabled", true);
                $(".clsCom012").val('').attr("disabled", true);
            }
        });

        $('#frmCreateHeader').validate({
            rules: {
                txtProject: {
                    required: function () {
                        if ($("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM011.GetStringValue()') {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                },
                txtLocation: {
                    required: function () {
                        if ($("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM011.GetStringValue()') {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                },
                txtSync: {
                    required: true,
                },
                txtItem: {
                    required: function () {
                        if ($("#txtSync").val() == '@clsImplementationEnum.SyncBOMData.COM012.GetStringValue()') {
                            return true;
                        }
                        else {
                            return false;
                        }
                    },
                }
            },
            messages: {
                txtProject: { required: "Project is required" },
                txtLocation: { required: "Location is required" },
                txtSync: { required: "Sync required" },
                txtItem: { required: "Item Name is required", }
            }
        });

        $("#btnSubmit").click(function () {
            if ($('#frmCreateHeader').valid()) {
                SyncData();
            } else {
                HighlightInValidControls();
            }
        });

        $("#btnClear").click(function () {
            $(".clsclear").val('');
            $("#dvSyncGrid").empty();
        });
    });

    function SyncData() {
        bootbox.dialog({
            title: 'Sync BOM Data Document',
            message: 'Do you want to Sync Data?',
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {

                        $.ajax({
                            url: WebsiteURL + "/IPI/SyncBOMData/SyncData",
                            type: "POST",
                            datatype: 'json',
                            data: {
                                Project: $("#hdProject").val(),
                                Location: $("#hdLocation").val(),
                                Sync: $("#hdSync").val(),
                                item: $("#txtItem").val(),
                            },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    LoadDataGrid(data.ActionValue, data.item);
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                    return false;
                                }
                            },
                            error: function () {
                            }
                        });

                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },

        });
    }

    function LoadDataGrid(wmr, item) {
        $("#dvSyncGrid").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/SyncBOMData/LoadDataGridPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { wmr: wmr, item: item },
            success: function (result) {
                $("#dvSyncGrid").html(result);
            },
            error: function () {
            }
        });
    }

</script>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>


