﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            MT Consumable List
            @*@{
                    string strCTQTitle = ViewBag.Status + " MT Consumable";
                }
                @strCTQTitle*@
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/ConsumeMTMaster/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100" id="tblMT" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">Quality Project </th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">Method</th>
                    <th class="min-phone-l">MT Consumable</th>
                    <th class="min-phone-l">Created By</th>
                    <th class="min-phone-l">Created On</th>
                    <th class="none">Manufacturer</th>
                    <th class="none">Brand</th>
                    <th class="none">Remark</th>
                    <th class="none">RevNo.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        var table = $('#tblMT');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/ConsumeMTMaster/LoadMTData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "MTStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name": "QualityProject",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Project",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "NDE.Project+'-'+com1.t_dsca"
                },
                {
                    "name": "BU",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "NDE.BU+'-'+bcom2.t_desc"
                },
                {
                    "name": "Location",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "NDE.Location+'-'+ lcom2.t_desc"
                },
                {
                    "name": "Method",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "MTConsuNo",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "CreatedBy",
                    "bSortable": true,
                    "sClass": "center",
                    "ColName": "NDE.CreatedBy+'-'+c32.t_namb"
                },
                {
                    "name": "CreatedOn",
                    "bSortable": true,
                    "sClass": "center",
                    "attr":"date"
                },
                {
                    "name": "Manufacturer",
                    "bSortable": true,
                    "sClass": "center",
                    "attr":"hide"
                },
                {
                    "name": "BrandType",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "attr": "hide"
                },
                {
                    "name": "RevNo",
                    "bSortable": true,
                    "sClass": "center",
                    "attr": "hide"
                },
                {
                    "name": "Status",
                    "bSortable": true,
                    "sClass": "center"
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    @*"render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><a title="View" href="/NDE/ConsumeMTMaster/AddConsumable?Id=' + row[12] + '"><i style="margin-left:5px;" class="fa fa-eye"></i> </a>';
                        if (row[10] == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Draft.ToString()' && row[9] == "R" + 0) {
                            buttons += '<i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onclick="DeleteHeader(' + row[12] + ')"></i>';
                        }
                        else {
                            buttons += '<i id="btnDelete" name="btnAction" style="cursor:pointer;opacity:0.5;" Title="Delete Record" class="fa fa-trash-o " ></i>';
                        }
                        buttons += '</center>';
                        return buttons;
                    }*@
                },
            ]
        });
        table.dtSearchFilter();
    });
    function DeleteHeader(id) {

        bootbox.dialog({
            title:"Delete Confirmation",
            message: "Do you Want To Delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function (res) {
                        if (res) {
                            $.ajax({
                                url: WebsiteURL + "/NDE/ConsumeMTMaster/DeleteHeader",
                                data: { headerId: id },
                                type: "POST",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key == true) {
                                        DisplayNotiMessage("success", data.Value, "Success")
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error")
                                    }
                                    $("#tblMT").DataTable().ajax.reload();
                                }

                            });
                        }
                        else { }
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },

        });
    }
    function History(HeaderID) {
        $.ajax({
            url: WebsiteURL + "/NDE/ConsumeMTMaster/GetMTHistoryDetails",
            type: "POST",
            data: { Id: HeaderID },
            dataType: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                bootbox.dialog({
                    title: "History",
                    message: data,
                    size: "large",
                    buttons: {
                        Cancel: {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () { }
                        }
                    }
                });
            },
            error: function (er)
            { }
        });
    }
</script>