﻿
@using IEMQSImplementation
<script src="~/Scripts/main.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
<style>
    .modal-lg {
        width: 90% !important;
    }

    .LnkTech {
        color: #fff;
        background-color: #8E44AD;
        border-color: #8E44AD;
    }
    .modal-body{
        overflow-y:auto;
        height:100%;
    }
    .btnSave {
        color: #FFF;
        background-color: #1e9765;
        border-color: #1c8f5f;
    }
</style>
<script>

    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": true,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        "sAjaxSource": WebsiteURL + "/IPI/SeamListNDEInspection/loadNDESeamTestDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });

        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                },
            });
        },
        "columns": [
            {
                "sClass": "center",
                "bSortable": true,
                "name": "QualityProject",
                "ColName": "qms.QualityProject",
            },
            {
                "sClass": "hide",

            },
            {
                "sClass": "hide",

            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "Project",
                "ColName": "qms.Project",
            },
            {
                "sClass": "center",
                "name": "SeamNo",
                "bSortable": true,
                "ColName": "qms.SeamNo",

            },
            {
                "sClass": "center",
                "name": "StageCode",
                "bSortable": true,
                "ColName": "qms.StageCode"

            },
            {
                "sClass": "center",
                "name": "StageType",
                "bSortable": false,
                "ColName": "qms002.StageType"


            },
            {
                "sClass": "center",
                "attr": "numeric",
                "name": "StageSequence",
                "ColName": "qms.StageSequence"
            },
            {
                "sClass": "center",
                "name": "IterationNo",
                "attr": "numeric",
                "ColName": "qms.IterationNo"
            },
            {
                "sClass": "center",
                "name": "RequestNo",
                "bSortable": true,
                "attr": "numeric",
                "ColName": "qms.RequestNo"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "name": "InspectedOn",
                "bSortable": false,
                "ColName": "qms.InspectedOn",
                "attr": "daterange"

            },
            {
                "sClass": "center",
                "name": "InspectionStatus",
                "bSortable": false,
                "ColName": "qms040.InspectionStatus",
                "searchable":false
            },    
            {
                "sClass": "center",
                "name": "RequestStatus",
                "bSortable": true,
                "ColName": "qms.RequestStatus"

            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
            {
                "sClass": "center",
                "attr": "s"
            },
             {
                 "sClass": "center",
                 "attr": "s"
             },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "10%",
                //"render": function (data, type, row, meta) {
                //    var buttons = "";
                //        var functionCall = "ViewHeader(" +row[1].trim()+")";

                //    buttons = '<center><a class="btn btn-xs green"  href="javascript:void(O);" Title="View Requests" onclick="' + functionCall + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                //    return buttons;
                //}
            },
        ]
    });
    table.dtSearchFilter();

    $('#fltInspectionStatus').attr("disabled", true);
    //function ViewHeader(requestId) {
    //    window.location.href = "/IPI/SeamListNDEInspection/NDESeamTestDetails?id=" + requestId;
    //}
    function ShowTimeline(requestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/ShowTimelineNDEInspectionPartial?requestId=" + requestId,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });

    }



    function OpenNDEReport(reportType, qualityProject, stageType, seamNo, stageCode, seqNo, itrnNo, requestNo) {
        var url = "";
        var data = [];

        data.push({ Param: "ReportType", Value: reportType });
        data.push({ Param: "StageType", Value: stageType });
        data.push({ Param: "QualityProject_f", Value: qualityProject });
        data.push({ Param: "QualityProject_t", Value: qualityProject });
        data.push({ Param: "Seam_f", Value: seamNo });
        data.push({ Param: "Seam_t", Value: seamNo });
        data.push({ Param: "Stage_f", Value: stageCode });
        data.push({ Param: "Stage_t", Value: stageCode });
        data.push({ Param: "Seqn_f", Value: seqNo });
        data.push({ Param: "Seqn_t", Value: seqNo });
        data.push({ Param: "Itrn_f", Value: itrnNo });
        data.push({ Param: "Itrn_t", Value: itrnNo });
        data.push({ Param: "Request_f", Value: requestNo });
        data.push({ Param: "Request_t", Value: requestNo });
        data.push({ Param: "OfferdateFrom", Value: "" });
        data.push({ Param: "OfferdateTo", Value: "" });
        data.push({ Param: "Location", Value: "" });
        data.push({ Param: "Shop_f", Value: "" });
        data.push({ Param: "Shop_t", Value: "" });
        data.push({ Param: "Spot_f", Value: "" });
        data.push({ Param: "Spot_t", Value: "" });

        if (reportType == "RT") {
            url = "/NDE/SEAM_RT_Report_With_Technique_Sheet";
        }
        else if (reportType == "ASCAN") {
            url = "/NDE/SEAM_UT_Report";
        }
        else if (reportType == "TOFD") {
            url = "/NDE/SEAM_TOFD_Report";
        }
        else if (reportType == "PAUT") {
            url = "/NDE/SEAM_PAUT_REPORT";
        }
        ShowReport(data, url);
    }
    function ReturnRemark(requestid) {
        var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                         + "$('#frmNDEReturnRequest').validate({"
                         + " rules: {"
                         + "txtNDEReturnRemarks: {"
                         + "required: true,"
                         + "},"
                         + "messages: {"
                         + "txtNDEReturnRemarks: {"
                         + "required: 'Return Remarks is required'"
                         + "}"
                         + "}"
                         + "}"
                         + "});"
                         + "$('input[maxlength]').maxlength({"
                             + "alwaysShow: true,"
                         + "});"
                         + "});</scr" + "ipt>"
                         + " <div>"
                         + "<form method='post' id='frmNDEReturnRequest'  class='form-horizontal' action=''>"
                         + "<div class='form-group'>"
                            + "<div class='col-md-12'>"
                                + "<label class='control-label'>Return Remarks<span class='required'>*</span></label>"
                                + "<div class=''>"
                                    + "<input type='text' id='txtNDEReturnRemarks' maxlength='100' class='form-control' name='txtNDEReturnRemarks'/>"
                                + "</div>"
                            + "</div>"
                         + "</div>"
                         + "</form>"
                         + "</div>";

        bootbox.dialog({
            title: "Return Confirmation",
            message: "Do you want to return?" + strHtml,
            buttons: {
                'confirm': {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {

                        if ($("#frmNDEReturnRequest").valid()) {
                            $.ajax({
                                url: WebsiteURL + "/IPI/SeamListNDEInspection/NDEReturnRequest",
                                type: "POST",
                                data: { requestId: requestid, ReturnRemarks: $("#txtNDEReturnRemarks").val() },
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblHeader').DataTable().ajax.reload();
                                    }
                                    else {
                                        bootbox.alert(data.Value);
                                        return false;
                                    }
                                }
                            });

                        }
                        else {
                            return false;
                        }

                    }
                },
                'cancel': {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },

        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Request Details
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="btn-group">
                        <a style="margin-right:5px;" id="btnIPIReport" class="btn btn-circle white btn-outline btn-sm" onclick="GetIPIPendingInspectionReport('NDE','SEAM');">
                            <i class="fa fa-print"></i> Pending Inspection
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle white btn-outline btn-sm" onclick="GetIPINotAttendedSeamRequestReport('PT', 'Not Attended')">PT Not Attended</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle white btn-outline btn-sm" onclick="GetIPINotAttendedSeamRequestReport('MT', 'Not Attended')">MT Not Attended</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle white btn-outline btn-sm" onclick="GetIPINotAttendedSeamRequestReport('RT', 'Not Attended')">RT Not Attended</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle white btn-outline btn-sm" onclick="GetIPINotAttendedSeamRequestReport('UT', 'Not Attended')">UT Not Attended</a>
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/SeamListNDEInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                    <div class="btn-group">
                        <a id="btnGroupClearance" name="btnGroupClearance" style="margin-left:5px;" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-paper-plane" style="padding-right:5px;"></i>Group Clearance</a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>

                        <tr>
                            <th class="all">Quality Project</th>
                            <th style="display:none;">Request Id</th>
                            <th style="display:none;">Header Id</th>
                            <th class="none">Project</th>
                            <th class="min-phone-l">Seam No</th>
                            <th class="min-phone-l">Stage</th>
                            <th class="min-phone-l">Type</th>
                            <th class="min-phone-l">Seq. No</th>
                            <th class="min-phone-l">Iteration No</th>
                            <th class="min-phone-l">Request No</th>
                            <th class="none">Request Seq. No</th>
                            <th class="min-phone-l">Date of Inspection</th>
                            <th class="min-phone-l">Inspection Status</th>
                            <th class="min-phone-l">Status</th>
                            <th class="none">Seam Length</th>
                            <th class="none">Overlay Area</th>
                            <th class="none">Overlay Thickness</th>
                            <th class="none">Joint Type</th>
                            <th class="none">Manufacturing Code</th>
                            <th class="none">Part1 Position</th>
                            <th class="none">Part1 Thickness</th>
                            <th class="none">Part1 Material</th>
                            <th class="none">Part2 Position</th>
                            <th class="none">Part2 Thickness</th>
                            <th class="none">Part2 Material</th>
                            <th class="none">Part3 Position</th>
                            <th class="none">Part3 Thickness</th>
                            <th class="none">Part3 Material</th>
                            <th class="none">Acceptance Standard</th>
                            <th class="none">Applicable Specification</th>
                            <th class="none">Inspection Extent</th>
                            <th class="none">Welding Engineering Remarks</th>
                            <th class="none">Welding Process</th>
                            <th class="none">Seam Status</th>
                            <th class="none">Shop</th>
                            <th class="none">Shop Location</th>
                            <th class="none">Shop Remark</th>
                            <th class="none">Surface Condition</th>
                            <th class="none">Weld Thickness Reinforcement</th>
                            <th class="none">Spot Generation Type</th>
                            <th class="none">Spot Length</th>
                            <th class="none">Print Summary</th>
                            <th class="none">Created By</th>
                            <th class="none">Created On</th>
                            <th class="none">Request Generated By</th>
                            <th class="none">Request Generated On</th>
                            <th class="none">Confirmed By</th>
                            <th class="none">Confirmed On</th>
                            <th class="none">NDE Technique No</th>
                            <th class="none">NDE Technique RevNo.</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Link Technique</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label>Quality Project</label>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" readonly id="QtyPrject" />
                </div>
                <div class="col-md-12">
                    <label>NDE Technique No</label>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="NDETechNo" />
                </div>
                <div class="col-md-12">
                    <label>NDE Technique Revision No</label>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" readonly id="NDETechRevNo" />
                </div>
                <input type="hidden" id="hdstage" class="form-control" />
                <input type="hidden" id="hdRequIds" class="form-control" />
                
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-success">View Technique</button>*@
                <button type="button" class="btn btnSave" id="btnSaveNDETechNo">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnGroupClearance").click(function () {
            $.ajax({
                url: WebsiteURL + "/IPI/SeamListNDEInspection/GroupClearancePartial",
                type: "GET",
                datatype: "html",
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (data) {
                    bootbox.dialog({
                        title: "Group Clearance / Return / Reject",
                        message: data,
                        size: 'large',
                        buttons: {
                            'LinkTechnique': {
                                label: 'Link Technique',
                                className: 'btn LnkTech',
                                callback: function () {
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {
                                        var arrayRequestIds = new Array();
                                        var QualityProj = $("#hdnQualityProject").val();
                                        var Stage = $("#hdnStages").val();

                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });
                                        if (arrayRequestIds.length > 0) {
                                            var strRequestIds = arrayRequestIds.join(",");
                                            bootbox.confirm({
                                                message: "Do you want to Link?",
                                                confirm: {
                                                    label: 'Yes',
                                                    className: 'btn-success',
                                                },
                                                cancel: {
                                                    label: 'No',
                                                    className: 'btn-danger'
                                                },
                                                callback: function (result) {
                                                    if (result) {
                                                        LinkTechniques(QualityProj, Stage, strRequestIds);
                                                    }

                                                }
                                            })
                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select Atleast one checkbox", "Error");
                                            return false;
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }

                                }
                            },
                            'confirm': {
                                label: 'Clear',
                                className: 'btn clear',
                                callback: function () {
                                    qcRemark = $("#txtGroupQCRemarks").val();
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {

                                        var arrayRequestIds = new Array();
                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });
                                        if (arrayRequestIds.length > 0) {
                                            bootbox.confirm({
                                                title: "Clear Confirmation",
                                                message: "Do you want to clear?",
                                                buttons: {
                                                    confirm: {
                                                        label: 'Yes',
                                                        className: 'btn-success',
                                                    },
                                                    cancel: {
                                                        label: 'No',
                                                        className: 'btn-danger'
                                                    }
                                                },
                                                callback: function (result) {
                                                    if (result) {

                                                        var strRequestIds = arrayRequestIds.join(",");
                                                        var type = '@clsImplementationEnum.SeamListInspectionStatus.Cleared.GetStringValue()';
                                                        $.ajax({
                                                            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SeamListGroupClearanceRequest",
                                                            type: "POST",
                                                            datatype: "json",
                                                            beforeSend: function () {
                                                                showLoading(true);
                                                            },
                                                            complete: function () {
                                                                showLoading(false);
                                                            },
                                                            data: {
                                                                strRequestIds: strRequestIds,
                                                                type: type,
                                                            },
                                                            success: function (data) {
                                                                if (data.Key == true) {
                                                                    if (data.CheckStage)
                                                                    {
                                                                        OpenMultipleStage(strRequestIds, data.CheckStageType);
                                                                    }
                                                                    else
                                                                    {
                                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                                        $("#tblHeader").DataTable().ajax.reload();
                                                                    }
                                                                }
                                                                else {
                                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                                }
                                                            }
                                                        });
                                                    }
                                                }
                                            });
                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select atleast one stage for clear", "Error");
                                            return false;
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }
                                }
                            },
                            'confirmReject': {
                                label: 'Reject',
                                className: 'btn reject',
                                callback: function () {
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {

                                        var GroupQCRemarks = $("#txtGroupQCRemarks").val();
                                        var arrayRequestIds = new Array();
                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });

                                        if (arrayRequestIds.length > 0) {

                                            if($('#frmGrpClearance').valid()){

                                                bootbox.confirm({
                                                    title: "Reject Confirmation",
                                                    message: "Do you want to reject?",
                                                    buttons: {
                                                        confirm: {
                                                            label: 'Yes',
                                                            className: 'btn-success',
                                                        },
                                                        cancel: {
                                                            label: 'No',
                                                            className: 'btn-danger'
                                                        }
                                                    },
                                                    callback: function (result) {
                                                        if (result) {

                                                            var strRequestIds = arrayRequestIds.join(",");
                                                            var type = '@clsImplementationEnum.SeamListInspectionStatus.Rejected.GetStringValue()';
                                                            $.ajax({
                                                                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SeamListGroupReturnRequest",
                                                                type: "POST",
                                                                datatype: "json",
                                                                beforeSend: function () {
                                                                    showLoading(true);
                                                                },
                                                                complete: function () {
                                                                    showLoading(false);
                                                                },
                                                                data: {
                                                                    strRequestIds: strRequestIds,
                                                                    type: type,
                                                                    QCRemarks: GroupQCRemarks
                                                                },
                                                                success: function (data) {
                                                                    if (data.Key == true) {
                                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                                        $("#tblHeader").DataTable().ajax.reload();
                                                                    }
                                                                    else {
                                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    }
                                                });
                                            }
                                            else
                                            {
                                                return false;
                                            }

                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select atleast one stage for reject", "Error");
                                            return false;
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }
                                }
                            },
                            'confirmReturn': {
                                label: 'Return',
                                className: 'btn return',
                                callback: function () {
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {

                                        var GroupQCRemarks = $("#txtGroupQCRemarks").val();
                                        var arrayRequestIds = new Array();
                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });
                                        if (arrayRequestIds.length > 0) {

                                            if ($('#frmGrpClearance').valid()) {

                                                bootbox.confirm({
                                                    title: "Return Confirmation",
                                                    message: "Do you want to return?",
                                                    buttons: {
                                                        confirm: {
                                                            label: 'Yes',
                                                            className: 'btn-success',
                                                        },
                                                        cancel: {
                                                            label: 'No',
                                                            className: 'btn-danger'
                                                        }
                                                    },
                                                    callback: function (result) {
                                                        if (result) {

                                                            var strRequestIds = arrayRequestIds.join(",");
                                                            var type = '@clsImplementationEnum.SeamListInspectionStatus.Returned.GetStringValue()';
                                                            $.ajax({
                                                                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SeamListGroupReturnRequest",
                                                                type: "POST",
                                                                datatype: "json",
                                                                beforeSend: function () {
                                                                    showLoading(true);
                                                                },
                                                                complete: function () {
                                                                    showLoading(false);
                                                                },
                                                                data: {
                                                                    strRequestIds: strRequestIds,
                                                                    type: type,
                                                                    QCRemarks: GroupQCRemarks
                                                                },
                                                                success: function (data) {
                                                                    if (data.Key == true) {
                                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                                        $("#tblHeader").DataTable().ajax.reload();
                                                                    }
                                                                    else {
                                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    }
                                                });
                                            }
                                            else {
                                                return false;
                                            }

                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select atleast one stage for return", "Error");
                                            return false;
                                        }

                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    })
                },
                error: function () {
                    DisplayNotiMessage("error", "Error occured please try again", "Error");
                }
            });
        });

         function LinkTechniques(QltyProje, Stage, RequID) {
             $('#QtyPrject').val('');
             $('#NDETechNo').val('');
             $('#NDETechRevNo').val('');
             $('#hdstage').val(Stage);
             $('#hdRequIds').val(RequID);
             $('#QtyPrject').val(QltyProje);
             $('#myModal').modal('show');
         }
         $("#btnSaveNDETechNo").click(function () {
             var QltyProject = $('#QtyPrject').val();
             var stage = $('#hdstage').val();
             var RequIds = $('#hdRequIds').val();
             var NDETechNo = $('#NDETechNo').val();
             var NDERevNo = $('#NDETechRevNo').val();

             $.post('@Url.Action("SaveLinkTechnique", "SeamListNDEInspection")',
                 { QltyProject: QltyProject, stage: stage, RequIds: RequIds, NDETechNo: NDETechNo, NDERevNo: NDERevNo},
                     function (data) {
                         alert(data);
                         if (data = "Success") {
                             DisplayNotiMessage("success", data.Value, "Success");
                         }
                         else {
                             DisplayNotiMessage("error", "Error occured please try again", "Error");
                         }
                         //var url = "AfterSuccessFull?PID=" + PID + "&ContrID=" + Contarct + "&PjrGrp=" + PrjGrp;
                         window.location.href = '@Url.Action("NDEView", "SeamListNDEInspection")';
                         //$('#myModal').modal('hide');
                });
         });


    });
   
    $(document).ready(function () {
        $("#NDETechNo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/SeamListNDEInspection/GetNDEAutoTechniques",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        qualityProject: $('#QtyPrject').val(),
                        stageCode:  $('#hdstage').val(),
                    },
                    success: function (data) {
                        //response($.map(data, function (item) {
                        //    return { label: (item.TechniqueNo +  (item.TechniqueDisplayNo != null ? " (" + item.TechniqueDisplayNo + ")" : "")), value: item.TechniqueNo, id: item.TechniqueRev, name: item.TechniqueName, url: item.TechniqueUrl };
                        //}));

                        var array = $.map(data, function (item) {
                            return { label: (item.TechniqueNo +  (item.TechniqueDisplayNo != null ? " (" + item.TechniqueDisplayNo + ")" : "")), value: item.TechniqueNo, id: item.TechniqueRev, name: item.TechniqueName, url: item.TechniqueUrl };
                        });
                        response($.ui.autocomplete.filter(array, request.term));

                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#NDETechRevNo").val(ui.item.id);
                    var techniqueUrl = ui.item.url;
                    debugger;
                    if (techniqueUrl != undefined && techniqueUrl != null && techniqueUrl != "") {
                        
                    }
                    else {
                        
                    }

                }
            },
            change: function (event, ui) {
                debugger;
                if (ui.item == null) {
                    isSelected = false;
                    $("#NDETechRevNo").val('');
                    $(this).val('');
                    $(this).focus();

                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });
    });




</script>

