﻿@using IEMQSImplementation
@Styles.Render("~/Content/datetimepicker/css")

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmNotAttendedPrint", @class = "form-horizontal" }))
{
    <div class="form-body">

        <div class="form-group">
            <label class="control-label col-md-3">
                Location<span class="required">*</span>
            </label>
            <div class="col-md-6">
                <input type="hidden" id="hdSelectddlLocation" />
                <select name="ddlLocation" id="ddlLocation" multiple="multiple" style="width:100%" class="form-control"></select>
            </div>
        </div>


        <input id="PrintBy" type="hidden" value="@ViewBag.PrintedBy" />
        <input id="PrintTPI1" type="hidden" />
        <input id="PrintTPI2" type="hidden" />
        <input id="PrintTPI3" type="hidden" />
        <input type="hidden" id="FetchfromQMS012" value=@(ViewBag.FetchfromQMS012 == 1 ? true : false) />
        <input type="hidden" id="FetchNDEStages" value=@(ViewBag.FetchNDEStages == 1 ? true : false) />
        <input type="hidden" id="FetchNDEStagesexceptPTMT" value=@(ViewBag.FetchNDEStagesexceptPTMT == 1 ? true : false) />

        <input id="hdStagetype" type="hidden" value="@ViewBag.ReportStageType" />
        <input id="ReportType" type="hidden" value="@ViewBag.ReportType" />
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
       
        $('#frmNotAttendedPrint').validate({
            rules: {
                ddlLocation: {
                    required: true
                },
            },
            messages: {
                ddlLocation: {
                    required: "Location is required"
                },

            }
        });

        $("#ddlLocation").val("");
        LoadPreValueSelect2("/IPI/Reports/GetUserLocation", $('#ddlLocation'), "--Select Location--", {});


        if('@ViewBag.ShowFromToQualityProjectByBULocation' == 1)
        {
            $('#ddlLocation').change(function () {

                var ParamlistQP = [];

                var Location = "";
                if ($("#ddlLocation").val() != null && $("#ddlLocation").val() != "" && $("#ddlLocation").val() != undefined)
                    Location = $("#ddlLocation").val().join(',');

                ParamlistQP.push({ id: "selectedLoc", value: Location });

            });

        }




        if ('@ViewBag.ShowFromToSeamNobyQualityProject' == 1) {
            var ParamSeamlist = [];
            var setSeamURL ="/IPI/Reports/GetSeamsbyQualityproject";
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamSeamlist.push({ id: "location", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamSeamlist.push({ id: "location", value: $('#Location') });
            }

        }



        if ('@ViewBag.ShowMultiselectSeamNobyQualityProject' == 1){
            var ParamSeamlist = [];
            var setSeamURL ="/IPI/Reports/GetSeamsbyQualityproject";
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamSeamlist.push({ id: "location", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamSeamlist.push({ id: "location", value: $('#Location') });
            }


        }

        if ('@ViewBag.ShowRPTFromToStages' == 1){
            var ParamStagelist = [];
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamStagelist.push({ id: "selectedlocation", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamStagelist.push({ id: "location", value: $('#GSLocation') });
            }
            ParamStagelist.push({ id: "fromProject", value: $('#FromGSProject') });
            ParamStagelist.push({ id: "toProject", value: $('#ToGSProject') });
            ParamStagelist.push({ id: "fromSeam", value: $('#FromGSSeam') });
            ParamStagelist.push({ id: "toSeam", value: $('#ToGSSeam') });
            FillAutoCompleteAjax($('#txtFromGSStage'), "/IPI/Reports/GetStages",$('#FromGSStage'),false, ParamStagelist,function(){
                $('#txtToGSStage').val($('#txtFromGSStage').val());
                $('#ToGSStage').val( $('#FromGSStage').val());
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSStage'), "/IPI/Reports/GetStages",$('#ToGSStage'),false, ParamStagelist, null, null, false);
        }

        if ('@ViewBag.ShowFromToStagesByMultiselectSeamno' == 1){
            var ParamStagelist = [];
            ParamStagelist.push({ id: "project", value: $("#hdSelectQualityProject")});
            ParamStagelist.push({ id: "seamno", value:  $("#hdSeamNoSelected") });
            FillAutoCompleteAjax($('#txtFromGSStage'), "/IPI/Reports/GetStagesbySeamNo",$('#FromGSStage'),false, ParamStagelist,function(){
                $('#txtToGSStage').val($('#txtFromGSStage').val());
                $('#ToGSStage').val( $('#FromGSStage').val());
            }, null,false);

            FillAutoCompleteAjax($('#txtToGSStage'), "/IPI/Reports/GetStagesbySeamNo",$('#ToGSStage'),false, ParamStagelist, null, null, false);
        }

        if ('@ViewBag.ShowFromToAllStages' == 1){
            var ParamStagelist = [];
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamStagelist.push({ id: "location", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamStagelist.push({ id: "location", value: $('#Location') });
            }
            ParamStagelist.push({ id: "stagetype", value: $('#hdStagetype') });
            if ('@ViewBag.FetchNDEStages' == 1) {
                ParamStagelist.push({ id: "FetchNDEStages", value: $('#FetchNDEStages')  });
            }

            FillAutoCompleteAjax($('#txtFromGSStage'), "/IPI/Reports/GetAllStagesbyStageType",$('#FromGSStage'),false, ParamStagelist,function(){
                $('#txtToGSStage').val($('#txtFromGSStage').val());
                $('#ToGSStage').val( $('#FromGSStage').val());
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSStage'), "/IPI/Reports/GetAllStagesbyStageType",$('#ToGSStage'),false, ParamStagelist, null, null, false);
        }

        if('@ViewBag.WeldingProcess' == 1){
            var lstWeldingProcessList = @Html.Raw(Json.Encode(@ViewBag.WeldingProcessList));
            FillAutoComplete($('#txtWeldingProcess'), lstWeldingProcessList,$('#WeldingProcess'));
        }
        if('@ViewBag.Instrument' == 1){
            var lstInstrumentList = @Html.Raw(Json.Encode(@ViewBag.InstrumentList));
            LoadMultiSelectwithCheckboxusingArray(lstInstrumentList, $('#Instrument'), "--Select Instrument--");
            MultiselectCCss();
            //FillAutoComplete($('#txtInstrument'), lstInstrumentList,$('#Instrument'));
        }
        if ('@ViewBag.ShowSeamTypeMultiple' == 1) {
            $("#ddlSeamType").val("");
            LoadSelect2DropDownSeam("/IPI/Reports/GetSeamTypeListByQualityProject", $('#ddlSeamType'), "--Select Seam Type--", '');
            $('#ddlSeamType').change(function () {
                if ($(this).val() == "" || $(this).val() == undefined) {
                    $('#hdSelectSeamType').val("");
                }
                else {
                    $('#hdSelectSeamType').val($(this).val().join(','));
                }
            })
        }
        if ('@ViewBag.ShowSeamNo' == 1 && '@ViewBag.ShowSeamTypeMultiple' ==1 ) {
            $("#ddlSeamNo").val("");
            LoadSelect2DropDownSeamWithSeamType("/IPI/Reports/GetSeamListByQualityProject", $('#ddlSeamNo'), "--Select Seam No--", '');
            $('#ddlSeamNo').change(function(){
                if($(this).val() == "" || $(this).val() == undefined)
                {
                    $('#hdSeamNoSelected').val("");
                }
                else{
                    $('#hdSeamNoSelected').val($(this).val().join(','));
                }

            })
        }
        if ('@ViewBag.ShowStageMultiple' == 1 && '@ViewBag.ShowSeamTypeMultiple' == 1) {
            $("#Stage").val("");
            LoadSelect2DropDownStage("/IPI/Reports/GetStagesbySeamNo", $('#Stage'), "--Select Stage--", '');
        }

    });

    function LoadSelect2DropDownProject(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        param: condParam
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    var quality_projects = "";
    function LoadSelect2DropDownSeam(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        quality_projects: quality_projects,
                        withseamtype:false
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    var seam_type = "";
    function LoadSelect2DropDownSeamWithSeamType(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        quality_projects: quality_projects,
                        seam_type: seam_type,
                        withseamtype: true
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    var seamno = "";
    function LoadSelect2DropDownStage(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        term: params.term,
                        project: quality_projects,
                        seamno: seamno
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    var location1 = "";
    var qid_applicable = "All";

    function LoadSelect2DropDownQID(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        location1: location1,
                        quality_projects: quality_projects,
                        QIDApplicableFor: qid_applicable
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    function getInspectionagency(qproject){
        $.ajax({
            url: WebsiteURL + "/IPI/Reports/GetInspectionAgency",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                qproject:qproject
            },
            success: function (data) {
                if(data !="" && data !=null && data !=undefined)
                {
                    var dat =data.split('#');
                    $("#PrintTPI1").val("");
                    $("#PrintTPI2").val("");
                    $("#PrintTPI3").val("");
                    if(dat[0] != undefined && dat[0] != "" && dat[0] != null)
                    {
                        $("#PrintTPI1").val(dat[0]);
                    }
                    if(dat[1] != undefined && dat[1] != "" && dat[1] != null)
                    {
                        $("#PrintTPI2").val(dat[1]);
                    }
                    if(dat[2] != undefined && dat[2] != "" && dat[2] != null)
                    {
                        $("#PrintTPI3").val(dat[2]);
                    }
                }
            }
        });
    }







    $('#ddlLocation').on("change", function (e) {
        if($("#ddlLocation").val() !="" && $("#ddlLocation").val() !=null)
            location1 = $("#ddlLocation").val().join(',');
        $("#hdSelectddlLocation").val(location1);

        HighlightInValidControls();
    });



    if('@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ICL_DPP.GetStringValue()')
    {
        $('#SeamApprovalStatus').on("change", function (e) {
            if($(this).val() == "Pending")
            {
                $(".dvTPRev").hide();
            }
            else{ $(".dvTPRev").show();}
        });
    }
</script>

