﻿
<style>
    .Center {
        text-align: center;
    }

    .customeResultWidth {
        width: 75px !important;
    }
    .checkBoxgd {
        width: 20px;
        height: 20px;
    }
</style>

<script src="~/Scripts/jquery.jstepper.min.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>
    var oTable = "";
    $(document).ready(function () {
        var lstSpotResult = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.SpotResults))));
        var lstTypeOfIndication = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TypeOfIndication))));

        var table = $('#tblTPILines');
        oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            //"bProcessing": false,
            //"bServerSide": true,
            //"stateSave": false,
            ////"bPaginate": false,
            //"bPaginate": true,
            "bProcessing": true,
            "sAutoWidth": false,
            "bDestroy": true,
            "sPaginationType": "bootstrap", // full_numbers
            "iDisplayStart ": 10,
            "iDisplayLength": 10,
            "bPaginate": false, //hide pagination
            "bFilter": false, //hide Search bar
            "bInfo": false, // hide showing entries
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/SeamListNDEInspection/LoadTPIDataTable?requestId=" + '@ViewBag.id',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        LoadMultiSelect();
                        $('input[maxlength],textarea[maxlength]').maxlength({
                            alwaysShow: true,
                        });
                    },
                    'async': false
                });
                ResetAddRow($('#tblTPILines'));
            },
            "aoColumns": [
                {
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "Center",
                    "name": "SpotNumber"

                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                    "name": "SpotId"
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                    "name": "RequestId"
                },
                {
                    "bSortable": false,
                    "sWidth": "10%",
                    "sClass": "Center",
                    "name": "SpotDescription"
                },
                {
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "Center",
                    "name": "SpotLength"
                },

                 {
                     "bSortable": false,
                     "sWidth": "20%",
                     "sClass": "Center",
                     "name": "SpotResult"
                 },

                //{

                //    "sClass": "center",
                //    "sWidth": "5%",
                //    "bSortable": false,
                //    //"render": function (data, type, row, meta) {
                //    //    var buttons = "";
                //    //    var functionCall = "MaitainSpotParameters('" + row[1] + "','" + row[2] + "')";

                //    //    buttons = '<center><a Title="Maintain Parameters" onclick="' + functionCall + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                //    //    return buttons;
                //    //}
                //},
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "name": "TPIResult1"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "name": "TPIResult2"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "name": "TPIResult3"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "name": "TPIResult4"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "name": "TPIResult5"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "name": "TPIResult6"
                },
            ]
        });

        $("#btnNewSpot").on('click', function () {
            ShowNewLines(this);
        });

        $("#frmSpotResult").validate({

            rules: {
                SpotNumber0: {
                    required: true
                },
                SpotDescription0: {
                    required: true
                },
                SpotLength0: {
                    required: true
                }
            },
            messages: {
                SpotNumber0: {
                    required: "Spot number is required"
                },
                SpotDescription0: {
                    required: "Spot description is required"
                },
                SpotLength0: {
                    required: "Spot length is required"
                }
            }
        });

        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/IsMaintainParameters",
            type: "GET",
            data: { requestId: '@ViewBag.id' },
            success: function (data) {
                if (!data.Key) {
                    //oTable.api().column(13).visible(false);
                }
            }
        });

        AddSpotValidationRule();
        $('#tblTPILines').delegate("input[colname^='TPIResult']", "focusin", function () {
            var RowID = $(this).attr('spara');
            $(this).autocomplete({
                source: function (request, response) {
                    var array = $.map(lstSpotResult, function (item) {
                        return {
                            label: item.CategoryDescription,
                            value: item.CategoryDescription,
                            id: item.Code
                        }
                    });
                    response($.ui.autocomplete.filter(array, request.term));
                },
                autoFocus: true,
                minLength: 0,
                select: function (event, ui) {
                    $(this).val(ui.item.id);

                    if (ui.item.id == 'Cleared' || ui.item.id == 'Discard') {
                        SetReadonly($("#Reason" + RowID));
                        $("#DefectLength" + RowID).val('').removeClass('error').attr("readonly", true);
                    }
                    else if (ui.item.id == 'Rejected') {
                        SetReadonly($("#Reason" + RowID));
                        $("#DefectLength" + RowID).attr("readonly", false);
                    }
                    else {
                        var lstReason = GetReasonCategory(ui.item.value, RowID);
                        var arrayReason = new Array();
                        for (var i = 0; i < lstReason.length; i++) {
                            arrayReason.push(lstReason[i].CategoryDescription);
                        }
                        FillAutoComplete($("#Reason" + RowID), arrayReason, $("#Reason" + RowID));
                        $("#DefectLength" + RowID).val('').removeClass('error').attr("readonly", true);
                    }
                    //$("#ddlQualityIdApplicableFor").val(ui.item.value)
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $(this).val('');
                        $(this).focus();
                    }
                    OnChangeTPIResult(RowID, $(this));
                }
            }).focus(function () {
                $(this).data("uiAutocomplete").search($(this).val());
                $(this).autocomplete("search");
            });
        });
        //$('#tblTPILines').delegate("input[colname='TypeOfIndication']", "focusin", function () {
        //    $(this).autocomplete({
        //        source: function (request, response) {
        //            var array = $.map(lstTypeOfIndication, function (item) {
        //                return {
        //                    label: item.CategoryDescription,
        //                    value: item.CategoryDescription,
        //                    id: item.Code
        //                }
        //            });
        //            response($.ui.autocomplete.filter(array, request.term));
        //        },
        //        autoFocus: true,
        //        minLength: 0,
        //        select: function (event, ui) {
        //            $(this).val(ui.item.id);
        //        },
        //        change: function (event, ui) {
        //            if (ui.item == null) {
        //                $(this).val('');
        //                $(this).focus();
        //            }
        //        }
        //    }).focus(function () {
        //        $(this).data("uiAutocomplete").search($(this).val());
        //        $(this).autocomplete("search");
        //    });
        //});

        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/IsSpotEditable",
            type: "GET",
            data: { requestId: '@ViewBag.id' },
            success: function (data) {

                if (!data.Key) {
                    HideControl($('#btnClearAll'));
                }
            }
        });

        @*var isSpotEditable = '@ViewBag.isSpotEditable';

        if (isSpotEditable == 'False') {
            HideControl($('#btnClearAll'));
        }*@

        var isNewSpotApplicable = '@ViewBag.isApplicableForNewSpot';

        if (isNewSpotApplicable == 'False') {
            HideControl($('#btnNewSpot'));
            //oTable.api().column(14).visible(false);
        }
        ISTPIResultPending('@ViewBag.id');
    });
    function LoadSelect2OnEdit(strPosition) {
        var arrPositions;
        if (strPosition.length > 0) {
            arrPositions = strPosition.split(',');
        }
        return arrPositions;
    }
    function MaitainSpotParameters(spotId, requestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/MaintainSpotParameter",
            type: 'POST',
            async: false,
            data: { spotId: spotId, requestId: requestId },
            success: function (data) {

                if (data.Key) {

                    DisplayNotiMessage("success", data.Value, "Success");
                    window.open(data.Url, '_blank');
                }
            }
        });
    }
    //HardikM START
    
    function ISTPIResultPending(requestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/ISTPIResultPending",
            type: 'POST',
            data: { requestId: requestId },
            success: function (data) {
                if (!data.Key) {
                    $(".checkBoxgd").hide();
                }

            }
        });
    }
    function TPIResultHideShow(requestId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/TPIResultHideShow",
            type: 'POST',
            data: { requestId: requestId },
            success: function (data) {

                for (var i = 6; i <= 11; i++) {
                    //TPI start from 6 to 11
                    oTable.api().column(i).visible(false);
                }
                for (var i = 0; i < data.length; i++) {
                    var id = data[i] + 5;//TPI start from 6 to 11
                    oTable.api().column(id).visible(true);
                }
            }
        });
    }
    TPIResultHideShow('@ViewBag.id');
    function SameAsResult(TPIDetailsID) {
            $("input[id^='" + TPIDetailsID + "']").each(function () {
                $(this).val(($(this).parent().parent().find("td:eq(5)").text()));
            });
            $("input[id^='" + TPIDetailsID + "']").each(function () {
                OnChangeTPIResult($(this).parent().parent().find("td:eq(1)").find("input").val(), $(this));
            });
    }

    function OnChangeTPIResult(_spotId, obj) {
        
        var _TPIID = $(obj).prop("id");
        if ($(obj).val().trim()) {
            $.ajax({
                url: WebsiteURL + "/IPI/SeamListNDEInspection/OnChangeTPIResult",
                type: 'POST',
                data: { TPIID: _TPIID, value: $(obj).val(), spotId: _spotId },
                //beforeSend: function () {
                //    showLoading(true);
                //},
                //complete: function () {
                //    showLoading(false);
                //},
                success: function (data) {
                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    console.log(msg);
                },
            });
        } else {
        }
    }
    //HardikM END
    function OnChangeSpotDescription(_spotId, obj) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/OnChangeSpotDescription",
            type: 'POST',
            data: { spotId: _spotId, spotDescription: $(obj).val() },
            success: function (data) {
            }
        });
    }

    function LoadMultiSelect() {
        $("select[colname='TypeofIndication']").select2({
            caption: "--Select TypeIndication--",

        });
    }
    function AddSpotValidationRule() {

        $('#frmSpotResult').validate();
        $("[colname='SpotResult']").each(function () {
            $(this).rules("add", {
                required: true,
                messages: {
                    required: "Spot Result Required"
                }
            });
        });

        jQuery.validator.addMethod('greaterThan', function (value, element, param) {
            var flag = false;
            if (!(parseInt(value) > 0) && $(element).attr('readonly') != 'readonly') {
                $(element).val('');
                flag = false;
            }
            else {
                $(element).removeClass('error');
                flag = true;
            }
            return flag;
        }, 'Must be greater than 0');

        $("[colname='DefectLength']").each(function () {

            var id = $(this).attr('spara');
            $(this).rules("add", {

                required: function () {
                    var frn = $("#SpotResult" + id).val();
                    var lengthval = parseInt($("#DefectLength" + id).val());
                    if (frn == 'Rejected') {

                        return true;
                    }
                    else {
                        return false;
                    }
                },
                greaterThan: "0",
                messages: {
                    required: "Defect Length Required",
                    greaterThan: "0",
                }
            });
            var spotlength = parseInt($("#SpotLength" + id).val());
            //$("#DefectLength" + id).jStepper({ maxValue: spotlength });

        });


        $("[colname='TypeofIndication']").each(function () {
            var id = $(this).attr('spara');
            $(this).rules("add", {

                required: function () {
                    var frn = $("#SpotResult" + id).val();
                    if (frn == 'Rejected') {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                messages: {
                    required: "Type Of Indication Required"
                }
            });
        });

        $("[colname='DefectWidth']").each(function () {
            var id = $(this).attr('spara');
            $(this).rules("add", {
                required: function () {
                    var frn = $("#SpotResult" + id).val();
                    if (frn == 'Rejected' && $('#IsOverlay').val() == "True") {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                messages: {
                    required: "Defect Width Required"
                }
            });
        });

        $("[colname='Reason']").each(function () {
            var id = $(this).attr('spara');
            $(this).rules("add", {
                required: function () {
                    var frn = $("#SpotResult" + id).val();
                    if ((frn == 'Miscellaneous' || frn == 'Reshoot' || frn == 'Re-Scan' || frn == 'Re-Take')) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                messages: {
                    required: "Defect Width Required"
                }
            });
        });

        $("[colname = 'DefectLength']").each(function () {
            var spotLength = $("#SpotLength" + $(this).attr("spara")).val();
            $(this).autoNumeric('init', { vMin: '0', vMax: spotLength, aSep: '' });
        });
        $("[colname = 'DefectWidth']").each(function () {
            var spotWidth = $("#SpotLength" + $(this).attr("spara")).val();
            $(this).autoNumeric('init', { vMin: '0', vMax: spotWidth, aSep: '' });
        });

    }
    function GetReasonCategory(seamCategory, spotId) {
        var returnResponse = '';
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/GetReasonCategory",
            type: 'POST',
            async: false,
            data: { seamCategory: seamCategory, spotId: spotId },
            success: function (response) {
                returnResponse = response;
            }
        });
        return returnResponse;
    }
    function FillAutoComplete(element, sourceList, hdElement) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item,
                        value: item,
                        id: item
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                HighlightInValidControls();
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                    HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function ClearedAll() {
        $("[colname='SpotResult']").each(function () {
            if ($(this).val() == "") {
                $(this).val("Cleared");
                $(this).removeClass("error");
            }
        });
    }

    function DeleteSpot(spotId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/RemoveSpot",
            data: {
                spotId: spotId
            },
            type: "POST",
            async: false,
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#tblTPILines').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function SaveNewSpot(headerID, requestID) {
        if ($("#frmSpotResult").valid()) {
            $.ajax({
                url: WebsiteURL + "/IPI/SeamListNDEInspection/SaveNewSpot",
                data: {
                    headerId: headerID,
                    requestId: requestID,
                    spotNumber: $("#SpotNumber0").val(),
                    spotDescription: $("#SpotDescription0").val(),
                    spotLength: $("#SpotLength0").val()
                },
                type: "POST",
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblTPILines').DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            return false;
        }
    }

    function ShowNewLines(obj) {

        $('#tblTPILines').find("tbody tr:first").toggle();
        $('#tblTPILines').find("tbody tr:first select:first").focus();
        if ($('#tblTPILines').find("tbody tr:first").is(":visible")) {
            $(obj).val("Cancel");
        }
        else {
            $(obj).val("New Spot");
        }
    }

    function ResetAddRow(table) {
        table.find("tbody tr:first").hide();
        table.find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNewSpot").val("New Spot");
    }

</script>
<form id="frmSpotResult" method="post">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    TPI Results
                </div>
                <div class="tools" style="margin-left:5px">
                    <div class="btn-group">
                        <a id="btnNewSpot" style="margin-right:5px;" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-plus"></i>New Spot</a>
                    </div>
                </div>
                <div class="tools" style="margin-left:5px">
                    @*<input id="btnNewSpot" class="btn red" value="New Spot" style="height: 27px; padding: 3px 10px 3px 10px;" type="button">*@
                    @*<input id="btnClearAll" class="btn red" value="Clear All" onclick="ClearedAll();" style="height: 27px; padding: 3px 10px 3px 10px;" type="button">*@
                    <div class="btn-group">
                        <a onclick="ClearedAll();" id="btnClearAll" class="btn btn-circle white btn-outline btn-sm">
                            <i class="fa fa-check-square-o"></i> Clear All
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblTPILines" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th class="all" style="width:5%; white-space:pre-line">Spot No</th>
                            <th style="display:none;">SpotId</th>
                            <th style="display:none;">RequestId</th>
                            <th class="all" style="width:5%; white-space:pre-line">Spot Desc</th>
                            <th class="all" style="width:5%; white-space:pre-line">Spot Length(mm)</th>
                            <th class="all">L&T Result<div class="customeResultWidth"></div></th>
                            @*<th class="all" style="width:5%; white-space:pre-line">UT Parameter</th>*@
                            <th class="all">TPI Result 1 &nbsp;@if (ViewBag.TPIResultPending) {<input type = "checkbox" class="checkBoxgd" title="Same as L&T Result" onclick="SameAsResult('TPIResult1')" id="ckbTPIResult1" />} </th>
                            <th class="all">TPI Result 2 &nbsp;@if (ViewBag.TPIResultPending) {<input type="checkbox" class="checkBoxgd" title="Same as L&T Result" onclick="SameAsResult('TPIResult2')" id="ckbTPIResult2" />  } </th>
                            <th class="all">TPI Result 3 &nbsp;@if (ViewBag.TPIResultPending) {<input type="checkbox" class="checkBoxgd" title="Same as L&T Result" onclick="SameAsResult('TPIResult3')" id="ckbTPIResult3" />  } </th>
                            <th class="all">TPI Result 4 &nbsp;@if (ViewBag.TPIResultPending) {<input type="checkbox" class="checkBoxgd" title="Same as L&T Result" onclick="SameAsResult('TPIResult4')" id="ckbTPIResult4" />  } </th>
                            <th class="all">TPI Result 5 &nbsp;@if (ViewBag.TPIResultPending) {<input type="checkbox" class="checkBoxgd" title="Same as L&T Result" onclick="SameAsResult('TPIResult5')" id="ckbTPIResult5" />  } </th>
                            <th class="all">TPI Result 6 &nbsp;@if (ViewBag.TPIResultPending) {<input type="checkbox" class="checkBoxgd" title="Same as L&T Result" onclick="SameAsResult('TPIResult6')" id="ckbTPIResult6" />  } </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</form>