﻿@using IEMQSImplementation
@model QMS080
@{
    ViewBag.Title = "AScan UT Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {
        var oTable = $("#tblLines").dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/SeamListNDEInspection/loadAscanUTLinesDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                          { "name": "id", "value": $('#HeaderId').val() }
            )
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",// "details-control",
                    "bSortable": false,
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        var functionCallEdit = "ViewLine( " + row[1] + "," + row[2] + ")";
                        buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="View Line" class="fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i></center>';
                        return buttons;
                    }
                },

            ]
        });
    });

    function ViewLine(lineId, headerId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/AscanUTLinesPartial",
            type: "POST",
            datatype: "html",
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerId, lineId: lineId },
            success: function (data) {
                bootbox.dialog({
                    title: "AScan UT Lines",
                    message: data,
                    buttons: {
                        'confirm': {
                            label: 'Ok',
                            className: 'btn green',
                            callback: function () {
                                bootbox.hideAll();
                                $(".modal-backdrop").remove()
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green',
                            callback: function () {
                                bootbox.hideAll();
                                $(".modal-backdrop").remove()
                            },
                        }
                    }
                })
            },
            error: function () {
                DisplayNotiMessage("error", "Error occured please try again", "Error");
            }
        });
    }
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Ascan UT Header</span>
                    </div>
                    @*<div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.Status) </span>
                            @Html.HiddenFor(m => m.Status)
                        </div>*@
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.RefHeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Stage,Request & Iteration</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">SeamNo</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Stage Code</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Stage Sequence</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="control-label">IterationNo</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">RequestNo</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">RequestNoSequence</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Technique Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">UTTech No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Status</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Status, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">UT Procedure No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Recordable Indication</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RecordableIndication, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scan Technique</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanTechnique, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">DGS Diagram</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DGSDiagram, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Basic Calibration Block</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BasicCalibrationBlock, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">SimulationBlock1</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SimulationBlock1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">SimulationBlock2</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SimulationBlock2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">CouplantUsed</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouplantUsed, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">ScanPlan</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">ScanningSensitivity</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanningSensitivity, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">PlannerRemarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">ApproverRemarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ApproverRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">TestInstrument</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TestInstrument, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">ExaminationDate</label>
                                            <div class="">
                                                <div id="datetime3" class="input-group input-medium date date-picker" data-date-format="dd/mm/yyyy" >
                                                    @Html.TextBoxFor(m => m.ExaminationDate, new { @class = "form-control", @readonly = "readonly" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">NDTDuration</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDTDuration, new { @class = "form-control col-md-3 set-numeric", @maxLength = "3" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Rejectcontrol</label>
                                            <div class="">
                                                @Html.DropDownList("Damping", new List<SelectListItem>
                                                        { new SelectListItem{ Text="ON", Value = "ON" },
                                                           new SelectListItem{ Text="OFF", Value = "OFF",Selected= true }}, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Damping</label>
                                            <div class="">
                                                @Html.DropDownList("Damping", new List<SelectListItem>
                                                        { new SelectListItem{ Text="LOW", Value = "LOW", Selected= true },
                                                           new SelectListItem{ Text="MEDIUM", Value = "MEDIUM" },
                                                           new SelectListItem{ Text="HIGH", Value = "HIGH" }}, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">RestrictedAccessAreaInaccessibleWelds</label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.RestrictedAccessAreaInaccessibleWelds, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">TransferCorrection</label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.TransferCorrection, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">TransferCorrectiondB</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TransferCorrectiondB, new { @class = "form-control col-md-3", @maxLength = "12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Noofpoints</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Noofpoints, new { @class = "form-control col-md-3", @readonly = "readonly", @maxLength = "10" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">AveragedB</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AveragedB, new { @class = "form-control col-md-3", @maxLength = "5" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">AfterTestCalibrationrechecked</label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AfterTestCalibrationrechecked, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">AnySpecialAccessoriesUsed</label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AnySpecialAccessoriesUsed, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">AnyRecordableIndication</label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AnyRecordableIndication, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">NDTremarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDTremarks, new { @class = "form-control col-md-3", @maxLength = "12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="row" id="divLines" style="display:none">
                    <div class="col-md-12" style="text-align:right">
                        <input type="button" class="btn green" id="btnAddLines" value="Add Line" />
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Ascan UT Lines
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">Sr.No.</th>
                                            <th style="display:none;">LineId</th>
                                            <th style="display:none;">HeaderId</th>
                                            <th style="display:none;">RefHeaderId</th>
                                            <th class="min-phone-1">UTTechNo</th>
                                            <th class="min-phone-1">RevNo</th>
                                            <th class="min-phone-1">SearchUnit</th>
                                            <th class="min-phone-1">ReferenceReflector</th>
                                            <th class="min-phone-1">CableType</th>
                                            <th class="min-phone-1">CableLength</th>
                                            <th class="min-phone-1">ReferencegaindB</th>
                                            <th class="min-phone-1">Range</th>
                                            <th class="min-phone-1">AmpInd1</th>
                                            <th class="min-phone-1">BPInd1</th>
                                            <th class="min-phone-1">AmpInd2</th>
                                            <th class="min-phone-1">BPInd2</th>
                                            <th class="min-phone-1">AmpInd3</th>
                                            <th class="min-phone-1">BPInd3</th>
                                            <th class="min-phone-1">AmpInd4</th>
                                            <th class="min-phone-1">BPInd4</th>
                                            <th class="min-phone-1">AmpInd5</th>
                                            <th class="min-phone-1">BPInd5</th>
                                            <th class="min-phone-1">AmpInd6</th>
                                            <th class="min-phone-1">>BPInd6</th>
                                            <th class="min-phone-l">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" style="text-align:right; display:none">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="col-md-12" style="text-align:right;">
                            <input type="button" id="btnCancel" class="btn red" value="Cancel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
