﻿@using IEMQSImplementation
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js"></script>
@{
    string FileUploadLineID = "fuline";
}
<style>
    .red {
        border-color: #dc3535 !important;
        color: #dc3535 !important;
        background: 0 0 !important;
    }

    #ui-datepicker-div {
        z-index: 10 !important;
    }

    .partseamstage {
        background-color: #08ff084d !important;
    }

    .mark {
        text-transform: uppercase;
    }

    .highlightLightRed {
        background: #e5727d !important;
        /*color: #fff;*/
        font-weight: bold;
    }

        .highlightLightRed:hover > td {
            background: #e5727d !important;
            /*/   color: #fff !important;*/
            font-weight: bold;
        }

    .select2-container {
        z-index: 9995;
    }

    .minwid100 {
        min-width: 60px;
    }

    .wid100 > .modal-dialog {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile">Shell Fabrication</span>
                </div>
                <div class="tools" id="dvExportHeader_1">
                    <div class="btn-group">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel
                   {
                       url = "/SFM/MaintainSFM/GenerateExcel",
                       GridType = clsImplementationEnum.GridType.GetCOPData.GetStringValue(),
                       dvId = "#dvExportHeader_1"
                   })



                        @if (!ViewBag.IsDisplay)
                        {
                            <a style="margin-right:5px;margin-left:5px;" id="btnUpdateStatus" class="btn btn-circle white btn-outline btn-sm">
                                <i class="fa fa-plus"></i> Update
                            </a>
                            <a style="margin-right:5px;margin-left:5px;" id="btnUpdateSeamStatus" class="btn btn-circle white btn-outline btn-sm">
                                <i class="fa fa-plus"></i> Update Seam Status
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formComponent", @class = "form-horizontal" }))
                {
                    <table class="table-striped table-bordered table-hover blue" id="tblSFMList" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="hide">Id</th>
                                <th>Project</th>
                                <th>QualityProject</th>
                                <th>Customer</th>
                                <th>BU</th>
                                <th>Pos No</th>
                                <th>Shell</th>
                                <th>Planned Receipt</th>
                                <th>PCRNO</th>
                                <th>PCLNumber</th>
                                <th>PCLStatus</th>
                                <th>Length</th>
                                <th class="hide">Width</th>
                                <th>Thk</th>
                                <th>Weight</th>
                                <th>MOC</th>
                                <th>Rolling Type</th>
                                <th>Rolling Machine</th>
                                <th>Seam No</th>
                                <th>Seam Status</th>
                                @*<th>Is Planned</th>*@

                                <th>Planned StartDate</th>
                                <th>Planned EndDate</th>
                                <th>Actual StartDate</th>
                                <th>Actual EndDate</th>
                                <th>CS_WEP_M_C</th>
                                <th>Edge Bracking</th>
                                <th>L_S_WEP_M_C</th>
                                <th>Rolling</th>
                                <th>Setup</th>
                                <th>Welding</th>

                                <th>NDT</th>
                                <th>Dispatch</th>
                                <th>Dispatch Date</th>
                                <th>Delivery Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>



<script>
    //oTable.fnSetColumnVis(0, false)
    var oTable;
    var table;
    var isDisplay = @ViewBag.IsDisplay.ToString().ToLower();
    var tblSFMList ="tblSFMList";
    var lstMachineCode=@Html.Raw(Json.Encode(ViewBag.MachineCode));
    $(document).ready(function () {
        lstBU = @Html.Raw(Json.Encode(ViewData["DrpBU"]));
        lstShellMark = ["Shell-1", "Shell-2", "Shell-3", "Shell-4", "Shell-5", "Shell-6", "Shell-7", "Shell-8", "Shell-9", "Shell-10", "Shell-11",
            "Shell-12", "Shell-13", "Shell-14", "Shell-15", "Shell-16", "Shell-17", "Shell-18", "Shell-19", "Shell-20", "Shell-21", "Shell-22", "Shell-23", "Shell-24", "Shell-25"]
        //lstIMRStatus = ["IMR OK", "IMR NOT OK"];


        table = $('#' + tblSFMList);
        GenerateTableWithUtility();

        if ('@ViewBag.Role' == "JP") {
            $('#formComponent').validate({
                rules: {
                    Project0: { required: true, },
                    BU0: { required: true, },
                    QualityProject0: { required: true, },
                    ItemId0: { required: true, },
                    ShellMark0: { required: true, },

                },
                messages: {
                    Project0: { required: "" },
                    BU0: { required: "" },
                    QualityProject0: { required: "" },
                    ItemId0: { required: "" },
                    ShellMark0: { required: "" },
                }
            });
        }

    })

    function ViewRecord(ShellId){
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SFM/MaintainSFM/GetFormDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ShellId: ShellId, Role: Role, UserRole:'@ViewBag.UserRole' },
            success: function (result) {

                bootbox.dialog({
                    title: 'View Details',
                    message: result,
                    className: 'wid100',
                    size: 'large',
                    //buttons: {
                    //'cancel': {
                    //    label: 'Close',
                    //    className: 'btnclose',
                    //    callback: function () {
                    //        ReloadGrid();
                    //    }
                    //}
                    //},
                    onEscape: function() {
                        ReloadGrid();
                    }
                });
            },
            error: function () {
            }
        });

        setTimeout(function(){
            ReloadGrid();
        },1000);
    }

    $("#btnUpdateStatus").click(function () {
        $.ajax({
            url: WebsiteURL + "/SFM/MaintainSFM/UpdateStatus",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    //oTable.fnDraw();
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#' + tblSFMList).DataTable().ajax.reload();
                }
                else {
                    if (data.value != null) {
                        DisplayNotiMessage("error", data.Value, "Error");
                    } else {
                        DisplayNotiMessage("warning", "No Data found for update status!", "Warning");
                    }
                }
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    });

    $("#btnUpdateSeamStatus").click(function () {
        $.ajax({
            url: WebsiteURL + "/SFM/MaintainSFM/UpdateSeamStatus",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    //oTable.fnDraw();
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#' + tblSFMList).DataTable().ajax.reload();
                }
                else {
                    if (data.value != null) {
                        DisplayNotiMessage("error", data.Value, "Error");
                    } else {
                        DisplayNotiMessage("warning", "No Data found for update status!", "Warning");
                    }
                }
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        });
    });

    function Seamlist(obj, hid) {        
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SFM/MaintainSeamWise/GetSeamAndStageDataGridPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ShellId: hid, Type: "SFM" },
            success: function (result) {
                bootbox.dialog({
                    title: 'Seam Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose',
                            callback: function () {
                            ReloadGrid();
                        }
                        }
                    },
                    onEscape: function () {
                        ReloadGrid();
                    }
                });
            },
            error: function () {
            }
        });
    }

    function UIDSelection(obj, ShellId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SFM/MaintainSeamWise/GetUIDselection",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { ShellId: ShellId, Type: "SFM",Role:'@ViewBag.Role' },
            success: function (result) {
                bootbox.dialog({
                    title: 'UID Selection',
                    message: result,
                    size: 'medium',
                    //buttons: {
                    //    'cancel': {
                    //        label: 'Close',
                    //        className: 'btnclose'
                    //    }
                    //},
                    onEscape: function () {
                        ReloadGrid();
                    }
                });
            },
            error: function () {
            }
        });

        setTimeout(function () {
            ReloadGrid();
        }, 1000);
    }



    function AddComponent() {
        if ($("#formComponent").valid()) {

            $('#' + tblSFMList+'_wrapper').find("thead:eq(1) .dataTables_sizing").html('')

            var formData = new FormData();
            var frmValues = $('#formComponent').serializeArray();

            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $('#' + tblSFMList).DataTable().columns.adjust();

            $.ajax({
                url: WebsiteURL + '/SFM/MaintainSFM/SaveNewRecord',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {

                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $("#btnNew_" + tblSFMList).click()
                        $('#' + tblSFMList).DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }

                }
            });
        }
        else {
            HighlightInValidControls();
            return;
        }
    }
    function SetProjectAutoComplete(e, ShellId) {
        $(e).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term,
                        location: ""
                    },
                    success: function (data) {

                        response($.map(data, function (item) {

                            return { label: item.projectDescription, value: item.projectCode, id: item.projectCode };
                        }));
                    }
                });
            },
            autoFocus: true,
            minLength: 1,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                SetContractorCustomer(ui.item.id, ShellId);
                var ItemId;
                if (ShellId > 0) {
                    ItemId = $("#ItemId[ShellId='" + ShellId + "']");
                } else {
                    ItemId = $("#ItemId0").val("");
                    ItemId = $("#ItemId0");
                }
                SetItemId(ItemId, ui.item.id, ShellId);
            },
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            }
        });
    }

    function BU_Blur(txt) {
        Blur_Change($(txt), 0);
    }

    function Blur_Change(e, ShellId) {
        var Proj = $(e).closest('tr').find("#Project" + ShellId).val();
        var BU = $(e).closest('tr').find("#BU" + ShellId).val();
        var ItemId
        ItemId = $("#ItemId0").val("");
        ItemId = $("#ItemId0");
        SetBU(ItemId, Proj, ShellId, BU)
    }

    function SetItemId(e, projectCode, ShellId) {
        $.ajax({
            url: WebsiteURL + "/SFM/MaintainSFM/GetItemIdForProject",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                project: projectCode
            },
            success: function (data) {
                SetItemAutoComplete(e, ShellId,data,projectCode)
            }
        });
    }

    function SetBU(e, projectCode, ShellId, BU) {
        $.ajax({
            url: WebsiteURL + "/SFM/MaintainSFM/GetPositionByBU",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                project: projectCode,
                BU:BU
            },
            success: function (data) {
                SetItemAutoComplete(e, ShellId, data, projectCode)
            }
        });
    }

    //function SetParts(e, projectCode, itemNo, headerId) {

    //    $.ajax({
    //        url: WebsiteURL + "/SFM/MaintainSFM/GetPartForItemProject",
    //        dataType: "json",
    //        type: "POST",
    //        beforeSend: function () {
    //            showLoading(true);
    //        },
    //        complete: function () {
    //            showLoading(false);
    //        },
    //        data: {
    //            term: "",
    //            project: projectCode,
    //            item: itemNo,
    //        },
    //        success: function (data) {

    //            //response($.map(data, function (item) {
    //            //    return { label: item.FindNo, value: item.FindNo, id: item.FindNo, description: item.Description };
    //            //}));
    //            SetPartAutoComplete(e, data, headerId)
    //        }
    //    });
    //}

    function GetPlannedReceiptDate(e, projectCode, itemNo, hdElement) {
        $.ajax({
            url: WebsiteURL + "/SFM/MaintainSFM/GetSFMPlannedReceiptDate",
            dataType: "json",
            type: "POST",
            data: {
                project: projectCode,
                item: itemNo,
            },
            success: function (data) {                
                var planoptions =[];
                //for (var i = 0; i < data.length; i++) {
                //    planoptions.push({PlannedReceiptDate:data[i].PlannedReceiptDate,POLine:data[i].POLine,PONo:data[i].PONo})
                //}
                //FillAutoCompletePlannedReceipt(e,planoptions,hdElement)
                //if (data.length == 1) {
                //    if($(e).val()==data[0].PlannedReceiptDate){
                //        $(e).autocomplete().val(data[0].PlannedReceiptDate);
                //    }
                //}

                if (data.length>0)
                    $("#PlannedReceipt0").val(data[0].PlannedReceiptDate);
                else
                    $("#PlannedReceipt0").val('');
            },
            error:function () {
                DisplayNotiMessage("error", "Something went wrong!", "Error");
            }
        });
    }
    function FillAutoCompletePlannedReceipt(element, sourceList, hdElement, fnCallback) {
        var lstPlannedDate=sourceList;
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.PlannedReceiptDate,
                        value: item.PlannedReceiptDate,
                        id: item.PlannedReceiptDate
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                if(ui.item){
                    $(this).val(ui.item.id);
                    //if (hdElement != undefined)
                    //    $(hdElement).val(ui.item.id);
                    if (fnCallback != undefined && typeof fnCallback == "function")
                        fnCallback(ui.item,hdElement)
                }else{
                    var IsUserDate=true;
                    if(element.val() !="")
                    {
                        if(validatedate(element.val())){
                            for (var i = 0; i < lstPlannedDate.length; i++) {
                                if(lstPlannedDate[i]==element.val()){
                                    IsUserDate=false;
                                }
                            }
                        }
                    }
                    if(IsUserDate){
                        $("#POLine" + hdElement).val("");
                        $("#PONo" + hdElement).val("");
                    }
                }
                //UpdateData(this, $(this).attr('spara'),true);
            },
            change: function (event, ui) {
                if(ui.item) {
                    $(this).val(ui.item.id);
                    if (hdElement != undefined)
                        $(hdElement).val(ui.item.id);
                    if (fnCallback != undefined && typeof fnCallback == "function")
                        fnCallback(ui.item,hdElement)
                }
                else {
                    var IsUserDate=true;
                    if(element.val() !="")
                    {
                        if(validatedate(element.val())){
                            for (var i = 0; i < lstPlannedDate.length; i++) {
                                if(lstPlannedDate[i]==element.val()){
                                    IsUserDate=false;
                                }
                            }
                        }
                    }
                    
                }

                //UpdateData(this, $(this).attr('spara'), true);

                UpdateDispDate(this, $(this).attr('spara'), true);
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }



    function GridActionBtn(data) {
        return "<input type='hidden' id='headerId' class='action' value='" + data + "'/>";
    }

    function GridEditBtn(data) {
        HasAttachment = $('#temp #HasAttachment').val();
        return '<input type="hidden" id="headerId" class="editable action" value="' + data + '"/>' +
     '<a id="Cancel" name="Cancel" class="btn btn-outline btn-circle btn-sm blue action" onclick="ReloadGrid()"><i class="fa fa-close"></i> Cancel</a><a id="Attachment' + data + '" name="Attachment" class="btn btn-outline btn-circle btn-sm blue action' + (HasAttachment == "Yes" ? " save" : "") + '" onclick="ViewAttachment(' + data + ')"><i class="fa fa-paperclip"></i> Attachment</a>';
    }




    var tempLineId = 0;



    function SetValues() {
        IsCallSuccessCallbackFunc@(FileUploadLineID) = true;
    }

    function ReloadGrid() {
        //oTable.fnDraw();
        $('#' + tblSFMList).DataTable().ajax.reload();
    }


    function SetItemAutoComplete(element, ShellId, data, projectCode) {
        var array = [];
        element.autocomplete({
            source: function (request, response) {
                 array = $.map(data, function (item) {
                    return {
                        label: item.FindNo,
                        value: item.FindNo,
                        id: item.FindNo,
                        Width: item.Width,
                        Length: item.Length,
                        Weight: item.Weight,
                        Thickness: item.Thickness,
                        MaterialCode: item.MaterialCode
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {

                $(this).val(ui.item.id);
                var Part;
                debugger
                if (ShellId > 0) {
                    $("#Width[ShellId='" + ShellId + "']").val(ui.item.Width);
                    $("#Length[ShellId='" + ShellId + "']").val(ui.item.Length);
                    $("#Weight[ShellId='" + ShellId + "']").val((parseFloat(ui.item.Weight) / 1000).toFixed(2));
                    $("#Thickness[ShellId='" + ShellId + "']").val(ui.item.Thickness);
                    $("#MOC[ShellId='" + ShellId + "']").val(ui.item.MaterialCode);
                    Part = $("#Part[ShellId='" + ShellId + "']");
                } else {

                    $("#Width0").val(ui.item.Width);
                    $("#Length0").val(ui.item.Length);
                    $("#Weight0").val((parseFloat(ui.item.Weight) / 1000).toFixed(2));
                    $("#Thk0").val(ui.item.Thickness);
                    $("#MOC0").val(ui.item.MaterialCode);
                    Part = $("#Part0");
                }
                //SetParts(Part, projectCode, ui.item.id, ShellId);

                var PlannedReceipt;
                if (ShellId > 0) {
                    PlannedReceipt = $("#PlannedReceipt[ShellId='" + ShellId + "']");
                } else {
                    $("#PlannedReceipt0").val("");
                    PlannedReceipt = $("#PlannedReceipt0");
                }
                GetPlannedReceiptDate(PlannedReceipt, projectCode, ui.item.id, ShellId);

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
                $(this).val(ui.item.id);
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }


    function SetPartAutoComplete(element, data, headerId) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(data, function (item) {
                    return {
                        label: item.FindNo,
                        value: item.FindNo,
                        id: item.FindNo
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                //SetContractorCustomer(ui.item.id, headerId);
            },
            change: function (event, ui) {
                if (ui.item != null) {
                    $(this).val(ui.item.id);
                }
                else{
                    //$(this).val('');
                    //$(this).focus();
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
        //element.focus();
    }

    function SetContractorCustomer(projectCode, ShellId) {
        $.ajax({
            url: WebsiteURL + "/SFM/MaintainSFM/GetContractorDetailsByProjectCode",
            type: "POST",
            datatype: "json",
            data: { projectCode: projectCode },
            success: function (data) {
                if (!data.Response.Key) {
                    DisplayNotiMessage("error", data.Response.Value, "Error");
                } else {
                    if (ShellId > 0) {
                        // $("#Cont[headerId='" + headerId + "']").val(data.Contractor.t_cono);
                        $("#Customer[ShellId='" + ShellId + "']").val(data.Customer.Name);
                        Editable($("#contractor[ShellId='" + ShellId + "']"));
                    } else {
                        //  $("#tblComponentOverlayList tbody tr:first #Cont").val(data.Contractor.t_cono);
                        $("#Customer0").val(data.Customer.Name);
                        $("#BU0").val('RPV');
                    }
                }
            },
            error: function (data) {
                DisplayNotiMessage("error", data.Value, "Error");
            }
        })
    }

    function GenerateTableWithUtility() {

        var Params = {
            sUrl:"/SFM/MaintainSFM/LoadDataGridData",
            aoColumns: [
                {//0
                    "bSortable": "false",
                    "sClass": "hide",
                    "name": "ShellId"
                },
                {//1
                    "sClass": "center",
                    "name": "Project"
                },
                {//2
                    "sClass": "center",
                    "name": "QualityProject"
                },
                {//3
                    "sClass": "center clsCustomer",
                    "name": "Customer",
                    "ColName": "cm006.t_nama",
                    "maxlength": 10
                },
                {//4
                    "sClass": "center",
                    "name": "BU"
                },
                {//5
                    "sClass": "center",
                    "name": "PositionNo",
                },
                {//6
                    "sClass": "center",
                    "name": "ShellMark",
                    "maxlength": 10
                },
                {//7
                    "sClass": "center",
                    "name": "PlannedReceipt",
                },
                {//8
                    "sClass": "center",
                    "name": "PCRNO"
                },
                {//9
                    "sClass": "text-center",
                    "name": "PCLNumber",
                },
                {//13
                    "sClass": "center",
                    "name": "PCLStatus"
                },
                {//10
                    "sClass": "hide",
                    "name": "Length"
                },

                {//12
                    "sClass": "hide",
                    "name": "Width"
                },

                {//14
                    "sClass": "hide",
                    "name": "Thk"
                },
                {//15
                    "sClass": "hide",
                    "name": "Weight"
                },
                {//7
                    "sClass": "center",
                    "name": "MOC",
                },
                {//7
                    "sClass": "center",
                    "name": "RollingType",
                },
                {//7
                    "sClass": "center",
                    "name": "RollingMachine",
                },
                {//7
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {//7
                    "sClass": "center",
                    "name": "SeamStatus",
                },
                //{//7
                //    "sClass": "center",
                //    "name": "IsPlanned",
                //},
                {//7
                    "sClass": "center",
                    "name": "PlannedStartDate",
                },
                {//7
                    "sClass": "center",
                    "name": "PlannedEndDate",
                },
                {//7
                    "sClass": "center",
                    "name": "ActualStartDate",
                },
                {//7
                    "sClass": "center",
                    "name": "ActualEndDate",
                },
                {//7
                    "sClass": "center",
                    "name": "CS_WEP_M_C",
                },
                {//7
                    "sClass": "center",
                    "name": "EdgeBracking",
                },
                {//7
                    "sClass": "center",
                    "name": "L_S_WEP_M_C",
                },
                {//7
                    "sClass": "center",
                    "name": "Rolling",
                },
                {//7
                    "sClass": "center",
                    "name": "Setup",
                },
                {//16
                    "sClass": "center",
                    "name": "Welding"
                },
                {//17
                    "sClass": "hide center",
                    "name": "NDT"
                },
                {//18
                    "sClass": "center",
                    "name": "Dispatch"
                },
                {//19
                    "sClass": "center",
                    "name": "DispatchDate"
                },
                {//20
                    "sClass": "center",
                    "name": "DeliveryLocation"
                },
                {//49
                    "sClass": "center",
                    "bSortable": false,
                    //"render": function (data, type, row, meta) {
                    //    if (parseInt(data)) {
                    //        return GridActionBtn(data);
                    //    } return data;
                    //}
                }
            ]
        };

        Params.bIsSearchFilter = true;
        Params.bIsResponsive = false,
            Params.bIsLazyLoading = true;
        Params.bIsFixedColumn = true;
        Params.sBtnDivSelector = "#dvExportHeader_1";

        Params.aServerParams = [{ "name": "dispatchStatus", "value": '@ViewBag.Status' }, { "name": "Role", "value": '@ViewBag.Role' }]
        if(isDisplay != true)
             Params.oSRE =
            {
                sUrl: "/SFM/MaintainSFM/GetInlineEditableRow?role=@ViewBag.Role",
                sCallback: 'CallAfterLoadSRE',
                iSelectedHeight: 110,
                bIsUpdateFromServer: true,
                bIsAddBtnNew: true
            };
        Params.bBtnMaximize = true;
        Params.iFCLeft = 7;
        Params.iFCRight = 1;
        Params.bScrollX = true;
        Params.bIsWrapHeader = false;
        $('#' + tblSFMList).dtUtility(Params);
        //$('#MCTime242').timepicker();

    }

    $('.timepicker').timepicker().on('show.timepicker', function (e) {
        alert(message);
    });

    $('#view_wrapper').on('select2:unselect', '.multiselect-drodown', function (e) {
        removesorting(e, $(this));
        var Lineid = $(this).attr('data-lineid');

        var element = e.params.data.element;
        var $element = $(element);
        var isnew = $element.data("new");
        if(isnew){
            $element.detach();
        }
        var selectedVal=$(this).val();
        if(selectedVal==null){
            $('#ddlmultiple'+Lineid+' option[data-new="true"]').detach();
        }
        else{
            if(selectedVal.indexOf($element[0].innerHTML)<0){
                var isnewEle=$('#ddlmultiple'+Lineid+' option[data-new="true"]');
                console.log(isnewEle);
                isnewEle.each(function(){
                    var $this=$(this);
                    if($element[0].innerHTML==$this.attr("value")){
                        $element.detach();
                    }
                });
            }
        }
        console.log('Values : '+selectedVal)
    });

    function GetPCLNOPCLStatus(objColumn, rowID, isValid) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        var Project = $("#Project" + rowID).val();
        //RollingChanged(Project, columnValue, rowID)
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/SFM/MaintainSFM/GetPCLDetails",
            datatype: 'json',
            async: false,
            data: { PCR: columnValue },
            success: function (result) {
                if (result.length > 0) {
                    $("#PCLNumber" + rowID).val(result[0].PCLNO);
                    $("#PCLStatus" + rowID).val(result[0].PCLstatus);
                }
                else {
                    $("#PCLNumber" + rowID).val('');
                    $("#PCLStatus" + rowID).val('');
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.", "Error");
            }
        });
    }

    function FillInlineAutoComplete(element, sourceList, hdElement, isEditable) {
        window.setTimeout(
            function(){
                FillAutoCompleteWithArray($("#tblSFMList_wrapper .dataTables_scrollHeadInner thead input[id=fltOverlay]"), sourceList, hdElement, null)},1000);
    }

    function CallAfterLoadSRE(id) {        
        $('input[colname="DispatchDate"]').each(function () {
            $(this).attr('type', 'date');
        });
        // $('input[colname="PlannedReceipt"]').each(function () {
        //    $(this).attr('type', 'date');
        //});

        LoadMultiSelect();
        //MatrixFlow($("#TypeOfComponent" + id).val(), $("#ID_BlankDia" + id).val(), $("#Groove_On_GF" + id).val(), id);

        $('#view_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");

            if ($(this).attr("colname") == "Project") {
                SetProjectAutoComplete(element, hdElement)
            }
            else if ($(this).attr("colname") == "BU") {
                FillAutoCompleteWithArray(element, lstBU)
            }
            else if ($(this).attr("colname") == "MOC") {
                FillAutoCompleteWithArray(element, lstMOC,undefined,function (item) {
                    if(item.id == "SS"){
                        $('#Procss'+id).attr("readonly","readonly");
                    }else{
                        $('#Procss'+id).removeAttr("readonly");
                    }
                })
            }
            else if ($(this).attr("colname") == "ShellMark") {
                FillAutoCompleteWithArray(element, lstShellMark)
            }          

            //else if(parseInt(hdElement)>0 &&$(this).attr("colname") == "Part" ){
            //    SetParts(element, $("#Project"+hdElement).val(),$("#ItemId"+hdElement).val(),hdElement)
            //}

        });
        $('#view_wrapper').delegate(".autocomplete:not(*[colname='PlannedReceipt'])", "focusout", function () {
            var element = $(this);
            var hdElement = $(this).attr("spara");
            if(parseInt(hdElement)>0){
                //UpdateData(this, hdElement, true)
                UpdateDispDate(this, $(this).attr('spara'), true)
            }
        });

        $('#' + tblSFMList+'_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");

            if ($(this).attr("colname") == "Project") {
                SetProjectAutoComplete(element, hdElement)
            }
            else if ($(this).attr("colname") == "BU") {
                FillAutoCompleteWithArray(element, lstBU)
            }
            else if ($(this).attr("colname") == "MOC") {
                FillAutoCompleteWithArray(element, lstMOC,undefined,function (item) {
                    if(item.id == "SS"){
                        $('#Procss'+id).attr("readonly","readonly");
                    }else{
                        $('#Procss'+id).removeAttr("readonly");
                    }
                })
            }

            else if ($(this).attr("colname") == "ShellMark") {
                FillAutoCompleteWithArray(element, lstShellMark)
            }

            //else if(parseInt(hdElement)>0 &&$(this).attr("colname") == "Part" ){
            //    SetParts(element, $("#Project"+hdElement).val(),$("#ItemId"+hdElement).val(),hdElement)
            //}
                // else if ($(this).attr("colname") == "txtMachineCode") {
                //else if ($(this).attr("colname") == "ddlMachineCode") {
                //    var rowid= $(this).attr("spara")
                //    //FillAutoCompleteMachineCode(element, lstMachineCode,$("#"+hdElement))
                //    FillAutoCompleteWithArray(element, lstMachineCode)
                //  }
            else if ($(this).attr("colname") == "txtMCingDays") {
                var rowid= $(this).attr("spara")
                FillAutoCompleteMCingDays(element,$("#"+hdElement))
            }
        });
        $('#' + tblSFMList+'_wrapper').delegate(".autocomplete:not(*[colname='PlannedReceipt'])", "focusout", function () {
            var element = $(this);
            var hdElement = $(this).attr("spara");
            if(parseInt(hdElement)>0){
                //UpdateData(this, hdElement, true)
                UpdateDispDate(this, $(this).attr('spara'), true)
            }
        });
        LoadSelect2QualityDropDownSFM("/SFM/MaintainSFM/GetQualityProjectsBySFM", $("#QualityProject"+id), "--Select Quality Project--",id)
        //const monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN",
        //                      "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        //var fromDate = new Date($("#WeekNo").attr('fromDate'));
        //var month = monthNames[fromDate.getMonth()];
        //var year = fromDate.getFullYear().toString().substr(-2);
        //var date = "[" + DateConvert($("#WeekNo").attr('fromDate')) + " to " + DateConvert($("#WeekNo").attr('toDate')) + "]";
        //$("#WeekNo").find($('option')).attr('selected', false)
        //$("#WeekNo").find("option:contains('" + date + "')").attr('selected', true)

        GetPlannedReceiptDate($("#PlannedReceipt" + id + ""),$("#Project" + id + "").val(),$("#ItemId" + id + "").val(),id);
        //SetParts($("#Part" + id + ""), $("#Project" + id + "").val(), $("#ItemId" + id + "").val(), id);
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });

        $(".numeric").autoNumeric('init', { aSep: '',aPad: false, });
        $('.numeric5').autoNumeric('init', { vMin: '0', vMax: "99999", aSep: '' });

    }

    function LoadMultiSelect() {
        $("select[data-name='RollingType']").select2({
            caption: "--Select Notes--",
            width: '250px'
        });
        $("select[data-name='RollingMachine']").select2({
            caption: "--Select Rolling Machines--",
            width: '250px'
        });
        $("select[data-name='CSWEPMC']").select2({
            caption: "--Select CSWEPMC--",
            width: '250px'
        });
        $("select[data-name='LSWEPMC']").select2({
            caption: "--Select CSWEPMC--",
            width: '250px'
        });
        $("select[data-name='EdgeBracking']").select2({
            caption: "--Select EdgeBracking--",
            width: '250px'
        });
        $("select[data-name='Rolling']").select2({
            caption: "--Select Rolling--",
            width: '250px'
        });
        $("select[data-name='Dispatch']").select2({
            caption: "--Select Dispatch--",
            width: '250px'
        });
        $("select[data-name='Setup']").select2({
            caption: "--Select Setup--",
            width: '250px'
        });
        $("select[data-name='Welding']").select2({
            caption: "--Select Welding--",
            width: '250px'
        });
        $("select[data-name='NDT']").select2({
            caption: "--Select NDT--",
            width: '250px'
        });

        $('input[colname="PlannedStartDate"]').each(function () {
            $(this).attr('type', 'date');
        });
        $('input[colname="PlannedEndDate"]').each(function () {
            $(this).attr('type', 'date');
        });
        //$('input[colname="PlannedReceipt"]').each(function () {
        //    $(this).attr('type', 'date');
        //});
    }

    function RedirectCameraURL($this,rowID)
    {
        url = $("#" + tblSFMList).find("[data-id="+rowID+"]").find('.clsCameraURL').text();
        if(url!="" && url !=null && url !=undefined)
        {
            window.open(url, "_blank");
        }
    }
    function UpdateDispDate(objColumn, rowID, isValid) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if (columnName == "Dispatch" && columnValue == "Yes") {
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = (day) + "-" + (month) + "-" + now.getFullYear() ;
            var t = "#DispatchDate" + rowID;
            $(t).val(today);
            $(t).focus();
        }
        else {
            var today = "";
            var t = "#DispatchDate" + rowID;
            $(t).val(today);
            $(t).focus();
        }
    }

    function FillAutoCompleteWithCommon(element, sourceList, hdElement, fnCallback) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item,
                        value: item,
                        id: item
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                if (hdElement != undefined)
                    $(hdElement).val(ui.item.id);
                if (fnCallback != undefined && typeof fnCallback == "function")
                    fnCallback($(this), hdElement)
                HighlightInValidControls();
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                    HighlightInValidControls();
                }
                else {
                    $(this).val(ui.item.id);
                    if (hdElement != undefined)
                        $(hdElement).val(ui.item.id);
                }
                if (fnCallback != undefined && typeof fnCallback == "function")
                    fnCallback($(this), hdElement)
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function LoadSelect2QualityDropDownSFM(url, objControl, placeHolder, rowId) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        Project: $('#Project'+rowId).val(),
                        BU: $('#BU'+rowId).val()
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    function validatedate(inputText,displayalert)
    {
        var IsValid=true;
        if(displayalert==null && displayalert==undefined){displayalert=true;}

        //var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/; // this is also allow to enter - seperator
        var dateformat = /^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/\-]\d{4}$/;
        // Match the date format through regular expression
        if(inputText.match(dateformat))
        {
            //Test which seperator is used '/' or '-'
            var opera1 = inputText.split('/');
            var opera2 = inputText.split('-');
            lopera1 = opera1.length;
            lopera2 = opera2.length;
            // Extract the string into month, date and year
            if (lopera1>1)
            {
                var pdate = inputText.split('/');
            }
            else if (lopera2>1)
            {
                var pdate = inputText.split('-');
            }
            var dd = parseInt(pdate[0]);
            var mm  = parseInt(pdate[1]);
            var yy = parseInt(pdate[2]);
            // Create list of days of a month [assume there is no leap year by default]
            var ListofDays = [31,28,31,30,31,30,31,31,30,31,30,31];
            if (mm==1 || mm>2)
            {
                if (dd>ListofDays[mm-1])
                {
                    if(displayalert){
                        alert('Invalid date format!');
                    }
                    IsValid= false;
                }
            }
            if (mm==2)
            {
                var lyear = false;
                if ( (!(yy % 4) && yy % 100) || !(yy % 400))
                {
                    lyear = true;
                }
                if ((lyear==false) && (dd>=29))
                {
                    if(displayalert){
                        alert('Invalid date format!');
                    }
                    IsValid= false;
                }
                if ((lyear==true) && (dd>29))
                {
                    if(displayalert){
                        alert('Invalid date format!');
                    }
                    IsValid= false;
                }
            }
        }
        else
        {
            if(displayalert){
                alert("Invalid date format!");
            }
            IsValid= false;
        }
        return IsValid;
    }


    function DispacthChange(newRecordId) {
        if ($('#DISP' + newRecordId).val() == "Yes") {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;
            $('#DispatchDate' + newRecordId).val(today);
        }
        else {
            $('#DispatchDate' + newRecordId).val("");
        }
    }


</script>


