﻿@using IEMQSImplementation
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        GetHeaderGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });

    function GetHeaderGridDataPartial(status) {
        var table = $('#tblICLHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ApproveICLPart/LoadICLPartHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": status }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
     {
         "sClass": "hide",
     },
                {
                    "sClass": "center",
                    "name": "QualityProject"
                },
                {
                    "name": "Project",
                    "sClass": "center"
                },
                {
                    "name": "BU",
                    "sClass": "center"
                },
                 {
                     "name": "Location",
                     "sClass": "center"
                 },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons += '<center><a href="' + WebsiteURL + '/IPI/ApproveICLPart/Viewdetails?headerid=' + row[5] + '"  title="View" style="cursor:pointer;" name="btnAction" id="btnEdit"><i  class="fa fa-eye"></i></a>&nbsp;&nbsp;';
                        buttons += '</center>'
                        return buttons;
                    }
                },
            ]
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Approve Part ICL
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>


                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            @{
                                string strTPTitle = " Project List";
                            }
                            @strTPTitle
                        </div>
                        <div class="tools" id="dvExportHeader">
                            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/ApproveICLPart/GenerateExcel", GridType = clsImplementationEnum.GridType.APPROVEINDEX.GetStringValue(), dvId = "#dvExportHeader" })
                        </div>
                    </div>
                    <div class="portlet-body">
                        @*@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTPHeaderDetails" }))
                            {*@
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblICLHeader" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="" style="display:none">Sr.No</th>
                                    <th class="min-phone-l">Quality Project</th>
                                    <th class="min-phone-l">LN Project - Description</th>
                                    <th class="min-phone-l">BU - Description</th>
                                    <th class="min-phone-l">Location - Description</th>
                                    <th class="min-phone-l">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        @*  }*@
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
</div>



@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <style>
        textarea {
            height: 33px !important;
        }

        .disableDiv {
            pointer-events: none;
            opacity: 0.5;
        }

        fieldset {
            border-top: 1px groove gray !important;
            padding: 0 0.4em 0.4em 0.4em !important;
            margin: 0 0 0.5em 0 !important;
            /*border-radius: 10px !important;*/
        }

        legend {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            margin-bottom: 0px !important;
            border-bottom: none;
            display: block;
            font-size: 21px;
            line-height: inherit;
        }

        .form-group {
            margin-bottom: 5px !important;
        }

        .ui-autocomplete {
            overflow: auto;
            height: auto;
        }
    </style>
    <script>
        $(document).ready(function () {
            GetHeaderGridDataPartial('Pending');
            $('a[name="tabStatus"]').click(function () {
                GetHeaderGridDataPartial($(this).attr('spara'));
            });
        });

        function GetHeaderGridDataPartial(status)
        {
            $("#portlet_comments_1").empty();
            $("#portlet_comments_2").empty();
            $.ajax({
                type: "POST",
                url: "/IPI/ApproveICLSeam/LoadHeaderPartial",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { status: status },
                success: function (result) {
                    if (status == "Pending") {
                        $("#portlet_comments_1").html(result);
                    }
                    else {
                        $("#portlet_comments_2").html(result);
                    }
                },
                error: function () {
                }
            });
        }

    </script>

    <div class="page-content">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <h1 class="page-title">
                                     ICL Seam
                                        <small></small>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_comments_1">
                            </div>
                            <div class="tab-pane" id="portlet_comments_2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

