﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    var UserRole = '@ViewBag.UserRole';
    $(document).ready(function () {
        GetHeaderGridDataPartial('Pending');

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });

    function GetHeaderGridDataPartial(status) {
        var title = '@ViewBag.Title';
        var indextype = '@ViewBag.IndexType';

        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFR/GetHeaderGridDataPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, title: title, indextype: indextype, UserRole: UserRole },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    @Html.Raw((String)ViewBag.Title)
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue())
                                {
                                    <a href="~/FKMS/MaintainFR/FRDetails/0?urlForm=@(ViewBag.IndexType)" style="float: right;" class="btn green">Add New</a>
                                }
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG2.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG1.GetStringValue())
                    {
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li>
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>
                    }
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG2.GetStringValue() || ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG1.GetStringValue())
                        {
                            <div class="tab-pane active" id="portlet_comments_1"></div>
                            <div class="tab-pane" id="portlet_comments_2"></div>
                        }
                        else
                        {
                            <div class="tab-pane active" id="portlet_comments_1"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")