﻿@model IEMQSImplementation.PRL040
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<style>
    .FormTable {
        width: 100% !important;
    }

        .FormTable td {
            width: 11% !important;
            border: solid 2px #cecece;
            padding: 5px 5px !important;
            text-align: center;
        }

              .FormTable td input[type="text"]:not(.error) {
                text-align: center;
                border: 1px solid #e9e9e9 !important;
            }

        .FormTable span {
            padding: 5px 5px !important;
        }

        .FormTable .title {
            font-weight: bold !important;
            background-color: #e9e9e9 !important;
        }

        .FormTable .subtitle {
            font-weight: bold !important;
            background-color: #f3f3f3 !important;
        }
        /*.FormTable .sub-subtitle {
            background-color: #f3f3f3 !important;
        }*/

        .FormTable .noTopBoder {
            border-top: solid 1px white !important;
        }

        .FormTable .noBottomBoder {
            border-bottom: solid 1px white !important;
        }

    .tblNotes td {
        text-align: left;
    }

        .tblNotes td input {
            display: inline-block;
        }

    .w100 {
        width: 100px;
    }

    .w250 {
        width: 250px;
    }

    .PRODTextbox {
        background-color: #cfc !important;
    }

    .QCTextbox {
        background-color: #fff9b6 !important;
    }

    .EditableTextColor {
        color: #000 !important;
        font-size: 16px !important;
    }

    .NonEditableTextColor {
        color: #777 !important;
    }

    .lefttext {
        text-align: left;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <div class="portlet-body">
                <div class="dvDisable">
                    <!-- BEGIN FORM-->
                    <div class="form-body">
                        <div class="mt-element-ribbon bg-grey-steel" style="height: 55px; margin-bottom: 10px !important;">
                            <div class="ribbon ribbon-left" style="background-color: transparent !important;">
                                <span class="page-title">VISUAL & DIMENSION REPORT FOR CIRCUMFERENTIAL SEAM</span>
                            </div>
                            <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                            </div>
                        </div>
                        <div id="dvProtocolHeader" style="padding:1%">
                            <form id="frmProtocolHeader" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.HiddenFor(m => m.HeaderId)
                                        <table class="FormTable tblNotes">
                                            <tr>
                                                <td class="subtitle"> PROJECT NO.</td>
                                                <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                                <td class="subtitle"> DATE</td>
                                                <td>
                                                    @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle"> PROJECT DESCREPTION</td>
                                                <td> @ViewBag.ProjectDesc</td>
                                                <td class="subtitle"> SEAM NO.</td>
                                                <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle"> EQPT.NO.</td>
                                                <td>@Html.DisplayFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                                <td class="subtitle">INPECTION AGENCY</td>
                                                <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                                <td>
                                                    <span style="float:left;padding: 0px 0px !important;">@Html.DisplayFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                                    &
                                                    <span style="float:right;padding: 0px 0px !important;"> @Html.DisplayFor(m => m.DrawingRevisionNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                                </td>
                                                <td class="subtitle">MANUFACTURING CODE</td>
                                                <td>@ViewBag.ManufacturingCode</td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                                <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                                <td class="subtitle">OFFER DATE</td>
                                                <td>
                                                    @Html.DisplayFor(m => m.OfferDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                                </td>
                                            </tr>
                                            <tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8" style="margin-top:3%">
                                        <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left; margin-top: 7px;">
                                                        <strong>OFFSET READINGS</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>ALLOWABLE OFFSET =</b>&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(model => model.AllowableOffset, new { @class = "form-control numeric-only", @style = "display: inline-block;width: 150px;", @maxlength = 10, @role = "QC" })
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <div class="btn-group">

                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                                <i class="fa fa-plus"></i> New
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="min-phone-l" style="display:none;">GridId</th>
                                                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                            <th class="min-phone-l" style="display:none;">LineId</th>
                                                            <th class="all">ORIEN</th>
                                                            <th class="all">OFFSET</th>
                                                            <th class="all">ACTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"><img src="~/Images/protocol002_img1.png" /></div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left; margin-top: 7px;">
                                                        <strong>ALIGNMENT READINGS</strong>
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <div class="btn-group">
                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <a style="margin-right:5px;" id="btnNewLines2" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines2');">
                                                                <i class="fa fa-plus"></i> New
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <table id="tblProtocolLines2" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="min-phone-l" style="display:none;">GridId</th>
                                                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                            <th class="min-phone-l" style="display:none;">LineId</th>
                                                            <th class="all">Location</th>
                                                            <th class="all">AT 0°</th>
                                                            <th class="all">AT 90°</th>
                                                            <th class="all">AT 180°</th>
                                                            <th class="all">AT 270°</th>
                                                            <th class="all">Remark</th>
                                                            <th class="all">ACTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <table class="FormTable">
                                            <tr>
                                                <td colspan="9" class="title">TOTAL HEIGHT : &nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(model => model.TotalHeight, new { @class = "form-control numeric-only", @style = "display: inline-block;width: 150px; ", @maxlength = "10", @role = "QC" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">Orientation</td>
                                                <td colspan="2" class="subtitle">Required (MM)</td>
                                                <td colspan="2" class="subtitle">Actual (MM)</td>
                                                <td class="subtitle">Orientation</td>
                                                <td class="subtitle">Required (MM)</td>
                                                <td class="subtitle">Actual (MM)</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">AT 0°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.RequiredOrientation1, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.ActualOrientation1, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td class="subtitle">AT 45°</td>
                                                <td>@Html.TextBoxFor(model => model.RequiredOrientation5, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualOrientation5, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">AT 90°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.RequiredOrientation2, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.ActualOrientation2, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td class="subtitle">AT 135°</td>
                                                <td>@Html.TextBoxFor(model => model.RequiredOrientation6, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualOrientation6, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">AT 180°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.RequiredOrientation3, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.ActualOrientation3, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td class="subtitle">AT 225°</td>
                                                <td>@Html.TextBoxFor(model => model.RequiredOrientation7, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualOrientation7, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">AT 270°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.RequiredOrientation4, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.ActualOrientation4, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td class="subtitle">AT 315°</td>
                                                <td>@Html.TextBoxFor(model => model.RequiredOrientation8, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualOrientation8, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <table class="FormTable">
                                            <tr>
                                                <td colspan="9" class="title">e-VALUE TEMPLATE INSPECTION (IN CASE OF EXTERNAL PRESSURE VESSEL)</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">CHORD LENGTH </td>
                                                <td colspan="2" class="subtitle">RADIUS</td>
                                                <td colspan="3" class="subtitle">GAP</td>
                                                <td colspan="2" rowspan="2" class="subtitle">REMARKS</td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">REQ.</td>
                                                <td class="subtitle">ACT.</td>
                                                <td class="subtitle">REQ.</td>
                                                <td class="subtitle">ACT.</td>
                                                <td class="subtitle" colspan="2">ALLOWABLE</td>
                                                <td class="subtitle">ACT.</td>

                                            </tr>
                                            <tr>
                                                <td>@Html.TextBoxFor(model => model.RequiredChordLength, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualChordLength, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.RequiredRadius, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualRadius, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.AllowableGap, new { @class = "form-control", @maxlength = "20", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.ActualGap, new { @class = "form-control", @maxlength = "20", @role = "PROD" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @maxlength = "100", @role = "PROD" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <table class="FormTable">
                                            <tr>
                                                <td colspan="9" class="title">OUT OF ROUNDNESS AT OPEN END CHECKED (as long seam setup logic)</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">ORIENTATION</td>
                                                <td colspan="2" class="subtitle">REQUIRED AT TOP OPEN END </td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td colspan="2" class="subtitle">REQUIRED AT BOTTOM OPEN END</td>
                                                <td class="subtitle">ACTUAL</td>
                                                <td class="subtitle">REMARK</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">0°-180°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtTop1, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtTop1, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtBottom1, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtBottom1, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationRemark1, new { @class = "form-control", @maxlength = "100", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">45°-225°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtTop2, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtTop2, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtBottom2, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtBottom2, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationRemark2, new { @class = "form-control", @maxlength = "100", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">90°-270°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtTop3, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtTop3, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtBottom3, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtBottom3, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationRemark3, new { @class = "form-control", @maxlength = "100", @role = "PROD" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="subtitle">135°-315°</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtTop4, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtTop4, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td colspan="2">@Html.TextBoxFor(model => model.OrientationRequiredAtBottom4, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationActualAtBottom4, new { @class = "form-control numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                                <td>@Html.TextBoxFor(model => model.OrientationRemark4, new { @class = "form-control", @maxlength = "100", @role = "PROD" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine3" data-gridid="3">
                                            <div class="portlet-title">
                                                <div class="caption">

                                                    <span style="float:left; margin-top: 7px;">
                                                        <strong>ORIENTATION OF LONG SEAMS</strong>
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <div class="btn-group">

                                                        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <a style="margin-right:5px;" id="btnNewLines3" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines3');">
                                                                <i class="fa fa-plus"></i> New
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <table id="tblProtocolLines3" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="min-phone-l" style="display:none;">GridId</th>
                                                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                            <th class="min-phone-l" style="display:none;">LineId</th>
                                                            <th class="all">SEAM NO.</th>
                                                            <th class="all">REQ. ORIEN</th>
                                                            <th class="all">REQ. ARC LENGTH </th>
                                                            <th class="all">ACTUAL ARC LENGTH</th>
                                                            <th class="all">ACTION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-lg-12">
                                        Comment If Any : @Html.TextAreaFor(model => model.CommentIfAny, new { @class = "form-control", @maxlength = "100", @role = "PROD" })
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-lg-12">
                                        <table class="FormTable tblNotes">
                                            <tr>
                                                <td colspan="9" class="title bold">REMARKS:</td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="noTopBoder noBottomBoder">1) PROCEDURE NO:&nbsp;&nbsp;@Html.TextBoxFor(model => model.Remark1, new { @class = "form-control", @maxlength = "50", @role = "QC", @style = "width:50%" })</td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="noTopBoder noBottomBoder">
                                                    2) CALIBRATED TAPE NO. :
                                                    @Html.TextBoxFor(model => model.Remark2Note, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "PROD" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="noTopBoder noBottomBoder">
                                                    <span style="display: inline-block;vertical-align: middle;margin-top: -40px;margin-left: 85px;">
                                                        CAL.DATE :
                                                    </span>
                                                    <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" style="display: inline-block;">
                                                        @Html.TextBoxFor(m => m.Remark2, "{0:dd/MM/yyyy}", new { @class = "form-control  inlinetextbox", @readonly = "readonly", style = "width:200px !important;", @role = "PROD" })
                                                        <span class="input-group-btn" style="float: left;top: -5px;">
                                                            <button class="btn default" id="btncal1" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="noTopBoder noBottomBoder">
                                                    3) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="noTopBoder noBottomBoder">
                                                    4) SEAM NO. & WELDER STAMP __________PUNCHED AT EVERY 900 MM :
                                                    @Html.TextBoxFor(model => model.Remark4, new { @class = "form-control w100", @maxlength = "5", @role = "PROD" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9" class="noTopBoder">
                                                    5) SKETCH FOR TEMPORARY SUPPORT PROVIDED :
                                                    @Html.TextBoxFor(model => model.Remark5, new { @class = "form-control w100", @maxlength = "5", @role = "PROD" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="row col-md-12">
                                        <div class="col-md-4">
                                            <span style="float:left; margin-top: 7px;">CLADDED VESSEL : &nbsp;</span> &nbsp;&nbsp;
                                            @Html.TextBoxFor(model => model.CladdedVessel, new { @role = "QC", @class = "form-control col-md-12", style = "width:100px !important;text-align:center", @maxlength = 10 })
                                        </div>
                                    </div>
                                    <div id="dvProtocolLines4">
                                        <div class="col-md-12" style="height: 20px"></div>
                                        <div class="col-md-12">
                                            <div class="portlet box green inlineparentdiv" id="divLine4" data-gridid="4">
                                                <div class="portlet-title">
                                                    <div class="caption" style="width:100%;text-align:center;">
                                                        <span style="float:left; margin-top: 7px;width:100%;">
                                                            <strong>CLAD STRIPING DETAILS AT THE TIME OF WELD VISUAL (BEFORE CLAD RESTORATION)</strong>
                                                        </span><br />
                                                    </div>
                                                    <div class="caption">
                                                        <span style="float:left; margin-top: 7px;">
                                                            <strong>CLAD STRIPING WIDTH REQUIRED</strong> &nbsp;&nbsp;Max:
                                                        </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.CladStripingWidthMax, new { @class = "form-control col-md-12 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                        <span style="float:left; margin-top: 7px;">&nbsp;&nbsp;Min :</span>&nbsp;&nbsp;@Html.TextBoxFor(model => model.CladStripingWidthMin, new { @class = "form-control col-md-12 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                    </div>
                                                    <div class="tools" id="dvExportSubLines">
                                                        <div class="btn-group">

                                                            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <a style="margin-right:5px;" id="btnNewLines4" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines4');">
                                                                    <i class="fa fa-plus"></i> New
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <table id="tblProtocolLines4" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="min-phone-l" style="display:none;">GridId</th>
                                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                                <th class="min-phone-l" style="display:none;">LineId</th>
                                                                <th class="all">SPOT NO.</th>
                                                                <th class="all">WIDTH</th>
                                                                <th class="all">REMARKS</th>
                                                                <th class="all">ACTION</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="height: 20px"></div>
                                        <div class="col-md-12">
                                            <div class="portlet box green inlineparentdiv" id="divLine5" data-gridid="5">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <span style="float:left; margin-top: 7px;">
                                                            <strong>CLAD STRIPING DEPTH REQUIRED</strong> &nbsp;&nbsp;Max:
                                                        </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.CladStripingDepthMax, new { @class = "form-control col-md-12 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                        <span style="float:left; margin-top: 7px;">&nbsp;&nbsp;Min :</span>&nbsp;&nbsp;@Html.TextBoxFor(model => model.CladStripingDepthMin, new { @class = "form-control col-md-12 numeric-only", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                    </div>
                                                    <div class="tools" id="dvExportSubLines">
                                                        <div class="btn-group">
                                                            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <a style="margin-right:5px;" id="btnNewLines5" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines5');">
                                                                    <i class="fa fa-plus"></i> New
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <table id="tblProtocolLines5" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th class="min-phone-l" style="display:none;">GridId</th>
                                                                <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                                <th class="min-phone-l" style="display:none;">LineId</th>
                                                                <th class="all">SPOT NO.</th>
                                                                <th class="all">DEPTH</th>
                                                                <th class="all">REMARKS</th>
                                                                <th class="all">ACTION</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="height: 20px;text-align:left;">WIDTH AND DEPTH OF CLAD STRIPING AREA IS ASSURED AT EACH RT SPOT.</div>
                                        <div class="col-md-12" style="height: 20px"></div>
                                        <div class="col-md-12">
                                            <table class="FormTable">
                                                <tr>
                                                    <td style="width:50% !important" class="noBottomBoder title"><span style="float:left;">NOTES:</span></td>
                                                    <td rowspan="4">
                                                        <img src="~/Images/protocol-sample.png" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="noBottomBoder noTopBoder"><span style="float:left">1. PROCEDURE NO. </span>@Html.TextBoxFor(model => model.FNote1, new { @class = "form-control col-md-6", @maxlength = "50", style = "width:250px !important;", @role = "QC" })</td>
                                                </tr>
                                                <tr>
                                                    <td class="noBottomBoder noTopBoder"><span style="float:left">2. CLAD STRIPING INSURED WITH CuSO4. </span>@Html.TextBoxFor(model => model.FNote2, new { @class = "form-control col-md-6", @maxlength = "5", style = "width:100px !important;", @role = "PROD" })</td>
                                                </tr>
                                                <tr>
                                                    <td class="noTopBoder"><span style="float:left">3. CLAD ANGLE ENSURED FOR 45° </span>@Html.TextBoxFor(model => model.FNote3, new { @class = "form-control col-md-6", @maxlength = "5", style = "width:100px !important;", @role = "PROD" })</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>                                   
                                    <div class="col-md-12" style="height: 20px"></div>
                                    <div class="col-md-12">
                                        <div class="col-md-6" style="text-align:left;">
                                            <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                        </div>
                                        <div class="col-md-6" style="text-align:right;">
                                            <input type="button" class="btn save" id="btnSave" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Line1Columns = [];
    var Line2Columns = [];
    var Line3Columns = [];
    var Line4WidthColumns = [];
    var Line4DepthColumns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";
    var datatblefn = "GetProtocolLinkageLines";
    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        if (isEdit.toLowerCase() == "true") { }
        else {
            $('div.dvDisable :input')
                .not($('.dataTables_length').find('input,select,search,textarea'))
                .not($('.dataTables_filter').find('input,select,search,textarea'))
                .prop('disabled', true);
            $('div.dvDisable a')
                .not($('.dataTables_paginate').find('input,select,search,textarea'))
                .not("#btnPrint")
                .hide();
        }
        SetAccessControlForRole(userRole)
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLinkageLines1Data", ["headerId"])
        LoadProtocolLineTables('tblProtocolLines2', 'btnNewLines2', Line2Columns, ControllerURL + "GetProtocolLinkageLines2Data", ["headerId"])
        LoadProtocolLineTables('tblProtocolLines3', 'btnNewLines3', Line3Columns, ControllerURL + "GetProtocolLinkageLines3Data", ["headerId"])
        LoadProtocolLineTables('tblProtocolLines4', 'btnNewLines4', Line4WidthColumns, ControllerURL + "GetProtocolLinkageLines4Data", ["headerId"])
        LoadProtocolLineTables('tblProtocolLines5', 'btnNewLines5', Line4DepthColumns, ControllerURL + "GetProtocolLinkageLines5Data", ["headerId"])

        showCladtripTable('@Model.CladdedVessel', "dvProtocolLines4");
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstRTUTExtent = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ProtocolRT))));
        var lstTOFDUTExtent = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ProtocolUT))));

        FillProtocolAutoComplete($('#CladdedVessel'), lstYesNo, null, false, showCladtripTable, ["dvProtocolLines4"]);
        FillProtocolAutoComplete($('#Remark4'), lstYesNo, null, false)
        FillProtocolAutoComplete($('#Remark5'), lstYesNo, null, false)
        FillProtocolAutoComplete($('#FNote2'), lstYesNo, null, false)
        FillProtocolAutoComplete($('#FNote3'), lstYesNo, null, false)

        $("#btnSave").click(function () {
             @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="PROD"]').prop("required", true);</text>
             }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="QC"]').prop("required", true);</text>
             }
            SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderDataLinkage", userRole);
        });
        $("#btnPrint").click(function () {
            PrintReport("/IPI/Protocol/PROTOCOL009", $('#HeaderId').val());
        });
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val()); formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLinkageLine1", "tblProtocolLines1", "btnNewLines1");
    }

    function SaveProtocolLine2(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val()); formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLinkageLine2", "tblProtocolLines2", "btnNewLines2");
    }

    function SaveProtocolLine3(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val()); formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLinkageLine3", "tblProtocolLines3", "btnNewLines3");
    }

    function SaveProtocolLine4(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val()); formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLinkageLine4", "tblProtocolLines4", "btnNewLines4");
    }

    function SaveProtocolLine5(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val()); formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLinkageLine5", "tblProtocolLines5", "btnNewLines5");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "Orientation",
                },
                {
                    "sClass": "center",
                    "name": "Offset",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line2Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
               {
                   "sClass": "hide",
                   "bSortable": false,
               },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "Location",
                },
                {
                    "sClass": "center",
                    "name": "At0",
                },
                {
                    "sClass": "center",
                    "name": "At90",
                },
                {
                    "sClass": "center",
                    "name": "At180",
                },
                {
                    "sClass": "center",
                    "name": "At270",
                },
                {
                    "sClass": "center",
                    "name": "Remark",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line3Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "ReqOrientation",
                },
                {
                    "sClass": "center",
                    "name": "ReqArcLength",
                },
                {
                    "sClass": "center",
                    "name": "ActArcLength",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line4WidthColumns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                 {
                     "sClass": "hide",
                     "bSortable": false,
                 },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "Width",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line4DepthColumns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
              {
                  "sClass": "hide",
                  "bSortable": false,
              },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SeamNo",
                },
                {
                    "sClass": "center",
                    "name": "Depth",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }


</script>