﻿@using IEMQSImplementation
@using IEMQS.Areas.SSS.Controllers
@model SSS014
@{
    ViewBag.Title = "PCC Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadFinalHeaderID = "fuheaderfinaldoc";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    /*legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }*/

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <form id="frmPCCInput">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                            <span class="page-title">Expansion Mock Up </span>
                            <input type="hidden" id="hdnid" />
                            @Html.HiddenFor(m => m.SSSId)
                            @Html.HiddenFor(m => m.ExpansionMockUpId)
                            
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            Status :  <span style="font-weight:bolder" id="spanStatus"> @Model.Status.Trim()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divSSSHeader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label" title="PLNG3 Employee">To<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="txtToPerson" name="txtToPerson" />
                                @Html.HiddenFor(m => m.ToPerson, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Expected date of Inputs<span class="required"> * </span></label>

                                <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => m.TargetDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">From<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="txtFromPerson" name="txtToPerson" readonly />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Date<span class="required"> * </span></label>
                                @Html.TextBoxFor(m => m.SubmittedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="control-label">Notes</label>
                                @Html.TextBoxFor(m => m.Notes, new { @class = "form-control",@maxlength="300" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">       
                                <div id="dv@(FileUploadFinalHeaderID)"></div>
                                @*@Html.Partial("_AttachmentPartial")*@
                            </div>
                        </div>                        
                        <div class="col-md-12" style="text-align:right;margin-top:15px;">
                            <input type="button" class="btn submit" id="btnSubmit" value="Submit" style="display:none" />
                            <input type="button" class="btn save" id="btnSave" value="Save" />
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>
                    </div>
                </form>
                <div id="divLines" style="margin-top:20px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script>
    var currenttab;
    var lstToEmployee = @Html.Raw(Json.Encode(@ViewBag.lstToEmployee));
    var RoleId='@ViewBag.RoleId';
    var Status='@Model.Status';
    var ExpansionMockUpId = '@Model.ExpansionMockUpId'
    var tbl;

    $(document).ready(function () {
        LoadFileUploadFinalHeader();
        tbl = $('#tblLines');
        BindSSSHeader('@Model.SSSId');

        FillAutoComplete($('#txtToPerson'), lstToEmployee, $("#ToPerson"));

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });

        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
        jQuery(function ($) {
            $('.numeric').autoNumeric('init', { aPad: "fase", vMax: "1000000000", aForm: "false" });
            $('.minutes').autoNumeric('init', { aPad: "fase", vMax: "60", aForm: "false" });
        });


        $('#frmPCCInput').validate({
            rules: {
                txtToPerson:{
                    required: true,
                },
                TargetDate: {
                    required: true,
                }
            },
            messages: {
                txtToPerson:{
                    required: "To Person Is Required",
                },
                TargetDate: {
                    required: "Target Date Is Required"
                }
            }
        });

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });

    });

    function BindSSSHeader(SSSId) {
        $('#divSSSHeader').load(
            $.ajax({
                url: WebsiteURL +"/SSS/MaintainSSS/GetSSSHeaderDetails",
                type: "POST",
                data: { SSSId: SSSId, DisplayDSS: false },
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divSSSHeader').html(data);
                }
            })
      );
    }

    function BindLines(Id) {
        $.ajax({
            url: WebsiteURL +"/SSS/ExpansionMockUp/GetExpansionMockUpLinePartial",
            type: "POST",
            data: { ExpansionMockUpId: Id},
            dataType: "html",
            //async:false,
            success: function (data) {
                //console.log(data);
                $('#divLines').html(data);
            }
        })

    }

    if('@Model.ExpansionMockUpId'>0){
        if('@Model.Status'=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue()'){
            $('#btnSubmit').show();
        }
        else{
            $('#btnSubmit').hide();
            $('#Notes').prop("readonly","readonly");
        }
        if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
            $('#txtToPerson').prop("readonly","readonly")
            $('#btnSave').hide();
        }
        $('#divLines').show();
        BindLines('@Model.ExpansionMockUpId');
    }


    if('@ViewBag.ToUserName'!=null){
        $('#txtToPerson').val('@ViewBag.ToUserName')
    }
    console.log('@ViewBag.FromUserName');
    if('@ViewBag.FromUserName'!=null){
        $('#txtFromPerson').val('@ViewBag.FromUserName')
    }

    $('#btnSave').click(function () {
        if ($("#frmPCCInput").valid()) {
            Save();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    $('#btnSubmit').click(function () {
        if ($("#frmPCCInput").valid()) {
            SubmitPCCInput();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    function Save() {
        var frmAddSSS = $("#frmPCCInput").serializeArray();
        var formdata = new FormData();
        if (frmAddSSS != null && frmAddSSS != undefined) {
            $.each(frmAddSSS, function (key, input) {
                formdata.append(input.name, input.value);
            });
        }
        //formdata.append("hasAttachments", getHasAttachmentsForSubmit());
        //formdata.append("Attach", getAttachmentsFromTable());
        $.ajax({
            url: WebsiteURL +"/SSS/ExpansionMockUp/SaveExpansionMockUp",
            data: {
                ExpansionMockUpId: $("#ExpansionMockUpId").val(),
                SSSId: $("#SSSId").val(),
                ToPerson: $("#ToPerson").val(),
                TargetDate: $("#TargetDate").val(),
                Notes: $("#Notes").val(),
                //hasAttachments: getHasAttachmentsForSubmit(),
                //Attach: getAttachmentsFromTable()
            },
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key == true) {
                    $('#LineId').val(res.HeaderId);
                    ExpansionMockUpId=res.HeaderId;
                    BindLines(ExpansionMockUpId);
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    UpdateFolderPathAndSave@(FileUploadFinalHeaderID)("SSS014/" + parseInt(res.HeaderId));
                    if($('#spanStatus').html().trim()=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue()'){
                        $('#btnSubmit').show();
                    }
                }
                else {
                    setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 2000);
                }
            },
            error: function () { },
        });
    }

    function LoadFileUploadFinalHeader() {
        var DisplayBtn = true;

        var UploadPath = "";
        if ('@Model.ExpansionMockUpId' > 0) {
            UploadPath = "SSS014/@Model.ExpansionMockUpId";
            if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)' || Status=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Submitted.GetStringValue()' ){
                DisplayBtn = false;
            }
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(FileUploadFinalHeaderID)', '@FileUploadFinalHeaderID');
        objFileUploadFinalHeader.ShowDeleteAction = DisplayBtn;
        objFileUploadFinalHeader.ShowAttachmentBtn = DisplayBtn;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.IsRequired = true;
        objFileUploadFinalHeader.ShowUploadBtn = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);
    }

    function SubmitPCCInput() {
        $.ajax({
            url: WebsiteURL +"/SSS/ExpansionMockUp/SubmitExpansionMockUp",
            type: "POST",
            datatype: "json",
            data: { ExpansionMockUpId: ExpansionMockUpId },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
                        window.location.href=WebsiteURL +"/SSS/ExpansionMockUp/IndexDE"
                    }
                    else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
                        window.location.href=WebsiteURL +"/SSS/ExpansionMockUp/IndexPCC"
                    }

                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function () {
                alert("error");
                response = "";
            }
        });
    }

    $('#btnClose').click(function () {
        if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
            //window.location.href="/SSS/ExpansionMockUp/IndexDE"
            window.location.href=WebsiteURL +"/SSS/MaintainSSS/AddSSS?id="+@Model.SSSId+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)';
        }
        else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)'){
            window.location.href=WebsiteURL +"/SSS/ExpansionMockUp/IndexPCC"
        }
    });

    @*if ('@Model.ExpansionMockUpId' > 0) {
        setAttachmentsInHeader("SSS014/@(Model.ExpansionMockUpId)");
        if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.PCC)' || Status=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Submitted.GetStringValue()' ){
            $('#btnAttach').hide();
        }

    }*@


</script>