﻿@using IEMQSImplementation

<style>
    .left18 {
        padding-left: 18px !important;
    }
</style>
<script>
    var Status = '@ViewBag.status';
    var isVisible = true;
    var table = $('#tblQualitID');
    var lstqualityIdCategory = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.QualityIdApplicable))));
    var currentQID = 0;
    var currentPageNo = 0;

    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": false,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/IPI/QualityId/GetQualityIDData?qualityProj=" + '@ViewBag.QualityProject' + "&status=" + '@ViewBag.status' + "&location=" + '@ViewBag.location' + "&bu=" + '@ViewBag.bu',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });
        },
        "aaSorting": [[2, 'asc']],
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    if (data.iTotalRecords > 0) {
                        $("#btnSendForApproval").show();
                    }
                    else {
                        $("#btnSendForApproval").hide();
                    }

                },
                'async': false
            });
            $('input[maxlength]').maxlength({
                alwaysShow: true,
            });
            ResetAddRow($('#tblQualitID'));
        },
        "columns": [
            {
                'targets': 0,
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "left18",

                'render': function (data, type, full, meta) {
                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                }
            },
             {
                 "sClass": "hide",

             },
            {
                "sClass": "hide",
                "name": "HasLines",

            },

            {
                "sClass": "center clsQualityId",
                "name": "QualityId", "sWidth": "15%"
            },
            {
                "sClass": "center",
                "name": "QualityIdDesc",
            },
            {
                "sClass": "center",
                "name": "QualityIdApplicableFor",
                "sWidth": "10%"
            },
            {
                "sClass": "center RevNo",
                "name": "RevNo",
                "attr": "numeric",
                "sWidth" : "5%"
            },
           {
               "sClass": "center",
               "name": "ReturnRemark", "sWidth": "15%"
           },
           {
               "sClass": "center Status",
               "name": "Status", "sWidth": "12%"
           },
            {
                "sClass": "center",
                "bSortable": false
            },

        ]
    });
    table.dtSearchFilter();

    function SetColumnValuesHeader(headerstatus, revno) {
        var $row = $('#tblQualitID tr.highlight');
        if (headerstatus != null && headerstatus != "" && headerstatus != undefined) {
            $row.find("td.Status").text(headerstatus);
        }
        if (revno != null && revno != "" && revno != undefined && revno != "R") {
            $row.find("td.RevNo").text(revno);
        }
    }

    $("#frmQualityId").validate({
        rules: {
            QualityId0: {
                required: true
            },
            QualityIdApplicableFor0: {
                required: true
            },
            QualityIdDesc0: {
                required: true
            }
        },
        messages: {
            QualityId0: {
                required: "QID is required"
            },
            QualityIdApplicableFor0: {
                required: "QID Applicable is required"
            },
            QualityIdDesc0: {
                required: "QID Description is required"
            }
        }
    });



    $('#tblQualitID tbody').on('change', 'input[type="checkbox"]', function () {
        // If checkbox is not checked
        if (!this.checked) {
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if (el && el.checked && ('indeterminate' in el)) {
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    })

    $('#tblQualitID').delegate("input[colname='QualityIdApplicableFor']", "focusin", function () {
        $(this).autocomplete({
            source: function (request, response) {
                var array = $.map(lstqualityIdCategory, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                //$("#ddlQualityIdApplicableFor").val(ui.item.value)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    });

    $('#tblQualitID tbody').on("click", "tr td:not(:first-child):not(:last-child)", function () {
        var row = $(this).closest('tr');
        var data = $('#tblQualitID').dataTable().fnGetData(row);
        var hdrId = $(data[1]).val();//$($(this)).find('td').eq(0).text();

        currentQID = hdrId;


        $("#tblQualitID tr").removeClass("highlight");
        $(this).closest('tr').addClass("highlight");

        $("#tblQualitID").find("[type=checkbox]").prop('checked', false);
        $(row).find("[type=checkbox]").prop('checked', true);


        if ($("#dvQualityIDLines").css("display") == "block") { }
            //$('#tblQualitIDLines').DataTable().ajax.reload();
        else {
            $("#dvQualityIDLines").show();
        }



        //LoadGetQualityIDLines(hdrId);
        GetQualityIDLinesPartial(hdrId);
    });

    if ('@ViewBag.Status' == "Pending" && isVisible == true) {
        oTable.api().column(0).visible(true);
        $("#btnSendForApproval").show();
    }
    else {
        oTable.api().column(0).visible(false);
        setTimeout(function () {
            $('#tblQualitID_wrapper thead tr:first th:eq(0)').hide();
        }, 100);
        $("#btnSendForApproval").hide();
    }

    $('#example-select-all').on('click', function () {
        var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
        $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
    });
    // Handle click on checkbox to set state of "Select all" control
    $('#tblQualitID tbody').on('change', 'input[type="checkbox"]', function () {
        // If checkbox is not checked
        if (!this.checked) {
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if (el && el.checked && ('indeterminate' in el)) {
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    });

    $("#btnQIDTransfer").click(function () {
        TransferQualityIDPartial('@ViewBag.QualityProject');
    });

    $("#btnSendForApproval").click(function () {

        var arrayHeaderIds = new Array();
        // Iterate over all checkboxes in the table
        $('input[class="clsCheckbox"]', $('#tblQualitID tbody')).each(function () {
            if ($(this).is(':checked')) {
                var headerId = $(this).val();
                if (headerId != '')
                    arrayHeaderIds.push(headerId);
            }
        });

        if (arrayHeaderIds.length > 0) {
            bootbox.dialog({
                title: "Send for Approval Confirmation",
                message: "Do you want to send for approval?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            fnSendForApproval(arrayHeaderIds);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }


    });

    function fnSendForApproval(arrayHeaderIds) {

        var strHeaderIds = arrayHeaderIds.join(",");
        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/SendForApproval",
            type: "POST",
            data: { strHeader: strHeaderIds },
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {

                if (res.Key) {
                    if (res.WithoutLines != null && res.WithoutLines.length > 0)
                        DisplayNotiMessage("error", res.WithoutLines, "Error");
                    if (res.NotDraft != null && res.NotDraft.length > 0)
                        DisplayNotiMessage("info", res.NotDraft, "Info");
                    if (res.Remarks != null && res.Remarks.length > 0)
                        DisplayNotiMessage("info", res.Remarks, "Info");
                    if (res.dataValue != null && res.dataValue.length > 0) {
                        DisplayNotiMessage("info", res.dataValue, "Info");
                    }
                    if (res.TPISkipped != null && res.TPISkipped.length > 0) {
                        DisplayNotiMessage("info", res.TPISkipped, "Info");
                    }
                    if (res.tpi != null && res.tpi.length > 0) {
                        DisplayNotiMessage("info", res.tpi, "Info");
                    }
                    if (res.Value != null && res.Value.length > 0) {
                        DisplayNotiMessage("success", res.Value, "Success");
                        $("#IdenticalProject").attr("disabled", true);
                    }
                    $('#tblQualitID').DataTable().ajax.reload();
                    $("#dvQualityIDLines").hide();

                    //window.setTimeout('window.location.href = "/IPI/QualityId/Index"', 2000);
                }
                else
                    DisplayNotiMessage("error", res.Value, "Error");
            },
            error: function (data) { }
        });

    }

    function GetQualityIDLinesPartial(headerId) {
        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/GetQualityIDLinesPartial",
            type: "POST",
            data: { headerId: headerId },
            dataType: "html",
            success: function (data) {
                //bootbox.dialog({
                //    message: data,
                //    size: "large"
                //});
                $("#dvQualityIDLines").html(data);
            }
        });
    }

    function DeleteQualityID(headerId, hasLines) {
        var msg = "";

        if (hasLines) {
            msg += "Stages are exists. Do you want to delete QID with stages?";
        }
        else {
            msg += "Do you want to delete record?";
        }

        bootbox.dialog({
            title: "Delete Confirmation",
            message: msg,
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/IPI/QualityId/DeleteQID",
                            datatype: 'json',
                            async: false,
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { strHeader: headerId, hasLines: hasLines },
                            success: function (data) {
                                if (data.Key) {
                                    if (data.Value != null && data.Value.length > 0)
                                        DisplayNotiMessage("success", data.Value, "Success")
                                    if (data.Status != null && data.Status.length > 0)
                                        DisplayNotiMessage("info", data.Status, "Info")
                                    if (data.Remarks != null && data.Remarks.length > 0)
                                        DisplayNotiMessage("info", data.Remarks, "Info")


                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $('#tblQualitID').DataTable().ajax.reload();
                                $("#dvQualityIDLines").hide();

                            },
                            error: function () {
                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }

        });


    }


</script>


<div class="row">
    <div class="row">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Quality ID List
                </div>
                <div class="tools" id="dvExportLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/QualityId/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })


                    @if (!string.Equals(ViewBag.status.ToString(), "all", StringComparison.OrdinalIgnoreCase))
                    {
                        <div class="btn-group">
                            <a style="margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                <i class="fa fa-plus"></i> New
                            </a>
                        </div>
                        @*<input type="button" id="btnNew" value="Add New" name="btnNew" onclick="ShowNewRecord(this);" style="height:20px !important;padding:0px 5px" class="btn purple" />*@
                    }

                </div>
            </div>
            <div class="portlet-body">

                <table id="tblQualitID" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th class="min-phone-l" style="display:none;">HeaderId</th>
                            <th class="min-phone-l" style="display:none;">HasLines</th>
                            <th class="all">Quality ID</th>
                            <th class="min-phone-l">Description</th>
                            <th class="min-phone-l">QID App. for</th>
                            <th class="min-phone-l">RevNo.</th>
                            <th class="min-phone-l">Return Remark</th>
                            <th class="min-phone-l">Status</th>
                            <th class="all">Action</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>

        <div id="dvQualityIDLines"></div>
    </div>

    <div class="col-md-12" style="text-align:right;">
        <input type="button" class="btn submit" id="btnSendForApproval" value="Submit" />
        <a href='@Url.Action("Index","QualityId")' class="btn btnclose"> Close</a>
        <button class="btn icons" title="Transfer" style="" type="button" id="btnQIDTransfer"><i class="fa fa-arrow-circle-right"></i></button>
        @*<input type="button" class="btn blue" id="btnQIDTransfer" value="Transfer" />*@
    </div>
</div>
