﻿
@using IEMQSImplementation
@model QMS020
<style>
    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 79% !important;
        }
    
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @ViewBag.DisplaySeamNo - Stages
                </div>
                <div class="tools" id="dvExportLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/TestPlan/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                    <div class="btn-group">
                        <a id="btnNew" name="btnNew" style="margin-left:5px;" onclick="ShowNewRecord(this);" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-plus"></i> New</a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTestplanLines", @class = "form-horizontal" }))
                {
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblTestPlanDetails" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="all" style="display: none;">#</th>
                                <th class="min-phone-l">Stage Code</th>
                                <th class="min-phone-l">Seq.</th>
                                <th class="min-phone-l">Acceptance Standard</th>
                                <th class="min-phone-l">Applicable Specification</th>
                                <th class="min-phone-l">Inspection Extent</th>
                                <th class="min-phone-l" style="display: none;">RevNo.</th>
                                <th class="min-phone-l">Remarks</th>
                                <th class="min-phone-l">Status</th>
                                <th class="min-phone-l">Action</th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
        </div>
    </div>

    <div id="hidden">
        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtNewHeaderID" })
        @Html.HiddenFor(m => m.RevNo)
        @Html.HiddenFor(m => m.Status, new { @id = "txtStatus" })
    </div>
</div>

<script>
    
    var headerStatus = "";
    @*var isBootboxDisabled = '@ViewBag.IsDisabled' == "true" ? true : false;*@
    
    $(document).ready(function () {
       
        if (IsDisplayOnly) {
            $("#btnNew").remove();
        }

        //if (isBootboxDisabled)
        //{
        //    $("#btnNew").remove();
        //}
        if ($("#txtStatus").val() == '@clsImplementationEnum.TestPlanStatus.SendForApproval.GetStringValue()') {
            $('div.dvHeader :input').attr('disabled', true);
            $("#btnNew").hide();

        }
        if ($("#txtStatus").val() == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            $("#btnSaveHeader").show();
            $("#btnNew").show();
        }

        var lstStatusCode = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.StagesCode))));
        var lstAcceptanceStd = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.AcceptanceStandard))));
        var lstApplicableSpeci = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ApplicableSpecification))));
        var lstInspectionExt = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.InspectionExtent))));

        $('#tblTestPlanDetails').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname") == "txtStageCode") {
                FillIPIAutoComplete(element, lstStatusCode, $("#" + hdElement), false);
            }
            else if ($(this).attr("colname") == "AcceptanceStandard") {
                FillIPIAutoComplete(element, lstAcceptanceStd, $("#" + hdElement), true);
            }
            else if ($(this).attr("colname") == "ApplicableSpecification") {
                FillIPIAutoComplete(element, lstApplicableSpeci, $("#" + hdElement), true);
            }
            else if ($(this).attr("colname") == "txtInspectionExtent") {
                FillIPIAutoComplete(element, lstInspectionExt, $("#" + hdElement), false);
            }
        });

        headerStatus= $("#txtStatus").val();

        var table = $('#tblTestPlanDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 50,
            'iDisplayLength': 50,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/TestPlan/LoadTestPlanLineGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtNewHeaderID").val() },
                            { "name": "MTStatus", "value": $("#txtStatus").val() },
                            { "name": "IsDisplayOnly", "value": IsDisplayOnly } //{ "name": "IsDisplayOnly", "value": (IsDisplayOnly || isBootboxDisabled) }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if (data.iTotalRecords > 0) {
                            if (headerStatus == '@clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue()') {
                                // $("#btnSendForApproval").hide();
                                $("#btnCopyData").hide();
                                $("#btnTransfer").hide();
                            }
                            else if (headerStatus == '@clsImplementationEnum.CommonStatus.Approved.GetStringValue()') {
                                //   $("#btnSendForApproval").hide();
                                $("#btnCopyData").show();
                                $("#btnTransfer").show();
                            }
                            else {
                                // $("#btnSendForApproval").show();
                                $("#btnCopyData").show();
                                $("#btnTransfer").show();
                            }
                        }
                        else {
                            // $("#btnSendForApproval").hide();
                            $("#btnCopyData").hide();
                            $("#btnTransfer").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
                if (!IsDisplayOnly) {
                    ResetAddRow();
                }
            },
            "columns": [

                {
                    "sClass": "hide",
                    "sWidth": "5%",
                },
                {
                    //   "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "name": "StageCode",
                },
                {
                    //  "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "StageSequance",
                },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "name": "AcceptanceStandard",
                },
                {
                    //     "bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "name": "ApplicableSpecification",
                },
                 {
                     //   "bSortable": false,
                     "sClass": "center",
                     "sWidth": "15%",
                     "name": "InspectionExtent",
                 },

                  {
                      //    "bSortable": false,
                      "sClass": "hide",
                      "sWidth": "5%",
                      "name": "RevNo",
                  },

                   {
                       //    "bSortable": false,
                       "sClass": "center",
                       "sWidth": "15%",
                       "name": "Remarks",

                   },

                    {
                        //    "bSortable": false,
                        "sClass": "center",
                        "sWidth": "5%",
                        "name": "StageStatus",
                    },
                     {
                         "bSortable": false,
                         "sClass": "sCenter" + (IsDisplayOnly ? " hide" : ""), //"sClass": "sCenter" ,//+ ((IsDisplayOnly || isBootboxDisabled) ? " hide" : ""),
                         "sWidth": "5%",
                         //"name": "StageStatus",
                     },

            ]
        });


        $('#frmTestplanLines').validate({
            rules: {
                txtStageCode0: {
                    required: true,
                },
                StageSequance0: {
                    required: true,
                },
                AcceptanceStandard0: {
                    required: true
                },
                ApplicableSpecification0: {
                    required: true,
                },
                txtInspectionExtent0: {
                    required: true,
                },
            },
            messages: {
                txtStageCode0: {
                    required: "Stage Code is required.",
                },
                StageSequance0: {
                    required: "Stage Sequance is required.",
                },
                AcceptanceStandard0: {
                    required: "Acceptance Standard is required.",
                },
                ApplicableSpecification0: {
                    required: "Acceptance Standard is required.",
                },
                txtInspectionExtent0: {
                    required: "Inspection Extent is required."
                },
            }
        });

        $('#tblTestPlanDetails').find("input[colname='txtStageCode0']", "focusin", function () {
            if ($("#txtStageCode0").val() != '') {
                getSequence($("#StageCode0").val());
            }
        });

        $(".tblHeaderbox").find(".bootbox-close-button").click(function () {
            $('#tblHeader').DataTable().ajax.reload();
        });

    });

    //delete Lines
    function DeleteRecord(LineID, rowStatus) {

        if (rowStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteStages(LineID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            DeleteStages(LineID);
        }

    }

    function DeleteStages(LineID) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete this stage?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        $.ajax({
                            url: WebsiteURL + '/IPI/TestPlan/DeleteLine',
                            data: { LineID: LineID },
                            type: 'POST',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    if (data.Value != null && data.Value.length > 0)
                                        DisplayNotiMessage("success", data.Value, "Success");

                                    if (data.Remarks != null && data.Remarks.length > 0)
                                        DisplayNotiMessage("info", data.Remarks, "Info");

                                    $("#txtStatus").val(data.HeaderStatus);
                                    //   $('#tblTestPlanHeader').DataTable().ajax.reload();
                                    SetColumnValuesHeader(data.HeaderStatus, data.RevNo);
                                    $('#tblTestPlanDetails').DataTable().ajax.reload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }

                            }
                        });
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }

            }
        });
    }
        
     function UpdateLineDetails(objColumn, rowID, rowStatus) {
        rowStatus = $("#txtStatus").val();
        if (rowStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            SaveHeaderLines(objColumn, rowID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            SaveHeaderLines(objColumn, rowID);
        }

    }

    function SaveHeaderLines(objColumn, rowID) {

        var elem = $(objColumn).attr("hdElement");
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }
        if (columnName == 'StageCode') {
            getSequence(columnValue);
        }

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/TestPlan/UpdateLineData",
            datatype: 'json',
            async: false,
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                    $("#txtStatus").val(result.HeaderStatus);
                 //   $('#tblTestPlanHeader').DataTable().ajax.reload();
                    $('#tblTestPlanDetails').DataTable().ajax.reload();
                    SetColumnValuesHeader(result.HeaderStatus, result.RevNo);
                    if (result.Remarks != null && result.Remarks.length > 0)
                        DisplayNotiMessage("info", result.Remarks, "Info");

                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });

    }

    function getSequence(objColumn) {

        var returnResponse = false;
        var stagecode = $("#StageCode0").val();
        var sHeaderId = $("#HeaderId0").val();

        $.ajax({
            url: WebsiteURL + "/IPI/Testplan/GetStageSquence",
            type: 'POST',
            async: false,
            data: { stagecode: stagecode, headerId: sHeaderId },
            success: function (response) {
                if (response.Key) {
                    $("#StageSequance0").val(response.Sequence);

                }
            }
        });
        return returnResponse;
    }

    function CheckDuplicate(objColumn, latestOfferedSequence) {

        var returnResponse = false;
        var stagecode = $("#StageCode0").val();
        var sHeaderId = $("#HeaderId0").val();
        var stageSeq = $("#StageSequance0").val();

        if (parseInt(latestOfferedSequence) >= parseInt(stageSeq)) {
            $("#StageSequance0").addClass("error");
            DisplayNotiMessage("error", "Please enter sequence greater than " + latestOfferedSequence, "Error");
        }
        else {
            $.ajax({
                url: WebsiteURL + "/IPI/Testplan/CheckDuplicateStages",
                type: 'POST',
                async: false,
                data: { stagecode: stagecode, headerId: sHeaderId, stageseq: stageSeq },
                success: function (response) {
                    if (response.Key) {
                        $("#StageSequance0").addClass("error");
                        $("#txtStageCode0").addClass("error");
                        DisplayNotiMessage("error", response.Value, "Error");
                    }
                }
            });
        }
        return returnResponse;
    }


    @*function getSequence(objColumn) {

        var elem = $(objColumn).attr("hdElement");
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        if (columnValue != null && columnValue != '' && columnValue != undefined) {
            if (IfStageExist(columnValue)) {
                bootbox.confirm({
                    message: "This stage already exists.Do you want to Continue?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $("#txtStageCode0").val("");
                            $("#StageCode0").val("");
                        }
                        else {
                            location.href = '@Url.Action("../testplan/Index")';
                        }
                    }
                });
            }
            else {

                $.ajax({
                    url: "/IPI/TestPlan/GetSquence",
                    type: 'POST',
                    async: false,
                    dataType: "JSON",
                    data: { stagecode: columnValue },
                    success: function (response) {
                        $("#StageSequance0").empty();
                        $("#StageSequance0").val(response.Sequence);
                    },
                    error: function (ex) {
                        DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                        bootbox.alert('Failed to retrieve status.' + ex);
                    }
                });
            }
        }
        else {
            $("#txtStageCode").val("");
            $("#StageCode").val("");
        }
    }*@

    function ShowNewRecord(obj) {
        InsertNewRecord(obj);


    }

    function checkStatus(rowID) {
        if ( $("#txtStatus").val() == 'Approved') {
            bootbox.confirm({
                message: "Do you want to revise this header?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        ReviseHeader('@Model.HeaderId');
                        GetTestPlanHTML(parseInt('@Model.HeaderId'));
                        GetTestPlanLinePartial(parseInt('@Model.HeaderId'));
                    }
                }
            });
        }
        else {
            "";
        }
    }

    function ReviseHeader(headerid) {
        $.ajax({
            url: WebsiteURL + "/IPI/TestPlan/ReviseHeader",
            type: 'POST',
            async: false,
            dataType: "JSON",
            data: { headerid: headerid },
            success: function (response) {
                DisplayNotiMessage("success", "Record revised successfully", "Success");
                $('#tblTestPlanDetails').DataTable().ajax.reload();
               // $('#tblTestPlanHeader').DataTable().ajax.reload();
                SetColumnValuesHeader(response.HeaderStatus, response.RevNo);
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
    }

    function InsertNewRecord(obj) {
        //debugger;
        //$('#tblTestPlanDetails').find("tbody tr:first").toggle();
        //$('#tblTestPlanDetails').find("tbody tr:first select:first").focus();
        //if ($('#tblTestPlanDetails').find("tbody tr:first").is(":visible")) {
        //    $(obj).val("Cancel");
        //    var delayedFn, blurredFrom;
        //    $('#tblTestPlanDetails').find("tbody tr:first").on('blur', 'a', function (event) {
        //        blurredFrom = event.delegateTarget;
        //        delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
        //    });
        //    $('#tblTestPlanDetails').find("tbody tr:first").on('focus', 'a', function (event) {
        //        if (blurredFrom === event.delegateTarget) {
        //            clearTimeout(delayedFn);
        //        }
        //    });
        //}
        //else {
        //    $(obj).val("New");
        //}
        $('#tblTestPlanDetails').find("tbody tr:first").toggle();
        $('#tblTestPlanDetails').find("tbody tr:first select:first").focus();
        if ($('#tblTestPlanDetails').find("tbody tr:first").is(":visible")) {

            $(obj).html('<i class="fa fa-times"></i> Cancel');

        }
        else {

            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblTestPlanDetails').find("tbody tr:first"));
        }
    }
    function clearFirstRow(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }
    function SaveNewStage(latestOfferedSequence) {
        if ($("#frmTestplanLines").valid()) {

            if (parseInt(latestOfferedSequence) >= parseInt($("#StageSequance0").val())) {
                $("#StageSequance0").addClass("error");
                DisplayNotiMessage("error", "Please enter sequence greater than " + latestOfferedSequence, "Error");
            }
            else {

                if ($("#txtStatus").val() == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
                    bootbox.dialog({
                        title: "Revise Confirmation",
                        message: "Do you want to revise?",
                        size: "medium",
                        buttons: {
                            Yes: {
                                Label: "Yes",
                                className: 'btn green',
                                callback: function () {
                                    SaveActualRecord();
                                }
                            },
                            Cancel: {
                                label: 'No',
                                className: 'btn red',
                                callback: function () { }
                            }

                        }
                    });
                }
                else {
                    SaveActualRecord();
                }


            }

        }
    }

    function SaveActualRecord() {
        var formData = new FormData();
        var frmValues = $('#frmTestplanLines').serializeArray();
        $.each(frmValues, function (key, input) {
            formData.append(input.name, input.value);
        });
        $.ajax({
            url: WebsiteURL + '/IPI/TestPlan/SaveNewStages',
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    if (data.Value != null && data.Value.length > 0)
                        DisplayNotiMessage("success", data.Value, "Success");
                    if (data.Remarks != null && data.Remarks.length > 0)
                        DisplayNotiMessage("info", data.Remarks, "Info");

                    SetColumnValuesHeader(data.HeaderStatus, data.RevNo);
                    $('#tblTestPlanDetails').DataTable().ajax.reload();

                    $("#txtStatus").val(data.Status);
                    headerStatus = data.Status;
                    ShowNewRecord('#btnNew', headerStatus);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function ResetAddRow() {
        var Status = $("#txtStatus").val();
        if (Status =='@clsImplementationEnum.TestPlanStatus.Draft.GetStringValue()') {
            $('#tblTestPlanDetails').find("tbody tr:first").hide();
            $('#tblTestPlanDetails').find("tbody tr:first").css("background-color", "#fbffb2");
            $("#btnNew").html('<i class="fa fa-plus"></i> New');

            clearFirstRow($('#tblTestPlanDetails').find("tbody tr:first"));
        }
    }

    function ValidateFormData(formId) {
        $("#" + formId + " input[validate*='required']").each(function () {
            if ($(this).val().trim() == "") {
                $(this).addClass("error");
            }
            else {
                $(this).removeClass("error");
            }
        });
    }


    function LoadIPITestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, isFromQID, isEditable, title, stagetype, isOffered) {
        if (headerStatus == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            ReviseTPHeader(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, isEditable, title, true, stagetype);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () {
                            if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' || stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {
                                LoadIPIMaintainTestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, false, title)
                            }
                            else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                                LoadTestPlanHardnessFerritePartial(lineid, false, "Maintain Hardness Required Value");
                            }
                            else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                                LoadTestPlanHardnessFerritePartial(lineid, false, "Maintain ferrite test required range");
                            }
                        }
                    }
                }
            });
        }
        else {
            if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' || stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {

                LoadIPIMaintainTestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, isEditable, title)
            }
            else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                LoadTestPlanHardnessFerritePartial(lineid, isEditable, "Maintain Hardness Required Value");
            }
            else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                LoadTestPlanHardnessFerritePartial(lineid, isEditable, "Maintain ferrite test required range");
            }
        }
    }


    function LoadTestPlanHardnessFerritePartial(lineid, isEditable, title) {
        bootbox.hideAll();
        var cls = "";
        if (isEditable == "false" || isEditable == "" || isEditable == null) {
            cls = "hide";
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/TestPlan/GetTestPlanHardnessFerritePartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { lineid: parseInt(lineid), isEditable: isEditable },
            success: function (result) {
                bootbox.dialog({
                    title: title,
                    message: result,
                    size: 'medium',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        Maintain: {
                            Label: "Maintain",
                            className: 'btn green ' + cls,
                            callback: function () {
                                if ($("#frmRequiredValues").valid()) {
                                    var frmLineValues = $("#frmRequiredValues").serializeArray();
                                    var formdata = new FormData();
                                    if (frmLineValues != null && frmLineValues != undefined) {
                                        $.each(frmLineValues, function (key, input) {
                                            formdata.append(input.name, input.value);
                                        });
                                    }

                                    $.ajax({
                                        url: WebsiteURL + "/IPI/TestPlan/SaveHardness",
                                        type: "POST",
                                        data: formdata,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        contentType: false,
                                        processData: false,
                                        success: function (res) {
                                            if (res.Key) {
                                                $('#tblTestPlanDetails').DataTable().ajax.reload();
                                                DisplayNotiMessage("success", res.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", res.Value, "Error");
                                            }
                                            if (res.Remarks != null && res.Remarks.length > 0)
                                                DisplayNotiMessage("info", res.Remarks, "Info");
                                        },
                                        error: function (data) { }
                                    })
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        Cancel: {
                            label: 'Close',
                            className: 'btn red',
                        }
                    }
                })
            }
        })
    }


    function ReviseTPHeader(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, isFromQID, isEditable, title, IsCallback, stagetype) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/TestPlan/ReviseHeader",
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerid: headerid, lineid: lineid },
            success: function (res) {
                if (!res.Key) {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
                else {
                    revno = parseInt(res.RevNo);
                    if (IsCallback) {
                        if (stagetype == '@clsImplementationEnum.SeamStageType.Chemical.GetStringValue()' || stagetype == '@clsImplementationEnum.SeamStageType.PMI.GetStringValue()') {
                            LoadIPIMaintainTestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, true, true, title);
                        }
                        else if (stagetype == '@clsImplementationEnum.SeamStageType.Hardness.GetStringValue()') {
                            LoadTestPlanHardnessFerritePartial(lineid, true, "Maintain Hardness Required Value");
                        }
                        else if (stagetype == '@clsImplementationEnum.SeamStageType.Ferrite.GetStringValue()') {
                            LoadTestPlanHardnessFerritePartial(lineid, true, "Maintain ferrite test required range");
                        }
                        $('#tblTestPlanDetails').DataTable().ajax.reload();
                        //$('#tblTestPlanHeader').DataTable().ajax.reload();

                        SetColumnValuesHeader(res.HeaderStatus, res.RevNo)
                     
                        headerStatus = res.HeaderStatus;
                        $("#txtStatus").val(res.HeaderStatus);
                    }
                }
            },
            error: function (data) { }
        })
    }

    function LoadIPIMaintainTestPlanSamplingPlan(headerid, lineid, qProj, Project, bu, loc, qId, qRev, stage, stageseq, isFromQID, isEditable, title) {
        bootbox.hideAll();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ChemicalAnalysis/MaintainTestPlanSamplingPlan",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                //headerid: headerid, lineid: lineid, revno: revno, isEditable: isEditable,
                headerid: headerid,
                lineid: lineid,
                qProj: qProj,
                Project: Project,
                bu: bu,
                loc: loc,
                qId: qId,
                qRev: qRev,
                stage: stage,
                stageseq: stageseq,
                isFromTP: isFromQID,
                isEditable: isEditable
            },
            success: function (result) {
                bootbox.dialog({
                    title: title,
                    message: result,
                    size: 'large',
                    className: "higherzindex clsBootbox",

                })
            }
        })
    }       
</script>