﻿

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmMultiAddDelete" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Quality Project</label>
                        <div class="">
                            <input type="text" id="txtQualityProject" value="@ViewBag.QualityProject" disabled name="txtQualityProject" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">From Seam No<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtFromSeam" value="" name="txtFromSeam" placeholder="Select Seam No" class="form-control col-md-4" readonly="readonly"/>
                            @Html.Hidden("ddlFromSeam")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">To Seam No<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtToSeam" value="" name="txtToSeam" placeholder="Select Seam No" class="form-control col-md-4" readonly="readonly"/>
                            @Html.Hidden("ddlToSeam")
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Stage Code<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtStageCode" value="" name="txtStageCode" placeholder="Select Stage" class="form-control col-md-4" />
                            @Html.Hidden("ddlStageCode")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Stage Sequence<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtStageSequence" value="" name="txtStageSequence" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.ActionType == "Add")
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Acceptance Standard<span class="required"> * </span></label>
                            <div class="">
                                <input type="text" id="txtAcceptanceStandard" value="" name="txtAcceptanceStandard" placeholder="Select" class="form-control col-md-4" />
                                @Html.Hidden("ddlAcceptanceStandard")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Applicable Specification<span class="required"> * </span></label>
                            <div class="">
                                <input type="text" id="txtApplicableSpecification" value="" name="txtApplicableSpecification" placeholder="Select" class="form-control col-md-4" />
                                @Html.Hidden("ddlApplicableSpecification")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Inspection Extent<span class="required"> * </span></label>
                            <div class="">
                                <input type="text" id="txtInspectionExtent" value="" name="txtInspectionExtent" placeholder="Select" class="form-control col-md-4" />
                                @Html.Hidden("ddlInspectionExtent")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Remarks</label>
                            <div class="">
                                <input type="text" id="txtRemarks" value="" name="txtRemarks" class="form-control col-md-4" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <input type="hidden" value="@ViewBag.ActionType" id="ActionType" />
        </div>
    </div>
}
<script type="text/javascript">

    var varQualityProject = @Html.Raw(Json.Encode(@ViewBag.QualityProject));
    var varLocation = @Html.Raw(Json.Encode(@ViewBag.Location));
    var varBU = @Html.Raw(Json.Encode(@ViewBag.BU));

    $(document).ready(function () {
        if('@ViewBag.SeamNo' !=""){
            $('#txtFromSeam').val('@ViewBag.SeamNo');
            $('#txtToSeam').val('@ViewBag.SeamNo');
        }
        if('@ViewBag.StageCode' !=""){
            $('#ddlStageCode').val('@ViewBag.StageCode');
        }
        if('@ViewBag.StageCodeDesc' !=""){
            $('#txtStageCode').val('@ViewBag.StageCodeDesc');
        }
        if('@ViewBag.StageSequance' !=""){
            $('#txtStageSequence').val('@ViewBag.StageSequance');
        }
        if($("#ActionType").val() == "Delete")
        {
            $('#txtStageCode').attr('disabled',true);
            $('#txtStageSequence').attr('disabled',true);
        }
        $('#frmMultiAddDelete').validate({
            rules: {
                txtFromSeam: {
                    required: true
                },
                txtToSeam: {
                    required: true
                },
                txtStageCode: {
                    required: true
                },
                txtStageSequence: {
                    required: true
                },
                txtAcceptanceStandard: {
                    required: true
                },
                txtApplicableSpecification: {
                    required: true
                },
                txtInspectionExtent: {
                    required: true
                },
            },
            messages: {
                txtFromSeam: {
                    required: "From Seam No is required"
                },
                txtToSeam: {
                    required: "To Seam No is required"
                },
                txtStageCode: {
                    required: "Stage code is required"
                },
                txtStageSequence: {
                    required: "Stage Sequence No is required"
                },
                txtAcceptanceStandard: {
                    required: "Acceptance Standard is required"
                },
                txtApplicableSpecification: {
                    required: "Applicable Specification is required"
                },
                txtInspectionExtent: {
                    required: "Inspection Extent is required"
                },
            }
        });

        var ParamlistSeam = [];
        ParamlistSeam.push({ id: "QualityProject", value: varQualityProject });
        ParamlistSeam.push({ id: "ActionType", value: $("#ActionType").val()})
        FillAutoCompleteAjax($('#txtFromSeam'), "/IPI/TestPlan/GetSeamsbyQualityProject", $('#ddlFromSeam'), false, ParamlistSeam, function(){
            if($('#txtFromSeam').val() == "All"){
                $('#txtToSeam').val("All");
                $('#txtToSeam').attr("disabled","disabled");
            }
        }, null, true);
        FillAutoCompleteAjax($('#txtToSeam'), "/IPI/TestPlan/GetSeamsbyQualityProject", $('#ddlToSeam'), false, ParamlistSeam, null, null, true);

        var ParamlistStage = [];
        ParamlistStage.push({ id: "Location", value: varLocation });
        ParamlistStage.push({ id: "BU", value: varBU });
        //ParamlistStage.push({ id: "ActionType", value: $("#ActionType").val()})

        FillStageAutoCompleteAjax($('#txtStageCode'), "/IPI/TestPlan/GetAllStages", $('#ddlStageCode'), false, ParamlistStage, null, null, true);


        var lstAcceptanceStd = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(@ViewBag.AcceptanceStandard))));
        FillIPIAutoComplete($('#txtAcceptanceStandard'), lstAcceptanceStd, $('#ddlAcceptanceStandard'), true);

        var lstApplicableSpecification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(@ViewBag.ApplicableSpecification))));
        FillIPIAutoComplete($('#txtApplicableSpecification'), lstApplicableSpecification, $('#ddlApplicableSpecification'), true);

        var lstInspectionExt = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(@ViewBag.InspectionExtent))));
        FillIPIAutoComplete($('#txtInspectionExtent'), lstInspectionExt, $('#ddlInspectionExtent'), false);

        $('#txtStageSequence').autoNumeric('init', { vMin: '0', vMax: '999999', aSep: '' });

    });

    function FillAutoCompleteAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 1000,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value };
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }

    function FillStageAutoCompleteAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 1000,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value ,hditem : item.id};
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                $('#txtStageSequence').val(ui.item.hditem)
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }


</script>