﻿@using IEMQSImplementation
@model CTQ001_Log

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @Model.CTQNo
        </div>
        <div class="tools" id="dvExportHistoryHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CTQ/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHistoryHeader" })
        </div>
    </div>
    <div id="hiddenfields">
        @Html.HiddenFor(model => model.HeaderId, new { @id = "txtHeaderId" })
        @Html.HiddenFor(model => model.Status)
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeaderHistory" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">CTQ No.</th>
                    <th class="min-phone-l">RevNo.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        var from = '@ViewBag.FromController';

        var table = $('#tblCTQHeaderHistory');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CTQ/Maintain/LoadCTQHistoryHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHistoryHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHistoryHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "name": "CTQNo",
                    "sClass": "center"
                },
                {
                    "name": "CTQRev",
                    "sClass": "center", "attr": "numeric",
                },
               {
                   "name": "Status",
                   "sClass": "center"
               },
                   {
                       "bSortable": false,
                       "sClass": "center",
                       //"sWidth": "10%",
                       "render": function (data, type, row, meta) {
                           var buttons = "";
                           buttons = '<center><a class="" target="_blank" href="' + WebsiteURL + '/CTQ/Maintain/CTQLogDetails?Id=' + row[4] + '&from=' + from + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a><a onclick=ShowTimeline("/CTQ/Maintain/ShowHistoryTimeline?HeaderID=' + row[4] + '");><i style="margin-left:5px;" class="fa fa-clock-o"></i></a></center>';
                           return buttons;
                       }
                   },
            ]
        });
        table.dtSearchFilter();
    });

</script>