﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strCTQTitle = ViewBag.Status + " CTQ Documents";
            }
            @strCTQTitle
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CTQ/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">CTQ No.</th>
                    <th class="min-phone-l">RevNo.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">Action</th>
                    <th class="" style="display:none;">HeaderId</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        //$('#tblCTQHeader tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input class="form-control input-sm input-small input-inline" type="text" placeholder="Search ' + title + '" />');
        //});

        var table = $('#tblCTQHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CTQ/Maintain/LoadCTQHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);                        
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name" : "Project",
                    "sClass": "center",
                },
                {
                    "name": "BU",
                    "sClass": "center"
                },
                {
                    "name": "CTQNo",
                    "sClass": "center"
                },
                {
                    "name": "CTQRev",
                    "sClass": "center", "attr": "numeric",
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    buttons = '<center><a class=""   href="../Maintain/CTQDetails?Id=' + row[6] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //    return buttons;
                    //}
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });
        table.dtSearchFilter();
        //oTable.api().columns().every(function () {
        //    var that = this;
        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});

    });
    function HistoryCTQ(HeaderId, fromController) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/CTQ/Maintain/GetCTQHistoryDetails",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId, _FromController: fromController },
            success: function (result) {
                bootbox.dialog({
                    title: 'Critical to Quality History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn red'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'Critical To Quality Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url =  "/CTQ/CriticalToQuality";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
</script>