﻿<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }
    .modal-lg {
        width:95%;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Task Details
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFilteredPartlist" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="hide">Sr. No</th>
                            <th class="all">Status</th>
                            <th class="all">Description</th>
                            <th class="all">Duration (Work Content)</th>
                            <th class="all">Document List</th>
                            <th class="all">Resource List</th>
                            <th class="all">Material List</th>
                            <th class="all">Actual <br/> Start <br /> Date</th>
                            <th class="all">Actual <br/> Completion <br /> Date</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblFilteredPartlist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
               [0, 'asc']
            ],
            "lengthMenu": [
                 [5, 10, 25, 50, 100],
                 [5, 10, 25, 50, 100]
            ],
            "pageLength": 5,
            'iDisplayLength': 5,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL+ "/PTS/MaintainPTS/LoadTaskList",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                           { "name": "Nodeid", "value": '@ViewBag.TaskId' },
                           { "name": "Project", "value": '@ViewBag.Project' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {

                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    }
                });
            },
            "columns": [

                {
                    "name": "SrNo",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "bSortable": false,
                    "sClass": "scenter",
                    "name": "TaskStatus"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "TaskDescription"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "Duration_WorkContent"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "DocumentList"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "ResourceList"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "MaterialList"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter",
                    "name": "ActualStartDate"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter",
                    "name": "ActualCompletionDate"
                }
            ]
        });
    });

</script>