﻿@model IEMQS.DESCore.DINModel

@{
    if (Model.DINId > 0)
    {
        ViewBag.Title = "Update DIN";
    }
    else
    {
        ViewBag.Title = "Create DIN";
    }
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";

}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <h4 class="m-portlet__head-text">
            @ViewBag.Title
        </h4>
        <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">

            <!--begin: Message container -->
            <div class="m-portlet__padding-x">

                <!-- Here you can put a message or alert -->
            </div>

            <!--end: Message container -->
            <!--begin: Form Wizard Head -->
            <div class="m-wizard__head ">


                <!--begin: Form Wizard Nav -->
                <div class="m-wizard__nav">
                    <div class="m-wizard__steps">
                        <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number">
                                    <span class="m-wizard__step-label">
                                        DIN Details
                                    </span>
                                    <!--<span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                            <div class="m-wizard__step-info">
                                <a href="javascript:WizardDemo.GoTo(2);" class="m-wizard__step-number">
                                    <span class="m-wizard__step-label">
                                        Ref Document
                                    </span>
                                    <!--  <span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

                <!--end: Form Wizard Nav -->
            </div>


            <!--end: Form Wizard Head -->
            <!--begin: Form Wizard Form-->
            <div class="m-wizard__form">

                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->
                <div class="m-form " id="m_form">

                    <!--begin: Form Body -->
                    <div class="m-portlet__body px-0 py-3">

                        <!--begin: Form Wizard Step 1-->
                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                            @using (Ajax.BeginForm("AddEditDIN", "DIN", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess", OnBegin = "ajaxValidate" }, new { Area = "DES", @Id = "FormDINAttr" }))
                            {
                            <div class="theme-form">
                                <div class="form-group m-form__group row mb-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">DIN Number</h5>
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.DINId, new { id = "DINId" })
                                @Html.HiddenFor(x => x.Department, new { id = "Department" })
                                @Html.HiddenFor(x => x.RoleGroup)
                                @Html.HiddenFor(x => x.FolderId, new { id = "FolderId" })
                                <div class="row m-0">

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">DIN No&nbsp;<span class='text-danger'>*</span> </label>
                                            @if (Model.DINId > 0)
                                            {
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.DINNo, new { @class = "form-control m-input  m-input--square", id = "DINNo", @readonly = "readonly" })
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-6 pl-0">
                                                    <div class="input-group">
                                                        <div style="width: 140px;" class="input-group-prepend">
                                                            @Html.TextBoxFor(x => x.DINNoGenratorPrefix, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = "DIN-" + ViewBag.ProjectNumber + "-" })
                                                        </div>
                                                        @Html.TextBoxFor(model => model.DINNo, new { @class = "form-control m-input  m-input--square", id = "DINNo", @Value = ViewBag.NextDINNo, @maxlength = "50" })
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.DINNo, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                <div class="form-group m-form__group row my-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">Project Details</h5>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Project No&nbsp;<span class='text-danger'>*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ProjectNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.ProjectNumber })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Contract No&nbsp;<span class='text-danger'>*</span> </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ContractNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.Contract })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Project Description&nbsp;<span class='text-danger'>*</span> </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ProjectDescription, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.ProjectDescription })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Customer&nbsp;<span class='text-danger'>*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.Customer, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.Customer })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Code Stamp&nbsp;<span class='text-danger'>*</span></label>
                                            <div class="col-6 pl-0">
                                                @*@if (ViewBag.YesOrNoListASMETag == false)
                        {
                            @Html.TextBoxFor(model => model.ASMETag, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = (ViewBag.YesOrNoListASMETag = "No") })
                        }
                        else
                        {*@
                                                @Html.TextBoxFor(model => model.ASMETag, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                @*}*@
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                <div class="form-group m-form__group row">
                    <label class="col-6 col-form-label bg-secondary">Nuclear Code&nbsp;<span class='text-danger'>*</span></label>
                    <div class="col-6 pl-0">
                        @Html.DropDownListFor(m => m.NuclearASME, ViewBag.YesOrNoListNuclearASME as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-6">@Html.ValidationMessageFor(x => x.NuclearASME, "", new { @class = "text-danger" })</div>
                </div>
            </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Issue No&nbsp;<span class='text-danger'>*</span></label>
                                            <div class="col-6 pl-0">
                                                @if (Model.DINId > 0)
                                                {
                                                    @Html.TextBoxFor(model => model.IssueNo, new { @class = "form-control m-input  m-input--square", @type = "number", @readonly = "readonly" })

                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.IssueNo, new { @class = "form-control m-input  m-input--square", @type = "number", @readonly = "readonly", @Value = ViewBag.NextIssueNo })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Distribution Group&nbsp;<span class='text-danger'>*</span></label>
                                            <div class="col-6 pl-0">
                                                <div class="input-group input-group-c">
                                                    @Html.DropDownListFor(m => m.DistributionGroupId, ViewBag.DistributionGroup as SelectList, "Select", new { @class = "form-control m-input  m-input--square"})
                                                    <div class="input-group-append"><span class="input-group-text newPop" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v"></i></a></span></div>


                                                </div>

                                                @Html.HiddenFor(x => x.DistributionGroupId, new { id = "DistributionGroupId" })


                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.DistributionGroupId, "", new { @class = "text-danger" })</div>
                                        </div>

                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">Description&nbsp;<span class='text-danger'>*</span></label>
                                            <div class="col-9 pl-0">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control m-input  m-input--square", @maxlength = "200" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-12 m--align-right">
                                                <button type="submit" class="btn btn-success m-btn m-btn--custom m-btn--icon">
                                                    <span>
                                                        <span>Save & Continue</span>&nbsp;&nbsp;
                                                        <i class="la la-arrow-right"></i>
                                                    </span>

                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }
                        </div>

                        <!--end: Form Wizard Step 1-->
                        <!--begin: Form Wizard Step 2-->
                        <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                            <div class="row">
                                <div class="col-xl-8 ">
                                    <h6 class="mb-3">Document List </h6>
                                </div>
                                <div class="col-xl-4 m--align-right">

                                    <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3 " data-toggle="modal" id="openDistributePop">
                                        <span>Distribute Document</span>
                                    </a>

                                    <a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon btn-sm mb-3 " data-toggle="modal" id="openPop" data-target="#m_modal_4">
                                        <span>Search Document</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered" id="tblJepDocumentDetails"></table>
                                </div>
                            </div>

                            <!--begin: Form Actions -->
                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">

                                        <div class="col-lg-6 m--align-left">
                                            <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Back</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 m--align-right">
                                            <button type="button" id="btnSaveAsDraft" value="SaveDraft" class="btn btn-warning m-btn m-btn--custom m-btn--icon">Create</button>
                                            <button type="button" id="btnSubmit" class="btn btn-primary m-btn m-btn--custom m-btn--icon">Release</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--end: Form Actions -->
                        </div>

                        <!--end: Form Wizard Step 2-->


                    </div>

                    <!--end: Form Body -->

                </div>
            </div>

            <!--end: Form Wizard Form-->

        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Distribution Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllGroupData"></div>
        </div>
    </div>
</div>


@if (ViewBag.GetLifeCycle.Count > 0)
{
    if (ViewBag.GetLifeCycle[0].IsCompleted == true)
    {
        <div class="m-portlet">
            <div class="m-portlet__body">
                <h4 class="m-portlet__head-text">
                    Lifecycle
                </h4>
                <div class="row bs-wizard justify-content-center">

                    <div class="col-sm bs-wizard-step active">
                        <div class="text-center bs-wizard-stepnum">Create</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>

                        @if (ViewBag.GetLifeCycle[0].IsCompleted == true)
                        {

                            @*<a href="#" class="bs-wizard-dot" style="background-color:#FFFFFF"><span class="bs-wizard-dot-small" style="background-color:#FFFFFF"></span></a>*@
                            <a href="#" class="bs-wizard-dot" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)"></span></a>
                        }

                        @if (ViewBag.GetLifeCycle[0].CreatedBy != null)
                        {
                            <div class="bs-wizard-info text-center">
                                Create By <br /> <span class="m--font-bold">@ViewBag.GetLifeCycle[0].CreatedBy </span>
                                <br />
                                @if (ViewBag.GetLifeCycle[0].CreatedOn != null)
                                {
                                    <span class="m--font-bold"> on @(ViewBag.GetLifeCycle[0].CreatedOn != null ? ViewBag.GetLifeCycle[0].CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                }
                            </div>
                        }

                    </div>


                    <div class="col-sm bs-wizard-step  @(ViewBag.RelaseBy!=null ? "active" : "")">
                        <div class="text-center bs-wizard-stepnum">Release</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        @if (ViewBag.RelaseBy != null)
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)"></span></a>

                        }
                        else
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:#A3BCCB66"><span class="bs-wizard-dot-small" style="background-color:#A3BCCB"></span></a>
                        }
                        @if (ViewBag.RelaseBy != null)
                        {
                            <div class="bs-wizard-info text-center">
                                Relase By <br /> <span class="m--font-bold">@ViewBag.RelaseBy</span>
                                <br />
                                <span class="m--font-bold"> on @(ViewBag.RelaseDate != null ? ViewBag.RelaseDate.ToString("dd/MM/yyyy") : "")</span>

                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
}

<div class="modal fade" id="m_modal_4" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examplemodallabel">Add doument</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs  theme-nav" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1" role="tab">JEP Document</a>
                    </li>
                    <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link " id="globalTab" data-toggle="tab" href="#m_tabs_3_2" role="tab" onclick="btnBindGlobalJEPDoc();">Global JEP Document</a>
                    </li>

                </ul>
                <div class="tab-content p-0">

                    <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                        <table class="table table-bordered" id="tblJepDoc"></table>
                    </div>
                    <div class="tab-pane " id="m_tabs_3_2" role="tabpanel">
                        <div class="form-group m-form__group row align-items-end">
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Project No</label>
                                @*@Html.TextBox("txtProjectNo", "", new { @class = "form-control", @placeholder = "Project No" })*@
                                @Html.DropDownListFor(x => x.ProjectNo, ViewBag.GetContractProjectList as SelectList, "", new { @class = "form-control", @id = "ContractProjectList" })

                            </div>
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Search Document</label>
                                @Html.TextBox("txtDocumentNo", "", new { @class = "form-control", @placeholder = "Document No" })
                            </div>
                            <div class="col-2"> <a class="btn btn-sm btn-success" onclick="btnSearchGlobalJEPDoc();">Search</a></div>
                        </div>
                        <table class="table table-bordered" id="tblGlobalJepDoc"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" id="btnAddDocList" class="btn btn-primary" data-dismiss="modal">Add To List</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_5" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="examplemodallabel">Distribute Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content p-0">
                    <table class="table table-bordered" id="tblDistributeDoc"></table>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/DESAssets/js/DIN-Add.js"></script>
<script src="~/Scripts/Main.js"></script>