﻿@model IEMQS.DESCore.DINModel

@{
    ViewBag.Title = "View DIN";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <div class="row">
            <div class="col-xl-6">
                <h4 class="m-portlet__head-text">
                    @ViewBag.Title
                </h4>
            </div>
            <div class="col-xl-6 text-right">
                <a href="#" id="btnDINHistory" class="btn btn-sm btn-success">Activity Logs</a>
                <a href="#" id="btnDINACK" class="btn btn-sm btn-success">View Acknowledged</a>
                <a href="#" id="btnDINReport" class="btn btn-sm btn-success">Report</a>
            </div>
        </div>
        <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">

            <!--begin: Message container -->
            <div class="m-portlet__padding-x">

                <!-- Here you can put a message or alert -->
            </div>

            <!--end: Form Wizard Head -->
            <!--begin: Form Wizard Form-->
            <div class="m-wizard__form">

                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->
                <div class="m-form " id="m_form">

                    <!--begin: Form Body -->
                    <div class="m-portlet__body px-0 py-3">

                        <!--begin: Form Wizard Step 1-->
                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">

                            <div class="theme-form">
                                <div class="form-group m-form__group row mb-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">DIN Number</h5>
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.DINId, new { id = "DINId" })
                                @Html.HiddenFor(x => x.DINNo, new { id = "DINNo" })
                                @Html.HiddenFor(x => x.DINAckID, new { id = "DINAckID" })
                                @Html.HiddenFor(x => x.BUId, new { id = "BUId" })
                                @Html.HiddenFor(x => x.CurrentPsNo, new { id = "CurrentPsNo" })

                                <div class="row m-0">
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">DIN No</label>
                                            @if (Model.DINId > 0)
                                            {
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.DINNo, new { @class = "form-control m-input  m-input--square", id = "DINNo", @readonly = "readonly" })
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-6 pl-0">
                                                    <div class="input-group">
                                                        <div style="width: 140px;" class="input-group-prepend">
                                                            @Html.TextBoxFor(x => x.DINNoGenratorPrefix, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = "DIN-" + ViewBag.ProjectNumber + "-" })
                                                        </div>
                                                        @Html.TextBoxFor(model => model.DINNo, new { @class = "form-control m-input  m-input--square", id = "DINNo" })
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.DINNo, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                <div class="form-group m-form__group row my-4">
                                    <div class="col-12 ml-auto">
                                        <h5 class="m-form__section m--font-primary">Project Details</h5>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Project No</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ProjectNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.ProjectNumber })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Contract No</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ContractNo, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.Contract })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Project Description </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ProjectDescription, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.ProjectDescription })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Customer</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.Customer, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.Customer })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Code Stamp</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ASMETag, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = ViewBag.YesOrNoListASMETag })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Nuclear Code</label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(m => m.NuclearASME, ViewBag.YesOrNoListNuclearASME as SelectList, "Select", new { @class = "form-control m-input  m-input--square", disabled = "disabled", style = "background-color: #F4F5F8 !important; background: none ;" })
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Issue No</label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.IssueNo, new { @class = "form-control m-input  m-input--square", @type = "number", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Distribution Group</label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(m => m.DistributionGroupId, ViewBag.DistributionGroup as SelectList, "Select", new { @class = "form-control m-input  m-input--square", disabled = "disabled", style = "background-color: #F4F5F8 !important; background: none ;" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">Description</label>
                                            <div class="col-9 pl-0">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control m-input  m-input--square", disabled = "disabled", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered" id="tblJepDocumentDetails"></table>
                        </div>
                    </div>


                </div>
            </div>

            <!--end: Form Wizard Form-->

        </div>
    </div>

    @if (ViewBag.GetPolicySteps != null)
    {
        @*<div class="m-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-lg-12 text-right>"
                        <a href=@Model.ACKIUrl id="btnDINACKView" class="btn btn-sm btn-success">DIN Acknowledged</a>
                    </div>
                </div>
            </div>*@


        <div class="m-portlet__foot">
            <div class="row align-items-center">
                <div class="col-lg-12 text-right">
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.DINAcknowledgeNote, new { @class = "form-control m-input  m-input--square", style = "margin-left:106%;", @placeholder = "Acknowledge Note" })
                    </div>
                    <br />
                    @if (Enumerable.Count(ViewBag.GetPolicySteps) > 0)
                    {
                        // foreach (var Policy in ViewBag.GetPolicySteps)
                        {

                            <a href="/DES/DIN/DINLifeCycle?Id=@ViewBag.GetPolicySteps[1].DINLifeCycleId &DINAckID=@Model.DINAckID&DINID=@Model.DINId" class="btn addACKNotes text-white" style="background-color:@ViewBag.GetPolicySteps[1].ColorCode" id="DinACKNote"> @ViewBag.GetPolicySteps[1].PolicyStep</a>
                        }
                    }
                </div>
            </div>
        </div>



        @*<div class="m-form__actions m-form__actions">
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.DINAcknowledgeNote, new { @class = "form-control m-input  m-input--square", style = "margin-left:106%;", @placeholder = "Acknowledge Note" })
                    </div>
                    <div class="col-lg-12 m--align-right">
                        <br />
                        @if (ViewBag.GetPolicySteps != null)
                        {
                            foreach (var Policy in ViewBag.GetPolicySteps)
                            {
                                <a href="/DES/DIN/DINLifeCycle?Id=@Policy.DINLifeCycleId &DINAckID=@Model.DINAckID" class="btn" style="background-color:@Policy.ColorCode" id="DinACKNote">@Policy.PolicyStep</a>
                            }
                        }
                    </div>
                </div>
            </div>*@
    }
</div>


@if (ViewBag.GetLifeCycle.Count > 0)
{
    if (ViewBag.GetLifeCycle[0].IsCompleted == true)
    {
        <div class="m-portlet">
            <div class="m-portlet__body">
                <h4 class="m-portlet__head-text">
                    Lifecycle
                </h4>
                <div class="row bs-wizard justify-content-center">

                    <div class="col-sm bs-wizard-step active">
                        <div class="text-center bs-wizard-stepnum">Create</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>

                        @if (ViewBag.GetLifeCycle[0].IsCompleted == true)
                        {

                            @*<a href="#" class="bs-wizard-dot" style="background-color:#FFFFFF"><span class="bs-wizard-dot-small" style="background-color:#FFFFFF"></span></a>*@
                            <a href="#" class="bs-wizard-dot" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)"></span></a>
                        }

                        @if (ViewBag.GetLifeCycle[0].CreatedBy != null)
                        {
                            <div class="bs-wizard-info text-center">
                                Create By <br /> <span class="m--font-bold">@ViewBag.GetLifeCycle[0].CreatedBy </span>
                                <br />
                                @if (ViewBag.GetLifeCycle[0].CreatedOn != null)
                                {
                                    <span class="m--font-bold"> on @(ViewBag.GetLifeCycle[0].CreatedOn != null ? ViewBag.GetLifeCycle[0].CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                }
                            </div>
                        }

                    </div>

                    <div class="col-sm bs-wizard-step  @(ViewBag.RelaseBy!=null ? "active" : "")">
                        <div class="text-center bs-wizard-stepnum">Release</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        @if (ViewBag.RelaseBy != null)
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)"></span></a>

                        }
                        else if (ViewBag.RelaseByPSNO != null)
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(ViewBag.GetLifeCycle[0].ColorCode)"></span></a>
                        }
                        else
                        {
                            <a href="#" class="bs-wizard-dot" style="background-color:#A3BCCB66"><span class="bs-wizard-dot-small" style="background-color:#A3BCCB"></span></a>
                        }
                        @if (ViewBag.RelaseBy != null)
                        {
                            <div class="bs-wizard-info text-center">
                                Relase By <br /> <span class="m--font-bold">@ViewBag.RelaseBy</span>
                                <br />
                                <span class="m--font-bold"> on @(ViewBag.RelaseDate != null ? ViewBag.RelaseDate.ToString("dd/MM/yyyy") : "")</span>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs  theme-nav" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1" role="tab">JEP Document</a>
                    </li>
                    <li class="nav-item dropdown m-tabs__item">
                        <a class="nav-link m-tabs__link " id="globalTab" data-toggle="tab" href="#m_tabs_3_2" role="tab">Global JEP Document</a>
                    </li>

                </ul>
                <div class="tab-content p-0">

                    <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                        <table class="table table-bordered" id="tblJepDoc"></table>
                    </div>
                    <div class="tab-pane " id="m_tabs_3_2" role="tabpanel">
                        <div class="form-group m-form__group row align-items-end">
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Project No</label>
                                @Html.TextBox("txtProjectNo", "", new { @class = "form-control", @placeholder = "Project No" })

                            </div>
                            <div class="col-5">
                                <label for="example-text-input" class="col-form-label">Search Document</label>
                                @Html.TextBox("txtDocumentNo", "", new { @class = "form-control", @placeholder = "Document No" })
                            </div>
                            <div class="col-2"> <a class="btn btn-sm btn-success" id="searchGlobalJEPDoc">Search</a></div>
                        </div>
                        <table class="table table-bordered" id="tblGlobalJepDoc"></table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" id="btnAddDocList" class="btn btn-primary" data-dismiss="modal">Add To List</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_1_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Activity Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllHistory"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_1_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Acknowledged</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllACKView"></div>
        </div>
    </div>
</div>

@*<script src="~/DESAssets/js/DIN-Add.js"></script>*@
<script src="~/Scripts/Main.js"></script>
<script>

    $('.addACKNotes').click(function () {
        var DINId = $('#DINId').val();
        var Note = $('#DINAcknowledgeNote').val();
        var AckData = {
            DINId: DINId,
            DINAcknowledgeNote: Note
        };
        //  mApp.blockPage();
        $.ajax({
            type: "POST",
            url: "/DES/DIN/AddAcknowledgeNote",
            data: JSON.stringify(AckData),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.Status) {
                    //toastr.success(response.Msg, "Success");
                } else {
                    toastr.error(response.Msg, "Error");
                }
            },
            error: function (response) {
                toastr.error(response.Msg, "Error");
            }
        });
    });

    var DINId = $('#DINId').val();
    var DINNo = $('#DINNo').val();
    var getCurrentUser = $('#CurrentPsNo').val();
    $('#btnDINHistory').click(function () {
        AllHistory()
    });
    function AllHistory() {
        var dinData = {
            DINId: DINId,
            DINNo: DINNo
        };
        mApp.blockPage();
        $.ajax({
            url: '/DES/DIN/GetAllHistory',
            data: JSON.stringify(dinData),
            type: 'POST',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: "Html",
            success: function (result) {
                mApp.unblockPage();
                $("#modelbodyAllHistory").html(result);
                $("#m_modal_1_3").modal("show");
            },
            error: function (xhr) {
                mApp.unblockPage();
            }
        });
    }

    $('#btnDINReport').click(function () {
        var dat = [];
        dat.push({ Param: "BU", Value: $('#BUId').val() });
        dat.push({ Param: "ProjectNo", Value: $('#ProjectNo').val() });
        dat.push({ Param: "DINNO", Value: $('#DINNo').val() });
        ShowReport(dat, "/DES/Latest SHOP DIN", false, true, 'pdf', $('#DINNo').val());
    });

    $('#btnDINACK').click(function () {
        AllACK()
    });
    function AllACK() {
        var dinData = { DINId: DINId };
        mApp.blockPage();
        $.ajax({
            url: '/DES/DIN/GetAllACK',
            data: JSON.stringify(dinData),
            type: 'POST',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: "Html",
            success: function (result) {
                mApp.unblockPage();
                $("#modelbodyAllACKView").html(result);
                $("#m_modal_1_4").modal("show");
            },
            error: function (xhr) {
                mApp.unblockPage();
            }
        });
    }

    var dinVal = $('#DINId').val();
    var tblJepDocumentDetails;
    mApp.blockPage();
    tblJepDocumentDetails = $('#tblJepDocumentDetails').DataTable({
        "searching": false,
        "serverSide": true,
        "processing": true,
        "orderMulti": false,
        "filter": true,
        "sAjaxSource": "/DES/DIN/GetJepDocumentDetails",
        "iDisplayLength": 10,
        "ordering": true,
        "scrollX": true,
        "responsive": false,
        "language": {
            "infoFiltered": ""
        },
        "bRetrieve": true,
        "order": [[0, 'desc']],
        "columnDefs": [
        ],

        "fnServerData": function (sSource, data, fnCallback) {
            data.push({ name: "DINId", value: dinVal });
            $.ajax({
                "dataType": "json",
                "type": "POST",
                "url": sSource,
                "data": data,
                "success": fnCallback
            });

        },
        "aoColumns": [
            {
                "sTitle": "Action", "className": "action", "orderable": false, render: function (data, type, row, meta) {
                    var srt = "";

                    if (row.AddeddocStatus != "NotReleased") {
                        srt += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-focus m-btn--icon m-btn--icon-only m-btn--pill btnUV" title="Universal Viewer"> <i class="la la-desktop m--font-focus"></i></a>';
                    }
                    if (row.DINStatus == "Created" || row.DINStatus == "Draft") {

                        if ((row.IsDINCheckIn == true)) {
                            if (row.DINCheckInBy == getCurrentUser) {
                                srt += ' <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDelete" title="Delete"><i class="la la-trash text-danger"></i></a>';
                            }
                        }
                        else {
                            srt += ' <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDelete" title="Delete"><i class="la la-trash text-danger"></i></a>';
                        }
                    }
                    return srt;
                }
            },
            {
                "sTitle": "<i class='fa fa-arrows-alt'></i>&nbsp;&nbsp;&nbsp;", "orderable": false, render: function (data, type, row, meta) {
                    if (row.AddeddocStatus == "NotReleased") {
                        return "";
                    }
                    else {
                        if (row.DocNo != null || row.DocNo != 'undefined') {
                            // return "<i class='fa fa-arrow-up btnRevisionClick' disabled style='color: " + row.colorStatus + " '></i>";
                            if (row.colorStatus == "green") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' title='Latest Revision is already Attached & Carry forward' disabled style='color: " + row.colorStatus + " '></i>";
                            }
                            else if (row.colorStatus == "yellow") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' title='Document is under revision (Not yet Released)' disabled style='color: " + row.colorStatus + " '></i>";
                            }
                            else if (row.colorStatus == "red") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' title='One new revision in Release State exists in IEMQS but not yet added in DIN' disabled style='color: " + row.colorStatus + " '></i>";
                            }
                            else if (row.colorStatus == "purple") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' title='Latest Revision Available in IEMQS' disabled style='color: " + row.colorStatus + " '></i>";
                            }
                        }
                        else {
                            if (row.colorStatus == "green") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' style='cursor:pointer; title='Latest Revision is already Attached & Carry forward' style='color: " + row.colorStatus + " '></i>";
                            }
                            else if (row.colorStatus == "yellow") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' style='cursor:pointer; title='Document is under revision (Not yet Released)' style='color: " + row.colorStatus + " '></i>";
                            }
                            else if (row.colorStatus == "red") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' style='cursor:pointer; title='One new revision in Release State exists in IEMQS but not yet added in DIN' style='color: " + row.colorStatus + " '></i>";
                            }
                            else if (row.colorStatus == "purple") {
                                return "<i class='fa fa-arrow-up btnRevisionClick' style='cursor:pointer; title='Latest Revision Available in IEMQS' style='color: " + row.colorStatus + " '></i>";
                            }
                            //return "<i class='fa fa-arrow-up btnRevisionClick' style='cursor:pointer; color: " + row.colorStatus + " '></i>";
                        }
                    }

                }
            },
            {
                "sTitle": "Serial No", "orderable": false, render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },

            {
                "sTitle": "Doc No", render: function (data, type, row, meta) {
                    //return row.DocNo;

                    if (row.DocumentId != null) {
                        var name = "<a target='_blank' href='/DES/DOC/Detail?q=" + row.QString + "'>" + row.DocNo + "</a>";
                    }
                    else {
                        var name =  row.DocNo ;
                    }
                    return name;
                }
            },
            {
                "sTitle": "Rev", "orderable": false, render: function (data, type, row, meta) {
                    if (row.RevisionNo != null) {
                        return "R" + row.RevisionNo;
                    }
                    else {
                        return "";
                    }
                }
            },

            {
                "sTitle": "Document Description","className": "text-wrap custom-table-width", render: function (data, type, row, meta) {
                    return row.DocDescription;
                }
            },
            {
                "sTitle": "Status", render: function (data, type, row, meta) {
                    var strHtml = '';
                    if (row.AddeddocStatus == "NotReleased") {
                        strHtml = " <label style='color:red;'>Not Relesed</label>";
                    }
                    else if (row.AddeddocStatus == "CarryForward") {
                        strHtml = " <label style='color:green;'>Carry Forward</label>";
                    }
                    else if (row.AddeddocStatus == "Added") {
                        strHtml = " <label style='color:blue;'>Added</label>";
                    }
                    else if (row.AddeddocStatus == "Revised") {
                        strHtml = " <label style='color:red;'>Revised</label>";
                    }
                    else {
                        strHtml = row.AddeddocStatus;
                    }
                    return strHtml;
                }
            },

            {
                "sTitle": "Remarks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", "orderable": false, render: function (data, type, row, meta) {
                    var v = row.GeneralRemarks || "";
                    var strHtml = '';
                    if (row.DINStatus == "Draft") {

                        strHtml = "<textarea name='GenralRemark' disabled  type='text' id='GenralRemark" + row.DocumentId + "'  class='form-control m-input  m-input--square GenralRemark'  >" + v + "</textarea>";

                    }
                    else {
                        strHtml = v;
                    }
                    return strHtml;
                }
            },
            {
                "sTitle": "DocumentId", "orderable": false, visible: false, render: function (data, type, row, meta) {
                    return row.DocumentId;
                }
            },
            {
                "sTitle": "Related DCR", "orderable": false, render: function (data, type, row, meta) {
                    var str = [];
                    var strHtml = '';
                    if (row.DCRNo != null) {
                        var i;
                        var getDCR = row.DCRNo.split(',');
                        for (i = 0; i < getDCR.length; i++) {
                            var getValue = getDCR[i].split('__');
                            // str.push("<a href='/DES/DCR Report/?DCRId=" + getValue[1] + "'>" + getValue[0] + "</a>");
                            str.push('<a href="#" onclick="openDCRReport(\'' + getValue[1] + '\',\'' + getValue[0] + '\')">' + getValue[0] + '</a>');
                        }
                        strHtml = str.join(", ");
                    }
                    else {
                        strHtml = "N/A";
                    }
                    return strHtml;
                }
            },
            {
                "sTitle": "State", "orderable": true, render: function (data, type, row, meta) {
                    return row.DOCStatus;
                }
            },
        ],

        "initComplete": function () {
            tblJepDocumentDetails.columns.adjust();
            mApp.unblockPage();
        },

        "fnRowCallback": function () {
            setTimeout(function () {
                tblJepDocumentDetails.columns.adjust();
            }, 1000);
            mApp.unblockPage();
        }
    });
    mApp.unblockPage();

    $('#tblJepDocumentDetails').on('focusout', 'td .GenralRemark', function () {
        var tr = $(this).closest('tr');
        var row = tblJepDocumentDetails.row(tr);
        var data = row.data();
        var DINRefDocumentId = data.DINRefDocumentId;
        var getJEPDocumentDetailsId = data.DocumentId;
        var getCountOfText = $('#GenralRemark' + getJEPDocumentDetailsId).val().length;
        if (getCountOfText < 501) {
            var Remarkdata = {
                GeneralRemarks: $('#GenralRemark' + getJEPDocumentDetailsId).val(),
                DINRefDocumentId: DINRefDocumentId
            };
            DINRefDocumentId = DINRefDocumentId;
            mApp.blockPage();
            $.ajax({
                type: "POST",
                url: '/DES/DIN/UpdateGenralRemark',
                data: JSON.stringify(Remarkdata),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    if (response.Status) {
                        // toastr.success(response.Msg, "Success");
                        $('#btnSubmit').prop('disabled', false);
                        tblJepDocumentDetails.ajax.reload();
                        mApp.blockPage();
                    } else {
                        toastr.error(response.Msg, "Error");
                        mApp.unblockPage();
                    }
                },
                error: function (error) {
                    toastr.error("something went wrong try again later", "Error");
                    mApp.unblockPage();
                }
            })

        }
        else {
            toastr.info("Remark text must be less then 500 character", "Info");
            $('#GenralRemark' + getJEPDocumentDetailsId).val('');
        }
    });

    $('#tblJepDocumentDetails').on('click', 'td .btnUV', function () {
        var tr = $(this).closest('tr');
        var row = tblJepDocumentDetails.row(tr);
        var data = row.data();
        var DocPathList = data.MainDocumentPath.split(",");
        $.each(DocPathList, function (i) {
            UniverSalFile(DocPathList[i]);
        });
    });


    //setup before functions
    var typingTimer;                //timer identifier
    var doneTypingInterval = 100;  //time in ms (3 seconds)


    //$('#DINAcknowledgeNote').on('keyup', function () {
    //    clearTimeout(typingTimer);
    //    if ($('#DINAcknowledgeNote').val()) {
    //        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    //    }
    //    function doneTyping() {
    //        var DINId = $('#DINId').val();
    //        var Note = $('#DINAcknowledgeNote').val();
    //        var AckData = {
    //            DINId: DINId,
    //            DINAcknowledgeNote: Note
    //        };
    //        //  mApp.blockPage();
    //        $.ajax({
    //            type: "POST",
    //            url: "/DES/DIN/AddAcknowledgeNote",
    //            data: JSON.stringify(AckData),
    //            contentType: "application/json;charset=utf-8",
    //            dataType: "json",
    //            success: function (response) {
    //                if (response.Status) {
    //                    //toastr.success(response.Msg, "Success");
    //                } else {
    //                    toastr.error(response.Msg, "Error");
    //                }
    //            },
    //            error: function (response) {
    //                toastr.error(response.Msg, "Error");
    //            }
    //        });
    //    }
    //});

    $("#m_aside_left_minimize_toggle").click(function () {
        if (tblJepDocumentDetails != null) {
            tblJepDocumentDetails.columns.adjust();
        }
    });

    function openDCRReport(DCRId, DCRNo) {
        var dat = [];
        dat.push({ Param: "DCRNo", Value: DCRNo });
        ShowReport(dat, "/DES/DCR Report", false, true, 'pdf', DCRNo);
    }

    $('#tblJepDocumentDetails').on('click', 'td .btnDelete', function () {
        var tr = $(this).closest('tr');
        var row = tblJepDocumentDetails.row(tr);
        var data = row.data();

        swal({
            title: "Do you want to delete?",
            type: "warning",
            allowOutsideClick: false,
            showConfirmButton: true,
            showCancelButton: true,
            confirmButtonClass: "btn btn-danger",
            cancelButtonClass: "btn btn-secondary",
            confirmButtonText: "Yes",
            cancelButtonText: "No"
        }).then(
            function (isConfirm) {
                var rev = "Yes";
                if (isConfirm.value) {
                    mApp.blockPage();
                    $.ajax({
                        type: "GET",
                        url: '/DES/DIN/DeleteDINRefDocument',
                        data: { Id: data.DINRefDocumentId },
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        async: true,
                        success: function (response) {
                            if (response.Status) {
                                toastr.success(response.Msg, "Success");
                                tblJepDocumentDetails.ajax.reload();
                                tblJepDoc.ajax.reload();
                                tblGlobalJepDoc.ajax.reload();
                                mApp.unblockPage();
                            } else {
                                toastr.error(response.Msg, "Error");
                                mApp.unblockPage();
                            }
                        },
                        error: function (error) {
                            toastr.error("something went wrong try again later", "Error");
                            mApp.unblockPage();
                        }
                    })
                } else {
                }
            });
    });
</script>