﻿@model IEMQS.DESCore.FolderStructureModel

@{
    Layout = null;
}

@using (Ajax.BeginForm("_partialCreateNewFolder", "Parameter", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess", OnBegin = "ajaxValidate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.BUId)
    @Html.HiddenFor(x => x.ParentFolderId)
    @Html.HiddenFor(x => x.FolderId)
    @Html.HiddenFor(x => x.CategoryIds)
    @Html.HiddenFor(x => x.ActionIds)
    @Html.HiddenFor(x => x.FunctionIds)

<div class="modal-body">
    <div class="form-group m-form__group">
        <label for="exampleInputName">Folder Name <span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.FolderName, new { @class = "form-control m-input", @placeholder = "Enter Folder Name", maxlength = 100, required = "required", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.FolderName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group m-form__group">
        <label for="exampleInputName">Folder Order No <span style="color:red;">*</span></label>
        @Html.TextBoxFor(model => model.FolderOrderNo, new { @class = "form-control m-input allownumericwithdecimals", @type = "number", @placeholder = "Enter Folder Order No", maxlength = 4, required = "required", autocomplete = "off" })
        @Html.ValidationMessageFor(model => model.FolderOrderNo, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group m-form__group">
        <label for="exampleInputEmail1">Description</label>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control m-input", @placeholder = "Enter Description", @rows = "3", maxlength = 200 })
    </div>

    <div class="form-group m-form__group" id="divFunction">
        <label for="exampleInputEmail1">Select RoleGroup <span style="color:red;">*</span></label>
        @Html.DropDownListFor(model => model.RoleGroupList, ViewBag.FunctionList as SelectList, new { @class = "form-control m-input", @multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.RoleGroupList, "", new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="col-sm-6 mt-3">
            <h6>Category <span style="color:red;">*</span></h6>

            @*<label class='m-checkbox m-checkbox--solid m-checkbox--success'>
                    <input type='checkbox' id='chbHeaderAllCat' onclick='SelectAllCategory()' /><span></span>Select All Category
                </label>*@

            <div class="m-checkbox-list mt-3">
                @{

                    for (int i = 0; i < Model.ListCategory.Count; i++)
                    {

                        <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                            @Html.CheckBoxFor(model => model.ListCategory[i].IsChecked, new { @Value = Model.ListCategory[i].MappingId, @id = "getCategoryList" })
                            @Model.ListCategory[i].Name
                            <span></span>
                        </label>
                        //@id = "getCategoryList" + Model.ListCategory[i].MappingId,@class= "cat"
                    }
                }
                @Html.Label("Please select Category", new { @class = "text-danger", @id = "errorCategoryIds", @style = "display:none;" })
            </div>
        </div>
        <div class="col-sm-6 mt-3">
            <h6>Action <span style="color:red;">*</span></h6>

            @*<label class='m-checkbox m-checkbox--solid m-checkbox--success'>
                    <input type='checkbox' id='chbHeaderAllAct' onclick='SelectAllAction()' /><span></span>Select All Action
                </label>*@

            <div class="m-checkbox-list mt-3">
                @{
                    for (int i = 0; i < Model.ListAction.Count; i++)
                    {
                        <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                            @Html.CheckBoxFor(model => model.ListAction[i].IsChecked, new { @Value = Model.ListAction[i].MappingId, @id = "getActionList" })
                            @Model.ListAction[i].Name
                            <span></span>
                        </label>
                        //@id = "getActionList" + Model.ListAction[i].MappingId , @class = "cat"
                    }
                }
                @Html.Label("Please select actions", new { @class = "text-danger", @id = "errorActionIds", @style = "display:none;" })
            </div>
        </div>
    </div>
</div>
    <div class="modal-footer">
        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
        <input type="submit" id="btnSave" class="btn btn-primary" value="Save" onclick="getValueUsingClass()" />
    </div>


}

@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        //$("#FunctionIdList").select2();
        $("#RoleGroupList").select2({
            placeholder: "--Select--"
        });
    });

    funSuccess = function (data) {
        mApp.unblockPage();
        $("#m_select2_modal").modal("hide"); //close the popup after success
        $("#BUList").change(); //bind the folder list as per BUId
        if (data.Status) {
            toastr.success(data.Msg, "Success");
        } else {
            toastr.error(data.Msg, "Error");
        }
    }

    function ajaxValidate() {
        var chkArray = [];
        $("#getCategoryList:checked").each(function () {
            chkArray.push($(this).val());
        });
        var selectedCategoryIds;
        selectedCategoryIds = chkArray.join(',');

        var chkArray = [];
        $("#getActionList:checked").each(function () {
            chkArray.push($(this).val());
        });
        var selectedActionIds;
        selectedActionIds = chkArray.join(',');
        $("#ActionIds").val(selectedActionIds);

        if (selectedCategoryIds == '') {
            $("#errorCategoryIds").show();
            return false;
        }
        if (selectedActionIds == '') {
            $("#errorActionIds").show();
            return false;
        }
        else {
            mApp.blockPage();
            return true;
        }
    }

    $("body").on("keypress", ".allownumericwithdecimals", function (e) {
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
            return false;
        }
        if ($(this).val().indexOf('.').length > 2) {
            return false;
        }
        if ($(this).val().length > 2) {
            return false;
        }
    });

</script>

@*<script>
    function SelectAllCategory() {        
        var chkArray = [];
        var data = @Html.Raw(Json.Encode(Model.ListCategory));
        for (var i = 0; i < data.length; i++) {
            chkArray.push(data[i].MappingId);
        }

        var selectedCategoryIds;
        selectedCategoryIds = chkArray.join(',');
        $("#getCategoryList").val(selectedCategoryIds);        
        var select = $('#chbHeaderAllCat').prop("checked");
        if (select == true) {
            chkArray.forEach(function (item) {
                item = parseInt(item);
                $("#getCategoryList" + item).prop("checked", true);
                chkArray.push(item);
            });
        }
        else {
            chkArray.forEach(function (item) {
                item = parseInt(item);
                $("#getCategoryList" + item).prop("checked", false);                
            });
        }
    }


    function SelectAllAction() {        
        var chkArray = [];
        var data = @Html.Raw(Json.Encode(Model.ListAction));
        for (var i = 0; i < data.length; i++) {
            chkArray.push(data[i].MappingId);
        }

        var selectedActionIds;
        selectedActionIds = chkArray.join(',');
        $("#getActionList").val(selectedActionIds);        
        var select = $('#chbHeaderAllAct').prop("checked");
        if (select == true) {
            chkArray.forEach(function (item) {
                item = parseInt(item);
                $("#getActionList" + item).prop("checked", true);
                chkArray.push(item);
            });
        }
        else {
            chkArray.forEach(function (item) {
                item = parseInt(item);
                $("#getActionList" + item).prop("checked", false);                
            });
        }
    }
</script>*@
