﻿

@model IEMQS.DESCore.PolicyModel
@{

    int NoTask = 0;
    if (TempData["NoTask"] != null)
    {
        NoTask = int.Parse(TempData["NoTask"].ToString());
    }

}
@if (Model.PolicyStepList != null && Model.PolicyStepList.Count() > 0)
{
    for (int i = 0; i < Model.PolicyStepList.Count(); i++)
    {
        NoTask = i;
        <tr data-id="@NoTask" id="tr_@NoTask">

            <td>
                @Html.TextBoxFor(x => x.PolicyStepList[NoTask].OrderNo, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].OrderNo, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.PolicyStepList[NoTask].StepName, new { @class = "form-control", @placeholder = "Enter Policy Step Name", maxlength = 50 })
                @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].StepName, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.TextBoxFor(x => x.PolicyStepList[NoTask].ColorCode, new { @class = "form-control", @type = "color" })
                @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].ColorCode, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownListFor(x => x.PolicyStepList[NoTask].DesignationLevels, new List<SelectListItem> {
               new SelectListItem {Text="1",Value="1",Selected=(Model.PolicyStepList[NoTask].DesignationLevels==1) },
               new SelectListItem {Text="2",Value="2",Selected=(Model.PolicyStepList[NoTask].DesignationLevels==2) },
               new SelectListItem {Text="3",Value="3",Selected=(Model.PolicyStepList[NoTask].DesignationLevels==3) },
           }, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].DesignationLevels, "", new { @class = "text-danger" })
            </td>
            <td>

                @Html.HiddenFor(x => x.PolicyStepList[NoTask].PolicyStepId)
                @Html.HiddenFor(x => x.PolicyStepList[NoTask].PolicyId)
                @Html.HiddenFor(x => x.PolicyStepList[NoTask].IsDelete)
                <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" delete-id="@NoTask" title="Delete" onclick="RemovePolicyStep(this)"><i class="la la-trash-o"></i></a>

            </td>
        </tr>
    }
}
else
{
    <tr data-id="@NoTask" id="tr_@NoTask">

        <td>
            @Html.TextBoxFor(x => x.PolicyStepList[NoTask].OrderNo, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].OrderNo, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(x => x.PolicyStepList[NoTask].StepName, new { @class = "form-control", @placeholder = "Enter Policy Step Name", maxlength = 50 })
            @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].StepName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(x => x.PolicyStepList[NoTask].ColorCode, new { @class = "form-control", @type = "color" })
            @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].ColorCode, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.DropDownListFor(x => x.PolicyStepList[NoTask].DesignationLevels, new List<SelectListItem> {
               new SelectListItem {Text="1",Value="1" },
               new SelectListItem {Text="2",Value="2" },
               new SelectListItem {Text="3",Value="3" },
           }, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PolicyStepList[NoTask].DesignationLevels, "", new { @class = "text-danger" })
        </td>
        <td>

            @Html.HiddenFor(x => x.PolicyStepList[NoTask].PolicyStepId)
            @Html.HiddenFor(x => x.PolicyStepList[NoTask].PolicyId)
            @Html.HiddenFor(x => x.PolicyStepList[NoTask].IsDelete)
            <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" delete-id="@NoTask" title="Delete" onclick="RemovePolicyStep(this)"><i class="la la-trash-o"></i></a>
</td>
    </tr>
}
