﻿@model IEMQSImplementation.PRO280
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0, s7 = 0, s8 = 0, s9 = 0, s10 = 0, s11 = 0;/* for serial number */
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left;">
                                                        @*<strong>Sr.No.</strong><br /><br />*@
                                                        @*<strong>REQUIRED:</strong> @Html.TextBoxFor(model => model.ReqTotalLength, new { @class = "form-control  tblHeaderTextBox", @style = "display: inline-block;width: 100px; ", @maxlength = "20", @role = "QC" })*@
                                                    </span>
                                                </div>
                                                <div class="tools">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table class="table" id="tblProtocolLines1">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;" rowspan="2">#</th>
                                                            <th style="display:none;" rowspan="2">LineId</th>
                                                            <th rowspan="2">Sr.No.</th>
                                                            <th rowspan="2">Elevation <br /> (From B.T.L / R.L.)</th>
                                                            <th rowspan="2">Orientation</th>
                                                            <th colspan="2">Thickness</th>
                                                            <th rowspan="2">Remarks</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Required</th>
                                                            <th>Actual</th>
                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }    
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO281 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO281 as List<PRO281>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td> 
                                                                    <td class="SrNo"><label id="SrNo_1_@s1" name="SrNo_1_@s1">@item.SrNo</label> </td>
                                                                    <td class="Elevation"> @Html.TextBox("Elevation_1_" + @s1, @item.Elevation, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="Orientation"> @Html.TextBox("Orientation_1_" + @s1, @item.Orientation, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ReqThickness"> @Html.TextBox("ReqThickness_1_" + @s1, @item.ReqThickness, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActThickness"> @Html.TextBox("ActThickness_1_" + @s1, @item.ActThickness, new { @class = "form-control", @maxlength = "50", @role = "QC" })</td>                                                                  
                                                                    <td class="Remarks"> @Html.TextBox("Remarks_1_" + @s1, @item.Remarks, new { @class = "form-control", @maxlength = "100" })</td>
                                                                   
                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tbody>
                                            <tr>
                                                <td class="subtitle">SURFACE CONDITION :</td>
                                                <td> @Html.TextBoxFor(model => model.SurfaceCondition, new { @class = "form-control", @maxlength = "50", @role = "QC" })  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tbody>
                                            <tr>
                                                <td class="subtitle">STAGE OF INSPECTION :</td>
                                                <td>@Html.DropDownListFor(model => model.StageOfInspection, new SelectList(@ViewBag.StageOfInspection, "Value", "Text"), "", new { @class = "form-control inlinetextbox", @role = "QC" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                <span>1) PROCEDURE NO : &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "QC" })</span>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) MARKING OF THICKNESS MEASUREMENT POINT DONE AS REQUIRED BY DRAWING OR STANDARD ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) ALL DIMENSIONS ARE IN MM UNLESS SPECIFIED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                                @Html.TextBoxFor(model => model.CheckPoint4, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })
                                                &nbsp; & CALIBRATION DUE DATE
                                                <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.CheckPoint4_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                    <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                        <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) MINIMUM THICKNESS OBSERVED IN THICKNESS MEASUREMENT POINT TO BE REPORTED.
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;"></div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>


<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    @*var lstLeftRight = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.LeftRight))));
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideInside))));*@
    $(document).ready(function () {

        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });
        $("#CheckPoint4_2").change(function () {
            if ($("#CheckPoint4_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#CheckPoint2').val('Yes');

        if ('@Model.StageOfInspection' != "") { $('#StageOfInspection').val('@Model.StageOfInspection'); }
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }

    });



    $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
            }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                $("[role=PROD]").first().focus();
            }

            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Elevation', ['Elevation', 'Orientation', 'ReqThickness', 'ActThickness'], AddTbl1NewTrRow, true);

                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SrNo": $('td.SrNo Label', this).text(),
                "Elevation": $('td.Elevation input', this).val(),
                "Orientation": $('td.Orientation input', this).val(),
                "ReqThickness": $('td.ReqThickness input', this).val(),
                "ActThickness": $('td.ActThickness input', this).val(),
                "Remarks": $('td.Remarks input', this).val()
            };
            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;
        $("#hdGrid1LastRow").val(NewTrRowNum);

        var PreCount = parseInt(NewTrRowNum) - 1;
        var Val1 = "", Val2 = "", Val3 = "", Val4 = "", Val5 = "";
        if (PreCount >= 1)
        {
            Val1 = $("#Elevation_1_" + PreCount).val();
            Val2 = $("#Orientation_1_" + PreCount).val();
            Val3 = $("#ReqThickness_1_" + PreCount).val();
            Val4 = $("#ActThickness_1_" + PreCount).val();
            Val5 = $("#Remarks_1_" + PreCount).val();
        }

        var strhtml = "<tr class=\"islastrow\">" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
             + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
             + "<td class=\"SrNo center\"><Label id=\"SrNo_1_" + NewTrRowNum + "\" name=\"SrNo_1_" + NewTrRowNum + "\">" + row + "</Label></td>"
             + "<td class=\"Elevation center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox\" value=\"" + Val1 + "\" id=\"Elevation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Elevation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" ></td>"
             + "<td class=\"Orientation center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox\" value=\"" + Val2 + "\" id=\"Orientation_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Orientation_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"
             + "<td class=\"ReqThickness center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox\" value=\"" + Val3 + "\" id=\"ReqThickness_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqThickness_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"
             + "<td class=\"ActThickness center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox\" value=\"" + Val4 + "\" id=\"ActThickness_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActThickness_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"></td>"
             + "<td class=\"Remarks center \"><input class=\"form-control  islastrow  EditableTextColor  valid\" value=\"" + Val5 + "\" id=\"Remarks_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"Remarks_1_" + NewTrRowNum + "\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Elevation',['Elevation','Orientation','ReqThickness','ActThickness'],AddTbl1NewTrRow)\"></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }

    function delRecord(obj) {
        $(obj).parent().parent().remove();
        var RowCount = $("#hdGrid1LastRow").val();
        var iCo = 1;
        if (RowCount > 0) {
            for (var i = 0; i < RowCount; i++) {
                var iCount = (i + 1);
                if ($("#SrNo_1_" + iCount).length) {
                    document.getElementById("SrNo_1_" + iCount).textContent = iCo;
                    iCo = iCo + 1;
                }
            }
        }
    }
</script>