﻿
@{
    ViewBag.Title = "Maintain MOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Minutes of Meeting - Project
                            </h1>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Project List
                        </div>
                        <div class="tools" id="dvExportHeader">
                            @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                            {
                                <div class="tools" id="dvExportSubLines">
                                    <div class="btn-group">
                                        <a style="margin-right:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                            <i class="fa fa-plus"></i> Add Projects
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="portlet-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmDetail", onsubmit= "return true != "+ ViewBag.IsDisplayOnly.ToString().ToLower() }))
                        {
                            <table class="table table-striped table-bordered table-hover dt-responsive " id="tblProject" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="min-phone-l">Project</th>
                                        <th class="min-phone-l">Customer</th>
                                        <th class="min-phone-l">Zero Date</th>
                                        <th class="min-phone-l">CDD</th>
                                        <th class="min-phone-l">Total MoM</th>
                                        <th class="min-phone-l">Last MoM Date</th>
                                        <th class="min-phone-l">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableid = "tblProject";
    var newbtnid = 'btnNew';
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {

        var table = $('#' + tableid);
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/MOM/Maintain/GetProjectWiseIndexData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Flag", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
                if (!IsDisplayOnly) 
                    ResetAddRowLine(tableid, newbtnid);
                $('input[maxlength],textarea[maxlength]').maxlength({
                    alwaysShow: true,
                });
            },
            "aoColumns": [
                    { "sClass": "center", "name": "PROJECT" },
                    { "sClass": "center", "name": "CUSTOMER", "bSortable": false},
                    { "sClass": "center", "name": "ZERODATE", "bSortable": false },
                    { "sClass": "center", "name": "CDD", "bSortable": false },
                    { "sClass": "center", "name": "MOMCOUNT" },
                    { "sClass": "center", "name": "LASTMOMDATE", "bSortable": false},
                    { "sClass": "center clsAction" },
            ]
        });

        $('#' + tableid).delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var rowid = $(this).attr("spara");
            var hdElement = $(this).attr("hdElement");

            if ($(this).attr("colname") == "txtPROJECT") {
                FillAutoCompleteUsingAjax(element, "/Utility/General/GetProjectResult", $("#" + hdElement), false, null, function () {
                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/MOM/Maintain/GetProjctCustomerCDD",
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        dataType: "JSON",
                        data: { project: $("#" + hdElement).val() },
                        success: function (res) {
                            if (res.key == false) {
                                $('#txtPROJECT0').val('');
                                DisplayNotiMessage("info", res.value, "Info");
                            }
                            else {
                                $("#CUSTOMER" + rowid).text(res.Name);
                                $("#CDD" + rowid).text(res.Cdd);
                            }
                        }
                    });
                }, null, true)
            }
        });
        $('#frmDetail').validate({
            rules: {
                txtPROJECT0: { required: true }
            },
            messages: {
                txtPROJECT0: { required: "Project is required" }
            }
        });
    });

    function ResetAddRowLine(table, btnNew) {
        $("#" + table).find("tbody tr:first").hide();
        $("#" + table).find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> Add Project');
        clearFirstRowLine($("#" + table).find("tbody tr:first"));
    }

    function clearFirstRowLine(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }

    function ShowNewRecord(obj) {
        $('#' + tableid).find("tbody tr:first").toggle();
        $('#txtPROJECT0').focus();
        if ($('#' + tableid).find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRowLine($('#' + tableid).find("tbody tr:first"));
        }
    }

    function SaveNewProject() {
        if ($('#frmDetail').valid()) {
            var formData = new FormData();
            var frmValues = $('#frmDetail').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + "/MOM/Maintain/SaveProjectwiseData",
                type: "POST",
                data: formData,
                async: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.Key) {
                        DisplayNotiMessage("success", res.Value, "Success");
                    }
                    $('#' + tableid).DataTable().ajax.reload();
                },
                error: function (data) { }
            });
        }
        else {
            HighlightInValidControls();
        }
    }

</script>
<script src="~/Scripts/common.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<script src="~/Scripts/bootbox.js"></script>



