﻿@using IEMQSImplementation
@model PAM001
@{
    string FileUploadLineID = "fuline";
    ViewBag.Title = "Approve Individual PAM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    .sectionTextbox {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {

        var Pmgname ='@ViewBag.pmgname';

        $('#PMGName').val(Pmgname);


        if('@Model.Status'=='@clsImplementationEnum.PAMStatus.Approved.GetStringValue()' ||'@Model.Status'=='@clsImplementationEnum.PAMStatus.Returned.GetStringValue()' )
        {

            DisableBtn("#btnApprove");
            DisableBtn("#btnReturn");
            // DisableBtn("#btnAttchment");


        }

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        $('#btnAddLines').click(function () {
            if ($("#Status").val() == "@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue()") {
                bootbox.alert("This document is sent for approval, You can't Add project now");
            }
            else if($("#Status").val() == "@clsImplementationEnum.PAMStatus.Approved.GetStringValue()")
            {
                bootbox.alert("This document is Approve, You can't Add Projects");
            }
            else {
                AddProject();
            }
        });
        $('#btnCancel').click(function () {
            window.location.href = WebsiteURL +'/PAM/PMG/Index';
        });

        var oTable = $("#tblLines").dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/PMG/loadProjectDataTable?headerId=" + @Model.HeaderId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'async':false,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportLines").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(result.strSortOrder);
                    },
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",// "details-control",
                    "bSortable": false,
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },

                {
                    "sClass": "center",
                },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   }
                //{ "sClass": "center",
                //    "sClass": "hide",
                //    "bSortable": false,
                //    "sClass": "center",
                //    "sWidth": "5%",
                //    "render": function (data, type, row, meta) {
                //        var buttons = ""; //addSubLines(' + row[1] + ', ' + row[2] + ', ' + row[3] + ')
                //        var functionCallDelete = "DeleteLine( " + row[1] + "," + row[2] + ")";
                //        buttons = '<center><i id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Line" class="fa fa-trash-o" onClick="' + functionCallDelete + '"></i></center>';
                //        return buttons;
                //    }
                //},

            ]
        });

        var PaymentTermTable = $("#tblPaymentTerm").dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/MKT/loadPaymentTermDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "HeaderId", "value": '@Model.HeaderId' }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'async':false,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportPaymentTerms").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportPaymentTerms").val(result.strSortOrder);
                    },
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "Description",
                    //"sWidth": "35%",
                },
                //{
                //    "sClass": "center",
                //    "bSortable": false,
                //    "name": "PlannedInvoiceDate",  --Observation 15428
                //    //"sWidth": "35%",
                //},
                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "Percentage",
                    //"sWidth": "35%",
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "name": "MilestoneType",
                    //"sWidth": "35%",
                },

            ]
        });

        var ChecklistTable = $("#tblChecklist").dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "ordering": false,
                //"info": false,
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            "bFilter": false,
            "paging":   false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "drawCallback": function ( settings ) {

                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                var last=null;
                var rowcount=1;
                api.column(10, {page:'current'} ).data().each( function ( group, i ) {

                    if ( last !== group ) {
                        $(rows).eq( i ).before(
                            '<tr style="font-weight:bold" class="group"><td>'+rowcount+'</td><td colspan="5">'+group+'</td></tr>'
                        );
                        last = group;
                        rowcount++
                    }
                } );
            },
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/PMG/loadCheckListDataTable?headerId=" + @Model.HeaderId + "&pam=" + '@Model.PAM',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'async':false,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportSubLines").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportSubLines").val(result.strSortOrder);
                    },
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",// "details-control",
                    "bSortable": false,
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                 {
                     "sClass": "hide",
                     "sWidth": "5%",
                     "bSortable": false,
                 },
                {
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "35%",
                },
                 {
                     "sClass": "center",
                     "bSortable": false,
                     "sWidth": "9%",
                 },
                 {
                     "sClass": "center",
                     "bSortable": false,
                 },

                 {
                     "bSortable": false,
                     "sClass": "center",
                     "sWidth": "5%",
                     "render": function (data, type, row, meta) {
                         var buttons = "";
                         debugger
                         if( row[3]== "14" ){
                             var functionCall = "ViewDSS('" + DSSId + "')";
                             if(DisplayDSS){
                                 buttons = '<center><a id="btnViewDSS" href="javascript:void(0);" Title="View DSS" onclick="' + functionCall + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a><span style="color:red" class="required"> * </span></center>';
                             }

                         }
                         else{
                             var functionCall = "UploadAttchment( " + row[8] + ",'" + escape(row[4]) + "')";
                             {
                                 if(row[7]=="True")
                                 {
                                     buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;color:#32CD32;"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + functionCall + '" ></i></center>';
                                 }
                                 else
                                 {
                                     buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="fa fa-paperclip"  onClick="' + functionCall + '" ></center>';
                                 }

                                 //buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="glyphicon glyphicon-paperclip"  onClick="' + functionCall + '" ></i></center>';
                             }
                         }
                         // buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="glyphicon glyphicon-paperclip"  onClick="' + functionCall + '" ></i></center>';
                         //if( row[9]=="True" ){

                         //    if(row[7]=="True")
                         //    {
                         //        buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;color:#32CD32;"  Title="Add/Update Attachment" class="glyphicon glyphicon-paperclip"  onClick="' + functionCall + '" ></i><span class="required"> * </span></center>';
                         //    }
                         //    else
                         //    {
                         //        buttons = '<center><i id="btnAttchment" name="btnAction" style="cursor:pointer;"  Title="Add/Update Attachment" class="glyphicon glyphicon-paperclip"  onClick="' + functionCall + '" ></i><span class="required"> * </span></center>';
                         //    }

                         //}
                         //else

                         return buttons;
                     }
                 },
                   {
                       "sClass": "hide",
                       "sWidth": "5%",
                       "bSortable": false,
                   },
                    {
                        "sClass": "hide",
                        "sWidth": "5%",
                        "bSortable": false,
                    },
                     {
                         "sClass": "hide",
                         "sWidth": "5%",
                         "bSortable": false,
                     }
            ]
        });

        $('#frmIndPam').validate({
            rules: {
                PMGRemarks: {
                    required: true
                }
            },
            messages: {
                PMGRemarks: {
                    required: "Project Manager Remarks is required"
                }
            }
        });
        $("#btnApprove").click(function () {
            $('#RespondType').val('approve');
            ApproverResponse();
        });
        $("#btnReturn").click(function () {
            $('#RespondType').val('return');
            ApproverResponse();
        });


        $("#btnSendForAprrove").click(function () {
            if ($("#HeaderId").val() != undefined && $("#HeaderId").val() != '' && $("#HeaderId").val() > 0) {
                $.ajax({
                    url: WebsiteURL +"/PAM/MKT/SendForApprove",
                    type: "POST",
                    data: { headerId: $("#HeaderId").val() },
                    success: function (data) {
                        if (data.Key == true) {
                            window.location.href = WebsiteURL +"/IMB/Maintain/Index";
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                        else {
                            bootbox.alert(data.Value)
                        }
                    }
                });
            }
            else {
                bootbox.alert("Please add Header and Lines before send");
            }
        });
        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });


        $("input[name='txtSectionRemark']").change(function () {
            var currenttd = $(this);
            var changeText = $(this).val();
            var firsttd = $(currenttd).closest('tr').find("td:last");
            UpdateSectionRemark(parseInt($(firsttd).text()), changeText);

        });

        $("input[name='chkChecklistCheck']").on('switchChange.bootstrapSwitch', function (event, state) {
            var currenttd = $(this);
            var firsttd = $(currenttd).closest('tr').find("td:last");
            var x = $(this).data('on-text');
            var y = $(this).data('off-text');
            if ($("#chkChecklistCheck").is(':checked')) {
                UpdateChecklistcheck(parseInt($(firsttd).text()), true);
            } else {
                UpdateChecklistcheck(parseInt($(firsttd).text()), false);
            }
        });


    });
    var DisplayDSS=@ViewBag.DisplayDSS.ToString().ToLower();
    var DSSId=@ViewBag.DSSId.ToString().ToLower();
    function ViewDSS(DSSId){

        window.location.href=WebsiteURL +"/PAM/DSS/ApproveDSSDetails/"+DSSId;
    }
    function UpdateSectionRemark(id,changeText){
        $.ajax({
            type: "POST",
            url: WebsiteURL +"/PAM/MKT/UpdateSectionRemarks",
            datatype: 'json',
            async: true,
            beforeSend: function () {
                showLoading(false);
            },
            complete: function () {
                showLoading(false);
            },
            data: { id: id, changeText: changeText },
            success: function (data) {
            },
            error: function () {
            }
        });
    }
    function UpdateChecklistcheck(id,state){
        $.ajax({
            type: "POST",
            url: WebsiteURL +"/PAM/MKT/UpdateChecklistCheck",
            datatype: 'json',
            async: true,
            beforeSend: function () {
                showLoading(false);
            },
            complete: function () {
                showLoading(false);
            },
            data: { id: id, state: state },
            success: function (data) {
            },
            error: function () {
            }
        });
    }

    function UploadAttchment(id,checklist){

        //OLD CODE
        //var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        //objFileUploadLine.ShowDeleteAction = false;
        //objFileUploadLine.ShowAttachmentBtn = false;
        //objFileUploadLine.FolderPath = "PAM005/" + id;
        //objFileUploadLine.LoadInPopup = true;
        //LoadFileUploadPartialView(objFileUploadLine);

        var objFile = {
            TableName: 'PAM005',
            TableId: id,
            Path: '//PAM005//' + id + '//1',
            ControlID: '@(FileUploadLineID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);

        checklist=unescape(checklist);

    }

    var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                      + "LoadPreValueSelect2('/PAM/MKT/GetProjects', $('#ddlProject'), 'Select Projects', { headerId : "+@Model.HeaderId+" });"
                      + "$('#frmAddProject').validate({"
                      + " rules: {"
                      + "ddlProject: {"
                      + "required: true,"
                      + "},"
                      + "messages: {"
                      + "ddlProject: {"
                      + "required: 'Project is required'"
                      + "}"
                      + "}"
                       + "}"
                      + "});"
                      + "});</scr" + "ipt>"
                      + " <div>"
                      + "<form method='post' id='frmAddProject' class='form-horizontal' action=''>"
                      + "<div class='form-group'>"
                      + "<div class='col-md-12'>"
                      + "<label class='control-label'>Project<span class='required'> * </span></label>"
                      + "<div class=''>"
                      + " <select name='ddlProject' id='ddlProject' multiple='multiple' style=' width:100%' class='form-control'></select>"
                      + "</div>"
                      + "</div>"
                      + "</div>"
                      + "</form>"
                      + "</div>";

    function ApproverResponse()
    {
        if ($("#frmIndPam").valid()) {
            var formData = new FormData();
            var frmSaveHeaderValue = $("#frmIndPam").serializeArray();
            $.each(frmSaveHeaderValue, function (key, input) {
                formData.append(input.name, input.value);
            });

            $.ajax({
                url: WebsiteURL +"/PAM/PMG/ApproverResponse",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Key == true) {
                        if (data.Key)
                        {
                            DisplayNotiMessage("success", data.Value, "Success");
                            window.setTimeout('window.location.href = "'+WebsiteURL+'/PAM/PMG/Index"', 2000);
                        }
                        else
                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                        $("#HeaderId").val(data.Value);
                    }
                    else {
                        bootbox.alert(data.Value);
                    }
                }
            })

        }
    };

    @*function DeleteLine(lineId, headerId) {
        if ($("#Status").val() == "@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue()") {
            bootbox.alert("This document is sent for approval, You can't delete project now");
        }
        else {
            var confirmMsg = "";
            if ($("#Status").val() == "@clsImplementationEnum.PAMStatus.Approved.GetStringValue()") {
                confirmMsg = "Do you want to revise approved document.?"
            }
            else {
                confirmMsg = "Do you want to delete project?"
            }
            bootbox.confirm({
                message: confirmMsg,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        $.ajax({
                            url: "/PAM/MKT/DeleteProject",
                            type: "POST",
                            data: { lineId: lineId, headerId: headerId },
                            success: function (data) {
                                if (data.Key == true) {
                                    DisplayNotiMessage("success", "Improvement Deleted Successfully", "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $("#tblLines").DataTable().ajax.reload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                    }
                }
            });
        }

    }*@

    function AddProject(){
        bootbox.confirm({
            message:  strHtml,
            buttons: {
                confirm: {
                    label: 'OK',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            },
            callback: function (result) {
                if (result) {

                    if ($('#frmAddProject').valid()) {
                        $.ajax({
                            url: WebsiteURL +"/PAM/MKT/AddProject",
                            type: "POST",
                            datatype: 'json',
                            data: { headerId: '@Model.HeaderId',contract: '@Model.ContractNo',customer:'@Model.Customer', project: $("#ddlProject").val(),loiDate: '@Model.LOIDate'  },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $("#tblLines").DataTable().ajax.reload();
                                    //window.setTimeout('window.location.href = "/PAM/MKT/PAMRequestApproveView"', 2000);
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            }
        });

    };
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        @*<span class="page-title">Full Kit Sheet for Project Alignment Meeting</span>*@
                        <span class="page-title">Full Kit Sheet for @Html.DisplayFor(m => m.PAM)</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.Status) </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>
                <div id="dvHeader">
                    @Html.HiddenFor(m => m.HeaderId)
                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Contract Detail</legend>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label">Contract<span class="required"> * </span></label>
                                        <div class="">
                                            <input type="text" id="ContractNoName" name="ContractNoName" value='@ViewBag.ContractNo' readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Customer<span class="required"> * </span></label>
                                        <div class="">
                                            <input type="text" id="CustomerName" name="CustomerName" value='@ViewBag.Customer' readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <hr>
                </div>
                <div class="row" id="divLines">
                    <div class="col-md-12" style="text-align:right;display:none">
                        <input type="button" class="btn green" id="btnAddLines" value="Add New" />
                    </div>
                    <br />
                    <br />
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Project List
                                </div>
                                <div class="tools" id="dvExportLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/MKT/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">Sr.No.</th>
                                            <th style="display:none;">Id</th>
                                            <th style="display:none;">HeaderId</th>
                                            <th style="display:none;">Project</th>
                                            <th class="min-phone-l">Equipment</th>
                                            <th class="min-phone-l">LOI Date</th>
                                            <th class="min-phone-l">Zero Date</th>
                                            <th class="min-phone-l">CDD</th>
                                            @*<th style="display:none;">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    PAM CheckList
                                </div>
                                <div class="tools" id="dvExportSubLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/MKT/GenerateExcel", GridType = clsImplementationEnum.GridType.SUB_LINES.GetStringValue(), dvId = "#dvExportSubLines" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblChecklist" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">Sr.No.</th>
                                            <th style="display:none;">HeaderId</th>
                                            <th style="display:none;">SectionId</th>
                                            <th style="display:none;">CheckListId</th>
                                            <th class="min-phone-l">Description</th>
                                            <th class="min-phone-l">Checked by Initiator</th>
                                            <th class="min-phone-l">Remarks</th>
                                            <th class="min-phone-l">Document</th>
                                            <th style="display:none;">Id</th>
                                            <th style="display:none;">IsAttchment</th>
                                            <th style="display:none;">Section</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Payment Terms
                                </div>
                                <div class="tools" id="dvExportPaymentTerms">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PAM/MKT/GenerateExcel?ContractNo=" + Model.ContractNo, GridType = clsImplementationEnum.GridType.PaymentTermsLines.GetStringValue(), dvId = "#dvExportPaymentTerms" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblPaymentTerm" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">#</th>
                                            <th class="all">Description</th>
                                            @*<th class="all">Planned Invoice Date</th>*@ @*Observation 15428*@
                                            <th class="all">Percentage</th>
                                            <th class="all">Milestone Type</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align:right">
                    <div class="col-md-12">
                        <i name="btnAction" style="color:#32CD32;" class="fa fa-paperclip"></i><span style="margin-left:3px" class="required">file attached</span>&nbsp;|&nbsp;
                        <i name="btnAction" class="fa fa-paperclip"></i><span style="margin-left:3px" class="required">No file attached </span>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <form id="frmIndPam" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.Hidden("RespondType")
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center;background-color:#32c5d2;color: #fff;font-size: 18px; ">Marketing Engineer</th>
                                    <th style="text-align:center;background-color:#32c5d2;color: #fff;font-size: 18px;">Project Manager</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Name
                                                @*<span class="required" aria-required="true"> * </span>*@
                                            </label>
                                            <div class="col-md-10" style="text-align:left">
                                                @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Name
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.PMGName, new { @class = "form-control col-md-3", @readonly = "readonly" })

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Date
                                                @*<span class="required" aria-required="true"> * </span>*@
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.CreatedOn, new { @class = "form-control col-md-3", @readonly = "readonly" })


                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Date
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.PMGResponseDate, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Remarks
                                                @*<span class="required" aria-required="true"> * </span>*@
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.InitRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Remarks
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.PMGRemarks, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                </div>
                <div class="row" style="text-align:right;">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn approve" id="btnApprove" value="Approve" "  />
                            <input type="button" class="btn return" id="btnReturn" value="Return" />
                            <input type="button" class="btn btnclose" id="btnCancel" value="Close" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
        <div id="dv@(FileUploadLineID)"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
