﻿@using IEMQSImplementation
@model EMT001_Log
@{
    ViewBag.Title = "Exit Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string EMTFileAttachment = "EMTFileAttachment";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>


<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));
        $('#txtRevNo').val("R"+@Model.RevNo);
        var headerid = parseInt("@Model.HeaderId");
        if (headerid > 0) {

            var Customer = "@Model.Customer";
            $("#txtCust").val(Customer);

            var Document = "@Model.Document";
            $("#txtdoc").val(Document);

            var CDD = "@Model.CDD";
            $("#txtCDD").val(CDD);

            var RevNo = "@Model.RevNo";
            $("#txtRev").val("R" + RevNo);

            var Product = "@Model.Product";
            $("#ddlCat").val(Product);

            var ProcessLicensor = "@Model.ProcessLicensor";
            $("#txtlicence").val(ProcessLicensor);

            var ApprovedBy = "@Model.ApprovedBy";
            var Project = "@Model.Project";

            if (Project != "" || ApprovedBy != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/EMT/MaintainEMT/getCodeValue",
                    data: { project: Project, approver: ApprovedBy },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.projdesc != "") {
                            $("#txtProject").val(data.projdesc);
                        }
                        if (data.appdesc != "") {
                            $("#ddlApprover").val(data.appdesc);
                        }
                        if (data.custdesc != "") {
                            $("#Customer").val(data.custdesc);
                        }
                    },
                    error: function () {
                    }
                });
            }

            var status = "@Model.Status";
            $("#lblStatus").text(status);
            $("#status").css("display", "block");
            $("#txtProject").attr("disabled", true);
            $("#ddlCat").attr("disabled", true);
            $("#txtlicence").attr("disabled", true);
            $("#ddlApprover").attr("disabled", true);

        }
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        LoadEMTFileAttachment();
    });

    function LoadEMTFileAttachment() {
        @*var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = "EMT001/" + "@Model.HeaderId" + "/R" + "@Model.RevNo";
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(EMTFileAttachment)', '@EMTFileAttachment');
        objFileUploadFinalHeader.ShowDeleteAction = false;
        objFileUploadFinalHeader.ShowAttachmentBtn = false;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.IsRequired = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);*@

        var objFile = {
            TableName: 'EMT001//' + '@Model.HeaderId' + '//R'+'@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'EMT001//' + '@Model.HeaderId' + '//R'+'@Model.RevNo' + '//1',
            ControlID: '@(EMTFileAttachment)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: false,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: false,
            IsRequired: false
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(EMTFileAttachment)', false);
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Initiate Exit Meeting</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtProject", (string)@ViewBag.cat, new { @class = "form-control col-md-4", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        @*<div class="col-md-4 right">
                                                <label class="control-label">
                                                    Rev No
                                                </label>
                                                <div class="">
                                                    @Html.TextBox("txtRev", "", new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>*@
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Rev No
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-2"><button type="button" id="RevPrev" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevPrev == null)? "" : "window.location='"+ViewBag.RevPrev+"'")" @((ViewBag.RevPrev == null) ? "disabled" : "")><span class="fa fa-chevron-left"></span></button></div>
                                                <div class="col-sm-8">
                                                    @*@Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-4", @readonly = "readonly" })*@
                                                    <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                                    @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                </div>
                                                <div class="col-sm-2"><button type="button" id="RevNext" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevNext == null)? "" : "window.location='"+ViewBag.RevNext+"'")" @((ViewBag.RevNext == null) ? "disabled" : "")><span class="fa fa-chevron-right"></span></button></div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Product Category
                                            </label>
                                            <div class="">
                                                @Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstProCat, "Value", "Text"), "Select", new { @class = "form-control", required = "required" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Process Licensor
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtlicence", (string)@ViewBag.cat, new { @class = "form-control col-md-4", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Document No.
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtdoc", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                CDD
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCDD", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Approver
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Return Remark</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divPDNIdenticalproject"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="dv@(EMTFileAttachment)"></div>
                                    </div>

                                </div>
                            </fieldset>
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-3">
                                    <br />
                                    @*<input type="button" class="btn green" id="btnHistory" value="History" style="float: right;display:none;margin-right:5px; " />*@
                                </div>
                                <div class="col-md-5 right">
                                    <br />
                                    <a href="~/EMT/Maintain/index" style="float: right; margin-right:5px;" class="btn btnclose">Close</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>