﻿@model IEMQS.DESCore.DOCModel
@{
    if (Model.DocumentId > 0)
    {
        ViewBag.Title = "Update Document";
    }
    else
    {
        ViewBag.Title = "Maintain Document";
    }
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";

}

<div class="m-portlet ">
    <div class="m-portlet__body ">
        <h4 class="m-portlet__head-text">
            @ViewBag.Title
        </h4>
        <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">

            <!--begin: Message container -->
            <div class="m-portlet__padding-x">

                <!-- Here you can put a message or alert -->
            </div>

            <!--end: Message container -->
            <!--begin: Form Wizard Head -->
            <div class="m-wizard__head ">


                <!--begin: Form Wizard Nav -->
                <div class="m-wizard__nav">
                    <div class="m-wizard__steps">
                        <div class="m-wizard__step m-wizard__step--current" m-wizard-target="m_wizard_form_step_1">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number">

                                    <span class="m-wizard__step-label">
                                        @ViewBag.Title
                                    </span>
                                    <!--<span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>
                        <div class="m-wizard__step" m-wizard-target="m_wizard_form_step_2">
                            <div class="m-wizard__step-info">

                                <a href="javascript:WizardDemo.GoTo(2);" class="m-wizard__step-number">

                                    <span class="m-wizard__step-label">
                                        Upload Document
                                    </span>
                                    <!--  <span class="m-wizard__step-icon"><i class="la la-check"></i></span>-->
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

                <!--end: Form Wizard Nav -->
            </div>


            <!--end: Form Wizard Head -->
            <!--begin: Form Wizard Form-->

            <div class="m-wizard__form">

                <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->

                <div class="m-form" id="m_form">

                    <!--begin: Form Body -->
                    <div class="m-portlet__body px-0 py-3">

                        <!--begin: Form Wizard Step 1-->

                        <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                            @using (Ajax.BeginForm("AddEditDoc", "DOC", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess", OnBegin = "ajaxValidate" }, new { Area = "DES", @Id = "FormDOCAttr" }))
                            {

                                @Html.HiddenFor(x => x.DocumentId)
                                @Html.HiddenFor(x => x.CurrentLocationIp)
                                @Html.HiddenFor(x => x.FilePath)
                                @Html.HiddenFor(x => x.DocumentRevision)
                                @Html.HiddenFor(x => x.Project)
                                @Html.HiddenFor(x => x.IsEdit)
                                @Html.HiddenFor(x => x.IsRevision)
                                @Html.HiddenFor(x => x.Department)
                                @Html.HiddenFor(x => x.RoleGroup)
                                @Html.HiddenFor(x => x.FolderId)
                                @Html.HiddenFor(x => x.IsLatestRevision)
                                @Html.HiddenFor(x => x.GetCurrentUser)
                                @Html.HiddenFor(x => x.CheckOutFilename)
                                @Html.HiddenFor(x => x.CheckOutPath)
                                @Html.HiddenFor(x => x.CheckOutGetExtention)
                                @Html.HiddenFor(x => x.CheckInDocumentPath)
                                @Html.HiddenFor(x => x.DocumentNoToGetInHidden)
                                @Html.HiddenFor(x => x.IsDOCCheckIn)
                                @Html.HiddenFor(x => x.IsDocDownloadRights, new { @Id = "IsDocDownloadRights" })
                                @Html.HiddenFor(x => x.IsProjectRights, new { @Id = "IsProjectRights" })
                                <div class="theme-form" id="testOfWiz" style="display:block">
                                    <div class="row m-0">
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Is Link with JEP&nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @if (Model.IsRevision == true)
                                                    {
                                                        @Html.DropDownListFor(model => model.IsJEP, new List<SelectListItem>
                                                           { new SelectListItem{Text="No", Value="false"},
                                                             new SelectListItem{Text="Yes", Value="true"}}, new { @class = "form-control m-input  m-input--square", style = "background-color: #F4F5F8 !important; background: none ;", disabled = "disabled" })
                                                        @Html.HiddenFor(x => x.IsJEP)
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.IsJEP, new List<SelectListItem>
                                                           { new SelectListItem{Text="No", Value="false"},
                                                             new SelectListItem{Text="Yes", Value="true"}}, new { @class = "form-control m-input  m-input--square", @Id = "IsJepDrop" })
                                                    }

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6" id="jepDocNumber" style="display:none">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">JEP Document Number&nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @if (Model.DocumentId > 0)
                                                    {
                                                        @Html.DropDownListFor(x => x.JEPDocumentDetailsId, @ViewBag.GetJEPDocumentNo as SelectList, "Select", new { @class = "form-control m-input  m-input--square getJEPDocList" })

                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(x => x.JEPDocumentDetailsId, @ViewBag.GetJEPDocumentNo as SelectList, "Select", new { @class = "form-control m-input  m-input--square getJEPDocList" })
                                                    }
                                                    @Html.HiddenFor(x => x.JEPDocumentDetailsId)
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.JEPDocumentDetailsId, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>


                                        <div class="col-md-6" id="jepDocNumber2" style="display:none">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">JEP Document Number&nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @if (Model.DocumentId > 0)
                                                    {
                                                        @Html.TextBoxFor(model => model.DocumentNo, new { @class = "form-control m-input  m-input--square blockSpecialChar", @readonly = "readonly" })

                                                    }
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6" id="DocNumber" style="display:block">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Document No &nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @if (Model.DocumentId > 0)
                                                    {
                                                        @Html.TextBoxFor(model => model.DocumentNo, new { @class = "form-control m-input  m-input--square blockSpecialChar", @readonly = "readonly" })

                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.DocumentNo, new { @class = "form-control m-input  m-input--square blockSpecialChar", @maxlength = "200", Id = "txtDocumentNo" })
                                                    }
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.DocumentNo, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Document Type &nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @if (Model.IsRevision == true)
                                                    {
                                                        @Html.DropDownListFor(x => x.DocumentTypeId, @ViewBag.GetDocumentList as SelectList, "Select", new { @class = "form-control m-input  m-input--square", style = "background-color: #F4F5F8 !important; background: none ;", disabled = "disabled" })

                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(x => x.DocumentTypeId, @ViewBag.GetDocumentList as SelectList, "Select", new { @class = "form-control m-input  m-input--square getDocList", style = "width: 100% !important;", Id = "JEPDocumentTypeId" })
                                                    }
                                                    @Html.HiddenFor(x => x.DocumentTypeId)
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.DocumentTypeId, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Document Title&nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @if (Model.IsRevision == true)
                                                    {
                                                        @Html.TextBoxFor(model => model.DocumentTitle, new { @class = "form-control m-input  m-input--square", Id = "JEPDocumentTitle", @readonly = "readonly" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.DocumentTitle, new { @class = "form-control m-input  m-input--square", Id = "JEPDocumentTitle", @maxlength = "500" })
                                                    }
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.DocumentTitle, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Document Revision&nbsp;<span class='text-danger'>*</span></label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.DocumentRevisionStr, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.DocumentRevisionStr, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Milestone Document&nbsp;<span class='text-danger'>*</span> </label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(model => model.MilestoneDocument, new List<SelectListItem>
                                                           { new SelectListItem{Text="No", Value="false"},
                                                             new SelectListItem{Text="Yes", Value="true"}}, new { @class = "form-control m-input  m-input--square", Id = "JEPDocumentMilestone" })
                                                    @Html.HiddenFor(x => x.MilestoneDocument)
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.MilestoneDocument, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Customer Document Number</label>
                                                <div class="col-6 pl-0">
                                                    @Html.TextBoxFor(model => model.ClientDocumentNumber, new { @class = "form-control m-input  m-input--square", Id = "JEPClientDocumentNumber", @maxlength = "50" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Customer Document Revision</label>
                                                <div class="col-6 pl-0">

                                                    @*@if (Model.IsRevision == true)
                                {
                                    @Html.TextBoxFor(model => model.ClientVersion, new { @class = "form-control m-input  m-input--square", Id = "JEPClientDocumentRevision", @readonly = "readonly" })
                                }
                                else
                                {*@
                                                    @Html.TextBoxFor(model => model.ClientVersion, new { @class = "form-control m-input  m-input--square", Id = "JEPClientDocumentRevision" , @maxlength = "20" })
                                                    @*}*@


                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ClientVersion, "", new { @class = "text-danger" })</div>
                                            </div>
                                        </div>

                                        @if (Model.ReturnNotes != null)
                                        {
                                            <div class="col-md-12">
                                                <div class="form-group m-form__group row">
                                                    <label class="col-3 col-form-label bg-secondary">Return Note</label>
                                                    <div class="col-9 pl-0">
                                                        @Html.TextBoxFor(model => model.ReturnNotes, new { @class = "form-control m-input  m-input--square", disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                <!--begin: Form Actions -->
                                <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-12 m--align-right">
                                                <button type="submit" class="btn btn-success m-btn m-btn--custom m-btn--icon">
                                                    <span>
                                                        <span>Save & Continue</span>&nbsp;&nbsp;
                                                        <i class="la la-arrow-right"></i>
                                                    </span>

                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Actions -->
                            }
                        </div>

                        <!--end: Form Wizard Step 1-->
                        <!--begin: Form Wizard Step 2-->
                        <div class="m-wizard__form-step" id="m_wizard_form_step_2">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-8 col-sm-12">Upload Document</label>
                                        <div class="col-12">
                                            <div class="m-dropzone dropzone m-dropzone--success" action="#" id="m-dropzone-two">
                                                <div class="m-dropzone__msg dz-message needsclick">
                                                    <h3 class="m-dropzone__msg-title">Drop files here or click to upload</h3>
                                                    <!-- <span class="m-dropzone__msg-desc">Upload up to 10 files</span>-->
                                                </div>
                                            </div>
                                            @*<div id="the-progress-div">
                                                    <span class="the-progress-text"></span>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <hr class="py-4">
                            <div class="row">
                                <div class="col-12">
                                    <h6 class="mb-4">Document List</h6>
                                    <table class="table  table-bordered table-hover" id="tblDocumentFiles"> </table>
                                </div>
                            </div>

                            <!--begin: Form Actions -->
                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">

                                        <div class="col-lg-6 m--align-left">
                                            <a href="javascript: WizardDemo.GotoBack();" class="btn btn-secondary m-btn m-btn--custom m-btn--icon">
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Back</span>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 m--align-right">
                                            <a href="#" id="btnSubmit" class="btn btn-primary m-btn m-btn--custom m-btn--icon">
                                                <span>
                                                    <i class="la la-check"></i>&nbsp;&nbsp;
                                                    <span>Submit</span>
                                                </span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--end: Form Actions -->
                        </div>


                        <!--end: Form Wizard Step 2-->
                        <!--end: Form Body -->

                    </div>


                </div>

                <!--end: Form Wizard Form-->

            </div>
        </div>

    </div>
</div>

@if (Model.DocumentId > 0)
{
    if (Model.IsRevision == false)
    {
        <div class="m-portlet">
            <div class="m-portlet__body">
                <h4 class="m-portlet__head-text">
                    Lifecycle
                </h4>

                <div class="row bs-wizard justify-content-center">

                    @if (ViewBag.GetLifeCycle != null)
                    {
                        foreach (var Policy in ViewBag.GetLifeCycle)
                        {

                            <div class="col-sm bs-wizard-step @(Policy.IsCompleted ? "active" : "") ">
                                <div class="text-center bs-wizard-stepnum">@Policy.PolicyStep</div>
                                <div class="progress">
                                    <div class="progress-bar"></div>
                                </div>

                                @if (Policy.IsCompleted == true)
                                {

                                    <a href="#" class="bs-wizard-dot" style="background-color:@(Policy.ColorCode)66"><span class="bs-wizard-dot-small" style="background-color:@(Policy.ColorCode)"></span></a>
                                }
                                else
                                {
                                    <a href="#" class="bs-wizard-dot"><span class="bs-wizard-dot-small"></span></a>
                                }

                                @if (Policy.CreatedBy != null)
                                {
                                    <div class="bs-wizard-info text-center">
                                        @Policy.PolicyStep  By <br /> <span class="m--font-bold">By  @Policy.CreatedBy </span>
                                        <br />
                                        @if (Policy.CreatedOn != null)
                                        {
                                            <span class="m--font-bold"> on @(Policy.CreatedOn != null ? Policy.CreatedOn.ToString("dd/MM/yyyy") : "")</span>
                                        }
                                    </div>
                                }
                            </div>

                        }
                    }
                </div>


            </div>

        </div>

    }
}
<div class="modal fade" id="myCehckInMarkModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CheckOut Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <textarea type="text" name="CheckedIN_Remark" id="CheckedIN_Remark" class="form-control m-input  m-input--square"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="addRemarkBtn" class="btn btn-primary" data-dismiss="modal">Add Remark</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myCehckOutMarkModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CheckIn Remark</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <textarea type="text" name="CheckedOut_Remark" id="CheckedOut_Remark" class="form-control m-input  m-input--square"></textarea>
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-8 col-sm-12">Upload Document</label>
                    <div class="col-12">
                        <div class="m-dropzone dropzone m-dropzone--success" action="#" id="m-dropzone-three">
                            <div class="m-dropzone__msg dz-message needsclick">
                                <h3 class="m-dropzone__msg-title">Drop files here or click to upload</h3>
                                <!-- <span class="m-dropzone__msg-desc">Upload up to 10 files</span>-->
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="addCheckOutRemarkBtn" class="btn btn-primary" data-dismiss="modal">Add Remark</button>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
         var arm = "@((int)IEMQS.DESCore.DOCType.ARM)";
    </script>
    <script src="~/DESAssets/js/DOC.js"></script>
    <script src="~/DESAssets/demo/default/custom/crud/forms/widgets/dropzone.js" type="text/javascript"></script>
    <script src="~/DESAssets/js/Custom_Validation.js"></script>
}