﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
          RT CTQ History
        </div>
        <div class="tools" id="dvExportHistoryHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainRTCTQ/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHistoryHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblCTQHeaderHistory" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">CTQ No.</th>
                    <th class="min-phone-l">Manufacturing Code</th>
                    <th class="min-phone-l">Rev No.</th>
                    <th class="min-phone-l">Created By</th>
                    <th class="min-phone-l">Created On</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">Applicable Spec.</th>
                    <th class="none">Acceptance Std.</th>
                    <th class="none">ASME code</th>
                    <th class="none">TPI Name</th>
                    <th class="none">Noti. Req.</th>
                    <th class="none">Job Thickness</th>
                    <th class="none">Size Diam.</th>
                    <th class="none">Remarks</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblCTQHeaderHistory');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
               [5, 10, 25, 50, 100],
               [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainRTCTQ/LoadRTCTQHeaderHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                             { "name": "CTQHeaderId", "value": '@ViewBag.HeaderID' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHistoryHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHistoryHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                {
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "name": "BU",
                    "sClass": "center"
                },
                {
                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "name": "CTQNo",
                    "sClass": "clsCenter"
                },
                {
                    "name": "ManufacturingCode",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "center"
                },
                {
                    "name": "CreatedBy",
                    "sClass": "center"
                },
                {
                    "name": "CreatedOn",
                    "sClass": "center"
                },
                {
                    "name": "Status",
                    "sClass": "center"
                },
                {
                    "name": "ApplicableSpecification",
                    "sClass": "center",
                },
                 {
                     "name": "AcceptanceStandard",
                     "sClass": "center",
                 },
                 {
                     "name": "ASMECodeStamp",
                     "sClass": "clsCenter",
                 },
                 {
                     "name": "TPIName",
                     "sClass": "center",
                 },
                 {
                     "name": "NotificationRequired",
                     "sClass": "clsCenter",
                 },
                 {
                     "name": "ThicknessOfJob",
                     "sClass": "center",
                 },
                 {
                     "name": "SizeDimension",
                     "sClass": "center",
                 },
                 {
                     "name": "NDERemarks",
                     "sClass": "center",
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",

                 },
            ]
        });
    });

</script>

