﻿@using IEMQSImplementation
<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div id="dvPCR">
                    <div class="portlet-body">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    QC I Stage PCR
                                </div>
                                <div class="tools" id="dvQCExportHeader">
                                    @if (ViewBag.QCIsValidUser)
                                    {
                                        <div class="btn-group">
                                            <a onclick="DisplayAllRecords()" class="btn btn-circle white btn-outline btn-sm">
                                                Display All
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="ApprovePCL()" class="btn btn-circle white btn-outline btn-sm">
                                                Approve
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="ReturnPCL()" class="btn btn-circle white btn-outline btn-sm">
                                                Return PCL
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="ReturnBalance()" class="btn btn-circle white btn-outline btn-sm">
                                                Return Balance
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="ViewTC()" class="btn btn-circle white btn-outline btn-sm">
                                                View TC
                                            </a>
                                        </div>
                                    }
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PCR/MaintainPCR/GenerateExcel", GridType = clsImplementationEnum.GridType.GeneratePCL.GetStringValue(), dvId = "#dvQCExportHeader" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form id="frmMaterialPlannerPCRDetails" class="form-horizontal">
                                    <table id="tblQCPCRDetails" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                                        <thead>
                                            @*<tr>
                                                <th class="all"></th>
                                                <th class="all">Find No</th>
                                                <th class="all">Item</th>
                                                <th class="all">Sequence</th>
                                                <th class="all">Item Type</th>
                                                <th class="all">PCL No</th>
                                                <th class="all">PCL Status</th>
                                                <th class="all">Stock Physical Status</th>
                                                <th class="all">Alt Stock</th>
                                                <th class="all">Stock No</th>
                                                <th class="all">Area Consume</th>
                                                <th class="all">Location</th>
                                                <th class="all">W/C Deliver</th>
                                                <th class="all">Sub Location</th>
                                                <th class="all">Cutting Location</th>
                                                <th class="all">Priority</th>
                                                <th class="all">Planner Remarks</th>
                                                <th class="all">Alt Stock Remarks</th>
                                                <th class="all">Action</th>
                                            </tr>*@
                                            <tr>
                                                <th class="all"></th>                                                
                                                <th class="all">PCL No</th>
                                                <th class="all">PCL Status</th>
                                                <th class="all">Work Center</th>
                                                <th class="all">Movement Type</th>
                                                <th class="all">Stock No</th>
                                                <th class="all">Stock Rev</th>
                                                <th class="all">Stock Physical Status</th>
                                                <th class="all">Stock Area</th>
                                                <th class="all">Location</th>                                                
                                                <th class="all">Return Balance in Pcs</th>
                                                <th class="all">Return Area</th>
                                                <th class="all">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var QCIsValidUser = '@ViewBag.QCIsValidUser.ToString().ToLower()' == "true";
    var UtilityParamsQCPCRDetails = null;
    var tblQCPCRDetailsTableName = "tblQCPCRDetails";
    var tblQCPCRDetails = $('#' + tblQCPCRDetailsTableName);

    LoadQCPCRData();

    function LoadQCPCRData(IsDisplayAll) {
        if (IsDisplayAll == null || IsDisplayAll == undefined || IsDisplayAll == "undefined") {
            IsDisplayAll = false;
        }

        //var aoColumns = [
        //                {
        //                    "bSortable": false,
        //                    "sWidth": "5%",
        //                    "sClass": "left18",
        //                    "attr": "none",
        //                    "rendercallback": "GetElementSelectColumnQCPCR",
        //                    "editrendercallback": "GetElementSelectColumnQCPCR",
        //                    "render": function (data, type, row, meta) {
        //                        return GetElementSelectColumnQCPCR(row);
        //                    }
        //                },
        //                {
        //                    "data": "PartNumber",
        //                    "sClass": "center group1",
        //                    "name": "PartNumber",
        //                    "ColName": "p4.PartNumber"
        //                },
        //                {
        //                    "data": "ChildItem",
        //                    "sClass": "center childitem",
        //                    "name": "ChildItem",
        //                    "ColName": "p4.ChildItem"
        //                },
        //                {
        //                    "data": "Sequence",
        //                    "sClass": "center",
        //                    "name": "Sequence",
        //                    "ColName": "p4.Sequence"
        //                },
        //                {
        //                    "data": "ItemType",
        //                    "sClass": "center",
        //                    "name": "ItemType",
        //                    "ColName": "p4.ItemType"
        //                },
        //                {
        //                    "data": "PCLNumber",
        //                    "sClass": "center",
        //                    "name": "PCLNumber",
        //                    "ColName": "ISNULL(p6.PCLNumber,'')"
        //                },
        //                {
        //                    "data": "PCLStatus",
        //                    "sClass": "center",
        //                    "name": "PCLStatus",
        //                    "ColName": "ISNULL(p6.PCLStatus,'')"
        //                },
        //                {
        //                    "data": "StockPhysicalStatusName",
        //                    "sClass": "center",
        //                    "name": "StockPhysicalStatusName",
        //                    "ColName": "StockPhysicalStatusName"
        //                },
        //                {
        //                    "data": "UseAlternateStock",
        //                    "sClass": "center pcllinestatus",
        //                    "name": "UseAlternateStock",
        //                    "ColName": "ISNULL(p3.UseAlternateStock,'')"
        //                },
        //                {
        //                    "data": "StockNumber",
        //                    "sClass": "center length",
        //                    "name": "StockNumber",
        //                    "ColName": "ISNULL(p3.StockNumber,'')"
        //                },
        //                {
        //                    "data": "AreaConsumed",
        //                    "sClass": "center width",
        //                    "name": "AreaConsumed",
        //                    "ColName": "p3.AreaConsumed"
        //                },
        //                {
        //                    "data": "LocationName",
        //                    "sClass": "center",
        //                    "name": "LocationName",
        //                    "ColName": "LocationName"
        //                },
        //                {
        //                    "data": "WCDeliverName",
        //                    "sClass": "center controlrequired",
        //                    "name": "WCDeliverName",
        //                    "ColName": "WCDeliverName"
        //                },
        //                {
        //                    "data": "SubLocation",
        //                    "sClass": "center",
        //                    "name": "SubLocation",
        //                    "ColName": "p4.SubLocation"
        //                },
        //                {
        //                    "data": "WarehouseCuttingLocation",
        //                    "sClass": "center",
        //                    "name": "WarehouseCuttingLocation",
        //                    "ColName": "p3.WarehouseCuttingLocation"
        //                },
        //                {
        //                    "data": "Priority",
        //                    "sClass": "center",
        //                    "name": "Priority",
        //                    "ColName": "p4.Priority"
        //                },
        //                {
        //                    "data": "PlannerRemark",
        //                    "sClass": "center",
        //                    "name": "PlannerRemark",
        //                    "ColName": "p4.PlannerRemark"
        //                },
        //                {
        //                    "data": "AlternateStockRemark",
        //                    "sClass": "center",
        //                    "name": "AlternateStockRemark",
        //                    "ColName": "p3.AlternateStockRemark"
        //                },
        //]
        var aoColumns = [
                        {
                            "bSortable": false,
                            "sWidth": "5%",
                            "sClass": "left18",
                            "attr": "none",
                            "rendercallback": "GetElementSelectColumnQCPCR",
                            "editrendercallback": "GetElementSelectColumnQCPCR",
                            "render": function (data, type, row, meta) {
                                return GetElementSelectColumnQCPCR(row);
                            }
                        },                        
                        {
                            "data": "PCLNumber",
                            "sClass": "center",
                            "name": "PCLNumber",
                            "ColName": "PCLNumber"
                        },
                        {
                            "data": "PCLStatus",
                            "sClass": "center",
                            "name": "PCLStatus",
                            "ColName": "PCLStatus"
                        },
                        {
                            "data": "WorkCenterName",
                            "sClass": "center",
                            "name": "WorkCenterName",
                            "ColName": "WorkCenterName"
                        },
                        {
                            "data": "MovementTypeName",
                            "sClass": "center",
                            "name": "MovementTypeName",
                            "ColName": "MovementTypeName"
                        },
                        {
                            "data": "StockNumber",
                            "sClass": "center",
                            "name": "StockNumber",
                            "ColName": "StockNumber"
                        },
                        {
                            "data": "StockRevision",
                            "sClass": "center",
                            "name": "StockRevision",
                            "ColName": "StockRevision"
                        },
                        {
                            "data": "StockPhysicalStatusName",
                            "sClass": "center",
                            "name": "StockPhysicalStatusName",
                            "ColName": "StockPhysicalStatusName"
                        },
                        {
                            "data": "Area",
                            "sClass": "center",
                            "name": "Area",
                            "ColName": "Area"
                        },
                        {
                            "data": "LocationName",
                            "sClass": "center",
                            "name": "LocationName",
                            "ColName": "LocationName"
                        },
                        {
                            "data": "ReturnBalanceInPcs",
                            "sClass": "center",
                            "name": "ReturnBalanceInPcs",
                            "ColName": "ReturnBalanceInPcs"
                        },
                        {
                            "data": "ReturnAreaInm2",
                            "sClass": "center",
                            "name": "ReturnAreaInm2",
                            "ColName": "ReturnAreaInm2"
                        },
        ]
        iFCRight = 1;
        aoColumns.push({
            "bSortable": false,
            "sClass": "left action",
            "sWidth": "10%",
            "attr": "",
            "rendercallback": "GetActionColumnRenderQCPCR",
            "editrendercallback": "GetActionColumnRenderQCPCR",
            "render": function (data, type, row, meta) {
                return GetActionColumnRenderQCPCR(row);
            }
        });

        UtilityParamsQCPCRDetails = {
            sUrl: "/PCR/MaintainPCR/LoadQCDataTable?IsDisplayAll=" + IsDisplayAll,
            iFCLeft: 0,
            iFCRight: iFCRight,
            aoColumns: aoColumns
        };
        //UtilityParamsQCPCRDetails.aServerParams = [{ "name": "IsDisplayAll", "value": IsDisplayAll }]
        UtilityParamsQCPCRDetails.iResponsiveOnWindowWidth = 800;
        UtilityParamsQCPCRDetails.bIsAllCheckbox = true;
        UtilityParamsQCPCRDetails.bIsResponsive = false;
        UtilityParamsQCPCRDetails.bIsSearchFilter = true;
        UtilityParamsQCPCRDetails.bBtnMaximize = true;
        UtilityParamsQCPCRDetails.bIsWrapHeader = false;
        UtilityParamsQCPCRDetails.bIsWrap = false;
        UtilityParamsQCPCRDetails.bIsLazyLoading = false;
        UtilityParamsQCPCRDetails.bIsIgnoreHiddenColumns = true;
        UtilityParamsQCPCRDetails.sBtnDivSelector = "#dvExportHeader";
        UtilityParamsQCPCRDetails.fnCreateRow = tblQCPCRDetails_CreateRow;
        UtilityParamsQCPCRDetails.fnServerDataCallback = tblQCPCRDetails_ServerDataCallback;
        UtilityParamsQCPCRDetails.oSRE = {
            sUrl: "/PCR/MaintainPCR/LoadMaterialPlannerPCREditableData",
            iRowIDAt: 0, bIsAddBtnNew: false,
            sCallback: 'CallAfterLoadSRE', sEditTriggerClass: 'mppcredit', bIsUpdateFromServer: true,
            sPrimaryColName: "Id"
        }
        tblQCPCRDetails.dtUtility(UtilityParamsQCPCRDetails);

    }

    function tblQCPCRDetails_CreateRow(row, data, dataIndex) {
        //if (parseInt(data.SequenceSrNo) > 1) {
        //    $(row).find(".group1").addClass("bordernone");
        //    $(row).addClass("childs");
        //}
        //else {
        //    $(row).find(".group1").addClass("bgcolor");
        //    $(row).find('td').css("border-top-color", 'lightgray');
        //    $(row).addClass("parents");
        //}
        //$(row).attr("data-groupid", data.PartGroupNo).attr("data-docno", data.SequenceSrNo).attr("data-pclid", data.PCLHeaderId).attr("data-lineid", data.LineId);
        ////$(row).attr("data-proj", data.Project).attr("data-mtr", data.ItemMaterialGrade).attr("data-pclid", data.PCLHeaderId)

        $(row).attr("data-id", data.PCLHeaderId).attr("data-lineid", data.PCLHeaderId)
    }

    function tblQCPCRDetails_ServerDataCallback() {
        $("#" + tblQCPCRDetailsTableName + "_wrapper").find('.childs').hide();
    }

    function ExpandCollapsChildQCPCR(img) {
        console.log("ExpandCollapsChildQCPCR Called");
        var groupid = $(img).attr("data-gid");
        var isexpand = $(img).attr("data-isexpand");
        console.log("groupid : " + groupid);
        console.log("isexpand : " + isexpand);
        if (isexpand == "true") {
            $("#" + tblQCPCRDetailsTableName + "_wrapper").find("[data-groupid=" + groupid + "]").not('.parents').hide();
            $("[data-gid=" + groupid + "]").attr("src", "/Images/details_open.png");
            $("[data-gid=" + groupid + "]").attr("data-isexpand", "false");
        }
        else {
            $("#" + tblQCPCRDetailsTableName + "_wrapper").find("[data-groupid=" + groupid + "]").not('.parents').show();
            $("[data-gid=" + groupid + "]").attr("src", "/Images/details_close.png");
            $("[data-gid=" + groupid + "]").attr("data-isexpand", "true");
        }
        $('#' + tblQCPCRDetailsTableName).DataTable().columns.adjust();
    }

    function GetElementSelectColumnQCPCR(data, iseditmode) {
        iseditmode = iseditmode != null && iseditmode != undefined ? iseditmode : false;
        if (iseditmode) {
            return ""
        }
        else {
            return "<label class=\"mt-checkbox mt-checkbox-outline\"><input type=\"checkbox\" onchange=\"QCBudgetLineSelection_Change(this)\" name=\"id[]\" class=\"clsCheckbox elementselect\" value=\"" + data.PCLHeaderId + "\" pclid=\"" + data.PCLHeaderId + "\" ><span></span></label>"
        }
    }
    function QCBudgetLineSelection_Change(chk) {
        $(".elementselect").not($(chk)).prop("checked", false);
        $(".selectedrow").removeClass("selectedrow");
        var lineid = $(chk).attr("lineid");
        var id = $(chk).attr("value");
        if ($(chk).is(":checked")) {
            if (parseInt(lineid) > 0) {
                $("[data-lineid=" + lineid + "]").addClass("selectedrow")
            }
            else {
                $("[data-id=" + id + "]").addClass("selectedrow")
            }
        }
        else {
            if (parseInt(lineid) > 0) {
                $("[data-lineid=" + lineid + "]").removeClass("selectedrow")
            }
            else {
                $("[data-id=" + id + "]").removeClass("selectedrow")
            }
        }
    }
    function GetActionColumnRenderQCPCR(data, iseditmode) {
        var buttons = "";
        iseditmode = iseditmode != null && iseditmode != undefined ? iseditmode : false;
        if (iseditmode) {

        }
        else {
            buttons += "<a id=\"PCRLines" + data.PCLHeaderId + "\" name=\"PCRLines" + data.PCLHeaderId + "\" title=\"View PCR Lines\" class=\"blue action\" onclick=\"ViewPCRLines(" + data.PCLHeaderId + ")\" ><i class=\"iconspace fa fa-eye\"></i></a>";
        }
        return buttons;
    }
    function DisplayAllRecords() {
        LoadQCPCRData(true);
    }

    function ViewPCRLines(PCLHeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PCR/MaintainPCR/_ViewPCRLines",
            datatype: 'html',
            data: { PCLHeaderId: PCLHeaderId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                bootbox.dialog({
                    title: "PCR Lines Details",
                    message: result,
                    size: "large",
                    buttons: {
                        cancel: {
                            label: "Close",
                            className: 'btn-danger',
                            callback: function () {
                            }
                        },
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
@if (ViewBag.QCIsValidUser)
{
    <script>
        function ApprovePCL() {
            if ($('.elementselect:checkbox:checked').length == 0) {
                DisplayNotiMessage("info", "Please Select Budget Line For Approve PCL.", "Information");
                return;
            }
            else {
                var BudgetIds = [];
                var param = {};
                $('.elementselect:checkbox:checked').each(function () {
                    BudgetIds.push($(this).attr("value"));
                    //param["Id"] = $(this).attr("value");
                    //param["LineId"] = $(this).attr("lineid");
                    param["HeaderId"] = $(this).attr("pclid");
                    return false;
                });

                var Ids = BudgetIds.join(",");
                bootbox.dialog({
                    title: "Approve PCL",
                    message: "Do you want to approve PCL?",
                    size: "medium",
                    buttons: {
                        Yes: {
                            Label: "Yes",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    url: WebsiteURL + "/PCR/MaintainPCR/ApprovePCLByQA",
                                    type: "POST",
                                    //data: { Ids: Ids },
                                    data: { param: param },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key == true) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            LoadQCPCRData();
                                        }
                                        else {
                                            if (data.IsInformation) {
                                                DisplayNotiMessage("info", data.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
        }

        function ReturnPCL() {
            if ($('.elementselect:checkbox:checked').length == 0) {
                DisplayNotiMessage("info", "Please Select Budget Line For Return PCL.", "Information");
                return;
            }
            else {
                var BudgetIds = [];
                var param = {};
                $('.elementselect:checkbox:checked').each(function () {
                    BudgetIds.push($(this).attr("value"));
                    //param["Id"] = $(this).attr("value");
                    //param["LineId"] = $(this).attr("lineid");
                    param["HeaderId"] = $(this).attr("pclid");
                    return false;
                });
                var Ids = BudgetIds.join(",");

                var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                            + "$('input[maxlength],textarea[maxlength]').maxlength({alwaysShow: true,});"
                            + "$('#frmHeaderReturn').validate({"
                            + " rules: {"
                            + "txtReturnRemark: {"
                            + "required: true,"
                            + "},"
                            + "messages: {"
                            + "txtReturnRemark: {"
                            + "required: 'Return Remark is required'"
                            + "}"
                            + "}"
                             + "}"
                            + "});"
                            + "});</scr" + "ipt>"
                            + " <div>"
                            + "<form method='post' id='frmHeaderReturn' class='form-horizontal' action=''>"
                            + "<div class='form-group'>"
                            + "     <div class='col-md-12'>"
                            + "         <br /><label class='control-label'><b>Return Remark</b><span class='required'> * </span></label>"
                            + "         <div class=''>"
                            + "             <textarea type='text' value='' style='width:100%' name='txtReturnRemark' id='txtReturnRemark' maxlength='50' rows='3' class='form-control col-md-3'></textarea>"
                            + "         </div>"
                            + "     </div>"
                            + "     <div class='col-md-12'>"
                            + "         <br /><label class='control-label'><b>Required</b></label>"
                            + "         <div class=''>"
                            + "             <input type='text' value='' style='width:100%' name='txtRequire' id='txtRequire' maxlength='50' class='form-control col-md-3'/>"
                            + "         </div>"
                            + "     </div>"
                            + "     <div class='col-md-12'>"
                            + "         <br /><label class='control-label'><b>Actual</b></label>"
                            + "         <div class=''>"
                            + "             <input type='text' value='' style='width:100%' name='txtActual' id='txtActual' maxlength='50' class='form-control col-md-3'/>"
                            + "         </div>"
                            + "     </div>"
                            + "</div>"
                            + "</div>"
                            + "</form>"
                            + "</div>";

                bootbox.confirm({
                    title: 'Return PCL',
                    message: 'Do you want to return PCL?' + strHtml,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            if ($('#frmHeaderReturn').valid()) {
                                var Remarks = $('#txtReturnRemark').val();
                                var Require = $('#txtRequire').val();
                                var Actual = $('#txtActual').val();

                                $.ajax({
                                    url: WebsiteURL + "/PCR/MaintainPCR/ReturnPCL",
                                    type: "POST",
                                    //data: { Ids: Ids, Remarks: Remarks, Required: Required, Actual: Actual },
                                    data: { param: param, Remarks: Remarks, Require: Require, Actual: Actual },
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (data.Key == true) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            LoadQCPCRData();
                                        }
                                        else {
                                            if (data.IsInformation) {
                                                DisplayNotiMessage("info", data.Value, "Information");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    }
                                });

                            }
                            else {
                                return false;
                            }
                        }
                    }
                });

            }
        }
    </script>
}