﻿<table id="tblPCRLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
    <thead>
        <tr>
            <th class="all">Find No</th>
            <th class="all">Item</th>
            <th class="all">Sequence</th>
            <th class="all">Item Type</th>
            <th class="all">PCR Initiator</th>
            <th class="all">PCR No</th>
            <th class="all">PCR Line</th>
            <th class="all">PCR Line Status</th>
            <th class="all">Length-Mod</th>
            <th class="all">Width-Mod</th>
            <th class="all">Requirment Date</th>
            <th class="all">Nested Qty</th>
            <th class="all">Area Consume</th>
            <th class="all">W/C Deliver</th>
            <th class="all">Alt Stock</th>
            <th class="all">Stock Number</th>
            <th class="all hide">Stock Revision</th>
            <th class="all">Alt Stock Remarks</th>
            <th class="all">Shape Type</th>
            <th class="all">Shape File</th>
            <th class="all">Move Type</th>
            <th class="all">Grain Orientation</th>
            <th class="all">Material Planner Remark</th>
            <th class="all">Material Grade</th>
            <th class="all">ARM Code</th>
            <th class="all">No. of Pieces</th>
            <th class="all">PCR Type</th>
            <th class="all">Thk</th>
            <th class="all">Req. Qty</th>
            <th class="all">PCR Rev</th>
            <th class="all">PCL No</th>
            <th class="all">Scrap m2</th>
            <th class="all">Return Balance Qty</th>
            <th class="all">Return Area</th>
            <th class="all">Tot Cutting length</th>
            <th class="all">Planner</th>
            <th class="all">Remark</th>
            <th class="all">Loc</th>
            <th class="all">Sub Loc</th>
            <th class="all">Cut Loc</th>
            <th class="all">Machine</th>
            <th class="all">Week</th>
            <th class="all">Priority</th>
            <th class="all">Duration</th>
            <th class="all">St Dt.</th>
            <th class="all">End Dt.</th>
            <th class="all">Planner Remarks</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    var tblPCRLinesTableName = "tblPCRLines";
    var tblPCRLines = $('#' + tblPCRLinesTableName);
    var UPPCRLines = null;
    var iPCLHeaderId = '@ViewBag.PCLHeaderId';

    var iFCRight = 0;
    var aoColumns = [                    
                    {
                        "data": "PartNumber",
                        "sClass": "center group1",
                        "name": "PartNumber",
                        "ColName": "p4.PartNumber"
                    },
                    {
                        "data": "ChildItem",
                        "sClass": "center childitem",
                        "name": "ChildItem",
                        "ColName": "p4.ChildItem"
                    },
                    {
                        "data": "Sequence",
                        "sClass": "center",
                        "name": "Sequence",
                        "ColName": "p4.Sequence"
                    },
                    {
                        "data": "ItemType",
                        "sClass": "center",
                        "name": "ItemType",
                        "ColName": "p4.ItemType"
                    },
                    {
                        "data": "PCRCreatedBy",
                        "sClass": "center",
                        "name": "PCRCreatedBy",
                        "ColName": "PCRCreatedByName"
                    },
                    {
                        "data": "PCRNumber",
                        "sClass": "center",
                        "name": "PCRNumber",
                        "ColName": "ISNULL(p4.PCRNumber,'')"
                    },
                    {
                        "data": "PCRLineNo",
                        "sClass": "center",
                        "name": "PCRLineNo",
                        "ColName": "p4.PCRLineNo"
                    },
                    {
                        "data": "PCRLineStatus",
                        "sClass": "center pcllinestatus",
                        "name": "PCRLineStatus",
                        "ColName": "ISNULL(p3.PCRLineStatus,'')"
                    },
                    {
                        "data": "Length",
                        "sClass": "center length",
                        "name": "Length",
                        "ColName": "p3.[Length]"
                    },
                    {
                        "data": "Width",
                        "sClass": "center width",
                        "name": "Width",
                        "ColName": "p3.Width"
                    },
                    {
                        "data": "PCRRequirementDate",
                        "sClass": "center controlrequired",
                        "name": "PCRRequirementDate",
                        "ColName": "ISNULL(p3.PCRRequirementDate,p4.PCRRequirementDate)"
                    },
                    {
                        "data": "NestedQuantity",
                        "sClass": "center controlrequired",
                        "name": "NestedQuantity",
                        "ColName": "p3.NestedQuantity"
                    },
                    {
                        "data": "AreaConsumed",
                        "sClass": "center",
                        "name": "AreaConsumed",
                        "ColName": "p3.AreaConsumed"
                    },
                    {
                        "data": "WCDeliver",
                        "sClass": "center  controlrequired",
                        "name": "WCDeliver",
                        "ColName": "WCDeliverName"
                    },
                    {
                        "data": "UseAlternateStock",
                        "sClass": "center",
                        "name": "UseAlternateStock",
                        "ColName": "UseAlternateStock"
                    },                    
                    {
                        "data": "StockNumber",
                        "sClass": "center controlrequired",
                        "name": "StockNumber",
                        "ColName": "ISNULL(p3.StockNumber,'')"
                    },
                    {
                        "data": "StockRevision",
                        "sClass": "center stockrevision hide",
                        "name": "StockRevision",
                        "ColName": "p3.StockRevision"
                    },
                    {
                        "data": "AlternateStockRemark",
                        "sClass": "center",
                        "name": "AlternateStockRemark",
                        "ColName": "p3.AlternateStockRemark"
                    },
                    {
                        "data": "ShapeType",
                        "sClass": "center",
                        "name": "ShapeType",
                        "ColName": "p3.ShapeType"
                    },
                    {
                        "data": "ShapeFile",
                        "sClass": "center",
                        "name": "ShapeFile",
                        "ColName": "p3.ShapeFile"
                    },
                    {
                        "data": "MovementType",
                        "sClass": "center controlrequired",
                        "name": "MovementType",
                        "ColName": "MovementTypeName"
                    },
                    {
                        "data": "GrainOrientation",
                        "sClass": "center",
                        "name": "GrainOrientation",
                        "ColName": "p3.GrainOrientation"
                    },
                    {
                        "data": "MaterialPlannerRemark",
                        "sClass": "center",
                        "name": "MaterialPlannerRemark",
                        "ColName": "p3.MaterialPlannerRemark"
                    },
                    {
                        "data": "ItemMaterialGradeName",
                        "sClass": "center materialgrade",
                        "name": "ItemMaterialGradeName",
                        "ColName": "ItemMaterialGradeName"
                    },
                    {
                        "data": "ARMCode",
                        "sClass": "center w200",
                    },
                    {
                        "data": "NoofPieces",
                        "sClass": "center",
                        "name": "NoofPieces",
                        "ColName": "p3.NoofPieces"
                    },
                    {
                        "data": "PCRTypeName",
                        "sClass": "center",
                        "name": "PCRTypeName",
                        "ColName": "PCRTypeName"
                    },
                    {
                        "data": "Thickness",
                        "sClass": "center",
                        "name": "Thickness",
                        "ColName": "p3.Thickness"
                    },
                    {
                        "data": "RequiredQuantity",
                        "sClass": "center requiredquantity",
                        "name": "RequiredQuantity",
                        "ColName": "p4.RequiredQuantity"
                    },
                    //{
                    //    "data": "PCRSequenceNo",
                    //    "sClass": "center",
                    //    "name": "PCRSequenceNo",
                    //    "ColName": "p4.Sequence"
                    //},
                    {
                        "data": "PCRLineRevNo",
                        "sClass": "center",
                        "name": "PCRLineRevNo",
                        "ColName": "p3.PCRLineRevNo"
                    },
                    {
                        "data": "PCLNumber",
                        "sClass": "center pclnumber",
                        "name": "PCLNumber",
                        "ColName": "ISNULL(p3.PCLNumber,'')"
                    },
                    {
                        "data": "ScrapQuantityInm2",
                        "sClass": "center",
                        "name": "ScrapQuantityInm2",
                        "ColName": "ScrapQuantityInm2"
                    },
                    {
                        "data": "ReturnBalanceInPcs",
                        "sClass": "center returnbalanceinpcs",
                        "name": "ReturnBalanceInPcs",
                        "ColName": "p6.ReturnBalanceInPcs"
                    },
                    {
                        "data": "ReturnAreaInm2",
                        "sClass": "center",
                        "name": "ReturnAreaInm2",
                        "ColName": "p6.ReturnAreaInm2"
                    },
                    {
                        "data": "TotalCuttingLength",
                        "sClass": "center controlrequired totalcutlength",
                        "name": "TotalCuttingLength",
                        "ColName": "p6.TotalCuttingLength"
                    },
                    {
                        "data": "Planner",
                        "sClass": "center controlrequired",
                        "name": "Planner",
                        "ColName": "PlannerName"
                    },
                    {
                        "data": "Remark",
                        "sClass": "center",
                        "name": "Remark",
                        "ColName": "p6.Remark"
                    },
                    {
                        "data": "LocationName",
                        "sClass": "center location",
                        "name": "LocationName",
                        "ColName": "LocationName"
                    },
                    {
                        "data": "SubLocation",
                        "sClass": "center",
                        "name": "SubLocation",
                        "ColName": "p4.SubLocation"
                    },
                    {
                        "data": "WarehouseCuttingLocation",
                        "sClass": "center",
                        "name": "WarehouseCuttingLocation",
                        "ColName": "p3.WarehouseCuttingLocation"
                    },
                    {
                        "data": "Machine",
                        "sClass": "center",
                    },
                    {
                        "data": "Week",
                        "sClass": "center",
                    },
                    {
                        "data": "Priority",
                        "sClass": "center",
                        "name": "Priority",
                        "ColName": "Priority"
                    },
                    {
                        "data": "Duration",
                        "sClass": "center",
                    },
                    {
                        "data": "StartDate",
                        "sClass": "center",
                    },
                    {
                        "data": "EndDate",
                        "sClass": "center",
                    },
                    {
                        "data": "PCRPlannerRemark",
                        "sClass": "center",
                        "name": "PCRPlannerRemark",
                        "ColName": "p3.PCRPlannerRemark"
                    },
    ]

    UPPCRLines = {
        sUrl: "/PCR/MaintainPCR/LoadMaterialPlannerPCRDataTable?PCLHeaderId=" + iPCLHeaderId,
        iFCLeft: 0,
        iFCRight: iFCRight,
        aoColumns: aoColumns
    };
    UPPCRLines.iResponsiveOnWindowWidth = 800;
    UPPCRLines.bIsAllCheckbox = true;
    UPPCRLines.bIsResponsive = false;
    UPPCRLines.bIsSearchFilter = true;
    UPPCRLines.bBtnMaximize = true;
    UPPCRLines.bIsWrapHeader = false;
    UPPCRLines.bIsWrap = false;
    UPPCRLines.bIsLazyLoading = false;
    UPPCRLines.bIsIgnoreHiddenColumns = true;
    UPPCRLines.sBtnDivSelector = "#dvExportHeader";    
    tblPCRLines.dtUtility(UPPCRLines);
</script>