﻿@model IEMQSImplementation.PLN003_Log
@using IEMQSImplementation
@{
    string FileUpload1ID = "fuupload1";
}
<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));
        
        if ('@ViewBag.Isshopuser'.toLowerCase() == "true") {
            $("#checklist").hide();
        }
        else
        {
            $("#checklist").show();
        }
        $('#txtRevNo').val("R"+@Model.RevNo);
        if ('@ViewBag.Project' != '' && '@ViewBag.Project' != 'null' && '@ViewBag.Project' != null && '@ViewBag.Project' != undefined) {
            $("#txtProject").val('@ViewBag.Project');
            $("#txtProject").attr('readonly','readonly');
        }
        if ('@ViewBag.ApproverName' != '' && '@ViewBag.ApproverName' != 'null' && '@ViewBag.ApproverName' != null && '@ViewBag.ApproverName' != undefined) {
            $("#txtApprovedBy").val('@ViewBag.ApproverName');
        }
        if ('@ViewBag.customerName' != '' && '@ViewBag.customerName' != 'null' && '@ViewBag.customerName' != null && '@ViewBag.customerName' != undefined) {
            $("#txtCustomer").val('@ViewBag.customerName');
        }
        LoadFileUpload1();
    });

    function LoadFileUpload1() {
        var showAttachmentbtn = false;

        @*var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ID)', '@FileUpload1ID');
        objFileUpload1.ShowDeleteAction = showAttachmentbtn;
        objFileUpload1.ShowAttachmentBtn = showAttachmentbtn;
        if('@Model.HeaderId'>0){
            objFileUpload1.FolderPath="PLN003/" + '@Model.HeaderId' + "/" + '@Model.RevNo';
            objFileUpload1.ShowUploadBtn=true;
        }
        else{
            objFileUpload1.FolderPath="";
            objFileUpload1.ShowUploadBtn=false;
        }

        LoadFileUploadPartialView(objFileUpload1);*@

        var objFile = {
            TableName: 'PLN003//' + '@Model.HeaderId' + '//' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'PLN003//' + '@Model.HeaderId' + '//' + '@Model.RevNo'+'//1',
            ControlID: '@(FileUpload1ID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: showAttachmentbtn,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: showAttachmentbtn
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ID)', false);
    }

</script>
<style>
    .clsBootBoxWidth {
        width: 70% !important;
        margin: 30px auto !important;
    }
    .alignlft {
        text-align: left !important;
    }
</style>

<div class="form-body">
    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
            <span class="page-title">Reference Sketch</span>
        </div>
        @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
                <div class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            }
        }
    </div>
    <div id="dvHeader">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
            @Html.HiddenFor(m => m.Status)
            <input type="hidden" id="hdHeaderId" name="hdHeaderId" value="" />
            <input type="hidden" id="hdLineId" name="hdLineId" value="" />
            <div class="form-group">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Reference Sketch Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Document</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">CDD</label>
                                    <div class="">
                                        @if (Model.CDD.HasValue)
                                        {
                                            @Html.TextBox("CDD", Model.CDD.Value.ToShortDateString(), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.TextBox("CDD", "", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        }
                                        @*@Html.TextBoxFor(m => m.CDD, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @*<div class="col-md-3">
                                        <label class="control-label">Rev. No.</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>*@
                                <div class="col-md-3">
                                    <label class="control-label">
                                        Rev. No.
                                    </label>
                                    <div class="row">
                                        <div class="col-sm-2"><button type="button" id="RevPrev" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevPrev == null)? "" : "window.location='"+ViewBag.RevPrev+"'")" @((ViewBag.RevPrev == null) ? "disabled" : "")><span class="fa fa-chevron-left"></span></button></div>
                                        <div class="col-sm-8">
                                            @*@Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                            <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                            @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                        </div>
                                        <div class="col-sm-2"><button type="button" id="RevNext" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevNext == null)? "" : "window.location='"+ViewBag.RevNext+"'")" @((ViewBag.RevNext == null) ? "disabled" : "")><span class="fa fa-chevron-right"></span></button></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Plan</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Process Licensor<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Product<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Approver<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Return Remark</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div id="divPDNIdenticalproject"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    @*@{ Html.RenderPartial("_AttachmentPartial"); }*@
                                    <div id="dv@(FileUpload1ID)"></div>
                                </div>
                            </div>
                        </div>                       
                    </fieldset>
                </div>
            </div>
                                        }
    </div>
    <div class="row" >
        <div class="col-md-12" id="checklist">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Plan Checklist
                    </div>
                    <div class="tools" id="dvExportHeader">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/MaintainReferenceSketch/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportHeader" })
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPlanChecklist" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="all" style="width:1px !important">#</th>
                                <th class="min-phone-l" style="width:60px !important">Related To</th>
                                <th class="min-phone-l">Check point</th>
                                <th class="min-phone-l" style="width:60px!important">Y/N</th>
                                <th class="min-phone-l">Remarks</th>
                                <th class="none">Created By</th>
                                <th class="none">Created On</th>
                                <th class="none">Edited By</th>
                                <th class="none">Edited On</th>
                                <th class="" style="display:none;">Line Id</th>
                                <th class="" style="display:none;">Header Id</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="text-align:right;">
            <input type="button" class="btn btnclose" id="btncancel" value="Close" style="margin-right:5px;" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblPlanChecklist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLN/MaintainReferenceSketch/LoadCheckListHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": '@Model.Id' }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter",
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter alignlft"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "clsCenter"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "sClass": "hide"
                },
                 {
                     "sClass": "hide"

                 },
            ]
        });

        $("#btncancel").click(function () {
            window.location.href = ''+ WebsiteURL + '/PLN/MaintainReferenceSketch/Index';
        });
    });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>