﻿@model IEMQS.Areas.ICC.Models.ICC003ViewModel
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Reports
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <fieldset>
                        <legend>Item Code</legend>
                        <div class="row">
                            <div class="col-md-2">
                                <select id="location" name="location" class="form-control">
                                    <option value="">Select Location</option>
                                    <option value="HWZ">Hazira</option>
                                    <option value="PEW">Powai</option>
                                    <option value="RNW">Ranoli</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.ItemCode, new { @class = "form-control", @placeholder = "Item Code" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.MaterialCategory, new { @class = "form-control", @placeholder = "Material Category" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.MaterialGroup, new { @class = "form-control", @placeholder = "Material Group" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.DistinctItem, new { @class = "form-control", @placeholder = "Distinct Item" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.NatureOfItem, new { @class = "form-control", @placeholder = "Nature Of Item" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.ItemType, new { @class = "form-control", @placeholder = "Item Type" })
                            </div>
                            <div class="col-md-2">
                                @Html.TextBoxFor(x => x.ItemSubType, new { @class = "form-control", @placeholder = "Item Sub Type" })
                            </div>
                            <div class="col-md-2">
                                <button id="generateReport" name="generateReport" class="btn btn-primary">Generate</button>
                            </div>
                        </div>
                        <br />
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#generateReport").click(function () {
            if ($("#location option:selected").val() != '') {
                var data = [];
                debugger
                data.push({ Param: "location", Value: $("#location option:selected").val() });
                data.push({ Param: "itemCode", Value: ($("#ItemCode").val() != "" ? $("#ItemCode").val() : null) });
                data.push({ Param: "materialCategory", Value: ($("#MaterialCategory").val() != "" ? $("#MaterialCategory").val() : null) });
                data.push({ Param: "materialGroup", Value: ($("#MaterialGroup").val() != "" ? $("#MaterialGroup").val() : null) });
                data.push({ Param: "distinctItem", Value: ($("#DistinctItem").val() != "" ? $("#DistinctItem").val() : null) });
                data.push({ Param: "natureOfItem", Value: ($("#NatureOfItem").val() != "" ? $("#NatureOfItem").val() : null) });
                data.push({ Param: "itemType", Value: ($("#ItemType").val() != "" ? $("#ItemType").val() : null) });
                data.push({ Param: "itemSubType", Value: ($("#ItemSubType").val() != "" ? $("#ItemSubType").val() : null) });
                ShowReport(data, "/ICC/GetItemCodeReport");
            } else {
                DisplayNotiMessage("warning", "Location is required!!!", "Warning");
            }
        });
    });
</script>
