﻿@using IEMQSImplementation
@model IEMQSImplementation.NDE010_Log

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @Model.UTTechNo
        </div>
        <div class="tools" id="dvExportHistoryHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainScanUTTech/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHistoryHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblUT" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-phone-l">Quality Project</th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">UT Tech No</th>
                    <th class="min-phone-l">Document No</th>
                    <th class="min-phone-l">Rev No.</th>
                    <th class="none">Created By</th>
                    <th class="none">Created On</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">UT Procedure No</th>
                    <th class="none">ApproverRemarks</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    <div class="hidden">
        @Html.HiddenFor(model => model.HeaderId, new { @id = "txtHistoryID" })
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblUT');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainScanUTTech/LoadScanUTHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": $("#txtHistoryID").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHistoryHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHistoryHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "QualityProject"
                },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "Project"
                    },

                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "BU"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "Location"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "TechniqueSheetNo"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "UTTechNo"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "RevNo"
                    },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "CreatedBy"
                 },
                   {
                       "bSortable": true,
                       "sClass": "center",
                       "name": "CreatedOn"
                   },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "Status"
                    },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "UTProcedureNo"
                 },
                    {
                        "bSortable": false,
                        "sClass": "center",
                    },
                    {
                        "bSortable": false,
                        //"render": function (data, type, row, meta) {
                        //    var buttons = "";
                        //    buttons = '<center style="white-space: nowrap;" class="clsDisplayInlineEle"><a title="View" href="/NDE/MaintainScanUTTech/ViewLogDetails?Id=' + row[11] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                        //    return buttons;
                        //}
                    },
            ]
        });

    });

</script>
