﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @*@{
                    string strTechniqueTitle = ViewBag.Status + " Technique";
                }
                @strTechniqueTitle*@
            A Scan UT Technique List
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NDE/MaintainScanUTTech/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-phone-l">Quality Project</th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">BU</th>
                    <th class="min-phone-l">Location</th>
                    <th class="min-phone-l">UT Tech No</th>
                    <th class="min-phone-l">Document No</th>
                    <th class="min-phone-l">Rev No.</th>
                    <th class="none">Created By</th>
                    <th class="none">Created On</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">UT Procedure No</th>
                    <th class="none">Return Remarks</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [

            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NDE/MaintainScanUTTech/LoadScanUTHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "QualityProject"
                },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "Project",
                        "ColName": "nde10.Project+'-'+com1.t_dsca"
                    },

                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "BU",
                        "ColName": "nde10.BU+'-'+bcom2.t_desc"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "Location",
                        "ColName": "nde10.Location+'-'+ lcom2.t_desc"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "TechniqueSheetNo"
                    },
                    {
                        "bSortable": true,
                        "sClass": "center",
                        "name": "UTTechNo"
                    },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "RevNo",
                    "attr":"numeric"
                },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "CreatedBy",
                     "attr":"hide"
                 },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "CreatedOn",
                     "attr": "hide"

                 },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "Status"
                 },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "UTProcedureNo",
                     "attr": "hide"
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",
                     "attr": "hide"
                 },
                 {
                     "bSortable": false,
                     "sWidth": "10%",
                     @*"render": function (data, type, row, meta) {
                         var buttons = "";
                         buttons = "<center style='white-space: nowrap;cursor:pointer;margin-left:5px;' class='clsDisplayInlineEle'><a title='View' href='/NDE/MaintainScanUTTech/AddHeader?HeaderID=" + row[11] + "'><i style='margin-left:5px;' class='fa fa-eye'></i></a>";
                         if (row[8] == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Draft.ToString()' && row[5] == "R" + 0) {
                             buttons += '<i id="btnDelete" name="btnAction" style="cursor:pointer;margin-left:5px;" Title="Delete Record" class="fa fa-trash-o" onclick="DeleteHeader(' + row[11] + ')"></i>';
                         }
                         else {
                             buttons += '<i id="btnDelete" name="btnAction" style="cursor:pointer;opacity:0.5;margin-left:5px;" Title="Delete Record" class="fa fa-trash-o " ></i>';
                         }
                         buttons += '</center>';
                         return buttons;
                     }*@
                 },
            ]
        });
        table.dtSearchFilter();
    });
    function DeleteHeader(ID) {
        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: WebsiteURL + '/NDE/MaintainScanUTTech/DeleteHeader',
                                data: { headerID: ID },
                                type: 'POST',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblHeader').DataTable().ajax.reload();
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }

                                }
                            });
                        }
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            
        });
    }

    function History(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainScanUTTech/GetScantUTHistoryDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'History',
                    message: result,
                    size: 'large',
                }).find("div.modal-dialog").addClass("clsBootBoxWidth");
            },
            error: function () {
            }
        });
    }

</script>