﻿
@{
    ViewBag.Title = "Add Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        GetScanUTHeaderFormHTML(parseInt('@ViewBag.HeaderID'));
        $('input[readonly="readonly"]').each(function () {
            $(this).attr('tabindex', '-1');
        });
    });
    function GetScanUTHeaderFormHTML(HeaderID) {
        $("#divScanUTHeader").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NDE/MaintainScanUTTech/LoadScanUTFormPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderID: HeaderID },
            success: function (result) {
                $("#divScanUTHeader").html(result);
            },
            error: function () {
            }
        });
    }
</script>
<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body" id="divScanUTHeader">

        </div>
    </div>
</div>

