﻿@using IEMQSImplementation
@{ string FileUploadLineID = "fuline";}
<style>
    .hasattachment {
        color: #32CD32;
    }

    .wrapColumn {
        white-space: pre-wrap !important;
        text-align: justify;
    }

    .select2-container {
        width: 100% !important;
    }

    .mt-checkbox > span, .mt-radio > span {
      background: #fff !important;
    }
</style>
<script>

    $(document).ready(function () {
        var table = $('#tblNCRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NCR/MaintainNCR/loadHeaderDataTable?status=" + '@(ViewBag.status)' + "&stage=" + '@(ViewBag.stage)' + "&Project=" + $("#hdnchkProject").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "IsVisible", "value": $('#RefToCustomer').val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[9] != null || aData[9] != "") {
                    $(nRow).find("td.clsProject").attr('title', 'Description :' + aData[9]);
                }
                if (aData[10] == "@clsImplementationEnum.RCAStatus.SubmittoInitiator.GetStringValue()" || aData[10] == "@clsImplementationEnum.RCAStatus.SubmittoRP.GetStringValue()") {
                    $(nRow).find("td.clsStatus").attr('title', 'RCA Status :' + aData[10] + (aData[11] !=null && aData[11] != "" &&  aData[11] != undefined ? " \n RCA Number :" + aData[11] : ""));
                }
            },
            "columns": [
                {
                    "sWidth": "5%",
                    "sClass": "center  clsProject",
                    "name": "NCRNo",
                    "bSortable": true, //row0
                },
                {
                    "sWidth": "5%",
                    "sClass": "center ",
                    "name": "OldNCRNumber",
                    "bSortable": true, //row0
                },

                {
                    "render": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        var Prefix = "";
                        var project = "";
                        var t_dsca = "";
                        if (nRow != null && nRow != "") {
                            project = nRow.split("-");
                            t_dsca = nRow.substring(nRow.indexOf('-') + 1)
                        }
                        Prefix = '<label title="' + t_dsca + '">' + project[0] + '</label>';
                        return Prefix;
                    },
                    "sWidth": "8%",
                    "sClass": "center",
                    "name": "Project",
                    "attr": "fromtoRange",
                    "bSortable": true,//row3
                    //"ColName": "ncr1.Project+'-'+com1.t_dsca"
                    "sMinWidth": ""
                }, 
                {
                    "sClass": "hide",//row2
                    "attr": "hide"
                },
                {
                    "render": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        var Prefix = "";
                        var shortDescription = "";
                        var withdotshortDescription = "";
                        if (nRow != null && nRow != "") {
                            shortDescription = String(nRow).substring(0, 250);
                            if (nRow.length > 250) {
                                withdotshortDescription = shortDescription + "...";
                            }
                            else {
                                withdotshortDescription = shortDescription;
                            }
                        }

                        Prefix = '<label title="' + nRow + '" class="wrapColumn">' + withdotshortDescription + '</label>';
                        return Prefix;

                    },
                    "swidth": "10%",
                    "sclass": "center  clsproject",
                    "name": "description",
                    "bsortable": true, //row1
                },
                {
                    "sWidth": "5%",
                    "sClass": "center",
                    "name": "BU",
                    "bSortable": true,//row4
                    "ColName": "ncr1.BU+'-'+bcom2.t_desc"
                },
                {
                    "sWidth": "5%",
                    "sClass": "center",
                    "name": "NCRLocation",
                    "bSortable": true,//row5
                    "ColName": "glb2.Description"
                },
                {
                    "sWidth": "5%",
                    "sClass": "center wrapColumn clsStatus",
                    "name": "Status",
                    "bSortable": true,//row6
                },

                {
                    "render": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        var Prefix = "";
                        var t_psno = "";
                        var t_name = "";
                        if (nRow != null && nRow != "") {
                            t_psno = nRow.split("-");
                            t_name = nRow.substring(nRow.indexOf('-') + 1)
                        }
                        Prefix = '<label title="' + t_name + '">' + t_psno[0] + '</label>';
                        return Prefix;
                    },

                    "sWidth": "10%",
                    "sClass": "center wrapColumn",
                    "name": "CreatedBy",
                    "bSortable": true,//row7
                    "attr": "Select2",
                    //"ColName": "ecom3.t_psno+'-'+ecom3.t_name",
                    "sDataURL": "/Utility/General/GetActiveEmployeforFilter",
                    "sDataparamlist": "",
                    "sMinWidth": ""
                },
                //{
                //    "sClass": "center",
                //    "name": "QCEngineer",
                //    "bSortable": true,
                //},
                //{
                //    "sClass": "center",
                //    "name": "RespDept",
                //    "bSortable": true,
                //},
                //{
                //    "sClass": "center",
                //    "name": "RespDeptMgr",
                //    "bSortable": true,
                //},
                  {
                      "sClass": "hide",
                      "name": "Description",
                      //"bSortable": true,
                  },
                    {
                        "sClass": "hide",
                        "name": "RCAStatus",
                        //"bSortable": true,
                    },
                      {
                          "sClass": "hide",
                          "name": "RCANumber",
                          //"bSortable": true,
                      },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    //"render": function (data, type, row, meta) {
                    //    var buttons = "";
                    //    var row7 = ''
                    //    if (row[7] != null) {
                    //        row7 = row[7].toLowerCase();
                    //    }
                    //    buttons += '<a href="' + WebsiteURL+'/NCR/MaintainNCR/' + ((row7 == 'true') ? "ViewHeader" : "AddHeader") + '?headerID=' + row[1] + '" title="View" style="cursor:pointer;" name="btnAction" id="btnEdit"><i class="iconspace fa fa-eye"></i></a>'+" ";
                    //    buttons += "<i class='iconspace fa fa-clock-o' href='javascript:void(0)' title='Show Timeline' onclick=ShowTimeline('/NCR/MaintainNCR/ShowTimeline?HeaderID=" + parseInt(row[1]) + "');></i>" + " ";
                    //    buttons += "<i class='iconspace fa fa-history' href='javascript:void(0)' title='History Details' onclick=ViewHistoryData(" + parseInt(row[1]) + ");></i>" + " "
                    //    buttons += "<a class='iconspace fa fa-files-o'  title='Copy Details' href='" + WebsiteURL + "/NCR/MaintainNCR/CopyHeader?headerId=" + parseInt(row[1]) + "';></a>" + " "
                    //    buttons += "<i class='iconspace fa fa-print' title='Print' onclick=PrintReport(" + parseInt(row[1]) + ");></i>" + " "
                    //    buttons += "<i class='fa fa-users' href='javascript:void(0)'  title='Responsible person' onclick=Responsibleperson(" + parseInt(row[1]) + ");></i>"
                    //    return buttons;
                    //}
                },

            ]
        });
        table.dtSearchFilter();
        $("#RefToCustomer").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
            $('#tblNCRHeader').DataTable().ajax.reload();
        });
    });
    function Responsibleperson(HeaderId) {
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/GetReposiblePersonsHtml",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: {
                HeaderId: HeaderId,
            },
            success: function (resultHtml) {
                bootbox.dialog({
                    title: "Resposible Person",
                    size: 'large',
                    message: resultHtml,
                    buttons: {
                        cancel: {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    },
                });
            }
        });
    }

    function PrintReport(headerid) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NCR/MaintainNCR/GetReportFormate",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {},
            success: function (result) {
                bootbox.dialog({
                    title: 'NCR Report Format ',
                    message: result,
                    buttons: {
                        'confirm': {
                            label: 'Print',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmReportFormat").valid()) {
                                    var selectedReportFormat = $("#ReportFormat").val();
                                    if (selectedReportFormat.toLowerCase() == '@clsImplementationEnum.NCRReportFormat.Hazira.GetStringValue().ToLower()') {
                                        var url = "/NCR/NCR";
                                        var dat = [];
                                        dat.push({ Param: "HeaderId", Value: headerid });
                                        ShowReport(dat, url);
                                    }
                                    else if (selectedReportFormat.toLowerCase() == '@clsImplementationEnum.NCRReportFormat.Powai.GetStringValue().ToLower()') {
                                        var url = "/NCR/NCRPowaiFormatReport";
                                        var dat = [];
                                        dat.push({ Param: "HeaderId", Value: headerid });
                                        ShowReport(dat, url, true);
                                    }
                                    else if (selectedReportFormat.toLowerCase() == '@clsImplementationEnum.NCRReportFormat.Ranoli.GetStringValue().ToLower()') {
                                        var url = "/NCR/NCRRanoliFormatReport";
                                        var dat = [];
                                        dat.push({ Param: "HeaderId", Value: headerid });
                                        ShowReport(dat, url, true);
                                    }
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn btnclose'
                        }
                    }

                });
            },
            error: function () {
            }
        });
        //bootbox.dialog({
        //    title: 'NCR Report',
        //    message: "Do You Want To Print Report?",
        //    buttons: {
        //        'confirm': {
        //            label: 'Print',
        //            className: 'btn green',
        //            callback: function () {
        //                var url = "";
        //                url = "/NCR/NCR";
        //                var dat = [];
        //                dat.push({ Param: "HeaderId", Value: headerid });
        //                ShowReport(dat, url);
        //            }
        //        },
        //        'cancel': {
        //            label: 'Close',
        //            className: 'btn red'
        //        }
        //    }
        //});
    }
    function ViewHistoryData(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NCR/MaintainNCR/GetHistoryView",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'NCR History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn-danger'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function showAttachments(ctrl, headerid, view) {
        if ($(ctrl).hasClass("hasattachment")) {
            var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
            objFileUploadLine.ShowDeleteAction = false;
            objFileUploadLine.ShowAttachmentBtn = false;// $("#Status").val() != '@clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue()' && !IsDisplayOnly;
            objFileUploadLine.FolderPath = "NCR001/" + headerid;
            objFileUploadLine.LoadInPopup = true;
            objFileUploadLine.IsMultipleUploaded = false;
            objFileUploadLine.HideAttachbtnForSignleUpload = true;
            LoadFileUploadPartialView(objFileUploadLine);
        }
        else {
            DisplayNotiMessage("info", "No attachment found!!", "Info");
        }
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    NCR List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NCR/MaintainNCR/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
                <div class="tools">
                    <div class="">
                        <label class="mt-checkbox mt-checkbox-outline" for="RefToCustomer" style="margin-top: 5px!important">
                            @Html.CheckBox("RefToCustomer", true)
                            <span></span>
                        </label>
                    </div>
                    @*  <input type="checkbox" id="RefToCustomer" checked value="true" title="Reference To Customer" name="RefToCustomer" style="margin-right: 20px;margin-top: 8px;" />*@
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblNCRHeader" class="table table-striped table-bordered table-hover dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">NCR No.</th>
                            <th class="all">Old <br />NCR No.</th>
                            <th class="all">Project</th>
                            <th style="display:none;">HeaderId</th>
                            <th class="all">Description<div style="width:300px!important"></div></th>
                            <th class="all">BU</th>
                            <th class="all">NCR<br /> Location</th>
                            <th class="all">Status</th>
                            <th class="all">Created<br />By</th>
                            <th style="display:none;">description</th>
                            <th style="display:none;">RCAStatus</th>
                            <th style="display:none;">RCAnumber</th>
                            @*<th class="all">Responsible QC Er.</th>
                                <th class="all">Responsible Dept.</th>
                                <th class="all">Responsible Dept. Manager.</th>*@
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
