﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strTPTitle = ViewBag.Status + " Non Conformity Request ";
            }
            @strTPTitle
        </div>
        <div class="tools" id="dvExportHeaderHistory">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/NCR/MaintainNCR/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHeaderHistory" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblHeader1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="display:none;">HeaderId</th>
                    <th class="all">NCR No.</th>
                    <th class="min-phone-l">Project</th>
                    <th class="min-phone-l">RespDept</th>
                    <th class="min-phone-l">NCR Location</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Created By</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblHeader1');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/NCR/MaintainNCR/LoadHeaderHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": '@ViewBag.HeaderId' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeaderHistory").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeaderHistory").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                   {
                       "sClass": "hide",
                   },

                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                   {
                       "bSortable": false,
                       "sClass": "center"
                   },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><a title="View" href="' + WebsiteURL+'/NCR/MaintainNCR/NCRHistoryDetail?Id=' + row[0] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';

                        return buttons;
                    }
                }

            ]
        });

    });
</script>
<style>
    .modal-dialog {
        margin: 30px auto;
        width: 85% !important;
    }
</style>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>




