﻿@model IEMQSImplementation.NCR004
@{
    ViewBag.Title = "NCR Task";
    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script>
    $(document).ready(function () {
        GetTaskGridDataPartial("Pending");

        $('a[name="tabStatus"]').click(function () {

            GetTaskGridDataPartial($(this).attr('spara'));
        });
    });

    function GetTaskGridDataPartial(status)
    {

        $("#portlet_comments_1").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/NCR/MaintainNCR/GetNCRTaskGridDataPartial",
            datatype: 'html',
            data: {  tab: status },
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //data: { status: status },
            success: function (result) {

                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                if (status == "All") {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }

</script>
<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    @ViewBag.PageTitle @*Non Conformity Request*@
                                    <small></small>
                                </h1>
                            </div>
                            @*<div class="col-md-6" style="text-align:right">
                                    <a href="/NCR/MaintainNCR/AddHeader" style="float: right;" class="btn green">Add New</a>
                                </div>*@
                        </div>
                    </div>
                    <ul class="nav nav-tabs">

                        <li>
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>

                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">

                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalNCRTask" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<h4 class="modal-title">Add Attendee</h4>*@
            </div>

            <div class="modal-body">
                @Html.Hidden("TaskId")
                @Html.Hidden("NCRNo")
                @Html.Hidden("headerid")
                <fieldset>
                    <legend>Task Details</legend><br />
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label">TaskNo</label>
                            <input type="text" name="txtTask" id="txtTask" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label">Title</label>
                            <input type="text" name="txtTitle" id="txtTitle" class="form-control" readonly="readonly" />
                        </div>

                    </div><br />
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">Approver's Comments</label><br />
                            <textarea id="txtComments" style="width:100%;"></textarea>
                        </div>
                    </div><br />
                    <div class="row pull-right">
                        <div class="col-lg-12">
                            <button type="button" id="btnAppr" class="btn green" onclick="approveTask()">Approve</button>
                            <button type="button" id="btnReject" class="btn red" onclick="rejectTask()">Reject</button>
                            <button type="button" id="btnComplt" class="btn green" onclick="completeTask()">Completed</button>
                            <button type="button" id="btnViewDetails" class="btn green" >View</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Transfer Task</legend><br />
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label">Enter PS</label>
                            <input type="text" name="txtPS" id="txtPS" class="form-control" />
                            @Html.HiddenFor(m => m.Assignee, new { @id = "ddlAssignee" })
                        </div>
                        <div class="col-lg-6">
                            <button type="button" id="btnTransfer" class="btn green" onclick="transferTask()" style="width:100%; margin-top:1.8em">Transfer</button>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>

    </div>
</div>

<script>
    function showTaskDetails(Id) {
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/GetTaskDetails",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                Id: Id
            },
            success: function (data) {
                if (data != null) {
                    $("#headerid").val(GetHeaderId(data.NCRNo));
                    $('#TaskId').val(data.Id);
                    $('#NCRNo').val(data.NCRNo);
                    $('#txtTask').val(data.Task);
                    $('#txtTitle').val(data.Title);
                    $('#txtComments').val(data.Comments);
                    var order = data.TaskOrder;
                   if (order == 1) {
                        $('#btnComplt').attr("disabled", "disabled");

                    } else {
                        $('#btnAppr').attr("disabled", "disabled");
                        $('#btnReject').attr("disabled", "disabled");
                    }
                    $('#modalNCRTask').modal("show");
                } else {
                    DisplayNotiMessage("error", "Error While fetching details", "Error");
                }
            }
        });
    }

    $("#txtPS").autocomplete({
        source: function (request, response) {

            $.ajax({
                url: WebsiteURL + "/NCR/MaintainNCR/GetAssigneeFromNCR",
                dataType: "json",
                type: "POST",
                delay: 250,
                async: false,
                data: {
                    term: request.term,
                    NCRno:$('#NCRNo').val()
                },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.name, value: item.name };
                    }));
                    if (data.length > 0) {
                        isSelected = true;
                    }
                    else {
                        isSelected = false;
                    }
                }
            });
        },
        minLength: 1,
        autoFocus: true,
        select: function (event, ui) {
            if (ui.item) {
                isSelected = true;
                var strProjectDesc = ui.item.value;
                var spltProjectDesc = strProjectDesc.split("-");
                var projectcode = spltProjectDesc[0].trim();

                $("#ddlAssignee").val(projectcode);
                //  if (NCRHeaderId != null && NCRHeaderId != undefined && NCRHeaderId != "" && NCRHeaderId != 0) {
                //     FillDataOnEdit(NCRHeaderId);
                //  }
                //  else {
                //      projectChange(projectcode);
                //   }
                //GetBUProjectWise(projectcode, false);
            }

        },
    });

    function GetHeaderId(NCRNo)
    {
        var HeaderID = 0;
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/GetHeaderId",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                NCRNo: NCRNo
            },
            success: function (HeaderId) {
                if (HeaderId != null) {
                    HeaderID = HeaderId;
                } else {
                    HeaderID = HeaderId;
                }
            }
        });
        return HeaderID;
    }

    function transferTask() {

        if ($("#ddlAssignee").val() == null || $("#ddlAssignee").val() == 'null' || $("#ddlAssignee").val() == '') {
            DisplayNotiMessage("error", "Please provide PSNO", "Error");
            return;
        }
        var taskID = $('#TaskId').val();

        var psno = $('#ddlAssignee').val();
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/transferTask",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                Id: taskID,
                psno: psno

            },
            success: function (data) {
                if (data != null) {

                    $('#modalNCRTask').modal("hide");
                    DisplayNotiMessage("success", "Sucessfully Transferred", "Success!");
                } else {
                    DisplayNotiMessage("error", "Something went wrong", "Error");
                }
            }
        });
        $('#tblNCRTask').DataTable().ajax.reload();
    }

    function approveTask()
    {

        var taskID = $('#TaskId').val();

        var comments = $('#txtComments').val();
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/approveTask",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                Id: taskID,
                comments:comments

            },
            success: function (data) {
                if (data.Key) {

                    $('#modalNCRTask').modal("hide");
                    DisplayNotiMessage("success",data.Value, "Success!");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
        $('#tblNCRTask').DataTable().ajax.reload();
    }

    function rejectTask() {
        var taskID = $('#TaskId').val();

        var comments = $('#txtComments').val();
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/rejectTask",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                Id: taskID,
                comments:comments

            },
            success: function (data) {
                if (data.Key) {

                    $('#modalNCRTask').modal("hide");
                    DisplayNotiMessage("success",data.Value, "Success!");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
        $('#tblNCRTask').DataTable().ajax.reload();

    }

    function completeTask() {
        var taskID = $('#TaskId').val();

        var comments = $('#txtComments').val();
        $.ajax({
            url: WebsiteURL + "/NCR/MaintainNCR/completeTask",
            dataType: "json",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                Id: taskID,
                comments: comments

            },
            success: function (data) {
                if (data.Key) {

                    $('#modalNCRTask').modal("hide");
                    DisplayNotiMessage("success", data.Value, "Success!");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
        $('#tblNCRTask').DataTable().ajax.reload();
    }

    $("#btnViewDetails").click(function () {
        var win = window.open(WebsiteURL + '/NCR/MaintainNCR/AddHeader?headerID=' + $("#headerid").val() + '', '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups for this website');
        }
    });

</script>