﻿@using IEMQSImplementation
@model PLN019

@Html.HiddenFor(model => model.HeaderId, new { @id = "txtTWHeader" })
<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-12" style="text-align:right">
            <a onclick="ViewTackWeld('@Model.HeaderId',0);" id="btnaddTW" style="float: right;" class="btn green">Add New</a>
        </div>
    </div>
</div>
<br />
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Tack Weld Details
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/MaintainLockingCleat/GenerateExcel", GridType = clsImplementationEnum.GridType.tackWeld.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTackWeldHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input name="select_all" value="1" id="example-select-all1" type="checkbox">
                            <span></span>
                        </label>
                    </th>
                    <th class="min-phone-l">Tack Weld Document No</th>
                    @*<th class="min-phone-l">Customer</th>*@
                    <th class="min-phone-l">Joint Type</th>
                    <th class="min-phone-l">Status</th>
                    <th class="min-phone-l">Remark</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="btnTWAction" class="form-group">
    <div class="col-md-12">
        <div class="col-md-12" style="text-align:left">
            <button class="btn green-dark" type="button" id="btnTWApprove" style="margin-right:5px;">Approve Tack Weld</button>
            <button class="btn reject" type="button" id="btnTWReject" style="margin-right:5px;">Reject Tack Weld</button>
        </div>
    </div>
</div>
<hr />
<div id="divTackWeldDeatils">

</div>
<script>
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    $(document).ready(function () {
        if ('@Model.Status' != '@clsImplementationEnum.LockingCleatStatus.SendForApproval.GetStringValue()') {
            //dvCalculation();
            $('#btnaddTW').hide();//('disabled', true);
            $("#example-select-all1").hide()
        }

        $("#btnTWApprove").click(function () {
            var headerid = parseInt($("#HeaderId").val());
            var table = 'PLN019';
            var action = 'Approve';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
               return false;
            }
            bootbox.confirm({
                message: "Do you want to approve tack weld details?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {

                        var arrayLineIds = new Array();

                        $('input[class="clsCheckbox"]', $('#tblTackWeldHeader')).each(function () {
                            if (this.checked) {
                                arrayLineIds.push(this.value);
                            }
                        });
                        if (arrayLineIds.length > 0) {
                            var strLineIds = arrayLineIds.join(",");
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/PLN/ApproveLockingCleat/ApproveTackWeld",
                                datatype: 'json',
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strLineIds: strLineIds },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $("#example-select-all1").prop('checked', false);

                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }

                                    $('#tblTackWeldHeader').DataTable().ajax.reload();

                                },
                                error: function () {
                                }
                            });
                        }
                        else {
                            DisplayNotiMessage("error", "Please select Tack Weld details", "Error");
                        }
                    }
                }
            });
        });


        $("#btnTWReject").click(function () {
            var headerid = parseInt($("#HeaderId").val());
            var table = 'PLN019';
            var action = 'Return';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
            bootbox.confirm({
                message: "Do you want to reject tack weld details?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        var arrayLineIds = new Array();

                        $('input[class="clsCheckbox"]', $('#tblTackWeldHeader')).each(function () {
                            if (this.checked) {
                                arrayLineIds.push(this.value);
                            }
                        });
                        if (arrayLineIds.length > 0) {
                            var strLineIds = arrayLineIds.join(",");
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/PLN/ApproveLockingCleat/RejectTackWeld",
                                datatype: 'json',
                                async: false,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { strLineIds: strLineIds },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                    }
                                    else {
                                        DisplayNotiMessage("error", data.Value, "Error");
                                    }
                                    $("#example-select-all1").prop('checked', false);
                                    $('#tblTackWeldHeader').DataTable().ajax.reload();

                                },
                                error: function () {
                                }
                            });
                        }
                        else {
                            DisplayNotiMessage("error", "Please select Tack Weld details", "Error");
                        }
                    }
                }
            });
        });


        $('#example-select-all1').on('click', function () {
            var rows = $('#tblTackWeldHeader').dataTable().api().rows({ 'search': 'applied' }).nodes();
            $('input[class="clsCheckbox"]', rows).prop('checked', this.checked);
        });

        $('#tblTackWeldHeader tbody').on('change', 'input[class="clsCheckbox"]', function () {
            if (!this.checked) {
                var el = $('#example-select-all1').get(0);

                if (el && el.checked && ('indeterminate' in el)) {

                    el.indeterminate = true;
                }
            }
        });
        if (IsDisplayMode == "true") {
            $('#btnTWApprove').hide();
            $('#btnTWReject').hide();
            $('#btnaddTW').hide();
        }
    });

    function ViewTackWeld(headerID, tackweldLineID) {
      
            $("#divTackWeldDeatils").empty();
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/PLN/ApproveLockingCleat/LoadTackWeldLineData",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { headerID: headerID, lineID: tackweldLineID },
                success: function (result) {
                    $("#divTackWeldDeatils").html(result);
                },
                error: function () {
                }
            });
    }
    function dvTWCalculation() {
        if ('@Model.Status' != '@clsImplementationEnum.LockingCleatStatus.SendForApproval.GetStringValue()') {
            $('div.dvdisabletable :input').attr('disabled', true);
        }
        $("#dvTWCalculation").show();
        $("#btnSendForApproval").show();
        $("#btnTackWeld").hide();

        var sqrOutsideRadius = ($("#OutsideRadiusofweld").val() * $("#OutsideRadiusofweld").val());

        var totalOutsideRadius = (2 * $("#OutsideRadiusofweld").val() * $("#OutsideRadiusofweld").val());

        var inside = ($("#InsideRadiousofweld").val() * $("#InsideRadiousofweld").val());

        var totaloutin = totalOutsideRadius + inside;

        var formula1 = $("#Numoftacks").val() * totaloutin;

        var term1 = parseInt($("#OutsideRadiusofweld").val()) + parseInt($("#InsideRadiousofweld").val());

        var term2 = 2 * $("#LoadwithFOS_N").val() * $("#DistCorrWeightSect").val();

        var term3 = term2 * term1;

        var totalMaximumTensileLoad = Math.round(term3 / formula1);

        $("#MaximumTensileLoad").text(totalMaximumTensileLoad);//totalMaximumTensileLoad);
        var DirectShearLoad = Math.round(parseInt($("#LoadwithFOS_N").val()) / parseInt($("#Numoftacks").val()));
        $("#DirectShearLoad").text(DirectShearLoad);

        var sqrMaximumTensileLoad = (($("#MaximumTensileLoad").text() * $("#MaximumTensileLoad").text()));
        var sqrDirectShearLoad = $("#DirectShearLoad").text() * $("#DirectShearLoad").text();

        var totalLoad = sqrMaximumTensileLoad + 4 * sqrDirectShearLoad;
        var sqrt = Math.sqrt(totalLoad);
        var totalCommon = Math.round(sqrt / 2);
        // var totalCommon =  Math.round(Math.sqrt( ($("#MaximumTensileLoad").text() * $("#MaximumTensileLoad").text())  + 4 *($("#DirectShearLoad").text() * $("#DirectShearLoad").text())));

        var EquivalentTensileLoad = parseInt($("#MaximumTensileLoad").text()) + sqrt;
        var totalEquivalentTensileLoad = Math.round(EquivalentTensileLoad / 2);

        $("#EquivalentTensileLoad").text(totalEquivalentTensileLoad);
        $("#EquivalentShearLoad").text(totalCommon);

        var Weldlength_tensileloading = Math.round($("#EquivalentTensileLoad").text() / ($("#AllowtensileStress").val() * $("#Weldsize").val()));
        $("#Weldlength_tensileloading").text(Weldlength_tensileloading);

        var Weldlength_shearloading = Math.round($("#EquivalentShearLoad").text() / ($("#AllowShearStress").val() * $("#Weldsize").val()));
        $("#Weldlength_shearloading").text(Weldlength_shearloading);

        $("#Weldlength_required").text(Math.max(Weldlength_tensileloading, Weldlength_shearloading));
        $("#Weldlength_required1").text(Math.max(Weldlength_tensileloading, Weldlength_shearloading));

        $("#WeldLenghtRequired").val(parseInt($("#Weldlength_required").text()));
    }

    $(document).ready(function () {

        var table = $('#tblTackWeldHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLN/ApproveLockingCleat/LoadTWLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@ViewBag.Header' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if ('@Model.Status.ToLower()' != '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()' ||
                            $("#spnStatus").text().toLowerCase() != '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()') {
                            $("#btnTWAction").hide();
                            //$("#btnLCReject").hide();
                        }
                        else if (data.iTotalRecords > 0) {
                            $("#btnTWAction").show();
                            //$("#btnLCReject").show();
                        }
                        else {
                            $("#btnTWAction").hide();
                            //$("#btnLCReject").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

                //{
                //    "sClass": "center",
                //},
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "3%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        if (row[3].trim() == "Sent for Approval") {
                            buttons = '<center><label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label></center>';
                        }
                        return buttons;
                    }
                },
                {
                    // "bSortable": false,
                    "sClass": "center", "name": "TWDocument"
                },
                 {
                     // "bSortable": false,
                     "sClass": "center", "name": "JointDetails"
                 },

                {
                    // "bSortable": false,
                    "sClass": "center", "name": "LineStatus"
                },
                 {
                     // "bSortable": false,
                     "sClass": "center", "name": "ReturnRemark"
                 },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
            ]
        }); table.dtSearchFilter();
    });

    function UpdateTWData(objColumn, rowID) {
        var headerid = parseInt($("#HeaderId").val());
        var table = 'PLN019';
        var action = 'CRUD';
        var isapprover = true;
        if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
            return false;
        }
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/ApproveLockingCleat/UpdateTWData",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //DisplayNotiMessage("success", result.Value, "Success");
                    $('#tblTackWeldHeader').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }
</script>
