﻿@using IEMQSImplementation
@model PLN019
<script>
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    $(document).ready(function () {

        var Status = '@Model.Status';
       
        if ('@ViewBag.Action'.toLowerCase() == "headeredit") {
            var strProject = '@ViewBag.Project';
            var strCustomer = '@ViewBag.Customer';
            $("#txtProject").val(strProject);
            var strApprovedBy = '@ViewBag.ApproverName';
            $("#txtApprovedBy").val(strApprovedBy);
            $("#ApprovedBy").val('@Model.ApprovedBy');
            $("#Project").val('@Model.Project');
            $("#Document").val('@Model.Document');
            $("#Customer").val(strCustomer);
            $("#RevNo").val('@Model.RevNo');
            $("#txtRevNo").val("R" + '@Model.RevNo');
            $("#dvReviseRemark").show();
            @*if ('@Model.ReviseRemark' != null && '@Model.ReviseRemark' != '') {
                $("#dvReviseRemark").show();
            }
            else {
                $("#dvReviseRemark").hide();
            }*@
            if ('@Model.ApprovedBy' != null) {
                GetTabWiseDataHTML('@Model.HeaderId');
            }
        }
        if ('@Model.HeaderId' > 0) {
            $("#btnCalculate").show();
        }

        if ('@Model.Status' == '@clsImplementationEnum.LockingCleatStatus.SendForApproval.GetStringValue()') {
            GetTabWiseDataHTML('@Model.HeaderId');
            $("#btnSaveHeader").show();
            // $('div.dvDisabled :input').attr('disabled', false);
            $("#txtProject").attr("disabled", true);
            $("#txtApprovedBy").attr("disabled", true);
        }
        else {
            $('div.dvDisabled :input').attr('disabled', true);
            $("#btnCalculate").show();
        }

        //$("#txtProject").attr("disabled", true);
        //$("#txtApprovedBy").attr("disabled", true);

        $('#frmCreateHeader').validate({
            rules: {
                ReturnRemark: { required: true },

            },
            messages: {
                ReturnRemark: { required: "Return Remark is required", },

            }
        });

        ////button click
        $("#btnSaveHeader").click(function () {
            var isChange =true;
            var headerid =  parseInt($("#HeaderId").val());
            var table = 'PLN019';
            var action = 'CRUD';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                isChange = false;
                return false;
            }
            if (isChange) {
                if ($("#frmCreateHeader").valid()) {
                    var frmSaveValue = $("#frmCreateHeader").serializeArray();
                    if (Status != undefined && Status != null && Status == "Approved") {
                        bootbox.confirm({
                            message: "Do you want to revise this header?",
                            buttons: {
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success',
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    SaveHeader(frmSaveValue, status);
                                }
                                else {
                                    window.location.href = WebsiteURL + '/PLN/ApproveLockingCleat/Index';
                                }
                            }
                        });
                    }
                    else {
                        SaveHeader(frmSaveValue, status);
                    }
                }
                else {
                    HighlightInValidControls();
                    return false;
                }
            }
        });
        if (IsDisplayMode == "true") {
            $('.form-body :input').attr('disabled', true);            
        }
        ////
    });

</script>
<script>
    function SaveHeader(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLN/ApproveLockingCleat/SaveHeader",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    GetLockingCleatHTML(parseInt(data.HeaderID));
                    GetTabWiseDataHTML('@Model.HeaderId');
                    $("#btnCalculate").show();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
    function GetTabWiseDataHTML(headerID) {
        $("#form_wizard_1").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/ApproveLockingCleat/LoadTabWiseData",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerID: headerID },
            success: function (result) {
                $("#form_wizard_1").html(result);
                $("#Section1").trigger("click");
            },
            error: function () {
            }
        });
    }
    function IfProjectExist(projectcode) {
        var returnResponse = false;
        $.ajax({
            url: WebsiteURL + "/PLN/ApproveLockingCleat/checkProjectExist",
            type: 'POST',
            async: false,
            data: { projectcode: projectcode },
            success: function (response) {
                if (response.toUpperCase() == "FALSE") {
                    returnResponse = false;
                }
                else {
                    returnResponse = true;
                }
            }
        });
        return returnResponse;
    }
    function getCustomer(projectcode, isFromEdit) {
        if (projectcode != null && projectcode != '' && projectcode != undefined) {
            if (IfProjectExist(projectcode) && !isFromEdit) {
                bootbox.confirm({
                    message: "This record already exists.Do you want to Continue?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ClearAll();
                        }
                        else {
                            window.location.href = WebsiteURL + '/PLN/ApproveLockingCleat/Index';
                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: WebsiteURL + '/PLN/ApproveLockingCleat/getCustomer',
                    type: "Post",
                    async: false,
                    dataType: "JSON",
                    data: { projectcode: projectcode },
                    success: function (res) {
                        var project = res.Project;
                        var Doc = project.slice(-4);
                        if (res.Customer != null) {
                            $("#Customer").val(res.Customer);
                            $("#Document").val("H02_" + Doc + "_PL11");
                            $("#RevNo").val('@Model.RevNo');
                            $("#txtRevNo").val("R" + '@Model.RevNo');
                            $("#CDD").val(res.CDD);
                        }
                        else {
                            bootbox.confirm({
                                message: "Customer for this project does not exits.Do you want to Continue?",
                                buttons: {
                                    confirm: {
                                        label: 'Yes',
                                        className: 'btn-success'
                                    },
                                    cancel: {
                                        label: 'No',
                                        className: 'btn-danger'
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        ClearAll();
                                    }
                                    else {
                                        window.location.href = WebsiteURL + '/PLN/ApproveLockingCleat/Index';
                                    }
                                }
                            });
                        }
                    },
                    error: function (ex) {
                        DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                        bootbox.alert('Failed to retrieve status.' + ex);
                    }
                });
            }
        }
        else {
            $("#BU").val("");
        }
    }
    function ClearAll() {
        $("#Document").val('');
        $("#Customer").val('');
        $("#txtProject").val('');
        $("#Project").val('');
    }

</script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="dvDisabled">
    <div class="form-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCreateHeader", @class = "form-horizontal" }))
        {
            <div id="dvPrinthide">
                <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important">
                        <span class="page-title"> Maintain Locking Cleat/Tacking Plan</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning ">
                        <b>Status :<span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                    <p class="ribbon-content"></p>
                </div>
                <div id="dvHeader">
                    <fieldset>
                        <legend>Project Detail</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Project
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        <input type="text" id="txtProject" value="" name="txtProject" class="form-control col-md-3" />
                                        @Html.HiddenFor(m => m.Project)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Document
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Rev No
                                    </label>
                                    <div class="">
                                        <input type="text" class="form-control" readonly id="txtRevNo" colname="RevNo" />
                                        @Html.HiddenFor(model => model.RevNo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">
                                        Customer
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Customer, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        CDD
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Approved By</label>
                                    <div class="">
                                        <input type="text" name="txtApprovedBy" id="txtApprovedBy" class="form-control" />
                                        @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control" })
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                    <label class="control-label">
                                    Joint Type
                                    </label>
                                    <div class="">
                                    @Html.TextBoxFor(m => m.JointType, new { @class = "form-control" })
                                    </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="dvReviseRemark" class="col-md-12">
                                    <label class="control-label">Revision Remark</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div id="dvRemarks" class="col-md-12">
                                    <label class="control-label">
                                        Return Remark <span class="required">*</span>
                                    </label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.ReturnRemark, new { @class = "form-control", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divPDNIdenticalproject"  class="form-group"></div>
                        <div class="form-group">
                            <div class="col-md-12">

                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-12">
                            <div class="col-md-4">
                            <label class="control-label">Approved By</label>
                            <div class="">
                            <input type="text" name="txtApprovedBy" id="txtApprovedBy" class="form-control" />
                            @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control" })
                            </div>
                            </div>
                            </div>
                            </div>*@

                        <div id="hiddenfields">
                            <input type="hidden" id="hdnDepartment" />
                            @Html.HiddenFor(model => model.HeaderId)
                            @Html.HiddenFor(model => model.Status)
                        </div>
                    </fieldset>
                </div>
                <br />
                <!-- END SAMPLE TABLE PORTLET-->
                <div id="disableprint" class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12" style="text-align:right">
                            @*<input type="button" class="btn green" id="btnSaveHeader" style="margin-right:5px;" value="Save" />*@
                            @if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.SendForApproval.GetStringValue().ToLower())
                            {
                                <button class="btn approve" type="button" id="btnDocumentApprove" style="">Approve</button>
                                <button class="btn return" type="button" id="btnDocumentReturn" style="">Return</button>
                            }
                            @if (Model.Status.ToLower() == clsImplementationEnum.PlanStatus.Approved.GetStringValue().ToLower() && ViewBag.Revoke)
                            {
                                <a id="btnRevoke" class="btn return">Revoke</a>
                            }
                            <a href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID" style="" class="btn back">Back</a>
                            <a href="~/PLN/ApproveLockingCleat/Index" class="btn btnclose">Close</a>
                            <a title="Print Report" class="btn icons" onClick="PrintReport(@Model.HeaderId)"> <i class="fa fa-print"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="form_wizard_1">
    </div>
</div>

<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');
        $("#btnDocumentApprove").click(function () {
            var isChange =true;
            var headerid =  parseInt($("#HeaderId").val());
            var table = 'PLN019';
            var action = 'Approve';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                isChange = false;
                return false;
            }
            if (isChange) {
                bootbox.confirm({
                    message: "Do you want to approve document " + '@Model.Document' + "?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/PLN/ApproveLockingCleat/ApproveHeader",
                                datatype: 'json',
                                async: false,
                                data: { strHeaderId: parseInt('@Model.HeaderId') },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        GetLockingCleatHTML(parseInt('@Model.HeaderId'));
                                    }
                                    else { DisplayNotiMessage("error", data.Value, "Error"); }
                                },
                                error: function () {
                                }
                            });
                        }
                    }
                });
            }
        });

        $("#btnDocumentReturn").click(function () {
            var isChange =true;
            var headerid =  parseInt($("#HeaderId").val());
            var table = 'PLN019';
            var action = 'Return';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                isChange = false;
                return false;
            }
            if (isChange) {
                if ($("#frmCreateHeader").valid()) {
                    var frmSaveValue = $("#frmCreateHeader").serializeArray();
                    bootbox.confirm({
                        message: "Do you want to return document " + '@Model.Document' + "?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/PLN/ApproveLockingCleat/ReturnHeader",
                                    datatype: 'json',
                                    async: false,
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeaderId: parseInt('@Model.HeaderId'), remark: $("#ReturnRemark").val() },
                                    success: function (data) {
                                        if (data.Key) {
                                            DisplayNotiMessage("success", data.Value, "Success");
                                            // window.location.href = '/PLN/ApproveLockingCleat/Index';
                                            window.setTimeout('window.location.href = "' + WebsiteURL + '/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID"', 2000);
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        }
                    });
                }
                else {
                    HighlightInValidControls();
                    return false;
                }
            }
        });

        $('#btnRevoke').click(function () {
            var headerid =  parseInt($("#HeaderId").val());
            var table = 'PLN019';
            var action = 'Revoke';
            var isapprover = true;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
            RevokeDoument("/PLN/ApproveLockingCleat/RevokeDocument", parseInt('@Model.HeaderId'), parseInt(@ViewBag.PlanningDinID), "/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID")
        });
    });

    function PrintReport(headerid) {
        bootbox.dialog({
            title: 'Locking Cleat /Tacking Plan Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/LOCKING CLEATS/LOCKING_CLEATS";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: parseInt(headerid) });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }

</script>
