﻿@using IEMQSImplementation
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strMSWTitle = "Assigned Tasks";
            }
            @strMSWTitle
        </div>
       
        <div class="tools" id="dvExportHeader">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ADD/AssignedTask/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblADDTask" cellspacing="0">
            <thead>
                <tr>
                    <th class="" style="display:none;">LineId</th>
                    <th class="min-phone-l">Route Number</th>
                    <th class="min-phone-l">Task Name</th>
                    <th class="min-phone-l">Task Description</th>
                    <th class="min-phone-l">Task Status</th>
                    <th class="min-phone-l">Assignee Comments</th>
                    <th class="min-phone-l">Assigned By</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

        var table = $('#tblADDTask');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            "sAjaxSource": WebsiteURL + "/ADD/AssignedTask/loadTaskDataTable?tab=" + '@(ViewBag.tab)',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                           // { "name": "tab", "value": "@(ViewBag.Tab)" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "bSortable": "false", 
                    "sClass": "hide"
                },
                 {
                     "bSortable": true,
                     "sClass": "center",
                     "name": "RouteNo",
                     "ColName": "add2.RouteNo"
                 },
                {
                    "bSortable": true,  
                    "sClass": "center",
                    "name": "TaskName"
                },
                {
                    "bSortable": true, 
                    "sClass": "center",
                    "name": "TaskDescription"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "TaskStatus"
                },
                {
                    "bSortable": true,
                     "sClass": "center",
                     "name": "AssigneeComments"
                },
                {
                    "bSortable": true,  
                    "sClass": "center",
                    "name": "AssignedBy"
                },
                {
                       "bSortable": false,
                       "sClass": "center",
                      
                       //"render": function (data, type, row, meta) {
                       // var buttons = "";
                       // buttons = '<center><button style="background:none;" type="button" class="btn btn-xs"   onclick="showTaskDetails(' + row[0] + ')"><i style="margin-left:5px;" class="fa fa-eye"></i></button></center>';
                       // return buttons;
                       //}
                },
            ]
        });
        table.dtSearchFilter();
    });


</script>
