﻿@using IEMQSImplementation
@model PAM009
@{
    ViewBag.Title = "Maintain Proposal Design Handover";

    if (@ViewBag.chkProject != null && @ViewBag.chkProject != "")
    {
        Layout = "~/Views/Shared/_DESLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>

<input type="hidden" id="hdnchkProject" value="@ViewBag.chkProject" />
<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <form id="frmAddPDH">
                    @Html.HiddenFor(m => m.PDHId)

                    <div id="divPDHHeader"></div>

                    <div id="divCheckList"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Return Remarks<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @maxlength = "100", @id = "ReturnRemarkForReturn", @name = "ReturnRemark" })

                        </div>
                        <div class="col-md-6" style="text-align:right;margin-bottom:10px">
                            <input type="button" class="btn approve" id="btnApprove" value="Approve" disabled />
                            <input type="button" class="btn return" id="btnReturn" value="Return" disabled />
                            <input type="button" class="btn btn btnclose" id="btnCancel" value="Close" />
                        </div>

                    </div>
                </form>

            </div>

        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
<script>

    var Status = "@Model.Status.ToLower()";
    var IsApproval = "@ViewBag.IsApproval"=="True";

    $('#frmAddPDH').validate({
        rules: {
            ReturnRemark: {
                required: true,
            }
        },
        messages: {
            ReturnRemark: {
                required: "Return remark is required"
            }
        }
    });

    if ("@Model.Status.ToLower()" == "@clsImplementationEnum.PAMStatus.SentForApproval.GetStringValue().ToLower()") {
        $('#btnApprove').prop('disabled', false);
        $('#btnReturn').prop('disabled', false);
    }

    function BindPDHHeader(PDHId, HeaderId) {
        $('#divPDHHeader').load(
            $.ajax({
                url: WebsiteURL +"/PAM/PDH/GetPDHHeaderDetails",
                type: "POST",
                data: { PDHId: PDHId, HeaderId: HeaderId},
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divPDHHeader').html(data);
                }
            })
      );
    }

    $(document).ready(function () {
        BindPDHHeader('@Model.PDHId', '@Model.HeaderId')
        BindPDHChecklist('@Model.PDHId', "false");

        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
        });
    });

    function BindPDHChecklist(PDHId) {
        console.log("PDHId : " + PDHId);
        $('#divCheckList').load(
          $.ajax({
              url: WebsiteURL +"/PAM/PDH/GetPDHChecklist",
              type: "POST",
              data: { PDHId: PDHId, ForApprove: "true" },
              dataType: "html",
              //async:false,
              success: function (data) {
                  //console.log(data);
                  $('#divCheckList').html(data);
              }
          })
        );
    }

    $('#btnCancel').click(function () {
        if ('@ViewBag.chkProject' != null && '@ViewBag.chkProject' != "") {
            window.location.href = WebsiteURL + "/PAM/PDH/ApprovePDH" + "?Project=" + '@ViewBag.chkProject';
        }
        else {
            window.location.href = WebsiteURL + "/PAM/PDH/ApprovePDH";
        }

        //window.location.href = WebsiteURL +"/PAM/PDH/ApprovePDH";
    });

    $('#btnApprove').click(function(){
        bootbox.confirm("Do you want to approve this record? ",
        function (result) {
            if (result) {
                $.ajax({
                    url: WebsiteURL +"/PAM/PDH/ApprovePDHDetailById" + "?Project=" + $("#hdnchkProject").val(),
                    type: "Post",
                    async: false,
                    dataType: "JSON",
                    data: { PDHId :@Model.PDHId },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", "Record Approved successfully", "Success");

                            if ($("#hdnchkProject").val() != null && $("#hdnchkProject").val() != "") {
                                window.setTimeout('window.location.href = "' + WebsiteURL + '/PAM/PDH/ApprovePDH"' + "?Project=" + $("#hdnchkProject").val(), 2000);
                            }
                            else {
                                window.setTimeout('window.location.href = "' + WebsiteURL + '/PAM/PDH/ApprovePDH"', 2000);
                            }

                            //window.setTimeout('window.location.href = "'+WebsiteURL+'/PAM/PDH/ApprovePDH"', 2000);
                        }
                        else {
                            bootbox.alert(data.Value);
                        }
                    },
                    error: function (data) {
                        bootbox.alert(data.Value);
                    }
                });
            }
        });
    })

    $('#btnReturn').click(function(){
        if ($("#frmAddPDH").valid()) {
            bootbox.confirm("Do you want to return this record? ",
                    function (result) {
                        if (result) {
                            var Id = $("#Id").val();
                            $.ajax({
                                url: WebsiteURL + "/PAM/PDH/ReturnPDHDetailById" + "?Project=" + $("#hdnchkProject").val(),
                                type: "Post",
                                async: false,
                                dataType: "JSON",
                                data: { PDHId :@Model.PDHId,Remarks:$('#ReturnRemarkForReturn').val() },
                                success: function (data) {
                                    if (data.Key) {
                                        debugger;
                                        DisplayNotiMessage("success", data.Value, "Success");

                                        if ($("#hdnchkProject").val() != null && $("#hdnchkProject").val() != "") {
                                            window.setTimeout('window.location.href = "' + WebsiteURL + '/PAM/PDH/ApprovePDH"' + "?Project=" + $("#hdnchkProject").val(), 2000);
                                        }
                                        else {
                                            window.setTimeout('window.location.href = "' + WebsiteURL + '/PAM/PDH/ApprovePDH"', 2000);
                                        }
                                        //window.setTimeout('window.location.href = "'+WebsiteURL+'/PAM/PDH/ApprovePDH"', 2000);
                                    }
                                    else {
                                        bootbox.alert(data.Value);
                                    }
                                },
                                error: function (data) {
                                    bootbox.alert(data.Value);
                                }
                            });
                        }
                    });
        }
        else {
            HighlightInValidControls();
            return false;
        }
    })
</script>
