﻿
@using IEMQSImplementation

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strPMBTitle = "History of Dimension Data Capturing Plan";
            }
            @strPMBTitle
        </div>
        @*<div class="tools" id="dvExportHeaderHistory">
        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/DDC/Approve/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHeaderHistory" })
    </div>*@
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblDDCHistoryHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all" style="display:none">header</th>
                    <th class="all">Project</th>
                    <th class="all">Document</th>
                    <th class="all">Customer</th>
                    <th class="all">Product</th>
                    <th class="all">Process Licensor</th>
                    <th class="all">Rev.</th>
                    <th class="all">Status</th>
                    <th class="all">Submitted By</th>
                    <th class="all">Submitted On</th>
                    <th class="all">Approved By</th>
                    <th class="all">Approved On</th>
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var str = '@ViewBag.action';
        var table = $('#tblDDCHistoryHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/DDC/History/LoadDDCHeaderHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                             { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                             { "name": "CTQCompileStatus", "value": '@ViewBag.action' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeaderHistory").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeaderHistory").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                { "sClass": "hide" },
                {
                    "bSortable": true,
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "bSortable": true,
                    "name": "Document",
                    "sClass": "center"
                },

                {
                    "bSortable": true,
                    "name": "Customer",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "Product",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "name": "RevNo",
                    "sClass": "center"
                },
                 {
                     "bSortable": true,
                     "name": "Status",
                     "sClass": "center"
                 },

                {
                    "bSortable": true,
                    "name": "SubmittedBy",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "SubmittedOn",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "ApprovedBy",
                    "sClass": "center"
                },
                {
                    "bSortable": true,
                    "name": "ApprovedOn",
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },

            ]
        });

    });

</script>
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>