﻿@using MvcSiteMapProvider.Web.Html
@using IEMQSImplementation
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title :: IEMQS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- RUM Header -->
    @*<script>
            window["egrum-start_time"] = new Date().getTime();
            window["Site_Name"] = "d020d002-744c-4aa5-a829-c82675504dc7-1563519750449";
            window["beacon-url"] = "https://10.7.66.160:7077";</script>
        <script src="https://10.7.66.160:7077/rumcollector/egrum.js"> </script>*@
    <!-- RUM Header -->
    <script>
        WebsiteURL = '@System.Configuration.ConfigurationManager.AppSettings["WebsiteURL"]';
        var fontAwesomeFontStyle = document.createElement('style');
        fontAwesomeFontStyle.appendChild(document.createTextNode("\
        @@font-face {\
            font-family: FontAwesome;\
            src: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');\
            font-weight: normal;\
            font-style: normal;\
        }\
        "));

        var glyphiconsFontStyle = document.createElement('style');
        glyphiconsFontStyle.appendChild(document.createTextNode("\
        @@font-face{font-family:'Glyphicons Halflings';src:url('" + WebsiteURL + "/fonts/glyphicons-halflings-regular.eot');src:url('" + WebsiteURL + "/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('" + WebsiteURL + "/fonts/glyphicons-halflings-regular.woff') format('woff'),url('" + WebsiteURL + "/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('" + WebsiteURL + "/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')}\
        "));
        document.head.appendChild(fontAwesomeFontStyle);
        document.head.appendChild(glyphiconsFontStyle);

        var expandwhiteFontStyle = document.createElement('style');
        expandwhiteFontStyle.appendChild(document.createTextNode("\
        .portlet > .portlet-title > .tools > a.expandpanel {\
            background-image: url('" + WebsiteURL + "/Content/assets/global/img/portlet-expand-icon-white.png');\
            width: 14px;\
            visibility: visible;\
        }\
        "));
        var collapsewhiteFontStyle = document.createElement('style');
        collapsewhiteFontStyle.appendChild(document.createTextNode("\
        .portlet > .portlet-title > .tools > a.collapsepanel {\
            background-image: url('" + WebsiteURL + "/Content/assets/global/img/portlet-collapse-icon-white.png');\
            width: 14px;\
            visibility: visible;\
         }\
        "));
        document.head.appendChild(expandwhiteFontStyle);
        document.head.appendChild(collapsewhiteFontStyle);

        var imageStyle = document.createElement('style');
        imageStyle.appendChild(document.createTextNode("\
        .Authorization {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/Authorization.png') no-repeat center;    background-size: 18px 18px;;}\
        .Authorizationactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/Authorization_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .CRS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CRS.png') no-repeat center;    background-size: 18px 18px;;}\
        .CRSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CRS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .CSR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CSR.png') no-repeat center;    background-size: 18px 18px;;}\
        .CSRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CSR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .CTQ {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ctq.png') no-repeat center;    background-size: 18px 18px;;}\
        .CTQactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ctq_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .EMT {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .EMTactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .FDMS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fdms.png') no-repeat center;    background-size: 18px 18px;;}\
        .FDMSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/fdms_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .FKMS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/FKMS.png') no-repeat center;    background-size: 18px 18px;;}\
        .FKMSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/FKMS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .HTC {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .HTCactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .HTR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/HTR.png') no-repeat center;    background-size: 18px 18px;;}\
        .HTRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/HTR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .IMB {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .IMBactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .IMS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/IMS.png') no-repeat center;    background-size: 18px 18px;;}\
        .IMSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/IMS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .IPI {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/IPI.png') no-repeat center;    background-size: 18px 18px;;}\
        .IPIactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/IPI_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .ITP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ITP.png') no-repeat center;    background-size: 18px 18px;;}\
        .ITPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ITP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .JPP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/JPP.png') no-repeat center;    background-size: 18px 18px;;}\
        .JPPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/JPP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .KOM {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/KOM.png') no-repeat center;    background-size: 18px 18px;;}\
        .KOMactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/KOM_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .LNC {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/LNC.png') no-repeat center;    background-size: 18px 18px;;}\
        .LNCactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/LNC_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .SWP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/swp.png') no-repeat center;    background-size: 18px 18px;;}\
        .SWPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/swp_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .LTFPS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/LTFPS.png') no-repeat center;    background-size: 18px 18px;;}\
        .LTFPSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/LTFPS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .MOM {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/MOM.png') no-repeat center;    background-size: 18px 18px;;}\
        .MOMactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/MOM_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .MSW {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .MSWactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .NCR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/NCR.png') no-repeat center;    background-size: 18px 18px;;}\
        .NCRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/NCR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .NDE {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/NDE.png') no-repeat center;    background-size: 18px 18px;;}\
        .NDEactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/NDE_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .PAM {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PAM.png') no-repeat center;    background-size: 18px 18px;;}\
        .PAMactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PAM_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .PDIN {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/planningdin.png') no-repeat center;    background-size: 18px 18px;;}\
        .PDINactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/planninghover.png') no-repeat center;background-size: 18px 18px;;}\
        .PLC {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .PLCactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .PLN {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .PLNactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .PMB {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .PMBactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .PTR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PTR.png') no-repeat center;    background-size: 18px 18px;;}\
        .PTRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PTR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .QCP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/QCP.png') no-repeat center;    background-size: 18px 18px;;}\
        .QCPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/QCP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .RLF {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/RLF.png') no-repeat center;    background-size: 18px 18px;;}\
        .RLFactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/RLF_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .SCP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .SCPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .SSS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/SSS.png') no-repeat center;    background-size: 18px 18px;;}\
        .SSSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/SSS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .TPI {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .TPIactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .TP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .TPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .WKG {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;    background-size: 18px 18px;;}\
        .WKGactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/nature.png') no-repeat center;background-size: 18px 18px;;}\
        .WPS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WPS.png') no-repeat center;    background-size: 18px 18px;;}\
        .WPSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WPS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .WPP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WPP.png') no-repeat center;    background-size: 18px 18px;;}\
        .WPPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WPP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .WQ {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WQ.png') no-repeat center;    background-size: 18px 18px;;}\
        .WQactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WQ_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .Partlist {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/partseamlist.png') no-repeat center;    background-size: 18px 18px;;}\
        .Partlistactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/partseamlisthover.png') no-repeat center;background-size: 18px 18px;;}\
        .TVL {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/TVL.png') no-repeat center;    background-size: 18px 18px;;}\
        .TVLactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/TVL_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .RLF {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/RLF.png') no-repeat center;    background-size: 18px 18px;;}\
        .RLFactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/RLF_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .CFAR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CFA.png') no-repeat center;    background-size: 18px 18px;;}\
        .CFARactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CFA_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .TCP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/TCP.png') no-repeat center;    background-size: 18px 18px;;}\
        .TCPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/TCP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .ADD {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ADD.png') no-repeat center;    background-size: 18px 18px;;}\
        .ADDactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ADD_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .BPR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/BPR.png') no-repeat center;    background-size: 18px 18px;;}\
        .BPRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/BPR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .MCR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/MCR.png') no-repeat center;    background-size: 18px 18px;;}\
        .MCRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/MCR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .WCS {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WCS.png') no-repeat center;    background-size: 18px 18px;;}\
        .WCSactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WCS_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .MIP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/MIP.png') no-repeat center;    background-size: 18px 18px;;}\
        .MIPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/MIP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .ICC {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ICC.png') no-repeat center;    background-size: 18px 18px;;}\
        .ICCactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/ICC_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .COP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/COP.png') no-repeat center;    background-size: 18px 18px;;}\
        .COPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/COP_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .CJC {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CJC.png') no-repeat center;    background-size: 18px 18px;;}\
        .CJCactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/CJC_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .EIF {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/EIF.png') no-repeat center;    background-size: 18px 18px;;}\
        .EIFactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/EIF_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .PBP {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/planningdin.png') no-repeat center;    background-size: 18px 18px;;}\
        .PBPactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/planninghover.png') no-repeat center;background-size: 18px 18px;;}\
        .DEN {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/DEN.png') no-repeat center;    background-size: 18px 18px;;}\
        .DENFactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/DEN_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .PCR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PCR.png') no-repeat center;    background-size: 18px 18px;;}\
        .PCRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PCR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .WDN {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WDN.png') no-repeat center;    background-size: 18px 18px;;}\
        .WDNactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/WDN_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .SCU {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/SCU.png') no-repeat center;    background-size: 18px 18px;;}\
        .SCUactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/SCU_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .FKM {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/FKM.png') no-repeat center;    background-size: 18px 18px;;}\
        .FKMactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/FKM_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .PCR {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PCR.png') no-repeat center;    background-size: 18px 18px;;}\
        .PCRactive {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/PCR_hover.png') no-repeat center;background-size: 18px 18px;;}\
        .portlet > .portlet-title > .tools > a.collapse{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-collapse-icon.png')}\
        .portlet > .portlet-title > .tools > a.collapsewhite{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-collapse-icon-white.png') !important;}\
        .portlet > .portlet-title > .tools > a.collapse1{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-collapse-icon.png')}\
        .portlet > .portlet-title > .tools > a.expand{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-expand-icon.png') !important;}\
        .portlet > .portlet-title > .tools > a.expandwhite{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-expand-icon-white.png') !important;}\
        .portlet > .portlet-title > .tools > a.expand1{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-expand-icon.png') !important;}\
        //.portlet > .portlet-title > .tools > a.collapsehtr{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-collapse-icon.png') !important;}\
        //.portlet > .portlet-title > .tools > a.expandhtr{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-expand-icon.png') !important;}\
        .portlet > .portlet-title > .tools > a.remove{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-remove-icon.png') !important;}\
        .portlet > .portlet-title > .tools > a.reload{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-reload-icon.png') !important;}\
        .portlet.box > .portlet-title > .tools > a.remove{background-image:url('" + WebsiteURL + "/Content/assets/global/img/portlet-remove-icon-white.png') !important;}\
        .page-header.navbar .menu-toggler{background-image:url('" + WebsiteURL + "/Images/ThemeImages/sidebar-toggler.png') !important;}\
        //table.dataTable thead .sorting{background-image:url('" + WebsiteURL + "/Content/ThemeCss/datatables/images/sort_both.png')}\
        //table.dataTable thead .sorting_asc{background-image:url('" + WebsiteURL + "/Content/ThemeCss/datatables/images/sort_asc.png')}\
        //table.dataTable thead .sorting_desc{background-image:url('" + WebsiteURL + "/Content/ThemeCss/datatables/images/sort_desc.png')}\
        //table.dataTable thead .sorting_asc_disabled{background-image:url('" + WebsiteURL + "/Content/ThemeCss/datatables/images/sort_asc_disabled.png')}\
        //table.dataTable thead .sorting_desc_disabled{background-image:url('" + WebsiteURL + "/Content/ThemeCss/datatables/images/sort_desc_disabled.png')}\
        .close{background-image:url('" + WebsiteURL + "/Images/ThemeImages/remove-icon-small.png') !important;}\
        td.details-control {background: url('" + WebsiteURL + "/Images/details_open.png') no-repeat center; }\
        tr.details td.details-control{background: url('" + WebsiteURL + "/Images/details_close.png') no-repeat center; }\
        .DESHeader {background: url('" + WebsiteURL + "/Content/ThemeCss/font-awesome/fonts/DESHeader.png') no-repeat center;    background-size: 36px 36px;;}\
        "));
        document.head.appendChild(imageStyle);
        // ----- Session Timeout Countdown ----- //
        SessionTimeout = (function () {
            var _timeLeft, _popupTimer, _countDownTimer, _isWindowFocused = true;
            var stopTimers = function () {
                _timeLeft = 300;
                window.clearTimeout(_popupTimer);
                //window.clearTimeout(_countDownTimer);
                window.clearInterval(_countDownTimer);
            };
            var updateCountDown = function () {
                var min = Math.floor(_timeLeft / 60);
                var sec = _timeLeft % 60;
                if (sec < 10)
                    sec = "0" + sec;

                $("#CountDownHolder").html(min + ":" + sec);
                if (_timeLeft > 0) {
                    _timeLeft--;
                    //_countDownTimer = window.setTimeout(updateCountDown, 900);
                } else {
                    stopTimers();
                    if (!_isWindowFocused) { // External window pop only show if current page not viewed/focus by user
                        var myWindow = window.open("", "winSessionExpired", "width=300,height=100,resizable=0,location=0,top=" + (window.screen.height / 2 - 50) + ",left=" + (window.screen.width / 2 - 150));
                        myWindow.document.write("<p>Session is time out from Page: " + window.location + "</p>");
                        myWindow.document.getElementsByTagName("body")[0].style = "background: #ffa5a5;color:#fff;"
                    }
                    window.location = WebsiteURL + "/Authentication/Authenticate/Logout";
                }
            };
            var showPopup = function () {
                $(window).on("focus", function () {
                    _isWindowFocused = true;
                });
                $(window).on("focus", function () {
                    _isWindowFocused = false;
                });
                _countDownTimer = setInterval(updateCountDown, 1000)

                bootbox.dialog({
                    title: "Warning",
                    message: "Your session going to expire in <span id='CountDownHolder'>5:00</span><br/> minutes",
                    //size: "small",
                    closeButton: false,
                    buttons: {
                        Yes: {
                            label: "Stay Connected",
                            className: 'btn green',
                            callback: function () {
                                $.ajax({
                                    url: WebsiteURL + "/Authentication/Authenticate/KeepSessionAlive",
                                    type: "POST",
                                    datatype: "json",
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    success: function (data) {
                                        if (!data.success)
                                            DisplayNotiMessage("error", data.message, "Error");
                                        schedulePopup();
                                    },
                                    error: function () {
                                        stopTimers();
                                        DisplayNotiMessage("error", "Error occured connection fail!", "Error");
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'Logout',
                            className: 'btn red',
                            callback: function () {
                                window.location = WebsiteURL + "/Authentication/Authenticate/Logout";
                            }
                        }
                    }
                });
                if (Notification.permission != "granted") {
                    Notification.requestPermission().then(function (result) {
                        if (result === 'granted') pushNotifcation();
                    });
                } else
                    pushNotifcation();
            };
            var pushNotifcation = function () {
                var notification = new Notification("Warning", {
                    body: "Your session going to expire in 5:00 minutes",
                    icon: WebsiteURL + "/Images/icons/icon-72x72.png",
                    tag: "request",
                    vibrate: [200, 100, 200, 100, 200, 100, 400],
                });
                notification.onclick = function (x) { window.focus(); this.close(); };
            };
            var schedulePopup = function () {
                stopTimers();
                _popupTimer = window.setTimeout(showPopup, (((@Session.Timeout-5) * 60) - _timeLeft) * 1000);
            };
            var sendKeepAlive = function () {
                stopTimers();
            };

            return {
                schedulePopup: schedulePopup,
                sendKeepAlive: sendKeepAlive
            };
        })();
        SessionTimeout.schedulePopup();
        // ----------------------------------- //
    </script>
    @Styles.Render("~/Content/font-awesome/css")
    <link href="~/Content/ThemeCss/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/searchFilter.custom.dataTables.css" rel="stylesheet" />
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/bootstrap-switch/css")
    @Styles.Render("~/Content/Theme/css")
    @Styles.Render("~/Content/ThemeCssUI/css")
    @Styles.Render("~/Content/layout2/css")
    @Styles.Render("~/Content/select2/css")
    @Styles.Render("~/Content/Common/css")

    @Scripts.Render("~/bundles/ThemeJs/js")
    @Scripts.Render("~/bundles/ThemeJsUI/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery-validation/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/Common/js")
    <script src="~/Scripts/Column-Filter.js"></script>
    <script src="~/Scripts/Column-Filter-FixHeader.js"></script>
    <link href="~/Content/loader.css" rel="stylesheet" />
    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            /*padding-right: 0px;*/
        }

        .clsDisplayInlineEle {
            display: inline;
        }
    </style>
    <style>
        #divLoader {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 10101;
        }

        .loader {
            height: 20px;
            width: 250px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .loader--dot {
            animation-name: loader;
            animation-timing-function: ease-in-out;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            height: 20px;
            width: 20px;
            border-radius: 100% !important;
            background-color: black;
            position: absolute;
            border: 2px solid rgba(255, 255, 255, 0.54);
        }

            .loader--dot:first-child {
                background-color: #8cc759;
                animation-delay: 0.5s;
            }

            .loader--dot:nth-child(2) {
                background-color: #8c6daf;
                animation-delay: 0.4s;
            }

            .loader--dot:nth-child(3) {
                background-color: #ef5d74;
                animation-delay: 0.3s;
            }

            .loader--dot:nth-child(4) {
                background-color: #f9a74b;
                animation-delay: 0.2s;
            }

            .loader--dot:nth-child(5) {
                background-color: #60beeb;
                animation-delay: 0.1s;
            }

            .loader--dot:nth-child(6) {
                background-color: #fbef5a;
                animation-delay: 0s;
            }

        .loader--text {
            position: absolute;
            top: 200%;
            left: 0;
            right: 0;
            width: 4rem;
            margin: auto;
            text-shadow: 1px 1px #b7b7b7;
        }

            .loader--text:after {
                content: "Loading";
                font-weight: bold;
                animation-name: loading-text;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }

        @@keyframes loader {
            15% {
                transform: translateX(0);
            }

            45% {
                transform: translateX(230px);
            }

            65% {
                transform: translateX(230px);
            }

            95% {
                transform: translateX(0);
            }
        }

        @@keyframes loading-text {
            0% {
                content: "Loading";
            }

            25% {
                content: "Loading.";
            }

            50% {
                content: "Loading..";
            }

            75% {
                content: "Loading...";
            }
        }

        @@media (min-width:768px) {
            .form-horizontal .control-label {
                text-align: left;
                margin-bottom: 0;
                padding-top: 7px;
            }
        }

        .page-logo > a > img.logo-default {
            width: 100%;
            margin-top: 0px !important;
            padding-right: 10% !important;
        }

        .accesssummaryli {
            padding: 8px 8px 8px 25px !important;
        }

        .marquee {
            height: 34px;
            overflow: hidden;
            position: relative;
            background: linear-gradient(90deg,#f9c526 1%,#f7f9b6 0%,#fbeba3 95%) !important;
        }

            .marquee b {
                font-family: Calibri;
                color: #006e9a;
                font-size: 22px;
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                line-height: 34px;
                text-align: center;
                /* Starting position */
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                /* Apply animation to this element */
                -moz-animation: scroll-left 20s linear infinite;
                -webkit-animation: scroll-left 20s linear infinite;
                animation: scroll-left 20s linear infinite;
            }
        /* Move it (define the animation) */
        @@-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }

            100% {
                -moz-transform: translateX(-100%);
            }
        }

        @@-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }

            100% {
                -webkit-transform: translateX(-100%);
            }
        }

        @@keyframes scroll-left {
            0% {
                -moz-transform: translateX(75%); /* Browser bug fix */
                -webkit-transform: translateX(75%); /* Browser bug fix */
                transform: translateX(75%);
            }

            100% {
                -moz-transform: translateX(-75%); /* Browser bug fix */
                -webkit-transform: translateX(-75%); /* Browser bug fix */
                transform: translateX(-75%);
            }
        }
        /* ----- Announcement countdown ----- */
        #ldlAnnouncementCountdown {
            display: none;
            width: 120px;
            position: fixed;
            right: 50%;
            top: 8px;
            left: 50%;
            z-index: 9996;
            position: fixed;
        }

            #ldlAnnouncementCountdown .label-circle {
                display: inline-block;
                background-color: #f7f7f7;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
                background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
                background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
                background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
                background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
                color: red;
                width: 50px;
                height: 50px;
                text-align: center;
                text-shadow: 1px 1px 1px #560606;
                line-height: 47px;
                font-size: x-large;
                border-radius: 50% !important;
                box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
                transform-style: preserve-3d;
            }

                #ldlAnnouncementCountdown .label-circle:last-child {
                    -webkit-animation: spinX 1000ms linear infinite;
                    animation: spinX 1000ms linear infinite;
                }

        @@-webkit-keyframes spinX {
            0% {
                -webkit-transform: rotateX(0deg);
            }

            70% {
                -webkit-transform: rotateX(90deg);
            }

            100% {
                -webkit-transform: rotateX(0deg);
            }
        }

        @@keyframes spinX {
            0% {
                transform: rotateX(0deg);
            }

            70% {
                transform: rotateX(90deg);
            }

            100% {
                transform: rotateX(0deg);
            }
        }

        .page-content-wrapper > .page-content{
            margin-left:0px !important;
        }
        /*-----------------------------------------*/
    </style>
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />
    <link rel="manifest" href="~/manifest.json">
</head>
<body id="dvrolesslidebar" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="javaScript:void(0)" onclick="resetLocalStorage('/DES/Dashboard')" style="height:0px !important;">
                    @*<img src="~/Images/ThemeImages/IEMQS-Logo.png" alt="#" class="logo-default" style="width: 160px;" />*@
                    <h1 class="text-white text-uppercase logo-default" style="color: White; margin-top: 22px; font-size: 20px; ">
                        <i class="fa fa-home" aria-hidden="true" style="font-size: 20px; ">
                        </i> IEMQS
                    </h1>
                </a>
                <div class="menu-toggler sidebar-toggler"></div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <div class="page-actions">
                @Html.Partial("_PageActionPartial")
            </div>
            <div class="page-top">
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        @*@Html.Partial("_HeaderNotificationPartial")
                            @Html.Partial("_HeaderInboxPartial")
                            @Html.Partial("_HeaderTaskPartial")*@
                        @Html.Partial("_RightSidebarPartial")
                        @*<li class="dropdown dropdown-extended quick-sidebar-toggler">
                                <span class="sr-only">Toggle Quick Sidebar</span>
                                <i class="icon-logout"></i>
                            </li>*@
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="page-container">

        @*<div class="page-sidebar-wrapper" id="dvsidebar">
            @Html.Partial("_SidebarPartial")
        </div>*@

        <div class="page-content-wrapper">
            <div id="ldlAnnouncementCountdown">
                <span class="label-circle"></span>
                <span style="font-size: x-large !important;height: 30px;">:</span>
                <span class="label-circle"></span>
            </div>
            <div id="ischkclass" style="display:none;">
                <b id="isstatus">dd</b>
            </div>
            @*<div class="page-bar">
                    <ul class="page-breadcrumb">
                        @Html.MvcSiteMap().SiteMapPath("SiteMapPathHelperModel")
                    </ul>
                </div>*@
            @RenderBody()
        </div>
        <!-- BEGIN QUICK SIDEBAR -->
        @*<a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>*@
        <div class="page-quick-sidebar-wrapper" data-close-on-body-click="true">
            <div class="page-quick-sidebar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                            Authorization Summary
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                        <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="">
                            <h3 class="list-heading" style="color:white;font-weight:bold;">Roles</h3>
                            <ul class="media-list list-items" id="ulRoles" style="color:white;background-color: #007b62;"></ul>
                            <h3 class="list-heading" style="color:white;font-weight:bold;">Location</h3>
                            <ul class="media-list list-items" id="ulLocation" style="color:white;background-color: #947600;"></ul>
                            <h3 class="list-heading" style="color:white;font-weight:bold;">BU</h3>
                            <ul class="media-list list-items" id="ulBU" style="color:white;background-color: #34495e;"></ul>
                            <h3 class="list-heading" id="glbcategory" style="color:white;font-weight:bold;">Global Category Used</h3>
                            <ul class="media-list list-items" id="uiglobal" style="color:white;background-color: #1c7981;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    @Html.Partial("_FooterPartial")
    <div class="quick-nav-overlay"></div>
    <div id="divLoader">
        @*<div class='loader'>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--text'></div>
            </div>*@
        <div class="loadercontainer">
            <div class="loader1">
            </div>
        </div>
    </div>
    <script src="~/Scripts/ThemeScripts/Plugins/js.cookie.min.js"></script>
    <script src="~/Content/assets/global/plugins/jquery.pulsate.min.js"></script>
    @Scripts.Render("~/bundles/jquery-slimscroll/js")
    @Scripts.Render("~/bundles/jquery.blockui/js")
    @Scripts.Render("~/bundles/bootstrap-switch/js")
    @*<script src="~/Scripts/ThemeScripts/layout.js"></script>
        <script src="~/Scripts/ThemeScripts/demo.js"></script>
        <script src="~/Scripts/ThemeScripts/quick-sidebar.js"></script>
        <script src="~/Scripts/ThemeScripts/quick-nav.js"></script>*@
    @Scripts.Render("~/bundles/CommonFooter/js")
    @RenderSection("scripts", required: false)
    <script>
        //$(document).ready(function () {
        //    //LoadSidebarPartial();

        //});

        function LoadSidebarPartial() {
            $.ajax({
                url: WebsiteURL + "/Utility/General/LoadSidebarPartial",
                type: "POST",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { status: status },
                success: function (result) {
                    $("#dvsidebar").html(result);
                },
                error: function () {
                }
            });
        }

        function IsStatus() {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/Utility/General/GetStatus",
                success: function (response) {
                    if (response.Key) {
                        $("#isstatus").text(response.Value);
                        // ----- for highlight Announcement Message Before 5 minute ----- //
                        var time = response.Value.match(/\d{2}\:\d{2} [am|pm|AM|PM]{2}/g);
                        var date = response.Value.match(/\d{2}[\/|\-]\d{2}[\/|\-]\d{4}/g);
                        if (time != null) {
                            time = time[0];
                            var onHour = parseInt(time.substring(0, 2));
                            var onMin = parseInt(time.substring(3, 5))
                            var onM = time.substring(6, 8)
                            if (onM.toLowerCase() == 'pm' && onHour != 12)
                                onHour += 12;
                            else if (onM.toLowerCase() == 'am' && onHour == 12)
                                onHour = 0;
                            var onDate = new Date().getDate();
                            var onMonth = new Date().getMonth();
                            var onYear = new Date().getFullYear();
                            if (date) {
                                date = date[0];
                                onDate = parseInt(date.substr(0, 2));
                                onMonth = parseInt(date.substr(3, 2)) - 1;
                                onYear = parseInt(date.substr(6, 4));
                            }
                            var blinkNEWS = new Date(onYear, onMonth, onDate, onHour, onMin - 5)
                            var intervalNews = setInterval(function () {
                                if (new Date() > blinkNEWS) {
                                    jQuery('#ischkclass').pulsate({
                                        color: "#bf1c56"
                                    });
                                    startAnnouncementCountdown(blinkNEWS)
                                    clearInterval(intervalNews);
                                }
                            }, 1000)
                        }
                        // ------------------------------------ //
                        $("#ischkclass").addClass("marquee");
                        $("#ischkclass").show()
                    } else {
                        $("#ischkclass").removeClass("marquee");
                        $("#ischkclass").hide()
                    }
                },
                error: function () {
                    //alert("error occured");
                }
            });
            function startAnnouncementCountdown(timeLeft) {
                var _timeLeft = (timeLeft - new Date()) / 1000;
                _timeLeft = parseInt(_timeLeft.toFixed()) + 300;
                if (_timeLeft < 0)
                    return false;
                $('#ldlAnnouncementCountdown').show(2000);
                var AnnouncementCountdown = setInterval(function () {
                    var min = Math.floor(_timeLeft / 60);
                    var sec = _timeLeft % 60;
                    if (sec < 10)
                        sec = "0" + sec;
                    if (min < 10)
                        min = "0" + min;

                    if ($("#ldlAnnouncementCountdown span:eq(0)").html() != min) {
                        $("#ldlAnnouncementCountdown span:eq(0)").css("animation", "spinX 1000ms linear infinite");
                        setTimeout(function () {
                            $("#ldlAnnouncementCountdown span:eq(0)").html(min);
                            $("#ldlAnnouncementCountdown span:eq(0)").css("animation", "unset");
                        }, 800)
                    }
                    setTimeout(function () { // change sec before coin mid of flip
                        $("#ldlAnnouncementCountdown span:eq(2)").html(sec);
                    }, 700)

                    if (_timeLeft > 0) {
                        _timeLeft--;
                    } else {
                        clearInterval(AnnouncementCountdown);
                        $('#ldlAnnouncementCountdown').hide(1000);
                    }
                }, 1000);
            }
        }

        $(document).ready(function () {
            @{
                 string strglobal = string.Empty;
                 List<string> global = (List<string>)@HttpContext.Current.Session[clsImplementationMessage.Session.GlobalCategoryUsed];
                 strglobal = (global != null ? string.Join(",", global) : "");
            }

            var global = '@strglobal';
            var url = window.location.href;
            var strpath = "NDE";
            if (url.indexOf(strpath) == -1) {
                global = null;
            }

            IsStatus();
            $("#uiglobal").html("");


            if (localStorage.getItem("userroles") != null) {
                var roleslist = ""
                var roles = JSON.parse(localStorage.getItem("userroles"));
                $.each(roles, function (key, input) {
                    roleslist += "<li class='media accesssummaryli'><div class='media-body'><h4 class='media-heading'>" + input.Code + ' - ' + input.Name + "</h4><div class='media-heading-sub'></div></div></li>";
                });
                $("#ulRoles").html(roleslist);
            }
            if (localStorage.getItem("userbus") != null) {
                var bulist = ""
                var bus = JSON.parse(localStorage.getItem("userbus"));
                $.each(bus, function (key, input) {
                    bulist += "<li class='media accesssummaryli'><div class='media-body'><h4 class='media-heading'>" + input.Code + ' - ' + input.Name + "</h4><div class='media-heading-sub'></div></div></li>";
                });
                $("#ulBU").html(bulist);
            }
            if (localStorage.getItem("userlocations") != null) {
                var locationlist = ""
                var locations = JSON.parse(localStorage.getItem("userlocations"));
                $.each(locations, function (key, input) {
                    locationlist += "<li class='media accesssummaryli'><div class='media-body'><h4 class='media-heading'>" + input.Code + ' - ' + input.Name + "</h4><div class='media-heading-sub'></div></div></li>";
                });
                $("#ulLocation").html(locationlist);
            }
            if (global != null && global != "" && global != undefined) {
                debugger;
                var globalist = "";
                var strarray = global.split(',');
                for (var i = 0; i < strarray.length; i++) {
                    // alert(strarray[i])
                    globalist += "<li class='media accesssummaryli'><div class='media-body'><h4 class='media-heading'>" + strarray[i] + "</h4><div class='media-heading-sub'></div></div></li>";
                }
                $("#uiglobal").html(globalist);
                $("#glbcategory").show();
                $("#uiglobal").show();

            }
            else {
                $("#uiglobal").html("");
                $("#glbcategory").hide();
                $("#uiglobal").hide();
            }
        });

        function showTableColumnDetails() {
            var result = "";
            @if (ViewBag.lstTableColumnDetails != null)
            {
                List<SP_TABLE_COLUMNS_INFO_Result> data = ViewBag.lstTableColumnDetails;
                foreach (var item in data)
                {
                    if(item.DataType == "Table")
                    {
                        <text> result += "<table class='tblTableColumn table table-hover'><thead>\
                            <tr colname='@item.ColumnName'><td colspan='3' align='center'><b>@item.ColumnName - @item.Description</b> </td></tr>\
                            <tr><th>Column Name</th><th>Column Type</th><th>Column Description</th></tr>\
                            </thead><tbody>\n\r";</text>;
                    }
                    else
                    {
                        <text> result += "<tr colname='@item.ColumnName'><td>@item.ColumnName</td><td>@item.DataType</td><td>@item.Description</td></tr>\n\r";</text>;
                    }
                    if(item.minor_id == data.Where(w => w.TableName == item.TableName).Max(s => s.minor_id))
                    {
                        <text> result += "<tbody><table>\n\r"; </text>;
                    }
                }
            }
            bootbox.dialog({
                title: "Table Details",
                message: result,
                size: 'large'
            });
        }
    </script>
</body>

</html>
