﻿@model IEMQS.Areas.Utility.Controllers.FCS_FileUploadEnt

<style>
    .m-dropzone {
        border-radius: 4px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        background: rgba(52, 191, 163, 0.2);
        border: 2px dashed #ebedf2;
    }

        .m-dropzone .m-dropzone__msg-title {
            margin: 0 0 5px 0;
            padding: 0;
            font-weight: bold;
            /*font-size: 1.1rem*/
        }

        .m-dropzone .m-dropzone__msg-desc {
            font-size: .85rem
        }

        .m-dropzone .dz-preview .dz-image {
            border-radius: 6px
        }

        .m-dropzone .m-dropzone__msg-title {
            color: #575962
        }

        .m-dropzone .m-dropzone__msg-desc {
            color: #6f727d
        }

        .m-dropzone.m-dropzone--brand {
            border-color: #716aca
        }

        .m-dropzone.m-dropzone--metal {
            border-color: #c4c5d6
        }

        .m-dropzone.m-dropzone--light {
            border-color: #fff
        }

        .m-dropzone.m-dropzone--accent {
            border-color: #00c5dc
        }

        .m-dropzone.m-dropzone--focus {
            border-color: #9816f4
        }

        .m-dropzone.m-dropzone--primary {
            border-color: #5867dd
        }

        .m-dropzone.m-dropzone--success {
            border-color: #34bfa3
        }

        .m-dropzone.m-dropzone--info {
            border-color: #36a3f7
        }

        .m-dropzone.m-dropzone--warning {
            border-color: #ffb822
        }

        .m-dropzone.m-dropzone--danger {
            border-color: #f4516c
        }

        .m-dropzone.m-dropzone--disable {
            border-color: #d9d9d9;
            cursor: not-allowed;
            color: #d9d9d9;
            background-color: #909393;
        }

            .m-dropzone.m-dropzone--disable:hover {
            }

    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
</style>

@Html.Hidden("CurrentLocationIp" + Model.ControlID.ToString(), (string)Model.CurrentLocationIp)
@Html.Hidden("FilePath" + Model.ControlID.ToString(), (string)Model.FilePath)
@Html.Hidden("TableName" + Model.ControlID.ToString(), (string)Model.TableName)
@Html.Hidden("TableId" + Model.ControlID.ToString(), (string)Model.TableId)
@Html.Hidden("DocumentPath" + Model.ControlID.ToString(), (string)Model.DocumentPath)
@Html.Hidden("ViewerId" + Model.ControlID.ToString(), (int)Model.ViewerId)
@Html.Hidden("IsRequired" + Model.ControlID.ToString(), Model.IsRequired)
@Html.Hidden("FileLocation" + Model.ControlID.ToString(), (int)Model.FileLocation)

<fieldset>
    <legend> Upload Document  </legend>
    <div class="col-md-12">
        <div id="docMessage1" class="col-md-12 note note-success" style="display: block;">
            <b>File Upload - Important Notes :</b> <br>
            The file size must be greater than 0 KB. <br>
            A file name cannot contain any of the following characters: \ / : * ? " &lt; &gt; | # { } % ~ &amp;<br>
            <u>Upload, It will take some processing time to it make it available, based on its size and no of files</u>.
        </div>
    </div>
    <div class="col-lg-12" id="div_dz_@Model.ControlID.ToString()">
        <div class="m-dropzone dropzone m-dropzone--success" action="#" id="@Model.ControlID.ToString()">
            <div class="m-dropzone__msg dz-message needsclick">
                <h3 class="m-dropzone__msg-title">Drop files here or click to upload</h3>
            </div>
        </div>
    </div>
</fieldset>

<fieldset id="div_tbl_@Model.ControlID.ToString()">
    <legend> Document List  </legend>
    <div class="col-lg-12">
        <table class="table  table-bordered table-hover" id="tbl_document_list_@Model.ControlID.ToString()" style="width:100%"> </table>
    </div>
</fieldset>

<script>

    var callbackFunctionName@(Model.ControlID)= '@(Model.SuccessCallbackFunction)';
    var deletecallbackFunctionName@(Model.ControlID)='@(Model.DeleteSuccessCallbackFunction)';
    var documentloadcallbackFunctionName@(Model.ControlID)= '@(Model.DocumentLoadCallbackFunction)';
    var DocList@(Model.ControlID.ToString());
    var vIsDocListEmpty = true;

    function paramNameForSend() {
        return 'DocumentFile[]';
    }
    $(document).ready(function () {
        Dropzone.autoDiscover = false;
        fn_Get_all_document_name();
    });
    var iii = 1;
    var regex = /\@@|\#|\$|\*|\[|\{|\]|\}|\||\\|\<|\,|\>|\?|\/|\"/;
    var IsCustomeError = false;
    setTimeout(function () {
        var vFUDivName = 'div#' + '@(Model.ControlID.ToString())';
        var @(Model.ControlID.ToString()) = new Dropzone(vFUDivName, {
            timeout: 18000000,
            maxFilesize: '@(Model.MaxFileUploadSizeInMB)',
            maxFiles: 10,
            parallelUploads: 10,
            parallelChunkUploads: true,
            forceChunking: true,
            paramName: paramNameForSend,
            uploadMultiple: true,
            autoProcessQueue: @(Model.AutoProcessQueue.ToString().ToLower()),
            acceptedFiles: "@(Model.AllowFileExtension.ToString())",
            dictInvalidFileType: "File should be one of the following types: @(Model.AllowFileExtension.ToString()).",
            preventDuplicates: true,
            dictDuplicateFile: "Duplicate Files Cannot Be Uploaded",
            accept: function (file, done) {
                var fileName = regex.test(file.name);
                if (fileName) {
                    toastr.info(file.name + " Contains special characters", "Info");
                    DeleteFileFromDropzone(file);
                }
                else if (file.size == 0) {
                    toastr.info("All selected file size must be greater than 0 KB.", "Info");
                    DeleteFileFromDropzone(file);
                }
                else {
                    var dotNameSplit = file.name.split('.');
                    if (dotNameSplit.length > 2) {
                        toastr.info(file.name + " Contains special characters", "Info");
                        DeleteFileFromDropzone(file);
                    }
                    else {
                        if (!fn_CheckFileNameExitsorNot(file.name)) {
                            done();
                        }
                        else {
                            toastr.info("File " + file.name + " already exist.","Information");
                            DeleteFileFromDropzone(file);
                            return false;
                        }
                    }
                }
            },
            init: function () {
                this.on("error", function (file, errorMessage) {
                    toastr.error(errorMessage, "Error");
                    DeleteFileFromDropzone(file);
                });
                this.on("maxfilesexceeded", function (file) {
                    if (this.files.length == 11) {
                        if (iii == 1)
                            toastr.error("10 Files can be uploded at once!", "Error");
                        iii++;
                    }
                    DeleteFileFromDropzone(file);
                });
            },
            queuecomplete: function () {
                iii = 1;
            }
        });

        if ('@(Model.IsDisabled)' == 'True') {
            @(Model.ControlID.ToString()).disable();
            $("#@(Model.ControlID.ToString())").addClass("m-dropzone--disable");
        }
        else {
            @(Model.ControlID.ToString()).enable();
        }

        @(Model.ControlID.ToString()).on('sendingmultiple', function (file, xhr, formData, progress, bytesSent) {

            if ('@(Model.IsMultipleUploaded)' == 'False') {
                if ($("#tbl_document_list_@(Model.ControlID.ToString())").DataTable().rows().count() > 0) {
                    toastr.info("Please First Remove Uploaded Files To Upload New File!", "Information");
                    DeleteFileFromDropzone(file);
                    return false;
                }
            }

            $('.dz-error-message').css('display', 'none');
            $('.dz-success-mark').css('display', 'block');
            $('.dz-error-mark').css('display', 'none');

            if ($('#CurrentLocationIp@(Model.ControlID.ToString())').val() != "") {
                formData.append('DocumentPath', $('#DocumentPath@(Model.ControlID.ToString())').val());
                formData.append('SavedPath', $('#FilePath@(Model.ControlID.ToString())').val());
                var filess = [];
                for (var i = 0; i < file.length; i++) {
                    filess.push(file[i]);
                    formData.append('DocumentFile[]', file[i]);
                }
                showLoading(true);

                window.onbeforeunload = function () {
                    var prevent_leave = true;
                    if (prevent_leave) {
                        return "Your files are not completely uploaded yet...";
                    }
                }

                jQuery.ajax({
                    url: $('#CurrentLocationIp@(Model.ControlID.ToString())').val() + "/api/DocumentUpload",
                    data: formData,
                    enctype: 'multipart/form-data',
                    cache: false,
                    async: true,
                    contentType: false,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    success: function (response) {
                        //console.log(response);
                        if (response.Uploded) {
                            var docMapp = {
                                TableId: $("#TableId@(Model.ControlID.ToString())").val(),
                                TableName: $("#TableName@(Model.ControlID.ToString())").val(),
                                FileLocation: $("#FileLocation@(Model.ControlID.ToString())").val(),
                                ViewerId: $("#ViewerId@(Model.ControlID.ToString())").val(),
                                FileFormatData: response.FileData
                            };
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/Utility/FileUpload/SaveDocumentDetails", //If get File Then Document Mapping Add
                                data: JSON.stringify(docMapp),
                                contentType: "application/json;charset=utf-8",
                                dataType: "json",
                                aysnc: true,
                                success: function (response) {
                                    if (response) {
                                        toastr.success(response.Value, "Success");
                                        DeleteFileFromDropzone(file);

                                        //SUCCESS CALL BACK
                                        try {
                                            if (callbackFunctionName@(Model.ControlID) != "") {
                                                @(Model.SuccessCallbackFunction)
                                            }
                                        } catch (e) {
                                            console.log("Success call back function not define." + e);
                                        }

                                        ReloadGrid();

                                        showLoading(false);
                                    } else {
                                        toastr.error(response.Value, "Not Success");
                                        showLoading(false);
                                    }
                                },
                                error: function (response) {
                                    toastr.error(response.Msg, "Error");
                                    DeleteFileFromDropzone(file)
                                    showLoading(false);
                                }
                            });
                        }
                        else {
                            toastr.error("Fail to Uploaded on Server", "Error");
                            DeleteFileFromDropzone(file);
                            showLoading(false);
                        }
                        window.onbeforeunload = function () {
                            var prevent_leave = false;
                            if (prevent_leave) {
                                return "Your files are not completely uploaded...";
                            }
                        }
                    },
                }).fail(function (data) {
                    console.log('Error: -- ' + data);
                    DeleteFileFromDropzone(file);
                    toastr.error("Server response not received", "Error");
                    showLoading(false);

                    window.onbeforeunload = function () {
                        var prevent_leave = false;
                        if (prevent_leave) {
                            return "Your files are not completely uploaded...";
                        }
                    }
                });
            }
            else {
                toastr.error("Ip is not detecting", "Error");
                DeleteFileFromDropzone(file);
                showLoading(false);
            }
        });

        function DeleteFileFromDropzone(file) {
            Dropzone.forElement(vFUDivName).removeAllFiles(file);
            //Dropzone.forElement(vFUDivName).removeAllFiles(true);
        }


        var @(Model.ControlID.ToString());

        $(document).ready(function () {
            @(Model.ControlID.ToString()) = $("#tbl_document_list_@(Model.ControlID.ToString())").DataTable({
                "serverSide": true,
                "processing": true,
                "orderMulti": false,
                "filter": true,
                "sAjaxSource": WebsiteURL + "@(Model.FilesDisplayFromURL.ToString())",//"/Utility/FileUpload/GetDocumentsByTableNameAndTableId"
                "iDisplayLength": 10,
                "ordering": true,
                "scrollX": true,
                "responsive": true,
                "language": {
                    "infoFiltered": ""
                },
                "order": [[0, 'desc']],
                "columnDefs": [

                ],

                "fnServerData": function (sSource, data, fnCallback) {
                    data.push({ name: "TableId", value: $('#TableId@(Model.ControlID.ToString())').val()});
                    data.push({ name: "TableName", value: $('#TableName@(Model.ControlID.ToString())').val() });
                    data.push({ name: "ViewerId", value: $('#ViewerId@(Model.ControlID.ToString())').val() })
                    $.ajax({
                        "dataType": "json",
                        "type": "POST",
                        "url": sSource,
                        "data": data,
                        "success": fnCallback
                    });

                },
                "aoColumns": [
                    {
                        "sTitle": "Action", "className": "", "orderable": false, render: function (data, type, row, meta) {
                            var sAction = '';
                            if ('@Model.ShowDownloadBtn.ToString()' == 'True' )
                                sAction += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill btnDownload" title="Download"><i class="fa fa-download m--font-brand"></i></a>';
                            sAction += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-focus m-btn--icon m-btn--icon-only m-btn--pill btnUV" title="Universal Viewer"> <i class="fa fa-desktop m--font-focus"></i></a>';
                            if ('@Model.ShowDeleteAction.ToString()' == 'True')
                                sAction += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btnDeleteDFM" title="Delete"><i class="fa fa-trash text-danger"></i></a>';
                            return sAction;
                        }
                    },
                    {
                        "sTitle": "DMId", "visible": false, "orderable": false, render: function (data, type, row, meta) {
                            return row.DocumentMappingId
                        }
                    },
                    {
                        "sTitle": "Name", render: function (data, type, row, meta) {
                            return row.Document_name
                        },
                    },
                    {
                        "sTitle": "Remark", "orderable": true, render: function (data, type, row, meta) {
                            var strHtml = '';
                            if (row.Remark == null || row.Remark == "undifined" || row.Remark == '') {
                                strHtml = "<textarea name='GenralRemark' type='text' id='GenralRemark" + row.DocumentMappingId + "'  class='form-control m-input  m-input--square GenralRemark'   />";
                            }
                            else {
                                strHtml = "<textarea name='GenralRemark' disabled type='text' id='GenralRemark" + row.DocumentMappingId + "'  class='form-control m-input  m-input--square GenralRemark'  >" + row.Remark + "</textarea>";
                            }
                            return strHtml;
                        },
                    },
                    {
                        "sTitle": "Status", "orderable": false, "visible": false, render: function (data, type, row, meta) {
                            return row.Status
                        },
                    },
                    {
                        "sTitle": "TableName", "orderable": false, "visible": false, render: function (data, type, row, meta) {
                            return row.TableName
                        },
                    },
                    {
                        "sTitle": "TableId", "visible": false, "orderable": false, render: function (data, type, row, meta) {
                            return row.TableId
                        }
                    },
                    {
                        "sTitle": "Main DocumentPath", "className": "", "visible": false, render: function (data, type, row, meta) {
                            return row.MainDocumentPath;
                        }
                    },
                    {
                        "sTitle": "Uploaded By", "orderable": false, render: function (data, type, row, meta) {
                            return row.CreatedBy
                        }
                    },
                    {
                        "sTitle": "Uploaded On", "orderable": false, render: function (data, type, row, meta) {
                            return row.CreatedOn
                        }
                    },
                    {
                        "sTitle": "Edited By", "orderable": false, "visible": false, render: function (data, type, row, meta) {
                            return row.EditedBy
                        }
                    },
                    {
                        "sTitle": "Edited On", "orderable": false, "visible": false, render: function (data, type, row, meta) {
                            return row.EditedOn
                        }
                    },
                ],

                "initComplete": function () {

                },

                "fnRowCallback": function () {

                }

            });
        });

        function ReloadGrid() {
            @(Model.ControlID.ToString()).ajax.reload();
            fn_Get_all_document_name();
            try {
                if (documentloadcallbackFunctionName@(Model.ControlID) != "") {
                    @(Model.DocumentLoadCallbackFunction)
                }
            } catch (e) {
                console.log("Document Load success call back function not define." + e);
            }
        }

        //DELETE
        $("#tbl_document_list_@(Model.ControlID.ToString())").on('click', 'td .btnDeleteDFM', function () {
            if ('@(Model.IsDisabled)' == 'False') {
                var tr = $(this).closest('tr');
                var row = @(Model.ControlID.ToString()).row(tr);
                var data = row.data();
                if ('@(Model.RemoveOnlyCreatedByMe)' == 'True') {
                    if (data.CreatedBy != '@(Model.Uploader)') {
                        toastr.warning("You Can Not Delete This File.", "Warning");
                        return false;
                    }
                }

                var userSelection = confirm("Do you want to delete?");
                if (userSelection == true)
                    fn_delete_file_from_server(data);
            }
        });

        function fn_delete_file_from_server(data) {
            showLoading(true);
            var docdelete = {
                deletePath: data.MainDocumentPath
            };
            if ($('#CurrentLocationIp@(Model.ControlID.ToString())').val() != "") {
                $.ajax({
                    url: $('#CurrentLocationIp@(Model.ControlID.ToString())').val() + "/api/DeleteDoc",
                    data: JSON.stringify(docdelete),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    cache: false,
                    async: true,
                    processData: false,
                    method: 'POST',
                    type: 'POST',
                    success: function (response) {
                        if (response.DeleteDOC) {
                            $.ajax({
                                type: "GET",
                                url: WebsiteURL + '/Utility/FileUpload/Delete_Document_File',
                                data: { Id: data.DocumentMappingId },
                                dataType: 'json',
                                contentType: "application/json;charset=utf-8",
                                async: true,
                                success: function (response) {
                                    toastr.success(data.Document_name + ' Document deleted successfully', "Success");

                                    //DELETE CALL BACK
                                    try {
                                        if (deletecallbackFunctionName@(Model.ControlID) != "") {
                                            @(Model.DeleteSuccessCallbackFunction)
                                        }
                                    } catch (e) {
                                        console.log("Delete call back function not define." + e);
                                    }


                                    if (@(Model.ControlID.ToString()).data().count() == 1) {
                                        ReloadGrid();
                                    }
                                    else {
                                        @(Model.ControlID.ToString()).ajax.reload(null, false);
                                    }

                                    showLoading(false);
                                },
                                error: function (error) {
                                    toastr.error("Error while removing file from grid", "Error");
                                    showLoading(false);
                                }
                            })
                        }
                        else {
                            toastr.error("Error while removing file", "Error");
                            showLoading(false);
                        }
                    },
                    error: function (error) {
                        toastr.error("Error while removing file from server", "Error");
                        showLoading(false);
                    }
                });
            }
            else {
                toastr.error("Ip is not detecting", "Error");
                showLoading(false);
            }
        }

        //DOWNLOAD
        $("#tbl_document_list_@(Model.ControlID.ToString())").on('click', 'td .btnDownload', function () {
            var tr = $(this).closest('tr'); 0
            var row = @(Model.ControlID.ToString()).row(tr);
            var data = row.data();
            var CurrentLocationIp = $('#CurrentLocationIp@(Model.ControlID.ToString())').val();
            downloadFile(data.MainDocumentPath, CurrentLocationIp);
        });

    function downloadFile(fielpath, CurrentLocationIp) {
            var FCSurl = CurrentLocationIp + "/Download";
            var DocPathList = [];
            DocPathList.push(fielpath);
            popupWindow(FCSurl + "?DocList=" + DocPathList, "DownloadWindow", window, 500, 500);
        }

        function popupWindow(url, title, win, w, h) {
            const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
            const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
            return win.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
        }

        //UV
        $("#tbl_document_list_@(Model.ControlID.ToString())").on('click', 'td .btnUV', function () {
            var tr = $(this).closest('tr'); 0
            var row = @(Model.ControlID.ToString()).row(tr);
            var data = row.data();
            var randomnumber = Math.floor((Math.random() * 100) + 1);
            var EncodeDocFilePath = escape(data.MainDocumentPath);
            popupWindowUV("https://phzpdiemqsweb.lthed.com:100/Home/Index?DocPath=" + EncodeDocFilePath, "UniverSalWindow", window, screen.availWidth, screen.availHeight, randomnumber);
            //popupWindowUV("https://phzpdiemqsweb.lthed.com:100/Home/Index?DocPath=" + EncodeDocFilePath + "&FileId=" + FileId + "&UserID=" + UserId + "&DocNo=" + DocNo + "&DocId=" + DocId, "UniverSalWindow", window, screen.availWidth, screen.availHeight);
        });

    function popupWindowUV(url, title, win, w, h, no) {
            const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
            const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
            return win.open(url, '_blank', title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
        }

        //REMARKS
        $("#tbl_document_list_@(Model.ControlID.ToString())").on('focusout', 'td .GenralRemark', function () {
            var tr = $(this).closest('tr');
            var row = @(Model.ControlID.ToString()).row(tr);
            var data = row.data();
            var DocumentMappingId = data.DocumentMappingId;

            var Remarkdata = {
                Remark: $('#GenralRemark' + DocumentMappingId).val(),
                DocumentMappingId: DocumentMappingId
            };

            if ($('#GenralRemark' + DocumentMappingId).val() != '' && $('#GenralRemark' + DocumentMappingId).val() != null) {
                showLoading(true);
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + '/Utility/FileUpload/UpdateDocumentRemark',
                    data: JSON.stringify(Remarkdata),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    async: true,
                    success: function (response) {
                        if (response.Status) {
                            $('#GenralRemark' + DocumentMappingId).attr("disabled", "disabled");
                            showLoading(false);
                        } else {
                            toastr.error(response.Msg, "Error");
                            showLoading(false);
                        }
                    },
                    error: function (error) {
                        toastr.error("something went wrong try again later", "Error");
                        showLoading(false);
                    }
                });
            }
        });

        function fn_Check_remark_empty() {
            showLoading(true);
            var Vdata = {
                TableId: $('#TableId@(Model.ControlID.ToString())').val(),
                TableName: $('#TableName@(Model.ControlID.ToString())').val()
            };
            $.ajax({
                type: "POST",
                url: WebsiteURL + '/Utility/FileUpload/CheckAnyRemarksEmptyInTable',
                data: JSON.stringify(Vdata),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                async: true,
                success: function (response) {
                    if (response.Status) { }
                    else { toastr.error(response.Msg, "Error"); }
                    showLoading(false);
                },
                error: function (error) {
                    toastr.error("something went wrong try again later", "Error");
                    showLoading(false);
                }
            });
        }
    }, 1000);

    if ('@(Model.ShowAttachmentBtn.ToString().ToLower())' == 'false') {
        $('#div_dz_@(Model.ControlID.ToString())').hide();
        //$('#div_tbl_@(Model.ControlID.ToString())').hide();
    }
    else {
        $('#div_dz_@(Model.ControlID.ToString())').show();
        //$('#div_tbl_@(Model.ControlID.ToString())').show();
    }


    function UploadFileToServerFromDropzone(vFUDivName,vTableId,vTableName) {
        var Control_Name = 'div#' + vFUDivName;

        if (vTableName != undefined && vTableName != null && vTableName != '')
            $("#TableName" + vFUDivName).val(vTableName);

        if (vTableId != undefined && vTableId != null && vTableId != '')
            $("#TableId" + vFUDivName).val(vTableId);

        if (Dropzone.forElement(Control_Name).files.length > 0)
            Dropzone.forElement(Control_Name).processQueue();
        else {
            //SUCCESS CALL BACK
            try {
                if (callbackFunctionName@(Model.ControlID) != "") {
                      @(Model.SuccessCallbackFunction)
                }
            } catch (e) {
                console.log("Success call back function not define." + e);
            }
        }


        //alert('1: '+Dropzone.forElement(Control_Name).files.length);
        //// To access only accepted files count
        //alert('2: ' +Dropzone.forElement(Control_Name).getAcceptedFiles().length);
        //// To access all rejected files count
        //alert('3: ' +Dropzone.forElement(Control_Name).getRejectedFiles().length);
        //// To access all queued files count
        //alert('4: ' +Dropzone.forElement(Control_Name).getQueuedFiles().length);
        //// To access all uploading files count
        //alert('5: ' +Dropzone.forElement(Control_Name).getUploadingFiles().length);
    }

    function getHasAttachmentsForSubmit(ControlId){
        var vIsRequired = $("#IsRequired" + ControlId).val();
        vIsRequired != undefined && vIsRequired != "" ? vIsRequired.toLowerCase():"false";
        if (vIsRequired == "false") {
            return true;
        }
        else {
            if ($("#tbl_document_list_" + ControlId).DataTable().rows().count() == 0) {
                toastr.info("Attachment Is Required!", "Information");
                return false;
            }
            else
                return true;
        }
    }

    function fn_CheckFileNameExitsorNot(fileName) {
        if (vIsDocListEmpty == false) {
            if (DocList@(Model.ControlID.ToString()).indexOf(fileName) > -1)
                return true;
            else
                return false;
        }
        else
            return false;
    }



    function fn_Get_all_document_name() {
        showLoading(true);

        var Vdata = {
            TableId: $('#TableId@(Model.ControlID.ToString())').val(),
            TableName: $('#TableName@(Model.ControlID.ToString())').val(),
            ViewerId: $('#ViewerId@(Model.ControlID.ToString())').val()
        };

        $.ajax({
            type: "POST",
            url: WebsiteURL + '/Utility/FileUpload/GetAllDocumentFileName',
            data: JSON.stringify(Vdata),
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            async: true,
            success: function (response) {
                if (response.Status) {
                    DocList@(Model.ControlID.ToString()) = response.Msg;
                    vIsDocListEmpty = false;
                }
                showLoading(false);
            },
            error: function (error) {
                showLoading(false);
            }
        });
    }

    function fn_check_files_exits_in_queue(vFUDivName) {
        var Control_Name = 'div#' + vFUDivName;
        if (Dropzone.forElement(Control_Name).files.length == 0 && $("#tbl_document_list_@(Model.ControlID.ToString())").DataTable().rows().count() == 0)
            return false;
        else
            return true;
    }

    function fn_copy_documents(FromFolderName, ToFolderName, TableName, TableId) {
        showLoading(true);

        //REFERANCE
        //FromFolderName = 'c://FCSFiles////ICS001//19//1/';
        //ToFolderName = 'c://FCSFiles////ICS001//34//1/';

        var Vdata = {
            FromFolderName: FromFolderName,
            ToFolderName: ToFolderName
        };

        jQuery.ajax({
            url: $('#CurrentLocationIp@(Model.ControlID.ToString())').val() + "/api/CopyFolderDetails",
            data: Vdata,
            enctype: 'multipart/form-data',
            cache: false,
            async: true,
            contentType: false,
            processData: false,
            method: 'GET',
            type: 'GET',
            success: function (response) {
                //console.log(response);
                if (response.Uploded) {
                    var docMapp = {
                        TableId: TableId,
                        TableName: TableName
                    };
                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/Utility/FileUpload/SaveCopyDocumentDetails",
                        data: JSON.stringify(docMapp),
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        aysnc: true,
                        success: function (response) {
                            if (response) {
                                toastr.success(response.Value, "Success");
                                DeleteFileFromDropzone(file);

                                ReloadGrid();

                                showLoading(false);
                            } else {
                                toastr.error(response.Value, "Not Success");
                                showLoading(false);
                            }
                        },
                        error: function (response) {
                            toastr.error(response.Msg, "Error");
                            DeleteFileFromDropzone(file)
                            showLoading(false);
                        }
                    });
                }
                else {
                    toastr.error("Fail to Uploaded on Server", "Error");
                    DeleteFileFromDropzone(file);
                    showLoading(false);
                }
            },
        }).fail(function (data) {
            console.log('Error: -- ' + data);
            toastr.error("Server response not received", "Error");
            showLoading(false);
        });
    }

</script>