﻿@using IEMQSImplementation
@using IEMQS.Areas.Utility.Models

<div class="form-group">
    <div class="mt-element-step">
        <div class="row step-line">
            @if (Model.ApprovedBy != null)
            {
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                if (Model.EditedBy != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.EditedBy</div><div class="mt-step-content font-grey-cascade">@Model.EditedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                }
                <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.SubmittedBy</div><div class="mt-step-content font-grey-cascade">@Model.SubmittedOn</div></div>
                if (Model.ReturnedBy != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReturnedBy</div><div class="mt-step-content font-grey-cascade">@Model.ReturnedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                }
                <div class="col-md-2 mt-step-col last done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ApprovedBy</div><div class="mt-step-content font-grey-cascade">@Model.ApprovedOn</div></div>
                <div class="col-md-1"></div>
            }
            else if (Model.ApprovedBy == null && Model.SubmittedBy != null)
            {
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                if (Model.EditedBy != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.EditedBy</div><div class="mt-step-content font-grey-cascade">@Model.EditedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                }
                <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.SubmittedBy</div><div class="mt-step-content font-grey-cascade">@Model.SubmittedOn</div></div>
                if (Model.ReturnedBy != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.ReturnedBy</div><div class="mt-step-content font-grey-cascade">@Model.ReturnedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                }
                <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approve Date</div></div>
                <div class="col-md-1"></div>
            }
            else if (Model.ApprovedBy == null && Model.SubmittedBy == null && Model.CreatedBy != null)
            {
                <div class="col-md-1"></div>
                <div class="col-md-2 mt-step-col first done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Created</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.CreatedBy</div><div class="mt-step-content font-grey-cascade">@Model.CreatedOn</div></div>
                if (Model.EditedBy != null)
                {
                    <div class="col-md-2 mt-step-col done"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white"><li class="fa fa-check"></li></div><div class="mt-step-title font-grey-cascade" style="font-size:15px">@Model.EditedBy</div><div class="mt-step-content font-grey-cascade">@Model.EditedOn</div></div>
                }
                else
                {
                    <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Modified</div><div class="mt-step-number bg-white">2</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Modified By</div><div class="mt-step-content font-grey-cascade">Modified Date</div></div>
                }
                <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Submitted</div><div class="mt-step-number bg-white">3</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Submitted By</div><div class="mt-step-content font-grey-cascade">Submit Date</div></div>
                <div class="col-md-2 mt-step-col"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Returned</div><div class="mt-step-number bg-white">4</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Returned By</div><div class="mt-step-content font-grey-cascade">Return Date</div></div>
                <div class="col-md-2 mt-step-col last"><div class="mt-step-content font-grey-cascade" style="font-size:20px">Approved</div><div class="mt-step-number bg-white">5</div><div class="mt-step-title font-grey-cascade" style="font-size:15px">Approved By</div><div class="mt-step-content font-grey-cascade">Approve Date</div></div>
                <div class="col-md-1"></div>
            }
        </div>
    </div>
</div>

