﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@
<div class="page-content">
    <div class="row">
        <div class="col-md-12 page-500">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="details" style="text-align:center; margin-top:165px;">
                    <h3 style="font-weight:bold; border-style:solid; border-color:#F80F0F;">An error occurred while processing your request....!</h3>
                    <p>
                        <a href="~/Authentication/Authenticate/Index" class="btn red btn-outline"> Return Dashboard </a>
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
