﻿
@using IEMQSImplementation
@model WPP010_Log
@{
    ViewBag.Title = "View Details";
    string FileUpload1ControlID = "fuUpload1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/datetimepicker/css")
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
     .clsBootbox {
        padding:0px!important;
    }
    .clsBootbox .modal-lg {
    width: 79% !important;

    }
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title"> Welding Procedure Plan</span>
                </div>
                <div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                    <span style="font-weight:bolder">
                        Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                    </span>
                </div>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
            {
                @Html.HiddenFor(model => model.HeaderId)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Location)
                <div class="clsHeader">
                    <fieldset>
                        <legend> Basic Details </legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Location<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtLocation" value="" name="txtLocation" class="form-control col-md-3 clsapprove" readonly />
                                        @Html.HiddenFor(m => m.Location)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">WPP NO.<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WPPNumber, new { @class = "form-control clsapprove", @id = "WPPNumber", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">WPP Rev<span class="required"> * </span></label>
                                    <div class="">

                                        <input type="text" id="txtWPPRevNo" value="" name="txtWPPRevNo" class="form-control clsapprove col-md-3" readonly />
                                        @Html.HiddenFor(m => m.WPPRevNo)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Document No<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control clsapprove", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Project No<span class="required"> * </span></label>
                                    <div class="">
                                        <select name="QualityProjects" id="QualityProjects" multiple="multiple" class="form-control clsapprove col-md-3"></select>

                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                        <label class="control-label">Sketch/Welding Sequence<span class="required"> * </span></label>
                                        <div class="">
                                            @*   @Html.TextBoxFor(m => m.Backing, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                    </div>*@
                                <div class="col-md-4">
                                    <label class="control-label">Examination</label>
                                    <div class="">
                                        <input type="text" id="Examination" value="" name="Examination" class="form-control clsapprove col-md-3" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Seam No.<span class="required"> * </span></label>
                                    <div class="">
                                        <select name="SeamNo" id="SeamNo" multiple="multiple" class="form-control clsapprove col-md-3"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Weld Designation<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldDesignation, new { @class = "form-control clsapprove col-md-3 clsseam", @id = "WeldDesignation", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Welding Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Welding Process 1<span class="required">*</span></label>
                                    <input type="text" id="txtWeldingProcess1" name="txtWeldingProcess1" class="distinctWelding clsapprove form-control col-md-4" placeholder="Select" />
                                    @Html.HiddenFor(m => m.WeldingProcess1)
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Welding Process 2</label>
                                    <input type="text" id="txtWeldingProcess2" name="txtWeldingProcess2" class="distinctWelding clsapprove form-control col-md-4" placeholder="Select" disabled />
                                    @Html.HiddenFor(m => m.WeldingProcess2)
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Welding Process 3</label>
                                    <input type="text" id="txtWeldingProcess3" name="txtWeldingProcess3" class="distinctWelding clsapprove form-control col-md-4" placeholder="Select" disabled />
                                    @Html.HiddenFor(m => m.WeldingProcess3)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Type of Weld 1<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldingType1, new { @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Type of Weld 2<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldingType2, new { @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Type of Weld 3<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WeldingType3, new { @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Joint Type<span class="required">*</span></label>
                                    <input type="text" id="txtJointType" name="txtJointType" class="form-control clsapprove col-md-4" placeholder="Select" />
                                    @Html.HiddenFor(m => m.JointType)
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Drying of Electrode<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DryingofElectrode, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Drying of Flux<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.DryingofFlux, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Base Material</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Item Number -1 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ItemNumber1, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Item Number -2 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ItemNumber2, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Item Number -3 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ItemNumber3, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">P No. [Material 1] <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PNoMaterial1, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">P No. [Material 2] <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PNoMaterial2, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">P No. [Material 3]<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PNoMaterial3, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Specification  1 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Specification1, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Specification  2 <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Specification2, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Specification  3<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Specification3, new { @class = "form-control clsapprove col-md-3 clsseam", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks 1</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks1, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks 2</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks2, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks 3</label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks3, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Other Details</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">WEP By</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.WEPBy, new { @id = "WEPBy", @class = "form-control clsapprove", @placeholder = "Select" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Surface Cleaning   </label>
                                    <div class="">
                                        <input type="text" id="SurfaceCleaning" value="" name="SurfaceCleaning" class="form-control clsapprove col-md-3" readonly />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Nature of Revision <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.NatureofRevision, new { @class = "form-control clsapprove col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Notes <span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control clsapprove col-md-3", @maxlength = "1000" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Remarks<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @maxlength = "200" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 display-none">
                            <div id="dv@(FileUpload1ControlID)"></div>
                        </div>
                        <div class="form-group" id="dvSketch" style="padding-right:0px;display:none">
                            <div class="col-md-12">
                                <br />
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Sketch / Welding Sequence
                                        </div>
                                    </div>
                                    <div class="portlet-body" style="min-height:600px; max-height:600px; overflow:auto;">
                                        <div>
                                            <img src='@ViewBag.image' style="height:586px;width:100%;left:-40px;" id="imgSketch" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div id="dvWPPLines" class="form-group">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    WPP Line List
                                </div>
                                <div class="tools" id="dvExportLines">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPP/MaintainWPP/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportLines" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblWPPLines" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="min-phone-l">#</th>
                                            <th class="min-phone-l">WS No</th>
                                            <th class="min-phone-l">Welding Process</th>
                                            <th class="min-phone-l">PQR No.</th>
                                            <th class="min-phone-l">AWS Class</th>
                                            <th class="min-phone-l">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="text-align:right;">
                        <hr />
                        <input type="hidden" id="hdSeam" />
                        <input type="hidden" id="hdNotes" />
                        <input type="hidden" id="hdQualityProject" />
                        <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<script>
    function LoadFileUpload1() {
        var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID)', '@FileUpload1ControlID');
        objFileUpload1.IsRequired = true;
        objFileUpload1.ShowDeleteAction = false;
        if(@Model.HeaderId>0){
            objFileUpload1.FolderPath = "WPP010/"+'@Model.HeaderId'+"/"+"R"+'@Model.WPPRevNo';
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded=false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc1()";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);
    }
    $(document).ready(function () {
        LoadFileUpload1();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });

        var location = '@ViewBag.Location';
        $("#txtLocation").val('@Html.Raw((string)ViewBag.Location)');
        $("#WPPRev").val('@Html.Raw((string)ViewBag.Location)');
        $("#SurfaceCleaning").val("Wire Brush / Grinding / Machining");
        $("#Examination").val("As per latest revision of OPS");

        $('#txtWPPRevNo').val("R" + '@Model.WPPRevNo');
        if('@ViewBag.image' != null && '@ViewBag.image' != "" && '@ViewBag.image' != undefined)
        {
            $("#dvSketch").show();
        }
        var table = $('#tblWPPLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPP/MaintainWPP/LoadHistoryLinesDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": '@Model.Id' },
                             { "name": "MTStatus", "value": '@Model.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                        if (data.iTotalRecords > 0) {
                            $("#btnSubmit").show();
                        }
                        else {
                            $("#btnSubmit").hide();
                        }
                    },
                    'async': false
                });
            },
            "aoColumns": [

                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "WSNo",
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcess",
                },
                {
                    "sClass": "center",
                    "name": "PQRNo",
                },
                {
                    "sClass": "center",
                    "name": "AWSClass",
                },
                  {
                      "sClass": "center",
                      "bSortable":false
                  },
            ]
        });
        if ('@Model.HeaderId' > 0) {
            if ('@Model.JointType' != '' && '@Model.JointType' != "null" && '@Model.JointType' != null) { $("#txtJointType").val('@ViewBag.JointTypeSelected'); }


            if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { $("#txtWeldingProcess1").val('@ViewBag.WeldingProcess1Selected'); }
            if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { $("#txtWeldingProcess2").val('@ViewBag.WeldingProcess2Selected'); }
            if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { $("#txtWeldingProcess3").val('@ViewBag.WeldingProcess3Selected'); }

            LoadPreValueSelect2("/WPP/MaintainWPP/GetProjects", $('#QualityProjects'), "--Select Projects--", { search: "", location: '@Model.Location' });

            if ('@Model.QualityProjects' != null && '@Model.QualityProjects' != '' && '@Model.QualityProjects' != undefined) {
                var proj = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.QualityProjects))));
                $('#QualityProjects').val(LoadMultiSelect2OnEdit(proj)).trigger('change');
            }
            var qproject = $('#QualityProjects').val();
            if (qproject != '' && qproject != null && qproject != undefined) {
                var selectedval = qproject.join(",");
            }
            else {
                var selectedval = qproject;
            }
            LoadSeamPreValueSelect2("/WPP/MaintainWPP/GetSeamNo", $("#SeamNo"), "--Select Seam--", { qualityproj: selectedval });
            //LoadSeamPreValueSelect2("/WPP/MaintainWPP/GetSWPNotes", $("#Notes"), "--Select Notes--", { qualityproj: selectedval, location: $("#Location").val() });

            var url =WebsiteURL +  "/WPP/MaintainWPP/GetLogSelectedSeamValue?headerId=" + '@Model.Id';
            $.getJSON(url, function (opts) {
                if (opts) {
                    $("#SeamNo").val(opts).trigger('change');
                }
            });

            $('div.clsHeader :input').attr('disabled', true);
        }

        $("#btnClose").click(function () {
            RedirectToSpecificIndex();
        });

    })
    function GetWPPLogLines(lineId,headerid, page) {
        var cls = 'btn save';
        if(page == "" && page == null && page == undefined)
        {
            page ='@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()';
        }
        if(page != '@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()')
        {
            cls = 'hideButton'
        }
        var btnlable ="Save";
        if(lineId > 0 )
        {
            btnlable ="Update";
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WPP/MaintainWPP/GetWPPLogLines",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerid: headerid, lineId: lineId ,page:page},
            success: function (result) {
                bootbox.dialog({
                    title: 'WPP Lines',
                    message: result,
                    size: 'large',
                    className: "higherzindex clsBootbox",
                    buttons: {

                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function RedirectToSpecificIndex() {
        var formRedirect = '@ViewBag.formRedirect';
        if (formRedirect == "m" || formRedirect == "" || formRedirect == null || formRedirect == undefined) {
            window.location.href = WebsiteURL + '/WPP/MaintainWPP/Details/' + '@Model.HeaderId' + '?urlForm=m';
        }
        else {
            window.location.href = WebsiteURL + '/WPP/MaintainWPP/Details/' + '@Model.HeaderId' + '?urlForm=' + formRedirect;
        }
    }
    function FillEnumAutocomplete(element, arrayList, isEditable) {
        element.autocomplete({
            source: arrayList,
            minLength: 0,
            autoFocus: true,
            async: false,
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(this).val();
                    }
                }
            }
        }).focus(function () {
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });

    }
    function FillCategoryAutoComplete(element, sourceList, hdElement, isautofocus, disabledElement, enabledElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: isautofocus,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (enabledElement != undefined && enabledElement != "undefined" && enabledElement != "") {
                    $(enabledElement).removeAttr("disabled");
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                    if (disabledElement != undefined && disabledElement != "undefined" && disabledElement != "") {
                        $(disabledElement).prop("disabled", "disabled");
                        $(disabledElement).val("");
                        $(disabledElement).removeClass('error');
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function LoadAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                //debugger;
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(hdElement).val('');
                }
                else {
                    $(hdElement).val(ui.item.id)
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };
    function LoadSelectDropDown(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        location: $('#Location').val(),
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    function LoadSeamPreValueSelect2(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            type: "GET",
            data: param,
            async: false,
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "' data-project='" + object.project + "'>" + object.text + "</option>";
                });
                $(objControl).html(option);

                objControl.select2({
                    placeholder: caption,
                    delay: 250,
                    allowClear: true,
                    minimumInputLength: 0,
                });
            }
        })

    };

</script>
@Scripts.Render("~/bundles/datetimepicker/js")
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>
