﻿@model IEMQSImplementation.QMS001

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.state' == 'Edit') {
            SetReadonly($('#txtProject'));
            DisableBtn($('#ddlLoca'));
        }

        $("#IsLTFPS").prop('disabled', true);

        $("#IsLTFPS").change(function () {
            if ($("#IsLTFPS").is(":checked")) {
                $("#ddlNauto").val('No');
                $("#ddlNauto option[value=Yes").hide();
            }
            else {
                $("#ddlNauto").val('Yes');
                $("#ddlNauto option[value=Yes").show();
            }
        });

        var isLTFPS = "@Model.IsLTFPS";
        if (isLTFPS.toString() == "True") {
            $("#ddlNauto").val('No');
            $("#ddlNauto option[value=Yes").hide();
        }

        $('#frmAuthMatrix').validate({
            rules: {
                ddlBU: {
                    required: true
                },
                ddlLoca: {
                    required: true
                },
                txtProject: {
                    required: true
                },
                ddlRepair: {
                    required: true
                }

            },
            messages: {
                ddlBU: {
                    required: "BU is required"
                },
                ddlLoca: {
                    required: "Location is required"
                },
                txtProject: {
                    required: "Project is required"
                },
                ddlRepair: {
                    required: "Repair Destination to disable reoffer is required"
                },

            }
        });

        var AutoICL = "@Model.AutoICL";
        if (AutoICL.toString() == "True") {
            $("#ddlAicl").val('Yes');
        } else {
            $("#ddlAicl").val('No');
        }
        var DependencyApplicable = "@Model.DependencyApplicable";

        if (DependencyApplicable.toString() == "True") {
            $("#ddldepapp").val('Yes');
        } else {
            $("#ddldepapp").val('No');
        }
        var NonICLApprovalCycle = "@Model.NonICLApprovalCycle";
        if (NonICLApprovalCycle.toString() == "True") {
            $("#ddlNcycle").val('Yes');
        } else {
            $("#ddlNcycle").val('No');
        }
        var NDTAutoGeneration = "@Model.NDTAutoGeneration";
        if (NDTAutoGeneration.toString() == "False") {
            $("#ddlNauto").val('No');
        } else {
            $("#ddlNauto").val('Yes');
        }
        $("#ddlBU").val('@Model.BU');
        $("#ddlLoca").val('@Model.Location');

        var Project = '@Model.Project';

        if (Project != "") {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/Authorization/ParameterMaster/getCodeValue",
                data: { project: Project },
                datatype: 'html',
                async: false,
                success: function (data) {
                    if (data.projdesc != "") {
                        $("#txtProject").val(data.projdesc);
                    }
                },
                error: function () {
                }
            });
        }
        debugger;
        $("#ddlRepair").val('@Model.RepairDesignationToDisableReoffer');
        $("#ddlEmail").val('2');

        $("#hfid").val('@Model.Id');

        if (parseInt('@Model.RepairDesignationToSendEmail') > 0) {
            $("#ddlEmail").val('@Model.RepairDesignationToSendEmail');
        }
    });
</script>
<script>
    $(document).ready(function () {
        var isSelected = false;

        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var Project = ui.item.value.split('-')[0].trim();

                    if (IsPAMApproved(Project.trim())) {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/Authorization/ParameterMaster/GetProjectWiseBU",
                            data: { projectcode: Project },
                            async: false,
                            success: function (data) {
                                $("#BU").val(data.Value);
                                if (data.IsLTFPS) {
                                    $("#IsLTFPS").prop('checked', true);
                                    $("#IsLTFPS").prop('disabled', false);
                                    $("#ddlNauto").val('No');
                                    $("#ddlNauto option[value=Yes").hide();
                                }
                                else {
                                    $("#IsLTFPS").prop('checked', false);
                                    $("#IsLTFPS").prop('disabled', true);
                                    $("#ddlNauto").val('Yes');
                                    $("#ddlNauto option[value=Yes").show();
                                }
                            },
                            error: function () {
                            }
                        });
                    }

                }
            },
        });

        $("#txtProject").change(function () {
            var project = $('#txtProject').val();

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/Authorization/ParameterMaster/verifyProject",
                datatype: 'html',
                async: false,
                data: { project: project },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        $('#txtProject').val("");
                        DisplayNotiMessage("error", "Invalid Project.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });

    });

    function IsPAMApproved(project) {
        var returnValue = true;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/Utility/General/IsPAMApproved",
            data: { project: project },
            async: false,
            success: function (result) {
                if (result == "False") {
                    returnValue = false;
                    window.setTimeout(function () { $('#txtProject,#BU').val(""); }, 300);
                    DisplayNotiMessage("error", "PAM is not yet approved. Please contact to Marketing.", "Error");
                }
            },
            error: function () {
            }
        });

        return returnValue;
    }

</script>
<style>
    .ddlEMail {
        width: 15% !important;
        display: inline-block;
    }

    .txtRepairDesignationEmailTo {
        width: 85% !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmAuthMatrix", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(m=>m.Id)
                    @Html.Hidden("hfid");
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">Project <span class="required">*</span></label>
                                <div class="">
                                    @*@Html.DropDownList("ddlProject", (SelectList)@ViewBag.Project, "Select", new { @class = "form-control" })*@
                                    @Html.TextBox("txtProject", "", new { @class = "form-control", @colname = "Project" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">BU<span class="required">*</span></label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">Location <span class="required">*</span></label>
                                <div class="">
                                    @Html.DropDownList("ddlLoca", (SelectList)@ViewBag.Loca, "Select", new { @class = "form-control", @colname = "Location" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">
                                    Is Project LTFPS ?
                                </label>
                                <div class="">
                                    <label class="mt-checkbox mt-checkbox-outline" for="IsLTFPS">
                                        @Html.CheckBoxFor(m => m.IsLTFPS)
                                        <span></span>
                                    </label>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-6">
                                <label class="control-label">Auto ICL</label>
                                <div class="">
                                    @Html.DropDownList("ddlAicl", new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control", @colname = "AutoICL" })
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Non ICL Approval Cycle</label>
                                <div class="">
                                    @Html.DropDownList("ddlNcycle", new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control", @colname = "NonICLApprovalCycle" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">NDT Auto Generation</label>
                                <div class="">
                                    @Html.DropDownList("ddlNauto", new SelectList(@ViewBag.lstyesno, "Value", "Text"), new { @class = "form-control", @colname = "NDTAutoGeneration" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Dependency Applicable</label>
                                <div class="">
                                    @Html.DropDownList("ddldepapp", new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control", @colname = "DependencyApplicable" })
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">Repair Designation To Send Email</label>
                                <div class="">
                                    @Html.DropDownList("ddlEmail", new SelectList(@ViewBag.lstnumbers, "Value", "Text"), "Select", new { @class = "form-control ddlEMail", @colname = "RepairDesignationToSendEmail" })
                                    @Html.TextBoxFor(m => m.RepairDesignationEmailTo, new { @class = "form-control", @style = "width:82% !important; display:inline-block;" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Repair Designation To Disable Reoffer<span class="required">*</span></label>
                                <div class="">
                                    @Html.DropDownList("ddlRepair", new SelectList(@ViewBag.lstnumbers, "Value", "Text"), "Select", new { @class = "form-control", @colname = "RepairDesignationToDisableReoffer" })
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
