﻿@model IEMQSImplementation.WKG001
@using IEMQSImplementation
@{
    ViewBag.Title = "Weld KG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>


<script>
    var WeldKGLinesCount;
    var PlanningDinID = '@ViewBag.PlanningDinID';
    $(document).ready(function () {
        var isSelected = false;
        GetPDNIdenticalprojectPartial('@Model.Project');

        headerId = $("#HeaderId").val();
        $("#txtRevNo").val("R" + '@Model.RevNo');
        var lstProduct = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Product))));
        WeldKGLinesCount = '@ViewBag.WeldKGLinesCount';
        //alert(WeldKGLinesCount);
        FillAutoComplete($("#txtProduct"), lstProduct, $("#Product"));
        if (headerId != null && headerId != undefined && headerId != "0") {
            projectChange('@Model.Project', '@Model.Document', '@Model.HeaderId');
            $("#txtProject").prop("readonly", "readonly");
            $("#txtProject").val('@ViewBag.Project')
            $("#txtProduct").val('@Model.Product');
            $("#txtApprover").val('@ViewBag.Approver');
            $("#txtProduct").attr("readonly", "readonly");
            $("#ProcessLicensor").attr("readonly", "readonly");
            //$("#btnSendForapproval").removeAttr("disabled");
            GetWeldKGLinesPartial('@Model.HeaderId');
            if ($("#lblStatus").html() == '@clsImplementationEnum.WKGHeaderStatus.SentForApproval.GetStringValue()') {
                $("#btnSave").hide();//prop("disabled", "disabled");
                //$("#txtProduct").attr("readonly", "readonly");
                //$("#ProcessLicensor").attr("readonly", "readonly");
                $("#txtApprover").attr("readonly", "readonly");
            }
            if ($("#lblStatus").html() == '@clsImplementationEnum.WKGHeaderStatus.Approved.GetStringValue()') {
                if ('@ViewBag.IsReviseBtnEnabled'.toLocaleLowerCase() == 'false') {
                    $("#docMessage").text('@ViewBag.DocMessage').css("display", "block");;
                }
                $('div.dvDisabled :input').attr('disabled', true);
            }
        }

        $("#frmWeldKG").validate({
            rules: {
                txtProject: { required: true },
                txtApprover: { required: true },
                ReviseRemark: { required: true }
            },
            messages: {
                txtProject: { required: "Project Is Required" },
                txtApprover: { required: "Approver Is Required" },
                ReviseRemark: { required: "Revise Remark Is Required" }
            }
        })

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/WKG/MaintainWeldKG/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    //$("#Document").val(projectcode + "_QCP");
                    $("#Project").val(projectcode);
                    var docNo = "H02_" + projectcode.substr(projectcode.length - 4) + "_PL07";
                    $("#Document").val(docNo);
                    projectChange(projectcode, docNo, parseInt($("#HeaderId").val()));
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResultAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Code };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#ApprovedBy").val(ui.item.id);
                }

            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });

        $("#btnSave").click(function () {
            if ($("#frmWeldKG").valid()) {
                var frmWeldKGValues = $("#frmWeldKG").serializeArray();
                if ($("#Status").val() == '@clsImplementationEnum.WKGHeaderStatus.Approved.GetStringValue()') {

                    ReviseHeader('@Model.HeaderId', "/WKG/MaintainWeldKG/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#lblStatus'), ReviseHeaderCallBack);

                }
                else {
                    SaveHeader(frmWeldKGValues);
                }
            }
        });

        $("#btnSaveHeader").click(function () {
            if ($("#frmWeldKG").valid()) {
                var frmWeldKGValues = $("#frmWeldKG").serializeArray();
                SaveHeaderdata(frmWeldKGValues);
            }
        });

        $("#btnRevise").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            var table = 'WKG001';
            var action = '@clsImplementationEnum.ButtonStatus.Revise.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
            ReviseHeader('@Model.HeaderId', "/WKG/MaintainWeldKG/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#lblStatus'), ReviseHeaderCallBack);
        });

        $("#btnRetract").click(function () {           
            bootbox.dialog({
                title: "Retract",
                message: "Do you want to Retract Document ?",
                size: "medium",
                buttons: {
                    confirm: {
                        label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            var headerid = parseInt("@Model.HeaderId");
                            var table = 'WKG001';
                            var action = '@clsImplementationEnum.ButtonStatus.Retract.GetStringValue()';
                            var isapprover = false;
                            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                                return false;
                            }
                            $.ajax({
                                url: WebsiteURL + "/WKG/MaintainWeldKG/RetractHeader",
                                type: "POST",
                                datatype: "json",
                                data: { headerId: parseInt($("#HeaderId").val()) },
                                async: false,
                                success: function (res) {
                                    if (res.Key) {
                                        $("#HeaderId").val(res.HeaderId);
                                        $("#lblStatus").text(res.HeaderStatus);
                                        $("#Status").val(res.HeaderStatus);
                                        DisplayNotiMessage("success", res.Value, "Success");
                                        $("#btnRetract").hide();
                                        $("#btnSave").show();
                                        $("#btnSendForapproval").show();//prop("disabled", "disabled");
                                        $("#txtProduct").removeAttr("readonly");
                                        $("#ProcessLicensor").removeAttr("readonly");
                                        $("#txtApprover").removeAttr("readonly");
                                        $("#btnNew").show();
                                        $('#tblWeldKGLines').DataTable().ajax.reload();
                                    }
                                    else {
                                        DisplayNotiMessage("error", res.Value, "Error");
                                    }
                                },
                                error: function () {
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        });
    });

    function SaveHeader(frmWeldKGValues) {

        if (WeldKGLinesCount != null && WeldKGLinesCount != undefined && WeldKGLinesCount > 0) {
            bootbox.dialog({
                title: "Regenerate Lines Confirmation",
                message: "Do you want to over write manually modified lines?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            //overWriteunmodifiedData = true;//Delete all and add new record in line table
                            Save(frmWeldKGValues, true);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () {
                            //overWriteunmodifiedData = false;//Where IsManuallyModified  is true then No any operation will perform
                            //where IsManuallyModified  is false then Delete all line  and insert new line as per seam number is unique.
                            Save(frmWeldKGValues, false);
                        }
                    }
                }
            });
        }
        else {
            Save(frmWeldKGValues, false);
        }
    }

    function Save(frmWeldKGValues, overWriteunmodifiedData) {
        var formdata = new FormData();
        if (frmWeldKGValues != null && frmWeldKGValues != undefined) {
            $.each(frmWeldKGValues, function (key, input) {
                formdata.append(input.name, input.value);
            });
            formdata.append("overWriteunmodifiedData", overWriteunmodifiedData);
            var headerid = parseInt("@Model.HeaderId");
            var table = 'WKG001';
            var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
            $.ajax({
                url: WebsiteURL + "/WKG/MaintainWeldKG/SaveHeader",
                type: "POST",
                datatype: "json",
                data: formdata,
                async: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.Key == true && res.HeaderId > 0) {
                        $("#txtProject").prop("readonly", "readonly");
                        //$("#btnSendForapproval").removeAttr("disabled");
                        $("#HeaderId").val(res.HeaderId);
                        $("#lblStatus").text(res.HeaderStatus);
                        $("#Status").val(res.HeaderStatus);
                        $("#txtRevNo").val("R" + res.RevNo);
                        $("#RevNo").val(res.RevNo);
                        DisplayNotiMessage("success", res.Value, "Success");
                        $("#btnCancel").hide();
                        GetWeldKGLinesPartial(parseInt(res.HeaderId));
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");
                        return false;
                    }
                },
                error: function () {
                    response = "";
                    return false;
                }
            });
        }
    }
    function SaveHeaderdata(frmWeldKGValues) {
        var formdata = new FormData();
        if (frmWeldKGValues != null && frmWeldKGValues != undefined) {
            $.each(frmWeldKGValues, function (key, input) {
                formdata.append(input.name, input.value);
            });
            var headerid = parseInt("@Model.HeaderId");
            var table = 'WKG001';
            var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }
            $.ajax({
                url: WebsiteURL + "/WKG/MaintainWeldKG/SaveHeaderData",
                type: "POST",
                datatype: "json",
                data: formdata,
                async: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.Key == true && res.HeaderId > 0) {
                        $("#txtProject").prop("readonly", "readonly");
                        //$("#btnSendForapproval").removeAttr("disabled");
                        $("#HeaderId").val(res.HeaderId);
                        $("#lblStatus").text(res.HeaderStatus);
                        $("#Status").val(res.HeaderStatus);
                        $("#txtRevNo").val("R" + res.RevNo);
                        $("#RevNo").val(res.RevNo);
                        DisplayNotiMessage("success", res.Value, "Success");
                        //$("#btnCancel").hide();
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");
                        return false;
                    }
                },
                error: function () {
                    response = "";
                    return false;
                }
            });
        }
    }

    function projectChange(projectCd, docNo, headerId) {
        var result;
        $.ajax({
            url: WebsiteURL + "/WKG/MaintainWeldKG/GetProjectDetail",
            type: 'POST',
            data: { projectCd: projectCd, docNo: docNo, headerId: headerId },
            success: function (res) {
                if (!res.headerAlreadyExist) {
                    //$("#CDD").val(res.CDD);
                    $("#CustCode").val(res.CustomerCode);
                    if ($("#CustCode").val().length > 0)
                        $("#Customer").val(res.CustomerCode + '-' + res.Customer);
                    else
                        $("#Customer").val(res.Customer);
                }
                else {
                    $("#Document").val('');
                    $("#txtProject").val('')
                    DisplayNotiMessage("error", "Document Already Exist", "Error");
                }
            }
        });
    };

    function GetWeldKGLinesPartial(headerId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WKG/MaintainWeldKG/GetWeldKGLinesPartial",
            datatype: 'html',
            async: false,
            data: { headerId: parseInt(headerId) },
            success: function (result) {
                $("#dvWeldKGLines").html(result);
            },
            error: function () {

            }
        });
    }

    function FillAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function PrintReport(headerid) {

        bootbox.dialog({
            title: 'Weld KG Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/WKG/WeldKGCalculationSheet";
                        var dat = [];
                        dat.push({ Param: "headerId", Value: headerid });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }

    function ReviseHeaderCallBack() {
        @*$('div.dvDisabled :input').attr('disabled', false);
        $('#btnRevise').hide();
        GetWeldKGLinesPartial(parseInt(@Model.HeaderId));*@
        window.location.reload(true);
    }
</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Weld Kg Calculation</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        @*<span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>*@
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvHeader" class="row">
                    <div class="dvDisabled">
                        <form id="frmWeldKG" class="form-horizontal">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project<span class="required"> * </span></label>
                                            <input type="text" id="txtProject" name="txtProject" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.Project)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Document</label>
                                            @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Customer<span class="required"> * </span></label>
                                            @Html.Hidden("CustCode", new { @id = "CustCode" })
                                            @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">CDD</label>
                                            @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Product</label>
                                            @*<input type="text" id="txtProduct" name="txtProduct" class="form-control col-md-3" />*@
                                            @Html.TextAreaFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Process Licensor</label>
                                            @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Approver</label>
                                            <input type="text" id="txtApprover" name="txtApprover" class="form-control col-md-3" />
                                            @Html.HiddenFor(m => m.ApprovedBy)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Revision No.</label>
                                            <input type="text" id="txtRevNo" name="txtRevNo" class="form-control col-md-3" readonly />
                                            @Html.HiddenFor(m => m.RevNo)
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-left:0px !important;">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="padding-left:0px !important;">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Return Remark</label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divPDNIdenticalproject"></div>
                                    </div>
                                    <div id="docMessage" class="col-md-12 note note-success" style="display:none;"></div>
                                    <div class="col-md-12" style="padding-left:0px !important;">

                                        <div class="col-md-12" style="text-align:right;margin-top:2%;">
                                          @if (Model.Status == clsImplementationEnum.WKGHeaderStatus.Draft.GetStringValue() || Model.Status == clsImplementationEnum.WKGHeaderStatus.Returned.GetStringValue())
                                          {
                                            <input type="button" class="btn save" id="btnSaveHeader" value="Save" />
                                          }
                                            @*<button style="cursor:pointer; title=" Print Report"; class="btn green" onClick="PrintReport(@Model.HeaderId)"> Print <i class="fa fa-print"></i></button>*@
                                            <input type="button" id="btnSave" class="btn submit" value="Fetch Data" />

                                            @if (Model.Status == clsImplementationEnum.WKGHeaderStatus.SentForApproval.GetStringValue())
                                            {
                                                <input type="button" id="btnRetract" class="btn retract" value="Retract" />
                                            }
                                            @if (Model.Status == clsImplementationEnum.WKGHeaderStatus.Approved.GetStringValue() && ViewBag.IsReviseBtnEnabled)
                                            {
                                                <a id="btnRevise" class="btn revise">Revise</a>

                                                @*<input type="button" id="btnHistory" class="btn green" value="History" />*@
                                            }
                                            <a class="btn btnclose" id="btnCancel" href='@Url.Action("Index","MaintainWeldKG")'>Close</a>
                                            <input type="button" id="btnSendForapproval" class="btn submit" style="display:none;" value="Submit" />
                                            <a class="btn back" id="btnBackToPDIN">Back</a>
                                            <a class="btn btnclose" href='@Url.Action("Index","MaintainWeldKG")'>Close</a>
                                            <a style="cursor:pointer;margin-right:5px;" title="Print Report" ; class="btn icons" onClick="PrintReport(@Model.HeaderId)"><i class="fa fa-print"></i></a>

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="dvWeldKGLines" class="row"></div>
            </div>
        </div>
    </div>
</div>