﻿@using IEMQSImplementation
@model QMS080
@{
    ViewBag.Title = "AScan UT Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .multiselect {
        /*width: 355px;*/
        text-align: left;
    }

    .multiselect-container {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: 250px;
    }

    .checkbox, .form-horizontal .checkbox {
        padding: 0px 31px;
    }
    .btn-default{
        width:220px;
    }
</style>

<script>
    $(document).ready(function ()
    {
       
        var dt = @Html.Raw(Json.Encode(Model.TestInstrument));
        @*$("#TestInstrument option:selected").val(dt);*@

        var lstScanningSurface = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ListScanningSurface))));
        $("#btnSave").click(function () {
            UpdateData(true);
        });
        $("#TransferCorrection").change(function () {
            if ($(this).val() == "Yes") {
                $("#TransferCorrectiondB").attr("readonly", false);
                $("#Noofpoints").attr("readonly", false);
                $("#AveragedB").attr("readonly", false);
                $("#spnTransferCorrectiondBReq").show();
                $("#spnNoofpointsReq").show();
                $("#spnAveragedBReq").show();
            }
            else {
                $("#TransferCorrectiondB").val("").attr("readonly", true);
                $("#Noofpoints").val("").attr("readonly", true);
                $("#AveragedB").val("").attr("readonly", true);
                $("#TransferCorrectiondB").removeClass("error");
                $("#Noofpoints").removeClass("error");
                $("#AveragedB").removeClass("error");

                $("#spnTransferCorrectiondBReq").hide();
                $("#spnNoofpointsReq").hide();
                $("#spnAveragedBReq").hide();
            }
        });

        //Comment code for update data when controls change, instead of it will update only on save button click
        //$('.clsUpdateHeader').change(function () {
        //    UpdateData();
        //});

        FillAutoCompleteWithCallBack($("#txtScanPlan"), lstScanningSurface, $("#ScanPlan"), null);

        if ('@ViewBag.isDisabled'.toLowerCase() == "disabled") {
           $(".clsUpdateHeader").attr('disabled', true);
          $("#btnSave").hide();
        }
        else {
            if ('@Model.TransferCorrection' == "Yes") {
                $("#TransferCorrectiondB").attr("readonly", false);
                $("#Noofpoints").attr("readonly", false);
                $("#AveragedB").attr("readonly", false);
            }
        }
        $("#TestInstrument").multiselect("clearSelection");

        //LoadLocationMultiSelectwithCheckbox("/IPI/MaintainNDESeamTechnique/GetTestInstrumentResult", $('#ddlLocation'), "--Select Location--", { term: $("#ddlLocation").val(), location: $("#Location").val().split('-')[0] });
        if (dt != "") {
            LoadMultiSelectTestinstrumentwithCheckbox("/Utility/General/GetTestInstrument", $('#TestInstrument'), "--Select Location--", { term: $("#TestInstrument").val(), location: $("#Location").val().split('-')[0] }, dt);
        }
        else {
            LoadMultiSelectTestinstrumentwithCheckbox("/Utility/General/GetTestInstrument", $('#TestInstrument'), "--Select Location--", { term: $("#TestInstrument").val(), location: $("#Location").val().split('-')[0] });
        }
        
       

        if ('@ViewBag.ScanningSurface' != "") {
            $("#txtScanPlan").val('@ViewBag.ScanningSurface');
            $("#ScanPlan").val('@Model.ScanPlan');
        }
        var DGSDiagram = "@Model.DGSDiagram";
        if (DGSDiagram.toString().toLowerCase() == "true") {
            $("#DGSDiagram").val('Yes');
        } else {
            $("#DGSDiagram").val('No');
        }
        var oTable = $("#tblLines").dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainNDESeamTechnique/loadAscanUTLinesDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                          { "name": "id", "value": $('#HeaderId').val() }
            )
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        var functionCallEdit = "ViewLine( " + row[2] + "," + row[3] + ")";
                        if ('@ViewBag.isDisabled'.toLowerCase() == "disabled") {
                            buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="View Line" class="disabledicon fa fa-pencil-square-o" ></i></center>';
                        }
                        else {
                            buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="View Line" class="iconspace fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i></center>';
                        }
                        return buttons;
                    }
                },
                {
                    "sClass": "hide",// "details-control",
                    "bSortable": false,
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
            ]
        });

        $("#TestInstrument").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainNDESeamTechnique/GetTestInstrumentResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        location: $("#Location").val().split('-')[0]
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.IDescription, value: item.INumber };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#TestInstrument").val(ui.item.label);
                    event.preventDefault();
                }

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $("#TestInstrument").val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $('#frmCreateHeader').validate({
            rules: {
                txtScanPlan: { required: true },
                TestInstrument: { required: true },
                NDTDuration: { required: true },
                RestrictedAccessAreaInaccessibleWelds: { required: true },
                TransferCorrection: { required: true },
                TransferCorrectiondB: {
                    required: {
                        depends: function (element) { return $("#TransferCorrection").val() == "Yes" ? true : false }
                    }
                },
                Noofpoints: {
                    required: {
                        depends: function (element) { return $("#TransferCorrection").val() == "Yes" ? true : false }
                    }
                },
                AveragedB: {
                    required: {
                        depends: function (element) { return $("#TransferCorrection").val() == "Yes" ? true : false }
                    }
                },
                AfterTestCalibrationrechecked: { required: true },
                AnySpecialAccessoriesUsed: { required: true },
                AnyRecordableIndication: { required: true },
                NDTremarks: { required: true },
            },
            messages: {
                txtScanPlan: { required: "Scanning Surface is required" },
                TestInstrument: { required: "Test Instrument is required" },
                NDTDuration: { required: "NDT Duration is required" },
                RestrictedAccessAreaInaccessibleWelds: { required: "Area Of Restricted Access or Inaccessible Welds is required" },
                TransferCorrection: { required: "Transfer Correction is required" },
                TransferCorrectiondB: { required: "Transfer Correction dB is required" },
                Noofpoints: { required: "No of points is required" },
                AveragedB: { required: "Average dB is required" },
                AfterTestCalibrationrechecked: { required: "After Test Calibration rechecked is required" },
                AnySpecialAccessoriesUsed: { required: "Any Special Accessories Used is required" },
                AnyRecordableIndication: { required: "Any Recordable Indication is required" },
                NDTremarks: { required: "NDT remarks is required" },
            }
        });

        //var a = [11];
        //$.each($("#TestInstrument"),function() {
        //    $(this).select2('val', a);
        //});
        
    });

    function UpdateData(IsMessage)
    {
        if ($("#frmCreateHeader").valid())
        {
          
            var test = "";
            var strFormData = "";
            var data = $("#TestInstrument").val();
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    //var data2 = data[i].toString();
                    test = test + data[i].toString() + ",";

                }
                test.substring(0, test.length - 1)
                TestinstrumentData = test.slice(0, -1);
            }
            else {
                alert("PLease select Test Instrument");
                return false;
            }
            

           // alert(test.substring(0, test.length-1));
            var formData = new FormData();
            strFormData  = $("#frmCreateHeader").serializeArray();
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
               
            });

            formData.append("testInstrument1", TestinstrumentData);
            $.ajax({
                url: WebsiteURL + "/IPI/MaintainNDESeamTechnique/SaveAscanUTHeader",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                //beforeSend: function () {
                //    showLoading(true);
                //},
                //complete: function () {
                //    showLoading(false);
                //},
                success: function (data) {
                    if (data.Key) {
                        if (IsMessage)
                        { DisplayNotiMessage("success", data.Value, "Success"); }
                        //DisplayNotiMessage("success", data.Value, "Success");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else
        {
            HighlightInValidControls();
            return false;
        }
    }

    function ViewLine(lineId, headerId) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainNDESeamTechnique/AscanUTLinesPartial",
            type: "POST",
            datatype: "html",
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerId, lineId: lineId },
            success: function (data) {
                bootbox.dialog({
                    title: "AScan UT Lines",
                    message: data,
                    size: "large",
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmSubLines").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmSubLines').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/MaintainNDESeamTechnique/SaveAscanUTLines',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblLines').DataTable().ajax.reload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                                //bootbox.hideAll();
                                //$(".modal-backdrop").remove()
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () {
                                bootbox.hideAll();
                                $(".modal-backdrop").remove()
                            },
                        }
                    }
                })
            },
            error: function () {
                DisplayNotiMessage("error", "Error occured please try again", "Error");
            }
        });
    }

    function LoadMultiSelectTestinstrumentwithCheckbox(url, objControl, caption, param, isDestroy, selected) {
      
        if (isDestroy != false) {
            objControl.multiselect('destroy');
        }
        $.ajax({
            url: WebsiteURL + url,
            type: "POST",
            data: param,
            async: false,
            dataType: "json",
            success: function (data) {
              
                var ischeckselected = false;
                var option = "";

                if (selected != undefined && selected != null && selected != "") {
                    var selectedoption = selected.split(",");
                    ischeckselected = true;
                }
                $.each(data, function (index, object) {
                    if (ischeckselected) {
                        if (selectedoption.indexOf(object.id) > -1) {
                            option += "<option value='" + object.id + "' selected='selected'>" + object.text + "</option>";
                        }
                        else {
                            option += "<option value='" + object.id + "' >" + object.text + "</option>"
                        }
                    }
                    else
                    {
                       
                        var testInstrument = isDestroy;
                        if (!(testInstrument == "" || testInstrument == undefined))
                        {
                            var dt2 = testInstrument.split(",");

                            var selectStatus = false;
                            for (var i = 0; i < dt2.length; i++)
                            {
                                if (dt2[i] == object.text)
                                {
                                    option += "<option value='" + object.id + "' selected>" + object.text + "</option>";
                                    selectStatus = true;

                                }
                            }
                            if (selectStatus == false) {
                                option += "<option value='" + object.id + "'>" + object.text + "</option>";
                            }
                            
                        }
                        else
                        {
                            option += "<option value='" + object.id + "'>" + object.text + "</option>";
                        }

                       
                    }
                });
                objControl.html(option);
                objControl.multiselect({
                    placeholder: caption,
                    search: true,
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    includeSelectAllOption: true,
                });

                if (data.length == 0) {
                    objControl.multiselect("disable");
                }
            }
        })
    };
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Ascan UT Header</span>
                    </div>
                    @*<div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.Status) </span>
                            @Html.HiddenFor(m => m.Status)
                        </div>*@
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.RefHeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Stage,Request & Iteration</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Seam No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Stage Code</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Stage Sequence</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="control-label">IterationNo</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Request No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Request Sequence No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset id="fdDetails">
                                    <legend>Technique Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">UT Tech No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Status</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Status, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">UT Procedure No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Recordable Indication</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RecordableIndication, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scan Technique</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanTechnique, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">DGS Diagram</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DGSDiagram, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Basic Calibration Block</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BasicCalibrationBlock, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Simulation Block1</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SimulationBlock1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Simulation Block2</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SimulationBlock2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Couplant Used</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouplantUsed, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scanning Surface<span class="required">*</span></label>
                                            <div class="">
                                                @*@Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                                <div class="">
                                                    <input type="text" id="txtScanPlan" name="txtScanPlan" class="form-control col-md-3 clsUpdateHeader" placeholder="Select" />
                                                    @Html.HiddenFor(m => m.ScanPlan, new { @id = "ScanPlan" })
                                                    @*@Html.DropDownList("ScanPlan", new List<SelectListItem>
                                                        {   new SelectListItem{ Text="All Possible Scanning Direction", Value = "All Possible Scanning Direction", Selected= true },
                                                            new SelectListItem{ Text="Outside", Value = "Outside" },
                                                            new SelectListItem{ Text="Inside", Value = "Inside" },
                                                         }, new { @class = "form-control col-md-3 clsUpdateHeader" })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Scanning Sensitivity</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanningSensitivity, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Planner Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Approver Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ApproverRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Test Instrument<span class="required">*</span></label>
                                            <div class="">
                                                <style>
                                                    .select2-container--bootstrap {
                                                        display: block;
                                                        width: 100% !important;
                                                    }
                                                </style>
                                                    @*@Html.TextBoxFor(m => m.TestInstrument, new { @class = "form-control col-md-3 clsUpdateHeader" })*@
                                                    <select name="TestInstrument" id="TestInstrument" class="mt-multiselect btn btn-default col-md-3 clsSelectClear clsUpdateHeader" multiple="multiple" style="width:100%!important"></select>
                                                

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Date of Examination</label>
                                            @Html.TextBoxFor(m => m.ExaminationDate, "{0:dd/MM/yyyy}", new { @class = "form-control clsUpdateHeader", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">NDT Duration (Hrs.)<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDTDuration, new { @class = "form-control col-md-3 set-numeric clsUpdateHeader", @maxLength = "3" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Reject Control<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownList("Rejectcontrol", new List<SelectListItem>
                                                        { new SelectListItem{ Text="ON", Value = "ON" },
                                                           new SelectListItem{ Text="OFF", Value = "OFF",Selected= true }}, new { @class = "form-control col-md-3 clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Damping<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownList("Damping", new List<SelectListItem>
                                                        { new SelectListItem{ Text="LOW", Value = "LOW", Selected= true },
                                                           new SelectListItem{ Text="MEDIUM", Value = "MEDIUM" },
                                                           new SelectListItem{ Text="HIGH", Value = "HIGH" }}, new { @class = "form-control col-md-3 clsUpdateHeader" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Area Of Restricted Access or Inaccessible Welds<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.RestrictedAccessAreaInaccessibleWelds, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Transfer Correction<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.TransferCorrection, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Transfer Correction dB<span style="display:none" class="required" id="spnTransferCorrectiondBReq">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TransferCorrectiondB, new { @class = "form-control col-md-3 clsUpdateHeader", @readonly = "readonly", @maxLength = "12" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">No of points<span style="display:none" class="required" id="spnNoofpointsReq">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Noofpoints, new { @class = "form-control col-md-3 clsUpdateHeader", @readonly = "readonly", @maxLength = "10" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Average dB<span style="display:none" class="required" id="spnAveragedBReq">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AveragedB, new { @class = "form-control col-md-3 clsUpdateHeader", @readonly = "readonly", @maxLength = "5" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">After Test Calibration rechecked<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AfterTestCalibrationrechecked, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Any Special Accessories Used<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AnySpecialAccessoriesUsed, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Any Recordable Indication<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AnyRecordableIndication, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <label class="control-label">NDT remarks<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDTremarks, new { @class = "form-control col-md-9 clsUpdateHeader", @maxLength = "500" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align:right;">
                                        <button class="btn save" type="button" id="btnSave">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="row" id="divLines">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Ascan UT Lines
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">#</th>
                                            <th class="all">Action</th>
                                            <th style="display:none;">LineId</th>
                                            <th style="display:none;">HeaderId</th>
                                            <th style="display:none;">RefHeaderId</th>
                                            <th class="all">UT Tech No</th>
                                            <th class="all">RevNo.</th>
                                            <th class="all">Search Unit</th>
                                            <th class="all">Reference Reflector</th>
                                            <th class="all">Cable Type</th>
                                            <th class="all">Cable Length(m)</th>
                                            <th class="all">Reference gain (dB)</th>
                                            <th class="all">Range (mm)</th>
                                            <th class="all">Amp (%) (Ind1) </th>
                                            <th class="all">BP (mm) (Ind1)</th>
                                            <th class="all">Amp (%) (Ind2)</th>
                                            <th class="all">BP (mm) (Ind2)</th>
                                            <th class="all">Amp (%) (Ind3)</th>
                                            <th class="all">BP (mm) (Ind3)</th>
                                            <th class="all">Amp (%) (Ind4)</th>
                                            <th class="all">BP (mm) (Ind4)</th>
                                            <th class="all">Amp (%) (Ind5)</th>
                                            <th class="all">BP (mm) (Ind5)</th>
                                            <th class="all">Amp (%) (Ind6)</th>
                                            <th class="all">BP (mm) (Ind6)</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/common.js"></script>
