﻿@using IEMQSImplementation
@model QMS082
@{
    ViewBag.Title = "TOFD UT Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>



<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {

        var lstScanningSurface = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ListScanningSurface))));
        FillAutoCompleteWithCallBack($("#txtScanningSurface"), lstScanningSurface, $("#ScanningSurface"), null);
        $("#btnSave").click(function () {
            UpdateData();
        });

        //$('.clsUpdateHeader').change(function () {
        //    UpdateData();
        //});

        if ('@ViewBag.isDisabled'.toLowerCase() == "disabled") {
            $(".clsUpdateHeader").attr('disabled', true);
            $("#txtTestInstrument").attr('disabled', true);
            $("#btnSave").hide();
        }
        
        if ('@ViewBag.ScanningSurface' != "") {
            $("#txtScanningSurface").val('@ViewBag.ScanningSurface');
            $("#ScanningSurface").val('@Model.ScanningSurface');
        }
        var oTable = $("#tblLines").dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainNDESeamTechnique/loadTOFDUTLinesDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                          { "name": "id", "value": $('#HeaderId').val() }
            )
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",// "details-control",
                    "bSortable": false,
                    "sWidth": "5%",
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                },
                 {
                     "sClass": "center",
                 },
                 {
                     "sClass": "center",
                 },
                  {
                      "sClass": "center",
                  },
                  {
                      "sClass": "center",
                  },
                   {
                       "sClass": "center",
                   },
                 {
                     "sClass": "center",
                 },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        var functionCallEdit = "ViewLine( " + row[1] + "," + row[2] + ")";
                        if ('@ViewBag.isDisabled'.toLowerCase() == "disabled") {
                            buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="View Line" class="disabledicon fa fa-pencil-square-o" ></i></center>';
                        }
                        else {
                            buttons = '<center><i id="btnEditLine" name="btnAction" style="cursor:pointer;"  Title="View Line" class="fa fa-pencil-square-o"  onClick="' + functionCallEdit + '" ></i></center>';
                        }
                        return buttons;
                    }
                },

            ]
        });
        var isSelectTestInstrument = false;

        $("#txtTestInstrument").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainNDESeamTechnique/GetTestInstrumentResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        location: $("#Location").val().split('-')[0]
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.IDescription, value: item.INumber };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#txtTestInstrument").val(ui.item.label);
                    $("#TestInstrument").val(ui.item.value);
                    event.preventDefault();
                    isSelectTestInstrument = true;
                }

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $("#TestInstrument").val('');
                    $(this).focus();
                }
                //UpdateData()
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        if ('@ViewBag.TestInstrument' != '' && '@ViewBag.TestInstrument' != 'null' && '@ViewBag.TestInstrument' != null && '@ViewBag.TestInstrument' != undefined) {
            $("#txtTestInstrument").val('@ViewBag.TestInstrument');
        }
        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });

        $('#frmCreateHeader').validate({
            rules: {
                txtTestInstrument: { required: true },
                NDTDuration: { required: true },
                DataSamplingSpacing: { required: true },
                DataStorageLocation: { required: true },
                ScanningStartLocation: { required: true },
                EncoderCalibration: { required: true },
                Software: { required: true },
                Version: { required: true },
                txtScanningSurface: { required: true },
                FinalDisplayProcessingLevels: { required: true },
                CompAscanUT: { required: true },
                AfterTestCalibrationrechecked: { required: true },
                AnySpecialAccessoriesUsed: { required: true },
                AnyRecordableIndication: { required: true },
                NDTremarks: { required: true },
            },
            messages: {
                txtTestInstrument: { required: "Test Instrument is required" },
                NDTDuration: { required: "NDT Duration (Hrs.) is required" },
                DataSamplingSpacing: { required: "Data Sampling Spacing (mm) is required" },
                DataStorageLocation: { required: "Data Storage Location is required" },
                ScanningStartLocation: { required: "Scanning Start Location is required" },
                EncoderCalibration: { required: "Encoder Calibration is required" },
                Software: { required: "Software is required" },
                Version: { required: "Version is required" },
                txtScanningSurface: { required: "Scanning Surface is required" },
                FinalDisplayProcessingLevels: { required: "Final Display Processing Levels is required" },
                CompAscanUT: { required: "Comp. A-scan UT is required" },
                AfterTestCalibrationrechecked: { required: "After Test Calibration rechecked is required" },
                AnySpecialAccessoriesUsed: { required: "Any Special Accessories Used is required" },
                AnyRecordableIndication: { required: "Any Recordable Indication is required" },
                NDTremarks: { required: "NDT Remarks is required" },
            }
        });

    });

    function UpdateData() {
        if ($("#frmCreateHeader").valid()) {
            debugger
            var formData = new FormData();
            // formData.ScanningSurface = $("#txtScanningSurface").val();
            var strFormData = $("#frmCreateHeader").serializeArray();
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + "/IPI/MaintainNDESeamTechnique/SaveTOFDUTHeader",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                //beforeSend: function () {
                //    showLoading(true);
                //},
                //complete: function () {
                //    showLoading(false);
                //},
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            HighlightInValidControls();
            return false;
        }
    }

    function ViewLine(lineId, headerId) {
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/TOFDUTLinesPartial",
            type: "POST",
            datatype: "html",
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerId, lineId: lineId },
            success: function (data) {
                bootbox.dialog({
                    title: "TOFD UT Lines",
                    message: data,
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmSubLines").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmSubLines').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        formData.append(input.name, input.value);
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/MaintainNDESeamTechnique/SaveTOFDUTLines',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                                $('#tblLines').DataTable().ajax.reload();
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                                //bootbox.hideAll();
                                //$(".modal-backdrop").remove()
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () {
                                bootbox.hideAll();
                                $(".modal-backdrop").remove()
                            },
                        }
                    }
                })
            },
            error: function () {
                DisplayNotiMessage("error", "Error occured please try again", "Error");
            }
        });
    }
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">TOFD UT Header</span>
                    </div>
                    @*<div class="ribbon ribbon-right ribbon-color-warning">
                            <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.Status) </span>
                            @Html.HiddenFor(m => m.Status)
                        </div>*@
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.RefHeaderId)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Stage,Request & Iteration</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Seam No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Stage Code</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Stage Sequence</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="control-label">Iteration No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Request No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Request Sequence No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Technique Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">UT Tech No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Status</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Status, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">UT Procedure No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Couplant Used</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouplantUsed, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Reference Reflector Size</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReferenceReflectorSize, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Reference Reflector Distance</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReferenceReflectorDistance, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Calibration BlockID</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CalibrationBlockID, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Calibration BlockID Thickness</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CalibrationBlockIDThickness, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scanning Detail</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanningDetail, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Encoder Type</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.EncoderType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scan Plan</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Scanner Type</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScannerType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scanner Make</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScannerMake, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Cable Type</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CableType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Cable Length</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CableLength, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Scan Plan</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanPlan, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Planner Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Approver Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ApproverRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Test Instrument<span class="required">*</span></label>
                                            <div class="">
                                                <input type="text" id="txtTestInstrument" value="" name="txtTestInstrument" class="form-control col-md-3 clsUpdateHeader" />
                                                @Html.HiddenFor(m => m.TestInstrument, new { })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Date of Examination</label>
                                            @Html.TextBoxFor(m => m.ExaminationDate, "{0:dd/MM/yyyy}", new { @class = "form-control clsUpdateHeader", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">NDT Duration (Hrs.)<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDTDuration, new { @class = "form-control col-md-3 set-numeric clsUpdateHeader", @maxLength = "3" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Data Sampling Spacing (mm)<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DataSamplingSpacing, new { @class = "form-control col-md-3 set-numeric clsUpdateHeader", @maxLength = "3" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Data Storage Location<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DataStorageLocation, new { @class = "form-control col-md-3 clsUpdateHeader", @maxLength = "50" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Scanning Start Location<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ScanningStartLocation, new { @class = "form-control col-md-3 clsUpdateHeader", @maxLength = "30" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Encoder Calibration<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.EncoderCalibration, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Software<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Software, new { @class = "form-control col-md-3 clsUpdateHeader", @maxLength = "20" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Version<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Version, new { @class = "form-control col-md-3 clsUpdateHeader", @maxLength = "10" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Scanning Surface<span class="required">*</span></label>
                                            <div class="">
                                                <input type="text" id="txtScanningSurface" name="txtScanningSurface" class="form-control col-md-3 clsUpdateHeader" placeholder="Select" />
                                                @Html.HiddenFor(m => m.ScanningSurface, new { @id = "ScanningSurface" })
                                                @*@Html.DropDownList("ScanningSurface", new List<SelectListItem>
                                                        { new SelectListItem{ Text="Outside", Value = "Outside", Selected= true },
                                                          new SelectListItem{ Text="Inside", Value = "Inside" },
                                                         }, new { @class = "form-control col-md-3 clsUpdateHeader" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Final Display Processing Levels<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.FinalDisplayProcessingLevels, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Comp. A-scan UT<span class="required">*</span> </label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.CompAscanUT, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">After Test Calibration rechecked<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AfterTestCalibrationrechecked, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Any Special Accessories Used<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AnySpecialAccessoriesUsed, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Any Recordable Indication<span class="required">*</span></label>
                                            <div class="">
                                                @Html.DropDownListFor(m => m.AnyRecordableIndication, new SelectList(@ViewBag.lstyesno, "Value", "Text"), "Select", new { @class = "form-control clsUpdateHeader" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">NDT Remarks<span class="required">*</span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.NDTremarks, new { @class = "form-control col-md-6 clsUpdateHeader", @maxLength = "500" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align:right;padding-top:10px">
                                        <button class="btn save" type="button" id="btnSave">Save</button>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="row">
                    @*<div class="col-md-12" style="text-align:right">
                            <input type="button" class="btn green" id="btnAddLines" value="Add Line" />
                        </div>
                        <br />
                        <br />*@
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    TOFD UT Lines
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:5%;">#</th>
                                            <th style="display:none;">LineId</th>
                                            <th style="display:none;">HeaderId</th>
                                            <th style="display:none;">RefHeaderId</th>
                                            <th class="min-phone-1">UT Tech No</th>
                                            <th class="min-phone-1">RevNo.</th>
                                            <th class="min-phone-1">Scan No</th>
                                            <th class="min-phone-1">Search Unit Serial No</th>
                                            <th class="min-phone-1">Scan Type</th>
                                            <th class="min-phone-1">PCS</th>
                                            <th class="min-phone-1">Reference gain(dB)</th>
                                            <th class="min-phone-l">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" style="text-align:right; display:none">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="col-md-12" style="text-align:right;">
                            <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>
