﻿
<div class="modal-body">
    @*<div class="row justify-content-end">*@
    <div class="col-sm-12">
        @*<div class="form-group m-form__group row">*@
        @Html.Hidden("rocRefNo", (object)ViewBag.RocRefNo)
        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
            @*<a href="#" class="m-nav__link" id="export_print">
                    <i class="m-nav__link-icon la la-print"></i>
                    <span class="m-nav__link-text">Print</span>
                </a>*@

            <table class="table table-hovered table-bordered table--head-bg-secondary" id="tblVersionByROC"></table>
        </div>

        @*</div>*@
    </div>
</div>


@*</div>*@

<script>
    var RocRefNo = $('#rocRefNo').val();
    var tblVersionByROC;
    $(document).ready(function () {
        tblVersionByROC = $('#tblVersionByROC').DataTable({
            "serverSide": true,
            "processing": true,
            "orderMulti": false,
            "filter": true,
            "sAjaxSource": "/DES/ROC/GetAllROCVersions",
            "iDisplayLength": 10,
            "ordering": true,
            "scrollX": true,
            "responsive": false,
            "language": {
                "infoFiltered": ""
            },
            "order": [[0, 'desc']],
            "columnDefs": [

            ],
            //dom: 'Bfrtip',

            //buttons: [{
            //    extend: 'excel',
            //    text:"<a href='javascript:;'' class='btn m-btn btn-outline-metal m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill' target='_blank'> <i class='la la-file-excel-o'></i></a>"
            //    ,exportOptions: {
            //        columns: [1, 2, 3, 4]
            //    },
            //    filename: RocRefNo,
            //    title:''
            //}],

            "fnServerData": function (sSource, data, fnCallback) {
                data.push({ name: "rocRefNo", value: RocRefNo });
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": data,
                    "success": fnCallback
                });

            },
            "aoColumns": [
                  {
                      "sTitle": "Action", "className": "action ", render: function (data, type, row, meta) {
                          var srt = "";

                          srt += '';
                          //if (row.Status === 'Created') {
                          //    srt += '<a href="/DES/ROC/Edit?q=' + row.QString + '" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" ><i class="la la-edit m--font-brand"></i></a>';
                          //}
                          //else {
                          srt += '<a href="/DES/ROC/Detail?q=' + row.QString + '" class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill" title="View"> <i class="la la-eye m--font-success"></i></a>';
                          //    srt += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill btnRev"  title="Create Revision"><i class="la la-refresh m--font-brand"></i></a>';
                          //    srt += '<a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill btnRocVersion" title="ROC Versions"><i class="fa fa-search-plus m--font-brand"></i></a>';
                          //}
                          srt += '';

                          return srt;
                      }
                  },
                  {
                      "sTitle": "ROC Ref No", "className": "", "sWidth": "", render: function (data, type, row, meta) {
                          return row.ROCRefNo;
                      }
                  },
                  {
                      "sTitle": "Ver", "className": "", "sWidth": "", render: function (data, type, row, meta) {
                          return row.Version;
                      }
                  },
                  {
                      "sTitle": "Agency Name ", "className": "", "sWidth": "", render: function (data, type, row, meta) {
                          return row.AgencyName;
                      }
                  },
                  {
                      "sTitle": "Created On", "className": "", "sWidth": "", render: function (data, type, row, meta) {
                          return row.CreatedOn;
                      }
                  }
            ],

            "initComplete": function () {

            },

            "fnRowCallback": function () {
                setTimeout(function () {
                    tblVersionByROC.columns.adjust();
                }, 1000);
            }

        });
    });
    var path;
    $('#tblVersionByROC').on('click', 'td .btnDownload', function () {
        var tr = $(this).closest('tr');
        var row = tblVersionByROC.row(tr);
        var data = row.data();
        downloadFile(data.MainDocumentPath);
    });


    function downloadFile(fielpath) {
        var CurrentLocationIp = $('#CurrentLocationIp').val();
        var FCSurl = CurrentLocationIp + "/Download";
        var DocPathList = [];
        DocPathList.push(fielpath);
        popupWindow(FCSurl + "?DocList=" + DocPathList, "DownloadWindow", window, 500, 500);
    }
    function popupWindow(url, title, win, w, h) {
        const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
        const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
        return win.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
    }


    //$('#export_print').on('click', function (e) {
    //    e.preventDefault();
    //    tblVersionByROC.button(0).trigger();
    //});
</script>
