﻿@model IEMQS.DESCore.ROCModel
@{
    if (Model.ROCId > 0)
    {
        ViewBag.Title = "Edit ROC";
    }
    else
    {
        ViewBag.Title = "Add ROC";
    }

    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">

    @using (Ajax.BeginForm("EditROCComment", "ROC", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ROCSuccess", OnBegin = "ROCBegin" }, new { @Id = "FormROC" }))
    {
        @Html.HiddenFor(x => x.ROCId, new { @id = "hdnRocId" })
        @Html.HiddenFor(x => x.IsLatest, new { @id = "IsLatest" })
        @Html.HiddenFor(x => x.IsRevised, new { @id = "IsRevised" })
        @Html.HiddenFor(x => x.Project, new { @id = "hdnProject" })
        @Html.HiddenFor(x => x.ROCRefNo, new { @id = "hdnROCRefNo" })
        @Html.HiddenFor(x => x.LastSrNo, new { @id = "hdnlastSrNo" })
        @Html.HiddenFor(x => x.IsCommentChanges)
        @Html.HiddenFor(x => x.CurrentLocationIp)
        @Html.HiddenFor(x => x.FilePath)
        @Html.HiddenFor(x => x.DocumentId)
        @Html.HiddenFor(x => x.AgencyId)
        @Html.HiddenFor(x => x.IsView)
        @Html.HiddenFor(x => x.IsROCCommentsId, new { @id = "hdnROCCommentsId" })
        @Html.HiddenFor(x => x.IsAgencyComment, new { @id = "hdnIsAgencyComment" })
        @Html.HiddenFor(x => x.IsLandTComment, new { @id = "hdnIsLandTComment" })
        @Html.HiddenFor(x => x.IsAgencyResponse, new { @id = "hdnIsAgencyResponse" })

        @Html.HiddenFor(x => x.JEPClientDocNo, new { @id = "JEPClientDocNo" })
        @Html.HiddenFor(x => x.JEPClientDocRev, new { @id = "JEPClientDocRev" })

        <div class="m-portlet__body">
            <h4 class="m-portlet__head-text ">
                Maintain Resolution of Comments
            </h4>

            <div class="theme-form">
                <div class="row m-0">
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">Equipment No</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.EquipmentNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">ROC Ref No</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.ROCRefNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">Project No</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.Project, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" id="hdnDocNo" value="@Model.DocNo" />
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary"> Doc No </label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.DocNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">Reviewing Agency</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.AgencyName, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary"> ROC Version </label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.Version, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary"> Doc Title</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.DocTitle, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">Create Date</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.CreatedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">Submit Date</label>
                            <div class="col-6 pl-0">
                                @Html.TextBoxFor(x => x.SubmittedDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-form__group row">
                            <label class="col-6 col-form-label bg-secondary">Commented Document</label>
                            <div class="col-6 pl-0">
                                <a href="javascript:;" class="btn btn-success btn-sm m-btn m-btn--custom ml-3" data-toggle="modal" data-target="#m_dropzone_doc" onclick="ROCCommentedDocDropzone(@Model.ROCId)" id="btnView">View</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
            <div class="editable-table">
                <table class="table table-bordered" id="tblROC"></table>
            </div>
        </div>

        <div class="m-portlet__foot">
            <div class="row align-items-center">
                <div class="col-lg-12 text-right">
                    <button type="submit" name="btnsubmit" value="SaveDraft" class="btn btn-warning">Save As Draft</button>
                    @*@if (Model.SubmittedDate == null)
                        {*@
                    <button type="submit" name="btnsubmit" value="submit" class="btn btn-primary">Submit</button>
                    @*}*@


                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="m_dropzone_doc" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Commented Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="m-dropzone dropzone m-dropzone--success mb-4" action="inc/api/dropzone/upload.php" id="m-dropzone-commenteddoc">
                        <div class="m-dropzone__msg dz-message">
                            <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                            <span class="m-dropzone__msg-desc">Upload up to 10 files</span>
                        </div>
                    </div>*@

                <div class="col-md-12">
                    <div class="form-group m-form__group row">
                        <label class="col-4 col-form-label bg-secondary">Document No</label>
                        <label class="col-4 col-form-label bg-secondary">Document Revision</label>
                        <label class="col-4 col-form-label bg-secondary">Document Feedback</label>

                        <input type="text" id="documentNo" readonly class="form-control m-input  m-input--square col-4">
                        <input type="text" id="documentRevision" readonly class="form-control m-input  m-input--square col-4">
                        <input type="text" id="documentRemark" readonly class="form-control m-input  m-input--square col-4">
                    </div>
                </div>

                <table class="table table-bordered " id="tblROCCommentedDocs"></table>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="m_dropzone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-dropzone dropzone m-dropzone--success mb-4" action="inc/api/dropzone/upload.php"  id="m-dropzone-two">
                        <div class="m-dropzone__msg dz-message">
                            <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                            @*<span class="m-dropzone__msg-desc">Upload up to 10 files</span>*@
                        </div>
                    </div>
                <table class="table table-bordered " id="tblROCCommentFiles"></table>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<style>
    #tblROC td {
        vertical-align: top;
    }
</style>

@section Scripts{
    <script src="~/DESAssets/js/ROC_Add.js"></script>

}