﻿@model IEMQS.DESCore.ROCModel
@using IEMQS.Areas.DES.Models
@{
    ViewBag.Title = "ROC";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">
    <div class="m-portlet__body">
        @Html.HiddenFor(x => x.CurrentPsNo, new { @id = "CurrentPsNo" })
        <h4 class="m-portlet__head-text ">
            Maintain Resolution of Comments
        </h4>
        <div class="theme-form">
            @Html.HiddenFor(model => model.Project, new { id = "Project", Value = ViewBag.CurrentProject })
            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
            <div>
                <table class="table table-bordered" id="tblROCGrid"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ROC Version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyAllVersion"></div>
        </div>
    </div>
</div>
<script>
    var IsInprocess='@SessionMgtModel.ProjectFolderList.IsInprocess';
</script>
@section Scripts{
    <script src="~/DESAssets/js/roc-index.js"></script>
}