﻿@model IEMQSImplementation.WPP003

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    var Id = $("#Id").val();

    $(document).ready(function () {
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
    });
    jQuery.validator.addMethod("notEqualToGroup", function (value, element, options) {
        // get all the elements passed here with the same class
        var elems = $(element).parents('form').find(options[0]);
        // the value of the current element
        var valueToCompare = value;
        // count
        var matchesFound = 0;
        // loop each element and compare its value with the current value
        // and increase the count every time we find one
        jQuery.each(elems, function () {
            thisVal = $(this).val();
            if (thisVal == valueToCompare) {
                matchesFound++;
            }
        });
        // count should be either 0 or 1 max
        if (this.optional(element) || matchesFound <= 1) {
            //elems.removeClass('error');
            return true;
        } else {
            //elems.addClass('error');
        }
    }, "Welding Process Must Be Unique Value.");

    jQuery.validator.addMethod('notEqualTo', function (value, element, param) {
        return value.trim() != $(param).val().trim();
    }, '');

    $.validator.addMethod("notEqual", function (value, element, param) {
        var status = this.optional(element) || value != $(param).val();
        if (status) {
            $(param).removeClass('error');
        }
        return status;
    }, "Parent metal Must be Different");

    $("#frmWPPKey").validate({
        rules: {
            Key1: { required: true, number: true },//, notEqualTo: "#Key2" },
            // Key2: { required: true, number: true },//, notEqualTo: "#Key1" },
            txtParentmetal1: {
                required: true,
            },
            txtParentmetal2: {
                required: true,
            },
            txtParentmetal3: {
                required: true,
            },
            txtWeldingProcess1: {
                required: true,
              //  notEqualToGroup: ['.distinctWelding']
            },

            txtWeldingProcess2: {
                required: {
                    depends: function () {
                        return $("#txtWeldingProcess3").val().length > 0
                    }
                },
             //   notEqualToGroup: ['.distinctWelding']
            },
            txtWeldingProcess3: {
             //   notEqualToGroup: ['.distinctWelding']
            },
            txtJointType: { required: true },
            txtPWHT: { required: true },
        },
        messages: {
            Key1: {
                required: "Key1 Is Required",
              //  notEqualTo: "Key Values Must be Different"
            },
            //Key2: {
            //    required: "Key2 Is Required",
            //   // notEqualTo: "Key Values Must be Different"
            //},
            txtParentmetal1: {
                required: "Parent Metal1 Is Required",
            },
            txtParentmetal2: {
                required: "Parent Metal2 Is Required",
            },
            txtParentmetal3: {
                required: "Parent Metal3 Is Required",
            },
            txtWeldingProcess1: { required: "Welding Process1 Is Required" },
            txtWeldingProcess2: { required: "Welding Process2 Is Required Before Enter Welding Process3" },
            txtWeldingProcess3: { required: "Welding Process3 Is Required Before Enter Welding Process4" },
            txtJointType: { required: "Joint Type IS Required" },
            txtPWHT: { required: "PWHT Is Required" },
        }
    });
    var lstParentmetal = @Html.Raw(Json.Encode(@ViewBag.ParentMetal))
    var lstWeldingProcess = @Html.Raw(Json.Encode(@ViewBag.WeldingProcess))
    var lstJointType = @Html.Raw(Json.Encode(@ViewBag.JointType))
    var lstPWHT =@Html.Raw(Json.Encode(@ViewBag.PWHT))

    FillAutoComplete($("#txtJointType"), lstJointType, $("#JointType"), true);
    FillAutoComplete($("#txtPWHT"), lstPWHT, $("#PWHT"), true);
    FillAutoComplete($("#txtParentmetal1"), lstParentmetal, $("#Parentmetal1"), true);
    FillAutoComplete($("#txtParentmetal2"), lstParentmetal, $("#Parentmetal2"), true);
    FillAutoComplete($("#txtParentmetal3"), lstParentmetal, $("#Parentmetal3"), true);

    FillAutoComplete($("#txtWeldingProcess1"), lstWeldingProcess, $("#WeldingProcess1"), true, "#txtWeldingProcess2,#txtWeldingProcess3", "#txtWeldingProcess2");
    FillAutoComplete($("#txtWeldingProcess2"), lstWeldingProcess, $("#WeldingProcess2"), false, "#txtWeldingProcess3", "#txtWeldingProcess3");
    FillAutoComplete($("#txtWeldingProcess3"), lstWeldingProcess, $("#WeldingProcess3"), false);

    if (Id != null && Id != undefined && Id != " " && Id != 0) {
        $("#Key1").prop("readonly", "readonly");
        if ('@Model.Parentmetal1' != '' && '@Model.Parentmetal1' != "null" && '@Model.Parentmetal1' != null) {
            $("#txtParentmetal1").val('@ViewBag.ParentMetal1Selected');
        }
        if ('@Model.Parentmetal2' != '' && '@Model.Parentmetal2' != "null" && '@Model.Parentmetal2' != null) {
            $("#txtParentmetal2").val('@ViewBag.ParentMetal2Selected');
        }
        if ('@Model.Parentmetal3' != '' && '@Model.Parentmetal3' != "null" && '@Model.Parentmetal3' != null) {
            $("#txtParentmetal3").val('@ViewBag.ParentMetal3Selected');
        }
        if ('@Model.WeldingProcess1' != '' && '@Model.WeldingProcess1' != "null" && '@Model.WeldingProcess1' != null) { $("#txtWeldingProcess1").val('@ViewBag.WeldingProcess1Selected'); $("#txtWeldingProcess1,#txtWeldingProcess2").removeAttr("disabled"); }
        if ('@Model.WeldingProcess2' != '' && '@Model.WeldingProcess2' != "null" && '@Model.WeldingProcess2' != null) { $("#txtWeldingProcess2").val('@ViewBag.WeldingProcess2Selected'); $("#txtWeldingProcess2,#txtWeldingProcess3").removeAttr("disabled"); }
        if ('@Model.WeldingProcess3' != '' && '@Model.WeldingProcess3' != "null" && '@Model.WeldingProcess3' != null) { $("#txtWeldingProcess3").val('@ViewBag.WeldingProcess3Selected'); $("#txtWeldingProcess3,#txtWeldingProcess4").removeAttr("disabled"); }

        if ('@Model.JointType' != '' && '@Model.JointType' != "null" && '@Model.JointType' != null) { $("#txtJointType").val('@ViewBag.JointTypeSelected'); }
        if ('@Model.PWHT' != '' && '@Model.PWHT' != "null" && '@Model.PWHT' != null) { $("#txtPWHT").val('@ViewBag.PWHTSelected'); }
    }


    if ('@ViewBag.InUsed' == "true") {
        $('#frmWPPKey input[type="text"]').prop('disabled', 'disabled');
        $('#btnSave').prop('disabled', 'disabled');
    }
</script>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <form id="frmWPPKey" class="form-horizontal">

                <fieldset>
                    <legend>WPP Key</legend>
                    <div class="col-md-12">
                        @Html.HiddenFor(m => m.Id)
                        <div class="col-md-4">
                            <label class="control-label">Location<span class="required">*</span></label>
                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-4", @readonly = "readonly" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Key1<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.Key1, new { @class = "form-control col-md-4", @maxlength = "4" })
                        </div>

                        @*<div class="col-md-4">
                            <label class="control-label">Key2<span class="required">*</span></label>
                            @Html.TextBoxFor(m => m.Key2, new { @class = "form-control col-md-4", @maxlength = "4" })
                        </div>*@
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Parent Metal</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Parent metal 1<span class="required">*</span></label>
                            <input type="text" id="txtParentmetal1" name="txtParentmetal1" class="distinctMetal form-control col-md-4" placeholder="Select" />
                            @Html.HiddenFor(m => m.Parentmetal1)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Parent metal 2<span class="required">*</span></label>
                            <input type="text" id="txtParentmetal2" name="txtParentmetal2" class="distinctMetal form-control col-md-4" placeholder="Select" />
                            @Html.HiddenFor(m => m.Parentmetal2)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Parent metal 3<span class="required">*</span></label>
                            <input type="text" id="txtParentmetal3" name="txtParentmetal3" class="distinctMetal form-control col-md-4" placeholder="Select" />
                            @Html.HiddenFor(m => m.Parentmetal3)
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Welding Process</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Welding Process 1<span class="required">*</span></label>
                            <input type="text" id="txtWeldingProcess1" name="txtWeldingProcess1" class="distinctWelding form-control col-md-4" placeholder="Select" />
                            @Html.HiddenFor(m => m.WeldingProcess1)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Welding Process 2</label>
                            <input type="text" id="txtWeldingProcess2" name="txtWeldingProcess2" class="distinctWelding form-control col-md-4" placeholder="Select" disabled />
                            @Html.HiddenFor(m => m.WeldingProcess2)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Welding Process 3</label>
                            <input type="text" id="txtWeldingProcess3" name="txtWeldingProcess3" class="distinctWelding form-control col-md-4" placeholder="Select" disabled />
                            @Html.HiddenFor(m => m.WeldingProcess3)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Joint Type<span class="required">*</span></label>
                            <input type="text" id="txtJointType" name="txtJointType" class="form-control col-md-4" placeholder="Select" />
                            @Html.HiddenFor(m => m.JointType)
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">PWHT<span class="required">*</span></label>
                            <input type="text" id="txtPWHT" name="txtPWHT" class="form-control col-md-4" placeholder="Select" />
                            @Html.HiddenFor(m => m.PWHT)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Remarks</label>
                            @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control col-md-4", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>
                @*<div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-8" style="text-align:right;margin-top:3%">
                        <input type="button" id="btnSave" class="btn save" value="Save" />
                        <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
                    </div>
                </div>*@

            </form>
        </div>
    </div>
    </div>