﻿@using IEMQSImplementation
@using IEMQS.Areas.SSS.Controllers;

<script>
    var role = '@Convert.ToInt32(RoleForSSS.MOM)';
    var RoleId = '@ViewBag.RoleId';
    var url = WebsiteURL + "/SSS/CSRNotes/loadCSRNotestDataTable?status=" + '@ViewBag.status' + "&RoleId=" + RoleId;
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 15, 20],
            [5, 10, 15, 20]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": url,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': fnCallback
            });
        },
        "columns": [
             {
                 "sClass": "center",
                 "ColName": "" + (RoleId != role ? "s1.SSSNo" : "SSSNo") + "",
                 "name": "SSSNo",
             },
              {
                  "sClass": "center",
                  "ColName": "" + (RoleId != role ? "s1.Contract" : "Contract") + "",
                  "name": "Contract",
              },
              {
                  "sClass": "center",
                  "ColName": "" + (RoleId != role ? "s1.Customer" : "Customer") + "",
                  "name": "Customer",
              },
              {
                  "sClass": "center",
                  "ColName": "" + (RoleId != role ? "s1.CSRMeetingOn" : "CSRMeetingOn") + "",
                  "name": "CSRMeetingOn",
                  "attr": "date",
              },
              {
                  "sClass": "center",
                  "ColName": "" + (RoleId != role ? "s22.Status" : "Status") + "",
                  "name": "Status",
              },              
            {
                "sClass": "",
                "bSortable": false,
                "render": function (data, type, row, meta) {
                    var SSSId = row[6];
                    var buttons = "";

                    var functionCall = "ViewSSS(" + SSSId + ")";

                    buttons = "<center>" +
                        "<a href='javascript:void(0);' Title='View' onclick=" + functionCall + "><i style='margin-left:5px;' class='fa fa-eye'></i></a>" +
                        //"<a class='btn btn-xs' href='javascript:void(0)' onclick=ShowTimeline('/PAM/DSS/ShowTimeline?HeaderID=" + parseInt(row[1]) + "');><i style='margin-left:5px;' class='fa fa-clock-o'></i></a>" +
                        "</center>";

                    return buttons;
                }
            },
             {
                 "sClass": "hide",
             },
        ]
    });
    table.dtSearchFilter();

    function ViewSSS(SSSId) {
        window.location.href = WebsiteURL + "/SSS/CSRNotes/CSRNotesForm?SSSId=" + SSSId + "&RoleId=" + RoleId;
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    SSS Details
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="min-phone-l">SSSNo</th>
                            <th class="min-phone-l">Contract</th>
                            <th class="min-phone-l">Customer</th>
                            <th class="min-phone-l">CSRMeetingOn</th>                            
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l" style="white-space:nowrap">Action</th>
                            <th style="display:none;">SSSId</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
