﻿@using IEMQSImplementation
@{
    string JointType = ViewBag.JointType.ToString().ToLower();
    var ExcelGridType = clsImplementationEnum.GridType.WPQCertificate;
    if (JointType == "groove/fillet")
    {
        ExcelGridType = clsImplementationEnum.GridType.WPQCertificate;
    }
    else if (JointType == "overlay")
    {
        ExcelGridType = clsImplementationEnum.GridType.WOPQCertificate;
    }
    else if (JointType == "t#ts")
    {
        ExcelGridType = clsImplementationEnum.GridType.TTSCertificate;
    }
}
<style>
    .clsdropdown {
        z-index: 100000;
    }

    .colWidth200 {
        min-width: 200px !important;
    }

    .colWidth70 {
        min-width: 70px !important;
    }

    .wmllist {
        top: -102px !important;
        left: -17px !important;
    }

    .wmlnotes {
        top: -496px !important;
        left: -17px !important;
    }

    #fltValueUpto, #fltLastWeldDate {
        padding-right: 3px !important;
    }

    .p20 {
        width: 20% !important;
    }

    .width30 {
        min-width: 30px !important;
        max-width: 30px !important;
        width: 30px !important;
    }

    .width40 {
        min-width: 40px !important;
        max-width: 40px !important;
        width: 40px !important;
    }

    .mycustomfilter th {
        min-width: unset !important;
    }

    .table thead tr th {
        font-size: 13px;
    }

    input[type="date"] {
        width: 70px;
        padding-right: 2px !important;
    }

    .input-icon.right > .form-control {
        padding-right: 5px;
    }

    .input-icon.right > i {
        right: 3px;
    }
    .table td, .table th {
    font-size: 12px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green wmllist">
            <div class="portlet-title">
                <div class="caption">
                    WML List
                </div>
                <div class="tools" id="dvExportCertificate">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/WelderPSlip/GenerateExcel", GridType = ExcelGridType.GetStringValue(), dvId = "#dvExportCertificate" })
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover" id="tblWMLList" cellspacing="0">
                    <thead>
                        @if (JointType == "groove/fillet")
                        {
                            <tr>
                                <th style="display:none;">Id</th>
                                <th class="all select"></th>
                                <th class="all">PSNo</th>
                                <th class="all">Welder Name</th>
                                <th class="all width30">Stamp<br />No</th>
                                <th class="all width40">Shop</th>
                                <th class="all">WQT No.</th>
                                <th class="all">Welding<br />Process<br />(es)</th>
                                <th class="all">Welding<br />Type</th>
                                <th class="all">Pos<br />Groove<br />Plate<br />&Pipe<br />>=610</th>
                                <th class="all width30">Pos<br />Groove<br />Pipe<br />< 610 </th>
                                <th class="all">Position<br />of Fillet</th>
                                <th class="all">P No</th>
                                <th class="all">Base<br />metal<br />thk<br />(mm)</th>
                                <th class="all">Deposit<br />thk<br />(mm)</th>
                                <th class="all">Plate<br />/Pipe<br />Dia</th>
                                <th class="all">F No</th>
                                <th class="all">Backing</th>
                                <th class="all">Inert<br />gas<br />backing</th>
                                <th class="all">Circ.<br />Weld<br />Ovly</th>
                                <th class="all">Last Weld<br />Date</th>
                                <th class="all">Valid<br />upto</th>
                                <th class="all">Remarks</th>
                            </tr>
                        }
                        else if (JointType == "overlay")
                        {
                            <tr>
                                <th style="display:none;">Id</th>
                                <th class="all select"></th>
                                <th class="all">PSNo</th>
                                <th class="all">Welder Name</th>
                                <th class="all width30">Stamp<br />No</th>
                                <th class="all width30">Shop</th>
                                <th class="all">WQT No.</th>
                                <th class="all">Welding<br />Process<br />(es)</th>
                                <th class="all">Welding<br />Type</th>
                                <th class="all">Pos<br />Groove<br />Plate<br />&Pipe<br />>=610</th>
                                <th class="all">Pos<br />Groove<br />Pipe<br />< 610</th>
                                <th class="all">Position<br />of Fillet</th>
                                <th class="all">P No</th>
                                <th class="all">Base<br />metal<br />thk<br />(mm)</th>
                                <th class="all">Deposit<br />thk<br />(mm)</th>
                                <th class="all">Plate<br />/Pipe<br />Dia</th>
                                <th class="all">F No</th>
                                <th class="all">Backing</th>
                                <th class="all">Inert<br />gas<br />backing</th>
                                <th class="all">Circ.<br />Weld<br />Ovly</th>
                                <th class="all">Last Weld<br />Date</th>
                                <th class="all">Valid<br />upto</th>
                                <th class="all">Remarks</th>
                            </tr>
                        }
                        else if (JointType == "t#ts")
                        {
                            <tr>
                                <th style="display:none;">Id</th>
                                <th class="all select"></th>
                                <th class="all">PSNo</th>
                                <th class="all">Welder Name</th>
                                <th class="all width30">Stamp<br />No</th>
                                <th class="all width30">Shop</th>
                                <th class="all">WQT No.</th>
                                <th class="all">Welding<br />Process<br />(es)</th>
                                <th class="all">Welding<br />Type</th>
                                <th class="all">Joint Type</th>
                                <th class="all">Last Weld<br />Date</th>
                                <th class="all">Valid upto</th>
                                <th class="all">Remarks</th>
                            </tr>
                        }
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet box green wmlnotes">
            <div class="portlet-title">
                <div class="caption">
                    Notes
                </div>
                <div class="tools" id="dvExportNotes">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/WelderPSlip/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportNotes" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="tblWMLNotes" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all hide">Location</th>
                            <th class="all">Notes</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var l_Location = '@ViewBag.Location'
    var l_JointType = '@JointType'
    var l_WeldingProcess = '@ViewBag.WeldingProcess'
    var l_ProjectNo = '@ViewBag.ProjectNo'
    var tblColumns = [];
    var UtilityParams = null;
    var UtilityParamsNotes = null;
    var table = $('#tblWMLList');
    var tblWMLNotes = $('#tblWMLNotes');
    $(document).ready(function () {
        debugger
        if (l_JointType.toLowerCase() == "overlay") {
            UtilityParams = {
                sUrl: "/IPI/WelderPSlip/LoadWMLWOPQCertificateData?QualityProject=" + $("#txtQP").val(),
                iFCLeft: 6,
                fnCreateRow: function (row, data, dataIndex) {
                    $(row).attr("data-weldingtypecode", data.TypeOfWeldingAutomaticQualifiedCode);
                },
                aoColumns: [
                               { "data": "Id", "sClass": "hide" },
                               {
                                   "data": "Id", "sClass": "select center",
                                   "bSortable": false,
                                   "sWidth": "5%",
                                   'render': function (data, type, rowdata, meta) {
                                       return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" onclick="SelectWML(this)" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                                   }
                               },
                               { "data": "WelderPsNo", "sClass": "center welderpsno", "name": "WelderPsNo", "bSortable": false, },
                               { "data": "Welder", "sClass": "center text-nowrap weldername", "name": "Welder", "bSortable": false, },
                               { "data": "WelderStampNo", "sClass": "center welderstamp width30", "name": "WelderStampNo", "bSortable": false, },
                               { "data": "Shop", "sClass": "center text-nowrap width30", "name": "Shop", "bSortable": false, },
                               { "data": "WQTNo", "sClass": "center", "name": "WQTNo", "bSortable": false, },
                               { "data": "WeldingProcessEsQualified", "sClass": "center", "name": "WeldingProcessCodeName", "bSortable": false, },
                               { "data": "TypeOfWeldingAutomaticQualified", "sClass": "center weldingtype", "name": "WeldingTypeCodeName", "bSortable": false, },
                               { "data": "IPlatePipeOverlayWeldingPositionQualified", "sClass": "center", "name": "IPlatePipeOverlayWeldingPositionQualified", "bSortable": false, },
                               { "data": "IiPipeFilletWeldingPositionQualified", "sClass": "center", "name": "IiPipeFilletWeldingPositionQualified", "bSortable": false, },
                               { "data": "IPlatePipeFilletWeldingPositionQualified", "sClass": "center", "name": "IPlatePipeFilletWeldingPositionQualified", "bSortable": false, },
                               { "data": "PNo", "sClass": "center text-nowrap", "name": "PNo", "bSortable": false, },
                               { "data": "BaseMetalThicknessQualified", "sClass": "center", "attr": "none", "bSortable": false, },
                               { "data": "DepositedThicknessQualified", "sClass": "center", "attr": "none", "bSortable": false, },
                               { "data": "PlatePipeEnterDiaIfPipeOrTubeQualified", "sClass": "center text-nowrap", "name": "PlatePipeEnterDiaIfPipeOrTubeQualified", "bSortable": false, },
                               { "data": "FNo", "sClass": "center", "name": "FNo", "bSortable": false, },
                               { "data": "BackingQualified", "sClass": "center text-nowrap", "name": "BackingCodeName", "bSortable": false, },
                               { "data": "InertGasBackingQualified", "sClass": "center", "attr": "none", "bSortable": false, },
                               { "data": "CircWeldOvly", "sClass": "center", "name": "CircWeldOvly", "bSortable": false, },
                               { "data": "LastWeldDate", "sClass": "center", "name": "LastWeldDate", "attr": "date", "bSortable": false, },
                               { "data": "ValueUpto", "sClass": "center", "name": "ValueUpto", "attr": "date", "bSortable": false, },
                               { "data": "Remarks", "sClass": "center text-nowrap", "name": "Remarks", "bSortable": false, }
                ]
            };
        }
        else if (l_JointType.toLowerCase() == "t#ts") {
            UtilityParams = {
                sUrl: "/IPI/WelderPSlip/LoadWMLTSSCertificateData?QualityProject=" + $("#txtQP").val(),
                iFCLeft: 6,
                fnCreateRow: function (row, data, dataIndex) {
                    $(row).attr("data-weldingtypecode", data.WeldingTypeQualifiedCode);
                },
                aoColumns: [
                               { "data": "Id", "sClass": "hide" },
                               {
                                   "data": "Id", "sClass": "select center",
                                   "bSortable": false,
                                   "sWidth": "5%",
                                   'render': function (data, type, rowdata, meta) {
                                       return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" onclick="SelectWML(this)" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                                   }
                               },
                               { "data": "WelderPsNo", "sClass": "center welderpsno", "name": "WelderPsNo", "bSortable": false, },
                               { "data": "WelderName", "sClass": "center text-nowrap weldername", "name": "Welder", "bSortable": false, },
                               { "data": "WelderStampNo", "sClass": "center welderstamp", "name": "WelderStampNo", "bSortable": false, },
                               { "data": "Shop", "sClass": "center text-nowrap", "name": "Shop", "bSortable": false, },
                               { "data": "WQTNo", "sClass": "center", "name": "WQTNo", "bSortable": false, },
                               { "data": "WeldingProcessEsQualified", "sClass": "center", "name": "WeldingProcessCodeName", "bSortable": false, },
                               { "data": "WeldingTypeQualified", "sClass": "center weldingtype", "name": "WeldingTypeCodeName", "bSortable": false, },
                               { "data": "JoinType", "sClass": "center", "name": "JointTypeCodeName", "bSortable": false, },
                               { "data": "LastWeldDate", "sClass": "center", "name": "LastWeldDate", "attr": "date", "bSortable": false, },
                               { "data": "ValueUpto", "sClass": "center", "name": "ValueUpto", "attr": "date", "bSortable": false, },
                               { "data": "Remarks", "sClass": "center text-nowrap", "name": "Remarks", "bSortable": false, }
                ]
            };
        }
        else if (l_JointType.toLowerCase() == "groove/fillet") {
            UtilityParams = {
                sUrl: "/IPI/WelderPSlip/LoadWMLWPQCertificateData?QualityProject=" + $("#txtQP").val(),
                iFCLeft: 6,
                fnCreateRow: function (row, data, dataIndex) {
                    $(row).attr("data-weldingtypecode", data.TypeQualifiedCode);
                },
                aoColumns: [
                               { "data": "Id", "sClass": "hide" },
                               {
                                   "data": "Id", "sClass": "select center",
                                   "bSortable": false,
                                   "sWidth": "5%",
                                   'render': function (data, type, rowdata, meta) {
                                       return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" onclick="SelectWML(this)" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                                   }
                               },
                               { "data": "WelderPsNo", "sClass": "center welderpsno", "name": "Welder", "bSortable": false, },
                               { "data": "Welder", "sClass": "center text-nowrap weldername", "name": "WelderName", "bSortable": false, },
                               { "data": "WelderStampNo", "sClass": "center welderstamp width30", "name": "WelderStampNo", "bSortable": false, },
                               { "data": "Shop", "sClass": "center text-nowrap width40", "name": "Shop", "bSortable": false, },
                               { "data": "WQTNo", "sClass": "center", "name": "WQTNo", "bSortable": false, },
                               { "data": "WeldingProcessQualified", "sClass": "select center", "name": "WeldingProcessCodeName", "bSortable": false, },
                               { "data": "TypeQualified", "sClass": "center weldingtype", "name": "WeldingTypeCodeName", "bSortable": false, },
                               { "data": "PlatePipePositionActual", "sClass": "center", "name": "PlatePipePositionActual", "bSortable": false, },
                               { "data": "PipeWeldingPositionQualified", "sClass": "center width30", "name": "PipeWeldingPositionQualified", "bSortable": false, },
                               { "data": "PlatePipePositionQualified", "sClass": "center", "name": "PlatePipePositionQualified", "bSortable": false, },
                               { "data": "PNo", "sClass": "center text-nowrap", "name": "PNo", "bSortable": false, },
                               { "data": "BaseMetalThicknessQualified", "sClass": "center", "name": "BaseMetalThicknessQualified", "bSortable": false, },
                               { "data": "DepositedThicknessQualified", "sClass": "center", "name": "DepositedThicknessQualified", "bSortable": false, },
                               { "data": "PlatePipeQualified", "sClass": "center text-nowrap", "name": "PlatePipeQualified", "bSortable": false, },
                               { "data": "FNo", "sClass": "center", "name": "FNo", "bSortable": false, },
                               { "data": "BackingQualified", "sClass": "center text-nowrap", "name": "BackingCodeName", "bSortable": false, },
                               { "data": "InertGasBackingQualified", "sClass": "center", "name": "InertGasBackingCodeName", "bSortable": false, },
                               { "data": "CircWeldOvly", "sClass": "center", "name": "CircWeldOvly", "bSortable": false, },
                               { "data": "LastWeldDate", "sClass": "center", "name": "LastWeldDate", "attr": "date", "bSortable": false, },
                               { "data": "ValueUpto", "sClass": "center", "name": "ValueUpto", "attr": "date", "bSortable": false, },
                               { "data": "Remarks", "sClass": "center text-nowrap", "name": "Remarks", "bSortable": false, }
                ]
            };
        }

        UtilityParams.aServerParams = [{ "name": "Location", "value": l_Location }, { "name": "WeldingProcess", "value": l_WeldingProcess }];
        UtilityParams.iScrollY = 280;
        UtilityParams.iResponsiveOnWindowWidth = 800;
        UtilityParams.bIsResponsive = false;
        UtilityParams.bIsSearchFilter = true;
        UtilityParams.bBtnMaximize = false;
        UtilityParams.bIsWrapHeader = false;
        UtilityParams.bIsLazyLoading = false;
        UtilityParams.bIsIgnoreHiddenColumns = false;
        //UtilityParams.iFCLeft = 5;
        UtilityParams.iFCRight = 0;
        UtilityParams.sBtnDivSelector = "#dvExportCertificate";


        window.setTimeout(function () {
            table.dtUtility(UtilityParams);
        }, 300);


        UtilityParamsNotes = {
            sUrl: "/IPI/WelderPSlip/LoadWMLNotes?QualityProject=" + $("#txtQP").val(),
            iFCLeft: 0,
            aoColumns: [
                { "data": "Location", "sClass": "center location p20 hide", "name": "Location" },
                { "data": "Notes", "sClass": "center notes", "name": "Notes" }
            ]
        };

        UtilityParamsNotes.aServerParams = [{ "name": "Location", "value": l_Location }, { "name": "JointType", "value": l_JointType }];
        //UtilityParamsNotes.iScrollY = 280;
        //UtilityParamsNotes.iResponsiveOnWindowWidth = 800;
        UtilityParamsNotes.bIsResponsive = false;
        UtilityParamsNotes.bIsSearchFilter = true;
        UtilityParamsNotes.bBtnMaximize = false;
        UtilityParamsNotes.bIsWrapHeader = false;
        UtilityParamsNotes.bIsLazyLoading = false;
        UtilityParamsNotes.bIsIgnoreHiddenColumns = false;
        //UtilityParams.iFCLeft = 5;
        UtilityParamsNotes.iFCRight = 0;
        UtilityParamsNotes.sBtnDivSelector = "#dvExportNotes";
        tblWMLNotes.dtUtility(UtilityParamsNotes);
    });

    function SelectWML(chk) {
        $('.clsCheckbox').prop("checked", false);
        $(chk).prop("checked", true);

        $('input[class="clsCheckbox"]', $('#tblWMLList' + "_wrapper")).each(function () {
            if (this.checked) {
                var welderstamp = $(this).closest('tr').find(".welderstamp");
                var welderpsno = $(this).closest('tr').find(".welderpsno");
                var weldername = $(this).closest('tr').find(".weldername");
                var weldingtype = $(this).closest('tr').data("weldingtypecode"); // $('#tblWMLList_wrapper').find("tbody:eq(0) tr:eq(" + $(this).closest('tr').index() + ") .weldingtype");

                $("#hdWelder").val(welderpsno.text());
                $("#hdnWelderStamp").val(welderstamp.text());
                $("#txtWelder").val(welderpsno.text() + "-" + weldername.text() + "-" + welderstamp.text())
                $("#hdWeldingType").val(weldingtype);
                //console.log("welderstamp : "+welderstamp.text())
                //console.log("welderpsno : "+welderpsno.text())
                //console.log("weldername : "+weldername.text())
            }
        });
        bootbox.hideAll();
    }
</script>
