﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#tblParam');
        var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            // Or you can use remote translation file
            //"language": {
            //   url: '//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Portuguese.json'
            //},

            // setup buttons extentension: http://datatables.net/extensions/buttons/
            buttons: [
                //{ extend: 'print', className: 'btn default'  },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/WelderPSlip/LoadData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            //{ "name": "CompanyId", "value": $('#ddlCompanyList').val() },
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                    }
                });
            },

            "columns": [
                {
                    "sClass": "center",
                    "name": "QualityProject"
                },
                {
                    "name": "Project",
                    "sClass": "center"
                },
                {

                    "name": "BU",
                    "sClass": "center"
                },
                {

                    "name": "Location",
                    "sClass": "center"
                },
                {
                    "name": "SeamNo",
                    "sClass": "center"
                },
                  {
                      "name": "WeldingProcess",
                      "sClass": "center"
                  },
                  {
                      "name": "WelderPSNO",
                      "sClass": "center"
                  },
                {

                    "name": "WelderStamp",
                    "sClass": "center"
                },
                {

                    "name": "PrintedBy",
                    "sClass": "center"
                },
                {

                    "name": "PrintedOn",
                    "sClass": "center"
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        buttons = '<center><a href="'+WebsiteURL+'/IPI/WelderPSlip/ParameterSlipDetail?Id=' + row[10] + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                        return buttons;
                    }
                },
                 {
                     "sClass": "hide"
                 }
            ]
        });
    });
   
</script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Welder wise Parameter Slip
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="~/IPI/WelderPSlip/ParameterSlipDetail" style="float: right;" class="btn green">Print Parameter Slip </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                    </div>
                                    <div class="tools" id="dvExportHeader">
                                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/WelderPSlip/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100" id="tblParam" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="min-phone-l">Quality Project</th>
                                                <th class="min-phone-l">Project</th>
                                                <th class="min-phone-l">BU</th>
                                                <th class="min-phone-l">Location</th>
                                                <th class="min-phone-l">Seam No</th>
                                                <th class="min-phone-l">Welding Process</th>
                                                <th class="min-phone-l">Welder PS No.</th>
                                                <th class="min-phone-l">Welder Stamp</th>
                                                <th class="min-phone-l">Printed By</th>
                                                <th class="min-phone-l">Printed On</th>
                                                <th class="min-phone-l">Action</th>
                                                <th class="" style="display:none;">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        margin: 30px auto;
        width: 80% !important;
    }
</style>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

