﻿@model IEMQSImplementation.PRL275
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0, s5 = 0, s6 = 0, s7 = 0, s8 = 0;
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">@ViewBag.Title.ToString()</span>
                </div>
                <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                </div>
            </div>
            <div id="dvProtocolHeader" style="padding:1%">
                <form id="frmProtocolHeader" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="FormTable tblNotes" style="margin-bottom:0px">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQUIPMENT NAME & NUMBER</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> SEAM NO.</td>
                                        <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>

                                    <tr>

                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 1px 1px !important;">@Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:250px;", @role = "QC", @placeholder = "Select" })</span>
                                            <span style=""> @Html.TextBoxFor(m => m.DrawingRevisionNo, new { @class = "form-control onlyNumeric", @maxlength = "10", @style = "width: 157px;", @role = "QC" })</span>
                                        </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>

                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>

                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@ViewBag.ManufacturingCode</td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="height: 20px"></div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tbody>
                                        <tr>
                                            <td class="subtitle">NOZZLE NO</td>
                                            <td> @Html.TextBoxFor(model => model.NozzleNo, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            <td class="subtitle">GASKET FACE RAISED FACE SEAM NO</td>
                                            <td> @Html.TextBoxFor(model => model.GasketFaceRaisedFaceSeamNo, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">PART DESCRIPTION</td>
                                            <td> @Html.TextBoxFor(model => model.PartDescription, new { @class = "form-control", @maxlength = "50", @role = "QC" })  </td>
                                            <td class="subtitle">GASKET GROOVE SEAM NO.</td>
                                            <td> @Html.TextBoxFor(model => model.GasketGrooveSeamNo, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ITEM NO</td>
                                            <td> @Html.TextBoxFor(model => model.ItemNo, new { @class = "form-control", @maxlength = "20", @role = "QC" })  </td>
                                            <td class="subtitle">NOZZLE BACK FACE SEAM NO.</td>
                                            <td> @Html.TextBoxFor(model => model.NozzleBackFaceSeamNo, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">NOZZLE I.D. SEAM NO.</td>
                                            <td> @Html.TextBoxFor(model => model.NozzleIDSeamNo, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                            <td class="subtitle">NOZZLE BACK FACE TO ID RADIUS SEAM NO.</td>
                                            <td> @Html.TextBoxFor(model => model.NozzleBackFaceToIDRadiusSeamNo, new { @class = "form-control", @maxlength = "20", @role = "PROD" })  </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left;">

                                            </span>
                                        </div>
                                        <div class="tools">
                                            <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body" id="div1">
                                        <div class="table-responsive">
                                            <table class="table" id="tblProtocolLines1">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">#</th>
                                                        <th style="display:none;">LineId</th>
                                                        <th>SR NO.</th>
                                                        <th>DESCRIPTION</th>
                                                        <th>REQUIRED DIMENSION</th>
                                                        <th>ACTUAL DIMENSION</th>
                                                        <th>REMARKS</th>
                                                        @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                        {
                                                            <th class="btnthAction"></th>
                                                        }
                                                    </tr>
                                                    <tr>
                                                        <th colspan="5" align="center">MACHINING</th>
                                                    </tr>

                                                </thead>

                                                <tbody>
                                                    @if (ViewBag.lstPRL276 != null)
                                                    {
                                                        foreach (var item in ViewBag.lstPRL276 as List<PRL276>)
                                                        {
                                                            <tr>
                                                                <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                <td class="SrNo"><label>@item.SrNo</label>
                                                                <td class="Description"> @Html.TextBox("Description_1_" + @s1, @item.Description, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                <td class="RequiredDimension"> @Html.TextBox("RequiredDimension_1_" + @s1, @item.RequiredDimension, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                <td class="ActualDimension"> @Html.TextBox("ActualDimension_1_" + @s1, @item.ActualDimension, new { @class = "form-control width125px", @maxlength = "100", @role = "PROD" })</td>
                                                                <td class="Remarks"> @Html.TextBox("Remarks_1_" + @s1, @item.Remarks, new { @class = "form-control width125px", @maxlength = "10",@tabindex="-1" })</td>

                                                                @if ((string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase)) && string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                {
                                                                    <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="DeleteProtocolLine(this)"></i></td>
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                    <tr>
                                        <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                            CHECK POINTS/REMARKS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd" colspan="2">
                                            <span>1)  PROCEDURE NO &nbsp; @Html.TextBoxFor(model => model.CheckPoint1, new { @class = "form-control inlinetextbox", @maxlength = "20", @role = "QC" })</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="clstd">
                                            2) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY ?
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="clstd">
                                            3) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="clstd" colspan="2">
                                            4) MEASURING AND TESTING EQUIPMENT SERIAL NUMBER &nbsp;
                                            @Html.TextBoxFor(model => model.CheckPoint4, new { @class = "form-control inlinetextbox width250px", @maxlength = "50", @role = "PROD" })
                                            &nbsp; & CALIBRATION DUE DATE
                                            <div id="datetime1" class="date date-picker" style="display:inline-block" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.CheckPoint4_2, "{0:dd/MM/yyyy}", new { @class = "form-control inlinetextbox", style = "width:200px !important;", @role = "PROD" })
                                                <span class="input-group-btn" style="top: 0px;float: right;margin-left: -39px !important">
                                                    <button class="btn default btncalender" id="btncal1" type="button" tabindex="-1">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control QCRemarks", @maxlength = "200", @role = "QC" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>



                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-6" style="text-align:left;">
                                <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                            </div>
                            <div class="col-md-6" style="text-align:right;">
                                @if (string.Equals(ViewBag.isEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase) || string.Equals(ViewBag.isQCRemarkEditable.ToString(), "true", StringComparison.OrdinalIgnoreCase))
                                {
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                }
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>

<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";

    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';
    var lstOutsideInside = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.OutsideOrInside))));
    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        //SetEditableDetails(isEdit);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#CheckPoint4_2").change(function () {
            if ($("#CheckPoint4_2").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        var lstDrawingNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.DrawingNo))));

        FillProtocolAutoComplete($('#DrawingNo'), lstDrawingNo, null, false);
        if ('@Model.RequestNo' == "" || '@Model.RequestNo' == null) {
            $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");
        }

        $('#CheckPoint2').val('Yes')


        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }

    });


    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL056", $('#HeaderId').val());
    });

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=0", userRole, false, LoadSaveAndDraft);
        LoadSaveAndDraft();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData" + Linkage + "?s=1", userRole, true, LoadSaveAndDraft);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });


    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }
    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId + Linkage, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }
    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {

                $("[role=PROD]").first().focus();
            }


            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {
                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'Description', ['Description', 'RequiredDimension'], AddTbl1NewTrRow, true);
                notQCLastChild = ":not(:last-child)";
                $("[name=ProtocolNo]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[name=ProtocolNo]").first().focus(); }
        }
    }
    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }
    function LoadSaveAndDraft() {
        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SrNo": $('td.SrNo Label', this).text(),
                "Description": $('td.Description input', this).val(),
                "RequiredDimension": $('td.RequiredDimension input', this).val(),
                "ActualDimension": $('td.ActualDimension input', this).val(),
                "Remarks": $('td.Remarks input', this).val()
            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + Linkage + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);

    }

    function AddTbl1NewTrRow(NewTrRowNum) {
        
        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
             +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
              + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
             + "<td class=\"SrNo center\"><Label id=\"SrNo" + NewTrRowNum + "\"  name=\"SrNo" + NewTrRowNum + "\">" + row + "</td>"
             + "<td class=\"Description\"><input class=\"form-control width125px  EditableTextColor QCTextbox islastrow valid\" id=\"Description_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"Description_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,'CheckPoint1',false,1,'hdGrid1LastRow','tblProtocolLines1','Description', ['Description', 'RequiredDimension'],AddTbl1NewTrRow)\" value=\"\" aria-invalid=\"false\" ></td>"
             + "<td class=\"RequiredDimension center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"RequiredDimension_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"RequiredDimension_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','Description', ['Description', 'RequiredDimension'],AddTbl1NewTrRow)\"></td>"
             + "<td class=\"ActualDimension center \"><input class=\"form-control  islastrow  NonEditableTextColor PRODTextbox\" id=\"ActualDimension_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualDimension_1_" + NewTrRowNum + "\" role=\"PROD\" disabled type=\"text\" ></td>"
             + "<td class=\"Remarks center \"><input class=\"form-control  islastrow  EditableTextColor  valid\" id=\"Remarks_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"Remarks_1_" + NewTrRowNum + "\"  type=\"text\" tabindex\"-1\"></td>"

             + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
             + "</tr>";

        return strhtml;
    }


</script>