﻿@using IEMQSImplementation

<script type="text/javascript">

    $(document).ready(function () {

        var isSelected = false;

        $("#txtLocation").val('@ViewBag.LocationDescription');
        $("#ddlLocation").val('@ViewBag.Location');

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/IPI/Maintain/GetProjectDetails",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#txtProject").val(strProjectDesc);
                    $("#ddlProject").val(ui.item.id);
                    ProjectChange($("#ddlProject").val());
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);;
        });

        $("#frmUpdateHBOMData").validate({
            rules: {
                txtProject: {
                    required: true
                },
                txtBU: {
                    required: true
                },
                txtLocation: {
                    required: true
                }
            },
            messages: {
                txtProject: {
                    required: "Project is required"
                },
                txtBU: {
                    required: "BU is required"
                },
                txtLocation: {
                    required: "Location is required"
                }
            }
        });

    });

    function ProjectChange(project) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainICLPart/GetProjectDetails",
            dataType: "json",
            type: "POST",
            async: false,
            data: { project: project },
            success: function (data) {

                $("#txtBU").val(data.BUDescription);
                $("#ddlBU").val(data.BU);

            }
        });
    };

</script>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmUpdateHBOMData" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Project</label>
                        <div class="">
                            <input type="text" id="txtProject" name="txtProject" class="col-md-3 form-control" />
                            <input type="hidden" id="ddlProject" name="ddlProject"  />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">BU</label>
                        <div class="">
                            <input type="text" id="txtBU" name="txtBU" class="col-md-3 form-control" readonly="readonly" />
                            <input type="hidden" id="ddlBU" name="ddlBU" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Location</label>
                        <div class="">
                            <input type="text" id="txtLocation" name="txtLocation" class="col-md-3 form-control" readonly="readonly" />
                            <input type="hidden" id="ddlLocation" name="ddlLocation" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
