﻿@using IEMQSImplementation
@model QMS035

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Stages - @Model.PartNo
                </div>               
                @*<div class="tools" id="dvExportLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainICLPart/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                    <input type="button" style="width: 55px;margin-right: 10px;" id="btnNew" value="New" name="btnNew" onclick="ShowNewRecord(this);" class="form-control col-md-1 clsNewBtn" />
                </div>*@
                <div class="tools" id="dvExportLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainICLPart/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                    <div class="btn-group">
                        <a id="btnNew" name="btnNew" style="margin-left:5px;" onclick="ShowNewRecord(this);" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-plus"></i> New</a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPartICLinnerLines", @class = "form-horizontal" }))
                {
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPartICLInnerLinesDetails" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="all" style="display: none;">#</th>
                                <th class="min-phone-l">Stage Code</th>
                                <th class="min-phone-l">Seq.</th>
                                <th class="min-phone-l">Acceptance Standard</th>
                                <th class="min-phone-l">Applicable Specification</th>
                                <th class="min-phone-l">Inspection Extent</th>
                                <th class="min-phone-l">Remarks</th>
                                <th class="min-phone-l">Protocol</th>
                                <th class="min-phone-l">Status</th>
                                <th class="min-phone-l">Action</th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
        </div>
    </div>

    <div id="hidden">
        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtNewHeaderID" })
        @*@Html.HiddenFor(m => m.RevNo)*@
        @Html.HiddenFor(m => m.Status, new { @id = "txtStatus" })
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="text-align:right;margin-bottom:1%;">
        <input type="button" class="btn yellow" id="btnResequence" value="Update Sequence" />
    </div>
</div>
<script>
    var headerStatus = '@Model.Status';
    $(document).ready(function () {
        if ('@Model.Status' == '@clsImplementationEnum.TestPlanStatus.SendForApproval.GetStringValue()') {
            $('div.dvHeader :input').attr('disabled', true);
            $("#btnNew").hide();
            $("#btnResequence").hide();
        }
        if ('@Model.Status' == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            $("#btnSaveHeader").show();
            $("#btnNew").show();
            $("#btnResequence").show();
        }
        $("#btnResequence").click(function () {
            if (headerStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
                ReviseSeq();
            }
            else {
                Reseqence();
            }
        });
        var lstStatusCode = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.StagesCode))));
        var lstAcceptanceStd = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.AcceptanceStandard))));
        var lstApplicableSpeci = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ApplicableSpecification))));
        var lstInspectionExt = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.InspectionExtent))));
        var lstProtocolType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstProtocolType))));

        $('#tblPartICLInnerLinesDetails').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname") == "txtStageCode") {
                FillIPIAutoComplete(element, lstStatusCode, $("#" + hdElement), false);
            }
            else if ($(this).attr("colname") == "AcceptanceStandard") {
                FillIPIAutoComplete(element, lstAcceptanceStd, $("#" + hdElement), true);
            }
            else if ($(this).attr("colname") == "ApplicableSpecification") {
                FillIPIAutoComplete(element, lstApplicableSpeci, $("#" + hdElement), true);
            }
            else if ($(this).attr("colname") == "txtInspectionExtent") {
                FillIPIAutoComplete(element, lstInspectionExt, $("#" + hdElement), false);
            }
            else if ($(this).attr("colname") == "txtProtocolType") {
                if ($(this).attr("dataid") == "0") {
                    FillAutoCompleteProtocolType(element, "/Utility/General/GetAllProtocolbyStageswithOtherFiles", $("#" + hdElement), false);
                }
                else {
                    FillAutoCompleteProtocolType(element, "/Utility/General/GetAllProtocolbyStageswithOtherFiles", $("#" + hdElement), false, LinkedProtocolConfirmation, this, hdElement, $(this).attr('dataid'), 'edit', headerStatus);
                }
            }
        });

        var headerStatus = '@Model.Status';
        var table = $('#tblPartICLInnerLinesDetails');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainICLPart/LoadPartICLLineGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtNewHeaderID").val() },
                { "name": "MTStatus", "value": $("#txtStatus").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if (data.iTotalRecords > 0) {
                            if (headerStatus == '@clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue()') {
                                // $("#btnSendForApproval").hide();
                                $("#btnCopyData").hide();
                                //$("#btnTransfer").hide();
                            }
                            else if (headerStatus == '@clsImplementationEnum.CommonStatus.Approved.GetStringValue()') {
                                //   $("#btnSendForApproval").hide();
                                $("#btnCopyData").show();
                                //$("#btnTransfer").show();
                            }
                            else {
                                // $("#btnSendForApproval").show();
                                $("#btnCopyData").show();
                                //$("#btnTransfer").show();
                            }
                        }
                        else {
                            // $("#btnSendForApproval").hide();
                            $("#btnCopyData").hide();
                            //$("#btnTransfer").hide();
                        }
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                    'async': false
                });
                ResetAddRow();
            },
            "columns": [
                {
                    "sClass": "hide",
                    "sWidth": "5%",
                },
                {
                    //   "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "name": "StageCode",
                },
                {
                    //  "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "StageSequance",
                },
                {
                    //"bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "name": "AcceptanceStandard",
                },
                {
                    //     "bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "name": "ApplicableSpecification",
                },
                {
                    //   "bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "name": "InspectionExtent",
                },
                {
                    //    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "name": "Remarks",
                },
                {
                    //    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "15%",
                    "bSortable": false,
                },
                {
                    //    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "5%",
                    "name": "StageStatus",
                },
                {
                    "bSortable": false,
                     "sClass": "center",
                     "sWidth": "5%",
                        //"name": "StageStatus",
                },
            ]
        });


        $('#frmPartICLinnerLines').validate({
            rules: {
                txtStageCode0: {
                    required: true,
                },
                StageSequance0: {
                    required: true,
                },
                AcceptanceStandard0: {
                    required: true
                },
                ApplicableSpecification0: {
                    required: true,
                },
                txtInspectionExtent0: {
                    required: true,
                },
            },
            messages: {
                txtStageCode0: {
                    required: "Stage Code is required.",
                },
                StageSequance0: {
                    required: "Stage Sequance is required.",
                },
                AcceptanceStandard0: {
                    required: "Acceptance Standard is required.",
                },
                ApplicableSpecification0: {
                    required: "Acceptance Standard is required.",
                },
                txtInspectionExtent0: {
                    required: "Inspection Extent is required."
                },
            }
        });

        $("#StageSequance0").keypress(function (event) {
            event = (event) ? event : window.event;
            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });
        $('#tblPartICLInnerLinesDetails').find("input[colname='txtStageCode0']", "focusin", function () {
            if ($("#txtStageCode0").val() != '') {
                getSequence($("#StageCode0").val());
            }
        });

    });
    function FillAutoCompleteProtocolType(element, url, hdElement, isEditable, callbackfun, pObj, phdElement, pLineId, pOperation, pheaderStatus) {
        if (pLineId == null || pLineId == undefined || pLineId == "") {
            pLineId = 0;
        }
        element.autocomplete({
            //source: function (request, response) {
            //    var array = $.map(sourceList, function (item) {
            //        return {
            //            label: item.CategoryDescription,
            //            value: item.CategoryDescription,
            //            id: item.Value
            //        }
            //    });
            //    response($.ui.autocomplete.filter(array, request.term));
            //},
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        selectedBU: '@Model.BU', selectedLoc: '@Model.Location', stage: $("#StageCode" + pLineId).val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoselect: false,
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
                if (callbackfun != null && callbackfun != undefined && callbackfun != 'undefined') {
                    callbackfun(pObj, phdElement, pLineId, pOperation, pheaderStatus);
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function ReviseSeq() {
        bootbox.confirm({
            message: "Do you want to revise this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    Reseqence();
                }
            }

        });
    }
    function Reseqence() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainICLPart/LoadResequenceData",
            datatype: 'html',
            async: false,
            data: { headerId: '@Model.HeaderId' },
            success: function (result) {
                bootbox.dialog({
                    title: 'Re-Sequence',
                    message: result,
                    size: 'medium',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn green',
                            callback: function () {
                                $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                            }
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
    //delete Lines
    function DeleteRecord(LineID, rowStatus) {
        if (rowStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteStages(LineID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });
        }
        else {
            bootbox.dialog({
                title: "Delete Confirmation",
                message: "Do you want to delete this stage?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            DeleteStages(LineID);
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            });

        }
    }
    function DeleteStages(LineID) {

        $.ajax({
            url: WebsiteURL + '/IPI/MaintainICLPart/DeleteLine',
            data: { LineID: LineID },
            type: 'POST',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    if (data.Value != "" && data.Value != null && data.Value != undefined) {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    if (data.Remarks != "" && data.Remarks != null && data.Remarks != undefined) {
                        DisplayNotiMessage("info", data.Remarks, "Info");
                    }
                    $("#txtStatus").val(data.HeaderStatus);
                    $('#tblPartICLInnerHeader').DataTable().ajax.reload();
                    $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }

            }
        });

    }

    function UpdateLineDetails(objColumn, rowID) {

        var elem = $(objColumn).attr("hdElement");
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }
        if (columnName == 'StageCode') {
            getSequence(columnValue);
        }
        var save = false;
        if ('@Model.Status' == '@clsImplementationEnum.QualityIdHeaderStatus.Approved.GetStringValue()') {
            bootbox.confirm({
                message: "Part List is already approved.Do you want to revise?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        //ReviseHeader('@Model.HeaderId');
                        saveDetail(columnName, columnValue, rowID);

                    }
                }
            });

        }
        else {
            saveDetail(columnName, columnValue, rowID);
        }
    }
    function saveDetail(columnName, columnValue, rowID) {

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainICLPart/UpdateLineData",
            datatype: 'json',
            async: false,
            data: { headerId: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    //if (result.Value != "" && result.Value != null && result.Value != undefined) {
                    //    DisplayNotiMessage("success", result.Value, "Success");
                    //}
                    if (result.Remarks != "" && result.Remarks != null && result.Remarks != undefined) {
                        DisplayNotiMessage("info", result.Remarks, "Info");
                    }
                    $("#txtStatus").val(result.HeaderStatus);
                    $('#tblPartICLInnerHeader').DataTable().ajax.reload();
                    $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });

    }

    function getSequence(objColumn) {

        var returnResponse = false;
        var stagecode = $("#StageCode0").val();
        var sHeaderId = $("#HeaderId0").val();

        $.ajax({
            url: WebsiteURL + "/IPI/MaintainICLPart/GetStageSquence",
            type: 'POST',
            async: false,
            data: { stagecode: stagecode, headerId: sHeaderId },
            success: function (response) {
                if (response.Key) {
                    $("#StageSequance0").val(response.Sequence);

                }
            }
        });
        return returnResponse;
    }

    function CheckDuplicate(objColumn) {
        var returnResponse = false;
        var stagecode = $("#StageCode0").val();
        var sHeaderId = $("#HeaderId0").val();
        var stageSeq = $("#StageSequance0").val();
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainICLPart/CheckSequenceNo",
            type: 'POST',
            async: false,
            data: { stagecode: stagecode, headerId: sHeaderId, stageseq: stageSeq },
            success: function (data) {
                if (data.Key) {
                    $.ajax({
                        url: WebsiteURL + "/IPI/MaintainICLPart/CheckDuplicateStages",
                        type: 'POST',
                        async: false,
                        data: { stagecode: stagecode, headerId: sHeaderId, stageseq: stageSeq },
                        success: function (response) {
                            if (response.Key) {
                                $("#StageSequance0").addClass("error");
                                $("#txtStageCode0").addClass("error");
                                DisplayNotiMessage("error", response.Value, "Error");
                                return returnResponse;
                            }
                        }
                    });
                }
                else {
                    $("#StageSequance0").addClass("error");
                    DisplayNotiMessage("error", data.Value, "Error");
                    return returnResponse;
                }
            }
        });


    }

    function ShowNewRecord(obj) {
        if (headerStatus == '@clsImplementationEnum.TestPlanStatus.Approved.GetStringValue()' && $(obj).val() == "New") {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise this header?",
                size: "medium",
                buttons: {
                    Yes: {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function () {
                            InsertNewRecord(obj);
                        }
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger',
                        callback: function () { }
                    }
                }
                //callback: function (result) {
                //if (result) {
                // //InsertNewRecord(obj);
                //ReviseHeader('@Model.HeaderId');
                //GetTestPlanHTML(parseInt('@Model.HeaderId'));
                //GetTestPlanLinePartial(parseInt('@Model.HeaderId'));
                //GetPTMTCTQHeaderFormHTML(parseInt($("#txtHeaderId").val() @*'@Model.HeaderId'*@))
                //}
                //}
            });
        }
        else {
            InsertNewRecord(obj);
        }
    }

    function checkStatus(rowID) {
        if ('@Model.Status' == 'Approved') {
            bootbox.confirm({
                message: "Do you want to revise this header?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        ReviseHeader('@Model.HeaderId');
                        GetTestPlanHTML(parseInt('@Model.HeaderId'));
                        GetTestPlanLinePartial(parseInt('@Model.HeaderId'));
                    }
                }
            });
        }
        else {
            "";
        }
    }

    function ReviseHeader(headerid) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainICLPart/ReviseHeader",
            type: 'POST',
            async: false,
            dataType: "JSON",
            data: { headerid: headerid },
            success: function (response) {
                DisplayNotiMessage("success", "Record revised successfully", "Success");
                $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();

            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                bootbox.alert('Failed to retrieve status.' + ex);
            }
        });
    }

    function InsertNewRecord(obj) {
        $('#tblPartICLInnerLinesDetails').find("tbody tr:first").toggle();
        $('#tblPartICLInnerLinesDetails').find("tbody tr:first select:first").focus();
        if ($('#tblPartICLInnerLinesDetails').find("tbody tr:first").is(":visible")) {
            $(obj).val("Cancel");
            var delayedFn, blurredFrom;
            $('#tblPartICLInnerLinesDetails').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewStage(); }, 0);
            });
            $('#tblPartICLInnerLinesDetails').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).val("New");
        }
    }

    function SaveNewStage() {
        if ($("#frmPartICLinnerLines").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmPartICLinnerLines').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: WebsiteURL + '/IPI/MaintainICLPart/SaveNewStages',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        if (data.Value != "" && data.Value != null && data.Value != undefined) {
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                        if (data.Remarks != "" && data.Remarks != null && data.Remarks != undefined) {
                            DisplayNotiMessage("info", data.Remarks, "Info");
                        }
                        headerStatus = data.Status;
                        $("#txtStatus").val(headerStatus);
                        //$('#tblPartICLInnerHeader').DataTable().ajax.reload();
                        $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                        //ResetAddRow();
                        //$("#dvTestPlanLineDetails").hide();
                        ShowNewRecord('#btnNew', headerStatus);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function ResetAddRow() {
        $('#tblPartICLInnerLinesDetails').find("tbody tr:first").hide();
        $('#tblPartICLInnerLinesDetails').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").val("New");
    }

    function FillAutoCompletes() {
        var lstProtocolType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstProtocolType))));
        $('#tblPartICLInnerLinesDetails').undelegate(".autocomplete", "focusin", function () { });
        $('#tblPartICLInnerLinesDetails').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname") == "txtProtocolType") {
                if ($(this).attr("dataid") == "0") {
                    FillIPIAutoComplete(element, lstProtocolType, $("#" + hdElement), false);
                }
                else {
                    FillAutoCompleteProtocolType(element, lstProtocolType, $("#" + hdElement), false, LinkedProtocolConfirmation, this, hdElement, $(this).attr('dataid'), 'edit', headerStatus);
                }
            }
        });
    }
    function LinkedProtocolConfirmation(objProtocolTextbox, objProtocolType, LineId, mode, rowStatus) {

        var returnValue = true;

        if (rowStatus == '@clsImplementationEnum.ICLSeamStatus.Approved.GetStringValue()') {
            bootbox.dialog({
                title: "Revise Confirmation",
                message: "Do you want to revise?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () { UpdateLinkedProtocol(objProtocolTextbox, objProtocolType, LineId, mode); }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { returnValue = false; }
                    }

                }
            });
        }
        else {
            UpdateLinkedProtocol(objProtocolTextbox, objProtocolType, LineId, mode);
        }

        return returnValue
    }

    function UpdateLinkedProtocol(objProtocolTextbox, objProtocolType, LineId, mode) {

        debugger
        if ($(objProtocolTextbox).val() == "") {
            $("#" + objProtocolType).val("");
        }

        var _ProtocolType = $("#" + objProtocolType).val();
        var _ProtocolNo = "";

        $.ajax({
            url: WebsiteURL + "/IPI/MaintainICLPart/AttachedProtocol",
            type: "POST",
            datatype: "json",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                LineId: parseInt(LineId),
                ProtocolType: _ProtocolType,
                ProtocolNo: _ProtocolNo
            },
            success: function (data) {
                if (data.Key == true) {
                    if (data.Value == '@clsImplementationEnum.ProtocolType.Other_Files.GetStringValue()') { }
                    if (data.Value != "nochanged" && mode != "add") {
                        $('#tblPartICLInnerHeader').DataTable().ajax.reload();
                        $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                        headerStatus = data.HeaderStatus;
                        FillAutoCompletes();
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });


    }

    function ShowProtocol(protocolURL) {
        window.open(protocolURL, "_target");
    }

    function ShowOtherFiles(lineid, isEditable) {
        if (isEditable == "1") {
            OpenAttachmentPopUp(lineid, true, "QMS036/" + lineid);
        }
        else {
            OpenAttachmentPopUp(lineid, false, "QMS036/" + lineid);
        }
    }


    function AskForICLRevision(headerid, lineId, protocolURL, protocoltype) {

        bootbox.dialog({
            title: "Revise Confirmation",
            message: "Do you want to revise?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {
                        UpdateProtocolData(headerid, lineId, protocolURL, protocoltype);
                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () {
                        if (protocoltype == '@clsImplementationEnum.ProtocolType.Other_Files.GetStringValue()') {
                            OpenAttachmentPopUp(lineId, false, "QMS036/" + lineId);
                        }
                        else {
                            window.open(protocolURL, "_target");
                        }
                    }
                }
            }
        });
    }

    function UpdateProtocolData(Headerid, LineId, ProtocolURL, protocoltype) {

        $.ajax({
            url: WebsiteURL + "/IPI/MaintainICLPart/ReviseICLHeader",
            type: "POST",
            datatype: "json",
            data: {
                headerid: parseInt(Headerid),
                LineId: parseInt(LineId)
            },
            success: function (data) {
                if (data.Key == true) {
                    $('#tblPartICLInnerHeader').DataTable().ajax.reload();
                    $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                    headerStatus = data.HeaderStatus;
                    FillAutoCompletes();
                    if (protocoltype == '@clsImplementationEnum.ProtocolType.Other_Files.GetStringValue()') {
                        OpenAttachmentPopUp(LineId, true, "QMS036/" + LineId);
                    }
                    else {
                        setTimeout(function () { window.open(ProtocolURL + "?m=1", "_target"); }, 1000)
                    }

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }



    function LinkedProtocol(LineId, actionType) {
        bootbox.hideAll();
        if (parseInt(LineId) > 0) {
            if (actionType == "attach") {
                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainSeamICL/LinkProtocol",
                    type: "POST",
                    datatype: "html",
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { LineId: parseInt(LineId),isSeam:false },
                    success: function (data) {
                        bootbox.dialog({
                            title: "Link Protocol",
                            message: data,
                            size: 'medium',
                            buttons: {
                                'confirm': {
                                    label: 'Attach',
                                    className: 'btn clear',
                                    callback: function () {
                                        if ($("#hdnProtocolType").val() != "" && $("#hdnProtocolType").val() != null) {
                                            var _ProtocolType = $("#hdnProtocolType").val();
                                            var _ProtocolNo = $("#hdnProtocolNo").val();
                                            var _ProtocolLineId = $("#hdnProtocolLineId").val();

                                            $.ajax({
                                                url: WebsiteURL + "/IPI/MaintainSeamICL/AttachedProtocol",
                                                type: "POST",
                                                datatype: "json",
                                                data: {
                                                    LineId: parseInt(_ProtocolLineId),
                                                    ProtocolType: _ProtocolType,
                                                    ProtocolNo: _ProtocolNo
                                                },
                                                beforeSend: function () {
                                                    showLoading(true);
                                                },
                                                complete: function () {
                                                    showLoading(false);
                                                },
                                                success: function (data) {
                                                    if (data.Key == true) {
                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                        $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                                                        headerStatus = data.HeaderStatus;
                                                        FillAutoCompletes();
                                                    }
                                                    else {
                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                    }
                                                }
                                            });
                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select protocol type.", "Error");
                                            return false
                                        }

                                    }
                                },
                                'cancel': {
                                    label: 'Close',
                                    className: 'btn btnclose'
                                }
                            }
                        })
                    },
                    error: function () {
                        DisplayNotiMessage("error", "Error occured please try again", "Error");
                    }
                });
            }
        }
    }

    function LinkExistingProtocol(LineId) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamICL/LoadLinkProtocolPartial",
            type: "POST",
            datatype: "html",
            data: { LineId: parseInt(LineId), sSeam: false },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                bootbox.dialog({
                    title: "Link Protocol",
                    message: data,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                })
            },
            error: function () {
                DisplayNotiMessage("error", "Error occured please try again", "Error");
            }
        });
    }

    function ViewProtocolDetails(url) {
        window.open(WebsiteURL + url, '_blank');
    }

    function LinkProtocol(_Id, _ProtocolType, _ProtocolHeaderId) {
        bootbox.confirm({
            message: "Do you want to link this protocol?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {

                    $.ajax({
                        url: WebsiteURL + "/IPI/MaintainICLPart/AttachedProtocol",
                        type: "POST",
                        datatype: "json",
                        data: {
                            LineId: parseInt(_Id),
                            ProtocolType: _ProtocolType,
                            ProtocolNo: "",
                            ProtocolHeaderId: _ProtocolHeaderId
                        },
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key == true) {
                                DisplayNotiMessage("success", data.Value, "Success");
                                $('#tblPartICLInnerHeader').DataTable().ajax.reload();
                                $('#tblPartICLInnerLinesDetails').DataTable().ajax.reload();
                                headerStatus = data.HeaderStatus;
                                FillAutoCompletes();
                                bootbox.hideAll();
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        }
                    });

                }
            }

        });
    }

</script>
