﻿@using IEMQSImplementation
@model QMS022

<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-body form">
                <div class="form-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSamplinPlan" }))
                    {
                        <fieldset id="fdCreate">
                            <legend> Project Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Quality Project</label>
                                        <div class="">
                                            @Html.HiddenFor(m => m.HeaderId, new { @id = "hdPlanId" })
                                            @Html.HiddenFor(m => m.TPLineId)
                                            @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control", @readonly = "readonly", @id = "txtQproject" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Project</label>
                                        <div class="">
                                            <input type="text" id="txtProject" value="@Html.Raw((string)ViewBag.Project)" name="txtProject" class="form-control" readonly="readonly" />
                                            @Html.HiddenFor(m => m.Project)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">BU</label>
                                        <div class="">
                                            <input type="text" id="txtBU" value="@Html.Raw((string)ViewBag.BU)" name="txtBU" class="form-control" readonly="readonly" />
                                            @Html.HiddenFor(m => m.BU)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Location</label>
                                        <div class="">
                                            <input type="text" id="txtLocation" value="@Html.Raw((string)ViewBag.Location)" name="txtLocation" class="form-control" readonly="readonly" />
                                            @Html.HiddenFor(m => m.Location)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">SeamNo</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Rev No</label>
                                        <div class="">
                                            <input type="text" id="txtTPRevNo" value="" name="txtTPRevNo" class="form-control" readonly="readonly" />
                                            @Html.HiddenFor(m => m.TPRevNo)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Stage Code-Description </label>
                                        <div class="">
                                            <input type="text" id="txtLocation" value="@Html.Raw((string)ViewBag.StageCode)" name="txtLocation" class="form-control" readonly="readonly" />
                                            @Html.HiddenFor(m => m.StageCode)
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Stage Sequence</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="fdPlan">
                            <legend> Plan Details</legend>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Depth<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Depth, "", new { @class = "form-control numeric-only", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label"> Component<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Component, new { @class = "form-control", @maxlength = "10" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">No. of Component<span class="required spnNoOfComponents" style="display:none">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.NoOfComponents, new { @class = "form-control numberonly", @maxlength = "4" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label"> Procedure<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Procedure, new { @class = "form-control", @maxlength = "10" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">No. of Procedure<span class="required spnNoOfProcedures" style="display:none">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.NoOfProcedures, "", new { @class = "form-control numberonly", @maxlength = "4" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label"> Welder<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Welder, new { @class = "form-control", @maxlength = "10" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">No. of Welder<span class="required spnNoOfWelder" style="display:none">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.NoOfWelders, new { @class = "form-control numberonly", @maxlength = "4" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Position<span class="required">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @maxlength = "10" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">No. of Position<span class="required spnNoOfPositions" style="display:none">*</span></label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.NoOfPositions, new { @class = "form-control numberonly", @maxlength = "4" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                    <div class="form-group">
                        <div class="col-md-12">
                            <div id="dvMaintainElement" class="row"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <hr />
                            <div style="float:right">
                                @if (ViewBag.isEditable)
                                {
                                    <input type="button" id="btnSaveSamplingPlan" class="btn save" value="Save" />
                                }
                                <input type="button" id="btnPlanClose" class="btn btnclose" value="Close" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });
        var hdid = '@ViewBag.HeaderId';
        $("#hdPlanId").val(parseInt(hdid));
        $(".numeric-only").autoNumeric('init', { aSep: '', vMax: "999.9999" });
        $('.numberonly').autoNumeric('init', { vMin: '0', vMax: '9999', aSep: '' });

        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));

        FillIPIPlanAutoComplete($('#Component'), lstYesNo, null, false, $('#NoOfComponents'), $('.spnNoOfComponents'));
        FillIPIPlanAutoComplete($('#Procedure'), lstYesNo, null, false, $('#NoOfProcedures'), $('.spnNoOfProcedures'));
        FillIPIPlanAutoComplete($('#Welder'), lstYesNo, null, false, $('#NoOfWelders'), $('.spnNoOfWelders'));
        FillIPIPlanAutoComplete($('#Position'), lstYesNo, null, false, $('#NoOfPositions'), $('.spnNoOfPositions'));

        enabledisable($('#Component').val(), $('#NoOfComponents'), $('.spnNoOfComponents'));
        enabledisable($('#Procedure').val(), $('#NoOfProcedures'), $('.spnNoOfProcedures'));
        enabledisable($('#Welder').val(), $('#NoOfWelders'), $('.spnNoOfWelders'));
        enabledisable($('#Position').val(), $('#NoOfPositions'), $('.spnNoOfPositions'));
        $("#txtTPRevNo").val("R" + "@ViewBag.RevNo");
        $("#SeamNo").val("@ViewBag.SeamNo");
        var qproj = "@ViewBag.QualityProject";
        $("#txtQproject").val(qproj);
        if ("@ViewBag.isEditable".toLowerCase() == "false") {
            $('fieldset#fdPlan :input').attr('disabled', true);
            $('fieldset#fdCreate :input').attr('disabled', true);
        }
        if (parseInt($("#hdPlanId").val()) > 0) {
            GetMaintainElementPartial(parseInt($("#hdPlanId").val()), "@ViewBag.isEditable".toLowerCase());
        }

        $("#frmSamplinPlan").validate({
            rules: {
                Project: { required: true },
                txtQproject: { required: true },
                BU: { required: true },
                Location: { required: true },
                SeamNo: { required: true },
                TPRevNo: { required: true },
                StageCode: { required: true },
                StageSequence: { required: true },
                Depth: { required: true },
                Component: { required: true },
                NoOfComponents: {
                    required: {
                        depends: function (element) { return $("#Component").val().toLowerCase() == 'yes' }
                    }
                },
                Procedure: { required: true },
                NoOfProcedures: {
                    required: {
                        depends: function (element) { return $("#Procedure").val().toLowerCase() == 'yes' }
                    }
                },
                Welder: { required: true },
                NoOfWelders: {
                    required: {
                        depends: function (element) { return $("#Welder").val().toLowerCase() == 'yes' }
                    }
                },
                Position: { required: true },
                NoOfPositions: {
                    required: {
                        depends: function (element) { return $("#Position").val().toLowerCase() == 'yes' }
                    }
                },
            },
            messages: {
                Project: { required: "Project is required" },
                txtQproject: { required: "Quality Project is required" },
                BU: { required: "BU is required" },
                Location: { required: "Location is required" },
                SeamNo: { required: "Quality Id is required" },
                TPRevNo: { required: "Quality Id Rev is required" },
                StageCode: { required: "Stage Code is required" },
                StageSequence: { required: "Stage Sequence is required" },
                Depth: { required: "Depth is required" },
                Component: { required: "Component is required" },
                NoOfComponents: { required: "No Of Components is required" },
                Procedure: { required: "Procedure is required" },
                NoOfProcedures: { required: "No Of Procedures is required" },
                Welder: { required: "Welder is required" },
                NoOfWelders: { required: "No Of Welders is required" },
                Position: { required: "Position is required" },
                NoOfPositions: { required: "No Of Positions is required" },
            }
        })
        $("#btnSaveSamplingPlan").click(function () {
            if ($("#frmSamplinPlan").valid()) {
                var frmSamplinPlan = $("#frmSamplinPlan").serializeArray();
                SaveSamplingPlan(frmSamplinPlan);
            }
        });

        $("#btnPlanClose").click(function () {
            bootbox.hideAll(); //$(".clsBootbox").modal('hide')
        })
    });
    function FillIPIPlanAutoComplete(element, sourceList, hdElement, isEditable, enabletxt, $spnClass) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            async: false,
            minLength: 0,
            select: function (event, ui) {
                if (ui.item != null) {
                    $(element).val(ui.item.value);
                    if (hdElement != null && hdElement != undefined && hdElement != "") {
                        $(hdElement).val(ui.item.id);
                    }
                    if (enabletxt != null && enabletxt != undefined) {
                        if ($(this).val() == 'Yes') {
                            enabletxt.val('').attr("readonly", false);
                            if (enabletxt != null && enabletxt != undefined) {
                                $spnClass.show();
                            }
                        }
                        else {
                            enabletxt.val('').attr("readonly", true);
                            if (enabletxt != null && enabletxt != undefined) {
                                $spnClass.hide();
                            }
                        }
                    }
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                    if (hdElement != null && hdElement != undefined && hdElement != "") {
                        $(hdElement).val('');
                    }
                    if (enabletxt != null && enabletxt != undefined) {
                        enabletxt.val('').attr("readonly", true);
                        if (enabletxt != null && enabletxt != undefined) {
                            $spnClass.hide();
                        }
                    }
                }
                else if (ui.item != null && $(this).val() != ui.item.value) {
                    $(this).val('');
                    if (hdElement != null && hdElement != undefined && hdElement != "") {
                        $(hdElement).val('');
                        if (enabletxt != null && enabletxt != undefined) {
                            $spnClass.hide();
                        }
                    }
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function SaveSamplingPlan(frmSublinesValues) {
        var formdata = new FormData();
        $.each(frmSublinesValues, function (key, input) {
            formdata.append(input.name, input.value);
        });
        $.ajax({
            url: WebsiteURL + "/IPI/ChemicalAnalysis/SaveTestPlanSamplingPlan",
            type: "POST",
            contentType: false,
            processData: false,
            datatype: "json",
            data: formdata,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    $("#hdPlanId").val(data.HeaderId);
                    if (data.Value != null && data.Value.length > 0)
                        DisplayNotiMessage("success", data.Value, "Success");
                    if (data.Remarks != null && data.Remarks.length > 0)
                        DisplayNotiMessage("info", data.Remarks, "Info");

                    if (parseInt($("#hdPlanId").val()) > 0) {
                        GetMaintainElementPartial(parseInt($("#hdPlanId").val()), true);

                    }
                }
            }
        });
    }
    function enabledisable($this, $enElement, $spnClass) {
        if ($this == "yes") {
            $enElement.attr("readonly", false);
            $spnClass.show();
        }
        else {
            $enElement.attr("readonly", true);
            $spnClass.hide();
        }
    }
    function GetMaintainElementPartial(planid, isEditable) {
        $("#dvMaintainElement").empty();
        $.ajax({
            url: WebsiteURL + "/IPI/ChemicalAnalysis/LoadTPMaintainElement",
            type: "POST",
            data: { planid: planid, isEditable: isEditable },
            dataType: "html",
            success: function (data) {
                $("#dvMaintainElement").html(data);
            }
        });
    }

</script>