﻿@using IEMQSImplementation
@Styles.Render("~/Content/datetimepicker/css")

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmPrintReport", @class = "form-horizontal" }))
{
    <div class="form-body">


        @if (ViewBag.Web == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Location<span class="required">*</span>
                </label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectddlLocation1" />
                    <select name="ddlLocation1" id="ddlLocation1" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    BU<span class="required">*</span>
                </label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectddlBU1" />
                    <select name="ddlBU1" id="ddlBU1" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3"> Project No</label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectQualityProject1" />
                    <select name="ddlQualityProject1" id="ddlQualityProject1" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Date</label>
                <div class="col-md-9">
                    <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                        <input type="text" id="GSDatefrom" name="GSDatefrom" placeholder="From date" class="form-control" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="GSDateto" name="GSDateto" placeholder="To date" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Seam No</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="ddlSeams" id="ddlSeams" multiple="multiple" style="width:100%!important" class="form-control" placeholder="Seam No"></select>
                        <input type="hidden" id="hdSelecteddlSeams" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Stage</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="ddlStage" id="ddlStage" multiple="multiple" style="width:100%!important" class="form-control" placeholder="Stage">
                            <option value="">Stage</option>
                        </select>
                        <input type="hidden" id="hdSelectddlddlStage" />
                    </div>
                </div>
            </div>

        }


        @if (ViewBag.ShowLocation == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Location<span class="required">*</span>
                </label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectddlLocation" />
                    <select name="ddlLocation" id="ddlLocation" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
        }
        @if (ViewBag.ShowBU == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    BU<span class="required">*</span>
                </label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectddlBU" />
                    <select name="ddlBU" id="ddlBU" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
        }
        @if (ViewBag.ShowLocationAutocomplete == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Location
                    @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.RepairSummary.GetStringValue())
                    {<span class="required">*</span>
                    }
                </label>
                <div class="col-md-6">
                    <input id="txtLocation" name="txtLocation" class="form-control" />
                    <input id="Location" name="Location" type="hidden" />
                </div>
            </div>
        }
        @if (ViewBag.ShowProject == 1)
        {
            <div class="form-group">
                @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.Seam_StageClearanceAnalysis_Report.GetStringValue())
                {
                    <label class="control-label col-md-3"> Project</label>
                }
                else
                {
                    <label class="control-label col-md-3">
                        Quality Project@*<span class="required">*</span>*@
                    </label>
                }

                <div class="col-md-6">
                    <input type="hidden" id="hdSelectQualityProject" />
                    <select name="ddlQualityProject" id="ddlQualityProject" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
        }
        @if (ViewBag.ShowFromToDate == 1)
        {
            <div class="form-group">
                @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.Seam_StageClearanceAnalysis_Report.GetStringValue() || ViewBag.ReportType == clsImplementationEnum.IPIReports.InspectionRejectionAnalysis.GetStringValue())
                {
                    <label class="control-label col-md-3"> Offerred Date</label>
                }
                else
                {
                    <label class="control-label col-md-3">Date <span class="required">*</span></label>
                }

                <div class="col-md-9">
                    <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                        <input type="text" id="DateFrom" name="DateFrom" placeholder="From date" class="form-control" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="DateTo" name="DateTo" placeholder="To date" class="form-control" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowFromToQualityProject == 1 || ViewBag.ShowFromToQualityProjectBuwise == 1 || ViewBag.ShowFromToQualityProjectByBULocation == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Project
                    @if (ViewBag.ReportType != clsImplementationEnum.IPIReports.InspectionEntryAttendance.GetStringValue() && ViewBag.ReportType != clsImplementationEnum.IPIReports.InspectionRejectionAnalysis.GetStringValue())
                    {
                        <span class="required">*</span>
                    }
                </label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromQualityProject" value="" name="txtFromQualityProject" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToQualityProject" value="" name="txtToQualityProject" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromQualityProject" class="clsClear" />
                        <input type="hidden" id="ToQualityProject" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowFromToShop == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Shop</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromShop" value="" name="txtFromShop" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToShop" value="" name="txtToShop" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromShop" class="clsClear" />
                        <input type="hidden" id="ToShop" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowShopMultiple == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Shop
                </label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectddlShop" />
                    <select name="ddlShop" id="ddlShop" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
        }
        @if (ViewBag.ShowFromToSeamStage == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Stage</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromSeamStage" value="" name="txtFromSeamStage" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToSeamStage" value="" name="txtToSeamStage" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromSeamStage" class="clsClear" />
                        <input type="hidden" id="ToSeamStage" class="clsClear" />
                    </div>
                </div>
            </div>
        }

        @if (ViewBag.ShowProjectAutoComplete == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Quality Project
                    @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.PrintTestPlan.GetStringValue())
                    {<span class="required">*</span>
                    }
                </label>
                <div class="col-md-6">
                    <input id="txtQualityProject" name="txtQualityProject" class="form-control" />
                </div>
            </div>
        }
        @if (ViewBag.ShowSeamTypeMultiple == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Seam Type
                </label>
                <div class="col-md-6">
                    <input type="hidden" id="hdSelectSeamType" />
                    @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.AI_horizontal.GetStringValue())
                    {
                        <select name="ddlSeamType" id="ddlSeamType" multiple="multiple" style="width:100%" class="form-control" onchange="bindSeamno();"></select>
                    }
                    else
                    {
                        <select name="ddlSeamType" id="ddlSeamType" multiple="multiple" style="width:100%" class="form-control"></select>
                    }

                </div>
            </div>
        }
        @if (ViewBag.ShowSeamNo == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Seam No@*<span class="required">*</span>*@
                </label>
                <div class="col-md-6">
                    <input id="hdSeamNoSelected" type="hidden" />
                    @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.AI_horizontal.GetStringValue())
                    {
                        <select name="ddlSeamNo" id="ddlSeamNo" class="mt-multiselect btn btn-default clsSelectClear" multiple="multiple" style="width:100%!important" onchange="bindSeamStage();"></select>
                    }
                    else
                    {
                        <select name="ddlSeamNo" id="ddlSeamNo" multiple="multiple" style="width:100%" class="form-control"></select>
                    }

                </div>
            </div>
        }
        @if (ViewBag.ShowSeamNoFrom == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Seam No From@*<span class="required">*</span>*@
                </label>
                <div class="col-md-6">
                    <input id="txtSeamNoFrom" name="txtSeamNoFrom" class="form-control" />
                </div>
            </div>
        }

        @if (ViewBag.ShowSeamNoTo == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Seam No To@*<span class="required">*</span>*@
                </label>
                <div class="col-md-6">
                    <input id="txtSeamNoTo" name="txtSeamNoTo" class="form-control" />
                </div>
            </div>
        }
        @if (ViewBag.ShowQIDApplicableFor == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Applicable For
                </label>
                <div class="col-md-6">
                    @Html.DropDownList("QIDApplicableFor", new SelectList(@ViewBag.VBlstQualityIdApplicable, "Value", "Text"), null, new { @class = "form-control" })
                </div>
            </div>
        }
        @if (ViewBag.ShowQID == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Quality ID@*<span class="required">*</span>*@
                </label>
                <div class="col-md-6">
                    <select name="ddlQID" id="ddlQID" multiple="multiple" style="width:100%" class="form-control"></select>
                </div>
            </div>
        }
        @if (ViewBag.ShowStageType == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Stage Tpye<span class="required"> * </span></label>
                <div class="col-md-6">
                    @Html.DropDownList("StageType", new SelectList(@ViewBag.StageType, "Value", "Text"), "Select", new { @class = "form-control" })
                </div>
            </div>

        }
        @if (ViewBag.ShowTypewiseStages == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Stage Code</label>
                <div class="col-md-6">
                    <input id="txtStageCode" name="txtStageCode" class="form-control clsClear" placeholder="Select" />
                    <input id="StageCode" name="StageCode" type="hidden" class="clsClear" />
                </div>
            </div>
        }
        @if (ViewBag.ShowRPTLocation == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Location<span class="required">*</span>
                </label>
                <div class="col-md-6">
                    <input id="txtGSLocation" name="txtGSLocation" class="form-control clsClear" placeholder="Select" />
                    <input id="GSLocation" name="GSLocation" type="hidden" class="clsClear" />
                </div>
            </div>
        }
        @if (ViewBag.ShowRPTFromToProject == 1 || ViewBag.ShowRPTFromToQualityProject == 1)
        {
            <div class="form-group">
                @if (ViewBag.ShowRPTFromToQualityProject == 1)
                {
                    <label class="control-label col-md-3">Quality Project</label>
                }
                else
                {
                    <label class="control-label col-md-3">Project</label>
                }
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSProject" value="" name="txtFromGSProject" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSProject" value="" name="txtToGSProject" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromGSProject" class="clsClear" />
                        <input type="hidden" id="ToGSProject" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowFromToSeamNobyProject == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Seam</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSSeam" value="" name="txtFromGSSeam" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSSeam" value="" name="txtToGSSeam" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromGSSeam" class="clsClear" />
                        <input type="hidden" id="ToGSSeam" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @*@if (ViewBag.ShowFromToSeamNobyProject == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Seam</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSSeam" value="" name="txtFromGSSeam" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSSeam" value="" name="txtToGSSeam" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromGSSeam" class="clsClear" />
                        <input type="hidden" id="ToGSSeam" class="clsClear" />
                    </div>
                </div>
            </div>
        }*@
        @if (ViewBag.ShowFromToSeamNobyQualityProject == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Seam</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSSeam" value="" name="txtFromGSSeam" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSSeam" value="" name="txtToGSSeam" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromGSSeam" class="clsClear" />
                        <input type="hidden" id="ToGSSeam" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowStageMultiple == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Stage
                </label>
                <div class="col-md-6">
                    <select name="Stage" id="Stage" class="mt-multiselect btn btn-default clsSelectClear" multiple="multiple" style="width:100%!important"></select>
                </div>
            </div>
        }

        @if (ViewBag.ShowRPTFromToStages == 1 || ViewBag.ShowFromToAllStages == 1 || ViewBag.ShowFromToStagesByMultiselectSeamno == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Stage</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSStage" value="" name="txtFromGSStage" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSStage" value="" name="txtToGSStage" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromGSStage" class="clsClear" />
                        <input type="hidden" id="ToGSStage" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowRPTFromToStageseqinput == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Stage Sequence</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSStageSeq" value="" name="txtFromGSStageSeq" class="form-control clsClear numeric" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSStageSeq" value="" name="txtToGSStageSeq" class="form-control clsClear numeric" placeholder="To" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowRPTFromToShop == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Shop</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromGSShop" value="" name="txtFromGSShop" class="form-control clsClear" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToGSShop" value="" name="txtToGSShop" class="form-control clsClear" placeholder="To" />
                        <input type="hidden" id="FromGSShop" class="clsClear" />
                        <input type="hidden" id="ToGSShop" class="clsClear" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.ShowRPTFromToDate == 1)
        {
            <div class="form-group">
                @if (ViewBag.ReportType == clsImplementationEnum.IPIReports.InspectionRejectionAnalysis.GetStringValue())
                {
                    <label class="control-label col-md-3"> Inspection Date</label>
                }
                else
                {
                    <label class="control-label col-md-3">Date</label>
                }
                <div class="col-md-9">
                    <div class="input-group date-picker input-daterange" data-date-format="dd/mm/yyyy">
                        <input type="text" id="GSDatefrom" name="GSDatefrom" placeholder="From date" class="form-control" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="GSDateto" name="GSDateto" placeholder="To date" class="form-control" />
                    </div>
                </div>
            </div>
        }
        @if (ViewBag.WeldingProcess == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Welding Process
                </label>
                <div class="col-md-6">
                    <input id="txtWeldingProcess" name="txtWeldingProcess" class="form-control" placeholder="Select" />
                    <input id="WeldingProcess" name="WeldingProcess" type="hidden" class="" />
                </div>
            </div>
        }
        @if (ViewBag.Instrument == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">
                    Instrument
                </label>
                <div class="col-md-6">
                    <select name="Instrument" id="Instrument" class="mt-multiselect btn btn-default clsSelectClear" multiple="multiple" style="width:100%!important"></select>

                    @*<input id="txtInstrument" name="txtInstrument" class="form-control" placeholder="Select" />
                    <input id="Instrument" name="Instrument" type="hidden" class="" />*@
                </div>
            </div>
        }
        @if (ViewBag.ShowSeamApprovalStatus == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Status<span class="required"></span></label>
                <div class="col-md-6">
                    @Html.DropDownList("SeamApprovalStatus", new SelectList(@ViewBag.SeamApprovalStatus, "Value", "Text"), null, new { @class = "form-control" })
                </div>
            </div>
        }

        @if (ViewBag.ShowInspectionRemark == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Inspection Remark<span class="required"></span></label>
                <div class="col-md-6">
                    <textarea type="text" id="InspectionRemark" name="InspectionRemark" class="form-control" maxlength="200"></textarea>
                </div>
            </div>

        }
        @if (ViewBag.UserInputPreparedBy == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Prepared By<span class="required"></span></label>
                <div class="col-md-6">
                    <input type="text" id="PreparedBy" name="PreparedBy" class="form-control" maxlength="20" />
                </div>
            </div>}
        @if (ViewBag.UserInputApprovedBy == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Approved By<span class="required"></span></label>
                <div class="col-md-6">
                    <input type="text" id="ApprovedBy" name="ApprovedBy" class="form-control" maxlength="20" />
                </div>
            </div>}
        @if (ViewBag.UserInputLatestDrawingDINNo == 1)
        {<div class="form-group">
                <label class="control-label col-md-3">Latest Drawing DIN No<span class="required"></span></label>
                <div class="col-md-6">
                    <input type="text" id="LatestDrawingDINNo" name="LatestDrawingDINNo" class="form-control" maxlength="20" />
                </div>
            </div>}
        @if (ViewBag.ShowUserInputDate == 1)
        {<div class="form-group">
                <label class="control-label col-md-3">Date of Latest DIN</label>
                <div class="col-md-6">
                    <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                        <input type="text" id="txtDate" name="txtDate" class="form-control" />    <span class="input-group-btn">
                            <button class="btn default" id="btncal1" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>}

        @if (ViewBag.TestplanRev == 1)
        {
            <div class="form-group dvTPRev">
                <label class="control-label col-md-3">TP Rev No</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" id="txtFromTestplanRev" value="" name="txtFromTestplanRev" class="form-control clsClear numeric" placeholder="From" />
                        <div class="input-group-addon">
                            <span class="input-group-text" id=""> <b>to</b> </span>
                        </div>
                        <input type="text" id="txtToTestplanRev" value="" name="txtToTestplanRev" class="form-control clsClear numeric" placeholder="To" />
                    </div>
                </div>
            </div>
        }



        @if (ViewBag.SeamStageType == 1)
        {
            <div class="form-group">
                <label class="control-label col-md-3">Stage Types<span class="required">*</span></label>
                <div class="col-md-6">
                    @Html.DropDownList("SeamStageTypes", new SelectList(@ViewBag.SeamStageTypes, "Value", "Text"), null, new { @class = "form-control" })
                </div>
            </div>
        }

        <input id="PrintBy" type="hidden" value="@ViewBag.PrintedBy" />
        <input id="PrintTPI1" type="hidden" />
        <input id="PrintTPI2" type="hidden" />
        <input id="PrintTPI3" type="hidden" />
        <input type="hidden" id="FetchfromQMS012" value=@(ViewBag.FetchfromQMS012 == 1 ? true : false) />
        <input type="hidden" id="FetchNDEStages" value=@(ViewBag.FetchNDEStages == 1 ? true : false) />
        <input type="hidden" id="FetchNDEStagesexceptPTMT" value=@(ViewBag.FetchNDEStagesexceptPTMT == 1 ? true : false) />

        <input id="hdStagetype" type="hidden" value="@ViewBag.ReportStageType" />
        <input id="ReportType" type="hidden" value="@ViewBag.ReportType" />
        <input id="IsQualityProject" type="hidden" value="false"  />

        
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
        //Start : validator for Less than and greater than
        $.validator.addMethod('le', function (value, element, param) {
            if (!isNaN($(element).val() && $(param).val() == "" && !isNaN($(param).val()))) {
                if ($(param).val() == "") {
                    return true
                }
                else {
                    var status;
                    if (!isNaN($(element).val()) && !isNaN($(param).val())) {
                        status = this.optional(element) || parseInt(value) <= parseInt($(param).val());
                    }
                    else {
                        status = true;
                    }
                    if (status || (!isNaN($(element).val()))) {
                        $(param).removeClass('error');
                    }
                    return status;
                }
            }
        }, 'Invalid value');
        $.validator.addMethod('ge', function (value, element, param) {
            if ($(param).val() == "" && !isNaN($(element).val()) && !isNaN($(param).val())) {
                return true
            }
            else {
                var status;
                if (!isNaN($(element).val()) && !isNaN($(param).val())) {
                    status = this.optional(element) || parseInt(value) >= parseInt($(param).val());
                }
                else {
                    status = true;
                }
                if (status || (!isNaN($(element).val()))) {
                    $(param).removeClass('error');
                }
                return status;
            }
        }, 'Invalid value');
        $('.numeric').autoNumeric('init', {  aPad: "fase", vMin:"0",vMax:"9999999999", aForm: "false" });

        $("#FetchfromQMS012").val(('@ViewBag.FetchfromQMS012' == 1 ? true : false));
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $("#txtFromGSStageSeq").change(function()
        {
            $("#txtToGSStageSeq").val($(this).val());
        });

        $("#txtFromTestplanRev").change(function()
        {
            $("#txtToTestplanRev").val($(this).val());
        });
        $('#frmPrintReport').validate({
            rules: {
                ddlLocation1: {
                    required: true
                },
                ddlBU1: {
                    required: true
                },


                ddlLocation: {
                    required: true
                },
                ddlBU: {
                    required: true
                },
                txtLocation: {
                    required: ('@ViewBag.ReportType' != '@clsImplementationEnum.IPIReports.ChemicalTest.GetStringValue()' && '@ViewBag.ReportType' != '@clsImplementationEnum.IPIReports.PMITest.GetStringValue()' && '@ViewBag.ReportType' != '@clsImplementationEnum.IPIReports.HardnessTest.GetStringValue()' && '@ViewBag.ReportType' != '@clsImplementationEnum.IPIReports.FerriteTest.GetStringValue()' && '@ViewBag.ReportType' !=
                       '@clsImplementationEnum.IPIReports.InspectionEntryAttendance.GetStringValue()' )
                },
                ddlQualityProject: {
                    required: false
                },
                ddlSeamNo: {
                    required: false
                },
                ddlQID: {
                    required: false
                },
                txtQualityProject : {
                    required: '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamICL.GetStringValue()' ||  '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.PrintTestPlan.GetStringValue()' ||  '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamStatus.GetStringValue()' ||  '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ProjectSeamStatus.GetStringValue()'
                },
                StageType: {
                    required: true
                },
                txtGSLocation: {
                    required: '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamwiseGroundSpotGPAReportForOverlay.GetStringValue()'
                },
                DateFrom: {
                    required: '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.InspectionEntryAttendance.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamICL.GetStringValue()'
                },
                DateTo: {
                    required: '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.InspectionEntryAttendance.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamICL.GetStringValue()'
                },

                GSDatefrom: {
                    required: function ()
                    {
                        if('@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ICL_DPP.GetStringValue()' && $("#SeamApprovalStatus").val() == "Pending")
                        {return true;}
                        else{return false;}
                    }
                },
                GSDateto: {
                    required: function ()
                    {
                        if('@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ICL_DPP.GetStringValue()' && $("#SeamApprovalStatus").val() == "Pending")
                        {return true;}
                        else{return false;}
                    }
                },

                txtFromQualityProject:{
                    required: ('@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamICL.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ChemicalTest.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.PMITest.GetStringValue()' ||'@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.HardnessTest.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.FerriteTest.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.RepairSummary.GetStringValue()')
                },
                txtToQualityProject:{
                    required: ('@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.SeamICL.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ChemicalTest.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.PMITest.GetStringValue()' ||'@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.HardnessTest.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.FerriteTest.GetStringValue()' || '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.RepairSummary.GetStringValue()')
                },
                txtFromTestplanRev:{le: "#txtToTestplanRev"},
                txtToTestplanRev:{ ge: "#txtFromTestplanRev"},

                txtFromGSStageSeq:{le: "#txtToGSStageSeq"},
                txtToGSStageSeq:{ ge: "#txtFromGSStageSeq"},
                SeamApprovalStatus : {
                    required: '@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ICL_DPP.GetStringValue()'
                }
            },
            messages: {
                ddlLocation: {
                    required: "Location is required"
                },
                ddlBU: {
                    required: "BU is required"
                },
                txtGSLocation: {
                    required: "Location is required"
                },
                txtLocation: {
                    required: "Location is required"
                },
                ddlQualityProject: {
                    required: "Quality Project is required"
                },
                ddlSeamNo: {
                    required: "Seam No is required"
                },
                ddlQID: {
                    required: "Quality ID is required"
                },
                StageType: {
                    required:  "Stage Type is required"
                },
                DateFrom: {
                    required: "From Date is required"
                },
                DateTo: {
                    required: "To Date is required"
                },
                txtFromQualityProject: {
                    required: "From Quality Project is required"
                },
                txtToQualityProject: {
                    required: "To Quality Project is required"
                },
                txtFromTestplanRev:{ le: "Must be less than or equal to 'Testplan To Rev No' Value" },
                txtToTestplanRev:{ ge: "Must be greater than or equal to 'Testplan From Rev No'  Value" },
                txtFromGSStageSeq:{ le: "Must be less than or equal to 'Testplan To Rev No' Value" },
                txtToGSStageSeq:{ ge: "Must be greater than or equal to 'Testplan From Rev No'  Value" },
                SeamApprovalStatus:{required : "Please select Status" }
            }
        });


        if ('@ViewBag.Web' == 1)
        {
            $("#ddlLocation1").val("");
            LoadPreValueSelect2("/IPI/Reports/GetUserLocation", $('#ddlLocation1'), "--Select Location--", {});

            $("#ddlBU1").val("");
            LoadPreValueSelect2("/IPI/Reports/GetUserBU", $('#ddlBU1'), "--Select BU--", {});

            LoadSelect2DropDownProject("/IPI/Reports/GetQualityProjects", $('#ddlQualityProject1'), "--Select Project--", '');

            LoadPreValueSelect21("/IPI/Reports/GetSeamListByQualityProject1", $('#ddlSeams'), "--Select Seam--", { quality_projects: $("#hdSelectQualityProject1").val() });
            LoadPreValueSelect22("/IPI/Reports/GetStagesbySeamNo1", $('#ddlStage'), "--Select Stage--", { project: $("#hdSelectQualityProject1").val(), seamno: $("#hdSelecteddlSeams").val() });

        }

        $("#ddlLocation").val("");
        LoadPreValueSelect2("/IPI/Reports/GetUserLocation", $('#ddlLocation'), "--Select Location--", {});


        if ('@ViewBag.ShowBU' == 1) {
            $("#ddlBU").val("");
            LoadPreValueSelect2("/IPI/Reports/GetUserBU", $('#ddlBU'), "--Select BU--", {});
        }

        $("#ddlQualityProject").val("");
        if ('@ViewBag.ShowProject' == 1 && '@ViewBag.ShowShopMultiple' == 1 ) {
            LoadSelect2DropDownProject("/IPI/Reports/GetQualityProjects", $('#ddlQualityProject'), "--Select Project--", '');
        } else {
            LoadSelect2DropDownProject("/IPI/Reports/GetQualityProjects", $('#ddlQualityProject'), "--Select Quality Project--", '');
        }


        $("#txtQualityProject").val("");
        FillAutoCompleteIDText($('#txtQualityProject'), "/IPI/Reports/GetQualityProjects");
        if ('@ViewBag.ShowSeamNoFrom' == 1 || '@ViewBag.ShowSeamNoTo' == 1) {
            $("#txtSeamNoFrom,#txtSeamNoTo").val("");
            FillAutoCompleteIDText($('#txtSeamNoFrom'), "/IPI/Reports/GetSeamListByQualityProject");
            FillAutoCompleteIDText($('#txtSeamNoTo'), "/IPI/Reports/GetSeamListByQualityProject");
        }

        if ('@ViewBag.ShowSeamNo' == 1 && '@ViewBag.ShowSeamTypeMultiple' != 1) {
            $("#ddlSeamNo").val("");
            LoadSelect2DropDownSeam("/IPI/Reports/GetSeamListByQualityProject", $('#ddlSeamNo'), "--Select Seam No--", '');
            $('#ddlSeamNo').change(function(){
                if($(this).val() == "" || $(this).val() == undefined)
                {
                    $('#hdSeamNoSelected').val("");
                }
                else{
                    $('#hdSeamNoSelected').val($(this).val().join(','));
                }

            })
        }

        if ('@ViewBag.ShowQID' == 1) {
            $("#ddlQID").val("");
            LoadSelect2DropDownQID("/IPI/Reports/GetQIDListByQualityProject_Location", $('#ddlQID'), "--Select Quality ID--", '');
        }

        if ('@ViewBag.ShowLocationAutocomplete' == 1) {
            var lstLocation= @Html.Raw(Json.Encode(@ViewBag.Location));
            FillAutoComplete($('#txtLocation'),lstLocation ,$('#Location'));
        }
        if('@ViewBag.ShowTypewiseStages' == 1) {
            $('#StageType').change(function()
            {
                if( $('#StageType').val() == '' ||  $('#StageType').val() == null)
                {
                    $('#txtStageCode').val('');
                    $('#StageCode').val('');
                }
            });
            var StageCodelist = [];
            StageCodelist.push({ id: "stagetype", value: $('#StageType') });
            StageCodelist.push({ id: "location", value: $('#Location') });
            FillAutoCompleteAjax($('#txtStageCode'), "/IPI/Reports/GetStagecode",$('#StageCode'),false, StageCodelist);
        }
        if('@ViewBag.ShowFromToQualityProject' == 1)
        {
            var ParamlistQP = [];
            if('@ViewBag.ExcludeNuclearProject' == 1){
                ParamlistQP.push({ id: "isNuclearProjectIncluded", value: false });
            }
            FillAutoCompleteAjax($('#txtFromQualityProject'), "/IPI/Reports/GetQualityProjectsV2",$('#FromQualityProject'),false, ParamlistQP,function(){
                $('#txtToQualityProject').val(''); $('#ToQualityProject').val('');
                if($('#txtFromQualityProject').val() !=""){
                    $('#txtToQualityProject').val($('#txtFromQualityProject').val());
                    $('#ToQualityProject').val( $('#FromQualityProject').val());
                }
                if('@ViewBag.ShowTPIinReport' == 1)
                {
                    getInspectionagency($('#FromQualityProject').val());
                }
            }, null, true);
            FillAutoCompleteAjax($('#txtToQualityProject'), "/IPI/Reports/GetQualityProjectsV2",$('#ToQualityProject'),false, ParamlistQP, null, null, true);
        }
        if('@ViewBag.ShowFromToQualityProjectBuwise' == 1)
        {
            var ParamlistQP = [];

            FillAutoCompleteAjax($('#txtFromQualityProject'), "/IPI/Reports/GetQualityProjectsV2",$('#FromQualityProject'),false, ParamlistQP,function(){
                $('#txtToQualityProject').val(''); $('#ToQualityProject').val('');
                if($('#txtFromQualityProject').val() !=""){
                    $('#txtToQualityProject').val($('#txtFromQualityProject').val());
                    $('#ToQualityProject').val( $('#FromQualityProject').val());
                }
            }, null, false);
            ParamlistQP.push({ id: "fromproject", value: $('#txtFromQualityProject') });
            FillAutoCompleteAjax($('#txtToQualityProject'), "/IPI/Reports/GetToAuthorisedQualityProject",$('#ToQualityProject'),false, ParamlistQP, null, null, false);
        }

        if('@ViewBag.ShowFromToQualityProjectByBULocation' == 1)
        {
            $('#ddlLocation,#ddlBU').change(function () {

                var ParamlistQP = [];

                var Location = "";
                if ($("#ddlLocation").val() != null && $("#ddlLocation").val() != "" && $("#ddlLocation").val() != undefined)
                    Location = $("#ddlLocation").val().join(',');

                var BU = "";
                if ($("#ddlBU").val() != null && $("#ddlBU").val() != "" && $("#ddlBU").val() != undefined)
                    BU = $("#ddlBU").val().join(',');

                ParamlistQP.push({ id: "selectedBU", value: BU });
                ParamlistQP.push({ id: "selectedLoc", value: Location });

                //console.log(Location);
                // console.log(ParamlistQP);
                if(Location !="" && BU!=""){
                    FillAutoCompleteAjax($('#txtFromQualityProject'), "/Utility/General/GetAllQualityProject",$('#FromQualityProject'),false, ParamlistQP,function(){
                        $('#txtToQualityProject').val(''); $('#ToQualityProject').val('');
                        if($('#txtFromQualityProject').val() !=""){
                            $('#txtToQualityProject').val($('#txtFromQualityProject').val());
                            $('#ToQualityProject').val( $('#FromQualityProject').val());
                        }
                    }, null, true,function (data) {
                        return $.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        })
                    })

                    FillAutoCompleteAjax($('#txtToQualityProject'), "/Utility/General/GetAllQualityProject",$('#ToQualityProject'),false, ParamlistQP, null, null,true
                        ,function (data) {
                            return $.map(data, function (item) {
                                return { label: item.text, value: item.text, id: item.id };
                            })
                        });
                }
            });

        }
        if ('@ViewBag.ShowShopMultiple' == 1)
        {
            $("#ddlShop").val("");
            LoadPreValueSelect2("/IPI/Reports/GetShopMultiple", $('#ddlShop'), "--Select Shop--", {});

        }

        if('@ViewBag.ShowFromToShop' == 1)
        {
            var ParamlistShop = [];
            FillAutoCompleteAjax($('#txtFromShop'), "/IPI/Reports/GetShopV2",$('#FromShop'),false, ParamlistShop,function(){
                $('#txtToShop').val(''); $('#ToShop').val('');
                if($('#txtFromShop').val() !=""){
                    $('#txtToShop').val($('#txtFromShop').val());
                    $('#ToShop').val( $('#FromShop').val());
                }
            }, null, false);
            FillAutoCompleteAjax($('#txtToShop'), "/IPI/Reports/GetShopV2",$('#ToShop'),false, ParamlistShop, null, null, false);
        }

        if ('@ViewBag.ShowStageMultiple' == 1 && '@ViewBag.ShowSeamTypeMultiple' != 1) {
            var lstStageMultiple = @Html.Raw(Json.Encode(@ViewBag.StageMultipleList));
            LoadMultiSelectwithCheckboxusingArray(lstStageMultiple, $('#Stage'), "--Select Stage--");
            MultiselectCCss();

        }

        if('@ViewBag.ShowFromToSeamStage' == 1)
        {
            var ParamlistSeamStage = [];
            FillAutoCompleteAjax($('#txtFromSeamStage'), "/IPI/Reports/GetSeamStageV2",$('#FromSeamStage'),false, ParamlistSeamStage,function(){
                $('#txtToSeamStage').val(''); $('#ToSeamStage').val('');
                if($('#txtFromSeamStage').val() !=""){
                    $('#txtToSeamStage').val($('#txtFromSeamStage').val());
                    $('#ToSeamStage').val( $('#FromSeamStage').val());
                }
            }, null, false);
            FillAutoCompleteAjax($('#txtToSeamStage'), "/IPI/Reports/GetSeamStageV2",$('#ToSeamStage'),false, ParamlistSeamStage, null, null, false);
        }

        if ('@ViewBag.ShowRPTLocation' == 1)
        {
            var lstGSLocation = @Html.Raw(Json.Encode(@ViewBag.Location));
            FillAutoComplete($('#txtGSLocation'), lstGSLocation,$('#GSLocation'));
            $('#txtGSLocation').change(function(){
                $(".clsClear").val('');
            })
        }
        if ('@ViewBag.ShowRPTFromToShop' == 1){
            var Paramlist = [];
            Paramlist.push({ id: "location", value: $('#GSLocation') });
            FillAutoCompleteAjax($('#txtFromGSShop'), "/IPI/Reports/GetShop",$('#FromGSShop'),false, Paramlist,function(){
                if($('#txtFromGSShop').val() !=""){
                    $('#txtToGSShop').val($('#txtFromGSShop').val());
                    $('#ToGSShop').val( $('#FromGSProject').val());
                }
                else{
                    $('#txtToGSShop').val('');
                    $('#ToGSShop').val('');
                }
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSShop'), "/IPI/Reports/GetShop",$('#ToGSShop'),false, Paramlist, null, null, false);
        }

        if ('@ViewBag.ShowRPTFromToProject' == 1){
            FillAutoCompleteAjax($('#txtFromGSProject'), "/IPI/Reports/GetProjects",$('#FromGSProject'),false, Paramlist,function(){
                $('#txtToGSProject').val(''); $('#ToGSProject').val('');
                $('#txtToGSSeam').val(''); $('#txtFromGSSeam').val('');
                $('#ToGSSeam').val(''); $('#FromGSSeam').val('');
                $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                $('#ToGSStage').val(''); $('#FromGSStage').val('');

                if($('#txtFromGSProject').val() !=""){
                    $('#txtToGSProject').val($('#txtFromGSProject').val());
                    $('#ToGSProject').val( $('#FromGSProject').val());
                }
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSProject'), "/IPI/Reports/GetProjects",$('#ToGSProject'),false, Paramlist, function()
            {
                $('#txtToGSProject').val(''); $('#ToGSProject').val('');
                $('#txtToGSSeam').val(''); $('#txtFromGSSeam').val('');
                $('#ToGSSeam').val(''); $('#FromGSSeam').val('');
                $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                $('#ToGSStage').val(''); $('#FromGSStage').val('');
            }, null, false);
        }

        
        if ('@ViewBag.ShowRPTFromToQualityProject' == 1) {
                    var Paramlist1 = [];
            Paramlist1.push({ id: "location", value: $('#GSLocation') });
            FillAutoCompleteAjax($('#txtFromGSProject'), "/IPI/Reports/GetQualityProjectsV2",$('#FromGSProject'),false, Paramlist1,function(){
                $('#txtToGSProject').val(''); $('#ToGSProject').val('');
                $('#txtToGSSeam').val(''); $('#txtFromGSSeam').val('');
                $('#ToGSSeam').val(''); $('#FromGSSeam').val('');
                $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                $('#ToGSStage').val(''); $('#FromGSStage').val('');

                if($('#txtFromGSProject').val() !=""){
                    $('#txtToGSProject').val($('#txtFromGSProject').val());
                    $('#ToGSProject').val( $('#FromGSProject').val());
                }
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSProject'), "/IPI/Reports/GetQualityProjectsV2",$('#ToGSProject'),false, Paramlist1, function()
            {
                $('#txtToGSProject').val(''); $('#ToGSProject').val('');
                $('#txtToGSSeam').val(''); $('#txtFromGSSeam').val('');
                $('#ToGSSeam').val(''); $('#FromGSSeam').val('');
                $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                $('#ToGSStage').val(''); $('#FromGSStage').val('');
            }, null, false);
        }

        if ('@ViewBag.ShowFromToSeamNobyQualityProject' == 1) {
            var ParamSeamlist = [];
            var setSeamURL ="/IPI/Reports/GetSeamsbyQualityproject";
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamSeamlist.push({ id: "location", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamSeamlist.push({ id: "location", value: $('#Location') });
            }
            if ('@ViewBag.ShowProject' == 1)
            {
                setSeamURL  ="/IPI/Reports/GetAllSeamsbyQualityproject";
                ParamSeamlist.push({ id: "selectedProject", value: $('#hdSelectQualityProject') });
            }
            if ('@ViewBag.ShowFromToQualityProject' == 1 || '@ViewBag.ShowFromToQualityProjectBuwise' == 1)
            {
                ParamSeamlist.push({ id: "fromProject", value: $('#FromQualityProject') });
                ParamSeamlist.push({ id: "toProject", value: $('#ToQualityProject') });
            }
            if ('@ViewBag.FetchfromQMS012' == 1) {
                ParamSeamlist.push({ id: "FetchfromQMS012", value: $('#FetchfromQMS012') });
            }
            FillAutoCompleteAjax($('#txtFromGSSeam'), setSeamURL,$('#FromGSSeam'),false, ParamSeamlist,function(){
                // $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                //  $('#ToGSStage').val(''); $('#FromGSStage').val('');
                $('#txtToGSSeam').val($('#txtFromGSSeam').val());
                $('#ToGSSeam').val( $('#FromGSSeam').val());
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSSeam'), setSeamURL,$('#ToGSSeam'),false, ParamSeamlist, function(){
                //     $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                //   $('#ToGSStage').val(''); $('#FromGSStage').val('');
            }, null, false);
        }

        if ('@ViewBag.ShowFromToSeamNobyProject' == 1){
            var ParamSeamlist = [];
            ParamSeamlist.push({ id: "location", value: $('#GSLocation') });
            ParamSeamlist.push({ id: "fromProject", value: $('#FromGSProject') });
            ParamSeamlist.push({ id: "toProject", value: $('#ToGSProject') });
            if ('@ViewBag.ShowRPTFromToQualityProject' == 1) {
                  $("#IsQualityProject").val('true');
                  ParamSeamlist.push({ id: "IsQualityProject", value:  $("#IsQualityProject")});
            }
            FillAutoCompleteAjax($('#txtFromGSSeam'), "/IPI/Reports/GetSeams",$('#FromGSSeam'),false, ParamSeamlist,function(){
                $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                $('#ToGSStage').val(''); $('#FromGSStage').val('');
                $('#txtToGSSeam').val($('#txtFromGSSeam').val());
                $('#ToGSSeam').val( $('#FromGSSeam').val());
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSSeam'), "/IPI/Reports/GetSeams",$('#ToGSSeam'),false, ParamSeamlist, function(){
                $('#txtToGSStage').val('');$('#txtFromGSStage').val('');
                $('#ToGSStage').val(''); $('#FromGSStage').val('');
            }, null, false);
        }

        if ('@ViewBag.ShowMultiselectSeamNobyQualityProject' == 1){
            var ParamSeamlist = [];
            var setSeamURL ="/IPI/Reports/GetSeamsbyQualityproject";
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamSeamlist.push({ id: "location", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamSeamlist.push({ id: "location", value: $('#Location') });
            }
            if ('@ViewBag.ShowProject' == 1)
            {
                setSeamURL  ="/IPI/Reports/GetAllSeamsbyQualityproject";
                ParamSeamlist.push({ id: "selectedProject", value: $('#hdSelectQualityProject') });
            }
            if ('@ViewBag.ShowFromToQualityProject' == 1 || '@ViewBag.ShowFromToQualityProjectBuwise' == 1)
            {
                ParamSeamlist.push({ id: "fromProject", value: $('#FromQualityProject') });
                ParamSeamlist.push({ id: "toProject", value: $('#ToQualityProject') });
            }
            if ('@ViewBag.FetchfromQMS012' == 1) {
                ParamSeamlist.push({ id: "FetchfromQMS012", value: $('#FetchfromQMS012') });
            }
            LoadMultiSelect("/Utility/General/GetAllLocation", $('#ddlSeamNoByQP'), "", '');
        }

        if ('@ViewBag.ShowRPTFromToStages' == 1){
            var ParamStagelist = [];
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamStagelist.push({ id: "selectedlocation", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamStagelist.push({ id: "location", value: $('#GSLocation') });
            }
            ParamStagelist.push({ id: "fromProject", value: $('#FromGSProject') });
            ParamStagelist.push({ id: "toProject", value: $('#ToGSProject') });
            ParamStagelist.push({ id: "fromSeam", value: $('#FromGSSeam') });
            ParamStagelist.push({ id: "toSeam", value: $('#ToGSSeam') });
            if ('@ViewBag.ShowRPTFromToQualityProject' == 1) {
                  $("#IsQualityProject").val('true');
                  ParamStagelist.push({ id: "IsQualityProject", value:  $("#IsQualityProject")});
            }
            FillAutoCompleteAjax($('#txtFromGSStage'), "/IPI/Reports/GetStages",$('#FromGSStage'),false, ParamStagelist,function(){
                $('#txtToGSStage').val($('#txtFromGSStage').val());
                $('#ToGSStage').val( $('#FromGSStage').val());
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSStage'), "/IPI/Reports/GetStages",$('#ToGSStage'),false, ParamStagelist, null, null, false);
        }

        if ('@ViewBag.ShowFromToStagesByMultiselectSeamno' == 1){
            var ParamStagelist = [];
            ParamStagelist.push({ id: "project", value: $("#hdSelectQualityProject")});
            ParamStagelist.push({ id: "seamno", value:  $("#hdSeamNoSelected") });
            FillAutoCompleteAjax($('#txtFromGSStage'), "/IPI/Reports/GetStagesbySeamNo",$('#FromGSStage'),false, ParamStagelist,function(){
                $('#txtToGSStage').val($('#txtFromGSStage').val());
                $('#ToGSStage').val( $('#FromGSStage').val());
            }, null,false);

            FillAutoCompleteAjax($('#txtToGSStage'), "/IPI/Reports/GetStagesbySeamNo",$('#ToGSStage'),false, ParamStagelist, null, null, false);
        }

        if ('@ViewBag.ShowFromToAllStages' == 1){
            var ParamStagelist = [];
            if ('@ViewBag.ShowLocation' == 1)
            {
                ParamStagelist.push({ id: "location", value: $('#hdSelectddlLocation') });
            }
            else{
                ParamStagelist.push({ id: "location", value: $('#Location') });
            }
            ParamStagelist.push({ id: "stagetype", value: $('#hdStagetype') });
            if ('@ViewBag.FetchNDEStages' == 1) {
                ParamStagelist.push({ id: "FetchNDEStages", value: $('#FetchNDEStages')  });
            }

            FillAutoCompleteAjax($('#txtFromGSStage'), "/IPI/Reports/GetAllStagesbyStageType",$('#FromGSStage'),false, ParamStagelist,function(){
                $('#txtToGSStage').val($('#txtFromGSStage').val());
                $('#ToGSStage').val( $('#FromGSStage').val());
            }, null, false);

            FillAutoCompleteAjax($('#txtToGSStage'), "/IPI/Reports/GetAllStagesbyStageType",$('#ToGSStage'),false, ParamStagelist, null, null, false);
        }

        if('@ViewBag.WeldingProcess' == 1){
            var lstWeldingProcessList = @Html.Raw(Json.Encode(@ViewBag.WeldingProcessList));
            FillAutoComplete($('#txtWeldingProcess'), lstWeldingProcessList,$('#WeldingProcess'));
        }
        if('@ViewBag.Instrument' == 1){
            var lstInstrumentList = @Html.Raw(Json.Encode(@ViewBag.InstrumentList));
            LoadMultiSelectwithCheckboxusingArray(lstInstrumentList, $('#Instrument'), "--Select Instrument--");
            MultiselectCCss();
            //FillAutoComplete($('#txtInstrument'), lstInstrumentList,$('#Instrument'));
        }
        if ('@ViewBag.ShowSeamTypeMultiple' == 1) {
            $("#ddlSeamType").val("");
            LoadSelect2DropDownSeam("/IPI/Reports/GetSeamTypeListByQualityProject", $('#ddlSeamType'), "--Select Seam Type--", '');
            $('#ddlSeamType').change(function () {
                if ($(this).val() == "" || $(this).val() == undefined) {
                    $('#hdSelectSeamType').val("");
                }
                else {
                    $('#hdSelectSeamType').val($(this).val().join(','));
                }
            })
        }
       if ('@ViewBag.ShowSeamNo' == 1 && '@ViewBag.ShowSeamTypeMultiple' ==1) {
            $("#ddlSeamNo").val("");

            LoadMultiSelectwithCheckboxusingArray("", $('#ddlSeamNo'), "--Select Seam No--");
            MultiselectCCss();
        }
        if ('@ViewBag.ShowStageMultiple' == 1 && '@ViewBag.ShowSeamTypeMultiple' == 1) {
            $("#Stage").val("");

            LoadMultiSelectwithCheckboxusingArray("", $('#Stage'), "--Select Stage--");
            MultiselectCCss();
           // LoadSelect2DropDownStage("/IPI/Reports/GetStagesbySeamNo", $('#Stage'), "--Select Stage--", '');
        }

    });

    function LoadSelect2DropDownProject(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        param: condParam
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    var quality_projects = "";
    var quality_projects1 = "";

    function LoadSelect2DropDownSeam(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        quality_projects: quality_projects,
                        withseamtype:false
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    var seam_type = "";
    function LoadSelect2DropDownSeamWithSeamType(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        quality_projects: quality_projects,
                        seam_type: seam_type,
                        withseamtype: true
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    var seamno = "";
    function LoadSelect2DropDownStage(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        term: params.term,
                        project: quality_projects,
                        seamno: seamno
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }

    var location1 = "";
    var qid_applicable = "All";

    function LoadSelect2DropDownQID(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            //allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async: false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        location1: location1,
                        quality_projects: quality_projects,
                        QIDApplicableFor: qid_applicable
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    function getInspectionagency(qproject){
        $.ajax({
            url: WebsiteURL + "/IPI/Reports/GetInspectionAgency",
            type: "POST",
            delay: 250,
            async: false,
            data: {
                qproject:qproject
            },
            success: function (data) {
                if(data !="" && data !=null && data !=undefined)
                {
                    var dat =data.split('#');
                    $("#PrintTPI1").val("");
                    $("#PrintTPI2").val("");
                    $("#PrintTPI3").val("");
                    if(dat[0] != undefined && dat[0] != "" && dat[0] != null)
                    {
                        $("#PrintTPI1").val(dat[0]);
                    }
                    if(dat[1] != undefined && dat[1] != "" && dat[1] != null)
                    {
                        $("#PrintTPI2").val(dat[1]);
                    }
                    if(dat[2] != undefined && dat[2] != "" && dat[2] != null)
                    {
                        $("#PrintTPI3").val(dat[2]);
                    }
                }
            }
        });
    }

    function FillAutoCompleteIDText(element, url) {
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term,
                        quality_projects: $('#txtQualityProject').val(),
                        withseamtype: false

                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                    }
                });
            },
            autoFocus: false,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
            }
        });
    }


    function FillAutoCompleteAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value };
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }
    function LoadPreValueSelect21(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            type: "Post",
            data: param,
            async: false,
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "'>" + object.text + "</option>";
                });
                $(objControl).html(option);
                objControl.select2({
                    placeholder: caption
                });
            }
        })
    };


    function LoadPreValueSelect22(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            type: "Post",
            data: param,
            async: false,
            success: function (data) {
                var option = "";
                $.each(data, function (index, object) {
                    option += "<option value='" + object.id + "'>" + object.text + "</option>";
                });
                $(objControl).html(option);
                objControl.select2({
                    placeholder: caption
                });
            }
        })
    };
    function bindSeamno() {
        if ('@ViewBag.ShowSeamNo' == 1 && '@ViewBag.ShowSeamTypeMultiple' == 1) {
            $("#ddlSeamNo").html("");
            LoadMultiSelectwithCheckbox("/IPI/Reports/GetSeamListByQualityProject", $('#ddlSeamNo'), "--Select Seam No--", { search: "", quality_projects: quality_projects, seam_type: seam_type, withseamtype: true });
            MultiselectCCss();
        }
    }
     function bindSeamStage() {
        if ('@ViewBag.ShowStageMultiple' == 1 && '@ViewBag.ShowSeamTypeMultiple' == 1) {
            $("#Stage").html("");
            LoadMultiSelectwithCheckbox("/IPI/Reports/GetStagesbySeamNo", $('#Stage'), "--Select Stage--", { term: "", project: quality_projects, seamno: seamno });
            MultiselectCCss();
        }
    }


    $('#ddlLocation').on("change", function (e) {
        if($("#ddlLocation").val() !="" && $("#ddlLocation").val() !=null)
            location1 = $("#ddlLocation").val().join(',');
        $("#hdSelectddlLocation").val(location1);

        HighlightInValidControls();
    });


    $('#ddlBU').on("change", function (e) {
        if($("#ddlBU").val() !="" && $("#ddlBU").val() !=null)
            $("#hdSelectddlBU").val( $("#ddlBU").val().join(','));

        HighlightInValidControls();
    });

    $('#ddlQualityProject').on("change", function (e) {
        quality_projects = $("#ddlQualityProject").val().join(',');
        $("#hdSelectQualityProject").val(quality_projects);

        HighlightInValidControls();
    });

    $('#ddlShop').on("change", function (e) {
        shop = $("#ddlShop").val().join(',');
        $("#hdSelectddlShop").val(shop);

        HighlightInValidControls();
    });

    $('#txtQualityProject').on("change", function (e) {
        quality_projects = $(this).val();
    });
    $('#QIDApplicableFor').on("change", function (e) {
        qid_applicable = $(this).val();
    });
    $('#ddlSeamType').on("change", function (e) {
        seam_type = $("#ddlSeamType").val().join(',');
        $("#hdSelectSeamType").val(seam_type);

        HighlightInValidControls();
    });
    $('#ddlSeamNo').on("change", function (e) {
        seamno = $("#ddlSeamNo").val().join(',');
        $("#hdSeamNoSelected").val(seamno);

        HighlightInValidControls();
    });
    if('@ViewBag.ReportType' == '@clsImplementationEnum.IPIReports.ICL_DPP.GetStringValue()')
    {
        $('#SeamApprovalStatus').on("change", function (e) {
            if($(this).val() == "Pending")
            {
                $(".dvTPRev").hide();
            }
            else{ $(".dvTPRev").show();}
        });
    }
</script>



<script>
    $(document).ready(function () {
        $('#ddlLocation1').on("change", function (e) {
            if ($("#ddlLocation1").val() != "" && $("#ddlLocation1").val() != null)
                location1 = $("#ddlLocation1").val().join(',');
            $("#hdSelectddlLocation1").val(location1);
          //  HighlightInValidControls();
        });


        $('#ddlBU1').on("change", function (e) {
            if ($("#ddlBU1").val() != "" && $("#ddlBU1").val() != null)
                $("#hdSelectddlBU1").val($("#ddlBU1").val().join(','));
          //  HighlightInValidControls();
        });

        $('#ddlQualityProject1').on("change", function (e) {
            var quality_projects1 = $("#ddlQualityProject1").val().join(',');
            if (quality_projects1 != "" && quality_projects1 != null) {
                $("#hdSelectQualityProject1").val(quality_projects1);
            }

            if ($("#hdSelectQualityProject1").val() != "" && $("#hdSelectQualityProject1").val() != null && $("#hdSelectQualityProject1").val()!="undefined") {
                LoadPreValueSelect21("/IPI/Reports/GetSeamListByQualityProject1", $('#ddlSeams'), "--Select Seam--", { quality_projects: $("#hdSelectQualityProject1").val() });

            }
            if ($("#hdSelectQualityProject1").val() != "" && $("#hdSelectQualityProject1").val() != null && $("#hdSelectQualityProject1").val() != "undefined"
                && $("#hdSelecteddlSeams").val() != "" && $("#hdSelecteddlSeams").val() != null && $("#hdSelecteddlSeams").val() != "undefined") {
                LoadPreValueSelect22("/IPI/Reports/GetStagesbySeamNo1", $('#ddlStage'), "--Select Stage--", { project: $("#hdSelectQualityProject1").val(), seamno: $("#hdSelecteddlSeams").val() });
            }

        });

        $('#ddlSeams').on("change", function (e) {
            var ddlSeams1 = $("#ddlSeams").val().join(',');
            $("#hdSelecteddlSeams").val(ddlSeams1);
            if ($("#hdSelectQualityProject1").val() != "" && $("#hdSelectQualityProject1").val() != null && $("#hdSelectQualityProject1").val() != "undefined"
                && $("#hdSelecteddlSeams").val() != "" && $("#hdSelecteddlSeams").val() != null && $("#hdSelecteddlSeams").val() != "undefined") {
                LoadPreValueSelect22("/IPI/Reports/GetStagesbySeamNo1", $('#ddlStage'), "--Select Stage--", { project: $("#hdSelectQualityProject1").val(), seamno: $("#hdSelecteddlSeams").val() });
            }
            });

        $('#ddlStage').on("change", function (e) {
            var ddlStage1 = $("#ddlStage").val().join(',');
            $("#hdSelectddlddlStage").val(ddlStage1);
        });
    });
</script>