﻿@model IEMQSImplementation.PRL060
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body dvDisable">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>

                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.HiddenFor(m => m.HeaderId)
                                <table class="FormTable tblNotes">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> PROJECT DESCREPTION</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> SEAM NO.</td>
                                        <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQPT.NO.</td>
                                        <td>@Html.DisplayFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 0px 0px !important;">@Html.DisplayFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                            &
                                            <span style="float:right;padding: 0px 0px !important;"> @Html.DisplayFor(m => m.DrawingRevisionNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                        </td>
                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@ViewBag.ManufacturingCode</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                        <td class="subtitle">OFFER DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.OfferDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.HiddenFor(m => m.HeaderId)
                                <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="portlet box green inlineparentdiv" id="divLine1">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span style="float:left; margin-top: 7px;">
                                                <strong>NUB DIMENSION BEFORE OVERLAY</strong>
                                            </span>
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                            <div class="btn-group">
                                                @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="FormTable">
                                            <tr>
                                                <td class="title" colspan="2">ELEVATION OF NUB FROM R.F LINE</td>
                                                <td class="title" colspan="2">NUB WIDTH </td>
                                                <td class="title" colspan="2">NUB HEIGHT</td>
                                                <td class="title" colspan="2">NUB I.D</td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">
                                                    REQ. @Html.TextBoxFor(model => model.ElevationReq, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:- @Html.TextBoxFor(model => model.ElevationTol, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    REQ. @Html.TextBoxFor(model => model.NubWidthReq, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:- @Html.TextBoxFor(model => model.NubWidthTol, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    REQ. @Html.TextBoxFor(model => model.NubHeightReq, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:- @Html.TextBoxFor(model => model.NubHeightTol, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    REQ. @Html.TextBoxFor(model => model.NubIDReq, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                                <td class="subtitle">
                                                    TOL:- @Html.TextBoxFor(model => model.NubIDTol, new { @class = "form-control numeric-only", @maxlength = "10", @role = "QC" })
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="col-md-12" style="height: 10px"></div>
                                        <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">GridId</th>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">ORIENTATION</th>
                                                    <th class="all">ELEVATION OF <br />NUB FROM R.F <br />LINE</th>
                                                    <th class="all">NUB WIDTH</th>
                                                    <th class="all">NUB HEIGHT</th>
                                                    <th class="all">NUB I.D </th>
                                                    <th class="all">A1</th>
                                                    <th class="all">A2</th>
                                                    <th class="all">B1</th>
                                                    <th class="all">B2</th>
                                                    <th class="all">C1</th>
                                                    <th class="all">C2</th>
                                                    <th class="all">ACTION</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td>
                                            <img src="~/Images/Protocol013_img1.png" style="width:98%;height:400px;" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-12" style="height: 40px"></div>
                            <div class="col-md-12">
                                <table class="FormTable tblNotes noborder" style="border:2px solid #EAEAEA;">
                                    <tr>
                                        <td class="title bold">Remarks:-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            1) ALL DIMENSIONS ARE IN MM, UNLESS SPECIFIED.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2) TEMPLATE DIMENSION CHECKED :
                                            @Html.TextBoxFor(model => model.Note2, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3) VISUAL CHECKED, RESULT FOUND SATISFACTORY :
                                            @Html.TextBoxFor(model => model.Note3, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4) OVALITY READING AT NUB INSIDE DIAMETER ARE WITHIN TOLERANCE :
                                            @Html.TextBoxFor(model => model.Note4, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5) CALIBRATED TAPE NO. :
                                            @Html.TextBoxFor(model => model.Note5, new { @class = "form-control inlinetextbox", @maxlength = "50", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span style="display: inline-block;vertical-align: middle;margin-top: -40px;margin-left: 89px;">
                                                CAL.DATE :
                                            </span>
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" style="display: inline-block;">
                                                @Html.TextBoxFor(m => m.Note5_1, "{0:dd/MM/yyyy}", new { @class = "form-control  inlinetextbox", @readonly = "readonly", style = "width:200px !important;", @role = "PROD" })
                                                <span class="input-group-btn" style="float: left;top: -5px;">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6) R.F LINE MARKED ON TEMPLATE IS MATCHING WITH R.F LINE MARKED ON SHELL :
                                            @Html.TextBoxFor(model => model.Note6, new { @class = "form-control inlinetextbox", @maxlength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    @if (Convert.ToString(ViewBag.isEditable).ToLower() == "true")
                                    {
                                        <input type="button" class="btn save" id="btnSave" value="Save" />
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "Linkage";
    var isEdit = '@ViewBag.isEditable';

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole)
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])

        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        FillProtocolAutoComplete($('#Note2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note4'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note6'), lstYesNo, null, false);

        SetEditable(isEdit);
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }

    $("#btnSave").click(function () {
         @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
         {
             <text>$('[role="PROD"]').prop("required", true);</text>
         }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
         {
             <text>$('[role="QC"]').prop("required", true);</text>
         }
        if ($("#frmProtocolHeader").valid()) {
            DisbaleControls(userRole, false);
            var frmHeaderValues = $("#frmProtocolHeader").serializeArray();
            DisbaleControls(userRole, true);
            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                datas = {};
                $.each(frmHeaderValues, function (key, input) {
                    datas[input.name] = input.value;
                });
                var listPRL061 = GetLineDataForSave();
                datas["PRL061"] = listPRL061;
                $.ajax({
                    url: ControllerURL + "SaveProtocolHeaderData" +Linkage,
                    type: "POST",
                    data: JSON.stringify(datas),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) { }
                });
            }
        }
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = '/IPI/Protocols';
    });

    $("#btnPrint").click(function () {
        PrintReport("/IPI/Protocol/PROTOCOL013", $('#HeaderId').val());
    });

    function GetLineDataForSave() {
        var listPRO060 = []
        $('#tblProtocolLines1 tbody>tr:not(:first-child)').each(function () {
            $this = $(this);
            var HeaderId = $this.find("td").eq(0).html();
            var LineId = $this.find("td").eq(1).html();
            var Orientation = $this.find("[colname=Orientation]").val();
            var Elevation = $this.find("[colname=Elevation]").val();
            var NubWidth = $this.find("[colname=NubWidth]").val();
            var NubHeight = $this.find("[colname=NubHeight]").val();
            var NubID = $this.find("[colname=NubID]").val();
            var A1 = $this.find("[colname=A1]").val();
            var A2 = $this.find("[colname=A2]").val();
            var B1 = $this.find("[colname=B1]").val();
            var B2 = $this.find("[colname=B2]").val();
            var C1 = $this.find("[colname=C1]").val();
            var C2 = $this.find("[colname=C2]").val();
            listPRO060.push(new PRL061(HeaderId, LineId, Orientation, Elevation, NubWidth, NubID, A1, A2, B1, B2, C1, C2));
        })
        //console.log(listPRO060);
        return listPRO060;
    }

    function PRL061(HeaderId, LineId, Orientation, Elevation, NubWidth, NubHeight, NubID, A1, A2, B1, B2, C1, C2) {
        this.HeaderId = HeaderId;
        this.LineId = LineId;
        this.Orientation = Orientation;
        this.Elevation = Elevation;
        this.NubWidth = NubWidth;
        this.NubHeight = NubHeight;
        this.NubID = NubID;
        this.A1 = A1;
        this.A2 = A2;
        this.B1 = B1;
        this.B2 = B2;
        this.C1 = C1;
        this.C2 = C2;
    }

    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center width150px",
                    "name": "Orientation",
                },
                {
                    "sClass": "center width150px",
                    "name": "Elevation",
                },
                {
                    "sClass": "center width150px",
                    "name": "NubWidth",
                },
                {
                    "sClass": "center width150px",
                    "name": "NubHeight",
                },
                {
                    "sClass": "center width150px",
                    "name": "NubID",
                },
                {
                    "sClass": "center width150px",
                    "name": "A1",
                },
                {
                    "sClass": "center width150px",
                    "name": "A2",
                },
                {
                    "sClass": "center width150px",
                    "name": "B1",
                },
                {
                    "sClass": "center width150px",
                    "name": "B2",
                },
                {
                    "sClass": "center",
                    "name": "C1",
                },
                {
                    "sClass": "center",
                    "name": "C2",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

</script>
