﻿@model IEMQS.DESCore.ProjectModel
@using IEMQS.Areas.DES.Models
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}


<div class="m-portlet ">

    <div class="m-portlet__body">
        <!--<h4 class="m-portlet__head-text">
                    S040345A
                </h4>-->
        <ul class="nav nav-tabs  theme-nav" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_3_1" role="tab">Properties</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_tabs_3_2" role="tab">Access</a>
            </li>
            <!-- <li class="nav-item m-tabs__item">
                 <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_3_3" role="tab">Product Items</a>
             </li>-->
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_3_4" role="tab">Lifecycle</a>
            </li>
        </ul>
        <div class="tab-content p-0">
            <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">
                <ul class="list-unstyled details-list d-flex flex-wrap">
                    <li>
                        <div class="col-6 bg-secondary">Project No.</div>
                        <div class="col-6">
                            <h6 id="ModelProject">@Model.Project</h6>
                        </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Contract Manager</div>
                        <div class="col-6">@Model.Owner </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Contract No.</div>
                        <div class="col-6" id="ModelContract" hidden>@Model.Contract</div>
                        <div class="col-6">@Model.Contract</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Customer Name</div>
                        <div class="col-6">@Model.Customer </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Project Description</div>
                        <div class="col-6">@Model.ProjectDescription</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Customer Order No.</div>
                        <div class="col-6">@Model.CustomerPONumber</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Contract Description</div>
                        <div class="col-6">@Model.ContractName</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Customer Order Date</div>
                        <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.PODate)</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">BU</div>
                        <div class="col-6" id="ModelBUCode" hidden>@Model.BUCode</div>
                        <div class="col-6">@Model.BU</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Consultant</div>
                        <div class="col-6">@Model.Consultant</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">PBU</div>
                        <div class="col-6">@Model.PBU</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Product End User</div>
                        <div class="col-6">@Model.ProductEndUser</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">LOI/FOA/PO No.</div>
                        <div class="col-6">@Model.CustomerLOINumber </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Licensor</div>
                        <div class="col-6">@Model.Licensor</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">LOI/FOA/PO Date</div>
                        <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.LOIDate) </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Design Code </div>
                        <div class="col-6">@Model.DesignCode </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Product Type</div>
                        <div class="col-6">@Model.ProductType </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Edition</div>
                        <div class="col-6">@Model.Edition </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Zero Date</div>
                        <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.ZeroDate)</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Regulatory Requirements </div>
                        <div class="col-6">@Model.RegulatoryRequirement</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Contractual Delivery Date</div>
                        <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.ContractualDeliveryDate)</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Code Stamp </div>
                        <div class="col-6">@Model.CodeStamp</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Delivery Term</div>
                        <div class="col-6">@Model.DeliveryTerms</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Equipment Diameter </div>
                        <div class="col-6 p-0">
                            <div class="input-group m-input-group input-group-list">
                                <div class="form-control m-input">@Model.EquipmentDiameter</div>
                                <div class="input-group-append"><span class="input-group-text" id="basic-addon1">mm</span></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Warranty Terms</div>
                        <div class="col-6">@Model.WarrantyTerms</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">TL to TL </div>
                        <div class="col-6 p-0">
                            <div class="input-group m-input-group input-group-list">
                                @*@Model.TLtoTL*@
                                <div class="form-control m-input">@Model.TLtoTL</div>
                                <div class="input-group-append"><span class="input-group-text" id="basic-addon1">mm</span></div>
                            </div>
                        </div>

                        @*<div class="col-6 bg-secondary">TL to TL(mm) </div>
            <div class="col-6">@Model.TLtoTL</div>*@
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Warranty Expiry Date</div>
                        <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.WarrantyExpiryDate) </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Major Material </div>
                        <div class="col-6">@Model.MajorMaterial</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Category (Order Category)</div>
                        <div class="col-6">@Model.OrderCategory</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Fabricated Weight </div>
                        <div class="col-6 p-0">
                            <div class="input-group m-input-group input-group-list">
                                <div class="form-control m-input">@Model.FabricatedWeight</div>
                                <div class="input-group-append"><span class="input-group-text" id="basic-addon1" style="width: 56px;">kg</span></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Enquiry Name</div>
                        <div class="col-6">@Model.EnquiryName</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Status</div>
                        @{
                            string varstatusClass = string.Empty;
                            if (Model.Status == IEMQS.DESCore.ObjectStatus.Completed.ToString())
                            {
                                varstatusClass = "m-badge--success";
                            }
                            else if (Model.Status == IEMQS.DESCore.ObjectStatus.InProcess.ToString())
                            {
                                varstatusClass = "m-badge--info";
                            }
                            else if (Model.Status == IEMQS.DESCore.ObjectStatus.Created.ToString())
                            {
                                varstatusClass = "m-badge--primary";
                            }
                        }
                        <div class="col-6"><span class="m-badge m-badge--wide @varstatusClass">@Model.Status</span></div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Is Site work require</div>
                        <div class="col-6">
                            @(!string.IsNullOrEmpty(Model.SiteWorkRequire) ? "Yes" : "No")
                        </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Created Date</div>
                        <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.CreatedOn)</div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">JEP No</div>
                        <div class="col-6">@Model.JEPNumber </div>
                    </li>
                    <li>
                        <div class="col-6 bg-secondary">Location</div>
                        <div class="col-6">@Model.Location </div>
                    </li>
                    @*
        <li>
            <div class="col-6 bg-secondary">PIM Date</div>
            <div class="col-6">@string.Format("{0:dd/MM/yyyy}", Model.PIMDate) </div>
        </li>*@
                    @*
        <li>
            <div class="col-6 bg-secondary">Delivery Condition</div>
            <div class="col-6">@Model.DeliveryCondition</div>
        </li>*@
                </ul>
                @{
                    if (SessionMgtModel.ProjectFolderList.IsInprocess)
                    {
                        int? count = IEMQS.DESServices.CommonService.objClsLoginInfo.ListRoles.Where(x => x == IEMQSImplementation.clsImplementationEnum.UserRoleName.ENGG1.ToString() || x == IEMQSImplementation.clsImplementationEnum.UserRoleName.ENGG2.ToString() || x == IEMQSImplementation.clsImplementationEnum.UserRoleName.ENGG3.ToString()).Count();
                        if (count > 0)
                        {
                            <div class="row">
                                <div class="col-12 text-right">
                                    <input type="button" class="btn btn-primary" value="Update Details" id="btnUpdate" onclick="funUpdateDetailsModal()" />
                                    <a href="#" id="btnProjectReport" class="btn btn-sm btn-success">Report</a>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="tab-pane" id="m_tabs_3_2" role="tabpanel">
                <table class="table table-bordered" id="tblProjectAccessList"></table>
            </div>
            <!-- <div class="tab-pane" id="m_tabs_3_3" role="tabpanel">
                 <table class="table table-bordered" id="m_table_2">
                     <thead>
                         <tr>

                             <th>Name</th>
                             <th>Type</th>
                             <th>Revision</th>
                             <th>Description</th>
                             <th>Required Quantity</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>

                             <td><a href="">SparesArmco01</a></td>
                             <td>Other</td>
                             <td>R00</td>
                             <td>SparesArmco01</td>
                             <td>1</td>
                         </tr>

                     </tbody>
                 </table>
             </div>-->
            <div class="tab-pane" id="m_tabs_3_4" role="tabpanel">
                <div class="row bs-wizard justify-content-center">
                    @{
                        string anchorStyle = "style = 'background-color: #34bfa366'";
                        string divStyle = "style = 'background-color: #34bfa3'";
                    }

                    <div class="col-sm bs-wizard-step">
                        <div class="text-center bs-wizard-stepnum">Created</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="bs-wizard-dot" @(Model.Status == IEMQS.DESCore.ObjectStatus.Created.ToString() ? Html.Raw(anchorStyle) : null)><span class="bs-wizard-dot-small" @(Model.Status == IEMQS.DESCore.ObjectStatus.Created.ToString() ? Html.Raw(divStyle) : null)></span></a>
                        @{
                            if (!string.IsNullOrEmpty(Model.CreatedBy))
                            {
                                <div class="bs-wizard-info text-center">
                                    Created By <br /> <span class="m--font-bold">
                                        @Model.CreatedBy <text>on</text><br />
                                        @string.Format("{0:dd/MM/yyyy}", Model.CreatedOn)
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="bs-wizard-info text-center">
                                    Created on <br /> <span class="m--font-bold">
                                        @string.Format("{0:dd/MM/yyyy}", Model.CreatedOn)
                                    </span>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-sm bs-wizard-step ">
                        <!-- complete -->
                        <div class="text-center bs-wizard-stepnum">Inprocess</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="bs-wizard-dot" @(Model.Status == IEMQS.DESCore.ObjectStatus.InProcess.ToString() ? Html.Raw(anchorStyle) : null)><span class="bs-wizard-dot-small" @(Model.Status == IEMQS.DESCore.ObjectStatus.InProcess.ToString() ? Html.Raw(divStyle) : null)></span></a>
                        @{
                            if (!string.IsNullOrEmpty(Model.InProcessBy))
                            {
                                <div class="bs-wizard-info text-center">
                                    Approve By <br /> <span class="m--font-bold">
                                        @Model.InProcessBy <text>on</text><br />
                                        @string.Format("{0:dd/MM/yyyy}", Model.InProcessOn)
                                    </span>
                                </div>
                            }
                        }
                        @*<div class="bs-wizard-info text-center">Approve By <br /> @Model.EditedBy <text>On</text> @Model.EditedOn <br /> </div>*@
                    </div>

                    <div class="col-sm bs-wizard-step">
                        <!-- active -->
                        <div class="text-center bs-wizard-stepnum">Complete</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="bs-wizard-dot" @(Model.Status == IEMQS.DESCore.ObjectStatus.Completed.ToString() ? Html.Raw(anchorStyle) : null)><span class="bs-wizard-dot-small" @(Model.Status == IEMQS.DESCore.ObjectStatus.Completed.ToString() ? Html.Raw(divStyle) : null)></span></a>
                        @{
                            if (!string.IsNullOrEmpty(Model.CompletedBy))
                            {
                                <div class="bs-wizard-info text-center">
                                    Complete By <br /> <span class="m--font-bold">
                                        @Model.CompletedBy <text>on</text><br />
                                        @string.Format("{0:dd/MM/yyyy}", Model.CompletedOn)
                                    </span>
                                </div>
                            }
                        }
                        @*<div class="bs-wizard-info text-center"> Complete By <br /> @Model.CompletedBy <text>On</text> @Model.CompletedOn<br /> </div>*@
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade show" id="m_select2_modal1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none; padding-right: 17px;">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update Project Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="myModalContent1">
            </div>
        </div>
    </div>
</div>
<script src="~/DESAssets/js/Project_Details.js"></script>
<script src="~/Scripts/Main.js"></script>
<script>
    $("a[href='#m_tabs_3_2']").click(function () {
        tblProjectAccessList.ajax.reload();
    });

    $('#btnProjectReport').click(function () {
    mApp.blockPage();
        var dat = [];
        dat.push({ Param: "Project", Value: '@Model.Project' });
        ShowReport(dat, "/DES/Project Details", false, true,'pdf','@Model.Project'+"_Project Details");
    mApp.unblockPage();
    });
</script>
