﻿@model IEMQS.DESCore.ProjectModel
@{
    Layout = null;
}

<div class="m-portlet__body">
    <div class="m-portlet m-portlet--mobile ">
        @using (Ajax.BeginForm("Edit", "Project", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess" }, new { @class = "m-form" }))
        {
            <div class="m-portlet__body">
                <div class="theme-form">
                    <div class="row m-0">
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Project No. </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Project, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Contract Manager</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Owner, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Contract No.</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Contract, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Customer Name</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Customer, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Project Description </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ProjectDescription, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Customer Order No.</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.CustomerPONumber, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Contract Description</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ContractName, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Customer Order Date</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.PODate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">BU </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.BU, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                    @Html.HiddenFor(x => x.BUCode)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Consultant <span class="m--font-danger">*</span></label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Consultant, new { @class = "form-control m-input  m-input--square", @maxlength = 50 })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.Consultant, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">PBU </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.PBU, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Product End User<span class="m--font-danger">*</span></label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ProductEndUser, new { @class = "form-control m-input  m-input--square", @maxlength = 50 })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.ProductEndUser, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">LOI/FOA/PO No.</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.CustomerLOINumber, new { @class = "form-control m-input  m-input--square", @maxlength = 30 })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Licensor </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Licensor, new { @class = "form-control m-input  m-input--square", @maxlength = 50 })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">LOI/FOA/PO Date</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.LOIDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Design Code </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.DesignCode, new { @class = "form-control m-input m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Product Type </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ProductType, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Edition </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Edition, new { @class = "form-control m-input  m-input--square", @maxlength = 100 })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Zero Date</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ZeroDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">	Regulatory Requirements </label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.RegulatoryRequirement, new { @class = "form-control m-input  m-input--square", @maxlength = 50 })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Contractual Delivery Date</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.ContractualDeliveryDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Code Stamp </label>
                                <div class="col-6 pl-0">
                                    @Html.DropDownListFor(m => m.CodeStamp, ViewBag.CodeStamplist as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Delivery Term</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.DeliveryTerms, new { @class = "form-control m-input  m-input--square", @maxlength = 150, @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">	Equipment Diameter </label>
                                <div class="col-6 pl-0">
                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                        @Html.TextBoxFor(model => model.EquipmentDiameter, new { @class = "form-control m-input  m-input--square allownumericwithdecimal", @maxlength = 50 })
                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1">mm</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Warranty Terms</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.WarrantyTerms, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">TL to TL <span class="m--font-danger">*</span></label>
                                <div class="col-6 pl-0">
                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                        @Html.TextBoxFor(model => model.TLtoTL, new { @class = "form-control m-input  m-input--square allownumericwithdecimal", @maxlength = 200 })
                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1">mm</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.TLtoTL, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Warranty Expiry Date</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.WarrantyExpiryDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">	Major Material <span class="m--font-danger">*</span></label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.MajorMaterial, new { @class = "form-control m-input  m-input--square", @maxlength = 100 })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.MajorMaterial, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Category (Order Category)</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.OrderCategory, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Fabricated Weight</label>
                                <div class="col-6 pl-0">
                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                        @Html.TextBoxFor(model => model.FabricatedWeight, new { @class = "form-control m-input  m-input--square onlyNumeric", @maxlength = 50 })
                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1" style="width: 56px;">kg</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Enquiry Name</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.EnquiryName, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Status</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Status, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Is Site work require</label>
                                <div class="col-6 pl-0">
                                    @{
                                        if (!string.IsNullOrEmpty(Model.SiteWorkRequire))
                                        {
                                            @Html.TextBoxFor(model => model.SiteWorkRequire, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = "Yes" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.SiteWorkRequire, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @Value = "No" })
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Created Date</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.CreatedOn, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">JEP No.</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.JEPNumber, new { @class = "form-control m-input  m-input--square", @maxlength = 100, @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Location</label>
                                <div class="col-6 pl-0">
                                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control m-input  m-input--square", @maxlength = 100, @readonly = "readonly" })
                                </div>
                            </div>
                        </div>






                        @*<div class="col-md-6">
            <div class="form-group m-form__group row">
                <label class="col-6 col-form-label bg-secondary">Main Project </label>
                <div class="col-6 pl-0">
                    @Html.TextBoxFor(model => model.MainProject, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                </div>
            </div>
        </div>*@
                        @Html.HiddenFor(x => x.MainProject)
                        @Html.HiddenFor(x => x.PIMDate)
                        @Html.HiddenFor(x => x.DeliveryCondition)
                        @*<div class="col-md-6">
            <div class="form-group m-form__group row">
                <label class="col-6 col-form-label bg-secondary">PIM Date</label>
                <div class="col-6 pl-0">
                    @Html.TextBoxFor(model => model.PIMDate, "{0:dd/MM/yyyy}", new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                </div>
            </div>
        </div>*@
                        @*<div class="col-md-6">
            <div class="form-group m-form__group row">
                <label class="col-6 col-form-label bg-secondary">Delivery Condition</label>
                <div class="col-6 pl-0">
                    @Html.TextBoxFor(model => model.DeliveryCondition, new { @class = "form-control m-input  m-input--square", @maxlength = 150, @readonly = "readonly" })
                </div>
            </div>
        </div>*@
                        <div class="col-md-6">
                            <div class="form-group m-form__group row">
                                <label class="col-6 col-form-label bg-secondary">Project Manager</label>
                                <div class="col-6 pl-0">
                                    @Html.DropDownListFor(model => model.ProjectPMGPsNo, ViewBag.ProjectPMGList as SelectList, "--Select--", new { @class = "form-control m-input  m-input--square" })
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-6">@Html.ValidationMessageFor(x => x.ProjectPMGPsNo, "", new { @class = "text-danger" })</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <input type="submit" class="btn btn-success" value="Update" />
                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        jQuery.validator.methods["date"] = function (value, element) { return true; }
        $("#ProjectPMGPsNo").select2();
        @*$("#DesignCode").val('@ViewBag.DesignCodeDesc');*@
    });

    funSuccess = function (data) {
        $("#m_select2_modal1").modal("hide"); //close the popup after success
        if (data.Status) {
            setTimeout(function () {// wait for 5 secs(2)
                location.reload(); // then reload the page.(3)
            }, 1000);
            toastr.success(data.Msg, "Success");
        } else {
            toastr.error(data.Msg, "Error");
        }
    }
</script>