﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/datetimepicker/css")

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/main.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .multiselect {
        /*width: 355px;*/
        text-align: left;
    }

    .multiselect-container {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        width: auto;
    }

    .checkbox, .form-horizontal .checkbox {
        padding: 0px 31px;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                @Html.Raw((String)ViewBag.Title)
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row" style="min-height:500px">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <button class="btn green form-control" type="button" id="btnAnnexure_II" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Annexure_II.GetStringValue()" popuptitle="Annexure II">Annexure II</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn blue form-control" type="button" id="btnSeam_Status" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Seam_Status.GetStringValue()" popuptitle="Seam Status">Seam Status</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn purple form-control" type="button" id="btnMT_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.MT_Report.GetStringValue()" popuptitle="MT Report">MT Report</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn red form-control" type="button" id="btnPT_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.PT_Report.GetStringValue()" popuptitle="PT Report">PT Report</button>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <button class="btn yellow form-control" type="button" id="btnDPP_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.NDE_DPP.GetStringValue()" popuptitle="DPP Report">NDE DPP</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn green form-control" type="button" id="btnRequestDetails_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Request_Details.GetStringValue()" popuptitle="Request Details Report">NDE Request Details</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn purple form-control" type="button" id="btnDaily_Attended_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Daily_Attended_Report.GetStringValue()" popuptitle="Daily Attended Report">Daily Attended Report</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn blue form-control" type="button" id="btnRepair_Data" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Repair_Data.GetStringValue()" popuptitle="Repair Data">Repair Data</button>
                            </div>
                        </div>
                    </div>
                    <br /><br /><br />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <button class="btn green form-control" type="button" id="btnReshoot_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Reshoot_Report.GetStringValue()" popuptitle="Reshoot/Rescan Report">Reshoot/Rescan Report</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn red form-control" type="button" id="btnTPIWiseSummary_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.TPIWiseSummary_Report.GetStringValue()" popuptitle="TPI Wise Summary Report">TPI Wise Summary Report</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn red form-control" type="button" id="btnTPIWiseSummary_Report" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Log_For_PT_MT.GetStringValue()" popuptitle="Log For PT MT">Log For PT MT</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn green form-control" type="button" id="btnAnnexure_II_TPI" name="btnNDEPrintReport" reporttype="@clsImplementationEnum.IPI_NDEReports.Annexure_II_TPI.GetStringValue()" popuptitle="Annexure II TPI">Annexure II TPI</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var stagetype = "";
    $(document).ready(function () {

        $('button[name="btnNDEPrintReport"]').click(function () {
            PrintNDEReport($(this).attr('reporttype'), $(this).attr('popuptitle'));
        });

    });

    function LoadControl(element, elmPlaceholder, isDisable) {
        element.multiselect({
            placeholder: elmPlaceholder,
            search: true,
            //selectAll: true,
            includeSelectAllOption: true
        });
        if (isDisable) {
            if (element.has('option').length >= 0) {
                element.multiselect("disable");
            }
            //  $(".multiselect ").attr('disabled', true);
        }
    }


    function validateMultiselect() {
        $(".multiselect").each(function () {
            if ($(this).attr("title") == "None selected") {
                $(this).css("border-color", "red");
            }
            else {
                $(this).css("border-color", "");
            }
        });
    }

    function PrintNDEReport(reporttype, popuptitle) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/NDEReport/LoadNDEReportInputFilterPartial",
            datatype: 'html',
            async: false,
            data: { reporttype: reporttype },
            success: function (data) {
                bootbox.dialog({
                    title: popuptitle,
                    message: data,
                    size: "medium",
                    buttons: {
                        Print: {
                            Label: "Print",
                            className: 'btn green',
                            callback: function () {
                                validateMultiselect();
                                if ($("#frmPrintNDEReport").valid()) {
                                    var url = "";
                                    var dat = [];

                                    var lstlocation = "";
                                    if ($("#ddlLocation") != null && $("#ddlLocation").val() != undefined && $("#ddlLocation").val() != '') {
                                        lstlocation = $("#ddlLocation").val().join(",");
                                    }
                                    var lstWeldingProcess = ""
                                    if ($("#ddlWeldProcess") != null && $("#ddlWeldProcess").val() != undefined && $("#ddlWeldProcess").val() != '') {
                                        lstWeldingProcess = $("#ddlWeldProcess").val().join(",");
                                    }
                                    var lstStages = "";
                                    if ($("#ddlStage") != null && $("#ddlStage").val() != undefined && $("#ddlStage").val() != '' ) {
                                        lstStages = $("#ddlStage").val().join(",");
                                    }

                                    var DateFrom = "", DateTo = "";
                                    if ($("#DateFrom").val() != null && $("#DateFrom").val() != "") {
                                        DateFrom = $("#DateFrom").val().split('/')[2] + "-" + $("#DateFrom").val().split('/')[1] + "-" + $("#DateFrom").val().split('/')[0];
                                    }
                                    if ($("#DateTo").val() != null && $("#DateTo").val() != "") {
                                        DateTo = $("#DateTo").val().split('/')[2] + "-" + $("#DateTo").val().split('/')[1] + "-" + $("#DateTo").val().split('/')[0];
                                    }

                                    if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Annexure_II.GetStringValue()') {

                                        url = "/NDE/ANNEXURE II";
                                        dat.push({ Param: "FromProject", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "ToProject", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                        dat.push({ Param: "Location", Value: lstlocation });
                                        dat.push({ Param: "Stage", Value: lstStages });
                                        dat.push({ Param: "InspectorResultFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectorResultTo", Value: DateTo });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Seam_Status.GetStringValue()') {
                                        url = "/NDE/SEAM STATUS";
                                        dat.push({ Param: "FromProject", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "ToProject", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                        dat.push({ Param: "Location", Value: lstlocation });
                                        dat.push({ Param: "Stage", Value: lstStages });
                                        dat.push({ Param: "InspectorResultFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectorResultTo", Value: DateTo });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.PT_Report.GetStringValue()') {
                                        url = "/NDE/PT_NDE_Report";
                                        dat.push({ Param: "projectFrom", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "projectTo", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                                        dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                                        dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                                        dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                                        dat.push({ Param: "StageType", Value: $('#StageTypeName').val() });
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                        dat.push({ Param: "InspectionFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectionTo", Value: DateTo });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.MT_Report.GetStringValue()') {
                                        url = "/NDE/MT_NDE_Report";
                                        dat.push({ Param: "projectFrom", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "projectTo", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageCodeFrom", Value: $("#fromStage").val() });
                                        dat.push({ Param: "StageCodeTo", Value: $("#toStage").val() });
                                        dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                                        dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                                        dat.push({ Param: "StageType", Value: $('#StageTypeName').val() });
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                        dat.push({ Param: "InspectionFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectionTo", Value: DateTo });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.NDE_DPP.GetStringValue()') {
                                        if ($("#DPPReportType").val() == "General") {
                                            url = "/NDE/NDE_PROCESS_PARAMETER_DPP_REPORT";
                                        } else if ($("#DPPReportType").val() == "Specific") {
                                            url = "/NDE/NDE_PROCESS_PARAMETER_DPP_REPORT_SPECIFIC";
                                        }
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                        dat.push({ Param: "StageType", Value: $('#StageType').val() });
                                        dat.push({ Param: "InspectionDate_f", Value: DateFrom });
                                        dat.push({ Param: "InspectionDate_t", Value: DateTo });
                                        dat.push({ Param: "Shop_f", Value: $('#FromShop').val() });
                                        dat.push({ Param: "Shop_t", Value: $('#ToShop').val() });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Request_Details.GetStringValue()') {
                                        url = "/NDE/NDE_REQUEST_DETAILS_MULTIPLE";
                                        dat.push({ Param: "projectFrom", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "projectTo", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "SeamNoFrom", Value: $("#fromSeam").val() });
                                        dat.push({ Param: "SeamNoTo", Value: $("#toSeam").val() });
                                        dat.push({ Param: "InspectionFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectionTo", Value: DateTo });
                                        dat.push({ Param: "RequestStatus", Value: $("#RequestStatus").val() });
                                        console.log(dat);
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Daily_Attended_Report.GetStringValue()') {
                                        url = "/NDE/DAILY_ATTENDED_REPORT";
                                        dat.push({ Param: "Qualityprojectfrom", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "Qualityprojectto", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageType", Value: $('#StageType').val() });
                                        dat.push({ Param: "InpectionDateFrom", Value: DateFrom });
                                        dat.push({ Param: "InpectionDateTo", Value: DateTo });
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Repair_Data.GetStringValue()') {
                                        url = "/NDE/REPAIR_DATA";

                                        dat.push({ Param: "Qualityprojectfrom", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "Qualityprojectto", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageType", Value: $('#StageType').val() });
                                        dat.push({ Param: "InpectionDateFrom", Value: DateFrom });
                                        dat.push({ Param: "InpectionDateTo", Value: DateTo });
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                        dat.push({ Param: "WeldingProcess", Value: lstWeldingProcess });


                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Reshoot_Report.GetStringValue()') {
                                        url = "/NDE/RESHOOT_REPORT";
                                        dat.push({ Param: "Qualityprojectfrom", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "Qualityprojectto", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageType", Value: $('#StageType').val() });
                                        dat.push({ Param: "InpectionDateFrom", Value: DateFrom });
                                        dat.push({ Param: "InpectionDateTo", Value: DateTo });
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.TPIWiseSummary_Report.GetStringValue()') {
                                        var lstStageType = "";
                                        if ($("#StageType") != null && $("#StageType").val() != undefined && $("#StageType").val() != '') {
                                            lstStageType = $('#StageType').val().join(",");
                                        }
                                        url = "/NDE/TPI_Wise_Summary_Report";
                                        dat.push({ Param: "QualityProject_f", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "QualityProject_t", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "Seam_f", Value: $("#fromSeam").val() });
                                        dat.push({ Param: "Seam_t", Value: $("#toSeam").val() });
                                        dat.push({ Param: "Stage_f", Value: $("#fromStage").val() });
                                        dat.push({ Param: "Stage_t", Value: $("#toStage").val() });
                                        dat.push({ Param: "InspectionDate_f", Value: DateFrom });
                                        dat.push({ Param: "InspectionDate_t", Value: DateTo });
                                        dat.push({ Param: "StageType", Value: lstStageType });
                                        dat.push({ Param: "InspectionAgency", Value: $("#ddlTPIAgency").val() });
                                    }
                                     else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Log_For_PT_MT.GetStringValue()') {
                                        url = "/NDE/LOG_FOR_PT_MT";
                                        dat.push({ Param: "Location", Value: $("#Location").val() });
                                        dat.push({ Param: "FromProject", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "ToProject", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "InspectorResultFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectorResultTo", Value: DateTo });

                                    }
                                    else if (reporttype == '@clsImplementationEnum.IPI_NDEReports.Annexure_II_TPI.GetStringValue()') {

                                        url = "/NDE/ANNEXURE II TPI";
                                        dat.push({ Param: "FromProject", Value: $("#FQualityProject").val() });
                                        dat.push({ Param: "ToProject", Value: $("#TQualityProject").val() });
                                        dat.push({ Param: "StageType", Value: $("#StageType").val() });
                                        dat.push({ Param: "Location", Value: lstlocation });
                                        dat.push({ Param: "Stage", Value: lstStages });
                                        dat.push({ Param: "InspectorResultFrom", Value: DateFrom });
                                        dat.push({ Param: "InspectorResultTo", Value: DateTo });
                                    }
                                    ShowReport(dat, url);
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                                return false;
                            }

                        },
                        Cancel: {
                            label: 'Close',
                            className: 'btn btnclose',
                            callback: function () { }
                        }
                    }
                });
            },
        })
    }

</script>
<script src="~/Content/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Content/assets/pages/scripts/components-bootstrap-multiselect.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/common.js"></script>