﻿@using IEMQSImplementation

<style>
    .clsremarks {
        width: 300px;
    }
</style>
<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()'=="true"?true:false;
    $(document).ready(function () {
        var lstdepartment = @Html.Raw(Json.Encode(ViewBag.lstDepartment));
        var lstacknoledgements = @Html.Raw(Json.Encode(ViewBag.Acknowledge));

        $('#tblSINDepartmentApprove').delegate(".autocomplete", "focusin", function ()
        {
            var element = $(this);
            var hdElement = $(this).attr("id");
            var Lineid = $(this).attr("data-lineid");

            if ($(this).attr("id") == ("Acknowledged"+Lineid)) {
                FillAutoComplete(element, lstacknoledgements, $("#ddl" + hdElement));
            }
        })


        $('#tblSINDepartment').delegate(".autocomplete", "focusin", function ()
        {
            var element = $(this);
            var hdElement = $(this).attr("id");
            var Lineid = $(this).attr("data-lineid");

            if ($(this).attr("id") == ("Department"+Lineid)) {
                $('#RecdBy'+Lineid).val('');
                $('#ddlRecdBy'+Lineid).val('');
                FillAutoComplete(element, lstdepartment, $("#ddl" + hdElement));
            }
            else if($(this).attr("id") == ("RecdBy"+Lineid)){
                var dept = $('#ddlDepartment'+Lineid).val();
                if (dept != "") {
                    //GerReceivedPersonDeptWise(element, dept, hdElement);
                }
            }
            else if ($(this).attr("id") == ("Acknowledged"+Lineid)) {
                FillAutoComplete(element, lstacknoledgements, $("#ddl" + hdElement));
            }
        })

        $('#frmSINDepartment').validate({
            rules: {
                Department0: {
                    required: true,
                },
                RecdBy0: {
                    required: true,
                }
            },
            messages: {
                Department0: {
                    required: "Department is required"
                },
                RecdBy0: {
                    required: "ReceivedBy is required",
                }
            }
        });
    });

    function UpdateData(objColumn, rowID) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        var columnId = $(objColumn).attr("id");

        if (columnName == 'Department') {
            var id = $(objColumn).attr("id");
            var Lineid = $(objColumn).attr("data-lineid");
            var element = "RecdBy"+Lineid;
            var dept = $("#ddl"+id).val();
            if (dept.length > 0) {
                LoadPreValueSelect2("/PAM/SIN/GetPersonDeptWise", $('#ddlmultiple'+Lineid), "--Select ReceivedBy--", { param: dept});
            }
        }
    }

    function SaveDeptRecord(LineId, ForApprover) {

        if ($("#frmSINDepartment").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmSINDepartment').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });

            $.ajax({
                url: WebsiteURL +'/PAM/SIN/SaveSINDepartment?Id=' + LineId + '&isApprover=' + ForApprover,
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $("#tblSINDepartment").DataTable().ajax.reload();
                    }
                    else {
                        if(data.Value == "ExistsDept")
                        {   
                            DisplayNotiMessage("info", "This Department already exists", "Information");
                        }
                        else
                        {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                }
            });
        }
        else{
            HighlightInValidControls();
            return false;
        }
    }

    function DeleteDepartmentLine(headerId, lineId) {
        bootbox.confirm({
            title:"Delete Confirmation",
            message: "Do you want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function (result) {
                        $.ajax({
                            url: WebsiteURL +"/PAM/SIN/DeleteDepartmentLines",
                            type: "POST",
                            data: { LineID: lineId },
                            dataType: 'json',
                            async: false,
                            success: function (data) {

                                if (data.Key == true) {
                                    DisplayNotiMessage("success", "Improvement Deleted Successfully", "Success");
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                                $("#tblSINDepartment").DataTable().ajax.reload();
                            },
                            error: function (data) {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                        });
                        bootbox.hideAll();
                        $(".modal-backdrop").remove();
                    }

                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },

        });
        // var confirmMsg = "Do you want to delete?"
        //bootbox.confirm(confirmMsg,
        //function (result) {
        //    if (result) {

        //        $.ajax({
        //            url: "/PAM/SIN/DeleteDepartmentLines",
        //            type: "POST",
        //            data: { LineID: lineId },
        //            dataType: 'json',
        //            async: false,
        //            success: function (data) {

        //                if (data.Key == true) {
        //                    DisplayNotiMessage("success", "Improvement Deleted Successfully", "Success");
        //                }
        //                else {
        //                    DisplayNotiMessage("error", data.Value, "Error");
        //                }
        //                $("#tblSINDepartment").DataTable().ajax.reload();
        //            },
        //            error: function (data) {
        //                DisplayNotiMessage("error", data.Value, "Error");
        //            }
        //        });
        //    }
        //    bootbox.hideAll();
        //    $(".modal-backdrop").remove()

        //})
        //}
    }

    function GerReceivedPersonDeptWise(element, dept, hdElement) {
        $.ajax({
            url: WebsiteURL +"/PAM/SIN/GetPersonDeptWise",
            type: "POST",
            data: {department: dept},
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.lstPerson.length > 0) {
                    FillAutoComplete(element, data.lstPerson, $("#ddl" + hdElement));
                }
            }
        });
    }

    function ResetAddRow() {
        $('#tblSINDepartment').find("tbody tr:first").hide();
        $('#tblSINDepartment').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRow($('#tblSINDepartment').find("tbody tr:first"));
    }

    var sForApprove = @ViewBag.ForApprove.ToString().ToLower();
    var status = '@ViewBag.Status.ToString().ToLower()';

    if (status == "issued") {
        $("#btnNew").hide();
    }
    $(document).ready(function () {
        if(sForApprove){
            LoadLinesForApprove();
        }
        else{
            if (status == "issued") {
                LoadLinesInIssuedState();
            }
            else
            {
                LoadLines();
            }

        }

    });

    function LoadLinesInIssuedState(){
        var table = $('#tblSINDepartment');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iSINplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/SIN/loadSINDeptDataTable?SINId=" + '@ViewBag.SinId'+"&ForApprove="+sForApprove.toString().toLowerCase(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        LoadMultiSelect();
                    },
                    'async': false
                });
                ResetAddRow();
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "hide",
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center clsremarks",
                    "bSortable": false,
                },
                {
                    "sClass": "center clsaction",
                    "bSortable": false,
                }
            ]
        });
        if (IsDisplayOnly) {
            oTable.api().column('.clsaction').visible(false);
        }
    }

    function LoadLines(){
        var table = $('#tblSINDepartment');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iSINplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/SIN/loadSINDeptDataTable?SINId=" + '@ViewBag.SinId'+"&ForApprove="+sForApprove.toString().toLowerCase(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "IsDisplayOnly", "value": IsDisplayOnly }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        LoadMultiSelect();
                    },
                    'async': false
                });
                ResetAddRow();
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "hide",
                  },
                  {
                      "sClass": "center",
                      "bSortable": false,
                  }
            ]
        });
    }

    function LoadLinesForApprove(){
        var table = $('#tblSINDepartmentApprove');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            destroy: true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20]
            ],
            "pageLength": 10,
            'iSINplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL +"/PAM/SIN/loadSINDeptDataTable?SINId=" + '@ViewBag.SinId'+"&ForApprove="+sForApprove.toString().toLowerCase(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        LoadMultiSelect();
                        $('input[maxlength]').maxlength({
                            alwaysShow: true,
                        });
                    },
                    'async': false
                });
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                 {
                     "sClass": "hide",
                 },
                 {
                     "sClass": "hide",
                 },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center clsremarks",
                    "bSortable": false,
                },
                {
                    "sClass": "",
                    "bSortable": false,
                }
            ]
        });
    }

    function ShowNewRecord(obj) {
        var status = $('#spanStatus').text();
        if (status == 'Approved') {
            bootbox.confirm({
                title:"Revise Confirmation",
                message: "Do you want to revise this header?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                        callback: function (result) {
                            if (result) {
                                InsertNewRecord(obj);
                            }
                        }
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },

            });
        }
        else {
            InsertNewRecord(obj);
        }
    }

    function InsertNewRecord(obj) {
        $('#tblSINDepartment').find("tbody tr:first").toggle();
        $('#tblSINDepartment').find("tbody tr:first select:first").focus();
        if ($('#tblSINDepartment').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
            var delayedFn, blurredFrom;
            $('#tblSINDepartment').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveLineRecord(0); }, 0);
            });
            $('#tblSINDepartment').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRow($('#tblSINDepartment').find("tbody tr:first"));
        }
    }

    function UpdateDept(chk,LineId){

        if (LineId == 0) {
            return false;
        }
        $chk=$('#'+chk.id);

        $.ajax({
            url: WebsiteURL +"/PAM/SIN/UpdateDept",
            type: "POST",
            datatype: "json",
            data: { LineId: LineId,Acknowledged:$chk.prop('checked') },
            success: function (data) {
            },
            error: function () {
                alert("error");
            }
        });
    }

    function UpdateAccepted(chk,LineId){

        if (LineId == 0) {
            return false;
        }
        $chk=$('#'+chk.id);

        $.ajax({
            url: WebsiteURL +"/PAM/SIN/UpdateAccepted",
            type: "POST",
            datatype: "json",
            data: { LineId: LineId,IncludeInSIN:$chk.prop('checked') },
            success: function (data) {
            },
            error: function () {
                alert("error");
            }
        });
    }

    function LoadMultiSelect() {
        $("select[data-name='ddlmultiple']").select2({
            caption: "--Select Notes--",
            width: '350px'
        });
    }
</script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    SIN Department Details
                </div>
                @if (ViewBag.ForApprove.ToString().ToLower() == "false")
                {
                    <div class="tools">
                        <div class="btn-group">
                            <a style="margin-right:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                <i class="fa fa-plus"></i> New
                            </a>
                        </div>
                    </div>

                }
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                @if (ViewBag.ForApprove.ToString().ToLower() == "false")
                {
                    using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSINDepartment" }))
                    {
                        <table id="tblSINDepartment" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="min-phone-l">#</th>
                                    <th style="display:none;">LineId</th>
                                    <th style="display:none;">HeaderId</th>
                                    <th class="min-phone-l">Department</th>
                                    <th class="min-phone-l">Received By</th>
                                    @if (ViewBag.Status.ToString().ToLower() == "issued")
                                    {
                                        <th class="min-phone-l">Acknowledged</th>
                                        <th class="min-phone-l">Remarks</th>
                                    }
                                    else
                                    {
                                        <th style="display:none;">Acknowledged</th>
                                        <th style="display:none;">Remarks</th>
                                    }
                                    <th class="min-phone-l" style="white-space:nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                }
                else
                {
                    using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmSINDepartment" }))
                    {
                        <table id="tblSINDepartmentApprove" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="min-phone-l">#</th>
                                    <th style="display:none;">LineId</th>
                                    <th style="display:none;">HeaderId</th>
                                    <th class="min-phone-l">Department</th>
                                    <th class="min-phone-l">Received By</th>
                                    <th class="min-phone-l">Acknowledged</th>
                                    <th class="min-phone-l">Remarks</th>
                                    <th class="min-phone-l" style="white-space:nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    }
                }

            </div>
        </div>
    </div>
</div>


