﻿@model IEMQSImplementation.PAM011_Log
    @using IEMQSImplementation

    @{
        ViewBag.Title = "GetDISHistoryDetails";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
    <script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
    <script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/Scripts/ThemeScripts/Plugins/bootstrap-switch/bootstrap-switch.min.js"></script>

    <style>
        fieldset {
            border-top: 1px groove gray !important;
            padding: 0 0.4em 0.4em 0.4em !important;
            margin: 0 0 0.5em 0 !important;
            /*border-radius: 10px !important;*/
        }

        legend {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            margin-bottom: 0px !important;
            border-bottom: none;
            display: block;
            font-size: 21px;
            line-height: inherit;
        }

        .form-group {
            margin-bottom: 5px !important;
        }
    </style>

    <div class="page-content">
        <div class="portlet light ">
            <div class="portlet-body">
                <div class="form-body">
                    <div id="divDISHeader"></div>
                    <div class="row">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmDISHeader" }))
                    {
                    @Html.HiddenFor(model => model.HeaderId)
                    <fieldset>
                        <legend>Design Details</legend>
                        <div class="form-group dvDisabled">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Applicable Code & Edition<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="text" id="txtDesignCode" name="txtDesignCode" placeholder="Select" class="form-control col-md-3" />
                                        @Html.HiddenFor(m => m.DesignCode, new { @id = "ddlDesignCode" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">ASME Certification Mark<span class="required"> * </span></label>
                                    <div class="">
                                        <input type="checkbox" id="ASME" name="ASME" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Remarks<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @maxlength = "500" })
                                    </div>
                                </div>
                                @if (Model.Status.ToLower() == clsImplementationEnum.PAMStatus.Returned.GetStringValue().ToLower())
                                    {
                                    <div class="col-md-3">
                                        <label class="control-label">Return Remarks</label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ReturnRemarks, new { @class = "form-control", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="col-md-3">
                                        <label class="control-label">Reason of Issue</label>
                                        <div class="">
                                            @Html.TextBoxFor(model => model.ReasonOfIssue, new { @class = "form-control", @maxlength = "500" })
                                        </div>
                                    </div>
                                    }
                            </div>
                        </div>
                    </fieldset>
                    }
                    </div>
                    <div id="divDISLines"></div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:right;margin-bottom:25px">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="text-align:right;margin-bottom:25px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align:right;margin-bottom:10px">
                            <input type="button" class="btn btnclose" id="btncancel" value="Close" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('div.dvDisabled :input').attr('disabled', true);
            $('input[maxlength]').maxlength({
                alwaysShow: true,
            });


            $('#txtDesignCode').val('@ViewBag.DesignCode');


            $("#btncancel").click(function () {
                if ('@ViewBag.approver' == 'false') {
                    window.location.href = WebsiteURL +'/PAM/DIS/Index';
                }
                else
                {
                    window.location.href = WebsiteURL +'/PAM/DIS/ApproveDIS';
                }
            });

            var asme = '@Model.ASME'
            if (asme) {
                $('#ASME').attr('checked', 'checked');
                $('#ASME').attr('value', 'true');
            }


            $('#divDISHeader').load(
            $.ajax({
                url: WebsiteURL +"/PAM/DIS/GetDISHeaderHistoryDetails",
                type: "POST",
                data: { Id :@Model.Id,PAMHeaderId :@Model.PAMHeaderId},
                dataType: "html",
                //async:false,
                success: function (data) {

                    $('#divDISHeader').html(data);
                }
            }));

            $('#divDISLines').load(
            $.ajax({
                url: WebsiteURL +"/PAM/DIS/GetDISLinesHistoryDetails",
                type: "POST",
                data: { RefId :@Model.Id, ForApprove: "false", Status: '@Model.Status'},
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divDISLines').html(data);
                }
            }));
        });
    </script>
