﻿@using IEMQSImplementation
@model TVL001
@{
    ViewBag.Title = "Project Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="form-body">
            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                    <span class="page-title">Project Details</span>
                </div>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmProjectDetails" }))
            {
                @Html.HiddenFor(model => model.HeaderId)
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project No<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProjectNo, new { @class = "form-control col-md-3", @maxlength = "12", @style = "text-transform:uppercase" })
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label">Project Description<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProjectDescription, new { @class = "form-control col-md-3", @maxlength = "300" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Customer<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <label class="control-label">Planning Remarks</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.PlanningRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <fieldset>
                            <legend>Intervention Details</legend>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">I1 Intervention</label>
                                    @Html.TextBoxFor(m => m.I1Intervention, new { @class = "form-control col-md-3", @maxlength = "50" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">I2 Intervention</label>
                                    @Html.TextBoxFor(m => m.I2Intervention, new { @class = "form-control col-md-3", @maxlength = "50" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">I3 Intervention</label>
                                    @Html.TextBoxFor(m => m.I3Intervention, new { @class = "form-control col-md-3", @maxlength = "50" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">I4 Intervention</label>
                                    @Html.TextBoxFor(m => m.I4Intervention, new { @class = "form-control col-md-3", @maxlength = "50" })
                                </div>

                            </div>


                        </fieldset>
                        <hr />

                        <div class="col-md-12" style="text-align:right;">
                            @if (ViewBag.IsEditApplicable)
                                {
                                <input type="button" class="btn save" id="btnSave" value="Save" />
                                }
                            @if (ViewBag.IsDeleteApplicable)
                                {
                                <input type="button" class="btn reject" id="btnDelete" value="Delete" />
                                }
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-element-ribbon bg-grey-steel">
                            <div class="ribbon ribbon-shadow ribbon-color-success uppercase">Notes</div>
                            <p class="ribbon-content">Intervention "I1" to "I4" is for Customer Inspector / TPI &  Owner only.</p>
                        </div>
                    </div>
                </div>

                
            }
        </div>
    </div>
</div>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@ViewBag.IsEditApplicable'.toLowerCase() == "false") {
            $('#ProjectNo').attr('disabled', true);
            $("#ProjectDescription").attr('disabled', true);
            $("#Customer").attr('disabled', true);
            $("#PlanningRemarks").attr('disabled', true);
            $("#I1Intervention").attr('disabled', true);
            $("#I2Intervention").attr('disabled', true);
            $("#I3Intervention").attr('disabled', true);
            $("#I4Intervention").attr('disabled', true);
        }

        $('#frmProjectDetails').validate({
            rules: {
                ProjectNo: {
                    required: true
                },
                ProjectDescription: {
                    required: true
                },
                Customer: {
                    required: true
                }
            },
            messages: {
                ProjectNo: {
                    required: "Project no is required"
                },
                ProjectDescription: {
                    required: "Description is required"
                },
                Customer: {
                    required: "Customer is required"
                }
            }
        });

        $("#btnClose").click(function () {
            window.location.href = WebsiteURL + "/TVL/MaintainProject";
        });

        $("#btnDelete").click(function () {
            DeleteProject($("#HeaderId").val());
        });

        $("#btnSave").click(function () {
            if ($("#frmProjectDetails").valid()) {
                var frmSaveHeaderValue = $("#frmProjectDetails").serializeArray();
                var formdata = new FormData();

                if (frmSaveHeaderValue != null && frmSaveHeaderValue != undefined) {
                    $.each(frmSaveHeaderValue, function (key, input) {
                        formdata.append(input.name, input.value);
                    });

                    $.ajax({
                        url: WebsiteURL + "/TVL/MaintainProject/SaveData",
                        type: "POST",
                        data: formdata,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            if (res.Key) {
                                $("#HeaderId").val(res.HeaderId);
                                DisplayNotiMessage("success", res.Value, "Success");
                            }
                            else
                                DisplayNotiMessage("error", res.Value, "Error");
                        },
                        error: function (data) {
                            alert(data.value);
                        }
                    });
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        })

    });

    function DeleteProject(_headerId) {

        bootbox.dialog({
            title: "Delete Confirmation",
            message: "Do you want to delete?",
            size: "medium",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/TVL/MaintainProject/DeleteProject",
                            datatype: 'json',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            data: { headerId: _headerId },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    window.location.href = WebsiteURL + "/TVL/MaintainProject";
                                }
                            },
                            error: function () {
                                alert('error...');
                            }
                        });

                    }
                },
                Cancel: {
                    label: 'No',
                    className: 'btn red',
                    callback: function () { }
                }
            }
        });

    }

</script>

