﻿
@{
    ViewBag.Title = "Maintain Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Maintain Project
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <a href="~/TVL/MaintainProject/Details" class="btn green">Add New</a>
                            </div>
                        </div>
                    </div>
                    @*<ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#AllProjects" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>*@
                </div>
                <div class="portlet-body">
                    <div id="AllProjects">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        LoadDataGridPartial();
    });

    function LoadDataGridPartial() {
        $("#AllProjects").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/MaintainProject/LoadDataGridPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },          
            success: function (result) {
                $("#AllProjects").html(result);
            },
            error: function () {
            }
        });
        $(".dataTables_paginate").css("text-align", "right !important");
    }
</script>

@Scripts.Render("~/bundles/datatable/js")


