﻿
@{

    ViewBag.Title = "Item Group Master";
    Layout = "~/Areas/DES/Views/Shared/_DESLayout.cshtml";

}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <span class="m-nav__link-text"><span class="m--font-bolder">Maintain Master</span></span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Item Group Master</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content ">
        <div class="m-portlet ">
            <div class="m-portlet__body ">
                <h4 class="m-portlet__head-text"> Item Group Master <a href="javascript:;" id="btnReport" class="btn m-btn btn-outline-metal m-btn--hover-danger pull-right mtm5 m-btn--icon m-btn--icon-only m-btn--pill" target="_blank"> <i class="la la-file-excel-o" title="Export To Excel"></i></a></h4>
                <table class="table  table-bordered table-hover" id="tblItemGroup"> </table>
            </div>
        </div>
    </div>

</div>


<script>
    var tblItemGroup;
    $('#btnReport').click(function () {
        var dat = [];
        dat.push({ Param: "Search", Value: tblItemGroup.search() });
        ShowReport(dat, "/DES/Item Group Export Data", false, true, 'excel','Item Group Master');
    });

    $(document).ready(function () {

         tblItemGroup = $('#tblItemGroup').DataTable({
            "serverSide": true,
            "processing": true,
            "orderMulti": false,
            "filter": true,
            "sAjaxSource": "/DES/ItemGroup/Index",
            "iDisplayLength": 10,
            "ordering": true,
            "scrollX": true,
            "responsive": false,
            "language": {
                "infoFiltered": ""
            },
            "order": [[0, 'desc']],
            "columnDefs": [

            ],

            "fnServerData": function (sSource, data, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": data,
                    "success": fnCallback
                });

            },
            "aoColumns": [
               
                {
                    "sTitle": "ITEM GROUP NAME", "orderable": true, render: function (data, type, row, meta) {
                        return row.t_citg
                    }
                },
                {
                    "sTitle": "DESCRIPTION", "orderable": true,  render: function (data, type, row, meta) {
                        return row.t_dsca
                    },
                },
                {
                    "sTitle": "PRODUCTION MAKE BUY CODE", "orderable": true, "className": "", render: function (data, type, row, meta) {

                        var strHtml = '';
                        if (row.t_kitm == "1") {
                            strHtml = "Buy";
                        }
                        else if (row.t_kitm == "2") {
                            strHtml = "Make";
                        }
                        else {
                            strHtml = "";
                        }

                        return strHtml;
                    }
                },
                {
                    "sTitle": "UNIT OF MEASURE (UOM)", "orderable": true, "className": "", render: function (data, type, row, meta) {                      
                        return row.t_cuni
                    }
                },         
            ],

            "initComplete": function () {

            },

            "fnRowCallback": function () {

            }

        });
    });
</script>
@*<script src="~/DESAssets/js/ARMSet.js"></script>*@
<script src="~/Scripts/Main.js"></script>

