﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Number Group
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Number Group
                                </div>
                                <div class="tools">
                                    <input type="button" id="btnNew" value="New" name="btnNew" onclick="ShowNewRecord(this);" class="form-control col-md-1 clsNewBtn" />
                                </div>
                            </div>
                            <div class="portlet-body">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmNumberGroup", @class = "form-horizontal" }))
                                {
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblNumberGroup" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all">Number Group</th>
                                            <th class="min-phone-l">Description</th>
                                            <th class="min-phone-l">Series Length</th>
                                            <th class="min-phone-l">IsActive</th>
                                            <th class="min-phone-l">Action</th>
                                            <th class="" style="display:none;">ID</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblNumberGroup');
        var oTable = table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,

            buttons: [

            ],


            responsive: true,

            "order": [
                [0, 'asc']
            ],

            "lengthMenu": [
                [5, 10, 15, 20],
                [5, 10, 15, 20] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": "/Utility/NumberGroup/LoadNumberGroupData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }

                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "sClass" : "hide"
                },
            ]

        });
        $('#frmNumberGroup').validate({
            rules: {
                NumberGroup0: {
                    required: true,
                },
                Description0: {
                    required: true
                },
                SeriesLength0: {
                    required: true,
                },
            },
            messages: {
                NumberGroup0: {
                    required: "Number Group is required."
                },
                Description0: {
                    required: "Description is required."
                },
                SeriesLength0: {
                    required: "Series Length. is required."
                },
            }
        });
    });

    function ShowNewRecord(obj) {
        InsertNewRecord(obj);
    }
    function InsertNewRecord(obj) {
        $('#tblNumberGroup').find("tbody tr:first").toggle();
        $('#tblNumberGroup').find("tbody tr:first select:first").focus();
        if ($('#tblNumberGroup').find("tbody tr:first").is(":visible")) {
            $(obj).val("Cancel");
            var delayedFn, blurredFrom;
            $('#tblNumberGroup').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewRecord(); }, 0);
            });
            $('#tblNumberGroup').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).val("New");
        }
    }
    function SaveNewRecord() {
        if ($("#frmNumberGroup").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmNumberGroup').serializeArray();
            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            $.ajax({
                url: '/Utility/NumberGroup/SaveNewRecord',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblNumberGroup').DataTable().ajax.reload();
                        ResetAddRow();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }
    function ResetAddRow() {
        $('#tblNumberGroup').find("tbody tr:first").hide();
        $('#tblNumberGroup').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").val("New");
    }
    function UpdateData(objColumn, rowID, LineId) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        
        $.ajax({
            type: "POST",
            url: "/Utility/NumberGroup/UpdateData",
            datatype: 'json',
            async: false,
            data: { Id: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                }
            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }
    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Do you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '/Utility/NumberGroup/DeleteLine',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                                $('#tblNumberGroup').DataTable().ajax.reload();
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }

                        }
                    });
                }
            }
        });
    }
</script>