﻿@using IEMQSImplementation

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @{
                string strMSWTitle = ViewBag.Status + " Shop Weld Plan";
            }
            @strMSWTitle
        </div>
        <div class="tools" id="dvExportHistory"> </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTPHeaderDetails" }))
        {
            <table class="table table-striped table-bordered table-hover" id="tblHeader1" cellspacing="0">
                <thead>
                    <tr>
                        <th class="all">Quality Project</th>
                        <th class="all">Project</th>
                        <th class="min-phone-l">BU</th>
                        <th class="min-phone-l">Location</th>
                        <th class="min-phone-l">RevNo.</th>
                        <th class="min-phone-l">Status</th>

                        @*<th class="min-phone-l">Seam No.</th>*@
                        @*<th class="min-phone-l">WPS</th>
                            <th class="min-phone-l">Alternate WPS1</th>
                            <th class="min-phone-l">Alternate WPS2</th>
                            <th class="min-phone-l">Joint Type</th>*@
                        @*<th class="min-phone-l">Created By</th>
                            <th class="min-phone-l">Created On</th>*@
                        <th class="min-phone-l">Action</th>
                        @*<th class="min-phone-l">Parameter Slip</th>*@
                        <th class="" style="display:none;">HeaderId</th>
                        <th class="" style="display:none;">Id</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        }
    </div>
</div>

@*<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Test Plan Preparation
        </div>
        <div class="tools" id="dvExportHistoryHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/TestPlan/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYHEADER.GetStringValue(), dvId = "#dvExportHistoryHeader" })
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTPHeaderDetails" }))
        {
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTPHeader" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="all">Quality Project</th>
                        <th class="min-phone-l">Location</th>
                        <th class="min-phone-l">Seam No</th>
                        <th class="min-phone-l">Quality Id</th>
                        <th class="none">QID RevNo.</th>
                        <th class="min-phone-l">PTC Applicable</th>
                        <th class="min-phone-l">PTC Number</th>
                        <th class="none">RevNo.</th>
                        <th class="min-phone-l">Status</th>
                        <th class="min-phone-l">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        }
    </div>
</div>
<div class="hidden">
    <input type="hidden" id="txtTPHistoryID" value="@ViewBag.TPHeaderId"/>
</div>*@
<script>

    $(document).ready(function () {
        var table = $('#tblHeader1');
        UtilityParams = {
            sUrl: "/IPI/MaintainSWP/LoadSWPHeaderHistoryData",
            aServerParams: [{ "name": "CTQCompileStatus", "value": '@ViewBag.Status' }, { "name": "CTQHeaderId", "value": '@Model.HeaderId' }], //aServerParams: [{ "name": "CTQCompileStatus", "value": '@ViewBag.Status' }, { "name": "CTQHeaderId", "value": '@ViewBag.SWPHeaderId' }],
            iPageLength: 10,
            bIsResponsive: false,
            //bIsLazyLoading: false,
            sBtnDivSelector: "#dvExportHistory",
            aaSort: [],
            aoColumns: [
                {
                    "name": "QualityProject",
                    "sClass": "center"
                },

                {
                    "name": "Project",
                    "sClass": "center"
                },
                 {
                     "name": "BU",
                     "sClass": "center"
                 },
                  {
                      "name": "Location",
                      "sClass": "center"
                  },
                  {
                      "name": "RevNo",
                      "sClass": "center"
                  },
                 {
                     "name": "Status",
                     "sClass": "center"
                 },
                  {
                      "bSortable": false,
                      "sClass": "center"
                  },
                 //{
                 //    "bSortable": false,
                 //    "sClass": "center",
                 //    //"sWidth": "10%",
                 //    "render": function (data, type, row, meta) {
                 //        var buttons = "";
                 //        buttons = '<center><a class="btn btn-xs green"   href="../MaintainSWP/SWPHistoryDetail?Id=' + row[5] + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                 //        return buttons;
                 //    }
                 //},
                 //{
                 //    "bSortable": false,
                 //    "sClass": "center",
                 //    //"sWidth": "10%",
                 //    "render": function (data, type, row, meta) {
                 //        var buttons = "";
                 //        var passval = "ParameterSlip(" + row[6] + ")";
                 //        buttons += '&nbsp;<i  data-modal="" id="btnPS" name="btnPS" style="cursor:pointer;" Title="Parameter Slip" class="fa fa-edit" onClick="' + passval + '"></i></center>';
                 //        return buttons;
                 //    }
                 //},
                 {
                     "sClass": "hide"

                 },
                  {
                      "sClass": "hide"

                  },
            ]

        };


        table.dtUtility(UtilityParams);

    //    var tptable = $('#tblTPHeader');
    //    var oTable = tptable.dataTable({
    //        "language": {
    //            "aria": {
    //                "sortAscending": ": activate to sort column ascending",
    //                "sortDescending": ": activate to sort column descending"
    //            },
    //            "emptyTable": "No data available in table",
    //            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
    //            "infoEmpty": "No entries found",
    //            "infoFiltered": "(filtered1 from _MAX_ total entries)",
    //            "lengthMenu": "_MENU_ entries",
    //            "search": "Search:",
    //            "zeroRecords": "No matching records found"
    //        },
    //        "bProcessing": true,
    //        "bServerSide": true,
    //        "stateSave": false,
    //        "bDestroy": true,
    //        buttons: [
    //            //{ extend: 'print', className: 'btn default' },
    //            //{ extend: 'pdf', className: 'btn default' },
    //            //{ extend: 'csv', className: 'btn default' }
    //        ],
    //        responsive: true,
    //        "order": [
    //            [0, 'asc']
    //        ],
    //        "lengthMenu": [
    //            [5, 10, 25, 50, 100],
    //            [5, 10, 25, 50, 100]
    //        ],
    //        "pageLength": 10,
    //        'iDisplayLength': 10,
    //        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
    //        "sAjaxSource": WebsiteURL + "/IPI/TestPlan/LoadTestPlanHeaderHistoryData",
    //        "fnServerParams": function (aoData) {
    //            aoData.push({ "name": "type", "value": "sdf" },
    //                       { "name": "Headerid", "value": $("#txtTPHistoryID").val() }
    //                        );
    //        },
    //        "fnServerData": function (sSource, aoData, fnCallback) {
    //            $.ajax({
    //                'dataType': 'json',
    //                'type': 'POST',
    //                'url': sSource,
    //                'data': aoData,
    //                'success': function (data) {
    //                    fnCallback(data);
    //                    $(".txtStrWhere", "#dvExportHistoryHeader").val(data.whereCondition);
    //                    $(".txtStrSort", "#dvExportHistoryHeader").val(data.strSortOrder);
    //                },
    //                'async': false
    //            });
    //        },
    //        "columns": [
    //  {
    //      "sClass": "center",
    //  },
    //            {
    //                "bSortable": false,
    //                "sClass": "center"
    //            },
    //            {
    //                "bSortable": false,
    //                "sClass": "center"
    //            },
    //            {
    //                "bSortable": false,
    //                "sClass": "center"
    //            },
    //            {
    //                "bSortable": false,
    //                "sClass": "center"
    //            },
    //            {
    //                "bSortable": false,
    //                "sClass": "center"
    //            },
    //            {
    //                "bSortable": false,
    //                "sClass": "center"
    //            },
    //             {
    //                 "bSortable": false,
    //                 "sClass": "center"
    //             },
    //              {
    //                  "bSortable": false,
    //                  "sClass": "center"
    //              },
    //               {
    //                   "bSortable": false,
    //                   "sClass": "sCenter"
    //               },
    //        ]
    //    });
    //});
        @*var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainSWP/LoadSWPHeaderHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                 { "name": "CTQCompileStatus", "value": '@ViewBag.Status' },
                 { "name": "CTQHeaderId", "value": '@Model.HeaderId' });

            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "QualityProject",
                    "sClass": "center"
                },

                {
                    "name": "Project",
                    "sClass": "center"
                },
                 {
                     "name": "BU",
                     "sClass": "center"
                 },
                  {
                      "name": "Location",
                      "sClass": "center"
                  },
                  {
                      "name": "RevNo",
                      "sClass": "center"
                  },
                 {
                     "name": "Status",
                     "sClass": "center"
                 },
                  {
                      "bSortable": false,
                      "sClass": "center"
                  },
                 //{
                 //    "bSortable": false,
                 //    "sClass": "center",
                 //    //"sWidth": "10%",
                 //    "render": function (data, type, row, meta) {
                 //        var buttons = "";
                 //        buttons = '<center><a class="btn btn-xs green"   href="../MaintainSWP/SWPHistoryDetail?Id=' + row[5] + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                 //        return buttons;
                 //    }
                 //},
                 //{
                 //    "bSortable": false,
                 //    "sClass": "center",
                 //    //"sWidth": "10%",
                 //    "render": function (data, type, row, meta) {
                 //        var buttons = "";
                 //        var passval = "ParameterSlip(" + row[6] + ")";
                 //        buttons += '&nbsp;<i  data-modal="" id="btnPS" name="btnPS" style="cursor:pointer;" Title="Parameter Slip" class="fa fa-edit" onClick="' + passval + '"></i></center>';
                 //        return buttons;
                 //    }
                 //},
                 {
                     "sClass": "hide"

                 },
                  {
                      "sClass": "hide"

                  },
            ]
        });*@
    });

    //function ParameterSlip(headerid) {

    //    $.ajax({
    //        type: "POST",
    //        url: '/IPI/MaintainSWP/getParameterSlip',
    //        datatype: 'html',
    //        async: false,
    //        beforeSend: function () {
    //            showLoading(true);
    //        },
    //        complete: function () {
    //            showLoading(false);
    //        },
    //        data: { headerid: headerid },
    //        success: function (result) {
    //            bootbox.dialog({
    //                title: 'Shop Weld Plan Report',
    //                message: result,
    //                buttons: {
    //                    'confirm': {
    //                        label: 'Print',
    //                        className: 'btn green',
    //                        callback: function () {
    //                            if ($("#frmParameterSlip").valid()) {
    //                                var url = "";
    //                                var WP_val = $("#txtWP").val();
    //                                var JointType = $("#txtJT").val();
    //                                if (JointType != "Overlay") {
    //                                    if (WP_val == 0) {
    //                                        DisplayNotiMessage("error", "Please Select Welding Process", "Error");
    //                                    }
    //                                    else if (WP_val == 1) {
    //                                        url = "/SWP/GTAW+Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 2) {
    //                                        url = "/SWP/SMAW+Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 3) {
    //                                        url = "/SWP/SAW+Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 4) {
    //                                        url = "/SWP/FCAW_GMAW++Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 5) {
    //                                        url = "/SWP/SAW-T+Parameter+Slip";
    //                                    }
    //                                }
    //                                else {
    //                                    if (WP_val == 0) {
    //                                        DisplayNotiMessage("error", "Please Select Welding Process", "Error");
    //                                    }
    //                                    else if (WP_val == 1) {
    //                                        url = "/SWP/GTAW_Overlay+Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 2) {
    //                                        url = "/SWP/SMAW_Overlay+Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 3) {
    //                                        url = "/SWP/SAW_Overlay+Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 4) {
    //                                        url = "/SWP/FCAW_GMAW_overlay++Parameter+Slip";
    //                                    }
    //                                    else if (WP_val == 5) {
    //                                        url = "/SWP/ESW_Overlay+Parameter+Slip";
    //                                    }
    //                                }
    //                                var Revnum = $("#txtWPSRev").val();
    //                                if(Revnum == ""){
    //                                    Revnum = 0;
    //                                }
    //                                var INDEX = "";
    //                                if (WP_val == "5") {
    //                                    INDEX = "4";
    //                                }
    //                                else {
    //                                    INDEX = WP_val;
    //                                }
    //                                var WELDINGPROCESS = $("#txtWP").val();
    //                                var WPSNUM = $("#txtWPS").val();
    //                                var dat = [];
    //                                dat.push({ Param: "WPSNUM", Value:WPSNUM });
    //                                dat.push({ Param: "RevNo", Value: Revnum });
    //                                dat.push({ Param: "INDEX", Value: INDEX });
    //                                dat.push({ Param: "WELDINGPROCESS", Value: WELDINGPROCESS });
    //                                ShowReport(dat, url);
    //                            }
    //                        }

    //                    },
    //                    'cancel': {
    //                        label: 'Cancel',
    //                        className: 'btn green'
    //                    }
    //                }

    //            });
    //        },
    //        error: function () {
    //        }
    //    });
    //    return false;
    //}

</script>

