﻿@using IEMQSImplementation
@model SWP010_Log
@{
    ViewBag.Title = "Shop Weld Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#frmMaintain').validate({
            rules: {
                Preheat: {
                    number: true
                }
            },
            messages: {
                Preheat: {
                    number: "Digits Only"
                }
            }
        });


        var headerid = '@ViewBag.Headerid';
        if (headerid > 0) {
            $("#fs1 :input").attr("disabled", true);
            var QP = '@ViewBag.QualityProject';
            var notes = '@ViewBag.SWPNotes';

            if (notes == "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/IPI/MaintainSWP/getNotes",
                    data: { QP: QP },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.lsttask.length > 0) {
                            var optionhtml = '';
                            $.each(data.lsttask, function (i) {
                                var optionhtml = '<option value="' + data.lsttask[i].id + '">' + data.lsttask[i].text + '</option>';
                                $("#SWPNotes").append(optionhtml);
                            });
                            $("#SWPNotes").select2({
                                width: "275px"
                            });
                        }
                    },
                    error: function () {
                    }
                });
            }
            else {

                var SWPNotes = '@ViewBag.SWPNotes';
                if (SWPNotes != "") {
                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/IPI/MaintainSWP/getNotes",
                        data: { QP: QP },
                        datatype: 'html',
                        async: false,
                        success: function (data) {
                            if (data.lsttask.length > 0) {
                                var optionhtml = '';
                                $.each(data.lsttask, function (i) {
                                    var optionhtml = '<option value="' + data.lsttask[i].id + '">' + data.lsttask[i].text + '</option>';
                                    $("#SWPNotes").append(optionhtml);
                                });
                                $("#SWPNotes").select2({
                                    width: "275px"
                                });
                            }
                        },
                        error: function () {
                        }
                    });
                    var array = SWPNotes.split(',');
                    $("#SWPNotes").val(array).trigger('change');
                }
            }
        }
    });

</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintain", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Shop Weld Plan</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>

                            </div>
                            <fieldset id="fs1">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Quality Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, "", new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, "", new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Seam
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.SeamNo, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                BU
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Location
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, (string)ViewBag.Location, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                RevNo.
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Joint Type
                                            </label>
                                            <div class="">
                                                @*@Html.DropDownListFor(model => model.JointType, new SelectList(@ViewBag.JointType), "Select", new { @class = "form-control" })*@
                                                @*@Html.DropDownListFor(m => m.JointType, (SelectList)@ViewBag.JointType, "Select", new { @class = "form-control" })*@
                                                @Html.TextBoxFor(m => m.JointType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Main WPS
                                            </label>
                                            <div class="">
                                                @*@Html.DropDownListFor(m => m.MainWPSNumber, new SelectList(@ViewBag.MainWPS), "Select", new { @class = "form-control" })*@
                                                @Html.TextBoxFor(m => m.MainWPSNumber, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Main WPS Revision Number
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.MainWPSRevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Alternate WPS 1
                                            </label>
                                            <div class="">
                                                @*@Html.DropDownListFor(m => m.AlternateWPS1, new SelectList(@ViewBag.MainWPS), "Select", new { @class = "form-control" })*@
                                                @Html.TextBoxFor(m => m.AlternateWPS1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Alternate WPS 1 Revision Number
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AlternateWPS1RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Alternate WPS 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AlternateWPS2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @*@Html.DropDownListFor(m => m.AlternateWPS2, new SelectList(@ViewBag.MainWPS), "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Alternate WPS 2 Revision Number
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.AlternateWPS2RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Pre-heat (Deg. C)
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Preheat, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                DHT/ISR
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DHTISR, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                SWP Notes
                                            </label>
                                            <div class="">
                                                @*@Html.TextBoxFor(m => m.SWPNotes, new { @class = "form-control col-md-3" })*@
                                                <select name="SWPNotes" id="SWPNotes" multiple="multiple" style=" width:100%; height:35px" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Approve By
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        @*<button class="btn green" id="btnCopy" style="float: left;margin-left:5px; ">Copy </button>
                                        <button class="btn green" id="btnTransfer" style="float: left;margin-left:5px; ">Transfer </button>*@
                                    </div>
                                    <div class="col-md-3">
                                        <br />

                                    </div>
                                    <div class="col-md-5" style="text-align: right;">
                                        <br />
                                        <input type="button" id="btnCancel" onclick="window.close(); " class="btn btn btnclose" value="Close" />
                                        @*<a href="~/IPI/TestPlan/index" style="float: right; margin-right:5px;" class="btn btnclose">Close</a>*@
                                        @*<button class="btn green" style="float: right; margin-right:5px;" type="button" id="btnSend">Send For Approval</button>&nbsp;&nbsp;
                                        <button class="btn green" type="button" style="float: right; margin-right:5px;" id="btnSave">Save</button>*@
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var headerid = '@ViewBag.Headerid';
        if (headerid > 0) {

            var RevNo = '@ViewBag.RevNo';
            RevNo = "R" + RevNo;
            $("#RevNo").val(RevNo);

            $("#status").css("display", "block");

            var Status = '@ViewBag.Status';
            $("#lblStatus").text(Status);


            var ApprovedBy = '@ViewBag.ApprovedBy';
            var Project = '@ViewBag.Project';
            var BU = '@ViewBag.BU';

            if (Project != "" || ApprovedBy != "" || BU != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/IPI/MaintainSWP/getCodeValue",
                    data: { project: Project, approver: ApprovedBy, BU: BU },
                    datatype: 'html',
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.projdesc != "") {
                            $("#Project").val(data.projdesc);
                        }
                        if (data.appdesc != "") {
                            $("#ApprovedBy").val(data.appdesc);
                        }
                        if (data.budesc != "") {
                            $("#BU").val(data.budesc);
                        }
                    },
                    error: function () {
                    }
                });
            }


            var JointType = '@ViewBag.jointype';
            $("#JointType").val(JointType);

        }

    });
</script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>




