﻿@using IEMQSImplementation
@using IEMQS.Areas.Authorization.Models

@{
    ViewBag.Title = "Authorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/bootbox.js"></script>
<style>
    .buwidth{
        width:5% !important;
    }
    .locwidth{
        width:15% !important;
    }
    .empwidth{
        width:30% !important;
    }
    .rolewidth{
        width:40% !important;
    }
</style>

<script>
    $(document).ready(function () {
        $("#btnAddNew").click(function () {
            getAuthorizationForm(0,'@AuthorizationPopupType.NewRecord');
        });
    });
    function getAuthorizationForm(Id, Type) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/Authorization/AuthorizationMatrix/GetAuthorizationMatrixHtml",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Id: Id, Type: Type },
            success: function (result) {
                bootbox.dialog({
                    title: 'Authorization Matrix',
                    message: result,
                    size:"large",
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmAuthMatrix").valid()) {
                                    var formData = new FormData();
                                    var isAdded = false;
                                    var frmValues = $('#frmAuthMatrix').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        if (input.name == "Project") {
                                            if (!isAdded) {
                                                isAdded = true;
                                                formData.append(input.name, $("#" + input.name).val());
                                            }
                                        }
                                        else {
                                            formData.append(input.name, input.value);
                                        }
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/Authorization/AuthorizationMatrix/SaveAuthMatrix',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success",data.Value,"Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                            $('#tblAuthMatrix').DataTable().ajax.reload();
                                        }
                                    });
                                }
                                else {                                    
                                    HighlightInValidControls();
                                    $('#tbodyEmployee tr:last').find(".txtEmployee").focus();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }

                });
            },
            error: function () {
            }
        });
    }
    function CopyRecord(Id) {       
        getAuthorizationForm(Id, '@AuthorizationPopupType.CopyRecord');
    }
    function DeleteRecord(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/Authorization/AuthorizationMatrix/DeleteAuthMatrix',
                        data: { Id: Id },
                        type: 'POST',
                        async: false,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#tblAuthMatrix').DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }
</script>
<div class="page-content">
    <h1 class="page-title">
        Authorization Matrix
        <small></small>
    </h1>
    <div class="row">
        <div class="col-md-12">
            <button class="btn green pull-right" type="button" id="btnAddNew">Add New</button>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">                    
                    <div class="tools" id="dvExportHeader">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/Authorization/AuthorizationMatrix/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%;" id="tblAuthMatrix" cellspacing="0" >
                        <thead>                            
                            <tr>
                                <th class="" style="display:none;">ID</th>
                                <th class="min-phone-l">BU</th>
                                <th class="min-phone-l">Location</th>
                                <th class="min-phone-l">Contract</th>
                                <th class="min-phone-l">Project</th>
                                <th class="min-phone-l">Role</th>
                                <th class="min-phone-l">Employee</th>
                                <th class="min-phone-l">Action</th>
                            </tr>
                        </thead>  <tbody></tbody>                                      
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="tools"></div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label">Employee<span class="required"> * </span></label>
                                    <input class="form-control" id="txtEmployeeUpdate" name="txtEmployeeUpdate" placeholder="--Select--" />
                                    <input type="hidden" id="ddlEmployee" name="ddlEmployee"/>
                                </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-md-4">
                                <label class="control-label">Department</label>
                                <input class="form-control" id="txtDepartment" name="txtDepartment" placeholder="--Select--" />
                                <input type="hidden" id="ddlDepartment" name="ddlDepartment"/>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Role</label>
                                <input class="form-control" id="txtRoles" name="txtRoles" placeholder="--Select--" />
                                <input type="hidden" id="ddlRoles" name="ddlRoles"/>
                            </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-md-4">
                                <button type="button" class="btn save" id="btnUpdateDepartmentRole">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>


    var tablename = 'tblAuthMatrix';

    $(document).ready(function () {
        //$('#divEmployeeWiseRole').load(
        //    $.ajax({
        //        url: WebsiteURL + "/Authorization/AuthorizationMatrix/EmployeeWiseRoleDetails",
        //        type: "POST",
        //        dataType: "html",
        //        async: false,
        //        success: function (data) {
        //            //console.log(data);
        //            $('#divEmployeeWiseRole').html(data);
        //        }
        //    })
        //);
        var table = $('#tblAuthMatrix');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [
            ],
            responsive: false,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            // set the initial value
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/Authorization/AuthorizationMatrix/LoadAuthMatrixData",
             "fnServerParams": function (aoData) {
                 aoData.push({ "name": "type", "value": "sdf" });
             },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                {
                    "sClass": "hide",
                    "name": "Id",
                    "bSortable": false,
                    "attr": ""
                },
                {
                    "sClass": "center",
                    "render": function (data, type, row, meta) {
                        return row[1];
                    },
                    "name": "BU",
                    "bSortable": true,
                    "attr": "string"
                },
                {
                    "bSortable": true,
                    "name": "Location",
                    "sClass": "center",
                    "attr": "string"
                },
                {
                    "bSortable": true,
                    "name": "Contract",
                    "sClass": "center",
                    "attr": "string"
                },
                {
                    "bSortable": true,
                    "name": "Project",
                    "sClass": "center",
                    "attr": "string"
                },
                {
                    "bSortable": true,
                    "name": "Role",
                    "sClass": "center",
                    "attr": "string"
                },
                {
                    "bSortable": true,
                    "name": "Employee",
                    "sClass": "center",
                    "attr": "string"
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        if ('@ViewBag.isAuthAdmin' == 1) {
                            buttons = '<center><i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onClick="DeleteRecord(' + row[0] + ')"></i>';
                            buttons += '<i  data-modal="" id="btnCopy" name="btnAction" style="cursor:pointer;" Title="Copy Record" class="iconspace fa fa-files-o" onClick="CopyRecord(' + row[0] + ')"></i></center>';
                            //buttons = '<center><i  data-modal="" id="btnEdit" name="btnAction" style="cursor:pointer;" Title="Edit Record" class="fa fa-pencil-square-o" onClick="getAuthorizationForm(' + row[0] + ')"></i>&nbsp;&nbsp;<i  data-modal="" id="btnDelete" name="btnAction" style="cursor:pointer;" Title="Delete Record" class="fa fa-trash-o" onClick="DeleteRecord(' + row[0] + ')"></i></center>';
                        }
                        return buttons;
                    },
                    "attr": ""

                },
            ]

        });
        table.dtSearchFilter();
    });

    LoadEmployee();
    LoadDepartment();
    LoadRoles()

    function LoadEmployee() {
        $("#txtEmployeeUpdate").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Authorization/AuthorizationMatrix/GetEmployeeUpdate",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.empDesc, value: item.empCode };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {

                    event.preventDefault();
                    $("#ddlEmployee").val(ui.item.value);
                    $("#txtEmployeeUpdate").val(ui.item.label);

                    //$("#txtEmployeeUpdate").val(ui.item.label.slice(ui.item.label.indexOf('-') + 1));
                } else {
                    $("#ddlEmployee").val("");
                }
            },
            change: function (event, ui) {
                if (!ui.item) {
                    $("#ddlEmployee").val("");
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    }

    function LoadDepartment() {
        $("#txtDepartment").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Authorization/AuthorizationMatrix/GetDepartUpdate",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.Id };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {

                    event.preventDefault();
                    $("#ddlDepartment").val(ui.item.value);
                    $("#txtDepartment").val(ui.item.label);

                } else {
                    $("#ddlDepartment").val("");
                }
            },
            change: function (event, ui) {
                if (!ui.item) {
                    $("#ddlDepartment").val("");
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    }

    function LoadRoles() {
        $("#txtRoles").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Authorization/AuthorizationMatrix/GetRoles",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.Id };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {

                    event.preventDefault();
                    $("#ddlRoles").val(ui.item.value);
                    $("#txtRoles").val(ui.item.label);

                } else {
                    $("#ddlRoles").val("");
                }
            },
            change: function (event, ui) {
                if (!ui.item) {
                    $("#ddlRoles").val("");
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    }

    $('#btnUpdateDepartmentRole').on('click', function () {
        var IsError = false;
        var IsDepartment = false;
        var IsRoles = false;
        var arrayLineIds = new Array();

        if (!$("#ddlEmployee").val()) {
            DisplayNotiMessage("error", "Employee is required!", "Error");
            IsError = true;
        }
        if (!$("#ddlDepartment").val()) {
            IsDepartment = true;
        }
        if (!$("#ddlRoles").val()) {
            IsRoles = true;
        }
        if (IsDepartment && IsRoles) {
            DisplayNotiMessage("error", "Department or Role is required!", "Error");
            IsError = true;
        }

        if (!IsError) {

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/Authorization/AuthorizationMatrix/UpdateDepartmentRoles",
                datatype: 'json',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { Employee: $("#ddlEmployee").val(), Department: $("#ddlDepartment").val(), Role: $("#ddlRoles").val() },
                success: function (result) {
                    if (result.Key) {
                        DisplayNotiMessage("success", "Data updates successfully", "Success");
                        $("#txtEmployeeUpdate").val('');
                        $("#ddlEmployee").val('');
                        $("#txtDepartment").val('');
                        $("#ddlDepartment").val('');
                        $("#txtRoles").val('');
                        $("#ddlRoles").val('');
                        
                        $("#txtEmployeeUpdate").attr('placeholder', '--Select--')
                        $("#txtDepartment").attr('placeholder', '--Select--')
                        $("#txtRoles").attr('placeholder', '--Select--')

                    }
                    else {
                        DisplayNotiMessage("error", "Something went wrong", "Error");
                    }
                },
                error: function () {
                    alert('error...');
                }
            });

        }

    });

</script>

<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/DataTable/dataTables.custom.fixedColumn.js"></script>