﻿
@using IEMQSImplementation

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <span id="spnGridTitile"></span>
                    ICS List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CFAR/MaintainCFAR/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblICSList" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="display:none">headerid</th>
                            <th class="all">Quality Project</th>
                            <th class="all">ICS No</th>
                            <th class="all" style="display:none">Part/Item/Assembly No</th>
                            <th class="all">Cleared From Shop</th>
                            <th class="all">Cleared To Shop</th>
                            <th class="all">Cleared For <br /> Next Operation</th>
                            <th class="all">Date</th>
                            <th class="all">Issued By</th>
                            <th style="display:none">Status</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var table = $('#tblICSList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ICS/Maintain/LoadDataGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Status", "value": '@ViewBag.Status' }//,
                            //{ "name": "Department", "value": '@ViewBag.IndexDataFor' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                       {
                           "sClass": "hide",
                           "name": "HeaderId"
                       },
                        {
                            "sClass": "center",
                            "name": "QualityProject", "attr": "fromtoRange",
                        },
                        {
                            "sClass": "center",
                            "name": "ICSNo"
                        },
                          {
                              "sClass": "center hide",
                              "name": "PartNo"
                          },
                         {
                             "sClass": "center",
                             "name": "InitiatingInspectionCentre"
                         },
                          {
                              "sClass": "center",
                              "name": "ClearedToShop"
                },
                {
                    "sClass": "center",
                    "name": "ClearedNextOperation",
                },
                        {
                            "sClass": "center",
                            "name": "CreatedOn",
                            "attr": "daterange"
                        },
                         {
                             "sClass": "center",
                             "name": "SubmittedBy",
                             "bSortable": false,
                             "attr": "none"
                         },
                        {
                            "sClass": "hide",
                            "name": "Status"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                        }
            ]
        });
        table.dtSearchFilter();
    });

    function printReport(headerid) {
        var url = "/ICS/ICS Detail";
        var dat = [];
        dat.push({ Param: "HeaderId", Value: parseInt(headerid) });
        ShowReport(dat, url);
    }
</script>
