﻿@using IEMQSImplementation
<style>
    .scenter {
        text-align: center;
    }
</style>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            @*@{
                string strCTQTitle = ViewBag.Status + " Tank Rotator";
            }
            @strCTQTitle*@
            @{
                string strCTQTitle = "Projects";
            }
            @strCTQTitle
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/PLN/MaintainTankRotator/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTankRotatorHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Project</th>
                    <th class="min-phone-l">Document</th>
                    <th class="min-phone-l">Customer</th>
                    <th class="min-phone-l">Product</th>
                    <th class="min-phone-l">Process Licensor</th>
                    <th class="min-phone-l">Rev.</th>
                    <th class="min-phone-l">Status</th>
                    <th class="none">CDD</th>
                    <th class="none">Plan</th>
                    <th class="none">Created By</th>
                    <th class="none">Created On</th>
                    <th class="none">Edited By</th>
                    <th class="none">Edited On</th>
                    <th class="min-phone-l">Submitted By</th>
                    <th class="min-phone-l">Submitted On</th>
                    <th class="none">Approved By</th>
                    <th class="none">Approved On</th>
                    <th class="none">Remarks</th>
                    <th class="min-phone-l">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblTankRotatorHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PLN/MaintainTankRotator/LoadTankRotatorHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "aaSorting": [[2, 'asc']],
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "Project",
                    "sClass": "center",
                },
                {
                    "name": "Document",
                    "sClass": "center"
                },
                {
                    "name": "Customer",
                    "sClass": "center"
                },
                {
                    "name": "Product",
                    "sClass": "center"
                },
                {
                    "name": "ProcessLicensor",
                    "sClass": "center"
                },
                {
                    "name": "RevNo",
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                 {
                     "name": "Status",
                     "sClass": "center"
                 },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
                 {
                     "bSortable": false,
                     "sClass": "center",

                 },
                 {
                     "bSortable": false,
                     "sClass": "scenter",

                 },
                 {
                     "bSortable": false,
                     "sClass": "center",

                 },
                 {
                     "bSortable": false,
                     "sClass": "scenter",
                 },
                 {
                     "bSortable": false,
                     "sClass": "center",

                 },
                  {
                      "name": "SubmittedBy",
                      "sClass": "center"
                  },
                {
                    "name": "SubmittedOn",
                    "sClass": "center", "attr": "date"
                },

                 {
                     "bSortable": false,
                     "sClass": "center",

                 },
                 {
                     "bSortable": false,
                     "sClass": "scenter",
                 },
                 {
                     "bSortable": false,
                     "sClass": "scenter",
                 },
                 //{
                 //    "bSortable": false,
                 //    "sClass": "scenter",
                 //},

                 {

                     "bSortable": false,
                     "sClass": "Left",
                     "sWidth": "8%",
                 }
            ]
        }); table.dtSearchFilter();
    });
    function histroy(headerid)
    {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/PLN/MaintainTankRotator/GetHistoryDetails",
            datatype: 'html',
            async: false,
            data: { strRole: 'Initiator', headerid: headerid },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                bootbox.dialog({
                    title: 'History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>