﻿
@using IEMQSImplementation
@{
    string FileUploadLineID = "fuline";
}
<script src="~/Scripts/bootbox.js"></script>
<script>

    var table = $('#tblAllLines');
    //var oTable = table.dataTable({
    //    "language": {
    //        "aria": {
    //            "sortAscending": ": activate to sort column ascending",
    //            "sortDescending": ": activate to sort column descending"
    //        },
    //        "emptyTable": "No data available in table",
    //        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
    //        "infoEmpty": "No entries found",
    //        "infoFiltered": "(filtered1 from _MAX_ total entries)",
    //        "lengthMenu": "_MENU_ entries",
    //        "search": "Search:",
    //        "zeroRecords": "No matching records found"
    //    },
    //    "bProcessing": true,
    //    "bServerSide": true,
    //    "stateSave": true,
    //    "bDestroy": true,
    //    buttons: [],
    //    responsive: true,
    //    "order": [
    //        [0, 'asc']
    //    ],
    //    "lengthMenu": [
    //        [5, 10, 15, 20, -1],
    //        [5, 10, 15, 20, "All"]
    //    ],
    //    "pageLength": 10,
    //    'iDisplayLength': 10,
    //    //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
    //    "sAjaxSource": "/LNC/Maintain/loadAllLinesDataTable",
    //    "fnServerParams": function (aoData) {
    //        aoData.push({ "name": "type", "value": "sdf" } );
    //    },
    //    "fnServerData": function (sSource, aoData, fnCallback) {
    //        $.ajax({
    //            'dataType': 'json',
    //            'type': 'POST',
    //            'url': sSource,
    //            'data': aoData,
    //            'success': fnCallback
    //        });
    //    },
    //    "aoColumns": [
    //        {
    //            "sClass": "hide",
    //        },
    //        {
    //            "sClass": "hide",
    //        },
    //        {
    //            "sClass": "center",
    //            "bSortable": false,
    //        },
    //        {
    //            "sClass": "center",
    //        },

    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "center",
    //        },
    //        {
    //            "sClass": "hide",
    //        },
    //        {
    //            "bSortable": false,
    //            "sClass": "center",
    //            //"sWidth": "10%",
    //            "render": function (data, type, row, meta) {
    //                var buttons = "";
    //                var project = row[1].substring(0, row[1].indexOf('-')).trim();
    //                var functionCall = "EditHeader(" + row[1] + ")";
    //                if (row[11].trim().toLowerCase() == 'true')
    //                    buttons = ''+
    //                        '<center>' +
    //                            '<a onclick="ViewHeader(\'' + project + '\')" class="fa fa-eye" title="View Header" style="cursor:pointer;color:black" name="btnAction" id="btnView"></a>' +
    //                            '&nbsp;&nbsp;' +
    //                            '<a onclick="EditHeader(\'' + row[1] + '\')" class="fa fa-pencil-square-o" title="Edit Header" style="cursor:pointer;color:black" name="btnAction" id="btnEdit"></a>' +
    //                            '&nbsp;&nbsp;' +
    //                            '<i id="btnDelete" name="btnAction" Title="Delete Header" class="fa fa-trash-o "style="cursor:pointer;color:black" onclick="DeleteHeader(\'' + row[1] + '\')"></i>' +
    //                            '</center>';
    //                else
    //                    buttons = ''+
    //                        '<center>' +
    //                            '<a onclick="ViewHeader(\'' + row[1] + '\')" class="fa fa-eye" title="View Header" style="cursor:pointer;color:black" name="btnAction" id="btnView"></a>' +
    //                        '</center>';
    //                return buttons;
    //            }
    //        },
    //    ]
    //});
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "filter": true,
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        "bDestroy": true,
        buttons: [
            //{ extend: 'print', className: 'btn default' },
            //{ extend: 'pdf', className: 'btn default' },
            //{ extend: 'csv', className: 'btn default' }
        ],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [10, 25, 50, 100],
            [10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/LNC/Maintain/loadAllLinesDataTable",
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" },
                        { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                },
                'async': false
            });
        },
        "columns": [
            {
                "ColName": "lnc1.Project",
                "name": "Project",
                "sClass": "center",
                "bSortable": false,
            },
            {
                "bSortable": false,
                "sClass": "hide",
            },
            {
                "bSortable": false,
                "sClass": "hide",
            },
            //{
            //    "sClass": "center",
            //},

            //{
            //    "sClass": "center",
            //},
            //{
            //    "sClass": "center",
            //},
            {
                "name": "Activity",
                "sClass": "center",
            },
            {
                "name": "Learning",
                "sClass": "center",
            },
            {
                "name": "PreventiveAction",
                "sClass": "center",
            },
            {
                "name": "RootCause",
                "sClass": "center",
            },
            {
                "name": "CorrectiveAction",
                "sClass": "center",
            },
            //{
            //    "bSortable": false,
            //    "sClass": "hide",
            //},
             //{
             //    "sClass": "hide attachment",
             //    //"name": "Attachment"
             //},
            {
                "bSortable": false,
                //"sClass": "center", // trying to highlight
                "sClass": "center",


                //"sWidth": "10%",
                /*"render": function (data, type, row, meta) {
                    var buttons = "";
                    var project = row[1].substring(0, row[1].indexOf('-')).trim();
                    var functionCall = "EditHeader(" + row[1] + ")";
                    if (row[11].trim().toLowerCase() == 'true')
                        buttons = '' +
                            '<center>' +
                                '<a onclick="ViewHeader(\'' + project + '\')" class="fa fa-eye" title="View Header" style="cursor:pointer;color:black" name="btnAction" id="btnView"></a>' +
                                '&nbsp;&nbsp;' +
                                '<a onclick="EditHeader(\'' + row[1] + '\')" class="fa fa-pencil-square-o" title="Edit Header" style="cursor:pointer;color:black" name="btnAction" id="btnEdit"></a>' +
                                '&nbsp;&nbsp;' +
                                '<i id="btnDelete" name="btnAction" Title="Delete Header" class="fa fa-trash-o "style="cursor:pointer;color:black" onclick="DeleteHeader(\'' + row[1] + '\')"></i>' +
                                '</center>';
                    else
                        buttons = '' +
                            '<center>' +
                                '<a onclick="ViewHeader(\'' + row[1] + '\')" class="fa fa-eye" title="View Header" style="cursor:pointer;color:black" name="btnAction" id="btnView"></a>' +
                            '</center>';
                    return buttons;
                }*/
            },
        ]
    });

    table.dtSearchFilter();
    function EditHeader(headerId) {
        window.location = WebsiteURL + '/LNC/Maintain/EditHeader?HeaderId=' + headerId;
    }

    function ViewHeader(headerId) {
        window.location = WebsiteURL + '/LNC/Maintain/ViewHeader?HeaderId=' + headerId;
    }


    function DeleteHeader(headerId) {
        bootbox.confirm("Are you sure want to delete header with it's lines ? ",
        function (result) {
            if (result) {
                $.ajax({
                    url: WebsiteURL + "/LNC/Maintain/DeleteHeader",
                    type: "POST",
                    data: { HeaderId: headerId },
                    success: function (res) {
                        if (res.Key == true) {
                            bootbox.alert(res.Value);
                        }
                        else {
                            bootbox.alert(res.Value);
                        }
                        $("#tblAllLines").DataTable().ajax.reload();
                    }
                });
            }
        })
    }
    function showAttachments(ctrl, lineid, view) {
        @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.FolderPath = "LNC002/" + lineid;
        objFileUploadLine.ShowDeleteAction = (view == false);
        objFileUploadLine.ShowAttachmentBtn = (view == false);
        objFileUploadLine.MaxFileUploadSizeInMB = 5;
        objFileUploadLine.Type = '@clsImplementationEnum.UploadType.Normal.GetStringValue()';
        objFileUploadLine.AllowFileExtension = "jpg,jpeg,pdf,png,doc,docx,xls,xlsx,ppt,pptx,xlsm";
        LoadFileUploadPartialView(objFileUploadLine);*@

        var objFile = {
            TableName: 'LNC002',
            TableId: lineid,
            Path: 'LNC002//' + lineid + '//1',
            ControlID: '@(FileUploadLineID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: (view == false),
            ShowDownloadBtn: false,
            ShowAttachmentBtn: (view == false),
            AllowFileExtension: ".jpg,.jpeg,.pdf,.png,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.xlsm",
            MaxFileUploadSizeInMB: 5
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUploadLineID)', true);
    }

</script>
<style>
    .hasattachment {
        color: #32CD32;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    LNC List
                </div>
                <div class="tools" id="dvExportHeader">
                    <div class="grid-filter" style="float:left; padding-right:5px; ">
                        Looking For :
                        <input type="text" id="highlight-text" style="border-radius: 25px !important;" class="form-control input-sm input-small input-inline" onkeyup="HighlightText(this.value)" />
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/LNC/Maintain/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportHeader" })
                </div>

            </div>
            <div class="portlet-body">

                <table id="tblAllLines" class="table table-striped table-bordered table-hover dt-responsive" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Project</th>
                            <th class="hide">LineId</th>
                            <th class="hide">HeaderId</th>
                            @*<th class="min-phone-l">Document</th>
                                <th class="min-phone-l">Customer</th>
                                <th class="min-phone-l">Job No.</th>*@
                            <th class="min-phone-l">Component / Activity</th>
                            <th class="min-phone-l">Description of Problem / Learning</th>
                            <th class="min-phone-l">Correction</th>
                            <th class="min-phone-l">Root Cause</th>
                            <th class="min-phone-l">Corrective Action</th>
                            <th class="hide" style="display:none">uploadedfiles</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="portlet light">
            <!-- START ADD LINE MODAL-->
            <div id="dv@(FileUploadLineID)"></div>
            <!-- END ADD LINE MODAL-->
        </div>
    </div>
</div>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlightText {
        color: red;
        background: yellow;
    }
</style>

<script>
    //function HighlightText(text) {
    //    var inputText = document.getElementById("highlight-text");
    //    var innerHTML = inputText.innerHTML;
    //    var index = innerHTML.indexOf(text);
    //    if (index >= 0) {
    //        innerHTML = innerHTML.substring(0, index) + "<span class='highlightText'>" + innerHTML.substring(index, index + text.length) + "</span>" + innerHTML.substring(index + text.length);
    //        inputText.innerHTML = innerHTML;
    //    }
    //}
    function HighlightText(txtsearch) {

        $('.highlightText').replaceWith($('.highlightText').html());

        var reg = new RegExp(txtsearch, "i");

        $("td:not(:last-child)", "#tblAllLines").each(function (idx, item) {
            //$(item).html($(item).html().replace(reg, "<span class='highlightText'>" + txtsearch + "</span>"));

            var innerText = $(item).html();
            //console.log(innerText);
            //$(item).html($(item).html().replace(reg, '<u>$&</u>'));
            //$(item).html("div:contains('John')td:.contains(txtsearch).css("background-color", "yellow"));
            $(item).html($(item).html().replace(reg, "<span class='highlightText'>" + txtsearch + "</span>"));
        });
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>