﻿
@{
    ViewBag.Title = "Maintain LNC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script>
    $(document).ready(function () {
        GetHeaderGridDataPartial('Headers');
        $('a[name="tabSelect"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });
    function GetHeaderGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        if (status == 'Headers') {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/LNC/Maintain/GetHeaderGridDataPartial",
                data: {},
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {

                    $("#portlet_comments_1").html(result);

                },
                error: function () {
                }
            });
        }
        else if (status == 'Lines') {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/LNC/Maintain/GetAllLinesGridDataPartial",
                data: {},
                datatype: 'html',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {
                    $("#portlet_comments_2").html(result);
                },
                error: function () {
                }
            });
        }
    }


</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                Learning Capture
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <a href="~/LNC/Maintain/AddHeader" class="btn green">Add New</a>
                        </div>
                    </div>
                </div>

                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabSelect" id="tabHeaders" spara="Headers" data-toggle="tab"> Headers </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabSelect" id="tabLines" spara="Lines" data-toggle="tab"> Lines </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">

                        </div>
                        <div class="tab-pane" id="portlet_comments_2">

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>





