﻿@using IEMQSImplementation
@using IEMQS.Areas.SSS.Controllers
@model SSS004
@{
    ViewBag.Title = "Welding Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadFinalHeaderID = "fuheaderfinaldoc";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <form id="frmWEInput">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                            <span class="page-title">Welding Input</span>
                            <input type="hidden" id="hdnid" />
                            @Html.HiddenFor(m => m.SSSId)
                            @Html.HiddenFor(m => m.WEId)
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning">
                            Status :  <span style="font-weight:bolder" id="spanStatus"> @Model.Status.Trim()</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="divSSSHeader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label" title="WE3 Employee">To<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="txtToPerson" name="txtToPerson" />
                                @Html.HiddenFor(m => m.ToPerson, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Expected date of Inputs<span class="required"> * </span></label>

                                <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                    @Html.TextBoxFor(m => m.TargetDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">From<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="txtFromPerson" name="txtToPerson" readonly />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Date<span class="required"> * </span></label>
                                @Html.TextBoxFor(m => m.SubmittedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label class="control-label">Design Code<span class="required"> * </span></label>
                                @Html.TextBoxFor(m => m.DesignCode, new { @class = "form-control", @maxlength = "200" })
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Other Requirements<span class="required"> * </span></label>
                                @Html.TextBoxFor(m => m.OtherRequirement, new { @class = "form-control", @maxlength = "1000" })
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Spec<span class="required"> * </span></label>
                                <input type="text" class="form-control" value="Refer Attached DIS for list of applicable specification." id="txtSpec" disabled />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        Process Data
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive " id="tblLines" cellspacing="0" style="width:100%;margin-top:20px;">
                                        <thead>
                                            <tr>
                                                <th class="all" style="width:5%;">Sr.No.</th>
                                                <th class="min-phone-l">Parameters</th>
                                                <th class="min-phone-l">Shell Side</th>
                                                <th class="min-phone-l">Tube Side</th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Design pressure (MPa)</td>
                                                <td>@Html.TextBoxFor(m => m.DesignPressureShell, new { @class = "form-control", @maxlength = "100" })</td>
                                                <td>@Html.TextBoxFor(m => m.DesignPressureTube, new { @class = "form-control", @maxlength = "100" })</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Design temperature (Deg C)</td>
                                                <td>@Html.TextBoxFor(m => m.DesignTemperatureShell, new { @class = "form-control", @maxlength = "100" })</td>
                                                <td>@Html.TextBoxFor(m => m.DesignTemperatureTube, new { @class = "form-control", @maxlength = "100" })</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Service requirement</td>
                                                <td>@Html.TextBoxFor(m => m.ServiceRequirementShell, new { @class = "form-control", @maxlength = "100" })</td>
                                                <td>@Html.TextBoxFor(m => m.ServiceRequirementTube, new { @class = "form-control", @maxlength = "100" })</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Fluid Circulated</td>
                                                <td>@Html.TextBoxFor(m => m.FluidCirculatedShell, new { @class = "form-control", @maxlength = "100" })</td>
                                                <td>@Html.TextBoxFor(m => m.FluidCirculatedTube, new { @class = "form-control", @maxlength = "100" })</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>MDMT (Deg C)</td>
                                                <td>@Html.TextBoxFor(m => m.MDMTShell, new { @class = "form-control", @maxlength = "100" })</td>
                                                <td>@Html.TextBoxFor(m => m.MDMTTube, new { @class = "form-control", @maxlength = "100" })</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @*@Html.Partial("_AttachmentPartial")*@
                            <div id="dv@(FileUploadFinalHeaderID)"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12" style="text-align:right">
                            <input type="button" class="btn submit" id="btnSubmit" value="Submit" style="display:none" />
                            <input type="button" class="btn save" id="btnSave" value="Save" />
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                        </div>
                    </div>
                </form>
                <div class="row" id="divtabs" style="display:none">
                    <div class="col-md-12">
                        <div class="portlet-title tabbable-line" id="tabs">
                            <ul class="nav nav-tabs" id="navWEInput">
                                <li class="active">
                                    <a name="tabWQCertificate" id="section1" spara="tab1" data-toggle="tab"> Cylindrical Shell </a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section2" spara="tab2" data-toggle="tab"> Cone </a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section3" spara="tab3" data-toggle="tab"> Dished End </a>
                                <li>
                                    <a name="tabWQCertificate" id="section4" spara="tab4" data-toggle="tab"> Nozzles </a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section5" spara="tab5" data-toggle="tab"> Tubesheet</a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section5" spara="tab6" data-toggle="tab"> Girth Flanges</a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section5" spara="tab7" data-toggle="tab"> Tubes</a>
                                </li>
                                <li>
                                    <a name="tabWQCertificate" id="section5" spara="tab8" data-toggle="tab"> Other Components</a>
                                </li>

                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="dvWETabs">
                                </div>
                                <div class="tab-pane WETabs" id="dvtab1"></div>
                                <div class="tab-pane WETabs" id="dvtab2"></div>
                                <div class="tab-pane WETabs" id="dvtab3"></div>
                                <div class="tab-pane WETabs" id="dvtab4"></div>
                                <div class="tab-pane WETabs" id="dvtab5"></div>
                                <div class="tab-pane WETabs" id="dvtab6"></div>
                                <div class="tab-pane WETabs" id="dvtab7"></div>
                                <div class="tab-pane WETabs" id="dvtab8"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script>
    var currenttab;
    var lstToEmployee = @Html.Raw(Json.Encode(@ViewBag.lstToEmployee));
    var RoleId='@ViewBag.RoleId';
    var Status='@Model.Status';

    $(document).ready(function () {
        LoadFileUploadFinalHeader();
        BindSSSHeader('@Model.SSSId');

        FillAutoComplete($('#txtToPerson'), lstToEmployee, $("#ToPerson"));
        //LoadTabWisePartial('@Model.SSSId', "tab1");

        $('#navWEInput').on('click', 'a', function () {
            $('.WETabs').html('');
            var spara = $(this).attr("spara");
            var formid = "#frm" + currenttab;
            LoadTabWisePartial($("#WEId").val(), spara);

            //if ($(formid).valid()) {
            //    var frmWPSHeaderValues = $(formid).serializeArray();
            //    SaveWQRCertificate(frmWPSHeaderValues, false, currenttab);
            //    LoadTabWisePartial($("#hdnid").val(), spara);
            //}
            //else {
            //    HighlightInValidControls();
            //    $("#dv" + currenttab).addClass("active");
            //    $("[spara=" + currenttab + "]").parent().addClass("active");
            //    $("#dv" + spara).removeClass("active");
            //    $("[spara=" + spara + "]").parent().removeClass("active")
            //    return false;
            //}

        });

        $('#frmWEInput').validate({
            rules: {
                txtToPerson:{
                    required: true,
                },
                TargetDate: {
                    required: true,
                },
                DesignCode: {
                    required: true,
                }
            },
            messages: {
                txtToPerson:{
                    required: "To Person Is Required",
                },
                TargetDate: {
                    required: "Target Date Is Required"
                },
                DesignCode: {
                    required: "Design Code Is Required"
                }
            }
        });

        $('.date-picker').datepicker({
            startDate: '+0d',
            orientation: "bottom auto",
            autoclose: true
        });
    });

    function LoadTabWisePartial(id, partialName) {
        var dvToloadPartial = partialName;

        $.ajax({
            type: "POST",
            url: WebsiteURL +"/SSS/InputForWE/LoadTabWisePartial",
            data: { id: id, partialName: partialName },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {

                $('#divtabs').show();
                currenttab = partialName;
                $(".tab-pane").removeClass("active");
                //$(".tab-pane").hide();
                $("#dv" + dvToloadPartial).addClass("active");
                //$("#" + dvToloadPartial).show();
                $("#dv" + dvToloadPartial).html(result);
            },
            error: function () {
            }
        });
    }

    function BindSSSHeader(SSSId) {
        $('#divSSSHeader').load(
            $.ajax({
                url: WebsiteURL +"/SSS/MaintainSSS/GetSSSHeaderDetails",
                type: "POST",
                data: { SSSId: SSSId, DisplayDSS: false },
                dataType: "html",
                //async:false,
                success: function (data) {
                    //console.log(data);
                    $('#divSSSHeader').html(data);
                }
            })
      );
    }
    if('@Model.WEId'>0){
        LoadTabWisePartial('@Model.WEId', "tab1");
        if('@Model.SubmittedBy'==""){
            $('#btnSubmit').show();
        }
        else{
            $('#btnSubmit').hide();
            DisableControlsInSubmitMode();
        }
    }
    if('@ViewBag.ToUserName'!=null){
        $('#txtToPerson').val('@ViewBag.ToUserName')
    }
    if('@ViewBag.FromUserName'!=null){
        $('#txtFromPerson').val('@ViewBag.FromUserName')
    }

    function DisableControlsInSubmitMode(){
        $('#DesignCode').prop("readonly","readonly");
        $('#OtherRequirement').prop("readonly","readonly");
        $('#DesignPressureShell').prop("readonly","readonly");
        $('#DesignPressureTube').prop("readonly","readonly");
        $('#DesignTemperatureShell').prop("readonly","readonly");
        $('#DesignTemperatureTube').prop("readonly","readonly");
        $('#ServiceRequirementShell').prop("readonly","readonly");
        $('#ServiceRequirementTube').prop("readonly","readonly");
        $('#FluidCirculatedShell').prop("readonly","readonly");
        $('#FluidCirculatedTube').prop("readonly","readonly");
        $('#MDMTShell').prop("readonly","readonly");
        $('#MDMTTube').prop("readonly","readonly");
    }

</script>

<script>

    $('#btnSave').click(function () {
        if ($("#frmWEInput").valid()) {
            Save();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });

    $('#btnSubmit').click(function () {
        if ($("#frmWEInput").valid()) {
            SubmitWE();
        }
        else {
            HighlightInValidControls();
            return false;
        }
    });
    function Save() {
        //var frmAddSSS = $("#frmWEInput").serializeArray();
        //var formdata = new FormData();
        //if (frmAddSSS != null && frmAddSSS != undefined) {
        //    $.each(frmAddSSS, function (key, input) {
        //        formdata.append(input.name, input.value);
        //    });
        //}

        //var attch = [];
        //$('#tblAttach').find(".attach").each(function(){
        //    attch.push({Key: this.id, Value: $(this).val()})
        //});
        //var hasAttch=false;
        //if(attch.length > 0)
        //    hasAttch = true;

        $.ajax({
            url: WebsiteURL +"/SSS/InputForWE/SaveWEInput",
            //data: formdata,
            data:{
                SSSId:$("#SSSId").val(),
                ToPerson:$("#ToPerson").val(),
                TargetDate:$("#TargetDate").val(),
                DesignCode:$("#DesignCode").val(),
                OtherRequirement:$("#OtherRequirement").val(),
                DesignPressureShell:$("#DesignPressureShell").val(),
                DesignPressureTube:$("#DesignPressureTube").val(),
                DesignTemperatureShell:$("#DesignTemperatureShell").val(),
                DesignTemperatureTube:$("#DesignTemperatureTube").val(),
                ServiceRequirementShell:$("#ServiceRequirementShell").val(),
                ServiceRequirementTube : $("#ServiceRequirementTube").val(),
                FluidCirculatedShell : $("#FluidCirculatedShell").val(),
                FluidCirculatedTube : $("#FluidCirculatedTube").val(),
                MDMTShell : $("#MDMTShell").val(),
                MDMTTube : $("#MDMTTube").val(),
                WEId:  $('#WEId').val(),
                //hasAttachments: hasAttch,
                //Attach: attch
            },
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            //contentType: false,
            //processData: false,
            success: function (res) {
                if (res.Key == true) {
                    $('#WEId').val(res.HeaderId);
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    UpdateFolderPathAndSave@(FileUploadFinalHeaderID)("SSS004/" + parseInt(res.HeaderId));
                    $('#divtabs').show();
                    LoadTabWisePartial($('#WEId').val(), "tab1");
                    if($('#spanStatus').html().trim()=='@IEMQS.Areas.SSS.Controllers.SSSStatus.Draft.GetStringValue()'){
                        $('#btnSubmit').show();
                    }
                }
                else {
                    setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 2000);
                }
            },
            error: function () { },
        });
    }

    function LoadFileUploadFinalHeader() {

        var UploadPath = "";
        if ('@Model.WEId' > 0) {
            UploadPath = "SSS004/@Model.WEId";
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(FileUploadFinalHeaderID)', '@FileUploadFinalHeaderID');
        objFileUploadFinalHeader.ShowDeleteAction = true;
        objFileUploadFinalHeader.ShowAttachmentBtn = true;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.IsRequired = true;
        objFileUploadFinalHeader.ShowUploadBtn = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);
    }

    function SubmitWE() {
        $.ajax({
            url: WebsiteURL +"/SSS/InputForWE/SubmitWE",
            type: "POST",
            datatype: "json",
            data: { WEId: $('#WEId').val() },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.DE)'){
                        window.location.href=WebsiteURL +"/SSS/InputForWE/IndexDE"
                    }
                    else if(RoleId=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.WE)'){
                        window.location.href=WebsiteURL +"/SSS/InputForWE/IndexWE"
                    }

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
                alert("error");
                response = "";
            }
        });
    }


    if('@ViewBag.RoleId'=='@Convert.ToInt32(IEMQS.Areas.SSS.Controllers.RoleForSSS.WE)'){
        $('#frmWEInput input[type="text"],textarea').prop("disabled", "disabled");
        $('#btnSubmit').hide();
        $('#btnSave').hide();
    }
    $('#btnClose').click(function(){
        if('@ViewBag.RoleId'=='@Convert.ToInt32(RoleForSSS.DE)'){
            window.location.href=WebsiteURL +"/SSS/MaintainSSS/AddSSS?id="+@Model.SSSId+"&RoleId="+'@Convert.ToInt32(RoleForSSS.DE)';
        }
        if('@ViewBag.RoleId'=='@Convert.ToInt32(RoleForSSS.WE)'){
            window.location.href=WebsiteURL +"/SSS/InputForWE/IndexWE"
        }
    });
    @*if('@Model.WEId'>0){
        setAttachmentsInHeader("SSS004/"+'@Model.WEId');
    }*@
</script>