﻿@using IEMQSImplementation
@model PRL050
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<style>

    .FormTable .noRightBorder {
        border-right-color: #fff;
    }

    .spnClass {
        float: left;
        text-align: center;
    }

    .inlinetextarea {
        height: 33px !important;
        text-align: center;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">WELD VISUAL & DIMENSION REPORT FOR SPOOL TYPE-1</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvLinkageHeader" class="dvDisable" style="padding:1%">
                    <form id="frmProtocol011Header" class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="FormTable tblNotes">
                                    <tr>
                                        <td class="subtitle"> PROJECT NO.</td>
                                        <td> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle"> DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> PROJECT DESCREPTION</td>
                                        <td> @ViewBag.ProjectDesc</td>
                                        <td class="subtitle"> SEAM NO.</td>
                                        <td>@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> EQPT.NO.</td>
                                        <td>@Html.DisplayFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        <td class="subtitle">INSPECTION AGENCY</td>
                                        <td>@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DRG.NO.& REV.NO.</td>
                                        <td>
                                            <span style="float:left;padding: 0px 0px !important;">@Html.DisplayFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                            &
                                            <span style="float:right;padding: 0px 0px !important;"> @Html.DisplayFor(m => m.DrawingRevisionNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                        </td>
                                        <td class="subtitle">MANUFACTURING CODE</td>
                                        <td>@ViewBag.ManufacturingCode</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> DCR NO.IF APPLICABLE</td>
                                        <td>@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                        <td class="subtitle">OFFER DATE</td>
                                        <td>
                                            @Html.DisplayFor(m => m.OfferDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr>
                                </table>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProtocolNo, new { @role = "QC", @class = "form-control col-md-3", @maxLength = "50" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="FormTable">

                                    <tr>
                                        <td colspan="3" class="title">BOLT HOLES STRADDLED FOR TOP FLANGE </td>
                                        <td colspan="2" class="title">BOLT HOLES STRADDLED FOR BOTTOM FLANGE</td>
                                        <td class="title">WELDER STAMP PUNCH</td>
                                        <td class="title">SEAM NO. PUNCH </td>
                                        <td class="title">TEMP. ATTACH. REMOVED & GROUNDED </td>
                                        <td colspan="2" class="title">TILTING OF TOP FLANGE</td>
                                        <td colspan="2" class="title">TILTING OF BOTTOM FLANGE </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" rowspan="2">@Html.TextBoxFor(m => m.BoltHolesStraddledForTopFlange, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                        <td colspan="2" rowspan="2">@Html.TextBoxFor(m => m.BoltHolesStraddledForBottomFlange, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                        <td rowspan="4">@Html.TextBoxFor(m => m.WelderStampPunch, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                        <td rowspan="4">@Html.TextBoxFor(m => m.SeamNoPunch, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                        <td rowspan="4">@Html.TextBoxFor(m => m.TempAttachRemovedGrounded, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                        <td colspan="2" class="subtitle">TOL </td>
                                        <td colspan="2" class="subtitle">TOL </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            @Html.TextBoxFor(m => m.TiltingOfTopFlangeTol, new { @class = "form-control col-md-12", @maxlength = "25", @role = "QC" })
                                        </td>
                                        <td colspan="2">
                                            @Html.TextBoxFor(m => m.TiltingOfBottomFlangeTol, new { @class = "form-control col-md-12", @maxlength = "25", @role = "QC" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">TOL.</td>
                                        <td colspan="2">@Html.TextBoxFor(m => m.BoltHolesStraddledForTopFlangeTol, new { @class = "form-control col-md-12", @role = "QC", @maxlength = "25", })</td>
                                        <td class="subtitle">TOL.</td>
                                        <td>@Html.TextBoxFor(m => m.BoltHolesStraddledForBottomFlangeTol, new { @class = "form-control col-md-12", @role = "QC", @maxlength = "25", })</td>
                                        <td colspan="2" class="subtitle">
                                            ACTUAL
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            ACTUAL
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="subtitle">ACTUAL</td>
                                        <td colspan="2">@Html.TextBoxFor(m => m.BoltHolesStraddledForTopFlangeAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "25", })</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td>@Html.TextBoxFor(m => m.BoltHolesStraddledForBottomFlangeAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "25", })</td>
                                        <td colspan="2">
                                            @Html.TextBoxFor(m => m.TiltingOfTopFlangeAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "25", })
                                        </td>
                                        <td colspan="2">
                                            @Html.TextBoxFor(m => m.TiltingOfBottomFlangeAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "25", })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="title">
                                            <span class="spnClass"> REQ.ORIENTATION OF TOP FLANGE CENTER </span> @Html.TextBoxFor(m => m.ReqOrientationOfTopFlangeCenter, new { @class = "form-control col-md-12", @style = "width:129px !important", @role = "QC", @maxlength = "25", }) <span class="spnClass">( CIRC DIST FROM 0° )</span>
                                        </td>
                                        <td colspan="3" class="title">
                                            ELEVATION OF TOP FLANGE CENTER FROM BOTTOM FACE OF BOTTOM FLANGE
                                        </td>

                                        <td colspan="3" class="title">
                                            PROJECTION FROM SPOOL CENTER TO TOP FACE OF TOP FLANGE
                                        </td>
                                        <td colspan="2" class="title">
                                            ALL PARTS ARE ATTACHED TO SPOOL
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="subtitle">
                                            REQ.
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            ACTUAL
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            REQ.
                                        </td>
                                        <td class="subtitle">
                                            ACTUAL
                                        </td>
                                        <td class="subtitle">
                                            REQ.
                                        </td>
                                        <td colspan="2" class="subtitle">
                                            ACTUAL
                                        </td>
                                        <td rowspan="2" colspan="2">
                                            @Html.TextBoxFor(m => m.AllPartsAreAttachedToSpool, new { @class = "form-control col-md-12", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">@Html.TextBoxFor(m => m.ReqOrientationOfTopFlangeCenterReq, new { @class = "form-control col-md-12", @role = "QC", @maxlength = "50" })</td>
                                        <td colspan="2">@Html.TextBoxFor(m => m.ReqOrientationOfTopFlangeCenterAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "50" })</td>
                                        <td colspan="2">@Html.TextBoxFor(m => m.ElevationReq, new { @class = "form-control col-md-12", @role = "QC", @maxlength = "50" })</td>
                                        <td>@Html.TextBoxFor(m => m.ElevationAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "50" })</td>
                                        <td>@Html.TextBoxFor(m => m.ProjectionReq, new { @class = "form-control col-md-12", @role = "QC", @maxlength = "50" })</td>
                                        <td colspan="2">@Html.TextBoxFor(m => m.ProjectionAct, new { @class = "form-control col-md-12", @role = "PROD", @maxlength = "50" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="noBottomBoder noRightBorder">
                                            &nbsp;
                                        </td>
                                        <td colspan="3" class="noBottomBoder noRightBorder">
                                            <span class="spnClass"><b>REQ.</b></span>@Html.TextBoxFor(m => m.DiagramReq, new { @class = "form-control col-md-12", @style = "width:200px !important", @role = "QC", @maxlength = "25" })
                                        </td>
                                        <td colspan="4" class="noBottomBoder">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="noBottomBoder noRightBorder noTopBoder">
                                            &nbsp;
                                        </td>
                                        <td colspan="3" class="noBottomBoder noRightBorder noTopBoder">
                                            <span class="spnClass"><b>ACT.</b></span>@Html.TextBoxFor(m => m.DiagramAct, new { @class = "form-control col-md-12", @style = "width:200px !important", @role = "PROD", @maxlength = "25" })
                                        </td>
                                        <td colspan="4" class="noBottomBoder noTopBoder">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="noTopBoder noRightBorder"></td>
                                        <td class="noTopBoder" colspan="10" rowspan="2">
                                            <img style="width: 51%;" src="~/Images/Protocol11_1.png" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td class="title" colspan="12" style="text-align: left;"> Remarks:</td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder"><span class="spnClass"> 1) PROCEDURE NO: </span>@Html.TextBoxFor(m => m.Note1, new { @style = "width:30% !important;", @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder"> <span class="spnClass">2) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.</span> </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass">  3) L&T STAMP AVILABLE ON IDENTIFICATION: </span>@Html.TextBoxFor(m => m.Note3, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass">
                                                4) VISUAL INSPECTION CARRIED OUT AND FOUND SATISFACTORY :
                                            </span>@Html.TextBoxFor(m => m.Note4, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass">5) CALIBRATED TAPE NO.:  </span>@Html.TextBoxFor(m => m.Note5, new { @class = "form-control col-md-12", @style = "width:30% !important;", @maxLength = "50", @role = "PROD" })
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder textleft">
                                            <span style="display: inline-block;vertical-align: middle;margin-top: -40px;margin-left: 91px;">
                                                CAL.DATE :
                                            </span>
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" style="display: inline-block;">
                                                @Html.TextBoxFor(m => m.Note5Date, "{0:dd/MM/yyyy}", new { @class = "form-control  inlinetextbox", @readonly = "readonly", style = "width:200px !important;", @role = "PROD" })
                                                <span class="input-group-btn" style="float: left;top: -5px;">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass">
                                                6) SKETCH FOR TEMPORARY SUPPORT PROVIDED:
                                            </span>@Html.TextBoxFor(m => m.Note6, new { @class = "form-control col-md-12 w100", @maxLength = "5", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass"> 7) THE LEVEL OF SPOOL WITHIN 1 MM IS ENSURED ? :</span>@Html.TextBoxFor(m => m.Note7, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass">
                                                8) THE GASKET PROTECTION COVER IS PROVIDED :
                                            </span>@Html.TextBoxFor(m => m.Note8, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noBottomBoder noTopBoder">
                                            <span class="spnClass">
                                                9) PWHT HEAT TREATMENT IS COMPLETED IF ANY :
                                            </span>@Html.TextBoxFor(m => m.Note9, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="noTopBoder">
                                            <span class="spnClass">
                                                10) DIMENSION AND PROFILE OF SPOOL IS VERIFIED ON LAYOUT :
                                            </span>@Html.TextBoxFor(m => m.Note10, new { @class = "form-control col-md-12 w100", @role = "PROD" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                    <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var userRole = '@ViewBag.UserRole.ToString()';

    $(document).ready(function () {
        $('#txtHeaderId').val(parseInt('@ViewBag.HeaderId'));
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstYesNoNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));

        FillProtocolAutoComplete($('#BoltHolesStraddledForTopFlange'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#BoltHolesStraddledForBottomFlange'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#WelderStampPunch'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#SeamNoPunch'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#TempAttachRemovedGrounded'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#AllPartsAreAttachedToSpool'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note4'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note6'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note7'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note8'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note9'), lstYesNoNA, null, false);
        FillProtocolAutoComplete($('#Note10'), lstYesNo, null, false);


        var isEdit = '@ViewBag.isEditable';
        if (isEdit.toLowerCase() == "true") { $('div.dvDisable :input').prop('disabled', false); $("#btnSave").show(); }
        else {
            $('div.dvDisable :input').prop('disabled', true);
            $('div.dvDisable a').not('#btnPrint').hide();
            $("#btnSave").hide();
        }

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole)
        parameterList.push({ id: "headerId", value: $('#txtHeaderId').val() });

        $("#frmProtocol011Header").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $("#btnSave").click(function () {
             @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="PROD"]').prop("required", true);</text>
             }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="QC"]').prop("required", true);</text>
             }
            SaveProtocolHeaderData("frmProtocol011Header", $('#txtHeaderId').val(), "/PROTOCOL/Protocol011/SaveProtocolHeaderDataLinkage", userRole);
        });
        $("#btnPrint").click(function () {
            PrintReport("/IPI/Protocol/PROTOCOL011", $('#txtHeaderId').val());
        });
    });



</script>
