﻿@using IEMQSImplementation
@model PTR002
@{
    ViewBag.Title = "PTRHTLineDetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <fieldset>
                                <legend>Project Details</legend>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project No
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, null, new { @class = "form-control", @readonly = "readonly" })
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                BU
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Location
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Revision Number
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RevNo, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                PTR No
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PTRNo, null, new { @class = "form-control", @readonly = "readonly" })
                                                @*add this for readonly display mode-> [, @readonly = "readonly"]*@
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </fieldset>
                            <fieldset>
                                <legend>HT Line Details</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Coupon No
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouponNo, null, new { @class = "form-control", @readonly = "readonly" })
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Coupon ID
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CouponID, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType1, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C)
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp1, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs)
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime1, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType2, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp2, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 2
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime2, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 3
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType3, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 3
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp3, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 3
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime3, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 4
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType4, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 4
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp4, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 4
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime4, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 5
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType5, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                       

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C)  5
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp5, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 5
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime5, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Type 6
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTType6, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Temp (°C) 6
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTemp6, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                HT Time (Hrs) 6
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.HTTime6, null, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            @Html.HiddenFor(m => m.LineId)
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4" style="text-align:right;margin-top:30px;">
                                        @*<button class="btn green" type="submit" style="float: right;" id="btnSubmit">Save</button>*@
                                        <button class="btn green" style="float: right;display:none;" type="button" id="btnAdd">Add Details</button>
                                        @*@{
                                                if (Model.Status.ToLower() == "approved" || Model.PTRRev > 0)
                                                {
                                                    <button class="btn green" style="margin-right:5px;" type="button" id="btnHistoryData">History</button>
                                                }
                                            }
                                            @if (Model.Status == "Approved")
                                            {
                                                <button class="btn green" style="margin-right:5px;" type="button" id="btnCopyData">Copy</button>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

