﻿@using IEMQSImplementation
@model PTR001
@{
    ViewBag.Title = "PTRHTDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>

<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
<script>

    $(document).ready(function () {
        var HeaderId = @ViewBag.HeaderId;
        GetHTDetailGridDataPartial(HeaderId);

        //$("#BtnAddNew").bind("click", function () {
        //    if (0==1) {
        //        //createRevision(0);
        //    }
        //    else {

        //        HeaderId= $('#HeaderId').val();
        //        //BU = $('#BU').val();
        //        //location = $('#Location').val();
        //        //ptr = $("#PTRNo").val();
        //        //revno = $("#RevNo").val();
        //        LineId = 0;
        //        getPTRDetails(HeaderId);
               
        //    }
        //});
        //    $("#BtnAddNew").click(function () {
        //        $("#portlet-partial").empty();
        //        $.ajax({
        //            type: "POST",
        //            url: '/PTR/ApprovedPTR/PTRHTLineDetails',
        //            dataType: 'html',
        //            data: { status: status },
        //            async: false,
        //            //beforeSend: function () {
        //            //    showLoading(true);
        //            //},
        //            //complete: function () {
        //            //    showLoading(false);
        //            //},
        //            success: function (data) {
        //                $('#portlet-partial').html(data);
        //            }
        //        });
        //    });
        });
    function GetHTDetailGridDataPartial(HeaderId) {
            $("#portlet_comments_1").empty();
            $.ajax({
                type: "POST",
                url: "/PTR/ApprovedPTR/GetHTDetailGridDataPartial",
                datatype: 'html',
                async: false,
                //beforeSend: function () {
                //    showLoading(true);
                //},
                //complete: function () {
                //    showLoading(false);
                //},
                data: { HeaderId: HeaderId },
                success: function (result) {

                    $("#portlet_comments_1").html(result);

                },
                error: function () {
                }
            });
        }
        //pop up for add lines
    //function getPTRDetails(HeaderId) {     

    
    //        $.ajax({
    //            type: "POST",
    //            url: "/PTR/ApprovedPTR/PTRHTLineDetails",
    //            datatype: 'html',
    //            async: false,
    //            data: { HeaderId: HeaderId },
    //            success: function (result) {
    //                bootbox.dialog({
    //                    title: 'PTR HT Line Details',
    //                    message: result,
    //                    size: 'large',
    //                    buttons: {
    //                    'confirm': {
    //                        label: 'Save',
    //                        className: 'btn green',
    //                        callback: function () {
    //                            if ($("#frmMaintainDeatils").valid()) {
    //                                var formData = new FormData();
    //                                var frmValues = $('#frmMaintainDeatils').serializeArray();
    //                                $.each(frmValues, function (key, input) {
    //                                    formData.append(input.name, input.value);
    //                                });
    //                                $.ajax({
    //                                    url: '/PTR/ApprovedPTR/SavePTRLines',
    //                                    data: formData,
    //                                    contentType: false,
    //                                    processData: false,
    //                                    type: 'POST',
    //                                    async: false,
    //                                    beforeSend: function () {
    //                                        showLoading(true);
    //                                    },
    //                                    complete: function () {
    //                                        showLoading(false);
    //                                    },
    //                                    success: function (data) {
    //                                        if (data.Key) {
    //                                            DisplayNotiMessage("success", data.Value, "Success");
    //                                            //$("#Project").attr("disabled", true);
    //                                            //$("#btnSend").show();
    //                                            //loadData($("#HeaderId").val());
    //                                            //fnCheckbox();
    //                                            //$("#hdnDepartment").val(data.Department);
    //                                            //$("#line_chkAll").show();
    //                                            //$('#spnStatus').text(data.Status);
    //                                            //$('#txtCTQRev').text(data.CTQRev);
    //                                            // ClearAll();
    //                                        }
    //                                        else {
    //                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
    //                                        }
    //                                    }
    //                                });
    //                            }
    //                            else {
    //                                return false;
    //                            }
    //                        }
    //                    },
    //                    'cancel': {
    //                        label: 'Cancel',
    //                        className: 'btn green'
    //                    }
    //                }

    //                });
    //            },
    //            error: function () {
    //            }
    //        });
    //    }



</script>
<div class="page-content">
    @*<h1 class="page-title">
        Critical To Quality
        <small></small>
    </h1>
    <br />*@
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div style="height:50px;" class="mt-element-ribbon bg-grey-steel">
                        <div class="ribbon ribbon-left " style="background-color:transparent !important">
                            <span class="page-title">HT Details</span>
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning ">
                            <b>Status :<span id="spnStatus">@Html.DisplayFor(m => m.Status)</span></b>
                        </div>
                        <p class="ribbon-content"></p>
                    </div>
                    <div class="caption">
                        <i class="icon-bubbles font-dark hide"></i>
                        
                        @*<span class="caption-subject font-dark bold">HT Details</span>*@
                    </div>
                    @*<ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>*@
                </div>
                <fieldset>
                    <legend>Project Detail</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">
                                    Project No
                                    <span class="required"> * </span>
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(m=>m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    BU
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(m=>m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    Location
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(m=>m.Location, null, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    Revision Number
                                </label>
                                <div class="">
                                    @Html.TextBoxFor(m=>m.RevNo, null, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                       </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">
                                        PTR No
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="">
                                        @Html.TextBoxFor(m=>m.PTRNo, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    <div id="hiddenfields">
                        @Html.TextBoxFor(m => m.HeaderId, new { @class = "form-control", @style = "Display:none", @readonly = "readonly" })
                    </div>
                </fieldset>
                
                <div class="col-md-12" style="text-align:right">
                    @*<button type="button" id="BtnAddNew" style="float: right;" class="btn green">Add Lines</button>*@
                </div>
                <div class="portlet-body">

                </div>
            </div>

        </div>
  </div>
    <div class="portlet-body" id="portlet-partial">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_comments_1">

            </div>

        </div>
    </div>
    </div>
   



<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
