﻿@model IEMQSImplementation.TVL010
@using IEMQSImplementation
@{
    ViewBag.Title = "Traveler Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight:hover {
            background-color: #aaed7a !important;
        }
</style>


<script type="text/javascript">

    var isSelected = false;
    var Projectno;
    var qmspLocation;
    var qmspBU;
    var qmsCustomer;
    var HeaderId = $("#HeaderId").val();

    var Remarkssize = '@ViewBag.Returnremarkssize';

    $(document).ready(function () {
        var dept = '@ViewBag.UserRole';
        if (dept == "PLNG1" || dept == "PLNG2" || dept == "PLNG3") {
            $("#tabRelese").show();
        }
        else {
            $("#tabRelese").hide();
        }

        HeaderId = $("#HeaderId").val();
        if (parseInt(HeaderId) > 0) {
            $("#txtProject").val('@Html.Raw((String)Model.ProjectNo)');
            $("#txtProject").prop("readonly", "readonly");
            $("#dvTravelerHeaderData").show();
            Projectno = '@Html.Raw((String)Model.ProjectNo)';
            qmspLocation = '@Html.Raw((String)Model.Location)';
            qmspBU = '@Html.Raw((String)Model.BU)';
            qmsCustomer = '@Html.Raw((String)Model.Customer)';
            $("#BU").val('@Html.Raw((String)ViewBag.BU)');
            $("#Location").val('@Html.Raw((String)ViewBag.Location)');
            BindTravelerHeaderList("Pending", Projectno, qmspLocation, qmspBU, qmsCustomer);
            TravellerProjectChange(Projectno, "edit");
        }
        else {
            $("#BU").val('@ViewBag.BU');
            $("#Location").val('@ViewBag.Location');
            //LoadSelect2DropDownIdenProj("/LTFPS/MaintainLTFPS/GetIdenticalProjects", $('#IdenticalProject'), "--Select Identical Project--", '','','');
            $("#txtProject").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL +"/Utility/General/GetTravelerProjects",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Value, value: item.Value, id: item.Value };
                            }));
                            if (data.length > 0) {
                                isSelected = true;
                            }
                            else {
                                isSelected = false;
                            }
                        }
                    });
                },
                minLength: 0,
                autoFocus: true,
                select: function (event, ui) {
                    if (ui.item) {
                        isSelected = true;
                        var strProjectDesc = ui.item.value;
                        var spltProjectDesc = strProjectDesc.split("-");
                        var projectcode = spltProjectDesc[0].trim();
                        $("#txtProject").val(strProjectDesc);
                        $("#ddlProject").val(ui.item.id);
                        Projectno = ui.item.id;
                        TravellerProjectChange($("#ddlProject").val(), "add");

                    }
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }

                }
            }).on('focus', function (event) {
                var self = this;
                $(self).autocomplete("search", this.value);
            });
        }


        $('a[name="tabStatus"]').click(function () {
            BindTravelerHeaderList($(this).attr('spara'), Projectno, qmspLocation, qmspBU, qmsCustomer);
        });


    });


    function TravellerProjectChange(Projectno, action) {
        $.ajax({
            url: WebsiteURL+"/TVL/MaintainTraveler/GetTravellerProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { Prjno: Projectno },
            success: function (data) {

                if (action.toLowerCase() != "edit") {
                    $("#ProjectDescription").val(data.projectDescription);
                    $("#BU").val(data.BUDescription);
                    $("#Location").val(data.LocationDescription);
                    $("#Customer").val(data.Customer);

                    Projectno = Projectno;
                    qmspBU = data.BUCode;
                    qmspLocation = data.LocationCode;


                    $("#dvTravelerHeaderData").show();
                    BindTravelerHeaderList('Pending', Projectno, qmspLocation, qmspBU, qmsCustomer);
                }
                else
                {

                }


            },
            error: function () {
        }
        });
    }
    function LoadSelect2DropDownIdenProj(url, objControl, placeHolder, condParam, project, location) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: url,
                type: "POST",
                dataType: 'json',
                data: function (params) {

                    var query = {
                        search: params.term,
                        page: params.page,
                        param: condParam,
                        project: project,
                        location: location
                    }

                    // Query paramters will be ?search=[term]&page=[page]
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
    function LoadSelect2OnEdit(strIdentical) {
        var arrProj;
        var res = new Array();
        if (strIdentical.length > 0) {
            arrProj = strIdentical.split(',');
        }
        return arrProj;
    }
    function BindTravelerHeaderList(status, Projectno, location, bu, customer) {

        $("#close").hide();
        $("#Traveler_Header_Pending").empty();
        $("#Traveler_Header_Relese").empty();
        $("#Traveler_Header_All").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/Maintaintraveler/GetTravelerHeaderDataPartial",
            data: { Status: status, Projectno: Projectno, Location: location, BU: bu, Customer: customer },
            datatype: 'html',
           
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {

                if (status == "Pending") {
                    $("#Traveler_Header_Pending").html(result);
                }
                else if (status == "Release") {
                    $("#Traveler_Header_Relese").html(result);
                }
                else {
                    $("#Traveler_Header_All").html(result);
                }
            },
            error: function () {
            }
        });
    }

    var strHtml = "<scr" + "ipt>$(document).ready(function(){"

               + "$('#uploadForm').validate({"
               + " rules: {"
               + "upload: {"
               + "required: true,"
               + "},"
               + "messages: {"
               + "upload: {"
               + "required: 'Attachment is required'"
               + "}"
               + "}"
                + "}"
               + "});"
               + "});</scr" + "ipt>"
               + " <div>"
               + "<form method='post' id='uploadForm' enctype = 'multipart/form-data' class='form-horizontal' action=''>"
               + "<div class='form-group'>"
               + "<div class='col-md-12'>"
               + "<input type='hidden' id='aProjectDescription' name='aProjectDescription'/>"
               + "<input type='hidden' id='aCustomer' name='aCustomer'/>"
               + "<input type='hidden' id='aProject' name='aProject' />"
               + "<input type='hidden' id='aBU' name='aBU' />"
               + "<input type='hidden' id='aLocation' name='aLocation'/>"
               + "<div class=''>"
               + "<input type='file' class='btn green' required='required' id='upload' name='upload' />"
               + "</div>"
               + "</div>"
               + "</div>"
               + "</form>"
               + "</div>";


    function ImportExcel() {

            bootbox.confirm({
                message: strHtml,
                buttons: {
                    confirm: {
                        label: 'Upload',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Close',
                        className: 'btn btnclose'
                    }

                },
                callback: function (result) {
                    if (result) {
                        if ($('#uploadForm').valid()) {
                            $("#aProjectDescription").val($("#ProjectDescription").val());
                            $("#aProject").val($("#ddlProject").val());
                            $("#aBU").val($("#BU").val());
                            $("#aLocation").val($("#Location").val());
                            $("#aCustomer").val($("#Customer").val());
                            var frmHeaderValues = $("#uploadForm").serializeArray();
                            var formdata = new FormData();
                            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                $.each(frmHeaderValues, function (key, input) {
                                    formdata.append(input.name, input.value);
                                });
                                formdata.append('upload', $('input[type=file]')[0].files[0]);
                            }
                            $.ajax({
                                url: WebsiteURL + "/TVL/MaintainTraveler/ImportExcel",
                                type: "POST",
                                datatype: 'json',
                                //enctype: 'multipart/form-data',
                                contentType: false,
                                processData: false,
                                data: formdata,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblTravelerHeader').DataTable().ajax.reload();
                                        $("#dvLTFPSLines").hide();
                                        //QualityProjectChange($("#ddlQualityProject").val());
                                    }
                                    else {
                                        if (data.Value == "Error") {
                                            window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                            DisplayNotiMessage("error", "Please check error file", "Error");
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    }
                                },
                                error: function () {
                                    return false;
                                }
                            });
                            return true;

                        }
                        else {
                            return false;
                        }
                    }
                }
            });

    }




    function SaveTravellerHeader() {

        if ($("#frmTravellerHeader").valid()) {
            var frmHeaderValues = $("#frmTravellerHeader").serializeArray();

            var formdata = new FormData();

            if (frmHeaderValues != null && frmHeaderValues != undefined) {

                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });

                $.ajax({
                    url: WebsiteURL + "/TVL/MaintainTraveler/SaveTravellerHeader",
                    type: "POST",
                    data: formdata,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    contentType: false,
                    processData: false,
                    success: function (res) {

                        if (res.Key && res.HeaderId > 0) {
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");

                    },
                    error: function (data) { }
                });
            }
        }

    }

    function HistoryTraveler(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TVL/MaintainTraveler/GetHistoryDataPartial",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'Traveler History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }



</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvLTFPSHeader" style="padding:1%">
                    @*<div class="row" style="text-align:right">
                            <div class="col-md-12">
                                @using (Html.BeginForm("ImportExcel", "MaintainLTFPS", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
                                {   @Html.HiddenFor(m => m.HeaderId)
                                    <div class="col-md-8">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="file" class="btn green" id="dataFile" name="upload" />
                                    </div>
                                    <div class="col-md-1">
                                        <input type="submit" name="btnUpload" class="btn blue" value="Upload" />
                                    </div>
                                }
                            </div>
                        </div>*@

                    <form id="frmTravellerHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Project No<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtProject" name="txtQualityProject" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ProjectNo, new { @id = "ddlProject" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project Descrption</label>
                                            @Html.TextBoxFor(m => m.ProjectDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @*@Html.HiddenFor(m => m.ProjectDescription, new { @id = "hdnProject" })*@
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Customer</label>
                                            @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @*@Html.HiddenFor(m => m.Customer, new { @id = "hdnCustomer" })*@
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @*@Html.HiddenFor(m => m.BU, new { @id = "hdnBU" })*@
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @*@Html.HiddenFor(m => m.Location, new { @id = "hdnLocation" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:right;margin-top:3%">
                                            <a href='@Url.Action("Index","MaintainTraveler")' id="close" class="btn btnclose"> Close</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="portlet light" id="dvTravelerHeaderData" style="display:none;">

                            <div class="portlet-title tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#Traveler_Header_Pending" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                    </li>
                                    <li>
                                    <a href="#Traveler_Header_Relese" name="tabStatus" id="tabRelese" spara="Release" data-toggle="tab"> Release </a>
                                    </li>
                                    <li>
                                        <a href="#Traveler_Header_All" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="Traveler_Header_Pending">

                                    </div>
                                    <div class="tab-pane" id="Traveler_Header_Relese">

                                    </div>
                                    <div class="tab-pane" id="Traveler_Header_All">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



