﻿
@using IEMQSImplementation
@Styles.Render("~/Content/Datatable/css")

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    @{
                        string strHeaderTitle = "Timeline - " + ViewBag.CFARNo;
                    }
                    @strHeaderTitle
                </div>
                <div class="tools" id="dvExportHeader">
                    
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" id="tblCFARTimeline" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Action</th>
                            <th class="all">Action By</th>
                            <th class="all">Action On</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")
<script>
    $(document).ready(function () {

        var table = $('#tblCFARTimeline');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [2, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 25,
            'iDisplayLength': 25,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CFAR/MaintainCFAR/LoadTimelineDataGrid",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "Status", "value": '@ViewBag.CFARNo' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                        {
                            "sClass": "center",
                            "name": "Action"
                        },
                        {
                            "sClass": "center",
                            "name": "ActionBy"
                        },
                        {
                            "sClass": "center",
                            "name": "ActionOn"
                        }
            ]
        });
    });

</script>
