﻿
@using IEMQSImplementation
@model PCL010

<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveUreaScopeOfWork").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtSOWHeader").val(strHeader);
    });
    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmUreaScopeOfWork").valid()) {
                var frmSaveScopeOfWork = $("#frmUreaScopeOfWork").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveUreaScopeOfWork(frmSaveScopeOfWork, status);
                }
            }
        }
    }
    function ReviseHeaderCallBack() {
        var frmSaveScopeOfWork = $("#frmUreaScopeOfWork").serializeArray();
        SaveUreaScopeOfWork(frmSaveScopeOfWork, status);
    }

    function SaveUreaScopeOfWork(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveUreaScopeOfWork",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtSOWLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtSOWHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section4").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUreaScopeOfWork", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />

                @Html.HiddenFor(m => m.HeaderId, new { id = "txtUreaSOWHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtUreaSOWLine" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Scope Of Work
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblScopeOfWork">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">Sr. No</th>
                                    <th class="numeric">Description</th>
                                    <th class="numeric">Not Reqd for project</th>
                                    <th class="numeric">Shop</th>
                                    <th class="numeric">M/C Shop</th>
                                    <th class="numeric">LEMF</th>
                                    <th class="numeric">RNW</th>
                                    <th class="numeric">Outside</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    <td class="numeric">Equipment</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentNotReq"> @Html.CheckBox("EquipmentNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentShop"> @Html.CheckBox("EquipmentShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentMC"> @Html.CheckBox("EquipmentMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentLEMF"> @Html.CheckBox("EquipmentLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentRNW"> @Html.CheckBox("EquipmentRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentOutside"> @Html.CheckBox("EquipmentOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">D'end Forming</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingNotReq"> @Html.CheckBox("DEndFormingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingShop"> @Html.CheckBox("DEndFormingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingMC"> @Html.CheckBox("DEndFormingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingLEMF"> @Html.CheckBox("DEndFormingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingRNW"> @Html.CheckBox("DEndFormingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingOutside"> @Html.CheckBox("DEndFormingOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">3</td>
                                    <td class="numeric">	D'end Setup</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupNotReq"> @Html.CheckBox("DEndSetupNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupShop"> @Html.CheckBox("DEndSetupShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupMC"> @Html.CheckBox("DEndSetupMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupLEMF"> @Html.CheckBox("DEndSetupLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupRNW"> @Html.CheckBox("DEndSetupRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupOutside"> @Html.CheckBox("DEndSetupOutside", new { })<span></span></label></td>

                                </tr>
                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric">	D'end Welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingNotReq"> @Html.CheckBox("DEndWeldingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingShop"> @Html.CheckBox("DEndWeldingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingMC"> @Html.CheckBox("DEndWeldingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingLEMF"> @Html.CheckBox("DEndWeldingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingRNW"> @Html.CheckBox("DEndWeldingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingOutside"> @Html.CheckBox("DEndWeldingOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">	Skirt</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtNotReq"> @Html.CheckBox("SkirtNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtShop"> @Html.CheckBox("SkirtShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtMC"> @Html.CheckBox("SkirtMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtLEMF"> @Html.CheckBox("SkirtLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtRNW"> @Html.CheckBox("SkirtRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtOutside"> @Html.CheckBox("SkirtOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">6</td>
                                    <td class="numeric">	Y Ring Machining</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningNotReq"> @Html.CheckBox("YRingMachiningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningShop"> @Html.CheckBox("YRingMachiningShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningMC"> @Html.CheckBox("YRingMachiningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningLEMF"> @Html.CheckBox("YRingMachiningLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningRNW"> @Html.CheckBox("YRingMachiningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningOutside"> @Html.CheckBox("YRingMachiningOutside", new { })<span></span></label></td>

                                </tr>
                                <tr>
                                    <td class="numeric">7</td>
                                    <td class="numeric">	Nozzle Intial Maching</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningNotReq"> @Html.CheckBox("NozMachiningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningShop"> @Html.CheckBox("NozMachiningShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningMC"> @Html.CheckBox("NozMachiningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningLEMF"> @Html.CheckBox("NozMachiningLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningRNW"> @Html.CheckBox("NozMachiningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningOutside"> @Html.CheckBox("NozMachiningOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">8</td>
                                    <td class="numeric">	Nozzle Overlay</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayNotReq"> @Html.CheckBox("NozOverlayNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayMC"> @Html.CheckBox("NozOverlayMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayShop"> @Html.CheckBox("NozOverlayShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayLEMF"> @Html.CheckBox("NozOverlayLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayRNW"> @Html.CheckBox("NozOverlayRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayOutside"> @Html.CheckBox("NozOverlayOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">Manway Overlay</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayNotReq"> @Html.CheckBox("ManOverlayNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayShop"> @Html.CheckBox("ManOverlayShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayMC"> @Html.CheckBox("ManOverlayMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayLEMF"> @Html.CheckBox("ManOverlayLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayRNW"> @Html.CheckBox("ManOverlayRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayOutside"> @Html.CheckBox("ManOverlayOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric"> Nozzle Final Machining</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningNotReq"> @Html.CheckBox("NozFinMachiningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningShop"> @Html.CheckBox("NozFinMachiningShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningMC"> @Html.CheckBox("NozFinMachiningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningLEMF"> @Html.CheckBox("NozFinMachiningLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningRNW"> @Html.CheckBox("NozFinMachiningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningOutside"> @Html.CheckBox("NozFinMachiningOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">11</td>
                                    <td class="numeric">Nozzle Cut out WEP</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPNotReq"> @Html.CheckBox("NozWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPShop"> @Html.CheckBox("NozWEPShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPMC"> @Html.CheckBox("NozWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPLEMF"> @Html.CheckBox("NozWEPLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPRNW"> @Html.CheckBox("NozWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPOutside"> @Html.CheckBox("NozWEPOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">12</td>
                                    <td class="numeric"> Long Seam WEP for Shell</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPNotReq"> @Html.CheckBox("LongWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPShop"> @Html.CheckBox("LongWEPShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPMC"> @Html.CheckBox("LongWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPLEMF"> @Html.CheckBox("LongWEPLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPRNW"> @Html.CheckBox("LongWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPOutside"> @Html.CheckBox("LongWEPOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">13 </td>
                                    <td class="numeric">Circ Seam WEP for Shell</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPNotReq"> @Html.CheckBox("CircWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPShop"> @Html.CheckBox("CircWEPShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPMC"> @Html.CheckBox("CircWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPLEMF"> @Html.CheckBox("CircWEPLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPRNW"> @Html.CheckBox("CircWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPOutside"> @Html.CheckBox("CircWEPOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">14</td>
                                    <td class="numeric"> Shell Liner Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLineFabNotReq"> @Html.CheckBox("ShellLineFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLineFabShop"> @Html.CheckBox("ShellLineFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLineFabMC"> @Html.CheckBox("ShellLineFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLineFabLEMF"> @Html.CheckBox("ShellLineFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLineFabRNW"> @Html.CheckBox("ShellLineFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLineFabOutside"> @Html.CheckBox("ShellLineFabOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">15</td>
                                    <td class="numeric"> Nozzle Liner Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozLineFabNotReq"> @Html.CheckBox("NozLineFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozLineFabShop"> @Html.CheckBox("NozLineFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozLineFabMC"> @Html.CheckBox("NozLineFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozLineFabLEMF"> @Html.CheckBox("NozLineFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozLineFabRNW"> @Html.CheckBox("NozLineFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozLineFabOutside"> @Html.CheckBox("NozLineFabOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">16</td>
                                    <td class="numeric">Weldable External Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabNotReq"> @Html.CheckBox("WeldExFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabShop"> @Html.CheckBox("WeldExFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabMC"> @Html.CheckBox("WeldExFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabLEMF"> @Html.CheckBox("WeldExFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabRNW"> @Html.CheckBox("WeldExFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabOutside"> @Html.CheckBox("WeldExFabOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">17</td>
                                    <td class="numeric"> Weldable Internal Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabOutside"> @Html.CheckBox("WeldInFabOutside", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabNotReq"> @Html.CheckBox("WeldInFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabShop"> @Html.CheckBox("WeldInFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabMC"> @Html.CheckBox("WeldInFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabLEMF"> @Html.CheckBox("WeldInFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabRNW"> @Html.CheckBox("WeldInFabRNW", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">18</td>
                                    <td class="numeric"> Weep Tube Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeeptubeFabNotReq"> @Html.CheckBox("WeeptubeFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeeptubeFabShop"> @Html.CheckBox("WeeptubeFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeeptubeFabMC"> @Html.CheckBox("WeeptubeFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeeptubeFabLEMF"> @Html.CheckBox("WeeptubeFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeeptubeFabRNW"> @Html.CheckBox("WeeptubeFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeeptubeFabOutside"> @Html.CheckBox("WeeptubeFabOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">19 </td>
                                    <td class="numeric">Internal Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabNotReq"> @Html.CheckBox("IntFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabShop"> @Html.CheckBox("IntFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabMC"> @Html.CheckBox("IntFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabLEMF"> @Html.CheckBox("IntFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabRNW"> @Html.CheckBox("IntFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabOutside"> @Html.CheckBox("IntFabOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">20 </td>
                                    <td class="numeric">Internal Welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntWeldNotReq"> @Html.CheckBox("IntWeldNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntWeldShop"> @Html.CheckBox("IntWeldShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntWeldMC"> @Html.CheckBox("IntWeldMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntWeldLEMF"> @Html.CheckBox("IntWeldLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntWeldRNW"> @Html.CheckBox("IntWeldRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntWeldOutside"> @Html.CheckBox("IntWeldOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">21</td>
                                    <td class="numeric"> Liner Welding</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LinerWeldNotReq"> @Html.CheckBox("LinerWeldNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LinerWeldShop"> @Html.CheckBox("LinerWeldShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LinerWeldMC"> @Html.CheckBox("LinerWeldMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LinerWeldLEMF"> @Html.CheckBox("LinerWeldLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LinerWeldRNW"> @Html.CheckBox("LinerWeldRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LinerWeldOutside"> @Html.CheckBox("LinerWeldOutside", new { })<span></span></label></td>

                                </tr>
                                <tr>
                                    <td class="numeric">22</td>
                                    <td class="numeric"> Head profile machining</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HPMNotReq"> @Html.CheckBox("HPMNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HPMShop"> @Html.CheckBox("HPMShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HPMMC"> @Html.CheckBox("HPMMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HPMLEMF"> @Html.CheckBox("HPMLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HPMRNW"> @Html.CheckBox("HPMRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HPMOutside"> @Html.CheckBox("HPMOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">23</td>
                                    <td class="numeric"> Insulation Ring/Strap Fabrication</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffleFabNotReq"> @Html.CheckBox("BaffleFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffleFabShop"> @Html.CheckBox("BaffleFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffleFabMC"> @Html.CheckBox("BaffleFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffleFabLEMF"> @Html.CheckBox("BaffleFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffleFabRNW"> @Html.CheckBox("BaffleFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffleFabOutside"> @Html.CheckBox("BaffleFabOutside", new { })<span></span></label></td>
                                </tr>



                                <tr>
                                    <td class="numeric">24</td>
                                    <td class="min-phone-l">   Baffle Fabrication   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabNotReq"> @Html.CheckBox("InsFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabShop"> @Html.CheckBox("InsFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabMC"> @Html.CheckBox("InsFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabLEMF"> @Html.CheckBox("InsFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabRNW"> @Html.CheckBox("InsFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabOutside"> @Html.CheckBox("InsFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">25 </td>
                                    <td class="min-phone-l">   Nozzle Liner Fabrication   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NLFabNotReq"> @Html.CheckBox("NLFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NLFabShop"> @Html.CheckBox("NLFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NLFabMC"> @Html.CheckBox("NLFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NLFabLEMF"> @Html.CheckBox("NLFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NLFabRNW"> @Html.CheckBox("NLFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NLFabOutside"> @Html.CheckBox("NLFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">26 </td>
                                    <td class="min-phone-l">   Manway Nozzle/Gasket Fabrication  </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MGSFabNotReq"> @Html.CheckBox("MGSFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MGSFabShop"> @Html.CheckBox("MGSFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MGSFabMC"> @Html.CheckBox("MGSFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MGSFabLEMF"> @Html.CheckBox("MGSFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MGSFabRNW"> @Html.CheckBox("MGSFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MGSFabOutside"> @Html.CheckBox("MGSFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">27 </td>
                                    <td class="min-phone-l">  Manway Cover Pre Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCPFabNotReq"> @Html.CheckBox("MCPFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCPFabShop"> @Html.CheckBox("MCPFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCPFabMC"> @Html.CheckBox("MCPFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCPFabLEMF"> @Html.CheckBox("MCPFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCPFabRNW"> @Html.CheckBox("MCPFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCPFabOutside"> @Html.CheckBox("MCPFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">28</td>
                                    <td class="min-phone-l"> Manway Cover Liner Pre Fabrication    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCLFabNotReq"> @Html.CheckBox("MCLFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCLFabShop"> @Html.CheckBox("MCLFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCLFabMC"> @Html.CheckBox("MCLFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCLFabLEMF"> @Html.CheckBox("MCLFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCLFabRNW"> @Html.CheckBox("MCLFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="MCLFabOutside"> @Html.CheckBox("MCLFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">29 </td>
                                    <td class="min-phone-l">  Saddles     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesNotReq"> @Html.CheckBox("SaddlesNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesShop"> @Html.CheckBox("SaddlesShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesMC"> @Html.CheckBox("SaddlesMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesLEMF"> @Html.CheckBox("SaddlesLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesRNW"> @Html.CheckBox("SaddlesRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesOutside"> @Html.CheckBox("SaddlesOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">30</td>
                                    <td class="min-phone-l">  Skirt template    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateNotReq"> @Html.CheckBox("SkirtTemplateNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateShop"> @Html.CheckBox("SkirtTemplateShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateMC"> @Html.CheckBox("SkirtTemplateMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateLEMF"> @Html.CheckBox("SkirtTemplateLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateRNW"> @Html.CheckBox("SkirtTemplateRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateOutside"> @Html.CheckBox("SkirtTemplateOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">31 </td>
                                    <td class="min-phone-l">  Platform Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationNotReq"> @Html.CheckBox("PlatformFabricationNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationShop"> @Html.CheckBox("PlatformFabricationShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationMC"> @Html.CheckBox("PlatformFabricationMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationLEMF"> @Html.CheckBox("PlatformFabricationLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationRNW"> @Html.CheckBox("PlatformFabricationRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationOutside"> @Html.CheckBox("PlatformFabricationOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">32 </td>
                                    <td class="min-phone-l"> Platform Trial Assembly    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyNotReq"> @Html.CheckBox("PlatformTrialAssemblyNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyShop"> @Html.CheckBox("PlatformTrialAssemblyShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyMC"> @Html.CheckBox("PlatformTrialAssemblyMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyLEMF"> @Html.CheckBox("PlatformTrialAssemblyLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyRNW"> @Html.CheckBox("PlatformTrialAssemblyRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyOutside"> @Html.CheckBox("PlatformTrialAssemblyOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">33 </td>
                                    <td class="min-phone-l">  PWHT     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTNotReq"> @Html.CheckBox("PWHTNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTShop"> @Html.CheckBox("PWHTShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTMC"> @Html.CheckBox("PWHTMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTLEMF"> @Html.CheckBox("PWHTLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTRNW"> @Html.CheckBox("PWHTRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTOutside"> @Html.CheckBox("PWHTOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">34</td>
                                    <td class="min-phone-l"> Helium       </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumNotReq"> @Html.CheckBox("HeliumNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumShop"> @Html.CheckBox("HeliumShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumMC"> @Html.CheckBox("HeliumMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumLEMF"> @Html.CheckBox("HeliumLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumRNW"> @Html.CheckBox("HeliumRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HeliumOutside"> @Html.CheckBox("HeliumOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">35</td>
                                    <td class="min-phone-l">  Internal Installation    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationNotReq"> @Html.CheckBox("InternalInstallationNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationShop"> @Html.CheckBox("InternalInstallationShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationMC"> @Html.CheckBox("InternalInstallationMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationLEMF"> @Html.CheckBox("InternalInstallationLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationRNW"> @Html.CheckBox("InternalInstallationRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationOutside"> @Html.CheckBox("InternalInstallationOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">36</td>
                                    <td class="min-phone-l">   N2 Filling     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NFillingNotReq"> @Html.CheckBox("NFillingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NFillingShop"> @Html.CheckBox("NFillingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NFillingMC"> @Html.CheckBox("NFillingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NFillingLEMF"> @Html.CheckBox("NFillingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NFillingRNW"> @Html.CheckBox("NFillingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NFillingOutside"> @Html.CheckBox("NFillingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">37</td>
                                    <td class="min-phone-l">   Sand Blasting     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingNotReq"> @Html.CheckBox("SandBlastingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingShop"> @Html.CheckBox("SandBlastingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingMC"> @Html.CheckBox("SandBlastingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingLEMF"> @Html.CheckBox("SandBlastingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingRNW"> @Html.CheckBox("SandBlastingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingOutside"> @Html.CheckBox("SandBlastingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">38 </td>
                                    <td class="min-phone-l"> Painting    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingNotReq"> @Html.CheckBox("PaintingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingShop"> @Html.CheckBox("PaintingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingMC"> @Html.CheckBox("PaintingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingLEMF"> @Html.CheckBox("PaintingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingRNW"> @Html.CheckBox("PaintingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingOutside"> @Html.CheckBox("PaintingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">39 </td>
                                    <td class="min-phone-l"> Acid Cleaning    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningNotReq"> @Html.CheckBox("AcidCleaningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningShop"> @Html.CheckBox("AcidCleaningShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningMC"> @Html.CheckBox("AcidCleaningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningLEMF"> @Html.CheckBox("AcidCleaningLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningRNW"> @Html.CheckBox("AcidCleaningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningOutside"> @Html.CheckBox("AcidCleaningOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">40  </td>
                                    <td class="min-phone-l">Weight Measurement    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementNotReq"> @Html.CheckBox("WeightMeasurementNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementShop"> @Html.CheckBox("WeightMeasurementShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementMC"> @Html.CheckBox("WeightMeasurementMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementLEMF"> @Html.CheckBox("WeightMeasurementLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementRNW"> @Html.CheckBox("WeightMeasurementRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementOutside"> @Html.CheckBox("WeightMeasurementOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">41  </td>
                                    <td class="min-phone-l"> Manway Davit     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitNotReq"> @Html.CheckBox("ManwayDavitNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitShop"> @Html.CheckBox("ManwayDavitShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitMC"> @Html.CheckBox("ManwayDavitMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitLEMF"> @Html.CheckBox("ManwayDavitLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitRNW"> @Html.CheckBox("ManwayDavitRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitOutside"> @Html.CheckBox("ManwayDavitOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">42  </td>
                                    <td class="min-phone-l"> Vessel Davit     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitNotReq"> @Html.CheckBox("VesselDavitNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitShop"> @Html.CheckBox("VesselDavitShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitMC"> @Html.CheckBox("VesselDavitMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitLEMF"> @Html.CheckBox("VesselDavitLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitRNW"> @Html.CheckBox("VesselDavitRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitOutside"> @Html.CheckBox("VesselDavitOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">43 </td>
                                    <td class="min-phone-l">Lapping Ring     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingNotReq"> @Html.CheckBox("LappingRingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingShop"> @Html.CheckBox("LappingRingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingMC"> @Html.CheckBox("LappingRingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingLEMF"> @Html.CheckBox("LappingRingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingRNW"> @Html.CheckBox("LappingRingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingOutside"> @Html.CheckBox("LappingRingOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">44 </td>
                                    <td class="min-phone-l"> Shipping (Ex-work / FAS / FOB / At - Port / At - Site / Erection)     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingNotReq"> @Html.CheckBox("ShippingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingShop"> @Html.CheckBox("ShippingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingMC"> @Html.CheckBox("ShippingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingLEMF"> @Html.CheckBox("ShippingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingRNW"> @Html.CheckBox("ShippingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingOutside"> @Html.CheckBox("ShippingOutside", new { })<span></span></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblScopeOfWork"));
        }, 500);
    });
</script>