﻿@using IEMQSImplementation
@model PCL021

<script>
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('input[maxlength]').maxlength({ alwaysShow: true });

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
        }

        var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()"|| Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
       if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status =="@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveCDDoc").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtCDDocHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmCDDoc").valid()) {
                var frmSaveValue = $("#frmCDDoc").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveHeaderCDDoc(frmSaveValue, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveValue = $("#frmCDDoc").serializeArray();
        SaveHeaderCDDoc(frmSaveHeaderValue, status);
    }

    function SaveHeaderCDDoc(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveCDDocument",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtCDDocLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtCDDocHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section5").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        <div class="fdControls">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCDDoc", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />
                @Html.HiddenFor(m => m.HeaderId, new { id = "txtCDDocHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtCDDocLine" })

                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Procedure/ Document Requirement
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblDocumentRequirment">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <td class="numeric">Sr. No</td>
                                    <th class="numeric">Description</th>
                                    <th class="numeric">Required?</th>
                                    <th class="numeric">Required Date</th>
                                    <th class="numeric">Document No.</th>
                                    <th class="numeric">Released on</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    <td class="numeric"> JPP</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="JPPReq"> @Html.CheckBox("JPPReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.JPPReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.JPPDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.JPPReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">Line Sketch</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LineSketchReq"> @Html.CheckBox("LineSketchReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LineSketchReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LineSketchDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LineSketchReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">3</td>
                                    <td class="numeric">Rolling Capacity Check</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RollingCapaReq"> @Html.CheckBox("RollingCapaReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RollingCapaReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RollingCapaDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RollingCapaReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric">Improvement Budget</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ImprovBudgetReq"> @Html.CheckBox("ImprovBudgetReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ImprovBudgetReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ImprovBudgetDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ImprovBudgetReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">RCCP Break-up</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RCCPBreakUpReq"> @Html.CheckBox("RCCPBreakUpReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RCCPBreakUpReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RCCPBreakUpDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RCCPBreakUpReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">6</td>
                                    <td class="numeric">Schedule in Concerto</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SchedConcertoReq"> @Html.CheckBox("SchedConcertoReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SchedConcertoReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SchedConcertoDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SchedConcertoReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">7</td>
                                    <td class="numeric">Schedule in Excel and Link with Concerto</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SchedExlReq"> @Html.CheckBox("SchedExlReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SchedExlReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SchedExlDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SchedExlReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">8</td>
                                    <td class="numeric">Subcontracting plan</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SubcontPlanReq"> @Html.CheckBox("SubcontPlanReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SubcontPlanReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SubcontPlanDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SubcontPlanReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">Long seam </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongSeamReq"> @Html.CheckBox("LongSeamReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LongSeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LongSeamDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LongSeamReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric">Circ Seam </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircSeamReq"> @Html.CheckBox("CircSeamReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.CircSeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.CircSeamDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.CircSeamReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">11</td>
                                    <td class="numeric">Nozzle # Shell</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozzleShellReq"> @Html.CheckBox("NozzleShellReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.NozzleShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozzleShellDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.NozzleShellReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">12</td>
                                    <td class="numeric">Rolling Capacity Re-Check based on TC</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RollCapaReq"> @Html.CheckBox("RollCapaReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RollCapaReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RollCapaDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RollCapaReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">13</td>
                                    <td class="numeric">Table of Nozzles</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TablesNozReq"> @Html.CheckBox("TablesNozReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TablesNozReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TablesNozDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TablesNozReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">14</td>
                                    <td class="numeric">Table of Internals</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TableIntReq"> @Html.CheckBox("TableIntReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TableIntReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TableIntDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TableIntReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">15</td>
                                    <td class="numeric">Table of Externals</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TableExtReq"> @Html.CheckBox("TableExtReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TableExtReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.TableExtDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.TableExtReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">16</td>
                                    <td class="numeric">HTR for Edge Breaking</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTREdgeReq"> @Html.CheckBox("HTREdgeReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTREdgeReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTREdgeDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTREdgeReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">17</td>
                                    <td class="numeric">HTR for Rolling</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRRollReq"> @Html.CheckBox("HTRRollReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRRollReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRRollDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRRollReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">18</td>
                                    <td class="numeric">HTR for Re-Rolling</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRReRollReq"> @Html.CheckBox("HTRReRollReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRReRollReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRReRollDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRReRollReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">19</td>
                                    <td class="numeric">Reference Line Sketch</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefLineSketchReq"> @Html.CheckBox("RefLineSketchReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RefLineSketchReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RefLineSketchDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RefLineSketchReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">20</td>
                                    <td class="numeric">HTR for ISR Nozzle # Shell</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRISRNozzleShellReq"> @Html.CheckBox("HTRISRNozzleShellReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRISRNozzleShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRISRNozzleShellDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRISRNozzleShellReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">21</td>
                                    <td class="numeric">HTR for ISR Nozzle # D’end</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRISRNozzleDEndReq"> @Html.CheckBox("HTRISRNozzleDEndReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRISRNozzleDEndReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRISRNozzleDEndDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRISRNozzleDEndReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">22</td>
                                    <td class="numeric">HTR for ISR Nub Build up </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRISRNubBuildUpReq"> @Html.CheckBox("HTRISRNubBuildUpReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRISRNubBuildUpReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRISRNubBuildUpDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRISRNubBuildUpReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">23</td>
                                    <td class="numeric">HTR for PWHT</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRPWHTReq"> @Html.CheckBox("HTRPWHTReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRPWHTReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRPWHTDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRPWHTReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">24</td>
                                    <td class="numeric">HTR for LSR</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HTRLSRReq"> @Html.CheckBox("HTRLSRReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRLSRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HTRLSRDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HTRLSRReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">25</td>
                                    <td class="numeric">Handling plan</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HandlingPlanReq"> @Html.CheckBox("HandlingPlanReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HandlingPlanReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HandlingPlanDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HandlingPlanReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">26</td>
                                    <td class="numeric">Location of Tank Rotator and load on Floor</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LocationTankRotatorReq"> @Html.CheckBox("LocationTankRotatorReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LocationTankRotatorReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.LocationTankRotatorDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.LocationTankRotatorReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">27</td>
                                    <td class="numeric">Hydrotest arrangement and load on Floor</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="HydrotestReq"> @Html.CheckBox("HydrotestReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HydrotestReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.HydrotestDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.HydrotestReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">28</td>
                                    <td class="numeric">Surface Treatment Request</td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SurfaceTreatRequestReq"> @Html.CheckBox("SurfaceTreatRequestReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SurfaceTreatRequestReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.SurfaceTreatRequestDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.SurfaceTreatRequestReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            }
        </div>
        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblDocumentRequirment"));
        }, 500);
    });
</script>