﻿
@using IEMQSImplementation
@model PCL025

<script>
     var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        $('.numericval').autoNumeric('init', { vMin: '0.00', vMax: '99999.00', aSep: '' });
        SetNumericInputVal();
        $('input[maxlength]').maxlength({ alwaysShow: true, });

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveColumnAllowance").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtAllowanceHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmColumnAllowance").valid()) {
                var frmSaveValue = $("#frmColumnAllowance").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveColumnAllowance(frmSaveValue, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveValue = $("#frmColumnAllowance").serializeArray();
        SaveColumnAllowance(frmSaveValue, status);
    }

    function SaveColumnAllowance(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });
        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveColumnAllowance",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtColumnAllowance").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtColumnAllowanceHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section3").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>

<div id="dvSection1" class="fdControls">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmColumnAllowance", @class = "form-horizontal" }))
    {
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>
            </div>
        </div>
        <hr class="savedraft" />

        @Html.HiddenFor(m => m.HeaderId, new { id = "txtColumnAllowanceHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtColumnAllowance" })

        <fieldset>
            <legend>1 Shell</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for E/B &nbsp; <span>@Html.TextBoxFor(m => m.ShellAllwEB, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp; mm for shell and &nbsp; <span>@Html.TextBoxFor(m => m.ShellAllCone, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp; mm for Cone.</label><br />
                    <label class="control-label"> Allowance for EESC shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.ShrinkageCirc, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp; mm on Circ Lg and &nbsp; <span>@Html.TextBoxFor(m => m.ShringageWidth, new { @class = "clsAllowance decimalInput", onkeypress = "" ,@maxlength="12", @style = "width: 60px;" })</span>&nbsp; mm / mt lg on Width.</label><br />
                    <label class="control-label"> Allowance for Seam shrinkage &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.SeamCirc, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp;  mm per Circ Seam and &nbsp; <span>@Html.TextBoxFor(m => m.Seamlong, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp; mm per long seam.</label><br />
                    <label class="control-label"> Allowance for M/cing &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.Mcinglong, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp;  mm/mtr for long seam and &nbsp; <span>@Html.TextBoxFor(m => m.Mcingcirc, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp; mm/mtr for circ seam. </label><br />
                    <label class="control-label"> Negative Allowance for Stretch &nbsp; <span>@Html.TextBoxFor(m => m.NegAllow, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp;  mm for circ lg.</label><br />
                    <label class="control-label"> Allowance for TSR &nbsp; <span>@Html.TextBoxFor(m => m.AllowTSR, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp;  mm per TSR.</label><br />
                    <label class="control-label"> Tolerance on Ovality &nbsp; <span class="clsspan">@Html.TextBoxFor(m => m.TOvality, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp;  mm(0.25% of ID)(Target for 9 mm Ovality) </label><br />
                    <label class="control-label"> Tolerance on Out of Roundness &nbsp; <span>@Html.TextBoxFor(m => m.TOutRoundness, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp;  mm(0.5% of O/D).</label><br />
                    <label class="control-label"> Tolerance on Circumference &nbsp; <span>@Html.TextBoxFor(m => m.TCircum, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp;  mm/segment of shell.</label><br />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>2 D’end</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Allowance for M / cing &nbsp; <span>@Html.TextBoxFor(m => m.DEndMcing, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp;  mm on open end.</label><br />
                    <label class="control-label"> Allowance for Seam shrinkage &nbsp; <span>@Html.TextBoxFor(m => m.DEndSeam, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp; mm per seam ; &nbsp; <span>@Html.TextBoxFor(m => m.DEndCirc, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span>&nbsp; mm on inside circ.</label><br />
                    <label class="control-label"> Allowance for ESSC &nbsp; <span>@Html.TextBoxFor(m => m.DEndESSC, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp; mm on Circ lg.</label><br />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Skirt</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label"> Tolerance on flatness of base ring &nbsp; <span>@Html.TextBoxFor(m => m.SkirtTol, new { @class = "clsAllowance decimalInput", maxlength = "12", @style = "width: 80px;" })</span> &nbsp;  mm.</label><br />
                </div>
            </div>
        </fieldset>

        @*<fieldset>
            <legend>3 Skirt</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <span>@Html.TextBoxFor(m => m.CTRPeak, new { @class = "clsAllowance", @style = "width: 80px;" })</span><br />
                    <span>@Html.TextBoxFor(m => m.CTRMaxOffset, new { @class = "clsAllowance", @style = "width: 80px;" })</span><br />
                    <span>@Html.TextBoxFor(m => m.CTROutRound, new { @class = "clsAllowance", @style = "width: 80px;" })</span><br />
                    <span>@Html.TextBoxFor(m => m.CTRTDE, new { @class = "clsAllowance", @style = "width: 80px;" })</span><br />
                    <span>@Html.TextBoxFor(m => m.CTRDump, new { @class = "clsAllowance", @style = "width: 80px;" })</span><br />
                    <span>@Html.TextBoxFor(m => m.CTRMaxAllow, new { @class = "clsAllowance", @style = "width: 80px;" })</span><br />
                </div>
            </div>
        </fieldset>*@

        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    }


</div>
