﻿

@using IEMQSImplementation
@model PCL028
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('input[maxlength]').maxlength({ alwaysShow: true });

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveColumnDim").show();
        }*@

        var strColumnDimHeader = '@ViewBag.HeaderId';
        $("#txtColumnDimHeader").val(strColumnDimHeader);
        
    });
    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmColumnDim").valid()) {
                var frmSaveHeaderValue = $("#frmColumnDim").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveColumnDim(frmSaveHeaderValue, status);
                }
            }
        }
    }
    function ReviseHeaderCallBack() {
        var frmSaveHeaderValue = $("#frmColumnDim").serializeArray();
        SaveColumnDim(frmSaveHeaderValue, status);
    }

    function SaveColumnDim(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveColumnDim",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtColumnDimLine").val(data.LineID);
                    var strColumnDimHeader = data.HeaderID;
                    $("#txtColumnDimHeader").val(strColumnDimHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strColumnDimHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section6").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmColumnDim", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />
                @Html.HiddenFor(m => m.HeaderId, new { id = "txtColumnDimHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtColumnDimLine" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Plan for Dimensional Data
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblDimData">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">Sr.No</th>
                                    <th class="numeric"> Description</th>
                                    <th class="numeric"> Required? </th>
                                    <th class="numeric">Required Date</th>
                                    <th class="numeric">Document No.</th>
                                    <th class="numeric">Released on</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    <td class="numeric">
                                        Rolling Data
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RollDataReq"> @Html.CheckBox("RollDataReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RollDataReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.RollDataDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.RollDataReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">
                                        Shelld data for Long seam welding
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellLongReq"> @Html.CheckBox("ShellLongReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ShellLongReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShellLongDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ShellLongReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="numeric">3</td>
                                    <td class="numeric">
                                        EESC of Shell
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ESSCShellReq"> @Html.CheckBox("ESSCShellReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ESSCShellReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ESSCShellDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ESSCShellReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric">
                                        EESC of D&apos;end
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ESSCDEndReq"> @Html.CheckBox("ESSCDEndReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ESSCDEndReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ESSCDEndDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ESSCDEndReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">
                                        Change in Ovality due to major external welding
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ChangeOvalityExtReq"> @Html.CheckBox("ChangeOvalityExtReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ChangeOvalityExtReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ChangeOvalityExtDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ChangeOvalityExtReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">6</td>
                                    <td class="numeric">
                                        Change in Ovality due to Insert plate welding
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ChangeOvalityWeldReq"> @Html.CheckBox("ChangeOvalityWeldReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ChangeOvalityWeldReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ChangeOvalityWeldDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ChangeOvalityWeldReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">7</td>
                                    <td class="numeric">
                                        Shrinkage due to TSR welding
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShrinkTSRReq"> @Html.CheckBox("ShrinkTSRReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ShrinkTSRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ShrinkTSRDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ShrinkTSRReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">8</td>
                                    <td class="numeric">
                                        Change in Ovality due to ISR/PWHT
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ChangeOvalityISRReq"> @Html.CheckBox("ChangeOvalityISRReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ChangeOvalityISRReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.ChangeOvalityISRDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.ChangeOvalityISRReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">
                                        D&apos;end data for Long seam welding
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEendLongSeamReq"> @Html.CheckBox("DEendLongSeamReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DEendLongSeamReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.DEendLongSeamDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.DEendLongSeamReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric">
                                        Nozzle Dimension data
                                    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozzleReq"> @Html.CheckBox("NozzleReq", new { })<span></span></label></td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.NozzleReqDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="numeric">@Html.TextBoxFor(m => m.NozzleDocNo, new { @class = "form-control", maxlength = "30" })</td>
                                    <td class="numeric">
                                        <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy" data-date-start-date="+0d">
                                            @Html.TextBoxFor(m => m.NozzleReleasedOn, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            <span class="input-group-btn">
                                                <button class="btn default" id="btncal1" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            }
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblDimData"));
        }, 500);
    });
</script>