﻿@using IEMQSImplementation
@model PCL038

<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "1000000000", aForm: "false" });
        });

        var strHeader = '@ViewBag.HeaderId';
        $("#txtScopeOfWorkHeader").val(strHeader);

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveScopeOfWork").show();
        }*@
    });

    
    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmRRScopeOfWork").valid()) {
                var frmSaveScopeOfWork = $("#frmRRScopeOfWork").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveScopeOfWork(frmSaveScopeOfWork, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveScopeOfWork = $("#frmRRScopeOfWork").serializeArray();
        SaveScopeOfWork(frmSaveScopeOfWork, status);
    }

    function SaveScopeOfWork(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveRRScopeOfWork",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtScopeOfWork").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtScopeOfWorkHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                       
                    }
                    $("#Section4").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="fdControls">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmRRScopeOfWork", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />

                @Html.HiddenFor(m => m.HeaderId, new { id = "txtScopeOfWorkHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtScopeOfWork" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Scope Of Work
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblScopeOfWork">

                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">Sr. No</th>
                                    <th class="numeric"> Description </th>
                                    <th class="numeric"> Not Reqd. for Project </th>
                                    <th class="numeric"> Shop </th>
                                    <th class="numeric"> M/C Shop</th>
                                    <th class="numeric"> LEMF </th>
                                    <th class="numeric"> RNW </th>
                                    <th class="numeric"> Outside </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    <td class="numeric"> Equipment       </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentNotReq"> @Html.CheckBox("EquipmentNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentShop"> @Html.CheckBox("EquipmentShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentMC"> @Html.CheckBox("EquipmentMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentLEMF"> @Html.CheckBox("EquipmentLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentRNW"> @Html.CheckBox("EquipmentRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentOutside"> @Html.CheckBox("EquipmentOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">   D&apos;end Forming     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingNotReq"> @Html.CheckBox("DEndFormingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingShop"> @Html.CheckBox("DEndFormingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingMC"> @Html.CheckBox("DEndFormingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingLEMF"> @Html.CheckBox("DEndFormingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingRNW"> @Html.CheckBox("DEndFormingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingOutside"> @Html.CheckBox("DEndFormingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">3</td>
                                    <td class="numeric">   D&apos;end Setup     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupNotReq"> @Html.CheckBox("DEndSetupNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupShop"> @Html.CheckBox("DEndSetupShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupMC"> @Html.CheckBox("DEndSetupMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupLEMF"> @Html.CheckBox("DEndSetupLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupRNW"> @Html.CheckBox("DEndSetupRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupOutside"> @Html.CheckBox("DEndSetupOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric">   D&apos;end Welding     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingNotReq"> @Html.CheckBox("DEndWeldingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingShop"> @Html.CheckBox("DEndWeldingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingMC"> @Html.CheckBox("DEndWeldingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingLEMF"> @Html.CheckBox("DEndWeldingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingRNW"> @Html.CheckBox("DEndWeldingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingOutside"> @Html.CheckBox("DEndWeldingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">   Skirt     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtNotReq"> @Html.CheckBox("SkirtNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtShop"> @Html.CheckBox("SkirtShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtMC"> @Html.CheckBox("SkirtMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtLEMF"> @Html.CheckBox("SkirtLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtRNW"> @Html.CheckBox("SkirtRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtOutside"> @Html.CheckBox("SkirtOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">6</td>
                                    <td class="numeric">  Skirt template Fabrication   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateNotReq"> @Html.CheckBox("SkirtTemplateNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateShop"> @Html.CheckBox("SkirtTemplateShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateMC"> @Html.CheckBox("SkirtTemplateMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateLEMF"> @Html.CheckBox("SkirtTemplateLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateRNW"> @Html.CheckBox("SkirtTemplateRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateOutside"> @Html.CheckBox("SkirtTemplateOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">7</td>
                                    <td class="numeric">   Nozzle Overlay     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayNotReq"> @Html.CheckBox("NozOverlayNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayShop"> @Html.CheckBox("NozOverlayShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayMC"> @Html.CheckBox("NozOverlayMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayLEMF"> @Html.CheckBox("NozOverlayLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayRNW"> @Html.CheckBox("NozOverlayRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayOutside"> @Html.CheckBox("NozOverlayOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">8</td>
                                    <td class="numeric">   Nozzle Cutout & WEP     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPNotReq"> @Html.CheckBox("NozWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPShop"> @Html.CheckBox("NozWEPShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPMC"> @Html.CheckBox("NozWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPLEMF"> @Html.CheckBox("NozWEPLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPRNW"> @Html.CheckBox("NozWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPOutside"> @Html.CheckBox("NozWEPOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">   Long seam WEP for Shell/cone     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPNotReq"> @Html.CheckBox("LongWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPShop"> @Html.CheckBox("LongWEPShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPMC"> @Html.CheckBox("LongWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPLEMF"> @Html.CheckBox("LongWEPLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPRNW"> @Html.CheckBox("LongWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPOutside"> @Html.CheckBox("LongWEPOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric">   Circ seam WEP for Shell/cone     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPNotReq"> @Html.CheckBox("CircWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPShop"> @Html.CheckBox("CircWEPShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPMC"> @Html.CheckBox("CircWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPLEMF"> @Html.CheckBox("CircWEPLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPRNW"> @Html.CheckBox("CircWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPOutside"> @Html.CheckBox("CircWEPOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">11</td>
                                    <td class="numeric">   Shell Rolling     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellRollNotReq"> @Html.CheckBox("ShellRollNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellRollShop"> @Html.CheckBox("ShellRollShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellRollMC"> @Html.CheckBox("ShellRollMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellRollLEMF"> @Html.CheckBox("ShellRollLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellRollRNW"> @Html.CheckBox("ShellRollRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShellRollOutside"> @Html.CheckBox("ShellRollOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">12</td>
                                    <td class="numeric">   Cone Rolling     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ConeRollNotReq"> @Html.CheckBox("ConeRollNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ConeRollShop"> @Html.CheckBox("ConeRollShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ConeRollMC"> @Html.CheckBox("ConeRollMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ConeRollLEMF"> @Html.CheckBox("ConeRollLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ConeRollRNW"> @Html.CheckBox("ConeRollRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ConeRollOutside"> @Html.CheckBox("ConeRollOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">13</td>
                                    <td class="numeric">   Cyclone Fabrication    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclFabNotReq"> @Html.CheckBox("CyclFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclFabShop"> @Html.CheckBox("CyclFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclFabMC"> @Html.CheckBox("CyclFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclFabLEMF"> @Html.CheckBox("CyclFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclFabRNW"> @Html.CheckBox("CyclFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclFabOutside"> @Html.CheckBox("CyclFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">14</td>
                                    <td class="numeric">   Cyclone assembly    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclAssmNotReq"> @Html.CheckBox("CyclAssmNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclAssmShop"> @Html.CheckBox("CyclAssmShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclAssmMC"> @Html.CheckBox("CyclAssmMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclAssmLEMF"> @Html.CheckBox("CyclAssmLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclAssmRNW"> @Html.CheckBox("CyclAssmRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CyclAssmOutside"> @Html.CheckBox("CyclAssmOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">15</td>
                                    <td class="numeric">   Plenum Chamber Fabrication    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlenumFabNotReq"> @Html.CheckBox("PlenumFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlenumFabShop"> @Html.CheckBox("PlenumFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlenumFabMC"> @Html.CheckBox("PlenumFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlenumFabLEMF"> @Html.CheckBox("PlenumFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlenumFabRNW"> @Html.CheckBox("PlenumFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlenumFabOutside"> @Html.CheckBox("PlenumFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">16</td>
                                    <td class="numeric">   Internal Riser Fabrication    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabNotReq"> @Html.CheckBox("IntFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabShop"> @Html.CheckBox("IntFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabMC"> @Html.CheckBox("IntFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabLEMF"> @Html.CheckBox("IntFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabRNW"> @Html.CheckBox("IntFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IntFabOutside"> @Html.CheckBox("IntFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">17</td>
                                    <td class="numeric">   Weldable Internal Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WIFNotReq"> @Html.CheckBox("WIFNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WIFShop"> @Html.CheckBox("WIFShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WIFMC"> @Html.CheckBox("WIFMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WIFLEMF"> @Html.CheckBox("WIFLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WIFRNW"> @Html.CheckBox("WIFRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WIFOutside"> @Html.CheckBox("WIFOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">18</td>
                                    <td class="numeric">   Weldable External Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WEFNotReq"> @Html.CheckBox("WEFNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WEFShop"> @Html.CheckBox("WEFShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WEFMC"> @Html.CheckBox("WEFMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WEFLEMF"> @Html.CheckBox("WEFLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WEFRNW"> @Html.CheckBox("WEFRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WEFOutside"> @Html.CheckBox("WEFOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">19</td>
                                    <td class="numeric">  Refractory application     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefractNotReq"> @Html.CheckBox("RefractNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefractShop"> @Html.CheckBox("RefractShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefractMC"> @Html.CheckBox("RefractMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefractLEMF"> @Html.CheckBox("RefractLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefractRNW"> @Html.CheckBox("RefractRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="RefractOutside"> @Html.CheckBox("RefractOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">20</td>
                                    <td class="numeric">   Catalyst Beam Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CBFabNotReq"> @Html.CheckBox("CBFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CBFabShop"> @Html.CheckBox("CBFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CBFabMC"> @Html.CheckBox("CBFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CBFabLEMF"> @Html.CheckBox("CBFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CBFabRNW"> @Html.CheckBox("CBFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CBFabOutside"> @Html.CheckBox("CBFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">21</td>
                                    <td class="numeric">   Internal Tray Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ITFabNotReq"> @Html.CheckBox("ITFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ITFabShop"> @Html.CheckBox("ITFabShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ITFabMC"> @Html.CheckBox("ITFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ITFabLEMF"> @Html.CheckBox("ITFabLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ITFabRNW"> @Html.CheckBox("ITFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ITFabOutside"> @Html.CheckBox("ITFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">22</td>
                                    <td class="numeric">   Internal for inclined nozzles     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IINNotReq"> @Html.CheckBox("IINNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IINShop"> @Html.CheckBox("IINShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IINMC"> @Html.CheckBox("IINMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IINLEMF"> @Html.CheckBox("IINLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IINRNW"> @Html.CheckBox("IINRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="IINOutside"> @Html.CheckBox("IINOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">23</td>
                                    <td class="numeric">   Saddles     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesNotReq"> @Html.CheckBox("SaddlesNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesShop"> @Html.CheckBox("SaddlesShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesMC"> @Html.CheckBox("SaddlesMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesLEMF"> @Html.CheckBox("SaddlesLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesRNW"> @Html.CheckBox("SaddlesRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesOutside"> @Html.CheckBox("SaddlesOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">24</td>
                                    <td class="numeric">   Platform Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PFNotReq"> @Html.CheckBox("PFNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PFShop"> @Html.CheckBox("PFShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PFMC"> @Html.CheckBox("PFMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PFLEMF"> @Html.CheckBox("PFLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PFRNW"> @Html.CheckBox("PFRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PFOutside"> @Html.CheckBox("PFOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">25</td>
                                    <td class="numeric">  Platform Trial Assembly    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PTANotReq"> @Html.CheckBox("PTANotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PTAShop"> @Html.CheckBox("PTAShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PTAMC"> @Html.CheckBox("PTAMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PTALEMF"> @Html.CheckBox("PTALEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PTARNW"> @Html.CheckBox("PTARNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PTAOutside"> @Html.CheckBox("PTAOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">26</td>
                                    <td class="numeric">   PWHT     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTNotReq"> @Html.CheckBox("PWHTNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTShop"> @Html.CheckBox("PWHTShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTMC"> @Html.CheckBox("PWHTMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTLEMF"> @Html.CheckBox("PWHTLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTRNW"> @Html.CheckBox("PWHTRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTOutside"> @Html.CheckBox("PWHTOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">27</td>
                                    <td class="numeric">  Internal Installation    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationNotReq"> @Html.CheckBox("InternalInstallationNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationShop"> @Html.CheckBox("InternalInstallationShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationMC"> @Html.CheckBox("InternalInstallationMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationLEMF"> @Html.CheckBox("InternalInstallationLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationRNW"> @Html.CheckBox("InternalInstallationRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationOutside"> @Html.CheckBox("InternalInstallationOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">28</td>
                                    <td class="numeric">   N2 Filling     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingNotReq"> @Html.CheckBox("N2FillingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingShop"> @Html.CheckBox("N2FillingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingMC"> @Html.CheckBox("N2FillingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingLEMF"> @Html.CheckBox("N2FillingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingRNW"> @Html.CheckBox("N2FillingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingOutside"> @Html.CheckBox("N2FillingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">29</td>
                                    <td class="numeric">   Sand Blasting     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingNotReq"> @Html.CheckBox("SandBlastingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingShop"> @Html.CheckBox("SandBlastingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingMC"> @Html.CheckBox("SandBlastingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingLEMF"> @Html.CheckBox("SandBlastingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingRNW"> @Html.CheckBox("SandBlastingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingOutside"> @Html.CheckBox("SandBlastingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">30</td>
                                    <td class="numeric">  Painting    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingNotReq"> @Html.CheckBox("PaintingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingShop"> @Html.CheckBox("PaintingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingMC"> @Html.CheckBox("PaintingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingLEMF"> @Html.CheckBox("PaintingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingRNW"> @Html.CheckBox("PaintingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingOutside"> @Html.CheckBox("PaintingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">31</td>
                                    <td class="numeric">  Acid Cleaning    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningNotReq"> @Html.CheckBox("AcidCleaningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningShop"> @Html.CheckBox("AcidCleaningShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningMC"> @Html.CheckBox("AcidCleaningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningLEMF"> @Html.CheckBox("AcidCleaningLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningRNW"> @Html.CheckBox("AcidCleaningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningOutside"> @Html.CheckBox("AcidCleaningOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">32</td>
                                    <td class="numeric">  Weight Measurement    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementNotReq"> @Html.CheckBox("WeightMeasurementNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementShop"> @Html.CheckBox("WeightMeasurementShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementMC"> @Html.CheckBox("WeightMeasurementMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementLEMF"> @Html.CheckBox("WeightMeasurementLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementRNW"> @Html.CheckBox("WeightMeasurementRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementOutside"> @Html.CheckBox("WeightMeasurementOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">33</td>
                                    <td class="numeric">   Manway Davit     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitNotReq"> @Html.CheckBox("ManwayDavitNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitShop"> @Html.CheckBox("ManwayDavitShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitMC"> @Html.CheckBox("ManwayDavitMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitLEMF"> @Html.CheckBox("ManwayDavitLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitRNW"> @Html.CheckBox("ManwayDavitRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitOutside"> @Html.CheckBox("ManwayDavitOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">34</td>
                                    <td class="numeric">   Vessel Davit     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitNotReq"> @Html.CheckBox("VesselDavitNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitShop"> @Html.CheckBox("VesselDavitShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitMC"> @Html.CheckBox("VesselDavitMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitLEMF"> @Html.CheckBox("VesselDavitLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitRNW"> @Html.CheckBox("VesselDavitRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitOutside"> @Html.CheckBox("VesselDavitOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">35</td>
                                    <td class="numeric">  Lapping Ring     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingNotReq"> @Html.CheckBox("LappingRingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingShop"> @Html.CheckBox("LappingRingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingMC"> @Html.CheckBox("LappingRingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingLEMF"> @Html.CheckBox("LappingRingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingRNW"> @Html.CheckBox("LappingRingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingOutside"> @Html.CheckBox("LappingRingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">36</td>
                                    <td class="numeric">  Shipping (Ex-work / FAS / FOB / At - Port / At - Site / Erection)     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingNotReq"> @Html.CheckBox("ShippingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingShop"> @Html.CheckBox("ShippingShop", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingMC"> @Html.CheckBox("ShippingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingLEMF"> @Html.CheckBox("ShippingLEMF", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingRNW"> @Html.CheckBox("ShippingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingOutside"> @Html.CheckBox("ShippingOutside", new { })<span></span></label></td>
                                </tr>
                        </table>
                    </div>
                </div>
            }
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblScopeOfWork"));
        }, 500);
    });
</script>