﻿
@using IEMQSImplementation
@model PCL024

<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
       
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "1000000000", aForm: "false" });
            $('.numeric5val').autoNumeric('init', { aPad: "true", vMax: "99999", aForm: "false" });
        });
        SetNumericInputVal();
        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()") {
            $("#btnSaveColumnConstruction").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtColumnConstructorHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmColumnConstruction").valid()) {
                var frmSaveHeaderValue = $("#frmColumnConstruction").serializeArray();

                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveColumnConstruction(frmSaveHeaderValue, status)
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveHeaderValue = $("#frmColumnConstruction").serializeArray();
        SaveColumnConstruction(frmSaveHeaderValue, status);
    }

    function SaveColumnConstruction(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveColumnConstructor",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtColumnConstructor").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtColumnConstructorHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section2").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>


<div id="dvSection1" class="fdControls">
    @*<h3 class="block">Construction Features</h3>*@
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmColumnConstruction", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtColumnConstructorHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtColumnConstructor" })
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>
            </div>
        </div>
        <hr class="savedraft" />
        <fieldset>
            <legend> 1)	Reactor Overall Dimension</legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">
                            ID :(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorID, new { @class = "form-control col-md-3", maxlength = "40" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Thk :(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorThk1, new { @class = "form-control col-md-3  decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            TL - TL:(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorTLTL, new { @class = "form-control col-md-3  decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Lg :(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorLg, new { @class = "form-control col-md-3  decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Fabricated Wt:(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorFabWt, new { @class = "form-control col-md-3  decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Hydro Wt:(MT)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorHydroWt, new { @class = "form-control col-md-3  decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">
                            Max. Shell Wd:(mm)
                        </label>
                        <div class="">
                            @Html.TextBoxFor(m => m.ReactorMaxShellWd, new { @class = "form-control col-md-3  decimalInput", maxlength = "12"  })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                2)	Reactor Designed for External Pressure Also ?
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                @Html.RadioButtonFor(m => m.ReactoreDesigned, "true", new { @class = "md-radiobtn", @id = "yes" })
                                <label for="yes">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Yes (Special <quote>e value</quote> Templates required as per Code)
                                </label>
                            </div>

                            <div class="md-radio">
                                @Html.RadioButtonFor(m => m.ReactoreDesigned, "false", new { @class = "md-radiobtn", @id = "no" })
                                <label for="no">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                3) Shell Construction
            </legend>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst1Seg">
                                @Html.CheckBox("ShellConst1Seg", new { })
                                <span></span>Single Seg
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst2Seg">
                                @Html.CheckBox("ShellConst2Seg", new { })
                                <span></span>Two Segments
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst3Seg">
                                @Html.CheckBox("ShellConst3Seg", new { })
                                <span></span>Three Segments
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ShellConst4Seg">
                                @Html.CheckBox("ShellConst4Seg", new { })
                                <span></span>Four Segments
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                4)	Type of Rolling
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeRollCold">
                                @Html.CheckBox("TypeRollCold", new { })
                                <span></span>Cold
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline">
                                @Html.CheckBox("TypeRollWarm", new { })
                                <span></span>
                            </label>
                            <label class="control-label" for="TypeRollWarm">Warm Temp </label>
                            @Html.TextBoxFor(m => m.TypeRollWarmVal, new { @class = "clsAllowance", placeholder = "°C", @style = "width: 200px;", maxlength = "15" }) °C
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            @Html.TextBoxFor(m => m.TypeRollWarmVal, new { placeholder = "Warm Temp °C", maxlength = "10", @class = "form-control" })
                        </div>*@
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TypeRollHot">
                                @Html.CheckBox("TypeRollHot", new { })
                                <span></span>
                            </label>

                            <label class="control-label" for="TypeRollHot">   Hot for </label>: @Html.TextBoxFor(m => m.TypeRollHotVal, new { placeholder = "Hrs", maxlength = "3", @class = "clsAllowance" }) : @Html.TextBoxFor(m => m.TypeRollHotmin, new { placeholder = "Min", maxlength = "3", @class = "clsAllowance" })
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                5)	Gas Cutting
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeat">
                                @Html.CheckBox("GasCuttingPreHeat", new { })
                                <span></span>With Pre-Heating with approved WPS
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeatNR">
                                @Html.CheckBox("GasCuttingPreHeatNR", new { })
                                <span></span>Pre-Heating Not Required
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                6)	C / seam WEP
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPPlate">
                                @Html.CheckBox("CSeamWEPPlate", new { })
                                <span></span>Plate Stage (max 11500mm)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPAfter">
                                @Html.CheckBox("CSeamWEPAfter", new { })
                                <span></span>After Rolling (nub shell)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                7)	PTC Required for
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLS">
                                @Html.CheckBox("PTCRequiredforLS", new { })
                                <span></span> L/S
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforCS">
                                @Html.CheckBox("PTCRequiredforCS", new { })
                                <span></span> C/S
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforDend">
                                @Html.CheckBox("PTCRequiredforDend", new { })
                                <span></span> D &apos; end
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforDendShell">
                                @Html.CheckBox("PTCRequiredforDendShell", new { })
                                <span></span> D &apos; end # Shell
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforSpool">
                                @Html.CheckBox("PTCRequiredforSpool", new { })
                                <span></span> Spool
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                8)	ISR / LSR Required for
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforLS">
                                @Html.CheckBox("ISRRequiredforLS", new { })
                                <span></span> L/S
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforCS">
                                @Html.CheckBox("ISRRequiredforCS", new { })
                                <span></span>CS
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforNozzle">
                                @Html.CheckBox("ISRRequiredforNozzle", new { })
                                <span></span>Nozzle
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforCone">
                                @Html.CheckBox("ISRRequiredforCone", new { })
                                <span></span> Cone
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforHead">
                                @Html.CheckBox("ISRRequiredforHead", new { })
                                <span></span> Head
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISRNA">
                                @Html.CheckBox("ISRNA", new { })
                                <span></span> NA
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                9)	PT / MT After
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterWelding">
                                @Html.CheckBox("PTMTAfterWelding", new { })
                                <span></span>Welding
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterOverlay">
                                @Html.CheckBox("PTMTAfterOverlay", new { })
                                <span></span> Overlay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterPWHT">
                                @Html.CheckBox("PTMTAfterPWHT", new { })
                                <span></span> PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterHydro">
                                @Html.CheckBox("PTMTAfterHydro", new { })
                                <span></span> Hydro-test
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                10)	RT After
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="RTAfterWelding">
                                @Html.CheckBox("RTAfterWelding", new { })
                                <span></span>Welding
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="RTAfterOverlay">
                                @Html.CheckBox("RTAfterOverlay", new { })
                                <span></span> Overlay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="RTAfterPWHT">
                                @Html.CheckBox("RTAfterPWHT", new { })
                                <span></span> PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="RTAfterHydro">
                                @Html.CheckBox("RTAfterHydro", new { })
                                <span></span> Hydro-test
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="RTAfterNA">
                                @Html.CheckBox("RTAfterNA", new { })
                                <span></span> NA
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                11)	UT After
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="UTAfterRecordable">
                                @Html.CheckBox("UTAfterRecordable", new { })
                                <span></span>Recordable
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="UTAfterConventional">
                                @Html.CheckBox("UTAfterConventional", new { })
                                <span></span> Conventional
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="UTAfterWelding">
                                @Html.CheckBox("UTAfterWelding", new { })
                                <span></span> WEP & Welding
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="UTAfterOverlay">
                                @Html.CheckBox("UTAfterOverlay", new { })
                                <span></span> Overlay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="UTAfterPWHT">
                                @Html.CheckBox("UTAfterPWHT", new { })
                                <span></span> PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="UTAfterHydro">
                                @Html.CheckBox("UTAfterHydro", new { })
                                <span></span> Hydro-test
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                12)	Ferrite After
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="FerAfterWelding">
                                @Html.CheckBox("FerAfterWelding", new { })
                                <span></span>Welding
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="FerAfterOverlay">
                                @Html.CheckBox("FerAfterOverlay", new { })
                                <span></span> Overlay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="FerAfterPWHT">
                                @Html.CheckBox("FerAfterPWHT", new { })
                                <span></span> PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="FerAfterHydro">
                                @Html.CheckBox("FerAfterHydro", new { })
                                <span></span> Hydro-test
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                13)	Shel Overlay Type(For Cladded Job)
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCSingle">
                                @Html.CheckBox("SOTESSCSingle", new { })
                                <span></span>ESSC Single Layer
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCDouble">
                                @Html.CheckBox("SOTESSCDouble", new { })
                                <span></span>ESSC Double Layer
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCClade">
                                @Html.CheckBox("SOTESSCClade", new { })
                                <span></span>Clad
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCOlayNR">
                                @Html.CheckBox("SOTESSCOlayNR", new { })
                                <span></span>O/Lay not Required
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                14)	D & apos; end Construction
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DCPetalWCrown">
                                @Html.CheckBox("DCPetalWCrown", new { })
                                <span></span>Petal with Crown
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DC4PetalWoCrown">
                                @Html.CheckBox("DC4PetalWoCrown", new { })
                                <span></span> Petal without Crown
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DCSinglePeice">
                                @Html.CheckBox("DCSinglePeice", new { })
                                <span></span> Single Piece
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DCTwoHalves">
                                @Html.CheckBox("DCTwoHalves", new { })
                                <span></span> Two halves
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                15) D & apos; end Receipt Condition
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedPetals">
                                @Html.CheckBox("DRCFormedPetals", new { })
                                <span></span>Formed Petals
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedSetup">
                                @Html.CheckBox("DRCFormedSetup", new { })
                                <span></span>Set-up (LEMF/Other)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedWelded">
                                @Html.CheckBox("DRCFormedWelded", new { })
                                <span></span>Welded
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedOutside">
                                @Html.CheckBox("DRCFormedOutside", new { })
                                <span></span>Outside
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                16)	D & apos; end Overlay Type
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCSingle">
                                @Html.CheckBox("DOTESSCSingle", new { })
                                <span></span> ESSC Single Layer
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCDouble">
                                @Html.CheckBox("DOTESSCDouble", new { })
                                <span></span> ESSC Double Layer
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCClade">
                                @Html.CheckBox("DOTESSCClade", new { })
                                <span></span> Clad TDE
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCOlayNR">
                                @Html.CheckBox("DOTESSCOlayNR", new { })
                                <span></span> O/Lay not Required BDE
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                17)	Skirt # Vessel Joint
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SVJYring">
                                @Html.CheckBox("SVJYring", new { })
                                <span></span>Y-Ring
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SVJBuildup">
                                @Html.CheckBox("SVJBuildup", new { })
                                <span></span>Build-up on D &apos; end
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SVJLapJoint">
                                @Html.CheckBox("SVJLapJoint", new { })
                                <span></span> Lap Joint
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                18)	Y Ring Type
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="YRTForgedShell">
                                @Html.CheckBox("YRTForgedShell", new { })
                                <span></span>Forged Shell
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="YRTForgedSeg">
                                @Html.CheckBox("YRTForgedSeg", new { })
                                <span></span> Forged Segment
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="YRTReadimade">
                                @Html.CheckBox("YRTReadimade", new { })
                                <span></span> Readimade
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="YRTPlate">
                                @Html.CheckBox("YRTPlate", new { })
                                <span></span> Plate with Double Clad
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="YRTNR">
                                @Html.CheckBox("YRTNR", new { })
                                <span></span> Not Required
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                19)	Tray Support Ring(TSR) : Nos
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRWeldBuildup">
                                @Html.CheckBox("TSRWeldBuildup", new { })
                                <span></span>Weld Build Up
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRForgedShell">
                                @Html.CheckBox("TSRForgedShell", new { })
                                <span></span> Forged Shell
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRPlateWOlay">
                                @Html.CheckBox("TSRPlateWOlay", new { })
                                <span></span> Plate with O/Lay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRPlate">
                                @Html.CheckBox("TSRPlate", new { })
                                <span></span> Plate with segments
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRSSPlate">
                                @Html.CheckBox("TSRSSPlate", new { })
                                <span></span> SS Plate Ring
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRNoofGussets">
                                @Html.CheckBox("TSRNoofGussets", new { })
                                <span></span>
                            </label>

                            <label class="control-label" for="TSRNoofGussets"> Nos. of segment per Ring</label>
                            @Html.TextBoxFor(m => m.TSRNoofGussetsVal, new { @class = "clsAllowance numeric5val", placeholder = "Nos.", @style = "width: 80px;", maxlength = "5" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TSRNR">
                                @Html.CheckBox("TSRNR", new { })
                                <span></span> Not Required
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                20)Nozzle Flange Face
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="NFFRaised">
                                @Html.CheckBox("NFFRaised", new { })
                                <span></span> Raised
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="NFFGroove">
                                @Html.CheckBox("NFFGroove", new { })
                                <span></span>Groove
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="NFFOther">
                                @Html.CheckBox("NFFOther", new { })
                                <span></span>Other
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                21)Nozzle Gasket Face Overlay
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="NGFBfPWHT">
                                @Html.CheckBox("NGFBfPWHT", new { })
                                <span></span>Before PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="NGFAfPWHT">
                                @Html.CheckBox("NGFAfPWHT", new { })
                                <span></span>After PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="NGFNR">
                                @Html.CheckBox("NGFNR", new { })
                                <span></span>Not Required
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                22)Spool Material
            </legend>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatSS">
                                @Html.CheckBox("SpoolMatSS", new { })
                                <span></span> SS
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatLAS">
                                @Html.CheckBox("SpoolMatLAS", new { })
                                <span></span>LAS + O/Lay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatCS">
                                @Html.CheckBox("SpoolMatCS", new { })
                                <span></span>CS + O/L
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatOth">
                                @Html.CheckBox("SpoolMatOth", new { })
                                <span></span> Other
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">
                            Other =
                        </label>

                        @Html.TextBoxFor(m => m.SpoolMatOthVal, new { @class = "clsAllowance", placeholder = "Other", @style = "width: 200px;", maxlength = "40" })

                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                23)Joints in Spool
            </legend>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="JSInConnel">
                                @Html.CheckBox("JSInConnel", new { })
                                <span></span> Inconnel
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="JSBiMetalic">
                                @Html.CheckBox("JSBiMetalic", new { })
                                <span></span>Bi-Metallic
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="JSCladRestoration">
                                @Html.CheckBox("JSCladRestoration", new { })
                                <span></span>Clad Restoration
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                24) SS Welding (Internals)
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SSWBfPWHT">
                                @Html.CheckBox("SSWBfPWHT", new { })
                                <span></span> Before PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SSWAfPWHT">
                                @Html.CheckBox("SSWAfPWHT", new { })
                                <span></span> After PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SSWBoth">
                                @Html.CheckBox("SSWBoth", new { })
                                <span></span> Before and After PWHT both
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                25)Vessel Support
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="VessleSSkirt">
                                @Html.CheckBox("VessleSSkirt", new { })
                                <span></span> Skirt
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="VessleSSupp">
                                @Html.CheckBox("VessleSSupp", new { })
                                <span></span> Support Brackets
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="VessleSLegs">
                                @Html.CheckBox("VessleSLegs", new { })
                                <span></span> Legs
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="VessleSSaddle">
                                @Html.CheckBox("VessleSSaddle", new { })
                                <span></span> Saddle
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                26)Skirt made in LEMF
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein1">
                                @Html.CheckBox("SkirtMadein1", new { })
                                <span></span>Single Piece
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein2">
                                @Html.CheckBox("SkirtMadein2", new { })
                                <span></span>Two Pieces (LAS + CS)
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                27)Fire Proofing Nuts Welding on Skirt in LEMF
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="FPNWeldNuts">
                                @Html.CheckBox("FPNWeldNuts", new { })
                                <span></span>Weld All Nuts
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="FPNLeaveRow">
                                @Html.CheckBox("FPNLeaveRow", new { })
                                <span></span>Leave row from bottom for tank rotator
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                28)PWHT
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PWHTSinglePiece">
                                @Html.CheckBox("PWHTSinglePiece", new { })
                                <span></span>Single Piece
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PWHTLSRJoint">
                                @Html.CheckBox("PWHTLSRJoint", new { })
                                <span></span>LSR Joint Allowed (In Sections)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">
                            No of PWHT Sec: =
                        </label>
                        @Html.TextBoxFor(m => m.PWHTNoSec, new { @class = "clsAllowance  decimalInput", maxlength = "12" , placeholder = "Nos.", @style = "width: 80px;" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                29)PTC / MTC Heat treatment
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptc">
                                @Html.CheckBox("PTCMTCptc", new { })
                                <span></span>PTC with Job
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtc">
                                @Html.CheckBox("PTCMTCmtc", new { })
                                <span></span>MTC with Job
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptcSim">
                                @Html.CheckBox("PTCMTCptcSim", new { })
                                <span></span>PTC Simulation
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtcSim">
                                @Html.CheckBox("PTCMTCmtcSim", new { })
                                <span></span>MTC Simulation
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                30)Saddles for PWHT / Hydrotest : (PWHT saddle for Horizontal PWHT Section)
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline">
                                @Html.CheckBox("SaddlesTrans", new { })
                                <span></span>
                            </label>
                            <label class="control-label" for="SaddlesTrans">Transportation Saddles</label>
                            @Html.TextBoxFor(m => m.SaddlesTransVal, new { @class = "clsAllowance numeric5val", placeholder = "Nos.", @style = "width: 80px;", maxlength = "5" }) No.s
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline">
                                @Html.CheckBox("SaddlesAddit", new { })
                                <span></span>
                            </label>
                            <label class="control-label" for="SaddlesAddit">Additional Saddles</label>
                            @Html.TextBoxFor(m => m.SaddlesAdditVal, new { @class = "clsAllowance numeric5val", placeholder = "Nos.", @style = "width: 80px;", maxlength = "5" }) No.s
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                31)PWHT in Furnace:
            </legend>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnacePFS">
                                @Html.CheckBox("PWHTinFurnacePFS", new { })
                                <span></span>PFS
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceHFS1">
                                @Html.CheckBox("PWHTinFurnaceHFS1", new { })
                                <span></span>HFS1
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceLEMF">
                                @Html.CheckBox("PWHTinFurnaceLEMF", new { })
                                <span></span>LEMF
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">
                            No of PWHT Sec: =
                        </label>
                        @Html.TextBoxFor(m => m.PWHTinFurnaceName, new { @class = "clsAllowance numeric5val", placeholder = "Nos.", @style = "width: 80px;", maxlength = "5" })
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                32)Section Weight for PWHT
            </legend>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SectionWtMore230">
                                @Html.CheckBox("SectionWtMore230", new { })
                                <span></span>&gt;230 MT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SectionWt200To230">
                                @Html.CheckBox("SectionWt200To230", new { })
                                <span></span>200 - 230 MT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SectionWt150To200">
                                @Html.CheckBox("SectionWt150To200", new { })
                                <span></span>150-200 MT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SectionWtLess150">
                                @Html.CheckBox("SectionWtLess150", new { })
                                <span></span>&lt; 150MT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SectionWtSingle">
                                @Html.CheckBox("SectionWtSingle", new { })
                                <span></span>Single Piece
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="SectionWt2Sec">
                                @Html.CheckBox("SectionWt2Sec", new { })
                                <span></span>2 Sections
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label">
                            Nos of Section:
                        </label>
                        @Html.TextBoxFor(m => m.SectionWtNoSec, new { @class = "clsAllowance  decimalInput", maxlength = "12" , placeholder = "Nos.", @style = "width: 80px;" })

                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                33) Axle Required for movement
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ARMRequired">
                                @Html.CheckBox("ARMRequired", new { })
                                <span></span>Required
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ARMRT">
                                @Html.CheckBox("ARMRT", new { })
                                <span></span> RT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ARMPWHT">
                                @Html.CheckBox("ARMPWHT", new { })
                                <span></span>PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ARMSB">
                                @Html.CheckBox("ARMSB", new { })
                                <span></span> S/B & Painting
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                34)	CI Requirement in Hydro - test Water
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CLRHLess30ppm">
                                @Html.CheckBox("CLRHLess30ppm", new { })
                                <span></span> &lt; 30 ppm
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CLRHMore30ppm">
                                @Html.CheckBox("CLRHMore30ppm", new { })
                                <span></span> &gt; 30 ppm
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            ppm =
                        </label>
                        @Html.TextBoxFor(m => m.CLRHppm, new { @class = "clsAllowance  decimalInput", maxlength = "12", placeholder = "Nos.", @style = "width: 80px;"})
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">
                            Other Requirement =
                        </label>
                    </div>
                    <div class="col-md-2">
                        @Html.TextAreaFor(m => m.CLRHOther, new { @class = "clsAllowance", placeholder = "Other Requirement", @style = "width: 300px", maxlength = "40" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                35)	Template for Support / Skirt
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TemplateForReq">
                                @Html.CheckBox("TemplateForReq", new { })
                                <span></span> Required
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TemplateForNReq">
                                @Html.CheckBox("TemplateForNReq", new { })
                                <span></span> Not required
                            </label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" style="text-align:left">
                            Other =
                        </label>
                    </div>
                    <div class="col-md-2">
                        @Html.TextAreaFor(m => m.N2FillOtherVal, new { @class = "form-control", placeholder = "Other Requirement", @style = "width: 300px", maxlength = "40" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                36)	N2 Flling
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="N2FillReq">
                                @Html.CheckBox("N2FillReq", new { })
                                <span></span> Required
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="N2FillNotReq">
                                @Html.CheckBox("N2FillNotReq", new { })
                                <span></span> Not required
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="N2FillOther">
                                @Html.CheckBox("N2FillOther", new { })
                                <span></span> Other Protection on internal surface
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                37)	External Surface Treatment
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ESTPlate">
                                @Html.CheckBox("ESTPlate", new { })
                                <span></span>Plate Stage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ESTShell">
                                @Html.CheckBox("ESTShell", new { })
                                <span></span>Shell Stage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ESTSection">
                                @Html.CheckBox("ESTSection", new { })
                                <span></span>Section Stage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ESTEquip">
                                @Html.CheckBox("ESTEquip", new { })
                                <span></span>Equipment
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                38)	Internal Surface Treatment
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISTPlate">
                                @Html.CheckBox("ISTPlate", new { })
                                <span></span>Plate Stage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISTShell">
                                @Html.CheckBox("ISTShell", new { })
                                <span></span>Shell Stage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISTSection">
                                @Html.CheckBox("ISTSection", new { })
                                <span></span>Section Stage
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISTEquip">
                                @Html.CheckBox("ISTEquip", new { })
                                <span></span>Equipment
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISTAfBfPWHT">
                                @Html.CheckBox("ISTAfBfPWHT", new { })
                                <span></span>After/ Before PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="ISTAfHydro">
                                @Html.CheckBox("ISTAfHydro", new { })
                                <span></span>After Hydro (Clad Section)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                39)	Coupling / Nozzle for Dump nozzles
            </legend>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CDNSS">
                                @Html.CheckBox("CDNSS", new { })
                                <span></span> SS
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CDNLAS">
                                @Html.CheckBox("CDNLAS", new { })
                                <span></span> LAS/CAS + O/Lay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CDNCS">
                                @Html.CheckBox("CDNCS", new { })
                                <span></span> CS/LAS
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="CDNNotReq">
                                @Html.CheckBox("CDNNotReq", new { })
                                <span></span> Not Required
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                40)	Maximum Size of Bolts/ stud
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_38">
                                @Html.CheckBox("MaxSBLess1_38", new { })
                                <span></span> < = 1-3/8 "(Torque Wrench)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_78">
                                @Html.CheckBox("MaxSBLess1_78", new { })
                                <span></span> < = 1-7/8 "(RSL4)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess2_14">
                                @Html.CheckBox("MaxSBLess2_14", new { })
                                <span></span> < = 2-1/4 "(RSL8)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess4">
                                @Html.CheckBox("MaxSBLess4", new { })
                                <span></span>&lt;&eq;4&quot;(Stud Tensioning)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="MaxSBMore4">
                                @Html.CheckBox("MaxSBMore4", new { })
                                <span></span> > 4";
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                41)	TOFD After
            </legend>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TOFDAfterWelding">
                                @Html.CheckBox("TOFDAfterWelding", new { })
                                <span></span>Welding
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TOFDAfterOverlay">
                                @Html.CheckBox("TOFDAfterOverlay", new { })
                                <span></span> Overlay
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TOFDAfterPWHT">
                                @Html.CheckBox("TOFDAfterPWHT", new { })
                                <span></span> PWHT
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TOFDAfterHydro">
                                @Html.CheckBox("TOFDAfterHydro", new { })
                                <span></span> Hydro-test
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="control-label" style="text-align:left">
                            <label class="mt-checkbox mt-checkbox-outline" for="TOFDNA">
                                @Html.CheckBox("TOFDNA", new { })
                                <span></span> N/A
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    }


</div>

