﻿@using IEMQSImplementation
@model PCL020


<script>
    var Status = $("#spnStatus").text(); //'@ViewBag.Status';
    $(document).ready(function () {

        if ('@ViewBag.Action'.toLowerCase() == "edit") {
        }

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveCDScopeOfWork").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtSOWHeader").val(strHeader);


    });
    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmCDScopeOfWork").valid()) {
                var frmSaveScopeOfWork = $("#frmCDScopeOfWork").serializeArray();

                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveCDScopeOfWork(frmSaveScopeOfWork, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveScopeOfWork = $("#frmCDScopeOfWork").serializeArray();
        SaveCDScopeOfWork(frmSaveScopeOfWork, status);
    }
    function SaveCDScopeOfWork(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveCDScopeOfWork",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtSOWLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtSOWHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        if (data.Revno > 0) { GetPLCHeaderFormHTML(strHeader); } else {
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                    }
                    $("#Section4").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        <div class="fdControls">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCDScopeOfWork", @class = "form-horizontal" }))
            {
                <div class="row savedraft">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
                <hr class="savedraft" />

                @Html.HiddenFor(m => m.HeaderId, new { id = "txtCDSOWHeader" })
                @Html.HiddenFor(m => m.LineId, new { id = "txtCDSOWLine" })
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Scope of Work
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblScopeOfWork">
                            <thead class="flip-content" style="padding: 8px;">
                                <tr>
                                    <th class="numeric">Sr no</th>
                                    <th class="numeric"> Description </th>
                                    <th class="numeric"> Applicable </th>
                                    <th class="numeric"> PC-1 Shop </th>
                                    <th class="numeric"> M/C Shop</th>
                                    <th class="numeric"> HPC-3 </th>
                                    <th class="numeric"> RNW </th>
                                    <th class="numeric"> Outside </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="numeric">1</td>
                                    @*<td class="all"></td>*@
                                    <td class="numeric"> Equipment       </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentNotReq"> @Html.CheckBox("EquipmentNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentPC"> @Html.CheckBox("EquipmentPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentMC"> @Html.CheckBox("EquipmentMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentHPC3"> @Html.CheckBox("EquipmentHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentRNW"> @Html.CheckBox("EquipmentRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentOutside"> @Html.CheckBox("EquipmentOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">2</td>
                                    <td class="numeric">   D'end Forming     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingNotReq"> @Html.CheckBox("DEndFormingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingPC"> @Html.CheckBox("DEndFormingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingMC"> @Html.CheckBox("DEndFormingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingHPC3"> @Html.CheckBox("DEndFormingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingRNW"> @Html.CheckBox("DEndFormingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingOutside"> @Html.CheckBox("DEndFormingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">3</td>
                                    <td class="numeric">   D'end Setup     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupNotReq"> @Html.CheckBox("DEndSetupNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupPC"> @Html.CheckBox("DEndSetupPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupMC"> @Html.CheckBox("DEndSetupMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupHPC3"> @Html.CheckBox("DEndSetupHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupRNW"> @Html.CheckBox("DEndSetupRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupOutside"> @Html.CheckBox("DEndSetupOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">4</td>
                                    <td class="numeric">   D'end Welding     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingNotReq"> @Html.CheckBox("DEndWeldingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingPC"> @Html.CheckBox("DEndWeldingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingMC"> @Html.CheckBox("DEndWeldingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingHPC3"> @Html.CheckBox("DEndWeldingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingRNW"> @Html.CheckBox("DEndWeldingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingOutside"> @Html.CheckBox("DEndWeldingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">5</td>
                                    <td class="numeric">   Skirt     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtNotReq"> @Html.CheckBox("SkirtNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtPC"> @Html.CheckBox("SkirtPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtMC"> @Html.CheckBox("SkirtMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtHPC3"> @Html.CheckBox("SkirtHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtRNW"> @Html.CheckBox("SkirtRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtOutside"> @Html.CheckBox("SkirtOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">6</td>
                                    <td class="numeric">   Y-Ring L/S Welding     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingLSNotReq"> @Html.CheckBox("YRingLSNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingLSPC"> @Html.CheckBox("YRingLSPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingLSMC"> @Html.CheckBox("YRingLSMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingLSHPC3"> @Html.CheckBox("YRingLSHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingLSRNW"> @Html.CheckBox("YRingLSRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingLSOutside"> @Html.CheckBox("YRingLSOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">7</td>
                                    <td class="numeric">   Y-Ring Overlay Welding    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingOverlayNotReq"> @Html.CheckBox("YRingOverlayNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingOverlayPC"> @Html.CheckBox("YRingOverlayPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingOverlayMC"> @Html.CheckBox("YRingOverlayMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingOverlayHPC3"> @Html.CheckBox("YRingOverlayHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingOverlayRNW"> @Html.CheckBox("YRingOverlayRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingOverlayOutside"> @Html.CheckBox("YRingOverlayOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">8</td>
                                    <td class="numeric">   Y-Ring Machining     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningNotReq"> @Html.CheckBox("YRingMachiningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningPC"> @Html.CheckBox("YRingMachiningPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningMC"> @Html.CheckBox("YRingMachiningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningHPC3"> @Html.CheckBox("YRingMachiningHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningRNW"> @Html.CheckBox("YRingMachiningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningOutside"> @Html.CheckBox("YRingMachiningOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">9</td>
                                    <td class="numeric">   Nozzle initial Machining     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningNotReq"> @Html.CheckBox("NozMachiningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningPC"> @Html.CheckBox("NozMachiningPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningMC"> @Html.CheckBox("NozMachiningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningHPC3"> @Html.CheckBox("NozMachiningHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningRNW"> @Html.CheckBox("NozMachiningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningOutside"> @Html.CheckBox("NozMachiningOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">10</td>
                                    <td class="numeric">   Nozzle Overlay     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayNotReq"> @Html.CheckBox("NozOverlayNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayPC"> @Html.CheckBox("NozOverlayPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayMC"> @Html.CheckBox("NozOverlayMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayHPC3"> @Html.CheckBox("NozOverlayHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayRNW"> @Html.CheckBox("NozOverlayRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayOutside"> @Html.CheckBox("NozOverlayOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">11</td>
                                    <td class="numeric">   Manway Overlay     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayNotReq"> @Html.CheckBox("ManOverlayNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayPC"> @Html.CheckBox("ManOverlayPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayMC"> @Html.CheckBox("ManOverlayMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayHPC3"> @Html.CheckBox("ManOverlayHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayRNW"> @Html.CheckBox("ManOverlayRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayOutside"> @Html.CheckBox("ManOverlayOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">12</td>
                                    <td class="numeric">   Nozzle final Machining     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningNotReq"> @Html.CheckBox("NozFinMachiningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningPC"> @Html.CheckBox("NozFinMachiningPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningMC"> @Html.CheckBox("NozFinMachiningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningHPC3"> @Html.CheckBox("NozFinMachiningHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningRNW"> @Html.CheckBox("NozFinMachiningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningOutside"> @Html.CheckBox("NozFinMachiningOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">13</td>
                                    <td class="numeric">   Nozzle Cutout WEP     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPNotReq"> @Html.CheckBox("NozWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPPC"> @Html.CheckBox("NozWEPPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPMC"> @Html.CheckBox("NozWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPHPC3"> @Html.CheckBox("NozWEPHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPRNW"> @Html.CheckBox("NozWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPOutside"> @Html.CheckBox("NozWEPOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">14</td>
                                    <td class="numeric">   Long seam WEP for Shell     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPNotReq"> @Html.CheckBox("LongWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPPC"> @Html.CheckBox("LongWEPPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPMC"> @Html.CheckBox("LongWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPHPC3"> @Html.CheckBox("LongWEPHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPRNW"> @Html.CheckBox("LongWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPOutside"> @Html.CheckBox("LongWEPOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">15</td>
                                    <td class="numeric">   Circ seam WEP for Shell     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPNotReq"> @Html.CheckBox("CircWEPNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPPC"> @Html.CheckBox("CircWEPPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPMC"> @Html.CheckBox("CircWEPMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPHPC3"> @Html.CheckBox("CircWEPHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPRNW"> @Html.CheckBox("CircWEPRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPOutside"> @Html.CheckBox("CircWEPOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">16</td>
                                    <td class="numeric">   Balling Eye Fabrication   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BailingNotReq"> @Html.CheckBox("BailingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BailingPC"> @Html.CheckBox("BailingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BailingMC"> @Html.CheckBox("BailingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BailingHPC3"> @Html.CheckBox("BailingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BailingRNW"> @Html.CheckBox("BailingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BailingOutside"> @Html.CheckBox("BailingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">17</td>
                                    <td class="numeric"> Lifting Frame Fabrication    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationNotReq"> @Html.CheckBox("LiftFabricationNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationPC"> @Html.CheckBox("LiftFabricationPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationMC"> @Html.CheckBox("LiftFabricationMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationHPC3"> @Html.CheckBox("LiftFabricationHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationRNW"> @Html.CheckBox("LiftFabricationRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationOutside"> @Html.CheckBox("LiftFabricationOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">18</td>
                                    <td class="numeric">   Weldable External Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabNotReq"> @Html.CheckBox("WeldExFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabPC"> @Html.CheckBox("WeldExFabPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabMC"> @Html.CheckBox("WeldExFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabHPC3"> @Html.CheckBox("WeldExFabHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabRNW"> @Html.CheckBox("WeldExFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabOutside"> @Html.CheckBox("WeldExFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">19</td>
                                    <td class="numeric">   Weldable Internal Fabrication     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabNotReq"> @Html.CheckBox("WeldInFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabPC"> @Html.CheckBox("WeldInFabPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabMC"> @Html.CheckBox("WeldInFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabHPC3"> @Html.CheckBox("WeldInFabHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabRNW"> @Html.CheckBox("WeldInFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabOutside"> @Html.CheckBox("WeldInFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">20</td>
                                    <td class="numeric">  Insulation Ring/ Strap Fabrication    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabNotReq"> @Html.CheckBox("InsFabNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabPC"> @Html.CheckBox("InsFabPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabMC"> @Html.CheckBox("InsFabMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabHPC3"> @Html.CheckBox("InsFabHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabRNW"> @Html.CheckBox("InsFabRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabOutside"> @Html.CheckBox("InsFabOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">21</td>
                                    <td class="numeric">  Saddles   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesNotReq"> @Html.CheckBox("SaddlesNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesPC"> @Html.CheckBox("SaddlesPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesMC"> @Html.CheckBox("SaddlesMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesHPC3"> @Html.CheckBox("SaddlesHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesRNW"> @Html.CheckBox("SaddlesRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesOutside"> @Html.CheckBox("SaddlesOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">22</td>
                                    <td class="numeric"> Skirt template </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateNotReq"> @Html.CheckBox("SkirtTemplateNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplatePC"> @Html.CheckBox("SkirtTemplatePC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateMC"> @Html.CheckBox("SkirtTemplateMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateHPC3"> @Html.CheckBox("SkirtTemplateHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateRNW"> @Html.CheckBox("SkirtTemplateRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateOutside"> @Html.CheckBox("SkirtTemplateOutside", new { })<span></span></label></td>
                                </tr>

                                <!--<tr>
                <td class="numeric">23</td>
                <td class="numeric"> Skirt </td>
                <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtNotReq"> @Html.CheckBox("SkirtNotReq", new { })<span></span></label></td>
                <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtPC"> @Html.CheckBox("SkirtPC", new { })<span></span></label></td>
                <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtMC"> @Html.CheckBox("SkirtMC", new { })<span></span></label></td>
                <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtHPC3"> @Html.CheckBox("SkirtHPC3", new { })<span></span></label></td>
                <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirRNW"> @Html.CheckBox("SkirtRNW", new { })<span></span></label></td>
                <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtOutside"> @Html.CheckBox("SkirtOutside", new { })<span></span></label></td>
            </tr>-->

                                <tr>
                                    <td class="numeric">23</td>
                                    <td class="numeric">  Skirt Slotting    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtSlottingNotReq"> @Html.CheckBox("SkirtSlottingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtSlottingPC"> @Html.CheckBox("SkirtSlottingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtSlottingMC"> @Html.CheckBox("SkirtSlottingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtSlottingHPC3"> @Html.CheckBox("SkirtSlottingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtSlottingRNW"> @Html.CheckBox("SkirtSlottingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtSlottingOutside"> @Html.CheckBox("SkirtSlottingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">24</td>
                                    <td class="numeric">   PWHT   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTNotReq"> @Html.CheckBox("PWHTNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTPC"> @Html.CheckBox("PWHTPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTMC"> @Html.CheckBox("PWHTMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTHPC3"> @Html.CheckBox("PWHTHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTRNW"> @Html.CheckBox("PWHTRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTOutside"> @Html.CheckBox("PWHTOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">25</td>
                                    <td class="numeric">   N2 Filling   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillNotReq"> @Html.CheckBox("N2FillNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillPC"> @Html.CheckBox("N2FillPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillMC"> @Html.CheckBox("N2FillMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillHPC3"> @Html.CheckBox("N2FillHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillRNW"> @Html.CheckBox("N2FillRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillOutside"> @Html.CheckBox("N2FillOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">26</td>
                                    <td class="numeric">  Sand Blasting   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingNotReq"> @Html.CheckBox("SandBlastingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingPC"> @Html.CheckBox("SandBlastingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingMC"> @Html.CheckBox("SandBlastingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingHPC3"> @Html.CheckBox("SandBlastingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingRNW"> @Html.CheckBox("SandBlastingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingOutside"> @Html.CheckBox("SandBlastingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">27</td>
                                    <td class="numeric">  Painting    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingNotReq"> @Html.CheckBox("PaintingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingPC"> @Html.CheckBox("PaintingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingMC"> @Html.CheckBox("PaintingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingHPC3"> @Html.CheckBox("PaintingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingRNW"> @Html.CheckBox("PaintingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingOutside"> @Html.CheckBox("PaintingOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">28</td>
                                    <td class="numeric">  Acid Cleaning    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningNotReq"> @Html.CheckBox("AcidCleaningNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningPC"> @Html.CheckBox("AcidCleaningPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningMC"> @Html.CheckBox("AcidCleaningMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningHPC3"> @Html.CheckBox("AcidCleaningHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningRNW"> @Html.CheckBox("AcidCleaningRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningOutside"> @Html.CheckBox("AcidCleaningOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">29</td>
                                    <td class="numeric">  Weight Measurement    </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementNotReq"> @Html.CheckBox("WeightMeasurementNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementPC"> @Html.CheckBox("WeightMeasurementPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementMC"> @Html.CheckBox("WeightMeasurementMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementHPC3"> @Html.CheckBox("WeightMeasurementHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementRNW"> @Html.CheckBox("WeightMeasurementRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementOutside"> @Html.CheckBox("WeightMeasurementOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">30</td>
                                    <td class="numeric">   Manway Davit     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitNotReq"> @Html.CheckBox("ManwayDavitNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitPC"> @Html.CheckBox("ManwayDavitPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitMC"> @Html.CheckBox("ManwayDavitMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitHPC3"> @Html.CheckBox("ManwayDavitHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitRNW"> @Html.CheckBox("ManwayDavitRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitOutside"> @Html.CheckBox("ManwayDavitOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">31</td>
                                    <td class="numeric">   Vessel Davit     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitNotReq"> @Html.CheckBox("VesselDavitNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitPC"> @Html.CheckBox("VesselDavitPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitMC"> @Html.CheckBox("VesselDavitMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitHPC3"> @Html.CheckBox("VesselDavitHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitRNW"> @Html.CheckBox("VesselDavitRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitOutside"> @Html.CheckBox("VesselDavitOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">32</td>
                                    <td class="numeric">  Load Testing of Bailing eye/Lifting Frame   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LoadTestNotReq"> @Html.CheckBox("LoadTestNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LoadTestPC"> @Html.CheckBox("LoadTestPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LoadTestMC"> @Html.CheckBox("LoadTestMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LoadTestHPC3"> @Html.CheckBox("LoadTestHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LoadTestRNW"> @Html.CheckBox("LoadTestRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LoadTestOutside"> @Html.CheckBox("LoadTestOutside", new { })<span></span></label></td>
                                </tr>
                                <tr>
                                    <td class="numeric">33</td>
                                    <td class="numeric"> Dump Nozzle Machining after PWHT/LSR   </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DumpNotReq"> @Html.CheckBox("DumpNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DumpPC"> @Html.CheckBox("DumpPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DumpMC"> @Html.CheckBox("DumpMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DumpHPC3"> @Html.CheckBox("DumpHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DumpRNW"> @Html.CheckBox("DumpRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DumpOutside"> @Html.CheckBox("DumpOutside", new { })<span></span></label></td>
                                </tr>

                                <tr>
                                    <td class="numeric">34</td>
                                    <td class="numeric">  Shipping (Ex-work / FAS / FOB / At - Port / At - Site / Erection)     </td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingNotReq"> @Html.CheckBox("ShippingNotReq", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingPC"> @Html.CheckBox("ShippingPC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingMC"> @Html.CheckBox("ShippingMC", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingHPC3"> @Html.CheckBox("ShippingHPC3", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingRNW"> @Html.CheckBox("ShippingRNW", new { })<span></span></label></td>
                                    <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingOutside"> @Html.CheckBox("ShippingOutside", new { })<span></span></label></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            }
        </div>
        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblScopeOfWork"));
        }, 500);
    });
</script>