﻿@using IEMQSImplementation
@model PCL018
<script>
    $(document).ready(function () {
        SetNumericInputVal();
        var Status = $("#spnStatus").text(); //'@ViewBag.Status';

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()") {
            $(".savedraft").show();
        }


        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status ==  "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()"  || Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" ) {
            $("#btnSaveCDConstruction").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtCDConstructorHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmCDConstruction").valid()) {
                var frmSaveHeaderValue = $("#frmCDConstruction").serializeArray();
                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveCDConstruction(frmSaveHeaderValue, status);
                }
            }
        }
    }

    function ReviseHeaderCallBack() {
        var frmSaveHeaderValue = $("#frmCDConstruction").serializeArray();
        SaveCDConstruction(frmSaveHeaderValue);
    }

    function SaveCDConstruction(strFormData, status) {
        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveCDConstructor",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtCDConstructor").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtCDConstructorHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                    $("#Section2").trigger("click");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>

<div id="dvSection2">

    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmCDConstruction", @class = "form-horizontal" }))
    {
        <div class="row savedraft">
            <div class="col-md-12">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                </div>

            </div>
        </div>
        <hr class="savedraft" />
        @Html.HiddenFor(m => m.HeaderId, new { id = "txtCDConstructorHeader" })
        @Html.HiddenFor(m => m.LineId, new { id = "txtCDConstructor" })
        <div class="fdControls">
            <fieldset>
                <legend>
                    1)Reactor Overall Dimension
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label">
                                ID :(mm)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorID, new { @class = "form-control col-md-3", maxlength = "40" })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <label class="control-label">
                                Thk :(mm)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorThk1, new { @class = "form-control col-md-3 decimalInput", maxlength = "12"  })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <label class="control-label">
                                TL-TL:(mm)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorTLTL, new { @class = "form-control col-md-3 decimalInput", maxlength = "12"  })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <label class="control-label">
                                Total Lg :(mm)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorLg, new { @class = "form-control col-md-3 decimalInput", maxlength = "12"  })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <label class="control-label">
                                Fabricated Wt:(MT)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorFabWt, new { @class = "form-control col-md-3 decimalInput", maxlength = "12"  })
                            </div>

                        </div>
                        <div class="col-md-2">
                            <label class="control-label">
                                Hydro Wt:(MT)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorHydroWt, new { @class = "form-control col-md-3 decimalInput", maxlength = "12"  })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label">
                                Max. Shell Wd:(mm)
                            </label>
                            <div class="">
                                @Html.TextBoxFor(m => m.ReactorMaxShellWd, new { @class = "form-control col-md-3 decimalInput", maxlength = "12"  })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    2)Reactor Designed for External Pressure Also ?
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <div class="md-radio-inline">
                                <div class="md-radio">
                                    @Html.RadioButtonFor(m => m.IsDesigned, "true", new { @class = "md-radiobtn", @id = "yes" })
                                    <label for="yes">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> Yes (Special <quote>e value</quote> Templates required as per Code)
                                    </label>
                                </div>
                                <div class="md-radio">
                                    @Html.RadioButtonFor(m => m.IsDesigned, "false", new { @class = "md-radiobtn", @id = "no" })
                                    <label for="no">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    3)Shell Construction
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ShellConst1Seg">
                                    @Html.CheckBox("ShellConst1Seg", new { })
                                    <span></span>Single Seg
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ShellConst2Seg">
                                    @Html.CheckBox("ShellConst2Seg", new { })
                                    <span></span>Two Segments - L/S
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ShellConst3Seg">
                                    @Html.CheckBox("ShellConst3Seg", new { })
                                    <span></span>3 segments
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    4)Type of Rolling
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="TypeRollCold">
                                    @Html.CheckBox("TypeRollCold", new { })
                                    <span></span>Cold
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBox("TypeRollWarm", new { })
                                    <span></span>
                                </label>
                                <label class="control-label" for="TypeRollWarm">Warm Temp </label>
                                @Html.TextBoxFor(m => m.TypeRollWarmVal, new { @class = "clsAllowance", placeholder = "°C", @style = "width: 200px;", maxlength = "15" }) °C

                            </div>
                        </div>
                        @*<div class="col-md-2">
                                @Html.TextBoxFor(m => m.TypeRollWarmVal, new { placeholder = "Warm Temp °C", maxlength = "10", @class = "form-control numericval" })
                            </div>*@
                        <div class="col-md-4">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBox("TypeRollHot", new { })
                                    <span></span>Hot
                                </label>
                                <label class="control-label" for="TypeRollHot">   Hot for </label>: @Html.TextBoxFor(m => m.TypeRollHotVal, new { placeholder = "Hrs", maxlength = "3", @class = "clsAllowance numericval" }) : @Html.TextBoxFor(m => m.TypeRollHotmin, new { placeholder = "Min", maxlength = "3", @class = "clsAllowance numericval" })
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    5)Gas Cutting
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeat">
                                    @Html.CheckBox("GasCuttingPreHeat", new { })
                                    <span></span>With Pre-heating(approved WPS)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="GasCuttingPreHeatNR">
                                    @Html.CheckBox("GasCuttingPreHeatNR", new { })
                                    <span></span>Pre-heating Not Required
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    6)C / seam WEP
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPPlate">
                                    @Html.CheckBox("CSeamWEPPlate", new { })
                                    <span></span>Plate Stage (max 11500 mm)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CSeamWEPAfter">
                                    @Html.CheckBox("CSeamWEPAfter", new { })
                                    <span></span>After Rolling
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>
                    7)PTC Required for
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLS">
                                    @Html.CheckBox("PTCRequiredforLS", new { })
                                    <span></span>L/S of Shell
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforCS">
                                    @Html.CheckBox("PTCRequiredforCS", new { })
                                    <span></span>C/S pf Shell
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforLSDend">
                                    @Html.CheckBox("PTCRequiredforLSDend", new { })
                                    <span></span>L/S D'end
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforCSDend">
                                    @Html.CheckBox("PTCRequiredforCSDend", new { })
                                    <span></span>C/S D'end #Y Ring
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCRequiredforCSNozz">
                                    @Html.CheckBox("PTCRequiredforCSNozz", new { })
                                    <span></span>C/S of Nozzle Neck#Pipe
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    8)ISR / LSR Required for
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforLSToricone">
                                    @Html.CheckBox("ISRRequiredforLSToricone", new { })
                                    <span></span>L/S of Toricone
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforLSCrown">
                                    @Html.CheckBox("ISRRequiredforLSCrown", new { })
                                    <span></span>L/S of Crown
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforCrown">
                                    @Html.CheckBox("ISRRequiredforCrown", new { })
                                    <span></span>Crown
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforPetal">
                                    @Html.CheckBox("ISRRequiredforPetal", new { })
                                    <span></span>Petal
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISRRequiredforNozzle">
                                    @Html.CheckBox("ISRRequiredforNozzle", new { })
                                    <span></span>Nozzle
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    9)PT / MT After
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterWelding">
                                    @Html.CheckBox("PTMTAfterWelding", new { })
                                    <span></span>Welding
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterOverlay">
                                    @Html.CheckBox("PTMTAfterOverlay", new { })
                                    <span></span>Overlay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterPWHT">
                                    @Html.CheckBox("PTMTAfterPWHT", new { })
                                    <span></span>PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTMTAfterHydro">
                                    @Html.CheckBox("PTMTAfterHydro", new { })
                                    <span></span>Hydro
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>10)RT After</legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="RTAfterWelding">
                                    @Html.CheckBox("RTAfterWelding", new { })
                                    <span></span>Welding(Spool & Nozzle)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="RTAfterOverlay">
                                    @Html.CheckBox("RTAfterOverlay", new { })
                                    <span></span>Overlay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="RTAfterPWHT">
                                    @Html.CheckBox("RTAfterPWHT", new { })
                                    <span></span>PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="RTAfterHydro">
                                    @Html.CheckBox("RTAfterHydro", new { })
                                    <span></span>Hydro-test
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    11)UT After
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="UTAfterWelding">
                                    @Html.CheckBox("UTAfterWelding", new { })
                                    <span></span>After Welding Recordable
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="UTAfterOverlay">
                                    @Html.CheckBox("UTAfterOverlay", new { })
                                    <span></span>Overlay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="UTAfterPWHT">
                                    @Html.CheckBox("UTAfterPWHT", new { })
                                    <span></span>After PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="UTAfterHydro">
                                    @Html.CheckBox("UTAfterHydro", new { })
                                    <span></span>Hydro-test
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    12)Ferrite After
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FerAfterWelding">
                                    @Html.CheckBox("FerAfterWelding", new { })
                                    <span></span> Welding
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FerAfterOverlay">
                                    @Html.CheckBox("FerAfterOverlay", new { })
                                    <span></span>Overlay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FerAfterPWHT">
                                    @Html.CheckBox("FerAfterPWHT", new { })
                                    <span></span>PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FerAfterHydro">
                                    @Html.CheckBox("FerAfterHydro", new { })
                                    <span></span>Hydro-test
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FerAfterNA">
                                    @Html.CheckBox("FerAfterNA", new { })
                                    <span></span>NA
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>13)Shell Overlay Type</legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCSingle">
                                    @Html.CheckBox("SOTESSCSingle", new { })
                                    <span></span> ESSC Single Layer
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCDouble">
                                    @Html.CheckBox("SOTESSCDouble", new { })
                                    <span></span>ESSC Double Layer
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCClade">
                                    @Html.CheckBox("SOTESSCClade", new { })
                                    <span></span>Clad
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SOTESSCOlayNR">
                                    @Html.CheckBox("SOTESSCOlayNR", new { })
                                    <span></span>O/Lay not Required
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    14)D’end Construction
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DCPetalWCrown">
                                    @Html.CheckBox("DCPetalWCrown", new { })
                                    <span></span> Petal with Crown
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DC4PetalWoCrown">
                                    @Html.CheckBox("DC4PetalWoCrown", new { })
                                    <span></span>Petals without Crown
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DCSinglePeice">
                                    @Html.CheckBox("DCSinglePeice", new { })
                                    <span></span>Single Piece
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DCTwoHalves">
                                    @Html.CheckBox("DCTwoHalves", new { })
                                    <span></span>Two halves
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    15)D’end Receipt Condition
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedPetals">
                                    @Html.CheckBox("DRCFormedPetals", new { })
                                    <span></span> Formed Petals
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedSetup">
                                    @Html.CheckBox("DRCFormedSetup", new { })
                                    <span></span>Set-up (LEMF)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DRCFormedWelded">
                                    @Html.CheckBox("DRCFormedWelded", new { })
                                    <span></span>Welded
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    16)D’end Overlay Type
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCSingle">
                                    @Html.CheckBox("DOTESSCSingle", new { })
                                    <span></span> ESSC Single Layer
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCDouble">
                                    @Html.CheckBox("DOTESSCDouble", new { })
                                    <span></span>  ESSC Double Layer
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCClade">
                                    @Html.CheckBox("DOTESSCClade", new { })
                                    <span></span>Clad
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="DOTESSCOlayNR">
                                    @Html.CheckBox("DOTESSCOlayNR", new { })
                                    <span></span>O/Lay not Required
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    17)Skirt # Vessel Joint
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SVJYring">
                                    @Html.CheckBox("SVJYring", new { })
                                    <span></span>Y-Ring
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SVJBuildup">
                                    @Html.CheckBox("SVJBuildup", new { })
                                    <span></span> Build-up on D’end
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SVJLapJoint">
                                    @Html.CheckBox("SVJLapJoint", new { })
                                    <span></span>Lap Joint
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    18)Y Ring Type
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="YRTForgedShell">
                                    @Html.CheckBox("YRTForgedShell", new { })
                                    <span></span> Forged Shell
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBox("YRTForgedSegment", new { })
                                    <span></span>
                                </label>
                                <label class="control-label" for="YRTForgedSegment">Forged Segment</label>    @Html.TextBoxFor(m => m.YRTForgedSegmentVal, new { @class = "clsAllowance numeric5val", placeholder = "No.s", @style = "width: 80px;", maxlength = "5" }) No.s
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="YRTProfile">
                                    @Html.CheckBox("YRTProfile", new { })
                                    <span></span>Y Ring Profile
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">

                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    19)Y Ring Overlay stage :
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="YROSingle">
                                    @Html.CheckBox("YROSingle", new { })
                                    <span></span> Single Piece
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="YROAfter">
                                    @Html.CheckBox("YROAfter", new { })
                                    <span></span>After Closing seam welding
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            @* If Y ring overlay welding to be done in single piece, Refer STD Procedure “HE - HZMC - PLN - P - 027”*@

            <fieldset>
                <legend>
                    20)Nozzle Flange Face
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="NFFRaised">
                                    @Html.CheckBox("NFFRaised", new { })
                                    <span></span> Raised
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="NFFGroove">
                                    @Html.CheckBox("NFFGroove", new { })
                                    <span></span>Groove
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="NFFOther">
                                    @Html.CheckBox("NFFOther", new { })
                                    <span></span>Other
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    21)Nozzle Gasket Face Overlay
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="NGFBfPWHT">
                                    @Html.CheckBox("NGFBfPWHT", new { })
                                    <span></span>Before PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="NGFAfPWHT">
                                    @Html.CheckBox("NGFAfPWHT", new { })
                                    <span></span>After PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="NGFNR">
                                    @Html.CheckBox("NGFNR", new { })
                                    <span></span>Not Required
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>
                    22)Spool Material
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatSS">
                                    @Html.CheckBox("SpoolMatSS", new { })
                                    <span></span> SS
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatLAS">
                                    @Html.CheckBox("SpoolMatLAS", new { })
                                    <span></span>LAS + O/Lay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SpoolMatCS">
                                    @Html.CheckBox("SpoolMatCS", new { })
                                    <span></span>CS
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>
            <fieldset>
                <legend>
                    23)Joints in Spool
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="JSInConnel">
                                    @Html.CheckBox("JSInConnel", new { })
                                    <span></span> Inconnel
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="JSBiMetalic">
                                    @Html.CheckBox("JSBiMetalic", new { })
                                    <span></span>Bi-Metallic
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="JSCladRestoration">
                                    @Html.CheckBox("JSCladRestoration", new { })
                                    <span></span>Clad Restoration
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="JSCS">
                                    @Html.CheckBox("JSCS", new { })
                                    <span></span>CS
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    25)Vessel Support
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="VessleSSkirt">
                                    @Html.CheckBox("VessleSSkirt", new { })
                                    <span></span> Skirt
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    26)Skirt made in SRY
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein1">
                                    @Html.CheckBox("SkirtMadein1", new { })
                                    <span></span>Single Piece
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SkirtMadein2">
                                    @Html.CheckBox("SkirtMadein2", new { })
                                    <span></span>Two Pieces (LAS + CS)
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    27)Fire Proofing Nuts Welding on Skirt in LEMF
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FPNWeldNuts">
                                    @Html.CheckBox("FPNWeldNuts", new { })
                                    <span></span>Weld All Nuts
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="FPNLeaveRow">
                                    @Html.CheckBox("FPNLeaveRow", new { })
                                    <span></span>Leave row from bottom for tank rotator
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>
                    28)Skirt Type
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="STWoSlot">
                                    @Html.CheckBox("STWoSlot", new { })
                                    <span></span> Skirt without Slot
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBox("STWiSlot", new { })
                                    <span></span>Skirt with A Slot
                                </label>
                                <label class="control-label" for="STWiSlot"></label>   @Html.TextBoxFor(m => m.STWiSlotVal, new { @class = "clsAllowance numeric5val", placeholder = "No.s", @style = "width: 80px;", maxlength = "5" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    29) PWHT
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PWHTSinglePiece">
                                    @Html.CheckBox("PWHTSinglePiece", new { })
                                    <span></span>Single Piece
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PWHTLSRJoint">
                                    @Html.CheckBox("PWHTLSRJoint", new { })
                                    <span></span>LSR Joint Allowed
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            (In @Html.TextBoxFor(m => m.PWHTLSRJointVal, new { placeholder = "", maxlength = "10", @class = "clsAllowance numericval", @style = "width:90px" })  Sections)
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    30)PTC / MTC Heat treatment
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptc">
                                    @Html.CheckBox("PTCMTCptc", new { })
                                    <span></span>PTC with Job
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtc">
                                    @Html.CheckBox("PTCMTCmtc", new { })
                                    <span></span>MTC with Job
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCptcSim">
                                    @Html.CheckBox("PTCMTCptcSim", new { })
                                    <span></span>PTC Simulation
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PTCMTCmtcSim">
                                    @Html.CheckBox("PTCMTCmtcSim", new { })
                                    <span></span>MTC Simulation
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    31)Saddles for PWHT :
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SaddlesTrans">
                                    @Html.CheckBox("SaddlesTrans", new { })
                                    <span></span>Transportation Saddles Nos. 2
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SaddlesAddit">
                                    @Html.CheckBox("SaddlesAddit", new { })
                                    <span></span>Additional Saddles 2 Nos.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    32) PWHT in Furnace: (Furnace :)
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnacePFS">
                                    @Html.CheckBox("PWHTinFurnacePFS", new { })
                                    <span></span>PFS
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceHFS1">
                                    @Html.CheckBox("PWHTinFurnaceHFS1", new { })
                                    <span></span>HFS1
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="PWHTinFurnaceLEMF">
                                    @Html.CheckBox("PWHTinFurnaceLEMF", new { })
                                    <span></span>LEMF
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    33)Section Weight for PWHT
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWtMore230">
                                    @Html.CheckBox("SectionWtMore230", new { })
                                    <span></span>&gt;230 MT
                                </label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWt200To230">
                                    @Html.CheckBox("SectionWt200To230", new { })
                                    <span></span>200 - 230 MT
                                </label>
                            </div>
                        </div>

                        <div class="col-md-2">

                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWt150To200">
                                    @Html.CheckBox("SectionWt150To200", new { })
                                    <span></span>150-200 MT
                                </label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWtLess150">
                                    @Html.CheckBox("SectionWtLess150", new { })
                                    <span></span>&lt; 150MT
                                </label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWt1pc">
                                    @Html.CheckBox("SectionWt1pc", new { })
                                    <span></span>Single Piece
                                </label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWt1Sec">
                                    @Html.CheckBox("SectionWt1Sec", new { })
                                    <span></span>1 Sections
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="SectionWtTtl">
                                    @Html.CheckBox("SectionWtTtl", new { })
                                    <span></span>Total Section
                                </label>
                                @Html.TextBoxFor(m => m.SectionWtTtlVal, new { @class = "clsAllowance numeric5val", placeholder = "Total Sections", @style = "width: 80px;", maxlength = "5" }) No.s
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    33_2)Axle Required for movement
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ARMRequired">
                                    @Html.CheckBox("ARMRequired", new { })
                                    <span></span>Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ARMRT">
                                    @Html.CheckBox("ARMRT", new { })
                                    <span></span>RT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ARMPWHT">
                                    @Html.CheckBox("ARMPWHT", new { })
                                    <span></span>PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ARMSB">
                                    @Html.CheckBox("ARMSB", new { })
                                    <span></span>S/B & Painting
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    34)Cl Requirement in Hydro-test Water
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    @Html.CheckBox("CLRH50ppm", new { })
                                    <span></span>
                                </label>
                                @Html.TextBoxFor(m => m.CLRH50ppmVal, new { @class = "clsAllowance numeric5val", placeholder = "ppm", @style = "width: 80px;", maxlength = "5" })
                                <label class="control-label" for="CLRH50ppm" style="margin-left:10px">ppm</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CLRHNoLimit">
                                    @Html.CheckBox("CLRHNoLimit", new { })
                                    <span></span>No Limit
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    35)Template for Support / Skirt
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="TemplateForReq">
                                    @Html.CheckBox("TemplateForReq", new { })
                                    <span></span>Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="TemplateForNReq">
                                    @Html.CheckBox("TemplateForNReq", new { })
                                    <span></span>Not Required
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    36)N2 Filling
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="N2FillReq">
                                    @Html.CheckBox("N2FillReq", new { })
                                    <span></span>Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="N2FillNotReq">
                                    @Html.CheckBox("N2FillNotReq", new { })
                                    <span></span>Not Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="N2FillOther">
                                    @Html.CheckBox("N2FillOther", new { })
                                    <span></span>Other Protection on internal surface
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    37)External Surface Treatment
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ESTPlate">
                                    @Html.CheckBox("ESTPlate", new { })
                                    <span></span>Plate Stage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ESTShell">
                                    @Html.CheckBox("ESTShell", new { })
                                    <span></span>Shell Stage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ESTSection">
                                    @Html.CheckBox("ESTSection", new { })
                                    <span></span>Section Stage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ESTEquip">
                                    @Html.CheckBox("ESTEquip", new { })
                                    <span></span>Equipment
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    38)Internal Surface Treatment
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISTPlate">
                                    @Html.CheckBox("ISTPlate", new { })
                                    <span></span>Plate Stage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISTShell">
                                    @Html.CheckBox("ISTShell", new { })
                                    <span></span>Shell Stage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISTSection">
                                    @Html.CheckBox("ISTSection", new { })
                                    <span></span>Section Stage
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISTEquip">
                                    @Html.CheckBox("ISTEquip", new { })
                                    <span></span>Equipment
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISTAfBfPWHT">
                                    @Html.CheckBox("ISTAfBfPWHT", new { })
                                    <span></span>After/ Before PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="ISTAfHydro">
                                    @Html.CheckBox("ISTAfHydro", new { })
                                    <span></span>After Hydro
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    39)Coupling/Nozzle for Dump nozzles
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CDNSS">
                                    @Html.CheckBox("CDNSS", new { })
                                    <span></span>SS
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CDNLAS">
                                    @Html.CheckBox("CDNLAS", new { })
                                    <span></span>LAS/CS + O/Lay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CDNCS">
                                    @Html.CheckBox("CDNCS", new { })
                                    <span></span>CS / LAS
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="CDNNotReq">
                                    @Html.CheckBox("CDNNotReq", new { })
                                    <span></span>Not Required
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    40)Machining stage for Dump Nozzle :
                </legend>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MDNAfterOverlay">
                                    @Html.CheckBox("MDNAfterOverlay", new { })
                                    <span></span>after overlay
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MDNAfterPWHT">
                                    @Html.CheckBox("MDNAfterPWHT", new { })
                                    <span></span>After PWHT
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MDNAfterLSR">
                                    @Html.CheckBox("MDNAfterLSR", new { })
                                    <span></span>After LSR(In Situ)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    41)Maximum Size of Bolts/ stud
                </legend>

                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_38">
                                    @Html.CheckBox("MaxSBLess1_38", new { })
                                    <span></span> < =1-3/8 (Torque Wrench)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess1_78">
                                    @Html.CheckBox("MaxSBLess1_78", new { })
                                    <span></span> < =1-7/8(RSL4)(3MXT)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess2_14">
                                    @Html.CheckBox("MaxSBLess2_14", new { })
                                    <span></span> < = 2-1/4<quote />  (RSL8)(10MXT) (Torque Wrench)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MaxSBLess4">
                                    @Html.CheckBox("MaxSBLess4", new { })
                                    <span></span> < = 4 (Stud Tensioning)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="control-label" style="text-align:left">
                                <label class="mt-checkbox mt-checkbox-outline" for="MaxSBMore4">
                                    @Html.CheckBox("MaxSBMore4", new { })
                                    <span></span> < =4
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions savedraft">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6" style="text-align:right;margin-top:30px;">
                            <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { aPad: "true", vMax: "1000000000", aForm: "false" });
            $('.numeric5val').autoNumeric('init', { aPad: "true", vMax: "99999", aForm: "false" });
        });

    })
</script>