﻿
@using IEMQSImplementation
@model PCL032


<script>
    var Status = $("#spnStatus").text(); //'@*@ViewBag.Status';*@
    $(document).ready(function () {

        if (Status == "@clsImplementationEnum.PLCStatus.DRAFT.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $(".savedraft").show();
        }
        if (Status == "@clsImplementationEnum.PLCStatus.SendForApprovel.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
            $('div.fdControls :input').attr('disabled', true);
            $(".savedraft").hide();
        }
        @*if (Status =="@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" || Status == "@clsImplementationEnum.PLCStatus.Returned.GetStringValue()") {
            $("#btnSaveEOScopeOfWork").show();
        }*@

        var strHeader = '@ViewBag.HeaderId';
        $("#txtSOWHeader").val(strHeader);
    });

    function SaveAsDraft() {
        if (ISProductTypeSame()) {
            if ($("#frmEOScopeOfWork").valid()) {
                var frmSaveScopeOfWork = $("#frmEOScopeOfWork").serializeArray();

                if (Status != undefined && Status != null && Status == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()" && $("#spnStatus").text() == "@clsImplementationEnum.PLCStatus.Approved.GetStringValue()") {
                    ReviseHeader('@ViewBag.HeaderId', "/PLC/MaintainCheckList/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#spnStatus'), ReviseHeaderCallBack);
                }
                else {
                    SaveEOScopeOfWork(frmSaveScopeOfWork, status);
                }
            }
        }
    }
    function ReviseHeaderCallBack() {
        var frmSaveScopeOfWork = $("#frmEOScopeOfWork").serializeArray();
        SaveEOScopeOfWork(frmSaveScopeOfWork, status);
    }

    function SaveEOScopeOfWork(strFormData, status) {

        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });

        $.ajax({
            url: WebsiteURL + "/PLC/MaintainCheckList/SaveEOScopeOfWork",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#txtSOWLine").val(data.LineID);
                    var strHeader = data.HeaderID;
                    $("#txtSOWHeader").val(strHeader);
                    if (data.Value == '@clsImplementationMessage.PLCMessages.Update.ToString()') {
                        DisplayNotiMessage("success", data.Value, "Success");
                        GetPLCHeaderFormHTML(strHeader);
                    }
                    else {
                        DisplayNotiMessage("success", data.Value, "Success");

                    }
                    $("#Section4").trigger("click");
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmEOScopeOfWork", @class = "form-horizontal" }))
        {

            <div class="row savedraft">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft1" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
            <hr class="savedraft" />

                <div class="fdControls">
                    @Html.HiddenFor(m => m.HeaderId, new { id = "txtEOSOWHeader" })
                    @Html.HiddenFor(m => m.LineId, new { id = "txtEOSOWLine" })
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                Scope Of Work
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-striped table-bordered table-hover table-header-fixed" id="tblScopeOfWork">
                                <thead class="flip-content" style="padding: 8px;">
                                    <tr>
                                        <td class="numeric">Sr. No.</td>
                                        <th class="numeric"> Description </th>
                                        <th class="numeric"> Not Reqd. for Project </th>
                                        <th class="numeric"> Shop </th>
                                        <th class="numeric"> M/C Shop</th>
                                        <th class="numeric"> LEMF </th>
                                        <th class="numeric"> RNW </th>
                                        <th class="numeric"> Outside </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="numeric">1</td>
                                        <td class="numeric"> Equipment       </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentNotReq"> @Html.CheckBox("EquipmentNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentShop"> @Html.CheckBox("EquipmentShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentMC"> @Html.CheckBox("EquipmentMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentLEMF"> @Html.CheckBox("EquipmentLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentRNW"> @Html.CheckBox("EquipmentRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="EquipmentOutside"> @Html.CheckBox("EquipmentOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">2</td>
                                        <td class="numeric">   D&apos;end Forming     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingNotReq"> @Html.CheckBox("DEndFormingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingShop"> @Html.CheckBox("DEndFormingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingMC"> @Html.CheckBox("DEndFormingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingLEMF"> @Html.CheckBox("DEndFormingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingRNW"> @Html.CheckBox("DEndFormingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndFormingOutside"> @Html.CheckBox("DEndFormingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">3</td>
                                        <td class="numeric">   D&apos;end Setup     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupNotReq"> @Html.CheckBox("DEndSetupNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupShop"> @Html.CheckBox("DEndSetupShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupMC"> @Html.CheckBox("DEndSetupMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupLEMF"> @Html.CheckBox("DEndSetupLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupRNW"> @Html.CheckBox("DEndSetupRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndSetupOutside"> @Html.CheckBox("DEndSetupOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">4</td>
                                        <td class="numeric">   D&apos;end Welding     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingNotReq"> @Html.CheckBox("DEndWeldingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingShop"> @Html.CheckBox("DEndWeldingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingMC"> @Html.CheckBox("DEndWeldingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingLEMF"> @Html.CheckBox("DEndWeldingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingRNW"> @Html.CheckBox("DEndWeldingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="DEndWeldingOutside"> @Html.CheckBox("DEndWeldingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">5</td>
                                        <td class="numeric">   Lug support     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LSNotReq"> @Html.CheckBox("LSNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LSShop"> @Html.CheckBox("LSShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LSMC"> @Html.CheckBox("LSMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LSLEMF"> @Html.CheckBox("LSLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LSRNW"> @Html.CheckBox("LSRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LSOutside"> @Html.CheckBox("LSOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">6</td>
                                        <td class="numeric">   Y-Ring Machining     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningNotReq"> @Html.CheckBox("YRingMachiningNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningShop"> @Html.CheckBox("YRingMachiningShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningMC"> @Html.CheckBox("YRingMachiningMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningLEMF"> @Html.CheckBox("YRingMachiningLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningRNW"> @Html.CheckBox("YRingMachiningRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="YRingMachiningOutside"> @Html.CheckBox("YRingMachiningOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">7</td>
                                        <td class="numeric">   Nozzle initial Machining     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningNotReq"> @Html.CheckBox("NozMachiningNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningShop"> @Html.CheckBox("NozMachiningShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningMC"> @Html.CheckBox("NozMachiningMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningLEMF"> @Html.CheckBox("NozMachiningLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningRNW"> @Html.CheckBox("NozMachiningRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozMachiningOutside"> @Html.CheckBox("NozMachiningOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">8</td>
                                        <td class="numeric">   Nozzle Overlay     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayNotReq"> @Html.CheckBox("NozOverlayNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayShop"> @Html.CheckBox("NozOverlayShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayMC"> @Html.CheckBox("NozOverlayMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayLEMF"> @Html.CheckBox("NozOverlayLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayRNW"> @Html.CheckBox("NozOverlayRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozOverlayOutside"> @Html.CheckBox("NozOverlayOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">9</td>
                                        <td class="numeric">   Manway Overlay     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayNotReq"> @Html.CheckBox("ManOverlayNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayShop"> @Html.CheckBox("ManOverlayShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayMC"> @Html.CheckBox("ManOverlayMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayLEMF"> @Html.CheckBox("ManOverlayLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayRNW"> @Html.CheckBox("ManOverlayRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManOverlayOutside"> @Html.CheckBox("ManOverlayOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">10</td>
                                        <td class="numeric">   Nozzle final Machining     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningNotReq"> @Html.CheckBox("NozFinMachiningNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningShop"> @Html.CheckBox("NozFinMachiningShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningMC"> @Html.CheckBox("NozFinMachiningMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningLEMF"> @Html.CheckBox("NozFinMachiningLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningRNW"> @Html.CheckBox("NozFinMachiningRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozFinMachiningOutside"> @Html.CheckBox("NozFinMachiningOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">11</td>
                                        <td class="numeric">   Nozzle Cutout WEP     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPNotReq"> @Html.CheckBox("NozWEPNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPShop"> @Html.CheckBox("NozWEPShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPMC"> @Html.CheckBox("NozWEPMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPLEMF"> @Html.CheckBox("NozWEPLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPRNW"> @Html.CheckBox("NozWEPRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="NozWEPOutside"> @Html.CheckBox("NozWEPOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">12</td>
                                        <td class="numeric">   Long seam WEP for Shell     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPNotReq"> @Html.CheckBox("LongWEPNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPShop"> @Html.CheckBox("LongWEPShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPMC"> @Html.CheckBox("LongWEPMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPLEMF"> @Html.CheckBox("LongWEPLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPRNW"> @Html.CheckBox("LongWEPRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LongWEPOutside"> @Html.CheckBox("LongWEPOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">13</td>
                                        <td class="numeric">   Circ seam WEP for Shell     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPNotReq"> @Html.CheckBox("CircWEPNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPShop"> @Html.CheckBox("CircWEPShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPMC"> @Html.CheckBox("CircWEPMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPLEMF"> @Html.CheckBox("CircWEPLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPRNW"> @Html.CheckBox("CircWEPRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="CircWEPOutside"> @Html.CheckBox("CircWEPOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">14</td>
                                        <td class="numeric">   Lifting Cover Machining     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningNotReq"> @Html.CheckBox("LiftMachiningNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningShop"> @Html.CheckBox("LiftMachiningShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningMC"> @Html.CheckBox("LiftMachiningMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningLEMF"> @Html.CheckBox("LiftMachiningLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningRNW"> @Html.CheckBox("LiftMachiningRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftMachiningOutside"> @Html.CheckBox("LiftMachiningOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">15</td>
                                        <td class="numeric"> Lifting Cover Fabrication    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationNotReq"> @Html.CheckBox("LiftFabricationNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationShop"> @Html.CheckBox("LiftFabricationShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationMC"> @Html.CheckBox("LiftFabricationMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationLEMF"> @Html.CheckBox("LiftFabricationLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationRNW"> @Html.CheckBox("LiftFabricationRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LiftFabricationOutside"> @Html.CheckBox("LiftFabricationOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">16</td>
                                        <td class="numeric">   Weldable External Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabNotReq"> @Html.CheckBox("WeldExFabNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabShop"> @Html.CheckBox("WeldExFabShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabMC"> @Html.CheckBox("WeldExFabMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabLEMF"> @Html.CheckBox("WeldExFabLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabRNW"> @Html.CheckBox("WeldExFabRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldExFabOutside"> @Html.CheckBox("WeldExFabOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">17</td>
                                        <td class="numeric">   Weldable Internal Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabNotReq"> @Html.CheckBox("WeldInFabNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabShop"> @Html.CheckBox("WeldInFabShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabMC"> @Html.CheckBox("WeldInFabMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabLEMF"> @Html.CheckBox("WeldInFabLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabRNW"> @Html.CheckBox("WeldInFabRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeldInFabOutside"> @Html.CheckBox("WeldInFabOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">18</td>
                                        <td class="numeric"> Baffle Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffFabNotReq"> @Html.CheckBox("BaffFabNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffFabShop"> @Html.CheckBox("BaffFabShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffFabMC"> @Html.CheckBox("BaffFabMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffFabLEMF"> @Html.CheckBox("BaffFabLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffFabRNW"> @Html.CheckBox("BaffFabRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffFabOutside"> @Html.CheckBox("BaffFabOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">19</td>
                                        <td class="numeric">  Baffle Drilling     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffDrilNotReq"> @Html.CheckBox("BaffDrilNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffDrilShop"> @Html.CheckBox("BaffDrilShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffDrilMC"> @Html.CheckBox("BaffDrilMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffDrilLEMF"> @Html.CheckBox("BaffDrilLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffDrilRNW"> @Html.CheckBox("BaffDrilRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffDrilOutside"> @Html.CheckBox("BaffDrilOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">20</td>
                                        <td class="numeric">   Baffle Assembly     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffAssemNotReq"> @Html.CheckBox("BaffAssemNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffAssemShop"> @Html.CheckBox("BaffAssemShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffAssemMC"> @Html.CheckBox("BaffAssemMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffAssemLEMF"> @Html.CheckBox("BaffAssemLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffAssemRNW"> @Html.CheckBox("BaffAssemRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BaffAssemOutside"> @Html.CheckBox("BaffAssemOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">21</td>
                                        <td class="numeric">   Bracket/ Internal Ring WEP </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPNotReq"> @Html.CheckBox("BraketWEPNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPShop"> @Html.CheckBox("BraketWEPShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPMC"> @Html.CheckBox("BraketWEPMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPLEMF"> @Html.CheckBox("BraketWEPLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPRNW"> @Html.CheckBox("BraketWEPRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="BraketWEPOutside"> @Html.CheckBox("BraketWEPOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">22</td>
                                        <td class="numeric">   Tray/Weir plate assembly  Fab.     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TWFabNotReq"> @Html.CheckBox("TWFabNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TWFabShop"> @Html.CheckBox("TWFabShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TWFabMC"> @Html.CheckBox("TWFabMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TWFabLEMF"> @Html.CheckBox("TWFabLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TWFabRNW"> @Html.CheckBox("TWFabRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TWFabOutside"> @Html.CheckBox("TWFabOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">23</td>
                                        <td class="numeric">   Insulation Ring/Strap Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabNotReq"> @Html.CheckBox("InsFabNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabShop"> @Html.CheckBox("InsFabShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabMC"> @Html.CheckBox("InsFabMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabLEMF"> @Html.CheckBox("InsFabLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabRNW"> @Html.CheckBox("InsFabRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsFabOutside"> @Html.CheckBox("InsFabOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">24</td>
                                        <td class="numeric">   Tubing sheet fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSFabNotReq"> @Html.CheckBox("TSFabNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSFabShop"> @Html.CheckBox("TSFabShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSFabMC"> @Html.CheckBox("TSFabMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSFabLEMF"> @Html.CheckBox("TSFabLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSFabRNW"> @Html.CheckBox("TSFabRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSFabOutside"> @Html.CheckBox("TSFabOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">25</td>
                                        <td class="numeric">   Tube sheet drilling     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSDrilNotReq"> @Html.CheckBox("TSDrilNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSDrilShop"> @Html.CheckBox("TSDrilShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSDrilMC"> @Html.CheckBox("TSDrilMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSDrilLEMF"> @Html.CheckBox("TSDrilLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSDrilRNW"> @Html.CheckBox("TSDrilRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TSDrilOutside"> @Html.CheckBox("TSDrilOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">26</td>
                                        <td class="numeric">   Tubing     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TubingNotReq"> @Html.CheckBox("TubingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TubingShop"> @Html.CheckBox("TubingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TubingMC"> @Html.CheckBox("TubingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TubingLEMF"> @Html.CheckBox("TubingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TubingRNW"> @Html.CheckBox("TubingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TubingOutside"> @Html.CheckBox("TubingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">27</td>
                                        <td class="numeric">   Tube # Tubesheet welding     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TTWNotReq"> @Html.CheckBox("TTWNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TTWShop"> @Html.CheckBox("TTWShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TTWMC"> @Html.CheckBox("TTWMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TTWLEMF"> @Html.CheckBox("TTWLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TTWRNW"> @Html.CheckBox("TTWRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="TTWOutside"> @Html.CheckBox("TTWOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">28</td>
                                        <td class="numeric">   Internal Tray Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationNotReq"> @Html.CheckBox("InternalTrayFabricationNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationShop"> @Html.CheckBox("InternalTrayFabricationShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationMC"> @Html.CheckBox("InternalTrayFabricationMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationLEMF"> @Html.CheckBox("InternalTrayFabricationLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationRNW"> @Html.CheckBox("InternalTrayFabricationRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalTrayFabricationOutside"> @Html.CheckBox("InternalTrayFabricationOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">29</td>
                                        <td class="numeric">   Inlet Diffuser Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationNotReq"> @Html.CheckBox("InletDiffuserFabricationNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationShop"> @Html.CheckBox("InletDiffuserFabricationShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationMC"> @Html.CheckBox("InletDiffuserFabricationMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationLEMF"> @Html.CheckBox("InletDiffuserFabricationLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationRNW"> @Html.CheckBox("InletDiffuserFabricationRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InletDiffuserFabricationOutside"> @Html.CheckBox("InletDiffuserFabricationOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">30</td>
                                        <td class="numeric">   Insert assembly     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsertNotReq"> @Html.CheckBox("InsertNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsertShop"> @Html.CheckBox("InsertShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsertMC"> @Html.CheckBox("InsertMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsertLEMF"> @Html.CheckBox("InsertLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsertRNW"> @Html.CheckBox("InsertRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InsertOutside"> @Html.CheckBox("InsertOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">31</td>
                                        <td class="numeric">   Internal for Inclined nozzles     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesNotReq"> @Html.CheckBox("InternalNozzlesNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesShop"> @Html.CheckBox("InternalNozzlesShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesMC"> @Html.CheckBox("InternalNozzlesMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesLEMF"> @Html.CheckBox("InternalNozzlesLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesRNW"> @Html.CheckBox("InternalNozzlesRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalNozzlesOutside"> @Html.CheckBox("InternalNozzlesOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">32</td>
                                        <td class="numeric">   Saddles     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesNotReq"> @Html.CheckBox("SaddlesNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesShop"> @Html.CheckBox("SaddlesShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesMC"> @Html.CheckBox("SaddlesMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesLEMF"> @Html.CheckBox("SaddlesLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesRNW"> @Html.CheckBox("SaddlesRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SaddlesOutside"> @Html.CheckBox("SaddlesOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">33</td>
                                        <td class="numeric">  Skirt template    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateNotReq"> @Html.CheckBox("SkirtTemplateNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateShop"> @Html.CheckBox("SkirtTemplateShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateMC"> @Html.CheckBox("SkirtTemplateMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateLEMF"> @Html.CheckBox("SkirtTemplateLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateRNW"> @Html.CheckBox("SkirtTemplateRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SkirtTemplateOutside"> @Html.CheckBox("SkirtTemplateOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">34</td>
                                        <td class="numeric">   Platform Fabrication     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationNotReq"> @Html.CheckBox("PlatformFabricationNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationShop"> @Html.CheckBox("PlatformFabricationShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationMC"> @Html.CheckBox("PlatformFabricationMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationLEMF"> @Html.CheckBox("PlatformFabricationLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationRNW"> @Html.CheckBox("PlatformFabricationRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformFabricationOutside"> @Html.CheckBox("PlatformFabricationOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">35</td>
                                        <td class="numeric">  Platform Trial Assembly    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyNotReq"> @Html.CheckBox("PlatformTrialAssemblyNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyShop"> @Html.CheckBox("PlatformTrialAssemblyShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyMC"> @Html.CheckBox("PlatformTrialAssemblyMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyLEMF"> @Html.CheckBox("PlatformTrialAssemblyLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyRNW"> @Html.CheckBox("PlatformTrialAssemblyRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PlatformTrialAssemblyOutside"> @Html.CheckBox("PlatformTrialAssemblyOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">36</td>
                                        <td class="numeric">   PWHT     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTNotReq"> @Html.CheckBox("PWHTNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTShop"> @Html.CheckBox("PWHTShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTMC"> @Html.CheckBox("PWHTMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTLEMF"> @Html.CheckBox("PWHTLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTRNW"> @Html.CheckBox("PWHTRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PWHTOutside"> @Html.CheckBox("PWHTOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">37</td>
                                        <td class="numeric">  Internal Installation    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationNotReq"> @Html.CheckBox("InternalInstallationNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationShop"> @Html.CheckBox("InternalInstallationShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationMC"> @Html.CheckBox("InternalInstallationMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationLEMF"> @Html.CheckBox("InternalInstallationLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationRNW"> @Html.CheckBox("InternalInstallationRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="InternalInstallationOutside"> @Html.CheckBox("InternalInstallationOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">38</td>
                                        <td class="numeric">   N2 Filling     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingNotReq"> @Html.CheckBox("N2FillingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingShop"> @Html.CheckBox("N2FillingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingMC"> @Html.CheckBox("N2FillingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingLEMF"> @Html.CheckBox("N2FillingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingRNW"> @Html.CheckBox("N2FillingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="N2FillingOutside"> @Html.CheckBox("N2FillingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">39</td>
                                        <td class="numeric">   Sand Blasting     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingNotReq"> @Html.CheckBox("SandBlastingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingShop"> @Html.CheckBox("SandBlastingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingMC"> @Html.CheckBox("SandBlastingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingLEMF"> @Html.CheckBox("SandBlastingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingRNW"> @Html.CheckBox("SandBlastingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="SandBlastingOutside"> @Html.CheckBox("SandBlastingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">40</td>
                                        <td class="numeric">  Painting    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingNotReq"> @Html.CheckBox("PaintingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingShop"> @Html.CheckBox("PaintingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingMC"> @Html.CheckBox("PaintingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingLEMF"> @Html.CheckBox("PaintingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingRNW"> @Html.CheckBox("PaintingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="PaintingOutside"> @Html.CheckBox("PaintingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">41</td>
                                        <td class="numeric">  Acid Cleaning    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningNotReq"> @Html.CheckBox("AcidCleaningNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningShop"> @Html.CheckBox("AcidCleaningShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningMC"> @Html.CheckBox("AcidCleaningMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningLEMF"> @Html.CheckBox("AcidCleaningLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningRNW"> @Html.CheckBox("AcidCleaningRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="AcidCleaningOutside"> @Html.CheckBox("AcidCleaningOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">42</td>
                                        <td class="numeric">  Weight Measurement    </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementNotReq"> @Html.CheckBox("WeightMeasurementNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementShop"> @Html.CheckBox("WeightMeasurementShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementMC"> @Html.CheckBox("WeightMeasurementMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementLEMF"> @Html.CheckBox("WeightMeasurementLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementRNW"> @Html.CheckBox("WeightMeasurementRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="WeightMeasurementOutside"> @Html.CheckBox("WeightMeasurementOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">43</td>
                                        <td class="numeric">   Manway Davit     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitNotReq"> @Html.CheckBox("ManwayDavitNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitShop"> @Html.CheckBox("ManwayDavitShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitMC"> @Html.CheckBox("ManwayDavitMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitLEMF"> @Html.CheckBox("ManwayDavitLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitRNW"> @Html.CheckBox("ManwayDavitRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ManwayDavitOutside"> @Html.CheckBox("ManwayDavitOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">44</td>
                                        <td class="numeric">   Vessel Davit     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitNotReq"> @Html.CheckBox("VesselDavitNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitShop"> @Html.CheckBox("VesselDavitShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitMC"> @Html.CheckBox("VesselDavitMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitLEMF"> @Html.CheckBox("VesselDavitLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitRNW"> @Html.CheckBox("VesselDavitRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="VesselDavitOutside"> @Html.CheckBox("VesselDavitOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">45</td>
                                        <td class="numeric">  Lapping Ring     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingNotReq"> @Html.CheckBox("LappingRingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingShop"> @Html.CheckBox("LappingRingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingMC"> @Html.CheckBox("LappingRingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingLEMF"> @Html.CheckBox("LappingRingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingRNW"> @Html.CheckBox("LappingRingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="LappingRingOutside"> @Html.CheckBox("LappingRingOutside", new { })<span></span></label></td>
                                    </tr>

                                    <tr>
                                        <td class="numeric">46</td>
                                        <td class="numeric">  Shipping (Ex-work / FAS / FOB / At - Port / At - Site / Erection)     </td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingNotReq"> @Html.CheckBox("ShippingNotReq", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingShop"> @Html.CheckBox("ShippingShop", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingMC"> @Html.CheckBox("ShippingMC", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingLEMF"> @Html.CheckBox("ShippingLEMF", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingRNW"> @Html.CheckBox("ShippingRNW", new { })<span></span></label></td>
                                        <td class="numeric"><label class="mt-checkbox mt-checkbox-outline" for="ShippingOutside"> @Html.CheckBox("ShippingOutside", new { })<span></span></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        }
        <div class="form-actions savedraft">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6" style="text-align:right;margin-top:30px;">
                        <input type="button" class="btn save savedraft" id="btnSaveAsDraft2" onclick="SaveAsDraft();" value="Save As Draft" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function ()
        {
            //TableDatatablesFixedHeader.init();
            TableDatatablesFixedHeader.enabled($("#tblScopeOfWork"));
        }, 500);
    });
</script>