﻿
@using IEMQSImplementation

<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />

<style>
    .modal-lg {
        width: 90% !important;       
    }    
</style>


<script>
    var tab = '@ViewBag.status';
    if (tab.toLowerCase() != 'tpi' && tab.toLowerCase() != 'offertpi' && tab.toLowerCase() != 'all') {
        $('#ddlPendingInspection').show();
    }
    else{
        $('#ddlPendingInspection').hide();
        $("#hdWhereCondition").val('');
        $("#hdPendingInspection").val('');
    }
    var swhereCondition = "";

    var table = $('#tblHeader');

    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
         [5, 10, 25, 50, 100],
         [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/loadSeamListOfferInspectionDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" },
                        { "name": "QualityProject", "value":    $("#hdPendingInspection").val()},//"@Html.Raw((string)ViewBag.QualityProject)" },
                        { "name": "SeamNo", "value": "@Html.Raw((string)ViewBag.SeamNumber)" });

        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    swhereCondition = data.strWhere;
                    $("#hdWhereCondition").val(swhereCondition);
                    var tab = '@ViewBag.status';
                    if (tab.toLowerCase() != 'tpi' && tab.toLowerCase() != 'offertpi' && tab.toLowerCase() != 'all') {
                        var strSortOrder = "";
                        LoadMultiSelectwithCheckbox("/IPI/MaintainSeamListOfferInspection/loadPendingInspectionProject", $('#ddlPendingInspection'), "--Select--", { whereCondition: swhereCondition, strSortOrder: strSortOrder },false, $("#hdPendingInspection").val());
                    }
                },
            });
        },
        "columns": [
            {
                "sClass": "center",
                "bSortable": true,
                "name": "QualityProject",
            },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "Project",
                "attr": "fromtoRange",
                "ColName": "qms.Project",

            },
              {
                  "sClass": "hide",

              },
            {
                "sClass": "hide",

            },
           {
               "bSortable": true,
               "sClass": "center",
               "name": "SeamNo",

           },
            {
                "bSortable": true,
                "sClass": "center",
                "name": "StageCode",
                "attr": "string",
                "ColName": "qms.StageCode"
            },
            {
                "sClass": "center",
                "attr": "numeric",
                "name": "StageSequence",
            },
            {
                "sClass": "center",
                "attr": "numeric",
                "name": "IterationNo",
            },
            {
                "sClass": "center",

                "name": "TestResult",
            },
            {
                "sClass": "center",

                "name": "OfferedBy",
            },
            {
                "sClass": "center",
                "attr": "daterange",
                "name": "OfferedOn",

            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
            {
                "sClass": "center",
                "attr": "s",
            },
             {
                 "sClass": "center",
                 "attr": "s",
             },
             {
                 "sClass": "center",
                 "attr": "s",
             },
             {
                 "sClass": "center",
                 "attr": "s",
             },
             {
                 "sClass": "center",
                 "attr": "s"
             },
             {
                 "sClass": "center",
                 "attr": "s"
             },
             {
                 "sClass": "center",
                 "attr": "s"
             },
             //{
             //    "sClass": "center",
             //},
             //{
             //    "sClass": "center",
             //},
             {
                 "bSortable": false,
                 "sClass": "center",
                 "sWidth": "10%",
                 //"render": function (data, type, row, meta) {
                 //    var buttons = "";
                 //    var functionCall = "ViewHeader(" + row[2].trim() + ")";
                 //    buttons = '<center><a class="btn btn-xs green"  Title="View Requests" onclick="' + functionCall + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                 //    return buttons;
                 //}
             },
        ]
    });
    table.dtSearchFilter();
    $('#ddlPendingInspection').change(function () {
        var selectedProject = '';
        var Project = $($(this)).val();
        if (Project != '' && Project != null && Project != undefined) {
            $("#hdPendingInspection").val(Project.join(","));
        }
        else {
            $("#hdPendingInspection").val(Project);
        }
        $("#tblHeader").DataTable().ajax.reload();
    });
    //function ViewHeader(headerId) {
    //    window.location.href = "/IPI/MaintainSeamListOfferInspection/ApproveSeamListInspection/" + headerId;
    //}

   function ShowTimeline(requestId) {

        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/ShowTimelineNonNDEInspectionPartial?requestId=" + requestId,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });

    }

    function OpenProtocolPopUp(headerId) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamICLLineId",
            type: "POST",
            async: false,
            data: { OfferHeaderId: headerId },
            success: function (data) {
                if (data.Key == true) {
                    OpenAttachmentPopUp(data.Value, false, "QMS031/" + data.Value);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Seam List Details
                </div>
                <div class="tools" id="dvExportLines">
                    <div class="btn-group">
                        <input id="hdWhereCondition" type="hidden"/>
                        <select name="ddlPendingInspection" id="ddlPendingInspection" class="mt-multiselect btn btn-default" multiple="multiple" data-width="100%" style="width:100%"></select>
                        <input type="hidden" id="hdPendingInspection" />
                    </div>
                    <div class="btn-group">
                        <a style="margin-right:5px;" id="btnIPIReport" class="btn btn-circle white btn-outline btn-sm" onclick="GetIPIPendingInspectionReport('QC','SEAM');">
                            <i class="fa fa-print"></i> Pending Inspection
                        </a>
                    </div>
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainSeamListOfferInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                    <div class="btn-group">
                        <a id="btnGroupClearance" name="btnGroupClearance" style="margin-left:5px;" class="btn btn-circle white btn-outline btn-sm"><i class="fa fa-paper-plane" style="padding-right:5px;"></i>Group Clearance / Return / Reject</a>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr id="inline"></tr>
                        <tr>
                            <th class="all">Quality Project</th>
                            <th class="all">Project</th>
                            <th style="display:none;">Request Id</th>
                            <th style="display:none;">Header Id</th>
                            <th class="all">Seam No</th>
                            <th class="all">Stages</th>
                            <th class="all">Seq. No</th>
                            <th class="all">Itrn.</th>
                            <th class="all">Test Result</th>
                            <th class="all">Offered By</th>
                            <th class="all">Offered On</th>
                            @*<th class="min-phone-l">Created By</th>
                                <th class="min-phone-l">Created On</th>*@
                            <th class="none">BU</th>
                            <th class="none">Location</th>
                            <th class="none">Request No</th>
                            <th class="none">Request Seq. No</th>
                            <th class="none">Inspected By</th>
                            <th class="none">Inspected On</th>
                            <th class="none">QC Remarks</th>
                            <th class="none">Offered to Customer By</th>
                            <th class="none">Offered to Customer On</th>
                            <th class="none">Shop</th>
                            <th class="none">Shop Location</th>
                            <th class="none">Shop Remark</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { 
        $("#btnGroupClearance").click(function () {
            $.ajax({
                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GroupClearancePartial",
                type: "GET",
                datatype: "html",
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (data) {
                    currentposition = 0;
                    bootbox.dialog({
                        title: "Group Clearance / Return / Reject",
                        message: data,
                        size: 'large',
                        buttons: {
                            'confirm': {
                                label: 'Clear',
                                className: 'btn clear',
                                callback: function () {
                                      var qcRemark = $("#txtGroupQCRemarks").val();
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {

                                        var arrayRequestIds = new Array();
                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });
                                        if (arrayRequestIds.length > 0) {
                                            bootbox.confirm({
                                                title: "Clear Confirmation",
                                                message: "Do you want to clear?",
                                                buttons: {
                                                    confirm: {
                                                        label: 'Yes',
                                                        className: 'btn-success',
                                                    },
                                                    cancel: {
                                                        label: 'No',
                                                        className: 'btn-danger'
                                                    }
                                                },
                                                callback: function (result) {
                                                    if (result) {
                                                      
                                                        var strRequestIds = arrayRequestIds.join(",");
                                                        var type = '@clsImplementationEnum.SeamListInspectionStatus.Cleared.GetStringValue()';
                                                        $.ajax({
                                                            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SeamListGroupClearanceRequest",
                                                            type: "POST",
                                                            datatype: "json",
                                                            beforeSend: function () {
                                                                showLoading(true);
                                                            },
                                                            complete: function () {
                                                                showLoading(false);
                                                            },
                                                            data: {
                                                                strRequestIds: strRequestIds,
                                                                type: type,
                                                                qcremarks  :qcRemark
                                                            },
                                                            success: function (data)
                                                            {
                                                                
                                                                var dt1 = '@ViewBag.RequestId';
                                                                if (data.Key == true)
                                                                {
                                                                    if (data.CheckStage)
                                                                    {
                                                                        OpenMultipleStage(strRequestIds, data.CheckStageType);
                                                                    }
                                                                    else
                                                                    {
                                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                                        $("#tblHeader").DataTable().ajax.reload();
                                                                    }
                                                                }
                                                                else {
                                                                    DisplayNotiMessage("error", data.Value, "Error");
                                                                }
                                                            }
                                                        });
                                                    }
                                                }
                                            });
                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select atleast one stage for clear", "Error");
                                            return false;
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }
                                }
                            },
                            'confirmReject': {
                                label: 'Reject',
                                className: 'btn reject',
                                callback: function () {
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {

                                        var GroupQCRemarks = $("#txtGroupQCRemarks").val();
                                        var arrayRequestIds = new Array();
                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });

                                        if (arrayRequestIds.length > 0) {

                                            if($('#frmGrpClearance').valid()){

                                                bootbox.confirm({
                                                    title: "Reject Confirmation",
                                                    message: "Do you want to reject?",
                                                    buttons: {
                                                        confirm: {
                                                            label: 'Yes',
                                                            className: 'btn-success',
                                                        },
                                                        cancel: {
                                                            label: 'No',
                                                            className: 'btn-danger'
                                                        }
                                                    },
                                                    callback: function (result) {
                                                        if (result) {

                                                            var strRequestIds = arrayRequestIds.join(",");
                                                            var type = '@clsImplementationEnum.SeamListInspectionStatus.Rejected.GetStringValue()';
                                                            $.ajax({
                                                                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SeamListGroupReturnRequest",
                                                                type: "POST",
                                                                datatype: "json",
                                                                beforeSend: function () {
                                                                    showLoading(true);
                                                                },
                                                                complete: function () {
                                                                    showLoading(false);
                                                                },
                                                                data: {
                                                                    strRequestIds: strRequestIds,
                                                                    type: type,
                                                                    QCRemarks: GroupQCRemarks
                                                                },
                                                                success: function (data) {
                                                                    if (data.Key == true) {
                                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                                        $("#tblHeader").DataTable().ajax.reload();
                                                                    }
                                                                    else {
                                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    }
                                                });
                                            }
                                            else
                                            {
                                                return false;
                                            }

                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select atleast one stage for reject", "Error");
                                            return false;
                                        }
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }
                                }
                            },
                            'confirmReturn': {
                                label: 'Return',
                                className: 'btn return',
                                callback: function () {
                                    if ($("#hdnQualityProject").val() != "" && $("#hdnQualityProject").val() != null && $("#hdnStages").val() != "" && $("#hdnStages").val() != null) {

                                        var GroupQCRemarks = $("#txtGroupQCRemarks").val();
                                        var arrayRequestIds = new Array();
                                        $('input[class="clsCheckbox"]', $('#tblSeamlist')).each(function () {
                                            if (this.checked) {
                                                arrayRequestIds.push(this.value);
                                            }
                                        });
                                        if (arrayRequestIds.length > 0) {

                                            if ($('#frmGrpClearance').valid()) {

                                                bootbox.confirm({
                                                    title: "Return Confirmation",
                                                    message: "Do you want to return?",
                                                    buttons: {
                                                        confirm: {
                                                            label: 'Yes',
                                                            className: 'btn-success',
                                                        },
                                                        cancel: {
                                                            label: 'No',
                                                            className: 'btn-danger'
                                                        }
                                                    },
                                                    callback: function (result) {
                                                        if (result) {

                                                            var strRequestIds = arrayRequestIds.join(",");
                                                            var type = '@clsImplementationEnum.SeamListInspectionStatus.Returned.GetStringValue()';
                                                            $.ajax({
                                                                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SeamListGroupReturnRequest",
                                                                type: "POST",
                                                                datatype: "json",
                                                                beforeSend: function () {
                                                                    showLoading(true);
                                                                },
                                                                complete: function () {
                                                                    showLoading(false);
                                                                },
                                                                data: {
                                                                    strRequestIds: strRequestIds,
                                                                    type: type,
                                                                    QCRemarks: GroupQCRemarks
                                                                },
                                                                success: function (data) {
                                                                    if (data.Key == true) {
                                                                        DisplayNotiMessage("success", data.Value, "Success");
                                                                        $("#tblHeader").DataTable().ajax.reload();
                                                                    }
                                                                    else {
                                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    }
                                                });
                                            }
                                            else {
                                                return false;
                                            }

                                        }
                                        else {
                                            DisplayNotiMessage("error", "Please select atleast one stage for return", "Error");
                                            return false;
                                        }

                                    }
                                    else {
                                        DisplayNotiMessage("error", "Please select Quality Project & Stages", "Error");
                                        return false;
                                    }
                                }
                            },
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    })
                },
                error: function () {
                    DisplayNotiMessage("error", "Error occured please try again", "Error");
                }
            });
        });
    });
    function OpenMultipleStage(strRequestIds, CheckStageType) {
        
        Requestlist = strRequestIds;
        checkStage = CheckStageType;
        var requestIds = strRequestIds.split(',');
        requid = requestIds[currentposition];

        bootbox.hideAll();
        var title = "";
        if (CheckStageType == "HARDNESS") {
            title = "Maintain Hardness Test Details";
        }
        else if (CheckStageType == "FERRITE") {
            title = "Maintain Ferrite Test Details";
        }
        else if (CheckStageType == "PMI") {
            title = "Maintain PMI Test Details";
        }
        else {
            title = "Maintain Chemical Test Details";
        }
        $.ajax({
            type: "POST",
            url: "/IPI/MaintainSeamListOfferInspection/ShowMultipleStagesGroupClearance",
            dataType: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { RequestIds: requid, CheckStageType: CheckStageType, multipleIds: strRequestIds },
            success: function (result)
            {
               
                var totallenth = Requestlist.split(',').length -1;
                if (totallenth == currentposition) {
                    result = result + "<tr><div class='class='col - md - 12'><input type='button' onclick='nextfunction();' id='btnNext' class='btn btn-primary' style='float: right;' value='Finish' /></div></tr><br/><br/>"
                }
                else {
                    result = result + "<tr><div class='class='col - md - 12'><input type='button' onclick='nextfunction();' id='btnNext' class='btn btn-primary' style='float: right;' value='Next' /></div></tr><br/><br/>"
                }
                bootbox.dialog({
                    title: title,
                    message: result,
                    size: 'large',
                    className: "higherzindex clsBootbox",
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            }

        });
    }
    function nextfunction() {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/RespondTestDetailRequest",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { requestId: requid, type: '@clsImplementationEnum.SeamListInspectionStatus.Cleared.GetStringValue()', qcRemark: qcRemark, docRevNo:""},
            success: function (data) {
                if (data.Key == true)
                {
                    
                    currentposition = currentposition + 1;
                    if (Requestlist.split(',').length == currentposition) {
                        DisplayNotiMessage("success", "All " + checkStage + " stages are cleared", "Success");
                        bootbox.hideAll();
                    }
                    else {
                        OpenMultipleStage(Requestlist, checkStage);
                    }
                }
                else {
                    bootbox.alert(data.Value)
                }
            }
        });
    }
</script>