﻿<style>
    .customheight {
        height: 34px;
    }

    .customheight_h {
        height: 60px;
    }

    .widthRemarks {
        min-width: 200px !important;
    }

    .portlet.box.green {
        top: -272px !important;
        left: -100px !important;
    }

    .borderright {
        border-right: 1px solid #e7ecf1 !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Test Details
                </div>
                <div class="tools" id="dvExportHeader">
                    @if (ViewBag.isEditable)
                    {
                        <div class="btn-group">
                            <a style="margin-right:5px;" id="btnNewSampleList" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewInlineRecord(this, $('#tblHardnessTestLines'), $('#btnNewSampleList'));">
                                <i class="fa fa-plus"></i> New
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHardnessTestLines" }))
                {
                    <table class="table table-striped table-bordered table-hover dt-responsive" id="tblHardnessTestLines" cellspacing="0">
                        <thead>
                            <tr>
                                <th rowspan=2 style="display:none;">LineId</th>
                                <th rowspan=2 style="display:none;">HardnessId</th>
                                <th rowspan=2 class="all customheight_h">Spot No.<span class="required" style="color:red;"> * </span></th>
                                <th rowspan=2 class="all customheight_h">Seam Location<span class="required" style="color:red;"> * </span></th>
                                <th class="all" style="text-align:center" colspan="12">Hardness Required Value :<span id="spnReqValue"></span></th>
                                <th rowspan=2 class="all customheight_h">Remarks</th>
                                <th rowspan=2 class="all customheight_h">Action</th>
                            </tr>

                            <tr>
                                <th class="all borderright">Reading <br />Inside <br />First</th>
                                <th class="all borderright">Reading <br />Inside <br />Second</th>
                                <th class="all borderright">Reading <br />Inside <br />Third</th>
                                <th class="all borderright">Reading <br />Inside <br />Fourth</th>
                                <th class="all borderright">Reading <br />Inside <br />Fifth</th>
                                <th class="all borderright">Inside <br />Average</th>
                                <th class="all borderright">Reading <br />Outside <br />First</th>
                                <th class="all borderright">Reading <br />Outside <br />Second</th>
                                <th class="all borderright">Reading <br />Outside <br />Third</th>
                                <th class="all borderright">Reading <br />Outside <br />Fourth</th>
                                <th class="all borderright">Reading <br />Outside <br />Fifth</th>
                                <th class="all borderright">Outside <br />Average</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var HardnessRequiredValue = $("#HardnessRequiredValue").val();
    var HardnessRequiredUnit = $("#HardnessRequiredUnit").val();

    var IsEditable = false;
    var tablewrapper = "tblHardnessTestLines_wrapper";
    var UtilityParamsHardness = undefined;
    $(document).ready(function () {
        $("#spnReqValue").html(HardnessRequiredValue + (HardnessRequiredUnit != "" ? " " + HardnessRequiredUnit  : ""));
        var rowHeight = 30;
        if ('@ViewBag.IsEditable'.toLowerCase() == "true") {
            IsEditable = true;
            rowHeight = 34
        }
        var table = $('#tblHardnessTestLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'desc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/LoadHardnessGridData?HardnessId=" + '@ViewBag.HardnessId' + "&IsEditable=" + '@ViewBag.IsEditable',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            @*{ "name": "IsVisible", "value": '@ViewBag.isEditable' },
                            { "name": "Roles", "value": '@ViewBag.Role' },
                            { "name": "Headerid", "value": '@ViewBag.HeaderId' },
                            { "name": "CTQLineHeaderId", "value": '@ViewBag.Reqid' },
                            { "name": "isHistory", "value": '@ViewBag.isHistory' }*@
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        ResetAddRowInline($('#tblHardnessTestLines'), $('#btnNewSampleList'));
                        CallAfterLoadSREHardness();
                    },
                    'async': false
                });
            },
            "columns": [
                      {
                          "sClass": "hide",
                          "bSortable": false,
                      },
                    {
                        "sClass": "hide",
                        "bSortable": false,
                    },
                    {
                        "sClass": "center @(ViewBag.IsEditable ? "customheight":"")",
                        "name": "SpotNo",
                    },
                    {
                        "sClass": "center @(ViewBag.IsEditable ? "customheight":"")",
                        "name": "SeamLocation",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading1",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading2",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading3",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading4",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading5",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideAverage",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading1",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading2",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading3",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading4",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading5",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideAverage",
                    },
                    {
                        "sClass": "center widthRemarks",
                        "name": "Remarks",
                    },
                    {
                        "sClass": "clsnowrap @(ViewBag.IsEditable ? "customheight":"")",
                        "name": "Action",
                        "attr": "none",
                        "bSortable": false,
                    },
            ]
        });

        @*UtilityParamsHardness = {
            sUrl: "/IPI/MaintainSeamListOfferInspection/LoadHardnessGridData?HardnessId=" + '@ViewBag.HardnessId' + "&IsEditable=" + '@ViewBag.IsEditable',
            //iScrollY: 650,
            iResponsiveOnWindowWidth: 800,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            bIsIgnoreHiddenColumns: false,
            iFCLeft: 4,
            iFCRight: 1,
            sBtnDivSelector: "#dvExportHeader",
            aoCustomSetting: [{ prop: "scroller ", value: { rowHeight: rowHeight, loadingIndicator: true, boundaryScale: 1, displayBuffer: 4 } }],
            fnServerDataCallback: function (aoData, data) {
                CallAfterLoadSREHardness();
            },
            aoColumns: [
                    {
                        "sClass": "hide",
                        "bSortable": false,
                    },
                    {
                        "sClass": "hide",
                        "bSortable": false,
                    },
                    {
                        "sClass": "center @(ViewBag.IsEditable ? "customheight":"")",
                        "name": "SpotNo",
                    },
                    {
                        "sClass": "center @(ViewBag.IsEditable ? "customheight":"")",
                        "name": "SeamLocation",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading1",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading2",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading3",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading4",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideReading5",
                    },
                    {
                        "sClass": "center",
                        "name": "InsideAverage",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading1",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading2",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading3",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading4",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideReading5",
                    },
                    {
                        "sClass": "center",
                        "name": "OutsideAverage",
                    },
                    {
                        "sClass": "center widthRemarks",
                        "name": "Remarks",
                    },
                    {
                        "sClass": "clsnowrap @(ViewBag.IsEditable ? "customheight":"")",
                        "name": "Action",
                        "attr": "none",
                        "bSortable": false,
                    },
            ]
        };

        UtilityParamsHardness.oSRE = {
            sUrl: "/IPI/MaintainSeamListOfferInspection/GetInlineEditableRowForHardness",
            iRowIDAt: 1,
            sCallback: 'CallAfterLoadSREHardness',
            iSelectedHeight: 68,
            sEditTriggerClass: 'fa-pencil-square-o',
            bIsUpdateFromServer: true,
            bIsAddBtnNew: IsEditable
        };

        $('#tblHardnessTestLines').dtUtility(UtilityParamsHardness);
            *@
        $('#tblHardnessTestLines').delegate(".clsReading", "keyup", function () {
            CalculateAverage($(this));
        });

        // CallAfterLoadSREHardness();
    });

    function CalculateAverage(ctrl) {
        var LineId = $(ctrl).attr("spara");
        var Id = $(ctrl).attr("id");

        var totalRecords = 0;
        var totalCount = 0;
        var avg = 0;

        if (Id.indexOf("InsideReading") != "-1") {
            $(ctrl).closest('tr').find("input[id^='InsideReading']").each(function () {
                if ($(this).val() != '') {
                    totalCount = totalCount + parseFloat($(this).val());
                    totalRecords++;
                }
            });

            if (totalRecords > 0) {
                avg = parseFloat(totalCount / totalRecords).toFixed(2);
                $(ctrl).closest('tr').find("#InsideAverage" + LineId).val(avg);
            }
            else {
                $(ctrl).closest('tr').find("#InsideAverage" + LineId).val('');
            }
        }
        else if (Id.indexOf("OutsideReading") != "-1") {
            $(ctrl).closest('tr').find("input[id^='OutsideReading']").each(function () {
                if ($(this).val() != '') {
                    totalCount = totalCount + parseFloat($(this).val());
                    totalRecords++;
                }
            });

            if (totalRecords > 0) {
                avg = parseFloat(totalCount / totalRecords).toFixed(2);
                $(ctrl).closest('tr').find("#OutsideAverage" + LineId).val(avg);
            }
            else {
                $(ctrl).closest('tr').find("#OutsideAverage" + LineId).val('');
            }
        }
    }

    function CallAfterLoadSREHardness() {
        $('input[maxlength]').maxlength({ alwaysShow: true });
        $('.numeric').autoNumeric('init', { aPad: "false", vMin: "0", vMax: "999", aForm: "false", aSep: '' });
        $('.numeric_decimal').autoNumeric('init', { aPad: "false", vMin: "0", vMax: "999.99", aForm: "false", aSep: '' });
    }

    function OnBlurSpotNo(ctrl) {
        var SpotNo = $(ctrl).val();
        var HardnessId = parseInt($("#HardnessId").val());
        if (SpotNo == "" || SpotNo == undefined || SpotNo == null) {
            DisplayNotiMessage("error", "Spot No. is required", "Error");
            return false;
        }
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/AddHardnessTestDefaultLineData",
            data: { HardnessId: HardnessId, SpotNo: SpotNo },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $('#tblHardnessTestLines').DataTable().ajax.reload();
                    // UtilityParamsHardness.dtReload();
                    if (data.dataKey) {
                        DisplayNotiMessage("info", data.dataValue, "Info");
                    }
                    ResetAddRowInline($('#tblHardnessTestLines'), $('#btnNewSampleList'));
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }

    function UpdateHardnessData(objColumn, rowID, isValid) {
        var columnValue = $(objColumn).val();
        var elem = $(objColumn).attr("hdElement");
        var oldvalue = $(objColumn).attr("value");
        var hdElement, columnName, columnValue;
        if ($(objColumn).attr("id").match("^txt")) {
            hdElement = $("#" + elem);
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }
        else {
            columnName = $(objColumn).attr("colname");
            columnValue = $(objColumn).val();
        }

        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", GetColumnName(columnName) + " is required", "Info");
            return false;
        }
        else {
            //validation
            if (columnName.indexOf("InsideReading") != "-1" || columnName.indexOf("OutsideReading") != "-1") {
                if (columnValue != "") {
                    if (parseFloat(columnValue) <= 0) {
                        DisplayNotiMessage("info", GetColumnName(columnName) + " should be greater than 0", "Info");
                        $(objColumn).val(oldvalue);
                        CalculateAverage(objColumn);
                        return false;
                    }
                    else {
                        if (HardnessRequiredValue != '' && parseFloat(columnValue) > parseFloat(HardnessRequiredValue)) {
                            DisplayNotiMessage("info", GetColumnName(columnName) + " should be less than or equal to Hardness Required Value : " + HardnessRequiredValue, "Info");
                            $(objColumn).val(oldvalue);
                            CalculateAverage(objColumn);
                            return false;
                        }
                    }
                }
            }
            var result = UpdateValideHardnessData(columnName, columnValue, rowID);
            if (result)
                $(objColumn).attr("value", columnValue);
        }
    }

    function GetColumnName(columnid) {
        var res = "";
        switch (columnid) {
            case "SpotNo":
                res = "Spot No";
                break;
            case "InsideReading1_":
                res = "Reading inside First";
                break;
            case "InsideReading2_":
                res = "Reading inside Second";
                break;
            case "InsideReading3_":
                res = "Reading inside Third";
                break;
            case "InsideReading4_":
                res = "Reading inside Fourth";
                break;
            case "InsideReading5_":
                res = "Reading inside Fifth";
                break;
            case "InsideAverage":
                res = "Inside Average";
                break;
            case "OutsideReading1_":
                res = "Reading outside First";
                break;
            case "OutsideReading2_":
                res = "Reading outside Second";
                break;
            case "OutsideReading3_":
                res = "Reading outside Third";
                break;
            case "OutsideReading4_":
                res = "Reading outside Fourth";
                break;
            case "OutsideReading5_":
                res = "Reading outside Fifth";
                break;
            case "OutsideAverage":
                res = "Outside Average";
                break;
        }
        return res;
    }

    function UpdateValideHardnessData(columnName, columnValue, rowID) {
        var result = true;
        var InsideAverage = $("#InsideAverage" + rowID).val();
        var OutsideAverage = $("#OutsideAverage" + rowID).val();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/UpdateHardnessData",
            datatype: 'json',
            async: false,
            data: { LineId: rowID, ColumnName: columnName, ColumnValue: columnValue, InsideAverage: InsideAverage, OutsideAverage: OutsideAverage },
            success: function (result) {
                if (!result.Key) {
                    result = false;
                    DisplayNotiMessage("error", result.Value, "error");
                    $('#tblHardnessTestLines').DataTable().ajax.reload();
                    //UtilityParamsHardness.dtReload();
                }
            },
            error: function () {
                result = false;
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
        return result;
    }

    function DeleteHardnessTestDetail(LineId) {
        bootbox.dialog({
            message: "Do you want to delete ?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success',
                    callback: function () {
                        $.ajax({
                            type: "POST",
                            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/DeleteHardnessTestDetail",
                            data: { LineId: LineId },
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $('#tblHardnessTestLines').DataTable().ajax.reload();
                                    //UtilityParamsHardness.dtReload();
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            },
                            error: function () {
                            }
                        });
                    }
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger',
                    callback: function () { }
                }
            },
        });
    }
</script>
