﻿
@using IEMQSImplementation
<style>
    .modal-lg {
        width: 80% !important;
        margin: 10px auto;
    }
</style>

<script>

    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": true,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 15, 20],
            [5, 10, 15, 20]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
        "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamListOfferInspection/loadTPIOfferDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" });
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                },
            });
        },
        "aoColumns": [
           {
               "sClass": "center",
               "bSortable": true,
               "name": "QualityProject"
           },
            {
                "sClass": "center",
                "bSortable": true,
                "name": "Project"
            },
             {
                 "sClass": "hide",
             },
            {
                "sClass": "hide",
            },
            {
                "bSortable": true,
                "sClass": "center",
                "name": "SeamNo"
            },
            {
                "bSortable": true,
                "sClass": "center",
                "name": "StageCode"
            },
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
            //{
            //    "sClass": "center",
            //},
            //{
            //    "sClass": "center",
            //},
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
            {
                "sClass": "center",
            },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "sClass": "center",
             },
             {
                 "bSortable": false,
                 "sClass": "center",
                 "sWidth": "10%",
                 //"render": function (data, type, row, meta) {
                 //    var buttons = "";
                 //    var functionCall = "ViewHeader(" + row[2].trim() + ")";
                 //    buttons = '<center><a class="btn btn-xs green"  href="javascript:void(O);" Title="View Requests" onclick="' + functionCall + '">View<i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                 //    return buttons;
                 //}
             },
        ]
    });

    //function ViewHeader(headerId) {
    //    window.location.href = "/IPI/MaintainSeamListOfferInspection/TPITestDetails/" + headerId;
    //}
    function ShowTimeline(requestId) {

        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/ShowTimelineNonNDEInspectionPartial?requestId=" + requestId,
            dataType: "html",
            type: "GET",
            delay: 250,
            async: false,
            success: function (result) {
                bootbox.dialog({
                    title: "Timeline",
                    message: result,
                    size: 'large'
                });
            }
        });

    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Seam List Details
                </div>
                <div class="tools" id="dvExportLines">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainSeamListOfferInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Quality Project</th>
                            <th class="none">Project</th>
                            <th style="display:none;">RequestId</th>
                            <th style="display:none;">HeaderId</th>
                            <th class="all">Seam No</th>
                            <th class="all">Stage Code</th>
                            <th class="all">Seq. No</th>
                            <th class="all">Itrn.</th>
                            <th class="all">Request No</th>
                            <th class="none">Request Seq. No</th>
                            <th class="min-phone-l">Test Result</th>
                            <th class="min-phone-l">Offred By</th>
                            <th class="min-phone-l">Offered On</th>
                            @*<th class="min-phone-l">Created By</th>
                            <th class="min-phone-l">Created On</th>*@
                            <th class="none">Location</th>
                            <th class="none">BU</th>                            
                            <th class="none">Inspected By</th>
                            <th class="none">Inspected On</th>
                            <th class="none">QC Remarks</th>
                            <th class="none">Offered to Customer By</th>
                            <th class="none">Offered to Customer On</th>
                            <th class="none">Shop</th>
                            <th class="none">Shop Location</th>
                            <th class="none">Shop Remark</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

