﻿@using IEMQSImplementation
@model SP_IPI_SEAMLISTOFFERINSPECTION_Result
@{
    ViewBag.Title = "Seam List Offer Inspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>


<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    .clsBootbox {
        padding: 0px !important;
    }

        .clsBootbox .modal-lg {
            width: 90% !important;
        }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .btnhide {
        display: none;
    }
</style>

<script>
    var message = "";
    var flag = false;
    $(document).ready(function () {
        $('input[maxlength]').maxlength({ alwaysShow: true, });
        var isSelectedProject = false;
        var isSelectedQualityProject = false;

        if ('@Model.InspectionStatus' == '@clsImplementationEnum.SeamListInspectionStatus.ReadyToOffer.GetStringValue()') {
            EnableBtn($("#btnOffer"));
            EnableBtn($("#btnWeld"));
            if ('@ViewBag.IsChemStage' == "True") {
                EnableBtn($("#btnChemicalTest"));
            }
            flag = true;
        }


        $('#btnChemicalTest').click(function () {
            LoadIPIMaintainChemicalTestDetails('@Model.HeaderId', '@Model.IterationNo', 'PROD', flag, 0, false);
        });

        $('#btnCancel').click(function () {
            window.location.href = WebsiteURL + '/IPI/MaintainSeamListOfferInspection/Index?tab=' + '@ViewBag.fromURL';
        });

        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });

        $("#btnOffer").click(function () {
            //CopyWelderWeldLengthFromPrevNDEStage($("#HeaderId").val(), false);
            if (ValidateWeldLength()) {

                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/CheckSeamListOffered",
                    type: "POST",
                    datatype: "json",
                    data: { headerId: $("#HeaderId").val() },
                    success: function (data) {
                        if (data.Key == true) {
                            //bootbox.confirm({
                            //    title: "Offer Confirmation",
                            //    message: "Do you want to offer?",
                            //    buttons: {
                            //        confirm: {
                            //            label: 'Yes',
                            //            className: 'btn-success',
                            //        },
                            //        cancel: {
                            //            label: 'No',
                            //            className: 'btn-danger'
                            //        }
                            //    },
                            //    callback: function (result) {
                            //        if (result) {
                            $.ajax({
                                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/SendOfferPartial",
                                type: "POST",
                                datatype: "html",
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { headerId: $("#HeaderId").val() },
                                success: function (data) {
                                    bootbox.dialog({
                                        title: "Offer for inspection " + $('#SeamNo').val(),
                                        message: data,
                                        size: 'large',
                                        buttons: {
                                            'confirm': {
                                                label: 'Offer',
                                                className: 'btn offer',
                                                callback: function () {
                                                    //var IsProtocolApplicable = $("#IsProtocolApplicable").val();
                                                    var hdAttachment = $("#hdAttachment").val();
                                                    var folderPath = $("#folderPath").val();
                                                    if ($("#frmSeamListOffer").valid()) {

                                                        var formdata = new FormData();
                                                        var frmPartlistOfferValues = $("#frmSeamListOffer").serializeArray();
                                                        $.each(frmPartlistOfferValues, function (key, input) {
                                                            formdata.append(input.name, input.value);
                                                        });
                                                        //debugger;

                                                        var IsProtocolApplicable = IsProtocolFileRequired($("#HeaderId").val());

                                                        if (IsProtocolApplicable && !getHasAttachmentsForSubmit("fuAttachmentUpload")) {
                                                            //DisplayNotiMessage("error", "Attachment(s) is required", "Error");
                                                            return false;
                                                        }
                                                        else {
                                                            $.ajax({
                                                                url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/RequestSeamListOffered",
                                                                type: "POST",
                                                                //contentType: false,
                                                                //processData: false,

                                                                beforeSend: function () {
                                                                    showLoading(true);
                                                                },
                                                                complete: function () {
                                                                    showLoading(false);
                                                                },
                                                                datatype: "json",
                                                                data: {
                                                                    HeaderId: $("#HeaderId").val(),
                                                                    Shop: $("#Shop").val(),
                                                                    ShopRemark: $("#ShopRemark").val(),
                                                                    Location: $("#sLocation").val(),
                                                                    SurfaceCondition: $("#SurfaceCondition").val(),
                                                                    WeldThicknessReinforcement: $("#WeldThicknessReinforcement").val(),
                                                                    IsSTAGEDEPARTMENTNDE: $("#IsSTAGEDEPARTMENTNDE").val(),
                                                                    OverlayThickness: $("#OverlayThickness").val(),
                                                                    OverlayMaterials: $("#OverlayMaterials").val()
                                                                },
                                                                success: function (data) {
                                                                    if (data.Key == true) {
                                                                        message = data.Value;
                                                                        DisableBtn($("#btnOffer"));
                                                                        flag = false;
                                                                        $("#Status").val('@clsImplementationEnum.SeamListInspectionStatus.UnderInspection.GetStringValue()');
                                                                        $("#spanStatus").html("Status : " + '@clsImplementationEnum.SeamListInspectionStatus.UnderInspection.GetStringValue()');
                                                                        UpdateFolderPathAndSavefuAttachmentUpload(folderPath);
                                                                    }
                                                                    else {
                                                                        DisplayNotiMessage("error", data.Value, "Error");
                                                                    }
                                                                }
                                                            });
                                                            return false;
                                                        }
                                                    }
                                                    else {
                                                        return false;
                                                    }
                                                }
                                            },
                                            'cancel': {
                                                label: 'Close',
                                                className: 'btn btnclose'
                                            }
                                        }
                                    })
                                },
                                error: function () {
                                    DisplayNotiMessage("error", "Error occured please try again", "Error");
                                }
                            });
                            //        }
                            //    }
                            //});
                        }
                        else {
                            bootbox.alert(data.Value);
                        }
                    }
                });
            }

        });

        $("#btnWeld").click(function () {
            var strflag = true;
            var strclassname = "btn green";
            if (!flag)
            { strclassname = "btnhide" }
            else {
                strflag = CaptureWeldersBeforeOffer($("#HeaderId").val());
            }
            if (strflag) {
                $.ajax({
                    url: WebsiteURL + "/IPI/SeamListNDEInspection/GetWelderWiseWeldTypePartialBeforeOffer",
                    type: "POST",
                    datatype: "html",
                    async: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: { headerId: $("#HeaderId").val(), flag: flag },
                    success: function (data) {
                        bootbox.hideAll();
                        setTimeout(function () {
                            bootbox.dialog({
                                title: "Set Welder WeldLengh / Area",
                                size: 'large',
                                message: data,
                                buttons: {
                                    'Assign': {
                                        label: 'Assign to All',
                                        className: strclassname,
                                        callback: function () {
                                            var value = 0;
                                            if ('@ViewBag.IsOverlay' == 'True') {
                                                $("[name=txtWeldarea]").val($("#OverlayArea").val());
                                                value = $("#OverlayArea").val();
                                            }
                                            else {
                                                $("[name=txtWeldlength]").val($("#SeamLength").val());
                                                value = $("#SeamLength").val();
                                            }
                                            $.ajax({
                                                url: WebsiteURL + "/IPI/SeamListNDEInspection/UpdateWeldingValueByAportionAssignBeforeOffer",
                                                type: "POST",
                                                data: { headerId: $("#HeaderId").val(), isOverlay: '@ViewBag.IsOverlay', updateType: "Assign", value: value },
                                                success: function (data) {
                                                    if (data.Key) {
                                                        if ('@ViewBag.IsOverlay' == 'True') {
                                                            $("[name=txtWeldarea]").val(data.Value);
                                                        }
                                                        else {
                                                            $("[name=txtWeldlength]").val(data.Value);
                                                        }
                                                    }
                                                }
                                            });
                                            return false;
                                        },
                                    },
                                    'Aportion': {
                                        label: 'Aportion to All',
                                        className: strclassname,
                                        callback: function () {
                                            var value = 0;
                                            if ('@ViewBag.IsOverlay' == 'True') {
                                                value = $("#OverlayArea").val();
                                            }
                                            else {
                                                value = $("#SeamLength").val();
                                            }
                                            $.ajax({
                                                url: WebsiteURL + "/IPI/SeamListNDEInspection/UpdateWeldingValueByAportionAssignBeforeOffer",
                                                type: "POST",
                                                data: { headerId: $("#HeaderId").val(), isOverlay: '@ViewBag.IsOverlay', updateType: "Aportion", value: value },
                                                success: function (data) {
                                                    if ('@ViewBag.IsOverlay' == 'True') {
                                                        $("[name=txtWeldarea]").val(data.Value);
                                                    }
                                                    else {
                                                        $("[name=txtWeldlength]").val(data.Value);
                                                    }
                                                }
                                            });
                                            return false;
                                        }
                                    },
                                    'confirm': {
                                        label: 'Close',
                                        className: 'btn red',
                                        callback: function () {
                                            ValidateWeldLength();
                                            @*var value = 0;
                                            if ('@ViewBag.IsOverlay' == 'True') {
                                                value = $("#OverlayArea").val();
                                            }
                                            else {
                                                value = $("#SeamLength").val();
                                            }
                                            $.ajax({
                                                url: "/IPI/SeamListNDEInspection/ConfirmValidationBeforeOffer",
                                                type: "POST",
                                                data: { headerId: $("#HeaderId").val(), isOverlay: '@ViewBag.IsOverlay', value: value },
                                                success: function (data) {
                                                    //bootbox.alert(data.Value);
                                                }
                                            });*@
                                        }
                                    }
                                }
                            });
                            //if (isParallelSeamConfirmed) {
                            //    DisableBtn($("button[data-bb-handler='Assign']"));
                            //    DisableBtn($("button[data-bb-handler='Aportion']"));
                            //    $('input[name="txtWeldlength"],input[name="txtWeldarea"]', '#tblWelder').attr('disabled', true);
                            //}
                            //else {
                            //    EnableBtn($("button[data-bb-handler='Assign']"));
                            //    EnableBtn($("button[data-bb-handler='Aportion']"));
                            //    $('input[name="txtWeldlength"],input[name="txtWeldarea"]', '#tblWelder').removeAttr('disabled');
                            //}
                        }, 50);
                    },
                    error: function () {
                        DisplayNotiMessage("error", "Error occured please try again", "Error");
                    }
                });
            }

        });

        BindSeamAdditionalData();

    });

    function LoadIPIMaintainChemicalTest() {
        bootbox.hideAll();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ChemicalAnalysis/ChemicalTestDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: {
                headerid: '@Model.HeaderId',
                iteration: '@Model.IterationNo',
                role: 'PROD',
                isEditable: flag,
                reqid: 0
            },
            success: function (result) {
                bootbox.dialog({
                    title: "Maintain Chemical Test Details",
                    message: result,
                    size: 'large',
                    className: "higherzindex clsBootbox",

                })
            }
        })
    }

    function callbackfuntion() {
        DisplayNotiMessage("success", message, "Success");
        message = "";
        bootbox.hideAll();
    }
    function ValidateWeldLength() {
        if ('@ViewBag.IsWeldLengthRequired' != 'True' || !flag) {
            return true;
        }

        var _returnValue = false;
        var value = 0;

        if ('@ViewBag.IsOverlay' == 'True') {
            value = $("#OverlayArea").val();
        }
        else {
            value = $("#SeamLength").val();
        }
        $.ajax({
            url: WebsiteURL + "/IPI/SeamListNDEInspection/ConfirmValidationBeforeOffer",
            type: "POST",
            async: false,
            data: { headerId: $("#HeaderId").val(), isOverlay: '@ViewBag.IsOverlay', value: value },
            success: function (data) {
                if (!data.Key) {
                    DisplayNotiMessage("error", data.Value, "Error");
                    //bootbox.alert(data.Value);
                    _returnValue = false;
                }
                else {
                    _returnValue = true;
                }
            }
        });
        return _returnValue;
    }

    function CopyWelderWeldLengthFromPrevNDEStage(_HeaderId, isLTFPS) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/CopyWelderWeldLengthFromPreviousNDEStage",
            type: "POST",
            async: false,
            data: { HeaderId: _HeaderId, IsLTFPS: isLTFPS },
            success: function (data) {
                if (data.Key == true) {
                    //DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function CaptureWeldersBeforeOffer(_headerId) {
        var returnValue = false;
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/CaptureWeldersBeforeOffer",
            type: "POST",
            async: false,
            data: { headerId: _headerId },
            success: function (data) {
                if (data.Key == true) {
                    returnValue = true;
                    //DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    returnValue = false;
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
        return returnValue;
    }

    function IsProtocolFileRequired(headerId) {
        var returnValue = false;
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/IsProtocolFileRequired",
            type: "POST",
            async: false,
            data: { OfferHeaderId: headerId },
            success: function (data) {
                if (data.Key == true) {
                    returnValue = true;
                }
            }
        });
        return returnValue;
    }

    function BindSeamAdditionalData() {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamAdditionalDetails",
            type: "POST",
            datatype: "json",
            data: {
                headerId: $("#HeaderId").val(),
            },
            success: function (data) {
                $("#ManufacturingCode").val(data.ManufacturingCode);
                $("#SeamNo").val(data.SeamNo + " - " + data.SeamDescription);
                $("#SeamLength").val(data.SeamLength);
                $("#OverlayArea").val(data.OverlayArea);
                $("#JointType").val(data.JointType);

                $("#Part1Position").val(data.Part1Position);
                $("#Part1Thickness").val(data.Part1Thickness);
                $("#Part1Materials").val(data.Part1Materials);

                $("#Part2Position").val(data.Part2Position);
                $("#Part2Thickness").val(data.Part2Thickness);
                $("#Part2Materials").val(data.Part2Materials);

                $("#Part3Position").val(data.Part3Position);
                $("#Part3Thickness").val(data.Part3Thickness);
                $("#Part3Materials").val(data.Part3Materials);

                $("#Part4Position").val(data.Part4Position);
                $("#Part4Thickness").val(data.Part4Thickness);
                $("#Part4Materials").val(data.Part4Materials);

                $("#Part5Position").val(data.Part5Position);
                $("#Part5Thickness").val(data.Part5Thickness);
                $("#Part5Materials").val(data.Part5Materials);

                $("#Part6Position").val(data.Part6Position);
                $("#Part6Thickness").val(data.Part6Thickness);
                $("#Part6Materials").val(data.Part6Materials);


                $("#AcceptanceStandard").val(data.AcceptanceStandard);
                $("#ApplicableSpecification").val(data.ApplicationSpecification);
                $("#InspectionExtent").val(data.InspectionExtent);
                $("#WERemarks").val(data.WERemarks);

                //var Part6Thickness = $("#Part6Thickness").val();
                //if (Part6Thickness != "" && Part6Thickness != undefined) {
                //    $('#Part6Materials').removeAttr("readonly");
                //}
                
                @*if ('@ViewBag.IsOverlay' == 'True' && '@ViewBag.IsSTAGEDEPARTMENTNDE' =='True') {
                    $('#Part6Thickness').removeAttr("readonly");
                    $('#Part6Materials').removeAttr("readonly");
                }*@

                var Part6Materials = $("#Part6Materials").val();
                if (Part6Materials != "" && Part6Materials != undefined) {
                    UpdateMaterial();
                }
            }
        });

    }
    function OpenCopySeamPopup(QualityProject, code, type) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/CopySeamDetails",
            datatype: 'html',
            data: { QualityProject: QualityProject, StageCode: code, ProtocolType: type },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                bootbox.dialog({
                    title: 'Copy Production data',
                    message: result,
                    size: "large",
                    buttons: {
                        'confirm': {
                            label: 'Copy',
                            className: 'btn btn-primary',
                            callback: function () {

                                var validate = true;

                                if ($("#hdnFromSeam").val() == "") {
                                    $("#FromSeam").addClass('error');
                                    validate = false;
                                } else {
                                    $("#FromSeam").removeClass('error');
                                }

                                if ($("#hdnToSeam").val() == "") {
                                    $("#ToSeam").addClass('error');
                                    validate = false;
                                } else {
                                    $("#ToSeam").removeClass('error');
                                }

                                if (validate) {
                                    $.ajax({
                                        url: WebsiteURL + '/IPI/MaintainSeamListOfferInspection/CopyProtocol',
                                        type: "Post",
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        dataType: "JSON",
                                        data: { headerId: '@Model.HeaderId', fromSeam: $("#hdnFromSeam").val(), toSeam: $("#hdnToSeam").val() },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                                return false;
                                            }
                                        },
                                        error: function (ex) {
                                            DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                            return false;
                                        }
                                    });
                                }
                                else {
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
                var StageCodeDescription = $("#StageCodeDescription").val();
                var SeamNo = $("#SeamNo").val();
                $("#QualityProjectCopy").val(QualityProject);
                $("#StageCodeDescriptionCopy").val(StageCodeDescription);
                $("#SeamNoCopy").val(SeamNo);
            },
            error: function () {
            }
        });
    }
    function UpdateMaterial() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/UpdateMaterial",
            datatype: 'json',
            async: false,
            data: { Id: $("#HeaderId").val(), material: $("#Part6Materials").val(), IsOffer:true },
            success: function (data) {
                if (data.Key == true) {
                    //DisplayNotiMessage("success", data.Value, "Success");
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Offer For Inspection - Seam</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.InspectionStatus) </span>
                        @Html.HiddenFor(m => m.InspectionStatus)
                    </div>
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.StageCode)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <div class="">
                                                <input type="text" id="ManufacturingCode" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Stage Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Stages</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageCodeDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Stage Sequence</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Iteration No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Acceptance Standard</label>
                                            <div class="">
                                                <input type="text" id="AcceptanceStandard" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Applicable Specification</label>
                                            <div class="">
                                                <input type="text" id="ApplicableSpecification" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Inspection Extent</label>
                                            <div class="">
                                                <input type="text" id="InspectionExtent" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">WE Remarks</label>
                                            <div class="">
                                                <input type="text" id="WERemarks" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Seam Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Seam No</label>
                                            <div class="">
                                                <input type="text" id="SeamNo" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Seam Length</label>
                                            <div class="">
                                                <input type="text" id="SeamLength" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Overlay Area</label>
                                            <div class="">
                                                <input type="text" id="OverlayArea" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Joint Type</label>
                                            <div class="">
                                                <input type="text" id="JointType" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Part/Assembly Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 1 Position</label>
                                            <div class="">
                                                <input type="text" id="Part1Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part1Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part1Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 2 Position</label>
                                            <div class="">
                                                <input type="text" id="Part2Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part2Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part2Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 3 Position</label>
                                            <div class="">
                                                <input type="text" id="Part3Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part3Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part3Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 4 Position</label>
                                            <div class="">
                                                <input type="text" id="Part4Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part4Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part4Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 5 Position</label>
                                            <div class="">
                                                <input type="text" id="Part5Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part5Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part5Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 6 Position</label>
                                            <div class="">
                                                <input type="text" id="Part6Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part6Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                @*<input type="text" id="Part6Materials" class="form-control col-md-3" maxlength="100" readonly="readonly" onblur="UpdateMaterial()" />*@
                                                <input type="text" id="Part6Materials" class="form-control col-md-3" maxlength="100" readonly="readonly"/>
                                            </div>
                                        </div>
                                    </div>


                                </fieldset>
                                <fieldset>
                                    <legend>Welder Stamp Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 1</label>
                                            <div class="">
                                                <input type="text" id="Welder1" value="@ViewBag.Welders[0]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 2</label>
                                            <div class="">
                                                <input type="text" id="Welder2" value="@ViewBag.Welders[1]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 3</label>
                                            <div class="">
                                                <input type="text" id="Welder3" value="@ViewBag.Welders[2]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 4</label>
                                            <div class="">
                                                <input type="text" id="Welder4" value="@ViewBag.Welders[3]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 5</label>
                                            <div class="">
                                                <input type="text" id="Welder5" value="@ViewBag.Welders[4]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 6</label>
                                            <div class="">
                                                <input type="text" id="Welder6" value="@ViewBag.Welders[5]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 7</label>
                                            <div class="">
                                                <input type="text" id="Welder7" value="@ViewBag.Welders[6]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 8</label>
                                            <div class="">
                                                <input type="text" id="Welder8" value="@ViewBag.Welders[7]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 9</label>
                                            <div class="">
                                                <input type="text" id="Welder9" value="@ViewBag.Welders[8]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 10</label>
                                            <div class="">
                                                <input type="text" id="Welder10" value="@ViewBag.Welders[9]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 11</label>
                                            <div class="">
                                                <input type="text" id="Welder11" value="@ViewBag.Welders[10]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 12</label>
                                            <div class="">
                                                <input type="text" id="Welder12" value="@ViewBag.Welders[11]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 13</label>
                                            <div class="">
                                                <input type="text" id="Welder13" value="@ViewBag.Welders[12]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 14</label>
                                            <div class="">
                                                <input type="text" id="Welder14" value="@ViewBag.Welders[13]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 15</label>
                                            <div class="">
                                                <input type="text" id="Welder15" value="@ViewBag.Welders[14]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 16</label>
                                            <div class="">
                                                <input type="text" id="Welder16" value="@ViewBag.Welders[15]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 17</label>
                                            <div class="">
                                                <input type="text" id="Welder17" value="@ViewBag.Welders[16]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 18</label>
                                            <div class="">
                                                <input type="text" id="Welder18" value="@ViewBag.Welders[17]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 19</label>
                                            <div class="">
                                                <input type="text" id="Welder19" value="@ViewBag.Welders[18]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 20</label>
                                            <div class="">
                                                <input type="text" id="Welder20" value="@ViewBag.Welders[19]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 21</label>
                                            <div class="">
                                                <input type="text" id="Welder21" value="@ViewBag.Welders[20]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 22</label>
                                            <div class="">
                                                <input type="text" id="Welder22" value="@ViewBag.Welders[21]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 23</label>
                                            <div class="">
                                                <input type="text" id="Welder23" value="@ViewBag.Welders[22]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 24</label>
                                            <div class="">
                                                <input type="text" id="Welder24" value="@ViewBag.Welders[23]" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="control-label">Welding Process</label>
                                            <div class="">
                                                <input type="text" id="WeldingProcess" value="@ViewBag.WeldingProcess" class="form-control col-md-2" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                        </div>
                                    </div>
                                </fieldset>
                                @if (!string.IsNullOrWhiteSpace(Convert.ToString(Model.ProtocolType)))
                                {
                                    <br />
                                    <fieldset>
                                        <legend>Protocol</legend>
                                        <div class="col-md-12">
                                            <br />
                                            <div class="col-md-12">
                                                <div class="col-md-11">
                                                    @if (Model.ProtocolId.HasValue)
                                                    {
                                                        @Model.ProtocolTypeDescription
                                                        <a onclick="OpenProtocol('@ViewBag.ProtocolURL','@Model.ProtocolType', @Model.ProtocolId.Value);" style="padding: 3px 5px; margin-left: 20px; background-color: #337ab7;color: white;">Click to Open</a>
                                                        @*<a onclick="OpenCopySeamPopup('@Model.QualityProject','@Model.StageCode','@Model.ProtocolType')">Copy</a>*@
                                                    }
                                                    else
                                                    {
                                                        <a onclick="@ViewBag.ProtocolURL" style="padding: 3px 5px;background-color: #337ab7;color: white;">Click to Open</a>
                                                    }
                                                </div>
                                                @if (Model.ProtocolId.HasValue)
                                                {
                                                    <div class="col-md-1">
                                                        <input type="button" onclick="OpenCopySeamPopup('@Model.QualityProject', '@Model.StageCode', '@Model.ProtocolType')" class="btn btn-primary" id="btnprotocolCopy" value="Copy Data">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </fieldset>
                                    <br />
                                }
                                <fieldset>
                                    <legend>Remarks</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">L&T Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.LNTInspectorResult, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">CreatedBy</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CreatedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">CreatedOn</label>
                                            <div class="">
                                                <input type="text" value="@ViewBag.CreatedOn" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <hr />
                <div class="row" style="text-align:right;">
                    <div class="col-md-12" style="text-align:right;">
                        @if (ViewBag.IsChemStage)
                        {
                            <input type="button" class="btn blue" id="btnChemicalTest" value="Maintain Chemical Test" />
                        }
                        @*<button class="btn icons" type="button" title="Maintain Chemical Test" id="btnChemicalTest"><i class="fa fa-flask" ></i></button>*@
                        @if (ViewBag.IsWeldLengthRequired)
                        {
                            <input type="button" class="btn green" id="btnWeld" value="Maintain Weld Length" />
                        }
                        <input type="button" class="btn offer" id="btnOffer" disabled="disabled" value="Offer" />
                        <input type="button" id="btnCancel" class="btn btnclose" value="Close" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
