﻿@using IEMQSImplementation
@model QMS050
@{
    ViewBag.Title = "Seam ReOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {
        var isSelectedProject = false;
        var isSelectedQualityProject = false;

        @*if ('@Model.InspectionStatus' == '@clsImplementationEnum.SeamListInspectionStatus.ReadyToOffer.GetStringValue()') {
            EnableBtn($("#btnOffer"));
        }*@

        $('#btnCancel').click(function () {
            if ('@ViewBag.IsLTFPS'.toLocaleLowerCase() == "true") {
                window.location.href = WebsiteURL + '/LTFPS/AttendInspection/TPIView';
            }
            else {
                window.location.href = WebsiteURL + '/IPI/MaintainSeamListOfferInspection/TPIView';
            }

        });

        $('.key-numeric').keypress(function (e) {
            var verified = (e.which == 8 || e.which == undefined || e.which == 0) ? null : String.fromCharCode(e.which).match(/[^0-9]/);
            if (verified) { e.preventDefault(); }
        });

        $("#btnClear").click(function () {
            if ('@ViewBag.IsLTFPS'.toLocaleLowerCase() == "true") {
                $.ajax({
                    url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/LTFPSDocRevNoValidation",
                    type: "POST",
                    data: { requestId: $("#RequestId").val() },
                    success: function (data) {
                        if (data.Key == true) {
                            bootbox.confirm({
                                message: strHtml,
                                buttons: {
                                    confirm: {
                                        label: 'OK',
                                        className: 'btn-success'
                                    },
                                    cancel: {
                                        label: 'Close',
                                        className: 'btn btnclose'
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        if ($('#frmLTFPSDocRevNo').valid()) {
                                            return LTFPSSeamClear($("#txtLTFPSDocRevNo").val())
                                        }
                                        else {
                                            return false;
                                        }
                                    }
                                }
                            });
                        }
                        else {
                            return LTFPSSeamClear();
                        }
                    }
                });
            }
            else {
                bootbox.confirm({
                    title: "Clear Confirmation",
                    message: "Do you want to clear?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            SendTPIRespond('@clsImplementationEnum.SeamListInspectionStatus.Cleared.GetStringValue()')
                        }
                    }
                });
            }
        });

        $("#btnReturn").click(function () {
            bootbox.confirm({
                title: "Return Confirmation",
                message: "Do you want to return?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        SendTPIRespond('@clsImplementationEnum.SeamListInspectionStatus.Returned.GetStringValue()')
                    }
                }
            });
        });

        BindSeamAdditionalData();

    });
    var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                    + "$('#frmLTFPSDocRevNo').validate({"
                    + " rules: {"
                    + "txtLTFPSDocRevNo: {"
                    + "required: true,"
                    + "},"
                    + "messages: {"
                    + "txtLTFPSDocRevNo: {"
                    + "required: 'Doc RevNo is required'"
                    + "}"
                    + "}"
                     + "}"
                    + "});"
                    + "});</scr" + "ipt>"
                    + " <div>"
                    + "<form method='post' id='frmLTFPSDocRevNo' class='form-horizontal' action=''>"
                    + "<div class='form-group'>"
                    + "<div class='col-md-12'>"
                    + "<label class='control-label'>Doc RevNo<span class='required'> * </span></label>"
                    + "<div class=''>"
                    + " <input type='text' id='txtLTFPSDocRevNo' name='txtLTFPSDocRevNo'  class='form-control col-md-3'/>"
                    + "</div>"
                    + "</div>"
                    + "</div>"
                    + "</form>"
                    + "</div>";

    function LTFPSSeamClear(docRevNo) {
        var returnflag = false;
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/LTFPSClear",
            type: "POST",
            data: { requestId: $("#RequestId").val(), docRevNo: docRevNo },
            success: function (data) {
                if (data.Key == true) {
                    window.location.href = WebsiteURL + '/LTFPS/AttendInspection/TPIView';
                    DisplayNotiMessage("success", "Seam Successfully cleared", "Success");
                    returnflag = true;
                }
                else {
                    returnflag = false;
                    bootbox.alert(data.Value)
                }
            }
        });
        return returnflag;
    }
    function SendTPIRespond(type) {
        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/RespondTPITestDetailRequest",
            type: "POST",
            data: { requestId: $("#RequestId").val(), type: type },
            success: function (data) {
                if (data.Key == true) {
                    if ('@ViewBag.IsLTFPS'.toLocaleLowerCase() == "true") {
                        window.location.href = WebsiteURL + '/LTFPS/AttendInspection/TPIView';
                    }
                    else {
                        window.location.href = WebsiteURL + '/IPI/MaintainSeamListOfferInspection/TPIView';
                    }
                    DisplayNotiMessage("success", "Seam Successfully " + type + "", "Success");
                }
                else {
                    bootbox.alert(data.Value)
                }
            }
        });
    }

    function BindSeamAdditionalData() {

        var hId = $("#HeaderId").val();
        var isLTFPS = false;
        if ('@ViewBag.IsLTFPS'.toLocaleLowerCase() == "true") {
            hId = '@Model.LTFPSHeaderId';
            isLTFPS = true;
        }

        $.ajax({
            url: WebsiteURL + "/IPI/MaintainSeamListOfferInspection/GetSeamAdditionalDetails",
            type: "POST",
            datatype: "json",
            data: {
                headerId: hId,
                isLTFPS: isLTFPS
            },
            success: function (data) {
                $("#ManufacturingCode").val(data.ManufacturingCode);
                $("#SeamNo").val(data.SeamNo + " - " + data.SeamDescription);
                $("#SeamLength").val(data.SeamLength);
                $("#OverlayArea").val(data.OverlayArea);
                $("#JointType").val(data.JointType);

                $("#Part1Position").val(data.Part1Position);
                $("#Part1Thickness").val(data.Part1Thickness);
                $("#Part1Materials").val(data.Part1Materials);

                $("#Part2Position").val(data.Part2Position);
                $("#Part2Thickness").val(data.Part2Thickness);
                $("#Part2Materials").val(data.Part2Materials);

                $("#Part3Position").val(data.Part3Position);
                $("#Part3Thickness").val(data.Part3Thickness);
                $("#Part3Materials").val(data.Part3Materials);

                $("#Part4Position").val(data.Part4Position);
                $("#Part4Thickness").val(data.Part4Thickness);
                $("#Part4Materials").val(data.Part4Materials);

                $("#Part5Position").val(data.Part5Position);
                $("#Part5Thickness").val(data.Part5Thickness);
                $("#Part5Materials").val(data.Part5Materials);

                $("#Part6Position").val(data.Part6Position);
                $("#Part6Thickness").val(data.Part6Thickness);
                $("#Part6Materials").val(data.Part6Materials);


                $("#AcceptanceStandard").val(data.AcceptanceStandard);
                $("#ApplicableSpecification").val(data.ApplicationSpecification);
                $("#InspectionExtent").val(data.InspectionExtent);
                $("#Remarks").val(data.WERemarks);

            }
        });
    }

</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">TPI Seam Test Result</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder" id="spanStatus">Status : @Html.DisplayFor(m => m.TestResult) </span>
                        @Html.HiddenFor(m => m.TestResult)
                    </div>
                </div>
                <div id="dvHeader">
                    <form id="frmCreateHeader" class="form-horizontal">
                        @Html.HiddenFor(m => m.RequestId)
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.StageCode)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.QualityProject)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <div class="">
                                                <input type="text" id="ManufacturingCode" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Stage & Request Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Stages</label>
                                            <div class="">
                                                <input type="text" id="StageCodeDecription" value="@ViewBag.StageCode" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Stage Sequence</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.StageSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Iteration No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.IterationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Request No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Request SeqNo.</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RequestNoSequence, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Acceptance Standard</label>
                                            <div class="">
                                                <input type="text" id="AcceptanceStandard" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Applicable Specification</label>
                                            <div class="">
                                                <input type="text" id="ApplicableSpecification" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Inspection Extent</label>
                                            <div class="">
                                                <input type="text" id="InspectionExtent" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="control-label">WE Remarks</label>
                                            <div class="">
                                                <input type="text" id="Remarks" readonly="readonly" class="form-control col-md-3" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Seam Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Seam No</label>
                                            <div class="">
                                                <input type="text" id="SeamNo" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Seam Length</label>
                                            <div class="">
                                                <input type="text" id="SeamLength" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Overlay Area</label>
                                            <div class="">
                                                <input type="text" id="OverlayArea" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Joint Type</label>
                                            <div class="">
                                                <input type="text" id="JointType" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Part/Assembly Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 1 Position</label>
                                            <div class="">
                                                <input type="text" id="Part1Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part1Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part1Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 2 Position</label>
                                            <div class="">
                                                <input type="text" id="Part2Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part2Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part2Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 3 Position</label>
                                            <div class="">
                                                <input type="text" id="Part3Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part3Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part3Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 4 Position</label>
                                            <div class="">
                                                <input type="text" id="Part4Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part4Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part4Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 5 Position</label>
                                            <div class="">
                                                <input type="text" id="Part5Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part5Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part5Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Part 6 Position</label>
                                            <div class="">
                                                <input type="text" id="Part6Position" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Thickness</label>
                                            <div class="">
                                                <input type="text" id="Part6Thickness" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Material</label>
                                            <div class="">
                                                <input type="text" id="Part6Materials" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>TPI Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">TPI Agency 1</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency1Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency1Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency1ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">TPI Agency 2</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency2Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>

                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency2Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency2ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">TPI Agency 3</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency3Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency3Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency3ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">TPI Agency 4</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency4Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency4Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency4ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">TPI Agency 5</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency5, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency5Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency5Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency5ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">TPI Agency 6</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency6, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intervention</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency6Intervention, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Result</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency6Result, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Date</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.TPIAgency6ResultOn, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Welder Stamp Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 1</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder1, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 2</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder2, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 3</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder3, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 4</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder4, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 5</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder5, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 6</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder6, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 7</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder7, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 8</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder8, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 9</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder9, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 10</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder10, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 11</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder11, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 12</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder12, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 13</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder13, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 14</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder14, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 15</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder15, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 16</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder16, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 17</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder17, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 18</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder18, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 19</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder19, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 20</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder20, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 21</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder21, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 22</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder22, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 23</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder23, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Welder 24</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Welder24, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="control-label">Welding Process</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.WeldingProcess, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Shop Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Shop</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Shop, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Shop Location</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ShopLocation, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Shop Remark</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ShopRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Remarks</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">QC Remarks</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QCRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Return / Reject Remarks</label>
                                            <div class="">
                                                <input type="text" id="returnremarks" value="@ViewBag.remark" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                </fieldset>
                                @if (!string.IsNullOrWhiteSpace(Convert.ToString(Model.ProtocolType)))
                                {
                                    <br />
                                    <fieldset>
                                        <legend>Protocol</legend>
                                        <div class="col-md-12">
                                            <br />
                                            <div class="col-md-12">
                                                <div class="">
                                                    @if (Model.ProtocolId.HasValue)
                                                    {
                                                        @ViewBag.ProtocolTypeDescription
                                                        <a href="@ViewBag.ProtocolURL" target="_blank" style="padding: 3px 5px; margin-left: 20px; background-color: #337ab7;color: white;">Click to Open</a>
                                                    }
                                                    else
                                                    {
                                                        <a onclick="@ViewBag.ProtocolURL" style="padding: 3px 5px;background-color: #337ab7;color: white;">Click to Open</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <br />
                                }
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>

                <div class="row" style="text-align:right;">
                    <div class="col-md-12" style="text-align:right;">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn clear" id="btnClear" value="Clear" />
                            <input type="button" class="btn return" id="btnReturn" value="Return" />
                            <input type="button" id="btnCancel" class="btn btnclose" value="Close" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
