﻿@using IEMQSImplementation

@model IEMQSImplementation.QMS050
@{

    string FileUpload1ControlID1 = "fuUpload1";
    string strFileType = @clsImplementationEnum.ImageType.SharePoint.GetStringValue();
    // Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentUpload = "fuAttachmentUpload";
}


@*@using (Html.BeginForm("FileUpload", "AttendInspection", new { Id = Model.RequestId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            @*<div class="col-md-6">
                Attechment
                <button id="fileToUpload" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-file-pdf-o"></i></button>
                <div class="col-md-12 display-none">
                    <div id="dv@(FileUpload1ControlID1)"></div>
                </div>
                <span class="field-validation-error" id="spanfile"></span>
            </div>*@

            @*<div class="col-md-6" id="divDocDownload">
                <label id="FileName"></label>
                <a id="aUplodedDoc" onclick="GetPDFDownload();"><i class="fa fa-download"></i></a>
            </div>*@

        </div>
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    @*<div class="col-md-12" style="margin-top: 20px">
                        <div class="">
                            <div id="dv@(AttachmentUpload)"></div>
                        </div>
                    </div>*@
                    <div class="col-md-12">
                        <button type="button" class="btn blue" id="btnAttachfuAttachmentUpload"><span class="fa fa-paperclip"></span><span style="margin-left:5px;" id="lblNewfuAttachmentUpload">Add New</span></button>
                        <input type="button" class="btn btn-primary" onclick="SavePDFDetails()" id="btnSubmit" value="Upload">
                    </div>
                    <div class="col-md-12">
                        <div class="row files" id="files1">
                            <input type="file" id="upMultiFiles" class="files1" name="files1" multiple style="display:none" />
                            <ul class="fileList"></ul>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>
    
</div>
@*}*@

<script>
    var TotalFiles = 0;
    $.fn.fileUploader = function (filesToUpload) {
        this.closest(".files").change(function (evt) {

            for (var i = 0; i < evt.target.files.length; i++) {
                filesToUpload.push(evt.target.files[i]);
            };
            var output = [];

            for (var i = 0, f; f = evt.target.files[i]; i++) {
                var removeLink = "<a class=\"removeFile\" style=\"font-weight:bold;color:red\" href=\"#\" data-fileid=\"" + i + "\">X</a>";

                output.push("<li><strong>", escape(f.name), "</strong> - ",
                    f.size, " bytes. &nbsp; &nbsp; ", removeLink, "</li> ");
            }

            $(this).children(".fileList")
                .append(output.join(""));
        });
    };

    var filesToUpload = [];

    $(document).on("click", ".removeFile", function (e) {
        e.preventDefault();
        var fileName = $(this).parent().children("strong").text();
        // loop through the files array and check if the name of that file matches FileName
        // and get the index of the match
        for (i = 0; i < filesToUpload.length; ++i) {
            if (filesToUpload[i].name == fileName) {
                //console.log("match at: " + i);
                // remove the one element at the index where we get a match
                filesToUpload.splice(i, 1);
                if (filesToUpload.length==1) {
                    $(".files1").val('');
                }
            }
        }
        //console.log(filesToUpload);
        // remove the <li> element of the removed file from the page DOM
        $(this).parent().remove();
    });


    $("#files1").fileUploader(filesToUpload);

    $('#btnAttachfuAttachmentUpload').on('click', function () {

        $(".files1").trigger('click');
    });
    $(".files1").change(function () {
        var fileExtension = ['pdf',  'PDF'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : " + fileExtension.join(', '));
            return false;
        }
    });
</script>

<script>
    var HeaderId = '@Model.RequestId',tblName="";

    $(document).ready(function () {
        $("#btnSubmit").attr("disabled", true);
        $("#divDocDownload").hide();
        LoadFileUpload1();
        GetTableName();
        CheckFileExists();
    });
    function CheckFileExists() {
        $.ajax({
            type: "GET",
            url: WebsiteURL + "/LTFPS/AttendInspection/CheckFileExists",
            data: { "HeaderId": HeaderId, "tableName": tblName },
            async: false,
            success: function (result) {
                if (result.counts > 0) {
                    $("#divDocDownload").show();
                    $("#FileName").text(result.FilesName);
                }
                else {
                    $("#FileName").text("");
                }
                if (result.data != true)
                        $("#btnSubmit").attr("disabled", true);
else
                        $("#btnSubmit").attr("disabled", false);

                //console.log(result);
                //for (var index = 0; index < result.data.length; index++) {
                //    if (result.data[index].UserRoleId == 37 && result.counts == 1) {
                //        $("#btnSubmit").attr("disabled", true);
                //    }
                //    else
                //        $("#btnSubmit").attr("disabled", false);

                //    if (result.data[index].UserRoleId == 15 && result.counts == 1) {
                //        $("#btnSubmit").attr("disabled", true);
                //    }
                //    else
                //            $("#btnSubmit").attr("disabled", false);

                //    if ((result.data[index].UserRoleId == 116 || result.data[index].UserRoleId == 68 || result.data[index].UserRoleId == 9)) {
                //        $("#btnSubmit").attr("disabled", false);
                //    }
                //}
            },
            error: function () {

            }
        });
    }
    function GetPDFDownload() {
        location.href = WebsiteURL + "/LTFPS/AttendInspection/DownloadPdfFile?HeaderId=" + HeaderId + "&tableName=" + tblName;
    }
    $("#fileToUpload").click(function () {
        btnAttach@(FileUpload1ControlID1).click();
    });
    function GetTableName() {
        $.ajax({
            type: "GET",
            url: WebsiteURL + "/LTFPS/AttendInspection/GetFileUploadTableName",
            data: { "Id": HeaderId },
            async: false,
            success: function (result) {
                tblName = result;
                //alert(tblName);
            },
            error: function () {

            }
        });
    }

    function SavePDFDetails() {
           // DeletePhoto();
        @*UpdateFolderPathAndSave@(FileUpload1ControlID1)(tblName + "/" + HeaderId + "/1");
        setTimeout(function () {
            $(".bootbox").modal('hide');
            CheckFileExists();
        }, 8000);*@
        UploadMultipleFiles();
    }
    function UploadMultipleFiles() {
        var formdata = new FormData();
        //var fileInput = $('#upMultiFiles');
        //alert(filesToUpload.length);
        for (i = 0; i < filesToUpload.length; i++) {
            var sfilename = filesToUpload[i].name;
           // let srandomid = Math.random().toString(36).substring(7);
            formdata.append(sfilename, filesToUpload[i]);
        }
        formdata.append('TableName', tblName);
        formdata.append('HeaderId', HeaderId);
        
        $.ajax({
            url: '@Url.Action("UploadMultipleFiles", "/AttendInspection")',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formdata,
            async: false,
            success: function (result) {
                if (result != "") {
                    //alert();
                    DisplayNotiMessage("success", result, "Success");
                    location.href = WebsiteURL + "/LTFPS/AttendInspection/Index"; 
                }
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    }
    function LoadFileUpload1() {
        var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID1)', '@FileUpload1ControlID1');
        objFileUpload1.IsRequired = false;
        objFileUpload1.ShowDeleteAction = false;
        if (parseInt(HeaderId)>0){
            objFileUpload1.FolderPath = tblName+"/" + HeaderId +"/1";
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded = false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc(1)";
        objFileUpload1.AllowFileExtension ="pdf";
        LoadFileUploadPartialView(objFileUpload1);
    }
    function DeletePhoto() {
        showLoading(true);
        var formData = new FormData();
        formData.append("PhotoNo", 1);
        formData.append("Headerid", HeaderId);
        formData.append("strTableName", tblName );
        $.ajax({
            url: WebsiteURL +  '/NamePlate/DeletePhoto',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                if (result == true) {
                    toastr.success("Sketch has been deleted.");
                    //LoadFileUpload1();
                    showLoading(false);

                }
                else {
                    toastr.error("Sketch has not been deleted.");
                }
                showLoading(false);
            },
            error: function (err) {
                showLoading(false);
            }
        });
    }
      function SuccessCallFunc(Type) {
          @*var vUrl = "/ImageHandler.ashx?type=@strFileType&fp=" + tblName + "/" + HeaderId + "/" + Type + "";
          $("#aUplodedDoc").removeAttr("href");
          $("#aUplodedDoc").attr("href", vUrl);*@
    }
</script>
@*<script type="text/jscript">
        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                //for IE
                if ($.browser.msie) {
                    //before making an object of ActiveXObject,
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }

        //get file path from client system
        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        $("#btnSubmit").live("click", function () {
            if ($('#fileToUpload').val() == "") {
                $("#spanfile").html("Please upload file");
                return false;
            }
            else {
                return checkfile();
            }
        });

        function checkfile() {
            var file = getNameFromPath($("#fileToUpload").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                // alert(extension);
                switch (extension) {
                    case 'pdf':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").text("You can upload only pdf extension file");
                return false;
            }
            else {
                var size = GetFileSize('fileToUpload');
                if (size > 3) {
                    $("#spanfile").text("You can upload file up to 3 MB");
                    return false;
                }
                else {
                    $("#spanfile").text("");
                }
            }
        }

        $(function () {
            $("#fileToUpload").change(function () {
                checkfile();
            });
        });
    </script>*@
