﻿@using IEMQSImplementation

<style>
    .scenter {
        text-align: center;
    }

    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Attend - Seam/Part/Assembly(Customer)
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/LTFPS/AttendInspection/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblLTFPSAttendInspectionHeader" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="all">Quality Project</th>
                    <th class="all">BU</th>
                    <th class="all">LTFPS No.</th>
                    <th class="all">Operation No.</th>
                    <th class="all">Seam No.</th>
                    <th class="all">Part No.</th>
                    <th class="all">Stages</th>
                    <th class="all">Itrn.</th>
                    <th class="all">Request No</th>
                    <th class="all">Seq.No</th>
                    <th class="all">Test Result</th>
                    <th class="all">Shop</th>
                    <th class="all">Shop Location</th>
                    <th class="all">Shop Remark</th>
                    <th class="all">Action</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        var table = $('#tblLTFPSAttendInspectionHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
               [5, 10, 25, 50, 100],
               [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/LTFPS/AttendInspection/LoadAttendTPIInspectionData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [

               {
                   "name": "QualityProject",
                   "bSortable": true,
                   "sClass": "center",
               },
                {
                    "name": "BU",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "LTFPSNo",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "OperationNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr":"numeric"
                },
                {
                    "name": "SeamNo",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "PartNo",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "StageCode",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "IterationNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "RequestNo",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "RequestNoSequence",
                    "bSortable": true,
                    "sClass": "scenter",
                    "attr": "numeric"
                },
                {
                    "name": "TestResult",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "Shop",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "ShopLocation",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "ShopRemark",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },

            ]
        });
        table.dtSearchFilter();
    });

</script>



