﻿@using IEMQSImplementation
@model PBP002_Log

<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#tblPBPHeaderHistory');
        var oTable = table.dataTable({
            "language": oDTDefLanguage,
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            //"dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/PBP/MaintainPBP/GetPBPHistoryHeaderData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "HeaderId", "value": "@Model.Id" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });
            },
            "columns": [
                    {
                        "name": "LogId",
                        "sClass": "hide",
                    },
                 {
                     "name": "RevNo",
                     "sClass": "center p100",
                 },
                {
                    "name": "Description",
                    "sClass": "center",
                },
                {
                    "name": "ProcessLicensorDesc",
                    "sClass": "center",
                },
                {
                    "name": "Status",
                    "sClass": "center",
                }
            ]
        });

    });

</script>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Procedure No.: @Model.Procedure
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" id="tblPBPHeaderHistory" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Log Id</th>
                    <th>Rev No.</th>
                    <th>Procedure Description</th>
                    <th>Applicable process licensor</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>