@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .sCenter {
        text-align: center;
    }
    .p100{
        width:80px !important;
    }
</style> 

@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />

<script>
    $(document).ready(function () {

        GetIndexGridDataPartial('Pending');
        $('a[name="tabStatus"]').click(function () {
            GetIndexGridDataPartial($(this).attr('spara'));
        });
    });

    function GetIndexGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $.ajax({
            type: "GET",
            url: WebsiteURL + "/PBP/MaintainPBP/GetIndexGridDataPartial",
            data: { status: status, title: '@ViewBag.Title', ProductCode: '@ViewBag.ProductCode', indextype: '@ViewBag.indextype' },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                $("#portlet_comments_1").html(result);
            },
            error: function () {
            }
        });
    }

</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                @Html.Raw((String)ViewBag.Title)
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                        </div>
                    </div>
                </div>
                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1"></div>
                        
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
