﻿@model IEMQSImplementation.QMS015
@{
    ViewBag.Title = "View QualityID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
    .highlight {
        background-color: #aaed7a !important;
    }
    .highlight:hover {
        background-color: #aaed7a !important;
    }
</style>

<script>
    $(document).ready(function () {
        LoadGetQualityIDLines('@Model.HeaderId');
        GetApproveQualityIDGridDataPartial('Pending', $("#ddlQualityProject").val(), $("#Location").val().split('-')[0], $("#BU").val().split('-')[0]);

        $('a[name="tabStatus"]').click(function () {
            GetApproveQualityIDGridDataPartial($(this).attr('spara'), $("#ddlQualityProject").val(), $("#Location").val().split('-')[0], $("#BU").val().split('-')[0]);
        });
        $("#btnApprove").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/IPI/ApproveQualityId/ApproveQualityId",
                datatype: 'json',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { strHeaderIds: $("#HeaderId").val() },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/IPI/ApproveQualityId/Index"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                    //$('#tblApproveQualitId').DataTable().ajax.reload();
                },
                error: function () {
                }
            });
        })


        $("#btnPrevQproj").click(function () {
            GetNextPrevQualityProject("PrevProject");
        });
        $("#btnNextQproj").click(function () {
            GetNextPrevQualityProject("NextProject");
        });

    });
    function LoadGetQualityIDLines(headerId) {
        var table = $('#tblQualitIdLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ApproveQualityId/LoadQualityIdLinesDataTable?refHeaderId=" + headerId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            "aoColumns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": false,
                },
            ]
        });
    }

    function GetApproveQualityIDGridDataPartial(status, qualityProject, location, bu) {

        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/ApproveQualityId/GetApproveQualityIDGridDataPartial",
            data: { status: status, qualityProject: qualityProject, Location: location, BU: bu },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else {
                    $("#portlet_comments_2").html(result);
                }
            },
            error: function () {
            }
        });
    }


    function QualityProjectChange(qualityProject, location, qid) {
        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/GetQualityProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject, location: location, qid: qid },
            success: function (data) {
               
                    $("#Project").val(data.Project);
                    $("#BU").val(data.QCPBU);
                    //if (data.IdenticalProj != null && data.IdenticalProj.length > 0) {
                    var identical = data.IdenticalProj;
                    $('#IdenticalProject').val(identical);
                    //}
                
            }
        });
    }


    function GetNextPrevQualityProject(option) {
        var curProject = $("#ddlQualityProject").val();
        var loc = $("#Location").val();

        $.ajax({
            url: WebsiteURL + "/IPI/QualityId/GetNextPrevQualityProject",
            dataType: "json",
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { qualityProject: curProject, option: option },
            success: function (data) {
                debugger;
                if (data.Key && data.Project != "" && data.Project != null) {
                    //$("#txtQualityProject").val(data.Project);
                    $("#ddlQualityProject").val(data.Project);
                    qualityProject = data.Project;
                    QualityProjectChange($("#ddlQualityProject").val(), $("#Location").val().split('-')[0], $("#QualityId").val())
                    GetApproveQualityIDGridDataPartial('Pending', $("#ddlQualityProject").val(), $("#Location").val().split('-')[0], $("#BU").val().split('-')[0]);

                    //showLoading(true);
                    //window.location.href = WebsiteURL + "/IPI/TestPlan/AddHeader?HeaderID=" + data.HeaderId;
                }
                else {
                    DisplayNotiMessage("error", "Data not available", "Error");
                }
            }
        });
    }

</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Approve Quality ID</span>
                    </div>
                    @*<div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                            @Html.HiddenFor(m => m.Status)
                    </div>*@
                </div>

                <div id="dvQualityIDHeader" class="row">
                    <form id="frmQualityIDHeader">
                        <div class="form-group">
                            <fieldset style="width:100%">
                                <legend>Quality Project Details</legend>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        @Html.HiddenFor(m => m.HeaderId)
                                        <label class="control-label">Quality Project</label>
                                        <div style="display:flex;">
                                            <button type="button" class="btn blue" id="btnPrevQproj"><i class="fa fa-chevron-left"></i></button>
                                            @Html.TextBoxFor(m => m.QualityProject, new { @id = "ddlQualityProject", @class = "form-control col-md-3", @readonly = "readonly" })
                                            <button type="button" class="btn blue" id="btnNextQproj"><i class="fa fa-chevron-right"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Project</label>
                                        @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">BU</label>
                                        @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Location</label>
                                        @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Identical Projects</label>
                                        @Html.TextBox("IdenticalProject", (string)ViewBag.IdenticalProject, new { @class = "form-control col-md-6", @readonly = "readonly" })

                                    </div>
                                    <div class="col-md-9"></div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <hr />

                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                </li>
                                <li>
                                    <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_comments_1">

                                </div>
                                <div class="tab-pane" id="portlet_comments_2">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="dvQualityIdLines" class="row">
                    
                </div>
                @*<div class="col-md-12" style="text-align:right">
                    <button id="btnApprove" type="button" class="btn blue">Approve</button>
                    <a href='@Url.Action("Index","ApproveQualityId")' class="btn red"> Cancel</a>
                </div>*@
            </div>
        </div>
    </div>
</div>

