﻿@model IEMQSImplementation.MIP050
@using IEMQSImplementation
@{
    ViewBag.Title = "Attend Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AttachmentView = "fuAttachmentView";
    string AttachmentUpload = "fuAttachmentUpload";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight:hover {
            background-color: #aaed7a !important;
        }
</style>


<script type="text/javascript">
    var IsRequiredIDM = '@ViewBag.IsRequiredIDM.ToString().ToLower()' == "true" ? true : false;
    var isSelected = false;
    var qualityProject;
    var qmspLocation;
    var qmspBU;
    var HeaderId = $("#HeaderId").val();

    $(document).ready(function () {
        HeaderId = $("#HeaderId").val();
        if (parseInt(HeaderId) > 0) {
            $("#dvMIPHeaderData").show();
            qualityProject = '@Model.QualityProject';
            qmspLocation = '@ViewBag.LocationCode';
            qmspBU = '@ViewBag.BUCode';
            BindMIPHeaderList("Pending", qualityProject, qmspLocation, qmspBU);
            QualityProjectChange(qualityProject, "edit");
        }
        $("#IDM").val('@ViewBag.IDM');

        if ('@Model.TestResult' != "" && '@Model.TestResult' != null) {
            $("#IDM").val('@ViewBag.IDM').prop("disabled", true);
        }
        $('a[name="tabStatus"]').click(function () {
            BindMIPHeaderList($(this).attr('spara'), qualityProject, qmspLocation, qmspBU);
        });

        $('#btnClose').click(function () {
            window.location.href = WebsiteURL + '/MIP/AttendRequest/AttendOperationDetails/' + parseInt('@Model.RequestId');
        });
        $('#btnClear').click(function () {

            if (IsRequiredIDM && $("#IDM").val() == "")
            {
                DisplayNotiMessage("info", "IDM is required", "Info");
            }
            else{
                RequestClear('@Model.RequestId');
            }
        });

        $('#btnReject').click(function () {
            RequestReturnReject('@Model.RequestId', '@clsImplementationEnum.MIPInspectionStatus.Rejected.GetStringValue()');
        });
        $('#btnReturn').click(function () {
            RequestReturnReject('@Model.RequestId', '@clsImplementationEnum.MIPInspectionStatus.Returned.GetStringValue()');
        });

        var Displaybutton = false;
        var objAttachmentView = new FileUploadEnt('dv@(AttachmentView)', '@AttachmentView');
        objAttachmentView.ShowDeleteAction = Displaybutton;
        objAttachmentView.ShowAttachmentBtn = Displaybutton;
        objAttachmentView.ShowUploadBtn = false;
        objAttachmentView.LoadCallbackFunction = function () {
            $('#docMessage1', '#@(AttachmentView)').hide();
        };
        if (parseInt(@(Model.RequestId)) > 0) {
            objAttachmentView.FolderPath = "MIP050/@(Model.RequestNo)";
            objAttachmentView.AllowFileExtension = 'pdf';
        } else {
        }
        objAttachmentView.IsRequired = false;
        LoadFileUploadPartialView(objAttachmentView);
    });

    function QualityProjectChange(qualityProject, action) {
        $.ajax({
            url: WebsiteURL + "/MIP/AttendRequest/GetQualityProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject },
            success: function (data) {
                if (action.toLowerCase() != "edit") {
                    $("#Project").val(data.projectDescription);
                    $("#BU").val(data.BUDescription);
                    $("#Location").val(data.LocationDescription);

                    $("#hdnProject").val(data.ProjectCode);
                    $("#hdnBU").val(data.BUCode);
                    $("#hdnLocation").val(data.LocationCode);

                    qualityProject = qualityProject;
                    qmspBU = data.BUCode;
                    qmspLocation = data.LocationCode;

                    $("#dvMIPHeaderData").show();
                    BindMIPHeaderList('Pending', qualityProject, qmspLocation, qmspBU);
                }
            }
        });
    }

    function BindMIPHeaderList(status, qualityProject, location, bu) {
        $("#close").hide();
        $("#OfferOperation_Pending").empty();
        $("#OfferOperation_All").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MIP/AttendRequest/GetMIPHeaderDataPartial",
            data: { Status: status, QualityProject: qualityProject, Location: location, BU: bu },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {

                if (status == "Pending") {
                    $("#OfferOperation_Pending").html(result);
                }
                else {
                    $("#OfferOperation_All").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function RequestClear(requestId) {

        strAttachmentHTML = '<center><h2>Do you want to Clear?</h2></center>\
                            <fieldset>\
                                <legend>Attachments</legend>\
                                <div class="form-group">\
                                    <div class="col-md-12">\
                                        <div id="dv@(AttachmentUpload)"></div>\
                                    </div>\
                                </div>\
                            </fieldset>';
        if ('@Model.TestResult' == '' || '@Model.TestResult' == null) {
            strAttachmentHTML += '<scr' + 'ipt>\
                             $(document).ready(function(){ \
                            var Displaybutton = true;\
                           var objAttachmentUpload = new FileUploadEnt("dv@(AttachmentUpload)", "@AttachmentUpload");\
                           objAttachmentUpload.ShowDeleteAction =Displaybutton;\
                           objAttachmentUpload.ShowAttachmentBtn = Displaybutton;\
                           objAttachmentUpload.SuccessCallbackFunction = "fnUploadSuccessCallback()";\
                           objAttachmentUpload.ShowUploadBtn=false;\
                           if (parseInt(@(Model.RequestId)) > 0) {\
                               objAttachmentUpload.FolderPath = "MIP050/@(Model.RequestNo)";\
                               objAttachmentUpload.AllowFileExtension = "pdf";\
                           }\
                           LoadFileUploadPartialView(objAttachmentUpload);\
                            })\
                            </scr' + 'ipt>';
        }
        bootbox.dialog({
            title: 'Clear',
            message: strAttachmentHTML,
            size: 'large',
            buttons: {
                'confirm': {
                    label: 'Clear',
                    className: 'btn green',
                    callback: function () {
                        if (!IsFileSelected('@(AttachmentUpload)')) {
                            bootbox.dialog({
                                title: 'Warning',
                                message: "Do you want to upload document?",
                                buttons: {
                                    'confirm': {
                                        label: 'Yes',
                                        className: 'btn green',
                                        callback: function () {
                                            $("#btnAttachfuAttachmentUpload").click();
                                        }
                                    },
                                    'cancel': {
                                        label: 'No',
                                        className: 'btn red',
                                        callback: function () {
                                            fnUploadSuccessCallback();
                                        }
                                    }
                                }
                            });
                        } else {
                            IsCallSuccessCallbackFunc@(AttachmentUpload) = true;
                            UploadFileAttachment('@AttachmentUpload');
                        }
                        return false;
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }
    function IsFileSelected(AttachId) {
        if ($("#tblUpload" + AttachId).length > 0) {
            var $tblrowlength = $('#tblUpload' + AttachId + '>tbody>tr').not('.removefile');
            return !($("#filelistholder" + AttachId).find(".filedetail").length === 0 && $tblrowlength.length == 0);
        }
        else
            return true;
    }
    function fnUploadSuccessCallback() {
        $.ajax({
            url: WebsiteURL + '/MIP/AttendRequest/RequestClear',
            type: "Post",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            dataType: "JSON",
            data: {
                //OfferLocation: $("#OfferLocation").val(),
                //remark: $("#ShopRemark").val(),
                //ShopUsedRefDocRevNo: $("#txtShopUsedRefDocRevNo").val(),
                RequestId: '@Model.RequestId',
                //isReoffer: false,
                QCRemark: $("#QCRemark").val(),
                idm: $("#IDM").val()
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#spnStatus").text(data.Status);
                    $("#btnOffer").hide();
                    bootbox.hideAll();
                    window.setTimeout('window.location.href = "' + WebsiteURL + '/MIP/AttendRequest/Index"', 2000)
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            },
            error: function (ex) {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                return false;
            }
        })
    }

    function RequestReturnReject(requestId, status) {
        var strTitle = "";
        if (status == '@clsImplementationEnum.MIPInspectionStatus.Rejected.GetStringValue()')
        { strTitle = "Reject"; }
        else
        { strTitle = "Return"; }
        bootbox.dialog({
            title: strTitle,
            message: "Do you want to " + strTitle + "?",
            size: 'small',
            buttons: {
                'confirm': {
                    label: strTitle,
                    className: 'btn green',
                    callback: function () {
                        //if ($("#frmOffer").valid()) {
                        $.ajax({
                            url: WebsiteURL + '/MIP/AttendRequest/RequestReturn',
                            type: "Post",
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            dataType: "JSON",
                            data: {
                                //OfferLocation: $("#OfferLocation").val(),
                                //remark: $("#ShopRemark").val(),
                                //ShopUsedRefDocRevNo: $("#txtShopUsedRefDocRevNo").val(),
                                RequestId: requestId, status: status, QCRemark: $("#QCRemark").val(), idm: $("#IDM").val()
                                //isReoffer: false
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    $("#spnStatus").text(data.Status);
                                    $("#btnOffer").hide();
                                    window.setTimeout('window.location.href = "' + WebsiteURL + '/MIP/AttendRequest/Index"', 2000)
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                    return false;
                                }
                            },
                            error: function (ex) {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                                return false;
                            }
                        })
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }


</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.TestResult))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.TestResult)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvMIPHeader" style="padding:1%">
                    <form id="frmMIPHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.RequestId)
                                            <label class="control-label">Quality Project</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("hdnProject", (string)ViewBag.ProjectCode)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("hdnBU", (string)ViewBag.BUCode)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.Hidden("hdnLocation", (string)ViewBag.LocationCode)
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>MIP Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Doc No</label>
                                            <div class="">
                                                @Html.TextBox("txtDocNo", (string)ViewBag.DocNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @Html.HiddenFor(x => x.DocNo)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">MIP Type</label>
                                            @Html.TextBox("txtMIPType", (string)ViewBag.MIPType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(x => x.MIPType)
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RevNo</label>
                                            @Html.TextBox("RevNo", "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Component No</label>
                                            @Html.TextBoxFor(m => m.ComponentNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Drawing No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Raw Material Grade</label>
                                            @Html.TextBoxFor(m => m.RawMaterialGrade, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Plate No</label>
                                            @Html.TextBoxFor(m => m.PlateNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Operation Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Operation No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.OperationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Activity Description</label>
                                            @Html.TextBoxFor(m => m.ActivityDescription, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Reference Document</label>
                                            @Html.TextBoxFor(m => m.RefDocument, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ref. Doc. RevNo</label>
                                            @Html.TextBoxFor(m => m.RefDocRevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">PIA</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.PIA, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ins. Agency L&T</label>
                                            @Html.TextBoxFor(m => m.IAgencyLNT, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ins. Agency VVPT</label>
                                            @Html.TextBoxFor(m => m.IAgencyVVPT, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ins. Agency SRO</label>
                                            @Html.TextBoxFor(m => m.IAgencySRO, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Records Documents</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.RecordsDocuments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Observations</label>
                                            @Html.TextBoxFor(m => m.Observations, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Remark</label>
                                            @if (Model.TestResult == "" || Model.TestResult == null)
                                            {
                                                @Html.TextBoxFor(m => m.QCRemark, new { @class = "form-control col-md-3", @maxlength = "100" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.QCRemark, new { @class = "form-control col-md-3", @readonly = "readonly", @title = Model.QCRemark })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">IDM</label>
                                            <div class="">
                                                <input type="text" id="IDM" class="form-control" maxlength="15" />
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <fieldset>
                                    <legend>Attachments</legend>
                                    <div class="form-group">
                                        <div class="col-md-12" style="margin-top: 20px">
                                            <div class="">
                                                <div id="dv@(AttachmentView)"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="text-align:right;">
                                            <hr />
                                            @if (Model.TestResult == "" || Model.TestResult == null)
                                            {
                                                <input type="button" class="btn clear" name="GenerateAction" id="btnClear" value="Clear" />
                                                <input type="button" class="btn return" name="GenerateAction" id="btnReturn" value="Return" />
                                            }
                                            <a class="btn btnclose" id="btnClose">Close</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


