﻿
@model IEMQS.DESCore.DINGroupModel

@using (Ajax.BeginForm("AddGroup", "DepartmentGroup", new AjaxOptions { HttpMethod = "POST", OnSuccess = "DINSuccess", OnBegin = "DINBegin" }))
{
    @Html.HiddenFor(x => x.DINGroupId)

<div class="modal-body">

    @if (!(Model.DINGroupId > 0))
    {
        <h5 class="modal-title mb-3" id="exampleModalLabel">Copy Group</h5>
        <div class="row">
            <div class="col-12">
                <div class="m-accordion m-accordion--default m-accordion--toggle-arrow mr-3" id="m_accordion_5" role="tablist">

                    <!--begin::Item-->
                    <div class="m-accordion__item">
                        <div class="m-accordion__item-head collapsed" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body" aria-expanded="false">

                            <span class="m-accordion__item-title">Copy Group</span>
                            <span class="m-accordion__item-mode"></span>
                        </div>
                        <div class="m-accordion__item-body collapse " id="m_accordion_5_item_1_body" class=" " role="tabpanel" aria-labelledby="m_accordion_5_item_1_head" data-parent="#m_accordion_5">
                            <div class="m-accordion__item-content">
                                <div class="theme-form">
                                    <div class="row m-0">
                                      


                                        <div class="col-md-6">
                                            <div class="form-group m-form__group row">
                                                <label class="col-6 col-form-label bg-secondary">Select Group</label>
                                                <div class="col-6 pl-0">
                                                    @Html.DropDownListFor(x => x.CopyGroupName, ViewBag.GroupList as SelectList, "Select", new { @class = "form-control m-input", @Id = "ddlGroupList" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row m-0 mt-3 ">
                                        <div class="col-lg-12 text-right">
                                            <button type="button" id="btnCopy" onclick="fnBtnCopy()" class="btn btn-success">Copy</button>
                                            @*<button type="submit" id="btnCopy" class="btn btn-success">Copy</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end::Item-->
                </div>
            </div>
        </div>
        <hr class="mb-3" />
    }

    <h5 class="modal-title mb-3" id="exampleModalLabel">Create Group</h5>
    <div class="form-group row">
        <div class="col-sm-2"><label for="">Group Name <span style="color:red;">*</span></label></div>
        <div class="col-sm-5">
            @*<input type="text" class="form-control">*@
            @Html.TextBoxFor(x => x.GroupName, new { @class = "form-control blockSpecialChar m-input", @placeholder = "Group Name", maxlength = 50 })
            @Html.ValidationMessageFor(x => x.GroupName, "", new { @class = "text-danger" })
        </div>
    </div>

    <table class="table  table-bordered " id="tblDeptPersonList">
        <thead>
            <tr>
                <th>Department <span style="color:red;">*</span></th>
                <th>Person <span style="color:red;">*</span></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbl_DeptPerson">
            @Html.Partial("_partialDept_PersonView", Model)
        </tbody>
    </table>

</div>

    <div class="modal-footer">
        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

}

@Scripts.Render("~/bundles/jqueryval")

