﻿
@using IEMQSImplementation
<script>
    var RoleId = '@ViewBag.RoleId';

    var url = WebsiteURL + "/SSS/InputForMachineShops/loadMachineShopDataTable?status=" + '@ViewBag.status' + "&RoleId=" + RoleId;
    var table = $('#tblHeader');
    var oTable = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 15, 20],
            [5, 10, 15, 20]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": url,
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': fnCallback
            });
        },
        "columns": [

             {
                 "sClass": "center",
                 "name": "Project",
                 "ColName": "s2.Project"
             },
              {
                  "sClass": "center",
                  "name": "ToPerson",
                  "ColName": "s1.ToPerson"
              },
              {
                  "sClass": "center",
                  "name": "Customer",
                  "ColName": "s1.Customer"
              },
              {
                  "sClass": "center",
                  "name": "ContractNo",
                  "ColName": "s1.ContractNo"
              },
              {
                  "sClass": "center",
                  "name": "DrillMockUpBlockId",
                  "ColName": "s1.DrillMockUpBlockId"
              },
              {
                  "sClass": "center",
                  "name": "Status",
                  "ColName": "s1.Status"
              },
            {
                "sClass": "",
                "bSortable": false,
                "render": function (data, type, row, meta) {
                    var SSSId = row[7];
                    var buttons = "";
                    var functionCall = "ViewSSS(" + SSSId + ")";
                    buttons = "<center>" +
                        "<a href='javascript:void(0);' Title='View DSS' onclick=" + functionCall + "><i style='margin-left:5px;' class='fa fa-eye'></i></a>" +
                        "</center>";
                    return buttons;
                }
            },
            {
                "sClass": "hide",
            },
        ]
    });
    table.dtSearchFilter();

    function ViewSSS(SSSId) {
        window.location.href = WebsiteURL + "/SSS/InputForMachineShops/MachineShopForm?SSSId=" + SSSId + "&RoleId=" + RoleId;
    }

</script>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    SSS Details
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">Project</th>
                            <th class="all">ToPerson</th>
                            <th class="all">Customer</th>
                            <th class="all">ContractNo</th>
                            <th class="all">DrillMockUpBlockId</th>
                            <th class="all">Status</th>
                            <th class="all" style="white-space:nowrap">Action</th>
                            <th style="display:none;">SSSId</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
