﻿@model IEMQSImplementation.NDE014
@using IEMQSImplementation

@{
    ViewBag.Title = "Add PAUT Technique";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadFinalHeaderID = "pautheaderfinaldoc";
}

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .modal-sm {
        width: 50% !important;
        margin: 30px auto;
    }

    .modal-lg {
        width: 80% !important;
        margin: 30px auto;
    }
</style>

<script>
    var isSendForApproval=false;
    $(document).ready(function () {
        LoadFileUploadFinalHeader();
        //jQuery.validator.addMethod("dollarsscents", function (value, element) {
        //    return this.optional(element) || /^\d{0,6}(\.\d{0,3})?$/i.test(value);
        //}, "You must include three decimal places");
        $('.numDeci').autoNumeric('init', { vMin: '0.0', vMax: '9999.00', aSep: '' });
        var PAUTTHeaderId = $("#HeaderId").val();
        var status = $("#Status").val();

        $("#frmPAUTTechniqueHeader").validate({
            rules: {
                txtQualityProject: {
                    required: true
                },
                UTProcedureNo: {
                    required: true
                },
                TechniqueSheetNo: {
                    required: true
                },
                txtCouplantUsed: {
                    required: true
                },
                txtReferenceReflectorSize: {
                    required: true
                },
                ReferenceReflectorDistance: {
                    required: true

                },
                CalibrationBlockID: {
                    required: true
                },
                CalibrationBlockIDThickness: {
                    required: true,
                    number: true,
                    //dollarsscents: true
                },
                SimulationBlockID: {
                    required: true
                },
                SimulationBlockIDThickness: {
                    required: true,
                    number: true,
                    //dollarsscents: true
                },
                txtEncoderType: {
                    required: true
                },
                txtScannerType: {
                    required: true
                },
                ScannerMake: {
                    required: true
                },
                txtCableType: {
                    required: true
                },
                txtCableLength: {
                    required: true
                },
                PlannerRemarks: {
                    required: true
                },
                txtScanningTechnique: {
                    required: true
                },
            },
            messages: {
                txtQualityProject: {
                    required: 'Quality Project is required'
                },
                TechniqueSheetNo: { required: "UT Technique No is required" },
                UTProcedureNo: {
                    required: "PAUT Procedure with Rev. No. Is Required"
                },
                txtCouplantUsed: {
                    required: "Couplant Used Is Required"
                },
                txtReferenceReflectorSize: {
                    required: "Ref. Reflector Size Is Required"
                },
                ReferenceReflectorDistance: {
                    required: "Ref. Reflector Distance Is Required"
                },
                CalibrationBlockID: {
                    required: "Calibrationblock Id Is Required"
                },
                CalibrationBlockIDThickness: {
                    required: "CalibratinoBlock Id With Thickness Is Required"
                },
                SimulationBlockID: {
                    required: "SimulationBlck Id Is Required"
                },
                SimulationBlockIDThickness: {
                    required: "SimulationBlck Id With Thickness Is Required Is Required"
                },
                txtEncoderType: {
                    required: "Encoder Type Is Required"
                },
                txtScannerType: {
                    required: "Scanner Type Is Required"
                },
                ScannerMake: {
                    required: "Scanner MakeIs Required"
                },
                txtCableType: {
                    required: "Cable Type Is Required"
                },
                txtCableLength: {
                    required: "Cable Length Is Required"
                },
                PlannerRemarks: {
                    required: "Planner Remark Is Required"
                } ,
                txtScanningTechnique: {
                    required: "Scanning Technique Is Required"
                },
            }
        });

        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetQualityProjectResultAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        location: $("#Location").val().split('-')[0]
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.qualityCode, value: item.qualityCode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#txtQualityProject").val(strProjectDesc);
                    $("#ddlQMSProject").val(projectcode);

                    projectChange(projectcode, $("#Location").val().split('-')[0]);
                    MethodChange($("#Location").val().split('-')[0], projectcode);
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtQualityProject").blur(function () {
            if ($("#txtQualityProject").val().trim().length > 0) {
                isSelected = true;
            }
            else
                isSelected = false;

            if (!isSelected) {
                $("#BU").val("");
                $("#Project").val('');
                $("#UTTechNo").val('');
            }
        });

        var lstEncoderType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.EncoderType))));
        var lstScannerType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ScannerType))));

        $("#txtEncoderType").autocomplete({
            source: function (request, response) {
                var array = $.map(lstEncoderType, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $("#ddlEncoderType").val(ui.item.value)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });

        $("#txtScannerType").autocomplete({
            source: function (request, response) {
                var array = $.map(lstScannerType, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $("#ddlScannerType").val(ui.item.value)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
        if(@Model.HeaderId == 0){
            var _yes = '@clsImplementationEnum.yesno.Yes.GetStringValue()';
            $("#txtEncoderType").val(_yes);
            $("#ddlEncoderType").val(_yes);

            var _SemiAutomated = '@clsImplementationEnum.NDEScannerType.SemiAutomatedScanner.GetStringValue()';
            $("#txtScannerType").val(_SemiAutomated);
            $("#ddlScannerType").val(_SemiAutomated);
        }

        if (PAUTTHeaderId != null && PAUTTHeaderId != undefined && PAUTTHeaderId != "" && PAUTTHeaderId != 0) {
            projectChange('@Model.QualityProject', '@Model.Location');
            FillControlsOnEdit();
            $("#UTTechNo").val('@Model.UTTechNo');
            $("#txtMfgCode").val('@ViewBag.MfgCode');
            LoadCatgoryPartial(PAUTTHeaderId);

            if ($("#Status").val() == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue()') {
                $("#btnPAUTTechniqueSave").hide();//prop("disabled", true);
                $("#btnSendForApproval").hide();//.prop("disabled", "disabled");
            }

            if ($("#Status").val() == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()' || '@Model.RevNo' > 0) {
                $("#btnHistory").show();
            }
        };

        if ($("#Status").val() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()') {
            $("#btnSendForApproval").hide();//prop("disabled", "disabled");
            //$("#TechniqueSheetNo").prop("readonly", true);
        }

        $("#btnPAUTTechniqueSave").click(function () {
            if ($("#frmPAUTTechniqueHeader").valid()) {
                frmPAUTHeaderValues = $("#frmPAUTTechniqueHeader").serializeArray();
                if ($("#Status").val() != undefined && $("#Status").val() != null && $("#Status").val() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()') {
                    bootbox.confirm("Do you want to revise technique?", function (res) {
                        if (res) {
                            SavePAUTHeader(frmPAUTHeaderValues);
                        }
                        else {
                            window.location = '@Url.Action("Index", "MaintainPAUTTechnique")';
                        }
                    });
                }
                else {
                    SavePAUTHeader(frmPAUTHeaderValues);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnSendForApproval").click(function () {
            bootbox.dialog({
                title: "Submit",
                message: "Do you want to submit?",
                size: "small",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            var status = $("#Status").val();
                            var hasAttachments = true;
                            if (status.toLowerCase() != '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()'.toLocaleLowerCase()) {
                                hasAttachments = getHasAttachmentsForSubmit('@(FileUploadFinalHeaderID)');
                            }
                            if ($("#frmPAUTTechniqueHeader").valid() && hasAttachments) {
                                frmPAUTHeaderValues = $("#frmPAUTTechniqueHeader").serializeArray();
                                SavePAUTHeader(frmPAUTHeaderValues,true)
                            }
                            else {
                                HighlightInValidControls();
                            }
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }
            })

        });

        $("#btnCopy").click(function () {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainPAUTTechnique/CopyPAUTTechniquePartial",
                type: "POST",
                data: {},
                dataType: "html",
                //async:false,
                success: function (data) {
                    bootbox.dialog({
                        title: "Copy To",
                        message: data,
                        size: "small",
                        buttons: {
                            Copy: {
                                Label: "Copy",
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmCopyNDETechnique").valid()) {
                                        CopyToDestination(PAUTTHeaderId, $("#ddlQMSDestProject").val())
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn btnclose',
                                callback: function () { }
                            }

                        }

                    })
                }
            });
        });

        $("#btnHistory").click(function () {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainPAUTTechnique/GetHistoryPAUTTechniquePartial",
                type: "POST",
                data: { headerId: parseInt($("#HeaderId").val()) },
                dataType: "html",
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    bootbox.dialog({
                        title: "History",
                        message: data,
                        size: "large",
                        buttons: {
                            Cancel: {
                                label: 'Close',
                                className: 'btn btnclose',
                                callback: function () { }
                            }
                        }
                    });
                },
                error: function (er)
                { }
            });
        });


        $('input[readonly="readonly"]').each(function () {
            $(this).attr('tabindex', '-1');
        });
    });

    function LoadFileUploadFinalHeader() {
        var Status = $("#Status").val();

        var DisplayBtn = true;
        if (Status.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()' ||
            Status.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()') {
            var DisplayBtn = false;
        }
        var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = "NDE014/" + "@Model.HeaderId" + "/R" + "@Model.RevNo";
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(FileUploadFinalHeaderID)', '@FileUploadFinalHeaderID');
        objFileUploadFinalHeader.ShowDeleteAction = DisplayBtn;
        objFileUploadFinalHeader.ShowAttachmentBtn = DisplayBtn;
        objFileUploadFinalHeader.FolderPath =UploadPath;
        objFileUploadFinalHeader.LoadCallbackFunction = HideUpload;
        objFileUploadFinalHeader.IsRequired = true;
        objFileUploadFinalHeader.SuccessCallbackFunction="SubmitTechnique()"
        LoadFileUploadPartialView(objFileUploadFinalHeader);
    }
    function HideUpload() {
        $('#btnUploadAll@(FileUploadFinalHeaderID)').hide()
    }
    function CopyToDestination(headerId, destProject) {
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainPAUTTechnique/CopyToDestination",
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerId, destQMSProject: destProject },
            success: function (res) {
                if (res.Key) {
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    //window.setTimeout('window.location.href = "/NDE/MaintainPAUTTechnique/AddPAUTHeader?headerId=' + res.HeaderId + '"', 2000)
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            }
        });
    }

    function LoadCatgoryPartial(headerId) {
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainPAUTTechnique/PAUTTechniqueCategory",
            type: "POST",
            datatype: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerId },
            success: function (data) {
                $("#dvPAUTTechniqueCategory").html(data);
            },
            error: function () {
                alert("error");
            }
        });

    };

    function EditCatgoryPartial(lineId, headerId) {
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainPAUTTechnique/EditCategory",
            type: "POST",
            datatype: "json",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { categoryId: lineId, headerId: headerId },
            success: function (data) {
                if (data != null && data != undefined) {
                    $("#HeaderId").val(data.HeaderId);
                    $("#LineId").val(data.LineId);
                    $("#txtWedge").val(data.Wedge);
                    $("#ddlWedge").val(data.WedgeCode);
                    $("#txtNearRefractedArea").val(data.NearRefractedArea);
                    $("#ddlNearRefractedArea").val(data.NearRefractedAreaCode);
                    $("#txtProbe").val(data.Probe);
                    $("#ddlProbe").val(data.ProbeId);
                    $("#ZoneNo").val(data.ZoneNo);
                    $("#Skip").val(data.Skip);
                    $("#txtScanType").val(data.ScanType);
                    $("#ddlScanType").val(data.ScanType);
                    GetProbeDetail(data.ProbeId);
                }
            },
            error: function () {
                alert("error");
            }
        });

    };

    function LoadSubCatgoryPartial(lineId, headerId) {
        $.ajax({
            url:WebsiteURL +  "/NDE/MaintainPAUTTechnique/GetPAUTSubCategroyPartial",
            type: "POST",
            datatype: "html",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { lineId: lineId, headerId: headerId ,user:"Initiator"},
            success: function (data) {
                bootbox.dialog({
                    title: "Group Details",
                    message: data,
                    size: "large",
                })
            },
            error: function () {
                alert("error");
            }
        });
    };

    function SavePAUTHeader(frmPAUTHeaderValues,isFromSubmit) {
        if (isFromSubmit === undefined || isFromSubmit === null) {
            isFromSubmit = false;
        }
        isSendForApproval=isFromSubmit;
        var status = $("#Status").val();
        var hasAttachments = true;
        if (status.toLowerCase() != '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()'.toLocaleLowerCase()) {
            hasAttachments = getHasAttachmentsForSubmit('@(FileUploadFinalHeaderID)');
        }
        if (hasAttachments == true) {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainPAUTTechnique/SavePAUTHeader",
                data: {
                    HeaderId: $("#HeaderId").val(),
                    QualityProject: $("#ddlQMSProject").val(),
                    Project: $("#Project").val(),
                    BU: $("#BU").val(),
                    Location: $("#Location").val(),
                    RevNo: 0,
                    UTTechNo: $("#UTTechNo").val(),
                    DocNo: $("#DocNo").val(),
                    Status: "",
                    UTProcedureNo: $("#UTProcedureNo").val(),
                    CouplantUsed: $("#ddlCouplant").val(),
                    ReferenceReflectorSize: $("#ddlReflectorSize").val(),
                    ReferenceReflectorDistance: $("#ReferenceReflectorDistance").val(),
                    CalibrationBlockID: $("#CalibrationBlockID").val(),
                    CalibrationBlockIDThickness: $("#CalibrationBlockIDThickness").val(),
                    SimulationBlockID: $("#SimulationBlockID").val(),
                    SimulationBlockIDThickness: $("#SimulationBlockIDThickness").val(),
                    EncoderType: $("#ddlEncoderType").val(),
                    ScannerType: $("#ddlScannerType").val(),
                    ScannerMake: $("#ScannerMake").val(),
                    CableType: $("#ddlCableType").val(),
                    CableLength: $("#ddlCableLength").val(),
                    PlannerRemarks: $("#PlannerRemarks").val(),
                    ScanningTechnique:$("#ScanningTechnique").val(),
                    TechniqueSheetNo: $("#TechniqueSheetNo").val(),
                    //Attach: getAttachmentsFromTable()
                },
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key == true && res.Value > 0) {
                        if(!isFromSubmit){
                            $("#txtQualityProject").attr("disabled", true);
                            $("#HeaderId").val(res.Value);
                            DisplayNotiMessage("success", "PAUT document generated successfully", "Success");
                            LoadCatgoryPartial($("#HeaderId").val());
                            $("#ReturnRemarks").val(res.Remarks);
                            $("#lblStatus").text(res.HeaderStatus)
                            $("#Status").val(res.HeaderStatus);
                            $("#RevNo").val('R' + res.RevNo);
                            UpdateFolderPathAndSave@(FileUploadFinalHeaderID)("NDE014/" + parseInt(res.Value) + "/R" +res.RevNo);
                            if (res.HeaderStatus == '@clsImplementationEnum.NDETechniqueStatus.Draft.GetStringValue()')
                                $("#btnSendForApproval").removeAttr("disabled");
                        }
                        else{
                            UpdateFolderPathAndSave@(FileUploadFinalHeaderID)("NDE014/" + parseInt(res.Value) + "/R" +res.RevNo);
                        }
                    }
                    else { }
                },
                error: function () { },
            });
        }
    };

    function SubmitTechnique() {

        if(isSendForApproval){
            
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainPAUTTechnique/SendForApproval",
                type: "POST",
                data: { headerId: parseInt($("#HeaderId").val()) },
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        DisplayNotiMessage("success", res.Value, "Success");
                        window.setTimeout('window.location.href = "'+ WebsiteURL +'/NDE/MaintainPAUTTechnique/Index"', 3000);
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");

                    }
                },
                error: function () { }

            });

        }
    }
    function projectChange(QMSProjectcd, location) {
        $.ajax({
            url:WebsiteURL +  "/NDE/MaintainPAUTTechnique/GetQMSProjectDetail",
            type: 'POST',
            data: { QMSProject: QMSProjectcd, location: location },
            async: false,
            success: function (res) {
                if (res != null && res != undefined) {
                    if (res.Key) {

                        FillAutoComplete($("#txtCouplantUsed"), res.Couplant, $("#ddlCouplant"));
                        if (res.celluloscatCode != null && res.celluloscatCode != "" && res.celluloscatCode != undefined) {
                            $("#txtCouplantUsed").val(res.celluloscatDesc);
                            $("#ddlCouplant").val(res.celluloscatCode);
                        }

                        FillAutoComplete($("#txtReferenceReflectorSize"), res.ReflectorSize, $("#ddlReflectorSize"));

                        FillAutoComplete($("#txtScanningTechnique"), res.ScanningTechnique, $("#ScanningTechnique"));
                        if (res.Semi_AutomatedcatCode != null && res.Semi_AutomatedcatCode != "" && res.Semi_AutomatedcatCode != undefined) {
                            $("#txtScanningTechnique").val(res.Semi_AutomatedcatDesc);
                            $("#ScanningTechnique").val(res.Semi_AutomatedcatCode);
                        }

                        FillAutoComplete($("#txtCableType"), res.CableType, $("#ddlCableType"));
                        if (res.Co_AxialcatCode != null && res.Co_AxialcatCode != "" && res.Co_AxialcatCode != undefined) {
                            $("#txtCableType").val(res.Co_AxialcatDesc);
                            $("#ddlCableType").val(res.Co_AxialcatCode);
                        }

                        FillAutoComplete($("#txtCableLength"), res.CableLength, $("#ddlCableLength"));

                        if (res.cabelLengthcatCode != null && res.cabelLengthcatCode != "" && res.cabelLengthcatCode != undefined) {
                            $("#txtCableLength").val(res.cabelLengthcatDesc);
                            $("#ddlCableLength").val(res.cabelLengthcatCode);
                        }
                        //FillAutoComplete($("#txtEncoderType"), res.EncoderType, $("#ddlEncoderType"));
                    }
                    else {
                        //ClearHeaderControl();
                        setTimeout(DisplayNotiMessage("error", res.Value, "Error"), 3000);
                        FillAutoComplete($("#txtCouplantUsed"), null, $("#ddlCouplant"));
                        FillAutoComplete($("#txtScanningTechnique"),null , $("#ScanningTechnique"));
                        FillAutoComplete($("#txtReferenceReflectorSize"), null, $("#ddlReflectorSize"));
                        FillAutoComplete($("#txtCableType"), null, $("#ddlCableType"));
                        FillAutoComplete($("#txtCableLength"), null, $("#ddlCableLength"));
                    }

                    $("#Project").val(res.project.projectDescription);
                    $("#BU").val(res.BU);
                    $("#txtMfgCode").val(res.ManufacturingCode);
                }
            }
        });
    };

    function FillAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function ClearHeaderControl() {

        $("#txtCouplantUsed").val('');
        $("#ddlCouplant").val('');
        $("#txtReferenceReflectorSize").val('');
        $("#ddlReflectorSize").val('');
        $("#txtCableType").val('');
        $("#ddlCableType").val('');
        $("#txtCableLength").val('');
        $("#ddlCableLength").val('');
        $("#UTTechNo").val('');
        //$("#UTTechNo").removeAttr("readonly");
        $("#txtQualityProject").val('');
        $("#ddlQMSProject").val('');
        //$("#UTTechNo").prop("readonly", true);

    }

    function FillControlsOnEdit() {

        if ('@Model.QualityProject' != '' && '@Model.QualityProject' != "null" && '@Model.QualityProject' != null) {
            $("#txtQualityProject").val('@ViewBag.QMSProject');
            $("#txtQualityProject").attr("disabled", true);
            $("#ddlQMSProject").val('@Model.QualityProject');
        }
        if ('@Model.CouplantUsed' != '' && '@Model.CouplantUsed' != "null" && '@Model.CouplantUsed' != null) {
            $("#txtCouplantUsed").val('@ViewBag.Couplant');
            $("#ddlCouplant").val('@Model.CouplantUsed');
        }
        if ('@Model.ReferenceReflectorSize' != '' && '@Model.ReferenceReflectorSize' != "null" && '@Model.ReferenceReflectorSize' != null) {
            $("#txtReferenceReflectorSize").val('@ViewBag.ReflectorSize');
            $("#ddlReflectorSize").val('@Model.ReferenceReflectorSize');
        }
        if ('@Model.EncoderType' != '' && '@Model.EncoderType' != "null" && '@Model.EncoderType' != null) {
            $("#txtEncoderType").val('@Model.EncoderType');
            $("#ddlEncoderType").val('@Model.EncoderType');
        }
        if ('@Model.ScannerType' != '' && '@Model.ScannerType' != "null" && '@Model.ScannerType' != null) {
            $("#txtScannerType").val('@Model.ScannerType');
            $("#ddlScannerType").val('@Model.ScannerType');
        }
        if ('@Model.CableType' != '' && '@Model.CableType' != "null" && '@Model.CableType' != null) {
            $("#txtCableType").val('@ViewBag.CableType');
            $("#ddlCableType").val('@Model.CableType');
        }
        if ('@Model.CableLength' != '' && '@Model.CableLength' != "null" && '@Model.CableLength' != null) {
            $("#txtCableLength").val('@ViewBag.CableLength');
            $("#ddlCableLength").val('@Model.CableLength');
        }

    }

    function MethodChange(location, QMSproject) {

        $.ajax({
            url: WebsiteURL + "/NDE/MaintainPAUTTechnique/GetMaxPAUTTechNo",
            type: 'POST',
            data: { location: location, QMSproject: QMSproject },
            async: false,
            success: function (res) {
                var UTTechNo = "UT/PAUT/" + pad(res.DocumentNo, 3);
                $("#DocNo").val(res.DocumentNo);
                $("#UTTechNo").val(UTTechNo);
            },
            error: function (error) {
            }
        });
    };

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    };

    //$('#SimulationBlockIDThickness').keypress(function (event) {
    //    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
    //        event.preventDefault();
    //    }
    //    if (($(this).val().indexOf('.') != -1) && ($(this).val().substring($(this).val().indexOf('.'), $(this).val().indexOf('.').length).length > 1)) {
    //        event.preventDefault();
    //    }
    //});
</script>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:60px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain PAUT Technique</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvPAUTTechniqueHeader">
                    <form id="frmPAUTTechniqueHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    @Html.HiddenFor(m => m.HeaderId)
                                    @Html.HiddenFor(m => m.DocNo)
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div>
                                                <div class="">
                                                    <input type="text" id="txtQualityProject" name="txtQualityProject" class="form-control col-md-3" placeholder="Select" colname="QualityProject" />
                                                    @Html.HiddenFor(m => m.QualityProject, new { @id = "ddlQMSProject" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <input type="text" name="Project" id="Project" class="form-control col-md-3" readonly="readonly" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @id = "Location", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">PAUT Tech.No.<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.TechniqueSheetNo, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">PAUT Procedure with Rev. No<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.UTProcedureNo, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Document No</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.UTTechNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Rev No.</label>
                                            @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <input type="text" id="txtMfgCode" name="txtMfgCode" class="form-control col-md-3" readonly />
                                            @*@Html.TextBox("txtMfgCode", (string)ViewBag.MfgCode, new { @class = "form-control col-md-3", @readonly = "readonly" })*@
                                        </div>

                                    </div>

                                </fieldset>

                                <fieldset>
                                    <legend>Technique Details</legend>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">Couplant Used<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtCouplantUsed" name="txtCouplantUsed" class="form-control col-md-3" placeholder="Select" colname="CouplantUsed" />
                                                @Html.HiddenFor(m => m.CouplantUsed, new { @id = "ddlCouplant" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ref. Reflector Size<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtReferenceReflectorSize" name="txtReferenceReflectorSize" class="form-control col-md-3" placeholder="Select" colname="ReferenceReflectorSize" />
                                                @Html.HiddenFor(m => m.ReferenceReflectorSize, new { @id = "ddlReflectorSize" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Ref. Reflector Distance(mm)<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.ReferenceReflectorDistance, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scanning Technique</label>
                                            <input type="text" id="txtScanningTechnique" name="txtScanningTechnique" class="form-control col-md-3" placeholder="Select" colname="ScanningTechnique" />
                                            @Html.HiddenFor(m => m.ScanningTechnique)

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Calibration Block ID<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.CalibrationBlockID, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Calibration Block ID with Thickness(mm)<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.CalibrationBlockIDThickness, new { @class = "form-control col-md-3 numDeci", @maxlength = "7" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Simulation Block ID<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.SimulationBlockID, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Simulation Block ID with Thickness(mm)<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.SimulationBlockIDThickness, new { @class = "form-control col-md-3 numDeci", @maxlength = "7" })
                                        </div>


                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Encoder Used<span class="required"> * </span></label>
                                            <input type="text" id="txtEncoderType" name="txtEncoderType" class="form-control col-md-3" placeholder="Select" colname="EncoderType" />
                                            @Html.HiddenFor(m => m.EncoderType, new { @id = "ddlEncoderType" })
                                            @*@Html.DropDownList("ddlEncoderType", (SelectList)ViewBag.EncoderType, new { @class = "form-control col-md-3" })*@
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scanner Type<span class="required"> * </span></label>
                                            <div>
                                                <input type="text" id="txtScannerType" name="txtScannerType" class="form-control col-md-3" placeholder="Select" colname="ScannerType" />
                                                @Html.HiddenFor(m => m.ScannerType, new { @id = "ddlScannerType" })
                                            </div>
                                            @*@Html.DropDownList("ddlScannerType", (SelectList)ViewBag.ScannerType, new { @class = "form-control col-md-3" })*@
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Scanner Make<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.ScannerMake, new { @class = "form-control col-md-3", @maxlength = "20", @Value = "L&T" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Cable Type<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtCableType" name="txtCableType" class="form-control col-md-3" placeholder="Select" colname="CableType" />
                                                @Html.HiddenFor(m => m.CableType, new { @id = "ddlCableType" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Cable Length(m)<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtCableLength" name="txtCableLength" class="form-control col-md-3" placeholder="Select" colname="CableLength" />
                                                @Html.HiddenFor(m => m.CableLength, new { @id = "ddlCableLength" })
                                            </div>
                                        </div>

                                        @*<div class="col-md-3">
                                                <label class="control-label" for="fileScan">Scan Plan</label>
                                                <div class="">
                                                    <input type="file" id="fileScan" class="" />
                                                </div>
                                            </div>*@
                                        <div class="col-md-6">
                                            <label class="control-label">Planner Remarks<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                        </div>

                                        <div class="col-md-6">
                                            <label class="control-label">Return Remarks</label>
                                            @Html.TextBoxFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Scan Plan Sketch/Drawing</legend>
                                    <div class="col-md-12" style="padding-right:2.2em">
                                        <div id="dv@(FileUploadFinalHeaderID)"></div>
                                        @*@Html.Partial("_AttachmentPartial")*@
                                    </div>
                                </fieldset>
                                <div class="col-md-12">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6" style="text-align:right;margin-top:2%">

                                        <input type="button" id="btnPAUTTechniqueSave" class="btn green" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="dvPAUTTechniqueCategory" class="">

                </div>

                <div class="col-md-12">
                    <div class="col-md-8"></div>
                    <div class="col-md-4" style="text-align:right;">
                        <input type="button" class="btn submit" id="btnSendForApproval" value="Submit" style="display:none;" />
                        <a href='@Url.Action("Index","MaintainPAUTTechnique")' class="btn btnclose">Close</a>
                        @if (Model.Status.ToLower() == clsImplementationEnum.QCPStatus.Approved.GetStringValue().ToLower() ||
(Model.RevNo > 0 && Model.Status.ToLower() == clsImplementationEnum.QCPStatus.Draft.GetStringValue().ToLower()))
                        {
                            <button title="Copy" type="button" class="btn icons" id="btnCopy"><i class="fa fa-files-o"></i></button>
                        }
                        <button title="History" type="button" class="btn icons" style="display:none;" id="btnHistory"><i class="fa fa-history"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
@if (Model != null)
{
    <script>
        @*if ('@Model.HeaderId' > 0) {
            setAttachmentsInHeader("NDE014/@(Model.HeaderId)/R@(Model.RevNo)");
        }*@
        //console.log('@Model.EncoderType');
        if ('@Model.EncoderType' != "" && '@Model.EncoderType' != "null" && '@Model.EncoderType' != null) {
            $("#txtEncoderType").val('@Model.EncoderType');
            $("#ddlEncoderType").val('@Model.EncoderType');
        }
        if ('@Model.ScannerType' != "" && '@Model.ScannerType' != "null" && '@Model.ScannerType' != null) {
            $("#txtScannerType").val('@Model.ScannerType');
            $("#ddlScannerType").val('@Model.ScannerType');
        }

    </script>
}

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

