﻿@using IEMQSImplementation
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    BOM List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/ApproveBOMTemplate/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="all">TemplateNo</th>
                            <th style="display:none;">HeaderId</th>
                            <th class="min-phone-l">Contract</th>
                            <th class="min-phone-l">Customer</th>
                            <th class="min-phone-l">Project</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Revision</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        var table = $('#tblHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/ApproveBOMTemplate/LoadHeaderData?status=" + '@ViewBag.status',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            //{ "name": "status", "value": '@ViewBag.status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                 {
                     "sClass": "center",
                     "name": "TemplateNo",
                     "bSortable": true,
                 },
            {
                "sClass": "hide",
                "attr": "hide"
            },
            {
                "sClass": "center",
                "name": "ContractNo",
                "bSortable": true,
                "ColName": "bom.ContractNo+'-'+com4.t_desc"
            },
            {
                "sClass": "center",
                "name": "Project",
                "bSortable": true,
                "ColName": "bom.Project+'-'+com1.t_dsca"
            },
            {
                "sClass": "center",
                "name": "Customer",
                "bSortable": true,
                "ColName": "com6.t_bpid+'-'+com6.t_nama"
            },
           
            {
                "sClass": "center",
                "name": "Status",
                "bSortable": true,
            },
             {
                 "sClass": "center",
                 "name": "RevNo",
                 "bSortable": true,
                 "attr": "numeric"
             },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        var functionCall = "Viewlines(" + row[1].trim() + ")";
                        var fnHistory = "ViewHistoryData(" + row[1].trim() + ")";
                        buttons += '<center>';
                        buttons += '<a class="btn-xs"  href="javascript:void(O);" Title="View lines" onclick="' + functionCall + '"><i style="margin-left:5px;" class="fa fa-eye"></i></a>';
                        buttons += '<a class="btn-xs"  href="javascript:void(O);" Title="History" onclick="' + fnHistory + '"><i class="fa fa-history"></i></a>';
                        buttons += '</center>';

                        //buttons = '<center><a onclick="' + functionCall + '" class="fa fa-pencil-square-o" title="Edit Record" style="cursor:pointer;color:black" name="btnAction" id="btnEdit"></a>&nbsp;&nbsp;<i id="btnDelete" name="btnAction" style="display:none;" Title="Delete Record" class="fa fa-trash-o" onclick="DeleteHeader(' + row[1] + ')"></i></center>';
                        return buttons;
                    }
                },
            ]
        });
        table.dtSearchFilter();
    });
 
    function Viewlines(id) {
        window.location.href = WebsiteURL + "/IPI/ApproveBOMTemplate/Viewlines?id=" + id;
    }


    function ViewHistoryData(headerId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/IPI/MaintainBOMTemplate/GetHistoryDetails",
            datatype: 'html',
            async: false,
            data: { headerId: headerId, forAction: 'approve' },
            success: function (result) {
                bootbox.dialog({
                    title: 'History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
</script>
