﻿@using IEMQSImplementation
@model PRL015
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<style>
    customTextBox {
        border: 1px solid #c2cad8;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        height: 34px !important;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 80px;
    }

    .customTextBox[disabled], .customTextBox[readonly] {
        background-color: #eef1f5;
        opacity: 1;
    }

    .NonEditableTextColor {
        color: #777 !important;
    }

    .textalign {
        text-align: left !important;
    }

    .spnClass {
        float: left;
        text-align: center;
    }
</style>
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="dvDisable">
                <div class="form-body">
                    <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                        <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                            <span class="page-title">SET-UP & DIMENSION REPORT FOR NOZZLE</span>
                        </div>
                        <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                        </div>
                    </div>
                    <div id="dvProtocolHeader" style="padding:1%">
                        <form id="frmLinkage04Header" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12 divScroll">
                                    <table class="FormTable">
                                        <tr>
                                            <td class="textalign subtitle"> PROJECT NO.</td>
                                            <td class="textalign"> @Html.DisplayFor(m => m.QualityProject, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="textalign subtitle"> DATE</td>
                                            <td class="textalign">
                                                @Html.DisplayFor(m => m.InspectionDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                            </td>
                                        </tr>
                                        <tr style="text-align:left !important">
                                            <td class="textalign subtitle"> PROJECT DESCREPTION</td>
                                            <td class="textalign"> @Html.Display("PROJECTDesc", (string)ViewBag.ProjectDesc, new { @class = "form-control col-md-12", @readonly = "readonly" })</td>
                                            <td class="textalign subtitle"> SEAM NO.</td>
                                            <td class="textalign">@Html.DisplayFor(m => m.SeamNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        <tr style="text-align:left !important">
                                            <td class="textalign subtitle"> EQPT.NO.</td>
                                            <td class="textalign">@Html.DisplayFor(m => m.EquipmentNo, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                            <td class="textalign subtitle">INSPECTION AGENCY</td>
                                            <td class="textalign">@Html.DisplayFor(m => m.InspectionAgency, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        <tr style="text-align:left !important">
                                            <td class="textalign subtitle"> DRG.NO.& REV.NO.</td>
                                            <td class="textalign">
                                                <span style="float:left;padding: 0px 0px !important;">@Html.DisplayFor(m => m.DrawingNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                                @if (Model.DrawingRevisionNo != null)
                                                {
                                                    <span style="float:right;padding: 0px 0px !important;"> &amp;  @Html.DisplayFor(m => m.DrawingRevisionNo, new { @class = "form-control", @style = "width:150px;", @readonly = "readonly" })</span>
                                                }

                                            </td>
                                            <td class="textalign subtitle">MANUFACTURING CODE</td>
                                            <td class="textalign">@Html.Display("MANUFACTURINGCODE", (string)ViewBag.ManufacturingCode, new { @class = "form-control col-md-12", @readonly = "readonly" }) </td>
                                        </tr>
                                        <tr>
                                            <td class="textalign subtitle"> DCR NO.IF APPLICABLE</td>
                                            <td class="textalign">@Html.TextBoxFor(m => m.DCRNo, new { @class = "form-control col-md-12 textalign", @maxlength = "50", @role = "QC" }) </td>
                                            <td class="textalign subtitle">OFFER DATE</td>
                                            <td class="textalign">
                                                @Html.DisplayFor(m => m.OfferDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                    </table>
                                    @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Protocol Number</label>
                                        <div class="">
                                            @Html.TextBoxFor(m => m.ProtocolNo, new { @class = "form-control col-md-3", @maxLength = "50", @role = "QC" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 divScroll">
                                    <table class="FormTable">
                                        <tr>
                                            <td colspan="3" class="title">IDENTIFICATION MARKS VERIFIED</td>
                                            <td colspan="2" rowspan="2" class="title">BOLT HOLES STRADDLED </td>
                                            <td class="title" rowspan="2">WEP PT/MT/UT CLEARED </td>
                                            <td class="title" rowspan="2">SEAM NO. PUNCH </td>
                                            <td class="title" rowspan="2"> TACKS FREE FROM CRACK</td>
                                            <td class="title" rowspan="2"> SINGLE SIDE WELD</td>
                                            <td class="title" colspan="2">   EXTENT OF NDT</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="subtitle">@Html.TextBoxFor(m => m.IdentificationMarksVerified, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                            <td class="subtitle">RT</td>
                                            <td class="subtitle">UT</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" rowspan="3">Long Seam</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.BoltHolesStraddled, new { @class = "form-control col-md-12", @id = "ddlBolt", @role = "PROD" })</td>
                                            <td rowspan="3">@Html.TextBoxFor(m => m.WepPtMtUtCleared, new { @class = "form-control col-md-12", @id = "ddlWep", @role = "PROD" })</td>
                                            <td rowspan="3">@Html.TextBoxFor(m => m.SeamNoPunch, new { @class = "form-control col-md-12", @id = "ddlSeamPunch", @role = "PROD" })</td>
                                            <td rowspan="3">@Html.TextBoxFor(m => m.TacksFreeFromCrack, new { @class = "form-control col-md-12", @id = "ddlTrachFree", @role = "PROD" })</td>
                                            <td rowspan="3">@Html.TextBoxFor(m => m.SingleSideWeld, new { @class = "form-control col-md-12", @id = "ddlSingle", @role = "PROD" })</td>
                                            <td> @Html.TextBoxFor(m => m.Rt1, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                            <td> @Html.TextBoxFor(m => m.Ut1, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">TOL.</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHolesStraddledTol, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                            <td> @Html.TextBoxFor(m => m.Rt2, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                            <td> @Html.TextBoxFor(m => m.Ut2, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle">ACTUAL</td>
                                            <td>@Html.TextBoxFor(m => m.BoltHolesStraddledActual, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                            <td> @Html.TextBoxFor(m => m.Rt3, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                            <td> @Html.TextBoxFor(m => m.Ut3, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="title" rowspan="2">  RF PAD IDEN. MARKS VERIFIED (IF REQ.)</td>
                                            <td colspan="2" rowspan="2" class="title">ROOT GAP </td>
                                            <td class="title" rowspan="2">ROOT FACE</td>
                                            <td class="title" colspan="2">WEP ANGLE Deg. symbol (TOL:-)</td>
                                            <td class="title" rowspan="4"> MAX TILT IN DEG/MM (Tol:-  )</td>
                                            <td class="title" rowspan="3" colspan="2"> DIS. BETWEEN PAIR NOZZLES (IF REQ.)</td>
                                        </tr>
                                        <tr>
                                            <td class="subtitle" colspan="2"><span class="spnClass">REQD.:</span>@Html.TextBoxFor(m => m.WepAngleReq, new { @style = "width:100px !important;", @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" rowspan="2">@Html.TextBoxFor(m => m.RfPadIdenMarksVerified, new { @class = "form-control col-md-12", @id = "ddlRfPAD", @role = "PROD" })</td>
                                            <td rowspan="2">REQ.:</td>
                                            <td rowspan="2">@Html.TextBoxFor(m => m.RootGapReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td>REQ.:</td>
                                            <td>OUT SIDE:</td>
                                            <td>IN SIDE:</td>
                                        </tr>

                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.RootFaceReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td>@Html.TextBoxFor(m => m.WepAngleOS, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td>@Html.TextBoxFor(m => m.WepAngleIN, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td class="subtitle">REQ.</td>
                                            <td class="subtitle">ACTUAL</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" rowspan="4"></td>
                                            <td rowspan="2">MAX.:</td>
                                            <td rowspan="2">@Html.TextBoxFor(m => m.RootGapMax, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td>MAX.:</td>
                                            <td colspan="2" rowspan="2">ACTUAL</td>
                                            <td rowspan="4">@Html.TextBoxFor(m => m.MaxTilt, new { @class = "form-control col-md-12", @maxlength = "20", @role = "QC" })</td>
                                            <td rowspan="4">@Html.TextBoxFor(m => m.DisBetweenPairNozzlesReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td rowspan="4">@Html.TextBoxFor(m => m.DisBetweenPairNozzlesAct, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.RootFaceMax, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">MIN.:</td>
                                            <td rowspan="2">@Html.TextBoxFor(m => m.RootGapMin, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td>MIN.:</td>
                                            <td rowspan="2">@Html.TextBoxFor(m => m.WepAngleActOS, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</tdrowspan="2">
                                            <td rowspan="2">@Html.TextBoxFor(m => m.WepAngleActIS, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.RootFaceMin, new { @class = "form-control col-md-12  numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="title">
                                                <span class="spnClass">REQ.ORIENTATION OF NOZZLE </span>
                                                @Html.TextBoxFor(m => m.ReqOrientationOfNozzle, new { @style = "width:100px !important;", @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })<span class="spnClass">(CIRC DIST FROM 0° )</span>
                                            </td>
                                            <td colspan="3" class="title">ELEVATION OF NOZZLE FROM T.L/REF. LINE</td>
                                            <td colspan="2" class="title">PROJECTION / HEIGHT FROM VESSEL C.L / SHELL OD</td>
                                            <td colspan="2" class="title">OFFSET DISTANCE OF NOZZLES</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="subtitle">REQ.</td>
                                            <td colspan="2" class="subtitle">ACTUAL</td>
                                            <td colspan="2" class="subtitle">REQ.</td>
                                            <td colspan="1" class="subtitle">ACTUAL</td>
                                            <td class="subtitle">REQ.</td>
                                            <td class="subtitle">ACTUAL</td>
                                            <td class="subtitle">REQ.</td>
                                            <td class="subtitle">ACTUAL</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">@Html.TextBoxFor(m => m.ReqOrientationOfNozzleReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.ReqOrientationOfNozzleAct, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td colspan="2">@Html.TextBoxFor(m => m.ElevationOfNozzleReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td colspan="1">@Html.TextBoxFor(m => m.ElevationOfNozzleAct, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td>@Html.TextBoxFor(m => m.ProjectionReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td>@Html.TextBoxFor(m => m.ProjectionAct, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td>@Html.TextBoxFor(m => m.OffsetDistanceOfNozzleReq, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })</td>
                                            <td>@Html.TextBoxFor(m => m.OffsetDistanceOfNozzleAct, new { @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <span class="spnClass">OFFSET TOL. :- </span>
                                                @Html.TextBoxFor(m => m.OffsetTol, new { @style = "width:100px !important;", @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "QC" })
                                            </td>
                                            <td colspan="3"><span class="spnClass">ACTUAL MIN. OFFSET:-</span>@Html.TextBoxFor(m => m.ActualMinOffset, new { @style = "width:100px !important;", @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                            <td colspan="4"><span class="spnClass">ACTUAL MAX. OFFSET:-</span>@Html.TextBoxFor(m => m.ActualMaxOffset, new { @style = "width:100px !important;", @class = "form-control col-md-12 numeric-only", @maxlength = "10", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="11"><img style="width: 88%;" src="~/Images/Protocol4_1.png" /></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-12 divScroll">
                                    <table class="FormTable">
                                        <tr>
                                            <td class="title" colspan="11" style="text-align: left;"> Remarks:</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder"><span class="spnClass"> 1) PROCEDURE NO: </span>@Html.TextBoxFor(m => m.Remark1, new { @style = "width:50% !important;", @class = "form-control col-md-12", @maxlength = "50", @role = "QC" }) </td>
                                            <td colspan="4" rowspan="5">
                                                <span class="spnClass"> IDENTIFICATION:1 (Including R.F Pad if Req.)   </span>
                                                @Html.TextAreaFor(m => m.Identification1, new { @class = "form-control col-md-12", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder"> <span class="spnClass"> 2) ALL DIMENSIONS ARE IN MM, UNLESS SPECIFIED.</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder">
                                                <span class="spnClass">    4) L&T STAMP AVILABLE ON IDENTIFICATION:</span>@Html.TextBoxFor(m => m.Remark4, new { @style = "width:15% !important;", @class = "form-control col-md-12", @id = "ddlLnTStamp", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder">
                                                <span class="spnClass">
                                                    5)  MARKING DETAILS TO BE MENTIONED IN BOX GIVEN HERE
                                                </span>
                                                @*@Html.TextBoxFor(m => m.Remark5, new { @style = "width:15% !important;", @class = "form-control col-md-12", @maxLength = "10", @role = "QC" })*@

                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder"> <span class="spnClass">6) WELDER NO. FOR TACK & TEMPORARY SUPPORT:</span>@Html.TextAreaFor(m => m.Remark6, new { @style = "width:45% !important;", @class = "form-control col-md-12", @maxLength = "100", @role = "PROD" })  </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder">
                                                <span class="spnClass">7) CALIBRATED TAPE NO.:  </span>@Html.TextBoxFor(m => m.Remark7, new { @style = "width:30% !important;", @class = "form-control col-md-12", @maxLength = "50", @role = "PROD" })
                                            <td colspan="4" rowspan="5">
                                                <span class="spnClass">IDENTIFICATION:2 (Including R.F Pad if Req.) </span>
                                                @Html.TextAreaFor(m => m.Identification2, new { @class = "form-control col-md-12",  @role = "PROD" })
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder">
                                                <span class="spnClass" style="margin-left: 85px;"> & CAL.DATE: </span>
                                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                    @Html.TextBoxFor(m => m.Remark7_1, "{0:dd/MM/yyyy}", new { @role = "PROD", @class = "form-control", @readonly = "readonly" })
                                                    <span class="input-group-btn">
                                                        <button class="btn default" id="btncal1" style="margin-top: -5px;margin-left: -5px;" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>

                                        @*<tr>
                                                <td colspan="7" class="noBottomBoder noTopBoder">
                                                    <span class="spnClass">  7) CALIBRATED TAPE NO.& CAL.DATE:</span>@Html.TextBoxFor(m => m.Remark7, new { @style = "width:50% !important;", @class = "form-control col-md-12", @maxLength = "50", @role = "PROD" })
                                                </td>

                                            </tr>*@
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder">
                                                <span class="spnClass"> 8) SKETCH FOR TEMPORARY SUPPORT PROVIDED: </span>@Html.TextBoxFor(m => m.Remark8, new { @style = "width:15% !important;", @class = "form-control col-md-12", @id = "ddlTempSketch", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noBottomBoder noTopBoder">
                                                <span class="spnClass">    9) SKETCH, IF ANY ON REVERSE SIDE OF REPORT: </span>@Html.TextBoxFor(m => m.Remark9, new { @style = "width:15% !important;", @class = "form-control col-md-12", @id = "ddlReverseSketch", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="noTopBoder">
                                                <span class="spnClass">   10)  PTC REQUIRE : </span>@Html.TextBoxFor(m => m.Remark10, new { @style = "width:15% !important;", @class = "form-control col-md-12", @maxLength = "5", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="text-align:left;">
                                        <a id="btnPrint" style="cursor:pointer;margin-right:5px; float:left" title="Print" class="btn icons" onClick="PrintReport(@Model.HeaderId)"> <i class="fa fa-print"></i></a>
                                    </div>
                                    <div class="col-md-6" style="text-align:right;">
                                        <input type="button" class="btn save" id="btnSave" value="Save" />
                                        @* <a class="btn btnclose" id="btnClose"> Close</a>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });
        $('#txtHeaderId').val(parseInt('@ViewBag.HeaderId'));
        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstProtocolRT = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ProtocolRT))));
        var lstProtocolUT = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.ProtocolUT))));

        FillProtocolAutoComplete($('#IdentificationMarksVerified'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlBolt'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlWep'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlSeamPunch'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlTrachFree'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlSingle'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlRfPAD'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlLnTStamp'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlTempSketch'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ddlReverseSketch'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Remark10'), lstYesNo, null, false);

        FillProtocolAutoComplete($('#Rt1'), lstProtocolRT, null, false);
        FillProtocolAutoComplete($('#Rt2'), lstProtocolRT, null, false);
        FillProtocolAutoComplete($('#Rt3'), lstProtocolRT, null, false);

        FillProtocolAutoComplete($('#Ut1'), lstProtocolUT, null, false);
        FillProtocolAutoComplete($('#Ut2'), lstProtocolUT, null, false);
        FillProtocolAutoComplete($('#Ut3'), lstProtocolUT, null, false);
        $("#frmLinkage04Header").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });

        $("#btnSave").click(function () {
            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
             {
                 <text>$('[role="PROD"]').prop("required", true);</text>
             }else
             {
                 <text>$('[role="QC"]').prop("required", true);</text>
             }
            SaveLinkageData();
        });

        $("#btnClose").click(function () {
            DeleteLinkageData();
        });

        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });

        $(".numeric-only").autoNumeric('init', { aSep: '', vMax: '9999999.99' });
        var isEdit = '@ViewBag.isEditable';
        if (isEdit.toLowerCase() == "true") { $('div.dvDisable :input').prop('disabled', false); $("#btnSave").show(); }
        else {
            $('div.dvDisable :input').prop('disabled', true);
            $('div.dvDisable a').not('#btnPrint').hide();
            $("#btnSave").hide();
        }
        if (('@string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase)' == 'True')) {
            $("[role=QC]").prop("disabled", true);
            $("[role=QC]").addClass("NonEditableTextColor");
            $("[role=PROD]").addClass("EditableTextColor");
            $("#btncal1").prop("disabled", true);
        }
        else {
            $("[role=PROD]").prop("disabled", true);
            $("[role=QC]").addClass("EditableTextColor");
            $("[role=PROD]").addClass("NonEditableTextColor");
        }

        $("[role=QC]").addClass("QCTextbox");
        $("[role=PROD]").addClass("PRODTextbox");



    });

    function DisbaleControls(isDisbale) {
        if (('@string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase)' == 'True')) {
            $("[role=QC]").prop("disabled", isDisbale);
        }
        else {
            $("[role=PROD]").prop("disabled", isDisbale);
        }
    }

    function PrintReport(headerid) {
        var url = "";
        url = "/IPI/Protocol/PROTOCOL004";
        var dat = [];
        dat.push({ Param: "HeaderId", Value: headerid });
        ShowReport(dat, url);
    }
    function FillProtocolAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(element).val(ui.item.value);

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function DeleteLinkageData() {
        $.ajax({
            url: WebsiteURL + "/PROTOCOL/Protocol004/DeleteLinkageData",
            type: "POST",
            data: { refHeaderId: parseInt('@Model.HeaderId') },
            async: false,

            success: function (res) {

            },
            error: function (data) { }
        });

    }

    function SaveLinkageData() {
        if ($("#frmLinkage04Header").valid()) {
            DisbaleControls(false);
            var frmHeaderValues = $("#frmLinkage04Header").serializeArray();
            DisbaleControls(true);
            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });

                $.ajax({
                    url: WebsiteURL + "/PROTOCOL/Protocol004/SaveLinkageData",
                    type: "POST",
                    data: formdata,
                    async: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) { }
                });
            }
        }
    }
</script>
