﻿
<script>
    $(document).ready(function () {
        $("#frmCopyHTC").validate({
            rules: {
                ddlDestProject: {
                    required: true
                }
            },
            messages: {
                ddlDestProject: {
                    required: "Destination Project Is Required"
                }
            }
        })
    })
</script>

<style>
    .modal-lg {
        width: 85% !important;
        margin: 15px auto;
    }

    .modal-sm {
        width: 60% !important;
        margin: 15px auto;
    }
</style>

<div class="portlet light ">
    <!-- BEGIN FORM-->
    <form id="frmCopyHTC" class="form-horizontal">
        <div class="col-md-12">
            <label class="control-label col-md-4">Destination Project</label>
            <div class="col-md-8">
                @Html.DropDownList("ddlDestProject", (SelectList)ViewBag.Project, "--Select Project--", new { @class = "form-control col-md-3" })
            </div>
        </div>
    </form>
    <!-- END PAGE BASE CONTENT -->
</div>


