﻿@using IEMQSImplementation
@model OPC001
@{
    ViewBag.Title = "Operation Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUpload1ID = "fuupload1";
}

<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project');
        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        $('#frmMaintainDeatils').validate({
            rules: {
                ReviseRemark: {
                    required: true
                },
                ddlApprover: {
                    required: true
                }
            },
            messages: {
                ReviseRemark: {
                    required: "Revise remarks is required"
                },
                ddlApprover: {
                    required: "Approver is required"
                }
            }
        });
        var headerid = parseInt("@Model.HeaderId");
        $('#txtRevNo').val("R" + '@Model.RevNo');

        if (headerid > 0) {
            $("#btnSend").show();

            $("#hfHeaderId").val(headerid);
            var status = "@Model.Status";
            if (status.toLocaleLowerCase() == '@clsImplementationEnum.PAMStatus.Approved.GetStringValue().ToLower()')
            {
                if ('@ViewBag.IsReviseBtnEnabled'.toLocaleLowerCase() == 'true') {
                    $("#btnRevise").show();
                }
                else
                {
                    $("#docMessage").text('@ViewBag.DocMessage').show();
                }
            }
            $("#lblStatus").text(status);

            var strProject = '@ViewBag.Project';
            var strApproverName = '@ViewBag.ApproverName';
            $("#txtProject").val(strProject);
            $("#ddlApprover").val(strApproverName);
            if (status.toLowerCase() == '@clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue().ToLower()' || status.toLowerCase() == '@clsImplementationEnum.CommonStatus.Approved.GetStringValue().ToLower()') {
                $("div.disableConntrol :input").attr('disabled', true);
            }
            if (status.toLowerCase() == '@clsImplementationEnum.CommonStatus.DRAFT.GetStringValue().ToLower()' || status.toLowerCase() == '@clsImplementationEnum.CommonStatus.Returned.GetStringValue().ToLower()') {
                $("#txtProject").attr("disabled", true);
            }
        }
        //autocomplete for approver
        $("#ddlApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },

                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));

                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#ApprovedBy").val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#ApprovedBy").val(ui.item.value);
                }
            },
        });
        //history
        $("#btnHistory").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/OPC/Maintain/GetHistoryView",
                datatype: 'html',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: {},
                success: function (result) {
                    bootbox.dialog({
                        title: 'History of Pre Manufacturing',
                        message: result,
                        buttons: {
                            'cancel': {
                                label: 'Cancel',
                                className: 'btn red'
                            }
                        }

                    });
                },
                error: function () {
                }
            });
        });
        //retract status
        $("#btnRetract").click(function () {

            var headerid = parseInt("@Model.HeaderId");
            var table = 'OPC001';
            var action = '@clsImplementationEnum.ButtonStatus.Retract.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                return false;
            }

            $.ajax({
                type: "POST",
                url: WebsiteURL + "/OPC/Maintain/RetractHeader",
                datatype: 'html',
                async: false,
                data: { Id: $("#hfHeaderId").val() },
                success: function (result) {
                    if (result.Key) {
                        DisplayNotiMessage("success", "Retracted Successfully", "Success!");
                        //window.location = WebsiteURL + '/OPC/Maintain/Index';
                        window.location.reload();
                    }
                    else {
                        DisplayNotiMessage("error", result.Value, "Error!");
                        //location.reload();
                    }
                },
                error: function () {
                }
            });
        });

        $("#btnRevise").click(function () {

            var headerid = parseInt("@Model.HeaderId");
            var table = 'OPC001';
            var action = '@clsImplementationEnum.ButtonStatus.Revise.GetStringValue()';
            var isapprover = false;
            if (!CheckIsPostValidation(table, action, headerid, isapprover))  {
                return false;
            }

            ReviseHeader('@Model.HeaderId', "/OPC/Maintain/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#lblStatus'), ReviseHeaderCallBack);
        });

        $("#btnSave").click(function () {
            if ($("#frmMaintainDeatils").valid()) {
                var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                var status = "@Model.Status";

                if ($('#lblStatus').html().toLowerCase() == 'approved' && $("#lblStatus").text() == 'Approved') {
                    ReviseHeader('@Model.HeaderId', "/OPC/Maintain/ReviseHeader", $('#txtRevNo'), $('#RevNo'), $('#lblStatus'));
                }
                else {
                    var headerid = parseInt("@Model.HeaderId");
                    var table = 'OPC001';
                    var action = '@clsImplementationEnum.ButtonStatus.Save.GetStringValue()';
                    var isapprover = false;
                    if (!CheckIsPostValidation(table, action, headerid, isapprover)) {
                        return false;
                    }
                    submit(status);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
        $("#btnSend").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            if ($("#frmMaintainDeatils").valid()) {
                if (getHasAttachmentsForSubmit('@FileUpload1ID') == false) {
                    DisplayNotiMessage("error", "Cannot send for Approval without attachments", "Error");
                }
                else {
                    var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
                    var status = "@Model.Status";
                    var table = 'OPC001';
                    var action = '@clsImplementationEnum.ButtonStatus.Submit.GetStringValue()';
                    var isapprover = false;
                    if (!CheckIsPostValidation(table, action, headerid, isapprover))
                    {
                        return false;
                    }
                    submit(true);
                }
            }
        });
    });

    var checkRevise = true;
    function confirmOnAttach() {
        var frmSaveHeaderValue = $("#frmMaintainDeatils").serializeArray();
        var status = "@Model.Status";
        if (status != undefined && status != null && status.toLowerCase() == "approved") {
            bootbox.confirm({
                message: "Are you sure you want to revise this header?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        //clearTable(); // Remove this line if attachments should be carried forward
                        $("#ddlApprover").removeAttr("disabled", true);
                        $("#btnSend").show();
                        submit(frmSaveHeaderValue, status);
                        return true;
                    }
                    else
                        return false;
                }

            });
        }
        else
            return true;
    }

    function ReviseHeaderCallBack() {
        var url = WebsiteURL + "/OPC/Maintain/GetOPCDetails?Id=" + @Model.HeaderId;
        window.setTimeout("window.location.href ='"+ url +"'", 2000);
    }

    function submit(noRedirect) {
        $.ajax({
            url: WebsiteURL + '/OPC/Maintain/SaveHeader',
            data: {
                HeaderId: $("#hfHeaderId").val(),
                Project: $("#Project").val(),
                Customer: $("#Customer").val(),
                Document: $("#Document").val(),
                RevNo: $("#RevNo").val(),
                ReviseRemark: $("#ReviseRemark").val(),
                ProcessLicensor: $("#ProcessLicensor").val(),
                Product: $("#Product").val(),
                ApprovedBy: $("#ApprovedBy").val(),
            },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key) {
                    NoRedirectURL=noRedirect;
                    if (data.status != "" && data.Revision != "") {
                        $("#lblStatus").text(data.status);
                        $("#RevNo").val(data.Revision);
                        $("#txtRevNo").val("R" + data.Revision);
                    }
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#btnSend").show();
                    $("#hfHeaderId").val(data.HeaderId);
                    //UpdateFolderPathAndSave@(FileUpload1ID)("OPC001/" + $("#hfHeaderId").val() + "/R" + $("#RevNo").val());
                    UploadFileToServerFromDropzone('@(FileUpload1ID)', data.HeaderId, 'OPC001//' + data.HeaderId + '//R' + data.RevNo);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    return false;
                }
            }
        });
    }

    function sendforapproval(headerid) {
        $.ajax({
            url: WebsiteURL + '/OPC/Maintain/sentForApproval',
            data: { headerid: headerid },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    window.setTimeout('window.location.href = "'+WebsiteURL + '/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID"', 2000);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Maintain Operation Cards</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <div class="disableConntrol">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="form-group">
                                        @Html.Hidden("hfApp")
                                        @Html.Hidden("hfHeaderId")
                                        @Html.Hidden("hfProject")
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Project
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="">
                                                    <input type="text" readonly name="txtProject" id="txtProject" class="class = form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.Project, new { })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Customer <span class="required"> * </span>
                                                </label>
                                                <div class="">
                                                    @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                    @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Document No
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Product
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Revison
                                                </label>
                                                <div class="">
                                                    <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                                    @Html.HiddenFor(m => m.RevNo)
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">
                                                    Process Licensor
                                                </label>
                                                <div class="">
                                                    @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Revision Remark<span class="required">*</span></label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReviseRemark, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label class="control-label">Return Remark</label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.ReturnRemark, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divPDNIdenticalproject"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 right" id="ddlApp" style="display:block">
                                                <label class="control-label">Approver<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                                    @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Attachment Detail</legend>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div style="padding-left:2.2em; padding-right:3.9em">
                                                @*@Html.Partial("_BigAttachmentPartial", new AttachmentPartialModel("OPC001/" + @Model.HeaderId + "/R" + @Model.RevNo)
                                           {
                                               ViewOnly = (Model.Status.Equals(clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue()) || Model.Status.Equals(clsImplementationEnum.CommonStatus.Approved.GetStringValue())),
                                           })*@
                                                <div id="dv@(FileUpload1ID)"></div>
                                            </div>
                                            <div id="docMessage" class="col-md-12 note note-success" style="display:none;"></div>
                                        </div>

                                        <div class="col-md-12">
                                            <hr />
                                            <div class="col-md-12" style="text-align:right">
                                                <button class="btn save" type="button" id="btnSave">Save</button>
                                                <button class="btn submit" type="button" id="btnSend" style="display:none;">Submit</button>
                                                @{
                                                    if (Model.Status == clsImplementationEnum.CommonStatus.Approved.GetStringValue() && ViewBag.IsReviseBtnEnabled)
                                                    {
                                                        <a class="btn revise" id="btnRevise">Revise</a>
                                                    }
                                                    if (Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue())
                                                    {
                                                        <a class="btn retract" id="btnRetract">Retract</a>
                                                    }
                                                }
                                                <a href="~/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID" class="btn back">Back</a>
                                                <a href="~/OPC/Maintain/index" class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                                                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        LoadFileUpload1();
    });

    function LoadFileUpload1() {
        var showAttachmentbtn = ('@((Model.Status == clsImplementationEnum.CommonStatus.Approved.GetStringValue() ||
                                    Model.Status == clsImplementationEnum.CommonStatus.SendForApprovel.GetStringValue()))'.toLowerCase() == 'false');

        @*var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ID)', '@FileUpload1ID');
        objFileUpload1.ShowDeleteAction = showAttachmentbtn;
        objFileUpload1.ShowAttachmentBtn = showAttachmentbtn;
        objFileUpload1.SuccessCallbackFunction="SubmitSuccessCalbackFun()";
        objFileUpload1.IsRequired = true;
        if('@Model.HeaderId'>0){
            objFileUpload1.FolderPath="OPC001/" + '@Model.HeaderId' + "/R" + '@Model.RevNo';
            objFileUpload1.ShowUploadBtn=true;
        }
        else{
            objFileUpload1.FolderPath="";
            objFileUpload1.ShowUploadBtn=false;
        }

        LoadFileUploadPartialView(objFileUpload1);*@

        var objFile = {
            TableName: 'OPC001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo',
            TableId: '@Model.HeaderId',
            Path: 'OPC001//' + '@Model.HeaderId' + '//R' + '@Model.RevNo'+'//1',
            ControlID: '@(FileUpload1ID)',
            ViewerId: 1,
            IsMultipleUploaded: true,
            ShowDeleteAction: showAttachmentbtn,
            ShowDownloadBtn: false,
            ShowAttachmentBtn: showAttachmentbtn,
            SuccessCallbackFunction: "SubmitSuccessCalbackFun()"
        };

        Load_File_Upload_Partial_View(objFile, 'dv@(FileUpload1ID)', false);

    }

    function SubmitSuccessCalbackFun(){
        if (NoRedirectURL != true) {
            NoRedirectURL=false;
            if ($("#hfHeaderId").val() == 0)
                window.setTimeout('window.location.href = "'+WebsiteURL + '/PDIN/Maintain/Create?HeaderID=@ViewBag.PlanningDinID"', 2000);   // window.setTimeout('window.location.href = "/OPC/Maintain/Index"', 2000);
            else
                window.setTimeout('window.location.href = "'+WebsiteURL + '/OPC/Maintain/GetOPCDetails?Id="' + $("#hfHeaderId").val() + '"', 2000);
        } else {
            NoRedirectURL=false;
            sendforapproval($("#hfHeaderId").val());
        }
    }
</script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>