﻿
@{
    ViewBag.Title = "ARMRevDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using IEMQSImplementation
@model CRS001_Log

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {

        $('#ddlProject').select2();
        if(parseInt($("#txtHeaderId").val()) > 0)
        {
            $("#txtARMType").val('@Model.ARMType');
            $("#txtContractNo").val('@ViewBag.ContractDesc');
            $("#txtCustomer").val('@ViewBag.CustomersDesc');
        }

        if(parseInt($("#txtHeaderId").val()) > 0)
        {
           LoadPreValueSelect2("/CRS/MaintainARM/GetProjectByContractOnEdit", $("#ddlProject"), '--Select Project--', { param: '@Model.ContractNo' });
            var lstResult =  @Html.Raw(Json.Encode(@ViewBag.Project));
            $("#ddlProject").val(lstResult).trigger('change');
            //("#ddlProject").attr('disable','disable');
            $("#ddlProject").attr("disabled", true);
           // $("#ddlProject").select2().enable(false);
        }


        $("#btnClose").click(function(){
            window.location.href=WebsiteURL +"/CRS/ApproveARM/Index"
        });

        $("#btnBack").click(function(){
            window.location.href=WebsiteURL +"/CRS/MaintainCinReport/CINDetails?CINId=" + '@ViewBag.CINId';
        });

    });

    function LoadSelect2DropDownProject(url, objControl, placeHolder, condParam) {
        objControl.select2({
            placeholder: placeHolder,
            delay: 250,
            allowClear: true,
            minimumInputLength: 0,
            ajax: {
                url: WebsiteURL + url,
                type: "POST",
                dataType: 'json',
                async:false,
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page,
                        param: condParam
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            }
        });
    };

</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body" id="divARMDetails">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">ARM Revision Details</span>
                    </div>
                    @{
            if (!string.IsNullOrWhiteSpace(Model.Status))
            {
        <div class="ribbon ribbon-right ribbon-color-warning">
            <span style="font-weight:bolder">
                Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
            </span>
        </div>
            }
                    }
                </div>
                <div id="dvHeader">

                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
            {
        <input type="hidden" id="hdBUs" name="hdBUs" value="@ViewBag.strBUs" />
        @Html.HiddenFor(m => m.Id, new { @id = "txtId" })
        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
        @Html.HiddenFor(m => m.Status)
        <div class="form-group">
            <div class="col-md-12">
                <fieldset>
                    <legend>ARM Detail</legend>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label class="control-label">ARM Set</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ARMSet, new { @class = "form-control col-md-3", @readOnly = "readOnly" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">ARM Type</label>
                                <div class="">
                                    <input type="text" id="txtARMType" name="txtARMType" placeholder="Select ARM Type" class="form-control col-md-3" readOnly="readOnly" />
                                    @Html.HiddenFor(m => m.ARMType)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">ARM Desc</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ARMDesc, new { @class = "form-control col-md-3", @readOnly = "readOnly" })
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label class="control-label">Contarct No.</label>
                                <div class="">
                                    <input type="text" id="txtContractNo" value="" name="txtContractNo" class="form-control col-md-3" placeholder="Select Contract" readOnly="readOnly" />
                                    @Html.HiddenFor(m => m.ContractNo)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Customer</label>
                                <div class="">
                                    <input type="text" id="txtCustomer" value="" name="txtCustomer" class="form-control col-md-3" placeholder="Select Customer" readonly="readonly" />
                                    @Html.HiddenFor(m => m.Customer)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">ARM Rev No</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.ARMRevision, new { @class = "form-control col-md-3", @readOnly = "readOnly" })
                                </div>
                            </div>
                            <div class="col-md-2" style="display:none;">
                                <label class="control-label">Rev No</label>
                                <div class="">
                                    @Html.TextBoxFor(model => model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">Project - Description</label>
                                <div class="">
                                    <select name="ddlProject" id="ddlProject" multiple="multiple" style="width:100%" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Reason of Revision</label>
                                <div class="">
                                    @Html.TextAreaFor(model => model.ReasonOfRevsion, new { @class = "form-control col-md-3", @readOnly = "readOnly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">Return By Reviewer</label>
                                <div class="">
                                    @Html.TextAreaFor(model => model.ReturnReviewerRemark, new { @class = "form-control col-md-3", @readOnly = "readOnly", @style = "height:35px;" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">Return By Approver</label>
                                <div class="">
                                    @Html.TextAreaFor(model => model.ReturnApproverRemarks , new { @class = "form-control col-md-3", @readOnly = "readOnly", @style = "height:35px;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12">
                                @Html.Partial("_AttachmentPartial")
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align:right;">
                            <input type="button" class="btn btnclose" id="btnClose" value="Close" />
                            <input type="button" class="btn back" id="btnBack" value="Back" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        }
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if(parseInt($("#txtHeaderId").val()) > 0)
        {
            setAttachmentsInHeader("CRS001/"+parseInt($("#txtHeaderId").val()) + "/R" +$("#RevNo").val(),true);
        }
        $('#btnAttach').remove();
    });
</script>
<style>
    .select2-container--bootstrap .select2-selection {
        overflow-y: auto !important;
        max-height: 71px;
        height: 71px;
    }
</style>
