﻿@using IEMQSImplementation
<script>
    var isVisible = false;

    $("#btnApproveSelected").click(function () {
        var arrayHeaderIds = new Array();
        // Iterate over all checkboxes in the table
        $('input[class="clsCheckbox"]', $('#tblApproveWPSHeader')).each(function () {
            if (this.checked) {
                var headerId = $($(this)).closest('tr').find("td").eq(1).text();
                arrayHeaderIds.push(headerId);
            }
        });
        
        if (arrayHeaderIds.length > 0) {
            var strHeaderIds = arrayHeaderIds.join(",");
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WPS/ApproveWPSHeader/ApproveWPSHeader",
                datatype: 'json',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { strHeaderIds: strHeaderIds },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $(".example-select-all").prop('checked', false);
                        //$("#divApproveLines").hide();
                        // window.location.href = '/CTQ/ApproveCTQ/Index';
                    }
                    else {
                        if (data.IsInformation) {
                            DisplayNotiMessage("info", data.Value, "Information");
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                    //$('#tblCTQHeaderLines').DataTable().ajax.reload();
                    $('#tblApproveWPSHeader').DataTable().ajax.reload();
                },
                error: function () {
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please Select QualityId Header First", "Error");
        }
    });

    var table = $('#tblApproveWPSHeader');
    var oTableHeader = table.dataTable({
        "language": {
            "aria": {
                "sortAscending": ": activate to sort column ascending",
                "sortDescending": ": activate to sort column descending"
            },
            "emptyTable": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "infoEmpty": "No entries found",
            "infoFiltered": "(filtered1 from _MAX_ total entries)",
            "lengthMenu": "_MENU_ entries",
            "search": "Search:",
            "zeroRecords": "No matching records found"
        },
        "bProcessing": true,
        "bServerSide": true,
        "stateSave": false,
        buttons: [],
        responsive: true,
        "order": [
            [0, 'asc']
        ],
        "lengthMenu": [
            [5, 10, 25, 50, 100],
            [5, 10, 25, 50, 100]
        ],
        "pageLength": 10,
        'iDisplayLength': 10,
        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
        "sAjaxSource": WebsiteURL + "/WPS/ApproveWPSHeader/LoadWPSHeaderDataTable?status=" + '@ViewBag.status',
        "fnServerParams": function (aoData) {
            aoData.push({ "name": "type", "value": "sdf" }
                        );
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': function (data) {
                    fnCallback(data);
                    if (data.iTotalRecords > 0) {
                        $("#btnApproveSelected").show();
                        isVisible = true;
                    }
                    else {
                        $("#btnApproveSelected").hide();
                        isVisible = false;
                    }
                    $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                    $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                },
                'async': false
            });
        },
        "aoColumns": [
            {
                'targets': 0,
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "center",
                'render': function (data, type, full, meta) {
                    var label = "";
                    //if (data.toLowerCase() == "true")
                    //    label += '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    //else
                    //    label += '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox" disabled="disabled"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                }
            },
            {
                "sClass": "hide",
                "bSortable": false,
            },
            {
                "sClass": "center",
                "name": "WPSNumber",
            },
            {
                "sClass": "center",
                "name": "JointType",
            },
            {
                "sClass": "center",
                "name": "WPSRevNo",
            },
            {
                "sClass": "center",
                "name": "Status",
            },
            {
                "sClass": "center",
                "name": "CreatedBy",
            },
            {
                "sClass": "center",
                "name": "CreatedOn",
            },
            {
                "sClass": "center",
                "name": "Location",
            },
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "10%",
                "render": function (data, type, row, meta) {
                    var tmpStatus = '@ViewBag.status';

                    var buttons = "";
                    buttons += '<center><a href="' + WebsiteURL + '/WPS/ApproveWPSHeader/ViewWPSHeader?headerId=' + row[1] + '&from=' + tmpStatus + '&Status='+ row[9] +'" class="btnAction iconspace" title="View" style="cursor:pointer;" name="btnAction" id="btnEdit"><i style="margin-left:5px;" class="fa fa-eye"></i></a>';
                    buttons += "<i data-modal='' id='btnWPSPrint' name='btnPS' style='cursor:pointer;' title='Print' class='fa fa-print" + (row[3] != "" ? " iconspace" : " disabledicon") + "' " + (row[3] != "" ? " onclick=WPSReport('" + row[3] + "'," + row[1] + ")" : "") + "></i>";
                    buttons += '</center>'
                    return buttons;
                }
            },

        ]
    });

    if ('@ViewBag.Status' == "Pending" && isVisible == true) {
        oTableHeader.api().column(0).visible(true);
        $("#btnApproveSelected").show();
    }
    else {
        oTableHeader.api().column(0).visible(false);
        $("#btnApproveSelected").hide();
    }

    $('#example-select-all').on('click', function () {
        var rows = oTableHeader.api().rows({ 'search': 'applied' }).nodes();
        $('input[class="clsCheckbox"][disabled !="disabled"]', rows).prop('checked', this.checked);
    });

    // Handle click on checkbox to set state of "Select all" control
    $('#tblApproveWPSHeader tbody').on('change', 'input[type="checkbox"]', function () {
        // If checkbox is not checked
        if (!this.checked) {
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if (el && el.checked && ('indeterminate' in el)) {
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    });

    function WPSReport(name, headerid) {
        $.ajax({
            url: WebsiteURL + "/WPS/MaintainWPSHeader/GetRequiredFieldsForJointType",
            type: "POST",
            data: { headerId: headerid },
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            dataType: 'json',
            success: function (res) {
                //console.log(res);
                if (res.Key) {
                    //requiredColumn = true;

                    if (name.toLowerCase() == ("Groove/Fillet").toLowerCase())
                        url = "/WPS/WPS Groove Fillet";
                        //else if (name.toLowerCase() == ("Overlay/HardFacing").toLowerCase())
                    else if (name.toLowerCase() == ("Overlay").toLowerCase())
                        url = "/WPS/WPS Overlay";
                    else if (name.toLowerCase() == ("T#TS").toLowerCase())
                        url = "/WPS/WPS Tube Tubesheet";
                    else if (name.toLowerCase() == ("buttering").toLowerCase())
                        url = "/WPS/WPS Buttering";

                    var dat = [];
                    dat.push({ Param: "HeaderId", Value: headerid });

                    ShowReport(dat, url, true);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (er) {
                alert(er);
            }
        });

    }

</script>


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    WPS List
                </div>
                <div class="tools" id="dvExportHeader">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPS/MaintainWPSHeader/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblApproveWPSHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th class="all">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                    <span></span>
                                </label>
                            </th>
                            <th style="display:none;">HeaderId</th>                            
                            <th class="min-phone-l">WPSNumber</th>
                            <th class="min-phone-l">JointType</th>
                            <th class="min-phone-l">RevNo.</th>
                            <th class="min-phone-l">Status</th>
                            <th class="min-phone-l">Created By</th>
                            <th class="min-phone-l">Created On</th>
                            <th class="min-phone-l">Location</th>
                            <th class="min-phone-l">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="text-align:right;">
        <button id="btnApproveSelected" type="button" class="btn blue">Approve</button>
    </div>
</div>
