﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
    $(document).ready(function () {

        if (IsDisplayOnly) {
            $("#spanLabel").html("Display DIN ");
            GetHeaderGridDataPartial('All');
            $("#portlet_comments_1").addClass("active");
            $("#portlet_comments_2").removeClass("active");
        }
        else {
            GetHeaderGridDataPartial('Pending');
            $("#portlet_comments_1").addClass("active");
            $("#portlet_comments_2").removeClass("active");
        }

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });
    });

    function GetHeaderGridDataPartial(status) {
        var title = '@ViewBag.Title';

        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WDN/MaintainWDN/GetGridDataPartial",
            datatype: 'html',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status, title: title, IsDisplayOnly: IsDisplayOnly },
            success: function (result) {
                if (IsDisplayOnly) {
                    $("#dvDisplay").html(result);
                }
                else {
                    if (status == "Pending") {
                        $("#portlet_comments_1").html(result);
                    }
                    else {
                        $("#portlet_comments_2").html(result);
                    }
                }
            },
            error: function () {
            }
        });
    }

</script>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <span id="spanLabel">@Html.Raw((String)ViewBag.Title)</span>
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                                {
                                    <a href="~/WDN/MaintainWDN/WDNDetails/0" style="float: right;" class="btn green">Add New</a>
                                }
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                    {
                        <ul class="nav nav-tabs">
                            <li class="active" id="liPending">
                                <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                            </li>
                            <li id="liAll">
                                <a href="#portlet_comments_2" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                            </li>
                        </ul>
                    }
                </div>
                <div class="portlet-body">
                    @if (ViewBag.IsDisplayOnly.ToString().ToLower() != "true")
                    {
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_comments_1">
                            </div>
                            <div class="tab-pane" id="portlet_comments_2">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="dvDisplay"></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/datatable/js")