﻿@using IEMQSImplementation
@using System.Configuration
@model IEMQSImplementation.WDN001

@{
    ViewBag.Title = "WDNDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadLineID = "fuline";
    bool IsDisplayOnly = (bool)ViewBag.IsDisplayOnly;
}
@Styles.Render("~/Content/Datatable/css")
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/leaflet/leaflet.css" rel="stylesheet" />
<script src="~/Scripts/leaflet/leaflet.js"></script>

<link href="~/Content/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />

<style>
    .hasattachment {
        color: #32CD32;
    }

    .table-scrollable {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 10px 0 !important;
    }

    .w70 {
        width: 70% !important;
    }

    .w30 {
        width: 30% !important;
    }

    .portlet > .portlet-title > .tools > a.collapsewhite {
        width: 14px;
        visibility: visible;
    }

    .portlet > .portlet-title > .tools > a.expandwhite {
        width: 14px;
        visibility: visible;
    }

    table.dataTable thead .sorting_asc:after {
        content: "";
        text-align: left;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .portlet > .portlet-title > .tools {
        padding: 5px 0 0px;
    }

    .searchPad {
        height: 30px;
        padding: 0px 22px;
    }

    .jstree-default .jstree-search {
        font-style: normal;
        font-weight: 700;
        background: #c1f6df;
        color: #000000;
    }

    .fa_danger {
        color: #ed6b75;
    }

    .fontf {
        font-size: 12px;
    }

    .portlet-maximize {
        position: relative;
        z-index: 9995;
        overflow: hidden;
    }

        .portlet-maximize > .portlet-body {
            height: 95vh;
            overflow: auto;
        }

    .sketch-body {
        min-height: 600px;
        max-height: 600px;
        overflow: hidden;
    }

    .quick-nav:not(.nav-is-visible) .quick-nav-bg {
        position: initial;
        width: 35px;
        height: 30px;
        box-shadow: unset;
        z-index: unset;
    }

    .quick-nav:not(.nav-is-visible) .quick-nav-trigger {
        display: none;
    }

    .colorindication {
        padding: 40px 0 0 !important;
        width: 626px;
    }

    .fa-backcolor {
        background: #d6fcff !important;
        width: 97.5%;
    }

    .mt-radio > span::after {
        background: #0fabab;
    }
</style>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Welding DIN</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                    </div>
                </div>

                <div id="dvHeader">
                    <form id="formwdn" class="form-horizontal">
                        @Html.HiddenFor(m => m.HeaderId)
                        @Html.HiddenFor(m => m.Status)
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">Location<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Location, "", new { @class = "form-control col-md-4", @placeholder = "select" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtProject" name="txtProject" class="form-control col-md-3" placeholder="--Select Project--" colname="Project" />
                                                @Html.HiddenFor(m => m.Project)
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">IssueNo<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.IssueNo, "", new { @class = "form-control col-md-4", @placeholder = "IssueNo", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <label class="control-label">Identical Project</label>
                                            <div class="">
                                                <select name="IProject" id="IProject" multiple="multiple" style="width:100%" class="form-control notrequired"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Departments</label>
                                            <div class="">
                                                <select name="Departments" id="Departments" multiple="multiple" style="width:100%" class="form-control notrequired"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3 hide">
                                            <label class="control-label">Customer/TPIA </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CustTPIA, "", new { @class = "form-control col-md-4", @maxlength = "50" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            @*<label class="mt-checkbox mt-checkbox-outline" for="CodeStamp">
                                                    @Html.CheckBox("CodeStamp", new { })
                                                    <span></span> Code Stamp
                                                </label>*@

                                            <div class="form-group form-md-checkboxes">
                                                <label></label>
                                                <div class="md-checkbox-inline">
                                                    <div class="md-checkbox">
                                                        <input type="checkbox" name="rdflagType" id="rdCodeStamp" onchange="$('#rdSafetyNuclear').prop('checked',false)" class="md-check" data-value="CodeStamp" value="CodeStamp" />
                                                        <label for="rdCodeStamp">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Code Stamp
                                                        </label>
                                                    </div>

                                                    <div class="md-checkbox">
                                                        <input type="checkbox" name="rdflagType" id="rdSafetyNuclear" onchange="$('#rdCodeStamp').prop('checked', false)" class="md-check" data-value="SafetyNuclear" value="SafetyNuclear" />
                                                        <label for="rdSafetyNuclear">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Safety-Nuclear
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (IsDisplayOnly)
                                    {
                                        <div class="col-md-12">
                                            <div class="col-md-12" style="text-align:right; margin-top: 27px;">
                                                <a href="~/WDN/MaintainWDN/DisplayWDN" class="btn btnclose">Close</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12">
                                            <div class="col-md-6" style="text-align:left; margin-top: 27px;">
                                                @*<button class="btn icons" type="button" id="btnHistoryData" title="History"><i class="fa fa-history"></i></button>*@
                                                @if ((bool)ViewBag.IsMaxIssueNoHeaderId)
                                                {
                                                    <button class="btn icons" type="button" id="btnCopy" title="Copy"><i class="fa fa-files-o"></i></button>
                                                }
                                                @*<button class="btn icons" type="button" id="btnPrint" title="Print"><i class="fa fa-print"></i></button>*@
                                            </div>
                                            <div class="col-md-6" style="margin-top: 27px; text-align:right;">
                                                @if (Model.Status == clsImplementationEnum.PlanningDinStatus.Draft.GetStringValue())
                                                {
                                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                                    <input type="button" class="btn release" id="btnRelease" value="Release" />
                                                }
                                                else if (Model.Status == clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue() && (bool)ViewBag.IsMaxIssueNoHeaderId)
                                                {
                                                    <input type="button" class="btn revise" id="btnRevise" value="Revise" />
                                                }
                                                @if (ViewBag.IsDisplayOnly.ToString().ToLower() == "true")
                                                {
                                                    <a href="~/WDN/MaintainWDN/DisplayWDN" class="btn btnclose">Close</a>
                                                }
                                                else
                                                {
                                                    <a href="~/WDN/MaintainWDN" class="btn btnclose">Close</a>
                                                }
                                                @*<a class="btn icons" id="btnPrint" title="Print" style=""><i class="fa fa-print"></i></a>*@
                                            </div>
                                        </div>
                                    }
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="dvLines" class="hide">
                    <form id="frmDetail" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span id="spnGridTitile">Document List</span>
                                            </div>
                                            <div class="tools" id="dvExportHeader"></div>
                                        </div>
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-hover" width="100%" id="tblDocumentList" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="hide">Id</th>
                                                        <th class="all">Document Name</th>
                                                        <th class="all">Document No</th>
                                                        <th class="all">Last Rev No</th>
                                                        <th class="all">Latest Rev</th>
                                                        @*<th class="all">Department1</th>
                                                            <th class="all">Department2</th>
                                                            <th class="all">Department3</th>
                                                            <th class="all">Department4</th>
                                                            <th class="all">Department5</th>
                                                            <th class="all">Department6</th>
                                                            <th class="all">Department7</th>
                                                            <th class="all">Department8</th>
                                                            <th class="all">Department9</th>
                                                            <th class="all">Department10</th>
                                                            <th class="all">Department11</th>
                                                            <th class="all">Department12</th>
                                                            <th class="all">Department13</th>
                                                            <th class="all">Department14</th>
                                                            <th class="all">Department15</th>*@
                                                        <th class="all"> Notes</th>
                                                        <th class="all">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="portlet light">
                                        <!-- START ADD LINE MODAL-->
                                        <div id="dv@(FileUploadLineID)"></div>
                                        <!-- END ADD LINE MODAL-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;

    var tbldenlist = 'tblDocumentList';
    var CodeStamp = false, SafetyNuclear = false;
    $(document).ready(function () {
        if (parseInt($("#HeaderId").val()) > 0) {
            $("#Location").attr("disabled", "disabled");
            $("#txtProject").attr("disabled", "disabled");
            //$("#IProject").attr("disabled", "disabled");
            $("#txtProject").val(@Html.Raw(Json.Encode(ViewBag.Project)));
            //BindIProject()
            GenerateTableWithUtility();
        }
        else {
            $("#Location").removeAttr("disabled");
            $("#txtProject").removeAttr("disabled");
            //$("#IProject").removeAttr("disabled");
            $("#btnRelease").hide();
        }
        if ($("#Status").val() == '@clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue()' || IsDisplayOnly) {
            $('#IProject,#Departments,#CustTPIA').attr("disabled", "disabled");
            $('input[name=rdflagType]').attr('disabled', true);
        }

        if ('@Model.IssueNo' > 1) {
            $('input[name=rdflagType]').attr('disabled', true);
        }
        $('#formwdn').validate({
            rules: {
                Location: { required: true },
                txtProject: { required: true },
                Project: { required: true },
                IssueNo: { required: true },
                //IProject: { required: true },
            },
            messages: {
                Location: { required: "Location is Required" },
                txtProject: { required: "Project is Required" },
                Project: { required: "Project is Required" },
                IssueNo: { required: "IssueNo is Required" },
                //IProject: { required: "Identical Project is Required" },
            }
        })

        $('#frmDetail').validate({
            rules: {
                DocumentDesc0: { required: true },
                DocumentNo0: { required: true },
                RevNo0: { required: true },
            },
            messages: {
                DocumentDesc0: { required: "Doc Desc is Required" },
                DocumentNo0: { required: "Doc No is Required" },
                RevNo0: { required: "Rev No is Required" },
            }
        })

        $("#IProject").change(function () {
            HighlightInValidateSelect2();
        });

        LoadPreWDNValueSelect2("/WDN/MaintainWDN/GetProjectResult", $('#IProject'), "--Select Project--", '');
        LoadPreWDNValueSelect2("/WDN/MaintainWDN/GetDepartmentsForDropdown", $('#Departments'), "--Select Departments--", '');

        var IProject = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.IProject))));
        var Departments = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.Departments))));

        if (IProject != null) {
            $('#IProject').val(LoadMultiSelect2OnEdit(IProject)).trigger('change');
        }
        if (Departments != null) {
            $('#Departments').val(LoadMultiSelect2OnEdit(Departments)).trigger('change');
            if ('@Model.DeptDef' != "" && '@Model.DeptDef' != null && '@Model.DeptDef' != undefined) {
                var DeptDef = LoadMultiSelect2OnEdit('@Model.DeptDef');
                for (var i = 0; i < DeptDef.length; i++) {
                    var str = $("option[value=" + DeptDef[i] + "]").html();
                    str = str.replace(/&amp;/g, '&')
                    $(".select2-selection__choice[title='" + str + "']").attr("style", "border: 1px solid #6d76dd !important;");
                }
            }
        }
        if ('@Model.CodeStamp' == "true" || '@Model.CodeStamp' == "True") {
            Radiobutton("CodeStamp");
        }
        if ('@Model.SafetyNuclear' == "true" || '@Model.SafetyNuclear' == "True") {
            Radiobutton("SafetyNuclear");
        }
        var rdflagType = $('input[name=rdflagType]:checked').val();
        Radiobutton(rdflagType);
        $('input[name=rdflagType]').change(function () {
            Radiobutton($('input[name=rdflagType]:checked').val());
        });
        if ($("#Status").val() == '@clsImplementationEnum.PlanningDinStatus.Draft.GetStringValue()' && !$('input[name=rdflagType]:checked').val()) {
            $('input[name=rdflagType]').attr('disabled', false);
        }

        $("#Departments").change(function () {
            if ($("#HeaderId").val() > 0) {
                if (Departments != $("#Departments").val()) {
                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/WDN/MaintainWDN/UpdateWDINDepartment",
                        datatype: 'json',
                        async: false,
                        data: { project: $('#Project').val(), department: $("#Departments").val().join(',') },
                        success: function (result) {
                            if (result.Key) {
                                Departments = $("#Departments").val().join(",");
                                //DisplayNotiMessage("success", result.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", result.Value, "Error");
                                var OldDept = Departments.split(",");
                                $("#Departments").val(OldDept).trigger('change');
                            }
                        },
                        error: function (result) {
                            DisplayNotiMessage("error", result.Value, "Error");
                        }
                    });
                }
            }
            HighlightInValidateSelect2();
        });

        $("#Location").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/CTQ/DepartmentMaster/GetLocation",
                    dataType: "json",
                    type: "POST",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Value, value: item.Value, id: item.Value };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $("#Location").val(ui.item.label);
                    LoadPreWDNValueSelect2("/WDN/MaintainWDN/GetDepartmentsForDropdown", $('#Departments'), "--Select Departments--", '');
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $("#Location").val('');
                }
                $("#txtProject").val('');
                $("#Project").val('');
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/WDN/MaintainWDN/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    data: {
                        term: request.term,
                        location: $("#Location").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription, id: item.Value };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    $("#txtProject").val('');
                    $("#Project").val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    $("#txtProject").val(ui.item.label);
                    $("#Project").val(ui.item.id);
                    //$("#IProject").val('').trigger('change');
                    BindIProject();
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });


        $("#txtProject").blur(function () {
            var project = $('#Project').val().split('-')[0].trim();
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WDN/MaintainWDN/GetHeaderData",
                data: { project: project, location: $("#Location").val() },
                datatype: 'html',
                success: function (data) {
                    if (!data.Key) {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                },
                error: function () {
                }
            });
        });

        $("#btnSave").click(function () {
            if ($("#formwdn").valid()) {

                var formData = new FormData();
                var frmValues = $("#formwdn").serializeArray();

                $.each(frmValues, function (key, input) {
                    if (input.name == "Departments" && $("#Departments").val()) {
                        formData.append(input.name, $("#Departments").val().join(","));
                    } else {
                        formData.append(input.name, input.value);
                    }
                });
                var arr = $("#IProject").val();
                if (arr) {
                    var str = arr.join(",");
                    formData.append("IProjectt", str);
                }
                formData.append("CodeStamp", CodeStamp);
                formData.append("SafetyNuclear", SafetyNuclear);
                $.ajax({
                    url: WebsiteURL + '/WDN/MaintainWDN/SaveNewRecord',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    datatype: "json",
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            $("#HeaderId").val(data.HeaderId);
                            DisplayNotiMessage("success", data.Value, "Success");
                            showLoading(true);
                            window.setTimeout(function () {
                                window.location.href = WebsiteURL + "/WDN/MaintainWDN/WDNDetails/" + data.HeaderId
                            }, 1000);
                        }
                        else {
                            DisplayNotiMessage("error", data.Value, "Error");
                        }
                    }
                });
            }
        });

        $("#btnCopy").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/WDN/MaintainWDN/CopyWDNPartial",
                datatype: 'html',
                async: false,
                data: { location: $("#Location").val(), HeaderId: $("#HeaderId").val(), Project: $("#Project").val() },
                success: function (data) {
                    bootbox.dialog({
                        title: "Copy To",
                        message: data,
                        size: "large",
                        buttons: {
                            Copy: {
                                Label: "Copy",
                                className: 'btn green',
                                callback: function () {

                                    if ($("#frmCopyProject").valid()) {
                                        CopyToDestination($("#HeaderId").val(), $("#txtDestProject").val(), $("#txtDestLocation").val(), $("#txtSourceProject").val(), $("#txtSourceLocation").val());
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn red',
                                callback: function () { }
                            }
                        }
                    })
                }
            })
        });
        $('#btnPrint').click(function () {
            bootbox.dialog({
                title: 'Welding DIN Print',
                message: "Do you want to print Welding DIN?",
                buttons: {
                    'confirm': {
                        label: 'Yes',
                        className: 'btn green',
                        callback: function () {
                            window.open(WebsiteURL + "/WDN/MaintainWDN/PrintWDIN?HeaderId=" + $("#HeaderId").val(), '_blank');
                        }
                    },
                    'cancel': {
                        label: 'No',
                        className: 'btn red'
                    }
                }
            });
            return false;
        });
        $("#btnRelease").click(function () {
            bootbox.confirm({
                message: "Are you sure you want to release DIN?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: WebsiteURL + '/WDN/MaintainWDN/ReleaseWDIN',
                            data: { HeaderId: $("#HeaderId").val() },
                            type: 'POST',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", data.Value, "Success");
                                    showLoading(true);
                                    window.setTimeout(function () {
                                        window.location.reload();
                                    }, 1000);
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        });
                    }
                }
            });
        })

        $("#btnRevise").click(function () {
            bootbox.confirm({
                message: "Are you sure you want to revise DIN?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: WebsiteURL + '/WDN/MaintainWDN/ReviseDIN',
                            data: { HeaderId: $("#HeaderId").val() },
                            type: 'POST',
                            beforeSend: function () {
                                showLoading(true);
                            },
                            complete: function () {
                                showLoading(false);
                            },
                            success: function (data) {
                                if (data.Key) {
                                    DisplayNotiMessage("success", "WDIN Revise Successfully!", "Success");
                                    showLoading(true);
                                    window.setTimeout(function () {
                                        window.location.href = WebsiteURL + "/WDN/MaintainWDN/WDNDetails/" + data.Value;
                                    }, 1000);
                                }
                                else {
                                    DisplayNotiMessage("error", data.Value, "Error");
                                }
                            }
                        });
                    }
                }
            });
        })

    })

    function LoadPreWDNValueSelect2(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            dataType: "json",
            type: "POST",
            data: { location: $("#Location").val(), project: $("#Project").val() },
            async: false,
            success: function (data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].Value + "'>" + data[i].Text + "</option>";
                }
                $(objControl).html(str);
                objControl.select2({ placeholder: caption });
            }
        })
    };

    function LoadPreDeptValueSelect2(url, objControl, caption, param) {
        $.ajax({
            url: WebsiteURL + url,
            dataType: "json",
            data: { location: $("#Location").val() },
            async: false,
            success: function (data) {
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += "<option value='" + data[i].Value + "'>" + data[i].Text + "</option>";
                }
                $(objControl).html(str);
                objControl.select2({ placeholder: caption });
            }
        })
    };

    function BindIProject() {
        $("#IProject").find('option').remove();
        $.ajax({
            url: WebsiteURL + "/WDN/MaintainWDN/GetProjectResult",
            dataType: "json",
            type: "POST",
            delay: 250,
            data: {
                term: "",
                location: $("#Location").val(),
                project: $("#Project").val()
            },
            success: function (data) {
                if (data.length > 0) {
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        str += "<option value='" + data[i].Value + "'>" + data[i].Text + "</option>";
                    }
                    $("#IProject").append(str);
                    $("#IProject").select();
                }
                else {
                    isSelected = false;
                }
            }
        });
    }


    function GenerateTableWithUtility() {
        $("#dvLines").removeClass("hide");
        Params = {
            sUrl: "/WDN/MaintainWDN/LoadDataGridData",
            aoColumns: [
                            { "bSortable": "false", "sClass": "hide", "name": "LineId" },
                            { "sClass": "center", "name": "DocumentDesc" },
                            { "sClass": "center", "name": "DocumentNo" },
                            { "sClass": "center", "name": "Lastrevno" },
                            { "sClass": "center", "name": "RevNo" },

                            /*{ "sClass": "center", "name": "Department1" },
                            { "sClass": "center", "name": "Department2" },
                            { "sClass": "center", "name": "Department3" },
                            { "sClass": "center", "name": "Department4" },
                            { "sClass": "center", "name": "Department5" },

                            { "sClass": "center", "name": "Department6" },
                            { "sClass": "center", "name": "Department7" },
                            { "sClass": "center", "name": "Department8" },
                            { "sClass": "center", "name": "Department9" },
                            { "sClass": "center", "name": "Department10" },

                            { "sClass": "center", "name": "Department11" },
                            { "sClass": "center", "name": "Department12" },
                            { "sClass": "center", "name": "Department13" },
                            { "sClass": "center", "name": "Department14", },
                            { "sClass": "center", "name": "Department15" },*/
                            { "sClass": "center", "name": "Notes" },
                            { "sClass": "center", "bSortable": false }
            ]
        };

        Params.bIsSearchFilter = true;
        Params.bIsResponsive = false,
        //Params.bIsLazyLoading = true;
        //Params.bIsFixedColumn = true;
        Params.sBtnDivSelector = "#dvExportHeader";
        Params.aServerParams = [{ "name": "Headerid", "value": $("#HeaderId").val() }, { "name": "IsDisplayOnly", "value": IsDisplayOnly }]
        if (IsDisplayOnly != true && $("#Status").val() != '@clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue()')
            Params.oSRE = { sUrl: "/WDN/MaintainWDN/GetInlineEditableRow?hid=" + $("#HeaderId").val(), sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, bIsUpdateFromServer: true, bIsAddBtnNew: true };

        Params.bBtnMaximize = true;
        //Params.iFCLeft = 4;
        //Params.iFCRight = 1;

        Params.bScrollX = true;
        Params.bIsWrapHeader = false;

        $('#' + tbldenlist).dtUtility(Params);
    }

    function CallAfterLoadSRE(id) {

        $('.numeric33').autoNumeric('init', { vMin: '0', vMax: "999", aForm: "false" });

        $('#' + tbldenlist + '_wrapper').delegate(".autocomplete", "focusin", function () {

            var element = $(this);
            var hdElement = $(this).attr("hdElement");

            /*if ($(this).attr("class") == "autocomplete form-control Department") {
                SetDepartmentAutoComplete(element, hdElement)
            }*/
        });
        $('#' + tbldenlist + '_wrapper').delegate(".autocomplete:not(*[colname='PlannedReceipt'])", "focusout", function () {

            var hdElement = $(this).attr("spara");
            if (parseInt(hdElement) > 0) {
                UpdateDataa(this, hdElement, true)
            }
        });

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });
        $(".decimal").autoNumeric('init', { aSep: '', aPad: false, mDec: '3', });
        $(".numeric").autoNumeric('init', { aSep: '', aPad: false });

    }

    function SetDepartmentAutoComplete(e, headerId) {
        $(e).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/WDN/MaintainWDN/GetDepartments",
                    dataType: "json",
                    type: "POST",
                    data: {
                        search: request.term,
                        location: $("#Location").val()
                    },
                    success: function (data) {

                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text, id: item.Value };
                        }));
                    }
                });
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {

                $(this).val(ui.item.label);
                $("." + $(this).attr("id")).val(ui.item.id);
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $("." + $(this).attr("id")).val('');
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
        });
    }

    function Savedata() {
        if ($("#frmDetail").valid()) {

            $('#' + tbldenlist + '_wrapper').find("thead:eq(1) .dataTables_sizing").html('')

            var formData = new FormData();
            var frmValues = $('#frmDetail').serializeArray();

            $.each(frmValues, function (key, input) {
                formData.append(input.name, input.value);
            });
            formData.append("HeaderId", $("#HeaderId").val())
            $('#' + tbldenlist).DataTable().columns.adjust();

            $.ajax({
                url: WebsiteURL + '/WDN/MaintainWDN/SavelineNewRecord',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $("#btnNew_" + tbldenlist).click()
                        $('#' + tbldenlist).DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
        else {
            HighlightInValidControls();
            return;
        }
    }

    function ReloadGrid() {
        $('#' + tbldenlist).DataTable().ajax.reload();
    }

    function DeleteLine(Id) {
        bootbox.confirm({
            message: "Are you sure you want to delete this record?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: WebsiteURL + '/WDN/MaintainWDN/DeleteRecord',
                        data: { Id: Id },
                        type: 'POST',
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        success: function (data) {
                            if (data.Key) {
                                DisplayNotiMessage("success", data.Value, "Success");
                            }
                            else {
                                DisplayNotiMessage("error", data.Value, "Error");
                            }
                            $('#' + tbldenlist).DataTable().ajax.reload();
                        }
                    });
                }
            }
        });
    }

    function UpdateData(objColumn, rowID, isValid) {

        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");
        if ($(objColumn).attr("id").match("^txt")) {
            var elem = $(objColumn).attr("hdElement");
            columnName = $('#' + elem).attr("colname");
            columnValue = $('#' + elem).val();
        }

        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateValidData(columnName, columnValue, rowID)
        }
    }

    function UpdateDataa(objColumn, rowID, isValid) {
        var columnValue = $("." + $(objColumn).attr("id")).val();
        var columnName = $(objColumn).attr("colname");

        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateValidData(columnName, columnValue, rowID)
        }
    }

    function updateValidData(columnName, columnValue, rowID) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WDN/MaintainWDN/UpdateDetails",
            datatype: 'json',
            async: false,
            data: { id: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                }
                $('#' + tbldenlist).DataTable().ajax.reload();
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.", "Error");
            }
        });
    }

    function CopyToDestination(headerId, destProject, destLocation, souProject, souLocation) {
        $.ajax({
            url: WebsiteURL + "/WDN/MaintainWDN/CopyToDestination",
            type: 'POST',
            data: { headerId: headerId, destProject: destProject, destLocation: destLocation, souProject: souProject, souLocation: souLocation },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("success", res.Value, "Success");
                    setTimeout('window.location.href ="' + WebsiteURL + '/WDN/MaintainWDN/WDNDetails/' + res.HeaderId + '"', 2000);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            }
        });
    }
    var tempLineId;
    var tempRevId;
    function showAttachments(ctrl, revno, lineid, view, isAttachment) {
        tempLineId = lineid;
        tempRevId = revno;
        if (isAttachment == 'True') {
            bootbox.dialog({
                message: "Make sure revision number must be change before overwrite the file!!",
                buttons: {
                    'confirm': {
                        label: 'Ok',
                        className: 'btn green',
                        callback: function () {
                            attachmentPopup(ctrl, revno, lineid, view, isAttachment)
                        }
                    },
                    'cancel': {
                        label: 'Cancel',
                        className: 'btn red'
                    }
                }
            });
        }
        else {
            attachmentPopup(ctrl, revno, lineid, view, isAttachment)
        }
    }
    function attachmentPopup(ctrl, revno, lineid, view, isattachment) {
        tempLineId = lineid;
        tempRevId = revno;
        @*var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
        objFileUploadLine.ShowDeleteAction = $("#Status").val() != '@clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue()' && !IsDisplayOnly;
        objFileUploadLine.ShowAttachmentBtn = $("#Status").val() != '@clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue()' && !IsDisplayOnly;
        objFileUploadLine.FolderPath = "WDN002/" + lineid + "/R" + revno;
        objFileUploadLine.LoadInPopup = true;
        objFileUploadLine.LoadCallbackFunction = SetValues;
        objFileUploadLine.IsMultipleUploaded = false;
        objFileUploadLine.HideAttachbtnForSignleUpload = true;
        objFileUploadLine.SuccessCallbackFunction = "AttachmentSuccessCallback()";
        objFileUploadLine.DeleteSuccessCallbackFunction = "AttachmentDeleteSuccessCallback()";
        LoadFileUploadPartialView(objFileUploadLine);*@

        var IsEnable = false;
        IsEnable = $("#Status").val() != '@clsImplementationEnum.PlanningDinStatus.RELEASED.GetStringValue()' && !IsDisplayOnly;
        var vTableId = 0;
            var IsDisable = true;
            if(IsEnable){
                IsDisable = false;
            }
        vTableId = lineid;

        var objFile = {
            TableName: 'WDN002//' + lineid + '//R' + revno,
            TableId: lineid,
            Path: 'WDN002//' + lineid + '//R' + revno + '//1',
            ControlID: '@(FileUploadLineID.ToString())',
            IsMultipleUploaded: false,
            ShowDeleteAction: IsEnable,
            ShowDownloadBtn: true,
            RemoveOnlyCreatedByMe: true,
            SuccessCallbackFunction: "AttachmentSuccessCallback()",
            DeleteSuccessCallbackFunction: "AttachmentDeleteSuccessCallback()",
            LoadCallbackFunction: SetValues,
            HideAttachbtnForSignleUpload: true,
            IsRequired: false,
            ViewerId: 1,
            IsDisabled: IsDisable
        };


            Load_File_Upload_Partial_View(objFile, '@(FileUploadLineID.ToString())',true);

    }
    function AttachmentSuccessCallback() {
        $("#Attachments" + tempLineId).attr('style', 'color:#32CD32;margin-left: 0px;');
        UpdateFileAttachToLine(tempLineId, tempRevId);
    }
    function AttachmentDeleteSuccessCallback() {
        $("#Attachments" + tempLineId).attr('style', 'color:#337ab7;margin-left: 0px;');
        UpdateFileAttachToLine(tempLineId, tempRevId);
    }
    function UpdateFileAttachToLine(LineId) {
        $.ajax({
            url: WebsiteURL + '/WDN/MaintainWDN/UpdateAttachmentUploadForDocument',
            method: "POST",
            data: {
                LineId: LineId, RevId: tempRevId
            },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    bootbox.hideAll();
                    //ReloadGrid();
                } else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
    function SetValues() {
        IsCallSuccessCallbackFunc@(FileUploadLineID) = true;
    }

    function Radiobutton(value) {
        CodeStamp = false;
        SafetyNuclear = false;
        if (value == "CodeStamp") {
            CodeStamp = true;
            $("#rdCodeStamp").attr("checked", true);
        }
        if (value == "SafetyNuclear") {
            SafetyNuclear = true;
            $("#rdSafetyNuclear").attr("checked", true);
        }
    }
</script>
@Scripts.Render("~/bundles/datatable/js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>