﻿@using IEMQSImplementation
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                   Protocols
                </div>
                <div class="tools">                   
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLinkProtocol", @class = "form-horizontal" }))
                {
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblLinkProtocol" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="all">Protocol</th>                                
                                <th class="all">Description</th>                                
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<script>
    var isSeam = ('@ViewBag.isSeam' != '' || '@ViewBag.isSeam' != null) ? ('@ViewBag.isSeam'.toLocaleLowerCase() == "true" ? true : false) : false;
    $(document).ready(function () {
        setInterval(LoadData(), 1000);
    });
    function LoadData() {
        var table = $('#tblLinkProtocol');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 50,
            'iDisplayLength': 50,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamICL/LoadLinkProtocolGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "Headerid", "value": "@ViewBag.LineId" });
                aoData.push({ "name": "Flag", "value": isSeam });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [
                        {
                            "name": "ProtocolType",
                            "sWidth": "50%"
                        },
                        {
                            "name": "Description",
                            "sWidth": "50%"
                        },
                         {
                             "bSortable": false
                         }]
        });

    }
</script>