﻿

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmMultiAddDelete" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Quality Project</label>
                        <div class="">
                            <input type="text" id="txtQualityProjectMulti" value="@ViewBag.QualityProject" disabled name="txtQualityProjectMulti" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Location</label>
                        <div class="">
                            <input type="text" id="txtLocationMulti" value="@ViewBag.LocationFullName" disabled name="txtLocationMulti" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">From Seam No<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtFromSeamMulti" value="" name="txtFromSeamMulti" placeholder="Select Seam No" class="form-control col-md-4" />
                            @Html.Hidden("ddlFromSeamMulti")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">To Seam No<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtToSeamMulti" value="" name="txtToSeamMulti" placeholder="Select Seam No" class="form-control col-md-4" />
                            @Html.Hidden("ddlToSeamMulti")
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Stage Code<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtStageCodeMulti" value="" name="txtStageCodeMulti" placeholder="Select Stage" class="form-control col-md-4" />
                            @Html.Hidden("ddlStageCodeMulti")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Stage Sequence<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="txtStageSequenceMulti" value="" name="txtStageSequenceMulti" class="form-control col-md-4" />
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.ActionType == "Add")
            {
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Acceptance Standard<span class="required"> * </span></label>
                            <div class="">
                                <input type="text" id="txtAcceptanceStandardMulti" value="" name="txtAcceptanceStandardMulti" placeholder="Select" class="form-control col-md-4" />
                                @Html.Hidden("ddlAcceptanceStandardMulti")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Applicable Specification<span class="required"> * </span></label>
                            <div class="">
                                <input type="text" id="txtApplicableSpecificationMulti" value="" name="txtApplicableSpecificationMulti" placeholder="Select" class="form-control col-md-4" />
                                @Html.Hidden("ddlApplicableSpecificationMulti")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Inspection Extent<span class="required"> * </span></label>
                            <div class="">
                                <input type="text" id="txtInspectionExtentMulti" value="" name="txtInspectionExtentMulti" placeholder="Select" class="form-control col-md-4" />
                                @Html.Hidden("ddlInspectionExtentMulti")
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Remarks</label>
                            <div class="">
                                <input type="text" id="txtRemarksMulti" value="" name="txtRemarksMulti" class="form-control col-md-4" />
                            </div>
                        </div>
                    </div>
                </div>

            }
            <input type="hidden" value="@ViewBag.ActionType" id="ActionType" />
        </div>
    </div>
}
<script type="text/javascript">

    var varQualityProject = @Html.Raw(Json.Encode(@ViewBag.QualityProject));
    var varLocation = @Html.Raw(Json.Encode(@ViewBag.Location));
    var varBU = @Html.Raw(Json.Encode(@ViewBag.BU));

    $(document).ready(function () {
        
        $('#frmMultiAddDelete').validate({
            rules: {
                txtFromSeamMulti: {
                    required: true
                },
                txtToSeamMulti: {
                    required: true
                },
                txtStageCodeMulti: {
                    required: true
                },
                txtStageSequenceMulti: {
                    required: true
                },
                txtAcceptanceStandardMulti: {
                    required: true
                },
                txtApplicableSpecificationMulti: {
                    required: true
                },
                txtInspectionExtentMulti: {
                    required: true
                },
            },
            messages: {
                txtFromSeamMulti: {
                    required: "From Seam No is required"
                },
                txtToSeamMulti: {
                    required: "To Seam No is required"
                },
                txtStageCodeMulti: {
                    required: "Stage code is required"
                },
                txtStageSequenceMulti: {
                    required: "Stage Sequence No is required"
                },
                txtAcceptanceStandardMulti: {
                    required: "Acceptance Standard is required"
                },
                txtApplicableSpecificationMulti: {
                    required: "Applicable Specification is required"
                },
                txtInspectionExtentMulti: {
                    required: "Inspection Extent is required"
                },
            }
        });

        var ParamlistSeam = [];
        ParamlistSeam.push({ id: "QualityProject", value: varQualityProject });
        ParamlistSeam.push({ id: "Location", value: varLocation });
        ParamlistSeam.push({ id: "ActionType", value: $("#ActionType").val() });
        FillAutoCompleteAjax($('#txtFromSeamMulti'), "/IPI/MaintainSeamICL/GetSeamsbyQualityProject", $('#ddlFromSeamMulti'), true, ParamlistSeam, function(){
            if ($('#txtFromSeamMulti').val() == "All") {
                $('#txtToSeamMulti').val("All");
                $('#txtToSeamMulti').attr("disabled", "disabled");
            }
            else {
                $('#txtToSeamMulti').val("");
                $('#txtToSeamMulti').removeAttr("disabled");
            }
        }, null, true);
        FillAutoCompleteAjax($('#txtToSeamMulti'), "/IPI/MaintainSeamICL/GetSeamsbyQualityProject", $('#ddlToSeamMulti'), true, ParamlistSeam, null, null, true);

        var ParamlistStage = [];
        ParamlistStage.push({ id: "Location", value: varLocation });
        ParamlistStage.push({ id: "BU", value: varBU });
        //ParamlistStage.push({ id: "ActionType", value: $("#ActionType").val()})
        FillStageAutoCompleteAjax($('#txtStageCodeMulti'), "/IPI/MaintainSeamICL/GetAllStages", $('#ddlStageCodeMulti'), true, ParamlistStage, null, null, true);


        var lstAcceptanceStd = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(@ViewBag.AcceptanceStandard))));
        FillIPIAutoComplete($('#txtAcceptanceStandardMulti'), lstAcceptanceStd, $('#ddlAcceptanceStandardMulti'), true);

        var lstApplicableSpecification = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(@ViewBag.ApplicableSpecification))));
        FillIPIAutoComplete($('#txtApplicableSpecificationMulti'), lstApplicableSpecification, $('#ddlApplicableSpecificationMulti'), true);

        var lstInspectionExt = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(@ViewBag.InspectionExtent))));
        FillIPIAutoComplete($('#txtInspectionExtentMulti'), lstInspectionExt, $('#ddlInspectionExtentMulti'), false);

        $('#txtStageSequenceMulti').autoNumeric('init', { vMin: '0', vMax: '999999', aSep: '' });

    });

    function FillAutoCompleteAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 1000,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value };
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }

    function FillStageAutoCompleteAjax(element, url, hdElement, autoFocus, parameterArray, extrafn, minLength, isDirectValue, fnResponseMapper) {
        if (autoFocus == null || autoFocus == undefined || autoFocus == "undefined") {
            autoFocus = false;
        }
        if (minLength == null || minLength == undefined || minLength == "undefined") {
            minLength = 0;
        }
        if (parameterArray == null || parameterArray == undefined || parameterArray == "undefined") {
            parameterArray = [];
        }
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url + GetExtraParameters(parameterArray, isDirectValue),
                    dataType: "json",
                    type: "POST",
                    delay: 1000,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        if (fnResponseMapper && typeof (fnResponseMapper) === "function") {
                            response(fnResponseMapper(data));
                        } else {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text, id: item.Value ,hditem : item.id};
                            }));
                        }
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            autoFocus: autoFocus,
            minLength: minLength,
            select: function (event, ui) {
                $(this).val(ui.item.value);
                $(hdElement).val(ui.item.id);
                $('#txtStageSequenceMulti').val(ui.item.hditem)
                //HighlightInValidControls();
                if (extrafn && (typeof extrafn == "function")) {
                    extrafn();
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(hdElement).val("");
                    element.val('');
                    element.focus();
                    if (extrafn && (typeof extrafn == "function")) {
                        extrafn();
                    }
                    //HighlightInValidControls();
                }
            }
        }).focus(function () {
            if ($(this).data("uiAutocomplete") != null && $(this).data("uiAutocomplete") != undefined) {
                $(this).data("uiAutocomplete").search($(this).val());
                //$(this).autocomplete("search");
            }
        });
    }


</script>