﻿
@using IEMQSImplementation
@model QMS030_Log
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            ICL Seam
        </div>
        <div class="tools" id="dvExportHistHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/MaintainSeamICL/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYVIEW.GetStringValue(), dvId = "#dvExportHistHeader" })
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmTPHeaderDetails" }))
        {
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblTPHeader" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="all">Quality Project</th>
                        <th class="min-phone-l">Location</th>
                        <th class="min-phone-l">Seam No</th>
                        <th class="none">RevNo.</th>
                        <th class="min-phone-l">PTC Applicable</th>
                        <th class="min-phone-l">PTC Number</th>
                        <th class="none">TP RevNo.</th>
                        <th class="min-phone-l">Status</th>
                        <th class="min-phone-l">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        }
    </div>
</div>
<div class="hidden">
    @Html.HiddenFor(model => model.HeaderId, new { @id = "txtHistoryID" })
</div>
<script>

    $(document).ready(function () {

        var table = $('#tblTPHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/IPI/MaintainSeamICL/LoadTestPlanHeaderHistoryData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                           { "name": "Headerid", "value": $("#txtHistoryID").val() }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [
      {
                    "sClass": "center",
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                {
                    "bSortable": false,
                    "sClass": "center"
                },
                 {
                     "bSortable": false,
                     "sClass": "center"
                 },
                  {
                      "bSortable": false,
                      "sClass": "center"
                  },
                   {
                       "bSortable": false,
                       "sClass": "center"
                   },
            ]
        });
    });

    
</script>