﻿@model IEMQSImplementation.SWP002
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#frmLines').validate({
            rules: {
                //txtNote: {
                    
                //    number: true
                //},
                txtNote: { required: true },
            },
            messages: {
                //txtNote: {
                //    number: "Digits Only"
                //},
                txtNote: { required: "Note nO Is Required" },
            }
        });

        var LineId = "@Model.LineId";
        if (LineId != "") {
            $("#hfLineid").val('@Model.LineId');
            var NoteNumber = "@Model.NoteNumber";
            if (NoteNumber != "") {
                $("#txtNote").val('@Model.NoteNumber');
                $("#hfNote").val('@Model.NoteNumber');
            }
            else {
                $("#txtNote").val("");
                $("#hfNote").val("");
            }
            var NoteDescription = "@Model.NoteDescription";
            if (NoteDescription != "") {
                $("#txtNoteDesc").val('@Model.NoteDescription');
            }
            else {
                $("#txtNoteDesc").val("");
            }
        }
        else {
            $("#hfLineid").val(0);
        }

        var LineId = parseInt("@Model.LineId");
        if (LineId > 0) {
            $("#txtNote").attr("disabled", true);
        }
        else {
            $("#txtNote").attr("disabled", false);
        }
        $("#txtNote").change(function () {
            var noteNum = $("#txtNote").val();
            var hID = '@ViewBag.Headerid';
            $.ajax({
                url: WebsiteURL + "/IPI/GeneralNotes/CheckNoteNo",
                type: 'POST',
                async: false,
                data: { HeaderId: hID, noteNo: noteNum },
                success: function (data) {
                    if (!data.Key) {
                        DisplayNotiMessage("error", data.Value, "Error");
                        $(this).addClass("error");
                        $("#txtNote").focus();
                    }
                }
            });
        });
    });
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<div class="row" style="width:100%">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmLines", @class = "form-horizontal" }))
                {
                    @Html.Hidden("hfHeaderId", (string)@ViewBag.Headerid);
                    @Html.Hidden("hfQP", (string)@ViewBag.QP);
                    @Html.Hidden("hfProject", (string)@ViewBag.project);
                    @Html.Hidden("hfLoca", (string)@ViewBag.Loca);
                    @Html.Hidden("hfBU", (string)@ViewBag.BU);
                    @Html.Hidden("hfLineid");
                    @Html.Hidden("hfNote");
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-4">Quality Project </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtQP", (string)@ViewBag.QP, new { @class = "form-control"  , @Readonly = "Readonly"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Project</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtProject", (string)@ViewBag.project, new { @class = "form-control", @Readonly = "Readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Location</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtLoca", (string)@ViewBag.Loca, new { @class = "form-control", @Readonly = "Readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">BU</label>
                            <div class="col-md-6">
                                @Html.TextBox("txtBU", (string)@ViewBag.BU, new { @class = "form-control", @Readonly = "Readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label  col-md-4">Note Number <span class="required"> * </span> </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtNote", "", new { @type = "number" ,@class = "form-control", min = "1", max = "999", onkeypress = "return isNumber(event)" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4">Note Description </label>
                            <div class="col-md-6">
                                @Html.TextBox("txtNoteDesc", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>