﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<script>

    //$('#frmButteringF2 input[type="text"],textarea').blur(function (e) {
    @*if ($("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
            if ($("#frmButteringF2").valid()) {
                var frmWPSHeaderValues = $("#frmButteringF2").serializeArray();
                if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                    bootbox.confirm("Document Is Already Approved.Do You Sure Want To Revise?", function (rev) {
                        if (rev) {
                            SaveWPSHeaderDynamically(frmWPSHeaderValues);
                        }
                        else {
                        }
                    });
                }
                else {
                    SaveWPSHeaderDynamically(frmWPSHeaderValues);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }*@
    //    if ($(this).hasClass('ui-autocomplete-input') && $(this).val() == "") {
    //        $("#" + $(this).data("hdnid")).val('');
    //    }
    //    ValidateAndSaveWPS();
    //});

    @*$('#frmButteringF2 input[type="text"],textarea').change(function (e) {
        if ($("#Status").val() != '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
            if ($("#frmButteringF2").valid()) {
                var frmWPSHeaderValues = $("#frmButteringF2").serializeArray();
                if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()') {
                    bootbox.confirm("Document Is Already Approved.Do You Sure Want To Revise?", function (rev) {
                        if (rev) {
                            SaveWPSHeaderDynamically(frmWPSHeaderValues);
                        }
                        else {
                        }
                    });
                }
                else {
                    SaveWPSHeaderDynamically(frmWPSHeaderValues);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        }
    });*@

    var lstTypeofPWHT = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.PWHT))));

    LoadAutoComplete($("#txtTypeofPWHT"), lstTypeofPWHT, $("#TypeofPWHT"), true);

    if ('@Model.TypeofPWHT' != '' && '@Model.TypeofPWHT' != "null" && '@Model.TypeofPWHT' != null) { $("#txtTypeofPWHT").val('@ViewBag.TypeofPWHT') }

    $("#frmButteringF2").validate({
        rules: {
            //txtTypeofPWHT: {
            //    required: true
            //},
            PreheatTemp1: {
                number: true,
                max: 999.99
            },
            PreheatTemp2: {
                number: true,
                max: 999.99
            },
            PreheatTemp3: {
                number: true,
                max: 999.99
            },
            PreheatTemp4: {
                number: true,
                max: 999.99
            },
            PreheatTemp5: {
                number: true,
                max: 999.99
            },
            PreheatTemp6: {
                number: true,
                max: 999.99
            },
            InterpassTemp: {
                number: true,
                max: 999.99
            },
            Temp1: {
                number: true,
                max: 999.99
            },
            Temp2: {
                number: true,
                max: 999.99
            },
            PreheatTemp7: {
                number: true,
                max: 999.99
            },
            PreheatTemp7: {
                number: true,
                max: 999.99
            },
            InterpassTemp2: {
                number: true,
                max: 999.99
            },
            InterpassTempSubsequent2: {
                number: true,
                max: 999.99
            }
        },
        messages: {
            ParentMaterial1: {
                required: "Type Of PWHT Is Required"
            },
        }
    });

    if ($("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.Approved.GetStringValue()' ||
        $("#Status").val() == '@clsImplementationEnum.WPSHeaderStatus.SentForApproval.GetStringValue()') {
        $('#frmButteringF2 input[type="text"],textarea').prop("disabled", "disabled");
    }
</script>

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmButteringF2" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Preheat (QW-406)</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label class="control-label">Thickness(mm)</label>
                                @Html.TextBoxFor(m => m.Thickness1, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.Thickness, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.Thickness3, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.Thickness4, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.Thickness5, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.Thickness6, new { @class = "form-control col-md-3", @maxlength = "8" })
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label class="control-label">Preheat Temp °C(Min)</label>
                                @Html.TextBoxFor(m => m.PreheatTemp1, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>

                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.PreheatTemp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.PreheatTemp3, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.PreheatTemp4, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.PreheatTemp5, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                            <div class="col-md-2">
                                <label class="control-label"> &nbsp;</label>
                                @Html.TextBoxFor(m => m.PreheatTemp6, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label class="control-label">Interpass Temp °C(Max)</label>
                                @Html.TextBoxFor(m => m.InterpassTemp, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>DHT</legend>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label">Min. Temp (°C)</label>
                            @Html.TextBoxFor(m => m.Temp1, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Max. Temp (°C)</label>
                            @Html.TextBoxFor(m => m.MaxTemp1, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Time (Hrs.)</label>
                            @Html.TextBoxFor(m => m.Time1, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2 display-none">
                            <label class="control-label">Max. Time (Hrs)</label>
                            @Html.TextBoxFor(m => m.MaxTime1, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>ISR</legend>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label">Min. Temp (°C)</label>
                            @Html.TextBoxFor(m => m.Temp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Max. Temp (°C)</label>
                            @Html.TextBoxFor(m => m.MaxTemp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Time (Hrs)</label>
                            @Html.TextBoxFor(m => m.Time2, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2 display-none">
                            <label class="control-label">Max. Time (Hrs)</label>
                            @Html.TextBoxFor(m => m.MaxTime2, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">P/H Maintenance</label>
                            @Html.TextBoxFor(m => m.PHMaintenance, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Other</label>
                            @Html.TextAreaFor(m => m.Other3, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Buttering</legend>
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label class="control-label">Preheat Temp °C(Min) </label>
                            @Html.TextBoxFor(m => m.PreheatTemp7, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Interpass Temp °C(Max) </label>
                            @Html.TextBoxFor(m => m.InterpassTemp2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Preheat Temp °C(Min) - Subsequent </label>
                            @Html.TextBoxFor(m => m.PreheatTempSubsequent2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Interpass Temp °C(Max) - Subsequent </label>
                            @Html.TextBoxFor(m => m.InterpassTempSubsequent2, new { @class = "numeric form-control col-md-3", @maxlength = "6" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">P/H Maintenance</label>
                            @Html.TextBoxFor(m => m.PHMaintenance2, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Other</label>
                            @Html.TextAreaFor(m => m.Other9, new { @class = "form-control col-md-3", @maxlength = "50" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Postweld Heat Treatment (QW-407)</legend>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Type of PWHT<span class="required"> * </span></label>
                            <input type="text" id="txtTypeofPWHT" name="txtTypeofPWHT" class="form-control col-md-3" data-hdnid="TypeofPWHT" placeholder="Select" />
                            @Html.HiddenFor(m => m.TypeofPWHT)
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">PWHT TempRange °C</label>
                            @Html.TextBoxFor(m => m.PWHTTempRange, new { @class = "form-control col-md-3", @maxlength = "10" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">PWHT TimeRange</label>
                            @Html.TextBoxFor(m => m.PWHTTimeRange, new { @class = "form-control col-md-3", @maxlength = "30" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Rate of Heat&Cool(C/Hr)</label>
                            @Html.TextBoxFor(m => m.RateofHeatingCooling, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Method of PWHT</label>
                            @Html.TextBoxFor(m => m.MethodofPWHT, new { @class = "form-control col-md-3", @maxlength = "20" })
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">PWHT Notes</label>
                            @Html.TextBoxFor(m => m.PWHTNotes, new { @class = "form-control col-md-3", @maxlength = "70" })
                        </div>
                        <div class="col-md-8">
                            <label class="control-label">Other</label>
                            @Html.TextBoxFor(m => m.Other5, new { @class = "form-control col-md-3", @maxlength = "100" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.extend($.fn.autoNumeric.defaults, {
            aSep: '',
            aDec: '.'
        });
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });
    });

    jQuery(function ($) {
        $('.numeric').autoNumeric('init', { aPad: "true", vMax: "999.99", aForm: "false" });
    });
</script>