﻿@using IEMQSImplementation
@model TLP001_Log
@{
    ViewBag.Title = "Technical Procedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>
<script>
    $(document).ready(function () {
        GetPDNIdenticalprojectPartial('@Model.Project' ,parseInt("@Model.Id"));

        $('#txtRevNo').val("R"+@Model.RevNo);
        $("#txtCust").attr("readonly", true);
        $("#txtCdd").attr("readonly", true);
        $("#txtRev").attr("readonly", true);
        $("#txtdoc").attr("readonly", true);
        var headerid = parseInt("@Model.HeaderId");
        if (headerid > 0) {
            $("#hfHeaderId").val(headerid);
            var Project = "@Model.Project"
            if (Project.toString() != "") {
                $("#txtProject").val(Project);
                $("#hfProject").val(Project);
            }

            var status = "@Model.Status";
            var ApprovedBy = "@Model.ApprovedBy"
            var Project = "@Model.Project"

            if (Project != "" || ApprovedBy != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/TP/Approve/getCodeValue",
                    data: { project: Project, approver: ApprovedBy },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.projdesc != "") {
                            $("#txtProject").val(data.projdesc);
                        }
                        if (data.appdesc != "") {
                            $("#ddlApprover").val(data.appdesc);
                        }
                    },
                    error: function () {
                    }
                });
            }
            $("#lblStatus").text(status);
            $("#status").css("display", "block");
            $("#ddlApp").css("display", "block");
            $("#ddlApprover").attr("disabled", true);
            $("#ReturnRemark").attr("disabled", true);
            $("#txtProject").attr("disabled", true);
            $("#JobDescription").attr("disabled", true);
            $("#Product").attr("disabled", true);
            $("#ProcessLicensor").attr("disabled", true);
        }
    });
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {
                            <div class="mt-element-ribbon bg-grey-steel" style="height:55px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">Technical Procedure</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus" style="font-weight:bolder"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">
                                    @Html.Hidden("hfHeaderId")
                                    @Html.Hidden("hfProject")
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtProject", "", new { @class = "form-control" })
                                                @Html.HiddenFor(m => m.Project, new { })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.Customer, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                CDD
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @*@Html.TextBox("txtCdd", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Product
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-4" })
                                                @*@Html.DropDownList("ddlCat", new SelectList(@ViewBag.lstProCat, "Value", "Text"), "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Revison
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-2"><button type="button" id="RevPrev" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevPrev == null)? "" : "window.location='"+ViewBag.RevPrev+"'")" @((ViewBag.RevPrev == null) ? "disabled" : "")><span class="fa fa-chevron-left"></span></button></div>
                                                <div class="col-sm-8">
                                                    @*@Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-4", @readonly = "readonly" })*@
                                                    <input type="text" name="txtRevNo" id="txtRevNo" class="class = form-control col-md-3" readonly />
                                                    @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                </div>
                                                <div class="col-sm-2"><button type="button" id="RevNext" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevNext == null)? "" : "window.location='"+ViewBag.RevNext+"'")" @((ViewBag.RevNext == null) ? "disabled" : "")><span class="fa fa-chevron-right"></span></button></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Document No
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @Html.Hidden("txtdoc")
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Job Description
                                            </label>
                                            <div class="">
                                                @*@Html.TextBox("ddlJob", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                @Html.TextBoxFor(m => m.JobDescription, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Process Licensor
                                            </label>
                                            <div class="">
                                                @*@Html.TextBox("txtlicence", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                                @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3" })
                                            </div>
                                        </div>
                                        <div class="col-md-4 right" id="ddlApp" style="display:none">
                                            <label class="control-label">
                                                Approver
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlApprover" id="ddlApprover" class="class = form-control col-md-3" />
                                                @Html.HiddenFor(m => m.ApprovedBy, new { @class = "form-control col-md-3" })
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Revise  Remarks
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @*@Html.TextBox("txtRemarks", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Return  Remarks<span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @*@Html.TextBox("txtRemarks", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divPDNIdenticalproject"></div>

                                    <div class="col-md-12">
                                        @Html.Partial("_AttachmentPartial")
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4 right">
                                            <br />
                                            <a href="~/TP/Header/Index" id="btnCancel" style="float: right; margin-right:5px;" class="btn btnclose">Close</a>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
@if (Model != null)
{
    if (Model.HeaderId > 0)
    {
        <script>
            setAttachmentsInHeader("TLP001/"+@(Model.HeaderId)+"/R"+@(Model.RevNo), true);
        </script>
    }
}