﻿@using System.Web.Optimization

@using IEMQSImplementation
@model CJC030

@{
    ViewBag.Title = "Auto Billing Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/datetimepicker/css")

@Styles.Render("~/Content/Datatable/css")

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .page-title {
        display: unset;
    }


    /* ---- Portlet Maximize ---- */
    .portlet-maximize {
        position: relative;
        z-index: 9995;
        overflow: hidden;
    }

        .portlet-maximize > .portlet-body {
            height: 95vh;
            overflow: auto;
        }

    .mt-element-ribbon .ribbon {
        margin: 0px 0 0 -2px !important;
    }
</style>


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmHeader", @class = "form-horizontal" }))
                        {
                        <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                            <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                <span class="page-title">
                                    Contract Plan Details
                                    @{
                                            if (!string.IsNullOrWhiteSpace(Model.CJCNo))
                                            {
                                        <span id="spnCJCNo"> [<strong> @Html.DisplayFor(m => m.CJCNo) </strong> ]</span>
                                            }
                                    }
                                </span>
                            </div>
                            @{
                                    if (!string.IsNullOrWhiteSpace(Model.Status))
                                    {
                                @*<div id="dvStatus" class="ribbon ribbon-right ribbon-color-warning">
                                        <span style="font-weight:bolder">
                                            Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                                        </span>
                                    </div>*@
                                    }
                            }
                        </div>
                        <fieldset>
                            <legend>Project Detail</legend>
                            <div class="form-group">
                                <div class="col-md-12" id="clsDraft">
                                    <div class="col-md-3">
                                        <label class="control-label">Project No<span class="required"> * </span></label>
                                        <div class="">
                                            <input type="text" id="txtProject" name="txtProject" class="form-control clsReadOnly clsclear" placeholder="Select" />
                                            @Html.HiddenFor(m => m.Project)
                                            @Html.HiddenFor(m => m.HeaderId)
                                            @Html.HiddenFor(m => m.Status)
                                            @Html.HiddenFor(m => m.TotalCJCAmount, new { @id = "hdTotalAmount" })
                                            @Html.HiddenFor(m => m.CJCNo)
                                            <input type="hidden" id="BOAmount" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">Product Type<span class="required"> * </span></label>
                                        <div class="">
                                            <input type="text" id="txtDia" name="txtDia" class="form-control clsReadOnly clsclear" readonly placeholder="Select" />
                                            @Html.HiddenFor(m => m.Dia)
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                            <label class="control-label">Contractor Shop<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtShop" name="txtShop" class="form-control col-md-3 clsclear" placeholder="Select" />
                                                @Html.HiddenFor(m => m.Shop)
                                            </div>
                                        </div>*@
                                    <div class="col-md-3">
                                        <label class="control-label">Location<span class="required"> * </span></label>
                                        <div class="">
                                            <input type="text" id="txtLocation" name="txtLocation" class="form-control clsReadOnly clsclear" placeholder="Select" />
                                            @Html.HiddenFor(m => m.Location)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    @*<div class="col-md-3">
                                            <label class="control-label">PO NO.<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtPurchaseOdrerNo" name="txtPurchaseOdrerNo" class="form-control clsReadOnly clsclear" placeholder="Select" disabled="disabled" />
                                                @Html.HiddenFor(m => m.PurchaseOdrerNo)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">PO Line No.<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtPurchaseOdrerLineNo" name="txtPurchaseOdrerLineNo" class="form-control col-md-3 clsclear" placeholder="Select" disabled="disabled" />
                                                @Html.HiddenFor(m => m.PurchaseOdrerLineNo)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Business Partner<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtBusinessPartner" value="@Html.Raw((string)ViewBag.BusinessPartnerName)" name="txtBusinessPartner" readonly class="form-control col-md-3" placeholder="Select" />
                                                @Html.HiddenFor(m => m.BusinessPartner)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Initiator<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtInitiator" name="txtInitiator" class="form-control col-md-3 clsclear" placeholder="Select" disabled="disabled" />
                                                @Html.HiddenFor(m => m.Initiator)
                                            </div>
                                        </div>*@
                                </div>
                                <div class="col-md-12">
                                    @*<div class="col-md-3">
                                            <label class="control-label">Bill No<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.BillNo, new { @class = "form-control clsclear" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Bill Date<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="BillDate" name="BillDate" class="form-control col-md-3 clsclear" readonly="readonly" value="@(Model.BillDate !=null ? Convert.ToDateTime(Model.BillDate).ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy"))" />
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </fieldset>
                                    }
                        <div class="row">
                            <div class="col-md-12" style="text-align:right">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    @if (Model.HeaderId <= 0)
                                    {
                                    <input type="button" class="btn blue" id="btnFetch" value="Fetch Seam" />
                                    }
                                    else if (!string.IsNullOrWhiteSpace(Model.Status) && ((Model.Status.Trim().ToLower().Contains("returned")) || Model.Status.Trim().ToLower().Contains("draft")))
                                    {
                                    <input type="button" class="btn blue" id="btnFetch" value="Fetch Seam" />
                                    }
                                    <a href="~/CJC/MaintainContractPlan/Index" class="btn btnclose">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divLines">
                        <div class="portlet-body">
                            <form class="form-horizontal" action="#" id="submit_form" method="POST">
                                <ul id="tabSections" style="font-size: large;" class="nav nav-tabs">
                                    <li>
                                        <a id="Section1" href="#tab1" data-toggle="tab" class="step">
                                            <span id="spnSec1" class="desc">
                                                <b>Seam Details</b>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="Section2" href="#tab2" data-toggle="tab" class="step">
                                            <span id="spnSec2" class="desc">
                                                <b>Project Details</b>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" id="dvCalc" style="display:none">
                        <div class="col-md-12" style="text-align:right">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <span style="font-weight:bold;font-size:x-large;vertical-align:-3px;">
                                    Total CJC Amount : <span id="spnCalculate">0</span>
                                </span>

                                @if (Model.HeaderId <= 0 || Model.Status.Trim().ToLower().Contains("draft"))
                                {
                                <input type="button" class="btn save" id="btnSaveasDraft" value="Save as Draft" />
                                <input type="button" class="btn blue" id="btnCalculate" value="Calculate CJC Amount" />
                                }
                                else if (string.IsNullOrWhiteSpace(Model.Status) || Model.Status.Trim().ToLower().Contains("returned"))
                                {
                                @*<input type="button" class="btn save" id="btnSaveasDraft" value="Save as Draft" />*@
                                <input type="button" class="btn blue" id="btnCalculate" value="Calculate CJC Amount" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var IsFetchSeamClick = false;
    var IsEditMode = false;
    var setClaimCJCURL = "";
    var setClaimCJCMessage = "";
    $(document).ready(function () {
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });

        @*var lstDia = @Html.Raw(Json.Encode(ViewBag.DiaList));
        FillAutoComplete($("#txtDia"), lstDia, $("#Dia"));*@

        var lstContractorShop = @Html.Raw(Json.Encode(ViewBag.ContractorShops));
        FillAutoComplete($("#txtShop"), lstContractorShop, $("#Shop"));

        var lstLocation= @Html.Raw(Json.Encode(ViewBag.Locations));
        FillAutoCompleteWithCallBack($("#txtLocation"), lstLocation, $("#Location"),disableLocationwiseAutocomplete);

        var lstPONo= @Html.Raw(Json.Encode(ViewBag.PONos));
        var PurchaseOdrerNo = [];
        PurchaseOdrerNo.push({ id: "location", value: $('#Location') });
        FillAutoCompleteUsingAjax($("#txtPurchaseOdrerNo"), "/CJC/MaintainContractPlan/GetPurchaseOdrerData", $("#PurchaseOdrerNo"), false, PurchaseOdrerNo,disablePOLineAutocomplete);

        FillAutoCompleteUsingAjax($("#txtProject"), "/CJC/MaintainContractPlan/GetProjectResult", $("#Project"), false,null,function()
        {
            if($("#Project").val()!=""){
                $.ajax({
                    url:WebsiteURL + "/CJC/MaintainContractPlan/GetDiaByProjectResult",
                    type: "POST",
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    data: {project : $("#Project").val(),HeaderId : $("#HeaderId").val()},
                    success: function (data) {
                        if(data.Value != "" && data.Value != null && data.Value !=undefined){
                            $("#txtDia").val(data.Value.split('#')[1]);
                            $("#Dia").val(data.Value.split('#')[0]);
                        }
                    },
                    error: function () {
                    }
                });
            }
            else{
                $("#txtDia").val("");
                $("#Dia").val("");
            }
        });

        var Initiatorlist = [];
        Initiatorlist.push({ id: "Location", value: $('#Location') });
        FillAutoCompleteUsingAjax($("#txtInitiator"), "/CJC/MaintainContractPlan/GetInitiatorData", $("#Initiator"), false, Initiatorlist);

        var PurchaseOdrerNolist = [];
        PurchaseOdrerNolist.push({ id: "pono", value: $('#PurchaseOdrerNo') });
        PurchaseOdrerNolist.push({ id: "location", value: $('#Location') });
        FillAutoCompleteUsingAjax($("#txtPurchaseOdrerLineNo"), "/CJC/MaintainContractPlan/GetPurchaseOdrerLineData", $("#PurchaseOdrerLineNo"), false, PurchaseOdrerNolist);

        $('#txtLocation').val('@Html.Raw((string)ViewBag.Location)');
        disableLocationwiseAutocomplete();
        $("#txtDia").val('@Html.Raw((string)ViewBag.JobDia)');
        @*$("#txtShop").val('@Html.Raw((string)ViewBag.Shop)');
        $("#txtPurchaseOdrerNo").val('@Html.Raw((string)Model.PurchaseOdrerNo)');
        $("#txtBusinessPartner").val('@Html.Raw((string)ViewBag.BusinessPartnerName)');
        $("#txtInitiator").val('@Html.Raw((string)ViewBag.Initiator)');*@
        $('#txtProject').val('@Html.Raw((string)ViewBag.Project)');
        @*$('#txtPurchaseOdrerLineNo').val('@Html.Raw((string)ViewBag.POLine)');*@

        $('#hdTotalAmount').val('@Model.TotalCJCAmount');
        $('#spnCalculate').text('@Model.TotalCJCAmount');
        if(parseInt($("#HeadeerId").val()) > 0)
        {
            $('#txtProject').prop("readonly",true);
            $('#txtDia').prop("readonly",true);
        }
        $('#frmHeader').validate({
            rules: {
                txtProject: {
                    required: true,
                },
                txtShop: {
                    required: true,
                },
                txtDia: {
                    required: true,
                },
                txtLocation: {
                    required: true,
                },
                txtBusinessPartner: {
                    required: true,
                },
                txtInitiator: {
                    required:true,
                },
                txtPurchaseOdrerNo: {
                    required:true,
                },
                txtPurchaseOdrerLineNo: {
                    required:true,
                },
                BillNo: {
                    required:true,
                },
                BillDate: {
                    required:true,
                },
            },
            messages: {
                txtProject: {
                    required: "Project No is required",
                },
                txtShop: {
                    required: "Shop is required",
                },
                txtDia: {
                    required: "Job Dia is required",
                },
                txtLocation: {
                    required: "Location is required"
                },
                txtBusinessPartner: {
                    required: "Business Partner is required",
                },
                txtInitiator: {
                    required: "Initiator is required",
                },
                txtPurchaseOdrerNo: {
                    required: "PO NO. is required",
                },
                txtPurchaseOdrerLineNo: {
                    required: "PO Line No. is required",
                },
                BillNo: {
                    required: "Bill No is required",
                },
                BillDate: {
                    required: "Bill Date is required",
                },
            }
        });

        var urlSection1 = WebsiteURL + "/CJC/MaintainContractPlan/LoadSeamLineGridDataPartial";
        var urlSection2 = WebsiteURL + "/CJC/MaintainContractPlan/LoadProjectLineGridDataPartial";

        $("#Section1").on("click", function () {
            $("#Section2").css({ backgroundColor: "#eef1f5", color: "#333" });
            $("#Section1").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            GetTab(parseInt('@ViewBag.HeaderId'),urlSection1,'SEAM');
        });
        $("#Section2").on("click", function () {
            $("#Section2").css({ backgroundColor: "#rgb(57, 133, 208)", color: "#fff" });
            $("#Section1").css({ backgroundColor: "#eef1f5", color: "#333" });
            GetTab(parseInt('@ViewBag.HeaderId'),urlSection2,'PROJECT');
        });

        if('@ViewBag.Action'.toLowerCase() == "edit"){
            $("#clsDraft :input").prop("readonly","readonly");
            $("#clsDraft :input").attr("disabled",true).attr("data-disabled","true");

            @*$("#Status").val('@clsImplementationEnum.AutoCJCStatus.Returned_by_Authoriser.GetStringValue()');
            $("#spnStatus").text('@clsImplementationEnum.AutoCJCStatus.Returned_by_Authoriser.GetStringValue()');*@
            @*if($("#Status").val() == '@clsImplementationEnum.AutoCJCStatus.DRAFT.GetStringValue()')
            {
                $("#clsDraft :input").prop("readonly","readonly");
                $("#clsDraft :input").attr("disabled",true).attr("data-disabled","true");
            }
            else{
                $(".clsReadOnly").prop("readonly","readonly");
                $(".form-group :input,#btncal3").attr("disabled",true).attr("data-disabled","true");
            }*@
            $("#Section1").trigger("click");
        }
        else{
            $('#divLines').hide();
        }
        $("#txtProject,#txtDia,#txtShop,#txtLocation").change(function(){
            if($('#divLines').is(":visible") == true)
            {
                ResetHeaderLines();
            }
        });

        $("#btnFetch").click(function(){
            IsFetchSeamClick = true;
            if ($("#frmHeader").valid()) {
                //below function check commented as per Observation Id :- 25185
                //if(IsProjectDiaExist()){
                FetchData();
                $('#hdTotalAmount').val('0');
                $('#spnCalculate').text('0');
                $('#divLines').show();
                $("#Section1").trigger("click");
                //}
                //else {
                //    HighlightInValidControls();
                //    $('html, body').animate({ scrollTop: 0 }, 'slow', function () {
                //    });
                //    //DisplayNotiMessage("info", "Please select Project,Dia and Contractor Shop to Fetch seam", "Info");
                //    return false;
                //}
            }
        });

        $("#btGenerateCJC").click(function(){
            if ($("#frmHeader").valid()) {
                setClaimCJCURL =  "/CJC/MaintainContractPlan/GenerateCJCHeader";
                setClaimCJCMessage =  "Do you want to generate CJC ?";
                CalculateAmountData(GenerateCJC);
            }
            else {
                HighlightInValidControls();
                $('html, body').animate({ scrollTop: 0 }, 'slow', function () {
                });
                return false;
            }
        });


        $("#btnSaveasDraft").click(function(){
            if ($("#frmHeader").valid()) {
                setClaimCJCURL =  "/CJC/MaintainContractPlan/SaveAsDraft";
                setClaimCJCMessage =  "Do you want to generate CJC ?";
                CalculateAmountData(GenerateCJC,true);
            }
            else {
                HighlightInValidControls();
                $('html, body').animate({ scrollTop: 0 }, 'slow', function () {
                });
                return false;
            }
        });

        $("#btReClaimCJC").click(function(){
            if($("#hdTotalAmount").val() !="" && $("#hdTotalAmount").val() !=null && $("#hdTotalAmount").val() != undefined && parseFloat($("#hdTotalAmount").val())>0)
            {
                if ($("#frmHeader").valid()) {
                    setClaimCJCURL =  "/CJC/MaintainContractPlan/ReclaimCJC";
                    setClaimCJCMessage =  "Do you want to regenerate CJC ?";
                    CalculateAmountData(GenerateCJC);
                }
                else {
                    HighlightInValidControls();
                    $('html, body').animate({ scrollTop: 0 }, 'slow', function () {
                    });
                    return false;
                }
            }
            else{
                DisplayNotiMessage("info", "Calculated Amount should be greater than 0", "Info");
                return false;
            }
        });

        $("#btnCalculate").click(function(){
            CalculateAmountData(null);
        });

        if(parseInt($("#HeaderId").val()) > 0) {
            IsEditMode = true;
        }
    });


    function GenerateCJC(isSaveAsDraft) {
        if(isSaveAsDraft)
        {SaveHeader(setClaimCJCURL,isSaveAsDraft)}
        else{
            if($("#hdTotalAmount").val() !="" && $("#hdTotalAmount").val() !=null && $("#hdTotalAmount").val() != undefined && parseFloat($("#hdTotalAmount").val())>0) {
                bootbox.dialog({
                    message: setClaimCJCMessage,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                            callback: function () {
                                SaveHeader(setClaimCJCURL);
                            }
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger',
                            callback: function () { }
                        }
                    },
                });
            }
            else{
                DisplayNotiMessage("info", "Calculated Amount should be greater than 0", "Info");
                return false;
            }
        }
    }
    function SaveHeader(setClaimCJCURL,isSaveAsDraft)
    {
        DisbaleControls(false);
        var strFormData = $("#frmHeader").serializeArray();
        DisbaleControls(true);
        var formData = new FormData();
        if (strFormData != null && strFormData != undefined) {
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
            });

            formData.append("TotalCJCAmount",$("#hdTotalAmount").val());

            $.ajax({
                url:WebsiteURL + setClaimCJCURL,
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $("#Status").val(data.Status);
                        $("#spnStatus").text(data.Status);
                        $("#HeaderId").val(data.HeaderId);
                        if(isSaveAsDraft){
                            $("#clsDraft :input").prop("readonly","readonly");
                        }
                        else{
                            setTimeout(function(){
                                window.location.href = WebsiteURL +  "/CJC/MaintainContractPlan/Index";
                            },1000);
                        }
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                    if(isSaveAsDraft){
                        bootbox.hideAll();
                        $(".modal-backdrop").remove();
                    }
                }
            });
        }
    }
    function FetchData(){
        $.ajax({
            url:WebsiteURL +  "/CJC/MaintainContractPlan/removeTempValue",
            type: "POST",
            async:false,
            success: function (data) {
            }
        });
    }

    function IsProjectDiaExist(){
        var strFormData = $("#frmHeader").serializeArray();
        DisbaleControls(true);
        var formData = new FormData();
        if (strFormData != null && strFormData != undefined) {
            $.each(strFormData, function (key, input) {
                formData.append(input.name, input.value);
            });
        }
        DisbaleControls(false);

        var flag = true;
        $.ajax({
            url:WebsiteURL +  "/CJC/MaintainContractPlan/IsProjectDetailsExist",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            async:false,
            success: function (data) {

                if(data.Key == false){
                    flag=false;
                    DisplayNotiMessage("warning","You cannot change 'Product Type' for this Project", "Warning");
                    return false;
                }
                if(data.dataKey== true){
                    flag=false;
                    DisplayNotiMessage("info","Record Already Exists", "Information");
                }
            }
        });
        return flag;
    }

    function ResetHeaderLines()
    {
        $('#divLines,#dvCalc').hide();
        $('#hdTotalAmount').val('0');
        $('#spnCalculate').text('0');
    }

    function CalculateAmountData(callbackFunc,isSaveAsDraft){
        var setURL = "/CJC/MaintainContractPlan/CalculateTotalClaimAmount";
        data = {
            Project : $("#Project").val(),
            Project : $("#Dia").val(),
            isSaveAsDraft : isSaveAsDraft,
            status : $("#Status").val()
        };
        if(parseInt($("#HeaderId").val()) > 0 && ($('#btReClaimCJC').is(":visible") == true || $("#Status").val()== '@clsImplementationEnum.AutoCJCStatus.DRAFT.GetStringValue()')){
            setURL = "/CJC/MaintainContractPlan/CalculateTotalReClaimAmount";
            data= {
                HeaderId : parseInt($("#HeaderId").val()),
                IsFetchSeamClick : IsFetchSeamClick,
                Project : $("#Project").val(),
                dia : $("#Dia").val(),
                isSaveAsDraft : isSaveAsDraft,
                status : $("#Status").val()
            };
        }

        $.ajax({
            url:WebsiteURL + setURL,
            type: "POST",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data:data,
            success: function (data) {
                $("#spnCalculate").html(data.TotalAmount);
                $("#hdTotalAmount").val(data.TotalAmount);
                if(data.Key && data.ActionKey){
                    if(callbackFunc!=null && callbackFunc!=undefined && callbackFunc!='')
                        callbackFunc(isSaveAsDraft);
                }
                else{
                    if(data.Value != "" && data.Value != null && data.Value!=undefined)
                    {
                        DisplayNotiMessage("info", data.Value, "Info");
                    }
                    if(data.ActionValue != "" && data.ActionValue != null && data.ActionValue!=undefined)
                    {
                        DisplayNotiMessage("info", data.ActionValue, "Info");
                    }
                }
            },
            error: function () {
            }
        });
    }

    function GetTab(HeaderId, url, selection) {
        $.ajax({
            type: "POST",
            url: url,
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { HeaderId: HeaderId },
            success: function (result) {
                if (selection == 'SEAM')
                {
                    $("#tab1").html(result);
                }
                else
                {
                    $("#tab2").html(result);
                }
                $('#dvCalc').show();
            },
            error: function () {
            }
        });
    }

    function disableLocationwiseAutocomplete(){
        if($("#txtLocation").val() != null && $("#txtLocation").val() !="")
        {
            $("#txtInitiator,#txtPurchaseOdrerNo").val('').removeAttr("disabled","disabled");
        }
        else
        {
            $("#txtInitiator,#txtPurchaseOdrerNo,#txtPurchaseOdrerLineNo").val('').attr("disabled","disabled");
        }
    }

    function disablePOLineAutocomplete(){
        if($("#txtPurchaseOdrerNo").val() != null && $("#txtPurchaseOdrerNo").val() !="")
        {
            $("#txtPurchaseOdrerLineNo").val('').removeAttr("disabled","disabled");
        }
        else
        {
            $("#txtPurchaseOdrerLineNo").val('').attr("disabled","disabled");
        }
    }
    function DisbaleControls(isDisbale) {
        $("[data-disabled=true]").prop("disabled", isDisbale);
    }
    function PrintReport() {
        var url = "/CJC/CJC Details";
        var dat = [];
        dat.push({ Param: "CJCNo", Value: parseInt($('#CJCNo').val()) });
        ShowReport(dat, url);
    }
</script>

<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/scripts/ThemeScripts/app.min.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
@Scripts.Render("~/bundles/datatable/js")
@Scripts.Render("~/bundles/datetimepicker/js")
