﻿@using IEMQSImplementation

<style>
    .scenter {
        text-align: center;
    }

    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Review ARM
        </div>
        <div class="tools" id="dvExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CRS/MaintainARM/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblARMResult" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">Contract No</th>
                    <th class="all">Customer</th>
                    <th class="all">Status</th>
                    <th class="all">Project</th>
                    @*<th class="all">Rev. No</th>*@
                    <th class="all">ARM Set</th>
                    <th class="all">ARM Type</th>
                    <th class="all">ARM Desc.</th>
                    <th class="all">ARM Revision</th>
                    <th class="all">Reason Of Revsion</th>
                    <th class="all">Created By</th>
                    <th class="all">Created On</th>
                    <th class="all">Submitted By</th>
                    <th class="all">Submitted On</th>
                    <th class="all">Reviewed By</th>
                    <th class="all">Reviewed On</th>
                    <th class="all">Approved By</th>
                    <th class="all">Approved On</th>
                    <th class="all">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#tblARMResult');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5,10, 25, 50, 100],
                [5,10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/CRS/ReviewARM/LoadARMDataResult",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQCompileStatus", "value": '@ViewBag.Status' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (result) {
                        fnCallback(result);
                        $(".txtStrWhere", "#dvExportHeader").val(result.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(result.strSortOrder);
                    },
                    'async': false
                });
            },
            "columns": [
                {
                    "name": "ContractNo",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Customer",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "Status",
                    "bSortable": true,
                    "sClass": "scenter"
                },
                {
                    "name": "Project",
                    "bSortable": true,
                    "sClass": "center",
                },
                //{
                //    "name": "RevNo",
                //    "bSortable": true,
                //    "sClass": "scenter"
                //},
                {
                    "name": "ARMSet",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "ARMType",
                    "bSortable": true,
                    "sClass": "center"
                },
                {
                    "name": "ARMDesc",
                     "bSortable": true,
                    "sClass": "center",
                },
                {
                     "name": "ARMRevision",
                     "bSortable": true,
                     "sClass": "center",

                 },
                {
                     "name": "ReasonOfRevsion",
                     "bSortable": true,
                     "sClass": "center",

                 },
                {
                     "name": "CreatedBy",
                     "bSortable": true,
                     "sClass": "center",

                 },
                {
                    "name": "CreatedOn",
                    "bSortable": false,
                    "sClass": "center",
                    "attr": "date",

                 },
                {
                      "name": "SubmittedBy",
                      "bSortable": true,
                      "sClass": "center",
                  },
                {
                    "name": "SubmittedOn",
                    "bSortable": false,
                    "sClass": "center",
                    "attr": "date",

                },
                {
                    "name": "ReviewedBy",
                    "bSortable": true,
                    "sClass": "center",
                },
                {

                    "name": "ReviewedOn",
                    "bSortable": false,
                    "sClass": "center",
                    "attr": "date",

                },
                {
                     "name": "ApprovedBy",
                     "bSortable": true,
                     "sClass": "center",

                 },
                {
                    "name": "ApprovedOn",
                    "bSortable": false,
                    "sClass": "center",
                    "attr": "date",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                },
            ]
        });
        table.dtSearchFilter();
    });
   
</script>



