﻿@{
    ViewBag.Title = "Coding Standard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/select2/components-select2.min.js"></script>
<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>

<style>
    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
    .lblmrgn {
        margin-left: 5%;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body" id="load_details_popup">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Boot Box Popup</span>
                    </div>
                </div>
                <form class="form-horizontal" id="bootbox-popup">
                    <div class="form-group">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Boot Box Popup (partial view)</legend>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lblmrgn"><a href="javascript:void(0)" onclick="PartialPopup()">Click Here</a> to open partial view</label>
                                </div>
                            </div>
                            <br />
                            <fieldset>
                                <legend>Alert</legend>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lblmrgn"><a href="javascript:void(0)" onclick="AlertPopup()">Click Here</a> to open alert box</label>
                                </div>
                            </div>
                            <br />
                            <fieldset>
                                <legend>Confirmation</legend>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lblmrgn"><a href="javascript:void(0)" onclick="ConfirmationPopup()">Click Here</a> to open confirmation popup</label>
                                </div>
                            </div>
                            <br />
                            <fieldset>
                                <legend>Notification</legend>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="lblmrgn"><a href="javascript:void(0)" onclick="NotificationPopup()">Click Here</a> to open notification window</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
    </div>
</div>

<script type="text/javascript">

    function PartialPopup() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/TEMP/CodingStandard/LoadFormPartial",
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { UserId: 0 },
            success: function (result) {
                
                bootbox.dialog({
                    title: 'Submit Form Popup',
                    message: result,
                    size: "large",
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmCreateHeader").valid()) {
                                    var formData = new FormData();
                                    var frmValues = $('#frmCreateHeader').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        if (input.name == "Roles") {
                                            formData.append(input.name, $("#" + input.name).val());
                                        }
                                        else if (input.name == "Married") {
                                            if ($("#Married").is(':checked')) {
                                                formData.append(input.name, true);
                                            }
                                            else {
                                                formData.append(input.name, false);
                                            }
                                        }
                                        else {
                                            formData.append(input.name, input.value);
                                        }
                                    });
                                    $.ajax({
                                        url: WebsiteURL + '/TEMP/CodingStandard/SaveData',
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        type: 'POST',
                                        async: false,
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        success: function (data) {
                                            if (data.Key) {
                                                DisplayNotiMessage("success", data.Value, "Success");
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.Value, "Error");
                                            }
                                        }
                                    });
                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
                $("#Birthdate").css('width', '140px');
                $("#btncal1").css('margin-left', '140px');
                $('#btnSave').hide();
            },
            error: function () {
            }
        });

    }

    function AlertPopup() {
        bootbox.alert("Successfully open bootbox alert.");
    }

    function ConfirmationPopup() {
        bootbox.confirm({
            message: "Successfully open confirmation popup",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    DisplayNotiMessage("success", "Yes button click ", "Success");
                }
                else {
                    DisplayNotiMessage("error", "No button click ", "Error");
                }
            }
        });
    }

    function NotificationPopup() {
        DisplayNotiMessage("info", "Successfully open notification window", "Information");
    }
</script>