﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script> 
<style>
    table.dataTable.dtr-column>tbody>tr>td.control:before{  /* Only Required when your grid is responsive and first columns are hidden */
        left:unset;
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <input type="hidden" value="" id="hudDataCount" />
                                    Data Grid with Column Level Filter, Fixed Column, Single Row Inline Editable and Lazy Loading (Fixed Header)
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post">
                    <div class="form-group form-md-checkboxes">
                        <label>Enable DataGrid Utility</label>
                        <div class="md-checkbox-inline">
                            <div class="md-checkbox">
                                <input type="checkbox" class="md-check" name="checkbox1" id="checkbox1" value="checked" @(Request.Form["checkbox1"])>
                                <label for="checkbox1">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Column Level Filter
                                </label>
                            </div>
                            
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox2" name="checkbox2" class="md-check" value="checked" @(Request.Form["checkbox2"])>
                                <label for="checkbox2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Lazy Loading
                                </label>
                            </div>
                            
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox3" name="checkbox3" class="md-check" value="checked" @(Request.Form["checkbox3"])>
                                <label for="checkbox3">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Fixed Column
                                </label>
                            </div>
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox4" name="checkbox4" class="md-check" value="checked" @(Request.Form["checkbox4"])>
                                <label for="checkbox4">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Responsive
                                </label>
                            </div>

                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox5" name="checkbox5" class="md-check" value="checked" @(Request.Form["checkbox5"])>
                                <label for="checkbox5">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Inline Editable
                                </label>
                            </div>
                            <div class="md-checkbox hidden">
                                <input type="checkbox" id="checkbox6" name="checkbox6" class="md-check" value="checked" @(Request.Form["checkbox6"])>
                                <label for="checkbox6">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Column Visiblity
                                </label>
                            </div>

                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox7" name="checkbox7" class="md-check" value="checked" @(Request.Form["checkbox7"])>
                                <label for="checkbox7">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Fixed Header
                                </label>
                            </div> 
                            
                            <div class="md-checkbox">
                                <input type="checkbox" id="checkbox8" name="checkbox8" class="md-check" value="checked" @(Request.Form["checkbox8"])>
                                <label for="checkbox8">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> All Selectable Checkbox
                                </label>
                            </div>
                            <div class="pull-right">
                                <input type="submit" value="Generate" onclick="" class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="portlet-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                User Detail
                            </div>
                            <div class="tools" id="dvExportHeader">
                                <div class="btn-group">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                </div>
                                <div class="btn-group">
                                    <a onclick="GetCheckedIDs();" class="btn btn-circle white btn-outline btn-sm">
                                        <i class="fa fa-check-square-o"></i> Get Selected
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body " ïd="divTblUserDetail">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUsers", @class = "form-horizontal" }))
                            {
                                <table class="table-striped table-bordered table-hover blue" id="tblUserDetail" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="all">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                                    <span></span>
                                                </label>
                                            </th>
                                            <th class="all sorting control">Title <span class="red">*</span></th>
                                            <th>First Name <span class="red">*</span></th>
                                            <th>Last Name <span class="red">*</span></th>
                                            <th>Roles <span class="red">*</span></th>
                                            <th>Address <span class="red">*</span></th>
                                            <th>Birth Date <span class="red">*</span></th>
                                            <th>Gender <span class="red">*</span></th>
                                            <th>Salary <span class="red">*</span></th>
                                            <th>Married</th>
                                            <th>Last Name</th>
                                            <th>Address</th>
                                            <th>Birth Date</th>
                                            <th>Gender</th>
                                            <th>Salary</th>
                                            <th>Status</th>
                                            <th class="all">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var oTable ="";
    var UtilityParams =undefined;
    $(document).ready(function ()
    {
        $('#frmUsers').validate({
            rules: {
                Title0: {required: true,},
                FirstName0: {required: true,},
                LastName0: {required: true,},
                Roles0: {required: true,},
                Address0: {required: true,},
                Birthdate0: {required: true,},
                Gender0: {required: true,},
                Salary0: {required: true,},
                // Married0: {required: true,},
                Status0: {required: true,},
            },
            messages: {
                Title0: {required: "Title is required"},
                FirstName0: {required: "First Name is required"},
                LastName0: {required:"Last Name is required"},
                Roles0: {required: "Roles is required"},
                Address0: {required: "Address is required"},
                Birthdate0: {required: "Birthdate is required"},
                Gender0: {required: "Gender is required"},
                Salary0: {required:"Salary is required"},
                //Married0: {required:"Married is required"},
                Status0: {required: "Status is required"},
            }
        });

        //var table = $('#tblUserDetail');
        GenerateTableWithUtility();

    });

    function GenerateTableWithUtility() {
        UtilityParams = {
            sUrl:"/TEMP/CodingStandard/LoadDataTableWithAllUtilityGridData",
            bIsFirstColumnCheckbox:true,
            bScrollX: true,
            iResponsiveOnWindowWidth: 800,
            sBtnDivSelector: "#dvExportHeader",
            aoColumns: [
                     {
                         'targets': 0,
                         "bSortable": false,
                         "sWidth": "5%",
                         "sClass": "left18",
                         "name": "UserId",
                         "attr":"none",
                         'render': function (data, type, full, meta) {
                             return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                         }
                     },
                    {
                        "searchable": "false",
                        "sClass": "control",
                        "name": "Title",
                        "attr":"none"
                    },
                    {
                        "sClass": "center",
                        "name": "FirstName"
                    },
                    {
                        "sClass": "center",
                        "name": "LastName"
                    },
                    {
                        "sClass": "center",
                        "name": "Roles",
                    },
                    {
                        "sClass": "center",
                        "name": "Address",
                        "maxlength": 50,
                    },
                    {
                        "sClass": "center",
                        "name": "Birthdate",
                        "attr": "date"
                    },
                    {
                        "sClass": "center",
                        "name": "Gender"
                    },
                    {
                        "sClass": "center",
                        "name": "Salary",
                        "attr": "numeric"
                    },
                    {
                        "sClass": "center",
                        "name": "Married"
                    },
                     {
                         "sClass": "center",
                         "name": "LastName"
                     },
                     {
                         "sClass": "center",
                         "name": "Address"
                     },
                    {
                        "sClass": "center",
                        "name": "Birthdate",
                        "attr": "date"
                    },
                    {
                        "sClass": "center",
                        "name": "Gender"
                    },
                    {
                        "sClass": "center",
                        "name": "Salary",
                        "attr": "numeric"
                    },
                    {
                        "sClass": "center",
                        "name": "Status"
                    },
                    {
                        "bSortable": false,
                        "sClass": "center SRE_disabled",
                        "name": "Action",
                        "attr":"none"
                    }
            ]
        };

        UtilityParams.bIsSearchFilter = $("#checkbox1").is(":checked");
        UtilityParams.bIsLazyLoading = $("#checkbox2").is(":checked");
        UtilityParams.bIsFixedColumn= $("#checkbox3").is(":checked");
        UtilityParams.bIsResponsive= $("#checkbox4").is(":checked");
        if($("#checkbox5").is(":checked"))
            UtilityParams.oSRE = { sUrl: "/TEMP/CodingStandard/GetInlineEditableRow", sCallback: 'CallAfterLoadSRE', iSelectedHeight: 68, bIsUpdateFromServer:false };
        UtilityParams.bBtnColVis = $("#checkbox6").is(":checked");
        UtilityParams.bIsFixedHeader = $("#checkbox7").is(":checked");
        UtilityParams.bIsAllCheckbox = $("#checkbox8").is(":checked");

        $('#tblUserDetail').dtUtility( UtilityParams );
    }
    var lstTitle = @Html.Raw(Json.Encode(@ViewBag.NameTitle));
    var lstGender = @Html.Raw(Json.Encode(@ViewBag.Gender));

    function CallAfterLoadSRE(id){
        LoadMultiSelect()
        $('#tblUserDetail_wrapper').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname") == "Title") {
                FillAutoCompleteWithArray(element, lstTitle)
            }
            if ($(this).attr("colname") == "Gender") {
                FillAutoCompleteWithArray(element, lstGender)
            }
        });
        $('input[colname="Birthdate"]').each(function () {
            $(this).attr('type', 'date');
        });
        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });

        $(".numeric").autoNumeric('init', { aSep: '' });
    }

    function SaveNewRecord() {
        if ($("#frmUsers").valid()) {
            $('#tblUserDetail_wrapper').find("thead:eq(1) .dataTables_sizing").html('') // remove copy of new record textbox
            var formData = new FormData();
            var frmValues = $('#frmUsers').serializeArray();

            $.each(frmValues, function (key, input) {
                var columnValue=false;
                if (input.name == "Married0") {
                    if($("#" +input.name).is(':checked'))
                    {columnValue=true;}
                    else
                    {columnValue=false}
                    formData.append(input.name, columnValue);
                }
                else
                {
                    formData.append(input.name, input.value);
                }
            });
            $.ajax({
                url:WebsiteURL + '/TEMP/CodingStandard/SaveNewRecord',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                dataType: "json",
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblUserDetail').DataTable().ajax.reload();
                        if ($('#btnNew_tblUserDetail').html() == '<i class="fa fa-times"></i> Cancel') {
                            $('#btnNew_tblUserDetail').click();
                        }
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function UpdateData(objColumn,rowID,isValid)
    {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        if ($(objColumn).attr('data-name') == "ddlmultiple") {
            columnValue = columnValue.join(",");
        }
        if (columnName == "Married") {
            if($(objColumn).is(':checked'))
                columnValue=true;
            else
                columnValue=false
        }
        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateValidData(columnName,columnValue,rowID)
        }
    }

    function updateValidData(columnName,columnValue,rowID)
    {
        $.ajax({
            type: "POST",
            url:WebsiteURL + "/TEMP/CodingStandard/UpdateDetails",
            datatype: 'json',
            async: false,
            data: { id: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                    $('#tblUserDetail').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

    function DeleteData(rowID)
    {
        bootbox.dialog({
            message: "Do you want to delete this record?",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url:WebsiteURL + "/TEMP/CodingStandard/DeleteDetails",
                            datatype: 'json',
                            async: false,
                            data: { id: rowID },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    $('#tblUserDetail').DataTable().ajax.reload();
                                }
                                else
                                {
                                    DisplayNotiMessage("error", result.Value, "error");
                                    $('#tblUserDetail').DataTable().ajax.reload();
                                }
                            },
                            error: function () {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                            }
                        });
                    }
                },
                No: {
                    Label: "No",
                    className: 'btn red',
                    callback: function () { }
                },
            }
        });
    }

    function LoadMultiSelect() {
        $("select[data-name='ddlmultiple']").select2({
            caption: "--Select Roles--",
            width: '350px'
        });
    }

    function GetCheckedIDs() {
        DisplayNotiMessage("info",UtilityParams.dtGetAllChecked() , "Selected Record ID");
    }

</script>

@Scripts.Render("~/bundles/datatable/js")


