﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Datatable/css")

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">


<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
              .expandspan {
            transform: rotate(45deg);
        }

        .lefttext {
            text-align: left !important;
        }

        .centertext {
            text-align: center !important;
        }

        .selectdrag {
            background-color: aquamarine !important;
        }

        .childmenus {
            padding-left: 15px;
        }


        .scroll-class {
            background-color: #00FFFF;
            width: 100%;
            height: 250px;
            overflow: scroll;
        }
        /*table ,tr td
            {
                border:1px solid red
            } /*jsut for design*/
        /*tbody
            {
                /*display:block;*/
        /*/




        /*div.dataTables_wrapper { min-height: 300px; }*/
</style>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <input type="hidden" value="" id="hudDataCount" />

                                    Inline Data Grid (Data Table)
                                    <small></small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                User Detail ( Client Side Grid with lazy loading )
                            </div>
                            <div class="tools" id="dvExportHeader">
                                <div class="btn-group">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/TEMP/CodingStandard/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
                                    <a style="margin-right:5px;margin-left:5px;" id="btnNew" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewRecord(this);">
                                        <i class="fa fa-plus"></i> New
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body " ïd="divTblUserDetail">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmUsers", @class = "form-horizontal" }))
                            {

                                <table class="table-striped table-bordered table-hover dt-responsive blue" id="tblUserDetail" cellspacing="0">

                                    <thead id="tabelhead">

                                        <tr>
                                            <th class="all">UserId</th>
                                            <th class="all">Title <span class="red">*</span></th>
                                            <th class="all">First Name <span class="red">*</span></th>
                                            <th class="all">Last Name <span class="red">*</span></th>
                                            <th class="all">Roles <span class="red">*</span></th>
                                            <th class="all">Address <span class="red">*</span></th>
                                            <th class="all">Birth Date <span class="red">*</span></th>
                                            <th class="all">Gender <span class="red">*</span></th>
                                            <th class="all">Salary <span class="red">*</span></th>
                                            <th class="all">Married</th>
                                            <th class="all">Status</th>
                                            <th class="all">Action</th>
                                        </tr>

                                    </thead>

                                    <tbody id="tblUserDetailBody" class="scroll-class"></tbody>

                                </table>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var oTable ="";
    var PreparedData="";
    var StartIndexDataCount = 1;
    var EndIndexDataCount = 0;
    var tblh =350;

    $(document).ready(function ()
    {

        //$(window).resize(function() {
        //    //console.log($(window).height());
        //    $('.dataTables_scrollBody').css('min-height','100px');
        //});

        var lstTitle = @Html.Raw(Json.Encode(@ViewBag.NameTitle));
        var lstGender = @Html.Raw(Json.Encode(@ViewBag.Gender));

        $('#tblUserDetail').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("hdElement");
            if ($(this).attr("colname") == "Title") {
                FillInlineAutoComplete(element, lstTitle, null, false);
            }
            if ($(this).attr("colname") == "Gender") {
                FillInlineAutoComplete(element, lstGender, null, false);
            }
        });

        $('#frmUsers').validate({
            rules: {
                Title0: {required: true,},
                FirstName0: {required: true,},
                LastName0: {required: true,},
                Roles0: {required: true,},
                Address0: {required: true,},
                Birthdate0: {required: true,},
                Gender0: {required: true,},
                Salary0: {required: true,},
                // Married0: {required: true,},
                Status0: {required: true,},
            },
            messages: {
                Title0: {required: "Title is required"},
                FirstName0: {required: "First Name is required"},
                LastName0: {required:"Last Name is required"},
                Roles0: {required: "Roles is required"},
                Address0: {required: "Address is required"},
                Birthdate0: {required: "Birthdate is required"},
                Gender0: {required: "Gender is required"},
                Salary0: {required:"Salary is required"},
                //Married0: {required:"Married is required"},
                Status0: {required: "Status is required"},
            }
        });

        var table = $('#tblUserDetail');

        $('#tblUserDetail tbody').on( 'click', 'tr', function () {
            //debugger
            if ( $(this).hasClass('selected') )
            {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');


                //Selection Coading

                var rowIndex = $(this).closest("tr").index();
                var dropdownDone = false;
                $(".editable").each(function(){
                    //debugger
                    $this =$(this);
                    if($this.closest("tr").index() !== rowIndex){
                        var newText = "";
                        //if($this.find("input")){
                        var value = $this.val();
                        var dropdownId=$this.closest("tr").find('select').attr('id');
                        $this.closest('td').html("<span  data-col='description' data-maxlength='100'>"+value+"</span>");
                        // }

                        //debugger
                        if(!dropdownDone){
                            var selMulti = $.map($('#'+dropdownId + " option:selected"), function (el, i) {
                                return $(el).text();
                            });
                            //$('#'+dropdownId ).text(selMulti.join(", "));
                            // $("#"+dropdownId).parent('td').html($('#'+dropdownId ).text());
                            $("#"+dropdownId).parent('td').html(selMulti.join(", "));
                            dropdownDone = true;
                        }
                    }
                });

                $this2 =$(this);


                //var firstTextBoxId  =  $(this).closest("tr").find("input:first").attr("id");
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataSingleData",
                    'data': {id:$(this).closest("tr").attr("data-id")},
                    //'data': {id:ID},
                    'async': true,
                    'success': function (data) {
                        oTable.api().row(rowIndex).data( data.aaData[0] );
                        //$("#"+firstTextBoxId).focusTextToEnd();
                        EditTableRow();
                        LoadMultiSelect();
                    }
                });

            }
        } );
        
        //initDataTableFixedColumn({ sTableID: 'tblUserDetail', iLeftCols: 2, iRightCols: 1, bIsWrapHeader:true, bIsFirstRowHidden:true, aColumnDefs:[{sName:"_DEF",iMinWidth:200}] });
        oTable = table.dataTable({
            "activate": function(event, ui){
                var selectedTab = ui.newTab.index();

                if (selectedTab == 0) { //first tab (datatable 1)
                    $dataTable1.columns.adjust().draw();
                }

                if (selectedTab == 1) { //second tab (datatable 2)
                    $dataTable2.columns.adjust().draw();
                }
            },

            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "Please wait"
                //"zeroRecords": "No matching records found"
            },

            "bProcessing": true,
            "bServerSide": true,
            //"stateSave": true,
            "bDestroy": true,
            //"bPaginate": false,  //to off pagination
            //"paging": false,
            "sDom": "lfrti",
            "dom": "lfrti",
            buttons: [],

            // Properties for Scroll lazy loading Start
            scrollX: true,//table.hasHScrollBar(),
            'scrollY': 500,
            "scrollCollapse": true,
            'scroller': {
                loadingIndicator: true
            },
           //  Properties for Scroll lazy loading End

            "pageLength": 100,
            "iDisplayLength": 500,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource":WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataGridData",
            "fnServerParams": function (aoData) {
                console.log(aoData)
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data)
                    {

                        @*var DuplicateData=@(Array) Session['Data'];*@

                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);

                        $('input[colname="Birthdate"]').each(function () {
                            $(this).attr('type', 'date');
                        });
                        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true });

                        $(".numeric").autoNumeric('init', { aSep: '' });

                        //debugger
                        PreparedData= data;
                        EndIndexDataCount = data.aaData.length;

                        LoadMultiSelect();
                        ResetAddRow($('#tblUserDetail'));

                        EditTableRow();
                        //table.dtSearchFilterFixHeader();
                    },
                });

            },
            createdRow: function (row, data, dataIndex)
            {
                $(row).attr("data-orderno", data[4]);
                $(row).attr("data-id", data[0]);
                $(row).attr("data-isparent", data[8]);
                $(row).attr("data-index", data[0]);
                $(row).attr("data-parentid", data[10]);
                $(row).attr("data-parentid", data[10]);

                if (!$(row).data("isparent"))
                {
                    $(row).css({ "display": "none" });
                }
            },
            "columns": [

                        {
                            "bSortable": "false",
                            "sClass": "hide"
                            //"visible":false,
                            //"name": "UserId",
                            //"attr":"none"
                        },                        
                        {
                            "searchable": "false",
                            "sClass": "center",
                            "name": "Title",
                            "attr":"none"
                        },
                        {
                            "sClass": "center",
                            "name": "FirstName"
                        },
                        {
                            "sClass": "center",
                            "name": "LastName"
                        },
                        {
                            "sClass": "center",
                            "name": "Roles",

                        },
                        {
                            "sClass": "center",
                            "name": "Address"
                        },
                        {
                            "sClass": "center",
                            "name": "Birthdate",
                            "attr": "date"
                        },
                        {
                            "sClass": "center",
                            "name": "Gender"
                        },
                        {
                            "sClass": "center",
                            "name": "Salary",
                            "attr": "numeric"
                        },
                        {
                            "sClass": "center",
                            "name": "Married"
                        },
                        {
                            "sClass": "center",
                            "name": "Status"
                        },
                        {
                            "bSortable": false,
                            "sClass": "center",
                            "name": "Action"
                        }
            ]

        });
        table.dtSearchFilterFixHeader();
        var oSettings = oTable.fnSettings();
        oSettings._iDisplayLength = 500;
        oTable.fnDraw();
    });

    function EditTableRow()
    {
        //debugger
        $('.editTableRow').click(function (){
            var rowIndex = $(this).closest("tr").index();
            var dropdownDone = false;
            $(".editable").each(function(){
                //debugger
                $this =$(this);
                if($this.closest("tr").index() !== rowIndex){
                    var newText = "";
                    //if($this.find("input")){
                    var value = $this.val();
                    var dropdownId=$this.closest("tr").find('select').attr('id');
                    $this.closest('td').html("<span  data-col='description' data-maxlength='100'>"+value+"</span>");
                    // }

                    //debugger
                    if(!dropdownDone){
                        var selMulti = $.map($('#'+dropdownId + " option:selected"), function (el, i) {
                            return $(el).text();
                        });
                        //$("#result").text(selMulti.join(", "));
                        // $("#"+dropdownId).parent('td').html($('#'+dropdownId ).text());
                        $("#"+dropdownId).parent('td').html(selMulti.join(", "));
                        dropdownDone = true;
                    }
                }
            });

            $this2 =$(this);


            var firstTextBoxId  =  $(this).closest("tr").find("input:first").attr("id");
            $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': WebsiteURL + "/TEMP/CodingStandard/LoadInlineEditableDataSingleData",
                'data': {id:$(this).closest("tr").attr("data-id")},
                //'data': {id:ID},
                'async': true,
                'success': function (data) {
                    oTable.api().row(rowIndex).data( data.aaData[0] );
                    $("#"+firstTextBoxId).focusTextToEnd();
                    EditTableRow();
                    LoadMultiSelect();
                }
            });
        });
    }

    function RemoveEditableTextbox(txt) {
        $(txt).find('.editable').each(function () {
            //console.log("RemoveEditableTextbox called");
            $this = $(this);
            var newText =  "<span class='editable' data-col='description' data-maxlength='100'>"+$this.find("input").val()+"</span>";
            var oldText = $this.data("old");
            var menuId = $this.closest("tr").data("id");
            var $span = $this.parent();
            $span.removeClass("isedit");
            $span.html(newText);
            //if (oldText != newText) {
            //    $(span).html(oldText);
            //    }
        })
    }

    (function ($) {
        $.fn.focusTextToEnd = function () {
            this.focus();
            var $thisVal = this.val();
            this.val('').val($thisVal);
            return this;
        }
    }(jQuery));

    function ShowNewRecord(obj) {
        $('#tblUserDetail').find("tbody tr:first").toggle();
        if ($('#tblUserDetail').find("tbody tr:first").is(":visible")) {
            $(obj).html('<i class="fa fa-times"></i> Cancel');
        }
        else {
            $(obj).html('<i class="fa fa-plus"></i> New');
            clearFirstRowLine($('#tblUserDetail').find("tbody tr:first"));
        }
    }

    function clearFirstRowLine(objFirstLine) {
        $('input[type!="hidden"]', objFirstLine).val('');
    }

    function ResetAddRow(table) {
        table.find("tbody tr:first").hide();
        table.find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").html('<i class="fa fa-plus"></i> New');
        clearFirstRowLine(table.find("tbody tr:first"));
    }

    function SaveNewRecord() {
        if ($("#frmUsers").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmUsers').serializeArray();

            $.each(frmValues, function (key, input) {
                var columnValue=false;
                if (input.name == "Married0") {
                    if($("#" +input.name).is(':checked'))
                    {columnValue=true;}
                    else
                    {columnValue=false}
                    formData.append(input.name, columnValue);
                }
                else
                {
                    formData.append(input.name, input.value);
                }
            });
            $.ajax({
                url:WebsiteURL + '/TEMP/CodingStandard/SaveNewRecord',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblUserDetail').DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function SaveNewServerSideRecord() {
        if ($("#frmServerSideUsers").valid()) {
            var formData = new FormData();
            var frmValues = $('#frmServerSideUsers').serializeArray();

            $.each(frmValues, function (key, input) {
                var columnValue=false;
                if (input.name == "Married0") {
                    if($("#" +input.name).is(':checked'))
                    {columnValue=true;}
                    else
                    {columnValue=false}
                    formData.append(input.name, columnValue);
                }
                else
                {
                    formData.append(input.name, input.value);
                }
            });
            $.ajax({
                url:WebsiteURL + '/TEMP/CodingStandard/SaveNewRecord',
                data: formData,
                contentType: false,
                processData: false,
                type: 'POST',
                async: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        $('#tblUserDetail').DataTable().ajax.reload();
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }
    }

    function UpdateData(objColumn,rowID,isValid)
    {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        if ($(objColumn).attr('data-name') == "ddlmultiple") {
            columnValue = columnValue.join(",");
        }
        if (columnName == "Married") {
            if($(objColumn).is(':checked'))
            {columnValue=true;}
            else
            {columnValue=false}
        }
        if (isValid && columnValue == "") {
            DisplayNotiMessage("info", columnName + " is required", "Info");
            return false;
        }
        else {
            updateValidData(columnName,columnValue,rowID)
        }
    }

    function updateValidData(columnName,columnValue,rowID)
    {
        $.ajax({
            type: "POST",
            url:WebsiteURL + "/TEMP/CodingStandard/UpdateDetails",
            datatype: 'json',
            async: false,
            data: { id: rowID, columnName: columnName, columnValue: columnValue },
            success: function (result) {
                if (!result.Key) {
                    DisplayNotiMessage("error", result.Value, "error");
                    $('#tblUserDetail').DataTable().ajax.reload();
                }
            },
            error: function () {
                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
            }
        });
    }

    function DeleteData(rowID)
    {
        bootbox.dialog({
            message: "Do you want to delete this record?",
            buttons: {
                Yes: {
                    Label: "Yes",
                    className: 'btn green',
                    callback: function () {

                        $.ajax({
                            type: "POST",
                            url:WebsiteURL + "/TEMP/CodingStandard/DeleteDetails",
                            datatype: 'json',
                            async: false,
                            data: { id: rowID },
                            success: function (result) {
                                if (result.Key) {
                                    DisplayNotiMessage("success", result.Value, "Success");
                                    $('#tblUserDetail').DataTable().ajax.reload();
                                }
                                else
                                {
                                    DisplayNotiMessage("error", result.Value, "error");
                                    $('#tblUserDetail').DataTable().ajax.reload();
                                }
                            },
                            error: function () {
                                DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                            }
                        });
                    }
                },
                No: {
                    Label: "No",
                    className: 'btn red',
                    callback: function () { }
                },
            }
        });
    }

    function FillInlineAutoComplete(element, sourceList, hdElement, isEditable) {

        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(element).val(ui.item.value);

            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(this).focus();

                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function LoadMultiSelect() {
        $("select[data-name='ddlmultiple']").select2({
            caption: "--Select Roles--",
            width: '350px'
        });
    }

    function Load()
    {
        $.ajax({
            type: "POST",
            url: "/CodingStandard/ClientSideGrid",
            dataType: "json",
            success: function (result) {
                var flex = wijmo.Control.getControl("#fg");
                flex.itemsSource = result;
            },
            error: function (err) {

            }
        });
    }

</script>

<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")


