﻿@model IEMQSImplementation.PRO001
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/clockface.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/clockface.js" type="text/javascript"></script>

<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@*<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>*@
<style>
    .FormTable {
        width: 100% !important;
    }

        .FormTable td {
            width: 11% !important;
            border: solid 2px #cecece;
            padding: 5px 5px !important;
            text-align: center;
        }

            .FormTable td input[type="text"]:not(.error) {
                text-align: center;
                border: 1px solid #e9e9e9 !important;
            }

        .FormTable span {
            padding: 5px 5px !important;
        }

        .FormTable .title {
            font-weight: bold !important;
            background-color: #e9e9e9 !important;
        }

        .FormTable .subtitle {
            font-weight: bold !important;
            background-color: #f3f3f3 !important;
        }
        /*.FormTable .sub-subtitle {
            background-color: #f3f3f3 !important;
        }*/

        .FormTable .noTopBoder {
            border-top: solid 1px white !important;
        }

        .FormTable .noBottomBoder {
            border-bottom: solid 1px white !important;
        }

    .tblNotes td {
        text-align: left;
    }

        .tblNotes td input {
            display: inline-block;
        }

    .w100 {
        width: 100px;
    }

    .w250 {
        width: 250px;
    }

    .PRODTextbox {
        background-color: #cfc !important;
    }

    .QCTextbox {
        background-color: #fff9b6 !important;
    }

    .EditableTextColor {
        color: #000 !important;
        font-size: 16px !important;
    }

    .NonEditableTextColor {
        color: #777 !important;
    }

    .lefttext {
        text-align: left;
    }

    .spnClass {
        float: left;
        text-align: center;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">SET-UP & DIMENSION REPORT FOR ROLLED SHELL LONGITUDINAL SEAM</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control col-md-3", @role = "QC" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="FormTable">
                                    <tr>
                                        <td colspan="4" class="title">IDENTIFICATION MARKING</td>
                                        <td colspan="2" class="title">PTC REQUIRED</td>
                                        <td colspan="3" class="title">WEP UT/MT/PT/CUSO4 CLEAR</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" rowspan="3">@Html.TextAreaFor(model => model.IdentificationMarking, new { @class = "form-control col-md-12", @maxlength = 500, @role = "PROD" })</td>
                                        <td colspan="2" rowspan="3">@Html.TextBoxFor(model => model.PtcRequired, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        <td colspan="3">@Html.TextBoxFor(model => model.WepUTMTPTCUSO4Clear, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="subtitle">SEAM NO. PUNCHING AT EVERY 900MM</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">@Html.TextBoxFor(model => model.SeamNoPunchingAtEvery900mm, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="title" rowspan="2">EXTENT OF NDT</td>
                                        <td colspan="2" class="title">WEP ANGLE</td>
                                        <td colspan="3" rowspan="2" class="title">TACKS FREE FROM CRACK</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">I/S</td>
                                        <td class="subtitle">O/S</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">RT</td>
                                        <td>@Html.TextBoxFor(model => model.ExtentOfNDTRT, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        <td class="sub-subtitle">UT</td>
                                        <td>@Html.TextBoxFor(model => model.ExtentOfNDTUT, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        <td rowspan="2">@Html.TextBoxFor(model => model.WEPAngleis, new { @class = "form-control col-md-12", @maxlength = 5, @role = "PROD" })</td>
                                        <td rowspan="2">@Html.TextBoxFor(model => model.WEPAngleos, new { @class = "form-control col-md-12", @maxlength = 5, @role = "PROD" })</td>
                                        <td colspan="3" rowspan="2">@Html.TextBoxFor(model => model.TacksFreeFromCrack, new { @class = "form-control col-md-12", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">TOFD UT</td>
                                        <td>@Html.TextBoxFor(model => model.ExtentOfNDTTOFD, new { @class = "form-control col-md-12", @role = "QC" })</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" class="title">W.E.P.</td>
                                        <td rowspan="2" class="title">ROOT GAP</td>
                                        <td colspan="2" rowspan="2" class="title">ROOT FACE</td>
                                        <td colspan="3" class="title">SHELL THICKNESS REQURED @Html.TextBoxFor(model => model.ShellThiknessRequired, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td colspan="2" class="title">OFFSET ALLOWED @Html.TextBoxFor(model => model.OffsetAllowed, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="subtitle">ACTUAL</td>
                                        <td colspan="2" class="subtitle">ACTUAL</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">REQUIRED</td>
                                        <td>@Html.TextBoxFor(model => model.RequriedRootGap, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td colspan="2">@Html.TextBoxFor(model => model.RequriedRootFace, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.RrequriedActual1, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RrequiredActual2, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RequriedActual3, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RrequriedActual4, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RequredActual5, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">ACT. MAX.</td>
                                        <td>@Html.TextBoxFor(model => model.ActMaxRootGap, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td colspan="2">@Html.TextBoxFor(model => model.ActMaxRootFace, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMaxActual1, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMaxActual2, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMaxActual3, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMaxActual4, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMaxActual5, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">ACT. MIN.</td>
                                        <td>@Html.TextBoxFor(model => model.ActMinRootGap, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td colspan="2">@Html.TextBoxFor(model => model.ActMinRootFace, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMinActual1, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMinActual2, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMinActual3, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMinActual4, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActMinActual5, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="title">CIRCUMFERENTIAL MEASUREMENT </td>
                                        <td colspan="4" class="title">TOTAL SHELL HEIGHT REQUIRED @Html.TextBoxFor(model => model.TotalShellHeightRequried, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle">LOCATION</td>
                                        <td class="subtitle">REQ. ID CF.</td>
                                        <td class="subtitle">ACT.</td>
                                        <td class="subtitle">REQ. OD CF.</td>
                                        <td class="subtitle">ACT.</td>
                                        <td colspan="4" class="subtitle">ACTUAL</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">TOP</td>
                                        <td>@Html.TextBoxFor(model => model.ReqIdCFTop, new { @class = "form-control col-md-12", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActReqIdCFTop, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ReqODCFTop, new { @class = "form-control col-md-12", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActReqODCFTop, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                        <td class="sub-subtitle">AT 0°</td>
                                        <td>@Html.TextBoxFor(model => model.ActualAt0, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td class="sub-subtitle">AT 90°</td>
                                        <td>@Html.TextBoxFor(model => model.ActualAt90, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">MIDDLE</td>
                                        <td>@Html.TextBoxFor(model => model.ReqIdCFMiddle, new { @class = "form-control col-md-12", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActReqIdCFMiddle, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ReqODCFTopMiddle, new { @class = "form-control col-md-12", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActReqODCFTopMiddle, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                        <td class="sub-subtitle">AT 180°</td>
                                        <td>@Html.TextBoxFor(model => model.ActualAt180, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td class="sub-subtitle">AT 270°</td>
                                        <td>@Html.TextBoxFor(model => model.ActualAt270, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">BOTTOM</td>
                                        <td>@Html.TextBoxFor(model => model.ReqIdCFBottom, new { @class = "form-control col-md-12", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActReqIdCFBottom, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ReqODCFTopBottom, new { @class = "form-control col-md-12", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActReqODCFTopBottom, new { @class = "form-control col-md-12", @maxlength = 10, @role = "PROD" })</td>
                                        <td colspan="4" class="title">CIRC. DISTANCE TO ADJACENT LONG. SEAM</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" rowspan="2" class="noBottomBoder"><span style="float:left; font-weight: bold">NOTES:-</span></td>
                                        <td class="subtitle">SEAM NO.</td>
                                        <td class="subtitle">REQUIRED</td>
                                        <td class="subtitle">ACTUAL</td>
                                        <td class="subtitle">REMARK</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.TextBoxFor(model => model.SeamNo1, new { @class = "form-control col-md-12", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo1Required, new { @class = "form-control col-md-12", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo1Actual, new { @class = "form-control col-md-12", @maxlength = 20, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo1Remark, new { @class = "form-control col-md-12", @maxlength = 100, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="noBottomBoder noTopBoder"><span style="float:left">1) PROCEDURE NO: </span>@Html.TextBoxFor(model => model.NoteLine1, new { @class = "form-control col-md-6", style = "width:400px !important;", @maxlength = 200, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo2, new { @class = "form-control col-md-12", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo2Required, new { @class = "form-control col-md-12", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo2Actual, new { @class = "form-control col-md-12", @maxlength = 20, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo2Remark, new { @class = "form-control col-md-12", @maxlength = 100, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="noTopBoder noBottomBoder"><span style="float:left">2) CALIBRATED TAPE NO.: </span>@Html.TextBoxFor(model => model.NoteLine2_1, new { @class = "form-control col-md-6", style = "width:400px !important;", @maxlength = 50, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo3, new { @class = "form-control col-md-12", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo3Required, new { @class = "form-control col-md-12", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo3Actual, new { @class = "form-control col-md-12", @maxlength = 20, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.SeamNo3Remark, new { @class = "form-control col-md-12", @maxlength = 100, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder">
                                            <span style="float:left; padding-left: 70px !important">CAL.DUE DATE: </span>
                                            <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                @Html.TextBoxFor(m => m.NoteLine2_2, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", style = "width:200px !important;", @role = "QC" })
                                                <span class="input-group-btn" style="float: left;top: -5px;">
                                                    <button class="btn default" id="btncal1" type="button">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @*@Html.TextBoxFor(model => model.NoteLine2_2, new { @class = "form-control col-md-6", style = "width:200px !important;" })*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">3) RUN IN RUN OUT ATTACHED: </span>@Html.TextBoxFor(model => model.NoteLine3, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">4) L&T STAMP AVILABLE ON IDENTIFICATION:  </span>@Html.TextBoxFor(model => model.NoteLine4, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">5) WELDER NO FOR TACK & TEMPORARY SUPPORT:  </span>@Html.TextBoxFor(model => model.NoteLine5, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">6) PREHEATING CARRIED OUT BEFORE ANY TEMP.ATTACHMENT AS PER APPLICABLE WPS:  </span>@Html.TextBoxFor(model => model.NoteLine6, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">7) SKETCH FOR TEMPORARY SUPPORT PROVIDED WITH IDENTIFICATION:  </span>@Html.TextBoxFor(model => model.NoteLine7, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">8) ALL DIMENSIONS ARE IN MM, UNLESS OTHERWISE SPECIFIED.</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">9) SKETCH, IF ANY ON REVERSE SIDE OF REPORT:  </span>@Html.TextBoxFor(model => model.NoteLine9, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">10) GROOVE CLEANED:  </span>@Html.TextBoxFor(model => model.NoteLine10, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">11) WARM/HOT ROLLING (IF APPLICABLE) H.T. GRAPH SUBMITTED TO INSPECTION:  </span>@Html.TextBoxFor(model => model.NoteLine11, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">12) ANY MTC REQUIRED (IF APPLICABLE AS PER PCL/PCR ?):  </span>@Html.TextBoxFor(model => model.NoteLine12, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "QC" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder noBottomBoder"><span style="float:left;">13) STRAIGHTNESS CHECKED WITH TEMPLATEOF LENGTH 2000 MM.:  </span>@Html.TextBoxFor(model => model.NoteLine13, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="9" class="noTopBoder"><span style="float:left;">14) WEP HARDNESS CHECKED IN CASE PREPARED BY GAS CUTTING :  </span>@Html.TextBoxFor(model => model.NoteLine14, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                    </tr>
                                </table>
                                <br />
                                <table class="FormTable">

                                    <tr>
                                        <td colspan="9" class="title">OUT OF ROUNDNESS CHECKED</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="subtitle">ORIENTATION</td>
                                        <td class="subtitle">REQ. TOP I.D.</td>
                                        <td class="subtitle">ACT. TOP I.D.</td>
                                        <td class="subtitle">REQ. BOT. I.D.</td>
                                        <td class="subtitle">ACT. BOTTOM I.D.</td>
                                        <td colspan="3" class="subtitle">Remarks</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">0°-180°</td>
                                        <td rowspan="8">@Html.TextBoxFor(model => model.ReqTopID, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID1, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td rowspan="8">@Html.TextBoxFor(model => model.ReqBotID, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID1, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td colspan="3" rowspan="9">@Html.TextAreaFor(model => model.Remarks, new { @class = "form-control col-md-12", @maxlength = 100, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">22.5°-205.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID2, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID2, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">45°-225°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID3, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID3, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">67.5°-247.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID4, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID4, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">90°-270°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID5, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID5, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">112.5°-292.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID6, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID6, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">135°-315°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID7, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID7, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="sub-subtitle">157.5°-337.5°</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID8, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID8, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="sub-subtitle">OUT OF ROUNDNESS</td>
                                        <td>@Html.TextBoxFor(model => model.ActTopID9, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>
                                        <td></td>
                                        <td>@Html.TextBoxFor(model => model.ActBottomID9, new { @class = "form-control col-md-12 numeric-only", @maxlength = 10, @role = "PROD" })</td>

                                    </tr>
                                </table>
                                <br />
                                <table class="FormTable">
                                    <tr>
                                        <td colspan="9" class="title"><span style="float:left; text-align: center">PROFILE MEASUREMENT (PEAK IN/OUT WITH D/4 TEMPLATE), [TOL: </span>@Html.TextBoxFor(model => model.ProfileMeasurementTol, new { @class = "form-control col-md-12 numeric-only", style = "width:100px !important;", @role = "QC" }) <span style="float:left;">]</span></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" class="subtitle">SEAM NO.</td>
                                        <td colspan="2" class="subtitle">TOP</td>
                                        <td colspan="2" class="subtitle">MID.</td>
                                        <td colspan="2" class="subtitle">BOTTOM</td>
                                        <td colspan="2" rowspan="2" class="subtitle">REMARKS</td>
                                    </tr>
                                    <tr>
                                        <td>PEAK-IN</td>
                                        <td>PEAK-OUT</td>
                                        <td>PEAK-IN</td>
                                        <td>PEAK-OUT</td>
                                        <td>PEAK-IN</td>
                                        <td>PEAK-OUT</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.TextBoxFor(model => model.ProfileMeasurementSeamNo1, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.TopPeakIn1, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TopPeakOut1, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.MidPeakIn1, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.MidPeakOut1, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.BottomPeakIn1, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.BottomPeakOut1, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td rowspan="3" colspan="2">@Html.TextAreaFor(model => model.ProfileMeasurementRemarks, new { @class = "form-control col-md-3", @maxlength = 100, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.TextBoxFor(model => model.ProfileMeasurementSeamNo2, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.TopPeakIn2, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TopPeakOut2, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.MidPeakIn2, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.MidPeakOut2, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.BottomPeakIn2, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.BottomPeakOut2, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.TextBoxFor(model => model.ProfileMeasurementSeamNo3, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.TopPeakIn3, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.TopPeakOut3, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.MidPeakIn3, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.MidPeakOut3, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.BottomPeakIn3, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.BottomPeakOut3, new { @class = "form-control col-md-3", @maxlength = 10, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td class="title" colspan="9">e-VALUE TEMPLATE INSPECTION (IN CASE OF EXTERNAL PRESSURE VESSEL)</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="subtitle">CHORD LENGTH</td>
                                        <td colspan="2" class="subtitle">RADIUS</td>
                                        <td colspan="3" class="subtitle">GAP</td>
                                        <td colspan="2" class="subtitle">REMARKS</td>
                                    </tr>
                                    <tr>
                                        <td class="sub-subtitle">REQ.</td>
                                        <td class="sub-subtitle">ACT.</td>
                                        <td class="sub-subtitle">REQ.</td>
                                        <td class="sub-subtitle">ACT.</td>
                                        <td colspan="2" class="sub-subtitle">ALLOWABLE</td>
                                        <td class="sub-subtitle">ACT.</td>
                                        <td rowspan="2">@Html.TextAreaFor(model => model.EValueTemplateInspectionRemarks, new { @class = "form-control col-md-3", @maxlength = 100, @role = "PROD" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.TextBoxFor(model => model.ChordLengthReq, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.ChordLengthAct, new { @class = "form-control col-md-3", @maxlength = 20, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.RadiusReq, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.RadiusAct, new { @class = "form-control col-md-3", @maxlength = 20, @role = "PROD" })</td>
                                        <td>@Html.TextBoxFor(model => model.GapAllowable1, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.GapAllowable2, new { @class = "form-control col-md-3", @maxlength = 20, @role = "QC" })</td>
                                        <td>@Html.TextBoxFor(model => model.GapAct, new { @class = "form-control col-md-3", @maxlength = 20, @role = "PROD" })</td>
                                    </tr>
                                </table>
                                <br />
                                INSPECTION REMARK : @Html.TextBoxFor(model => model.InspectionRemark, new { @class = "form-control col-md-3", @maxlength = 100, @role = "QC" })
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class="control-label spnClass">CLADDED VESSEL : &nbsp;</label>
                                        @Html.TextBoxFor(model => model.CladdedVessel, new { @role = "QC", @class = "form-control col-md-12 w100", @style = "text-align:center", @maxlength = 10 })
                                    </div>
                                </div>
                            </div>
                            <div id="dvProtocolLines2">
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">

                                                <span style="float:left; margin-top: 7px;">
                                                    <strong>CLAD STRIPING WIDTH REQUIRED</strong> &nbsp;&nbsp;Max:
                                                </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.WidthRequiredMax, new { @class = "form-control col-md-12", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                <span style="float:left; margin-top: 7px;">&nbsp;&nbsp;Min :</span>&nbsp;&nbsp;@Html.TextBoxFor(model => model.WidthRequiredMin, new { @class = "form-control col-md-12", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <div class="btn-group">

                                                    @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                    <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">GridId</th>
                                                        <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th class="all">SPOT NO.</th>
                                                        <th class="all">WIDTH</th>
                                                        <th class="all">REMARKS</th>
                                                        <th class="all">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                        <div class="portlet-title">
                                            <div class="caption">

                                                <span style="float:left; margin-top: 7px;">
                                                    <strong>CLAD STRIPING DEPTH REQUIRED</strong> &nbsp;&nbsp;Max:
                                                </span> &nbsp;&nbsp;@Html.TextBoxFor(model => model.DepthRequriedMax, new { @class = "form-control col-md-12", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                                <span style="float:left; margin-top: 7px;">&nbsp;&nbsp;Min :</span>&nbsp;&nbsp;@Html.TextBoxFor(model => model.DepthRequriedMin, new { @class = "form-control col-md-12", style = "width:100px !important;", @maxlength = 10, @role = "QC" })
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <div class="btn-group">
                                                    @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                    <a style="margin-right:5px;" id="btnNewLines2" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines2');">
                                                        <i class="fa fa-plus"></i> New
                                                    </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <table id="tblProtocolLines2" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">GridId</th>
                                                        <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th class="all">SPOT NO.</th>
                                                        <th class="all">DEPTH</th>
                                                        <th class="all">REMARKS</th>
                                                        <th class="all">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tr>
                                            <td colspan="2" class="title">WIDTH AND DEPTH OF CLAD STRIPING AREA IS ASSURED AT EACH RT SPOT.</td>
                                        </tr>
                                        <tr>
                                            <td class="noBottomBoder title"><span style="float:left;">NOTES:</span></td>
                                            <td rowspan="4">
                                                <img src="~/Images/protocol-sample.png" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="noBottomBoder noTopBoder"><span style="float:left">1. PROCEDURE NO. </span>@Html.TextBoxFor(model => model.Note1, new { @class = "form-control col-md-6", style = "width:400px !important;", @maxlength = 100, @role = "QC" })</td>
                                        </tr>
                                        <tr>
                                            <td class="noBottomBoder noTopBoder"><span style="float:left">2. CLAD STRIPING INSURED WITH CuSO4. </span>@Html.TextBoxFor(model => model.Note2, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td class="noTopBoder"><span style="float:left">3. CLAD ANGLE ENSURED FOR 45° </span>@Html.TextBoxFor(model => model.Note3, new { @class = "form-control col-md-6", style = "width:100px !important;", @role = "PROD" })</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12" style="height: 20px"></div>
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var Line1Columns = [];
    var Line2Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        SetTableColumns();

        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        SetControlNumeric();
        SetAccessControlForRole(userRole)

        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])
        LoadProtocolLineTables('tblProtocolLines2', 'btnNewLines2', Line2Columns, ControllerURL + "GetProtocolLines2Data" + Linkage, ["headerId"])

        var lstYesNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoEnum))));
        var lstYesNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNAEnum))));
        var lstYesNoNA = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.YesNoNAEnum))));
        var lstRTUTExtent = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.RTUTExtentEnum))));
        var lstTOFDUTExtent = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.TOFDUTExtentEnum))));
        FillProtocolAutoComplete($('#PtcRequired'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#WepUTMTPTCUSO4Clear'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#SeamNoPunchingAtEvery900mm'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#TacksFreeFromCrack'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine4'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine5'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine5'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine6'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine7'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine9'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine10'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine11'), lstYesNA, null, false);
        FillProtocolAutoComplete($('#NoteLine12'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine13'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#NoteLine14'), lstYesNoNA, null, false);
        FillProtocolAutoComplete($('#Note2'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#Note3'), lstYesNo, null, false);
        FillProtocolAutoComplete($('#ExtentOfNDTRT'), lstRTUTExtent, null, false);
        FillProtocolAutoComplete($('#ExtentOfNDTUT'), lstRTUTExtent, null, false);
        FillProtocolAutoComplete($('#ExtentOfNDTTOFD'), lstTOFDUTExtent, null, false);

        showCladtripTable('@Model.CladdedVessel', "dvProtocolLines2");
        FillProtocolAutoComplete($('#CladdedVessel'), lstYesNo, null, false, showCladtripTable, ["dvProtocolLines2"]);

        $("#btnSave").click(function () {
            @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="PROD"]').prop("required", true);</text>
            }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
            {
                <text>$('[role="QC"]').prop("required", true);</text>
            }
            SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
        });

        $("#btnClose").click(function () {
            DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
            window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
        });


    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function SaveProtocolLine2(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine2" + Linkage, "tblProtocolLines2", "btnNewLines2");
    }

    function SetTableColumns() {
        Line1Columns = [
              {
                  "sClass": "hide",
                  "bSortable": false,
              },
               {
                   "sClass": "hide",
                   "bSortable": false,
               },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SpotNo",
                },
                {
                    "sClass": "center",
                    "name": "SpotWidth",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

        Line2Columns = [
                 {
                     "sClass": "hide",
                     "bSortable": false,
                 },
                 {
                     "sClass": "hide",
                     "bSortable": false,
                 },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "SpotNo",
                },
                {
                    "sClass": "center",
                    "name": "SpotDepth",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },
                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];

    }


    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }
</script>

