﻿@model IEMQS.Areas.TEMP.Models.clsDataFlow
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@Styles.Render("~/Content/Datatable/css")


<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
<link href="~/Content/DataTable/searchFilter.custom.dataTables.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/css/components.min.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet">

<link href="~/Content/assets/global/css/plugins.min.css" rel="stylesheet" />
<link href="~/Content/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />


<link href="~/Content/ThemeCss/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

@Styles.Render("~/Content/font-awesome/css")
<link href="~/Content/ThemeCss/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />


@Styles.Render("~/Content/bootstrap/css")
@Styles.Render("~/Content/bootstrap-switch/css")


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/GoJS/go-1.8.35.js"></script>
<script src="~/Scripts/select2/js/select2.full.min.js"></script>
<script src="~/Scripts/GoJS/HyperlinkText.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/bootstrap/js")
@Scripts.Render("~/bundles/jquery-validation/js")
@Scripts.Render("~/bundles/Common/js")
@Scripts.Render("~/bundles/datatable/js")
<link href="~/Content/ThemeCss/toastr.min.css" rel="stylesheet" />

@{
    var json = Html.Raw(Json.Encode(Model));
    var parentdtl = Html.Raw(Json.Encode(ViewBag.ParentChildDtl));
    var objclsDataFlow = Html.Raw(Json.Encode(ViewBag.clsDataFlow)); // data for prameet

    //var listIntitial = Model.Where(i => i.Predecessors == "").ToList();

    //var newLists = Model.newLists;
    //var SecondLists = Model.SecondLists;
    //var firstnewLists = newLists.FirstOrDefault().UID;
    //var lastnewLists = newLists.LastOrDefault().UID;
    //var firstSecondLists = SecondLists.FirstOrDefault().UID;
    //var lastSecondLists = SecondLists.LastOrDefault().UID;

    string project = "";
    int width = 300;
    int InitialWidth = width;
    int height = 150;
    int spacing = 100;
    int x = 50;
    int y = 50;

    int incrwidth = 350;
    int inrihight = 150;

    int windwidth = Convert.ToInt32(ViewBag.WidowsWidth);
    int svgWidth = Convert.ToInt32(ViewBag.WidowsWidth);
    int windheight = Convert.ToInt32(ViewBag.WidowsHeight);
    //int svgWidth = 0;

    List<string> listAddedElement = new List<string>();
    var Maxy = 0; var Maxx = 0;
}

<style>
    .page-header-fixed .page-container {
        margin-top: 0;
    }

    .page-content-wrapper .page-content {
        margin-left: 0;
    }

    .mt-element-step .step-line .mt-step-col {
        flex: none;
    }

    .mt-element-step .step-line .mt-step-number {
        height: 70px;
        width: 200px;
        border-radius: 10px !important;
        font-size: 16px;
    }

    .portlet {
        margin-bottom: 0px !important;
    }

    .mt-element-step .step-line .mt-step-number label {
        font-weight: normal;
    }

    .mt-element-step .step-line .mt-step-title:after, .mt-element-step .step-line .mt-step-title:before {
        top: -37px !important;
        border-width: 2px;
    }

    .mt-element-step .step-line .mt-step-title {
        font-size: 15px;
        font-weight: bold;
    }

        .mt-element-step .step-line .mt-step-title p {
            margin-bottom: 0;
        }

    .mt-element-step .step-line .mt-step-footer {
        margin: 0 15px;
    }

        .mt-element-step .step-line .mt-step-footer > div {
            display: inline-block;
            padding: 3px 10px;
        }

    .mt-element-step .step-line .mt-step-content {
        overflow: hidden;
    }

        .mt-element-step .step-line .mt-step-content.ellipsis {
            overflow: hidden;
            padding: 0 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    .mt-step-content-wrapper {
        border: 2px solid #e5e5e5;
        border-radius: 5px !important;
        margin-top: 5px;
        width: 90%;
        margin: 5px auto 0;
        padding: 5px;
        /*background-color: #d0ffdc;
        color: black;*/
    }

        .mt-step-content-wrapper .uppercase.bold.font-grey-cascade {
            padding: 5px 0;
        }

        .mt-step-content-wrapper table {
            font-size: small;
        }

    .mt-step-col.open::before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 11px solid #e5e5e5;
        top: 100px !important;
        position: absolute;
        left: 50%;
        right: 50%;
    }

    .mt-step-content font-grey-cascade {
        text-align: justify;
    }

    .mt-step-content font-grey-cascade {
        text-align: justify;
    }

    .mt-element-step .custom.step-line .mt-step-number {
        border: 2px solid #e5e5e5;
        cursor: pointer;
        height: 100px;
        width: 320px;
        /*background-color: #7ef79d !important;
        color: darkblue;*/
    }

        .mt-element-step .custom.step-line .mt-step-number label {
            width: 100%;
        }

    .mt-element-step .custom.step-line .mt-step-title:after,
    .mt-element-step .custom.step-line .mt-step-title:before {
        top: -50px !important;
    }


    .mt-element-step .custom.step-line .mt-step-col.open::before {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 11px solid #e5e5e5;
        top: 130px !important;
        position: absolute;
        left: 50%;
        right: 50%;
    }

    .mt-element-step .custom.step-line .mt-step-col.open.done::before {
        border-bottom-color: #26C281;
    }

    .mt-element-step .custom.step-line .mt-step-col.open.done .mt-step-content-wrapper {
        border-color: #26C281;
    }

    .mt-element-step .custom.step-line .mt-step-col.open.active::before {
        border-bottom-color: #32c5d2;
    }

    .mt-element-step .custom.step-line .mt-step-col.open.active .mt-step-content-wrapper {
        border-color: #32c5d2;
    }

    .mt-element-step .custom.step-line .mt-step-col.open.eror::before {
        border-bottom-color: #E7505A;
    }

    .mt-element-step .custom.step-line .mt-step-col.open.eror .mt-step-content-wrapper {
        border-color: #E7505A;
    }


    svg line, svg polyline {
        fill-opacity: 0;
        /*stroke: #c1c1c1;*/
        stroke: #808080;
        stroke-width: 2;
        stroke-dasharray: 870;
        stroke-dashoffset: 870;
        animation-name: draw;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    svg g, svg rect {
        /*fill: #007acc;*/
        /*stroke-width: 1;
        fill-opacity: 0.4;
        stroke-opacity: 0.9;*/
        /*animation-name:initial;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;*/
    }

    svg g, svg text {
        margin-left: 80px;
        /*fill: #007acc;*/
        /*stroke-width: 1;
        fill-opacity: 0.4;
        stroke-opacity: 0.9;*/
        /*animation-name:initial;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;*/
    }
</style>

<style type="text/css">
    #myDiagramDiv {
        background: #efefef;
    }

    #myOverviewDiv {
        /*position: absolute;*/
        width: 200px;
        height: 100px;
        /*top: 65px;
        right: 10px;*/
        background-color: #a4a5a5;
        /*z-index: 300;*/ /* make sure its in front */
        /*border: solid 1px blue;*/
    }

    .impRow {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>

<script>

    window.onload = function()
    {
        //alert();
        //init();
    };

    $(document).ready(() => { //alert(11);
        {
            init();

            @*var parentdtl = @Html.Raw(Json.Encode(ViewBag.ParentChildDtl));

                var finaldata=[];
                for (var i = 0; i < parentdtl.length; i++) {
                    finaldata.push([parentdtl[i].parent,parentdtl[i].child]);
                }*@
            //console.log(finaldata);
            //console.log("LOADED");
            //


            function init() {
                if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
                var $ = go.GraphObject.make;

                myDiagram =
                  $(go.Diagram, "myDiagramDiv",
                    {
                        initialContentAlignment: go.Spot.Top,
                        initialAutoScale: go.Diagram.UniformToFill,
                        layout: $(go.LayeredDigraphLayout,
                          { direction: 90 }),
                        "undoManager.isEnabled": true
                    }
                  );


                // when the diagram is vertically oriented, "left" means "top" and "right" means "bottom"
                function makePort(name, leftside) {
                    var port = $(go.Shape, "Circle",
                      {
                          fill: "Gray", stroke: null,
                          desiredSize: new go.Size(1, 1),
                          portId: name,  // declare this object to be a "port"
                          toMaxLinks: 4,  // don't allow more than one link into a port
                          cursor: "pointer"  // show a different cursor to indicate potential link point
                      });

                    var lab = $(go.TextBlock, "",  // the name of the port
                      { font: "7pt sans-serif" });

                    var panel = $(go.Panel, "Vertical",
                      { margin: new go.Margin(0, 0) });

                    if (leftside) {
                        port.toSpot = go.Spot.Left;
                        port.toLinkable = true;
                        lab.margin = new go.Margin(0, 5, 0, 1);
                        panel.alignment = go.Spot.TopCenter;
                        panel.add(port);
                        panel.add(lab);
                    } else {
                        port.fromSpot = go.Spot.Right;
                        port.fromLinkable = true;
                        lab.margin = new go.Margin(5, 5, 0, 1);
                        panel.alignment = go.Spot.BottomCenter;
                        panel.add(lab);
                        panel.add(port);
                    }
                    return panel;
                }

                function makeTemplate(typename, icon, background, inports, outports) {
                    var node = $(go.Node, "Spot",
                      $(go.Panel, "Auto",
                        { width: 250, height: 90, margin: new go.Margin(20, 20) },
                        $(go.Shape, "RoundedRectangle",
                          {
                              strokeWidth: 2,
                              fill: background,
                              spot1: go.Spot.TopLeft, spot2: go.Spot.BottomRight
                          },new go.Binding("fill", "isHighlighted", function (h) { return h ? "#ff5722" : "#FFF"; }).ofObject()),

                        $(go.Panel, "Table",
                            {
                                name: "TABLE", stretch: go.GraphObject.Horizontal,
                                defaultAlignment: go.Spot.TopLeft,
                                defaultStretch: go.GraphObject.Horizontal,
                            },

                            $(go.RowColumnDefinition, { column: 0, maximum: 80  }),
                            $(go.RowColumnDefinition, { column: 1 }),


                            $(go.Picture,
                            {
                                name: "Picture",
                                desiredSize: new go.Size(70, 80),
                                margin: new go.Margin(6, 8, 6, 3),
                            }, new go.Binding("source", "photo", findHeadShot)),

                            // name
                            $(go.TextBlock,
                            new go.Binding("text", "name").makeTwoWay(),
                            {
                                row: 0, column: 1, width: 200, height: 20, margin: new go.Margin(15, 0, 10, 0), overflow: go.TextBlock.OverflowEllipsis,
                                maxLines: 2, textAlign: "left", font: " bold 12px sans-serif"
                            }),

                            // department
                            $(go.TextBlock,
                            new go.Binding("text", "department").makeTwoWay(),
                            {
                                row: 0, column: 1, width: 200, height: 15, margin: new go.Margin(33, 0, 10, 0), overflow: go.TextBlock.OverflowEllipsis,
                                maxLines: 2, textAlign: "left", font: "12px sans-serif"
                            }),

                            // cadre
                            $(go.TextBlock,
                            new go.Binding("text", "cadre").makeTwoWay(),
                            {
                                row: 0, column: 1, width: 200, height: 15, margin: new go.Margin(50, 0, 10, 0), overflow: go.TextBlock.OverflowEllipsis,
                                maxLines: 2, textAlign: "left", font: "12px sans-serif"
                            }),

                            // last promotion date
                            $(go.TextBlock,
                            new go.Binding("text", "lpdt").makeTwoWay(),
                            {
                                row: 0, column: 1, width: 200, height: 15, margin: new go.Margin(67, 0, 10, 0), overflow: go.TextBlock.OverflowEllipsis,
                                maxLines: 2, textAlign: "left", font: "12px sans-serif"
                            })

                          //  $(go.TextBlock,
                          //  new go.Binding("text", "name").makeTwoWay(),
                          //  {
                          //      row: 0, column: 1, width: 100, margin: 2, overflow: go.TextBlock.OverflowEllipsis,
                          //      maxLines: 2, textAlign: "left", font: "12px sans-serif"
                          //  }),

                          //$(go.TextBlock,
                          //  {
                          //      column: 2,
                          //      margin: 3,
                          //      editable: true,
                          //      maxSize: new go.Size(80, 40),
                          //      stroke: "black",
                          //      font: "bold 9pt sans-serif"
                          //  },
                          //new go.Binding("text", "name").makeTwoWay()),


                        )
                      ),
                      $(go.Panel, "Horizontal",
                        {
                            alignment: go.Spot.Top,
                            alignmentFocus: new go.Spot(0.5, 0, 0, 0)
                        },
                        inports),
                      $(go.Panel, "Horizontal",
                        {
                            alignment: go.Spot.Bottom,
                            alignmentFocus: new go.Spot(0.5, 1, 0, 0)
                        },
                        outports)
                    );
                    myDiagram.nodeTemplateMap.add(typename, node);
                }

                //makeTemplate("Table", "images/55x55.png", "limegreen",
                //  [],
                //  [makePort("OUT", false)]);

                makeTemplate("TmpInOut", "", "lightblue",
                    [makePort("t_ifsp", true),makePort("t_iasp", true),makePort("t_nfsp", true),makePort("t_csup", true)],
                    [makePort("t_ifspO", false),makePort("t_iaspO", false),makePort("t_nfspO", false),makePort("t_csupO", false)]
                  );

                makeTemplate("TmpOut", "", "violet",
                  [],
                     [makePort("iasp", true)]);

                //makeTemplate("TmpOut", "", "mediumaquamarine",
                //  [],
                //  [makePort("iasp", true), makePort("ifsp", true), makePort("nfsp", true), makePort("csup", true)]);

                //makeTemplate("Filter", "images/55x55.png", "skyblue",
                //  [makePort("", true)],
                //  [makePort("OUT", false), makePort("INV", false)]);

                //makeTemplate("Group", "images/55x55.png", "mediumslateblue",
                //  [makePort("", true)],
                //  [makePort("OUT", false)]);

                //makeTemplate("Sort", "images/55x55.png", "chocolate",
                //  [makePort("", true)],
                //  [makePort("OUT", false)]);

                //makeTemplate("Export", "images/55x55.png", "firebrick",
                //  [makePort("", true)],
                //  []);


                var yellowgrad = $(go.Brush, "Radial", { 0: "rgba(255,255,255,1)", 1: "rgba(219,247,255,1)" });
                // Group Template
                myDiagram.groupTemplate =
                           $(go.Group, "Auto",
                              {
                                  layout: $(go.TreeLayout,
                               {
                                   angle: 90, arrangement: go.TreeLayout.ArrangementVertical, isRealtime: false
                               }),
                              },
                             //$(go.Shape, "RoundedRectangle",
                             //            { fill: "#000", stroke: "#000", strokeWidth: 2 },
                             //            new go.Binding("fill", "", function (data) { return SetFillColor(data) }),
                             //             new go.Binding("stroke", "", function (data) { return SetStrokeColor(data) })),
                                         $(go.Panel, "Horizontal", { stretch: go.GraphObject.Horizontal, alignment: go.Spot.TopLeft, margin: 0 },
                               $("SubGraphExpanderButton",
                               { alignment: go.Spot.Center, margin: 5, desiredSize: new go.Size(40, 40) })),

                               $(go.Panel, "Vertical",
                                {
                                    margin: new go.Margin(0, 0, 0, 0),
                                    defaultAlignment: go.Spot.Left,
                                    //background:"red"
                                },
                               $(go.Panel, "Auto",
                                { width: 0, height: 0}),
                             $(go.Placeholder)
                           )); // End Group Template



                myDiagram.linkTemplate =
                  $(go.Link,
                    {
                        routing: go.Link.Orthogonal, corner: 5,
                        relinkableFrom: false, relinkableTo: false
                    },
                    $(go.Shape, { stroke: "gray", strokeWidth: 2 },
                      new go.Binding("stroke", "", function (data) { return SetCriticalColor(data) })),
                     $(go.Shape, { stroke: "gray", fill: "gray", toArrow: "Standard" },
                               new go.Binding("fill", "", function (data) { return SetCriticalColor(data) }),
                                 new go.Binding("stroke", "", function (data) { return SetCriticalColor(data) })
                  ));


                //myDiagram.isEnabled = false; // For Forzen Diagram
                myDiagram.isReadOnly = true;   // Disable diagram modifications, but allow navigation and selection
                myDiagram.groupTemplate.isSubGraphExpanded = false;  //  To set default Groups as Collapsable
                myDiagram.allowCopy = false;
                myDiagram.allowDrop = false;
                myDiagram.allowDelete = false;
                myDiagram.allowDragOut = false;

                load();

                // Overview of Diagram By Magnifier
                myOverview =
                  $(go.Overview, "myOverviewDiv",
                    {
                        observed: myDiagram, contentAlignment: go.Spot.Center
                    });


                document.getElementById('zoomToFit').addEventListener('click', function () {
                    myDiagram.zoomToFit();
                });

                document.getElementById('centerRoot').addEventListener('click', function () {
                    myDiagram.scale = 0.5;
                    // myDiagram.scrollToRect(myDiagram.findNodeForKey(70).actualBounds);
                });

                //document.getElementById('zoomToRoot').addEventListener('click', function () {
                //    myDiagram.scale = 0.5;
                //    var model = myDiagram.model;
                //    model.startTransaction("trns");
                //    var data = model.nodeDataArray;
                //    data.every(function (ele) {
                //        if (ele.isRoot == true) {
                //            myDiagram.scrollToRect(myDiagram.findNodeForKey(ele.key).actualBounds);
                //            return false
                //        } else {
                //            return true
                //        }
                //    })
                //    model.commitTransaction("trns");
                //    //myDiagram.scroll("document", "left");
                //    //myDiagram.scroll("document", "up");
                //});


            }

            function load() {
                var objclsDataFlow = @Html.Raw(Json.Encode(@Model));
                myDiagram.model = go.Model.fromJson(objclsDataFlow);


                //myDiagram.model = go.Model.fromJson({ "class": "go.GraphLinksModel",
                //    "nodeCategoryProperty": "type",
                //    "linkFromPortIdProperty": "frompid",
                //    "linkToPortIdProperty": "topid",
                //    "nodeDataArray": [
                //  {"key":277776, "type":"TmpInOut", "name":"G Bhavannarayana Babu", },
                //  {"key":20015075, "type":"TmpInOut", "name":"Ashish Prajapati"},
                //  {"key":122950, "type":"TmpInOut", "name":"Digvijay Rathod"},
                //  { "key": 122963, "type": "TmpInOut", "name": "Ashish Kothari" },
                //  { "key": -1, "type": "TmpInOut", "name": "Group1", isGroup: true },
                //  { "key": 122519, "type": "TmpInOut", "name": "Vinay Jadia", group: -1 },
                //  { "key": 20024855, "type": "TmpInOut", "name": "Saajan Master", group: -1 },
                //  {"key":20021890, "type":"TmpInOut", "name":"Dharmendra Yadav"}
                //    ],
                //    "linkDataArray": [
                //  {"from":277776, "frompid":"iaspO", "to":20015075, "topid":"iasp"},
                //  {"from":277776, "frompid":"iaspO", "to":122950, "topid":"iasp"},
                //  {"from":277776, "frompid":"iaspO", "to":122963, "topid":"iasp"},
                //  {"from":122950, "frompid":"iaspO", "to":122519, "topid":"iasp"},
                //  {"from":122950, "frompid":"nfspO", "to":122519, "topid":"nfsp"},
                //  {"from":122950, "frompid":"csupO", "to":122519, "topid":"csup"},
                //  {"from":122963, "frompid":"iaspO", "to":20021890, "topid":"iasp"},
                //  {"from":122519, "frompid":"iaspO", "to":20024855, "topid":"iasp"},
                //  {"from":20015075, "frompid":"ifspO", "to":122519, "topid":"ifsp"}
                //    ]});
            }

            function DefaultHighLight() {

                var model = myDiagram.model;
                // all model changes should happen in a transaction
                model.startTransaction("trns");
                myDiagram.scale = 0.5;
                var data = model.nodeDataArray;  // get the nodes data
                data.forEach(function (ele) {
                    if (ele.TaskStatus == "CO") {
                        model.setDataProperty(ele, "highlight", !data.highlight);
                    } else {
                        model.setDataProperty(ele, "highlight", data.highlight);
                    }
                    if (ele.isRoot == true) {
                        myDiagram.scrollToRect(myDiagram.findNodeForKey(ele.key).actualBounds);
                    }

                });
                model.commitTransaction("trns");
            }


            function getCamera(obj) {

                if(obj.part.data.Camera != ""){
                    GetCameraID(obj.part.data.Camera)

                    //}else{
                    //DisplayNotiMessage("error", response.Value, "Error");
                    //alert("No Streaming details available for camera ")
                    //}
                }
                else{
                    alert("No camera found")
                }

            }

            function SetFillColor(ele) {
                var color="#FFF"
                if (ele.TaskStatus == "IP") {
                    if (ele.TaskType == 1 || ele.TaskType == 2) {
                        color = "#EF4836"     //orange
                    } else {
                        color = "#F4D03F"      //yellow
                    }
                }else if(ele.TaskStatus=="NS"){
                    if (ele.TaskType == 1 || ele.TaskType == 2) {
                        color = "#EF4836" //orange
                    } else {
                        color = "#FFF"  //default
                    }
                }
                else if (ele.TaskStatus == "CO") {
                    color = "#95A5A6"
                } else {
                    if (ele.TaskType != 1 && ele.TaskType != 2) {
                        color = "#FFF"
                    }
                }
                return color
            }

            function SetStrokeColor(ele) {
                var color = "#000"
                if (ele.TaskStatus == "IP") {
                    if (ele.TaskType == 1 || ele.TaskType == 2) {
                        color = "#EF4836" //orange
                    } else {
                        color = "#F4D03F"  //yellow
                    }
                }else if(ele.TaskStatus=="NS"){
                    if (ele.TaskType == 1 || ele.TaskType == 2) {
                        color = "#EF4836" //orange
                    } else {
                        color = "#000"  //default
                    }
                }

                else if (ele.TaskStatus == "CO") {
                    color = "#95A5A6"
                } else {
                    if (ele.TaskType != 1 && ele.TaskType != 2) {
                        color = "#000"
                    }
                }
                if (ele.isCritical == "Yes") {
                    color = "red"
                }
                return color
            }

            function SetCriticalColor(ele) {

                var color = "gray"
                if (ele.topid == "t_ifsp") {
                    color = "red"
                }
                else if (ele.topid == "t_nfsp") {
                    color = "green"
                }
                else if (ele.topid == "t_csup") {
                    color = "blue"
                }
                else
                {
                    color = "black"
                }
                return color
            }

            // This converter is used by the Picture.
            function findHeadShot(key) {
                return key
            }

            function theInfoTextConverter(info) {
                var model = myDiagram.model;
                var str = "";
                if (info.TaskStatus) str += info.TaskStatus;

                if (info.TaskStatus == "CO") {
                    model.setDataProperty(info, "highlight", !info.highlight);
                } else {

                }


                //if (info.headOf) str += "\n\nHead of: " + info.headOf;
                //if (typeof info.boss === "number") {
                //    var bossinfo = myDiagram.model.findNodeDataForKey(info.boss);
                //    if (bossinfo !== null) {
                //        str += "\n\nReporting to: " + bossinfo.name;
                //    }
                //}
                return str;
            }
        }
    })


    function searchDiagram() {  // called by search button

        var input = document.getElementById("mySearch");
        if (!input) return;
        input.focus();

        myDiagram.startTransaction("highlight search");

        if (input.value) {
            // search four different data properties for the string, any of which may match for success
            // create a case insensitive RegExp from what the user typed
            var regex = new RegExp(input.value, "i");
            var results = myDiagram.findNodesByExample({ key: regex}, {name: regex}, {cadre: regex}, {department: regex}, {depc: regex });
            myDiagram.highlightCollection(results);
            // try to center the diagram at the first node that was found
            if (results.count > 0) myDiagram.centerRect(results.first().actualBounds);
        } else {  // empty string only clears highlighteds collection
            myDiagram.clearHighlighteds();
        }

        myDiagram.commitTransaction("highlight search");

    }

    function printDiagram() {
        var svgWindow = window.open();
        if (!svgWindow) return;  // failure to open a new Window

        var db = myDiagram.documentBounds.copy();
        //var a = document.createElement('a');
        //a.innerHTML = "Print";
        //a.href = "#";
        //a.onclick = function (e) {
        //    a.style.display = "none";
        //    svgWindow.print();
        //    svgWindow.close();
        //};
        //svgWindow.document.body.appendChild(a);

        //if (db.height > 10000) { db.height = 10000 };
        var height = db.height;
        var width = db.width;

        var printSize = new go.Size(width, height);
        var bnds = myDiagram.documentBounds;
        var x = bnds.x;
        var y = bnds.y;
        var sc = 0.5;
        if (db.width < 5000) { sc = 1 } else if (db.height > 10000) { sc = 0.4 } else if (db.height < 5000) { sc = 1 } else { sc = 0.5 }
        while (y < bnds.bottom) {
            while (x < bnds.right) {
                var svg = myDiagram.makeSVG({ scale: sc, position: new go.Point(x, y), size: printSize });
                svgWindow.document.body.appendChild(svg);
                x += printSize.width;
            }
            x = bnds.x;
            y += printSize.height;
        }

        setTimeout(function () {
            svgWindow.print();
            svgWindow.close();
        }, 0);
    }

</script>


@*<div class="quick-nav-overlay"></div>*@

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN ROW -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CHART PORTLET-->
                <div class="portlet box green" style="padding:1px!important">
                    <!-- portlet light bordered-->
                    <div class="portlet-body">
                        <div id="divDiagram">
                            <form class="form-inline" role="form" onsubmit="return false">
                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="icon-magnifier font-blue"></i>
                                            <input type="search" id="mySearch" class="form-control" style="width:100%;" placeholder="Search...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button onclick="searchDiagram()" class="btn btn-primary" style="width:100%;">Search</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="centerRoot" class='btn btn-primary' style="width:100%;">Reset To Center</button>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="zoomToFit" class='btn btn-primary' style="width:100%;">Fit To Screen</button>
                                    </div>
                                    <!--<div class="form-group">
                                            <button type="button" id="zoomToRoot" class='btn btn-primary' style="width:100%;">Zoom To Root</button>
                                        </div>-->
                                    <div class="form-group">
                                        <button type="button" class='btn btn-primary' onclick="printDiagram()">Print</button>
                                    </div>
                                    <div class="form-group">
                                        <div id="myOverviewDiv"></div>
                                    </div>
                                    <div class="form-group">
                                        @*<div><strong>Legends:</strong></div>*@
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="col-md-12">
                                                    <span style="font-weight: 35px; font-size: 30px; color: black; margin-right: 5px">&#8594;</span>Accountability
                                                </div>
                                                <div class="col-md-12" style="margin-top: -20px;">
                                                    <span style="font-weight: 35px; font-size: 30px; color: red; margin-right: 5px;">&#8594;</span>Admin
                                                </div>
                                                <div class="col-md-12" style="margin-top: -20px;">
                                                    <span style="font-weight: 35px; font-size: 30px; color: green; margin-right: 5px;">&#8594;</span>Functional
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <div id="myDiagramDiv" style="width: 100%; height: 100%; border-bottom-color:#ffffff">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CHART PORTLET-->
            </div>
        </div>
        <!-- END ROW -->

    </div>
</div>

<script src="~/Scripts/GoJS/go-1.8.35.js"></script>
<script src="~/Scripts/GoJS/HyperlinkText.js"></script>