﻿@model IEMQS.Areas.TVL.Models.FilterReqTravelerModel


<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project No.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProjectNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">BU</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Location</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Traveler No.</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.TravelerNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Rev No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.TravelRev,"R"+Model.TravelRev, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Identification No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.IdentificationNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Identification Sr No</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.SubAssemblyNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            @Html.HiddenFor(m => m.OperationNo)
                            @Html.HiddenFor(m => m.Activity)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Traveler Details
                </div>
                <div class="tools"> </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%" id="tblFilteredlist" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all" style="display:none">HeaderId</th>
                            <th class="all">Opn No</th>
                            <th class="all">Opn Rev No</th>
                            <th class="all" style="min-width:180px">Activity</th>
                            <th class="all">Ref. Document<div class="scls150pxWidth"></div></th>
                            <th class="all">Doc. Rev No</th>
                            <th class="all">Iteration</th>
                            <th class="all">Inspection Status</th>
                            <th class="all">L&T Inspector Result</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="divReqDetails">
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $('#tblFilteredlist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/TVL/OfferInspection/LoadFilteredOfferData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                { "name": "TravelerNo", "value": '@Html.Raw((String)Model.TravelerNo)' },
                { "name": "subassembly", "value": '@Model.SubAssemblyNo' },
                { "name": "IdentifictionNo", "value": '@Model.IdentificationNo' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "hide header",
                    "sWidth": "10%"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "OperationNo"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "OperationRevisionNo"
                },
                {
                    "bSortable": true,
                    "sClass": "sleft",
                    "name": "Activity"
                },
                {
                    "bSortable": true,
                    "sClass": "sleft",
                    "name": "RefDocument"
                },
                {
                    "bSortable": true,
                    "sClass": "sleft",
                    "name": "RefDocRevNo"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "itenrationNo"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "InspectionStatus"
                },
                 {
                     "bSortable": true,
                     "sClass": "scenter",
                     "name": "LnTInspectorResult"
                 },
            ]
        });

        $('#tblFilteredlist tbody').on('click', 'tr', function () {
            if ($(this).hasClass('highlight')) {
                $('td', $($(this))).addClass('sorting_1');
                $(this).removeClass('highlight');
            }
            else {
                oTable.$('tr.highlight').removeClass('highlight');
                $(this).addClass('highlight');
                $('td', $($(this))).removeClass('sorting_1');
            }
            var hdrId = $(this).find("td.header").text();

            GetTravelerReqFilteredData('@Html.Raw((String)Model.ProjectNo)', '@Html.Raw((String)Model.Customer)', '@Html.Raw((String)Model.TravelerNo)', '@Model.TravelRev', '@Html.Raw((String)Model.IdentificationNo)', '@Model.BU', '@Model.Location', '@Model.OperationNo', '@Html.Raw((String)Model.Activity)','@Model.SubAssemblyNo', hdrId, "Request Details", 50, true)
        });

    });

</script>
