﻿@model IEMQSImplementation.MIP001
@using IEMQSImplementation
@{
    //ViewBag.Title = "MIP Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css") 
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

        .highlight:hover {
            background-color: #aaed7a !important;
        }
</style>


<script type="text/javascript">

    var isSelected = false;
    var qualityProject;
    var qmspLocation;
    var qmspBU;
    var HeaderId = $("#HeaderId").val();
    var IDMNoDisabled = "1";

    $(document).ready(function () {
        HeaderId = $("#HeaderId").val();
        IDMNoDisabled = '@ViewBag.IDMNoDisabled';
        if (parseInt(HeaderId) > 0) {
            $("#txtQualityProject").val('@Model.QualityProject');
            $("#txtQualityProject").prop("readonly", "readonly");
            var formRedirect = '@ViewBag.formRedirect';
            if (formRedirect == "a") {
                $("#txtQualityProject").prop("readonly", "readonly");
            }

            $("#dvMIPHeaderData").show();
            qualityProject = '@Model.QualityProject';
            qmspLocation = '@Model.Location';
            qmspBU = '@Model.BU';
            BindMIPHeaderList("Pending", qualityProject, qmspLocation, qmspBU);
            QualityProjectChange(qualityProject, "edit");
            $("#IDMNumber").change(function () {
                $.ajax({
                    url: WebsiteURL + "/MIP/MaintainMIP/UpdateIDMNo",
                    datatype: 'json',
                    data: { HeaderId: $("#HeaderId").val(), IDMNo: $("#IDMNumber").val() },
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        if (data.Key) {
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                        else {
                            if (data.IsInformation == true) {
                                DisplayNotiMessage("info", data.Value, "Information");
                            }
                            //else {
                            //    DisplayNotiMessage("error", data.Value, "Error");
                            //}
                        }
                    },
                    error: function () {
                        return false;
                    }
                });
            });
        }
        else {
            if (formRedirect == "a") {
                $("#txtQualityProject").prop("readonly", "readonly");
            }
            $("#txtQualityProject").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: WebsiteURL + "/MIP/MaintainMIP/GetQualityProjects",
                        dataType: "json",
                        type: "POST",
                        delay: 250,
                        async: false,
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.projectCode, value: item.projectCode, id: item.Value };
                            }));
                            if (data.length > 0) {
                                isSelected = true;
                            }
                            else {
                                isSelected = false;
                            }
                        }
                    });
                },
                minLength: 0,
                autoFocus: true,
                select: function (event, ui) {
                    if (ui.item) {
                        isSelected = true;
                        $("#txtQualityProject").val(ui.item.value);
                        $("#ddlQualityProject").val(ui.item.id);
                        qualityProject = ui.item.id;
                        QualityProjectChange($("#ddlQualityProject").val(), "add");
                    }
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                }
            }).on('focus', function (event) {
                $(this).autocomplete("search", this.value);
            });
        }

        $('a[name="tabStatus"]').click(function () {
            BindMIPHeaderList($(this).attr('spara'), qualityProject, qmspLocation, qmspBU);
        });

        $('#close').click(function () {
            RedirectToSpecificIndex();
        });        
    });
    var strHtml = "<scr" + "ipt>$(document).ready(function(){"
                     + "$('#uploadForm').validate({"
                     + " rules: {"
                     + "upload: {"
                     + "required: true,"
                     + "},"
                     + "messages: {"
                     + "upload: {"
                     + "required: 'Attachment is required'"
                     + "}"
                     + "}"
                      + "}"
                     + "});"
                     + "});</scr" + "ipt>"
                     + " <div>"
                     + "<form method='post' id='uploadForm' enctype = 'multipart/form-data' class='form-horizontal' action=''>"
                     + "<div class='form-group'>"
                     + "<div class='col-md-12'>"
                     + "<input type='hidden' id='aQualityProject' name='aQualityProject'/>"
                     + "<input type='hidden' id='aProject' name='aProject' />"
                     + "<input type='hidden' id='aBU' name='aBU' />"
                     + "<input type='hidden' id='aLocation' name='aLocation'/>"
                     + "<div class=''>"
                     + "<input type='file' class='btn green' required='required' id='upload' name='upload' />"
                     + "</div>"
                     + "</div>"
                     + "</div>"
                     + "</form>"
                     + "</div>";
    function QualityProjectChange(qualityProject, action) {
        $.ajax({
            url: WebsiteURL + "/MIP/MaintainMIP/GetQualityProjectWiseProjectBUDetail",
            dataType: "json",
            type: "POST",
            async: false,
            data: { qualityProject: qualityProject },
            success: function (data) {
                if (action.toLowerCase() != "edit") {
                    $("#Project").val(data.projectDescription);
                    $("#BU").val(data.BUDescription);
                    $("#Location").val(data.LocationDescription);

                    $("#hdnProject").val(data.ProjectCode);
                    $("#hdnBU").val(data.BUCode);
                    $("#hdnLocation").val(data.LocationCode);

                    qualityProject = qualityProject;
                    qmspBU = data.BUCode;
                    qmspLocation = data.LocationCode;

                    $("#dvMIPHeaderData").show();
                    BindMIPHeaderList('Pending', qualityProject, qmspLocation, qmspBU);
                }
            }
        });
    }
   
    function BindMIPHeaderList(status, qualityProject, location, bu) {
        $("#close").hide();
        $("#MIP_Header_Pending").empty();
        $("#MIP_Header_All").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MIP/MaintainMIP/GetMIPHeaderDataPartial",
            data: { Status: status, QualityProject: qualityProject, Location: location, BU: bu, indextype: '@ViewBag.formRedirect' },
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (status == "Pending") {
                    $("#MIP_Header_Pending").html(result);
                }
                else {
                    $("#MIP_Header_All").html(result);
                }
            },
            error: function () {
            }
        });
    }

    function ImportExcel() {
        $("#btnImport").click(function () {
            bootbox.confirm({
                message: strHtml,
                buttons: {
                    confirm: {
                        label: 'Upload',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Close',
                        className: 'btn btnclose'
                    }
                },
                callback: function (result) {
                    if (result) {
                        if ($('#uploadForm').valid()) {
                            $("#aQualityProject").val($("#ddlQualityProject").val());
                            $("#aProject").val($("#hdnProject").val());
                            $("#aBU").val($("#hdnBU").val());
                            $("#aLocation").val($("#hdnLocation").val());
                            var frmHeaderValues = $("#uploadForm").serializeArray();
                            var formdata = new FormData();
                            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                                $.each(frmHeaderValues, function (key, input) {
                                    formdata.append(input.name, input.value);
                                });
                                formdata.append('upload', $('input[type=file]')[0].files[0]);
                            }
                            $.ajax({
                                url: WebsiteURL + "/MIP/MaintainMIP/ImportExcel",
                                type: "POST",
                                datatype: 'json',
                                //enctype: 'multipart/form-data',
                                contentType: false,
                                processData: false,
                                data: formdata,
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                success: function (data) {
                                    if (data.Key) {
                                        DisplayNotiMessage("success", data.Value, "Success");
                                        $('#tblMIPHeader').DataTable().ajax.reload();
                                        $("#dvMIPLines").hide();
                                        //QualityProjectChange($("#ddlQualityProject").val());
                                    }
                                    else {
                                        if (data.Value == "Error") {
                                            window.location = WebsiteURL + '/Utility/General/Download?file=' + data.FileName;
                                            DisplayNotiMessage("error", "Please check error file", "Error");
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.Value, "Error");
                                        }
                                    }
                                },
                                error: function () {
                                    return false;
                                }
                            });
                            return true;

                        }
                        else {
                            return false;
                        }
                    }
                }
            });
        });
    }

    function HistoryMIP(HeaderId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/MIP/MaintainMIP/GetHistoryDataPartial",
            datatype: 'html',
            async: false,
            data: { HeaderId: HeaderId },
            success: function (result) {
                bootbox.dialog({
                    title: 'MIP History Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Close',
                            className: 'btn btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function RedirectToSpecificIndex() {
        var formRedirect = '@ViewBag.formRedirect';
        switch (formRedirect) {
            case "a":
                formRedirect = "Approve";
                break;
            default:
                formRedirect = "Index";
        }
        window.location.href = WebsiteURL + '/MIP/MaintainMIP/' + formRedirect;
    }
</script>
<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvMIPHeader" style="padding:1%">
                    <form id="frmMIPHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtQualityProject" name="txtQualityProject" class="form-control col-md-3" />
                                                @Html.HiddenFor(m => m.QualityProject, new { @id = "ddlQualityProject" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.Project, new { @id = "hdnProject" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.BU, new { @id = "hdnBU" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            @Html.HiddenFor(m => m.Location, new { @id = "hdnLocation" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">IDM No.</label>
                                            @Html.TextBoxFor(m => m.IDMNumber, new { @class = "form-control col-md-3" })
                                        </div>
                                        <div class="col-md-9" style="text-align:right;margin-top:3%">
                                            <a id="close" class="btn btnclose"> Close</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="portlet light" id="dvMIPHeaderData" style="display:none;">

                            <div class="portlet-title tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#MIP_Header_Pending" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Pending </a>
                                    </li>
                                    <li>
                                        <a href="#MIP_Header_All" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="MIP_Header_Pending">

                                    </div>
                                    <div class="tab-pane" id="MIP_Header_All">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


