﻿@model IEMQSImplementation.WPS010
@using IEMQSImplementation

<div class="row" style="width:100%">
    <div class="col-md-12">
        <form id="frmGrooveF3" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Filler Metal (QW-404)</legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">AWS Class</label>
                            @Html.TextBoxFor(m => m.Backgouging, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Size of Filler Metal(mm):</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">A.No.</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Supplemental filler:</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Flux Type</label>
                            @Html.TextBoxFor(m => m.Backgouging, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Filler Metal Trade Name:</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Recrushed slag</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">SFA No.</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">F. No.</label>
                            @Html.TextBoxFor(m => m.Backgouging, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Filler Metal Product Form</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Electrode Flux Class</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Flux Trade Name</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Consumable Insert</label>
                            @Html.TextBoxFor(m => m.Backgouging, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Other</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Welding Parameters</legend>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Current (A) </label>
                            @Html.TextBoxFor(m => m.Backgouging, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Travel Speed(mm/min)</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Current Type</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Current Polarity:</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Voltage(V) </label>
                            @Html.TextBoxFor(m => m.Backgouging, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Bead Length per electrode or SMAW(mm)</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Max.Heat Input(KJ/mm)</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Wire Feed Speed (M/min)</label>
                            @Html.TextBoxFor(m => m.WeldingProcess1, new { @class = "form-control col-md-3" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
