﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Protocol List
                </div>
                <div class="tools" id="dvExportLines">
                    @*      @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/IPI/DisplayProtocol/GenerateExcel", GridType = clsImplementationEnum.GridType.LINES.GetStringValue(), dvId = "#dvExportLines" })*@
                </div>
            </div>
            <div class="portlet-body">
                <table id="tblHeader" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            @*<th style="display:none;">QualityProject</th>
                            <th style="display:none;">Project</th>
                            <th style="display:none;">BU</th>
                            <th style="display:none;">Location</th>*@
                            <th class="all">Seam No</th>
                            <th class="all">Stage Code</th>
                            <th class="all">Seq.</th>
                            <th class="all">Protocol</th>
                            <th style="display:none;">Protocol Type</th>
                            <th style="display:none;">ProtocolId</th>
                            <th style="display:none;">Linked By</th>
                            <th style="display:none;">Linked On</th>
                            <th class="all">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var table = $('#tblHeader');
        //$('#tblHeader').dataTable().destroy();
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            "sAjaxSource": WebsiteURL + "/IPI/DisplayProtocol/loadStagewiseProtocolDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "QualityProject", "value": '@ViewBag.QualityProject' },
                    { "name": "SeamNo", "value": '@ViewBag.SeamNumber' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLines").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLines").val(data.strSortOrder);
                    },
                });
            },
            "columns": [
                        //{ "sClass": "center hide", "name": "QualityProject" },
                        //{ "sClass": "center hide", "name": "Project" },
                        //{ "sClass": "center hide", "name": "BU" },
                        //{ "sClass": "center hide", "name": "Location" },
                        { "sClass": "center", "name": "SeamNo" },
                        { "sClass": "center", "name": "StageCode" },
                        { "sClass": "center", "name": "StageSequance" },
                        { "sClass": "center" },
                        { "sClass": "center hide", "name": "ProtocolType" },
                        { "sClass": "center hide", "name": "ProtocolId" },
                        { "sClass": "center hide", "name": "ProtocolLinkedBy" },
                        { "sClass": "center hide", "name": "ProtocolLinkedOn" },
                        { "sClass": "center", "bSortable": false }
            ]
        });
        table.dtSearchFilter();
    });

    function ShowOtherFiles(lineid) {
        $.ajax({
            url: WebsiteURL + "/IPI/DisplayProtocol/GetFolderPath",
            dataType: "json",
            type: "POST",
           // delay: 250,
         //   async: false,
            data: {
                lineid: lineid
            },
            success: function (data) {
                console.log(data);
                if (data != null && data != "" && data != undefined) {
                 
                    OpenAttachmentPopUp(lineid, false, data);
                }
            }
        });
           
    }

</script>