﻿@using IEMQSImplementation
<style>
    .clsdropdown{
        z-index:100000;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    WPS Key List
                </div>
                <div class="tools" id="dvExportKeys">
                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WPS/WPSNoIndexMaster/GenerateExcel", GridType = clsImplementationEnum.GridType.WPSKey.GetStringValue(), dvId = "#dvExportKeys" })
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover dt-responsive " id="tblKeyMaster" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th style="display:none;">Id</th>
                            <th class="all">Select</th>
                            <th class="all">Key 1</th>
                            <th class="all">Key 2</th>
                            <th class="all">Parent Metal1</th>
                            <th class="all">Parent Metal2</th>
                            <th class="all">Welding Process1</th>
                            <th class="all">Welding Process2</th>
                            <th class="all">Welding Process3</th>
                            <th class="all">Welding Process4</th>
                            <th class="all">Joint Type</th>
                            <th class="all">PWHT</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
        LoadGetWPSKeyList();
    //});
    //$(".clsdropdown").css({ "z-index": "100000" });
    function LoadGetWPSKeyList() {
        var table = $('#tblKeyMaster');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": true,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WPS/WPSNoIndexMaster/LoadWPSKeyListDataTable",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportKeys").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportKeys").val(data.strSortOrder);
                        $("#tblKeyMaster").closest(".table-scrollable").css({ "height": "400px", "overflow": "auto" })
                        table.dtSearchFilter();
                        //$(".clsdropdown").css({ "z-index": "100000" });
                    },
                    //'async': false
                });
            },
            "columns": [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    'targets': 0,
                    "bSortable": false,
                    "sWidth": "5%",
                    "sClass": "center",
                    'render': function (data, type, full, meta) {
                        var label = "";
                        return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" onclick="SelectKey(this)" class="clsCheckbox" value="' + $('<div/>').text(data).html() + '" ><span></span></label>';
                    }
                },
                {
                    "sClass": "center key1",
                    "name": "Key1",
                    "ColName": "Key1"
                },
                {
                    "sClass": "center key2",
                    "name": "Key2",
                    "ColName": "Key2"
                },
                {
                    "sClass": "center",
                    "name": "Parentmetal1",
                    "ColName": "Parentmetal1"
                },
                {
                    "sClass": "center",
                    "name": "Parentmetal2",
                    "ColName": "Parentmetal2"
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcess1",
                    "ColName": "WeldingProcess1"
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcess2",
                    "ColName": "WeldingProcess2"
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcess3",
                    "ColName": "WeldingProcess3"
                },
                {
                    "sClass": "center",
                    "name": "WeldingProcess4",
                    "ColName": "WeldingProcess4"
                },
                {
                    "sClass": "center",
                    "name": "JointType",
                    "ColName": "JointType"
                },
                {
                    "sClass": "center",
                    "name": "PWHT",
                    "ColName": "PWHT"
                }
            ]
        });
        window.setTimeout(function () {
            
        }, 500);
       
    }

    function SelectKey(chk) {        
        $('.clsCheckbox').prop("checked", false);
        $(chk).prop("checked", true);
    }
</script>
