.zoomSlider {
  position: absolute;
  padding: 0;
  opacity: .75;
  z-index: 99;
  width: 125px;
  height: 25px;
  top: 0px;
  left: 0px;
}

.zoomButton {
  width: 25px; 
  height: 25px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0;
  transition: opacity .2s;
}

.zoomRangeContainer {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.zoomRangeInput {
  margin: 0;
  padding: 0;
  outline: none;
  transition: opacity .2s;
  background: transparent;
  -webkit-appearance: none;
}

/* Set up additional styling to ensure consistenty across browsers */
.zoomRangeInput::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 3px;
  background: #ccc;
}
.zoomRangeInput::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 3px;
  background: #ccc;
}
.zoomRangeInput::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 3px;
  background: #ccc;
  color: transparent;
}
.zoomRangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3.33px;
  box-sizing: border-box;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #444;
}
.zoomRangeInput::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #444;
}
.zoomRangeInput::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #444;
}
.zoomRangeInput::-ms-tooltip,
.zoomRangeInput::-ms-fill-lower,
.zoomRangeInput::-ms-fill-upper {
  display: none;
}