﻿@using IEMQSImplementation
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<style>
    .btngroup {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .btn-group-sm > .btn, .btn-sm {
        padding: 2px 8px;
        font-size: 11px;
    }

    .gtTwo {
        background-color: lightgoldenrodyellow;
    }

    .highlight {
        background-color: floralwhite !important;
    }

        .highlight tr:hover {
            background-color: floralwhite !important;
        }

    .sCenter {
        text-align: center;
    }

    .highlighttr {
        background-color: floralwhite;
    }
</style>
<!-- BEGIN PORTLET FOR HTR REPORT/DPP-->
<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="fa fa-fire font-dark" style="font-size:16px"></i>
            <span class="caption-subject font-dark bold uppercase">HTR DPP</span>
        </div>

        <div class="actions">
            <!--BEGIN HTR TYPE/FLOW SELECTION WISE FILTERS-->
            <div class="btngroup">
                @*<span class="tooltiptext">test</span>*@
                <a class="iconspace fa fa-filter" style="color: darkgrey;" title="Filter by Flow" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    @*Filter By*@
                    @*<i class="fa fa-angle-down"></i>*@
                </a>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" class="clsHTRtype" name="htrtype" value="@clsImplementationEnum.TypeOfHTR.JobComponent.GetStringValue()" />Job Component
                        <span></span>
                    </label>
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" class="clsHTRtype" name="htrtype" value="@clsImplementationEnum.TypeOfHTR.PQR.GetStringValue()" /> @clsImplementationEnum.TypeOfHTR.PQR.GetStringValue()
                        <span></span>
                    </label>
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" class="clsHTRtype" name="htrtype" value="@clsImplementationEnum.TypeOfHTR.PTC.GetStringValue()" /> @clsImplementationEnum.TypeOfHTR.PTC.GetStringValue()
                        <span></span>
                    </label>

                </div>
            </div>
            <!--END HTR TYPE/FLOW SELECTION WISE FILTERS-->
            <!--BEGIN DAY WISE FILTERS-->
            <div class="btngroup">
                <a href="" class="iconspace fa fa-filter" data-toggle="dropdown" title="filter by range" data-original-title="" data-hover="dropdown" data-close-others="true">
                    @*Filter Range*@
                    @*    <span class="fa fa-angle-down"> </span>*@
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a onclick="LoadHTRTable('gtThree','')">
                            > 3 Days
                            <span id="spnSearchgtthree" class="label label-sm label-warning"> past </span>
                        </a>
                    </li>
                    <li>
                        <a onclick="LoadHTRTable('gtTen','')">
                            > 10 Days
                            <span id="spnspnSearchgtTen" class="label label-sm label-danger"> past </span>
                        </a>
                    </li>
                    <li class="active">
                        <a onclick="LoadHTRTable('all','')">
                            All Days
                            <span id="spnSearchAllDays" class="label label-sm label-success"> current </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--END DAY WISE FILTERS-->

        </div>
        <div class="tools pull-right">
            <a class="iconspace collapse collapse1" data-original-title="collapse" title="Collapse" id="btnhtrCollpase"> </a>
            @*<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>*@
            <a onclick="reloadHTR();" class="iconspace reload" data-original-title="" title="Reload"> </a>
            @*<a href="" class="iconspace setting" data-toggle="dropdown" title="filter by range" data-original-title="" data-hover="dropdown" data-close-others="true"> </a>*@

        </div>
    </div>
    <div id="divHTRDppcollapse">
        <!--BEGIN COLUMN WISE FILTERS-->
        <div class="portlet-body" style="margin-bottom: 15px;">
            <div class="portlet-input input-inline" style="margin-left: 2%;">
                <div class="input-icon right">
                    <i class="icon-magnifier" style="cursor:pointer" title="search by Project" onclick="LoadHTRTable(null,'')"></i>
                    <input type="text" id="searchProject" name="searchProject" class="form-control input-circle clssearchinput" placeholder="search by Project">
                </div>
            </div>
            <div class="portlet-input input-inline" style="margin-left: 2%;">
                <div class="input-icon right">
                    <i class="icon-magnifier" style="cursor:pointer" title="search by HTR No" onclick="LoadHTRTable(null,'')"></i>
                    <input type="text" id="searchHTRNo" name="searchHTRNo" class="form-control input-circle clssearchinput" placeholder="search by HTR No">
                </div>
            </div>
            <div class="portlet-input input-inline" style="margin-left: 2%;">
                <div class="input-icon right">
                    <i class="icon-magnifier" style="cursor:pointer" title="search BU" onclick="LoadHTRTable(null,'')"></i>
                    <input type="hidden" id="hdsearchBU">
                    <input type="text" id="searchBU" name="searchBU" class="form-control input-circle clssearchinput" placeholder="search by BU">
                </div>
            </div>
            <br />
        </div>
        <!--END COLUMN WISE FILTERS-->
        <div class="portlet-body">
            @*// flip-scroll" style="display: block;overflow-y:auto;min-height:92px;max-height:400px;">*@

            <!--BEGIN HTR DPP-->

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-fire-extinguisher" style="font-size: 15px;"></i>
                        HTR DPP List
                    </div>
                    <div class="tools" id="dvExportHTRHeader">
                        @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/MyDashboard/Dashboard/GenerateExcel", GridType = clsImplementationEnum.GridType.DashboardHTRDPP.GetStringValue(), dvId = "#dvExportHTRHeader" })
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive flip-scroll" style="display: block;overflow-y:auto;min-height:92px;max-height:200px;" id="tblHTRHeader" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="all" rowspan="2">Flow selection </th>
                                <th class="all" rowspan="2">Project</th>
                                <th class="all" rowspan="2">BU</th>
                                <th class="all" rowspan="2">HTR No</th>
                                <th class="all" rowspan="2">Rev</th>
                                <th class="all" rowspan="2">Initiating <br />Date</th>
                                <th class="all" rowspan="2">Submission <br />Date</th>
                                <th class="all scenter" colspan="3">Days Taken By:</th>
                                <th class="all" rowspan="2" style="display:none">Status</th>
                            </tr>
                            <tr>
                                <th class="all">Reviewer</th>
                                <th class="all">Furnace supervisor</th>
                                <th class="all">Inspector</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
            <!--END HTR DPP-->
        </div>
    </div>
</div>
<!-- END PORTLET FOR HTR REPORT/DPP-->

<script>
    $(document).ready(function () {
        $(".clssearchinput").change(function (e)
        {
            LoadHTRTable(null, '');
        })
        LoadHTRTable(null, '');
        $('#btnhtrCollpase').click(function (e) {
            e.preventDefault();
            var el = $("#divHTRDppcollapse");
            if ($(this).hasClass("collapse1")) {
                $(this).removeClass("collapse1").addClass("expand1");
                el.slideUp(200);
            } else {
                $(this).removeClass("expand1").addClass("collapse1");
                el.slideDown(200);
            }
        });
        //Seach filter on the basis of Htr type/flow type (checkbox selection)
        var arrayHTRType = new Array();
        $('.clsHTRtype').click(function () {
            if ($(this).is(':checked')) {
                arrayHTRType.push(this.value);
            }
            if (!$(this).is(':checked')) {
                arrayHTRType.pop(this.value);
            }
            var strhtrflow = arrayHTRType.join(",");
            LoadHTRTable(null, strhtrflow);
        });

        //auto complete for BU(search textbox)
        $("#searchBU").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/MyDashboard/Dashboard/GetBu",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    $("#hdsearchBU").val(ui.item.id);
                }
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    });

    //reload Div and remove filtered data for HTR Dpp
    function reloadHTR() {
        LoadHTRTable(null, '');
        $("#searchProject").val('');
        $("#hdsearchBU").val('');
        $("#searchHTRNo").val('');
        $('.clsHTRtype').removeAttr('checked');
    }

    ////load datatable on the basis of filtered value
    ////filteredValue : greater than 3/10/etc
    ////htrflow : check box selection (flow/type of htr)
    function LoadHTRTable(filteredValue, htrflow) {
        var filterDays = "";
        if (filteredValue == 'gtThree') {
            filterDays = 3;
        }
        if (filteredValue == 'gtTen') {
            filterDays = 10;
        }
        if (filteredValue == 'all') {
            filterDays = "";
        }

        var table = $('#tblHTRHeader');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 50,
            'iDisplayLength': 50,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/MyDashboard/Dashboard/LoadHTRReportData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                    { "name": "Project", "value": $("#searchProject").val() }, ////search by project textbox
                    { "name": "BU", "value": $("#hdsearchBU").val() }, ////search by BU textbox
                    { "name": "HTRNo", "value": $("#searchHTRNo").val() }, ////search by project textbox
                    { "name": "dbDays1", "value": filterDays }, ////search by Days (dropdown filter  - basis of greater than 3/10/etc
                    { "name": "dbDays2", "value": htrflow }); ////Search by HTR Type (dropdown-checkbox selection)
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        ////export to excel
                        $(".txtStrWhere", "#dvExportHTRHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHTRHeader").val(data.strSortOrder);
                    },
                    //'async': false
                });
            },
            "columns": [
                {
                    "name": "HTRType",
                    "sClass": "scenter",
                    "bSortable": true,
                    "sWidth": "7%",
                },
                {
                    "name": "Project",
                    "sClass": "scenter",
                    "sWidth": "20%",
                    "bSortable": true,
                },
                 {
                     "name": "BU",
                     "sClass": "scenter",
                     "sWidth": "20%",
                     "bSortable": true,
                 },
                {
                    "name": "HTRNo",
                    "sClass": "scenter",
                    "sWidth": "20%",
                    "bSortable": true,
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        ////merge status with htr no.
                        if (row[10].toLowerCase().trim() == '@clsImplementationEnum.HTRStatus.Draft.GetStringValue().ToLower()') {
                            buttons = '<center>' + row[3] + '<br /><span class="badge badge-success"> ' + '@clsImplementationEnum.HTRStatus.Draft.GetStringValue()' + ' </span></center>';
                        }
                        if (row[10].toLowerCase().trim() == '@clsImplementationEnum.HTRStatus.InReview.GetStringValue().ToLower()') {
                            buttons = '<center>' + row[3] + '<br /><span class="badge badge-info"> ' + '@clsImplementationEnum.HTRStatus.InReview.GetStringValue()' + ' </span></center>';
                        }
                        if (row[10].toLowerCase().trim() == '@clsImplementationEnum.HTRStatus.WithFurnaceSupervisor.GetStringValue().ToLower()') {
                            buttons = '<center>' + row[3] + '<br /><span class="badge badge-warning" style="background-color: goldenrod"> ' + '@clsImplementationEnum.HTRStatus.WithFurnaceSupervisor.GetStringValue()' + ' </span></center>';
                        }
                        if (row[10].toLowerCase().trim() == '@clsImplementationEnum.HTRStatus.WithInspector.GetStringValue().ToLower()') {
                            buttons = '<center>' + row[3] + '<br /><span class="badge badge-warning" style="background-color: coral;"> ' + '@clsImplementationEnum.HTRStatus.WithInspector.GetStringValue()' + ' </span></center>';
                        }
                        if (row[10].toLowerCase().trim() == '@clsImplementationEnum.HTRStatus.Release.GetStringValue().ToLower()') {
                            buttons = '<center>' + row[3] + '<br /><span class="badge badge-sm" style="background-color: lightseagreen;"> ' + '@clsImplementationEnum.HTRStatus.Release.GetStringValue()' + ' </span></center>';
                        }
                        return buttons;
                    }
                },
                {
                    "name": "RevNo",
                    "sClass": "scenter",
                    "sWidth": "5%",
                    "bSortable": true,
                },
                {
                    "name": "CreatedOn",
                    "sClass": "scenter",
                    "bSortable": true,
                    //"sWidth": "10%",
                },
                   {
                       "name": "SubmittedOn",
                       "sClass": "scenter",
                       "bSortable": true,
                       //"sWidth": "10%",
                   },
                {
                    "name": "DaystakenbyMET3",
                    "sClass": "scenter",
                    "bSortable": true,
                    //"sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        var buttons = "";
                        var value1 = parseInt(3);
                        var value2 = parseInt(10);
                        var valuenull = "";
                        ////color code on the basis of filtered days of Reviewer
                        if (row[7] > value1) {
                            buttons = '<center><span class="badge badge-warning"> ' + row[7] + ' </span></center>';
                        }
                        if (row[7] > value2) {
                            buttons = '<center><span class="badge badge-danger"> ' + row[7] + ' </span></center>';
                        }
                        if (row[7] < value1 && row[7] != valuenull) {
                            buttons = '<center><span class="badge badge-success" style="background-color: seagreen;"> ' + row[7] + ' </span></center>';
                        }

                        return buttons;
                    }
                },
                {
                    "name": "DaystakenbyFS",
                    "sClass": "scenter",
                    "bSortable": true,
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        ////color code on the basis of filtered days of furnace
                        var buttons = "";
                        var value1 = parseInt(3);
                        var value2 = parseInt(10);
                        var valuenull = "";
                        if (row[7] > value1) {
                            buttons = '<center><span class="badge badge-warning"> ' + row[7] + ' </span></center>';
                        }
                        if (row[7] > value2) {
                            buttons = '<center><span class="badge badge-danger"> ' + row[7] + ' </span></center>';
                        }
                        if (row[7] < value1 && row[7] != valuenull) {
                            buttons = '<center><span class="badge badge-success" style="background-color: seagreen;"> ' + row[7] + ' </span></center>';
                        }

                        return buttons;
                    }
                },
                {
                    "name": "DaystakenbyQI",
                    "sClass": "scenter",
                    "bSortable": true,
                    "sWidth": "10%",
                    "render": function (data, type, row, meta) {
                        ////color code on the basis of filtered days of Inspector
                        var buttons = "";
                        var value1 = parseInt(3);
                        var value2 = parseInt(10);
                        var valuenull = "";
                        if (row[8] > value1) {
                            buttons = '<center><span class="badge badge-warning"> ' + row[8] + ' </span></center>';
                        }
                        if (row[8] > value2) {
                            buttons = '<center><span class="badge badge-danger"> ' + row[8] + ' </span></center>';
                        }
                        if (row[8] < value1 && row[8] != valuenull) {
                            buttons = '<center><span class="badge badge-success" style="background-color: seagreen;"> ' + row[8] + ' </span></center>';
                        }

                        return buttons;
                    }
                },
                {
                    "name": "Status",
                    "sClass": "hide",
                },
            ]
        });


        $('#tblHTRHeader tbody').on("click", "tr td:not(:first-child):not(:last-child)", function () {
            var row = $(this).closest('tr');
            var data = $('#tblHTRHeader').dataTable().fnGetData(row);

            $("#tblHTRHeader tr").removeClass("highlight");
            $(this).closest('tr').addClass("highlight");

        })

    }
</script>