﻿@{
    ViewBag.Title = "Shop Seam Test Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script>
    $(document).ready(function () {

        $('#portlet_comments_1').removeClass("active");
        $('#portlet_comments_2').removeClass("active");
        $('#portlet_comments_3').removeClass("active");

        $('#tabPending').closest("li").removeClass("active");
        $('#tabReofferPending').closest("li").removeClass("active");
        $('#tabAll').closest("li").removeClass("active");

        if ('@ViewBag.Tab' == 'confirmation') {
            $('#portlet_comments_1').addClass("active");
            $('#tabPending').closest("li").addClass("active");
            GetHeaderGridDataPartial('Pending');
        }
        else if ('@ViewBag.Tab' == 'regenerate') {
            $('#portlet_comments_2').addClass("active");
            $('#tabReofferPending').closest("li").addClass("active");
            GetHeaderGridDataPartial('Reoffer');
        }
        else if ('@ViewBag.Tab' == 'all') {
            $('#portlet_comments_3').addClass("active");
            $('#tabAll').closest("li").addClass("active");
            GetHeaderGridDataPartial('All');
        }
        else {
            $('#portlet_comments_1').addClass("active");
            $('#tabPending').closest("li").addClass("active");
            GetHeaderGridDataPartial('Pending');
        }

        $('a[name="tabStatus"]').click(function () {
            GetHeaderGridDataPartial($(this).attr('spara'));
        });

    });
    function GetHeaderGridDataPartial(status) {
        $("#portlet_comments_1").empty();
        $("#portlet_comments_2").empty();
        $("#portlet_comments_3").empty();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/LTFPS/NDERequestConfirmation/GetRequestConfirmDataPartial",
            data: { status: status },
            datatype: 'html',
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { status: status },
            success: function (result) {
                if (status == "Pending") {
                    $("#portlet_comments_1").html(result);
                }
                else if (status == "Regenerate") {
                    $("#portlet_comments_2").html(result);
                }
                else {
                    $("#portlet_comments_3").html(result);
                }
            },
            error: function () {
            }
        });
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="page-title">
                                NDE Request Confirmation
                                <small></small>
                            </h1>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                        </div>
                    </div>
                </div>
                <div class="portlet-title tabbable-line">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_comments_1" name="tabStatus" id="tabPending" spara="Pending" data-toggle="tab"> Confirmation </a>
                        </li>
                        <li class="">
                            <a href="#portlet_comments_2" name="tabStatus" id="tabRegenerate" spara="Regenerate" data-toggle="tab"> Regenerate Request </a>
                        </li>
                        <li>
                            <a href="#portlet_comments_3" name="tabStatus" id="tabAll" spara="All" data-toggle="tab"> All </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                        <div class="tab-pane" id="portlet_comments_2">
                        </div>
                        <div class="tab-pane" id="portlet_comments_3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>