﻿@using IEMQSImplementation
@model KOM001
@{
    ViewBag.Title = "KOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fileupload1 = "firstattachment";
    string fileuploadInitiator = "InitiatorAttachment";
}
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .clsNewBtn {
        height: 20px !important;
        padding: 0px 5px;
    }

    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('#frmMaintainDeatils').validate({
            rules: {
                ddlProject: {
                    required: true
                },
                ddlTOCApprover: {
                    required: true
                },
                ddlPMGApprover: {
                    required: true
                }
            },
            messages: {
                ddlProject: {
                    required: "Project is Required"
                },
                ddlTOCApprover: {
                    required: "TOC Manager is Required"
                },
                ddlPMGApprover: {
                    required: "PMG is Required"
                }
            }
        });
    });

    $(document).ready(function () {
        var isSelected = false;
        $('input[maxlength]').maxlength({
            alwaysShow: true,
            //placement: 'top-center'
        });

        $("#ddlProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                }

            },
        });


        $("#ddlTOCApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResultForPMG2",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                        debugger
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }

            },
        });


        $("#ddlTOCApprover").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });

        $("#ddlPMGApprover").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetApproverResultForPMG2",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }));
                        debugger
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                }

            },
        });

        $("#ddlPMGApprover").blur(function () {
            if (!isSelected) {
                ClearAll();
            }
        });

        $("#ddlTOCApprover").change(function () {
            var approver = $('#ddlTOCApprover').val();
            $("#hfApp").val(approver);
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/KOM/ProjApprove/verifyApprover",
                datatype: 'html',
                async: false,
                data: { approver: approver },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        $('#ddlTOCApprover').val("");
                        DisplayNotiMessage("error", "Invalid Approver.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });

        $("#ddlPMGApprover").change(function () {
            var approver = $('#ddlPMGApprover').val();
            $("#hfApp2").val(approver);
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/KOM/ProjApprove/verifyApprover",
                datatype: 'html',
                async: false,
                data: { approver: approver },
                success: function (data) {
                    if (data.Key) {

                    }
                    else {
                        $('#ddlPMGApprover').val("");
                        DisplayNotiMessage("error", "Invalid Approver.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });


        $("#ddlProject").change(function () {
            var project = $('#ddlProject').val();
            var Eq = project.split('-')[1].trim();
            $("#txtEquipment").val(Eq);
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/KOM/ProjApprove/GetHeaderData",
                data: { project: project },
                datatype: 'html',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        var splitval1 = data.Value;
                        var cust = splitval1;
                        cust = cust.trim();
                        $("#txtCust").val(cust);
                    }
                    else {
                        $("#txtCust").val("");
                        $("#txtEquipment").val("");
                        DisplayNotiMessage("error", "Invalid Project.! Try Again..!", "Error");
                    }

                },
                error: function () {
                }
            });
        });


        @*$("#btnUploadKOM").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }

            $.ajax({
                url: '/KOM/ProjApprove/UploadPPTTOC',
                data: {
                    headerid: headerid,
                    hasAttachments: getHasAttachmentsForSubmit1(),
                    Attach: getAttachmentsFromTable1()
                },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //window.location.href = "../MaintainHTC/Index";
                        window.setTimeout('window.location.href = "/KOM/ProjApprove/KOMProjHeaderDetails"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });

        });



        $("#btnUploadMKOM").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }

            $.ajax({
                url: '/KOM/ProjApprove/MKOMUploadPPTTOC',
                data: {
                    headerid: headerid,
                    hasAttachments: getHasAttachmentsForSubmit1(),
                    Attach: getAttachmentsFromTable1()
                },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //window.location.href = "../MaintainHTC/Index";
                        window.setTimeout('window.location.href = "/KOM/ProjApprove/MKOMProjHeaderDetails"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });

        });*@

        $("#btnPrint").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }

            var Stage = "KOM"
            if ($("#lblStatus:contains(MKOM)").length > 0) {
                Stage = "MKOM"
            }
            PrintReport(headerid, Stage)
        })

        $("#btnSend").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            var remark = $("#KOMTOCRemarks").val();
            //var Approver = $('#ddlApprover').val();

            //if (Approver == "") {
            //    DisplayNotiMessage("error", "Please Select Approver..!!", "Error");
            //}
            //else {
            $.ajax({
                url: WebsiteURL + '/KOM/ProjApprove/ApproveTOC',
                data: { headerid: headerid, remark: remark },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //window.location.href = "../MaintainHTC/Index";
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/KOM/ProjApprove/KOMProjHeaderDetails"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
            //}
        });


        $("#btnReturn").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            var remark = $("#KOMTOCReturnRemarks").val();
            //var Approver = $('#ddlApprover').val();

            //if (Approver == "") {
            //    DisplayNotiMessage("error", "Please Select Approver..!!", "Error");
            //}
            //else {
            $.ajax({
                url: WebsiteURL + '/KOM/ProjApprove/ReturnTOC',
                data: { headerid: headerid, remark: remark },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //window.location.href = "../MaintainHTC/Index";
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/KOM/ProjApprove/KOMProjHeaderDetails"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
            //}
        });




        $("#btnSend2").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            var remark = $("#KOMTOCRemarks").val();
            //var Approver = $('#ddlApprover').val();

            //if (Approver == "") {
            //    DisplayNotiMessage("error", "Please Select Approver..!!", "Error");
            //}
            //else {
            $.ajax({
                url: WebsiteURL + '/KOM/ProjApprove/MKOMApproveTOC',
                data: { headerid: headerid, remark: remark },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //window.location.href = "../MaintainHTC/Index";
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/KOM/ProjApprove/MKOMProjHeaderDetails"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
            //}
        });

        $("#btnReturn2").click(function () {
            var headerid = parseInt("@Model.HeaderId");
            if (headerid == 0) {
                headerid = $("#hfHeaderId").val();
            }
            var remark = $("#KOMTOCReturnRemarks").val();
            //var Approver = $('#ddlApprover').val();

            //if (Approver == "") {
            //    DisplayNotiMessage("error", "Please Select Approver..!!", "Error");
            //}
            //else {
            $.ajax({
                url: WebsiteURL + '/KOM/ProjApprove/MKOMReturnTOC',
                data: { headerid: headerid, remark: remark },
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data.Key) {
                        DisplayNotiMessage("success", data.Value, "Success");
                        //window.location.href = "../MaintainHTC/Index";
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/KOM/ProjApprove/MKOMProjHeaderDetails"', 2000);
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
            //}
        });






    })
</script>


<script>
    $(document).ready(function () {
        var headerid = parseInt("@Model.HeaderId");

        $("#ddlOtherProjects").val("");
        LoadPreValueSelect2("/KOM/ProjMaintain/GetOtherProjects", $('#ddlOtherProjects'), "", { HeaderId: headerid, ContractNo: '@Model.ContractNo' });

        if (headerid > 0) {


            $("#hfHeaderId").val(headerid);
            var Project = "@Model.Project"
            if (Project.toString() != "") {
                $("#ddlProject").val(Project);
                $("#hfProject").val(Project);
            }

            var IProject = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.IProject))));
            if (IProject != null) {
                $('#ddlOtherProjects').val(LoadSelect2OnEdit(IProject)).trigger("change");
            }

            $("#txtCust").val(@Html.Raw(Json.Encode(ViewBag.Customer)));

            var ZeroDate = "@ViewBag.ZeroDate"
            if (ZeroDate != "") {
                $("#txtZero").val(ZeroDate.slice(0, 10));
            }

            var status = "@ViewBag.LineStatus";
            $("#lblStatus").text(status);
            $("#status").css("display", "block");
            var disableDelete = true;

            var TOCApprovedBy = "";
            var PMGApprovedBy = "";

            if ($("#lblStatus:contains(MKOM)").length > 0) {

                //setAttachmentsInHeader("KOM001/" +@(Model.HeaderId) +  "_MKOM", disableDelete);
                //   setAttachmentsInHeader1("KOM001/" +@(Model.HeaderId) +  "_MKOM_FINAL", disableDelete);
                LoadFileUpload1("KOM001/" +@(Model.HeaderId) +  "_MKOM");
                LoadFileUploadInitiator("KOM001/" +@(Model.HeaderId) +  "_MKOM_INITIATOR");

                $("#btnKOMCancel").hide();
                //$("#btnUploadKOM").hide();
                $("#btnAttach").hide();

                var KOMTOCDate = "@Model.MKOMTOCDate"
                $("#KOMTOCDate").val(KOMTOCDate);
                var KOMPMGRemarks = "@Model.MKOMPMGRemarks"
                $("#KOMPMGRemarks").val(KOMPMGRemarks);
                var KOMTOCRemarks = "@Model.MKOMTOCComments"
                $("#KOMTOCRemarks").val(KOMTOCRemarks);
                var KOMTOCReturnRemarks = "@Model.ReturnRemark"
                $("#KOMTOCReturnRemarks").val(KOMTOCReturnRemarks);

                var PlanDate = "@Model.MKOMPlannedDate"
                if (PlanDate != "") {
                    $("#KOMPlannedDate").val(PlanDate.slice(0, 10));
                }
                TOCApprovedBy = "@Model.MKOMTOCManager"
                if (TOCApprovedBy != "") {
                    $("#ddlApprover").val(TOCApprovedBy);
                    $("#hfApp").val(TOCApprovedBy);
                }
                PMGApprovedBy = "@Model.MKOMPMG"
                if (PMGApprovedBy != "") {
                    $("#ddlApprover").val(PMGApprovedBy);
                    $("#hfApp2").val(PMGApprovedBy);
                }
            }
            else {
                //setAttachmentsInHeader("KOM001/" +@(Model.HeaderId) +  "_KOM", disableDelete);
                // setAttachmentsInHeader1("KOM001/" +@(Model.HeaderId) +  "_KOM_FINAL", disableDelete);
                LoadFileUpload1("KOM001/" +@(Model.HeaderId) +  "_KOM");
                LoadFileUploadInitiator("KOM001/" +@(Model.HeaderId) +  "_KOM_INITIATOR");

                $("#btnMKOMCancel").hide();
                //$("#btnUploadMKOM").hide();
                $("#btnAttach").hide();

                var KOMTOCDate = "@Model.KOMTOCDate"
                $("#KOMTOCDate").val(KOMTOCDate);
                var KOMPMGRemarks = "@Model.KOMPMGRemarks"
                $("#KOMPMGRemarks").val(KOMPMGRemarks);
                var KOMTOCRemarks = "@Model.KOMTOCComments"
                $("#KOMTOCRemarks").val(KOMTOCRemarks);

                var PlanDate = "@Model.KOMPlannedDate"
                if (PlanDate != "") {
                    $("#KOMPlannedDate").val(PlanDate.slice(0, 10));
                }
                TOCApprovedBy = "@Model.KOMTOCManager"
                if (TOCApprovedBy != "") {
                    $("#ddlApprover").val(TOCApprovedBy);
                    $("#hfApp").val(TOCApprovedBy);
                }
                PMGApprovedBy = "@Model.KOMPMG"
                if (PMGApprovedBy != "") {
                    $("#ddlApprover").val(PMGApprovedBy);
                    $("#hfApp2").val(PMGApprovedBy);
                }
            }

            //  $("#tblKOMDet").css('pointer-events', 'none');

            $("#ContractNo").attr("disabled", true);
            $("#ddlProject").attr("disabled", true);
            $("#ddlTOCApprover").attr("disabled", true);
            $("#ddlPMGApprover").attr("disabled", true);

            $("#KOMPMG").attr("disabled", true);

            $("#KOMTOC").attr("disabled", true);
            $("#KOMTOCDate").attr("disabled", true);
            $("#KOMPMGRemarks").attr("disabled", true);


            if (status.toLowerCase() == "kom approved by pmg") {
                $("#btnSend").show();
                $("#btnReturn").show();
            }
            else {
                $("#btnSend").hide();
                $("#btnReturn").hide();
            }

            if (status.toLowerCase() == "mkom approved by pmg") {
                $("#btnSend2").show();
                $("#btnSend2").show();
            }
            else {
                $("#btnSend2").hide();
                $("#btnReturn2").hide();
            }

            //if (status.toLowerCase() == "kom approved by toc" || status.toLowerCase() == "mkom approved by toc") {
            //    $("#fnlUpload").show();
            //}
            //else {
            //    $("#fnlUpload").hide();
            //}

            var Project = "@Model.Project"

            if (Project != "" || TOCApprovedBy != "" || PMGApprovedBy != "") {
                $.ajax({
                    type: "POST",
                    url: WebsiteURL + "/KOM/ProjApprove/getCodeValue",
                    data: { project: Project, TOCapprover: TOCApprovedBy, PMGapprover: PMGApprovedBy, contract: '@Model.ContractNo' },
                    datatype: 'html',
                    async: false,
                    success: function (data) {
                        if (data.contractDesc) {
                            $("#ContractNo").val(data.contractDesc);
                        }
                        if (data.projdesc != "") {
                            $("#ddlProject").val(data.projdesc);
                            var Eq = data.projdesc.split('-')[1].trim();
                            $("#txtEquipment").val(Eq);
                        }
                        if (data.appdesc != "") {
                            $("#ddlTOCApprover").val(data.appdesc.split('|')[0]);
                        }
                        if (data.appdesc != "") {
                            $("#ddlPMGApprover").val(data.appdesc.split('|')[1]);
                        }
                    },
                    error: function () {
                    }
                });
            }
            loadData(headerid);
        } else {
            $("#btnSend").hide();
            $("#btnSend2").hide();
            $("#btnReturn").hide();
            $("#btnReturn2").hide();

            //$("#btnKOMCancel").hide();
            //$("#btnMKOMCancel").hide();
            //     $("#btnSubmit").show();
        }

        if (status.toLowerCase() == "kom approved by toc" || status.toLowerCase() == "mkom approved by toc" || status.toLowerCase() == "kom completed" || status.toLowerCase() == "mkom completed") {
            $("#btnAttach").hide();
        }
    });

    function LoadSelect2OnEdit(strPosition) {
        var arrPositions;
        if (strPosition.length > 0) {
            arrPositions = strPosition.split(',');
        }
        return arrPositions;
    }
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    <div class="form-body">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmMaintainDeatils", @class = "form-horizontal" }))
                        {   @Html.Hidden("hfHeaderId")
                            @Html.Hidden("hfApp")
                            @Html.Hidden("hfApp2")
                            @Html.Hidden("hfProject")
                            <div class="mt-element-ribbon bg-grey-steel" style="height:50px;">
                                <div class="ribbon ribbon-left" style="background-color:transparent !important">
                                    <span class="page-title">@ViewBag.MainHeading</span>
                                </div>
                                <div class="ribbon ribbon-right ribbon-color-warning" id="status" style="display:none">
                                    <b>Status : <label id="lblStatus"></label></b>
                                </div>
                                <p class="ribbon-content"></p>
                            </div>
                            <fieldset>
                                <legend>Project Detail</legend>
                                <div class="form-group">

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Contract
                                                <span class="required"> * </span>
                                            </label>
                                            @Html.TextBoxFor(x => x.ContractNo, new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Project
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                @Html.TextBox("ddlProject", "", new { @class = "form-control" })
                                                @*@Html.DropDownList("ddlProject", (SelectList)@ViewBag.Project, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Customer
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtCust", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Equipment
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtEquipment", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">
                                                Zero Date
                                            </label>
                                            <div class="">
                                                @Html.TextBox("txtZero", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">
                                                Identical Projects
                                            </label>
                                            <div class="">
                                                <select name="ddlOtherProjects" id="ddlOtherProjects" multiple="multiple" style="width:100%" class="form-control" disabled="disabled"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Full Kit Checked and Approve Detail</legend>
                                <div class="form-group">

                                    <div class="col-md-12">
                                        <div class="col-md-4 right" id="ddlPMG">
                                            <label class="control-label">
                                                PMG
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlPMGApprover" id="ddlPMGApprover" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                KOM Planned Date
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                @Html.TextBox("KOMPlannedDate", (string)@ViewBag.cat, new { @class = "form-control col-md-4", @readonly = "readonly" })
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Remarks
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="KOMPMGRemarks" id="KOMPMGRemarks" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Full Kit Checked and Review Detail</legend>
                                <div class="form-group">

                                    <div class="col-md-12">
                                        <div class="col-md-4 right" id="ddlTOC">
                                            <label class="control-label">
                                                TOC Manager
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="">
                                                <input type="text" name="ddlTOCApprover" id="ddlTOCApprover" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                TOC Submitted Date
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="KOMTOCDate" id="KOMTOCDate" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                Remarks
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="KOMTOCRemarks" id="KOMTOCRemarks" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-4 right">
                                            <label class="control-label">
                                                TOC Return Remarks
                                                @*<span class="required"> * </span>*@
                                            </label>
                                            <div class="">
                                                <input type="text" name="KOMTOCReturnRemarks" id="KOMTOCReturnRemarks" class="class = form-control col-md-3" />
                                                @*@Html.DropDownList("ddlApprover", (SelectList)@ViewBag.approver, "Select", new { @class = "form-control" })*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>
                                    Initiator attachment
                                </legend>
                                <div class="col-md-12">
                                    <div id="dv@(fileuploadInitiator)"></div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>
                                    PMG attachment
                                </legend>
                                <div class="col-md-12">
                                    <div id="dv@(fileupload1)"></div>
                                </div>
                            </fieldset>

                            @*<div class="col-md-12" id="fnlUpload">
                                    <fieldset>
                                        <legend>FINAL PRESENTATION</legend>
                                        @Html.Partial("_FinalAttachmentPartial")

                                        <button class="btn green" style="float: right;" type="button" id="btnUploadKOM">Final Upload</button>
                                        <button class="btn green" style="float: right;" type="button" id="btnUploadMKOM">Final Upload</button>
                                        </fieldset>
                                </div>*@
                        }
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            @ViewBag.Heading
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmKOMLinesDet", @class = "form-horizontal" }))
                                        {
                                            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblKOMDet" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        @*
                                                            <th id="thRemove" class="all" style="text-align: center;">
                                                                <input type='checkbox' id='line_chkAll' class='checkbox_line' name='chkAll' />
                                                            </th>*@
                                                        <th class="min-phone-l">#</th>
                                                        <th class="min-phone-l">Activity</th>
                                                        <th class="min-phone-l">Responsible</th>
                                                        <th class="min-phone-l">Functional Lead</th>
                                                        <th class="min-phone-l">Approved By</th>
                                                        <th class="min-phone-l">Date</th>
                                                        <th class="min-phone-l">Comments By PM</th>
                                                        <th class="min-phone-l" style="display:none;">Header Id</th>
                                                        <th class="min-phone-l" style="display:none;">Line Id</th>
                                                        <th class="min-phone-l">Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4" style="text-align:right">
                                    <button class="btn approve" type="button" id="btnSend">Final Review</button>
                                    <button class="btn approve" type="button" id="btnSend2">Final Review</button>
                                    <button class="btn return" type="button" id="btnReturn">Return</button>
                                    <button class="btn return" type="button" id="btnReturn2">Return</button>
                                    <a href="~/KOM/ProjApprove/KOMProjHeaderDetails" id="btnKOMCancel" class="btn btnclose">Close</a>
                                    <a href="~/KOM/ProjApprove/MKOMProjHeaderDetails" id="btnMKOMCancel" class="btn btnclose">Close</a>
                                    <button style="cursor:pointer;margin-right:5px;" title="" Print Report"; class="btn icons" id="btnPrint"><i class="fa fa-print"></i></button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function loadData(id) {
        id = $("#hfHeaderId").val();
        var table = $('#tblKOMDet');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/KOM/ProjApprove/LoadProjLineData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "HeaderId", "value": id },
                             { "name": "MTStatus", "value": '@ViewBag.LineStatus' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    'async': false
                });
                ResetAddRow();
            },
            "columns": [{
                "bSortable": false,
                "sClass": "center"
            }, {
                "bSortable": false,
                "sClass": "center"
            }, {
                "bSortable": false,
                "sClass": "center"
            }, {
                "bSortable": false,
                "sClass": "center"
            }, {
                "bSortable": false,
                "sClass": "center"
            }, {
                "bSortable": false,
                "sClass": "center"
            }, {
                "bSortable": false,
                "sClass": "center"
            }, {
                "sClass": "hide"
            }, {
                "sClass": "hide"
            },
                    //{
                    //    "bSortable": false,
                    //    "sClass": "center",
                    //    //"sWidth": "10%",
                    //    "render": function (data, type, row, meta) {
                    //        var buttons = "";
                    //        if ($("#lblStatus:contains(MKOM)").length > 0) {
                    //            buttons = '<center><a title="View" href="../Maintain/KOMLineDetails?Id=' + row[6] + '&Funcation=' + row[1] + '&Stage=MKOM&ReadOnly=1"  target =" _blank" ><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //        }
                    //        else {
                    //            buttons = '<center><a title="View" href="../Maintain/KOMLineDetails?Id=' + row[6] + '&Funcation=' + row[1] + '&Stage=KOM&ReadOnly=1"  target =" _blank" ><i style="margin-left:5px;" class="fa fa-eye"></i></a></center>';
                    //        }
                    //        return buttons;
                    //    }
                    //}
                     {
                         "bSortable": false,
                         "sClass": "center"
                     }]
        });
    }
</script>

<style>
    .modal-dialog {
        margin: 30px auto;
        width: 85% !important;
    }
</style>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>


<script>
    $(document).ready(function () {
        $('#frmKOMLinesDet').validate({
            rules: {
                FunctionalLead0: {
                    required: true,
                }
            },
            messages: {
                FunctionalLead0: {
                    required: "Functional Lead is Required"
                }
            }
        });

        var lstFuncationLeader = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstFuncationLeader))));
        var lstBuddy = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstBuddy))));

        $('#tblKOMDet').delegate(".autocomplete", "focusin", function () {

            var element = $(this);
            if ($(this).attr("colname") == "FunctionalLead") {
                FillKOMAutoComplete(element, lstFuncationLeader, "", false);
            }
            else if ($(this).attr("colname") == "Buddy") {
                FillKOMAutoComplete(element, lstBuddy, "", false);
            }
        });
    })

    function ResetAddRow() {
        $('#tblKOMDet').find("tbody tr:first").hide();
        $('#tblKOMDet').find("tbody tr:first").css("background-color", "#fbffb2");
        //  $("#btnNew").val("New");
    }

    function FillKOMAutoComplete(element, sourceList, hdElement, isEditable) {
        element.autocomplete({
            source: function (request, response) {
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.Text,
                        value: item.Text,
                        id: item.Value
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
                if (!isEditable)
                    $(hdElement).val($(this).val());
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(hdElement).val($(this).val());
                    }
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    };

    function UpdateData(objColumn, rowID) {
        var columnValue = $(objColumn).val();
        var columnName = $(objColumn).attr("colname");

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/KOM/ProjApprove/UpdateProjDetails",
            datatype: 'json',
            async: false,
            data: { lineId: rowID, columnName: columnName, columnValue: columnValue.split('-')[0].trim() },
            success: function (result) {
                if (result.Key) {
                    DisplayNotiMessage("success", result.Value, "Success");
                }
            },
            error: function () {
                DisplayNotiMessage("error", result.Value, "Error");
            }
        });
    }

    function PrintReport(headerid, Stage) {
        bootbox.dialog({
            title: 'Project Preparation Sheet Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/KOM/Project Level Fullkit Sheet";
                        var dat = [];
                        dat.push({ Param: "HeaderId", Value: headerid });
                        dat.push({ Param: "Stage", Value: Stage });

                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn red'
                }
            }
        });
    }

    function checkStatus(rowID) {
        @*if ('@ViewBag.LineStatus' == 'Approved') {
                bootbox.confirm({
                    message: "Do you want to revise this header?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success',
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ReviseHeader('@Model.HeaderId');
                            window.location.reload();
                        }
                    }
                });
            }
            else {
                "";
            }*@

        "";
    }

    function LoadFileUpload1(urlpath) {
        var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = urlpath;
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(fileupload1)', '@fileupload1');
        objFileUploadFinalHeader.ShowDeleteAction = false;
        objFileUploadFinalHeader.ShowAttachmentBtn = false;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.SuccessCallbackFunction = "";
        objFileUploadFinalHeader.IsRequired = false;
        objFileUploadFinalHeader.ShowUploadBtn = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);
    }
    function LoadFileUploadInitiator(urlpath) {
        var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = urlpath;
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(fileuploadInitiator)', '@fileuploadInitiator');
        objFileUploadFinalHeader.ShowDeleteAction = false;
        objFileUploadFinalHeader.ShowAttachmentBtn = false;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.SuccessCallbackFunction = "";
        objFileUploadFinalHeader.IsRequired = false;
        objFileUploadFinalHeader.ShowUploadBtn = false;
        objFileUploadFinalHeader.IsMultipleUploaded = false;
        LoadFileUploadPartialView(objFileUploadFinalHeader);
    }
</script>