﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmAddFixture", @class = "form-horizontal" }))
                {
                    @Html.Hidden("hfid");
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label custom">Fixture Name<span class="required">*</span></label>
                                <div class="">
                                    @Html.TextBox("txtFixtureName", "", new { @class = "form-control" })
                                    @Html.Hidden("FixtureName")
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label custom">Total Qty<span class="required">*</span></label>
                                <div class="">
                                    @Html.TextBox("txtTotalQty", "", new { @class = "form-control" ,@readonly="readonly"})
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label custom">Available Qty<span class="required">*</span></label>
                                <div class="">
                                    @Html.TextBox("txtAvailableQty", "", new { @class = "form-control", @readonly = "readonly" })
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="col-md-6">
                                <label class="control-label custom">Qty<span class="required">*</span></label>
                                <div class="">
                                    @Html.TextBox("txtRequiredQty", "", new { @class = "form-control" })
                                    @Html.Hidden("RequiredQty")
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtRequiredQty').autoNumeric('init', { vMin: "0", vMax: "9999", aSep: '' });//vMin: '0', vMax: '99999',

        LoadPageDefaultData();

        $('#frmAddFixture').validate({
            rules: {
                txtFixtureName: {
                    required: true
                },
                txtRequiredQty: {
                    required: true
                }
            },
            messages: {
                txtFixtureName: {
                    required: "Fixture Name is required"
                },
                txtRequiredQty: {
                    required: "Qty is required"
                }
            }
        });
    });

    function GetAvailableQty() {
        //reset additional qty to 0 when fixture changed.
        $("#hdAdditionalQty").val('0');

        $.ajax({
            type: 'POST',
            url: WebsiteURL + '/FKMS/MaintainFKMS/GetFixtureQty',
            data: { RefLineId: $("#FixtureName").val() },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                $("#txtTotalQty").val(data.TotalQty);
                $("#txtAvailableQty").val(data.AvlQty);
            }
        });
    }

    function LoadPageDefaultData() {
        var FixturesList = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstFixtures))));
        FillAutoCompleteWithCallBack($("#txtFixtureName"), FixturesList, $("#FixtureName"), GetAvailableQty);

        var paramList = [];
        paramList.push({ id: "RefLineId", value: $("#FixtureName") });
        FillAutoCompleteUsingAjax($("#txtRequiredQty"), "/FKMS/MaintainFKMS/GetRequiredQtyList", $("#RequiredQty"), false, paramList);
    }

    function ResetAddFixture() {
        $("#txtFixtureName,#FixtureName,#txtRequiredQty,#RequiredQty,#txtTotalQty,#txtAvailableQty").val('');
        $("#hdAdditionalQty").val('0');
    }
</script>

