﻿<div class="row">
    <div class="portlet box green" style="margin-bottom:0px;">
        <div class="portlet-title">
            <div class="caption">Designer-H-BOM</div>
            <div class="tools">
                @*<a href="javascript:;" class="collapse"> </a>*@
            </div>
        </div>
        <div class="portlet-body" style="height:575px; overflow:auto;">
            <div class="input-icon right" style="margin-bottom:5px;">
                <i id="Dtreemagnifier" class="icon-magnifier" style="top: -3px;"></i>
                <i id="DtreecloseIcon" class="fa fa-close hidden" style="cursor:pointer;top: -3px;"></i>
                <input type="text" id="DsearchNode" name="DsearchNode" onkeyup="ModelSearchNode('DsearchNode', 'Dtree', 'Ptree')" class="form-control input-circle valid searchPad" placeholder="search..." aria-invalid="false">
            </div>
            <div id="Dtree" class="tree-demo" @*style="height:462px;overflow:auto;"*@> </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/global/plugins/jstree/dist/jstree.min.js"></script>
<script>
    var newCreatedNodeid;
    var newCreatedNodetext;
    var headerid = parseInt('@ViewBag.HeaderId');
    var to = false;

    $(document).ready(function () {
        LoadDTreeView();

        $("#DsearchNode").on("keyup", function () {
            $("#Dtreemagnifier").addClass('hidden');
            $("#DtreecloseIcon").removeClass('hidden');
            if (this.value.length <= 0) {
                $("#DtreecloseIcon").addClass('hidden');
                $("#Dtreemagnifier").removeClass('hidden');
            }
        });

        $("#DtreecloseIcon").on("click", function () {
            $("#DtreecloseIcon").addClass('hidden');
            $("#Dtreemagnifier").removeClass('hidden');
            $("#DsearchNode").val('');
            $('#Dtree').jstree(true).search('');
            $('#Ptree').jstree(true).search('');
        });
    });

    function LoadDTreeView() {
        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/CompareGetTreeNodes",
            type: "POST",
            datatype: 'json',
            data: { HeaderId: headerid, NodeId: 0 },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                $("#Dtree").jstree({
                    "core": {
                        "themes": {
                            "responsive": false
                        },
                        // so that create works
                        "check_callback": false,
                        'data': data
                    },
                    "types": {
                        "default": {
                            "icon": "fa fa-folder icon-state-success icon-lg"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-success icon-lg"
                        }
                    },
                    "state": { "key": "demo2" },
                    "plugins": ["contextmenu", "dnd", "state", "types", "search"],
                    "contextmenu": {
                        "items": function (o, cb) {
                            var tree = $("#tree").jstree(true);
                            return {
                            };
                        }
                    }
                })
                .bind('changed.jstree', function (node, selectedNodes) {
                    if (selectedNodes.selected.length > 0) {
                        //GetKitData(selectedNodes.selected[0].split('#')[0]);
                    }
                })
                .bind('rename_node.jstree', function (node, data) {
                    //console.debug('rename node :', node);
                    //console.debug('rename data :', data);
                    var inst = data.instance;
                    if (newCreatedNodeid != undefined && newCreatedNodeid != null) {
                        if (newCreatedNodeid == data.node.id && newCreatedNodetext == data.node.text) {
                            inst.delete_node(data.node);
                            newCreatedNodeid = null;
                        }
                        else {
                            var objFKM102Ent = new FKM102Ent();
                            objFKM102Ent.HeaderId = data.node.parent.split("#")[1];
                            objFKM102Ent.ParentNodeId = data.node.parent.split("#")[0];
                            objFKM102Ent.NodeName = data.node.text;
                            objFKM102Ent.ParentNodeTypeId = data.node.parent.split("#")[2];
                            objFKM102Ent.Project = $("#Project").val();
                            CreateNewNode(objFKM102Ent);
                        }
                        newCreatedNodeid = null;
                        newCreatedNodetext = null;
                    }
                    else {
                        if (data.text != "" && data.text != data.old) {
                            var nodeid = data.node.id.split("#")[0];
                            var nodetext = data.text;
                            UpdateNewNode(nodeid, nodetext);
                        }
                    }
                })
                .bind('move_node.jstree', function (e, data) {
                    DragNDrop(data.parent, data.node.id);
                });
            },
            error: function () {
            }
        });
    }

    //function GetKitData(nodeId) {

    //    $.ajax({
    //        url: WebsiteURL + "/FKMS/MaintainFKMS/GetKitDetails",
    //        type: "POST",
    //        data: { NodeId: nodeId },
    //        async: false,
    //        //beforeSend: function () {
    //        //    showLoading(true);
    //        //},
    //        //complete: function () {
    //        //    showLoading(false);
    //        //},
    //        success: function (data) {
    //            if (data.Key) {
    //                $("#kitdetails span#kit_name").text(data.KitName);
    //                $("#kitdetails span#kit_num").text(data.KitNumber);
    //            }
    //            else {
    //                DisplayNotiMessage("error", data.Value, "Error");
    //            }
    //        }
    //    });
    //}

</script>