﻿@using IEMQSImplementation
<form class="form-horizontal" id="frmPlateDetails">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label">QR Code</label>
                        <input type="text" id="txtQRCode" class="form-control" />
                    </div>  
                    <div class="col-md-5">
                        <label class="control-label">
                            Material Type
                        </label>
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" class="md-radio" name="rdoQRCode" id="checkbox1" onclick="changeQR('@clsImplementationEnum.MaterialType.PLT.GetStringValue()')" value="PLT" checked />
                                <label for="checkbox1">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Plate
                                </label>
                            </div>

                            <div class="md-radio">
                                <input type="radio" class="md-radio" name="rdoQRCode" id="checkbox2" onclick="changeQR('@clsImplementationEnum.MaterialType.FXR.GetStringValue()')" value="FXR" />
                                <label for="checkbox2">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Fixture
                                </label>
                            </div>

                            <div class="md-radio">
                                <input type="radio" class="md-radio" name="rdoQRCode" id="checkbox3" onclick="changeQR('@clsImplementationEnum.MaterialType.KIT.GetStringValue()')" value="KIT" />
                                <label for="checkbox3">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Kit
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3" hidden>
                        <label class="control-label">PCL No</label>
                        <input type="text" id="PCLNo" class="form-control" />
                    </div>
                    <div class="col-md-3" hidden>
                        <label class="control-label">Project</label>
                        <input type="text" id="Project" class="form-control" />
                    </div>
                    <div class="col-md-3" hidden>
                        <label class="control-label">Shop</label>
                        <input type="text" id="Shop" class="form-control" />
                    </div>
                    <div class="col-md-3" hidden>
                        <label class="control-label">Find No</label>
                        <input type="text" id="FindNo" class="form-control" />
                    </div>
                    <div class="col-md-3" hidden>
                        <label class="control-label">Fixture Name</label>
                        <input type="text" id="FixtureNo" class="form-control" />
                    </div>
                    <div class="col-md-3" hidden>
                        <label class="control-label">Revesion No</label>
                        <input type="hidden" id="txtRevNo" class="form-control" readonly="readonly" />
                        <input type="text" id="RevNo" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-12" id="pnlPlate" hidden>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Plate Data
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblPlate" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <tbody>
                            <tr><th>PCL No:</th><td id="lblPCLNumber"></td></tr>
                            <tr><th>PCL Revision:</th><td id="lblPCLRevision"></td></tr>
                            @*<tr><th>PCR Req. Date:</th><td id="lblPCRReqDate"></td></tr>*@
                            <tr><th>Work Center:</th><td id="lblWorkCenter"></td></tr>
                            <tr><th>Movement Type:</th><td id="lblMovementType"></td></tr>
                            <tr><th>PCL Status:</th><td id="lblPCLStatus"></td></tr>
                            <tr><th>Status:</th><td id="lblStatus"></td></tr>
                            @*<tr><th>Stock Physical Status:</th><td id="lblStockPhysicalStatus"></td></tr>*@
                            <tr><th>PCL Issued By:</th><td id="lblPlateIssuedBy"></td></tr>
                            <tr><th>Plate Issued To - BP(Store):</th><td id="lblPlateIssuedToBP"></td></tr>
                            <tr><th>Plate Issued To - PSNO(Store):</th><td id="lblPlateIssuedToPSNO"></td></tr>
                            <tr><th>Return Remark By QC:</th><td id="lblReturnRemarkByQC"></td></tr>
                            <tr class="forMaterialReceive"><th>Quantity:</th><td id="lblQuantity"></td></tr>
                            <tr class="forMaterialReceive">
                                <th>Location:</th>
                                <td id="lblKitLocation"> 
                                    <input type="text" name="txtKitLocation" id="txtKitLocation" class="form-control" />
                                    <input type="hidden" name="KitLocation" id="KitLocation" />
                                </td>
                            </tr>
                            <tr class="forMaterialReceive">
                                <th>Sub Location:</th>
                                <td id="lblSubLocation">
                                    <input type="text" name="SubLocation" id="SubLocation" class="form-control" />
                                </td>
                            </tr>
                            <tr class="forMaterialReceive">
                                <th>Received Quantity:</th>
                                <td id="lblReceivedQty">
                                    <input type="number" name="ReceivedQty" id="ReceivedQty" onchange="ValidateQuantity(this,$('#lblQuantity').html())" class="form-control" />
                                </td>
                            </tr>
                            <tr class="forMaterialReceive">
                                <td colspan="2">
                                    <input type="hidden" name="Id" id="Id" />
                                    <button type="button" id="btnMaterialReceive" onclick="FullkitStoreMaterialReceived()" class="btn btn-primary" hidden>Accept</button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <table id="tblPlateIssued" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="kitno hide">NodeKey</th>
                                <th>Kit No.</th>
                                <th>Deliver To</th>
                                <th>Required Qty</th>
                                <th>Available Qty</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-12" id="pnlFixture" hidden>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Fixture Data
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblFixture" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <tbody>
                            <tr><th>Project:</th><td id="lblfProject"></td></tr>
                            <tr><th>Fixture Name:</th><td id="lblfFixtureName"></td></tr>
                            <tr><th>Quantity:</th><td id="lblfQuantity"></td></tr>
                            <tr>
                                <th>Location:</th>
                                <td id="lblKitLocation">
                                    <input type="text" name="txtfKitLocation" id="txtfKitLocation" class="form-control" />
                                    <input type="hidden" name="fKitLocation" id="fKitLocation" />
                                </td>
                            </tr>
                            <tr>
                                <th>Sub Location:</th>
                                <td id="lblSubLocation">
                                    <input type="text" name="fSubLocation" id="fSubLocation" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th>Received Quantity:</th>
                                <td id="lblReceivedQty">
                                    <input type="number" name="fReceivedQty" id="fReceivedQty" onchange="ValidateQuantity(this,$('#lblfQuantity').html())" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="hidden" name="fId" id="fId" />
                                    <button type="button" id="btnfMaterialReceive" onclick="FullkitStoreMaterialReceivedForFixture()" class="btn btn-primary" hidden>Accept</button> 
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                    <hr />
                    <table id="tblFixtureIssued" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="kitno hide">NodeKey</th>
                                <th>Kit No.</th>
                                <th>Deliver To</th>
                                <th>Required Qty</th>
                                <th>Available Qty</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="pnlKit" hidden>
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        Kit Data
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="tblKit" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <tbody>
                            <tr><th>Project:</th><td id="lblkProject"></td></tr>
                            <tr><th>Kit Name:</th><td id="lblkKitName"></td></tr>
                            <tr><th>Quantity:</th><td id="lblkQuantity"></td></tr>
                            <tr>
                                <th>Location:</th>
                                <td id="lblKitLocation">
                                    <input type="text" name="txtkKitLocation" id="txtkKitLocation" class="form-control" />
                                    <input type="hidden" name="kKitLocation" id="kKitLocation" />
                                </td>
                            </tr>
                            <tr>
                                <th>Sub Location:</th>
                                <td id="lblSubLocation">
                                    <input type="text" name="kSubLocation" id="kSubLocation" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th>Received Quantity:</th>
                                <td id="lblReceivedQty">
                                    <input type="number" name="kReceivedQty" id="kReceivedQty" onchange="ValidateQuantity(this,$('#lblkQuantity').html())" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="hidden" name="kId" id="kId" />
                                    <button type="button" id="btnkMaterialReceive" onclick="FullkitStoreMaterialReceivedForKit()" class="btn btn-primary" hidden>Accept</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <table id="tblKitIssued" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="kitno hide">NodeKey</th>
                                <th>Kit No.</th>
                                <th>Deliver To</th>
                                <th>Required Qty</th>
                                <th>Available Qty</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $("#txtQRCode").focus();
    var lstUserDepartment = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.UserDepartment))));
    var IsUserCanAccept = true;
    changeQR('@clsImplementationEnum.MaterialType.PLT.GetStringValue()');
    var tblPlateName = "tblPlate";
    var table = $('#' + tblPlateName);
    $('#' + tblPlateName + ",#pnlFixture,#pnlPlate,#pnlKit").click(function (event) {
        event.stopPropagation();
    });
    //$('.page-content').click(function (evt) {
    //    $("#txtQRCode").focus();
    //})

    var lstMovementType = { 1: "Profile Cutting", 2: "Area Wise Cutting", 3: "Full Plate" };
    var listLocation = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstLocation))));
    var listPCLStatus = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstPCLStatus))));
    var lstPCLStatus = {};
    for (var i in listPCLStatus) {
        lstPCLStatus[listPCLStatus[i].id] = listPCLStatus[i].value;
    }

    var UtilityParams = null;

    $(document).ready(function () {

        //$("input").click(function (event) {
        //    event.stopPropagation();
        //});

        $("#txtQRCode").change(function () {
            LoadItemData();
        });
        setTimeout(selectQRcode(), 100);

        FillAutoCompleteUsingAjax($("#PCLNo"), "/FKMS/MaintainFKMS/GetPCLNoResult", undefined, undefined, undefined, function () {
            $("#txtRevNo").val('');
            $("#RevNo").val('0');
            $("#Project").val('');
            $("#FindNo").val('');
            $('#pnlPlate,#pnlFixture,#pnlKit').hide();
            if (UtilityParams) {
                table.DataTable().ajax.reload();
            }
        }, undefined, undefined, function (data) {
            return data;
        });

        @*FillAutoCompleteUsingAjax($("#RevNo"), "/FKMS/MaintainFKMS/GetRevNoResult", undefined, undefined, [{ id: "PCLNo", value: "#PCLNo" }], function () {
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.PLT.GetStringValue()" && $("#Project").val() && $("#FindNo").val() && $("#PCLNo").val() && $("#RevNo").val()) {
                LoadPlateByPCLNo();
            }
        }, undefined, undefined, function (data) {
            return data;
        });*@

        FillAutoCompleteUsingAjax($("#Project"), "/FKMS/MaintainFKMS/GetApprovedProjectResult", $("#Project"), undefined, [{ id: "search", value: "#Project" }], function () { $("#FindNo").val(''); $("#Shop").val(''); $("#FixtureNo").val(''); $('#pnlPlate,#pnlFixture,#pnlKit').hide(); }, undefined, undefined, function (data) {
            return $.map(data, function (item) {
                return { label: item.text, value: item.id, id: item.id };
            });
        });

        FillAutoCompleteUsingAjax($("#Shop"), "/FKMS/MaintainFKMS/GetDepartments", $("#Shop"), undefined, [{ id: "search", value: "#Shop" }], function () {
            $("#FindNo").val('');
            $('#pnlPlate,#pnlFixture,#pnlKit').hide();
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.KIT.GetStringValue()" && $("#Project").val() && $("#Shop").val() && $("#FindNo").val()) {
                LoadKitByFindNo();
            }
        }, 1, undefined, function (data) {
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.KIT.GetStringValue()") {
                if ($("#Project").val()) {
                    GetFKMFn("Shop", "FKM102", "Project = '" + $("#Project").val() + "' and DeleverTo is not null");
                }
                var getFilterData = [];
                for (var i = 0; i < data.length; i++) {
                    for (var j = 0; j < lstFkmAll.length; j++) {
                        if (data[i].id === lstFkmAll[j].DeleverTo) {
                            getFilterData.push(data[i]);
                        }
                    }
                }
                return $.map(getFilterData, function (item) {
                    return { label: item.text, value: item.id, id: item.id };
                });
            } else {
                return $.map(data, function (item) {
                    return { label: item.text, value: item.id, id: item.id };
                });
            }
        });

        FillAutoCompleteUsingAjax($("#FindNo"), "/FKMS/MaintainFKMS/GetFindNoResult", undefined, undefined, [{ id: "Project", value: "#Project" }], function () {
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.PLT.GetStringValue()" && $("#Project").val() && $("#FindNo").val() && $("#PCLNo").val() && $("#RevNo").val()) {
                LoadPlateByPCLNo();
            } else if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.KIT.GetStringValue()" && $("#Project").val() && $("#Shop").val() && $("#FindNo").val()) {
                LoadKitByFindNo();
            }
        }, undefined, undefined, function (data) {
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.KIT.GetStringValue()") {
                if ($("#Project").val() && $("#Shop").val()) {
                    GetFKMFn("FindNo", "FKM102", "Project = '" + $("#Project").val() + "' AND DeleverTo ='" + $("#Shop").val() + "' and FindNo is not null");
                }
                return $.map(lstFkmAll, function (item) {
                    return { label: item.FindNo, value: item.FindNo, id: item.FindNo };
                });
            } else {
                return $.map(data, function (item) {
                    return { label: item.value, value: item.id, id: item.id };
                });
            }
        });

        FillAutoCompleteUsingAjax($("#FixtureNo"), "/FKMS/MaintainFKMS/GetFixtureNameResult", undefined, undefined, [{ id: "Project", value: "#Project" }], function () {
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.FXR.GetStringValue()" && $("#Project").val() && $("#FixtureNo").val()) {
                LoadPlateByFixtureNo();
            }
        }, undefined, undefined, function (data) {
            return data;
        });

    });

    var txt = "";
    function selectQRcode() {
        if (txt != $("#txtQRCode").val()) {
            txt = $("#txtQRCode").val();
            $("#txtQRCode").select();
            LoadItemData();
        }
        else {
            $("#txtQRCode").select();
            //setTimeout('selectQRcode()', 1500);
        }
    }

    function LoadItemData() {
        if ($("#txtQRCode").val()) {
            IsUserCanAccept = true;
            var arrayData = $("#txtQRCode").val().split("~");
            if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.PLT.GetStringValue()") {
                if (arrayData.length >= 4) {
                    $("#PCLNo").val(arrayData[1]);
                    $("#txtRevNo").val(arrayData[2]);
                   // $("#RevNo").val($("#txtRevNo").val().replace('R', ''));
                    $("#RevNo").val('0');
                    $("#Project").val(arrayData[3]);
                    $("#FindNo").val(arrayData[4]);
                    LoadPlateByPCLNo();
                }
                else {
                    DisplayNotiMessage("info", "QR Code is not valid for Plate", "Information");
                }
            } else if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.FXR.GetStringValue()") {
                if (arrayData.length >= 2) {
                    $("#Project").val(arrayData[0]);
                    $("#FixtureNo").val(arrayData[1]);
                    LoadPlateByFixtureNo();
                }
                else {
                    DisplayNotiMessage("info", "QR Code is not valid for Fixture", "Information");
                }
            } else if ($("[name=rdoQRCode]:checked").val() == "@clsImplementationEnum.MaterialType.KIT.GetStringValue()") {
                if (arrayData.length >= 3) {
                    $("#Project").val(arrayData[0]);
                    $("#Shop").val(arrayData[1]);
                    $("#FindNo").val(arrayData[2]);
                    IsUserCanAccept = (lstUserDepartment.indexOf($("#Shop").val()) != -1);
                    LoadKitByFindNo();
                }
                else {
                    DisplayNotiMessage("info", "QR Code is not valid for Kit", "Information");
                }
            }

        }
        //else {
        //    $("#txtQRCode").select();
        //    setTimeout('selectQRcode()', 1500);
        //}
    }

    function LoadPlateByPCLNo() {
        $('#pnlPlate,#pnlFixture,#pnlKit').hide();
        var formdata = new FormData();
        formdata.append("Project", $("#Project").val());
        formdata.append("PCLNumber", $("#PCLNo").val());
        formdata.append("PCLRevision", $("#RevNo").val());
        formdata.append("FindNo", $("#FindNo").val());

        $('#btnMaterialReceive,#tblPlateIssued').hide();

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetFullkitStoreDetails",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    var data = res.data.PCLData;
                    var FKM130 = res.data.FKM130;
                    //DisplayNotiMessage("success", res.Value, "Success");
                    $("#lblMovementType").html(lstMovementType[data.MovementType]);
                    $("#lblPCLNumber").html(data.PCLNumber);
                    $("#lblPCLRevision").html("R" + data.PCLRevision);
                    $("#lblPCLStatus").html(lstPCLStatus[data.PCLStatus]);
                    $("#lblStatus").html(data.Status);
                    //$("#lblPCRReqDate").html(data.PCRReqDate);
                    $("#lblPlateIssuedBy").html(data.PlateIssuedBy);
                    $("#lblPlateIssuedToBP").html(data.PlateIssuedToBP + ' - ' + data.PlateIssuedToBPName);
                    $("#lblPlateIssuedToPSNO").html(data.PlateIssuedToPSNO + ' - ' + data.PlateIssuedToPSNPName);
                    $("#lblReturnRemarkByQC").html(data.ReturnRemarkByQC);
                    //$("#lblStockPhysicalStatus").html(data.StockPhysicalStatus);
                    $("#lblWorkCenter").html(data.WorkCenter);
                    $('.forMaterialReceive').hide();
                    if (FKM130) {
                        if (IsUserCanAccept)
                            $('.forMaterialReceive').show();
                        $("#txtKitLocation").val(FKM130.MaterialLocation);
                        $("#KitLocation").val(FKM130.MaterialLocation ? FKM130.MaterialLocation.split('-')[0] : "");
                        $("#SubLocation").val(FKM130.MaterialSubLocation);
                        $("#ReceivedQty").val(FKM130.Qty);
                        $("#lblQuantity").html(FKM130.Qty);
                        $("#Id").val(FKM130.Id);
                    }

                    if (isRoleFKM3) {
                        FillAutoCompleteWithCallBack($("#txtKitLocation"), listLocation, $("#KitLocation"));
                        $("#txtKitLocation,#SubLocation,#ReceivedQty").removeAttr('readonly')
                        $('#txtKitLocation,#SubLocation,#btnMaterialReceive').show();

                        if (res.data.AvlFKM > 0 && res.data.lstReadyForSentToKit.length > 0) {
                            $('#tblPlateIssued').show();
                            var htmlPlateIssuedLines = "";
                            $.each(res.data.lstReadyForSentToKit, function (idx, item) {
                                htmlPlateIssuedLines += '<tr>\
<td class="kitno hide">' + item.NodeKey + '</td>\
<td>' + item.NodeName + '</td>\
<td>' + item.DeleverTo + '</td>\
<td>' + item.RequiredQty + '</td>\
<td>' + res.data.AvlFKM + '</td>\
<td><input type="number" onchange="ValidateQuantity(this,' + res.data.AvlFKM + ')" class="form-control PlateIssuedQty" /></td>\
<td><button type="button" class="btn btn-success" onclick="PlateSendToKit(this,' + item.ToAcknowledgeId + ')">Sent To Kit</button></td>\
</tr>';
                            })
                            $('#tblPlateIssued tbody').html(htmlPlateIssuedLines);
                        }
                    } else {
                        $("#txtKitLocation,#SubLocation,#ReceivedQty").attr('readonly', 'readonly');
                    }
                    $('#pnlPlate').show(1000);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (data) { }
        });
    }

    function LoadPlateByFixtureNo() {
        $('#pnlPlate,#pnlFixture,#pnlKit').hide();
        var formdata = new FormData();
        formdata.append("Project", $("#Project").val());
        formdata.append("FixtureNo", $("#FixtureNo").val());

        $('#btnfMaterialReceive,#btnfSentToKit').hide();

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetFullkitStoreDetailsForFixture",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    var FKM130 = res.data.FKM130;
                    //DisplayNotiMessage("success", res.Value, "Success");
                    if (FKM130) {
                        $("#lblfProject").html(FKM130.Project);
                        $("#lblfFixtureName").html(FKM130.PosNo_FixNo);
                        $("#txtfKitLocation").val(FKM130.MaterialLocation);
                        $("#fKitLocation").val(FKM130.MaterialLocation ? FKM130.MaterialLocation.split('-')[0] : "");
                        $("#fSubLocation").val(FKM130.MaterialSubLocation);
                        $("#fReceivedQty").val(FKM130.Qty);
                        $("#lblfQuantity").html(FKM130.Qty);
                        $("#fId").val(FKM130.Id);
                        $('#tblFixture').show();
                    } else {
                        $('#tblFixture').hide();
                    }
                    if (res.data.AvlFKM > 0 && isRoleFKM3 && res.data.lstReadyForSentToKit.length > 0) {
                        $('#tblFixtureIssued').show();
                        var htmlFixtureIssuedLines = "";
                        $.each(res.data.lstReadyForSentToKit, function (idx, item) {
                            htmlFixtureIssuedLines += '<tr>\
<td class="kitno hide">' + item.NodeKey + '</td>\
<td>' + item.NodeName + '</td>\
<td>' + item.DeleverTo + '</td>\
<td>' + item.RequiredQty + '</td>\
<td>' + res.data.AvlFKM + '</td>\
<td><input type="number" onchange="ValidateQuantity(this,' + res.data.AvlFKM + ')" class="form-control FixtureIssuedQty" /></td>\
<td><button type="button" class="btn btn-success" onclick="FixtureSendToKit(this,' + item.ToAcknowledgeId + ')">Sent To Kit</button></td>\
</tr>'
                        })
                        $('#tblFixtureIssued tbody').html(htmlFixtureIssuedLines);
                    } else {
                        $('#tblFixtureIssued').hide();
                    }

                    if (isRoleFKM3) {
                        FillAutoCompleteWithCallBack($("#txtfKitLocation"), listLocation, $("#fKitLocation"));
                        $("#txtfKitLocation,#fSubLocation,#fReceivedQty").removeAttr('readonly')
                        $('#txtfKitLocation,#fSubLocation,#btnfMaterialReceive').show();
                    } else {
                        $("#txtfKitLocation,#fSubLocation,#fReceivedQty").attr('readonly', 'readonly')
                    }
                    $('#pnlFixture').show(1000);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (data) { }
        });
    }

    function LoadKitByFindNo() {
        $('#pnlPlate,#pnlFixture,#pnlKit').hide();
        var formdata = new FormData();
        formdata.append("Project", $("#Project").val());
        formdata.append("FindNo", $("#FindNo").val());
        formdata.append("Shop", $("#Shop").val());

        $('#btnkMaterialReceive,#btnkSentToKit').hide();

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetFullkitStoreDetailsForKit",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (res.Key) {
                    var FKM130 = res.data.FKM130;
                    //DisplayNotiMessage("success", res.Value, "Success");
                    if (FKM130) {
                        $("#lblkProject").html(FKM130.Project);
                        $("#lblkKitName").html(FKM130.PosNo_FixNo);
                        $("#txtkKitLocation").val(FKM130.MaterialLocation);
                        $("#kKitLocation").val(FKM130.MaterialLocation ? FKM130.MaterialLocation.split('-')[0] : "");
                        $("#kSubLocation").val(FKM130.MaterialSubLocation);
                        $("#kReceivedQty").val(FKM130.Qty);
                        $("#lblkQuantity").html(FKM130.Qty);
                        $("#kId").val(FKM130.Id);
                        $('#tblKit').show();
                    } else {
                        $('#tblKit').hide();
                    }
                    if (res.data.AvlFKM > 0 && isRoleFKM3 && res.data.lstReadyForSentToKit.length > 0) {
                        $('#tblKitIssued').show();
                        var htmlKitIssuedLines = "";
                        $.each(res.data.lstReadyForSentToKit, function (idx, item) {
                            htmlKitIssuedLines += '<tr>\
<td class="kitno hide">' + item.NodeKey + '</td>\
<td>' + item.NodeName + '</td>\
<td>' + item.DeleverTo + '</td>\
<td>' + item.RequiredQty + '</td>\
<td>' + res.data.AvlFKM + '</td>\
<td><input type="number" onchange="ValidateQuantity(this,' + res.data.AvlFKM + ')" class="form-control KitIssuedQty" /></td>\
<td><button type="button" class="btn btn-success" onclick="KitSendToKit(this,' + item.ToAcknowledgeId + ')">Sent To Kit</button></td>\
</tr>'
                        })
                        $('#tblKitIssued tbody').html(htmlKitIssuedLines);
                    } else {
                        $('#tblKitIssued').hide();
                    }

                    if (isRoleFKM3) {
                        FillAutoCompleteWithCallBack($("#txtkKitLocation"), listLocation, $("#kKitLocation"));
                        $("#txtkKitLocation,#kSubLocation,#kReceivedQty").removeAttr('readonly')
                        $('#txtkKitLocation,#kSubLocation,#btnkMaterialReceive').show();
                    } else {
                        $("#txtkKitLocation,#kSubLocation,#kReceivedQty").attr('readonly', 'readonly')
                    }
                    $('#pnlKit').show(1000);
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                }
            },
            error: function (data) { }
        });
    }

    function FullkitStoreMaterialReceived() {
        if ($("#txtKitLocation").val() == null || $("#txtKitLocation").val() == undefined || $("#txtKitLocation").val() == "") {
            DisplayNotiMessage("error", "Location is required", "Error");

        } else {
            var formdata = new FormData();
            formdata.append("Id", $("#Id").val());
            formdata.append("ReceivedQty", $("#ReceivedQty").val());

            $.ajax({
                url: WebsiteURL + "/FKMS/MaintainFKMS/FullkitStoreMaterialReceived",
                type: "POST",
                data: formdata,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        if (InsertToInventory($("#Project").val(), $("#PCLNo").val(), $("#RevNo").val(), $("#FindNo").val(), "@clsImplementationEnum.StageType.ReceivedToFKMStore.GetStringValue()", "@clsImplementationEnum.MaterialType.PLT.GetStringValue()", "@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()", $("#KitLocation").val(), $("#SubLocation").val(), "@clsImplementationEnum.TransactionType.Received.GetStringValue()", "", $("#ReceivedQty").val(), null)) {
                            DisplayNotiMessage("success", "Material Received", "Success");
                        }
                        LoadPlateByPCLNo();
                    } else {
                        DisplayNotiMessage("error", res.Value, "Error");
                    }
                },
                error: function (data) { }
            });
        }
    }

    function FullkitStoreMaterialReceivedForFixture() {
        if ($("#txtfKitLocation").val() == null || $("#txtfKitLocation").val() == undefined || $("#txtfKitLocation").val() == "") {
            DisplayNotiMessage("error", "Location is required", "Error");

        } else {
            var formdata = new FormData();
            formdata.append("Id", $("#fId").val());
            formdata.append("ReceivedQty", $("#fReceivedQty").val());
            $.ajax({
                url: WebsiteURL + "/FKMS/MaintainFKMS/FullkitStoreMaterialReceived",
                type: "POST",
                data: formdata,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        if (InsertToInventory($("#Project").val(), "", "", $("#FixtureNo").val(), "@clsImplementationEnum.StageType.ReceivedToFKMStore.GetStringValue()", "@clsImplementationEnum.MaterialType.FXR.GetStringValue()", "@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()", $("#fKitLocation").val(), $("#fSubLocation").val(), "@clsImplementationEnum.TransactionType.Received.GetStringValue()", "", $("#fReceivedQty").val(), null)) {
                            DisplayNotiMessage("success", "Material Received", "Success");
                        }
                        LoadPlateByPCLNo();
                    } else {
                        DisplayNotiMessage("error", res.Value, "Error");
                    }
                },
                error: function (data) { }
            });
        }
    }

    function FullkitStoreMaterialReceivedForKit() {
        if ($("#txtkKitLocation").val() == null || $("#txtkKitLocation").val() == undefined || $("#txtkKitLocation").val() == "") {
            DisplayNotiMessage("error", "Location is required", "Error");

        } else {
            var formdata = new FormData();
            formdata.append("Id", $("#kId").val());
            formdata.append("ReceivedQty", $("#kReceivedQty").val());
            $.ajax({
                url: WebsiteURL + "/FKMS/MaintainFKMS/FullkitStoreMaterialReceived",
                type: "POST",
                data: formdata,
                contentType: false,
                processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Key) {
                        if (InsertToInventory($("#Project").val(), "", "", $("#FindNo").val(), "@clsImplementationEnum.StageType.ReceivedToFKMStore.GetStringValue()", "@clsImplementationEnum.MaterialType.KIT.GetStringValue()", "@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()", $("#kKitLocation").val(), $("#kSubLocation").val(), "@clsImplementationEnum.TransactionType.Received.GetStringValue()", "", $("#kReceivedQty").val(), null, $('#Shop').val())) {
                            DisplayNotiMessage("success", "Material Received", "Success");
                        }
                        LoadPlateByPCLNo();
                    } else {
                        DisplayNotiMessage("error", res.Value, "Error");
                    }
                },
                error: function (data) { }
            });
        }
    }
    function PlateSendToKit(elem, ToAcknowledgeId) {
        var tr = $(elem).closest('tr');
        var kitno = tr.find('.kitno').html(), qty = tr.find('.PlateIssuedQty').val();
        if (InsertToInventory($("#Project").val(), $("#PCLNo").val(), $("#RevNo").val(), $("#FindNo").val(), "@clsImplementationEnum.StageType.SentToKitUser.GetStringValue()", "@clsImplementationEnum.NodeTypes.PLT.GetStringValue()", "@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()", "", "", "@clsImplementationEnum.TransactionType.Issued.GetStringValue()", "", qty, kitno, null, ToAcknowledgeId)) {
            DisplayNotiMessage("success", "Sent To Kit User", "Success");
        }
        LoadPlateByPCLNo();
    }

    function FixtureSendToKit(elem, ToAcknowledgeId) {
        var tr = $(elem).closest('tr');
        var kitno = tr.find('.kitno').html(), qty = tr.find('.FixtureIssuedQty').val();
        if (InsertToInventory($("#Project").val(), "", "", $("#FixtureNo").val(), "@clsImplementationEnum.StageType.SentToKitUser.GetStringValue()", "@clsImplementationEnum.MaterialType.FXR.GetStringValue()", "@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()", "", "", "@clsImplementationEnum.TransactionType.Issued.GetStringValue()", "", qty, kitno, null, ToAcknowledgeId)) {
            DisplayNotiMessage("success", "Sent To Kit User", "Success");
        }
        LoadPlateByPCLNo();
    }

    function KitSendToKit(elem, ToAcknowledgeId) {
        var tr = $(elem).closest('tr');
        var kitno = tr.find('.kitno').html(), qty = tr.find('.KitIssuedQty').val();
        if (InsertToInventory($("#Project").val(), "", "", $("#FindNo").val(), "@clsImplementationEnum.StageType.SentToKitUser.GetStringValue()", "@clsImplementationEnum.MaterialType.KIT.GetStringValue()", "@clsImplementationEnum.MaterialOwner.FKS.GetStringValue()", "", "", "@clsImplementationEnum.TransactionType.Issued.GetStringValue()", "", qty, kitno, $('#Shop').val(), ToAcknowledgeId)) {
            DisplayNotiMessage("success", "Sent To Kit User", "Success");
        }
        LoadPlateByPCLNo();
    }

    function changeQR(type) {
        if ($("#pnlPlate").is(":visible")) {
            $('#pnlPlate').hide();
        }
        if ($("#pnlFixture").is(":visible")) {
            $('#pnlFixture').hide();
        }
        if ($("#pnlKit").is(":visible")) {
            $('#pnlKit').hide();
        }
        $('#PCLNo,#FindNo,#FixtureNo,#Project,#Shop,#txtQRCode').val('');
        $('#PCLNo,#Project,#FindNo,#FixtureNo,#Shop').parent().hide();
        if (type == "@clsImplementationEnum.MaterialType.PLT.GetStringValue()") {
            $("#txtQRCode").attr('placeholder', QRCodePattern.PLT)
            $('#PCLNo,#FindNo,#Project').parent().show();
        }
        else if (type == "@clsImplementationEnum.MaterialType.FXR.GetStringValue()") {
            $("#txtQRCode").attr('placeholder', QRCodePattern.FXR)
            $('#FixtureNo,#Project').parent().show();
        } else if (type == "@clsImplementationEnum.MaterialType.KIT.GetStringValue()") {
            $("#txtQRCode").attr('placeholder', QRCodePattern.KIT)
            $('#Project,#FindNo,#Shop').parent().show();
        }

    }

    function ValidateQuantity(elem, Qty) {
        if (+$(elem).val() > +Qty) {
            bootbox.dialog({
                title: 'Warning',
                message: 'Quantity can not be greater then Available Quantity!',
                buttons: {
                    No: {
                        Label: "Close",
                        className: 'btn btn-warning',
                        callback: function () { $(elem).val(""); }
                    },
                }
            });
        }
    }
</script>