﻿<style>
    .martop7 {
        margin-top: 7px;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCopy" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="">Source Quality Project<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="sourceCopyProject" value="@ViewBag.CopyProject" disabled name="sourceCopyProject" class="form-control col-md-4" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="">Destination Project<span class="required"> * </span></label>
                        <div class="">
                            <input type="text" id="destCopyProject" value="" name="destCopyProject" class="form-control col-md-4" />
                            @Html.Hidden("ddlDestCopyProject")
                            @Html.Hidden("ddlzeroDate")
                            @Html.Hidden("ddlcdd")
                            @Html.Hidden("ddlcustomer")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dynamicgeneratecopy">
        <div class="form-group hidden">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="">
                                <label class="SourceNode"></label>
                                <input type="hidden" name="SourceNode" class="form-control col-md-4" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <input type="text" name="DestinationNode" class="form-control col-md-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script>

    var FieldCount = 0;

    $(document).ready(function () {
        FillCopyProject($("#destCopyProject"), $("#ddlDestCopyProject"));

        $('#frmCopy').validate({
            rules: {
                destCopyProject: {
                    required: true,
                }
            },
            messages: {
                destCopyProject: {
                    required: "Please select destination project"
                },
            }
        });
    });

    function FillCopyProject(element, hdElement) {
        $(element).autocomplete({
            source: function (request, response) {
                $.ajax({
                    //url: WebsiteURL + "/Utility/General/GetProjectResult",
                    url: WebsiteURL + "/FKMS/MaintainFKMS/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectCode };
                        }));
                        if (data.length > 0) {
                            isSelectedProject = true;
                        }
                        else {
                            isSelectedProject = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    $(element).val(ui.item.value);
                    $(hdElement).val(ui.item.value);
                    isSelectedProject = true;
                    var isValid = checkCopyProject(ui.item.value);
                    if (isValid) {
                        getProjectsDetails(ui.item.value);
                    }
                }
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    $(this).val('');
                    $(hdElement).val('');
                    $(this).focus();
                }
            }
        }).focus(function () {
            $(this).autocomplete('search', $(this).val())
        });
    }

    function checkCopyProject(project) {
        var isValid;
        $.ajax({
            url: WebsiteURL + '/FKMS/MaintainFKMS/CopyFilterProject',
            data: { project: project },
            type: 'POST',
            async: false,
            success: function (data) {
                if (data.Key) {
                    isValid = true;
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    isValid = false;
                    ClearControls();
                }
            }
        });
        return isValid;
    }

    function getProjectsDetails(project) {
        var SourceProject = $("#sourceCopyProject").val();
        $.ajax({
            url: WebsiteURL + '/FKMS/MaintainFKMS/GetProjectDetails',
            data: { project: project, sourceProject: SourceProject, IsCopy: false },
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#dynamicgeneratecopy").empty();
                    $.each(data.sourceProjectDetails, function (index, value) {
                        FieldCount++;
                        formNode(FieldCount, value.nodeName, value.nodeId, value.IsPlannerStructure);
                        selectsection(data.destiProjectDetails, 'sectionbox_'+ FieldCount)
                    });
                    $("#ddlcustomer").val(data.Customer);
                    $("#ddlzeroDate").val(data.ZeroDate);
                    $("#ddlcdd").val(data.CDD);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                    ClearControls();
                }
            }
        });
    }

    function selectsection(customers, mainid) {
        $.each(customers, function (i, option) {
            $("." + mainid).append($('<option/>').attr("value", option.nodeFindno).text(option.nodeName));
        });
    }

    function formNode(Field, sourceName, sourceNodeId, IsPlannerStructure) {
        var htmldivs = '<div class="form-group">' +
            '<div class="col-md-12">' +
            '<div class="form-group">' +
            '<div class="col-md-12 copydata">' +
            '<div class="col-md-6">' +
            '<div class="">' +
            '<strong class="SourceNode">' + sourceName + '</strong>' +
            '<input type="hidden" name="SourceNode" value="' + sourceName + '" class="form-control col-md-4">' +
            '<input type="hidden" name="sourceNodeId" value="' + sourceNodeId + '" class="form-control col-md-4 sourceNodeId">' +
            '</div>' +
            '</div>' +
            '<div class="name col-md-6" id="InputsWrapper_01">' +
            '<div class="">' +
            '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input destiFindNo sectionbox_' + Field + '" >' +
            '<option value="0">---Select---</option>'+
            (IsPlannerStructure != false ? '' : '<option value="00">Do Not Copy</option>')
          //'<option value="0" disabled>Do Not Copy</option>' +
            '</select>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';
        $("#dynamicgeneratecopy").append(htmldivs)
    }


</script>
