﻿@using IEMQS.Areas.FKMS.Controllers
@using IEMQSImplementation
@model SingleWindowPartDetails
<style>
    #tblPartsNew td, th {
        text-align: center;
    }

    /*#tblPartsNew > tbody > tr > td, #tblPartsNew > thead > tr > th {
        border: 1px solid gray !important;
    }*/
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Part Details - @Model.FindNo
                </div>
                <div class="tools" id="dvExportPart">
                    <input type="hidden" class="txtStrWhere">
                    <input type="hidden" class="txtStrSort">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
            <div class="portlet-body table-responsive">                
                <table class="table table-bordered table-striped table-responsive" id="tblPartsNew" cellspacing="0" width="100%">
                    <thead>
                        <tr style="background-color:lightgray">
                            <th style="vertical-align:middle">Item</th>
                            <th style="vertical-align:middle">POS. No.</th>
                            <th style="vertical-align:middle">Item ID / Assembly ID</th>
                            <th style="vertical-align:middle">BOM Qty</th>
                            <th style="vertical-align:middle" colspan="4">Status</th>
                            <th style="vertical-align:middle">Type <br />BUY / MAKE<br /> (SCR/PPO/Production Order)</th>
                            <th  style="vertical-align:middle"colspan="4">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">@Model.NodeName</td>
                            <td rowspan="2">@Model.FindNo</td>
                            <td rowspan="2">@Model.NodeKey</td>
                            <td rowspan="2">@Model.BOMQty</td>
                            <td style="font-weight:bold;">PPO</td>
                            <td style="font-weight:bold;">PO</td>
                            <td style="font-weight:bold;">Material Receipt</td>
                            <td style="font-weight:bold;">IMR Cleared Qty</td>
                            <td rowspan="2">
                                @if (Model.ProductType == @clsImplementationEnum.NodeTypes.CMP.GetStringValue())
                                {
                                    <span>Make</span>
                                }
                                else
                                {
                                    <span>Buy</span>
                                }
                            </td>
                            <td style="font-weight:bold;">Allocated Qty</td>
                            <td style="font-weight:bold;">Material Request</td>
                            <td style="font-weight:bold;">Material Location</td>
                            <td style="font-weight:bold;">Material Issued</td>
                        </tr>
                        <tr>
                            <td>
                                @Model.PPONumber <br />
                                @if (!string.IsNullOrWhiteSpace(Model.PPONumber))
                                {
                                    @Model.PPOQty <span>QTY</span>
                                }
                            </td>
                            <td>
                                @Model.PONumber <br />
                                @if (!string.IsNullOrWhiteSpace(Model.PONumber))
                                {
                                    @Model.POOrderQty <span>QTY</span>
                                }
                            </td>
                            <td>@Model.MaterialReceipt</td>
                            <td>@Model.IMRClearedQty <span>QTY</span></td>
                            <td>@Model.AllocatedQty <span> QTY</span></td>
                            <td>@Model.MaterialRequest</td>
                            <td>@Model.MaterialLocation</td>
                            <td>@Html.Raw(Model.MaterialIssued)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hfIMRClearedQty" value="@Model.IMRClearedQty" />