﻿<style>
    .modal-dialog {
        width: 100%!important;
    }
    .wid100 {
        width: 100px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Part Material Tracking
                </div>
                <div class="tools" id="dvExportHeader2">
                    <input type="hidden" class="txtHeaderId" value="@ViewBag.HeaderId">
                    <input type="hidden" class="txtNodeid" value="@ViewBag.Nodeid">
                    <input type="hidden" class="txtStrWhere">
                    <input type="hidden" class="txtStrSort">
                    @*@Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/CJC/MaintainMaster/GenerateExcel2", GridType = "", dvId = "#dvExportHeader2" })*@
                    <div class="btn-group">
                        <a onclick="ExportToExcel();" class="btn btn-circle white btn-outline btn-sm">
                            <i class="fa fa-file-excel-o"></i> Export
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="tblParts123" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Element</th>
                            <th>Element Desc</th>
                            <th>Part No</th>
                            <th>Item ID</th>
                            <th>Item Desc</th>
                            <th>Comp Type</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>PCR No</th>
                            <th>PCL No</th>
                            <th>Nested Qty</th>
                            <th>Status</th>
                            <th>Planner Status</th>
                            <th>Outbound Key</th>
                            <th>Outbound Qty</th>
                            <th>PO Order Qty</th>
                            <th>PO Balance</th>
                            <th>Qty to be received</th>
                            <th>Under Inspection</th>
                            <th>Cleared Inventory</th>
                            <th>Issued Qty</th>
                            <th>Qty with Buyer</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var UtilityParams2 = undefined;
    $(document).ready(function () {
        UtilityParams2 = {
            sUrl: '@(ViewBag.IsFromCOP == true? "/COP/MaintainSpoolFabrication/": "/FKMS/MaintainFKMS/")LoadPartMaterialTracking',
            aServerParams: [{ "name": "Headerid", "value": '@ViewBag.HeaderId'},{"name": "Nodeid", "value": '@ViewBag.Nodeid' }],
            iScrollY: 480,
            iResponsiveOnWindowWidth: 800,
            bIsIgnoreHiddenColumns: false,
            bIsLazyLoading: false,
            bIsResponsive: false,
            bIsSearchFilter: true,
            bBtnMaximize: true,
            bIsWrapHeader: false,
            bIsWrap: false,
            iFCLeft: 5,
            //iFCRight: 1,
            //sBtnDivSelector: "#dvExportHeader2",
            aoColumns: [
                { "sClass": "center wid100", "name": "Element" },
                { "sClass": "center wid100", "name": "ElementDesc" },
                { "sClass": "center wid100", "name": "PartNo" },
                { "sClass": "center wid100", "name": "ItemID" },
                { "sClass": "center", "name": "ItemDesc" },
                { "sClass": "center", "name": "CompType" },
                { "sClass": "center", "name": "Quantity" },
                { "sClass": "center", "name": "Unit" },
                { "sClass": "center", "name": "PCRNo" },
                { "sClass": "center", "name": "PCLNo" },
                { "sClass": "center", "name": "NestedQty" },
                { "sClass": "center", "name": "Status" },
                { "sClass": "center", "name": "PlannerStatus" },
                { "sClass": "center", "name": "OutboundKey" },
                { "sClass": "center", "name": "OutboundQty" },
                { "sClass": "center", "name": "POOrderQty" },
                { "sClass": "center", "name": "POBalance" },
                { "sClass": "center", "name": "Qtytobereceived" },
                { "sClass": "center", "name": "UnderInspection" },
                { "sClass": "center", "name": "ClearedInventory" },
                { "sClass": "center", "name": "IssuedQty" },
                { "sClass": "center", "name": "PPOQtyBuyr" }
            ]
        };
        setTimeout(function () { $('#tblParts123').dtUtility(UtilityParams2); }, 100);
    });

    function ExportToExcel() {

        var url = "/FKMS/MaintainFKMS/GenerateExcel2";
        var WC = $(".txtStrWhere", $("#dvExportHeader2")).val();
        var SC = $(".txtStrSort", $("#dvExportHeader2")).val();
        var HId = $(".txtHeaderId", $("#dvExportHeader2")).val();
        var NId = $(".txtNodeid", $("#dvExportHeader2")).val();

        $.ajax({
            type: "POST",
            url: WebsiteURL + url,
            datatype: 'json',
            async: false,
            data: { whereCondition: WC, strSortOrder: SC, HeaderId: HId, NodeId: NId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    window.location = WebsiteURL + '/Utility/General/Download?file=' + result.Value;
                    DisplayNotiMessage("success", "Excel Generated Successfully", "Success");
                }
                else {
                    DisplayNotiMessage("error", result.Value, "Error");
                }
            },
            error: function () {
            }
        });
    }

</script>
