﻿@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    .dataTables_processing {
        z-index: 1;
        padding-top: 8px !important;
        margin-top: -5px !important;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    <span id="spanLabel">@Html.Raw((String)ViewBag.Title)</span>
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active" id="liPending">
                            <a href="#portlet_comments_1" name="tabFKMS" id="tabFKMS" spara="FKMS" data-toggle="tab" onclick="LoadPageQRCodeScan('_FKMSQRCodeScan');">Receive Kit Item / Send Kit</a>
                        </li>
                        <li id="liAll">
                            <a href="#portlet_comments_1" name="tabFR" id="tabFR" spara="FR" data-toggle="tab" onclick="LoadPageQRCodeScan('_FRQRCodeScan')">Fixture Transaction</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabPlate" id="tabPlate" spara="Plate" data-toggle="tab" onclick="LoadPageQRCodeScan('_PCLQRCodeScan')" hidden>Plate Mark & Send & Print QR</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabPlateRequest" id="tabPlateRequest" spara="PlateRequest" data-toggle="tab" onclick="LoadPageQRCodeScan('_PCLQRCodeScan')" hidden>Confirm Plate Cutting Request</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabPCR" id="tabPCR" spara="PCR" data-toggle="tab" onclick="LoadPageQRCodeScan('_PCRQRCodeScan')" hidden>PCR Lines For PCL</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabReceiveAutomation" id="tabReceiveAutomation" spara="ReceiveAutomation" data-toggle="tab" onclick="LoadPageQRCodeScan('_PCLStockQRCodeScan')" hidden>Receive Return Balance Plate</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabFullkitStore" id="tabFullkitStore" spara="FullkitStore" data-toggle="tab" onclick="LoadPageQRCodeScan('_FullkitStoreQRCodeScan')" hidden>Fullkit Transaction</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabItemReceipt" id="tabItemReceipt" spara="ItemReceipt" data-toggle="tab" onclick="LoadPageQRCodeScan('_ItemReceiptQRCodeScan')" hidden>Item Receipt</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabPlatetransfer" id="tabPlatetransfer" spara="Platetransfer" data-toggle="tab" onclick="LoadPageQRCodeScan('_PlateTransferQRCodeScan')" hidden>Plate Transfer</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabMainStore" id="tabMainStore" spara="MainStore" data-toggle="tab" onclick="LoadPageQRCodeScan('_MainStoreQRCodeScan')" hidden>Release Outbound</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabPlatereturn" id="tabPlatereturn" spara="Platereturn" data-toggle="tab" onclick="LoadPageQRCodeScan('_PlateReturnQRCodeScan')" hidden>Return Balance Plate</a>
                        </li>
                        <li>
                            <a href="#portlet_comments_1" name="tabPlateReceive" id="tabPlateReceive" spara="PlateReceive" data-toggle="tab" onclick="LoadPageQRCodeScan('_PlateReceiveQRCodeScan')" style="display:none">Plate Receive</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="portlet_comments_1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script>
    var isRoleQC = @(ViewBag.isRoleQC? "true": "false");
    var isRoleShop = @(ViewBag.isRoleShop? "true": "false");
    var isRoleStore = @(ViewBag.isRoleStore? "true": "false");
    var isRoleFKM3 = @(ViewBag.isRoleFKM3? "true": "false");
    var isRoleFMG = @(ViewBag.isRoleFMG3 ? "true": "false");
    var lstFkmAll = [];
    $('#tabPlate,#tabPCR,#tabReceiveAutomation,#tabFullkitStore,#tabItemReceipt,#tabPlatetransfer,#tabMainStore,#tabPlatereturn,#tabPlateReceive').hide();
    var QRCodePattern = { PLT: "Qn~PCLNumber~RevNo~Project~FindNo", NPLT: 'Qn~ReceiptNo~~ReceiptLineNo', FXR: 'Project~FixtureName', KIT: 'Project~Shop~FindNo~NodeName', QNPCL: "Qn~PCLNumber", QNPCLREV: "Q1~PCLNumber~RevNo"};
    $(document).ready(function () {
        if(isRoleShop)
            $('#tabPlate,#tabItemReceipt,#tabPlatereturn,#tabPlateReceive').show();
        if(isRoleQC)
            $('#tabPlate,#tabPlateRequest,#tabPCR').show();
        if(isRoleStore)
            $('#tabMainStore,#tabReceiveAutomation,#tabPlatetransfer').show();
        if(isRoleFKM3)
            $('#tabFullkitStore').show();
        if(isRoleFMG)
            $('#tabFR').show();
    });

    function LoadPageQRCodeScan(page) {
        $("#portlet_comments_1").html("");
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/" + page,
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { },
            success: function (result) {
                $("#portlet_comments_1").html(result);
                $('#txtQRCode').parent().append('<button type="button" class="btn" onclick="OpenQRCodeScanner()" style="margin-top: -34px; float: right;"><i class="fa fa-qrcode"></i> <a>')
            },
            error: function () {
            }
        });
    }
    var windowQRCodeScan = null;
    function OpenQRCodeScanner() {
        windowQRCodeScan = window.open(WebsiteURL + "/FKMS/MaintainFKMS/OpenQRScanner", "QR Code Scan", "");
        var intervalScaning = setInterval(function () {
            var result = windowQRCodeScan.document.getElementById('result').innerHTML;
            if(result)
            {
                clearInterval(intervalScaning);
                $('#txtQRCode').val(result);
                $('#txtQRCode').trigger('change');
                windowQRCodeScan.close();
            }
        },1000);
    }

    function InsertToInventory(Project,PCLNumber,PCLRevision,FindNo,Stage,MaterialType,MaterialOwner,MaterialLocation,MaterialSubLocation,TransactionType,ReceivedfromInKit,Qty,KitNo,Department,ToAcknowledgeId) {
        debugger
        var isSuccess = false;
        var formdata = new FormData();
        formdata.append("Project", Project);
        formdata.append("PCLNumber", PCLNumber);
        formdata.append("PCLRevision", PCLRevision);
        formdata.append("FindNo",FindNo);
        formdata.append("Stage",Stage);
        formdata.append("MaterialType", MaterialType);
        formdata.append("MaterialOwner", MaterialOwner);
        formdata.append("MaterialLocation", MaterialLocation);
        formdata.append("MaterialSubLocation", MaterialSubLocation);
        formdata.append("TransactionType", TransactionType);
        formdata.append("ReceivedfromInKit", ReceivedfromInKit);
        formdata.append("Qty", Qty);
        formdata.append("KitNo", (KitNo? KitNo: ""));
        formdata.append("Department", (Department? Department: ""));
        formdata.append("ToAcknowledgeId", (ToAcknowledgeId? ToAcknowledgeId: 0));

        $.ajax({
            url: WebsiteURL + "/FKMS/MaintainFKMS/InsertToInventory",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (res) {
                if (!res.Status)
                    DisplayNotiMessage("error", res.Message, "Unable to Insert to Inventory");
                else
                    isSuccess = true;
            },
            error: function (data) { }
        });
        return isSuccess;
    }
    
    function GetFKMFn(selectType, table, condition) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/FKMS/MaintainFKMS/GetFKMConditional",
            datatype: 'json',
            async: false,
            data: { selectType: selectType, table: table, condition: condition },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                var dupes = [];
                lstFkmAll = [];
                if (data) {
                    if (selectType == "Project") {
                        $.each(data, function (index, entry) {
                            if (!dupes[entry.Project]) {
                                dupes[entry.Project] = true;
                                lstFkmAll.push(entry);
                            }
                        });
                    } else if (selectType == "FindNo") {
                        if (table == "FKM130") {
                            $.each(data, function (index, entry) {
                                if (!dupes[entry.PosNo_FixNo]) {
                                    dupes[entry.PosNo_FixNo] = true;
                                    lstFkmAll.push(entry);
                                }
                            });
                        } else {
                            $.each(data, function (index, entry) {
                                if (!dupes[entry.FindNo]) {
                                    dupes[entry.FindNo] = true;
                                    lstFkmAll.push(entry);
                                }
                            });
                        }
                    }
                    else if (selectType == "Itemcode") {
                        $.each(data, function (index, entry) {
                            if (!dupes[entry.ItemId]) {
                                dupes[entry.ItemId] = true;
                                lstFkmAll.push(entry);
                            }
                        });
                    }
                    else if (selectType == "Shop") {
                        $.each(data, function (index, entry) {
                            if (!dupes[entry.DeleverTo]) {
                                dupes[entry.DeleverTo] = true;
                                lstFkmAll.push(entry);
                            }
                        });
                    }
                }
            },
            error: function () {
            }
        });
    }
</script>