﻿<style>
    .modal-lg{
        width:99%;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6" style="margin-top:30px;padding-right:0px;">
            <div class="portlet box green" style="margin-bottom:0px;">
                <div class="portlet-title">
                    <div class="caption">Planners-Activity Structure</div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body" style="height:550px; overflow:auto;">
                    <div class="input-icon right" style="margin-bottom:5px;">
                        <i id="Ptreemagnifier" class="icon-magnifier" style="top: -3px;"></i>
                        <i id="PtreecloseIcon" class="fa fa-close hidden" style="cursor:pointer;top: -3px;"></i>
                        <input type="text" id="PsearchNode" name="PsearchNode" onkeyup="ModelSearchNode('PsearchNode', 'Plannertree', 'Desinertree')" class="form-control input-circle valid searchPad" placeholder="search..." aria-invalid="false">
                    </div>
                    <div id="Plannertree" class="tree-demo"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:30px;padding-left:0px;">
            <div class="portlet box green" style="margin-bottom:0px;">
                <div class="portlet-title">
                    <div class="caption">Designer-H-BOM</div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body" style="height:550px; overflow:auto;">
                    <div class="input-icon right" style="margin-bottom:5px;">
                        <i id="Dtreemagnifier" class="icon-magnifier" style="top: -3px;"></i>
                        <i id="DtreecloseIcon" class="fa fa-close hidden" style="cursor:pointer;top: -3px;"></i>
                        <input type="text" id="DsearchNode" name="DsearchNode" onkeyup="ModelSearchNode('DsearchNode', 'Desinertree', 'Plannertree')" class="form-control input-circle valid searchPad" placeholder="search..." aria-invalid="false">
                    </div>
                    <div id="Desinertree" class="tree-demo"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/assets/global/plugins/jstree/dist/jstree.min.js"></script>
<script>

    $(document).ready(function () {
        LoadPlannerTreeView();

        $("#DsearchNode").on("keyup", function () {
            debugger
            $("#Dtreemagnifier").addClass('hidden');
            $("#DtreecloseIcon").removeClass('hidden');
            if (this.value.length <= 0) {
                $("#DtreecloseIcon").addClass('hidden');
                $("#Dtreemagnifier").removeClass('hidden');
            }
        });

        $("#DtreecloseIcon").on("click", function () {
            $("#DtreecloseIcon").addClass('hidden');
            $("#Dtreemagnifier").removeClass('hidden');
            $("#DsearchNode").val('');
            $('#Desinertree').jstree(true).search('');
            $('#Plannertree').jstree(true).search('');
        });
    });

    function LoadPlannerTreeView() {
        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/GetComparePlannerDesignerTree",
            type: "POST",
            datatype: 'json',
            data: { HeaderId: $("#HeaderId").val() },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                maintree = data.PlannerData;
                hbomtree = data.DesignerData;
                //console.log(data.PlannerData);
                //console.log(data.DesignerData);

                $("#Plannertree").jstree({
                    "core": {
                        "themes": {
                            "responsive": false
                        },
                        // so that create works
                        "check_callback": false,
                        'data': data.PlannerData
                    },
                    "types": {
                        "default": {
                            "icon": "fa fa-folder icon-state-success icon-lg"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-success icon-lg"
                        }
                    },
                    "plugins": ["types", "search"],                    
                });

                $("#Desinertree").jstree({
                    "core": {
                        "themes": {
                            "responsive": false
                        },
                        // so that create works
                        "check_callback": false,
                        'data': data.DesignerData
                    },
                    "types": {
                        "default": {
                            "icon": "fa fa-folder icon-state-success icon-lg"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-success icon-lg"
                        }
                    },
                    "plugins": ["types", "search"],                    
                });

                $("#Plannertree").on('click', " li a", function () {
                    var nodeiddtl = $(this).attr('id');
                    var nodeid = nodeiddtl.split("#")[0];

                    $.ajax({
                        type: "POST",
                        url: WebsiteURL + "/ESP/MaintainESP/GetMergeTreeViewPartial",
                        datatype: 'html',
                        beforeSend: function () {
                            showLoading(true);
                        },
                        complete: function () {
                            showLoading(false);
                        },
                        data: { NodeId: nodeid },
                        success: function (result) {
                            debugger
                            bootbox.dialog({
                                title: '',
                                message: result,
                                size: 'large',
                                buttons: {
                                    'cancel': {
                                        label: 'Close',
                                        className: 'btn btnclose'
                                    }
                                }
                            });
                        },
                        error: function () {
                        }
                    });
                });
            },
            error: function () {
            }
        });
    }

</script>
