﻿@using IEMQSImplementation

<style type="text/css">
    #myDiagramDiv {
        background: #efefef;
        /*min-height: 69vh !important;*/
    }

    #myOverviewDiv {
        position: relative;
        width: 200px;
        height: 100px;
        /*top: 72px;*/
        float: right;
        right: 40px;
        background-color: #fcffff;
        z-index: 300;
        border: solid #428bca;
    }

    #myviewDiv {
        position: absolute;
        right: 65px;
        /* background-color: #fcffff; */
        z-index: 300;
        bottom: 37px;
        /* border: solid #c20fef; */
    }

    .activebutton {
        background-color: #32c5d2;
        border-color: #32c5d2;
        color: #FFF;
    }

    .impRow {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .smalldesc {
        height: 0px;
        overflow: hidden;
    }

    .bigdesc {
        height: auto;
    }

    .no-margin {
        margin: 0;
        margin-top: -8px;
    }

    .leaflet-container {
        z-index: 300;
    }

    div.tooltip {
        visibility: visible;
    }

    .select2-container {
        width: 200px !important;
    }
</style>

<a id="btnShowAttach" title="Show/Hide Sketch" class="btn btn-primary" style="position: absolute;z-index: 100;box-shadow: 0 0 black;"><i class="fa fa-image"></i></a>
<a id="btnShowTree" title="Show/Hide Work Breakdown Structure" class="btn btn-warning" style="position: absolute; right: 16px; z-index: 100; box-shadow: black 0px 0px;"><i class="fa fa-folder"></i></a>
<table style="width: 100%;">
    <tr>
        <td style="width:293px;display:none"><div id="pnlAttachedImage" style="top: 0px;position: absolute; z-index: 300;border: solid #428bca;"></div></td>
        <td>
            <div id="dvkitdetail" style="">
               
                 @*<label id="ShowColorInfo2" class="btn btn-circle white btn-outline btn-sm" style="position: relative; top: 104px; z-index: 10104; right: 15px; float: right;" title="Color Legend">
                    &nbsp; &nbsp;
                    <i class="fa fa-circle" style="color:#ed6b75;position: absolute;font-size: 7.5px;top: 1px;right: 12px;"></i>
                    <i class="fa fa-circle" style="color:#f3a20f;position: absolute;font-size: 7.5px;top: 7px;right: 18px;"></i>
                    <i class="fa fa-circle" style="color:#f1f158;position: absolute;font-size: 7.5px;top: 7px;right: 5px;"></i>
                    <i class="fa fa-circle" style="color:#d28cd2;position: absolute;font-size: 7.5px;top: 15px;right: 15px;"></i>
                    <i class="fa fa-circle" style="color:#04ff04;position: absolute;font-size: 7.5px;top: 15px;right: 7px;"></i>
                </label>*@
               
                 <div class="form-body">
                    <div id="myOverviewDiv"></div>
                    <div class="md-checkbox label @(ViewBag.SunFact == true ? "label-success" : "label-danger")" style="position: absolute; left: 47%; z-index: 3;">
                        <input type="checkbox" class="md-check" name="SunFact" value="1" id="SunFact" @(ViewBag.SunFact == true ? "checked" : "")>
                        <label for="SunFact">
                            <span></span>
                            <span class="check" style="border-color: #ed6b75;top: 1px; left: 12px;"></span>
                            <span class="box" style="border-color: #36c6d3; top: 2px;left: 7px;"></span> Sunday Factor
                        </label>
                    </div>

                    <div id="myDiagramDiv" style="width: 100%;height: 80vh; border-bottom-color:#ffffff"></div>
                    @*<nav class="quick-nav quick-nav2" style="position: absolute; top: 100px; right: 18px;margin-top: unset;">
                        <ul class="colorindication">
                            <li class="fa-backcolor">
                                <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForESP.Red.GetStringValue()');">
                                    <span class="fontf" style="color:#000;">Allocation Not Done / All Item's Allocation Not Done / Material Not ready </span> <i class="fa fa-circle fa-danger"></i>
                                </a>
                            </li>
                            <li class="fa-backcolor">
                                <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForESP.Orange.GetStringValue()');">
                                    <span class="fontf" style="color:#000;">All Item's Allocation Done  /  Document/Fixture-Not Ready</span> <i class="fa fa-circle fa-orange"></i>
                                </a>
                            </li>
                            <li class="fa-backcolor">
                                <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForESP.Yellow.GetStringValue()');">
                                    <span class="fontf" style="color: #000;">Allocation Changed /Partial Item's Allocation Done /Request to be Re-generate </span> <i class="fa fa-circle fa-warning"></i>
                                </a>
                            </li>
                            <li class="fa-backcolor">
                                <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForESP.Violet.GetStringValue()');">
                                    <span class="fontf" style="color: #000;">Any Item's allocated quantity and required quantity is Mismatch / Task Manager is Mismatch </span> <i class="fa fa-circle fa-voilet"></i>
                                </a>
                            </li>
                            <li class="fa-backcolor">
                                <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForESP.Green.GetStringValue()');">
                                    <span class="fontf" style="color: #000;">Allocation Done / Kit released / Material Requested</span> <i class="fa fa-circle fa-success"></i>
                                </a>
                            </li>
                            <li class="fa-backcolor">
                                <a href="javascript:searchDiagramByColor('@clsImplementationEnum.ColorFlagForESP.Blue.GetStringValue()');">
                                    <span class="fontf" style="color: #000;">Ready For Parent</span> <i class="fa fa-circle fa-blue"></i>
                                </a>
                            </li>
                        </ul>
                        <span aria-hidden="true" class="quick-nav-bg"></span>
                    </nav>*@
                </div>
            </div>
        </td>
        <td style="width:293px;display:none" id="pnlTree"></td>
    </tr>
</table>



<!-- Modal -->
<div id="NodeDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Box Plot</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="NodeId" name="NodeId" />
                <table class="table" border="2">
                    <tr>
                        <td align="right">
                            <label for="ActualDur">Actual Duration</label>
                            <input type="number" class="form-control numeric" id="ActualDur" name="ActualDur">
                        </td>
                        <td style="background-color:lightgray">
                            <label for="ActualDate">Actual Date</label>
                            <input type="date" class="form-control" id="ActualDate" name="ActualDate">
                        </td>
                        <td>
                            <label for="DeleverTo">Shop</label>
                            <input class="form-control" id="txtDeleverTo" name="txtDeleverTo" />
                            <input type="hidden" id="DeleverTo" name="DeleverTo" />
                        </td>
                        <td>
                            <label for="FindNo"><a id="symbolUID" href="#">Θ</a> UID / Kit No.</label>
                            <a class="label label-info col-sm-12" id="FindNo" name="FindNo" href="#" style="font-size: x-large;"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="md-checkbox">
                                <input type="checkbox" class="md-check" name="CC" value="true" id="CC" onchange="$('#PlannedDate').closest('tr').css('background-color', this.checked? '#0cffff':'')">
                                <label for="CC">
                                    cc <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                            </div>
                        </td>
                        <td colspan="3" style="background-color:lightgray">
                            <label for="NodeName">Task Description</label>
                            <input class="form-control" id="NodeName" name="NodeName">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <label for="PlannedDur">Planned Duration</label>
                            <input type="number" class="form-control numeric" id="PlannedDur" name="PlannedDur">
                        </td>
                        <td>
                            <label for="PlannedDate">Planned Date</label>
                            <input type="date" class="form-control" id="PlannedDate" name="PlannedDate">
                        </td>
                        <td>
                            <label for="TaskManager">TM</label>
                            <select name="ddlTaskManager" id="ddlTaskManager" class="form-control"></select>
                            <input type="hidden" id="TaskManager" name="TaskManager" />
                        </td>
                        <td>
                            <label for="RCCP">RCCP</label>
                            <input type="number" class="form-control numeric" id="RCCP" name="RCCP">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="right">
                            <label for="CumuDur">Cum Duration</label>
                            <input type="number" class="form-control numeric" readonly="readonly" id="CumuDur" name="CumuDur">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveESPModelData">Save as Draft</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="KitDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 100%; margin: 0 auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kit Details</h4>
            </div>
            <div class="modal-body">
                <table class="table" border="2">
                    <tr>
                        <td id="tdKitSummary" rowspan="2" class="col-xs-6"></td>
                        <td id="tdDocumentList" class="col-xs-6"></td>
                    </tr>
                    <tr>
                        <td id="tdFixtureList"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    var IsDisplayOnly = @(ViewBag.IsDisplayOnly? "true":"false");
    var nodeid;
    var FileCount = 0;
    var lastSelectedNodeKey = undefined;
    var headerId = $("#HeaderId").val();

    var myDiagram_layout_prop = undefined;
    var myPalette = undefined;
    var isEditable = !IsDisplayOnly;
    var GoJs = undefined;
    var CurrentFindNo = 10000;
    var isSelectedProject = false;
    var DiagramState = @Html.Raw(ViewBag.DiagramState);
    var lstNodeLevel  = {};
    $.each(@Html.Raw(Json.Encode(ViewBag.NodeLevel)),function (idx,item) {
        lstNodeLevel[item.Id] = {NodeType: item.NodeType, NodeLevel: item.NodeLevel};
        lstNodeLevel["L"+item.NodeLevel] = {Id: item.Id, NodeType: item.NodeType, NodeLevel: item.NodeLevel};
    });

    var lstESPLine = {};
    var lstDiagramdata = undefined;
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.menu-toggler.sidebar-toggler').click(function () { myDiagram.requestUpdate(); });
        GoJs = go.GraphObject.make;
        setTimeout(init, 2000)
        // $('#ShowColorInfo2,.colorindication').click(function(){ $('.quick-nav2').toggleClass('nav-is-visible'); });

        $('#btnShowAttach').click(function () {
            if ($(this).hasClass('activebutton')) {
                $(this).removeClass('activebutton');
                $("#image2").remove();
                $("#image2").imgNotes2("destroy");
                $('#pnlAttachedImage').parent().hide(1000);
                $(this).css('left','unset');
                setTimeout(function () {
                    myDiagram.requestUpdate();
                },1000)
            } else {
                $(this).addClass('activebutton');
                $(this).css("left","314px");
                $('#pnlAttachedImage').parent().show(1000);
                $('#pnlAttachedImage').html('<img id="image2" style="position:relative;width:293px;height:79vh;opacity:0" src="'+WebsiteURL+'/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=ESP101/'+$('#HeaderId').val()+'/'+$('#txtRevNo').val()+'" class="img-responsive" alt="" />');
                // load image view
                $.widget("wgm.imgNotes2", $.wgm.imgViewer2, {});
                var $img = $("#image2");
                $img.imgNotes2({
                    onReady: function(elem) {
                        var ds = this.bounds;
                        ds._northEast.lat -= 10;
                        ds._northEast.lng -= 10;
                        setTimeout(function () {
                            $(window).resize();
                            myDiagram.requestUpdate();
                        },100);
                    }
                });
            }
        });

        $('#btnShowTree').click(function () {
            if ($(this).hasClass('activebutton')) {
                $(this).removeClass('activebutton');
                $('#pnlTree').hide(1000)
                $('#divMtree').css({ "height": "" });
                $('#pnlHBOM').css({ "width":"", "position":"", "top":"", "right":""});
                $(this).css('right','16px');
                $('.quick-nav2').css('right','15px');
                setTimeout(function () {
                    $(window).resize();
                    myDiagram.requestUpdate();
                },1000);
            } else {
                $(this).addClass('activebutton');
                $(this).css("right","309px");
                $('#divMtree').css({ "height": "75vh" });
                $('#pnlTree').show(1000)
                $('.quick-nav2').css('right','309px');
                setTimeout(function () {
                    $(window).resize();
                    myDiagram.requestUpdate();
                    $('#pnlHBOM').css({ "width":"293px", "position":"absolute", "top":"-85vh", "right":"8px"});
                },1000);
            }
        });

        $('#btnSaveESPModelData').click(function () {
            /*var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
            var formData = new FormData();
            $.each(frmSaveHeaderValue, function (key, input) {
                if(name == 'CC')
                    formData.append(input.name,$('#CC').is(':checked'));
                else
                    formData.append(input.name,input.value);
            });*/
            let NodeId = $('#NodeId').val()

            if (CheckNodeIsEnable(NodeId)) {

                myDiagram.model.commit(function (m) {
                    var node = myDiagram.findNodeForKey(NodeId);
                    var isPlanneddurChange = (node.data.planneddur != $("#PlannedDur").val());
                    m.set(node.data, "actualdur", +$("#ActualDur").val());
                    m.set(node.data, "actualdate", getDateFormate($("#ActualDate").val()));
                    m.set(node.data, "delevertotxt", $("#txtDeleverTo").val());
                    m.set(node.data, "deleverto", $("#DeleverTo").val());
                    m.set(node.data, "cc", $('#CC').is(':checked'));
                    m.set(node.data, "name", $("#NodeName").val());
                    m.set(node.data, "taskmanager", $("#TaskManager").val());
                    m.set(node.data, "rccp", $("#RCCP").val());
                    m.set(node.data, "planneddur", $("#PlannedDur").val() ? $("#PlannedDur").val() : 0);
                    m.set(node.data, "planneddate", getDateFormate($("#PlannedDate").val()));
                    SetChildNodePlannedDate(node, m, isPlanneddurChange);
                }, "change");

                $('#NodeDetailModal').modal('hide');
            }
        });

        $("#txtDeleverTo").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/ESP/MaintainESP/GetDepartments",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        search: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.id };
                        }));
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    event.preventDefault();
                    $("#DeleverTo").val(ui.item.label.split("-")[0].trim());
                    $("#txtDeleverTo").val(ui.item.label.slice(ui.item.label.indexOf('-')+1));
                } else {
                    $("#DeleverTo").val("");
                }
                fillTaskManagerDropdown()
            },
            change: function (event, ui) {
                if (!ui.item) {
                    $("#DeleverTo").val("");
                    fillTaskManagerDropdown()
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $('#SunFact').change(function () {
            var isSunFact = this.checked;
            if(isSunFact) {
                $(this).parent().removeClass("label-danger",1000).addClass("label-success",1000);
            } else {
                $(this).parent().removeClass("label-success",1000).addClass("label-danger",1000);
            }
            $.ajax({
                url: WebsiteURL + "/ESP/MaintainESP/UpdateSundayFactor",
                type: "POST",
                datatype: 'json',
                data: { HeaderId: $('#HeaderId').val(), isSunFact: isSunFact},
                beforeSend: function () { showLoading(true); },
                complete: function () { showLoading(false); },
                success: function (data) {
                    if (data.Key)
                        loadDiagram();
                    else
                        DisplayNotiMessage("error", "Something went wrong..!!", "Error");
                },
                error: function () {
                }
            });
        });
        //$('#FindNo,#symbolUID').click(function() {
        //    //if(myDiagram.findNodeForKey($('#NodeId').val()).data.isBoxPlotNoItem)
        //    //    return false;
        //    ScrollNodeID = $('#NodeId').val();
        //    $("#hdnmaterial").val(ScrollNodeID);
        //    AutoScrollSource();
        //    GetKitData( $('#NodeId').val())
        //    ShowKitDetails();
        //});

        $('#KitDetailModal').on('hidden.bs.modal', function () {
            // $('#ShowColorInfo2').css('z-index','10104');
            $('html,body').css("overflow","")
            $('#tdFixtureList').children().appendTo('#pnlFixtureList');
            $('#tdKitSummary').children().appendTo('#pnlKitDetails');
            $('#tdDocumentList').children().appendTo('#pnlDocumentList');
            setTimeout(function () {
                $('#tblKitLinesDetails,#tblDocumentList,#tblFixtureList').DataTable().columns.adjust();
            },500)
        })
        //$(".numeric").autoNumeric('get');
    });

    function ShowKitDetails(){
        setTimeout(function () {
            //$('#ShowColorInfo2').css('z-index','0');
            $('#NodeDetailModal').modal('hide');
            fnFullScreen('myDiagramDiv', false);
            $('#KitDetailModal').modal('show');
            $('#pnlFixtureList').children().appendTo('#tdFixtureList');
            $('#pnlKitDetails').children().appendTo('#tdKitSummary');
            $('#pnlDocumentList').children().appendTo('#tdDocumentList');
            $('html,body').css("overflow","hidden")
            setTimeout(function () {
                $('#tblKitLinesDetails,#tblDocumentList,#tblFixtureList').DataTable().columns.adjust();
            },500)
        }, 1000);
    }

    function CheckNodeIsEnable(key){
        var IsEnable = false;
        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/CheckNodeIsEnable",
            type: "POST",
            datatype: 'json',
            data: { NodeId: key },
            async: false,
            success: function (data) {
                if (data.Key) {
                    IsEnable = true;
                }else {
                    DisplayNotiMessage("error", data.Value);
                }
            },
            error: function () {
            }
        });
        return IsEnable;
    }

    function AddNewNode(obj) {

        if (CheckNodeIsEnable(obj.part.key)) {
            var newKey = GenNewKey();
            var node = { key: newKey, name: "LABEL" };
            if (obj) {
                node.name = GetNameSquence("LABEL");
                node.level = lstNodeLevel["L3"].Id;
                node.type = "BoxPlot";
                node.parent = obj.part.data.key;
                //node.key = CreateNodeAndGetNewKey(node.name,obj.part.data.level,node.parent, false);
                node.producttype = 'ASM';
                node.uom = 'nos';
                node.isplannerasm = 1;
                node.isrequested = false;
                node.sunfact = $('#SunFact').is(":checked");

                myDiagram.model.addNodeDataCollection([node]);
                myDiagram.findNodeForKey(obj.part.key).expandTree();

                node.findno = "";
                node.ItemGroup = "";
                node.UOM = 'nos';
                node.ProductType = 'ASM';
                node.part = "";
                lstESPLine[node.key] = node;
                return;
            }
            node.name =  GetNameSquence("LABEL");
            node.level = lstNodeLevel["L3"].Id;
            //node.key = CreateNodeAndGetNewKey(node.name,node.level,0);
            lstESPLine[node.key].NoOfPieces = 1;
            myDiagram.model.addNodeDataCollection([node]);
        }
    }

    function CreateNodeAndGetNewKey(name,level,parent,isPWHT){
        var NewKey = 0;
        var objESP102Ent = new ESP102Ent();
        objESP102Ent.NodeName = name;
        objESP102Ent.ParentNodeId = parent;
        objESP102Ent.ParentNodeTypeId = level;
        objESP102Ent.Project = $("#Project").val();
        objESP102Ent.HeaderId = $('#HeaderId').val();
        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/CreateNewNode",
            type: "POST",
            datatype: 'json',
            data: { objESP102: objESP102Ent, ParentNodeTypeId: objESP102Ent.ParentNodeTypeId, isPWHT: isPWHT },
            async: false,
            beforeSend: function () { showLoading(true); },
            complete: function () { showLoading(false); },
            success: function (data) {
                if (data.Key) {
                    CreatedNewNodeParentId = objESP102Ent.ParentNodeId;
                    NewKey = ScrollNodeID = data.HeaderId;//new node id
                    GenerateTreeView(headerid);
                }
            },
            error: function () {
            }
        });
        if(!NewKey) {
            DisplayNotiMessage("error", "Something went wrong..!!", "Error");
            throw new Error("Something went wrong..!!");
        }
        return NewKey;
    }

    function GetNameSquence(name,isStartWithZero) {
        var i = 0;
        if(isStartWithZero){
            var results = myDiagram.findNodesByExample({ name: name });
            if(results.count == 0)
                return name;
            i++;
        }
        do {
            i++;
            var results = myDiagram.findNodesByExample({ name: name+" "+i });
        } while (results.count > 0);
        return name+" "+i;
    }

    function searchDiagramByColor(search) {
        myDiagram.clearHighlighteds();
        myDiagram.startTransaction("highlight search");
        if (search) {
            var results = myDiagram.findNodesByExample({ parentpart: search });
            if (results.count > 0) {
                myDiagram.centerRect(results.first().actualBounds);
                myDiagram.highlightCollection(results);
            }
        }
        myDiagram.commitTransaction("highlight search");
    }

    function SetChildNodePlannedDate(node, m, isPlanneddurChange)
    {
        var CumuDur = 0;
        myDiagram.findNodesByExample({ parent: node.key }).each(function (cnode) {
            if(cnode.data.cumudur > CumuDur) CumuDur = parseInt(cnode.data.cumudur);
        })
        m.set(node.data, "cumudur",parseInt(node.data.planneddur | 0) + CumuDur);

        if(isPlanneddurChange) {
            var nextDate = null;
            myDiagram.findNodesByExample({ parent: node.key }).each(function (pnode) {
                if(!nextDate || new Date(pnode.data.planneddate) > new Date(nextDate)) nextDate = pnode.data.planneddate;
            });
            if (!node.data.planneddur) node.data.planneddur = 0;
            if (nextDate) {
                var plannedDate = new Date(nextDate).setDate( new Date(nextDate).getDate() + parseInt(node.data.planneddur) * (node.sunfact == true ? 1 : 1.17));
                m.set(node.data, "planneddate", getDateFormate(plannedDate));
            }
        }
        myDiagram.findNodesByExample({ key: node.data.parent }).each(function (cnode) {
            var nextDate = node.data.planneddate;
            myDiagram.findNodesByExample({ parent: cnode.key }).each(function (pnode) {
                if(!nextDate || new Date(pnode.data.planneddate) > new Date(nextDate)) nextDate = pnode.data.planneddate;
            });
            if (!cnode.data.planneddur) cnode.data.planneddur = 0;
            var plannedDate = new Date(nextDate).setDate( new Date(nextDate).getDate() + parseInt(cnode.data.planneddur) * (cnode.sunfact == true ? 1 : 1.17));
            m.set(cnode.data, "planneddate", getDateFormate(plannedDate));
            SetChildNodePlannedDate(cnode, m);
        });
    }

    function init() {
        if (window.goSamples) goSamples();
        //isEditable = $('#btnSave').is(":visible")
        myDiagram_layout_prop = { treeStyle: go.TreeLayout.StyleLayered, alignment: go.TreeLayout.AlignmentCenterChildren, angle: 180, nodeSpacing: 10};//, isOngoing: false };

        SetShapeSquareArrow()

        myDiagram = GoJs(go.Diagram, "myDiagramDiv", {
            //resizingTool: new ResizeMultipleTool(),
            grid: GoJs(go.Panel, "Grid", { gridCellSize: new go.Size(30, 30) }, GoJs(go.Shape, "LineH", { stroke: "lightgray" }), GoJs(go.Shape, "LineV", { stroke: "lightgray" })),
            //initialDocumentSpot: go.Spot.TopCenter,
            //initialViewportSpot: go.Spot.TopCenter,
            "commandHandler.canDeleteSelection": function(e,obj) {
                var isDeletable = true;
                myDiagram.selection.each(function(node){
                    if(!isNodeDeletable(e,node)) isDeletable = false;
                    if (myDiagram.findNodesByExample({parent: node.part.data.key}).count > 0) {
                        if($('#toast-container').length == 0)
                            DisplayNotiMessage("info", "Please remove or move all child node to delete selected node!","Info");
                        isDeletable = false;
                    }
                });
                return (go.CommandHandler.prototype.canDeleteSelection.call(this) && isDeletable && confirm("Are you sure you want to delete this?"));
            },
            "undoManager.isEnabled": true, // enable undo & redo
            "draggingTool.isEnabled": true, // enable undo & redo
            "draggingTool.dragsTree": true,
            //"animationManager.isEnabled": false,
            layout: GoJs(go.TreeLayout,myDiagram_layout_prop)
        });

        myDiagram.model = new go.TreeModel();
        myDiagram.model.nodeCategoryProperty = "type";
        if(isEditable) {
            myDiagram.commandHandler.doKeyDown = function() {
                if(MoveNode(myDiagram,event.code,event.shiftKey) == false) {
                    var a = this.diagram, b = a.lastInput, c = b.control, d = b.shift, e = b.alt, f = b.key;
                    !c || "C" !== f && "Insert" !== f ? c && "X" === f || d && "Del" === f ? this.canCutSelection() && this.cutSelection() : c && "V" === f || d && "Insert" === f ? this.canPasteSelection() && this.pasteSelection() : c && "Y" === f || c && d && "Z" === f ? this.canRedo() && this.redo() : c && "Z" === f || e && "Backspace" === f ? this.canUndo() && this.undo() : "Del" === f || "Backspace" === f ? this.canDeleteSelection() && this.deleteSelection() : c && "A" === f ? this.canSelectAll() &&
                        this.selectAll() : "Esc" === f ? this.canStopCommand() && this.stopCommand() : "Up" === f ? a.allowVerticalScroll && (c ? a.scroll("pixel", "up") : a.scroll("line", "up")) : "Down" === f ? a.allowVerticalScroll && (c ? a.scroll("pixel", "down") : a.scroll("line", "down")) : "Left" === f ? a.allowHorizontalScroll && (c ? a.scroll("pixel", "left") : a.scroll("line", "left")) : "Right" === f ? a.allowHorizontalScroll && (c ? a.scroll("pixel", "right") : a.scroll("line", "right")) : "PageUp" === f ? d && a.allowHorizontalScroll ? a.scroll("page", "left") : a.allowVerticalScroll &&
                        a.scroll("page", "up") : "PageDown" === f ? d && a.allowHorizontalScroll ? a.scroll("page", "right") : a.allowVerticalScroll && a.scroll("page", "down") : "Home" === f ? c && a.allowVerticalScroll ? a.scroll("document", "up") : !c && a.allowHorizontalScroll && a.scroll("document", "left") : "End" === f ? c && a.allowVerticalScroll ? a.scroll("document", "down") : !c && a.allowHorizontalScroll && a.scroll("document", "right") : " " === f ? this.canScrollToPart() && this.scrollToPart() : "Subtract" === f ? this.canDecreaseZoom() && this.decreaseZoom() : "Add" === f ? this.canIncreaseZoom() &&
                        this.increaseZoom() : c && "0" === f ? this.canResetZoom() && this.resetZoom() : d && "Z" === f ? this.canZoomToFit() && this.zoomToFit() : c && !d && "G" === f ? this.canGroupSelection() && this.groupSelection() : c && d && "G" === f ? this.canUngroupSelection() && this.ungroupSelection() : b.event && 113 === b.event.which ? this.canEditTextBlock() && this.editTextBlock() : b.event && 93 === b.event.which ? this.canShowContextMenu() && this.showContextMenu() : b.bubbles = !0 : this.canCopySelection() && this.copySelection()
                }
            };
        }

        function isNodeEnabled(o,obj) {
            if (role != '@clsImplementationEnum.UserRoleName.PLNG3.GetStringValue()' || !isEditable || obj.part.data.key == undefined || obj.part.data.isrequested || obj.part.data.producttype === "PLT") return false;
            if (obj.part.data.producttype === "ASM") return (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()');
            return true;
        }

        function isNodeDeletable(o,obj) {
            if (role != '@clsImplementationEnum.UserRoleName.PLNG3.GetStringValue()' || !isEditable || obj.part.data.key == undefined || obj.part.data.isrequested || obj.part.data.producttype === "PLT") return false;
            if (obj.part.data.producttype === "ASM") {
                if (obj.part.data.isplannerasm == 0)
                    return false;
                else if (obj.part.data.isplannerasm == 1)
                    return (status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()');
            }
            return true;
        }

        function isNodeMoveble(o,obj) {
            if (role != '@clsImplementationEnum.UserRoleName.PLNG3.GetStringValue()' || !isEditable || obj.part.data.key == undefined || obj.part.data.isrequested || obj.part.data.parent == 0) return false;

            return true;
        }

        function isNodeReadyForParent(o,obj) {
            if (role != '@clsImplementationEnum.UserRoleName.PLNG3.GetStringValue()' || !isEditable || obj.part.data.key == undefined || obj.part.data.producttype === "PLT" || obj.part.data.parentpart == 'BL') return false;
            else
                return true;
        }
        function ShowNodeDetails(e,node) {
            var data = node.part.data;
            if(data.type != "BoxPlot"){
                if(data.type == "SubAssembly") {
                    var textBlock = node.part.findObject('NodeName');
                    var canEdit = myDiagram.commandHandler.canEditTextBlock(textBlock);
                    if (canEdit)
                        myDiagram.commandHandler.editTextBlock(textBlock);
                }
                return false;
            }
            $('#NodeName,#txtDeleverTo,#TaskManager,#CumuDur').attr("readonly","readonly");
            $('#ddlTaskManager').select2()
            if(isNodeEnabled(e,node)) {
                if (lstNodeLevel[data.level] && lstNodeLevel[data.level].NodeLevel > 2)
                    $('#NodeName').removeAttr("readonly");
                $('#txtDeleverTo,#TaskManager,#TaskManager,#CumuDur').removeAttr("readonly");
                $('#ddlTaskManager,#btnSaveESPModelData').removeAttr("disabled");
                $('#ddlTaskManager').attr("disabled", false)
            }else{
                setTimeout(function () {
                    $('#ddlTaskManager,#btnSaveESPModelData').attr("disabled","disabled");
                    $('#ddlTaskManager').attr("disabled", true)
                },100)
            }

            if(data.isBoxPlotNoItem) $('#symbolUID').hide();
            else $('#symbolUID').show();
            $('#NodeId,#hdnmaterial').val(data.key);
            $('#ActualDur').val(data.actualdur);
            $('#ActualDate').val(getInputDate(data.actualdate));
            $('#txtDeleverTo').val(data.delevertotxt);
            $('#DeleverTo').val(data.deleverto);
            $('#FindNo').html(data.findno);
            $('#NodeName').val(data.name);
            $('#PlannedDur').val(data.planneddur);
            $('#PlannedDate').val(getInputDate(data.planneddate));
            $('#TaskManager').val(data.taskmanager);
            $('#RCCP').val(data.rccp);
            $('#CumuDur').val(data.cumudur);
            if(data.cc) {
                $('#CC').attr("checked","checked");
                $('#PlannedDate').closest('tr').css('background-color','#0cffff');
            } else {
                $('#CC').removeAttr("checked");
                $('#PlannedDate').closest('tr').css('background-color','');
            }
            fillTaskManagerDropdown()
            $('#NodeDetailModal').modal('show');
            fnFullScreen('myDiagramDiv', false)
        }

        zoomSlider = new ZoomSlider(myDiagram);
        var ContextMenus = GoJs("ContextMenu",
            makeButton("Undo  (Ctrl+Z)", function(e) { e.diagram.commandHandler.undo(); }, function(o) { return o.diagram.commandHandler.canUndo(); }),
            makeButton("Redo  (Ctrl+Y)", function(e) { e.diagram.commandHandler.redo(); }, function(o) { return o.diagram.commandHandler.canRedo(); }),
            makeButton("Add New", function (e,obj) { AddNewNode(obj.part.data.key == undefined?undefined:obj); }, isNodeEnabled),
            makeButton("Edit (Dbl Click)", ShowNodeDetails, isNodeEnabled),
            makeButton("Delete (Delete)", function(e,obj) {
                if (myDiagram.findNodesByExample({parent: obj.part.data.key}).count > 0) {
                    if($('#toast-container').length == 0)
                        DisplayNotiMessage("info", "Please remove or move all child node to delete selected node!","Info");
                    return false;
                }
                if(confirm("Are you sure you want to delete this?")){ e.diagram.commandHandler.deleteSelection(); }}, isNodeDeletable)
           ,makeButton("Move", function (e,obj) { DiagramMove(obj) }, isNodeMoveble)
           //,makeButton("Ready For Parent", function (e,obj) { ReadyForParentFn(obj) }, isNodeReadyForParent)
        );

        function AddNodeTemplates() {
            var brushBlue = GoJs(go.Brush, "Linear", { 0: "#c6f1f6",  0.80: "#83e0eb", 1: "#5dc8d4" });
            var brushWhite = GoJs(go.Brush, "Linear", { 0: "white", 0.70: "white", 1: "#cecece" });

            function controlRectangle(figure) {
                return GoJs(go.Shape, { name: 'Container', strokeWidth: 2, stroke: "#8484ff", fill: brushBlue, figure: figure },
                        new go.Binding("fill", "isHighlighted", function (h,obj) { return h? "#ff5722": (obj.part.data.type == "SubAssembly"? brushBlue :brushWhite); }).ofObject());
            }
            function nodeStyle(isContextMenus) {
                // this is used to determine feedback during drags
                var isParent = false;

                // if changes in isChildOfParent occured please changes in isChildOfParentCopy as well..
                function isChildOfParent(Node,ParentKey) {
                    if(!Node) return true;
                    if(Node.data.parent == ParentKey) {
                        isParent = true;
                        return false;
                    }
                    isChildOfParent(Node.findTreeParentNode(),ParentKey)
                }

                // if changes in myworkfor occured please changes in mayWorkForCopy as well..
                function mayWorkFor(node1, node2) {
                    if (lstESPLine[node1.key] != null && lstESPLine[node1.key].NoOfPieces > 0) {
                        if(!isEditable || !(node1 instanceof go.Node) || node1 === node2 || node1.data.parent === node2.key) return false;
                        isParent = false;
                        isChildOfParent(node2,node1.key)
                        if (!isParent && status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                            if (node1.data.producttype == "PLT") {
                                if (node2.data.producttype === "ASM" && !node2.data.isrequested)
                                    return true;
                                //return (lstESPLine[node2.key].NoOfPieces == "" || lstESPLine[node2.key].NoOfPieces == 1);

                                return false;
                            } else if (node1.data.producttype == "ASM")
                                return (node2 && node2.data.producttype === "ASM" && !node2.data.isrequested);
                            return true;
                        } else
                            return false;
                    }else {
                        return false;
                    }
                }

                return [//new go.Binding("location", "location", go.Point.parse).makeTwoWay(go.Point.stringify),
                new go.Binding("layerName", "isSelected", function(s) { return s ? "Foreground" : ""; }).ofObject(),
                //new go.Binding("isTreeExpanded", "level", function(level){ return lstNodeLevel[level].NodeLevel < 4; }),
                new go.Binding("isShadowed", "isSelected").ofObject(),
                {
                    deletable: isContextMenus, copyable: isContextMenus,
                    //selectable: isContextMenus,
                    selectionAdorned: false, shadowOffset: new go.Point(0, 0), shadowBlur: 15, shadowColor: "blue",
                    contextMenu: isEditable && isContextMenus ? ContextMenus : undefined,
                    mouseDrop: function(e, node) {
                        var diagram = node.diagram;
                        var selnode = diagram.selection.first();  // assume just one Node in selection
                        if (mayWorkFor(selnode, node) && DragNDrop(node.key+"#",selnode.key+"#"+$('#HeaderId').val())) {
                            lastSelectedNodeKey = node.key;
                            var prevParentNode =  myDiagram.findNodesByExample({ parent: selnode.data.parent }).first();
                            var link = selnode.findTreeParentLink();
                            if (link !== null)  // reconnect any existing link
                                link.fromNode = node;
                            else // else create a new link
                                diagram.toolManager.linkingTool.insertLink(node, node.port, selnode, selnode.port);
                            node.expandTree()

                            myDiagram.model.commit(function (m) {
                                SetChildNodePlannedDate(selnode, m);
                                SetChildNodePlannedDate(prevParentNode, m);
                            }, "change");
                        }
                    },
                    mouseDragEnter: function(e, node, prev) {
                        var diagram = node.diagram;
                        var selnode = diagram.selection.first();
                        if (!mayWorkFor(selnode, node)) return;
                        var shape = node.findObject("Container");
                        if (shape) {
                            shape._prevFill = shape.fill;  // remember the original brush
                            shape.fill = "#ff5722";
                        }
                    },
                    mouseDragLeave: function(e, node, next) {
                        var shape = node.findObject("Container");
                        if (shape && shape._prevFill) shape.fill = shape._prevFill;  // restore the original brush
                    },
                    click: function(e, node) {
                        if(node.part.data.type != "Part") lastSelectedNodeKey = node.part.key;
                        myDiagram.startTransaction("highlight");
                        myDiagram.clearHighlighteds();
                        node.findLinksOutOf().each(function(l) { l.isHighlighted = true; });
                        myDiagram.commitTransaction("highlight");
                    },
                    doubleClick: ShowNodeDetails
                }];
            }
            function tableStyle(width) {
                return [{ width:width, minSize: new go.Size(width, 50), name: "TABLE", background: "transparent", defaultAlignment: go.Spot.TopLeft, defaultStretch: go.GraphObject.Horizontal }];
            }
            /*function SetMouseHoverAdornment(adornedName) {
                return [ isEditable? { mouseHover: function(e, obj) {
                    nodeHoverAdornment.adornedObject = obj.part;
                    nodeHoverAdornment.adornedName = adornedName;
                    obj.part.addAdornment("mouseHover", nodeHoverAdornment);
                } }: {} ]
            }

            var currentAdornedName= "";
            var nodeHoverAdornment = GoJs(go.Adornment, "Spot", { background: "transparent", mouseHover: function(e,obj){ currentAdornedName = obj.part.adornedName; }, mouseLeave: function(e, obj) { obj.part.adornedPart.removeAdornment("mouseHover"); } },
                    GoJs(go.Placeholder, {
                        background: "transparent", isActionable: true,  // needed because this is in a temporary Layer
                        click: function(e, obj) { obj.part.adornedPart.diagram.select(obj.part.adornedPart); obj.part.adornedPart.removeAdornment("mouseHover"); }
                    }),
                    GoJs(go.Panel, "Table", { alignment: go.Spot.BottomCenter, background: brushWhite },
                        GoJs(go.TextBlock, { font: "15px sans-serif", row:0, column:0, stretch: go.GraphObject.Fill }, new go.Binding("text", "parentpart",GetIndicateByColorFlag ))
                    )
                );*/

            function NodeLayout(isContextMenus,figure,content) {
                return GoJs(go.Node, "Vertical", nodeStyle(isContextMenus),
                    GoJs(go.Panel, "Spot",
                        GoJs(go.Panel, "Auto", { cursor: "pointer", toLinkable: isContextMenus, fromLinkable: true, toMaxLinks: 1 },
                            new go.Binding("fromLinkable","type",function(type){ return type != "Part"}),
                            controlRectangle(figure),
                            content,
                            GoJs("TreeExpanderButton", { width: 12, height: 12, opacity:0.7, alignment: go.Spot.Left })
                        ),
                        //GoJs(go.Shape, "Rectangle", { name: 'ContainerMover', cursor: "move", desiredSize: new go.Size(30, 30), opacity:0, alignment: go.Spot.RightCenter, alignmentFocus: go.Spot.Right }),
                        { toolTip:  // define a tooltip for each node that displays the color as text
                              GoJs("ToolTip",
                                  GoJs(go.Panel, "Vertical", {background: "#ddf1fc"},
                                      GoJs(go.Panel, "Table", { defaultAlignment: go.Spot.Left },
                                          //GoJs(go.RowColumnDefinition, { column: 2, width: 4 }),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 0,column:0 },"Find No"),
                                          GoJs(go.TextBlock, { margin: 4,row: 0,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "findno")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 1,column:0 },"Description"),
                                          GoJs(go.TextBlock, { margin: 4,row: 1,column:1,font: "bold 13px Verdana, Serif", width:200},new go.Binding("text", "name")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 2,column:0 },"Item Group"),
                                          GoJs(go.TextBlock, { margin: 4,row: 2,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].ItemGroup })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 3,column:0 },"Length"),
                                          GoJs(go.TextBlock, { margin: 4,row: 3,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].Length })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 4,column:0 },"Material Code "),
                                          GoJs(go.TextBlock, { margin: 4,row: 4,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].MaterialCode })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 5,column:0 },"Material Description"),
                                          GoJs(go.TextBlock, { margin: 4,row: 5,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].Description })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 6,column:0 },"Material Specification"),
                                          GoJs(go.TextBlock, { margin: 4,row: 6,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].MaterialSpecification })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 7,column:0 },"No Of Pieces"),
                                          GoJs(go.TextBlock, { margin: 4,row: 7,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].NoOfPieces })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 9,column:0 },"Part"),
                                          GoJs(go.TextBlock, { margin: 4,row: 9,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "part")),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 10,column:0 },"Product Type"),
                                          GoJs(go.TextBlock, { margin: 4,row: 10,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].ProductType })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 11,column:0 },"Thickness"),
                                          GoJs(go.TextBlock, { margin: 4,row: 11,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text","key",function(key){return lstESPLine[key].Thickness })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 12,column:0 },"UOM"),
                                          GoJs(go.TextBlock, { margin: 4,row: 12,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text","key",function(key){return lstESPLine[key].UOM })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 13,column:0 },"Weight"),
                                          GoJs(go.TextBlock, { margin: 4,row: 13,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key", function(key){return lstESPLine[key].Weight })),
                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 14,column:0 },"Width"),
                                          GoJs(go.TextBlock, { margin: 4,row: 14,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].Width })),

                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 15,column:0 },"Kit Status"),
                                          GoJs(go.TextBlock, { margin: 4,row: 15,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].KitStatus })),

                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 16,column:0 },"Material Status"),
                                          GoJs(go.TextBlock, { margin: 4,row: 16,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].MaterialStatus })),

                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 17,column:0 },"Deliver Status"),
                                          GoJs(go.TextBlock, { margin: 4,row: 17,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].DeleverStatus })),

                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 18,column:0 },"Node Color"),
                                          GoJs(go.TextBlock, { margin: 4,row: 18,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].NodeColor })),

                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 19,column:0 },"Level"),
                                          GoJs(go.TextBlock, { margin: 4,row: 19,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "level",function(level){return lstNodeLevel[level].NodeType })),

                                          GoJs(go.TextBlock, { margin: new go.Margin(4, 10, 4, 4),row: 20,column:0 },"NodeId"),
                                          GoJs(go.TextBlock, { margin: 4,row: 20,column:1,font: "bold 13px Verdana, Serif" },new go.Binding("text", "key",function(key){return lstESPLine[key].NodeId }))

                                    )
                                )
                              )  // end of Adornment
                        }
                    )
               );
            }

            var LabelNode = NodeLayout(true, "SquareArrow", [GoJs(go.Panel, "Table", tableStyle(180),
                            GoJs(go.TextBlock, { row: 0, column: 0, margin: 7, textAlign:"center", alignment: go.Spot.Center, width: 120 },
                                new go.Binding("editable", "",function (data,obj) { return isNodeEnabled(undefined,obj); }),
                                new go.Binding("text", "name").makeTwoWay())
                        )/*,
                        GoJs(go.TextBlock, { width: 20, cursor: "move", font: "bold 25px Verdana, Serif", alignment: go.Spot.RightCenter, text: "•", stroke: "red" },
                            SetMouseHoverAdornment("parentpart"),
                            new go.Binding("stroke", "parentpart",GetColorByColorFlag)  )*/
            ]);

            var SubAssemlyNode = NodeLayout(true, "SquareArrow", [GoJs(go.Panel, "Table", tableStyle(252),
                    GoJs(go.TextBlock, { name: "NodeName", row: 0, column: 0, margin: 7, textAlign:"center", alignment: go.Spot.Center, width: 120 },
                        new go.Binding("editable", "",function (data,obj) { return isNodeEnabled(undefined,obj); }),
                        new go.Binding("text", "name").makeTwoWay())
                )/*,
                GoJs(go.TextBlock, { width: 20, cursor: "move", font: "bold 25px Verdana, Serif", alignment: go.Spot.RightCenter, text: "•", stroke: "red" },
                    SetMouseHoverAdornment("parentpart"),
                    new go.Binding("stroke", "parentpart",GetColorByColorFlag)  )*/
            ]);
            var BoxPlotNode = NodeLayout(true, "Rectangle", [
                GoJs(go.Panel, "Table", { width:280, name: "TABLE", background: "transparent", defaultAlignment: go.Spot.TopLeft, defaultStretch: go.GraphObject.Horizontal,
                    defaultRowSeparatorStroke: "gray", defaultColumnSeparatorStroke: "gray", defaultSeparatorPadding: 1 },
                    GoJs(go.RowColumnDefinition, { row: 2 },new go.Binding("background",'cc',function (cc) { return cc? '#0cffff':''; }) ),
                    //GoJs(go.RowColumnDefinition, { column: 0, background: 'white' }),
                    GoJs(go.TextBlock, new go.Binding("text", "actualdur").makeTwoWay(), { row: 0, column: 0, textAlign:"right", width:30, alignment: go.Spot.Center }),
                    GoJs(go.TextBlock, new go.Binding("text", "actualdate").makeTwoWay(), { row: 0, column: 1, textAlign:"center", width:70, alignment: go.Spot.Center}),
                    GoJs(go.TextBlock, new go.Binding("text", "delevertotxt").makeTwoWay(), { row: 0, column: 2, textAlign:"center", alignment: go.Spot.Center, maxLines:2, overflow: go.TextBlock.OverflowEllipsis }),
                    GoJs(go.TextBlock, "Θ", { row: 0, column: 3, alignment: go.Spot.Center }), //, new go.Binding("visible", "isBoxPlotNoItem",function(isBoxPlotNoItem){ return !isBoxPlotNoItem;})
                    GoJs(go.TextBlock, new go.Binding("text", "findno").makeTwoWay(), { row: 0, column: 3, textAlign:"center", alignment: go.Spot.Center, maxLines:2, width:50, overflow: go.TextBlock.OverflowEllipsis, // , new go.Binding("visible", "isBoxPlotNoItem",function(isBoxPlotNoItem){ return !isBoxPlotNoItem;})
                        mouseEnter: function(e, obj) {
                            obj.background = "#3598dc";
                            obj.font = "bold 13px Arial";
                        },
                        mouseLeave: function (e, obj) {
                            obj.background = "transparent";
                            obj.font = "13px Arial";
                        },
                        click:function (e,node) {
                            //fnFullScreen('myDiagramDiv', false);
                            //ScrollNodeID = node.part.key;
                            //AutoScrollSource();
                            //GetKitData(node.part.key)
                            //setTimeout(function () {
                            //    $('#hdnmaterial').val(node.part.key);
                            //    $('#NodeDetailModal').modal('hide');
                            //    ShowKitDetails();
                            //}, 1000);
                            return false;
                        }
                    }),
                    //GoJs(go.TextBlock, new go.Binding("text", "findno").makeTwoWay(), new go.Binding("visible", "isBoxPlotNoItem"), { row: 0, column: 3, visible: false, textAlign:"center", alignment: go.Spot.Center, maxLines:2, width:50, overflow: go.TextBlock.OverflowEllipsis}),
                    GoJs(go.TextBlock, new go.Binding("text","cc",function (cc) { return cc? 'cc':''; }), { row: 1, column: 0, textAlign:"right", alignment: go.Spot.Center } ),
                    GoJs(go.TextBlock, new go.Binding("text", "name").makeTwoWay(), { row: 1, column: 1, columnSpan:3, stretch: go.GraphObject.Fill, font: "bold 13px Arial", maxLines:2, overflow: go.TextBlock.OverflowEllipsis, background: "white" }),
                    GoJs(go.TextBlock, new go.Binding("text", "planneddur").makeTwoWay(), { row: 2, column: 0, textAlign:"right", alignment: go.Spot.Center }),
                    GoJs(go.TextBlock, new go.Binding("text", "planneddate").makeTwoWay(), { row: 2, column: 1, textAlign:"center", alignment: go.Spot.Center, font: "bold 13px Arial" }),
                    GoJs(go.TextBlock, new go.Binding("text", "taskmanager").makeTwoWay(), { row: 2, column: 2, textAlign:"center", alignment: go.Spot.Center, maxLines:2, overflow: go.TextBlock.OverflowEllipsis }),
                    GoJs(go.TextBlock, new go.Binding("text", "rccp").makeTwoWay(), { row: 2, column: 3, textAlign:"center", alignment: go.Spot.Center }),
                    GoJs(go.TextBlock, new go.Binding("text", "cumudur").makeTwoWay(), { row: 3, column: 0, columnSpan:4, textAlign:"right", wrap: go.TextBlock.WrapFit, background: "white" }),
                    GoJs(go.TextBlock, "🗗", new go.Binding("visible", "isTreeLeafParent"), { visible: false, row: 3, column: 0, columnSpan:4, stroke: "blue" })
                  ),
                GoJs(go.TextBlock, { width: 20, cursor: "move", font: "bold 25px Verdana, Serif", alignment: go.Spot.RightCenter, text: "•", stroke: "red" },
                    //SetMouseHoverAdornment("parentpart"),
                    new go.Binding("stroke", "parentpart",GetColorByColorFlag)  )
            ]);

            var PartNode = NodeLayout(true, "Rectangle", [
                GoJs(go.Panel, "Table", tableStyle(280),
                    //GoJs(go.RowColumnDefinition, { column: 0, background: brushWhite }),
                    GoJs(go.TextBlock, { row: 0, column: 0, font: "bold 13px Verdana, Serif", margin: new go.Margin(6, 2, 2, 6)},
                        new go.Binding("text", "findno").makeTwoWay()),
                    GoJs(go.TextBlock, { row: 1, column: 0, margin: new go.Margin(0, 2, 6, 6), maxLines:2, overflow: go.TextBlock.OverflowEllipsis },
                        new go.Binding("text", "name").makeTwoWay())
                ),
                GoJs(go.TextBlock, { width: 20, cursor: "move", font: "bold 25px Verdana, Serif", alignment: go.Spot.RightCenter, text: "•", stroke: "red" },
                    //SetMouseHoverAdornment("parentpart"),
                        new go.Binding("stroke", "parentpart",GetColorByColorFlag)  )
            ]);

            myDiagram.nodeTemplateMap.add("Label", LabelNode);
            myDiagram.nodeTemplateMap.add("Part", PartNode);
            myDiagram.nodeTemplateMap.add("SubAssembly", SubAssemlyNode);
            myDiagram.nodeTemplateMap.add("BoxPlot", BoxPlotNode);
            myDiagram.nodeTemplate = LabelNode;
        }
        AddNodeTemplates();

        // also define a context menu for the diagram's background
        //myDiagram.contextMenu = ContextMenus;

        LinkStyleDiagram(myDiagram);

        //myDiagram.isEnabled = false; // For Forzen Diagram
        //myDiagram.isReadOnly = !isEditable;   // Disable diagram modifications, but allow navigation and selection
        //myDiagram.groupTemplate.isSubGraphExpanded = false;  // To set default Groups as Collapsable
        myDiagram.allowCopy = false;
        myDiagram.allowDrop = isEditable;
        myDiagram.allowDelete = isEditable;
        myDiagram.allowDragOut = isEditable;

        myDiagram.click = function(e) {
            lastSelectedNodeKey = undefined;
            e.diagram.commit(function(d) { d.clearHighlighteds(); }, "no highlighteds");
        };

        loadDiagram();

        myDiagram.contextMenu = ContextMenus;
        // Overview of Diagram By Magnifier
        myOverview = GoJs(go.Overview, "myOverviewDiv", {
            observed: myDiagram,
            contentAlignment: go.Spot.Center,
            'box.resizable': true,
            'resizingTool': new OverviewResizingTool()
        });
        myDiagram.addDiagramListener("SelectionDeleting",deleteNode);

        $('.zoomSlider').attr("style", "width: 24px; float: right; position: relative; top: -266px; left: -16px;");
        $('.zoomSlider').prepend('<button class="zoomButton btnFullScreen" onclick="FullScreen(\'myDiagramDiv\')" title="Full Screen"><i class="fa fa-expand"></i></button>');
        //$('.zoomSlider').prepend('<button class="zoomButton" onclick="ReArrangeLayout(myDiagram, \'Tree-CenterChildren\')" title="Re-Arrange"><i class="fa fa-code-fork" style="transform: rotate(270deg);"></i></button>');
        $('.zoomSlider').prepend('<button class="zoomButton" onclick="myDiagram.zoomToFit();" title="Zoom To Fit"><svg version="1.1" viewBox="0 60 430 430">\
            <g><path d="M343.68,87.131H30.376c-16.071,0-29.114,13.035-29.114,29.124v313.279   c0,16.089,13.043,29.124,29.114,29.124H343.68c16.073,0,29.116-13.035,29.116-29.124V116.255   C372.796,100.166,359.753,87.131,343.68,87.131z M342.233,428.095H31.825v-310.4h310.407V428.095z"/>\
	        <path d="M55.493,409.381l70.706,0.023c2.061,0,3.926-1.246,4.716-3.149c0.792-1.902,0.345-4.097-1.103-5.56   l-24.535-24.54L289.91,190.528l24.52,24.527c1.462,1.455,3.656,1.895,5.552,1.103c1.91-0.79,3.15-2.649,3.15-4.708l0.014-70.691   c0-2.813-2.283-5.096-5.103-5.096l-70.692-0.023c-2.061,0-3.926,1.245-4.716,3.149c-0.792,1.902-0.358,4.096,1.104,5.558   l24.563,24.572L83.668,354.544l-24.564-24.556c-1.463-1.455-3.642-1.896-5.553-1.104c-1.91,0.791-3.147,2.649-3.147,4.708v70.692   C50.405,407.098,52.688,409.381,55.493,409.381z"/></g></svg></button>');
        $('.zoomSlider').prepend('<button id="CollapseAll" title="Collapse All" class="zoomButton" type="button" onclick="gojsCollapseAll(myDiagram,1)"><i class="fa fa-caret-up"></i></button> <button id="ExpandAll" title="Expand All" class="zoomButton" type="button" onclick="gojsExpandAll(myDiagram)"><i class="fa fa-caret-down"></i></button>');
        //$('.zoomSlider').prepend('<button class="zoomButton" onclick="SetDragZoom(this,myDiagram)" title="Zoom(Hold and Drag)"><i class="fa fa-search-plus"></i></button>');
        $('.zoomSlider').prepend('<button class="zoomButton" onclick="SetSearch(this,myDiagram)" title="Search"><i class="fa fa-search"></i></button>');
        $('.zoomSlider button').attr("type","button");

        /*myDiagram.addDiagramListener("TextEdited", //renamed label
            function(e) {
                var data = e.subject.part.data;
                if(data.name) UpdateNewNode(data.key, data.name);
            });*/

        function deleteNode()
        {
            lastSelectedNodeKey = undefined;
            var nodeToDelete = myDiagram.selection.iterator;
            while(nodeToDelete.next()) {
                var selnode = nodeToDelete.value;  // assume just one Node in selection
                if(!(selnode instanceof go.Node)) return;
                var parent = myDiagram.findNodeForKey(selnode.part.data.parent);
                if(parent) {
                    ScrollNodeID = parent.key;
                    var childs = myDiagram.findNodesByExample({ parent: selnode.key });
                    childs.each(function (node) {
                        myDiagram.toolManager.linkingTool.insertLink(parent, parent.port,node, node.port);
                    })
                }
                //DeleteNewNode(nodeToDelete.value.key, $("#HeaderId").val());
            }
        }

        function getChildNodes(deleteNode)
        {
            var children = [];
            if(!deleteNode.findLinksOutOf) return;
            var allConnected = deleteNode.findLinksOutOf();
            while (allConnected.next()) {
                var child = allConnected.value;
                var node = myDiagram.findNodeForKey(child.part.data.key);
                if (node !== null) {
                    if(child.part.data.type != "Fixed")
                        children.push(node);
                    $.each(getChildNodes(node), function() { children.push(this); });
                }
            }
            return children;
        }
    }

    function loadDiagram(ModelData) {
        if(ModelData) {
            myDiagram.model = new go.TreeModel(ModelData);
        } else if($("#HeaderId").val() > 0) {
            $.ajax({
                url: WebsiteURL+"/ESP/MaintainESP/LoadDiagramModelData",
                type: "POST",
                data: {HeaderId:$("#HeaderId").val()},
                async: false,
                beforeSend: function () { showLoading(true); },
                complete: function () { showLoading(false); },
                success:function (results) {
                    if(results.Key) {
                        myDiagram.model = new go.TreeModel(results.data.ModelData);
                        lstDiagramdata = results.data.ModelData;
                        lstESPLine = {};
                        $.each(results.data.ESPData ,function (idx,item) {
                            lstESPLine[item.NodeId] = item;
                        });
                    } else {
                        DisplayNotiMessage("error", results.value,"Error");
                    }
                }
            })
        }
        myDiagram.model.nodeCategoryProperty = "type";
        myDiagram.findNodesByExample({ producttype: "PLT" }).each(function (n) {
            var parentNode = myDiagram.findNodeForKey(n.data.parent);
            if(parentNode) parentNode.collapseTree();
        });
        /*myDiagram.findNodesByExample({ level: lstNodeLevel["L4"].Id }).each(function (n) {
            var parentNode = myDiagram.findNodeForKey(n.data.parent);
            if(parentNode) parentNode.collapseTree();
        });*/
        myDiagram.scale = DiagramState.scale;

        myDiagram.model.commit(function (m) {
            myDiagram.nodes.filter(n => n.isTreeLeaf).each(function (n) {
                m.set(n.data, "isBoxPlotNoItem", true);
                var node = myDiagram.findNodeForKey(n.data.parent);
                if(node) m.set(node.data, "isTreeLeafParent", true);
            });
        }, "change");

        setTimeout(function () {
            $('#myDiagramDiv').children("div")[0].scrollTop = 2;
            myDiagram.commit(function(d) {
                $.each(DiagramState.nodeLocation,function(key,location) {
                    if(location || location != "NaN NaN") {
                        var node = d.findNodeForKey(key);
                        if(node) node.location = go.Point.parse(location);
                    }
                });
            }, "mode node");
            setTimeout(function () {
                $('#myDiagramDiv').children("div")[0].scrollTop = DiagramState.scrollTop;
                $('#myDiagramDiv').children("div")[0].scrollLeft = DiagramState.scrollLeft;
            }, 500)
            $(window).resize();
        },2000); // myDiagram.zoomToFit();
    }

    function searchDiagram(search, gojsDiagram) {
        function expandParent(node) {
            if(node) {
                node.expandTree();
                expandParent(node.findNodesInto().value);
            }
        }

        gojsDiagram.startTransaction("highlight search");
        if (search) {
            var regex = new RegExp(search, "i");
            var results = gojsDiagram.findNodesByExample({ findno: regex }, { name: regex }, { delevertotxt: regex }, { taskmanager: regex });
            gojsDiagram.highlightCollection(results);
            for (var i = 20; i > 1 ; i--) {
                myDiagram.findTreeRoots().each(function(n) { n.collapseTree(i) } );
            }
            results.each(function (n) { expandParent(n); })
            setTimeout(function(){
                if (results.count > 0) gojsDiagram.centerRect(results.first().actualBounds);
            },1000);
        } else
            gojsDiagram.clearHighlighteds();
        gojsDiagram.commitTransaction("highlight search");
    }

    var tempHoldRouting = undefined;
    function LinkStyleDiagram(goDiagram,routing) {
        routing = routing || tempHoldRouting || go.Link.Orthogonal;
        tempHoldRouting = routing;
        goDiagram.linkTemplate = GoJs(go.Link,
                {
                    fromSpot: go.Spot.Right, toSpot: go.Spot.NotRightSide,
                    routing: routing, corner: 5, curve: go.Link.JumpOver, opacity: 0.8, fromShortLength: 3,
                    //fromEndSegmentLength: 30, toEndSegmentLength: 20, //relinkableFrom: true, relinkableTo: true, //reshapable: true, resegmentable: true,
                    //cursor: "pointer"
                },
                GoJs(go.Shape, { strokeWidth: 2 }, new go.Binding("stroke", "isHighlighted", function(h) { return h ? "#ff5722" : "blue"; }).ofObject()),
                GoJs(go.Shape, { stroke: "blue", fill: "blue", fromArrow: "Backward" })
            );
    }

    document.onfullscreenchange = function (e) {
        if (!IsFullScreen()) {
            fnFullScreen('myDiagramDiv', false)
        }
    }

    function fnClose(isDialog) {
        if(IsFullScreen()) {
            fnFullScreen('myDiagramDiv', false)
        } else {
            if ((isDialog == true || isDialog == undefined) && isEditable) {
                bootbox.dialog({
                    title: "Are you sure you want to leave page?",
                    message: 'Your changes will lost.',
                    buttons: {
                        'confirm': {
                            label: 'Yes',
                            className: 'btn green',
                            callback: function () {
                                fnClose(false);
                            }
                        },
                        'cancel': { label: 'No', className: 'btn btnclose' }
                    }
                });
                return;
            }
            window.location.href = WebsiteURL + '/FunctionalChart/Index/';
        }
    }

    function SetShapeSquareArrow() {
        go.Shape._FigureParameters = {};
        go.Shape.setFigureParameter = function (figurename, index, figparam) {
            if (!(figparam instanceof FigureParameter)) throw new Error("Third argument to Shape.setFigureParameter is not FigureParameter: " + figparam);
            if (figparam.defaultValue < figparam.minimum || figparam.defaultValue > figparam.maximum) throw new Error("defaultValue must be between minimum and maximum, not: " + figparam.defaultValue);
            var arr = go.Shape._FigureParameters[figurename];
            if (!arr) {
                arr = [];
                go.Shape._FigureParameters[figurename] = arr;
            }
            arr[index] = figparam;
        };
        function FigureParameter(name, def, min, max) {
            if (min === undefined) min = 0.0;
            if (max === undefined) max = Infinity;
            this._name = name;
            this._defaultValue = def;
            this._minimum = min;
            this._maximum = max;
        };
        go.Shape.setFigureParameter("SquareArrow", 0, new FigureParameter("ArrowPoint", .7, .2, .9));
        go.Shape.defineFigureGenerator("SquareArrow", function (shape, w, h) {
            var param1 = shape ? shape.parameter1 : NaN; // pointiness of arrow, lower is more pointy
            if (isNaN(param1)) param1 = 0.9;

            var geo = new go.Geometry();
            var fig = new go.PathFigure(w, .5 * h, true);
            geo.add(fig);
            fig.add(new go.PathSegment(go.PathSegment.Line, param1 * w, h));
            fig.add(new go.PathSegment(go.PathSegment.Line, 0, h));
            fig.add(new go.PathSegment(go.PathSegment.Line, 0, 0));
            fig.add(new go.PathSegment(go.PathSegment.Line, param1 * w, 0).close());
            geo.spot1 = go.Spot.TopLeft;
            geo.spot2 = new go.Spot(param1, 1);
            return geo;
        });
        go.Shape.defineFigureGenerator("Package", function(shape, w, h) {
            var geo = new go.Geometry();
            var fig = new go.PathFigure(0, 0.15 * h, true);
            geo.add(fig);

            // Package bottom rectangle
            fig.add(new go.PathSegment(go.PathSegment.Line, w, 0.15 * h));
            fig.add(new go.PathSegment(go.PathSegment.Line, w, h));
            fig.add(new go.PathSegment(go.PathSegment.Line, 0, h).close());
            var fig2 = new go.PathFigure(0, 0.15 * h, true);
            geo.add(fig2);
            // Package top flap
            fig2.add(new go.PathSegment(go.PathSegment.Line, 0, 0));
            fig2.add(new go.PathSegment(go.PathSegment.Line, 0.6 * w, 0));
            fig2.add(new go.PathSegment(go.PathSegment.Line, 0.65 * w, 0.15 * h).close());
            geo.spot1 = new go.Spot(0, 0.1);
            geo.spot2 = new go.Spot(1, 1);
            return geo;
        });
    }

    //function ReArrangeLayout() {
    //    myDiagram.layout = go.GraphObject.make(go.TreeLayout, myDiagram_layout_prop);
    //}

    function GetColorByColorFlag(ColorFlag) {
        switch (ColorFlag) {
            case '@clsImplementationEnum.ColorFlagForESP.Green.GetStringValue()':
                return "green";
            case '@clsImplementationEnum.ColorFlagForESP.Yellow.GetStringValue()':
                return "yellow";
            case '@clsImplementationEnum.ColorFlagForESP.Red.GetStringValue()':
                return "red";
            case '@clsImplementationEnum.ColorFlagForESP.Violet.GetStringValue()':
                return "#ff02ff";
            case '@clsImplementationEnum.ColorFlagForESP.Grey.GetStringValue()':
                return "gray";
            case '@clsImplementationEnum.ColorFlagForESP.Orange.GetStringValue()':
                return "orange";
            case '@clsImplementationEnum.ColorFlagForESP.Blue.GetStringValue()':
                return "blue";
            default:
                return "red";
        }
    }
    @*
    function GetIndicateByColorFlag(ColorFlag) {
        switch (ColorFlag) {
            case '@clsImplementationEnum.ColorFlagForESP.Green.GetStringValue()':
                return "Allocation Done / Kit released / Material Requested";
            case '@clsImplementationEnum.ColorFlagForESP.Yellow.GetStringValue()':
                return "Allocation Changed /Partial Item's Allocation Done /Request to be Re-generate";
            case '@clsImplementationEnum.ColorFlagForESP.Red.GetStringValue()':
                return "Allocation Not Done / All Item's Allocation Not Done / Material Not ready";
            case '@clsImplementationEnum.ColorFlagForESP.Violet.GetStringValue()':
                return "Any Item's allocated quantity and required quantity is Mismatch / Task Manager is Mismatch";
            case '@clsImplementationEnum.ColorFlagForESP.Grey.GetStringValue()':
                return "";
            case '@clsImplementationEnum.ColorFlagForESP.Orange.GetStringValue()':
                return "All Item's Allocation Done";
            case '@clsImplementationEnum.ColorFlagForESP.Blue.GetStringValue()':
                return "Ready For Parent";
            default:
                return "";
        }
    }*@

    function fillTaskManagerDropdown() {
        $("#ddlTaskManager").change(function () {
            var valueTask = $(this).val();
            if (valueTask)
                $("#TaskManager").val(valueTask);
            else
                $("#TaskManager").val("");
        });
        //LoadTreeView();
        if($("#DeleverTo").val())
            $('#ddlTaskManager').removeAttr("disabled");
        else{
            $('#ddlTaskManager').attr("disabled","disabled");
            $('#ddlTaskManager').html('');
            return;
        }

        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/GetTaskManagerListByDeleverTo",
            type: "POST",
            data: { DeleverTo: $("#DeleverTo").val() },
            beforeSend: function () { showLoading(true); },
            complete: function () { showLoading(false); },
            success: function (data) {
                Select2EditWithSource($('#ddlTaskManager'),data,"--Select Task--",$("#TaskManager").val());
                if (data.length == 1) {
                    $("#TaskManager").val(data[0].id)
                    $('#ddlTaskManager').val(data[0].id).trigger("change");
                }
                //$('.select2-search__field').css("width", "unset");
            }
        });
    }

    function bootclose(){
        $('.bootbox.modal').modal('hide');
    }

    function getInputDate(date){
        if(date){
            try {
                var dates = new Date(date);
                var day = ("0" + dates.getDate()).slice(-2);
                var month = ("0" + (dates.getMonth() + 1)).slice(-2);
                return dates.getFullYear()+"-"+(month)+"-"+(day) ;
            } catch (e) {
            }
        }
    }

    function getDateFormate(date) {
        if(date) {
            try {
                var arrDate = new Date(date).toDateString().split(" ");
                return (arrDate[2]+"-"+arrDate[1]+"-"+arrDate[3].slice(-2));
            } catch (e) { }
        }
        return "";
    }

    // create copy of this method,because of scope issue of original method
    function mayWorkForCopy(node1, node2) {

        if (lstESPLine[node1.key] != null && lstESPLine[node1.key].NoOfPieces > 0) {
            if(!isEditable || !(node1 instanceof go.Node) || node1 === node2 || node1.data.parent === node2.key) return false;
            isParent = false;
            isChildOfParentCopy(node2,node1.key)
            if (!isParent && status == '@clsImplementationEnum.CTQStatus.Approved.GetStringValue()') {
                if (node1.data.producttype == "PLT") {
                    if (node2.data.producttype === "ASM" && !node2.data.isrequested)
                        return true;
                    //return (lstESPLine[node2.key].NoOfPieces == "" || lstESPLine[node2.key].NoOfPieces == 1);

                    return false;
                } else if (node1.data.producttype == "ASM")
                    return (node2 && node2.data.producttype === "ASM" && !node2.data.isrequested);
                return true;
            } else
                return false;
        }else {
            return false;
        }
    }

    // create copy of this method,because of scope issue of original method
    function isChildOfParentCopy(Node,ParentKey) {
        if(!Node) return true;
        if(Node.data.parent == ParentKey) {
            isParent = true;
            return false;
        }
        isChildOfParentCopy(Node.findTreeParentNode(),ParentKey)
    }

    function DiagramMove(obj) {

        var selectedKey = obj.part.data.key;

        LoadChildDataByParent(selectedKey);

        var lstPltFilterData = $.grep(lstDiagramdata, function(v) {
            return (v.producttype != "PLT");
        });

        lstOwnFilterData = $.grep(lstPltFilterData, function(v) {
            return (v.key != obj.part.data.key);
        });

        lstFinalFilterData = $.grep(lstOwnFilterData, function(v) {
            return (v.key != obj.part.data.parent);
        });

        var getFilterData = [];
        for (var i = 0; i < lstAllChildData.length; i++) {
            for (var j = 0; j < lstFinalFilterData.length; j++) {
                if (lstAllChildData[i].NodeId == lstFinalFilterData[j].key) {
                    getFilterData.push(lstFinalFilterData[j]);
                    lstFinalFilterData.splice(j,1);
                }
            }
        }

        var bindControl = "<input type='text' id='ddlDestination' name='ddlDestination' class='form-control ui-autocomplete-input checkcls clsqty' placeholder='-- Select --' required >" +
            " <input type='hidden' id='txtDestination' name='txtDestination'/>";

        var dvPlateSplit = "<div id='dvPlateSplit'>" +
                "<div class='row'>" +
                "<div class='col-md-12' style='padding:0 0 5px 0'>" +
                "<div class='col-md-6' style='padding:0px;'>" +
                "<label class='control-label' style='font-weight: bold;'>Source Kit</label>" +
                "</div>" +
                "<div class='col-md-6'>" +
                 "<label class='control-label' style='margin-left: 0px;font-weight: bold;'>Destination Kit</label>" +
                "</div>" +
                "</div>" +

                "<div class='col-md-12' style='padding:0 0 5px 0'>" +
                "<div class='col-md-6' style='padding:0px;'>" +
                "<label class='control-label'><b>" + obj.part.data.findno + "</b> - " + obj.part.data.name + "</label>" +
                "</div>" +
                "<div class='col-md-6'>" +
                 "<label class='control-label' style='margin-left: 0px;'>" + bindControl + "</label>" +
                "</div>" +
                "</div>" +
                "</div>" +

                "</div>";

        bootbox.dialog({
            title: "Movement",
            message: dvPlateSplit,
            onEscape: function () {
                loadDiagram();
            },
            buttons: {
                'yes': {
                    label: 'Move',
                    className: 'btn btn-primary',
                    callback: function () {

                        var checkDesVal = $("#txtDestination").val();

                        if (checkDesVal) {
                            var SourceNode =  myDiagram.findNodesByExample({ key: selectedKey }).first();
                            var DestinationNode =  myDiagram.findNodesByExample({ key:  parseInt(checkDesVal) }).first();

                            if (!mayWorkForCopy(SourceNode, DestinationNode)) {

                                DisplayNotiMessage("error", "You can not move !!", "Error");
                                return false;

                            }else {

                                var checkMove = DragNDrop(checkDesVal +"#", selectedKey +"#"+ $('#HeaderId').val());
                                if(checkMove){
                                    lastSelectedNodeKey = checkDesVal;
                                    var prevParentNode =  myDiagram.findNodesByExample({ parent: SourceNode.data.parent }).first();
                                    var link = SourceNode.findTreeParentLink();
                                    if (link !== null)  // reconnect any existing link
                                        link.fromNode = DestinationNode;
                                    else // else create a new link
                                        diagram.toolManager.linkingTool.insertLink(DestinationNode, node.DestinationNode, SourceNode, SourceNode.port);


                                    TempDestinationNode = DestinationNode;
                                    count = 1;
                                    while (count == 1) {

                                        var getParentKey =  TempDestinationNode.part.data.parent;
                                        var getCurrentNode =  myDiagram.findNodesByExample({ key: TempDestinationNode.part.data.key }).first();
                                        getCurrentNode.expandTree();

                                        if (TempDestinationNode.part.data.parent == 0) {
                                            count = 0;
                                        }else {
                                            TempDestinationNode =  myDiagram.findNodesByExample({ key: getParentKey }).first();
                                            count = 1;
                                        }
                                    }

                                    myDiagram.model.commit(function (m) {
                                        SetChildNodePlannedDate(SourceNode, m);
                                        SetChildNodePlannedDate(prevParentNode, m);
                                    }, "change");


                                }else {
                                    DisplayNotiMessage("error", "You can not move !!", "Error");
                                    return false;
                                }
                            }
                        }
                        else {
                            DisplayNotiMessage("error", "Destination kit required!", "Validation");
                            return false;
                        }
                    }
                },
                'cancel': {
                    label: 'Cancel',
                    className: 'btn btnclose',
                    callback: function () {
                        loadDiagram();
                    }
                },
            }
        });
        window.setTimeout(function () {

            $("#ddlDestination").autocomplete({
                source: function (request, response) {
                    var array = $.map(lstFinalFilterData, function (item) {
                        var findnumber = item.findno != null ? item.findno : 0;
                        return {
                            label: findnumber + ' - ' + item.name,
                            value: findnumber + ' - ' + item.name,
                            id: item.key
                        }
                    });
                    response($.ui.autocomplete.filter(array, request.term));
                },
                autoFocus: true,
                minLength: 0,
                select: function (event, ui) {
                    $(this).val(ui.item.value);
                    $("#txtDestination").val(ui.item.id);
                },
                change: function (event, ui) {
                    if (ui.item == null) {
                        $(this).val('');
                        $(this).focus();
                    }
                }
            }).focus(function () {
                $(this).data("uiAutocomplete").search($(this).val());
                $(this).autocomplete("search");
            });

        }, 500)
    }

    function LoadChildDataByParent(NodeId) {

        if(NodeId) {
            $.ajax({
                url: WebsiteURL+"/ESP/MaintainESP/ChildDataByParent",
                type: "POST",
                data: {NodeId:NodeId},
                async: false,
                beforeSend: function () { showLoading(true); },
                complete: function () { showLoading(false); },
                success:function (results) {
                    if(results.Key) {
                        lstAllChildData = results.data;
                    } else {
                        DisplayNotiMessage("error", results.value,"Error");
                    }
                }
            })
        }
    }

    function ReadyForParentFn(obj) {

        var selectedKey = obj.part.data.key;

        var password = "<input type='password' id='txtpassword' name='txtpassword' class='form-control' placeholder='Password' required >";
        var dvAuthenticate = "<div id='dvAuthenticate'>" +
                "<div class='row'>" +

                "<div class='col-md-12' style='margin-top:10px'>" +
                "<div class='col-md-4'>" +
                 "<label class='control-label' style='margin-top:8px'>Password<span class='required'>*</span></label>" +
                "</div>" +
                "<div class='col-md-8'>" +
                 password  +
                "</div> " +
                "</div>" +
                "</div>" +

                "</div>";

        bootbox.dialog({
            title: "Authentication",
            message: dvAuthenticate,
            size:"small",
            onEscape: function () {
                loadDiagram();
            },
            buttons: {
                'yes': {
                    label: 'Verify',
                    className: 'btn btn-primary',
                    callback: function () {
                        var psw = $("#txtpassword").val();
                        if(psw) {
                            $.ajax({
                                url: WebsiteURL+"/ESP/MaintainESP/AutoReadyForParent",
                                type: "POST",
                                data: { NodeId:selectedKey, password:psw },
                                //async: false,
                                beforeSend: function () { showLoading(true); },
                                complete: function () { showLoading(false); },
                                success:function (results) {
                                    if (results.Key) {
                                        DisplayNotiMessage("success", "Ready for parent successfully ","success");
                                        loadDiagram();
                                    }else {
                                        DisplayNotiMessage("error", results.Value, "Error");
                                    }
                                }
                            })
                        }else {
                            DisplayNotiMessage("error", "Password is required","Error");
                        }
                    }
                },
                'cancel': {
                    label: 'Cancel',
                    className: 'btn btnclose',
                    callback: function () {
                        loadDiagram();
                    }
                },
            }
        });
    }
</script>
