﻿@using IEMQSImplementation
<style>
    .mleft0 {
        margin-left: 0px;
    }

    .scrollmenu {
        height: 560px;
        overflow: auto;
    }

    .borderright {
        border-left: 1px solid #000000;
    }

    .textright {
        text-align: right;
    }

    .textleft {
        text-align: left;
    }

    body.modal-open {
        overflow: hidden;
    }
</style>

<div class="col-md-12 " id="firsttab">
    <div class="row clsform">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="form-group" style="max-height:560px;overflow:auto;">
                <div class="col-md-12">
                    <div class="col-md-1 nopad">
                        <label class="control-label"><b>IsSkirt</b></label>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label"><b>Assembly</b></label>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label"><b>QTY</b></label>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="form-group clsHeaderDet" id="Form">
                <div class="col-md-12 dvstaticmain nopad">
                    <div class="col-md-1">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input class="clsisskirt" id="skirt" name="isskirt" type="checkbox" value="false"><span></span>
                            <input type="hidden" class="skirt" name="isskirt" value="false">
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <input type="text" id="Assembly" name="Assembly" class="form-control col-md-3 ui-autocomplete-input checkcls clsname" placeholder="Assembly" maxlength="30" onblur="UpdateNameData(this)">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <input type="text" id="AssemblyQty" name="AssemblyQty" class="form-control col-md-3 ui-autocomplete-input checkcls clsqty" placeholder="Qty" onkeypress="return isNumber(event)" maxlength="2">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="">
                            <button class="btn green btn-outline btn-circle addClass addbutton" id="add"><i class="fa fa-plus" id="plus"></i></button>
                            <button class="hidden btn red btn-outline btn-circle removeclass addbutton" id="add"><i class="fa fa-minus" id="minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 hidden" id="secondtab">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <form name="form_name" id="form_id" class="form_class ">
                <div id="viewbag_option" class="hidden">
                    @if (ViewBag.IsInitList != null)
                    {
                        foreach (var item in ViewBag.IsInitList)
                        {
                            <option value="@item.nodeId">@item.nodeName</option>
                        }
                    }
                </div>
                <div id="pwhtlist">
                </div>
                <div id="pagelist">
                </div>
                <div id="formlist">
                </div>
                <div>
                    <input type="hidden" name="hidsection" id="hidsection" value="" />
                    <input type="hidden" name="hidheaderid" id="hidheaderid" value="" />
                    <input type="hidden" name="hidequipment" id="hidequipment" value="" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var nameFieldCount = 0;
        var newObjName = null;
        var newObjQty = null;
        var nos = 0;
        var headerid = 0;
        var equipmentid = 0;
       
        $("body").on("click", ".removeClass", function () {

            $(this).parent('div').parent('div').parent('div').remove(); // To Remove Name Field
            return false;
        });

        $("body").on("click", ".addClass", function () {

            var validate = true;

            $(".clsname").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('error');
                    validate = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            $(".clsqty").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('error');
                    validate = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            if (validate) {

                $(this).closest(".dvstaticmain").addClass("display-none");
                nameFieldCount++; // To Add More Name Fields
                $("#Form").append('<div class="col-md-12 dvstaticmain nopad" id="divAssem_' + nameFieldCount + '" >' +
                    '<div class="col-md-1"> <label class="control-label">&nbsp;</label><div class="">' +
                    '<label class="mt-checkbox mt-checkbox-outline"> <input class="clsisskirt" id="isskirt_' + nameFieldCount + '" name="isskirt" type="checkbox" value="false"><span></span> ' +
                    '<input type="hidden" class="isskirt_' + nameFieldCount + '" name="isskirt" value="false"></label></div></div>' +
                    '<div class="col-md-6"> <label class="control-label">&nbsp;</label><div class="">' +
                    '<input type="text" id="Assembly_' + nameFieldCount + '" name="Assembly" class="form-control col-md-3 ui-autocomplete-input checkcls clsname" placeholder="Assembly" maxlength="30" onblur="UpdateNameData(this)"></div></div>' +
                    '<div class="col-md-3"><label class="control-label">&nbsp;</label><div class="">' +
                    '<input type="text" id="AssemblyQty_' + nameFieldCount + '" name="AssemblyQty" class="form-control col-md-3 ui-autocomplete-input checkcls clsqty" placeholder="Qty" onkeypress="return isNumber(event)" maxlength="2"></div></div>' +
                    //'<div class="col-md-1"><label class="control-label">&nbsp;</label><div class="">' +
                    //'<input type="button" class="btn btn-primary addClass" id="add" value="+"></div></div>' +
                    '<div class="col-md-2"><label class="control-label">&nbsp;</label><div class="">' +
                    '<button class="btn green btn-outline btn-circle addClass addbutton addcls" id="minus"><i class="fa fa-plus" id="plus"></i></button></div></div>' +
                    //'<input type="text" name="mytext[]" id="field_' + nameFieldCount + '" placeholder="Name ' + nameFieldCount +
                    //'"/>' + '<button class="removeclass0">x</button>' + '<button class="addclass0">+</button>' + '<br>' +
                '</div>');
                $(this).removeClass("btn green btn-outline btn-circle addbutton");
                $(this).removeClass("addClass addcls");
                $(this).html("<i class='fa fa-minus' id='minus'></i>")
                $(this).addClass("btn red btn-outline btn-circle addbutton");
                $(this).addClass("removeClass removecls");
                $(this).closest(".dvstaticmain").fadeIn(1000);
                window.setTimeout(function () {
                    $("#Assembly_" + nameFieldCount).focus();
                }, 500)

                var formheight = $(".dvstaticmain").height();

                var height_pct = Math.round($('.dvstaticmain').height() / $('.dvstaticmain').parent().parent().height() * 100);

                if (height_pct < 7) {
                    //alert("max");
                    $("#firsttab").addClass("scrollmenu");
                }
                else {
                    //alert('min');
                }

                return true;// you can submit form or send ajax or whatever you want here
            } else {
                //alert("please fill all the details")
                return false;
            }

            //nameFieldCount++; // To Add More Name Fields
            //$("#Form").append('<div class="col-md-12">' +
            //    '<div class="col-md-8"> <label class="control-label">&nbsp;</label><div class="">' +
            //    '<input type="text" id="Assembly_' + nameFieldCount + '" name="Assembly" class="form-control col-md-3 ui-autocomplete-input checkcls clsname" placeholder="Assembly" autocomplete="off"></div></div>' +
            //    '<div class="col-md-2"><label class="control-label">&nbsp;</label><div class="">' +
            //    '<input type="text" id="AssemblyQty_' + nameFieldCount + '" name="AssemblyQty" class="form-control col-md-3 ui-autocomplete-input checkcls clsqty" placeholder="Qty" onkeypress="return isNumber(event)" autocomplete="off"></div></div>' +
            //    //'<div class="col-md-1"><label class="control-label">&nbsp;</label><div class="">' +
            //    //'<input type="button" class="btn btn-primary addClass" id="add" value="+"></div></div>' +
            //    '<div class="col-md-2"><label class="control-label">&nbsp;</label><div class="">' +
            //    '<button class="btn btn-success addClass" id="minus"><i class="fa fa-plus" id="plus"></i></button></div></div>' +
            //    //'<input type="text" name="mytext[]" id="field_' + nameFieldCount + '" placeholder="Name ' + nameFieldCount +
            //    //'"/>' + '<button class="removeclass0">x</button>' + '<button class="addclass0">+</button>' + '<br>' +
            //'</div>');
            //$(this).removeClass("btn-success");
            //$(this).removeClass("addClass");
            //$(this).html("<i class='fa fa-minus' id='minus'></i>")
            //$(this).addClass("btn-danger");
            //$(this).addClass("removeClass");
            //return false;
        });

        /*-----------------------------------
        Form Method
        -------------------------------------*/

        var form = document.getElementById("form_id");
        $("#btnSavemodal").unbind('click');
        $("#btnSavemodal").click(function () {
            var validateform = true;
            $(".sectionbox").each(function () {
                if ($(this).val() == "0") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            $(".pwhtpages").each(function () {
                if ($(this).val() == "0") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            $(".initpages").each(function () {
                if ($(this).val() == "0") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });
           
            if (validateform) {

                var noofSections = $("#Section").val();
                var noofPages = $("#PWHT").val();
                var Name = [];
                var Numeric = [];
                var Isskirt = [];
                var name = $(".clsname").each(function () {
                    Name.push($(this).val());
                });

                var qty = $(".clsqty").each(function () {
                    Numeric.push($(this).val());
                });

                $("[name='isskirt']").not("[type='hidden']").each(function () {
                    Isskirt.push($(this).prop("checked"));
                });

                var frmSaveHeaderValue = $("#" + form.id).serializeArray();
                var formData = new FormData();
                $.each(frmSaveHeaderValue, function (key, input) {
                    formData.append(input.name, input.value);
                });

                formData.append("Numeric", Numeric);
                formData.append("Name", Name);
                formData.append("noofSections", noofSections);
                formData.append("noofPages", noofPages);
                formData.append("Isskirt", Isskirt);
                $('#modalDynamic').modal('hide');
                $.ajax({
                    url: WebsiteURL + "/ESP/MaintainESP/DynamicForm",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (data) {
                        window.location.href = WebsiteURL + "/ESP/MaintainESP/ESPDetails/" + $("#hidheaderid").val() + "?urlForm=" + '@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()';
                    },
                    error: function () {
                        $('#modalDynamic').modal('show');
                    }
                });
            } else {
                return false;
            }
        });

        $("#btnGenerate").bind("click", function () {

            var validateform = true;

            $(".clsname").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            $("#Section").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            $("#PWHT").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            $(".clsqty").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('error');
                    validateform = false;
                } else {
                    $(this).removeClass('error');
                }
            });

            if (validateform) {

                $(".clsname").each(function () {
                    $(this).attr('readonly', 'readonly');
                });

                $(".clsqty").each(function () {
                    $(this).attr('readonly', 'readonly');
                });

                $(".addbutton").each(function () {
                    if ($(this).hasClass("removeClass")) {
                        $(this).removeClass('removeClass');
                    } else {
                        $(this).removeClass('addClass');
                    }
                });
                $(".clsisskirt").attr("disabled", "disabled");
                $("#Section").attr('readonly', 'readonly');
                $("#PWHT").attr('readonly', 'readonly');

                $("#modelchangeid").removeClass("modal-md");
                $("#modelchangeid").addClass("modal-lg");
                $("#firsttab").removeClass("col-md-12");
                $("#firsttab").addClass("col-md-6");

                $("#secondtab").addClass("borderright");
                $("#secondtab").removeClass("col-md-12");
                $("#secondtab").removeClass("hidden");
                $("#secondtab").addClass("col-md-6");
                // $("#secondtab").addClass("scrollmenu");

                if ($('#modalDynamic').is(':visible')) {
                    $("#modelchangeid").css({ "width": "80%", "margin": "2% auto" });
                } else {
                    $("#modelchangeid").removeAttr("style");
                }

                var Name = [];
                var numeric = [];
                var Isskirt = [];

                var name = $(".clsname").each(function () {
                    Name.push($(this).val());
                });

                var qty = $(".clsqty").each(function () {
                    numeric.push($(this).val());
                });

                $("[name='isskirt']").not("[type='hidden']").each(function () {
                    Isskirt.push($(this).prop("checked"));
                });

                headerid = $("#HeaderId").val();
                equipmentid = $("#hdnEquipment").val();

                var PWHT_NO = $("#PWHT").val();
                if (PWHT_NO != undefined && PWHT_NO != '' && PWHT_NO > 0) {
                    $("#pwhtlist").empty();
                    var name = "PWHT-Sections";
                    for (var i = 1; i <= PWHT_NO; i++) {
                        AddNewinitial(name, i)
                    }
                }

                var pageno = $("#Section").val();
                if (pageno != undefined && pageno != '' && pageno > 0) {
                    $("#pagelist").empty();
                    var name = "Fab.Sec";
                    for (var i = 1; i <= pageno; i++) {
                        AddNewPWHT(name, i)
                    }
                }

                if (Name.length > 0) {

                    $("#formlist").empty();

                    for (var i = 0; i < Name.length; i++) {
                        //var tnof = $("#tophead").val();
                        if (i >= 0) {
                            dynamicinput(numeric[i], Name[i], Isskirt[i], 'formlist');
                        }
                    }
                    selectsection();

                    $("#hidheaderid").val(headerid);
                    $("#hidequipment").val(equipmentid);
                    $("#btnGenerate").addClass('hidden');
                    $('#btnGenerate').prop('disabled', true);
                    $("#btnEdit").removeClass('hidden');

                    //$(".clssection").empty();
                    //$(".clsform").empty();
                    $("#btnSavemodal").removeClass('hidden');

                    var formheight = $("#secondtab").height();

                    //var height_pct = Math.round($('#secondtab').height() / $('#secondtab').parent().parent().height() * 100);

                    if (formheight >= 560) {
                        $("#secondtab").addClass("scrollmenu");
                    }
                }
            } else {
                return false;
            }
        });

        $("#btnclose").click(function () {
            btnclose();
        });

        $("#btnCloseModal").click(function () {
            btnclose();
        });

        $(document).on('change', 'input[name=Int]', function () {
            var val = this.checked ? true : false;
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=Noz]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=Ext]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=chkMTC]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=chkPTC]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        $(document).on('change', 'input[name=isskirt]', function () {
            var val = this.checked ? true : false;
            $(this).val(val);
            var cls = this.id;
            $("." + cls).val(val);
        });

        /*---------------------------------------------------------------
        No Of Add Name Field Top head
        ----------------------------------------------------------------*/
        $(".kmfs").change(function () {

            var tnof = $("#tophead").val();
            var bnof = $("#bottomhead").val();
            var snof = $("#shell").val();
            var cnof = $("#Cone").val();
            var senof = $("#Sections").val();

            if (tnof != "" && bnof != "" && snof != "" && cnof != "" && senof != "") {
                //alert(tnof);
                $('#btnGenerate').removeAttr('disabled');
            } else {
                //$('#btnGenerate').addAttr('disabled');
                $('#btnGenerate').prop('disabled', true);
            }
        });
    });

    function getConfirmation() {
        bootbox.confirm("<Label>By ReDefine the Given Number Of Quentity For Assemblys Will be No Longer Exist.</Label><br><Label>Do you want to Continue?</Label>",
        function (result) {
            if (result == true) {
                ReDefine();
                return true;
            }
        })
    }

    function UpdateNameData(txt) {
        $this = $(txt);
        var isExist = false;
        $('.clsname').each(function () {
            if ($(this).attr("id") != $this.attr("id")) {
                if ($(this).val().toLowerCase() == $this.val().toLowerCase()) {
                    DisplayNotiMessage("error", $this.val() + " is already exist in assembly!", "Error");
                    isExist = true;
                    return false;
                }
            }
        });
        if ($this.val().toLowerCase().indexOf(',') > -1) {
            DisplayNotiMessage("error", " Special character [,] is not allowed!", "Error");
            isExist = true;
        }
        if (!isExist) {
            $this.closest(".mainassembly").attr("data-name", $this.val());
        }
        else {
            $this.val("");
            $this.focus();
        }
    }

    function ReDefine() {

        $(".clsname").each(function () {
            $(this).removeAttr('readonly', 'readonly');
        });

        $(".clsqty").each(function () {
            $(this).removeAttr('readonly', 'readonly');
        });

        $(".addbutton").each(function () {
            if ($(this).hasClass("removecls")) {
                $(this).addClass('removeClass');
            } else {
                $(this).addClass('addClass');
            }
        });

        $("#Section").removeAttr('readonly', 'readonly');
        $("#PWHT").removeAttr('readonly', 'readonly');


        $("#modelchangeid").removeClass("modal-lg");
        $("#modelchangeid").removeClass("modal-md");
        $("#modelchangeid").removeAttr("style");

        $("#firsttab").removeClass("col-md-6");
        $("#firsttab").addClass("col-md-12");

        $("#secondtab").removeClass("borderright");
        $("#secondtab").addClass("col-md-12");
        $("#secondtab").addClass("hidden");
        $("#secondtab").removeClass("col-md-6");
        //$("#secondtab").html('');
        $("#formlist").empty();

        //buttons
        $("#btnEdit").addClass("hidden");
        $("#btnSavemodal").addClass("hidden");
        $("#btnGenerate").removeClass("hidden");
        $('#btnGenerate').removeAttr('disabled');
    }

    function btnclose() {
        var hid = $("#HeaderId").val();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/_DynamicType",
            data: {
                headerid: hid,
            },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (response) {
                $("#dynamicView").html(response);
                $("#btnGenerate").removeClass("hidden");
                $('#btnGenerate').removeAttr('disabled');
                $("#secondtab").html("");
                $("#btnSavemodal").addClass("hidden");
                $("#btnEdit").addClass("hidden");
                $("#Section").val("");
                $("#Section").removeAttr('readonly');
                $("#PWHT").val("");
                $("#PWHT").removeAttr('readonly');
                $("#modelchangeid").removeClass("modal-lg");
                $("#modelchangeid").addClass("modal-md");
                $("#modelchangeid").removeAttr("style");
            },
            error: function () {
                alert("error occured");
            }
        });
    }

    function selectsection() {
        nof = 0;
        $(".sectionbox").empty();
        nos = $("#Section").val();
        if (nos > 0) {
            $('.sectionbox').append($('<option>',
                {
                    value: 0,
                    text: "---Select---"
                }));
            for (i = 1; i <= nos; i++) {
                $('.sectionbox').append($('<option>',
                {
                    value: i,
                    text: "Fab.Section-" + i
                }));
            }
        }
        $("#hidsection").val(nos);
    }

    function AddNewinitial(name, i) {
        var $subassembly = $("#pwhtlist").find("[data-mainassembly='" + name + "']");
        var existQty = $subassembly.find("[data-assembly='" + name + "']").length;
        var newelem = "";
        if (existQty == 0) {
            newelem = '<fieldset data-mainassembly=' + name + '>' +
                             '<legend>' + name + ' Pages </legend>';
        }
        newelem +=
         '<div class="form-group clsHeaderDetinit clsrevertinitsection" data-assembly=' + name + ' data-section="0">' +
                  '<div class="col-md-12 nopad">' +
                  '<div class="col-md-3">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="control-label">' + name + '-' + i + '</label>' +
                  '<input name="InitLabel" type="hidden" value="' + name + '-' + i + '">' +
                  '<input name="InitparentLabel" type="hidden" value="' + name + '">' +
                  '<input name="Initsection" type="hidden" value="' + i + '">' +
                  '</div>' +
                  '</div>' +
                  '<div class="name col-md-8" id="secInitInputsWrapper_0' + i + '">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  //'<select type="text"  id="sectionPWHT' + i + '" name="sectionPWHT" data-PWHT="PWHT" class="form-control autocomplete col-md-3 ui-autocomplete-input valid" autocomplete="off" aria-required="true" aria-invalid="false" onblur="Updateswp(this);">' +
                  //'<input id="NO_PWHT_sectionPWHT' + i + '" name="NO_PWHT_sectionPWHT' + i + '" type="hidden" value="">' +
                  '<select name="initpages" class="initpages textbox form-control col-md-3 ui-autocomplete-input" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '" onchange="UpdateInitSectionData(this);">' + GetInitSectionOptions() + '</select>' +
                  //'<select id="sectionPWHT' + i + '" name="sectionPWHT" multiple="multiple" data-PWHT="PWHT" class=" select2-search__field form-control autocomplete clsdynamicform col-md-3" onchange="sectionPWHT_change(this)"></select>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
        if (existQty == 0) {
            newelem += "</fieldset>";
        }
        if ($subassembly.length == 0) {
            $("#pwhtlist").append(newelem);
        }
        else {
            $subassembly.append(newelem);
        }
    }

    function AddNewPWHT(name, i) {
        var $subassembly = $("#pagelist").find("[data-mainassembly='" + name + "']");
        var existQty = $subassembly.find("[data-assembly='" + name + "']").length;
        var newelem = "";
        if (existQty == 0) {
            newelem = '<fieldset data-mainassembly=' + name + '>' +
                             '<legend>' + name + ' Pages </legend>';
        }
        newelem +=
         '<div class="form-group clsHeaderDet clsrevertpwhtsection" data-assembly=' + name + ' data-section="0">' +
                  '<div class="col-md-12 nopad">' +
                  '<div class="col-md-3">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  '<label class="control-label">' + name + '-' + i + '</label>' +
                  '<input name="PWHTLabel" type="hidden" value="' + name + '-' + i + '">' +
                  '<input name="PWHTparentLabel" type="hidden" value="' + name + '">' +
                  '<input name="PWHTsection" type="hidden" value="' + i + '">' +
                  '</div>' +
                  '</div>' +
                  '<div class="name col-md-8" id="secInputsWrapper_0' + i + '">' +
                  '<label class="control-label">&nbsp;</label>' +
                  '<div class="">' +
                  //'<select type="text"  id="sectionPWHT' + i + '" name="sectionPWHT" data-PWHT="PWHT" class="form-control autocomplete col-md-3 ui-autocomplete-input valid" autocomplete="off" aria-required="true" aria-invalid="false" onblur="Updateswp(this);">' +
                  //'<input id="NO_PWHT_sectionPWHT' + i + '" name="NO_PWHT_sectionPWHT' + i + '" type="hidden" value="">' +
                  '<select name="pwhtpages" class="pwhtpages textbox form-control col-md-3 ui-autocomplete-input" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '" onchange="UpdateSectionData(this);">' + GetSectionOptions() + '</select>' +
                  //'<select id="sectionPWHT' + i + '" name="sectionPWHT" multiple="multiple" data-PWHT="PWHT" class=" select2-search__field form-control autocomplete clsdynamicform col-md-3" onchange="sectionPWHT_change(this)"></select>' +
                  '</div>' +
                  '</div>' +
                  '</div>' +
                  '</div>';
        if (existQty == 0) {
            newelem += "</fieldset>";
        }
        if ($subassembly.length == 0) {
            $("#pagelist").append(newelem);
        }
        else {
            $subassembly.append(newelem);
        }
    }


    function UpdateInitSectionData(ddl) {
        $this = $(ddl);
        $this.closest(".clsHeaderDet").attr("data-section", $this.val());
    }

    function GetInitSectionOptions(val) {
        var viewbag_option = "<option value=\"0\">---Select---</option>";
        viewbag_option += $("#viewbag_option").html();
        return viewbag_option;
    }

    function UpdateSectionData(ddl) {
        $this = $(ddl);
        $this.closest(".clsHeaderDet").attr("data-section", $this.val());
    }

    function GetSectionOptions(val) {
        defaultoption();
        var noPWHT = $("#PWHT").val();
        var opt = "<option value=\"0\">---Select---</option>";
        opt += $("#viewbag_option").html();
        for (i = 1; i <= noPWHT; i++) {
            opt += "<option value=\"" + i + "\" " + (val == i ? " selected " : "") + ">PWHT-" + i + "</option>";
        }
        return opt;
    }

    function dynamicinput(nof, name, isskirt, path) {
    
        $("#" + path).append(
               '<fieldset>' +
               '<legend>' + name + ' Assembly </legend>' +
               '</fieldset>');

        for (i = 1; i <= nof; i++) {

            if (i > 1) {
                $("#" + path).append(
             '<div class="form-group clsHeaderDet" >' +
             '<div class="col-md-12 nopad">' +

             '<div class="col-md-3">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="control-label">' + name + '-' + i + '</label>' +
             '<input name="Label" type="hidden" value="' + name + '-' + i + '">' +
             '<input name="parentLabel" type="hidden" value="' + name + '">' +
             '</div>' +
             '</div>' +

             '<div class="name col-md-4" id="InputsWrapper_0' + i + '">' +
             '<label>&nbsp;</label>' +
             '<div class="">' +
             '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input sectionbox" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '"></select>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label>&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline" >' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Int" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Internal" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

              '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label>&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="Ext" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="External" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label>&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Noz" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Nozzle" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +


             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label>&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_MTC_' + i + '" name="chkMTC" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_MTC_' + i + '" name="MTC" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label>&nbsp;</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_PTC_' + i + '" name="chkPTC" type="checkbox" value="false" ><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_PTC_' + i + '" name="PTC" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '</div>' +
             '</div>');
            }
            else {
                $("#" + path).append(
             '<div class="form-group clsHeaderDet" >' +
             '<div class="col-md-12 nopad">' +

             '<div class="col-md-3">' +
             '<label class="control-label">&nbsp;</label>' +
             '<div class="">' +
             '<label class="control-label ">' + name + '-' + i + '</label>' +
             '<input name="Label" type="hidden" value="' + name + '-' + i + '">' +
             '<input name="parentLabel" type="hidden" value="' + name + '">' +
             '</div>' +
             '</div>' +

             '<div class="name col-md-4" id="InputsWrapper_0' + i + '">' +
             '<label>Section</label>' +
             '<div class="">' +
             '<select name="section" class="textbox form-control col-md-3 ui-autocomplete-input sectionbox" id="' + name.replace(/ /gi, "_") + '_mySelect_' + i + '"></select>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label class="mleft0">Int</label>' +
             '<div class="">' +
             '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Int" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Int_' + i + '" name="Internal" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label class="mleft0">Ext</label>' +
             '<div class="">' +
            '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="Ext" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Ext_' + i + '" name="External" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label class="mleft0">Noz</label>' +
             '<div class="">' +
              '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Noz" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_Nozzle_' + i + '" name="Nozzle" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label class="mleft0">MTC</label>' +
             '<div class="">' +
              '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_MTC_' + i + '" name="chkMTC" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_MTC_' + i + '" name="MTC" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '<div class="col-md-1 ' + (isskirt ? (isskirt ? "hidden" : "") : "") + '">' +
             '<label class="mleft0">PTC</label>' +
             '<div class="">' +
              '<label class="mt-checkbox mt-checkbox-outline">' +
             '<input class="clsReadOnly" id="' + name.replace(/ /gi, "_") + '_PTC_' + i + '" name="chkPTC" type="checkbox" value="false"><span></span>' +
             '<input type="hidden" class="' + name.replace(/ /gi, "_") + '_PTC_' + i + '" name="PTC" value="false"/>' +
             ' </label>' +
             '</div>' +
             '</div>' +

             '</div>' +
             '</div>');
            }
        }
    }

</script>
