﻿@using IEMQSImplementation
@model IEMQSImplementation.ESP.ESP101
@{
    string FileUploadLineID = "materialLine";
    string status = Model.Status;
}
<style>
    .tdalign {
        text-align: center !important;
    }
</style>
<div class="portlet box green" @*style="border-top:1px solid #5cd1db;"*@>
    <div class="portlet-title">
        <div class="caption">
            Material Details
        </div>
        @if (ViewBag.UserRole == clsImplementationEnum.UserRoleName.PLNG3.ToString() && ViewBag.buttonname == "maintain" && (status == clsImplementationEnum.CTQStatus.DRAFT.GetStringValue() || status == clsImplementationEnum.CTQStatus.Returned.GetStringValue() || status == clsImplementationEnum.CTQStatus.Approved.GetStringValue()))
        {
            <div class="tools" id="btnenm">
                <div class="btn-group">
                    <a onclick="InsertNewRecord(this);" id="btnNew" name="btnNew" class="btn btn-circle white btn-outline btn-sm" style="margin-left:10px;">New</a>
                </div>
            </div>
        }
    </div>
    <div class="portlet-body">
        <input type="hidden" id="hdnmaterial" />
        <input type="hidden" id="hdnchktype" />
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblMaterialList" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input name="select_all" value="1" id="example-select-all" type="checkbox" disabled>
                            <span></span>
                        </label>
                    </th>
                    <th class="hide">Id</th>
                    <th class="hide">NodeId</th>
                    <th class="hide">IsReady</th>
                    <th class="all" width="50%">EnablingMaterial</th>
                    <th class="all">Remarks</th>
                    <th class="all">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tblMaterialList').delegate(".autocomplete", "focusin", function () {
            var element = $(this);
            var hdElement = $(this).attr("id");
            var nodeid = $("#NodeId0").val();

            if ($(this).val() == "") {
                $("#hdnEnablingMaterial0").val('');
            }

            if ($(this).attr("colname") == "EnablingMaterial") {
                FillAutocomplete(element, "/ESP/MaintainESP/GetAllMaterial", $("#hdn" + hdElement), nodeid);
            }
        });
    });

    function FillAutocomplete(element, url, hdelement, nodeid) {
        element.autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + url,
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        NodeId: nodeid
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.text, value: item.text, id: item.id };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    hdelement.val('');
                }
            },
            select: function (event, ui) {
                hdelement.val(ui.item.id);
            },
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });
    }
    //Task 15389 On 26-06-2018
    function UpdateEnablingMaterial(data, materialid) {
        var val = false;
        if ($("#" + data.id).is(':checked') == true) {
            val = true;
        }
        var result = postmaterialdata(materialid, val);
        if (result) {
            if (val) {
                $("#" + data.id).closest('tr').addClass('gridrowbggreen');
            }
            else {
                $("#" + data.id).closest('tr').removeClass('gridrowbggreen');
            }
        }
    }

    function postmaterialdata(materialid, ischk) {
        var resultData = false;
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/UpdateEnablingMaterial",
            datatype: 'json',
            async: false,
            data: { MaterialId: materialid, isChk: ischk },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    resultData = true;
                }
                else {
                    resultData = false;
                }
            },
            error: function () {
                resultData = false;
                alert('error...');
            }
        });
        return resultData;
    }

    function GetMaterialData(nodeId) {
        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/GetIsAssemblyOrNotCheck",
            type: "POST",
            data: { NodeId: nodeId },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            success: function (data) {
                if (data.Key) {
                    $("#hdnmaterial").val(nodeId);
                    $("#hdnchktype").val(data.chktype);
                    var project = $("#Project").val();
                    MaterialList(nodeId, data.chktype);
                    DocumentList(project, data.chktype);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function MaterialList(nodeid, chktype) {
        var table = $('#tblMaterialList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "scrollY": "202px",
            "scrollX": "0px",
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            "orderClasses": false,
            fixedHeader: true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 5,
            'iDisplayLength': 5,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/GetMaterialList",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Headerid", "value": parseInt(nodeid) },
                            { "name": "ProductType", "value": chktype },
                            { "name": "Department", "value": '@ViewBag.buttonname' },
                            { "name": "Roles", "value": '@ViewBag.UserRole' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        ResetAddRowMaterial();
                    },
                    //'async': false
                });
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData[3] == "True") {
                    $(nRow).addClass('gridrowbggreen');
                }
            },
            "columns": [
                {
                    "sWidth": "5%",
                    "sClass": "center tdalign",
                    'render': function (data, type, full, meta) {
                        var chkhtml = "";
                        if (data != "") {
                            chkhtml += '<label class="mt-checkbox mt-checkbox-outline">' + data + '<span></span></label>';
                        }
                        return chkhtml;

                    }
                },
                {
                    "name": "Id",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "NodeId",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "IsReady",
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "name": "EnablingMaterial",
                    "sClass": "center",
                    "bSortable": true,
                    "width": "50%",
                },
                {
                    "name": "Remarks",
                    "sClass": "center",
                    "bSortable": true,
                    "sWidth": "25%",
                },
                {
                    "name": "Action",
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "20%",
                }
            ]
        });

        if ('@ViewBag.buttonname' == "approve") {
            oTable.api().column(0).visible(false);
            oTable.api().column(6).visible(false);
        }
        else {
            if ('@ViewBag.UserRole' != '@clsImplementationEnum.UserRoleName.PLNG3.ToString()') {
                oTable.api().column(0).visible(false);
                oTable.api().column(6).visible(false);
            }
        }

    }

    function UpdateMaterialHeader(objColumn, emID) {
        var columnValue = $(objColumn).val();
        var nodeid = $("#hdnmaterial").val();

        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/UpdateMaterialHeader",
            datatype: 'json',
            data: { emId: emID, columnValue: columnValue },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (result) {
                if (result.Key) {
                    $("#tblMaterialList").DataTable().ajax.reload();
                }
            },
            error: function () {
                alert('error...');
            }
        });
    }

    function AddAndUpdateDetails(lineid, headerid, project, actions) {
        bootbox.hideAll();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/AddAndUpdateMaterialDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { LineId: lineid, HeaderId: parseInt(headerid), taskActions: actions },
            success: function (result) {
                bootbox.dialog({
                    title: 'Enabling Material Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'confirm': {
                            label: 'Save',
                            className: 'btn save',
                            callback: function () {
                                if ($("#frmESPSubCategory").valid()) {
                                    frmLineData = new FormData();
                                    frmValues = $('#frmESPSubCategory').serializeArray();
                                    $.each(frmValues, function (key, input) {
                                        frmLineData.append(input.name, input.value);
                                    });
                                    frmLineData.append("Project", project);
                                    var fxrReqdate = $("#FixRequiredDate").val();
                                    var matReqdate = $("#MaterialReqDate").val();

                                    if (IsValidDate(fxrReqdate, matReqdate)) {
                                        SaveLine(frmLineData);
                                        return false;
                                    }
                                    else {
                                        DisplayNotiMessage("error", "Material requirement date to be 15 days prior to fixture requirement date.", "Error");
                                        return false;
                                    }

                                }
                                else {
                                    HighlightInValidControls();
                                    return false;
                                }
                            }
                        },
                        'cancel': {
                            label: 'Close',
                            className: 'btnclose'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }

    function SaveLine(formData) {

        $.ajax({
            url: WebsiteURL + '/ESP/MaintainESP/SaveSubCategory',
            data: formData,
            contentType: false,
            processData: false,
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $("#txtHeaderId").val(data.HeaderId);
                    $('#tblESPDataList').DataTable().ajax.reload();
                    ClearControls();
                    //window.location.reload();
                    //FixtureLinesGrid(data.HeaderId);
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }
    //Code Comment because of remove FKM111 reference from FKM106
    //function ViewDetails(headerid) {
    //    $.ajax({
    //        type: "POST",
    //        url: WebsiteURL + "/ESP/MaintainESP/GetMaterialDetails",
    //        datatype: 'html',
    //        beforeSend: function () {
    //            showLoading(true);
    //        },
    //        complete: function () {
    //            showLoading(false);
    //        },
    //        async: false,
    //        data: { HeaderId: headerid },
    //        success: function (result) {
    //            bootbox.dialog({
    //                title: 'Enabling Material Details',
    //                message: result,
    //                size: 'large',
    //                buttons: {
    //                    'cancel': {
    //                        label: 'Close',
    //                        className: 'btnclose'
    //                    }
    //                }
    //            });
    //        },
    //        error: function () {
    //        }
    //    });
    //}

    function DeleteLine(lineid, headerid) {
        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/DeleteMaterialDetails",
            type: "POST",
            data: { LineId: lineid, HeaderId: headerid },
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            success: function (data) {
                if (data.Key) {
                    DisplayNotiMessage("success", data.Value, "Success");
                    $('#tblESPDataList').DataTable().ajax.reload();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function reloadtblgrid() {
        $("#Attachments" + tempLineId).attr('style', 'cursor: pointer;margin-left:5px;color:#32CD32');
    }

    function InsertNewRecord(obj) {
        $('#tblMaterialList').find("tbody tr:first").toggle();
        if ($('#tblMaterialList').find("tbody tr:first").is(":visible")) {
            $(obj).text("Cancel");
            var delayedFn, blurredFrom;
            $('#tblMaterialList').find("tbody tr:first").on('blur', 'a', function (event) {
                blurredFrom = event.delegateTarget;
                delayedFn = setTimeout(function () { SaveNewRecord(); }, 0);
            });
            $('#tblMaterialList').find("tbody tr:first").on('focus', 'a', function (event) {
                if (blurredFrom === event.delegateTarget) {
                    clearTimeout(delayedFn);
                }
            });
        }
        else {
            $(obj).text("New");
        }
    }

    function SaveNewRecord() {
        var nodeid = $("#NodeId0").val();
        var material = $("#EnablingMaterial0").val();
        var materialid = $("#hdnEnablingMaterial0").val();
        var remarks = $("#Remarks0").val();

        if (material == "" && parseInt(materialid) > 0) {
            $("#hdnEnablingMaterial0").val('');
            DisplayNotiMessage("error", "Please select enabling material", "Error");
            return false;
        }
        if (materialid != 0) {
            SaveMaterialLines(nodeid, materialid, remarks);
        }
        else {
            DisplayNotiMessage("error", "Please select enabling material", "Error");
        }

    }

    function SaveMaterialLines(nodeid, materialid, remarks) {
        $.ajax({
            url: WebsiteURL + '/ESP/MaintainESP/SaveNewMaterial',
            data: {
                NodeId: parseInt(nodeid),
                MaterialId: parseInt(materialid),
                Remarks: remarks
            },
            type: 'POST',
            //async: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key == true) {
                    $("#tblMaterialList").DataTable().ajax.reload();
                    ResetAddRowMaterial();
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }

    function ResetAddRowMaterial() {
        $('#tblMaterialList').find("tbody tr:first").hide();
        $('#tblMaterialList').find("tbody tr:first").css("background-color", "#fbffb2");
        $("#btnNew").text("New");
    }

    function SetValues() {
        IsCallSuccessCallbackFunc@(FileUploadLineID) = true;
    }

    function ViewAttachment(LineId, isReadOnly) {
        if (parseInt(LineId) > 0) {

            if (isReadOnly == 'true') {
                tempLineId = LineId;
                var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
                objFileUploadLine.ShowDeleteAction = false;
                objFileUploadLine.ShowAttachmentBtn = false;
                objFileUploadLine.FolderPath = "ESP106/" + LineId;
                objFileUploadLine.LoadInPopup = true;
                objFileUploadLine.SuccessCallbackFunction = "reloadtblgrid()";
                objFileUploadLine.LoadCallbackFunction = SetValues;
                LoadFileUploadPartialView(objFileUploadLine);
            }
            else {
                tempLineId = LineId;
                var objFileUploadLine = new FileUploadEnt('dv@(FileUploadLineID)', '@FileUploadLineID');
                objFileUploadLine.ShowDeleteAction = true;
                objFileUploadLine.ShowAttachmentBtn = true;
                objFileUploadLine.FolderPath = "ESP106/" + LineId;
                objFileUploadLine.LoadInPopup = true;
                objFileUploadLine.SuccessCallbackFunction = "reloadtblgrid()";
                objFileUploadLine.LoadCallbackFunction = SetValues;
                LoadFileUploadPartialView(objFileUploadLine);
            }
        }
        else {
            DisplayNotiMessage("error", "First insert line then attached document", "Error");
        }
    }
</script>
