﻿@using IEMQSImplementation
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<style>
    .custom {
        margin-left: 0px;
    }

    .tr-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
        background-color: yellow;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-body" id="divReOrder" style="max-height:600px;overflow-x:auto;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        LoadFixtureReOrderGridDataTable();
    });

    function LoadFixtureReOrderGridDataTable() {
        $.ajax({
            type: "POST",
            url: WebsiteURL + '/ESP/MaintainESP/LoadFixtureReOrderGridDataTable',
            data: { RefLineId: '@ViewBag.RefLineId' },
            datatype: 'json',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    $("#divReOrder").html(data.Value);

                    window.setTimeout(function () {
                        var QtyOfFixture = parseInt(data.QtyofFixture);
                        console.log(QtyOfFixture);
                        for (var i = 1; i <= QtyOfFixture; i++) {
                            $("#tbody" + i).sortable({
                                placeholder: "tr-state-highlight"
                            });
                            $("#tbody" + i).disableSelection();

                            $("#tbody" + i).droppable({
                                drop: function (event, ui) {

                                    //var draggableId = ui.draggable.attr("id");
                                    //var droppableId = $(this).attr("id");

                                    var tblid = $(this).parent().attr("id");
                                    window.setTimeout(function () {
                                        UpdateFixtureSeqNo(tblid);
                                    }, 100);
                                }
                            });
                        }
                    }, 100);
                }
                else {
                    DisplayNotiMessage("error", "No record found", "Error");
                }
            },
            error: function () {
            }
        });
    }

    function UpdateFixtureSeqNo(tableId) {
        var i = 1;
        var DataList = [];
        $("#" + tableId + " tbody>tr").each(function () {
            var Id = $(this).find("td:eq(0)").find('input[class=Id]').val();
            DataList.push({
                Id: Id,
                SeqNo: i
            });
            i++;
        });

        $.ajax({
            url: WebsiteURL + "/ESP/MaintainESP/UpdateFixtureSeqNo",
            type: "POST",
            data: { DataList: DataList },
            dataType: 'json',
            success: function (data) {
                if (data.Key) {

                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            },
            error: function (er) {
                alert(er);
            }
        });
    }
</script>
