﻿@using IEMQSImplementation
<style>
    table.tblstages {
        border-spacing: 5px;
        border-collapse: separate;
    }
</style>
<div class="portlet box green">
    <input type="hidden" id="hdnSeamWiseStageProjectNo" value="@ViewBag.Project" />
    <input type="hidden" id="hdnSeamWiseStageNodeId" value="@ViewBag.NodeId" />
    <div class="portlet-title">
        <div class="caption">
            Seam Wise Stage List
        </div>
        <div class="tools" id="dvSeamAndStageExportHeader">
            @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/ESP/MaintainESP/GenerateExcel", GridType = clsImplementationEnum.GridType.HEADER.GetStringValue(), dvId = "#dvExportHeader" })
        </div>
    </div>
    <div class="portlet-body">
        @*<table class="table table-striped table-bordered table-hover dt-responsive" style="width:100%;" id="tblSeamAndStage" cellspacing="0">
                <thead>
                    <tr>
                        <th class="all">#</th>
                        <th class="all" style="min-width:250px;">Stage</th>
                        <th class="all">Seam</th>
                        <th class="hide">IsClear</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>*@
        <table class="table table-striped table-bordered table-hover" style="width:100%;" id="tblSeamAndStage" cellspacing="0">
            <thead>
                <tr>
                    <th>Seam</th>
                    <th>Stages</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        @*var table = $('#tblSeamAndStage');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/FKMS/MaintainFKMS/LoadSeamAndStageList",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "NodeId", "value": '@ViewBag.NodeId' },
                            { "name": "Project", "value": '@ViewBag.Project' }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                        window.setTimeout(function () {
                            $('span.child').parent().parent().toggle();
                            $('.plusminus').click();
                        }, 100);

                    },
                });
            },
            "columns": [
                 {
                     "bSortable": false,
                     "sWidth": "5%",
                     "sClass": "clsCenter",
                     "name": "GROUP_NO",
                 },
                {
                    "name": "StateCode",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string",
                    "sWidth": "60%",
                },
                {
                    "name": "SeamNo",
                    "sClass": "center",
                    "bSortable": true,
                    "attr": "string",
                    "sWidth": "35%",
                },
                {
                    "name": "IsClear",
                    "sClass": "hide",
                    "bSortable": false,
                },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                debugger
                if (aData[3] == "True") {
                    $(nRow).addClass('partseamstage');
                }
            },
        });
        table.dtSearchFilter();*@

        var table = $('#tblSeamAndStage');
        var Params = {
            sUrl: "/ESP/MaintainESP/LoadSeamAndStageList",
            aoColumns: [
                        {
                            "name": "SeamNo",
                            "ColName": "qms.SeamNo",
                            "sClass": "center",
                            "bSortable": "true",
                        },
                        {
                            "name": "StageDesc",
                            "sClass": "center",
                            "bSortable": "true",
                            "ColName": "q40.StageCode +'-'+ q2.StageDesc"
                        },
            ]
        };

        Params.bIsSearchFilter = true;
        Params.bIsResponsive = false,
        Params.bIsFixedColumn = true;
        Params.aServerParams = [{ "name": "NodeId", "value": $("#hdnSeamWiseStageNodeId").val() }, { "name": "Project", "value": $("#hdnSeamWiseStageProjectNo").val() }]
        Params.bIsFixedHeader = true;
        Params.bBtnMaximize = true;
        Params.iFCLeft = 1,
        Params.bIsWrapHeader = false,
        Params.bIsIgnoreHiddenColumns = false,
        Params.bIsWrapHeader = false;
        Params.iScrollY = 320;
        Params.fnServerDataCallback = tblSeamAndStage_load;
        window.setTimeout(function () {
            table.dtUtility(Params);
        }, 500);
    });

    function tblSeamAndStage_load() {
        $("#dvSeamAndStageExportHeader").find('a').removeAttr("onclick");
        $("#dvSeamAndStageExportHeader").find('a').unbind();
        $("#dvSeamAndStageExportHeader").find('a').click(function () {
            //alert("hi");
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/ESP/MaintainESP/ExportSeamWiseStageList",
                data: { whereCondition: $(".txtStrWhere", $("#dvSeamAndStageExportHeader")).val(), strSortOrder: $(".txtStrSort", $("#dvSeamAndStageExportHeader")).val(), NodeId: $("#hdnSeamWiseStageNodeId").val(), Project: $("#hdnSeamWiseStageProjectNo").val() },
                datatype: 'json',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (result) {
                    //console.log(result);
                    try {
                        showLoading(true);
                        var table = ""; var th = ""; var tr = "";
                        table = "<table>";
                        var maxtdcnt = 1;
                        for (var i = 0; i < result.length; i++) {
                            tr += "<tr><td>" + result[i].SeamNoPartNo + "</td>";
                            for (var j = 0; j < result[i].listSeamPartWiseStageStageListEnt.length; j++) {
                                if (j >= maxtdcnt) { maxtdcnt = j + 1; }
                                tr += "<td" + (result[i].listSeamPartWiseStageStageListEnt[j].InspectionStatus == "Cleared" ? " style='background-color: #b0ffb0;'" : "") + ">" + result[i].listSeamPartWiseStageStageListEnt[j].StageDesc + "</td>";
                            }
                            tr += "</tr>";
                        }
                        th = "<thead><tr><th>SeamNo</th><th colspan=" + maxtdcnt + ">Stages</th></tr></thead>";
                        table += th + "<tbody>" + tr + "</tbody>";
                        table += "</table>";
                        //console.log(table);
                        Export(table, "Seam Wise Stages List")
                        showLoading(false);

                    } catch (e) {
                        showLoading(false);
                    }
                },
                error: function () {
                }
            });

        });
    }

    var uri = 'data:application/vnd.ms-excel;base64,'
              , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
              , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
              , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
    function Export(table, name) {
        var ctx = { worksheet: name || 'Worksheet', table: table }
        window.location.href = uri + base64(format(template, ctx))
    }

    function ExpandCollapsChild(id, obj) {
        var src = $(obj).attr("src");
        if (src == WebsiteURL + "/Images/details_open.png") {
            $(obj).attr("src", WebsiteURL + "/Images/details_close.png");
        }
        else if (src == WebsiteURL + "/Images/details_close.png") {
            $(obj).attr("src", WebsiteURL + "/Images/details_open.png");
        }
        $('span.' + id).parent().parent().toggle();
    }
</script>
