﻿@model string
@using IEMQSImplementation
@{
    string userRole = ViewBag.UserRole;
}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            Fixture Confirmation List
        </div>
        @if (userRole == clsImplementationEnum.UserRoleName.FKM3.GetStringValue())
        {
            <div class="tools">
                <div class="btn-group">
                    <a onclick="Confirm();" id="btnSendToKit" name="btnConfirm" class="btn btn-circle white btn-outline btn-sm" style="margin-right:10px;"><i class="fa fa-check-square-o"></i> &nbsp;Confirm</a>
                </div>
            </div>
        }
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFRPendingRequestList" cellspacing="0">
            <thead>
                <tr>
                    <th class="all">
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input name="select_all" value="1" id="example-select-all" type="checkbox">
                            <span></span>
                        </label>
                    </th>
                    <th class="all">#</th>
                    <th class="all">Fixture No</th>
                    <th class="all">Fixture Area</th>
                    <th class="all">Requested By</th>
                    <th class="all">Requested On</th>
                    <th class="hidden">Id</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#example-select-all').on('click', function () {
            var rows = oTable.api().rows({ 'search': 'applied' }).nodes();
            $('input.clsCheckboxRequest', rows).prop('checked', this.checked);
        });

        $('#tblFRPendingRequestList tbody').on('change', 'input[class="clsCheckboxRequest"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });


        var table = $('#tblFRPendingRequestList');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "searching": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadConfirmationPandingFRData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportHeader").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportHeader").val(data.strSortOrder);
                    },
                });
            },
            "columns": [{
                'targets': 0,
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "left18",
                'render': function (data, type, row, meta) {
                    let fixtureNo = row[2];
                    let Id = row[6];
                    return '<label class="mt-checkbox mt-checkbox-outline"><input type="checkbox"  name="id[]" class="temp clsCheckboxRequest" value="' + Id + '" ><span></span></label>';
                }
            }, {
                "bSortable": false,
                "sWidth": "5%",
                "sClass": "hide",
            }, {
                "sClass": "center",
                "bSortable": false,
            }, {
                "sClass": "center",
                "bSortable": false,
            }, {
                "sClass": "center",
                "bSortable": false,
            }, {
                "sClass": "center",
                "bSortable": false,
            }, {
                "sClass": "hide",
            }]
        });
    });

    //fixtures confirm
    function Confirm() {
        var list = [];
        $('input.clsCheckboxRequest', $('#tblFRPendingRequestList tbody')).each(function () {
            if ($(this).is(':checked')) {
                const nodeid = $(this).val();
                const project = $(this).parent().find("#hdProject").val();
                if (nodeid != '') {
                    list.push(nodeid);
                }
            }
        });
        if (list.length > 0) {
            bootbox.dialog({
                title: "Confirmation",
                message: "Do you want to confirm fixture?",
                size: "medium",
                buttons: {
                    Yes: {
                        Label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            $.ajax({
                                type: "POST",
                                url: WebsiteURL + "/ESP/MaintainESP/ConfirmFixture",
                                datatype: 'json',
                                beforeSend: function () {
                                    showLoading(true);
                                },
                                complete: function () {
                                    showLoading(false);
                                },
                                data: { list: list },
                                success: function (result) {
                                    if (result.Key) {
                                        DisplayNotiMessage("success", result.Value, "Success");
                                    }
                                    else {
                                        DisplayNotiMessage("error", result.Value, "Error");
                                    }
                                    $("#example-select-all").prop("checked", false);
                                    $('#tblFRPendingRequestList').DataTable().ajax.reload();
                                },
                                error: function () {
                                    alert('error...');
                                }
                            });
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }
                }
            });
        }
        else {
            DisplayNotiMessage("error", "Please select atleast one record", "Error");
        }
    }

    function OnClickSelectRequest(ctrl, NodeId) {
        var $img = $(ctrl).closest('tr').find('img');
        var src = $($img).attr("src");
        if ($('span.' + NodeId).parent().parent().is(':hidden')) {
            if (src == WebsiteURL + "/Images/details_open.png") {
                $($img).attr("src", WebsiteURL + "/Images/details_close.png");
            }
            else if (src == WebsiteURL + "/Images/details_close.png") {
                $($img).attr("src", WebsiteURL + "/Images/details_open.png");
            }
            $('span.' + NodeId).parent().parent().toggle();
        }
    }
</script>
