﻿@using IEMQSImplementation

<div class="row">

    <div id="dvparentpartno" class="col-md-12">
        <ul class="feeds list-items">
            <li>
                <div class="col1">
                    <div class="cont">
                        <div class="cont-col1">
                        </div>
                        <div class="cont-col2">
                            <div class="desc">
                                <h4>
                                    POS NO :- <b>
                                        <span id="spnWQTNo">
                                            @ViewBag.parentpartno
                                        </span>
                                    </b>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col3">
                </div>
            </li>
        </ul>
        <br />
    </div>
    <div class="col-md-12">


        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    Part Status
                </div>
                <div class="tools"> </div>
            </div>

            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblFilteredPartlist" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="all">Stages</th>
                            <th class="all">Seq.No</th>
                            <th class="all">Itrn</th>
                            <th class="all">Insp. Status</th>
                            <th class="all">Quantity</th>
                            <th class="all">Available to Offer</th>
                            <th class="all">L&T Result</th>
                            <th style="display:none;" class=""></th>
                            <th style="display:none;" class=""></th>
                            <th style="display:none;" class=""></th>
                            <th style="display:none;" class=""></th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="dvReqStage" style="display:none">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            Request Details <span id="spnReqStage"></span>
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblPartlistReqforStages" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="all">Request No</th>
                                    <th class="all">Request No Sequence</th>
                                    <th class="all">Iteration No</th>
                                    <th class="all">Request Status</th>
                                    <th class="all">Manufacturing Code</th>
                                    <th class="all">Shop</th>
                                    <th class="all">Shop Location</th>
                                    <th class="all">Shop Remark</th>
                                    <th class="all">NDE Technique No</th>
                                    <th class="all">NDE Technique Revision No</th>
                                    <th class="all">Seam Length</th>
                                    <th class="all">Overlay Area</th>
                                    <th class="all">Overlay Thickness</th>
                                    <th class="all">Joint type</th>
                                    <th class="all">Seam Status</th>
                                    <th class="all">Surface Condition</th>
                                    <th class="all">Weld Thickness Reinforcement</th>
                                    <th class="all">Spot Generation type</th>
                                    <th class="all">Spot Length</th>
                                    <th class="all">Part1 Position</th>
                                    <th class="all">Part1 thickness</th>
                                    <th class="all">Part1 Material</th>
                                    <th class="all">Part2 Position</th>
                                    <th class="all">Part2 thickness</th>
                                    <th class="all">Part2 Material</th>
                                    <th class="all">Part3 Position</th>
                                    <th class="all">Part3 thickness</th>
                                    <th class="all">Part3 Material</th>
                                    <th class="all">Acceptance Standard</th>
                                    <th class="all">Applicable Specification</th>
                                    <th class="all">Inspection Extent</th>
                                    <th class="all">Welding Engineering Remarks</th>
                                    <th class="all">TPI Agency1</th>
                                    <th class="all">TPI Agency1 Intervention</th>
                                    <th class="all">TPI Agency2</th>
                                    <th class="all">TPI Agency2 Intervention</th>
                                    <th class="all">TPI Agency3</th>
                                    <th class="all">TPI Agency3 Intervention</th>
                                    <th class="all">TPI Agency4</th>
                                    <th class="all">TPI Agency4 Intervention</th>
                                    <th class="all">TPI Agency5</th>
                                    <th class="all">TPI Agency5 Intervention</th>
                                    <th class="all">TPI Agency6</th>
                                    <th class="all">TPI Agency6 Intervention</th>
                                    <th class="all">Welder1</th>
                                    <th class="all">Welder2</th>
                                    <th class="all">Welder3</th>
                                    <th class="all">Welder4</th>
                                    <th class="all">Welder5</th>
                                    <th class="all">Welder6</th>
                                    <th class="all">Welder7</th>
                                    <th class="all">Welder8</th>
                                    <th class="all">Welder9</th>
                                    <th class="all">Welder10</th>
                                    <th class="all">Welder11</th>
                                    <th class="all">Welder12</th>
                                    <th class="all">Welder13</th>
                                    <th class="all">Welder14</th>
                                    <th class="all">Welder15</th>
                                    <th class="all">Welder16</th>
                                    <th class="all">Welder17</th>
                                    <th class="all">Welder18</th>
                                    <th class="all">Welder19</th>
                                    <th class="all">Welder20</th>
                                    <th class="all">Welder21</th>
                                    <th class="all">Welder22</th>
                                    <th class="all">Welder23</th>
                                    <th class="all">Welder24</th>
                                    <th class="all">Welding Process</th>
                                    <th class="all">Print Summary</th>
                                    <th class="all">Created By</th>
                                    <th class="all">Created On</th>
                                    <th class="all">Request Generated By</th>
                                    <th class="all">Request Generated On</th>
                                    <th class="all">Confirmed By</th>
                                    <th class="all">Confirmed On</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var table = $('#tblFilteredPartlist');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
            ],
            responsive: true,
            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/ESP/MaintainESP/LoadFilteredPartlistData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Title", "value": '@ViewBag.parentpartno' },
                            { "name": "Project", "value": '@ViewBag.project' });
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    //'async': false
                });
            },
            "columns": [

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%"
                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "StageSequence"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    "bSortable": false,
                    "sClass": "hide"
                },

            ]
        });

        $('#tblFilteredPartlist tbody').on('click', 'tr', function () {
            if ($(this).hasClass('highlight')) {
                $('td', $($(this))).addClass('sorting_1');
                $(this).removeClass('highlight');
            }
            else {
                oTable.$('tr.highlight').removeClass('highlight');
                $(this).addClass('highlight');
                $('td', $($(this))).removeClass('sorting_1');
            }

            if ($("td", $(this)).text() != 'No data available in table') {
                //var data = oTable.api().row(this).data();
                var StageSequence = parseInt($("td:nth-last-child(1)", $(this)).text());
                var StageCode = $("td:nth-last-child(2)", $(this)).text();
                var isNDEStage = $("td:nth-last-child(3)", $(this)).text();
                var StageDesc = $("td:nth-child(1)", $(this)).text();

                var tableID = "";

                if (isNDEStage == "False") {
                    tableID = 55;
                }
                else {
                    tableID = 65;
                }

                GetPartDetailsDataforStage(StageCode, StageDesc, StageSequence, tableID)
            }
        });
    });
    function GetPartDetailsDataforStage( StageCode, StageDesc, StageSequence, tableID) {
        $('#dvReqStage').show();
        $('#spnReqStage').text('Part details for ' + StageDesc);
        var URL="";
        if (tableID = 55) {
            URL = WebsiteURL + "/ESP/MaintainESP/LoadPartdetailsReqData";
        }
        else {
            URL = WebsiteURL + "/ESP/MaintainESP/LoadPartdetailsNDEReqData";
        }
        var table = $('#tblPartlistReqforStages');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc'], [1, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": URL,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "Title", "value": '@ViewBag.parentpartno' },
                            { "name": "Project", "value": '@ViewBag.project' },
                            { "name": "StageCode", "value": StageCode },
                            { "name": "Sequenceno", "value": StageSequence }
                    );
                //string project, string partNo, string stageCode, string stageSeq
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback,
                    //'async': false
                });
            },
            "columns": [

                {
                    "bSortable": true,
                    "sClass": "center",
                    "name": "RequestNo"

                },
                {
                    "bSortable": true,
                    "sClass": "scenter",
                    "name": "RequestNoSequence"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                },
                {
                    "bSortable": false,
                    "sClass": "scenter"
                }
            ]
        });
    }

</script>