﻿@using IEMQSImplementation
@{
    ViewBag.Title = "ESPDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Datatable/css")
<style>
    .nopad {
    padding:0px;
    }

    .icon-stack-1x {
        line-height: 4.1;
        font-size: 14.5px;
        position: absolute;
        left: -5px;
        width: 100%;
        text-align: right;
    }

    .icon-stack {
        display: inline-block;
        width: 2em;
        height: 5em;
        line-height: 4em;
        left: -10px;
    }

    /*.fa-backcolor {
        background-color: #ffffff !important;
    }*/

    .fa-fontclr {
        color: #000 !important;
    }

    .fa-success {
        color: lawngreen !important;
    }

    .fa-warning {
        color: yellow !important;
    }

    .fa-danger {
        color: red !important;
    }

    .fa-voilet {
        color: #ff02ff !important;
    }

    .fa-gray {
        color: lightgray !important;
    }

    .fa-orange {
        color: orange !important;
    }

    .borderleftsuccess {
        border-left: 5px solid lawngreen;
    }

    .borderleftwarning {
        border-left: 5px solid yellow;
    }

    .borderleftdanger {
        border-left: 5px solid red;
    }

    .borderleftvoilet {
        border-left: 5px solid violet;
    }

    .borderleftgray {
        border-left: 5px solid lightgray;
    }

    .borderleftorange {
        border-left: 5px solid orange;
    }

    .gridrowbggreen {
        background-color: #08ff0814 !important;
    }

    .gridrowbgred {
        background-color: #fffbfb !important;
    }

    .gridrowbgyellow {
        background-color: #ffff0012 !important;
    }

    .gridrowbgvoilet {
        background-color: #f5e9f5 !important;
    }

    .gridrowbgorange {
        background-color: #f3e7d3 !important;
    }
</style>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h1 class="page-title">
                                    Allocation Details
                                    <small></small>
                                </h1>
                            </div>
                            <div class="col-md-6" style="text-align:right">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="lstallocation">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/datatable/js")
<script>
    $(document).ready(function () {
        GetNodeGridDataPartial('@ViewBag.NodeId');
    });

    function GetNodeGridDataPartial(NodeId) {
        $("#lstallocation").empty();
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/ESP/MaintainESP/GetPartAllocationDetails",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            //async: false,
            data: { NodeId: NodeId },
            success: function (result) {
                $("#lstallocation").html(result);
            },
            error: function () {
            }
        });
    }

</script>

