﻿@model IEMQSImplementation.MIP003_Log
@using IEMQSImplementation
@{
    ViewBag.Title = "MIP History Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css") 
<script src="~/Scripts/bootbox.js"></script>
@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .highlight {
        background-color: #aaed7a !important;
    }

    .highlight:hover {
        background-color: #aaed7a !important;
    }
</style>

<script>

    var headerStatus;

    $(document).ready(function () {
        LoadGetMIPLines('@Model.Id');
    });

    function LoadGetMIPLines(RefId) {

        var table = $('#tblMIPLines');
        var oTable = table.dataTable({
            "language": oDTDefLanguage,
            "bProcessing": false,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [2, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/MIP/MaintainMIPHeader/GetMIPHistoryLinesData?RefId=" + RefId,
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                    },
                    'async': false
                });
                $('input[maxlength]').maxlength({
                    alwaysShow: true,
                });

            },
            "columns": [
               {
                   "sClass": "hide",
                   "name": "HeaderId",
                   "bSortable": false,
               },
                {
                    "sClass": "hide",
                    "name": "LineId",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "OperationNo",
                },
                {
                    "sClass": "center",
                    "name": "ActivityDescription",
                },
                {
                    "sClass": "center",
                    "name": "RefDocument",
                },
                {
                    "sClass": "center",
                    "name": "RefDocRevNo",
                },
                {
                    "sClass": "center",
                    "name": "PIA",
                },
                {
                    "sClass": "center",
                    "name": "IAgencyLNT",
                },
                {
                    "sClass": "center",
                    "name": "IAgencyVVPT",
                },
                {
                    "sClass": "center",
                    "name": "IAgencySRO",
                },
                {
                    "sClass": "center",
                    "name": "RecordsDocuments",
                },
                {
                    "sClass": "center",
                    "name": "Observations",
                },
                {
                    "sClass": "center",
                    "name": "LineRevNo",
                },
                {
                    "sClass": "center",
                    "name": "MIPRevNo",
                }, 
                {
                    "sClass": "center",
                    "name": "Status",
                },
            ]
        });
        table.dtSearchFilter();
    }

</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain MIP Master History Details</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <strong>Status : @Model.Status</strong>
                    </div>
                </div>

                <div id="dvMIPHeader" style="padding:1%">
                    <form id="frmMIPHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Project Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(m => m.HeaderId)
                                            <label class="control-label">Quality Project</label>
                                            @Html.TextBoxFor(m => m.QualityProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend> Document Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Doc. No.</label>
                                            @Html.TextBoxFor(m => m.DocNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">MIP Type</label>
                                            @Html.TextBoxFor(m => m.MIPType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">Component No.</label>
                                            @Html.TextBoxFor(m => m.ComponentNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Drawing No.</label>
                                            @Html.TextBoxFor(m => m.DrawingNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Raw Material Grade</label>
                                            @Html.TextBoxFor(m => m.RawMaterialGrade, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Plate No</label>
                                            @Html.TextBoxFor(m => m.PlateNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">RevNo.</label>
                                            @Html.TextBox("RevNo", (string)ViewBag.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        @if ((bool)ViewBag.isReturned)
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <fieldset>
                                        <legend>Return Details</legend>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Return By</label>
                                                @Html.TextBox("ReturnBy", (string)ViewBag.ReturnBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Return Date</label>
                                                @Html.TextBox("ReturnDate", (string)ViewBag.ReturnDate, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Return Remark</label>
                                                @Html.TextBox("ReturnRemark", (string)ViewBag.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        }
                       
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            (@ViewBag.DocNoDesc) Operation Detials
                                        </div>
                                        <div class="tools" id="dvExportSubLines">
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <table id="tblMIPLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                <tr>
                                                    <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                    <th class="min-phone-l" style="display:none;">LineId</th>
                                                    <th class="all">Opr No</th>
                                                    <th class="all">Activity Description</th>
                                                    <th class="all">Reference Document</th>
                                                    <th class="all">Ref. Doc. RevNo</th>
                                                    <th class="all">PIA</th>
                                                    <th class="all">Ins. Agency L&T</th>
                                                    <th class="all">Ins. Agency VVPT</th>
                                                    <th class="all">Ins. Agency SRO</th>
                                                    <th class="all">Records Documents</th>
                                                    <th class="all">Observations</th>
                                                    <th class="all">Line RevNo.</th>
                                                    <th class="all">MIP RevNo.</th>
                                                    <th class="all">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button class="btn icons" style="margin-right:5px;" id="btnTimeline" onclick="ShowTimeline('/MIP/MaintainMIPHeader/ShowHistoryTimeline?HeaderID=@Model.Id');" type="button" title="Timeline"><i class="fa fa-clock-o"></i></button>
                                </div>
                                <div class="col-md-6">
                                    <a href="~/MIP/MaintainMIPHeader/Index" style="float: right;margin-right:5px;" class="btn btnclose">Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
