﻿@model IEMQSImplementation.WKG001
@{
    ViewBag.Title = "View Weld KG Header";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>
<script>
    var IsDisplayMode = '@ViewBag.IsDisplayMode.ToString().ToLower()';
    $(document).ready(function () {
        headerId = $("#HeaderId").val();
        GetPDNIdenticalprojectPartial('@Model.Project' );
        if (headerId != null && headerId != undefined && headerId != "0") {
            $("#Project").prop("readonly", "readonly");
            $("#Project").val('@ViewBag.Project')
            $("#Product").val('@Model.Product');
            $("#ApprovedBy").val('@ViewBag.Approver');
            $("#Customer").val('@ViewBag.Customer');
            GetWeldKGLinesPartial('@Model.HeaderId');
            $('#txtRevNo').val("R"+@Model.RevNo);
        }
        if (IsDisplayMode == "true") {
            $('.form-body :input').attr('disabled', true);
           
        }
    });

    function GetWeldKGLinesPartial(headerId) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/WKG/ApproveWeldKG/GetWeldKGLinesPartial",
            datatype: 'html',
            async: false,
            data: { headerId: parseInt(headerId) },
            success: function (result) {
                $("#dvWeldKGLines").html(result);
            },
            error: function () {
                debugger;
            }
        });
    }
</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Weld KG Calculation</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        @*<span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>*@
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvHeader" class="row">
                    <form id="frmQualityIdLines">
                        <fieldset>
                            <legend>Project Detail</legend>
                            @Html.HiddenFor(m => m.HeaderId)
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Project<span class="required"> * </span></label>
                                    @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Document</label>
                                    @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Customer<span class="required"> * </span></label>
                                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">CDD</label>
                                    @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label class="control-label">Product</label>
                                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Process Licensor</label>
                                    @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Approver</label>
                                    @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Revision No.</label>
                                    <input type="text" id="txtRevNo" name="txtRevNo" class="form-control col-md-3" readonly />
                                    @Html.HiddenFor(m => m.RevNo)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Return Remark<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control ", @maxlength = "100" })
                                    </div>
                                </div>
                            </div>
                            <div id="divPDNIdenticalproject"></div>

                            <div class="col-md-12" style="text-align:right;margin-top:2%;padding-right:0;">
                                
                                <input type="button" id="btnRevoke" class="btn return" style="display:none;" value="Revoke" />
                                <input type="button" id="btnReturn" class="btn return" style="display:none;" value="Return" />
                                <input type="button" id="btnApprove" class="btn approve" style="display:none;" value="Approve" />
                                <a class="btn back" href="~/PDIN/Approve/ViewHeader?HeaderID=@ViewBag.PlanningDinID">Back</a>
                                <a class="btn btnclose" href='@Url.Action("Index","ApproveWeldKG")'>Close</a>
                                <a style="cursor:pointer;margin-right:5px;" title="Print Report" ; class="btn icons" onClick="PrintReport(@Model.HeaderId)"><i class="fa fa-print"></i></a>
                            </div>
                        </fieldset>
                           
                    </form>         
                </div>
                <hr />
                <div id="dvWeldKGLines" class="row"></div>
            </div>
        </div>
    </div>
</div>

