﻿@model IEMQSImplementation.WKG001_Log
@using IEMQSImplementation

@{
    ViewBag.Title = "ViewHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>

<script>
    $(document).ready(function () {
        $("#Project").val('@ViewBag.Project')
        $("#Product").val('@Model.Product');
        $("#ApprovedBy").val('@ViewBag.Approver');

        var table = $('#tblWeldKGLines');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            buttons: [],
            "bDestroy": true,
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 25, 50, 100],
                [5, 10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/WKG/ApproveWeldKG/LoadWeldKGLinesHistoryData?refId=" + $("#Id").val(),
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" }
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        fnCallback(data);
                        $(".txtStrWhere", "#dvExportLine").val(data.whereCondition);
                        $(".txtStrSort", "#dvExportLine").val(data.strSortOrder);
                        $('input[maxlength]').maxlength({
                            alwaysShow: true,
                        });
                    },
                    'async': false
                });
                ResetAddRow();
            },
            "aoColumns": [
                {
                    "sClass": "center",
                    "sWidth": "3%",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "SeamNo"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "SeamDescription"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "WEPTYPE"
                },
                //{
                //    "sClass": "center",
                //    "bSortable": true,
                //    //"name": "SeamNo"
                //},
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "LengthArea"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk1"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk2"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk3"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "name": "Thk4"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Thk5"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "name": "Thk6"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "CSSS"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "JointType"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "RootRunProcess"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "FaceSideProcess"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "ChipBackProcess"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "MinThk"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "FaceSideArea"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "CBarea"
                },
                {
                    "bSortable": true,
                    "sClass": "center",
                    //"sWidth": "10%",
                    "name": "WeldKgFaceSide"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "WeldKgCBSide"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "TotalWeldKg"
                },
                {
                    "sClass": "center",
                    "bSortable": true,
                    "name": "Remarks"
                },

            ]
        });

    });
    function PrintReport(id) {
       
        bootbox.dialog({
            title: 'Weld KG Report',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/WKG/WeldKGCalculationSheet History";
                        var dat = [];
                        dat.push({ Param: "Id", Value: id });
                        ShowReport(dat, url);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }
</script>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain Weld KG Calculation</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        @*<span style="font-weight:bolder">Status : @Html.DisplayFor(m => m.Status) </span>*@
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvHeader" class="row">
                    <form id="frmWeldKG" class="form-horizontal">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Project Detail</legend>
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.HeaderId)
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Project<span class="required"> * </span></label>
                                        @Html.TextBoxFor(m => m.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Document</label>
                                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Customer<span class="required"> * </span></label>
                                        @Html.TextBoxFor(m => m.Customer, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">CDD</label>
                                        @Html.TextBoxFor(m => m.CDD, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">Product</label>
                                        @Html.TextBoxFor(m => m.Product, new { @class = "form-control col-md-3", @readonly = "readonly" }))
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Process Licensor</label>
                                        @Html.TextBoxFor(m => m.ProcessLicensor, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Approver</label>
                                        @Html.TextBoxFor(m => m.ApprovedBy, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                    </div>
                                    @*<div class="col-md-3">
                                            <label class="control-label">Revision No.</label>
                                            @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>*@
                                    <div class="col-md-3">
                                        <label class="control-label">
                                            Revison No.
                                        </label>
                                        <div class="row">
                                            <div class="col-sm-2"><button type="button" id="RevPrev" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevPrev == null)? "" : "window.location='"+ViewBag.RevPrev+"'")" @((ViewBag.RevPrev == null) ? "disabled" : "")><span class="fa fa-chevron-left"></span></button></div>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                @*@Html.TextBox("txtRev", (string)@ViewBag.cat, new { @class = "form-control col-md-4" })*@
                                            </div>
                                            <div class="col-sm-2"><button type="button" id="RevNext" class="btn blue" style="width:100%; text-align:center" onclick="@((ViewBag.RevNext == null)? "" : "window.location='"+ViewBag.RevNext+"'")" @((ViewBag.RevNext == null) ? "disabled" : "")><span class="fa fa-chevron-right"></span></button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Revise Remark<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReviseRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Return Remark</label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.ReturnRemark, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="row" id="dvLines">
                    <hr />
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    Weld KG Lines
                                </div>
                                <div class="tools" id="dvExportLine">
                                    @Html.Partial("_ExportExcelPartial", new IEMQS.Models.clsExportParametersModel { url = "/WKG/ApproveWeldKG/GenerateExcel", GridType = clsImplementationEnum.GridType.HISTORYLINES.GetStringValue(), dvId = "#dvExportLine" })
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="tblWeldKGLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all" style="width:3%">#</th>
                                            <th class="all" style="display:none;">LineId</th>
                                            <th class="all" style="display:none;">HeaderId</th>
                                            <th class="all">Seam  No.</th>
                                            <th class="all">Seam Description</th>
                                            <th class="all">WEP Type</th>
                                            @*<th class="all">Sketch</th>*@
                                            <th class="all">LengthArea (mm/mm<sup>2</sup>)</th>
                                            <th class="all">Thk1 (mm)</th>
                                            <th class="all">Thk2 (mm)</th>
                                            <th class="all">Thk3 (mm)</th>
                                            <th class="all">Thk4 (mm)</th>
                                            <th class="all">Thk5 (mm)</th>
                                            <th class="all">Thk6 (mm)</th>
                                            <th class="all">CS/SS (kg/mm<sup>3</sup>)</th>
                                            <th class="all">Joint Type</th>
                                            <th class="all">Root Run Process<div class="colWidth200"></div></th>
                                            <th class="all">Face Side Process<div class="colWidth200"></div></th>
                                            <th class="all">Chip Back Process<div class="colWidth200"></div></th>
                                            <th class="all">Min. Thk</th>
                                            <th class="all">Face Side Area<div class="colWidth200"></div></th>
                                            <th class="all">C/B Area<div class="colWidth200"></div></th>
                                            <th class="all">Weld KG(Face Side)<div class="colWidth200"></div></th>
                                            <th class="all">Weld KG(C/B Side)<div class="colWidth200"></div></th>
                                            <th class="all">Weld KG</th>
                                            <th class="all">Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:right;margin-top:3%;margin-right:1%;">
                        <hr />
                        <div class="col-md-12">
                            <a style="cursor:pointer;margin-right:5px;" title="Print Report" ; class="btn icons" onClick="PrintReport(@Model.Id)"><i class="fa fa-print"></i></a>
                            <a class="btn btnclose" href='@Url.Action("Index","ApproveWeldKG")'>Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


