﻿@model IEMQSImplementation.PRO365
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0;/* for serial number */
    string FileUpload1ControlID = "fuUpload1";
    string FileUpload1ControlID2 = "fuUpload2";
}
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
@Styles.Render("~/Content/Datatable/css")
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
@Styles.Render("~/Content/datetimepicker/css")
<link href="~/Content/ThemeCss/Protocols.css" rel="stylesheet" />
<style>
    .clsparent {
        background-color: #fbffb2;
        font-weight: bold;
    }
</style>

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ProtocolNo, new { @class = "form-control", @maxlength = "50", @role = "QC" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="height: 20px"></div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="FormTable">
                                        <tr>
                                            <td class="title" colspan="2">
                                                PHOTOGRAPHS OF ACTUAL "N2" PRESSURE BEFORE DISPATCH OF EQUIPMENT AND ARRANGEMENT
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button id="btnUploadImage" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                <div class="col-md-12 display-none">
                                                    <div id="dv@(FileUpload1ControlID)"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <button id="btnUploadImage2" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                <div class="col-md-12 display-none">
                                                    <div id="dv@(FileUpload1ControlID2)"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-lg-12 text-center">
                                                    <img id="image" style="height:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=PRO365/@Model.HeaderId/1" class="" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <img id="image" style="height:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=PRO365/@Model.HeaderId/2" class="" alt="">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i id="Delete_Photo_1" name="Delete_Photo_1" title="Delete Record" class="iconspace fa fa-trash-o entQcAttend" onclick="DeletePhoto(1)"></i>
                                            </td>
                                            <td>
                                                <i id="Delete_Photo_2" name="Delete_Photo_2" title="Delete Record" class="iconspace fa fa-trash-o entQcAttend" onclick="DeletePhoto(2)"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left; ">
                                                </span>
                                            </div>
                                            <div class="tools" id="dvExportSubLines">
                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" id="div1">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines1" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th rowspan="2">SR.NO.</th>
                                                            <th colspan="2">PRESSURE</th>
                                                            <th colspan="2">OXYGEN LEVEL</th>
                                                            <th rowspan="2">DATE</th>
                                                        <tr>
                                                            <th> REQUIRED</th>
                                                            <th>ACTUAL</th>
                                                            <th> REQUIRED</th>
                                                            <th> ACTUAL</th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO367 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO367 as List<PRO367>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s1 = s1 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="SrNo" style="text-align: center;"><label>@item.SrNo</label></td>
                                                                    <td class="ReqPressure">@Html.TextBox("ReqPressure_1_" + @s1, @item.ReqPressure, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActPressure">@Html.TextBox("ActPressure_1_" + @s1, @item.ActPressure, new { @class = "form-control entQcAttend width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ReqOxygenlevel">@Html.TextBox("ReqOxygenlevel_1_" + @s1, @item.ReqOxygenlevel, new { @class = "form-control width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="ActOxygenlevel">@Html.TextBox("ActOxygenlevel_1_" + @s1, @item.ActOxygenlevel, new { @class = "form-control entQcAttend width125px", @maxlength = "50", @role = "QC" })</td>
                                                                    <td class="Date">
                                                                        @Html.TextBox("Date_1_" + @s1, @item.Date, "{0:dd/MM/yyyy}", new { @class = "form-control entQcAttend width125px date date-picker", @role = "QC" })
                                                                    </td>

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines1')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <strong>
                                        <span style="float:left;">
                                            <strong> PRESSURE GAUGE DETAILS : </strong>
                                            @Html.DropDownListFor(model => model.PressureGuageDetails, new SelectList(@ViewBag.YesNAEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "QC", @onchange = "showCladtripTable($(this).val(), \"dvPressureGuageDetails\")" })
                                            <br /><br />
                                        </span>
                                        <br />
                                    </strong>
                                </div>
                            </div>

                            <div id="dvPressureGaugeDetails">
                                <div class="col-md-12">
                                    <div class="col-md-12">

                                        <div class="portlet box green inlineparentdiv" id="divLine2" data-gridid="2">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left; ">
                                                    </span>
                                                </div>
                                                <div class="tools" id="dvExportSubLines">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div2', this)" id="btnCollapse2" data-target="#div2" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="portlet-body" id="div2">
                                            <div class="table-responsive">
                                                <table id="tblProtocolLines2" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none;">#</th>
                                                            <th style="display:none;">LineId</th>
                                                            <th>GAUGE SERIAL NUMBER </th>
                                                            <th>GAUGE CALIBRATION DUE DATE</th>

                                                            @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                            {
                                                                <th class="btnthAction">&nbsp;</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (ViewBag.lstPRO366 != null)
                                                        {
                                                            foreach (var item in ViewBag.lstPRO366 as List<PRO366>)
                                                            {
                                                                <tr>
                                                                    <td style="text-align: center;display:none;"># @(s2 = s2 + 1) </td>
                                                                    <td class="LineId" style="display:none;">@Html.Hidden("LineId", @item.LineId)</td>
                                                                    <td class="GaugeSerialNumber">@Html.TextBox("GaugeSerialNumber_2_" + @s2, @item.GaugeSerialNumber, new { @class = "form-control entQcAttend width125px", @maxlength = "50", @role = "QC" })</td>

                                                                    <td class="GaugeCelebrationDueDate">
                                                                        @Html.TextBox("GaugeCelebrationDueDate_2_" + @s2, @item.GaugeCelebrationDueDate, "{0:dd/mm/yyyy}", new { @class = "form-control entQcAttend width125px datepicker", @role = "QC" })
                                                                    </td>

                                                                    @if (string.Equals(ViewBag.Userrole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                                    {
                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass  clsEditRow" onclick="DeleteProtocolLine(this,'tblProtocolLines2')"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                        <tr>
                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                CHECK POINTS/REMARKS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd" style="width: 88% !important;">
                                                <span> 1) N2 FILLING ARRANGEMENT VERIFIED AS PER DRAWING?</span>
                                            </td>
                                            <td> @Html.DropDownListFor(model => model.CheckPoint1, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })</td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                2) N2 CYLINDER IS PROVIDED WITH EQUIPMENT ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint2, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                3) ALL FLANGE, THREADED AND BOLTED CONNECTIONS CHECKED WITH SHOP SOLUTION ?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint3, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                4) CALIBRATED PRESSURE GAUGE ARE PROVIDED AS PER DRAWING DETAIL?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint4, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                5) PROTECTION GUARD FOR PRESSURE GAUGE ARE PROVIDED
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint5, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="clstd">
                                                6) PRESSURE RE ENSURED AFTER 24 HOURS?
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.CheckPoint6, new SelectList(@ViewBag.YesNoEnum, "Value", "Text"), "Select", new { @class = "form-control inlinetextbox w100", @role = "PROD" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                QC REMARK: @Html.TextAreaFor(model => model.QCRemarks, new { @class = "form-control", @maxlength = "200", @role = "QC" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSaveDraft" value="Save as Draft" />
                                    <input type="button" class="btn submit" id="btnSave" value="Submit" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/datatable/js")
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>
@Scripts.Render("~/bundles/datetimepicker/js")
<script src="~/Scripts/ThemeScripts/app.min.js"></script>
<script src="~/Scripts/common.js"></script>
<script type="text/javascript" src="~/Scripts/Protocols_V2.js"></script>


<script>
    var notPRODLastChild = "";
    var notQCLastChild = "";
    var userRole = '@ViewBag.UserRole.ToString()';
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    var isQCRemarkEditable = '@ViewBag.isQCRemarkEditable';

    $(document).ready(function () {
        SetTableColumns();
        ValidateFormRules();
        $(".date-picker").datepicker({ orientation: "auto", autoclose: true });
        $('.datepicker').datepicker({ orientation: "auto", autoclose: true, format: "dd/mm/yyyy" });
        SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit, isQCRemarkEditable);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        $("#CheckPoint6").change(function () {
            if ($("#CheckPoint6").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });

        $('#CheckPoint1,#CheckPoint2,#CheckPoint3,#CheckPoint4,#CheckPoint5,#CheckPoint6').val('Yes');

        if ('@Model.CheckPoint1' != "") {$('#CheckPoint1').val('@Model.CheckPoint1');}
        if ('@Model.CheckPoint2' != "") { $('#CheckPoint2').val('@Model.CheckPoint2'); }
        if ('@Model.CheckPoint3' != "") { $('#CheckPoint3').val('@Model.CheckPoint3'); }
        if ('@Model.CheckPoint4' != "") { $('#CheckPoint4').val('@Model.CheckPoint4'); }
        if ('@Model.CheckPoint5' != "") { $('#CheckPoint5').val('@Model.CheckPoint5'); }
        if ('@Model.CheckPoint6' != "") { $('#CheckPoint6').val('@Model.CheckPoint6'); }


        $('#PressureGuageDetails').val('NA')
        if ('@Model.PressureGuageDetails' != "") { $('#PressureGuageDetails').val('@Model.PressureGuageDetails'); }
        showCladtripTable($('#PressureGaugeDetails').val(), "dvPressureGaugeDetails");
        $("#PressureGuageDetails").attr("style", "pointer-events: none;");

        $('#QCRemarks').prop("disabled", true).addClass("NonEditableTextColor");

        if (isQCRemarkEditable.toLowerCase() == "true") {
            $(".entQcAttend").attr("readonly", false);
            $("#PressureGuageDetails").attr("style", "pointer-events: visiblefill;");
            AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'GaugeSerialNumber', ['GaugeSerialNumber', 'GaugeCelebrationDueDate'], AddTbl2NewTrRow, true);
            if ($("#ActualPressure_1_1").length > 0) {
                $("#ActualPressure_1_1").focus();
            }
            if ($("#ActualPressure_1_1").length > 0) {
                $("#ActualPressure_1_1").focus();
            }
        }
        else {
            $(".entQcAttend").attr("disabled", "disabled");
        }


        $("#ReqOxygenlevel").focusout(function () {
            if ($("#ReqOxygenlevel").val() == "" || $("#ReqOxygenlevel").val() != "") {
                $('#btnSaveDraft').focus();
            }
        });
        LoadFileUpload1();
        LoadFileUpload2();
    });

    function LoadFileUpload1() {
        var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID)', '@FileUpload1ControlID');
        objFileUpload1.IsRequired = true;
        objFileUpload1.ShowDeleteAction = false;
        if(@Model.HeaderId>0){
            objFileUpload1.FolderPath = "PRO365/"+'@Model.HeaderId'+"/1";
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded=false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc1()";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);
    }
    function LoadFileUpload2() {
        var objFileUpload2 = new FileUploadEnt('dv@(FileUpload1ControlID2)', '@FileUpload1ControlID2');
        objFileUpload2.IsRequired = true;
        objFileUpload2.ShowDeleteAction = false;
        if(@Model.HeaderId>0){
            objFileUpload2.FolderPath = "PRO365/"+'@Model.HeaderId'+"/2";
        }
        else{
            objFileUpload2.FolderPath = "";
        }
        objFileUpload2.IsMultipleUploaded=false;
        objFileUpload2.SuccessCallbackFunction="SuccessCallFunc1()";
        objFileUpload2.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload2);
    }

    function SuccessCallFunc1(){
        //window.location.href=WebsiteURL+"/PROTOCOL/PROTOCOL074/Details/"+parseInt($("#HeaderId").val()) + "?m=" + '@clsImplementationEnum.WPPIndexType.maintain.GetStringValue()';
        window.location.reload();
    }

    $("#btnUploadImage").click(function () {
        btnAttach@(FileUpload1ControlID).click();
    });
    $("#btnUploadImage2").click(function () {
        btnAttach@(FileUpload1ControlID2).click();
    });

    function SaveImagesDetails() {
        if (!getHasAttachmentsForSubmit('@(FileUpload1ControlID)')) {
            isHeaderSave = false;
        }
        FileCount = $("#filelistholder@(FileUpload1ControlID) .filedetail").length;

        if (FileCount > 0) {
            UpdateFolderPathAndSave@(FileUpload1ControlID)("PRO365/" + $("#HeaderId").val()+"/1");
        }
    }
    function SaveImagesDetails2() {
        if (!getHasAttachmentsForSubmit('@(FileUpload1ControlID2)')) {
            isHeaderSave = false;
        }
        FileCount = $("#filelistholder@(FileUpload1ControlID2) .filedetail").length;

        if (FileCount > 0) {
            UpdateFolderPathAndSave@(FileUpload1ControlID2)("PRO365/" + $("#HeaderId").val()+"/2");
        }
    }

    $("#btnSaveDraft").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData", userRole, false, LoadSaveAndDraft);
        SaveImagesDetails();
        SaveImagesDetails2();
    });

    $("#btnSave").click(function () {
        @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
        {
            <text>$('[role="PROD"]').not('.islastrow').prop("required", true);</text>
        }else
        {
            <text>$('[role="QC"]').not('.islastrow').prop("required", true);</text>
        }
        SaveProtocolHeaderData("frmProtocolHeader", '@Model.HeaderId', ControllerURL + "SaveProtocolHeaderData", userRole, true, LoadSaveAndDraft);
        SaveImagesDetails();
        SaveImagesDetails2();
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function ValidateFormRules() {
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
    }



    function SaveProtocolLine(lineId, gridId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine" + gridId, "tblProtocolLines" + gridId, "btnNewLines" + gridId);
        if (gridId == 5) {
            outby();
        }
    }

    function SetTableColumns() {
        if (isEdit.toLowerCase() == "true") {
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) {
                $("[role=PROD]").first().focus();
            }


            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) {

                AddNextRow(this, null, false, 1, 'hdGrid1LastRow', 'tblProtocolLines1', 'ReqPressure', ['ReqPressure', 'ReqOxygenlevel'], AddTbl1NewTrRow, true);

                //  AddNextRow(this, null, false, 2, 'hdGrid2LastRow', 'tblProtocolLines2', 'GaugeSerialNumber', ['GaugeSerialNumber','GaugeCelebrationDueDate'], AddTbl2NewTrRow, true);



                notQCLastChild = ":not(:last-child)";
                $("[role=QC]").first().focus();
            }
            if ((userRole == '@clsImplementationEnum.UserRoleName.PROD3.GetStringValue()')) { $("[role=PROD]").first().focus(); }
            if ((userRole == '@clsImplementationEnum.UserRoleName.QC3.GetStringValue()')) { $("[role=QC]").first().focus(); }
        }
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine";
        window[SaveFunction](lineId, gridId);
    }

    function outby() {
        if (isEdit.toLowerCase() == "true" && userRole.toUpperCase() == 'QC3') {
            $('#OutOfRoundnessOutBy').addClass("EditableTextColor").addClass("QCTextbox");
        }
        else {
            $('#OutOfRoundnessOutBy').prop("disabled", true).addClass("QCTextbox");
        }
    }


    function LoadSaveAndDraft() {

        var TableData1 = []; //initialize array;
        var lstProtocolLines1 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "SrNo": $('td.SrNo Label', this).text(),
                "ReqPressure": $('td.ReqPressure input', this).val(),
                "ActPressure": $('td.ActPressure input', this).val(),
                "ReqOxygenlevel": $('td.ReqOxygenlevel input', this).val(),
                "ActOxygenlevel": $('td.ActOxygenlevel input', this).val(),
                "Date": $('td.Date input', this).val(),

            };

            lstProtocolLines1 = JSON.stringify(TableData1);
        });
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "SaveProtocolLine1" + "?HeaderId=" + parseInt($("#HeaderId").val()), 1);


        var TableData2 = []; //initialize array;
        var lstProtocolLines2 = ""; //empty var;
        //Here traverse and  read input/select values present in each td of each tr, ;
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData2[row] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "GaugeSerialNumber": $('td.GaugeSerialNumber input', this).val(),
                "GaugeCelebrationDueDate": $('td.GaugeCelebrationDueDate input', this).val(),

            };

            lstProtocolLines2 = JSON.stringify(TableData2);
        });
        SaveAsDraftProtocolLine(lstProtocolLines2, ControllerURL + "SaveProtocolLine2" + "?HeaderId=" + parseInt($("#HeaderId").val()), 2);
    }

    function AddTbl1NewTrRow(NewTrRowNum) {

        var row = $('#tblProtocolLines1 tbody tr:not(.islastrow)').length;
        row = parseInt(row) + 1;
        $("#hdGrid1LastRow").val(NewTrRowNum);
        var strhtml = "<tr class=\"islastrow\" >" +
            +"<td style=\"text-align: center;display:none;\"># " + NewTrRowNum + " </td>"
            + "<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\"></td>"
            + "<td style=\"text-align: center;\" class=\"SrNo center\"><Label id=\"SrNo" + NewTrRowNum + "\"  name=\"SrNo" + NewTrRowNum + "\">" + row + "</td>"
            + "<td class=\"ReqPressure center\"><input class=\"form-control  width125px  EditableTextColor QCTextbox islastrow valid\" id=\"ReqPressure_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqPressure_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" onblur=\"AddNextRow(this,'btnSaveDraft',false,1,'hdGrid1LastRow','tblProtocolLines1','ReqPressure', ['ReqPressure', 'ActPressure','ReqOxygenlevel','ActOxygenlevel','Date'],AddTbl1NewTrRow)\" value=\"\" aria-invalid=\"false\" ></td>"
            + "<td class=\"ActPressure center \"><input class=\"form-control entQcAttend islastrow  EditableTextColor QCTextbox valid\" id=\"ActPressure_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActPressure_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" disabled></td>"
            + "<td class=\"ReqOxygenlevel center \"><input class=\"form-control  islastrow  EditableTextColor QCTextbox valid\" id=\"ReqOxygenlevel_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ReqOxygenlevel_1_" + NewTrRowNum + "\" role=\"QC\"  type=\"text\" onblur=\"AddNextRow(this,null,false,1,'hdGrid1LastRow','tblProtocolLines1','ReqPressure', ['ReqPressure', 'ReqOxygenlevel'] ,AddTbl1NewTrRow)\"></td>"
            + "<td class=\"ActOxygenlevel center \"><input class=\"form-control entQcAttend  islastrow  EditableTextColor QCTextbox valid\" id=\"ActOxygenlevel_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActOxygenlevel_1_" + NewTrRowNum + "\"  role=\"QC\" type=\"text\" disabled></td>"
            + "<td class=\"Date center \"><input class=\"form-control entQcAttend  islastrow  EditableTextColor QCTextbox valid\" id=\"Date_1_" + NewTrRowNum + "\" maxlength=\"100\" name=\"Date_1_" + NewTrRowNum + "\" role=\"QC\" type=\"text\"   value=\"\" aria-invalid=\"false\" disabled ></td>"
            + "<td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this)\" style=\"display:none\"></i></td>"
            + "</tr>";

        return strhtml;
    }



    function AddTbl2NewTrRow(NewTrRowNum) {

        $("#hdGrid2LastRow").val(NewTrRowNum);

        var strhtml =
            "<tr class=\"islastrow\">" +
            "<td style=\"text-align: center;display:none;\">" + NewTrRowNum + "</td>" +
            "<td class=\"LineId\" style=\"display:none;\">0</td>" +
            "<td class=\"GaugeSerialNumber\"><input class=\"form-control width125px clsAddNew EditableTextColor QCTextbox islastrow valid\" onblur=\"AddNextRow(this,'Notes',false,2,'hdGrid2LastRow','tblProtocolLines2','GaugeSerialNumber',['GaugeSerialNumber','GaugeCelebrationDueDate'],AddTbl2NewTrRow); Test1213(" + NewTrRowNum + ");\" id=\"GaugeSerialNumber_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"GaugeSerialNumber_2_" + NewTrRowNum + "\" role=\"QC\" type=\"text\" aria-invalid=\"false\"></td>" +
            "<td class=\"GaugeCelebrationDueDate\"><input class=\"form-control datepicker width125px valid clsAddNew EditableTextColor QCTextbox islastrow\" id=\"GaugeCelebrationDueDate_2_" + NewTrRowNum + "\" name=\"GaugeCelebrationDueDate_2_" + NewTrRowNum + "\" type=\"text\" aria-invalid=\"false\" onblur=\"AddNextRow(this,null,false,2,'hdGrid2LastRow','tblProtocolLines2','GaugeSerialNumber',['GaugeSerialNumber','GaugeCelebrationDueDate'],AddTbl2NewTrRow)\" role=\"QC\" type=\"text\"></td>"+
            "<td  class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"DeleteProtocolLine(this,'tblProtocolLines2')\" style=\"display:none\"></i></td>" +
            "</tr>";

        return strhtml;

    }


    function Test1213(No) {
        $('#GaugeCelebrationDueDate_2_' + No).datepicker({ format: "dd/mm/yyyy" });
    }

    function TopFocus(No) {
        var count = parseInt(No) + 1;

        if ($("#ActualPressure_1_" + count).length) {
            $("#ActualPressure_1_" + count).focus();
        }
    }

    function DeletePhoto(No)
    {
        var formData = new FormData();
        formData.append("PhotoNo", No);
        formData.append("Headerid", $('#HeaderId').val());
        formData.append("PageType", 0);
        $.ajax({
            url: '/PROTOCOL/Protocol074/DeletePhoto',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                if (result == true) {
                    toastr.success("Photograph has been deleted.");
                    window.location.reload();
                }
                else {
                    toastr.error("Photograph has not been deleted.");
                }
            },
            error: function (err) {
                //alert(err.statusText);
            }
        });
    }
</script>
<script src="~/Scripts/imgViewer2.js"></script>