﻿@using IEMQSImplementation
@model IEMQSImplementation.NDE009
@{
    ViewBag.Title = "RT Technique";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FileUploadFinalHeaderID = "fuheaderfinaldoc";
}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTable/responsive.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/layoutCss/attachment.css" rel="stylesheet" />
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .modal-sm {
        width: 50% !important;
        margin: 30px auto;
    }

    .modal-lg {
        width: 80% !important;
        margin: 30px auto;
    }
</style>

<script>
    var isSendForApproval = false;
    $(document).ready(function () {
        LoadFileUploadFinalHeader();
        $('input[maxlength],textarea[maxlength]').maxlength({
            alwaysShow: true,
        });
        jQuery(function ($) {
            $('.numericval').autoNumeric('init', { vMin: "0", vMax: "999", aSep: '' });
            $('.numericval8').autoNumeric('init', { vMin: "0", vMax: "99999999", aSep: '' });
            $('#WireDia').autoNumeric('init', { vMin: '0.00', vMax: '99999999999999999.00', aSep: '' });
        });
        var RTHeaderId = $("#HeaderId").val();

        $("#frmRTTechniqueHeader").validate({
            rules: {
                txtQualityProject: {
                    required: true
                },
                RTProcedureNo: {
                    required: true
                },
                txtTechnique: {
                    required: true
                },
                TechniqueSheetNo: { required: true },
                txtSourceofRadiation: {
                    required: true
                },
                txtIQI: {
                    required: true
                },
                txtFilm: {
                    required: true
                },
                txtFilmBrand: {
                    required: true
                },
                txtFilmViewing: {
                    required: true
                },
                txtIQIHoleType: {
                    required: true
                },
                txtIQIWireType: {
                    required: true
                },
                txtWeld: {
                    required: true
                },
                WeldReinforcement: {
                    required: true,
                    number: true
                },
                //txtGammaRaySource: {
                //    required: true
                //},
                //txtExposureDetail: {
                //    required: true
                //},
                NoofExposure: {
                    required: true,
                    number: true
                },
                NoofFilmPerCassettes: {
                    required: true,
                    number: true
                },
                mA: {
                    required: true,
                    number: true
                },
                Kvp: {
                    required: true,
                    number: true
                },
                FocalSpotSize: {
                    required: true
                },
                SFD: {
                    required: true,
                    number: true
                },
                ExposureTime: {
                    required: true
                },
                BeamAngle: {
                    required: true
                },
                txtIntensifyingScreen: {
                    required: true
                },
                ShimThickness: {
                    required: true
                },
                DensityRange: {
                    required: true
                },
                Activity: {
                    required: true,
                    number: true
                },
                LeadLetter: {
                    required: true
                },
                PlannerRemarks: {
                    required: true
                }
                //},
                //WireDia: { required: true }
            },
            messages: {
                txtQualityProject: {
                    required: "Quality Project Is Required"
                },
                RTProcedureNo: {
                    required: "RT Procedure No. Is Required"
                },
                TechniqueSheetNo: {
                    required: "RT Technique No. Is Required"
                },
                txtTechnique: {
                    required: "Technique Is Required"
                },
                txtSourceofRadiation: {
                    required: "Source Of Radiation Is Required"
                },
                txtIQI: {
                    required: "IQI Is Required"
                },
                txtFilm: {
                    required: "Film Is Required"
                },
                txtFilmBrand: {
                    required: "Film Brand Is Required"
                },
                txtFilmViewing: {
                    required: "Film Viewing Is Required"
                },
                txtIQIHoleType: {
                    required: "IQI Hole Type Is Required"
                },
                txtIQIWireType: {
                    required: "IQI Wire Type Is Required"
                },
                txtWeld: {
                    required: "Weld Is Required"
                },
                WeldReinforcement: {
                    required: "Weld reinforcement Is Required"
                },
                //txtGammaRaySource: {
                //    required: "Gamma Ray Source Is Required"
                //},
                //txtExposureDetail: {
                //    required: "Exposure Detail Is Required"
                //},
                NoofExposure: {
                    required: "No. Of Exposure Is Required",
                },
                NoofFilmPerCassettes: {
                    required: "No.Of Film.Cassette Is Required",
                },
                mA: {
                    required: "mA Is Required",
                },
                Kvp: {
                    required: "Kvp Is Required",
                },
                FocalSpotSize: {
                    required: "Focal Spot Size Is Required"
                },
                SFD: {
                    required: "SFD Is Required",
                },
                ExposureTime: {
                    required: "Exposure Time Is Required"
                },
                BeamAngle: {
                    required: "Beam Angle Is Required"
                },
                txtIntensifyingScreen: {
                    required: "Intensifying Screen Is Required"
                },
                ShimThickness: {
                    required: "Shim Thickness Is Required"
                },
                DensityRange: {
                    required: "Density Range Is Required"
                },
                Activity: {
                    required: "Activity Is Required",
                },
                LeadLetter: {
                    required: "Lead Letter Is Requied"
                },
                PlannerRemarks: {
                    required: "Planner Remark Is Required"
                }
                //},
                //WireDia: { required: "Wire Dia Is Required" }
            }
        });

        $("#txtQualityProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetQualityProjectResultAutoComplete",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term,
                        location: $("#Location").val().split('-')[0]
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.qualityCode, value: item.qualityCode };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 0,
            autoFocus: true,
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#txtQualityProject").val(strProjectDesc);
                    $("#ddlQMSProject").val(projectcode);
                    projectChange(projectcode, $("#Location").val().split('-')[0]);
                    var method;
                    if ($("#Method").val() == undefined || $("#Method").val() == null || $("#Method").val() == "") {
                        method = 0;
                    }
                    else
                        method = $("#Method").val();

                    MethodChange($("#ddlTechnique").val(), $("#ddlSourceOfRadiation").val(), $("#ddlIQI").val(), $("#ddlFilm").val(), $("#Location").val().split('-')[0], $("#ddlQMSProject").val());
                }
            },
            /*
            focus: function (event, ui) {
                event.preventDefault();
                $("#txtQualityProject").val(ui.item.value);
            },
            */
            change: function (event, ui) {
                if (ui.item == null) {
                    isSelected = false;
                    $(this).val('');
                    $(this).focus();
                }
            }
        }).on('focus', function (event) {
            var self = this;
            $(self).autocomplete("search", this.value);
        });

        $("#txtQualityProject").blur(function () {
            if ($("#txtQualityProject").val().trim().length > 0) {
                isSelected = true;
            }
            else
                isSelected = false;
            if (!isSelected) {
                $("#BU").val("");
                $("#Project").val('');
                $("#RTTechNo").val('');
            }
        });

        if (RTHeaderId != null && RTHeaderId != undefined && RTHeaderId != "" && RTHeaderId != 0) {
            FillControlsOnEdit();
            projectChange($("#ddlQMSProject").val(), '@Model.Location');
            MethodChange($("#ddlTechnique").val(), $("#ddlSourceOfRadiation").val(), $("#ddlIQI").val(), $("#ddlFilm").val(), $("#Location").val().split('-')[0], $("#ddlQMSProject").val())
            $("#ddlQMSProject").prop('disabled', true);
            $("#RTTechNo").val('@Model.RTTechNo');
            $("#ManufacturingCode").val('@ViewBag.MfgCode');

            if ($("#Status").val() == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue()') {
                $("#btnSendForApproval").hide();//prop("disabled", true);
                $("#btnRTTechniqueSave").hide();//prop("disabled", true);
                @*setAttachmentsInHeader("NDE009/@(Model.HeaderId)/R@(Model.RevNo)", true);
                $('div.attachment :input').attr('disabled', true); //*@
            }
            else {
                $("#btnSendForApproval").show();//removeAttr("disabled")
                @*setAttachmentsInHeader("NDE009/@(Model.HeaderId)/R@(Model.RevNo)", false);
                   $('div.attachment :input').attr('disabled', false); //*@
            }

            if ($("#Status").val() == '@IEMQSImplementation.clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()' || '@Model.RevNo' > 0) {
                $("#btnHistory").show();
            }
        }
        else {
            $("#BeamAngle").val('Perpendicular');
            $("#ShimThickness").val('No');
        }

        if ($("#Status").val() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()') {
            $("#btnSendForApproval").hide();//prop("disabled", "disabled");
            // $("#TechniqueSheetNo").attr("readonly", true);
        }

        $("#txtTechnique,#txtSourceofRadiation,#txtIQI,#txtFilm").blur(function () {
            var technique;
            var sourceOfRadiation;
            var film;
            var iqi;

            if ($("#ddlTechnique").val() == undefined || $("#ddlTechnique").val() == null || $("#ddlTechnique").val() == "") {
                technique = 0;
            }
            else
                technique = $("#ddlTechnique").val();

            if ($("#ddlSourceOfRadiation").val() == undefined || $("#ddlSourceOfRadiation").val() == null || $("#ddlSourceOfRadiation").val() == "") {
                sourceOfRadiation = 0;
            }
            else
                sourceOfRadiation = $("#ddlSourceOfRadiation").val();

            if ($("#ddlIQI").val() == undefined || $("#ddlIQI").val() == null || $("#ddlIQI").val() == "") {
                iqi = 0;
            }
            else
                iqi = $("#ddlIQI").val();

            if ($("#ddlFilm").val() == undefined || $("#ddlFilm").val() == null || $("#ddlFilm").val() == "") {
                film = 0;
            }
            else
                film = $("#ddlFilm").val();

            MethodChange(technique, sourceOfRadiation, film, iqi, $("#Location").val().split('-')[0], $("#ddlQMSProject").val());

        });

        $("#btnRTTechniqueSave").click(function () {
            if ($("#frmRTTechniqueHeader").valid()) {
                var frmRTHeaderValues = $("#frmRTTechniqueHeader").serializeArray();
                var status = $("#Status").val();
                if (status != undefined && status != null && status == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()') {
                    //bootbox.confirm("Do you want to revise technique?", function (res) {
                    //    if (res) {
                    //        AddTechniqueHeader(frmRTHeaderValues);
                    //    }
                    //})
                    bootbox.dialog({
                        title: "Revise",
                        message: "Do you want to revise technique?",
                        size: "small",
                        buttons: {
                            Yes: {
                                Label: "Yes",
                                className: 'btn green',
                                callback: function () {
                                    AddTechniqueHeader(frmRTHeaderValues);
                                }
                            },
                            Cancel: {
                                label: 'No',
                                className: 'btn red',
                                callback: function () { }
                            }

                        }
                    })
                }
                else {
                    AddTechniqueHeader(frmRTHeaderValues);
                }
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnSendForApproval").click(function () {
            bootbox.dialog({
                title: "Submit Confirmation",
                message: "Do you want to submit?",
                size: "small",
                buttons: {
                    Yes: {
                        label: "Yes",
                        className: 'btn green',
                        callback: function () {
                            var hasAttachments = true;
                            var status = $("#Status").val();
                            if (status.toLowerCase() != '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()'.toLocaleLowerCase()) {
                                hasAttachments = getHasAttachmentsForSubmit('@(FileUploadFinalHeaderID)');
                            }

                            if ($("#frmRTTechniqueHeader").valid() && hasAttachments) {
                                var frmRTHeaderValues = $("#frmRTTechniqueHeader").serializeArray();
                                AddTechniqueHeader(frmRTHeaderValues, true);
                            }
                            else {
                                HighlightInValidControls();
                            }
                        }
                    },
                    Cancel: {
                        label: 'No',
                        className: 'btn red',
                        callback: function () { }
                    }

                }

            })


        });

        $("#btnCopy").click(function () {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainRTTechnique/CopyRTTechniquePartial",
                type: "POST",
                data: {},
                dataType: "html",
                //async:false,
                success: function (data) {
                    bootbox.dialog({
                        title: "Copy To",
                        message: data,
                        size: "small",
                        buttons: {
                            Copy: {
                                Label: "Copy",
                                className: 'btn green',
                                callback: function () {
                                    if ($("#frmCopyNDETechnique").valid()) {
                                        CopyToDestination(RTHeaderId, $("#ddlQMSDestProject").val())
                                    }
                                    else {
                                        HighlightInValidControls();
                                        return false;
                                    }
                                }
                            },
                            Cancel: {
                                label: 'Close',
                                className: 'btn btnclose',
                                callback: function () { }
                            }

                        }

                    })
                }
            });
        });

        $("#btnHistory").click(function () {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainRTTechnique/GetHistoryRTTechniquePartial",
                type: "POST",
                data: { headerId: parseInt($("#HeaderId").val()) },
                dataType: "html",
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    bootbox.dialog({
                        title: "History",
                        message: data,
                        size: "large",
                        buttons: {
                            Cancel: {
                                label: 'Close',
                                className: 'btn btnclose',
                                callback: function () { }
                            }
                        }
                    });
                },
                error: function (er)
                { }
            });
        });
    });

    function LoadFileUploadFinalHeader() {
        var Status = $("#Status").val();

        var DisplayBtn = true;
        if (Status.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue().ToLower()' ||
            Status.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()') {
            var DisplayBtn = false;
        }
        var UploadPath = "";
        if (parseInt(@Model.HeaderId) > 0) {
            UploadPath = "NDE009/@(Model.HeaderId)/R@(Model.RevNo)";
        }
        var objFileUploadFinalHeader = new FileUploadEnt('dv@(FileUploadFinalHeaderID)', '@FileUploadFinalHeaderID');
        objFileUploadFinalHeader.ShowDeleteAction = DisplayBtn;
        objFileUploadFinalHeader.ShowAttachmentBtn = DisplayBtn;
        objFileUploadFinalHeader.FolderPath = UploadPath;
        objFileUploadFinalHeader.SuccessCallbackFunction = "";
        objFileUploadFinalHeader.IsRequired = true;
        objFileUploadFinalHeader.LoadCallbackFunction = HideUpload;
        objFileUploadFinalHeader.SuccessCallbackFunction = "SubmitTechnique()";
        LoadFileUploadPartialView(objFileUploadFinalHeader);
    }
    function HideUpload() {
        $('#btnUploadAll@(FileUploadFinalHeaderID)').hide()
    }
    function CopyToDestination(headerId, destProject) {
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainRTTechnique/CopyToDestination",
            type: 'POST',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            data: { headerId: headerId, destQMSProject: destProject },
            success: function (res) {
                if (res.Key) {
                    setTimeout(DisplayNotiMessage("success", res.Value, "Success"), 2000);
                    //window.setTimeout('window.location.href = "/NDE/MaintainRTTechnique/AddRTTechnique?headerId=' + res.HeaderId + '"', 2000)
                }
                else {
                    DisplayNotiMessage("error", res.Value, "Error");
                    return false;
                }
            }
        });
    }

    function AddTechniqueHeader(frmSerialisedArray, isFromSubmit) {
        if (isFromSubmit === undefined || isFromSubmit === null) {
            isFromSubmit = false;
        }
        isSendForApproval = isFromSubmit;
        var formdata = new FormData();
        var status = $("#Status").val();
        var hasAttachments = true;
        $.each(frmSerialisedArray, function (key, input) {
            formdata.append(input.name, input.value);
        });
        if (status.toLowerCase() != '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue()'.toLocaleLowerCase()) {
            hasAttachments = getHasAttachmentsForSubmit('@(FileUploadFinalHeaderID)');
        }
        if (hasAttachments == true) {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainRTTechnique/SaveHeader",
                type: 'POST',
                //contentType: false,
                //processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: //formdata,
                    {
                        HeaderId: $("#HeaderId").val(),
                        QualityProject: $("#ddlQMSProject").val(),
                        Project: $("#Project").val(),
                        BU: $("#BU").val(),
                        Location: $("#Location").val(),
                        RTProcedureNo: $("#RTProcedureNo").val(),
                        RTTechNo: $("#RTTechNo").val(),
                        DocNo: $("#DocNo").val(),
                        Technique: $("#ddlTechnique").val(),
                        SourceofRadiation: $("#ddlSourceOfRadiation").val(),
                        Film: $("#ddlFilm").val(),
                        IQI: $("#ddlIQI").val(),
                        ExposureDetail: $("#ddlExposureDetail").val(),
                        Weld: $("#ddlWeld").val(),
                        WeldReinforcement: $("#WeldReinforcement").val(),
                        GammaRaySource: $("#ddlGammaRaySource").val(),
                        Activity: $("#Activity").val(),
                        DensityRange: $("#DensityRange").val(),
                        mA: $("#mA").val(),
                        Kvp: $("#Kvp").val(),
                        FocalSpotSize: $("#FocalSpotSize").val(),
                        SFD: $("#SFD").val(),
                        ExposureTime: $("#ExposureTime").val(),
                        BeamAngle: $("#BeamAngle").val(),
                        IntensifyingScreen: $("#IntensifyingScreen").val(),
                        IQIHoleType: $("#txtIQIHoleType").val(),
                        IQIWireType: $("#txtIQIWireType").val(),
                        ShimThickness: $("#ShimThickness").val(),
                        FilmBrand: $("#ddlFilmBrand").val(),
                        NoofFilmPerCassettes: $("#NoofFilmPerCassettes").val(),
                        NoofExposure: $("#NoofExposure").val(),
                        FilmViewing: $("#ddlFilmViewing").val(),
                        LeadLetter: $("#LeadLetter").val(),
                        PlannerRemarks: $("#PlannerRemarks").val(),
                        WireDia: $("#WireDia").val(),
                        TechniqueSheetNo: $("#TechniqueSheetNo").val(),
                        //Attach: getAttachmentsFromTable()
                    },
                success: function (res) {
                    if (res.Key == true && res.Value > 0) {
                        if (!isFromSubmit) {
                            $("#txtQualityProject").attr("disabled", true);
                            $("#HeaderId").val(res.Value);
                            $("#ReturnRemarks").val(res.Remarks);
                            DisplayNotiMessage("success", '@IEMQSImplementation.clsImplementationMessage.PTTechniqueMeassage.Save.ToString()', "Success");
                            $("#lblStatus").text(res.HeaderStatus)
                            $("#Status").val(res.HeaderStatus);
                            $("#RevNo").val('R' + res.RevNo);
                            $("#ddlQMSProject,#Method").prop('disabled', true);
                            $("#btnSendForApproval").show();//removeAttr("disabled");
                            if (res.HeaderStatus.toLowerCase() == '@clsImplementationEnum.NDETechniqueStatus.Approved.GetStringValue().ToLower()') {
                                $('#btnCopy').show();
                            }
                            else {
                                $('#btnCopy').hide();
                            }
                            UpdateFolderPathAndSave@(FileUploadFinalHeaderID)("NDE009/" + parseInt(res.Value) + "/R" + res.RevNo);
                        }
                        else {
                            UpdateFolderPathAndSave@(FileUploadFinalHeaderID)("NDE009/" + parseInt(res.Value) + "/R" + res.RevNo);
                        }
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");
                    }
                },
                errors: function (error) {
                    DisplayNotiMessage("error", error.data, "Error");
                }
            });
        }
    }

    function SubmitTechnique() {
        if (isSendForApproval) {
            $.ajax({
                url: WebsiteURL + "/NDE/MaintainRTTechnique/SendForApproval",
                type: 'POST',
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                data: { headerId: parseInt($("#HeaderId").val()) },
                success: function (res) {
                    if (res.Key == true) {
                        DisplayNotiMessage("success", res.Value, "Success")
                        window.setTimeout('window.location.href = "' + WebsiteURL + '/NDE/MaintainRTTechnique/Index"', 3000)
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");
                    }
                },
                errors: function (error) {
                    DisplayNotiMessage("error", error.data, "Error");
                }
            });
        }
    }
    function MethodChange(technique, sourceOfRadiation, film, iqi, location, QMSproject) {

        $.ajax({
            url: WebsiteURL + "/NDE/MaintainRTTechnique/GetMaxRTTechNo",
            type: 'POST',
            data: { technique: technique, sourceOfRadiation: sourceOfRadiation, film: film, iqi: iqi, location: location, QMSproject: QMSproject },
            async: false,
            success: function (res) {
                var RTTechNo = res.Method + pad(res.DocumentNo, 3);
                $("#DocNo").val(res.DocumentNo);
                $("#RTTechNo").val(RTTechNo);
            },
            error: function (error) {
            }
        });
    };

    function projectChange(QMSProjectcd, location) {
        $.ajax({
            url: WebsiteURL + "/NDE/MaintainRTTechnique/GetQMSProjectDetail",
            type: 'POST',
            data: { QMSProject: QMSProjectcd, location: location },
            async: false,
            success: function (res) {
                if (res != null && res != undefined) {
                    if (res.Key) {
                        //$("#Location").trigger("focus");
                        FillAutoComplete($("#txtTechnique"), res.Technique, $("#ddlTechnique"));
                        FillAutoComplete($("#txtSourceofRadiation"), res.SourceOfRadiation, $("#ddlSourceOfRadiation"));
                        FillAutoComplete($("#txtIQI"), res.IQI, $("#ddlIQI"));
                        FillAutoComplete($("#txtFilm"), res.Film, $("#ddlFilm"));
                        FillAutoComplete($("#txtFilmBrand"), res.FilmBrand, $("#ddlFilmBrand"));
                        FillAutoComplete($("#txtFilmViewing"), res.FilmViewing, $("#ddlFilmViewing"));
                        FillAutoComplete($("#txtIntensifyingScreen"), res.IntensifyingScreen, $("#IntensifyingScreen"));
                        //FillAutoComplete($("#txtIQIHoleType"), res.IQIHoleType, $("#ddlIQIHoleType"));
                        //FillAutoComplete($("#txtIQIWireType"), res.IQIWireType, $("#ddlIQIWireType"));
                        FillAutoComplete($("#txtWeld"), res.Weld, $("#ddlWeld"));
                        //   FillAutoComplete($("#txtGammaRaySource"), res.GammaRaySource, $("#ddlGammaRaySource"));
                        //   FillAutoComplete($("#txtExposureDetail"), res.ExposureDetail, $("#ddlExposureDetail"));
                        //$("#Project").trigger("focus");
                    }
                    else {
                        DisplayNotiMessage("error", res.Value, "Error");
                        ClearControl();
                        //$("#txtQualityProject").trigger("blur");

                        FillAutoComplete($("#txtTechnique"), null, $("#ddlTechnique"));
                        FillAutoComplete($("#txtSourceofRadiation"), null, $("#ddlSourceOfRadiation"));
                        FillAutoComplete($("#txtIQI"), null, $("#ddlIQI"));
                        FillAutoComplete($("#txtFilm"), null, $("#ddlFilm"));
                        FillAutoComplete($("#txtFilmBrand"), null, $("#ddlFilmBrand"));
                        FillAutoComplete($("#txtFilmViewing"), null, $("#ddlFilmViewing"));
                        //FillAutoComplete($("#txtIQIHoleType"), null, $("#ddlIQIHoleType"));
                        //FillAutoComplete($("#txtIQIWireType"), null, $("#ddlIQIWireType"));
                        FillAutoComplete($("#txtWeld"), null, $("#ddlWeld"));
                        //   FillAutoComplete($("#txtGammaRaySource"), null, $("#ddlGammaRaySource"));
                        //   FillAutoComplete($("#txtExposureDetail"), null, $("#ddlExposureDetail"));
                    }
                    $("#Project").val(res.project.projectDescription);
                    $("#BU").val(res.BU);
                    $("#ManufacturingCode").val(res.ManufacturingCode);
                }

            }
        });
    };

    function ClearControl() {
        $("#txtQualityProject").val();
        $("#ddlQMSProject").val('');
        $("#Project").val('');
        $("#txtTechnique").val('');
        $("#ddlTechnique").val('');
        $("#txtSourceofRadiation").val('');
        $("#ddlSourceofRadiation").val('');
        $("#txtIQI").val('');
        $("#ddlIQI").val('');
        $("#txtFilm").val('');
        $("#ddlFilm").val('');
        $("#txtFilmBrand").val('');
        $("#ddlFilmBrand").val('');
        $("#txtFilmViewing").val('');
        $("#ddlFilmViewing").val('');
        $("#txtIQIHoleType").val('');
        $("#ddlIQIHoleType").val('');
        $("#txtIQIWireType").val('');
        $("#ddlIQIWireType").val('');
        $("#txtWeld").val('');
        $("#ddlWeld").val('');
        $("#txtGammaRaySource").val('');
        $("#ddlGammaRaySource").val('');
        $("#txtExposureDetail").val('');
        $("#ddlExposureDetail").val('');


        $("#RTProcedureNo").val('');
        $("#WeldReinforcement").val('');
        $("#NoofExposure").val('');
        $("#NoofFilmPerCassettes").val('');
        $("#mA").val('');
        $("#Kvp").val('');
        $("#FocalSpotSize").val('');
        $("#SFD").val('');
        $("#ExposureTime").val('');
        $("#BeamAngle").val('');
        $("#IntensifyingScreen").val('');
        $("#ShimThickness").val('');
        $("#DensityRange").val('');
        $("#Activity").val('');
        //$("#LeadLetter").val('');
        $("#PlannerRemarks").val('');

    }

    function FillAutoComplete(element, sourceList, hdElement) {
        element.autocomplete({
            source: function (request, response) {
                //response($.map(sourceList, function (item) {
                //    return { label: item.CategoryDescription, value: item.CategoryDescription, id: item.Code };
                //}));
                var array = $.map(sourceList, function (item) {
                    return {
                        label: item.CategoryDescription,
                        value: item.CategoryDescription,
                        id: item.Code
                    }
                });
                response($.ui.autocomplete.filter(array, request.term));
            },
            autoFocus: true,
            minLength: 0,
            select: function (event, ui) {
                $(this).val(ui.item.id);
                $(hdElement).val(ui.item.id)
            },
            change: function (event, ui) {
                if (ui.item == null) {
                    element.val('');
                    element.focus();
                }
            }
        }).focus(function () {
            $(this).data("uiAutocomplete").search($(this).val());
            $(this).autocomplete("search");
        });
    }

    function FillControlsOnEdit() {
        if ('@Model.QualityProject' != '' && '@Model.QualityProject' != "null" && '@Model.QualityProject' != null) {
            $("#txtQualityProject").val('@ViewBag.QMSProject');
            $("#txtQualityProject").attr("disabled", true);
            $("#ddlQMSProject").val('@Model.QualityProject');
        }
        if ('@Model.Technique' != '' && '@Model.Technique' != "null" && '@Model.Technique' != null) {
            $("#txtTechnique").val('@Html.Raw((String)ViewBag.Technique)');
            $("#ddlTechnique").val('@Model.Technique');
        }
        if ('@Model.SourceofRadiation' != '' && '@Model.SourceofRadiation' != "null" && '@Model.SourceofRadiation' != null) {
            $("#txtSourceofRadiation").val('@Html.Raw((String)ViewBag.SourceofRadiation)');
            $("#ddlSourceofRadiation").val('@Model.SourceofRadiation');
        }
        if ('@Model.IQI' != '' && '@Model.IQI' != "null" && '@Model.IQI' != null) {
            $("#txtIQI").val('@Html.Raw((String)ViewBag.IQI)');
            $("#ddlIQI").val('@Model.IQI');
        }
        if ('@Model.Film' != '' && '@Model.Film' != "null" && '@Model.Film' != null) {
            $("#txtFilm").val('@Html.Raw((String)ViewBag.Film)');
            $("#ddlFilm").val('@Model.Film');
        }
        if ('@Model.FilmBrand' != '' && '@Model.FilmBrand' != "null" && '@Model.FilmBrand' != null) {
            $("#txtFilmBrand").val('@Html.Raw((String)ViewBag.FilmBrand)');
            $("#ddlFilmBrand").val('@Model.FilmBrand');
        }
        if ('@Model.FilmViewing' != '' && '@Model.FilmViewing' != "null" && '@Model.FilmViewing' != null) {
            $("#txtFilmViewing").val('@Html.Raw((String)ViewBag.FilmViewing)');
            $("#ddlFilmViewing").val('@Model.FilmViewing');
        }
        @*if ('@Model.IQIHoleType' != '' && '@Model.IQIHoleType' != "null" && '@Model.IQIHoleType' != null) {
            $("#txtIQIHoleType").val('@ViewBag.IQIHoleType');
            $("#ddlIQIHoleType").val('@Model.IQIHoleType');
        }
        if ('@Model.IQIWireType' != '' && '@Model.IQIWireType' != "null" && '@Model.IQIWireType' != null) {
            $("#txtIQIWireType").val('@ViewBag.IQIWireType');
            $("#ddlIQIWireType").val('@Model.IQIWireType');
        }*@
        if ('@Model.IntensifyingScreen' != '' && '@Model.IntensifyingScreen' != "null" && '@Model.IntensifyingScreen' != null) {
            $("#txtIntensifyingScreen").val('@Html.Raw((String)ViewBag.IntensifyingScreens)');
            $("#IntensifyingScreen").val('@Model.IntensifyingScreen');
        }

        if ('@Model.Weld' != '' && '@Model.Weld' != "null" && '@Model.Weld' != null) {
            $("#txtWeld").val('@Html.Raw((String)ViewBag.Weld)');
            $("#ddlWeld").val('@Model.Weld');
        }
        @*if ('@Model.GammaRaySource' != '' && '@Model.GammaRaySource' != "null" && '@Model.GammaRaySource' != null) {
            $("#txtGammaRaySource").val('@Html.Raw((String)ViewBag.GammaRaySource)');
            $("#ddlGammaRaySource").val('@Model.GammaRaySource');
        }
        if ('@Model.ExposureDetail' != '' && '@Model.ExposureDetail' != "null" && '@Model.ExposureDetail' != null) {
            $("#txtExposureDetail").val('@Html.Raw((String)ViewBag.ExposureDetail)');
            $("#ddlExposureDetail").val('@Model.ExposureDetail');
        }*@

    }

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    };
</script>


<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:60px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Maintain RT Technique</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvRTTechniqueHeader">
                    <form id="frmRTTechniqueHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">

                                <fieldset>
                                    <legend>Project Details</legend>
                                    @Html.HiddenFor(m => m.HeaderId)
                                    @Html.HiddenFor(m => m.DocNo)
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Quality Project<span class="required"> * </span></label>
                                            <input type="text" id="txtQualityProject" name="txtQualityProject" class="form-control col-md-3" placeholder="Select" colname="QualityProject" />
                                            @Html.HiddenFor(m => m.QualityProject, new { @id = "ddlQMSProject" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            <input type="text" id="Project" name="Project" class="col-md-3 form-control" readonly="readonly" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBoxFor(m => m.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @id = "Location", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">RT Technique No<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.TechniqueSheetNo, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RT Procedure with Rev. No.<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.RTProcedureNo, new { @class = "form-control col-md-3", @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Document No</label>
                                            @Html.TextBoxFor(m => m.RTTechNo, new { @class = "form-control col-md-3", @readonly = true, @maxlength = "100" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Rev No.</label>
                                            @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <div class="">
                                                <input type="text" name="manufacturingcode" id="ManufacturingCode" class="form-control col-md-3" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend>Technique Details</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">RT Technique<span class="required"> * </span></label>
                                            <input type="text" id="txtTechnique" name="txtTechnique" class="form-control col-md-3" placeholder="Select" colname="Technique" />
                                            @Html.HiddenFor(m => m.Technique, new { @id = "ddlTechnique" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Source Of Radiation<span class="required"> * </span></label>
                                            <input type="text" id="txtSourceofRadiation" name="txtSourceofRadiation" class="form-control col-md-3" placeholder="Select" colname="SourceofRadiation" />
                                            @Html.HiddenFor(m => m.SourceofRadiation, new { @id = "ddlSourceOfRadiation" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Film Type<span class="required"> * </span></label>
                                            <input type="text" id="txtFilm" name="txtFilm" class="form-control col-md-3" placeholder="Select" colname="Film" />
                                            @Html.HiddenFor(m => m.Film, new { @id = "ddlFilm" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">IQI Location<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtIQI" name="txtIQI" class="form-control col-md-3" placeholder="Select" colname="IQI" />
                                                @Html.HiddenFor(m => m.IQI, new { @id = "ddlIQI" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        @*<div class="col-md-3">
                                                <label class="control-label">Exposure Detail<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" id="txtExposureDetail" name="txtExposureDetail" class="form-control col-md-3" placeholder="Select" />
                                                    @Html.HiddenFor(m => m.ExposureDetail, new { @id = "ddlExposureDetail" })
                                                </div>
                                            </div>*@
                                        <div class="col-md-3">
                                            <label class="control-label">Weld Condition<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtWeld" name="txtWeld" class="form-control col-md-3" placeholder="Select" colname="Weld" />
                                                @Html.HiddenFor(m => m.Weld, new { @id = "ddlWeld" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Weld Reinforcement</label>
                                            @Html.TextBoxFor(m => m.WeldReinforcement, new { @class = "form-control col-md-3", @maxlength = "7" })
                                        </div>
                                        @*<div class="col-md-3">
                                                <label class="control-label">Gamma Ray Source<span class="required"> * </span></label>
                                                <div class="">
                                                    <input type="text" id="txtGammaRaySource" name="txtGammaRaySource" class="form-control col-md-3" placeholder="Select" />
                                                    @Html.HiddenFor(m => m.GammaRaySource, new { @id = "ddlGammaRaySource" })
                                                </div>
                                            </div>*@

                                        <div class="col-md-3">
                                            <label class="control-label">Activity (Ci) <span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.Activity, new { @class = "col-md-3 form-control numericval", @maxlength = "3" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Density (HD) range <span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.DensityRange, new { @class = "col-md-3 form-control", @maxlength = "15" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <div class="col-md-12" style="padding:0px !important;">
                                                <div class="col-md-6" style="padding-left:0px !important;padding-right:2.5px!important;">
                                                    <label class="control-label">mA<span class="required"> * </span></label>
                                                    @Html.TextBoxFor(m => m.mA, new { @class = "col-md-12 form-control" })
                                                </div>
                                                <div class="col-md-6" style="padding-right:0px !important;padding-left:2.5px!important;">
                                                    <label class="control-label">Kvp<span class="required"> * </span></label>
                                                    @Html.TextBoxFor(m => m.Kvp, new { @class = "col-md-12 form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Focal spot /Source size (mm x mm)<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.FocalSpotSize, new { @class = "col-md-3 form-control", @maxlength = "15" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">SFD/FFD (mm)<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.SFD, new { @class = "col-md-3 form-control numericval8", @maxlength = "8" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Exposure time (min.)<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.ExposureTime, new { @class = "col-md-3 form-control", @maxlength = "10" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Beam Angle<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.BeamAngle, new { @class = "col-md-3 form-control", @maxlength = "15" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intensifying Screen<span class="required"> * </span></label>
                                            <input type="text" id="txtIntensifyingScreen" name="txtIntensifyingScreen" class="form-control col-md-3" placeholder="Select" colname="IntensifyingScreen" />
                                            @Html.HiddenFor(m => m.IntensifyingScreen)
                                            @*@Html.TextBoxFor(m => m.IntensifyingScreen, new { @class = "col-md-3 form-control", @maxlength = "15" })*@
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">IQI Hole Type<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.IQIHoleType, new { @id = "txtIQIHoleType", @class = "col-md-3 form-control", @maxlength = "50" })
                                                @*<input type="text" id="txtIQIHoleType" name="txtIQIHoleType" class="form-control col-md-3" placeholder="Select" />
                                                    @Html.HiddenFor(m => m.IQIHoleType, new { @id = "ddlIQIHoleType" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">IQI Wire Type<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextAreaFor(m => m.IQIWireType, new { @id = "txtIQIWireType", @class = "col-md-3 form-control", @maxlength = "50" })
                                                @*<input type="text" id="txtIQIWireType" name="txtIQIWireType" class="form-control col-md-3" placeholder="Select" />
                                                    @Html.HiddenFor(m => m.IQIWireType, new { @id = "ddlIQIWireType" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label"> Wire Dia. (mm)</label> @*<span class="required"> * </span>*@
                                            <div class="">
                                                @Html.TextBoxFor(m => m.WireDia, new { @class = "col-md-3 form-control numdecimal", @maxlength = "20" })
                                                @*<input type="text" id="txtIQIWireType" name="txtIQIWireType" class="form-control col-md-3" placeholder="Select" />
                                                    @Html.HiddenFor(m => m.IQIWireType, new { @id = "ddlIQIWireType" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="control-label">Shim Thickness<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.ShimThickness, new { @class = "form-control col-md-3", @maxlength = "15" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Film brand/ Type<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtFilmBrand" name="txtFilmBrand" class="form-control col-md-3" placeholder="Select" colname="FilmBrand" />
                                                @Html.HiddenFor(m => m.FilmBrand, new { @id = "ddlFilmBrand" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Number of films in each cassettes<span class="required">*</span></label>
                                            @Html.TextBoxFor(m => m.NoofFilmPerCassettes, new { @class = "col-md-12 form-control numericval", @maxlength = "3" })

                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-3">
                                            <label class="control-label">No. of Exposure<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.NoofExposure, new { @class = "col-md-12 form-control" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label"> Film viewing<span class="required"> * </span></label>
                                            <div class="">
                                                <input type="text" id="txtFilmViewing" name="txtFilmViewing" class="form-control col-md-3" placeholder="Select" colname="FilmViewing" />
                                                @Html.HiddenFor(m => m.FilmViewing, new { @id = "ddlFilmViewing" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Lead letter “B” <span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.LeadLetter, new { @class = "form-control col-md-3", @readonly = "readonly", @Value = "Yes" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <div class="col-md-6">
                                            <label class="control-label">Planner Remarks<span class="required"> * </span> </label>
                                            @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @maxlength = "100" })
                                        </div>

                                        <div class="col-md-6">
                                            <label class="control-label">Return Remarks</label>
                                            @Html.TextBoxFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Sketch of RT Technique</legend>
                                    <div class="attachment form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div id="dv@(FileUploadFinalHeaderID)"></div>
                                                @*@Html.Partial("_AttachmentPartial")*@
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="col-md-12">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6" style="text-align:right;margin-top:2%;">

                                        @if (Model.Status != clsImplementationEnum.NDETechniqueStatus.SentForApproval.GetStringValue())
                                        {
                                            <input type="button" id="btnRTTechniqueSave" class="btn green" value="Save" />
                                            <input type="button" id="btnSendForApproval" class="btn blue" value="Submit" style="display:none;" />
                                        }
                                        <a href='@Url.Action("Index","MaintainRTTechnique")' class="btn btnclose">Close</a>
                                        @if (Model.Status.ToLower() == clsImplementationEnum.QCPStatus.Approved.GetStringValue().ToLower() ||
(Model.RevNo > 0 && Model.Status.ToLower() == clsImplementationEnum.QCPStatus.Draft.GetStringValue().ToLower()))
                                        {
                                            <button title="Copy" type="button" id="btnCopy" class="btn icons"><i class="fa fa-files-o"></i></button>
                                        }
                                        <button title="History" style="display:none;" type="button" id="btnHistory" class="btn icons"><i class="fa fa-history"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
