﻿@model IEMQSImplementation.NDE009_Log
@using IEMQSImplementation

@{
    ViewBag.Title = "View RT Technique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script>
    $(document).ready(function () {
        setAttachmentsInHeader("NDE009/@(Model.HeaderId)/R@(Model.RevNo)", true);
        $('div.attachment :input').attr('disabled', true); //
    });
</script>
<style>
    textarea {
        height: 33px !important;
    }

    .disableDiv {
        pointer-events: none;
        opacity: 0.7;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin-bottom: 5px !important;
    }
</style>

<div class="page-content">
    <div class="portlet light ">

        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:60px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">History RT Technique</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning">
                        <span style="font-weight:bolder">Status : <label id="lblStatus" style="font-weight:bolder">@Model.Status</label> </span>
                        @Html.HiddenFor(m => m.Status)
                    </div>
                </div>

                <div id="dvRTTechniqueHeader">
                    <form id="frmRTTechniqueHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">

                                <fieldset>
                                    <legend>Project Detail</legend>
                                    @Html.HiddenFor(m => m.HeaderId)
                                    @Html.HiddenFor(m => m.DocNo)
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">QMS Project<span class="required"> * </span></label>
                                            @Html.TextBox("QMSProject", (string)ViewBag.QMSProject, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Project</label>
                                            @Html.TextBox("Project", (string)ViewBag.Project, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">BU</label>
                                            @Html.TextBox("BU", (string)ViewBag.BU, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Location</label>
                                            <div class="">
                                                @Html.TextBox("Location", (string)ViewBag.Location, new { @class = "form-control col-md-3", @id = "Location", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">RT Technique No<span class="required"> * </span></label>
                                            @Html.TextBoxFor(m => m.TechniqueSheetNo, new { @class = "form-control col-md-3", @readonly = true, @maxlength = "50" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">RT Procedure with Rev. No.</label>
                                            @Html.TextBoxFor(m => m.RTProcedureNo, new { @class = "form-control col-md-3", @maxlength = "50", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Document No</label>
                                            @Html.TextBoxFor(m => m.RTTechNo, new { @class = "form-control col-md-3", @readonly = true, @maxlength = "100" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Rev No.</label>
                                            @Html.TextBoxFor(m => m.RevNo, "R" + Model.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Manufacturing Code</label>
                                            <div class="">
                                                @Html.TextBox("ManufacturingCode", (string)ViewBag.MfgCode, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset>
                                    <legend>Technique Detail</legend>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">RT Technique</label>
                                            @Html.TextBox("Technique", (string)ViewBag.Technique, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Source Of Radiation</label>
                                            @Html.TextBox("SourceOfRadiation", Html.Raw((String)ViewBag.SourceOfRadiation), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Film Type</label>
                                            @Html.TextBox("Film", Html.Raw((String)ViewBag.Film), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">IQI Location</label>
                                            @Html.TextBox("IQI", Html.Raw((String)ViewBag.IQI), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        @*<div class="col-md-3">
                                            <label class="control-label">Exposure Detail</label>
                                            @Html.TextBox("ExposureDetail", (string)ViewBag.ExposureDetail, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>*@
                                        <div class="col-md-3">
                                            <label class="control-label">Weld Condition</label>
                                            @Html.TextBox("Weld", Html.Raw((String)ViewBag.Weld), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Weld Reinforcement</label>
                                            @Html.TextBoxFor(m => m.WeldReinforcement, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        @*<div class="col-md-3">
                                            <label class="control-label">Gamma Ray Source</label>
                                            @Html.TextBox("GammaRaySource", (string)ViewBag.GammaRaySource, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>*@
                                        <div class="col-md-3">
                                            <label class="control-label">Activity (Ci)</label>
                                            @Html.TextBoxFor(m => m.Activity, new { @class = "col-md-3 form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Density (HD) range </label>
                                            @Html.TextBoxFor(m => m.DensityRange, new { @class = "col-md-3 form-control", @maxlength = "15", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                      
                                        <div class="col-md-3">
                                            <div class="col-md-12" style="padding:0px !important;">
                                                <div class="col-md-6" style="padding-left:0px !important;padding-right:2.5px!important;">
                                                    <label class="control-label">mA</label>
                                                    @Html.TextBoxFor(m => m.mA, new { @class = "col-md-12 form-control", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-6" style="padding-right:0px !important;padding-left:2.5px!important;">
                                                    <label class="control-label">Kvp</label>
                                                    @Html.TextBoxFor(m => m.Kvp, new { @class = "col-md-12 form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Focal spot /Source size (mm x mm)</label>
                                            @Html.TextBoxFor(m => m.FocalSpotSize, new { @class = "col-md-3 form-control", @maxlength = "15", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">SFD/FFD (mm)</label>
                                            @Html.TextBoxFor(m => m.SFD, new { @class = "col-md-3 form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Exposure time (min.)</label>
                                            @Html.TextBoxFor(m => m.ExposureTime, new { @class = "col-md-3 form-control", @maxlength = "10", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">Beam Angle</label>
                                            @Html.TextBoxFor(m => m.BeamAngle, new { @class = "col-md-3 form-control", @maxlength = "15", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Intensifying Screen</label>
                                            @Html.TextBoxFor(m => m.IntensifyingScreen, new { @class = "col-md-3 form-control", @maxlength = "5", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">IQI Hole Type</label>
                                            @Html.TextAreaFor(m => m.IQIHoleType, new { @id = "txtIQIHoleType", @class = "col-md-3 form-control", @maxlength = "50", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">IQI Wire Type</label>
                                            @Html.TextAreaFor(m => m.IQIWireType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                       
                                        <div class="col-md-3">
                                            <label class="control-label"> Wire Dia. (mm)<span class="required"> * </span></label>
                                            <div class="">
                                                @Html.TextBoxFor(m => m.WireDia, new { @class = "col-md-3 form-control numdecimal", @maxlength = "20", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Shim Thickness</label>
                                            @Html.TextBoxFor(m => m.ShimThickness, new { @class = "form-control col-md-3",  @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Film brand/ Type</label>
                                            @Html.TextBox("FilmBrand", Html.Raw((String)ViewBag.FilmBrand), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Number of films in each cassettes</label>
                                            @Html.TextBoxFor(m => m.NoofFilmPerCassettes, new { @class = "col-md-12 form-control", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="control-label">No. of Exposure</label>
                                            @Html.TextBoxFor(m => m.NoofExposure, new { @class = "col-md-12 form-control", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label"> Film viewing</label>
                                            @Html.TextBox("FilmViewing", Html.Raw((String)ViewBag.FilmViewing), new { @class = "form-control col-md-3", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Lead letter “B” </label>
                                            @Html.TextBoxFor(m => m.LeadLetter, new { @class = "form-control col-md-3", @maxlength = "5", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        
                                        <div class="col-md-6">
                                            <label class="control-label">Planner Remarks </label>
                                            @Html.TextBoxFor(m => m.PlannerRemarks, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Return Remarks </label>
                                            @Html.TextBoxFor(m => m.ReturnRemarks, new { @class = "form-control col-md-3", @maxlength = "100", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Sketch of RT Technique</legend>
                                    <div class="form-group attachment">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                @Html.Partial("_AttachmentPartial")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align:right;margin-top:1%;padding-right:2.5%">
                                        <a href='@Url.Action("Index","MaintainRTtechnique")' class="btn btnclose">Close</a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
