﻿@model IEMQSImplementation.PTR017
@using IEMQSImplementation
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0;
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<style>
    .w100 {
        width: 100px !important;
    }

    .w150 {
        width: 150px !important;
    }

    .w170 {
        width: 170px !important;
    }
</style>

@*<div class="page-content">*@
<div class="">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            MECHANICAL TEST REPORT : DROP WEIGHT TEST
                        </span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div>
                                    <div style="text-align:right;">
                                        <input type="button" class="btn submit" id="btnSave" value="Save" />
                                    </div>
                                </div>      
                                <table class="FormTable tblNotes" style="margin-bottom:0px">
                                    <tr>
                                        <td class="subtitle"> Report No:</td>
                                        <td>@Html.TextBoxFor(model => model.ReportNo, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50", @style = "text-align:left;" })</td>
                                        <td class="subtitle">SOP No.:</td>
                                        <td>
                                            @Html.HiddenFor(model => model.PTRHeaderId)
                                            @Html.HiddenFor(model => model.HeaderId)
                                            @Html.TextBoxFor(model => model.SOPNo, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50", @style = "text-align:left;" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="subtitle"> Ref. Std.:</td>
                                        <td colspan="3">@Html.TextBoxFor(model => model.RefStd, new { @class = "form-control EditableTextColor textleft" })</td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="subtitle">Acceptance Criteria</td>
                                        <td colspan="3">@Html.TextBoxFor(model => model.AcceptanceCriteria, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50", @style = "text-align:left;" })</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <span style="float:left;">
                                                        <strong></strong>
                                                    </span>
                                                </div>
                                                <div class="tools">
                                                    <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body" id="div1">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tr>
                                                            <td><input type="button" class="btn btn-primary" value="ADD NEW COLUMN" onclick="fnAddNewTD()" /></td>
                                                        </tr>
                                                    </table>
                                                    <table id="tblProtocolLines1" class="FormTable">
                                                        <tr>
                                                            <td><b>Identification</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue1_1_" + (@s1 = s1 + 1), obj.ActualValue1, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Specimen Type (P1,P2,P3)</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue2_1_" + (@s1 = s1 + 1), obj.ActualValue2, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Location</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue3_1_" + (@s1 = s1 + 1), obj.ActualValue3, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Orientation</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue4_1_" + (@s1 = s1 + 1), obj.ActualValue4, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Notch Position/Location</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue5_1_" + (@s1 = s1 + 1), obj.ActualValue5, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Length (120-140 mm ) L</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue6_1_" + (@s1 = s1 + 1), obj.ActualValue6, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Width (49-51 mm ) W</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue7_1_" + (@s1 = s1 + 1), obj.ActualValue7, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Thickness (18-20 mm)  T</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue8_1_" + (@s1 = s1 + 1), obj.ActualValue8, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Weld Length (60-65mm) WL</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue9_1_" + (@s1 = s1 + 1), obj.ActualValue9, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Weld Width (13-14 mm ) WW</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue10_1_" + (@s1 = s1 + 1), obj.ActualValue10, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Weld Height (4.5-6.0 mm) WH</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue11_1_" + (@s1 = s1 + 1), obj.ActualValue11, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Notch Angle (45° +/-1°C)/ Width (1.5mm Max.)</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue12_1_" + (@s1 = s1 + 1), obj.ActualValue12, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Notch Radius(0.2) NR</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue13_1_" + (@s1 = s1 + 1), obj.ActualValue13, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Drop Weight Energy (Joules)</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue14_1_" + (@s1 = s1 + 1), obj.ActualValue14, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Weld Height Below Notch</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue15_1_" + (@s1 = s1 + 1), obj.ActualValue15, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Test Temp. (*C)</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue16_1_" + (@s1 = s1 + 1), obj.ActualValue16, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Test Status</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.DropDownList("ActualValue17_1_" + (@s1 = s1 + 1), new SelectList(ViewBag._lstTestStatus, "Value", "Text", @obj.ActualValue17), "", new { @class = "form-control validate-onchange EditableTextColor" })
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Bead Crack</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue18_1_" + (@s1 = s1 + 1), obj.ActualValue18, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Deflection</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.TextBox("ActualValue19_1_" + (@s1 = s1 + 1), obj.ActualValue19, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"})
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Result</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    <td>
                                                                        @Html.DropDownList("ActualValue20_1_" + (@s1 = s1 + 1), new SelectList(ViewBag._lstResult, "Value", "Text", @obj.ActualValue20), "", new { @class = "form-control validate-onchange EditableTextColor" })
                                                                    </td>
                                                                }
                                                                s1 = 0;
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td><b>Delete</b></td>
                                                            @if (ViewBag.lstPTR017_Log != null)
                                                            {
                                                                foreach (var obj in ViewBag.lstPTR017_Log as List<PTR017_Log>)
                                                                {
                                                                    s1 = s1 + 1;
                                                                    <td class="DeleteAction">
                                                                        <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(@s1)"></i>
                                                                        @Html.Hidden("LineId_1_" + @s1, @obj.LineId, new { @Id = "LineId_1_" + @s1 })
                                                                    </td>
                                                                }
                                                            }
                                                        </tr>
                                                    </table>

                                                    <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <table class="FormTable tblNotes" style="margin-bottom:0px">
                                            @*<tr>
                                                <td class="subtitle">Sample Dimension</td>
                                                <td>@Html.TextBoxFor(model => model.SampleDimension, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "100"}) </td>
                                            </tr>*@
                                            <tr>
                                                <td class="subtitle">Welding Consumables Used</td>
                                                <td>@Html.TextBoxFor(model => model.WeldingConsumablesUsed, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"}) </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">Welding Parameters - Current (180-200A)</td>
                                                <td>@Html.TextBoxFor(model => model.WeldingParameters, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"}) </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">Soaking Time at test temperature (Minutes)</td>
                                                <td>@Html.TextBoxFor(model => model.SoakingTimeAtTestTemp, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"}) </td>
                                            </tr>
                                            <tr>
                                                <td class="subtitle">NDT Temperature(°C)</td>
                                                <td>@Html.TextBoxFor(model => model.NDTTemp, new { @class = "form-control validate-onchange EditableTextColor", @maxlength = "50"}) </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <table class="table table-bordered" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                            <tr>
                                                <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                    Notes
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="clstd" style="display: flex;">
                                                    1) Environmental Condition: Temp.:  @Html.TextBoxFor(model => model.TempValue, new { @class = "form-control validate-onchange w100 EditableTextColor", @maxlength = "10"}) °C   Humidity: @Html.TextBoxFor(model => model.HumidityValue, new { @class = "form-control validate-onchange w100 EditableTextColor", @maxlength = "10"}) %
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="clstd">
                                                    2) @Html.TextAreaFor(model => model.Note2, new { @class = "form-control validate-onchange QCRemarks EditableTextColor", @maxlength = "200", @role = "" })
                                                    @*2) Abbreviation Used :- T:Thickness, TR:Transverse, L:longitudinal, N:Normal, B.M : Base Metal, FL: fusion line*@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    REMARK 1: @Html.TextAreaFor(model => model.Remarks1, new { @class = "form-control validate-onchange QCRemarks EditableTextColor", @maxlength = "200", @role = ""})
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    REMARK 2: @Html.TextAreaFor(model => model.Remarks2, new { @class = "form-control validate-onchange QCRemarks EditableTextColor", @maxlength = "200", @role = ""})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="col-md-6" style="text-align:left;">
                                                <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons"> <i class="fa fa-print"></i></a>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input NotConsider" id="chkNotTobeConsiderToPrint">
                                                    <label class="form-check-label" for="chkNotTobeConsiderToPrint">Not to be consider to print</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="text-align:right;">
                                                <input type="button" class="btn submit" id="btnSavebtm" value="Save" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        VerticalTab();
        $("#ReportNo").focus();

        if (isEdit != "True") {
            $('form#frmProtocolHeader :input').attr('disabled', true);
        }


    });

    $(window).on('load', function () {
        //$("#ReportNo").focus();
    });

    $("#btnPrint").click(function () {
        var dat = [];
        dat.push({ Param: "HeaderId", Value: $('#PTRHeaderId').val() });
        ShowReport(dat, "/PTR/Protocol/DWT");
    });

    $("#btnSave,#btnSavebtm").click(function () {
        SaveProtocolHeaderData("frmProtocolHeader", 0, ControllerURL + "/SaveDWTHeaderData", true, fnSaveLineTableData);
        IsEdited = false;
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();

            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    formdata.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (res) {
                        if (res.Key && res.HeaderId > 0) {
                            $('#HeaderId').val(res.HeaderId);
                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn();
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) { }
                });
            }
        }
        else {
            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }

    function fnAddNewTD() {
        showLoading(true);

        var vCount = $("#hdGrid1LastRow").val();
        vCount = parseInt(vCount) + 1;

        $("#tblProtocolLines1 tr:nth-child(1)").append("<td class=\"ActualValue1\"> <input type=\"text\" id=\"ActualValue1_1_" + vCount + "\" name=\"Identification1_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(2)").append("<td class=\"ActualValue2\"> <input type=\"text\" id=\"ActualValue2_1_" + vCount + "\" name=\"ActualValue2_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(3)").append("<td class=\"ActualValue3\"> <input type=\"text\" id=\"ActualValue3_1_" + vCount + "\" name=\"ActualValue3_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(4)").append("<td class=\"ActualValue4\"> <input type=\"text\" id=\"ActualValue4_1_" + vCount + "\" name=\"ActualValue4_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(5)").append("<td class=\"ActualValue5\"> <input type=\"text\" id=\"ActualValue5_1_" + vCount + "\" name=\"ActualValue5_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(6)").append("<td class=\"ActualValue6\"> <input type=\"text\" id=\"ActualValue6_1_" + vCount + "\" name=\"ActualValue6_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(7)").append("<td class=\"ActualValue7\"> <input type=\"text\" id=\"ActualValue7_1_" + vCount + "\" name=\"ActualValue7_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(8)").append("<td class=\"ActualValue8\"> <input type=\"text\" id=\"ActualValue8_1_" + vCount + "\" name=\"ActualValue8_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(9)").append("<td class=\"ActualValue9\"> <input type=\"text\" id=\"ActualValue9_1_" + vCount + "\" name=\"ActualValue9_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(10)").append("<td class=\"ActualValue10\"> <input type=\"text\" id=\"ActualValue10_1_" + vCount + "\" name=\"ActualValue10_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(11)").append("<td class=\"ActualValue11\"> <input type=\"text\" id=\"ActualValue11_1_" + vCount + "\" name=\"ActualValue11_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(12)").append("<td class=\"ActualValue12\"> <input type=\"text\" id=\"ActualValue12_1_" + vCount + "\" name=\"ActualValue12_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(13)").append("<td class=\"ActualValue13\"> <input type=\"text\" id=\"ActualValue13_1_" + vCount + "\" name=\"ActualValue13_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(14)").append("<td class=\"ActualValue14\"> <input type=\"text\" id=\"ActualValue14_1_" + vCount + "\" name=\"ActualValue14_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(15)").append("<td class=\"ActualValue15\"> <input type=\"text\" id=\"ActualValue15_1_" + vCount + "\" name=\"ActualValue15_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(16)").append("<td class=\"ActualValue16\"> <input type=\"text\" id=\"ActualValue16_1_" + vCount + "\" name=\"ActualValue16_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(17)").append("<td class=\"ActualValue17\"> <select class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" id=\"ActualValue17_1_" + vCount + "\" name=\"ActualValue17_1_" + vCount + "\"><option value=\"No Break\" selected>No break</option><option value=\"No Test\">No Test</option><option value=\"Break\">Break</option></select></td>");
        $("#tblProtocolLines1 tr:nth-child(18)").append("<td class=\"ActualValue18\"> <input type=\"text\" id=\"ActualValue18_1_" + vCount + "\" name=\"ActualValue18_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(19)").append("<td class=\"ActualValue19\"> <input type=\"text\" id=\"ActualValue19_1_" + vCount + "\" name=\"ActualValue19_1_" + vCount + "\" class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" /></td>");
        $("#tblProtocolLines1 tr:nth-child(20)").append("<td class=\"ActualValue20\"> <select class=\"form-control validate-onchange clsAddNew EditableTextColor valid\" id=\"ActualValue20_1_" + vCount + "\" name=\"ActualValue20_1_" + vCount + "\"><option value=\"Acceptable\" selected>Acceptable</option><option value=\"Not Acceptable\">Not Acceptable</option></select></td>");
        $("#tblProtocolLines1 tr:nth-child(21)").append("<td class=\"DeleteAction\"><i id=\"Delete_1_" + vCount + "\" name=\"Delete_1_" + vCount + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord("+vCount+")\"></i></td>");
        //vCount = parseInt(vCount) + 1;
        $("#hdGrid1LastRow").val(vCount);
        showLoading(false);
        VerticalTab();
    }
    function VerticalTab() {
        var inputBox = $('#tblProtocolLines1 input[type="text"]').length;
        var row = $('#tblProtocolLines1 tbody tr').length;
        var column = $('#tblProtocolLines1 tbody tr:first td').length;
        var counter = 1;
        for (i = 1; i < column; i++) {
            for (j = 2; j <= row + 1; j++) {
                $('#tblProtocolLines1 tbody tr td:nth-child(' + j + ')').find('input[type="text"]').attr('tabindex', counter);
                counter++;
            }
        }
    }

    function fnSaveLineTableData() {

        var TableData1 = [];
        var lstProtocolLines1 = "";
        var row = 0;

        var ColumnCount = $("#hdGrid1LastRow").val();
        var ii = parseInt(ColumnCount) + 2;
        for (var i = 2; i < ii; i++) {

            TableData1[row] = {
                "LineId": $("#tblProtocolLines1 tr:nth-child(21) td:nth-child(" + i + ") input").val(),
                "HeaderId": $('#HeaderId').val(),
                "ActualValue1": $("#tblProtocolLines1 tr:nth-child(1) td:nth-child(" + i + ") input").val(),
                "ActualValue2": $("#tblProtocolLines1 tr:nth-child(2) td:nth-child(" + i + ") input").val(),
                "ActualValue3": $("#tblProtocolLines1 tr:nth-child(3) td:nth-child(" + i + ") input").val(),
                "ActualValue4": $("#tblProtocolLines1 tr:nth-child(4) td:nth-child(" + i + ") input").val(),
                "ActualValue5": $("#tblProtocolLines1 tr:nth-child(5) td:nth-child(" + i + ") input").val(),
                "ActualValue6": $("#tblProtocolLines1 tr:nth-child(6) td:nth-child(" + i + ") input").val(),
                "ActualValue7": $("#tblProtocolLines1 tr:nth-child(7) td:nth-child(" + i + ") input").val(),
                "ActualValue8": $("#tblProtocolLines1 tr:nth-child(8) td:nth-child(" + i + ") input").val(),
                "ActualValue9": $("#tblProtocolLines1 tr:nth-child(9) td:nth-child(" + i + ") input").val(),
                "ActualValue10": $("#tblProtocolLines1 tr:nth-child(10) td:nth-child(" + i + ") input").val(),
                "ActualValue11": $("#tblProtocolLines1 tr:nth-child(11) td:nth-child(" + i + ") input").val(),
                "ActualValue12": $("#tblProtocolLines1 tr:nth-child(12) td:nth-child(" + i + ") input").val(),
                "ActualValue13": $("#tblProtocolLines1 tr:nth-child(13) td:nth-child(" + i + ") input").val(),
                "ActualValue14": $("#tblProtocolLines1 tr:nth-child(14) td:nth-child(" + i + ") input").val(),
                "ActualValue15": $("#tblProtocolLines1 tr:nth-child(15) td:nth-child(" + i + ") input").val(),
                "ActualValue16": $("#tblProtocolLines1 tr:nth-child(16) td:nth-child(" + i + ") input").val(),
                "ActualValue17": $("#tblProtocolLines1 tr:nth-child(17) td:nth-child(" + i + ") select").val(),
                "ActualValue18": $("#tblProtocolLines1 tr:nth-child(18) td:nth-child(" + i + ") input").val(),
                "ActualValue19": $("#tblProtocolLines1 tr:nth-child(19) td:nth-child(" + i + ") input").val(),
                "ActualValue20": $("#tblProtocolLines1 tr:nth-child(20) td:nth-child(" + i + ") select").val()
            };
            row++;
        }

        lstProtocolLines1 = JSON.stringify(TableData1);

        $.ajax({
            url: WebsiteURL + ControllerURL + '/SaveDWTLineTable1?HeaderId=' + parseInt($("#HeaderId").val()),
            type: "POST",
            dataType: 'json',
            data: lstProtocolLines1,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

            }
        });
    }

    function delRecord(Index) {
        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            $("#tblProtocolLines1 tbody tr").each(function () {
                $(this).find("td:eq(" + Index+")").remove();
            });
        }
    }

</script>