﻿@model List<IEMQSImplementation.clsPTR016>
@using IEMQSImplementation
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int s1 = 0, s2 = 0, s3 = 0, s4 = 0;
    string FileUpload1ControlID = "fuUpload1";
    string FileUpload1ControlID2 = "fuUpload2";

    string strFileType = @clsImplementationEnum.ImageType.SharePoint.GetStringValue();
}

<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />

<style>
    .w100 {
        width: 100px !important;
    }

    .w150 {
        width: 150px !important;
    }

    .w170 {
        width: 170px !important;
    }

    .tblProtocolLines > tbody > tr > td {
        border: 0px solid #fff !important;
    }

    .tblProtocolLines > thead > tr > th {
        border-color: #32c5d2;
    }

    .RowNo {
        text-align: center;
        padding-top: 5pt;
    }

    .td-Sr {
        padding: 15px 3px 5px 3px !important;
        width: 40px;
        text-align: center;
    }
</style>

@*<div class="page-content">*@
<div class="">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">
                            MECHANICAL TEST REPORT : HARDNESS TEST
                        </span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>
                <div id="dvProtocolHeader" style="padding:1%">
                    <div class="portlet-title tabbable-line" id="tabs">
                        <ul class="nav nav-tabs" id="navTestTypeTabsHardness">
                            @{int index = 0;}
                            @foreach (var row in Model)
                            {
                                index += 1;
                                <li class="@(index == Model.Count ? "active" : "")"><a name="tabHardnessTest" class="PTRReport" href="@("#dvHardnessTest" + index.ToString())" id="@("tabHardnessTest" + index.ToString())" formId="@("frmProtocolHeader" + index.ToString())" spara="Hardness Test @index.ToString()" data-toggle="tab" aria-expanded="false">Hardness Test @index.ToString()</a></li>
                            }
                            <li class="btn btn-default" style="float: right;background: none;border-radius: unset !important;"><input type="button" class="btn submit btnSaveHardnessTest" formId="@("frmProtocolHeader" + index.ToString())" tabControlIndex="@index" id="btnSave" value="Save" /></li>
                            <li class="btn btn-default" style="float: right;background: none;border-radius: unset !important;"><button class="btn btn-default add-new-test" onclick="addNewTest();">Add New Test</button></li>
                        </ul>
                    </div>
                    <div class="tab-content portlet" id="tabContent">
                        @{index = 0;}
                        @foreach (var row in Model)
                        {
                            index += 1;
                            <div class="portlet-body tab-pane @(index == Model.Count? "active" : "")" id="@("dvHardnessTest" + index.ToString())">
                                <form id="@("frmProtocolHeader" + index.ToString())" class="form-horizontal ProtocolHeaderForm">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <table class="FormTable tblNotes" style="margin-bottom:0px">
                                                <tr>
                                                    <td class="subtitle"> Report No:</td>
                                                    <td>
                                                        @Html.TextBoxFor(model => row.ReportNo, new { @class = "form-control EditableTextColor textleft", @maxlength = "50", @Name = "ReportNo" })
                                                        @Html.HiddenFor(model => row.PTRHeaderId, new { @Name = "PTRHeaderId" })
                                                        @Html.HiddenFor(model => row.HeaderId, new { @Name = "HeaderId" })
                                                    </td>
                                                    <td class="subtitle"> SOP No.:</td>
                                                    <td>@Html.TextBoxFor(model => row.SOPNo, new { @class = "form-control EditableTextColor textleft", @maxlength = "50", @Name = "SOPNo" })</td>
                                                </tr>
                                                <tr>
                                                    <td class="subtitle"> Ref. Std.:</td>
                                                    <td colspan="3">
                                                        <input type="hidden" id="hiddenRefStd" value="@row.RefStd" />
                                                        <select name="RefStd" id="RefStd" multiple="multiple" class="form-control dropdown-refstd" style="width:100%;"></select>
                                                        @* @Html.DropDownListFor(model => model.RefStd, new SelectList(@ViewBag.lstReferenceStandards, "Value", "Text"), "Select", new { @class = "form-control"})*@
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12" style="height: 20px"></div>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="FormTable tblNotes" style="margin-bottom:0px">
                                                        <tr>
                                                            <td class="subtitle"> Hardness Scale</td>
                                                            <td>@Html.DropDownListFor(model => row.HardnessScale, new SelectList(@ViewBag.lstHardnessScale, "Value", "Text", row.HardnessScale), "Select", new { @class = "form-control", @Name = "HardnessScale", @Id = "HardnessScale" })</td>
                                                            <td class="subtitle"> Result</td>
                                                            <td>@Html.TextBoxFor(model => row.Result, new { @class = "form-control EditableTextColor textleft", @maxlength = "50", @Name = "Result" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="subtitle"> Required Value</td>
                                                            <td>@Html.TextBoxFor(model => row.RequiredValue, new { @class = "form-control EditableTextColor textleft", @maxlength = "50", @Name = "RequiredValue" })</td>
                                                            <td class="subtitle"> Sample Id</td>
                                                            <td>@Html.TextBoxFor(model => row.SampleId, new { @class = "form-control EditableTextColor textleft", @maxlength = "50", @Name = "SampleId" })</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-12 " style="height: 20px"> </div>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="portlet box green inlineparentdiv" id="divLine1" data-gridid="1">
                                                        <div class="portlet-title">
                                                            <div class="caption">
                                                                <span style="float:left;">
                                                                    <strong></strong>
                                                                </span>
                                                            </div>
                                                            <div class="tools">
                                                                <a class="iconspace collapsepanel marginTop" onclick="CollapseEvent('div1', this)" id="btnCollapse1" data-target="#div1" data-original-title="" title=""> </a>
                                                            </div>
                                                        </div>
                                                        <div class="portlet-body" id="div1">
                                                            <div class="table-responsive">
                                                                <div class="col-md-3">
                                                                    <table class="table tblProtocolLines" id="@("tblWeldTest" + index.ToString())" gridLine="1" formId="@("frmProtocolHeader" + index.ToString())">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="display:none;">#</th>
                                                                                <th colspan="3" class="text-center">WELD</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR016_Log != null && row.PTR016_Log.Count > 0)
                                                                            {
                                                                                var rows = row.PTR016_Log.Where(t => t.RequiredValue == "WELD").ToList();
                                                                                var indexSr = 1;
                                                                                foreach (var item in rows as List<PTR016_Log>)
                                                                                {
                                                                                    s1 = s1 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                                                        <td class="td-Sr">@indexSr</td>
                                                                                        <td class="ActualValue">@Html.TextBox("ActualValue_1_" + @s1, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                        <td class="DeleteAction"> <i id="DLoadReportPartialelete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                    </tr>
                                                                                    indexSr += 1;
                                                                                }
                                                                            }
                                                                            @*@if (@ViewBag._lstWELD != null)
                                                                                {
                                                                                    foreach (var item in ViewBag._lstWELD as List<PTR016_Log>)
                                                                                    {
                                                                                        s1 = s1 + 1;
                                                                                        <tr>
                                                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId_1_" + @s1, @item.LineId, new { @Id = "LineId_1_" + @s1 })</td>
                                                                                            <td class="ActualValue">@Html.TextBox("ActualValue_1_" + @s1, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                            <td class="DeleteAction"> <i id="Delete_1_@s1" name="Delete_1_@s1" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                        </tr>
                                                                                    }
                                                                                }*@
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid1LastRow" type="hidden" value="@s1" />
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <table class="table tblProtocolLines" id="@("tblHazTest" + index.ToString())" gridLine="2" formId="@("frmProtocolHeader" + index.ToString())">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="display:none;">#</th>
                                                                                <th colspan="3" class="text-center">HAZ</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR016_Log != null && row.PTR016_Log.Count > 0)
                                                                            {
                                                                                var rows = row.PTR016_Log.Where(t => t.RequiredValue == "HAZ").ToList();
                                                                                var indexSr = 1;
                                                                                foreach (var item in rows as List<PTR016_Log>)
                                                                                {
                                                                                    s2 = s2 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_2_" + @s2, @item.LineId, new { @Id = "LineId_2_" + @s2 })</td>
                                                                                        <td class="td-Sr">@indexSr</td>
                                                                                        <td class="ActualValue">@Html.TextBox("ActualValue_2_" + @s2, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                    </tr>
                                                                                    indexSr += 1;
                                                                                }
                                                                            }

                                                                            @*@if (@ViewBag._lstHAZ != null)
                                                                                {
                                                                                    foreach (var item in ViewBag._lstHAZ as List<PTR016_Log>)
                                                                                    {
                                                                                        s2 = s2 + 1;
                                                                                        <tr>
                                                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId_2_" + @s2, @item.LineId, new { @Id = "LineId_2_" + @s2 })</td>
                                                                                            <td class="ActualValue">@Html.TextBox("ActualValue_2_" + @s2, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                            <td class="DeleteAction"> <i id="Delete_2_@s2" name="Delete_2_@s2" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                        </tr>
                                                                                    }
                                                                                }*@
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid2LastRow" type="hidden" value="@s2" />
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <table class="table tblProtocolLines" id="@("tblFusionLineTest" + index.ToString())" gridLine="3" formId="@("frmProtocolHeader" + index.ToString())">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="display:none;">#</th>
                                                                                <th colspan="3" class="text-center">FUSION LINE</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR016_Log != null && row.PTR016_Log.Count > 0)
                                                                            {
                                                                                var rows = row.PTR016_Log.Where(t => t.RequiredValue == "FUSION LINE").ToList();
                                                                                var indexSr = 1;
                                                                                foreach (var item in rows as List<PTR016_Log>)
                                                                                {
                                                                                    s3 = s3 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_3_" + @s3, @item.LineId, new { @Id = "LineId_3_" + @s3 })</td>
                                                                                        <td class="td-Sr">@indexSr</td>
                                                                                        <td class="ActualValue">@Html.TextBox("ActualValue_3_" + @s3, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                    </tr>
                                                                                    indexSr += 1;
                                                                                }
                                                                            }
                                                                            @*@if (@ViewBag._lstFUSION_LINE != null)
                                                                                {
                                                                                    foreach (var item in ViewBag._lstFUSION_LINE as List<PTR016_Log>)
                                                                                    {
                                                                                        s3 = s3 + 1;
                                                                                        <tr>
                                                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId_3_" + @s3, @item.LineId, new { @Id = "LineId_3_" + @s3 })</td>
                                                                                            <td class="ActualValue">@Html.TextBox("ActualValue_3_" + @s3, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                            <td class="DeleteAction"> <i id="Delete_3_@s3" name="Delete_3_@s3" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                        </tr>
                                                                                    }
                                                                                }*@
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid3LastRow" type="hidden" value="@s3" />
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <table class="table tblProtocolLines" id="@("tblBaseMetalTest" + index.ToString())" gridLine="4" formId="@("frmProtocolHeader" + index.ToString())">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="display:none;">#</th>
                                                                                <th colspan="3" class="text-center">BASE METAL</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (row.PTR016_Log != null && row.PTR016_Log.Count > 0)
                                                                            {
                                                                                var rows = row.PTR016_Log.Where(t => t.RequiredValue == "BASE METAL").ToList();
                                                                                var indexSr = 1;
                                                                                foreach (var item in rows as List<PTR016_Log>)
                                                                                {
                                                                                    s4 = s4 + 1;
                                                                                    <tr>
                                                                                        <td class="LineId" style="display:none;">@Html.Hidden("LineId_4_" + @s4, @item.LineId, new { @Id = "LineId_4_" + @s4 })</td>
                                                                                        <td class="td-Sr">@indexSr</td>
                                                                                        <td class="ActualValue">@Html.TextBox("ActualValue_4_" + @s4, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                        <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                    </tr>
                                                                                    indexSr += 1;
                                                                                }
                                                                            }
                                                                            @*@if (@ViewBag._lstBASE_METAL != null)
                                                                                {
                                                                                    foreach (var item in ViewBag._lstBASE_METAL as List<PTR016_Log>)
                                                                                    {
                                                                                        s4 = s4 + 1;
                                                                                        <tr>
                                                                                            <td class="LineId" style="display:none;">@Html.Hidden("LineId_4_" + @s4, @item.LineId, new { @Id = "LineId_4_" + @s4 })</td>
                                                                                            <td class="ActualValue">@Html.TextBox("ActualValue_4_" + @s4, item.ActualValue, new { @class = "form-control EditableTextColor", @maxlength = "50" })</td>
                                                                                            <td class="DeleteAction"> <i id="Delete_4_@s4" name="Delete_4_@s4" title="Delete Record" class="iconspace fa fa-trash-o clsProtocolIconClass" onclick="delRecord(this)"></i></td>
                                                                                        </tr>
                                                                                    }
                                                                                }*@
                                                                        </tbody>
                                                                    </table>
                                                                    <input id="hdGrid4LastRow" type="hidden" value="@s4" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="FormTable">
                                                        <tr>
                                                            <td class="title bold" style="background-color: #e9e9e9 !important;">
                                                                Hardness sketch
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <button id="btnUploadImage" class="btn icons entQcAttend btnUploadImage" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                                <div class="col-md-12 display-none">
                                                                    <div id="dv@(FileUpload1ControlID + "frmProtocolHeader" + index.ToString())" preview-image-id="image1"></div>
                                                                </div>
                                                            </td>
                                                            @*<td>
                                                                    <button id="btnUploadImage2" class="btn icons entQcAttend" title="Attach Sketch" type="button"><i class="fa fa-image"></i></button>
                                                                    <div class="col-md-12 display-none">
                                                                        <div id="dv@(FileUpload1ControlID2)"></div>
                                                                    </div>
                                                                </td>*@
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="col-lg-12 text-center">
                                                                    <img id="image1" style="height:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=PTR016/@row.HeaderId/1" class="" alt="">
                                                                </div>
                                                            </td>
                                                            @*<td>
                                                                    <div class="col-lg-12">
                                                                        <img id="image2" style="height:300px;" src="~/ImageHandler.ashx?type=@clsImplementationEnum.ImageType.SharePoint.GetStringValue()&fp=PTR016/@row.HeaderId/2" class="" alt="">
                                                                    </div>
                                                                </td>*@
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <i id="Delete_Photo_1" name="Delete_Photo_1" title="Delete Sketch 1" class="iconspace fa fa-trash-o" onclick="@("DeletePhoto('frmProtocolHeader" + index.ToString() + "',1)")"></i>
                                                            </td>
                                                            @*<td>
                                                                    <i id="Delete_Photo_2" name="Delete_Photo_2" title="Delete Sketch 2" class="iconspace fa fa-trash-o" onclick="DeletePhoto(2)"></i>
                                                                </td>*@
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered" style="border:2px solid #EAEAEA;margin-top: 10px;">
                                                        <tr>
                                                            <td class="title bold" colspan="2" style="background-color: #e9e9e9 !important;">
                                                                Notes
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd" style="display: flex;">
                                                                1) Environmental Condition: Temp.:  @Html.TextBoxFor(model => row.TempValue, new { @class = "form-control w100 EditableTextColor", @maxlength = "10", @Name = "TempValue" }) °C   Humidity: @Html.TextBoxFor(model => row.HumidityValue, new { @class = "form-control w100 EditableTextColor", @maxlength = "10", @Name = "HumidityValue" }) %
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd">
                                                                2) STD. BLOCK ID NO.
                                                                @Html.DropDownListFor(model => row.Notes2, new SelectList(@ViewBag._lstNotes2, "Value", "Text", row.Notes2), "Select Standard Block", new { @class = "form-control", @onchange = "fnNotes2('" + "frmProtocolHeader" + index.ToString() + "')", @Name = "Notes2", @Id = "Notes2" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd">
                                                                3) SPECIFIED VALUE :
                                                                @Html.TextBoxFor(model => row.Notes3, new { @class = "form-control NonEditableTextColor", @maxlength = "50", @readonly = "readonly", @Name = "Notes3", @Id = "Notes3" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="clstd">
                                                                4) OBSERVED VALUE :
                                                                @Html.TextBoxFor(model => row.Notes4, new { @class = "form-control EditableTextColor", @maxlength = "50", @Name = "Notes4" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                REMARK 1: @Html.TextAreaFor(model => row.Remarks1, new { @class = "form-control QCRemarks EditableTextColor", @maxlength = "200", @role = "", @Name = "Remarks1" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                REMARK 2: @Html.TextAreaFor(model => row.Remarks2, new { @class = "form-control QCRemarks EditableTextColor", @maxlength = "200", @role = "", @Name = "Remarks2" })
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6" style="text-align:left;">
                                                            <a style="cursor:pointer;margin-right:5px; float:left" id="btnPrint" title="Print" class="btn icons btnPrint" formId="@("frmProtocolHeader" + index.ToString())"> <i class="fa fa-print"></i></a>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="chkNotTobeConsiderToPrint">
                                                                <label class="form-check-label" for="chkNotTobeConsiderToPrint">Not to be consider to print</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                            <input type="button" class="btn submit btnSaveHardnessTest" formId="@("frmProtocolHeader" + index.ToString())" tabControlIndex="@index" id="btnSave" value="Save" />
                                                            @if (row.HeaderId > 0)
                                                            {
                                                                <input type="button" class="btn btn-danger btnDeleteHardnessTest" headerId="@row.HeaderId" id="btnDelete" value="Delete" />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        $.each($('.ProtocolHeaderForm'), function (i, f) {
            var formId = f.id;
            $.each($('.tblProtocolLines'), function (i, v) {
                var id = v.id;
                var gridId = v.getAttribute('gridline');
                var trCount = v.rows.length;
                AddNextRow(formId, this, null, false, gridId, id, 'ActualValue', ['ActualValue'], addRowProtocolLines, true);
            });
            LoadFileUpload1(formId);
        });



        //LoadFileUpload2();
        var arrayData = @Html.Raw(Json.Encode(@ViewBag.lstReferenceStandards));
        $.each($(".dropdown-refstd"), function (i,v) {
            LoadSelect2usingArray(arrayData, $(v), 'Select Reference Standards');
        });


        $.each($('.ProtocolHeaderForm'), function (i, v) {
            var val = $('#' + v.id + ' #hiddenRefStd').val();
            $('#' + v.id + ' #RefStd').val(LoadMultiSelect2OnEdit(val)).trigger('change');

            if (isEdit != "True") {
                $('form#' + v.id + ' :input').attr('disabled', true);
            }
        });
        debugger;
        var formId = $("ul#navTestTypeTabsHardness li.active a").attr("formId");
        $("#" + formId + " input[name='ReportNo']").focus();
        $("#" + formId + " input[name='ReportNo']").focus();
      //  $("#ReportNo").focus();
       // $("#ReportNo").focus();
    });

    $(window).on('load', function () {
       // $("#ReportNo").focus();
    });

    $(".btnPrint").click(function () {
        var dat = [];
        var formId = $(this).attr("formId");
        dat.push({ Param: "HeaderId", Value: $('#' + formId + ' input[name="HeaderId"]').val()  });
        ShowReport(dat, "/PTR/Protocol/HARDNESS", true);
        return false;
    });

    /*function LoadSaveAndDraft() {

        var iRowCount = 0;
        //WELD
        var TableData1 = [];
        var lstProtocolLines1 = "";
        $("table#tblProtocolLines1 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "RequiredValue": "WELD",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        //HAZ
        var TableData2 = [];
        var lstProtocolLines2 = "";
        $("table#tblProtocolLines2 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "RequiredValue": "HAZ",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        //FUSION LINE
        var TableData3 = [];
        var lstProtocolLines3 = "";
        $("table#tblProtocolLines3 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "RequiredValue": "FUSION LINE",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        //BASE METAL
        var TableData4 = [];
        var lstProtocolLines4 = "";
        $("table#tblProtocolLines4 > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": $('#HeaderId').val(),
                "RequiredValue": "BASE METAL",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        lstProtocolLines1 = JSON.stringify(TableData1);
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "/SaveHardnessLineTable1?HeaderId=" + parseInt($("#HeaderId").val()), 0);

    }*/
    function SaveProtocolLines(headerId,tabIndex) {
        var iRowCount = 0;
        //WELD
        var TableData1 = [];
        var lstProtocolLines1 = "";
        $("table#tblWeldTest"+tabIndex+" > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "RequiredValue": "WELD",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        //HAZ
        var TableData2 = [];
        var lstProtocolLines2 = "";
        $("table#tblHazTest" + tabIndex +" > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "RequiredValue": "HAZ",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        //FUSION LINE
        var TableData3 = [];
        var lstProtocolLines3 = "";
        $("table#tblFusionLineTest" + tabIndex +" > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "RequiredValue": "FUSION LINE",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        //BASE METAL
        var TableData4 = [];
        var lstProtocolLines4 = "";
        $("table#tblBaseMetalTest" + tabIndex +" > tbody > tr:not(.islastrow)").each(function (row, tr) {
            TableData1[iRowCount] = {
                "LineId": $('td.LineId input', this).val(),
                "HeaderId": headerId,
                "RequiredValue": "BASE METAL",
                "ActualValue": $('td.ActualValue input', this).val(),
            };
            iRowCount = iRowCount + 1;
        });

        lstProtocolLines1 = JSON.stringify(TableData1);
        SaveAsDraftProtocolLine(lstProtocolLines1, ControllerURL + "/SaveHardnessLineTable1?HeaderId=" + headerId, 0);

    }

    function SaveAsDraftProtocolLine(data, URL, gridId) {
        $.ajax({
            url: WebsiteURL + URL,
            type: "POST",
            dataType: 'json',
            data: data,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {

            },
            error: function (data) { showLoading(false); }
        });
    }
    function addRowProtocolLines(formId, gridId, tableId, trIndex) {

        var hiddentField = "hdGrid" + gridId + "LastRow";
        $("#" + formId + " #" + hiddentField).val(trIndex);

        var blurEvent = "AddNextRow('" + formId + "',this,'ActualValue_" + gridId + "_1',false," + gridId + ",'" + tableId + "','ActualValue',['ActualValue'],addRowProtocolLines)";

        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            " <td class=\"td-Sr\">" + trIndex + "</td>" +
            "	<td class=\"ActualValue\"><input class=\"form-control EditableTextColor islastrow valid\" id=\"ActualValue_" + gridId + "_" + trIndex + "\" maxlength=\"50\" name=\"ActualValue_" + gridId + "_" + trIndex + "\" type=\"text\" onblur=\"" + blurEvent + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_" + gridId + "_" + trIndex + "\" name=\"Delete_" + gridId + "_" + trIndex + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }


   /* function AddTbl1NewTrRow(NewTrRowNum) {
        $("#hdGrid1LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this,'ActualValue_2_1',false,1,'hdGrid1LastRow','tblProtocolLines1','ActualValue',['ActualValue'],AddTbl1NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"RowNo\" ><label class=\"RowNo\">  " + NewTrRowNum + " </label> </td> " +
            "	<td class=\"ActualValue\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"ActualValue_1_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualValue_1_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_1_" + NewTrRowNum + "\" name=\"Delete_1_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function AddTbl2NewTrRow(NewTrRowNum) {
        $("#hdGrid2LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this,'ActualValue_3_1',false,2,'hdGrid2LastRow','tblProtocolLines2','ActualValue',['ActualValue'],AddTbl2NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"RowNo\" ><label class=\"RowNo\">  " + NewTrRowNum + " </label> </td> " +
            "	<td class=\"ActualValue\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"ActualValue_2_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualValue_2_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_2_" + NewTrRowNum + "\" name=\"Delete_2_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function AddTbl3NewTrRow(NewTrRowNum) {
        $("#hdGrid3LastRow").val(NewTrRowNum);

        var FirstLine = "AddNextRow(this,'ActualValue_4_1',false,3,'hdGrid3LastRow','tblProtocolLines3','ActualValue',['ActualValue'],AddTbl3NewTrRow)";

        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"RowNo\" ><label class=\"RowNo\">  " + NewTrRowNum + " </label> </td> " +
            "	<td class=\"ActualValue\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"ActualValue_3_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualValue_3_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_3_" + NewTrRowNum + "\" name=\"Delete_3_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }

    function AddTbl4NewTrRow(NewTrRowNum) {
        $("#hdGrid4LastRow").val(NewTrRowNum);
        var FirstLine = "AddNextRow(this,'TempValue',false,4,'hdGrid4LastRow','tblProtocolLines4','ActualValue',['ActualValue'],AddTbl4NewTrRow)";
        var strhtml =
            "<tr class=\"islastrow\"> " +
            "	<td class=\"LineId\" style=\"display:none;\"><input id=\"LineId\" name=\"LineId\" type=\"hidden\">0</td> " +
            "	<td class=\"RowNo\" ><label class=\"RowNo\">  " + NewTrRowNum + " </label> </td> " +
            "	<td class=\"ActualValue\"><input class=\"form-control validate-onchange EditableTextColor islastrow valid\" id=\"ActualValue_4_" + NewTrRowNum + "\" maxlength=\"50\" name=\"ActualValue_4_" + NewTrRowNum + "\" type=\"text\" onblur=\"" + FirstLine + "\"></td> " +
            "   <td class=\"DeleteAction\"><i id=\"Delete_4_" + NewTrRowNum + "\" name=\"Delete_4_" + NewTrRowNum + "\" data-attr=\"deletenew\" class=\"iconspace fa fa-trash-o clsProtocolIconClass\" title=\"Delete Record\" onclick=\"delRecord(this)\" style=\"display:none\"></i></td>" +
            "</tr> ";
        return strhtml;
    }*/

    function delRecord(obj) {
        var r = confirm("Are you sure you want to delete this item?");
        if (r == true) {
            $(obj).parent().parent().remove();
        }
    }

    $('.btnSaveHardnessTest').click(function () {
        debugger;
        var formId = $("ul#navTestTypeTabsHardness li.active a").attr("formId");
        var tabIndex = $(this).attr("tabControlIndex");
        SaveProtocolHeaderData(formId, 0, ControllerURL + "/SaveHardnessHeaderData", true, SaveProtocolLines,tabIndex);
        IsEdited = false;
        $('.add-new-test').show();
    });

    function SaveProtocolHeaderData(frmProtocolHeader, HeaderId, URL, isSubmit, aftercallbackfn,tabIndex) {
        if ($("#" + frmProtocolHeader).valid()) {
            var frmHeaderValues = $("#" + frmProtocolHeader).serializeArray();
            var formdata = new FormData();
            if (frmHeaderValues != null && frmHeaderValues != undefined) {
                $.each(frmHeaderValues, function (key, input) {
                    if (input.name == "RefStd") {
                        if ($("#" + frmProtocolHeader+" #" + input.name).val() != null && $("#" + frmProtocolHeader + " #" + input.name).val() != "") {
                            formdata.append(input.name, $("#" + frmProtocolHeader + " #" + input.name).val().join(","));
                        } else {
                            formdata.append(input.name, $("#" + frmProtocolHeader + " #" + input.name).val());
                        }
                    }
                    else
                        formdata.append(input.name, input.value);
                });
                $.ajax({
                    url: WebsiteURL + URL,
                    type: "POST",
                    data: formdata,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (res) {
                        debugger;
                        if (res.Key && res.HeaderId > 0) {
                            $('#' + frmProtocolHeader +' input[name="HeaderId"]').val(res.HeaderId);
                            //SAVE SKETCH AFTER HEADER ID GENERATE
                            SaveImagesDetails(frmProtocolHeader);

                            if (aftercallbackfn != null && aftercallbackfn != undefined) {
                                aftercallbackfn(res.HeaderId,tabIndex);
                            }
                            DisplayNotiMessage("success", res.Value, "Success");
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) { }
                });
            }
        }
        else {

            DisplayNotiMessage("info", "All mandatory (*) fields are required", "Info");
        }
    }
    /*function AddNextRow($this, focuscolumn, focuswithintable, gridId, hdnRowID, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {*/
    function AddNextRow(formId, $this, focuscolumn, focuswithintable, gridId, tblId, $txtfocusColumn, paramList, aftercallbackfn, isnew, beforecallbackfn) {
        //var prevRow = parseInt($("#" + hdnRowID).val());
        //var nextRow = parseInt($("#" + hdnRowID).val()) + 1;
        debugger;
        var prevRow = $('#'+ formId + ' #' + tblId + ' tr').length - 1;
        var nextRow = $('#'+ formId + ' #' + tblId + ' tr').length;

        var flag = true;
        if (isnew != true && ($this != null && $($this).val() != "" && $this != undefined) && (beforecallbackfn != null && beforecallbackfn != undefined)) {
            flag = beforecallbackfn($this); /* before adding new row, execute other call back function*/
        }
        if (flag) {
            if (GetParamCondition(formId,paramList, gridId, prevRow, tblId) || isnew == true) {
                $("#"+ formId +" #" + tblId + " #Delete_" + gridId + "_" + prevRow).show();
                if (aftercallbackfn != null && aftercallbackfn != undefined) {
                    $("#"+ formId +" #" + tblId).find('select,input').removeClass('islastrow');
                    $("#"+ formId +" #" + tblId + " tr").removeClass('islastrow');
                    $("#" + formId +" #" + tblId).append(aftercallbackfn(formId,gridId, tblId, nextRow));
                }
                $("#" + formId +" #" + tblId + " #" + $txtfocusColumn + "_" + gridId + "_" + nextRow).focus();
            }
        }
        else {
            if ($this != null && $this != undefined) {
                $($this).focus();
            }
        }
        if (isnew != true && ($this != null && $this != undefined) && (focuscolumn != null && focuscolumn != undefined)) {
            var row_index = $($this).parent().parent().index();
            if ($($this).val() == "") {
                if (focuswithintable) {
                    var cell = focuscolumn.split(',');
                    if ($("#" + formId +" #" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).has("input[type=text]").length == 0) {
                        if ($("#" + formId +" #" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").length > 0) {
                            $("#" + formId +" #" + tblId + " tbody>tr:eq(" + (row_index + 2) + ")").find('td.' + cell[0]).find("input").focus();
                        }
                        else {
                            $("#" + formId +" #" + tblId + " #" + cell[1]).focus();
                        }
                    }
                    else {
                        $("#" + formId +" #" + tblId + " tbody>tr:eq(" + (row_index + 1) + ")").find('td.' + cell[0]).find("input").focus();
                    }
                }
                else {
                    //$("#" + formId + " #" + tblId + " #" + focuscolumn).focus()
                }
            }
        }
    }

    function GetParamCondition(formId, list, gridid, rowid, tblId, $this, $appendlocation) {
        debugger;
        var q = true;
        if (($this != null && $this != "" && $this != undefined) && ($appendlocation != "" && $appendlocation != undefined)) {
            $row = $("#" + formId + " #" + tblId).find('tr.' + $appendlocation.split("__")[0]).last();
            $cells = $row.find("td input");
            $cells.each(function () {
                flg = $(this).val();
                if (q == true && (flg == "" || flg == null || flg == undefined || flg.legth == 0)) {
                    q = false;
                    return false;
                }
            });
        }
        else {
            for (var j = 0; j < list.length; j++) {
                var flg = "";
                flg = $("#" + formId + " #" + list[j] + "_" + gridid + "_" + rowid).val();
                if (flg == "" || flg == null || flg == undefined || flg.legth == 0) {
                    q = false;
                    break;
                }
            }
        }
        return q;
    }

    function fnNotes2(frm) {
        debugger;
        $.ajax({
            url: WebsiteURL + ControllerURL + "/FindStandardValueById?Id=" + parseInt($("#" +frm + " #Notes2").val()),
            type: "POST",
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                $("#" + frm + " #Notes3").val(data);
            }
        });
    }

    //File Upload Code
      $(".btnUploadImage").click(function () {
        debugger;
        var formId = this.form.id;
        var controlId = "@(FileUpload1ControlID)";
        $("#btnAttach" + controlId + formId).click();
        //btnAttach@(FileUpload1ControlID).click();
    });
    @*$("#btnUploadImage").click(function () {
        btnAttach@(FileUpload1ControlID).click();
    });
    $("#btnUploadImage2").click(function () {
        btnAttach@(FileUpload1ControlID2).click();
    });*@

    function LoadFileUpload1(formId) {
        var objFileUpload1 = new FileUploadEnt('dv@(FileUpload1ControlID)' + formId, '@FileUpload1ControlID' + formId);
        objFileUpload1.IsRequired = false;
        objFileUpload1.ShowDeleteAction = false;
        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        if (parseInt(vHeaderId)>0){
            objFileUpload1.FolderPath = "PTR016/"+vHeaderId+"/1";
        }
        else{
            objFileUpload1.FolderPath = "";
        }
        objFileUpload1.IsMultipleUploaded=false;
        objFileUpload1.SuccessCallbackFunction="SuccessCallFunc(1)";
        objFileUpload1.AllowFileExtension="jpg,jpeg,png,bmp,jfif";
        LoadFileUploadPartialView(objFileUpload1);
    }


    function SuccessCallFunc(formId,Type) {
        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        if (Type == 1) {
            var vUrl1 = "/ImageHandler.ashx?type=@strFileType&fp=PTR016/"+vHeaderId+"/1";
            $("#" + formId +" #image1").removeAttr("src");
            $("#" + formId +" #image1").attr("src", vUrl1);
        }

    }

    function DeletePhoto(formId,No) {
        showLoading(true);
        var vHeaderId = $('#' + formId + ' input[name="HeaderId"]').val();
        var formData = new FormData();
        formData.append("PhotoNo", No);
        formData.append("Headerid", vHeaderId);
        formData.append("strTableName", "PTR016");
        $.ajax({
            url: ControllerURL + '/DeletePhoto',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (result) {
                if (result == true) {
                    toastr.success("Sketch has been deleted.");
                    showLoading(false);
                    if (No == 1) {
                        LoadFileUpload1(formId);
                        SuccessCallFunc(formId,1);
                    }

                }
                else {
                    toastr.error("Sketch has not been deleted.");
                }
                showLoading(false);
            },
            error: function (err) {
                showLoading(false);
                //alert(err.statusText);
            }
        });

    }

    function SaveImagesDetails(formId) {
        var headerId = $('#' + formId + ' input[name="HeaderId"]').val();
        if (!getHasAttachmentsForSubmit('@(FileUpload1ControlID)' + formId)) {
            isHeaderSave = false;
        }
        FileCount = $("#filelistholder@(FileUpload1ControlID)" + formId + " .filedetail").length;

        if (FileCount > 0) {
              /*call function with dynamic name*/
            var fnName = "@("UpdateFolderPathAndSave" + FileUpload1ControlID)" + formId;
            var fn = window[fnName];
            fn("PTR016/" + headerId + "/1");
            //UpdateFolderPathAndSave@(FileUpload1ControlID)("PTR016/" + headerId + "/1");
        }
    }

    function addNewTest() {
        $("#btnSubmitAddNewReport").attr("reportType", "HARDNESS");
        $("#btnSubmitAddNewReport").attr("reportNo", $('input[name="ReportNo"]').val());
        $("#btnSubmitAddNewReport").click();
        $('.add-new-test').hide();
    }

    $('.btnDeleteHardnessTest').click(function () {
        debugger;
        var Id = $(this).attr("headerId");
        DeleteProtocolHeaderData(ControllerURL + "/DeleteHardnessHeaderData", Id);
    });
    function DeleteProtocolHeaderData(URL,headerId) {
        if (headerId > 0) {
                $.ajax({
                    url: WebsiteURL + URL + "?headerId=" + headerId,
                    type: "GET",
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    },
                    success: function (res) {
                        debugger;
                        if (res.Key) {
                            DisplayNotiMessage("success", res.Value, "Success");
                            setTimeout(function () {
                                LoadReportPartial("HARDNESS", "");
                            }, 2000);
                        }
                        else
                            DisplayNotiMessage("error", res.Value, "Error");
                    },
                    error: function (data) { }
                });
        }
        else {
            DisplayNotiMessage("info", "You have no rights to delete hardness test", "Info");
        }
    }

</script>