﻿@model IEMQSImplementation.clsImpactDetailPara
@{
    Layout = null;
    if (Model.lstPTR == null)
    {
        Model.lstPTR = new List<IEMQSImplementation.PTR012_Log>();
    }
}
<table class="table impact-table" id="@("tblProtocolLines_"+ Model.CouponId)" TableNo="@(Model.CouponId)">
    <thead>
        <tr>
            <th style="display:none;">#</th>
            <th style="display:none;">LineId</th>
            <th class="text-center w70">Sr.No.</th>
            <th class="text-center w170">Sample Location</th>
            <th class="text-center w70">Notch Location</th>
            <th class="text-center w70">Sample Direction / Notch Position</th>
            <th class="text-center w70">Test temp °C</th>
            <th class="text-center" colspan="3" style="width: 120px !important">Absorbed Energy in Joules.</th>
            <th class="text-center w40">Avg</th>
            <th class="text-center" colspan="3"  style="width: 210px !important">LE in mm</th>
            <th class="text-center" colspan="3"  style="width: 120px !important">PS (%)</th>
            <th class="text-center w130">Specimen Broken</th>
            <th class="text-center w130">Results</th>
            <th class="btnthAction  w70"></th>
        </tr>
        <tr>
            <th colspan="5" style="width: 450px !important"></th>
            <th class="text-center w40">I</th>
            <th class="text-center w40">II</th>
            <th class="text-center w40">III</th>
            <th class="text-center w40"></th>
            <th class="text-center w70">I</th>
            <th class="text-center w70">II</th>
            <th class="text-center w70">III</th>
            <th class="text-center w40">I</th>
            <th class="text-center w40">II</th>
            <th class="text-center w40">III</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align:middle" colspan="2">
                <label style="font-size:16px;font-weight:bold"> CouponTitle </label>
            </td>
            <td colspan="18" class="CouponTitle">
                @Html.TextBox("CouponTitle", Model.CouponTitle, new { @class = "form-control validate-onchange w400 EditableTextColor ", @maxlength = "50", @onchange = "CheckDuplication(this);" })
            </td>
        </tr>
        @{
            int i = 1;/* for serial number */
        }
        @foreach (var item in Model.lstPTR)
        {

            Html.RenderAction("impactDetailTRPartial", "ReportPTR", new IEMQSImplementation.clsImpactDetailParaTR() { RowId = i, PTR = item });
            i = i + 1;
        }
    </tbody>
</table>
