﻿<div class="pcr-tab-content" data-tabName="MaintainPCR">

    <style>
        #fltPartNumber {
            width: 80px !important;
        }

        #fltFindNo {
            width: 80px !important;
        }

        .location {
            width: 180px !important;
        }

        .wcdeliver {
            width: 180px !important;
        }

        .cuttinglocation {
            width: 180px !important;
        }

        .plannerremark {
            width: 280px !important;
        }
    </style>
    <style>
        /*.w200{
            width:200px !important;
        }*/

        .datetimecontrol {
            width: 210px !important;
        }

        .date-reset {
            margin-right: 1px !important;
            padding: 6px 8px !important;
        }

        .bordernone {
            border-top: none !important;
            background-color: white !important;
        }

        .bgcolor {
            background-color: white !important;
        }

        .childs {
            background: antiquewhite !important;
        }

        div.dataTables_processing {
            z-index: 1;
            line-height: 0px;
        }

        .iconspace {
            margin-right: 5px;
        }

        .selectedrow {
            background-color: beige !important;
        }

        .table-hover > tbody > tr.selectedrow:hover, .table-hover > tbody > tr.selectedrow:hover > td {
            background-color: beige !important;
        }

        .selectedrow > td.bgcolor {
            background-color: beige !important;
        }

        tr.selectedrow > td.sorting_1 {
            background-color: beige !important;
        }
    </style>
    <style>
    div.pcr-tab-content[data-tabName='MaintainPCR'] .dataTables_wrapper {
        margin-top: 5px !important;
    }

    div.pcr-tab-content[data-tabName='MaintainPCR'] .dataTables_wrapper .row {
        margin-right: 0px !important;
    }

    div.pcr-tab-content[data-tabName='MaintainPCR'] .dataTables_wrapper .row div.dataTables_paginate {
        width: 100%;
    }

    div.pcr-tab-content[data-tabName='MaintainPCR'] .dataTables_wrapper .row div.dataTables_paginate ul.pagination {
        width: 20%;
    }

    .portlet.box.green {
        border: 1px solid #19587d;
    }
    </style>

    <div class="detail-form top-section">
        <div class="detail-row">
            <div class="float-left item-css">
                <label class="pcr-label">Project:</label>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAV0lEQVR42mNgQAKnGRgcGHCBMwwM91EETjEwGIB0ACXygfg/iAbxQeIM5xgY5IEC56ESMHweJA4zjh9Nkh/FaKDAeyCeD6LBRiI5JB5ojD6IDaJBfBAbAKQiJ6/JeCoEAAAAAElFTkSuQmCC"
                     class="mandatory" aria-hidden="true" style="display: none;overflow: hidden;">
            </div>
            <div class="float-left item-css">
                <div class="trigger-input-field lookup-field trigger-input-field-disabled">

                    <input type="text" class="text-input-field text-input-field-readonly" maxlength="9"
                           readonly disabled value="0017001">
                    <div tabindex="-1" class="button trigger-button button-disabled">
                        <img class="gwt-image"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAm0lEQVQoU73RMQqBARjG8Z+BC1DKyGBmsrqDTHIAZuUI5AKKTdkMTuAQsljt7Ch66xPJV9/knZ9/z/PvzWEn27UjlsuWfacC+G9D7Cxghj4eWGGEa5rDFDUMcccCR4xfwKdDNFwS4JyoFrFHJa3hGyjjgFJawwR1DHDDHFW0wuPXH0I6PHqJ9AlNbNHN8rg81uhgkwWI6QEt0XgCOBodkeDSgacAAAAASUVORK5CYII=">
                    </div>
                </div>
            </div>
            <div class="float-right item-css">
                <label class="pcr-label text-output-field">
                    RG Boiler for TCL Babrala
                </label>
            </div>
            <div class="clear-float"></div>

        </div>
        <div class="detail-row">
            <div class="float-left item-css">
                <label class="pcr-label">Element:</label>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAV0lEQVR42mNgQAKnGRgcGHCBMwwM91EETjEwGIB0ACXygfg/iAbxQeIM5xgY5IEC56ESMHweJA4zjh9Nkh/FaKDAeyCeD6LBRiI5JB5ojD6IDaJBfBAbAKQiJ6/JeCoEAAAAAElFTkSuQmCC"
                     class="mandatory" aria-hidden="true" style="display: none;overflow: hidden;">
            </div>
            <div class="float-left item-css">
                <div class="trigger-input-field lookup-field trigger-input-field-disabled">
                    <input type="text" class="text-input-field text-input-field-readonly" maxlength="9"
                           readonly disabled value="30000">
                    <div tabindex="-1" class="button trigger-button button-disabled">
                        <img class="gwt-image"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAm0lEQVQoU73RMQqBARjG8Z+BC1DKyGBmsrqDTHIAZuUI5AKKTdkMTuAQsljt7Ch66xPJV9/knZ9/z/PvzWEn27UjlsuWfacC+G9D7Cxghj4eWGGEa5rDFDUMcccCR4xfwKdDNFwS4JyoFrFHJa3hGyjjgFJawwR1DHDDHFW0wuPXH0I6PHqJ9AlNbNHN8rg81uhgkwWI6QEt0XgCOBodkeDSgacAAAAASUVORK5CYII=">
                    </div>
                </div>
            </div>
            <div class="float-right item-css">
                <label class="pcr-label text-output-field">
                    General Assembly DRG.
                </label>
            </div>
            <div class="clear-float"></div>

        </div>
    </div>
    @Html.Partial("~/Areas/PCR/Views/Shared/_VerticalDragger.cshtml")
    <div class="header-layout-panel bottom-section">
        <div class="horizontal-data-grid data-grid column-move-allowed column-resize-allowed erp-data-grid" tabindex="0">
            <div class="tab-pane">
                <div class="">
                    <div class="portlet-body">
                        <div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">PCL Line</a>
                                </li>
                                <li>
                                    <a href="#2" data-toggle="tab">PCR Line</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                @Html.Partial("~/Areas/PCR/Views/Shared/_Toolbar.cshtml")
                                <div class="tab-pane active" id="1">
                                    <div>
                                        <table id="tblPCLLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="all">Find No</th>
                                                    <th class="all">Item</th>
                                                    <th class="all">Sequence</th>
                                                    <th class="all">Item Type</th>
                                                    <th class="all">PCR Initiator</th>
                                                    <th class="all">PCR No</th>
                                                    <th class="all">PCR Line</th>
                                                    <th class="all">PCR Line Status</th>
                                                    <th class="all">Length-Mod</th>
                                                    <th class="all">Width-Mod</th>
                                                    <th class="all">Requirment Date</th>
                                                    <th class="all">Nested Qty</th>
                                                    <th class="all">Area Consume</th>
                                                    <th class="all">W/C Deliver</th>
                                                    <th class="all">Alt Stock</th>
                                                    <th class="all">Stock Number</th>
                                                    <th class="all hide">Stock Revision</th>
                                                    <th class="all">Alt Stock Remarks</th>
                                                    <th class="all">Shape Type</th>
                                                    <th class="all">Shape File</th>
                                                    <th class="all">Move Type</th>
                                                    <th class="all">Grain Orientation</th>
                                                    <th class="all">Material Planner Remark</th>
                                                    <th class="all">Material Grade</th>
                                                    <th class="all">ARM Code</th>
                                                    <th class="all">No. of Pieces</th>
                                                    <th class="all">PCR Type</th>
                                                    <th class="all">Thk</th>
                                                    <th class="all">Req. Qty</th>
                                                    <th class="all">PCR Rev</th>
                                                    <th class="all">PCL No</th>
                                                    <th class="all">Scrap m2</th>
                                                    <th class="all">Return Balance Qty</th>
                                                    <th class="all">Return Area</th>
                                                    <th class="all">Tot Cutting length</th>
                                                    <th class="all">Planner</th>
                                                    <th class="all">Remark</th>
                                                    <th class="all">Loc</th>
                                                    <th class="all">Sub Loc</th>
                                                    <th class="all">Cut Loc</th>
                                                    <th class="all">Machine</th>
                                                    <th class="all">Week</th>
                                                    <th class="all">Priority</th>
                                                    <th class="all">Duration</th>
                                                    <th class="all">St Dt.</th>
                                                    <th class="all">End Dt.</th>
                                                    <th class="all">Planner Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="2">
                                    <div>
                                        <table id="tblPCRLines" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="all">Find No</th>
                                                    <th class="all">Item</th>
                                                    <th class="all">Sequence</th>
                                                    <th class="all">Item Type</th>
                                                    <th class="all">PCR Initiator</th>
                                                    <th class="all">PCR No</th>
                                                    <th class="all">PCR Line</th>
                                                    <th class="all">PCR Line Status</th>
                                                    <th class="all">Length-Mod</th>
                                                    <th class="all">Width-Mod</th>
                                                    <th class="all">Requirment Date</th>
                                                    <th class="all">Nested Qty</th>
                                                    <th class="all">Area Consume</th>
                                                    <th class="all">W/C Deliver</th>
                                                    <th class="all">Alt Stock</th>
                                                    <th class="all">Stock Number</th>
                                                    <th class="all hide">Stock Revision</th>
                                                    <th class="all">Alt Stock Remarks</th>
                                                    <th class="all">Shape Type</th>
                                                    <th class="all">Shape File</th>
                                                    <th class="all">Move Type</th>
                                                    <th class="all">Grain Orientation</th>
                                                    <th class="all">Material Planner Remark</th>
                                                    <th class="all">Material Grade</th>
                                                    <th class="all">ARM Code</th>
                                                    <th class="all">No. of Pieces</th>
                                                    <th class="all">PCR Type</th>
                                                    <th class="all">Thk</th>
                                                    <th class="all">Req. Qty</th>
                                                    <th class="all">PCR Rev</th>
                                                    <th class="all">PCL No</th>
                                                    <th class="all">Scrap m2</th>
                                                    <th class="all">Return Balance Qty</th>
                                                    <th class="all">Return Area</th>
                                                    <th class="all">Tot Cutting length</th>
                                                    <th class="all">Planner</th>
                                                    <th class="all">Remark</th>
                                                    <th class="all">Loc</th>
                                                    <th class="all">Sub Loc</th>
                                                    <th class="all">Cut Loc</th>
                                                    <th class="all">Machine</th>
                                                    <th class="all">Week</th>
                                                    <th class="all">Priority</th>
                                                    <th class="all">Duration</th>
                                                    <th class="all">St Dt.</th>
                                                    <th class="all">End Dt.</th>
                                                    <th class="all">Planner Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <script type="text/javascript">

        /* Events starts */
        function fnOnCreateRow(row, data, dataIndex) {
            $(row).on("click", function () {
                var that = $(this);
                fnOnRowClick(that, data, dataIndex);
            });
        }

        function fnOnRowClick(row, data, dataIndex) {
            console.log(row, data, dataIndex);
            fnLoadTab('ViewPCRLineDetail', 'PCR Line Detail');
        }
        /* Events ends */

        function fnGetInput(headerId) {
            var iPCLHeaderId = headerId;
            var iFCRight = 0;
            var aoColumns = [
                {
                    "data": "PartNumber",
                    "sClass": "center group1",
                    "name": "PartNumber",
                    "ColName": "p4.PartNumber"
                },
                {
                    "data": "ChildItem",
                    "sClass": "center childitem",
                    "name": "ChildItem",
                    "ColName": "p4.ChildItem"
                },
                {
                    "data": "Sequence",
                    "sClass": "center",
                    "name": "Sequence",
                    "ColName": "p4.Sequence"
                },
                {
                    "data": "ItemType",
                    "sClass": "center",
                    "name": "ItemType",
                    "ColName": "p4.ItemType"
                },
                {
                    "data": "PCRCreatedBy",
                    "sClass": "center",
                    "name": "PCRCreatedBy",
                    "ColName": "PCRCreatedByName"
                },
                {
                    "data": "PCRNumber",
                    "sClass": "center",
                    "name": "PCRNumber",
                    "ColName": "ISNULL(p4.PCRNumber,'')"
                },
                {
                    "data": "PCRLineNo",
                    "sClass": "center",
                    "name": "PCRLineNo",
                    "ColName": "p4.PCRLineNo"
                },
                {
                    "data": "PCRLineStatus",
                    "sClass": "center pcllinestatus",
                    "name": "PCRLineStatus",
                    "ColName": "ISNULL(p3.PCRLineStatus,'')"
                },
                {
                    "data": "Length",
                    "sClass": "center length",
                    "name": "Length",
                    "ColName": "p3.[Length]"
                },
                {
                    "data": "Width",
                    "sClass": "center width",
                    "name": "Width",
                    "ColName": "p3.Width"
                },
                {
                    "data": "PCRRequirementDate",
                    "sClass": "center controlrequired",
                    "name": "PCRRequirementDate",
                    "ColName": "ISNULL(p3.PCRRequirementDate,p4.PCRRequirementDate)"
                },
                {
                    "data": "NestedQuantity",
                    "sClass": "center controlrequired",
                    "name": "NestedQuantity",
                    "ColName": "p3.NestedQuantity"
                },
                {
                    "data": "AreaConsumed",
                    "sClass": "center",
                    "name": "AreaConsumed",
                    "ColName": "p3.AreaConsumed"
                },
                {
                    "data": "WCDeliver",
                    "sClass": "center  controlrequired",
                    "name": "WCDeliver",
                    "ColName": "WCDeliverName"
                },
                {
                    "data": "UseAlternateStock",
                    "sClass": "center",
                    "name": "UseAlternateStock",
                    "ColName": "UseAlternateStock"
                },
                {
                    "data": "StockNumber",
                    "sClass": "center controlrequired",
                    "name": "StockNumber",
                    "ColName": "ISNULL(p3.StockNumber,'')"
                },
                {
                    "data": "StockRevision",
                    "sClass": "center stockrevision hide",
                    "name": "StockRevision",
                    "ColName": "p3.StockRevision"
                },
                {
                    "data": "AlternateStockRemark",
                    "sClass": "center",
                    "name": "AlternateStockRemark",
                    "ColName": "p3.AlternateStockRemark"
                },
                {
                    "data": "ShapeType",
                    "sClass": "center",
                    "name": "ShapeType",
                    "ColName": "p3.ShapeType"
                },
                {
                    "data": "ShapeFile",
                    "sClass": "center",
                    "name": "ShapeFile",
                    "ColName": "p3.ShapeFile"
                },
                {
                    "data": "MovementType",
                    "sClass": "center controlrequired",
                    "name": "MovementType",
                    "ColName": "MovementTypeName"
                },
                {
                    "data": "GrainOrientation",
                    "sClass": "center",
                    "name": "GrainOrientation",
                    "ColName": "p3.GrainOrientation"
                },
                {
                    "data": "MaterialPlannerRemark",
                    "sClass": "center",
                    "name": "MaterialPlannerRemark",
                    "ColName": "p3.MaterialPlannerRemark"
                },
                {
                    "data": "ItemMaterialGradeName",
                    "sClass": "center materialgrade",
                    "name": "ItemMaterialGradeName",
                    "ColName": "ItemMaterialGradeName"
                },
                {
                    "data": "ARMCode",
                    "sClass": "center w200",
                },
                {
                    "data": "NoofPieces",
                    "sClass": "center",
                    "name": "NoofPieces",
                    "ColName": "p3.NoofPieces"
                },
                {
                    "data": "PCRTypeName",
                    "sClass": "center",
                    "name": "PCRTypeName",
                    "ColName": "PCRTypeName"
                },
                {
                    "data": "Thickness",
                    "sClass": "center",
                    "name": "Thickness",
                    "ColName": "p3.Thickness"
                },
                {
                    "data": "RequiredQuantity",
                    "sClass": "center requiredquantity",
                    "name": "RequiredQuantity",
                    "ColName": "p4.RequiredQuantity"
                },
                //{
                //    "data": "PCRSequenceNo",
                //    "sClass": "center",
                //    "name": "PCRSequenceNo",
                //    "ColName": "p4.Sequence"
                //},
                {
                    "data": "PCRLineRevNo",
                    "sClass": "center",
                    "name": "PCRLineRevNo",
                    "ColName": "p3.PCRLineRevNo"
                },
                {
                    "data": "PCLNumber",
                    "sClass": "center pclnumber",
                    "name": "PCLNumber",
                    "ColName": "ISNULL(p3.PCLNumber,'')"
                },
                {
                    "data": "ScrapQuantityInm2",
                    "sClass": "center",
                    "name": "ScrapQuantityInm2",
                    "ColName": "ScrapQuantityInm2"
                },
                {
                    "data": "ReturnBalanceInPcs",
                    "sClass": "center returnbalanceinpcs",
                    "name": "ReturnBalanceInPcs",
                    "ColName": "p6.ReturnBalanceInPcs"
                },
                {
                    "data": "ReturnAreaInm2",
                    "sClass": "center",
                    "name": "ReturnAreaInm2",
                    "ColName": "p6.ReturnAreaInm2"
                },
                {
                    "data": "TotalCuttingLength",
                    "sClass": "center controlrequired totalcutlength",
                    "name": "TotalCuttingLength",
                    "ColName": "p6.TotalCuttingLength"
                },
                {
                    "data": "Planner",
                    "sClass": "center controlrequired",
                    "name": "Planner",
                    "ColName": "PlannerName"
                },
                {
                    "data": "Remark",
                    "sClass": "center",
                    "name": "Remark",
                    "ColName": "p6.Remark"
                },
                {
                    "data": "LocationName",
                    "sClass": "center location",
                    "name": "LocationName",
                    "ColName": "LocationName"
                },
                {
                    "data": "SubLocation",
                    "sClass": "center",
                    "name": "SubLocation",
                    "ColName": "p4.SubLocation"
                },
                {
                    "data": "WarehouseCuttingLocation",
                    "sClass": "center",
                    "name": "WarehouseCuttingLocation",
                    "ColName": "p3.WarehouseCuttingLocation"
                },
                {
                    "data": "Machine",
                    "sClass": "center",
                },
                {
                    "data": "Week",
                    "sClass": "center",
                },
                {
                    "data": "Priority",
                    "sClass": "center",
                    "name": "Priority",
                    "ColName": "Priority"
                },
                {
                    "data": "Duration",
                    "sClass": "center",
                },
                {
                    "data": "StartDate",
                    "sClass": "center",
                },
                {
                    "data": "EndDate",
                    "sClass": "center",
                },
                {
                    "data": "PCRPlannerRemark",
                    "sClass": "center",
                    "name": "PCRPlannerRemark",
                    "ColName": "p3.PCRPlannerRemark"
                },
            ]

            var UPPCRLines = {
                sUrl: "/PCR/MaintainPCR/LoadMaterialPlannerPCRDataTable?PCLHeaderId=" + iPCLHeaderId,
                iFCLeft: 0,
                iFCRight: iFCRight,
                aoColumns: aoColumns
            };
            UPPCRLines.fnCreateRow = fnOnCreateRow;
            UPPCRLines.iResponsiveOnWindowWidth = 800;
            UPPCRLines.bIsAllCheckbox = true;
            UPPCRLines.bIsResponsive = false;
            UPPCRLines.bIsSearchFilter = true;
            UPPCRLines.bBtnMaximize = true;
            UPPCRLines.bIsWrapHeader = false;
            UPPCRLines.bIsWrap = false;
            UPPCRLines.bIsLazyLoading = false;
            UPPCRLines.bIsIgnoreHiddenColumns = true;
            return UPPCRLines;
        }
        
        function fnLoadDetails() {
            var tblPCRLinesTableName = "tblPCRLines";
            var tblPCRLines = $('#' + tblPCRLinesTableName);
            var tblPCLLinesTableName = "tblPCLLines";
            var tblPCLLines = $('#' + tblPCLLinesTableName);
            var pcrInput = fnGetInput(10);
            var pclInput = fnGetInput(11);
            //UPPCRLines.sBtnDivSelector = "#dvExportHeader";
            tblPCRLines.dtUtility(pcrInput);
            tblPCLLines.dtUtility(pclInput);
        }

        $(document).ready(function () {
            fnLoadScripts(['Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js', 'Scripts/bootbox.js', 'bundles/datatable/js']);
            fnLoadStyles(['Content/ThemeCss/Css/components.min.css', 'Content/Datatable/css', 'Content/datetimepicker/css','Content/ThemeCss/layoutCss/attachment.css'])
            fnLoadDetails();
        });

    </script>
</div>