﻿@using IEMQSImplementation
@model HTR001
@{
    ViewBag.Title = "View Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // string AttachmentUpload = "fuAttachmentUpload";
    string AttachDoc = "fuAttachDoc";

}
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>

<script src="~/Scripts/common.js"></script>

<script>
    var message = "";
    var IsPromoted = false;
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    function FillHTRautocomplete(element,arrayList,isEditable)
    {
        element.autocomplete({
            source: arrayList,
            minLength: 0,
            autoFocus: true,
            async:false,
            change: function (event, ui) {
                if (ui.item == null) {
                    if (!isEditable) {
                        isSelected = false;
                        $(this).val('');
                        $(this).focus();
                    }
                    else {
                        $(this).val();
                    }
                }
            }
        }).focus(function(){
            var result = $(this).data("uiAutocomplete").search($(this).val());
        });
    }
    function HideUpload() {
        @*$('#btnUploadAll@(AttachmentUpload)').hide()*@
    }
    $(document).ready(function () {
        Load_File_Uploads();

        $('input[maxlength],textarea[maxlength]').maxlength({ alwaysShow: true, });

        //htrSwitch($('#FurnaceCommentsRequired'), $("#hdFurnaceCommentsRequired"));
        //htrSwitch($('#InspectionCommentsRequired'), $("#hdInspectionCommentsRequired"));
        $("#RevNo").val("R"+'@Model.RevNo');
        var arrayMinLoadingTemp= @Html.Raw(Json.Encode(@ViewBag.MinLoadingTemp));
        var arrayMaxLoadingTemp= @Html.Raw(Json.Encode(@ViewBag.MaxLoadingTemp));
        var arrayMinRateOfHeating= @Html.Raw(Json.Encode(@ViewBag.MinRateOfHeating));
        FillHTRautocomplete($("#MinLoadingTemp"),arrayMinLoadingTemp,true);
        FillHTRautocomplete($("#MaxLoadingTemp"),arrayMaxLoadingTemp,true);
        FillHTRautocomplete($("#MinRateOfHeating"),arrayMinRateOfHeating,true);
        //$('.make-switch').bootstrapSwitch('disabled', true);

        var arrayMaxRateOfHeating= @Html.Raw(Json.Encode(@ViewBag.MaxRateOfHeating));
        FillHTRautocomplete($("#MaxRateOfHeating"),arrayMaxRateOfHeating,true);

        var arraySoakingTimeTolerance= @Html.Raw(Json.Encode(@ViewBag.SoakingTimeTolerance));
        FillHTRautocomplete($("#SoakingTimeTolerance"),arraySoakingTimeTolerance,false);

        var arrayMinRateOfCooling= @Html.Raw(Json.Encode(@ViewBag.MinRateOfCooling));
        FillHTRautocomplete($("#MinRateOfCooling"), arrayMinRateOfCooling,true)

        var arrayMaxRateOfCooling= @Html.Raw(Json.Encode(@ViewBag.MaxRateOfCooling));
        FillHTRautocomplete($("#MaxRateOfCooling"),arrayMaxRateOfCooling,true);

        var arrayMinUnloadingTemp= @Html.Raw(Json.Encode(@ViewBag.MinUnloadingTemp));
        FillHTRautocomplete($("#MinUnloadingTemp"),arrayMinUnloadingTemp,true);

        var arrayMaxUnloadingTemp= @Html.Raw(Json.Encode(@ViewBag.MaxUnloadingTemp));
        FillHTRautocomplete($("#MaxUnloadingTemp"), arrayMaxUnloadingTemp,true);

        var arrayCoolPart= @Html.Raw(Json.Encode(@ViewBag.CoolPart));
        FillHTRautocomplete($("#CoolPart"),arrayCoolPart,false);

        var arrayCoolBy= @Html.Raw(Json.Encode(@ViewBag.CoolBy));
        FillHTRautocomplete($("#CoolBy"),arrayCoolBy,false);

        var arrayVolTempOf= @Html.Raw(Json.Encode(@ViewBag.VolTempOf));
        FillHTRautocomplete($("#VolTempOf"), arrayVolTempOf,false);


        var arrayStandardProcedure= @Html.Raw(Json.Encode(@ViewBag.StandardProcedure));
        FillHTRautocomplete( $("#StandardProcedure"),arrayStandardProcedure,false);

        var arrayHeatingThermocouplesVariation= @Html.Raw(Json.Encode(@ViewBag.HeatingThermocouplesVariation));
        FillHTRautocomplete($("#HeatingThermocouplesVariation"),arrayHeatingThermocouplesVariation,false);

        var arrayCoolingThermocouplesVariation= @Html.Raw(Json.Encode(@ViewBag.CoolingThermocouplesVariation));
        FillHTRautocomplete($("#CoolingThermocouplesVariation"),arrayCoolingThermocouplesVariation,false);

        var arrayWPSNo= @Html.Raw(Json.Encode(@ViewBag.WPSNo));
        FillHTRautocomplete( $("#WPSNo"),arrayWPSNo,false);

        var arrayDemote=@Html.Raw(Json.Encode(@ViewBag.Demote));
        FillHTRautocomplete( $("#txtDemote"),arrayDemote,false);

        if('@Model.HTRType' == '@clsImplementationEnum.TypeOfHTR.JobComponent.GetStringValue()'){
            $("#txtPromote").val('@clsImplementationEnum.HTRStatus.Release.GetStringValue()');
        }

        if('@Model.HTRType' == '@clsImplementationEnum.TypeOfHTR.JobComponentNuclear.GetStringValue()'){
            $("#txtPromote").val('@clsImplementationEnum.HTRStatus.WithInspector.GetStringValue()');
        }
        if (parseInt('@Model.HeaderId') > 0) {
            $("#btnAddLines").show();
            $("#btnPromote").show();
        }

        $('#frmDemote').validate({
            rules: {
                FurnaceComments:{required: true},
                txtDemote: {required: true},
            },
            messages: {
                FurnaceComments:{required: "Return Comments required"},
                txtDemote: {required: "Please select Return to"},
            }
        });
        if ('@ViewBag.Action'.toLowerCase() == "edit") {
            @*LoadPreValueSelect2("/HTR/FurnaseSupervisor/GetProjectsEdit", $("#LinkedProject"),"--Select LinkedProject--", '');
            var url = "/HTR/FurnaseSupervisor/GetLinkedProjectValue?headerId="+ '@Model.HeaderId'
            $.getJSON(url, function (opts) {
                if (opts)
                    $("#LinkedProject").val(opts).trigger('change');
            });*@
            if($("#FurnaceBedDistance").val('@Model.FurnaceBedDistance')){
                var str ='@Model.FurnaceBedDistance';
                var rest = str.substring(0, str.lastIndexOf("-") );
                var last = str.substring(str.lastIndexOf("-") + 1, str.length);
                $("#FurnaceBedDistance").val(rest + " " +last);
            }

            if('@Model.HTRType' == '@clsImplementationEnum.TypeOfHTR.PTC.GetStringValue()'){
                $("#fdFurnaceSupervisor").hide();
                if($("#InspectorComments").val() !='')
                {
                    $("#dvInspectorComments").show();
                }
                if($("#ReviewerComments").val() !='')
                {
                    $("#dvReviewerComments").show();
                }
                @*@Model.ReviewerComments*@
            }
            if('@Model.HTRType' == '@clsImplementationEnum.TypeOfHTR.PQR.GetStringValue()'){
                $("#fdFurnaceSupervisor").hide();
                $("#fdInspector").hide();
            }
            if('@Model.HTRType' == '@clsImplementationEnum.TypeOfHTR.JobComponent.GetStringValue()'){
                if($("#FurnaceComments").val() !='')
                {
                    $("#dvFurnaceComments").show();
                }
                $("#fdInspector").hide();
                //if($("#InspectorComments").val() !='')
                //{
                //    $("#dvInspectorComments").show();
                //}
                if($("#ReviewerComments").val() !='')
                {
                    $("#dvReviewerComments").show();
                }
            }
            if('@Model.HTRType' == '@clsImplementationEnum.TypeOfHTR.JobComponentNuclear.GetStringValue()'){
                if($("#FurnaceComments").val() !='')
                {
                    $("#dvFurnaceComments").show();
                }
                $("#fdInspector").show();
                if($("#InspectorComments").val() !='')
                {
                    $("#dvInspectorComments").show();
                }
                if($("#ReviewerComments").val() !='')
                {
                    $("#dvReviewerComments").show();
                }
            }
            //BHADRESH START
            @*var UploadPath = "";
            if (parseInt(@(Model.HeaderId)) > 0) {
                UploadPath = "HTR001/LoadingSketch/"+@(Model.HeaderId)+"/R"+@(Model.RevNo);
            }

            var objAttachmentUpload = new FileUploadEnt('dv@(AttachmentUpload)', '@AttachmentUpload');
            objAttachmentUpload.ShowDeleteAction =false;
            objAttachmentUpload.ShowAttachmentBtn = false;
            objAttachmentUpload.FolderPath = UploadPath;
            objAttachmentUpload.IsRequired = true;
            objAttachmentUpload.LoadCallbackFunction = HideUpload;
            LoadFileUploadPartialView(objAttachmentUpload);*@
            //BHADRESH END

            var strProject = '@ViewBag.Project';
            var strFurnaceSupervisor = '@ViewBag.FurnaceSupervisor';
            var strInspector = '@ViewBag.Inspector';
            $("#HTRType").prop("disabled", true);
            $("#txtProject").prop("disabled", true);
            $("#txtProject").val(strProject);
            $("#Project").val('@Model.Project');
            $("#txtInspector").val(strInspector);
            $("#txtFurnaceSupervisor").val(strFurnaceSupervisor);
            $("#Inspector").val('@Model.Inspector');
            $("#FurnaceSupervisor").val('@Model.FurnaceSupervisor');
            var strMET = '@ViewBag.MET';
            $("#txtMET").val(strMET);
            $("#MET").val('@Model.MET');
            $("#txtHeaderId").val('@Model.HeaderId');
            $('fieldset.dvProject :input').prop('disabled', true);
            $('div.dvDet :input').prop('disabled', true);

        }
        ////button click

        $("#btnHistoryComparison").click(function () {
            $.ajax({
                type: "POST",
                url: WebsiteURL + "/HTR/Maintain/getChangeSet",
                datatype: 'html',
                async: false,
                data: { Id: parseInt('@Model.HeaderId') },
                success: function (result) {
                    bootbox.dialog({
                        title:"HTR Change Set Details",
                        message: result,
                        size: 'large',
                        buttons: {
                            'cancel': {
                                label: 'Close',
                                className: 'btn btnclose'
                            }
                        }
                    });
                },
                error: function () {
                }
            });
        });



        $("#btnSaveHeader").click(function () {
            var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
            //  SaveAttachment(true);
        });


        $("#btnDemote").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                if ($("#frmDemote").valid()) {

                    bootbox.dialog({
                        title: "Return Confirmation",
                        message: "Do you want to Return " + $("#HTRNo").val() + " ?",
                        buttons: {
                            Yes: {
                                label: 'Yes',
                                className: 'btn-success',
                                callback: function () {

                                    //SaveAttachment(false);
                                    //SaveHeader(frmSaveHeaderValue, status,false);
                                    var status= $("#txtDemote").val();
                                    $.ajax({
                                        type: "POST",
                                        url:WebsiteURL +  "/HTR/FurnaseSupervisor/SendForDemote",
                                        datatype: 'json',
                                        beforeSend: function () {
                                            showLoading(true);
                                        },
                                        complete: function () {
                                            showLoading(false);
                                        },
                                        data: { strHeaderId: parseInt('@Model.HeaderId') ,status:status, remark:$("#FurnaceComments").val()  },
                                        success: function (data) {
                                            if (data.ActionKey) {
                                                DisplayNotiMessage("success", data.ActionValue, "Success");
                                                window.location.href =WebsiteURL +  '/HTR/FurnaseSupervisor/Index';
                                            }
                                            else {
                                                DisplayNotiMessage("error", data.ActionValue, "Error");
                                            }
                                        },
                                        error: function () {
                                        }
                                    });
                                }
                            },
                            Cancel: {
                                label: 'No',
                                className: 'btn red',
                                callback: function () { }
                            }
                        }
                    });
                }
                else {
                    HighlightInValidControls();
                    return false;
                }
            }

            else {
                HighlightInValidControls();
                return false;
            }
        });

        $("#btnPromote").click(function () {
            if ($("#frmCreateHeader").valid()) {
                var frmSaveHeaderValue = $("#frmCreateHeader").serializeArray();
                var spltApproverDesc = $("#txtProject").val().split("-");
                var Approvercode = spltApproverDesc[0].trim();
                bootbox.dialog({
                    title: "Submit Confirmation",
                    message: "Do you want to Submit " + $("#HTRNo").val() + " ?",
                    buttons: {
                        Yes: {
                            label: 'Yes',
                            className: 'btn-success',
                            callback: function () {
                                // SaveAttachment(false);
                                $.ajax({
                                    type: "POST",
                                    url: WebsiteURL + "/HTR/FurnaseSupervisor/SendForPromote",
                                    datatype: 'json',
                                    beforeSend: function () {
                                        showLoading(true);
                                    },
                                    complete: function () {
                                        showLoading(false);
                                    },
                                    data: { strHeaderId: parseInt('@Model.HeaderId'), remark: $("#FurnaceComments").val(), ProjectCode: spltApproverDesc },
                                    success: function (data) {
                                        //if (data.ActionValue.length > 0) {
                                        //    var splits = data.ActionValue.split("#");
                                        //    var Identical = splits[0].split("$");
                                        //    var Lines = splits[1].split("$");
                                        //    for (var i = 0; i < Identical.length; i++) {
                                        //        var FromFolderName = "//HTR001//" + $("#txtHeaderId").val() + "//1";
                                        //        var ToFolderName = "//HTR001//" + Identical[i] + "//1";
                                        //        fn_copy_documents(FromFolderName, ToFolderName, "HTR001", Identical[i]);
                                        //    }
                                        //    for (var i = 0; i < Lines.length; i++) {
                                        //        var Line = Lines[i].split("-");
                                        //        var FromFolderName = "//HTR002//" + Line[1] + "//1";
                                        //        var ToFolderName = "//HTR002//" + Line[0] + "//1";
                                        //        fn_copy_documents(FromFolderName, ToFolderName, "HTR002", Line[0]);
                                        //    }
                                        //}
                                        if (data.ActionKey) {
                                            DisplayNotiMessage("success", data.ActionValue, "Success");
                                            window.location.href = WebsiteURL + '/HTR/FurnaseSupervisor/Index';
                                        }
                                        else {
                                            DisplayNotiMessage("error", data.ActionValue, "Error");
                                        }
                                    },
                                    error: function () {
                                    }
                                });
                            }
                        },
                        Cancel: {
                            label: 'No',
                            className: 'btn red',
                            callback: function () { }
                        }
                    }
                });
            }
            else {
                HighlightInValidControls();
                return false;
            }
        });
    });


    function Disable()
    {
        $('fieldset.dvProject :input').attr('disabled', true);

    }

    function GetHTRCheckList(HeaderId){
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/HTR/FurnaseSupervisor/LoadHTRCheckList",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: {HeaderId:HeaderId},
            success: function (result) {
                bootbox.dialog({
                    title: ' HTR Check List',
                    message: result,
                    size: 'large',
                    buttons: {
                        //'confirm': {
                        //    label: 'Save',
                        //    className: 'btn green',
                        //    callback: function () {
                        //                                      if ($("#frmCheckList").valid()) {
                        //            var formData = new FormData();
                        //            var frmValues = $('#frmCheckList').serializeArray();
                        //            $.each(frmValues, function (key, input) {
                        //                formData.append(input.name, input.value);
                        //            });
                        //            $.ajax({
                        //                url: '/HTR/FurnaseSupervisor/SaveCheckList',
                        //                type: "Post",
                        //                beforeSend: function () {
                        //                    showLoading(true);
                        //                },
                        //                complete: function () {
                        //                    showLoading(false);
                        //                },
                        //                async: false,
                        //                contentType:false,
                        //                processData:false,
                        //                dataType: "JSON",
                        //                data:  formData,
                        //                success: function (data) {
                        //                    if (data.Key) {
                        //                        DisplayNotiMessage("success", data.Value, "Success");
                        //                        $("#txtHeaderId").val(HeaderId);
                        //                        //window.setTimeout('window.location.href = "/HTR/FurnaseSupervisor/AddHeader?HeaderID=' + data.HeaderId + '"', 2000);
                        //                    }
                        //                    else {
                        //                        DisplayNotiMessage("error", data.Value, "Error");
                        //                        return false;
                        //                    }
                        //                },
                        //                error: function (ex) {
                        //                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                        //                    return false;
                        //                }
                        //            });
                        //        }
                        //        else {
                        //            return false;
                        //        }
                        //    }
                        //},
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }


    function getProjectCode(code) {
        if (code != null && code != '' && code != undefined) {
            $.ajax({
                url: WebsiteURL + "/HTR/FurnaseSupervisor/GetNumber",
                type: 'POST',
                async: false,
                dataType: "JSON",
                data: { code: code },
                success: function (response) {
                    $("#HTRNo").val(response.TechNo);
                    $("#RevNo").val('@Model.RevNo');
                },
                error: function (ex) {
                    DisplayNotiMessage("error", "Something Went Wrong.Please Try Again After Sometime", "Error");
                    bootbox.alert('Failed to retrieve status.' + ex);
                }
            });
        }
    }

    function ClearAll() {
        $("#Project").val('');
        $("#txtProject").val('');
        $("#HTRNo").val('');
    }


    function SaveAttachment(IsVisible) {
        if(getHasAttachmentsForSubmit()){
            $.ajax({
                url: WebsiteURL + "/HTR/FurnaseSupervisor/SaveAttachment",
                type: "POST",
                data:  {
                    headerId:parseInt('@Model.HeaderId'),revNo: parseInt('@Model.RevNo'), hasLSAttachments: getHasAttachmentsForSubmit(),
                    lsAttach: getAttachmentsFromTable(),ISPromoted:false},
                //contentType: false,
                //processData: false,
                beforeSend: function () {
                    showLoading(true);
                },
                complete: function () {
                    showLoading(false);
                },
                success: function (data) {
                    if (data.Key) {
                        if(IsVisible)
                        {
                            DisplayNotiMessage("success", data.Value, "Success");
                        }
                    }
                    else {
                        DisplayNotiMessage("error", data.Value, "Error");
                    }
                }
            });
        }else
        { DisplayNotiMessage("error", "Please attach document", "error");}
    }
    function SaveHeader(strFormData, status,IsVisible) {

        var formData = new FormData();
        $.each(strFormData, function (key, input) {
            formData.append(input.name, input.value);
        });
        //var fileScan = $("#ScanPlan").get(0).files[0];

        //formData.append("fileScanPlan", fileScan);

        $.ajax({
            url: WebsiteURL + "/HTR/FurnaseSupervisor/SaveHeader",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            success: function (data) {
                if (data.Key) {
                    if(IsVisible)
                    {
                        DisplayNotiMessage("success", data.Value, "Success");
                    }
                }
                else {
                    DisplayNotiMessage("error", data.Value, "Error");
                }
            }
        });
    }


</script>
<style>
    textarea {
        height: 33px !important;
    }

    /*TextBox {
        height: 33px !important;
    }*/

    .disableDiv {
        pointer-events: none;
        opacity: 0.5;
    }

    fieldset {
        border-top: 1px groove gray !important;
        padding: 0 0.4em 0.4em 0.4em !important;
        margin: 0 0 0.5em 0 !important;
        /*border-radius: 10px !important;*/
    }

    legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        margin-bottom: 0px !important;
        border-bottom: none;
        display: block;
        font-size: 21px;
        line-height: inherit;
    }

    .form-group {
        margin: 0px 0px 5px 0px !important;
        /*margin-bottom: 5px !important;
        margin-left: 0;*/
    }
</style>
<div class="page-content">
    <div class="portlet light ">
        <div id="dvHeader">
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">Heat Treatment Request Detail</span>
                    </div>
                    @{
                        if (!string.IsNullOrWhiteSpace(Model.Status))
                        {
                            <div class="ribbon ribbon-right ribbon-color-warning">
                                <span style="font-weight:bolder">
                                    Status : <span id="spnStatus">@Html.DisplayFor(m => m.Status)</span>
                                </span>
                            </div>
                        }
                    }
                </div>
                <div id="dvHeader">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", @id = "frmCreateHeader" }))
                    {
                        @Html.HiddenFor(m => m.HeaderId, new { @id = "txtHeaderId" })
                        @Html.HiddenFor(m => m.Status)

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="nonEditable">
                                    <fieldset class="dvProject">
                                        <legend>Project Detail</legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Flow selection<span class="required"> * </span></label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.HTRType, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Project Number<span class="required"> * </span></label>
                                                    <div class="">
                                                        <input type="text" id="txtProject" value="" readonly name="txtProject" class="form-control col-md-3" />
                                                        @Html.HiddenFor(model => model.Project)
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">HTR Number</label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.HTRNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Revision </label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.RevNo, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Department</label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.Department, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Location</label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Identical Project</label>
                                                    <div class="">
                                                        <select id="IdenticalProject" name="IdenticalProject" disabled multiple="multiple" style=" width:100%" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <legend>HTR Details</legend>
                                        <div class="dvDet">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label class="control-label">D.O. No</label>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.DONo, new { @class = "form-control col-md-3", @maxLength = "100", @readonly = "readonly", @tooltip = "Maximum 100 characters allowed" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">P.O. No</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.PoNo, new { @class = "form-control col-md-3", @maxLength = "50", @readonly = "readonly", @tooltip = "Maximum 50 characters allowed" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Concerto MSP</label>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.ConcertoMSP, new { @class = "form-control col-md-3", @readonly = "readonly", @maxLength = "100", @tooltip = "Maximum 100 characters allowed" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="control-label">Heat Treatment To Be Done<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.Treatment, new { @readonly = "readonly", @class = "form-control col-md-3", @maxLength = "300", @tooltip = "Maximum 300 characters allowed" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-6" style="display:none">
                                                    <label class="control-label">Ensure Heat Treatment completion as per HTR No</label>
                                                    <div class="">
                                                        @Html.TextAreaFor(m => m.HTRReferenceNo, new { @readonly = "readonly", @class = "form-control col-md-3", @maxLength = "300", @tooltip = "Maximum 300 characters allowed" })
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="control-label">Furnace in which Item is to be Loaded<span class="required"> * </span></label>
                                                    <div class="">
                                                        <select name="Furnace" id="Furnace" multiple="multiple" style=" width:100%" class="form-control"></select>

                                                        @*@Html.TextBoxFor(m => m.Furnace, new { @readonly = "readonly", @class = "form-control col-md-3", @maxLength = "300", @tooltip = "Maximum 300 characters allowed" })*@
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Description<span class="required"> * </span></label>
                                                    <div class="">
                                                        @Html.TextBoxFor(m => m.HTRDescription, new { @readonly = "readonly", @class = "form-control col-md-3", @maxLength = "350", @tooltip = "Maximum 350 characters allowed" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Reviewer and Approver Details</legend>
                                        <div id="fdFurnaceSupervisor">
                                            @*<legend>Furnace Details</legend>*@
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @*<div class="col-md-4">
                                                            <label class="control-label">Furnace Sup./FOS Comments Required<span class="required"> * </span></label>
                                                            <div class="">
                                                                @Html.CheckBox("FurnaceCommentsRequired", new Dictionary<string, object> { { "id", "FurnaceCommentsRequired" }, { "class", "make-switch col-md-3" }, { "data-on-text", "Yes" }, { "data-off-text", "No" }, { "data-on-color", "success" }, { "data-off-color", "danger" }, { "data-size", "normal" } })
                                                                @Html.HiddenFor(m => m.FurnaceCommentsRequired, new { @id = "hdFurnaceCommentsRequired" })
                                                            </div>
                                                        </div>*@

                                                    <div class="col-md-3">
                                                        <label class="control-label">Furnace Supervisor (Reviewer) <span class="required"> * </span></label>
                                                        <div class="">
                                                            <input type="text" id="txtFurnaceSupervisor" value="" readonly name="txtFurnaceSupervisor" class="form-control col-md-3" />
                                                            @Html.HiddenFor(model => model.FurnaceSupervisor)
                                                        </div>
                                                    </div>
                                                    <div id="dvFurnaceComments" style="display:none;" class="col-md-6">
                                                        <label class="control-label">  Remarks/Return Remarks</label>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.FurnaceComments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="fdInspector">
                                            @*<legend>Inspector Details</legend>*@
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label class="control-label">Inspector (Approver)<span class="required"> * </span></label>
                                                        <div class="">
                                                            <input type="text" id="txtInspector" readonly value="" name="txtInspector" class="form-control col-md-3" />
                                                            @Html.HiddenFor(model => model.Inspector)
                                                        </div>
                                                    </div>
                                                    <div id="dvInspectorComments" style="display:none;" class="col-md-6">
                                                        <label class="control-label">  Remarks/Return Remarks</label>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.InspectorComments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="fdMET">
                                            @*<legend>WE/MET Details</legend>*@
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <label class="control-label"> WE & MET (Reviewer)<span class="required"> * </span></label>
                                                        <div class="">
                                                            <input type="text" id="txtMET" readonly value="" name="txtMET" class="form-control col-md-3" />
                                                            @Html.HiddenFor(model => model.MET)
                                                        </div>
                                                    </div>
                                                    <div id="dvReviewerComments" style="display:none;" class="col-md-6">
                                                        <label class="control-label">
                                                            Remarks/Return Remarks
                                                        </label>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.ReviewerComments, new { @class = "form-control col-md-3", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Heat Treatment Cycle </legend>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;border-right: 1px groove gray !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Loading Temperature(Min) °C<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MinLoadingTemp, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Loading Temperature(Max) °C<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MaxLoadingTemp, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" style="padding:0px !important">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Rate of Heating(Min) °C/HR<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MinRateOfHeating, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Rate of Heating(Max) °C/HR<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MaxRateOfHeating, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;border-right: 1px groove gray !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Soaking Temperature (Min) °C<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MinSoakingTemperature, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)", @maxLength = "50", @tooltip = "Maximum 50 characters allowed" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label class="control-label">Soaking Temperature (Max) °C<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MaxSoakingTemperature, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)", @maxLength = "50", @tooltip = "Maximum 50 characters allowed" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding:0px !important;">

                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label" style="text-align:left">Soaking Time<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.SoakingTimeHH, new { @class = "form-control col-md-3 inlinetextbox", @maxLength = "35", @placeholder = "HH", @style = "margin-right: 12px;max-width: 126px !important;", @tooltip = "Maximum 3 characters allowed" })
                                                        </div>
                                                        <div class="">
                                                            @Html.TextAreaFor(m => m.SoakingTimeMM, new { @class = "form-control col-md-3 inlinetextbox", @maxLength = "35", @placeholder = "MM", @style = "max-width: 126px !important;", @tooltip = "Maximum 3 characters allowed" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label class="control-label">Tolerance on Soaking Time<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.SoakingTimeTolerance, new { @readonly = "readonly", @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;border-right: 1px groove gray !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Rate of Cooling(Min)°C/HR<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MinRateOfCooling, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Rate of Cooling(Max)°C/HR<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MaxRateOfCooling, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Unloading Temperature(Min)°C<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MinUnloadingTemp, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Unloading Temperature(Max)°C<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MaxUnloadingTemp, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">To cool the Part<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.CoolPart, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label class="control-label">Cool By<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.CoolBy, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Time Delay in (sec.)(Max)</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MaxDelay, new { @class = "form-control col-md-3", onkeypress = "return isNumber(event)", @maxLength = "4", @tooltip = "Maximum 4 characters allowed" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Volume and Temperature of</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.VolTempOf, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Temp. of Liquid after quenching</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.TempOfLiquidAfterQuenching, new { @class = "form-control col-md-3", @maxLength = "6", @tooltip = "Maximum 6 characters allowed" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">Volume in Liters(Min)</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.MinVol, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-md-6" style="padding:0px !important;">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6">
                                                            <label class="control-label" style="text-align:left">Var.in any 2 Thermocouples not to exceed while (Heating/Cooling)is given by:</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="control-label" style="text-align:left">Heating <span class="required"> * </span></label>
                                                            <div class="">
                                                                @Html.TextBoxFor(m => m.HeatingThermocouplesVariation, new { @class = "form-control col-md-3" ,@maxlength="5", @placeholder = "Select" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="control-label" style="text-align:left">Cooling <span class="required"> * </span></label>
                                                            <div class="">
                                                                @Html.TextBoxFor(m => m.CoolingThermocouplesVariation, new { @class = "form-control col-md-3", @maxlength = "5" , @placeholder = "Select" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12">
                                                            <label class="control-label" style="text-align:left">&nbsp;</label><br />
                                                            <label class="control-label" style="text-align:left">Var.in any 2 Thermocouples not to exceed while (Heating/Cooling)is given by:</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6">
                                                            <label class="control-label" style="text-align:left">Heating <span class="required"> * </span></label>
                                                            <div class="">
                                                                @Html.TextAreaFor(m => m.HeatingThermocouplesVariation, new { @class = "form-control col-md-3", @placeholder = "Select", @maxlength = "50" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">

                                                            <label class="control-label" style="text-align:left">Cooling <span class="required"> * </span></label>
                                                            <div class="">
                                                                @Html.TextAreaFor(m => m.CoolingThermocouplesVariation, new { @class = "form-control col-md-3", @placeholder = "Select", @maxlength = "50" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            Special Instructions
                                        </legend>
                                        <div class="col-md-12" style="padding:0px !important">
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <label class="control-label">Standard Procedure <span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.StandardProcedure, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding:0px !important;">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label">Above furnace bed the job is placed at</label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.FurnaceBedDistance, new { @readonly = "readonly", @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="control-label">WPS No.<span class="required"> * </span></label>
                                                        <div class="">
                                                            @Html.TextBoxFor(m => m.WPSNo, new { @class = "form-control col-md-3" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            @*<div class="col-md-4">
                                                    <label class="control-label">Linked Project</label>
                                                    <select name="LinkedProject" id="LinkedProject" disabled multiple="multiple" style=" width:100%" class="form-control"></select>
                                                </div>*@
                                            <div class="col-md-12">
                                                <label class="control-label">Comments</label>
                                                <div class="">
                                                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control col-md-3", @readonly = "readonly", @maxLength = "500", @tooltip = "Maximum 500 characters" })
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="dvattachment">
                                    <fieldset>
                                        <legend>Attachments</legend>
                                        @*<div class="form-group">
                                                <div class="col-md-12" style="margin-top: 20px">
                                                    <div class="">
                                                        <div id="dv@(AttachmentUpload)"></div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <div class="col-md-12" style="margin-top: 20px">
                                                <div class="">
                                                    <div id="divUploadDoc"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                @*<fieldset>
                                        <legend>Loading Sketch </legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @{ Html.RenderPartial("~/Areas/HTR/Views/Shared/_LoadingSketchAttachments.cshtml"); }
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend> Thermocouple Attachments  </legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @{ Html.RenderPartial("~/Areas/HTR/Views/Shared/_ThermocoupleAttachments.cshtml"); }
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>General Notes </legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @{ Html.RenderPartial("~/Areas/HTR/Views/Shared/_GeneralNotesAttachments.cshtml"); }
                                            </div>
                                        </div>
                                    </fieldset>*@

                            </div>
                        </div>
                    }
                    <div class="fdControls">
                        <form method='post' id='frmDemote' class='form-horizontal' action=''>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <fieldset>
                                        <legend>Action</legend>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Return to<span id="spnDemote"></span><span class="required"> * </span></label>
                                                    <div class="">
                                                        <input type="text" id="txtDemote" value="" name="txtDemote" class="form-control col-md-3" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Return Comments<span class="required"> * </span></label>
                                                    <div class="">
                                                        @Html.TextAreaFor(m => m.FurnaceComments, new { @class = "form-control col-md-3", @maxLength = "500", @tooltip = "Maximum 500 characters" })
                                                        @*<input type="text" id="FurnaceComments" value="" name="FurnaceComments" class="form-control col-md-3" />*@
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Promote<span id="spnPromote"></span><span class="required"> * </span></label>
                                                    <div class="">
                                                        <input type="text" id="txtPromote" value="" name="txtPromote" readonly class="form-control col-md-3" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6" style="text-align:right;margin-top:30px;">
                                                    @*<input type="button" class="btn green" id="btnSaveHeader" value="Save" />
                                                        <button class="btn green" type="button" id="btnPromote">Promote</button>
                                                        <button class="btn red" type="button" id="btnDemote">Demote</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    HTR Components Details
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="tblAHTR" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="all">Sr. No.</th>
                                            <th class="all" style="display:none">Header Id</th>
                                            <th class="all" style="display:none">Line Id</th>
                                            <th class="all">Seam No</th>
                                            <th class="all">Part No</th>
                                            <th class="all">Heat No</th>
                                            <th class="all">Drawing No</th>
                                            <th class="all">Drawing Rev</th>
                                            <th class="all">HTP Reference</th>
                                            <th class="all">PTC/MTC/PQR</th>
                                            <th class="all">Description</th>
                                            <th class="all">Material Spec</th>
                                            <th class="all">Size Thickness</th>
                                            <th class="all">Quantity</th>
                                            <th class="all">Total Weight(kg)</th>
                                            <th class="all">Inspection Agency</th>
                                            <th class="all">Material From</th>
                                            <th class="all">Material To</th>
                                            <th class="all">ICS By</th>
                                            <th class="all">Project Number</th>
                                            <th class="all">Revision</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="fdControls">
                        <div class="col-md-12" style="text-align:right;">
                            @*<input type="button" class="btn save" id="btnSaveHeader" value="Save" />*@
                            @*<button class="btn green" type="button" id="btnViewCheckList">View Check List</button>*@
                            <button class="btn approve" type="button" id="btnPromote">Approve</button>
                            <button class="btn return" type="button" id="btnDemote">Return</button>
                            <a href="~/HTR/FurnaseSupervisor/Index" class="btn btnclose">Close</a>
                            <a id="btnHistoryComparison" class="btn icons" title="HTR Change Set"><i class="fa fa-external-link-square"></i></a>
                            <a class="btn icons" style="display:none" id="btnPrintNew" title="Print" onclick="PrintReport()"><i class="fa fa-print"></i></a>

                            @* <input type="button" class="btn green" id="btncancel" value="Cancel" style="margin-right:5px;" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
       if ('@Model.Furnace' != null && '@Model.Furnace' != "") {
        $('#Furnace').val('@Model.Furnace');

    }
    if ('@Model.IdenticalProject' != null && '@Model.IdenticalProject' != "") {
        $('#IdenticalProject').val('@Model.IdenticalProject');

    }

    var IdenticalProjects = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.IdenticalProject))));
   
    $(document).ready(function () {

        $("#Furnace").select2();
        var option = "";
         var arrayFurnace = @Html.Raw(Json.Encode(@ViewBag.Furnace));
        $.each(arrayFurnace, function (index, object) {
            option += "<option value='" + object + "'>" + object + "</option>";
        });
        $("#Furnace").html(option);
        $("#Furnace").select2();

        var Furnaces = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(Model.Furnace))));
        if (Furnaces != null) {
            $('#Furnace').val(LoadSelect2OnEdit(Furnaces)).trigger("change");
        }
        debugger
        var spltProjectDesc = $("#txtProject").val().split("-");
        var projectcode = spltProjectDesc[0].trim();
        GetAllIdenticalProjects(projectcode);


        var table = $('#tblAHTR');
        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "bProcessing": true,
            "bServerSide": true,
            "stateSave": false,
            "bDestroy": true,
            buttons: [
                //{ extend: 'print', className: 'btn default' },
                //{ extend: 'pdf', className: 'btn default' },
                //{ extend: 'csv', className: 'btn default' }
            ],
            responsive: true,
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "pageLength": 10,
            'iDisplayLength': 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            "sAjaxSource": WebsiteURL + "/HTR/FurnaseSupervisor/LoadHTRLineGridData",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "type", "value": "sdf" },
                            { "name": "CTQHeaderId", "value": $("#txtHeaderId").val() }
                            //{ "name": "UserTypeId", "value": $('#ddlUserTypeList').val()}
                            );
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': function (data) {
                        if (data.iTotalRecords > 0) {
                            if ('@Model.Status' == 'Sent for Approval') {
                                $("#btnSendForApproval").hide();
                            }
                            else {
                                $("#btnSendForApproval").show();
                            }
                        }
                        else {
                            $("#btnSendForApproval").hide();
                        }
                        fnCallback(data);
                    },
                    'async': false
                });
            },
            "columns": [


                {
                    "sClass": "center",
                    "bSortable": false,
                },
                {
                    //    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    //    "bSortable": false,
                    "sClass": "hide"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center",
                    "name": "SeamNo"
                },

                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "PartNo"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "HeatNo"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "DrawingNo"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "DrawingRev"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "HTPReference"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "PTCMTCPQR"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "Description"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "MaterialSpec"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "SizeThickness"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "Quantity"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "TotalWeight"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "InspectionAgency"

                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "MaterialFrom"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "MaterialTo"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "ICSBy"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "ProjectNumber"
                },
                {
                    //    "bSortable": false,
                    "sClass": "center", "name": "RevNo"
                },
            ]
        });
        table.dtSearchFilter();

        if('@Model.Status' == '@clsImplementationEnum.HTRStatus.Release.GetStringValue()')
        {
            $("#btnPrintNew").show();
        }
        //nonEditable
        $('div.nonEditable :input').attr('disabled', true);
        if ('@ViewBag.Access'.toLowerCase() == "noaccess" || '@Model.Status' != '@clsImplementationEnum.HTRStatus.WithFurnaceSupervisor.GetStringValue()') {
            $('div.fdControls :input').attr('disabled', true);
            $('div.dvattachment :input').attr('disabled', true);
        }
        else
        {

            $('div.fdControls :input').attr('disabled', false);
            $('div.dvattachment :input').attr('disabled', true);
        }

        //$("#LinkedProject").attr("disabled", true);
    });

    function PrintReport()
    {
        bootbox.dialog({
            title: 'Heat Treatment Request Detail',
            message: "Do You Want To Print Report?",
            buttons: {
                'confirm': {
                    label: 'Print',
                    className: 'btn green',
                    callback: function () {
                        var url = "";
                        url = "/HTR/HTRReport";
                        var dat = [];
                        dat.push({ Param: "headerID", Value: '@Model.HeaderId' });
                        ShowReport(dat, url,true);
                    }
                },
                'cancel': {
                    label: 'Close',
                    className: 'btn btnclose'
                }
            }
        });
    }

    function GetHTRLinesViewForm(HeaderId, LineId, IsFromApproved) {
        $.ajax({
            type: "POST",
            url: WebsiteURL + "/HTR/Review/GetHTRLinesViewForm",
            datatype: 'html',
            beforeSend: function () {
                showLoading(true);
            },
            complete: function () {
                showLoading(false);
            },
            async: false,
            data: { HeaderId: HeaderId, LineId: LineId ,project:'@ViewBag.Project'},
            success: function (result) {

                bootbox.dialog({
                    title: 'View HTR Components Details',
                    message: result,
                    size: 'large',
                    buttons: {
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn green'
                        }
                    }
                });
            },
            error: function () {
            }
        });
    }
    function GetAllIdenticalProjects(ProjectCode) {
        $.ajax({
            url: WebsiteURL + "/HTR/Maintain/GetAllIdenticalProjects",
            dataType: "json",
            type: "POST",
            data: {
                param: ProjectCode,
                Location: $('#txtLocation').val(),
            },
            success: function (data) {
                $('#IdenticalProject').select2();
                var option = "";
                $.each(data.listidenticalProject, function (index, object) {
                    option += "<option value='" + object + "'>" + object + "</option>";
                });
                $('#IdenticalProject').html(option);
                $('#IdenticalProject').select2();
                debugger
                if (IdenticalProjects != null) {
                    $('#IdenticalProject').val(IdenticalProjects.split(',')).trigger("change");
                }

            }
        });
    }
    function LoadSelect2OnEdit(strPosition) {
        var arrPositions;
        if (strPosition.length > 0) {
            arrPositions = strPosition.split(',');
        }
        return arrPositions;
    }

     //File Upload Start
    function Load_File_Uploads() {
        debugger
        var vTableId = 0;
        @*if (parseInt('@Model.HeaderId') > 0) {
            vTableId = '@Model.HeaderId';
        }*@
        //vTableId = $("#HTRNo").val().replaceAll("/","");
        var IsDisable = false;
        if($("#spnStatus").text() !='@clsImplementationEnum.CommonStatus.DRAFT.GetStringValue()'){
            IsDisable = true;
        }
        vTableId = $("#txtHeaderId").val();// $("#HTRNo").val().substr(4, $("#HTRNo").val().length).replace("/", "");

        var objFile = {
            TableName: 'HTR001',
            TableId: vTableId,
            Path: '//HTR001//' + vTableId + '//1',// + $("#txtRevNo").val(),
            ControlID: '@(AttachDoc.ToString())',
            IsMultipleUploaded: true,
            ShowDeleteAction: true,
            ShowDownloadBtn: true,
            RemoveOnlyCreatedByMe: true,
            SuccessCallbackFunction: "callbackfuntion()",
            IsRequired: false,
            ViewerId: 1,
            IsDisabled: IsDisable
        };

        Load_File_Upload_Partial_View(objFile, 'divUploadDoc', false);
    }

    function callbackfuntion() {
        debugger

        if(message == "@clsImplementationMessage.CommonMessages.Insert")
        {

            //SetValues();
        }

        if(IsPromoted)
        {
            message = "";
            //SubmitHeader();
        }
        IsPromoted = false; message = "";
    }

</script>