﻿@model IEMQSImplementation.PRO085
@using IEMQSImplementation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="portlet light ">
        <div class="portlet-body">
            <!-- BEGIN FORM-->
            <div class="form-body">
                <div class="mt-element-ribbon bg-grey-steel" style="height:55px;margin-bottom:10px !important;">
                    <div class="ribbon ribbon-left" style="background-color:transparent !important;">
                        <span class="page-title">@ViewBag.Title.ToString()</span>
                    </div>
                    <div class="ribbon ribbon-right ribbon-color-warning" style="display: none">
                    </div>
                </div>


                <div id="dvProtocolHeader" style="padding:1%">
                    <form id="frmProtocolHeader" class="form-horizontal">
                        <div class="form-group">
                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    @Html.HiddenFor(m => m.HeaderId)
                                    <label class="control-label">Protocol Number<span class="required"> * </span></label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ProtocolNo, new { @class = "form-control col-md-3", @maxLength = "50", @role = "QC" })
                                    </div>
                                </div>



                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-7" style="text-align:center;">
                                    <img src="~/Images/Protocol018_img.png" />
                                </div>
                                <div class="col-md-5">
                                    <span class="spnClass">IDENTIFICATION DETAILS OF CLEATS:</span>@Html.TextAreaFor(m => m.IdentificationDetails, new { @style = "width:100% !important;", @class = "form-control col-md-12", @maxLength = "300", @role = "PROD" })

                                </div>

                                <div class="col-md-12" style="height: 20px"></div>
                                <div class="col-md-12">
                                    <div class="portlet box green inlineparentdiv" id="divLine1">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span style="float:left; margin-top: 7px;">
                                                    <strong></strong>
                                                </span>
                                            </div>


                                            <div class="tools" id="dvExportSubLines">
                                                <div class="btn-group">

                                                    @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
                                                    {
                                                        <a style="margin-right:5px;" id="btnNewLines1" class="btn btn-circle white btn-outline btn-sm" onclick="ShowNewLineRecord(this, 'tblProtocolLines1');">
                                                            <i class="fa fa-plus"></i> New
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                        <div class="portlet-body">
                                            <table id="tblProtocolLines1" class="table table-striped table-bordered table-hover dt-responsive" cellspacing="0" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="min-phone-l" style="display:none;">GridId</th>
                                                        <th class="min-phone-l" style="display:none;">HeaderId</th>
                                                        <th class="min-phone-l" style="display:none;">LineId</th>
                                                        <th class="all">CLEAT NO.</th>
                                                        <th class="all">SIZE WELDED ON PARENT METAL(L X W)</th>
                                                        <th class="all">O/S OR I/S</th>
                                                        <th class="all">ELEVATION</th>
                                                        <th class="all">ORIENTATION</th>
                                                        <th class="all">MT/PT AFTER REMOVAL(BEFORE PWHT)</th>
                                                        <th class="all">MT/PT AFTER PWHT</th>
                                                        <th class="all">REMARKS</th>
                                                        <th class="all">ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:left;">
                                </div>
                                <div class="col-md-6" style="text-align:right;">
                                    <input type="button" class="btn save" id="btnSave" value="Save" />
                                    <a class="btn btnclose" id="btnClose"> Close</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/ThemeScripts/jquery-validate.bootstrap-tooltip.js"></script>
<link href="~/Content/ThemeCss/Css/components.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.min.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/Datatable/datatables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/ThemeCss/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatable.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.min.js"></script>
<script src="~/Scripts/ThemeScripts/Datatable/datatables.bootstrap.js"></script>
<script src="~/Scripts/ThemeScripts/Plugins/bootstrap-confirmation/bootstrap-confirmation.min.js"></script>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
@*<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>*@

<script type="text/javascript" src="~/Scripts/protocols.js"></script>
<script>
    var Line1Columns = [];
    var ControllerURL = '@ViewBag.ControllerURL.ToString()';
    var userRole = '@ViewBag.UserRole.ToString()';
    var Linkage = "";
    var isEdit = '@ViewBag.isEditable';
    $(document).ready(function () {
        SetTableColumns();
        $("#frmProtocolHeader").validate({
            rules: {
                ProtocolNo: {
                    required: true
                }
            },
            messages: {
                ProtocolNo: {
                    required: "Protocol No is required"
                },
            }
        });
        // SetControlNumeric();
        SetAccessControlForRole(userRole);
        SetEditableDetails(isEdit);
        parameterList.push({ id: "headerId", value: $('#HeaderId').val() });

        LoadProtocolLineTables('tblProtocolLines1', 'btnNewLines1', Line1Columns, ControllerURL + "GetProtocolLines1Data" + Linkage, ["headerId"])
    });

    $("#btnSave").click(function () {
          @if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.PROD3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="PROD"]').prop("required", true);</text>
          }else //if (string.Equals(ViewBag.UserRole.ToString(), clsImplementationEnum.UserRoleName.QC3.GetStringValue(), StringComparison.OrdinalIgnoreCase))
          {
              <text>$('[role="QC"]').prop("required", true);</text>
          }
        SaveProtocolHeaderData("frmProtocolHeader", $('#HeaderId').val(), ControllerURL + "SaveProtocolHeaderData" + Linkage, userRole);
    });

    $("#btnClose").click(function () {
        DeleteProtocolHeaderData($('#HeaderId').val(), ControllerURL + "DeleteProtocolHeaderData" + Linkage);
        window.location.href = WebsiteURL + '/IPI/Protocols/MaintainProtocol';
    });

    function SaveProtocolLine1(lineId) {
        var formdata = new FormData();
        formdata.append("HeaderId", $('#HeaderId').val());
        formdata.append("LineId", lineId);
        SaveProtocolLineData(formdata, ControllerURL + "SaveProtocolLine1" + Linkage, "tblProtocolLines1", "btnNewLines1");
    }

    function UpdateProtocolLine(lineId, gridId) {
        var SaveFunction = "SaveProtocolLine" + gridId;
        window[SaveFunction](lineId);
    }

    function SetTableColumns() {
        Line1Columns = [
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "hide",
                    "bSortable": false,
                },
                {
                    "sClass": "center",
                    "name": "CleatNo",
                },
                {
                    "sClass": "center",
                    "name": "SizeWeldedOnPerentMetal",
                },
                {
                    "sClass": "center",
                    "name": "OSOrIS",
                },
                {
                    "sClass": "center",
                    "name": "Elevation",
                },
                {
                    "sClass": "center",
                    "name": "Orientation",
                },
                {
                    "sClass": "center",
                    "name": "MtPtAfterRemoval",
                },
                {
                    "sClass": "center",
                    "name": "MtPtAfterPwht",
                },
                {
                    "sClass": "center",
                    "name": "Remarks",
                },

                {
                    "bSortable": false,
                    "sClass": "center",
                    "sWidth": "10%",
                },
        ];
    }
</script>
