﻿@model IEMQSImplementation.WQR005

<link href="~/Content/DateTimePicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<div class="form-group" style="width:100%">
    <div class="col-md-12">
        <form id="frmtab1" class="form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>WQT Details</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">	Location	</label>
                                @*<input type="text" value='@ViewBag.Location' class="form-control col-md-3" readonly />*@
                                <input type="text" id="txtLocation" name="txtLocation" placeholder="Select" class="form-control col-md-3" />
                                @Html.HiddenFor(m => m.Location)
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.WeldingType)
                                @Html.HiddenFor(m => m.WelderName)
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">	WQT No	<span class="required">*</span></label>
                                @Html.TextBoxFor(m => m.WQTNo, new { @class = "form-control col-md-3", @maxLength = "10" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">	Welder Name	<span class="required">*</span></label>
                                <input type="text" id="txtWelderName" name="txtWelderName" placeholder="Select" class="form-control col-md-3" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Welder Stamp No	<span class="required">*</span></label>
                                @Html.TextBoxFor(m => m.WelderStampNo, new { @class = "form-control col-md-3", @maxLength = "6" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">Welding Type	<span class="required">*</span></label>
                                <input type="text" id="txtWeldingType" name="txtWeldingType" placeholder="Select" class="form-control col-md-3" />
                            </div>

                            <div class="col-md-3">
                                <label class="control-label">Date of Welding<span class="required">*</span>	</label>
                                <div id="datetime1" class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                    @Html.TextBoxFor(m => m.DateOfWelding, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                    <span class="input-group-btn">
                                        <button class="btn default" id="btncal1" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>Test Description</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">	WPS No	<span class="required">*</span></label>
                                @Html.TextBoxFor(m => m.WPSNo, new { @class = "form-control col-md-3", @maxLength = "25" })
                            </div>

                            <div class="col-md-3">
                                <label class="control-label">	Type of Test Coupon<span class="required">*</span>	</label>
                                <input type="text" id="txtTypeOfTestCoupon" name="txtTypeOfTestCoupon" placeholder="Select" class="form-control col-md-3" />
                                @Html.HiddenFor(m => m.TypeOfTestCoupon, new { @class = "form-control col-md-3" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">	Joint Type	<span class="required">*</span></label>
                                <input type="text" id="txtJointType" name="txtJointType" placeholder="Select" class="form-control col-md-3" />
                                @Html.HiddenFor(m => m.JointType, new { @class = "form-control col-md-3" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label">	Specification & Type/Grade<span class="required">*</span>		</label>
                                @Html.TextBoxFor(m => m.SpecificationTypeGrade, new { @class = "form-control col-md-3", @maxlength = "100" })
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">	&nbsp;</label>
                                <div class="">
                                    <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.TestCoupon)<span></span></label>
                                    <label class="control-label" for="TestCoupon">	Test Coupon </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">	&nbsp;</label>
                                <div class="">
                                    <label class="mt-checkbox mt-checkbox-outline">  @Html.CheckBoxFor(m => m.ProductionWeld)<span></span></label>
                                    <label class="control-label" for="ProductionWeld">	Production Weld	</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <label class="control-label">Position<span class="required">*</span></label>
                                <input type="text" placeholder="Select" id="txtPosition" name="txtPosition" class="form-control col-md-3" maxlength="40" />
                                @Html.HiddenFor(m => m.Position)
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Thickness (mm)<span class="required">*</span></label>
                                @Html.TextBoxFor(m => m.ThicknessMm, new { @class = "form-control col-md-3 numeric", @maxlength = "5" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        Initiator Details
                    </legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label class="control-label">	Initiator Name </label>
                                <div class="">
                                    <input type="text" id="txtMaintainedBy" name="txtMaintainedBy" class="form-control col-md-3" readonly />
                                    @Html.HiddenFor(m => m.MaintainedBy)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">	Initiator Date	</label>
                                <div class="">
                                    @Html.TextBoxFor(m => m.MaintainedOn, "{0:dd/MM/yyyy}", new { @class = "form-control col-md-3", @readonly = "readonly", @id = "initiatedDate" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {

        var IsDisplayOnly = '@ViewBag.IsDisplayOnly.ToString().ToLower()' == "true" ? true : false;
        if (IsDisplayOnly) {
            $(".form-group *").prop('disabled', true);
        }

        $('input[maxlength]').maxlength({
            alwaysShow: true,
        });

        $('#datetime1').datepicker({
            orientation: "bottom auto",
            autoclose: true
        });
    });

    if (parseInt('@Model.Id') > 0) {
        $("#txtLocation,#hdLocation").val('@ViewBag.txtLocation');
        $("#txtLocation").attr('disabled', true);
    } else {
        $("#TestCoupon").attr("checked", true);
    }
    //autocomplete
    var lstJoinType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.JointTypeWQ))));
    FillLocationAutoComplete($("#txtJointType"), lstJoinType, $("#JointType"),  $("#hdJointtype"));

    var lstPosition = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.Position))));
    FillWQAutoComplete($("#txtPosition"), lstPosition, $("#Position"), false);

    var lstLocations = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.lstLocation))));
    FillLocationAutoComplete($("#txtLocation"), lstLocations, $("#Location"), $("#hdLocation"));

    var lstCoupanType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.CoupanType))));
    FillWQAutoComplete($("#txtTypeOfTestCoupon"), lstCoupanType, $("#TypeOfTestCoupon"), false);

    var lstWeldType = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WeldType))));
    FillWQAutoComplete($("#txtWeldingType"), lstWeldType, $("#WeldingType"), false);

    @*var lstWPSNo = JSON.parse(JSON.stringify(@Html.Raw(Json.Encode(ViewBag.WPSNo))));
    FillWQAutoComplete($("#WPSNo"), lstWPSNo, "", false);*@

    var strJoinType = '@ViewBag.JoinType';
    $("#txtJointType").val(strJoinType);
    $("#hdJointtype").val(strJoinType);
    var strTypeOfTestCoupon = '@ViewBag.TypeOfTestCoupon';
    $("#txtTypeOfTestCoupon").val(strTypeOfTestCoupon);

    var strWeldingType = '@ViewBag.WeldingType';
    $("#txtWeldingType").val(strWeldingType);

    var strPosition = '@ViewBag.PositionActual';
    $("#txtPosition").val(strPosition);

    var strWelderName = '@ViewBag.WelderName';
    $("#txtWelderName").val(strWelderName);

    var strMaintainedBy = '@ViewBag.MaintainedBy';
    $("#txtMaintainedBy").val(strMaintainedBy);

    $("#txtWelderName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: WebsiteURL + "/Utility/General/GetIntExtWelderDetail",
                dataType: "json",
                type: "POST",
                delay: 250,
                async: false,
                data: {
                    term: request.term,
                    location: $("#Location").val()
                },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name, id: item.Code };
                    }));
                    if (data.length > 0) {
                        isSelected = true;
                    }
                    else {
                        isSelected = false;
                    }
                }
            });
        },
        minLength: 0,
        autoFocus: true,
        change: function (event, ui) {
            if (ui.item === null) {
                $(this).val('');
                $("#WelderName").val('');
            }
        },
        select: function (event, ui) {
            if (ui.item) {

                isSelected = true;
                $("#WelderName").val(ui.item.id);
            }
        },
    }).on('focus', function (event) {
        var self = this;
        $(self).autocomplete("search", this.value);
    });
    //

    if ('@Model.WQTNo' == "") {
        $("#WQTNo").prop("readonly", false);
        $('#dvWQTNo').hide()
    }
    else {
        $("#WQTNo").prop("readonly", true);
        $('#dvWQTNo').show();
        $('#spnWQTNo').text('@Model.WQTNo');
        $('#spnMaintainedOn').text($('#initiatedDate').val());
    }

    $("#WQTNo").change(function () {
        var WQT = $("#WQTNo").val();
        $.ajax({
            url: WebsiteURL + "/WQ/WPQCertificate/IsWQTNoExists",
            data: { wqtNo: WQT ,location: $("#Location").val()},
            type: 'POST',
            success: function (res) {
                if (res.Key) {
                    DisplayNotiMessage("info", "Record Already Exists", "Info");
                    $("#WQTNo").val('');
                    $("#dvWQTNo").hide();
                }
                else {
                    $("#dvWQTNo").show();
                    $('#spnWQTNo').text(WQT);
                    $('#spnMaintainedOn').text($('#initiatedDate').val());
                }
            }
        });
    })

    //if ($("#WQTNo").val() != "") {

    //}
    //else { $('#dvWQTNo').hide() }

    if ('@ViewBag.Data'.toLowerCase() == "disable") {
        $("#WQTNo").prop("readonly", true);
        $("#txtWelderName").prop("disabled", true);
        $("#WelderStampNo").prop("readonly", true);
        $("#txtTypeOfTestCoupon").prop("disabled", true);
        $("#txtWeldingType").prop("disabled", true);
    }
    $('#frmtab1').validate({
        rules: {
            txtLocation: { required: true, },
            Location: {
                required: true,
            },
            WQTNo: {
                required: true,
            },
            txtWelderName: {
                required: true,
            },
            WelderStampNo: {
                required: true,
            },
            DateOfWelding: {
                required: true,
            },
            txtTypeOfTestCoupon: {
                required: true,
            },
            SpecificationTypeGrade: {
                required: true,
            },
            txtPosition: {
                required: true,
            },
            ThicknessMm: {
                required: true,
            },
            WPSNo: {
                required: true,
            },
            JointType: { required: true }
        },
        messages: {
            Location: {
                required: "Location Is Required",
            },
            WQTNo: {
                required: "WQTNo Is Required",
            },
            txtWelderName: {
                required: "Welder Name Is Required",
            },
            WelderStampNo: {
                required: "Welder Stamp No Is Required",
            },
            DateOfWelding: {
                required: "Date Of Welding Is Required",
            },
            WPSNo: {
                required: "WPSNo Is Required",
            },
            txtTypeOfTestCoupon: {
                required: "Type Of Test Coupon Is Required",
            },
            SpecificationTypeGrade: {
                required: "Specification & Type/Grade Is Required",
            },
            txtPosition: {
                required: "Position Is Required",
            },
            ThicknessMm: {
                required: "Thickness(Mm) Is Required",
            },
            JointType: { required: "Joint Type Is Required", }
        }
    });
    jQuery(function ($) {
        $('.numeric').autoNumeric('init', { aPad: "fase", vMax: "10000", aForm: "false" });
    });
</script>

<script src="~/Scripts/DatetimePicker/moment.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/DatetimePicker/components-date-time-pickers.min.js"></script>
