﻿

<script>
    $(document).ready(function () {
        $("#frmCopyQCP").validate({
            rules: {
                ddlDestProject: {
                    required: true
                }
            },
            messages: {
                ddlDestProject: {
                    required: "Destination Project Is Required"
                }
            }
        })

        $("#frmCopyQCP #txtAllProject").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: WebsiteURL + "/Utility/General/GetProjectResult",
                    dataType: "json",
                    type: "POST",
                    delay: 250,
                    async: false,
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.projectDescription, value: item.projectDescription };
                        }));
                        if (data.length > 0) {
                            isSelected = true;
                        }
                        else {
                            isSelected = false;
                        }
                    }
                });
            },
            minLength: 1,
            autoFocus: true,
            change: function (event, ui) {
                if (ui.item === null) {
                    $(this).val('');
                    ClearAll();
                }
            },
            select: function (event, ui) {
                if (ui.item) {
                    isSelected = true;
                    var strProjectDesc = ui.item.value;
                    var spltProjectDesc = strProjectDesc.split("-");
                    var projectcode = spltProjectDesc[0].trim();
                    $("#ddlDestProject").val(projectcode);
                }
            },
        });

        $("#txtAllProject").blur(function () {
            if (!isSelected) {
                $("#txtAllProject").val("");
            }
        });
    });
</script>


<div class="portlet light ">
    <!-- BEGIN FORM-->
    <form id="frmCopyQCP" class="form-horizontal">
        <div class="col-md-12">
            <label class="control-label col-md-4">Destination Project</label>
            <div class="col-md-8">
                @*@Html.DropDownList("ddlDestProject", (SelectList)ViewBag.Project, "--Select Project--", new { @class = "form-control col-md-3" })*@
                <input type="text" id="txtAllProject" value="" name="txtAllProject" class="form-control col-md-3" />
                @Html.Hidden("ddlDestProject")
            </div>
        </div>
    </form>
    <!-- END PAGE BASE CONTENT -->
</div>

