﻿@model IEMQS.DESCore.PartGroupModel

@{

    int NoTask = 0;
    if (TempData["NoTask"] != null)
    {
        NoTask = int.Parse(TempData["NoTask"].ToString());
    }

}
@if (Model.CopyPartGroupList != null && Model.CopyPartGroupList.Count() > 0)
{
    var count = Model.CopyPartGroupList.Count();
    for (int i = 0; i < count; i++)
    {
        NoTask = i;
        <tr data-id="@NoTask" id="tr_@NoTask">

            <td>
                @*<label class="col-form-label bg-secondary">Project <span class="m--font-danger">*</span></label>*@
                @Html.DropDownListFor(x => x.CopyPartGroupList[NoTask].ProjectId, Model.CopyPartGroupList[NoTask].ProjectList, "Select", new { @class = "form-control m-input select-project" })
                @Html.ValidationMessageFor(x => x.CopyPartGroupList[NoTask].ProjectId, "", new { @class = "text-danger" })
            </td>
            <td>
                @*<label class=" col-form-label bg-secondary">Manufacture Item <span class="m--font-danger">*</span></label>*@
                @Html.DropDownListFor(x => x.CopyPartGroupList[NoTask].ManufactureItemId, new List<SelectListItem> { }, "Select", new { @class = "form-control m-input select-manufactureitem" })
                @Html.ValidationMessageFor(x => x.CopyPartGroupList[NoTask].ManufactureItemId, "", new { @class = "text-danger" })
            </td>
            <td>
                @*@Html.HiddenFor(x => x.CopyPartGroupList[NoTask].DINGroupDeptId)
                    @Html.HiddenFor(x => x.CopyPartGroupList[NoTask].DINGroupId)
                    @Html.HiddenFor(x => x.CopyPartGroupList[NoTask].IsDelete)*@
                <center class="btnAction">
                    @if (i == count - 1)
                    {
                        <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" add-id="@NoTask" title="Add" onclick="AddCopyPart(@NoTask);" id="Add_@NoTask"><i class="fa fa-plus"></i> Add </a>
                        <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill " delete-id="@NoTask" title="Delete" onclick="RemoveCopyPart(this);" style="display:none;" id="del_@NoTask"><i class="la la-trash-o"></i></a>
                    }
                    else
                    {
                        <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" add-id="@NoTask" title="Add" onclick="AddCopyPart(@NoTask);" id="Add_@NoTask" style="display:none;"><i class="fa fa-plus"></i> Add </a>
                        <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill " delete-id="@NoTask" title="Delete" onclick="RemoveCopyPart(this);" style="" id="del_@NoTask"><i class="la la-trash-o"></i></a>
                    }
                </center>
            </td>
        </tr>
    }
}
else
{
    <tr data-id="@NoTask" id="tr_@NoTask">
        <td>
            @*<label class="col-form-label bg-secondary">Project <span class="m--font-danger">*</span></label>*@
            @Html.DropDownListFor(x => x.CopyPartGroupList[NoTask].ProjectId, ViewBag.ProjectList as SelectList, "Select", new { @class = "form-control m-input select-project" })
            @Html.ValidationMessageFor(x => x.CopyPartGroupList[NoTask].ProjectId, "", new { @class = "text-danger" })
        </td>
        <td>
            @*<label class="col-form-label bg-secondary">Manufacture Item <span class="m--font-danger">*</span></label>*@
            @Html.DropDownListFor(x => x.CopyPartGroupList[NoTask].ManufactureItemId, new List<SelectListItem> { }, "Select", new { @class = "form-control m-input select-manufactureitem" })
            @Html.ValidationMessageFor(x => x.CopyPartGroupList[NoTask].ManufactureItemId, "", new { @class = "text-danger" })
        </td>
        <td>
            @*@Html.HiddenFor(x => x.CopyPartGroupList[NoTask].DINGroupDeptId)
                @Html.HiddenFor(x => x.CopyPartGroupList[NoTask].DINGroupId)
                @Html.HiddenFor(x => x.CopyPartGroupList[NoTask].IsDelete)*@
            <center class="btnAction">
                <a href="javascript:;" class="btn m-btn btn-success m-btn--pill m-btn--center btn-sm special-add-btn" add-id="@NoTask" title="Add" onclick="AddCopyPart(@NoTask)" id="Add_@NoTask"><i class="fa fa-plus"></i> Add </a>
                <a href="javascript:;" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" delete-id="@NoTask" title="Delete" onclick="RemoveCopyPart(this)" style="display:none;" id="del_@NoTask"><i class="la la-trash-o"></i></a>
            </center>
        </td>
    </tr>
}


<script>
    $(document).ready(function () {
      
        setTimeout(function () {
            $(".select-project").select2({ placeholder: "Select" });
            $(".select-manufactureitem").select2({ placeholder: "-----Select-----" });
        }, 1000);
    });

    $(".select-project").change(function () {
        debugger
        var id = $(this).closest('tr').attr('data-id');
        var Project = $('#CopyPartGroupList_' + id + '__ProjectId').val();
        if (Project) {
            mApp.blockPage();
            $.ajax({
                type: "POST",
                url: "/DES/Part/GetManufacturingItembyProject",
                data: { "Project": Project, "ManufacturingItem": Project },
                datatype: "json",
                async: true,
                success: function (data) {

                    mApp.unblockPage();
                    $("#CopyPartGroupList_" + id + "__ManufactureItemId").html("");
                    $("#CopyPartGroupList_" + id + "__ManufactureItemId").append("<option value=''>Select</option>");
                    $.each(data, function (key, entry) {


                        $("#CopyPartGroupList_" + id + "__ManufactureItemId").append($('<option></option>').attr('value', entry.ItemId).text(entry.ItemKey));


                    });
                },
                error: function () {
                    mApp.unblockPage();
                    toastr.error("something went wrong try again later", "error");
                    $("#CopyPartGroupList_" + id + "__ManufactureItemId").html("");
                }
            });
        }
        else {
            $("#CopyPartGroupList_" + id + "__ManufactureItemId").html("");
            $("#CopyPartGroupList_" + id + "__ManufactureItemId").append($('<option></option>').text('Select'));
        }
    });
</script>

