﻿@{
    string MaterialId = "", Material = "", ProductFormCodeId = "";
    if (TempData["MaterialId"] != null)
    {
        MaterialId = TempData["MaterialId"].ToString();
    }
    if (TempData["Material"] != null)
    {
        Material = TempData["Material"].ToString();
    }
    if (TempData["ProductFormCodeId"] != null)
    {
        ProductFormCodeId = TempData["ProductFormCodeId"].ToString();
    }
}

<div class="modal-body">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <div class="form-group m-form__group row">
                <label class="col-3 col-form-label">Search : </label>
                <div class="col-9 pl-0">
                    @Html.TextBox("txtSearchMaterial", null, new { Id = "txtsearchmateiral", @class = "form-control col-md-8", @Value = Material })
                </div>
            </div>
        </div>
        @Html.Hidden("MaterialSelectId", "", new { @Value = MaterialId })
        @Html.Hidden("txtsearchProductFormId", "", new { @Value = ProductFormCodeId })
    </div>

    <div class="col-sm-12">
        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
            <table class="table table-hovered table-bordered table--head-bg-secondary" id="tblAllMaterial"></table>
        </div>
    </div>

    @*<div class="col-sm-12">
        <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
            <table class="table table-hovered table-bordered table--head-bg-secondary" id="tblAllMaterial"></table>
        </div>
    </div>*@
</div>


<script src="~/DESAssets/js/All_Material.js"></script>
@*<script src="~/DESAssets/js/Material.js"></script>*@

<script>
    $("#txtsearchmateiral").keyup(function () {
        tblAllMaterial.ajax.reload();
    });
</script>
