﻿@model IEMQS.DESCore.PartColumnModel
@using IEMQS.Areas.DES.Models
@{
    ViewBag.Title = "Part";
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}

<div class="m-portlet ">

    <div class="m-portlet__body" style="min-height: 700px;">

        <div class="m-form m-form--label-align-right m--margin-bottom-20">
            <div class="row align-items-center">
                <div class="col order-2 order-xl-1">

                    @Html.HiddenFor(x => x.Project)
                </div>
                <div class="col-auto order-1 order-xl-2 ">


                    <div class="d-flex justify-content-ends" id="filtercolumn">
                        @*<div class="m-dropdown m-dropdown--inline  m-dropdown--arrow m-dropdown--align-right" m-dropdown-toggle="hover">
                                <a href="#" class="m-dropdown__toggle btn btn-secondary dropdown-toggle">
                                    Filter Column
                                </a>
                                <div class="m-dropdown__wrapper" style="width:500px">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            @using (Html.BeginForm("SaveColumnUserwise", "Part", FormMethod.Post, new { }))
                                            {
                                                <div class="m-dropdown__content">
                                                    <ul class="list-unstyled d-flex">
                                                        <li class="col">
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ItemState, new { @name = "FilterColumn", @class = "filter-column", data_column = "5" }) State
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.RevNo, new { @name = "FilterColumn", @class = "filter-column", data_column = "6" }) Rev
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.FindNumber, new { @name = "FilterColumn", @class = "filter-column", data_column = "7" })Find Number
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ReExtFindNumbervNo, new { @name = "FilterColumn", @class = "filter-column", data_column = "8" }) Ext Find Number No
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.FindNumberDescription, new { @name = "FilterColumn", @class = "filter-column", data_column = "9" }) Find Number Description
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ARMSet, new { @name = "FilterColumn", @class = "filter-column", data_column = "10" }) ARM Set
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ARMRev, new { @name = "FilterColumn", @class = "filter-column", data_column = "11" })ARM Rev
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.OrderPolicy, new { @name = "FilterColumn", @class = "filter-column", data_column = "12" }) Order Policy
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ProductForm, new { @name = "FilterColumn", @class = "filter-column", data_column = "13" }) Product Form
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Material, new { @name = "FilterColumn", @class = "filter-column", data_column = "14" }) Material
                                                                        <span></span>
                                                                    </label>
                                                                </li>

                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ItemGroup, new { @name = "FilterColumn", @class = "filter-column", data_column = "15" }) Item Group
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ItemName, new { @name = "FilterColumn", @class = "filter-column", data_column = "16" }) Item Name
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.String2, new { @name = "FilterColumn", @class = "filter-column", data_column = "17" }) String2
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.String3, new { @name = "FilterColumn", @class = "filter-column", data_column = "18" }) String3
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.String4, new { @name = "FilterColumn", @class = "filter-column", data_column = "19" }) String4

                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ProcurementDrgDocumentNo, new { @name = "FilterColumn", @class = "filter-column", data_column = "20" })Procurement Drg Doc No
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ItemWeight, new { @name = "FilterColumn", @class = "filter-column", data_column = "21" }) Item Weight
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.BOMWeight, new { @name = "FilterColumn", @class = "filter-column", data_column = "22" })  BOM Weight
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Thickness, new { @name = "FilterColumn", @class = "filter-column", data_column = "23" }) Thickness
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.CladPlatePartThickness1, new { @name = "FilterColumn", @class = "filter-column", data_column = "24" }) Clad Plate Part Thickness1
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.IsDoubleClad, new { @name = "FilterColumn", @class = "filter-column", data_column = "25" })  IsDoubleClad
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="col">
                                                            <ul class="list-unstyled">

                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.CladPlatePartThickness2, new { @name = "FilterColumn", @class = "filter-column", data_column = "26" }) Clad Plate Part Thickness2
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.CladSpecificGravity2, new { @name = "FilterColumn", @class = "filter-column", data_column = "27" }) CladSpecificGravity2
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.CRSYN, new { @name = "FilterColumn", @class = "filter-column", data_column = "28" }) CRS
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.JobQty, new { @name = "FilterColumn", @class = "filter-column", data_column = "29" })  Job Qty
                                                                        <span></span>
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.CommissioningSpareQty, new { @name = "FilterColumn", @class = "filter-column", data_column = "30" })  Commissioning Spare Qty
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.MandatorySpareQty, new { @name = "FilterColumn", @class = "filter-column", data_column = "31" })  Mandatory Spare Qty
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.ExtraQty, new { @name = "FilterColumn", @class = "filter-column", data_column = "32" }) Extra Qty
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Remarks, new { @name = "FilterColumn", @class = "filter-column", data_column = "33" })  Remarks
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Quantity, new { @name = "FilterColumn", @class = "filter-column", data_column = "34" })  Quantity
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Length, new { @name = "FilterColumn", @class = "filter-column", data_column = "35" })  Length
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Width, new { @name = "FilterColumn", @class = "filter-column", data_column = "36" }) Width
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.NumberOfPieces, new { @name = "FilterColumn", @class = "filter-column", data_column = "37" })  NumberOfPieces
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.BomReportSize, new { @name = "FilterColumn", @class = "filter-column", data_column = "38" }) Bom Report Size
                                                                        <span></span>
                                                                    </label>

                                                                </li>

                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.DrawingBomSize, new { @name = "FilterColumn", @class = "filter-column", data_column = "39" })  Drawing Bom Size
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.Createdbycolumn, new { @name = "FilterColumn", @class = "filter-column", data_column = "40" }) Created By
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.CreatedOncolumn, new { @name = "FilterColumn", @class = "filter-column", data_column = "41" }) Created On
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.editedbycolumn, new { @name = "FilterColumn", @class = "filter-column", data_column = "42" })  Edited By
                                                                        <span></span>
                                                                    </label>

                                                                </li>
                                                                <li>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        @Html.CheckBoxFor(model => model.EditedOncolumn, new { @name = "FilterColumn", @class = "filter-column", data_column = "43" })  Edited On
                                                                        <span></span>
                                                                    </label>

                                                                </li>

                                                            </ul>
                                                            <button type="submit" class="ml-3 btn btn-success pull-right">Apply</button>
                                                        </li>
                                                    </ul>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        @*@Html.ActionLink("Create XML", "Add", "Project", new { @class = "ml-3 btn btn-success" })*@
                    </div>


                </div>
            </div>
        </div>



        <ul class="nav nav-tabs  theme-nav" id="parttab" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_PartTabs_3_1" onclick="" role="tab">Parts</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " data-toggle="tab" href="#m_PartTabs_3_2" onclick="" role="tab">BOM Data</a>
            </li>
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_PartTabs_3_3" onclick="" role="tab">Parts/BOM Data</a>
            </li>
            @*<li style="margin-left: 68%;margin-top:10px;">
                    <a href="javascript:;" id="btnReport" class="btn m-btn btn-outline-metal m-btn--hover-danger pull-right mtm5 m-btn--icon m-btn--icon-only m-btn--pill" target="_blank"> <i class="la la-file-excel-o" title="Export To Excel"></i></a></h4>
                </li>*@
        </ul>
        <div class="tab-content p-0">
            <div class="tab-pane active" id="m_PartTabs_3_1" role="tabpanel">
                <div class="noScroll">
                    <table class="table  table-bordered table-hover " id="tblPartList"></table>
                </div>

                <div class="m-portlet__foot mt-4">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle"></div>
                        <div class="col-lg-6 m--align-right">
                            <input type="button" onclick="ClearCache()" class="ml-3 btn btn-danger" value="Clear cache" title="Clear cache of ARM set, Size code, and Material" />
                            <input id="btnReport" type="button" class="ml-3 btn btn-success" target="_blank" name="Create XML" value="Export to Excel" />
                        </div>
                    </div>
                </div>

            </div>
                <div class="tab-pane" id="m_PartTabs_3_2" role="tabpanel">
                    <table class="table table-bordered table-hover" id="tblBOMList"></table>
                    <div class="m-portlet__foot mt-4">
                        <div class="row align-items-center">
                            <div class="col-lg-6 m--valign-middle">

                            </div>
                            <div class="col-lg-6 m--align-right">
                                @{
                                    if (SessionMgtModel.ProjectFolderList.IsInprocess)
                                    {
                                        if (TempData["IsENGG"] != null && TempData["IsENGG"].ToString().ToLower() == "true" || TempData["IsPMG"] != null && TempData["IsPMG"].ToString().ToLower() == "true" || TempData["IsPLNG"] != null && TempData["IsPLNG"].ToString().ToLower() == "true")
                                        {
                                            <input id="CreateXML" type="button" class="ml-3 btn btn-success" name="Create XML" value="Push to LN" onclick="funCreateXMLFile()" />
                                        }
                                    }
                                }
                                <input id="btnBOMReport" type="button" class="ml-3 btn btn-success" target="_blank" name="Create BOM XML" value="Export to Excel" />
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_PartTabs_3_3" role="tabpanel">
                    <table class="table table-bordered table-hover" id="tblPartBOMList"></table>

                    <div class="m-portlet__foot mt-4">
                        <div class="row align-items-center">
                            <div class="col-lg-6 m--valign-middle"></div>
                            <div class="col-lg-6 m--align-right">
                                <input id="btnPartBOMReport" type="button" class="ml-3 btn btn-success" target="_blank" name="Create XML" value="Export to Excel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script>
    var IsInprocess = '@SessionMgtModel.ProjectFolderList.IsInprocess';

    $('#btnReport').click(function () {
        var dat = [];
        dat.push({ Param: "Project", Value: $('#Project').val()});
        ShowReport(dat, "/DES/Part Export Data", false, true, 'excel', $('#Project').val() +'-Part Export Data');
        });


        $('#btnBOMReport').click(function () {
            var dat = [];
            dat.push({ Param: "Project", Value: $('#Project').val() });
            ShowReport(dat, "/DES/BOM Export Data", false, true, 'excel', $('#Project').val() + '-BOM Export Data');
        });

        $('#btnPartBOMReport').click(function () {
            var dat = [];
            dat.push({ Param: "Project", Value: $('#Project').val() });
            ShowReport(dat, "/DES/PART - BOM Export Data", false, true, 'excel', $('#Project').val() + '-PART - BOM Export Data');
        });

        function ClearCache() {
            mApp.blockPage()
            $.ajax({
                type: "GET",
                url: "/DES/Part/ClearCache", //If get File Then Document Mapping Add
                data: {},
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                aysnc: true,
                success: function (response) {
                    mApp.unblockPage();
                    toastr.success("Cache clear successfully.", "Success");
                },
                error: function (response) {
                    mApp.unblockPage();
                }
            });

        }

    </script>
    <script src="~/DESAssets/js/actual-part.js"></script>
    <script src="~/Scripts/Main.js"></script>
