﻿
@model IEMQS.DESCore.PartModel
@{
    if (Model.ItemId > 0)
    {
        ViewBag.Title = "Update Part";
    }
    else
    {
        ViewBag.Title = "Create Part";
    }
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}
<style>
    .theme-form .input-group .select2-container {
        width: calc(100% - 50px) !important;
    }

    .theme-form .select2-container {
        width: 100% !important;
    }
</style>

<div class="m-portlet">
    <div class="m-portlet__body">
        <ul class="nav nav-tabs  theme-nav" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link " href="/DES/Part/Item">Create Parts</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " href="/DES/Part/BOM">Create BOM data</a>
            </li>
            <li class="nav-item m-tabs__item"  style="display:none">
                <a class="nav-link m-tabs__link active" href="javascript:;">Create Parts/BOM data</a>
            </li>
        </ul>
        <div class="tab-content p-0">
            <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">

                <div class="m-portlet m-portlet--mobile">

                    @using (Ajax.BeginForm("AddEdit", "Part", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funSuccess", OnBegin = "ajaxValidate" }, new { Area = "DES", @Id = "FormPart", @class = "m-form" }))
                    {
                        @Html.HiddenFor(m => m.ItemId)
                        @Html.HiddenFor(m => m.BOMModel.BOMId)
                        @Html.HiddenFor(x => x.Project)
                        @Html.HiddenFor(x => x.Contract)
                        @Html.HiddenFor(x => x.Department)
                        @Html.HiddenFor(x => x.RoleGroup)
                        @Html.HiddenFor(x => x.FolderId)
                        @Html.HiddenFor(x => x.ManufactureItem)
                        <div class="m-portlet__body">

                            <div class="theme-form">

                                <div class="m-accordion m-accordion--default m-accordion--toggle-arrow mr-3" id="m_accordion_5" role="tablist">

                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body" aria-expanded="false">

                                            <span class="m-accordion__item-title">Part Details</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body collapsed show" id="m_accordion_5_item_1_body" class="" role="tabpanel" aria-labelledby="m_accordion_5_item_1_head" data-parent="#m_accordion_5">
                                            <div class="m-accordion__item-content">
                                                <div class="theme-form">
                                                    <div class="row m-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Item Id Type <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.ItemKeyType, ViewBag.ItemKeyTypeList as SelectList, new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ItemKeyType, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Order Policy <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.OrderPolicy, ViewBag.OrderPolicyList as SelectList, new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.OrderPolicy, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">Product Form <span class="m--font-danger">*</span></label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.DropDownListFor(m => m.ProductFormCodeId, ViewBag.GetProductFormData as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.ProductFormCodeId, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Item Id <span class="m--font-danger">*</span> </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(model => model.ItemKey, new { @class = "form-control m-input  m-input--square blockSpecialChar", @maxlength = "47", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ItemKey, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Type <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.Type, ViewBag.ItemTypeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.Type, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Policy <span class="m--font-danger">*</span> </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.Policy, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                                    @Html.HiddenFor(m => m.PolicyId)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.Policy, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">
                                                                    Rev No
                                                                </label>
                                                                <div class="col-6 pl-0">
                                                                    <input type="text" value="R@(Model.RevNo)" class="form-control m-input  m-input--square" readonly="readonly" />
                                                                    @Html.HiddenFor(m => m.RevNo)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.RevNo, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">Material <span class="m--font-danger">*</span></label>
                                                                <div class="col-9 pl-0">
                                                                    <div class="input-group input-group-c">
                                                                        @Html.DropDownListFor(x => x.Material, ViewBag.MaterialList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllMaterial();"></i></a></span></div>
                                                                    </div> @*data-toggle="modal" data-target="#m_modal_1_2"*@
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.Material, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Item Group <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    <div class="input-group input-group-c">
                                                                        @Html.DropDownListFor(m => m.ItemGroup, ViewBag.ItemGroupList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllItemGrp();"></i></a></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ItemGroup, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Procurement Drg</label>
                                                                <div class="col-6 pl-0">

                                                                    @Html.DropDownListFor(m => m.ProcurementDrgDocumentId, ViewBag.ProcurementDRGNoList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ProcurementDrgDocumentId, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">	Item Description <span class="m--font-danger">*</span></label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control m-input  m-input--square", @maxlength = "30" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.ItemName, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">	String2 </label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.String2, new { @class = "form-control m-input  m-input--square", @maxlength = "50" })
                                                                    @Html.HiddenFor(m => m.HdnString2)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.String2, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">	String3 </label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.String3, new { @class = "form-control m-input  m-input--square", @maxlength = "50" })
                                                                    @Html.HiddenFor(m => m.HdnString3)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.String3, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">	String4 </label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.String4, new { @class = "form-control m-input  m-input--square", @maxlength = "50" })
                                                                    @Html.HiddenFor(m => m.HdnString4)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.String4, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">	ARM Set</label>
                                                                <div class="col-6 pl-0">
                                                                    <div class="input-group input-group-c">
                                                                        @Html.DropDownListFor(m => m.ARMSet, ViewBag.ARMSetList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                        <div class="input-group-append popoverARMSets"><span class="input-group-text" id="basic-addon2"><a rel="popover" id="popoverARMSet" href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllARMSet();"></i></a></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">	ARM Rev </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.ARMRev, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ARMRev, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Size Code</label>
                                                                <div class="col-6 pl-0">
                                                                    <div class="input-group input-group-c">
                                                                        @Html.DropDownListFor(m => m.SizeCode, ViewBag.GetSizeCodeData as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllSizeCode();"></i></a></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.SizeCode, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Thickness <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.Thickness, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.Thickness, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Clad PlatePart Thickness 1 <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.CladPlatePartThickness1, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.CladPlatePartThickness1, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Clad Specific Gravity 1 <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.CladSpecificGravity1, new { @class = "form-control m-input  m-input--square allownumericwithdecimal", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.CladSpecificGravity1, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">IsDoubleClad <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.IsDoubleClad, new List<SelectListItem> {
                                           new SelectListItem {Text="No",Value="No"},
                                           new SelectListItem {Text="Yes",Value="Yes" },
                                           }, new { @class = "form-control m-input  m-input--square" })

                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.IsDoubleClad, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Clad PlatePart Thickness 2 <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.CladPlatePartThickness2, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.CladPlatePartThickness2, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Clad Specific Gravity 2 <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.CladSpecificGravity2, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.CladSpecificGravity2, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Item Weight</label>
                                                                <div class="col-6 pl-0">
                                                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                                                        @Html.TextBoxFor(m => m.ItemWeight, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1">kg</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.ItemWeight, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">
                                                                    UOM
                                                                </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.UOM, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.UOM, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">
                                                                    CRS (Yes/No)
                                                                </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.CRSYN, new List<SelectListItem> {
                                           new SelectListItem {Text="No",Value="No"},
                                           new SelectListItem {Text="Yes",Value="Yes" },
                                           }, new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.CRSYN, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">
                                                                    Specific Gravity
                                                                </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.Density, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.Density, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">
                                                                    Weight Factor
                                                                </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.WeightFactor, new { @class = "form-control m-input  m-input--square", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.WeightFactor, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Item-->
                                </div>


                                <div class="m-accordion m-accordion--default m-accordion--toggle-arrow mr-3" id="m_accordion_6" role="tablist">

                                    <!--begin::Item-->
                                    <div class="m-accordion__item">
                                        <div class="m-accordion__item-head" srole="tab" id="m_accordion_6_item_1_head" data-toggle="collapse" href="#m_accordion_6_item_1_body" aria-expanded="false">

                                            <span class="m-accordion__item-title">BOM Details</span>
                                            <span class="m-accordion__item-mode"></span>
                                        </div>
                                        <div class="m-accordion__item-body collapsed show" id="m_accordion_6_item_1_body" class="" role="tabpanel" aria-labelledby="m_accordion_6_item_1_head" data-parent="#m_accordion_6">
                                            <div class="m-accordion__item-content">
                                                <div class="theme-form">
                                                    <div class="row m-0">
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">Parent Item <span class="m--font-danger">*</span></label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.DropDownListFor(m => m.BOMModel.ParentItemId, ViewBag.GetParentData as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })

                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.BOMModel.ParentItemId, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Action for P-C Relation <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.BOMModel.ActionForPCRelation, ViewBag.ActionForPCRelationList as SelectList, new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.ActionForPCRelation, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Drg No </label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.DropDownListFor(m => m.BOMModel.DRGNoDocumentId, ViewBag.DRGNoList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.DRGNoDocumentId, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>



                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Find No <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.FindNumber, new { @class = "form-control m-input  m-input--square onlyNumeric", @maxlength = "4" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.FindNumber, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Ext Find No (For Nuclear BU)</label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.ExtFindNumber, new { @class = "form-control m-input  m-input--square", @maxlength = "20" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.ExtFindNumber, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary"> Find No Desc </label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.FindNumberDescription, new { @class = "form-control m-input  m-input--square", @maxlength = "100" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.BOMModel.FindNumberDescription, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>




                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Job Qty</label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.JobQty, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.JobQty, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Commissioning Spare Qty</label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.CommissioningSpareQty, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.CommissioningSpareQty, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Mandatory Spare Qty</label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.MandatorySpareQty, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.MandatorySpareQty, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Operation Spare Qty</label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.OperationSpareQty, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.OperationSpareQty, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Extra Qty</label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.ExtraQty, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.ExtraQty, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Quantity <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.Quantity, new { @class = "form-control m-input  m-input--square allownumericwithdecimal", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.Quantity, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Length <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                                                        @Html.TextBoxFor(m => m.BOMModel.Length, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1">mm</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.Length, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Width <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.Width, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.Width, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">Number Of Pieces <span class="m--font-danger">*</span></label>
                                                                <div class="col-6 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.NumberOfPieces, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.NumberOfPieces, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-6 col-form-label bg-secondary">BOM Weight</label>
                                                                <div class="col-6 pl-0">
                                                                    <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                                                        @Html.TextBoxFor(m => m.BOMModel.Weight, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                                        <div class="input-group-append"><span class="input-group-text" id="basic-addon1">kg</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-6">@Html.ValidationMessageFor(x => x.BOMModel.Weight, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">BOM Report Size</label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.BomReportSize, new { @class = "form-control m-input  m-input--square", @maxlength = "300", @readonly = "readonly" })
                                                                    @Html.HiddenFor(x => x.BOMModel.HdnBomReportSize)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.BOMModel.BomReportSize, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">
                                                                    Drawing BOM Size
                                                                </label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextBoxFor(m => m.BOMModel.DrawingBomSize, new { @class = "form-control m-input  m-input--square", @maxlength = "300", @readonly = "readonly" })
                                                                    @Html.HiddenFor(x => x.BOMModel.HdnDrawingBomSize)
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.BOMModel.DrawingBomSize, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-3 col-form-label bg-secondary">Remarks</label>
                                                                <div class="col-9 pl-0">
                                                                    @Html.TextAreaFor(m => m.BOMModel.Remarks, new { @class = "form-control m-input  m-input--square", @maxlength = "500" })
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-end">
                                                                <div class="col-9">@Html.ValidationMessageFor(x => x.BOMModel.Remarks, "", new { @class = "text-danger" })</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Item-->
                                </div>



                            </div>
                        </div>
                        <div class="m-portlet__foot">
                            <div class="row" style="margin-right: 1px;">
                                <div class="col-lg-12 text-right">
                                    <input type="submit" class="btn btn-info" value="Submit">
                                    <button type="submit" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*m_modal_2_4  m_modal_1_2*@
<div class="modal fade" id="m_modal_2_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Material Details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyMaterial"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_2_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Group Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyItemGrp"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_2_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ARMSet Details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyARMCode"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_2_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Size code details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodySizeCode"></div>
        </div>
    </div>
</div>

