﻿
@model IEMQS.DESCore.PartModel
@{
    if (Model.ItemId > 0)
    {
        ViewBag.Title = "Update Part";
    }
    else
    {
        ViewBag.Title = "Create Part";
    }
    Layout = "~/Areas/DES/Views/Shared/_DESProjectLayout.cshtml";
}
<style>
    .theme-form .input-group .select2-container {
        width: calc(100% - 50px) !important;
    }

    .theme-form .select2-container {
        width: 100% !important;
    }
</style>
<div class="m-portlet">
    <div class="m-portlet__body">
        <ul class="nav nav-tabs  theme-nav" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" href="javascript:;">Create Parts</a>
            </li>
            <li class="nav-item dropdown m-tabs__item">
                <a class="nav-link m-tabs__link " href="/DES/Part/BOM">Create BOM data</a>
            </li>
            <li class="nav-item m-tabs__item" style="display:none">
                <a class="nav-link m-tabs__link" href="/DES/Part/ItemBOM">Create Parts/BOM data</a>
            </li>
        </ul>
        <div class="tab-content p-0">
            <div class="tab-pane active" id="m_tabs_3_1" role="tabpanel">

                <div class="m-portlet m-portlet--mobile">

                    @using (Ajax.BeginForm("AddEditItem", "Part", new AjaxOptions { HttpMethod = "POST", OnSuccess = "funPartSuccess", OnBegin = "funPartBegin" }, new { Area = "DES", @Id = "FormPart", @class = "m-form" }))
                    {
                        @Html.HiddenFor(x => x.ItemId)
                        @Html.HiddenFor(x => x.Project)
                        @Html.HiddenFor(x => x.Contract)
                        @Html.HiddenFor(x => x.Department)
                        @Html.HiddenFor(x => x.RoleGroup)
                        @Html.HiddenFor(x => x.FolderId)
                        @Html.HiddenFor(x => x.ManufactureItem)
                        @Html.HiddenFor(x => x.ProductForm)
                        @Html.HiddenFor(x => x.DoNotReferExistingItemkey)
                        @Html.HiddenFor(x => x.DoNotCheckProductFormCode)
                        @Html.HiddenFor(x => x.ConfirmRevision)
                        @Html.HiddenFor(x => x.ActionForPart)
                        <div class="m-portlet__body">

                            <div class="theme-form">
                                <div class="row m-0">

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Item Id Type <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(m => m.ItemKeyType, ViewBag.ItemKeyTypeList as SelectList, new { @class = "form-control m-input  m-input--square" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.ItemKeyType, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Order Policy <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(m => m.OrderPolicy, ViewBag.OrderPolicyList as SelectList, new { @class = "form-control m-input  m-input--square" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.OrderPolicy, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">Product Form <span class="m--font-danger">*</span></label>
                                            <div class="col-9 pl-0">
                                                @Html.DropDownListFor(m => m.ProductFormCodeId, ViewBag.GetProductFormData as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.ProductFormCodeId, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Item Id<span class="m--font-danger">*</span> </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(model => model.ItemKey, new { @class = "form-control m-input  m-input--square blockSpecialChar", @maxlength = "47", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.ItemKey, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Type<span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(m => m.Type, ViewBag.ItemTypeList as SelectList, "Select", new { @class = "form-control m-input  m-input--square" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.Type, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Policy<span class="m--font-danger">*</span> </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.Policy, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                                @Html.HiddenFor(m => m.PolicyId)
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.Policy, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">
                                                Rev No
                                            </label>
                                            <div class="col-6 pl-0">
                                                <input type="text" value="R@(Model.RevNo)" id="txtRevNo" class="form-control m-input  m-input--square" readonly="readonly" tabindex="-1" />
                                                @Html.HiddenFor(m => m.RevNo)
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.RevNo, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>





                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">Material <span class="m--font-danger">*</span></label>
                                            <div class="col-9 pl-0">
                                                <div class="input-group input-group-c">
                                                    @Html.DropDownListFor(x => x.Material, Model.MaterialList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllMaterial();"></i></a></span></div>
                                                </div> @*data-toggle="modal" data-target="#m_modal_1_2"*@
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.Material, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Item Group <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                <div class="input-group input-group-c">
                                                    @Html.DropDownListFor(m => m.ItemGroup, Model.ItemGroupList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllItemGrp();"></i></a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.ItemGroup, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Procurement Drg</label>
                                            <div class="col-6 pl-0">

                                                @Html.DropDownListFor(m => m.ProcurementDrgDocumentId, Model.ProcurementDRGNoList, "Select", new { @class = "form-control m-input  m-input--square" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.ProcurementDrgDocumentId, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">	Item Description <span class="m--font-danger">*</span></label>
                                            <div class="col-9 pl-0">
                                                @Html.TextBoxFor(m => m.ItemName, new { @class = "form-control m-input  m-input--square", @maxlength = "30" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.ItemName, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">	String2 </label>
                                            <div class="col-9 pl-0">
                                                @Html.TextBoxFor(m => m.String2, new { @class = "form-control m-input  m-input--square", @maxlength = "50" })
                                                @Html.HiddenFor(m => m.HdnString2)
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.String2, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">	String3 </label>
                                            <div class="col-9 pl-0">
                                                @Html.TextBoxFor(m => m.String3, new { @class = "form-control m-input  m-input--square", @maxlength = "50" })
                                                @Html.HiddenFor(m => m.HdnString3)
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.String3, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group m-form__group row">
                                            <label class="col-3 col-form-label bg-secondary">	String4 </label>
                                            <div class="col-9 pl-0">
                                                @Html.TextBoxFor(m => m.String4, new { @class = "form-control m-input  m-input--square", @maxlength = "50" })
                                                @Html.HiddenFor(m => m.HdnString4)
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-9">@Html.ValidationMessageFor(x => x.String4, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">	ARM Set</label>
                                            <div class="col-6 pl-0">
                                                <div class="input-group input-group-c">
                                                    @Html.DropDownListFor(m => m.ARMSet, Model.ARMSetList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                    <div class="input-group-append popoverARMSets"><span class="input-group-text" id="basic-addon2"><a rel="popover" id="popoverARMSet" href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllARMSet();"></i></a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">	ARM Rev </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.ARMRev, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.ARMRev, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Size Code</label>
                                            <div class="col-6 pl-0">
                                                <div class="input-group input-group-c">
                                                    @Html.DropDownListFor(m => m.SizeCode, Model.SizeCodeList, "Select", new { @class = "form-control m-input  m-input--square" })
                                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><a href="javascript:;" tabindex="-1"><i class="la la-ellipsis-v" onclick="AllSizeCode();"></i></a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.SizeCode, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Thickness <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.Thickness, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.Thickness, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Clad PlatePart Thickness 1 <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.CladPlatePartThickness1, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.CladPlatePartThickness1, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Clad Specific Gravity 1 <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.CladSpecificGravity1, new { @class = "form-control m-input  m-input--square allownumericwithdecimal", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.CladSpecificGravity1, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">IsDoubleClad <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(m => m.IsDoubleClad, new List<SelectListItem> {
                       new SelectListItem {Text="No",Value="No"},
                       new SelectListItem {Text="Yes",Value="Yes" },
                       }, new { @class = "form-control m-input  m-input--square" })

                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.IsDoubleClad, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Clad PlatePart Thickness 2 <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.CladPlatePartThickness2, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.CladPlatePartThickness2, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Clad Specific Gravity 2 <span class="m--font-danger">*</span></label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.CladSpecificGravity2, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.CladSpecificGravity2, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">Item Weight</label>
                                            <div class="col-6 pl-0">
                                                <div class="input-group m-input-group input-group-list classProjectDetailsborder">
                                                    @Html.TextBoxFor(m => m.ItemWeight, new { @class = "form-control m-input  m-input--square allownumericwithdecimal" })
                                                    <div class="input-group-append"><span class="input-group-text" id="basic-addon1">kg</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.ItemWeight, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">
                                                UOM
                                            </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.UOM, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.UOM, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">CRS (Yes/No)</label>
                                            <div class="col-6 pl-0">
                                                @Html.DropDownListFor(m => m.CRSYN, new List<SelectListItem> {
                       new SelectListItem {Text="No",Value="No"},
                       new SelectListItem {Text="Yes",Value="Yes" },
                       }, new { @class = "form-control m-input  m-input--square" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.CRSYN, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">
                                                Specific Gravity
                                            </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.Density, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.Density, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group m-form__group row">
                                            <label class="col-6 col-form-label bg-secondary">
                                                Weight Factor
                                            </label>
                                            <div class="col-6 pl-0">
                                                @Html.TextBoxFor(m => m.WeightFactor, new { @class = "form-control m-input  m-input--square", @readonly = "readonly", @tabindex = "-1" })
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-6">@Html.ValidationMessageFor(x => x.WeightFactor, "", new { @class = "text-danger" })</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot">
                            <div class="row" style="margin-right: 1px;">
                                <div class="col-lg-12 text-right">
                                    <input type="submit" class="btn btn-info" id="btnSubmit" value="@(Model.ActionForPart==IEMQS.DESCore.PartAction.Create.ToString()?"Save as Draft":Model.ActionForPart)">
                                    <a href="/DES/Part" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*m_modal_2_4  m_modal_1_2*@
<div class="modal fade" id="m_modal_2_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Material Details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyMaterial"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_modal_2_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Group Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyItemGrp"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_2_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ARMSet Details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyARMCode"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_2_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Size code details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodySizeCode"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalExistingItemkeyData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Existing Itemkey Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modelbodyExistingItemkeyData" class="modal-body">
                <table class="table  table-bordered table-hover " id="tblExistingItemkeyData">
                    <thead><tr><th>Actions</th><th>Type</th><th>Item Id</th><th>Rev No.</th><th>Material</th><th>Item Group</th><th>UOM</th><th>Item Description</th><th>String2</th><th>String3</th><th>String4</th><th>ARM Set</th><th>ARM Rev</th><th>Procurement Drg</th><th>Item Weight (kg)</th><th>CRS(Yes/No)</th><th>Size code</th><th>Weight Factor</th><th>Thickness</th><th>Clad Plate Part Thickness1</th><th>IsDoubleClad</th><th>Product Form</th><th>Item Id Type</th><th>Order Policy</th><th>Created By</th><th>Created On</th><th>Edited By</th><th>Edited On</th></tr></thead>
                    <tbody id="tbodyExistingItemkeyData">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" id="modelFooterExistingItemkeyData">
                <button type="button" class="btn btn-primary" onclick="ContinueWithNewItemId()">Continue with new User defined Item Id</button>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/DESAssets/demo/default/custom/components/selectize/css/selectize.default.css" rel="stylesheet" />
}
<script>

    var PartFixList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.PartFixList))');
    var UserDefined=  "@IEMQS.DESCore.ItemKeyType.UserDefined"
    var AutoGenerate_FindNo = "@(IEMQS.DESCore.ItemKeyType.AutoGenerate_FindNo.ToString().Replace("_"," "))"
    var AutoGenerate = "@IEMQS.DESCore.ItemKeyType.AutoGenerate";
    var Part = "@IEMQS.DESCore.ItemType.Part";
    var Plate_Part = "@(IEMQS.DESCore.ItemType.Plate_Part.ToString().Replace("_"," "))"
    var Clad_Part = "@(IEMQS.DESCore.ItemType.Clad_Part.ToString().Replace("_"," "))"
    var Jigfix = "@(IEMQS.DESCore.ItemType.Jigfix)"
    var Customised = "@(IEMQS.DESCore.OrderPolicy.Customised)"
    var Standard = "@(IEMQS.DESCore.OrderPolicy.Standard)"
    var Make = "@((int)IEMQS.DESCore.ItemMakeBuy.Make)"

   $.validator.setDefaults({
	ignore: ':hidden:not([class~=selectized]),:hidden > .selectized, .selectize-control .selectize-input input'
});
</script>
<script src="~/DESAssets/js/part.js"></script>